[2018-07-24 09:55] kroitor commented on #3472
- https://github.com/ccxt/ccxt/issues/3239#issuecomment-403149285
- https://www.reddit.com/r/Vechain/comments/7m76yb/is_ven_an_erc20_token/
- https://medium.com/@vechainofficial/vechain-apotheosis-the-beginning-d9f0fdbdc910

VEN is being rebranded to VET. Might be related.

[2018-07-24 10:18] kroitor commented on #3470
@arielorvits why did you close it? )

[2018-07-24 10:21] arielorvits commented on #3470
by mistake

[2018-07-24 10:52] Mantas779 opened #3473 "ccxt.base.errors.AuthenticationError: kucoin"
ccxt.base.errors.AuthenticationError: kucoin {"code":"UNAUTH","msg":"System error, please retry later.","success":false,"timestamp":1532428426997}

Worked fine, till now?  Just retry later ?
Is this my coding, ccxt, or KUCOIN side ?

Thx for the good work on CCXT

[2018-07-24 11:00] kroitor commented on #3473
You see, this thing: `{"code":"UNAUTH","msg":"System error, please retry later.","success":false,"timestamp":1532428426997}` including the phrasing in the `msg` is coming from the exchange itself, thus these questions: `Worked fine, till now? Just retry later ?` should most likely be redirected to Kucoin )

But hey, nothing happens without a reason, so if it did work fine and stopped working now,

[2018-07-24 11:12] Mantas779 commented on #3473
Yes, i did a troubleshooting sequence.
Used a 1 line code example to see if i get the same error.
I use this code always to check if my Key and secret. nonce enz are working fine, and use the right code to lets say get my BTC balance

btc = Exchange.fetchBalance()['BTC']['free']
print(btc)

if this works i go further in my project.
Thought it was on KuCoin sight, but feels so useless now, just to

[2018-07-24 11:14] Mantas779 commented on #3473
Pffffffff, looks like they fixed it!!!

Process finished with exit code 0

[2018-07-24 11:15] #3473 closed

[2018-07-24 11:19] kroitor commented on #3473
Yeah, these errors may be intermittent. Thx for reporting anyways! Looks like their `msg` was telling the truth.

[2018-07-24 11:36] PoshElf commented on #3446
Need this as well. Any ETA?

[2018-07-24 13:17] xmatthias opened #3474 "including ccxt as dependency in setup.py not working"
- OS: Linux
- Programming Language version: python 3.6.5, 3.7.0
- CCXT version: 1.16.89 (latest on pypi at the time of writing)

Including ccxt in a setup.py file and installing using `python setup.py install` fails / blocks the installation.
Below is a very simple setup.py file for an empty project to install ccxt.

I also added the log for this - it get's stuck at the  last line of the log, take

[2018-07-24 14:30] frosty00 commented on #3474
I just tried `python3.6 setup.py install` and it ran normally.

Maybe you don't have the right permissions.

Try

`sudo python3.6 setup.py install`

[2018-07-24 14:31] frosty00 commented on #3474
[code]

[2018-07-24 14:47] kroitor opened #3476 "CCXT v1.17 – The Ocean DEX integration!"
Hi, everyone!

We have integrated **[The Ocean](https://theocean.trade) – the first Decentralized Exchange supported in CCXT!**
Please, welcome! )

**The Ocean** is a **0x-based DEX**. You can find more info about the preflight test that is going on here:

- https://medium.com/the-ocean-trade/pre-launch-access-test-out-the-ocean-28828b980f11.

The Ocean will be opening doors to worldwide trading o

[2018-07-24 14:50] xmatthias commented on #3474
it's not about using the setup.py from ccxt, but using ccxt in a "foreign" setup.py file as dependency (sorry if i wasn't clear)

i actually tested it in a venv, so permissions should not be a problem, but i did try sudo too without success.

[2018-07-24 14:56] kroitor commented on #3474
@frosty00 yep, the problem is not with CCXT's setup.py, but when CCXT is a install_requires-dependency. I've tried the above config on my side and it reproduced it.

@xmatthias can you try this:

[code]

?

[2018-07-24 15:00] xmatthias commented on #3474
it's actually the following (extras_require as a dict, not list)

but produces the same exact problem

[code]

[code]

[2018-07-24 15:30] wardbradt opened #3478 "Clarification on order structure/ changes to manual"
- OS: N/A
- Programming Language version: N/A
- CCXT version: 1.14.301
- Exchange: N/A
- Method: `fetch_order`

My question is about the `price` key/ value pair in [orders returned](https://github.com/ccxt/ccxt/wiki/Manual#order-structure) from `fetch_order` after the order has been (partially or fully filled).

If I place an order to sell `BTC/USD` for 1000 with a volume of 1 and there exists two

[2018-07-24 16:20] kroitor commented on #3478
That's right )

In many cases that is the initial price of the order. The filling price (if available) is designated in the `average` field, though this was mostly a temporary solution. The `cost`, however, is usually the actual filling cost of the order, so `cost` of a filled order = `filled` * `actual filling price`. So, in that case there's several ways of detecting the actual price in userland

[2018-07-24 16:23] kroitor commented on #564
@eranartzi with that exchange, I'm afraid they impose the fixed nature of the cost (amount to spend) on you.

[2018-07-24 16:37] xmatthias commented on #3474
running ` python setup.py --verbose  install` shows the problem i think

there are sooooo many versions on pypi from ccxt, and setup-tools appears to run through them all ...

I didn't copy the full output, which could get very long - but i think this is a question of patience - it can be outwaited i think, as it is doing "something" ...

doesn't make sense to me if the version is specified explic

[2018-07-24 16:42] kroitor commented on #3474
@xmatthias it's a common pitfall with package sites... We've recently contacted composer for approximately the same reason – the website was trying to show all versions, many of them were already outdated a year ago... So, there's very little point in scraping all versions everytime, whether on a website, or in a setup-scripting toolset. Indeed, this looks like a setuptools issue, so I guess, you

[2018-07-24 16:42] #3474 closed

[2018-07-24 16:48] wardbradt commented on #3478
I am a little confused about your last point,

After a call to `fetchOrder(id)`, does it take an additional call to access the value for `trades`? I am confused because you said

as well as

[2018-07-24 16:54] kroitor commented on #3478
Nope. The general policy with requests in the library is to never issue more than one request, unless there's absolutely no other way to solve it, and so far, we've managed to keep it that way mostly. So, it will never issue more than one request per call. And the `fetchOrderTrades` is not called from `fetchOrder`. The `trades` info in the order is taken from the order response directly, if it is

[2018-07-24 16:55] wardbradt commented on #3478
Thanks!

[2018-07-24 16:55] #3478 closed

[2018-07-24 16:57] mkoistinen opened #3479 "`cost_to_precision()` uses `markets[symbol]['precision']['price']`?"
Is this a typo on line 903 of `ccxt/python/ccxt/base/exchange.py`?

[code]
I would have expected it to be:

[code]

This is a genuine question. I could imagine scenarios where it could be intentional.

[2018-07-24 16:57] mkoistinen commented on #3479
[code]
Same in the JS version (not surprisingly)

[2018-07-24 16:58] kroitor commented on #3479
No it's not a typo, because exchanges will very rarely provide cost precision. Think logically, cost is `amount * price` that is the same units as price.

[2018-07-24 17:00] mkoistinen commented on #3479
OK. Thanks.

[2018-07-24 17:00] #3479 closed

[2018-07-24 21:27] timolson opened #3480 "Python 3 Broken"
This test file:
[code]
results in the error:
[code]
`urlencode` has been moved to `urllib.parse.urlencode()` in Python 3.

[2018-07-24 21:38] timolson opened #3481 "Stable Releases"
I'd love to have some kind of stable release.  Currently you just build a new release for every push, and I have know way of knowing whether it's untested development work or a critical fix.  My application works, then I update ccxt, then it's broken.  Then I update it again, and it works.  Pretty frustrating to not be able to trust whether any specific release of ccxt will work or not.

Can we ha

[2018-07-24 21:58] kroitor commented on #3481
@timolson

Yep, gotcha, however

this may not always depend on the release.

We will think of adding a more specific and differentiated "stable" branching or tagging to it. You should be pretty safe if you update from minor to minor version, though you will most likely miss an update or two this way. We will also thing of bumping the minor version on stable releases for differentiation.

Suggestio

[2018-07-24 22:19] timolson commented on #3481
You have a fast-moving project, so I wouldn't want to burden it with a heavy release process.  I think the main thing would be to separate changes into maybe two categories:

A) bug fixes and updates to _existing_ exchanges.  These diffs should be pushed to stable branches.
B) ongoing development work for new features & exchanges.  These should be excluded from the stable channel.

Currently it se

[2018-07-24 22:19] viniciussvl opened #3482 "Is it possible to get Braziliex candlesticks?"
I have been analyzing the braziliex code but I have not found anything related to candle, there really is no way to know which candles to do the RSI, MACD, etc analysis?

- OS: Windows 10
- Programming Language version: PHP
- CCXT version: 1.10.1 2017-11-06
- Exchange: Braziliex
- Method: OHLCV

[2018-07-24 22:20] kroitor commented on #3480
Yep it has been moved in Python 3: https://github.com/ccxt/ccxt/blob/master/python/ccxt/base/exchange.py#L69

Will look into this shortly.

[2018-07-24 22:29] kroitor commented on #3482
@viniciussvl they don't have such an endpoint in their API, unfortunately. You can still do this by polling frequently enough and merging emulated candles built from trades like so: https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-emulation. You should rather ask Braziliex when they are going to add OHLCV ) We'd love to, but they make it as hard as possible. Hope this answers your question. Let us k

[2018-07-24 22:29] #3482 closed

[2018-07-24 22:35] kroitor commented on #3481
Ok, we get the pros, of course. The bigs of cons here is time, of course. Will do something about it ;)

[2018-07-24 22:49] viniciussvl commented on #3482
Another solution would be to examine the candles of another exchange that has a close quote, do you think a good one?

[2018-07-24 22:51] kroitor commented on #3482
If you can determine which exchange has "close" quote and how "close it is" and can systematically prove this, then you'll be a billionaire shortly. Don't forget to tip this project then )

[2018-07-24 22:58] timolson commented on #3480
I got it to work with Python 3.6.2, but even a fresh virtualenv of 3.5.2 continues to break.

The problem appears with `1.17.1`, while `1.16.89` works.

[code]

Reviewing the code, maybe the problem is not with urlencode but with Web3:
[code]

If there were any error importing `Web3` or `HTTPProvider`, it would cause the problem I'm seeing, due to the bad package mapping that would result from the

[2018-07-24 23:02] #3480 closed

[2018-07-24 23:04] kroitor commented on #3480
Yep, exactly. The version bump was there because of adding Web3. Case solved, apparently. Thx for pointing that out! Let me know if you still have difficulties with it after updating to 1.17.6.

[2018-07-24 23:30] timolson commented on #3481
Easiest option is to put "Latest Stable: 1.16.x / Latest: 1.17.x" in the README until we get enough patches into the 17 release.  It doesn't help nearly as much, though, as having a dev branch vs master branch.  It's pretty low effort to now-and-then merge to master when you as lead dev sense that the codebase is in a good place.  Plus, end-users get the "right" updates automatically through their

[2018-07-24 23:33] timolson commented on #3481
P.S. There can be an issue with making sure PR's go against `dev` instead of `master`... not sure what is the best practice to enforce that

[2018-07-25 00:33] azharuniverse commented on #564
Unable to use createMarketBuyOrder() function to place marketBuy order. I understand it can be done by `createOrder (symbol, 'market', 'buy', amount, price)`
But ccxt should unify function usage. coinex and huobipro also has this issue but I can multiply price with amount and place marketBuy order in those exchanges.
Please have this feature to set `options['createMarketBuyOrderRequiresPrice'] = f

[2018-07-25 02:38] jackyxie opened #3483 "New Exchange: coinall.com"
- Exchange: https://www.coinall.com
- Api Doc: https://www.coinall.com/docs/

[2018-07-25 02:44] jackyxie commented on #3483
coinall is the first exchange of OKEx 100+ project

[2018-07-25 04:39] viktorius007 commented on #3352
`    $exchanges['okex']->symbols = array_diff($exchanges['okex']->symbols, ["NEO/USD", "NEO/CNY", "QTUM/USD", "QTUM/CNY", "XUC/USD", "XUC/CNY"]);
`
is what I use as a workaround.

The issue appears to be caused by `class okex extends okcoinusd` which presumably means it inherits the ->markets and ->symbols.

If you require any other info I'm happy to try and help, but the above user land workaroun

[2018-07-25 05:29] viktorius007 commented on #3476
thank you, that's very reassuring

[2018-07-25 06:34] shuxuezhang opened #3484 "npm ERR!"
npm ERR! Command failed: /usr/bin/git clone --depth=1 -q -b browserifyCompatible git://github.com/frozeman/WebSocket-Node.git /Users/lifei/.npm/_cacache/tmp/git-clone-f22c75a0

[2018-07-25 06:35] shuxuezhang commented on #3484
version : 1.17.X

[2018-07-25 06:36] shuxuezhang commented on #3484
lifeideiMac:s1-crawler lifei$ sudo npm i
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support
npm WARN deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: https://npmjs.com/tar
npm ERR! code 1
npm ERR! Command failed: /usr/bin/git clone --depth=1 -q -b browserifyCompatible git://gi

[2018-07-25 06:38] shuxuezhang commented on #3484
npm ERR! code 1
npm ERR! Command failed: /usr/bin/git clone --depth=1 -q -b browserifyCompatible git://github.com/frozeman/WebSocket-Node.git /Users/lifei/.npm/_cacache/tmp/git-clone-f22c75a0
npm ERR! /Users/lifei/.npm/_cacache/tmp/git-clone-f22c75a0/.git: Permission denied
npm ERR!

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/lifei/.npm/_logs/2018-07-25T06_33_50_081Z-

[2018-07-25 06:38] #3484 closed

[2018-07-25 06:39] shuxuezhang opened #3485 "npm ERR! 1.17.x"
lifeideiMac:s1-crawler lifei$ sudo npm i
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support
npm WARN deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: https://npmjs.com/tar
npm ERR! code 1
npm ERR! Command failed: /usr/bin/git clone --depth=1 -q -b browserifyCompatible git://gi

[2018-07-25 06:39] shuxuezhang opened #3486 "npm ERR! 1.17.x"
lifeideiMac:s1-crawler lifei$ sudo npm i
npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Support
npm WARN deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: https://npmjs.com/tar
npm ERR! code 1
npm ERR! Command failed: /usr/bin/git clone --depth=1 -q -b browserifyCompatible git://gi

[2018-07-25 06:44] #3486 closed

[2018-07-25 06:48] #3485 closed

[2018-07-25 07:04] fonzmeister commented on #3472
It is working again. As you and I thought it was because of the VEN rebranding. Still this will happen every know and then with a mainnet launch, maybe it is nice to put in some error handling if possible? If not this issue can be closed

[2018-07-25 08:11] primski commented on #3261
what's going on here, because fees broke for me on kucoin this morning ... i guess they've been wrong all along ... so is there a fix being made?

also is there a support group/chat for the like minded people ?

[2018-07-25 08:29] jackyxie opened #3487 "New Exchange: bitforex.com"
- Exchange: bitforex.com
- Api Doc: https://github.com/bitforexapi/API_Docs/wiki

[2018-07-25 08:46] primski commented on #3284
today, my app broke, i am no longer receiving fee from kucoin

fee_asset works
but not fee and feeRate

returns None

not sure why, been debugging all morning

[2018-07-25 08:47] mkutny opened #3488 "README: badges broken"
Something is badly skrewed with recent README updates.

![image](https://user-images.githubusercontent.com/7115579/43189869-584cf0e0-9000-11e8-87dd-18c0eb269860.png)

[2018-07-25 12:41] JonnyGoodwin commented on #3488
This isn't a bug in the README, it's an issue with the servers not being able to load them all during traffic spikes. An explanation of this can be found here: [https://github.com/badges/shields/issues/1568](https://github.com/badges/shields/issues/1568)

It worked for me, but I know it doesn't work every time due to server load.
![badges](https://user-images.githubusercontent.com/7934931/43201251

[2018-07-25 13:06] hwanghakbeom opened #3489 "how to add new exchange to ccxt"
Hello.

I want to add new exchange upbit.

Is there any process or document for it?

[2018-07-25 13:14] ccasselman opened #3490 "1.17.* Requirements"
- OS: MacOS High Sierra
- Programming Language version: PHP 7.1 & 7.2
- CCXT version: 1.17.*
- Exchange: None
- Method: None

In version 1.17.* you made ext-gmp required by composer.  Is this absolutely required.

I develop locally on a Mac and that extension is no longer stand alone.  I can't find a way to get this thing to run on my box anymore - I've tried about 6 methods and wasted over 12 hou

[2018-07-25 13:41] kornrunner commented on #3490
I'll just chime in:

Requirement is propagated through 3rd party packages required for elliptic curve cryptographic functions for signing orders. If you need this feature in ccxt - then you'll need to find a way to install / compile php with GMP extension (sorry, can't help much with that, I'm not MacOS user).

In case you don't need it - then you can pass a flag `--ignore-platform-reqs` to compos

[2018-07-25 14:39] 0xnr opened #3491 "New exchange: Everbloom"
URL: https://app.everbloom.co/
API: https://docs.api.everbloom.co/

[2018-07-25 14:42] frosty00 commented on #3476
Is it possible to just sign an order (smart contract method call) or other transaction and publish it as an ethereum transaction to etherscan or etherchain as oppose to interacting with the the ocean's ethereum node, in a true decentralised fashion? That way if theocean wanted to maliciously block a transaction they would be unable to do so.

I propose we write a module to encode and publish ether

[2018-07-25 16:30] eranartzi commented on #564
@kroitor gotcha, thanks!
By the way, great python lib!

[2018-07-25 16:52] cartercarlson opened #3492 "Storing API secret"
Hello,

Is there a convenient way to store an API key/secret on a forked repository?  I want to keep a file with all of my keys/secrets in the same repo so my first idea was to include the file in the primary .gitignore.  However, my concern is that if I keep my fork in sync with this repo, changes I made in .gitignore will be overwritten every time I sync, unhiding my key/secret file.

Sincerely,

[2018-07-25 17:12] GoChartingAdmin commented on #56
@lfern Was going through list - you have added Bistamp.  Bitstamp currently uses Pusher.  I thought Pusher was out of scope at this stage

[2018-07-25 17:22] AoDev opened #3493 "Critical dependency: the request of a dependency is an expression + increased bundle size"
## Environment
- OSX
- Javascript
- ccxt v1.17.11
- webpack

## Issue
When I updated from 1.14.295, I started to get this **warning**:
[code]

Investigating the matter I found the following:

from [webpack issues](https://github.com/webpack/webpack/issues/196#issuecomment-71917456).

So I checked my bundle size and I see I got almost **500kb** added to the bundle compared to the bundle size with `

[2018-07-25 17:37] JoshVarty commented on #1392
I have mostly finished my work on #1577 so I am willing to try to implement this exchange if no one else has started. I am unfamiliar with streaming APIs, so for now I would only plan to implement the basic RESTful methods (`fetchMarkets`, `fetchTrades` etc.)

[2018-07-25 18:10] yamontv opened #3494 "currency_id() and BTC BCH DRK"
- OS: Ubuntu 16.04
- Programming Language version: Python 3.6.5
- CCXT version: 1.17.11
- Exchange: Bittrex, Cryptopia and maybe others
- Method: currency_id()
I want to get real exchange coin names from ccxt exchange symbols. I use currency_id() and iterate through all symbols. All coins except BTC BCH and DRK names are right. Here is the code:

    return [
        symbol for symbol in exchange.

[2018-07-25 18:29] #3490 closed

[2018-07-25 18:53] mkutny commented on #3492
`keys.local.json` is in .gitignore already.

Additionally, if you make it an alias then you're pretty safe even in case it gets removed from .gitignore and you accidentally commit it.

[2018-07-25 20:07] caffeinum opened #3495 "Add Swap.DEP https://swap.online"
I am a developer of the decentralized exchange protocol https://swap.online. There is an open-source implementation in Javascript, yet in alpha stage: https://github.com/swaponline/swap.core. The website runs this implementation.

All the communication happens peer-to-peer between clients. We have no backend and no control over exchange process. We use:
- atomic swap algorithm for exchanging coins

[2018-07-25 22:54] d4vidadams opened #3496 "New Exchange: NDAX.io"
API Doc: https://www.ndax.io/api-info.html
URL: https://www.ndax.io
Fee: --
Volume: --
Address: Canada
Company Info: NDAX
TNC: --
Registration: --
Based Country: Canada
Whitepaper: --
Priority: normal
Github group: --
Note: ranked top : NA
Type: Centrailzed Ex
Discussion: --

[2018-07-25 22:58] kroitor commented on #3476
With some relayers – yes, however, The Ocean uses a matching strategy, as described in 0x docs, here: https://0xproject.com/wiki#Matching. So, all orders have taker: 0x123abc.. and this is an address  controlled by TheOcean.

Yep, we are working on a portable wrapper for that. Will upload once we have something substantial. ) This covers not only plain ETH transactions, but also contract calls and

[2018-07-25 23:01] d4vidadams commented on #3489
Open a new issue and include the following info:

API Doc:
URL:
Fee: --
Volume: --
Address: Canada
Company Info: NDAX
TNC: --
Registration: --
Based Country: Canada
Whitepaper: --
Priority: normal
Github group: --
Note: ranked top : NA
Type: Centrailzed Ex
Discussion: --

[2018-07-25 23:03] kroitor commented on #1392
@JoshVarty hey, thx! ) One thing though: we are already working on Upbit ) Would be great if you could choose another one, just to split the workload and to avoid duplication. Here's the full list:
https://github.com/ccxt/ccxt/issues?q=is%3Aopen+is%3Aissue+label%3A%22new+exchange%22
And thx for your effort on BCEX, btw, really helpful!

[2018-07-25 23:15] timolson commented on #3481
Yes that makes sense for new exchanges that don't need to update any existing core functionality.

Do you really mean that?  Backporting bugfixes to a stable branch is a common best practice in many projects.  Even if your ratio is 1 new bug in 5 patches, your bug-fix efficiency is still 5/6 or 83%.  That's adding stability.  In a corporate project there wouldn't even be a question about it, but f

[2018-07-25 23:30] kroitor commented on #3472
Yep, we hope to add some layer of protection for these situations soon. Closing this for now if you don't mind. Let us know if you have updates on this. Thx!

[2018-07-25 23:30] #3472 closed

[2018-07-25 23:33] kroitor commented on #3489
@hwanghakbeom

If you want to submit a proposal to add a new exchange name, then you should just follow the advice of @d4vidadams . However, if you mean to add the code, the issue on adding new exchange implementations is here: https://github.com/ccxt/ccxt/issues/2073 (wip)

One important note, @hwanghakbeom: we're already working on Upbit. So you might want to choose a different exchange to imple

[2018-07-25 23:33] #3489 closed

[2018-07-26 00:13] kroitor commented on #3493
Actually, 1.14.295 is way too old. And 500kb of added code is there indeed.

To me it does not look like an issue with CCXT. But we will look into it to see what can be done in this regard. Thx for reporting!

[2018-07-26 00:13] #3493 closed

[2018-07-26 00:30] kroitor commented on #3487
Duplicate: https://github.com/ccxt/ccxt/issues/3313

[2018-07-26 00:30] #3487 closed

[2018-07-26 00:32] kroitor commented on #3492
Thx, @mkutny for the correct answer!

@cartercarlson let us know if the above does not help! Feel free to reopen it if needed or just ask further questions, if you have more )

[2018-07-26 00:32] #3492 closed

[2018-07-26 00:34] kroitor commented on #3494
Can you clarify what's exactly wrong with them?

Most likely, you're confusing BCC with BCH:

- https://github.com/ccxt/ccxt/wiki/Manual#naming-consistency
- https://github.com/ccxt/ccxt/issues/83
- https://github.com/ccxt/ccxt/search?q=bcc+bch&type=Issues

Let us know if the above does not answer your question. Thx!

[2018-07-26 00:34] #3494 closed

[2018-07-26 00:43] kroitor commented on #3481
I would agree with @mkutny here.

@timolson let's imagine a practical situation: say, for a few months we have a stable master branch that is only updated between minor version bumps, and a dev branch that accumulates all fixes. To me all fixes are critical, if *"critical"* means *"not working how it should or breaking the app"*. So, if the lib is not working how it should – then a fix for it is a

[2018-07-26 01:23] kroitor commented on #564
@azharuniverse we're working hard to add a unified base method for it asap, expecting to see it in one of the coming releases.

[2018-07-26 01:33] kroitor commented on #2438
Hi, @RealRageDontQuit !

We don't merge it if it sends out more than one HTTP request. So, in the library all methods are issuing one HTTP request per call at max, and we'd like to keep it that way. That means, if the users wants to issue multiple requests within one method call – this has to be done in userland. The reasoning behind that is most users want fine-grained control over their rate-lim

[2018-07-26 01:36] clu8 opened #3497 "fetch balance key error"
RFR is a listed coin on Bittrex, but it is not showing up as a key in balances.

- OS: Ubuntu 16.04 LTS
- Programming Language version: Python 3.6
- CCXT version: 1.17.11
- Exchange: Bittrex
- Method: fetch_balance

[code]

[2018-07-26 01:39] kroitor commented on #3497
If you look carefully into their verbose response, you'll see that they didn't return within your balances:

<img width="617" alt="screen shot 2018-07-26 at 04 38 06" src="https://user-images.githubusercontent.com/1294454/43236414-b76ea590-908d-11e8-91dd-5abfaa3fc6a0.png">

You should probably forward this question to Bittrex, as this is obviously somewhere on their side. Hope this answers your qu

[2018-07-26 01:39] #3497 closed

[2018-07-26 01:47] clu8 commented on #3497
I just reported the issue to Bittrex.

[2018-07-26 04:15] kroitor commented on #3493
In addition to the above, you can also take a look here on making a reduced bundle of exchanges when building: https://github.com/ccxt/ccxt/issues/3332

[2018-07-26 04:34] #3470 closed

[2018-07-26 04:42] #3466 closed

[2018-07-26 04:49] #3446 closed

[2018-07-26 04:49] kroitor commented on #3446
@markhorner123 thx for a comprehensive report! However, the fix for it is a bit simpler because our URLs are actually templates, see here: https://github.com/ccxt/ccxt/commit/74f4df34fae15a3dcd0fab8e3a905e0962950c6d

@PoshElf should be fixed now in 1.17.14, let us know if you have further difficulties with it.

[2018-07-26 06:37] kroitor commented on #3494
Got it, uploaded a fix for it, should arrive shortly.

[2018-07-26 07:14] joshhopkins opened #3498 "List exchanges by market"
Be great to be able to list exchanges by market. For example, I want to list all exchanges for a market/pair with x amount of volume.

[2018-07-26 07:16] mkutny commented on #3481
@timolson

Yeah, I understand very much what you mean.

Still, don't see how this could be achieved with this particular project. It's not that we don't want to have stable branches, it's just hardly achievable from practical standpoint.

[2018-07-26 07:35] kroitor commented on #3469
Yeah, but... we don't really multiply those values, so if it's not in CCXT, then it's on the side of BTCTurk?

- https://github.com/ccxt/ccxt/blob/master/js/btcturk.js#L218
- https://github.com/BTCTrader/broker-api-docs#ohcl-data-daily

I guess, you should forward this to their support. Hope this answers your question. Let us know if not.

[2018-07-26 07:35] #3469 closed

[2018-07-26 07:58] lfern commented on #56
@GoChartingAdmin , yes, you are right. I think we could add all exchanges with websocket and maybe add a column to point out that pusher protocol is not available. What do you think?

[2018-07-26 09:04] mkryshchuk opened #3499 "rightbtc fetchOHLCV TypeError"
-OS: Ubuntu 18 LTS
- Programming Language version: node.js 10.5
- CCXT version: 1.17.17
- Exchange: rightbtc
- Method: fetchOHLCV

const ccxt = require("ccxt");
const util = require('util');

const exchange = new ccxt.rightbtc();

async function main() {
    const d = await exchange.fetchOHLCV("ECH/ETP", "1m", 1364688000000);
    console.log(util.inspect(d, { maxArrayLength: null }))
}

main().cat

[2018-07-26 09:58] #3499 closed

[2018-07-26 13:01] NikolayKrishchuk opened #3500 "Sometimes TypeError in fetchOHLCV (kraken)"
- OS: Ubuntu 18 lts
- Programming Language version: node.js 10.5
- CCXT version: 1.17.17
- Exchange: kraken
- Method: fetchOHLCV

Hardly ever, but fetchOHLCV can raise an error

TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at kraken.fetchMarkets (/node_modules/ccxt/js/kraken.js:248:27)
    at process._tickCallback (internal/process/next_tick.js:68:7)

[2018-07-26 13:24] dillysfriend opened #3501 "New Exchange: GNEISS"
URL: https://gneiss.io/#/
API: https://gneiss.io/#/apidocumentation

[2018-07-26 14:03] markhorner123 commented on #3446
Hey @kroitor this isn't resolved - now the implementation for cancel order is raising;
response = self.privateDeleteUserOrders(self.extend({
AttributeError: 'coinfalcon' object has no attribute 'privateDeleteUserOrders'

Also can you update in the fetch_order implementation too, with adding the below method it's still raising similar error to the above for cancel_order implementation?
def fetch_or

[2018-07-26 14:11] kroitor commented on #3446
@markhorner123 oh, sorry, that's a leftover, will fix for it right now.

[2018-07-26 14:21] markhorner123 commented on #3446
Thank you - can you also add the fetch_order implementation :D?

[2018-07-26 14:39] kroitor commented on #3338
Closing this for now due to inactivity, fee free to reopen it if needed or just ask further questions, if any. We will be happy if you report back if you managed to solve it (and how). Thx!

[2018-07-26 14:39] #3338 closed

[2018-07-26 15:38] markhorner123 commented on #3446
Place, Fetch and Cancel orders all working fine - thx again for your help @kroitor

[2018-07-26 16:19] kroitor commented on #3072
@Roibal btw, i'm watching the course you're creating, and you're doing a great job reviewing it. Do you mind if we add links to your videos into our examples section? If not, can you plz post an ordered/structured list of links to your youtube series? As far as I get, there's many of them in parallel, and the list would help a lot, as I got lost a bit in what's where on reddit. Anyways, let me kno

[2018-07-26 20:05] timolson commented on #3481
I can’t agree that every push is a critical fix that needs to be
immediately released, but if it’s too burdensome to have a second branch or
at least tag/bless certain revisions, then there’s probably nothing to talk
about. ¯\_(ツ)_/¯ Guess I’ll manage ccxt versioning myself.

On Thu, Jul 26, 2018 at 12:17 AM Max Kutny <notifications@github.com> wrote:

[2018-07-26 20:42] arielorvits commented on #3470
@kroitor , if you choose Holo as the default - you should add
'HOT': 'Hydro Protocol'
to: okex, hadax, bitfinex
https://coinmarketcap.com/currencies/hydro-protocol/#markets
thank you

[2018-07-26 23:44] GoChartingAdmin commented on #56
@lfern I agree. That will take out Bitstamp and Quionex

[2018-07-27 00:54] clu8 commented on #3497
Bittrex responded and said they are looking into the issue. Also, this particular problem with RFR appears to be fixed.

[2018-07-27 02:46] kroitor commented on #3497
@clu8 thx so much for letting us know!

[2018-07-27 02:59] kroitor commented on #3470
@arielorvits sure, will do that shortly, thx for pointing that out!

[2018-07-27 03:16] kroitor commented on #3481
Sorry if this is not something you expected for. We will reconsider the above anyway, and will do something about it, hopefully. Anyways, we will be happy to see more proposals and reports from you in future. Let us know if anything. Thx!

[2018-07-27 03:16] #3481 closed

[2018-07-27 04:51] mkutny commented on #3476
A less technical description of why one would want to push orders to The Ocean instead of directly into a blockchain: https://medium.com/the-ocean-trade/0x-the-0cean-and-the-high-performance-funnel-80f0eb459f46

Basically, if you push your taker order into a blockchain you'll need to spend some gas even if it won't be fulfilled. But if you decide The Ocean to be a taker then you can push it to the

[2018-07-27 05:20] kroitor commented on #3470
@arielorvits by the way, we've been fixing these inconsistencies with your help for some while now and  I'm sure you see that most of my edits are very basic one-liner re-mappings of symbolic codes.

So, I thought, maybe you'd want to try pull-request mode so that the very important and helpful thing that you do would be properly shown in our contributors section? ) If you will, we'd very thankful

[2018-07-27 05:45] firepol opened #3502 "Howto/guide for websockets (WIP) branch"
Hi,

I was tempted to post this request in the issue #56, but 140 replies are quite intimidating, also because that post is about implementation, this is a request of guiding/write an example/howto/documentation.

I know that websockets is still work in progress and not implemented in the master branch.
From my understanding, the main work in progress is in the: https://github.com/lfern/ccxt/tree/

[2018-07-27 05:56] vladikus10 opened #3503 "Do trades (if allowed) always contain an unique identifier?"
- Programming Language version: NodeJS
- CCXT version: 1.14.43
- Method: fetchMyTrades

I'd like to know if the trade object from `fetchMyTrades` result array, always contain an unique `id` for all exchanges that support this function?

For example, the **Kraken** api documentation does not specify that it returns a trade `id`, only the order `id` it is associated with.

[2018-07-27 06:17] kroitor commented on #3503
If the exchange does provide it – CCXT should return it. It's that simple. Have you tried actually fetching your trades with CCXT? Because if you did, you would quickly see the structure of a trade returned by Kraken yourself.

[code]

[code]

LOL. Welcome to CCXT world ) Let us know if it doesn't answer your question )

[2018-07-27 06:17] #3503 closed

[2018-07-27 07:36] Roibal commented on #3072
@kroitor hi my friend, thank you for your kind comments, here is a pretty good playlist, feel free to add it wherever, thanks for the code, very great.

https://www.youtube.com/playlist?list=PLIFBTFgFpoJ-xGRz3v_2nF7f9HKZrfSpj&playnext=1&index=1

also please feel to join my telegram for discussing crypto trading bots, we cover ccxt fairly often:

https://t.me/joinchat/JL3rUw3EHmrPP0Nl355tgA

[2018-07-27 07:36] Roibal commented on #3072
@kroitor the playlist I linked basically discusses converting a basic binance bot to CCXT, then added functionality, etc.

[2018-07-27 07:37] yakisuzu opened #3504 "npm install error v1.17.x on windows"
- OS: win10
- CCXT version: 1.17.x
- npm version: 5.6.0

`npm install` is errored.
I think so you should write install caution for windows user on somewhere.

The 1.17.1 added web3 package is depends on web3-eth, web3-eth-accounts, scrypt.js, scrypt.
The scrypt require node-gyp.
https://github.com/barrysteyn/node-scrypt/blob/master/package.json#L49
https://github.com/nodejs/node-gyp

This implicit

[2018-07-27 07:37] Roibal commented on #3072
@kroitor also I have many examples of bots (TRI ARB, Basic bot) which utilize CCXT, you may be interested in those as well.

[2018-07-27 08:02] itsmemittal opened #3505 "Gdax Missing fetchDepositAddress"
Hi, I need to get deposit address through API in Gdax but in code what I found that library does not have the depositAddress function in it.

Is there any alternative to get DepositAddress in gdax?

[2018-07-27 08:04] kroitor commented on #3505
Hi!

Yes, see here: https://github.com/ccxt/ccxt/pull/2610 (will merge it to master soon) or here: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

Let us know if it does not answer your question.

[2018-07-27 08:04] #3505 closed

[2018-07-27 08:34] #3504 closed

[2018-07-27 08:51] kroitor commented on #3504
Actually, I think is isn't a CCXT issue, more an issue with the dependency package, but thanks anyway, I've added a note of it to the Install guide.

[2018-07-27 09:02] itsmemittal commented on #3505
Would you help me in an example how would I do DepositAddress for gdax

[2018-07-27 09:20] toorq commented on #3442
I have completed the code.
The code is in here:

https://github.com/toorq/ccxt/blob/master/js/bitasiaex.js

Thanks.

[2018-07-27 10:05] kroitor commented on #3505
I've added the implementation for it, however, it will only work with coinbase accounts. Let me know if you have difficulties with it, however, make sure to report any issues precisely like shown here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue. In order to help you with it will need your code and a complete log of your verbose requests and responses (without t

[2018-07-27 13:40] arielorvits commented on #3470
@kroitor

of course, good idea, I'll try this next time I'll have a fix.

thank you

[2018-07-27 14:01] mkryshchuk opened #3506 "bxinth invatid fetchOHLCV timestamp"
- OS: ubuntu 18 lts
- Programming Language version: node.js 10.5
- CCXT version:  1.17.17
- Exchange: bxinth
- Method:  fetchOHLCV

example:
const ccxt = require("ccxt");

const exchange = new ccxt.bxinth({enableRateLimit: true});

async function main() {
        const d = await exchange.fetchOHLCV("ZET/BTC", "1h", 1532620800000);
        console.log(new Date());
        console.log(new Date(d[0][

[2018-07-27 14:30] eloiup opened #3507 "binance.fetch_ohlcv since argument"
- OS: ubuntu 16.04
- Programming Language version: python 2.7
- CCXT version: 1.17.29
- Exchange: binance
- Method: fetch_ohlcv

Since argument seems to be broke

`binance.fetch_ohlcv('BTC/USDT', timeframe='1d', limit=3)`

retrieves ohlcv from the last 3 days just fine.

if we add the since argument:

`binance.fetch_ohlcv('BTC/USDT', timeframe='1d', limit=3, since=int(time.time()-60*60*24*10))`

r

[2018-07-27 14:43] #3507 closed

[2018-07-27 14:44] kroitor commented on #3507
The `since` argument as well as other timestamps returned from this library are all integer UTC timestamps **in milliseconds** everywhere throughout the code. Your `since` value is a float in seconds. I've added a clarification on that to the Manual on fetchOHLCV as it wasn't mentioned there in particular. Thx for pointing that out!

I'd rather recommend to use `iso8601/parse8601` methods btw:

[c

[2018-07-27 21:06] CryptoRyphe commented on #1392
If someone has an upbit api key and willing to share it with me for some testing purpose, please contact me.

[2018-07-28 02:42] AdvaithD opened #3508 "Binance market doesnt exist"
I've got a simple Node script which pulls OHLCV data periodically.

This error pops up:
![](https://i.gyazo.com/f964d3d9e4c1fe3bea2a2c3f69137a8c.png)

[2018-07-28 04:04] ohyahu opened #3509 "LBank withdraw API"
LBank announced that they support API for withdrawing. https://github.com/LBank-exchange/lbank-official-api-docs/blob/master/API-For-Spot-CN/币币交易REST%20API(交易).md
 Wondering if we could implement that?

[code]

[2018-07-28 04:14] kroitor commented on #3508
That's right, all symbols on Binance should have a slash in them, as documented in the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids
- https://github.com/ccxt/ccxt/wiki/Manual#naming-consistency
- https://github.com/ccxt/ccxt/wiki/Manual#consistency-of-base-and-quote-currencies

Let us know if the above does not answer your question.

[2018-07-28 04:14] #3508 closed

[2018-07-28 04:16] kroitor commented on #3508
<img width="1118" alt="screen shot 2018-07-28 at 07 16 00" src="https://user-images.githubusercontent.com/1294454/43353005-1a592b72-9236-11e8-9b6a-b5c0fb967b9d.png">

[2018-07-28 04:16] AdvaithD commented on #3508
Yep, I figured a while back. It was my code formatting the query string. My bad

[2018-07-28 04:51] #3506 closed

[2018-07-28 05:00] azharuniverse opened #3510 "OKEX - Order History Response Not Parsed Properly - Amount incorrect"
Amount of market buy order is coming zero but is available in raw order object.
`{
  "info": {
    "amount": 0,
    "avg_price": 0.00045553,
    "create_date": 1532752598000,
    "deal_amount": 3.2862,
    "order_id": 407895054,
    "orders_id": 407895054,
    "price": 0.00149699,
    "status": 2,
    "symbol": "okb_btc",
    "type": "buy_market"
  },
  "id": "407895054",
  "timestamp": 1532752598

[2018-07-28 05:04] kroitor commented on #3510
[code]

https://github.com/ccxt/ccxt/wiki/Manual#order-structure

Let us know if the above does not help.

[2018-07-28 05:04] #3510 closed

[2018-07-28 05:32] kroitor commented on #3510
This is fixed in 1.17.37. Let us know if you have any difficulties with it. Thx for reporting!

[2018-07-28 05:49] azharuniverse commented on #3510
Its working correctly in 1.17.37
Thanks for quick reply.
I am always pleased with CCXT work and support.

[2018-07-28 06:13] rexovas opened #3511 "fetch_trades is ignoring `since` argument (again)"
OS: Windows 8.1
Programming Language version: Python 3.6.5
CCXT version: 1.15.27
Exchange: bitfinex, bitfinex2, bittrex
Method: fetch_trades, fetchTrades

I am having the same issue as documented here: https://github.com/ccxt/ccxt/issues/1451

The following code works perfectly:

```pd.DataFrame(ccxt.binance().fetch_trades('BTC/USDT', limit=100000, since=1532563200000))```

however, when replacing

[2018-07-28 06:33] kroitor commented on #3511
Bittrex does not offer any means of getting trades further in the past. They just don't support `since` any type of pagination whatsoever. They will always return N most recent trades so you will have to poll them frequently, if you want to save it all.

Bitfinex, however, does support the `since` argument:

[code]

[code]

Let us know if the above does not answer your question.

[2018-07-28 06:33] #3511 closed

[2018-07-28 09:25] interenet opened #3512 "Suspect a wrong path in ccxt allcoin.com error"
- Ubuuntu 16.04
- Python3
- CCXT version 1.17.37
- allcoin.com

import ccxt
exchange = ccxt.allcoin()
exchangeMarkets=exchange.loadMarkets()

[2018-07-28 09:26] #3512 closed, assigned to kroitor

[2018-07-28 09:32] kroitor commented on #3511
Sorry, I actually made a typo there, and you were right, bitfinex does not work either, despite that their API lists that argument here: https://docs.bitfinex.com/v1/reference#rest-public-trades. I will look into it further to find a fix for it and will let you know.

[2018-07-28 09:54] kroitor commented on #3511
Ok, if you update to 1.17.38, the v2 implementation of Bitfinex will work with `since` properly. Unfortunately, their v1 `timestamp` parameter does not work. We will look further into this. Also, it fill be great if you report back whether Bitfinex2+fetch_trades+since / CCXT 1.17.38 for you or not. Thx!

[2018-07-28 12:40] backnight commented on #56
Thanks guys for working on WS! Do you need any help to make it happens faster? Also do you have an ETA when this will be ok? My company really needs this feature and we can allocate 1 or 2 developers if necessary.

[2018-07-29 18:50] dmittal3 commented on #997
Hi Kroitor,
I am trying to simply fetch account balances and formed below unix commands to do that:

!/Bin/Sh
kcAPIkey=5b5cxxxxxxxxx
kcSecretKey=xxxx-xxx-xxxxxxx-xxx-xxxx
nonce=$(($(date +%s%N)/1000000))
secret=$(echo -n "/v1/account/balances/$nonce" | base64 | openssl dgst -sha256 -hmac "$kcSecretKey" | sed 's/.*= //')
curl -s -H "KC-API-KEY: $kcAPIkey" -H "KC-API-NONCE: $nonce" -H "KC-API-SIGNAT

[2018-07-29 18:51] dmittal3 commented on #997
Hi @kroitor ,
I am trying to simply fetch account balances and formed below unix commands to do that:

!/Bin/Sh
kcAPIkey=5b5cxxxxxxxxx
kcSecretKey=xxxx-xxx-xxxxxxx-xxx-xxxx
nonce=$(($(date +%s%N)/1000000))
secret=$(echo -n "/v1/account/balances/$nonce" | base64 | openssl dgst -sha256 -hmac "$kcSecretKey" | sed 's/.*= //')
curl -s -H "KC-API-KEY: $kcAPIkey" -H "KC-API-NONCE: $nonce" -H "KC-API-SIGN

[2018-07-29 18:53] dmittal3 opened #3517 "Kucoin: Can not get rid of "Signature verification failed" error on private API"
Hi @kroitor ,
I am trying to simply fetch account balances and formed below unix commands to do that:

!/Bin/Sh
kcAPIkey=5b5cxxxxxxxxx
kcSecretKey=xxxx-xxx-xxxxxxx-xxx-xxxx
nonce=$(($(date +%s%N)/1000000))
secret=$(echo -n "/v1/account/balances/$nonce" | base64 | openssl dgst -sha256 -hmac "$kcSecretKey" | sed 's/.*= //')
curl -s -H "KC-API-KEY: $kcAPIkey" -H "KC-API-NONCE: $nonce" -H "KC-API-SIGN

[2018-07-29 22:40] kilimchoi opened #3519 "Getting Message: Invalid credentials (bad signature)"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Mac OSX
- Programming Language version:
- CCXT version: 1.17.47
- Exchange: Independent Reserve
- Method: privatePostGetTrades
----------------------------------------------------------------------------------------------------
Hi,
This is more of a questio

[2018-07-30 01:00] kroitor commented on #3519
Hi! Unfortunately, I'm having a difficulty with obtaining a key from Independent Reserve, as they won't accept signups from my country (they're too restrictive). If you can share an API key for it, I'll take a look and will get back to you soon with a fix. We don't need your funds or passwords or personal info, just need a temporary key for debugging purposes. A fresh new keypair with zero balance

[2018-07-30 01:13] kilimchoi commented on #3519
You need an api key only? No api secret?

[2018-07-30 01:14] kroitor commented on #3519
@kilimchoi nope, we need the key pair, I mean, both the key and the secret. We won't need it after debugging, so you could safely delete it after we fix the bug here. Thx again.

[2018-07-30 01:17] kilimchoi commented on #3519
@kroitor Just sent it

[2018-07-30 01:18] kroitor commented on #3519
Thx, got it! I'll take a look into it shortly and will get back to you asap with a solution to the problem. Thanks so much for your assistance!

[2018-07-30 02:40] kroitor commented on #3519
Ok, looks like I've fixed it in version 1.17.49 (it will arrive in 5-10 minutes).

However, because IndependentReserve wants special parameter ordering for each particular private method, the code snippet that you posted above won't work well in Python with `dict`, because Python dicts are **unordered**.

So, instead of the above snippet, I'd recommend to use the following unified method:

[code]

[2018-07-30 03:47] kroitor commented on #3517
1. It's `/v1/account/balance`, not balance**s**
2. Your nonce is not calculated correctly, the %N flag doesn't work everywhere, and you should rather use a seconds timestamp multiplied by a thousand.
3. The base64 payload for signing should be output with `printf` instead of `echo`, otherwise it will produce weird encoded results (google `base64 shell different`)

A working script:

[code]

Sorry,

[2018-07-30 03:47] #3517 closed

[2018-07-30 06:20] dmittal3 commented on #3517
Thanks a lot @kroitor
I checked as per your working code and it seems the code mistake was in base64 payload as I was not breaking it to the level you provided and it was not producing correct input for hmac encoding.

Writing below my findings, so that it can help others (including noobs like me) with similar questions and landing to this post:

1. It's /v1/account/balance (without s), not balanc

[2018-07-30 08:35] viktorius007 commented on #2895
I have had some success using the amphp/parallel-functions library, and whilst it does work, both memory and CPU usage go through the roof (6 cores 50% busy vs almost no CPU usage, memory 6+Gb vs <1Gb) which I believe might be duplication of the PHP environment for each thread.

There are many limitations such as having to use closures which need to be serializable, and the big problem comes when

[2018-07-30 08:41] kroitor commented on #2895
Hey, sorry for not replying too often.

Yep, will add a few examples on this asap.

See what a `mutex` or `atomic increment` is.

I'll look into what could be done in the library with concurrency + PHP and will get back to you on this subject with some general solution for this. Hopefully, soon.

[2018-07-30 09:02] bohdanz1997 opened #3520 "Failure update to the newest ccxt version"
- OS: Linux Mint 18.3 64-bit
- Programming Language version: js, node v9.11.2, npm v5.6.0
- CCXT version: 1.15.39

I have ccxt version 1.15.39 in my project, so i decided to update it up to 1.17.49. After running: npm install
i received thoose errors:

Error: Error: Command failed: ./configure
configure: error: in `/home/dev/work/mass/bitcoin/node_modules/scrypt/scrypt/scrypt-1.2.0':
configure: er

[2018-07-30 09:16] kroitor commented on #3520
From this:

Do you have the permissions to write to that folder? Have you tried doing that as root? This is most likely an issue with your setup... And you might want to upgrade your npm to 6.0.0 as well.

Also, have you tried a clean install in a separate folder? Does it work for you? A lot has passed since 1.15.39... so there may be some conflict we don't know of yet )

[2018-07-30 09:30] bohdanz1997 commented on #3520
i have updated npm version to `6.2.0` and tried `npm install ccxt` in a separate folder but installation failed with same errors

[2018-07-30 09:33] zhoujinhai opened #3521 "set proxy can't work"
hello, I am follow your [tips](https://github.com/ccxt/ccxt/blob/master/examples/py/proxy-asyncio-aiohttp-python-3.py) to set proxy , but it can't work!

my  code:
![image](https://user-images.githubusercontent.com/20365125/43389493-71b5f3de-941e-11e8-8910-858717078d8a.png)

show this error after runed.
[code]

[2018-07-30 09:56] kroitor commented on #3521
This has something to do with your proxy (a closed port or some other issue with it). Not related to CCXT, apparently:

https://docs.microsoft.com/en-us/windows/desktop/winsock/windows-sockets-error-codes-2

[code]

See the config for your proxy server, a proxy usually doesn't listen for both HTTP and HTTPS on the same port. You should use https most likely. Hope this helps.

[2018-07-30 09:56] #3521 closed

[2018-07-30 10:05] kroitor commented on #3520
Looks like this is not an issue with CCXT, but most likely an issue with your installation/configuration of Linux Mint:

- https://forums.linuxmint.com/viewtopic.php?t=161122
- https://unix.stackexchange.com/questions/216856/c-compiler-cannot-create-executables
- https://github.com/skycocker/chromebrew/issues/142
- https://www.google.ru/search?q=configure+error+C+compiler+cannot+create+executables

[2018-07-30 10:08] bohdanz1997 commented on #3520
Thx, i will try it soon and notify you

[2018-07-30 13:52] juragandotid opened #3522 "PHP Fatal error: Uncaught ccxt\AuthenticationError:"
`PHP Fatal error:  Uncaught ccxt\AuthenticationError: indodax {"success":0,"error":"Invalid credentials. Bad sign.","error_code":"bad_sign"} in E:\indodax\vendor\ccxt\ccxt\php\indodax.php:449`

[2018-07-30 14:02] juragandotid commented on #3522
i'm have to delete an create again api key, but an error. Whats problems

[2018-07-30 14:05] lfern commented on #56
@GoChartingAdmin Added "Ws Protocol" clumn in readme table.

[2018-07-30 14:29] lfern commented on #56
@backnight in recent posts some changes has been proposed. But I think it would be better other people could write code for other exchanges so we could realize current ws implementation is really a good implementation. I don't know if anyone is trying to do this, or modifying this implemention in some way, but I am waiting for some feedback about it. If this implementation is accepted (with any ch

[2018-07-30 14:33] juragandotid commented on #3522
`PHP Fatal error:  Uncaught ccxt\AuthenticationError: indodax {"success":0,"error":"Invalid credentials. Bad sign.","error_code":"bad_sign"} in E:\indodax\vendor\ccxt\ccxt\php\indodax.php:448
Stack trace:
#0 E:\indodax\vendor\ccxt\ccxt\php\Exchange.php(1023): ccxt\indodax->handle_errors(200, '', 'https://indodax...', 'POST', Array, '{"success":0,"e...')
#1 E:\indodax\vendor\ccxt\ccxt\php\Exchange.

[2018-07-30 15:07] viniciussvl opened #3523 "Cryptopia fetch OHLCV error ccxt\DDoSProtection"
Hello, before it was working normally, now it is generating this error of DDoS protection, I tested with 3 different IPs and always returns the error:

Type: ccxt\DDoSProtection
Message: cryptopia GET https://www.cryptopia.co.nz/Exchange/GetTradePairChart?tradePairId=4948&dataRange=0&dataGroup=30 200 not accessible from this location at the moment

- OS: Windows 10
- Programming Language version:

[2018-07-30 15:32] presence35 opened #3524 "Yobit is creating Liqui"
- OS: Linux
- Programming Language version: PHP
- CCXT version: Latest

[code]

It returns the following:

[30-Jul-2018 18:31:44 Europe/Kiev] PHP Fatal error:  Uncaught ccxt\AuthenticationError: yobit requires `apiKey` in /home/of/public_html/ccxt-master/php/Exchange.php:645
Stack trace:
#0 /home/of/public_html/ccxt-master/php/**liqui**.php(661): ccxt\Exchange->check_required_credentials()
#1 /hom

[2018-07-30 15:39] presence35 commented on #3524
I should have been calling my own exchange name as

getExchangeInfo("YoBit","API")  (capital B)

But that still doesn't explain why CCXT wanted to default to liqui.

[2018-07-30 16:37] dmittal3 opened #3525 "Cryptopia: Can not get rid of "HTTP Error 400. The request has an invalid header name" error on private API"
Hi @kroitor ,

While trying to fetch Cryptopia data, I am always getting Error 400. ie. invalid header.
I am exactly doing what is written into js and converting it to unix at:
https://github.com/ManuCart/Cryptocurrency-Portfolio/blob/master/API_Cryptopia.js
or https://github.com/thebotguys/cryptopia-api-python/blob/master/cryptopia_api.py
[may be certainly I am missing something stupid here]

Can

[2018-07-30 17:11] azharuniverse commented on #3460
I would call it a bug because currently there is no possible way of placing a marketBuy order on cex.io using createMarketBuyOrder() function. I understand that I can use createOrder() function. but that defeats the advantage of unification we get from CCXT. I use multiple exchanges and I don't wish to call a different function for all exchanges.
Please have support for `.options['createMarketBuyO

[2018-07-30 17:38] rexovas commented on #3507
I myself am using the ciso8601 module, I've written a simple function to convert date strings to UNIX timestamp format in milliseconds:

[code]
```since = getUNIX('2017-01-01')``` or ```since = getUNIX('2017-01-01T00:00:00Z')```

[2018-07-30 19:31] kroitor commented on #3525
- https://github.com/ccxt/ccxt/blob/master/php/cryptopia.php#L732
- https://github.com/ccxt/ccxt/blob/master/php/yobit.php (derived from https://github.com/ccxt/ccxt/blob/master/php/liqui.php#L657)

Hope this helps. Sorry, but I can't really help you debug the code that isn't CCXT code, as I mentioned earlier. Hope for your understanding.

[2018-07-30 19:31] #3525 closed

[2018-07-30 19:33] kroitor commented on #3524
@presence35 it is not defaulting to Liqui. They both use the ex BTC-e clone API, thus in the code of CCXT, Yobit is a class derived from Liqui class. The class inheritance is one of the basic fundamental concepts of OOP. You should learn about it in order to use this library efficiently. Hope this answers you question.

[2018-07-30 19:33] #3524 closed

[2018-07-30 19:34] kroitor commented on #3523
Duplicate: https://github.com/ccxt/ccxt/issues/3052

[2018-07-30 19:34] #3523 closed

[2018-07-30 19:40] kroitor commented on #3522
Does this work for you:

[code]

?

If it doesn't work, then we need you to report the issue properly:

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Hope this answers your question.

[2018-07-30 19:40] #3522 closed

[2018-07-30 19:49] kroitor commented on #3502
@firepol

I'm afraid, there's no guide that could be written at this point, except for those 140 answers in this issue: #56 + the answer of @lfern here. Basically, if anyone could provide that guide to you, WS would be implemented already. This is an R&D subject, so if you want to help or if you want to get something working on your side, you will have to get through those 140 comments + append 10

[2018-07-30 19:49] #3502 closed

[2018-07-30 19:50] kroitor commented on #3520
@bohdanz1997 ok, i'm closing this for now until we have further feedback on this. Feel free to reopen it if needed or ask questions, if you have more. We will be happy if you report back whether you managed to solve it or not. Thx!

[2018-07-30 19:50] #3520 closed

[2018-07-30 22:26] juragandotid commented on #3522
i use construct like this

`public function __construct()
    {
        print "Masukan Api Key : ";
        $this->ApiKey = rtrim(fgets(STDIN));
        print "Masukan Secret Key : ";
        $this->Secret = rtrim(fgets(STDIN));
        $this->inboxno = new \ccxt\indodax (array(
            'apiKey' => $this->ApiKey,
            'secret' => $this->Secret,
            'enableRateLimit' => true

[2018-07-30 22:29] emersonboyd opened #3528 "Cobinhood fetchTickers() Raises Error"
- OS: macOS High Sierra
- Programming Language version: Python 3.7.0
- CCXT version: 1.17.49
- Exchange: Cobinhood
- Method: fetchTickers

Tested on my computer as well as a friend's computer. Been the case for a few days now. If I had to guess, Cobinhood updated their API response and ccxt has not been change to reflect their updates.

Code:
[code]

Output:
[code]

[2018-07-30 22:34] kroitor commented on #3522
@juragandotid you didn't answer my question, actually ) You should first try with your credentials written in text inside the code. If it works, then you are not typing the credentials correctly. I've provided my keys to you, have you tried them? Because, from there it should be clear, that this is not an issue inside CCXT. This has something to do with the way you set the keys. Once again, does m

[2018-07-30 22:39] juragandotid commented on #3522
@kroitor didn't work man

[2018-07-30 22:41] kroitor commented on #3528
@emersonboyd

Which versions of CCXT you tested with? Some recent ones? Which numbers? 1.17.49? Asking this because I can yet reproduce it on my side at the moment.

[2018-07-30 22:44] #3528 closed

[2018-07-30 22:45] emersonboyd commented on #3528
I noted this at the top of my issue but I tested with CCXT 1.17.49 as well as 1.15.xx (not sure exactly).

[2018-07-30 22:52] kroitor commented on #3522
Sorry, but *"didn't work"* doesn't work ) You gotta start being very precise, namely dump your output and debug info, versions, code, numbers, all that, otherwise it will take an eternity to help you. It's written everywhere. Make sure to read the following first to paste it all in a readable way:

- https://github.com/ccxt/ccxt/wiki/FAQ#im-trying-to-run-the-code-but-its-not-working-how-do-i-fix-i

[2018-07-30 22:57] kroitor commented on #3522
If the above doesn't work, then we expect to see your verbose output, as written here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue, here: https://github.com/ccxt-dev/ccxt/wiki/Manual#troubleshooting and here: https://github.com/ccxt/ccxt/wiki/FAQ#im-trying-to-run-the-code-but-its-not-working-how-do-i-fix-it

[2018-07-30 22:58] kroitor commented on #3528
@emersonboyd this should be fixed now as of 1.17.50. Can you please try updating it and fetching them again on your side to verify this?

[2018-07-30 23:04] emersonboyd commented on #3528
it works now @kroitor, thank you for the quick help

[2018-07-30 23:05] kroitor commented on #3522
Also, make sure your timezone is defaulting to UTC, as documented in the Manual, see `date_default_timezone_set ('UTC');` above.

[2018-07-31 00:12] juragandotid commented on #3522
the error show when i'm create custom order. When fecth balance no problem. i'm think the problem on function sign.

[2018-07-31 00:36] kroitor commented on #3522
Ok, I'll look into it and will get back to you on this.

[2018-07-31 03:45] kroitor commented on #3522
@juragandotid can you post your code for the order call?

[2018-07-31 04:01] kroitor commented on #3522
Actually, no need for it, as I can see the error in your code right away. You're passing the price as a string that has a space appended to it.

[code]

If you're using the user input to parse the price, make sure you trim it and convert it to a float number first. Case solved at this point, I guess. Here's the answer you should have:

[code]

[code]

[2018-07-31 04:03] juragandotid commented on #3522
@kroitor this is my code : https://pastebin.com/raw/QqdMDeYc

[2018-07-31 04:04] kroitor commented on #3522
@juragandotid it just so happens that we posted at the same time, see my previous response for the answer. Your `price` contains a space.

[2018-07-31 04:09] juragandotid commented on #3522
how to remove the spcae? i'm just parse the last price and than like be lastprice * 15 /100, i don't know the last price is contains space. i'm just parse from last price.

Any solution to remove last price contains space?

Thank you.

[2018-07-31 04:10] kroitor commented on #3522
@juragandotid

Error in this line:

[code]

You should really learn string concatenation and output in PHP, because those are the very basics and fundamentals otherwise it will be very hard to use this library efficiently. In other words, you have to learn the programming language first. Read this entire page even despite it's a lot of reading:

- http://php.net/manual/en/language.types.string.php

[2018-07-31 04:15] kroitor commented on #3522
Don't add it, then you will not have to remove it.

[code]

Sorry, but I can't really teach programming, don't have time for this, tutorials are everywhere on the Internet. I've shown above that this is not an issue with the library, but an issue with your understanding of your own code.

[2018-07-31 04:29] juragandotid commented on #3522
PHP Fatal error:  Uncaught ccxt\ExchangeError: indodax => unknown error => {"success":0,"error":"Nonce must be greater than 1533011122. You provided 1533011122.","error_code":"invalid_nonce"} in E:\indodax\vendor\ccxt\ccxt\php\indodax.php:451

what the meaining on nonce?

[2018-07-31 04:34] kroitor commented on #3522
On your previous question, alternatively, you can do the following:

[code]

---

It is documented here:

- https://github.com/ccxt/ccxt/wiki/Manual#authentication
- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/wiki/Manual#overriding-the-nonce
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/wiki/Manual#invalidnonce

If

[2018-07-31 04:38] kroitor commented on #3522
https://en.wikipedia.org/wiki/Cryptographic_nonce

[2018-07-31 05:57] #3427 closed

[2018-07-31 05:57] #3460 closed

[2018-07-31 06:00] kroitor commented on #3460
It's really time-consuming to explain, why this isn't a bug and why adding this option or having the support for **cost** in the **amount** argument would lead to even more bugs that you would *"fix"* that way. I tried to explain the reasoning behind it here: https://github.com/ccxt/ccxt/issues/3427
So, it's easier for me to actually add the feature you requested, but we warned you ;)

[2018-07-31 07:45] toorq commented on #3442
Hello, kroitor.
Have you read my code ?

[2018-07-31 09:26] kroitor commented on #3442
Hi, @toorq ! Yep, I've seen the code. It will require some cleanup before we can merge it, because it doesn't pass the tests and is not yet transpileable according to principles described here:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#derived-exchange-classes.

I'll do my best to merge it asap in a portable way.

[2018-07-31 12:09] azharuniverse commented on #3460
Support for this option has been a great relief for me.
I have created a wrapper function for createMarketBuy() to handle this issue.

`MARKET_BUY_WPRICE: ['huobipro', 'coinex', 'okex']`

[code]

[2018-07-31 12:51] dmittal3 commented on #3525
HI @kroitor ,
I installed the library and checked it for Cryptopia. For the moment, I am happy that I was able to do this config without any trouble.
Now, there is a small issue that output of function "fetch_balance()" is coming with extra "NULL" appended in the very last of entire data. Kindly check if this is known bug.

Since, instead of raw data, I required exporting data to json. For this, I

[2018-07-31 12:59] kroitor commented on #3525
@dmittal3 can you please post your **verbose output** for the fetchBalance call? (without your keys).

[code]

Please make it readable, examples:

&#096;&#096;&#096;PHP
excellent
&#096;&#096;&#096;

&#096;&#096;&#096;
good
&#096;&#096;&#096;

&#096;
bad
&#096;

\'
bad
\'

\`bad\`

\'bad\'

[2018-07-31 13:09] kroitor commented on #1577
Merged in #3471

[2018-07-31 13:09] #1577 closed

[2018-07-31 14:15] dmittal3 commented on #3525
PFA the files. I have generated this for Yobit as it was smaller data set. Same issue as Cryptopia here.
_One file was generated as json output, while other was normal._

If I understood correctly, this is what I did to get the output:
Added (in file which I created to execute Yobit data)
sample taken: https://github.com/ccxt/ccxt/blob/master/examples/php/huobi-fetch-balance.php
$exchange->verbose

[2018-07-31 14:33] kroitor commented on #3525
With this snippet: https://github.com/ccxt/ccxt/blob/master/examples/php/huobi-fetch-balance.php
I don't have any NULL there:

[code]

![example-with-cryptopia-001](https://user-images.githubusercontent.com/1294454/43465903-0a7ff696-94e7-11e8-81aa-e7f75d08c500.jpg)

![example-with-cryptopia-002](https://user-images.githubusercontent.com/1294454/43465909-0db5bc88-94e7-11e8-8760-f8d7529aa668.jpg)

T

[2018-07-31 15:45] venomx6 opened #3532 "Python asyncio multiple exchange order book polling"
- OS: Win 10
- Programming Language version: 3.6
- CCXT version: 1.17.57
- Exchange: See screenshot
- Method: asyncio

Any idea why I keep getting these errors :
"xxx requires to release all resources with an explicit call to the .close() coroutine.
Unclosed client session"
![capture](https://user-images.githubusercontent.com/39489983/43470640-bbe4d74e-94f1-11e8-8b40-9ee096143932.JPG)

My code is

[2018-07-31 16:06] kroitor commented on #3532
If you are creating the exchange instance from within your async coroutine, you need to free all resources you might have created and used from within that coroutine. Add `exchange.close()` to a place in your code where you're done with the exchange and don't need the exchange instance anymore (at the end of your async coroutine).

[code]

↑ I've added a clarification to that message to avoid furt

[2018-07-31 16:08] dmittal3 commented on #3525
yes indeed, NULL appears only when below json call is made:

        //return $this->parse_balance($result);
        echo json_encode($result, JSON_FORCE_OBJECT);
However, its a simple json call and should normally be handled the same way as parse_balance. (just assumption).

**Just few questions:**
1. Is there any other ways I can extract JSON data out of it?
    May be I am not able to find it y

[2018-07-31 16:18] kroitor commented on #3525
Sorry, can you clarify, please, extract JSON out of what?

Those are used for testing (our build are automated with Travis CI):

- https://github.com/ccxt/ccxt/blob/master/php/test/test.php
- https://travis-ci.org/ccxt/ccxt/builds/410399360

curl -s -H "YOUR_API_KEY: $apiKey" -H "YOUR_SECRET: $secret" -X GET 'https://example.com/ccxt/examples/php/yobit-fetch-balance.php'
and these keys variables a

[2018-07-31 16:25] venomx6 commented on #3532
I've added the line, didn't help. I'm getting the exact errors as before.
Thanks for trying

[2018-07-31 17:39] dmittal3 commented on #3525
1. By JSON export I meant, I want to get data returned from public function fetch_balance() into JSON format directly rather than array format which is currently the case with this function.
By using json_encode($result, JSON_FORCE_OBJECT); I was trying to convert this array data into JSON.
 **Is there any way available, so that I could get outcome of this function into JSON format?**

_For tempor

[2018-07-31 17:53] kroitor commented on #3525
[code]

↑ this script, when launched with `php -f examples/php/filename.php` does not output any NULL strings and does output the response of fetch_balance in JSON format.

It comes in the JSON format from the exchange already, you can see it in
`$exchange->last_http_response`.

[2018-07-31 18:15] wardbradt commented on #3532
Igor forgot to add `await` before `exchange.close()`. The below should work.
[code]

[2018-07-31 18:33] wardbradt opened #3533 "How to place IOC orders on Binance?"
- Programming Language version: Python 3.6.3
- CCXT version: 1.14.301
- Exchange: Binanace
- Method: `create_order` and `Binance.options`

I noticed the below line in binance.py:
[code]
Is IOC implemented for binance? Would the following place an IOC order?
[code]
Is Binance the only exchange which offers this functionality?
Note that I am using an older version of ccxt (1.14.301) as do not yet us

[2018-07-31 18:39] kroitor commented on #3533
Yep.

Yes, it would. However, I'd recommend this instead (it's a bit shorter and does not have side-effects):

[code]

No, there are other exchanges that offer timeInForce as well, however, we didn't have a chance to unify this aspect yet, so, the parameter name is exchange-specific, and you should look it up in docs for your particular exchange(s). We hope to unify timeInForce asap.

It was added

[2018-07-31 18:40] #3533 closed

[2018-07-31 18:52] venomx6 commented on #3532
Latest solution provided fixes the problem. This issue may be closed.
Thank you very much guys

[2018-07-31 18:52] #3532 closed

[2018-07-31 18:56] rspadim opened #3534 "Foxbit changed their API"
please remove foxbit exchange, the api changed

[2018-07-31 19:00] rspadim commented on #3534
now the API only works with websocket

[2018-07-31 20:32] dmittal3 commented on #3525
thanks @kroitor
The solution above works well. However, I figured out the what was appending extra NULL into the JSON file:

    $balance = $exchange->fetch_balance ();
    echo json_encode ($balance, JSON_FORCE_OBJECT) . "\n";
    //**var_dump ($balance);**

I commented var_dump and it worked well now. It was present in 'example/php/huobi-fetch-balance.php' file, which I copied for Cryptopia and

[2018-08-01 01:16] J85Y commented on #3322
Does Exchange generate new receiving address for each user with API ? like if we use any exchange api do they provide multiple addresses to user can send funds direct to that exchange and start trading

[2018-08-01 08:29] mzf opened #3537 "Invalid nonce for KuCoin in PHP with adjustForTimeDifference enabled"
If i use adjustForTimeDifference in constructor as parameter it is not work.

**NOT WORK**
[code]
**WORK**
[code]

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: WIN
- Programming Language version: PHP 7.2
- CCXT version: LAST
- Exchange: Kucoin
- Method: fetchBalance()

[2018-08-01 08:37] kroitor commented on #3537
Can you please post the **"NOT WORK"** verbose output here (without your keys)? Use *triple backticks* for readability:

&#096;&#096;&#096;
your output
&#096;&#096;&#096;

[2018-08-01 09:11] jevdiego opened #3538 "CCXT / HITBTC - BTCUSDT"
Hi,

- OS: Windows 10
- Programming Language version: Node v8.11.3
- CCXT version: 6.2.0
- Exchange: HitBTC
- Method: loadMarkets

The CCXT library seems to pull BTCUSDT from HitBTC, but I'm confused as to how. If I query what currency pairs are supported with the HitBTC APIs (https://api.hitbtc.com/api/2/public/symbol), 'BTCUSDT' isn't there, so where is CCXT getting this data from?

[2018-08-01 09:14] kroitor commented on #3538
- https://github.com/ccxt/ccxt/issues/2851
- https://github.com/ccxt/ccxt/issues/3212
- https://github.com/ccxt/ccxt/issues/1083

HitBTC names it `USD` in their listing but it's actually `USDT`. Let us know if the above does not answer your question.

[2018-08-01 09:14] #3538 closed

[2018-08-01 09:34] kroitor commented on #3538
P.S. By setting the keys in `.commonCurrencies` you can override the ccxt defaults how you want for your specific needs. Hope this helps.

[2018-08-01 09:36] jevdiego commented on #3538
Ah, thanks very much for the prompt response. Much appreciated!

[2018-08-01 09:59] mzf commented on #3537
[code]
Major part of my code i posted above.
When i debug code, i dont saw that $params from constrtuctor properly set into $this->options.
adjustForTimeDifference value  from constructor params set as $this->adjustForTimeDifference but not at $this->options['adjustForTimeDifference']. But in fetch_markets function checked $this->options['adjustForTimeDifference'] but not $this->adjustForTimeDiffe

[2018-08-01 10:01] mzf commented on #3537
![default](https://user-images.githubusercontent.com/4039372/43515353-78c12fba-95ac-11e8-8841-c85a238acf60.png)

[2018-08-01 10:26] kroitor commented on #3537
@mzf you should set it via exchange-specific options:

[code]

Let us know if it does not help.

[2018-08-01 10:26] #3537 closed

[2018-08-01 10:41] mzf commented on #3537
Thanks a lot, thats helped me.

[2018-08-01 12:10] itsmemittal commented on #3505
Hi,
Problem is I am trying with Gdax, not Coinbase. so do we have such methods which will get us to deposit address on gdax not on coinbase.

[2018-08-01 12:17] kroitor commented on #3505
@itsmemittal GDAX is Coinbase basically... Most people deposit crypto to GDAX via Coinbase like so:

[code]

and withdraw crypto from GDAX via Coinbase like so:

[code]

I'm not sure if you have any other way of actually getting a deposit address other than that associated with your Coinbase account. Hope this answers your question.

[2018-08-01 12:35] Sprimage opened #3539 "npm install failing"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows/Linux Cent OS
- Programming Language version: javascript
- CCXT version: ccxt@1.17.60
- Exchange: all
- Method: none

Hey man, first i gotta applaud the work you're doing here. I've been trading with ccxt for months and it has been a wonderful exper

[2018-08-01 12:53] kroitor commented on #3539
@Sprimage hi! The `tar` thing is actually a warning, so it is not the cause here. Actually, I don't see any errors that would stop the build in your output. Let's clarify the following:

How do you determine it failing with an error? I mean, is this all the output you see when you run `npm` ? If not, please show it all starting from your command up to the point of failure. If it just prints out th

[2018-08-01 13:00] kroitor commented on #3539
@Sprimage this can also be Windows-specific, the updated Install note for Windows users:

[2018-08-01 13:12] kroitor commented on #3539
A somewhat related issue here: https://github.com/ccxt/ccxt/issues/3520.
@Sprimage let me know if your output is the same.

[2018-08-01 13:12] kroitor commented on #3520
@bohdanz1997 a somewhat related issue here: https://github.com/ccxt/ccxt/issues/3539. We will be happy if you let us know, whether you managed to solve it in your case. Thx!

[2018-08-01 13:38] orikalinski opened #3540 "Bitmex contract naming unification questions"
In the latest version of ccxt (python - 1.17.60).
The symbols in Bitmex exchanges are not unified except XBTUSD (BTC/USD)
I guess it wasn't unified due to the fact that except XBTUSD all the others are futures and their symbol ends with U18 (current expiration date - September 2018)

In my use case I need them to be unified, and I can also make a pull request if needed. that's a very small change

[2018-08-01 13:44] kroitor commented on #3540
How would you unify the following two active contracts? ) Both are BTC/USD, U for September, Z for December?

[code]

[2018-08-01 13:51] orikalinski commented on #3540
But that's the same right here, as ccxt didn't unified XBTU18 and XBTZ18 and yet unified XBTUSD.
I'm not offering to unify those symbols but at least we can unify all the alt pairs which have only 1 pair each.

What do you think?

[2018-08-01 13:54] kroitor commented on #3540
I don't mind unifying the rest of them, but there's one possible side effect with this. If there a second contract is delisted and then relisted, this will cause "flickering" – the market will be renamed between consequent launches which is not what you want. Because I don't trade too often with BitMEX, I can't really say how frequently the above can happen and whether it happens at all or not. Ca

[2018-08-01 13:57] orikalinski commented on #3540
That doesn't really matter because the ccxt_symbol_data["info"]["quoteCurrency"] is always XBT for those symbols no matter if the symbol were replaced with a new date identity

[2018-08-01 13:59] kroitor commented on #3540
Yep, but this doesn't really add to unification, if you have to look up in the `info`...

In general I would rather keep them with their fixed names, because if you suddenly start trading a different contract under the same name without any distinct notion of it, financially this might lead to very bad consequences for the trader. I'd rather keep the trader aware of what he is actually trading. Do

[2018-08-01 14:02] orikalinski commented on #3540
def fetch_markets(self):
        markets = self.publicGetInstrumentActiveAndIndices()
        result = []
        for p in range(0, len(markets)):
            market = markets[p]
            active = (market['state'] != 'Unlisted')
            id = market['symbol']
            base = market['underlying']
            quote = market['quoteCurrency']
            type = None
            future = False

[2018-08-01 14:08] kroitor commented on #3540
I tried to explain the issue above with the example of XBTU and XBTZ. If you don't parse those two, then imagine what will happen in this scenario:

A user happily trades his ADA/BTC for a while (which is actually ADAU), and then BitMEX launches ADAZ. Now there's two of them, so ADA is not unique anymore. So the parser in fetchMarkets won't touch it (same behavior as was proposed by you above with

[2018-08-01 14:17] orikalinski commented on #3540
Well I agree with the above,
I think the first issue is fixable by taking the closest date if there is no permanent symbol exists, like in XBTUSD (which we can ignore the two others). so If we'll let's say have ADAU and ADAZ (we need to verify that but I think that these date identifiers - U,Z are fixed) we can take here the ADAU in this case.

About the second point I agree that this is an issue

[2018-08-01 14:20] kroitor commented on #3540
I'd keep this issue open for a while to see what other users might add to the above. And will think about a proper way of doing this on my own as well. If nobody except two of us shows any interest to the question you raised, then I guess, this isn't really an issue for an average user and I'd close it then. How does that sound to you?

[2018-08-01 14:21] orikalinski commented on #3540
That sounds great,
Thanks for the quick response

[2018-08-01 14:26] kroitor commented on #3540
Your help and contributions are welcome and appreciated anyways. We'll be happy to receive PRs from you, there's a ton of things inside the library that can be implemented / fixed or unified, and a lot of work in progress, read more about the approach to it here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code.

[2018-08-01 14:28] orikalinski commented on #3540
Will do +1

[2018-08-01 14:40] htadashi commented on #1605
Bitcointoyou will change its system, and therefore, the API.
The new API docs are available at:

Public API: https://www.bitcointoyou.com/dev/api/public/
Private API: https://www.bitcointoyou.com/dev/api/private/

[2018-08-01 14:43] kroitor commented on #1605
@htadashi thank you for the notice!

[2018-08-01 15:08] rueiwoqp opened #3542 "Question about "unified" API"
What does unified mean exactly? I would expect that it means requests and responses are the same across exchanges but the responses do not have the same format.  This means that you must customize your code to parse a unique response from each exchange. Doesn't that defeat the purpose of a "unified" API? Is there something I'm missing?  I haven't analyzed every API call across many exchanges but t

[2018-08-01 15:09] orikalinski commented on #3540
Just tried to read a bit about what happen when the contract ends and I figured out that on Bitmex when the contract expires then the positions close automatically with market order.
So if i'm going back to the second point you mentioned, I as a trader, would prefer to be able to put immediately another position in case the old one closes without be needed to change the code.
What I'm trying to sa

[2018-08-01 15:12] kroitor commented on #3542
It's quite hard to explain shortly, but in general, this means "unified arguments and responses". However, this is a work in progress, so you might find some inconsistencies there (you can find a lot of them if you want).

More about it here: https://github.com/ccxt/ccxt/wiki/Manual#unified-api.

Hope this answers your question. Let us know if not.

[2018-08-01 15:12] #3542 closed

[2018-08-01 15:39] orikalinski commented on #3540
By saying needed, I meant prettier I guess. That feels hacky to try and build your next valid symbol. for example if  we try to fetch ADAU18 we need to iterate over the symbols and years and to create each symbol like ADAQ18 and search for it and then ADAU18 and search for it until you find a valid key. which feels it isn't the best practice in this case (more over if you work with another exchang

[2018-08-01 16:46] tmlee opened #3543 "CoinGecko API"
API Doc: https://www.coingecko.com/api/docs/v3
URL: https://www.coingecko.com
Fee: --
Volume: --
Address: Singapore
Company Info: CoinGecko
TNC: --
Registration: --
Based Country: Singapore
Whitepaper: --
Priority: normal
Github group: --
Note: --
Type: Aggregator
Discussion: --

[2018-08-01 17:54] viniciussvl commented on #3523
@kroitor I have read about this issue where cryptopia changes the parameters, I changed the CCXT code and still get the DDoSProtection error, but if I put the url in the browser the api returns the candles normally in a JSON.

[2018-08-01 17:57] kroitor commented on #3523
@viniciussvl you will have to use a cloudscraper then, this, however, can be quite tricky with PHP... Search for "bypass cloudflare in php", like this one, for example: https://github.com/stackoverflowin/CloudFlare-PHP-Bypass (2yr old, not sure if it works now).

[2018-08-01 18:26] Umbralith opened #3544 "HuobiPro fetch_closed_orders symbol"
Fetching open orders returns the market symbol, but fetching closed orders does not.

Example open order:
[code]

Example closed order:
[code]
The [symbol] in the closed order is not returned

[2018-08-01 18:37] kroitor commented on #3544
@Umbralith what's your ccxt version?

[2018-08-01 18:40] Umbralith commented on #3544
Updated yesterday

[2018-08-01 18:41] kroitor commented on #3544
@Umbralith remind me, plz, from your output it looks like you're doing that with PHP, right?

[2018-08-01 18:44] Umbralith commented on #3544
Yessir

[2018-08-01 18:50] Umbralith commented on #3544
Hmm, I wasn't passing $market to parse_orders in the ccxt code apparently. I don't recall ever going in here and changing things, but it's correct on gitlab, so something happened on my end. I'm sorry to waste your time

[2018-08-01 18:52] #3544 closed

[2018-08-01 19:13] kroitor commented on #3523
@viniciussvl alternatively, you can try a CORS proxy: https://github.com/ccxt/ccxt/wiki/Install#cors-access-control-allow-origin, despite the name, this can help test if this is indeed the case with Cloudflare:

[code]

Let us know if that does not help.

[2018-08-01 19:18] firepol commented on #1896
@kroitor is there an update on this? You wrote "Will start merging this soon )" in April. We are in August and there are several PRs implementing withdrawals and deposits methods, are also waiting to be merged. Is there still stuff unclear/to be defined? Or what is blocking those PRs?

[2018-08-01 19:30] viniciussvl commented on #3523
Hello, the second option did not work, I'll test the first lib you submitted.

[2018-08-02 00:11] wardbradt opened #3546 "How to open connection to exchange after closing it?"
- Programming Language version: Python 3.6.5
- CCXT version: 3.14.301
- Exchange: Binance and all others
- Method: `close()` and `self.session`

If I run the following code:
[code]
Eventually I get the below error
[code]
**How can I close, then open, the connection to the exchange?** I have a potential solution below and would like to know if it would work.

I saw that `Exchange.__init__` in ccxt/

[2018-08-02 09:17] frosty00 commented on #3509
I'll implement this later today (:

[2018-08-02 09:56] kroitor commented on #3546
You should shift your thinking paradigm. First, you need to understand what `ccxt.base.errors.ExchangeNotAvailable` is. That is an exception.

An exception is an entity that is "thrown" or "sent" into your code from ccxt to indicate that there was an error. It also contains the type of the error and some debugging info in it, this particular type of exception is `ExchangeNotAvailable`. That type m

[2018-08-02 09:56] #3546 closed

[2018-08-02 11:16] obsidianart opened #3548 "can't update ccxt"
- OS: Macos X high sierra
- Programming Language version: node 9.9.0
- CCXT version: 1.17.62
- Exchange: N/A
- Method: N/A

Notes:
- I'm install on a react native project
- The latest working version I know of is 1.15.9
- I would guess is a problem with kekkak

I tried to google and to change version of node but I can't go any further than this error log.
Thank you

[code]

[2018-08-02 11:36] kroitor commented on #3548
@obsidianart does `npm install scrypt` run ok in that folder?

[2018-08-02 11:41] kroitor commented on #3548
This isn't actually an issue with CCXT, it is an issue with one of web3 deps... If the previous `npm install scrypt` command does not work, then do this:

[code]

and then reinstall ccxt:

[code]

Let me know if it does not solve your issue.

[2018-08-02 11:42] kroitor commented on #3548
Related:

- https://github.com/ccxt/ccxt/issues/3539
- https://github.com/ccxt/ccxt/issues/3520

[2018-08-02 11:58] obsidianart commented on #3548
Thanks a lot, it worked like a charm.

As a side note, I would advice to update your answer and remove "sudo", it has been a few years node advice not to run with sudo (https://docs.npmjs.com/getting-started/fixing-npm-permissions)

P.S. Why is ccxt using web3? is there a direct access to ethereum nodes now?

[2018-08-02 12:03] kroitor commented on #3548
Because we've started to integrate DEXs, and we have added support for TheOcean, check this out: https://github.com/ccxt/ccxt/issues/3476

This part is also coming soon ;)

[2018-08-02 12:50] #3548 closed

[2018-08-02 13:38] lmkhang opened #3549 "Could you give an example about websocket"
I want to get last price by websocket. Do not use while and sleep. I mean there is anychange of price from pair and then it will push. I dont want to request continuously.

- Programming Language version: nodejs
- CCXT version: latest(02-08-2018)
- Exchange: binance
- Method: get last price by websocket

[2018-08-02 13:39] kroitor commented on #3549
@lmkhang see here: #56

[2018-08-02 13:39] #3549 closed

[2018-08-02 15:10] wardbradt commented on #3546
Thanks for the response. I do not know much about how the internals of RESTful HTTP work; I misinterpreted the meaning of closing the connection.

Also, Binance's rate limiting is structured around the weight of each request, with a public API request relating to a single symbol normally having a weight of 1. As you mentioned, the endpoint `fetch_tickers` requests has a weight of 40. The maximum w

[2018-08-02 15:41] kroitor commented on #3546
Unfortunately, this is a little more complicated. Of course, I don't possess immediate info from their engine, but they used to apply machine-learning to profile users and if your behaviour is outstanding from the "common user pattern", then you will hit the limit even before you reach that maximum. This may be outdated a bit, but it used to work like this previously. And it aligns with what you r

[2018-08-02 16:20] kroitor commented on #1896
@firepol sorry, this is totally my fault, initially we wanted to collect more info on other exchanges for even more unification, but then I buried myself in other parts of the library and maintenance and didn't pay enough attention to this particular section of the Unified API. I know it's been a very long waiting time, and this isn't really acceptable. My apologies to all who have committed, I'll

[2018-08-02 16:37] mrasband commented on #1896
@kroitor you are a fantastic example of a project maintainer 👌, thank you for the hard work (sorry that this message will spam everyone in the thread - but I wanted to be sure to say _Thank You_).

[2018-08-02 17:56] lmkhang commented on #3549
when do You support for ws?
that post was posted a year ago. a long time :(. what problems have u been getting?

[2018-08-02 20:01] IMikhelson opened #3551 "OHLCV Order Different for Different Exchanges"
- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: 1.17.65
- Exchange: Coinbase Pro, Binance, Kraken (maybe others, haven't tried yet)
- Method: fetch_ohlcv

I am trying to write some code using technical analysis, so I query OHLCV data.  However, the data is returned in either ascending or descending (by time) order, which makes the analysis more difficult, since I have t

[2018-08-03 04:14] TotallyKyle opened #3554 "[Binance] 1000ms Ahead of Server Time Error Handling Try/Catch Still Exits with UnhandledPromiseRejectionWarning"
- OS: Windows
- Programming Language version: Node 9.4
- CCXT version:  1.16
- Exchange: Binance
- Method: fetchMyTrades

After following the fixes in:
#850
#936

I have my time sync every 1024 seconds and a large recv window. The goal of the code is to try every market and fetch the trades you may or may not have made in those markets to get all of the trades you have made on binance. I am follow

[2018-08-03 04:33] kroitor commented on #3554
@TotallyKyle can you please show your instantiation code?

[2018-08-03 04:45] TotallyKyle commented on #3554
[code]

[2018-08-03 04:48] kroitor commented on #3554
Does adding the following line solve your issue?

[code]

[2018-08-03 07:26] yufeng0528 opened #3555 "ERROR in exchange 'coinex' fetch_trades"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Centos
- Programming Language version: python3
- CCXT version: 1.17.40
- Exchange: coinex
- Method: fetch_trades

[code]

[2018-08-03 11:10] kroitor commented on #3554
Ok, thx for reporting back! Feel free to reopen it or just ask further questions if you have more.

[2018-08-03 11:10] #3554 closed

[2018-08-03 11:15] #3555 closed

[2018-08-03 11:41] DaveMG3 commented on #3271
@JimAmuro , @kroitor sorry for late reply

I made people confused with last picture.
At the time of writing what was interesting was the 1st picture with kline from ccxt for 1h timeframe : BTC/USDT Price 6000$, Volume 10000 => 60M$ in 1 hour (cannot be).
It seems it was an issue from bitz api cause today, having not changed my code and ccxt version during my holidays, i got following :
 Price 7000

[2018-08-03 12:19] itsmemittal commented on #3505
Thanks, I understood.

[2018-08-03 12:46] itsmemittal opened #3556 "Help me to know which cryptocurrency supports withdraw and get address on Poloniex, Gdax, Bitfinex, Binance."
- OS: - Windows
- Programming Language version: Javascript
- CCXT version:
- Exchange: All
- Method: Withdraw and Deposit.

Hi,
I am trying to withdraw coin on following exchanges and having issues.
Bitfinex, Binance, Poloniex, Gdax.

Issue 1 ) I am unable to withdraw coins on any of the above exchanges. CCXT allows me on some coins like ETH, LTC but not allowing on POA on Bitfinex.

Issue 2) I am

[2018-08-03 13:49] DaveMG3 commented on #3178
Hi @kroitor ,
Yes in the code I used, I only retrieve the latest candle and the UTC time displayed above comes from the kline received from CCXT.
To get this comparison  result, I launched my code at some specific time, in Java and in Python for 1h and for 1d timeframe, and i retrieve each time the latest candle. This way i noticed the discrepancy between the 2 implementations

But in both case, i

[2018-08-03 13:59] #3556 closed

[2018-08-03 13:59] kroitor commented on #3556
I'm not really sure what you are talking about, because I can get a deposit address for most of currencies with Poloniex, for example:

[code]

I believe most users are able to create and fetch their deposit addresses, otherwise this repo would be already filled with lots of similar bug reports. So, this has something to do with your understanding of how it all works. For example, with Polo you ha

[2018-08-03 14:24] kroitor commented on #3556
To solve for POA with Bitfinex we will need you to post your code and verbose request/response (without the keys). Basically, whatever issue it is, we will need your code and verbose output to be able to provide any help, otherwise it will be just guessing.

This is all mentioned everywhere:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md
- https://github.com/ccxt/ccxt/wiki/FAQ

[2018-08-03 14:31] kroitor commented on #3178
@DaveMG3 the point is that those images above don't really help determine the cause of the issue... what would really help is your code and your verbose output. Basically, you should keep in mind, that `bithumb.has['fetchOHLCV'] == 'emulated'`, as described here: https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-emulation, so the emulated 1h candles can be missing some trades, that aren't output in f

[2018-08-03 14:48] itsmemittal commented on #3556
This is what i am getting message: 'poloniex does not have currency code ETH' }

[2018-08-03 14:49] kroitor commented on #3556
@itsmemittal then you should `await loadMarkets()` first, as it is required and this is also documented in the Manual.

[2018-08-03 14:50] kroitor commented on #3556
@itsmemittal will need your verbose output to be able to help you.

[2018-08-03 14:51] itsmemittal commented on #3556
xchangeError {
  exchange:
   poloniex {
     isNode: true,
     keys: [Function: keys],
     values: [Function: values],
     extend: [Function: extend],
     clone: [Function: clone],
     index: [Function: index],
     ordered: [Function: ordered],
     unique: [Function: unique],
     keysort: [Function: keysort],
     indexBy: [Function: indexBy],
     groupBy: [Function: groupBy],
     filte

[2018-08-03 14:52] kroitor commented on #3556
@itsmemittal ↑ that is absolutely not the way to go, you should read **VERY CAREFULLY**:
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-08-03 14:53] itsmemittal commented on #3556
Sorry i will submit n format.

[2018-08-03 14:54] Raizen opened #3557 "New Exchange: PagCripto.com.br"
URL: https://pagcripto.com.br
API: https://api.pagcripto.com.br

[2018-08-03 14:55] kroitor commented on #3556
@itsmemittal you should really follow precisely what I'm telling you, otherwise it will take an eternity to help you...

Add this line:

[code]

↑ add that line to this script: https://github.com/ccxt/ccxt/blob/master/examples/js/fetch-create-deposit-address.js

Then run it with verbose mode enabled and post your output here.

&#096;&#096;&#096;
your good verbose output
&#096;&#096;&#096;

&#096;

[2018-08-03 15:19] itsmemittal commented on #3556
https://poloniex.com/public?command=returnCurrencies {} undefined
handleRestResponse:
 poloniex GET https://poloniex.com/public?command=returnCurrencies 200 OK
Response:
 { Date: 'Fri, 03 Aug 2018 15:07:30 GMT',
  'Content-Type': 'application/json',
  'Transfer-Encoding': 'chunked',
  Connection: 'close',
  'Set-Cookie': '__cfduid=d40c716cace342cdb4b734ac14ad4a6c61533308850; expires=Sat, 03-Aug-19

[2018-08-03 15:20] kroitor commented on #3556
↑ It says, you should login to Poloniex and enable the missing permissions with that API key.

[2018-08-03 15:59] TotallyKyle commented on #3554
With the enableRateLimit option set to true, I am getting errors with Gemini:

(node:50468) UnhandledPromiseRejectionWarning: Error: gemini POST https://api.gemini.com/v1/transfers 400 Bad Request {"result":"error","reason":"InvalidNonce","message":"Nonce '1533308261' has not increased since your last call to the Gemini API.

[code]

If I implement actual delays (~.7s) between each API call, this

[2018-08-03 17:19] kroitor commented on #3554
@TotallyKyle if you update to 1.17.70, the issue with Gemini nonce should be resolved.

[2018-08-03 17:38] DaveMG3 commented on #3178
@kroitor ,

PHP7.2
Ccxt/ccxt: 1.17.66
Method : fetchOHLCV

[code]
Result in CLI
[code]
Conversion rate KRW/USD = 0.00089

=> by CCXT,  KRW/USD volume$ for **1h** on Bithumb =  88944.683215* 502 * 0.00089 = **39 738$**
CMC 24h volume = 11 459 458$  =>  11 459 458$/*24h = **477 477$ average per hour**

I understand your concept of 'emulated' but here  after 24h polling and recording I am merging the

[2018-08-03 18:38] kroitor commented on #3178
Well, you just said you understand the concept of emulated candles and limitations, but then you say *"each hour only the latest candle asked"* and this makes me think that you maybe misunderstanding the implications. First of all, lets make sure our understanding is aligned.

When I say *"candles are emulated"* what it really mean is that the candles are calculated from latest trades received fro

[2018-08-03 19:38] IMikhelson commented on #3551
After running a quick test, I found the following results.  This does not include exchanges that were unavailable at the moment, that require an API key to query such data, or that threw an error upon this request.  I used a '1h' resolution, as most exchanges support it.

acx : ascending order
anybits : ascending order
bigone : ascending order
binance : ascending order
bit2c : ascending order
bitb

[2018-08-03 19:42] IMikhelson commented on #3551
As a suggestion, you could have a quick check, something like
[code]

[2018-08-03 19:55] kroitor commented on #3551
@IMikhelson thx, i'll fix those `descending` inconsistencies asap.

[2018-08-03 21:04] #3509 closed

[2018-08-03 21:34] booxter opened #3559 "Poloniex fetch_tickers() starts to fail when a new asset is listed"
I am running a bot that relies on ccxt poloniex implementation, fetching tickers every 5 minutes and using this information to model / execute some trades.

Recently, a long running bot instance started to fail when executing fetch_tickers(), as follows:

[code]

This started to happen on Aug 1 when the exchange listed EOS: https://poloniex.com/press-releases/2018.07.31-Introducing-EOS-markets-to-

[2018-08-03 21:37] kroitor commented on #3559
Thx for reporting!

Yep, basically, you're required to reload them regularly, otherwise your snapshot of their markets may be outdated. Will look into it and will add a workaround to avoid the crash.

[2018-08-03 22:27] stedong opened #3560 "okex future fetch balance failed"
failed to fetch balance using privatePostUserInfo, error code of 10004, changed method to privatePostFutureUserinfo and privatePostFutureUserinfo4fix error code of 20019
full error message:
failed to fetch balance message=okex {"result":false,"error_code":20019}, stack=Error: okex {"result":false,"error_code":20019}

[2018-08-03 22:31] kroitor commented on #3560
@stedong try resetting your (there's a standalone button that allows resetting it within okex interface) and then try fetching balance again with code unchanged. Then try issuing `privatePostFutureUserinfo`. Let us know if resetting the key does not help.

[2018-08-03 22:38] stedong commented on #3560
It does not work, same error

[2018-08-03 22:46] kroitor commented on #3560
Yeah, same on my side, resetting does not help anymore. 10004 == Request failed, whereas it worked for several months without a problem. Looks like some issue with the OKEX API engine to me. Investigating further into this.

[2018-08-03 22:49] DaveMG3 commented on #3178
=> this was my meaning : to fetch previous hour...but anyway as you detailed it patiently, candles are emulated from Public Trades **BUT**  also can have a very limited covered period of trades .

You are fully right but if i can, i would suggest you add few of the above detailed explanation in the manual to avoid such naive question as mine again.

With explanation for exchange native candlestick

[2018-08-03 22:51] kroitor commented on #3560
@stedong can you try creating a new key and retrying again with it? I just did the same on my side and it seems to have worked.

[2018-08-03 22:53] stedong commented on #3560
new Key worked for me as well, but how does the original okex future fetch the future balance, the implicit function always fetch spot balance

[2018-08-03 22:58] kroitor commented on #3560
@stedong we don't support position / margin trading with unified API for now, so you will have to use implicit API methods as documented in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods (`privatePostFutureUserinfo`, `privatePostFutureUserinfo4fix`, etc...)

[code]

Hope this answers your question. Feel free to ask if you have more. Closing it for now as it seems like an

[2018-08-03 22:58] #3560 closed

[2018-08-03 23:47] kroitor commented on #1392
@jjhesk , @jindouyunonline We would like to integrate this exchange, but because Upbit has a very strict KYC/AML policy that requires a Korean phone number which is quite hard to obtain, we can't really test it properly.

We will be thankful if someone from the community sends us a zero-balance key to info@ccxt.trade or to igor@ccxt.trade for debugging purposes. We don't need the money nor your pe

[2018-08-04 01:07] #3559 closed

[2018-08-04 04:53] yufeng0528 opened #3561 "zb error in fetch_ohlcv"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: centos
- Programming Language version: python3
- CCXT version: 1.17.40
- Exchange: zb
- Method: fetch_ohlcv
[code]

[2018-08-04 09:24] booxter commented on #3559
@kroitor I don't think this fixes the issue because I am using Python bindings not JS.

[2018-08-04 11:05] booxter commented on #3559
Wow. Also, embarrassed. Thanks for your work!

[2018-08-04 11:59] yufeng0528 opened #3562 "coinegg has new API for kline"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: centos
- Programming Language version: python3
- CCXT version: 1.14
- Exchange: coinegg
- Method: fetch_ohlcv

https://www.coinegg.com/explain.api.html#three-four

[kline](https://api.coinegg.im/api/v1/kline/region/usdt/?coin=eth&since=1530374400)

[2018-08-04 13:15] viktorius007 commented on #3417
Looking at their API they don't offer basic functions such as order book or trading!

[2018-08-04 14:17] #3551 closed

[2018-08-04 19:28] arielorvits commented on #1392
didn't tried on upbit, but on other exchange I used https://www.virtualphone.com/ .
maybe it can help

[2018-08-05 10:54] Showgofar opened #3566 "Huobi IOC order type"
Hello
Huobi support buy-ioc, sell-ioc, order types

https://github.com/huobiapi/API_Docs_en/wiki/REST_Reference

Is it possible to implement it via params?
Thank you

[2018-08-05 11:02] kroitor commented on #3566
@Showgofar we already do support all endpoints and params intrinsically, as documented in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params

[code]

Let us know if it does not answer your question. Thx!

[2018-08-05 11:02] #3566 closed

[2018-08-05 15:12] fedecaccia opened #3568 "Asynchronous call"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu 15
- Programming Language version: Python 3.5
- CCXT version: last
- Exchange: -
- Method: -

Regarding your asynchronous call example:

[code]

how can I save the request return? (I want to return the ticker to the main).

[2018-08-05 17:15] fedecaccia opened #3569 "SyntaxError: 'yield' inside async function in examples/py/async-bittrex-orderbook.py"
https://github.com/ccxt/ccxt/blob/397a29d723effcc3d991adee0787919c69e5f7e6/examples/py/async-bittrex-orderbook.py#L17

Running code I have the following error:

python3 orderbook.py
  File "orderbook.py", line 17
    yield await exchange.fetch_order_book('BTC/USDT')
           ^
SyntaxError: 'yield' inside async function

[2018-08-05 17:26] fedecaccia commented on #3568
Here is an implementation to compare synchronous and asynchronous performance in requesting tickers from different exchanges. I write it modifying the example you pass me. It's tested. I would like to add it as an example. In case @kroitor agree, how can I push it?
[code]

[2018-08-05 17:41] kroitor commented on #3568
@fedecaccia the above script will require a slight modification to support for exchange-specific ratelimits, with Binance in particular, who don't allow fetch_tickers if you do that more frequently than once in 40 seconds, as was answered here: https://github.com/ccxt/ccxt/issues/3546#issuecomment-409873342.

But no worries, if you can open a new PR with it (place it in examples/py/ folder), then

[2018-08-05 17:47] fedecaccia commented on #3568
Ok, I didn't know that different requests have different rate limits. So I'm going to modify it.
Thanks for the explanation, it's not so complicated!

[2018-08-05 18:01] fedecaccia commented on #3568
I followed all the steps. After the pull requests, the Travis CI build failed with this error:
ERROR: InvocationError for command 'C:\\projects\\ccxt\\python\\.tox\\qa\\Scripts\\flake8.EXE' (exited with code 1)
do you know what could be going on?

[2018-08-05 18:25] #1483 closed

[2018-08-05 19:27] kroitor commented on #3476
Nope, that means "one maker that was already there in the orderbook, before the incoming order" – because it was there already, it was a maker for sure ) But yeah, I'll add a clarification on that, or will rephrase it for less confusion. Thx for pointing that out!

[2018-08-06 12:11] lliypuk opened #3573 "Bitmex fetch_ohlcv return only old data from 2015"
- OS: Mac OS
- Programming Language version: php 7.2
- CCXT version: 1.14.62
- Exchange: Bitmex
- Method: fetch_ohlcv

Hi! I try get OHLC data from Bitmex with since = null and get always old data, between September 25, 2015, September 29, 2015. If I try use since, I don't receive any data or segment between September 25, 2015, September 29, 2015

`require_once "vendor/autoload.php";
$exchange  =

[2018-08-06 13:03] lliypuk commented on #3573
Thanks for your answer, you are right, I took mistake with calculate milliseconds in hour. Now I use this code:
`$exchange = new \ccxt\bitmex (array ('apiKey' => 'xxx','secret'=>'yyy'));`
` $limit = 100;`
` $hour_duration_in_milliseconds = 60 * 60 * 1000; `
` $since = $exchange->milliseconds () - $limit * $hour_duration_in_milliseconds;`
` $ohlcvs = $exchange->fetch_ohlcv ('BTC/USD', '1h', $since)

[2018-08-06 13:10] kroitor commented on #3573
@lliypuk try this:

[code]

↑ Do you get a different result with that code?

[2018-08-06 14:06] lliypuk commented on #3573
It is very strage, but yes. This is my code:

`date_default_timezone_set ('UTC'); `
`include_once ('/vendor/ccxt/ccxt.php');`
`$id = '\\ccxt\\bitmex';`
`$exchange = new $id ();`
`$since = $exchange->milliseconds() - 100 * 60 * 60 * 1000;`
`$ohlcvs = $exchange->fetch_ohlcv('BTC/USD', '1h', $since);`
`var_dump($ohlcvs);`
`echo $exchange->iso8601($ohlcvs[0][0]) . "\n";`

and var_dump is `array(0) { }

[2018-08-06 14:11] kroitor commented on #3573
@lliypuk ok then, let's try updating to the most recent version of CCXT first. Is it still empty with 1.17.83?

[2018-08-06 14:15] lliypuk commented on #3573
Oh, sorry, before created issues, I try change class bitmex for experiment and forgot about it. Now, I changed it back and  fetch_ohlcv work good! Sorry, for spend your time and thanks for your help!

[2018-08-06 15:46] stephenkarl opened #3575 "gateio fetch_open_orders and fetch_closed_orders"
Any reason why these 2 methods are not implemented yet?
The API is available for them.

[2018-08-06 15:50] kroitor commented on #3575
@stephenkarl sorry? what's your ccxt version and programming language?

JS:

- https://github.com/ccxt/ccxt/blob/master/js/gateio.js#L26
- https://github.com/ccxt/ccxt/blob/master/js/gateio.js#L530

Python:

- https://github.com/ccxt/ccxt/blob/master/python/ccxt/gateio.py#L42
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/gateio.py#L504

PHP:

- https://github.com/ccxt/ccxt/blob/master/php

[2018-08-06 15:52] kroitor commented on #3575
<img width="1511" alt="screen shot 2018-08-06 at 18 52 08" src="https://user-images.githubusercontent.com/1294454/43727146-d734b8f4-99a9-11e8-8a31-de5563d0fd5b.png">

[2018-08-06 16:14] stephenkarl commented on #3575
my mistake. my code was searching in the old ccxt folder rather than the new one.
You may close this ticket.

[2018-08-06 16:14] #3575 closed

[2018-08-06 21:52] stedong opened #3577 "okex future, can not change lever_rate to 20 when creating order"
when I create new order, I can change contract type by pass the contract type in the 'params', but lever_rate is always default to 10, can not change to 20 if I simply pass 'lever_rate': 20 to the params
[code]
this is a simple version of my code
function: createOrder:
Exchange: okex
method: POST
ccxt version: 1.16.32

Issue: placed order of next week but lever_rate is 10, should be 20

[2018-08-06 21:55] kroitor commented on #3577
@stedong can you please post your verbose request and response, precisely as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[2018-08-06 22:15] stedong commented on #3577
sorry, I added some description, is this better to understand?

[2018-08-06 22:33] kroitor commented on #3577
Also, note:

https://github.com/okcoin-okex/API-docs-OKEx.com/blob/master/API-For-Futures-EN/REST%20API%20for%20FUTURES.md#contract-trade-api

OKEX API doc says:

@stedong will you post your code and verbose request/response? Or should we close this? I mean, do you still have a question with it?

[2018-08-06 22:37] stedong commented on #3577
I posted a simple version code of it, and I thought modify the create order will work, it does not work, and also, I do not have any 10X lev open. it still place as 10x lev

[2018-08-06 22:46] kroitor commented on #3577
@stedong let's try again, we need your verbose request and response, do this:

[code]

Add the above line then post your verbose request and response here.

[2018-08-06 22:50] stedong commented on #3577
thank you for fixing the serious mistake I made

[2018-08-06 22:56] kroitor commented on #3577
@stedong

[code]

↑ yep, this line is missing the side...

Do you have it working now?

[2018-08-06 23:03] stedong commented on #3577
no, it is 10x, 1 is open long, it has side

[2018-08-06 23:04] kroitor commented on #3577
@stedong we will need your verbose request/response, this is the 4th time I'm telling you this )

[2018-08-06 23:10] stedong commented on #3577
[code]

[2018-08-06 23:12] kroitor commented on #3577
@stedong *"to post your verbose output"* means add that line and run that code and then post the output from your screen here, that would contain the request sent towards OKEX and their response send back to you. Can you do that? You've posted your code twice already, I guess, that should be enough ) But we still need to see your verbose request and response. C'mon, it's not that hard.

[2018-08-06 23:26] stedong commented on #3577
There is the response u want

[2018-08-06 23:35] kroitor commented on #3577
@stedong can you try switching to 20x in your account (for next week) and run that code again?

![screen-shot-2018-08-07-at-02 17 59](https://user-images.githubusercontent.com/1294454/43746023-7ea9574e-99ea-11e8-9408-4e11247be9d3.jpg)

[2018-08-06 23:36] stedong commented on #3577
thank you, that solve the problem

[2018-08-06 23:42] #3577 closed

[2018-08-07 00:55] futurehome opened #3578 "install failed with lru-dict"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Win7
- Programming Language version: Python 3
- CCXT version: 1.17.83
- Exchange:
- Method:

When I try to 'pip install ccxt', it failed, and I got the logs below. It seems some error with lru-dict. Can you help to figure it out?  I've installed ccxt before

[2018-08-07 00:58] kroitor commented on #3578
@futurehome sorry, but this issue is not related to CCXT, it is an "anaconda under emulated linux/on windows" issue. See answers and solutions here:

- https://www.google.ru/search?q=anaconda+Cannot+open+include+file+io.h
- https://stackoverflow.com/questions/27161251/compiling-cython-code-yields-fatal-error-c1083-cannot-open-include-file-io
- https://stackoverflow.com/questions/45904828/io-h-no-s

[2018-08-07 00:58] #3578 closed

[2018-08-07 01:45] futurehome commented on #3578
@kroitor After installing win10_sdk using 'vc redist 2017', it works. Thanks.

Alex

[2018-08-07 02:19] JoshVarty opened #3579 "TypeError when fetching trades on BCEX"
- OS: Windows
- Programming Language version: Python 3.7
- CCXT version: `1.17.83`
- Exchange: BCEX
- Method: `fetchTrades()`

[code]

Output:
[code]

The error seems to occur at:
[code]

I confirmed this doesn't occur in JS, so perhaps there's a issue with transpiling?

[2018-08-07 02:23] #3579 closed, assigned to kroitor

[2018-08-07 09:40] yufeng0528 opened #3581 "zb KeyError: 'data'"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:centos
- Programming Language version:python3
- CCXT version:1.17.40
- Exchange:zb
- Method:fetch_ohlcv

[code]

[2018-08-07 10:33] Esc4pism opened #3582 "BTCBOX fetchTickers"
The url used for btcbox for fetchTickers is https://www.btcbox.co.jp/api/v1/allticker this returns an error 301. The correct url for this is now https://www.btcbox.co.jp/api/v1/ticker/

~https://www.btcbox.co.jp/help/asm#three-one~

Update: just found another better documentation explaining parameters: https://www.btcbox.co.jp/api/doc/v1

btcbox has 1 hardcoded marketpair BTC/JPY, but they also of

[2018-08-07 13:00] ray66rus commented on #2716
Hi

Have the same issue here :(

- OS: 4.15.0-29-generic #31~16.04.1-Ubuntu SMP
- Programming Language version: Python 3.6.3
- CCXT version: 1.17.66
- Exchange: huobipro
- Method: withdraw

Minimal example:
[code]

Reply:
[code]

[2018-08-07 13:03] kroitor commented on #2716
@ray66rus can you check if you have "address whitelisting" enabled? https://support.hitbtc.com/hc/en-us/articles/360000800605-Whitelist-of-withdrawal-addresses

[2018-08-07 13:07] DaveMG3 opened #3583 "BX.IN.TH OHLCV price issue"
- Programming Language version: PHP7.2
- CCXT version: 1.17.66
- Exchange: bx.in.th
- Method: fetchOHLCV with pairs ZET/BTC, CPT/BTC, LEO/BTC

[code]
Result in CLI

`1533643200000, 234110 , 234636 , 233930.56059003 , 234636 , 2.46624746`

[2018-08-07 13:07] kroitor commented on #2716
@ray66rus with Huobi you should whitelist your withdrawal addresses here: https://www.huobi.com/withdraw_address/ . Let us know if it does not help.

[2018-08-07 13:15] kroitor commented on #3583
Unfortunately, this has something to do with their trades (this is again an 'emulated ohlcv' case), but I'm not sure yet why they would return adequate prices for ZEC/BTC, but inadequate prices for ZET/BTC...

[code]

Have you tried reaching out for their tech support with this question?

[2018-08-07 13:15] itsmemittal commented on #3556
Hi, Would you please tell me why we added the following restriction for bitfinex. because POA is not on this list.
getCurrencyName (currency) {
        const names = {
            'BTC': 'bitcoin',
            'LTC': 'litecoin',
            'ETH': 'ethereum',
            'ETC': 'ethereumc',
            'OMNI': 'mastercoin',
            'ZEC': 'zcash',
            'XMR': 'monero',
            'USD'

[2018-08-07 13:33] ray66rus commented on #2716
@kroitor
Thanks, that helped (though whitelisting more that one address on huobi is a pain in the ass - they want confirmation from both mail and 2fa).

Now I have another problem - it says that the amount is too small. Anyway, it's definetely not the problem of the library. Thanks for you help :)

[code]

[2018-08-07 13:33] itsmemittal commented on #3556
I have updated to latest. Even in the latest version POA not listed. But would you please tell why we are doing such restriction.

[2018-08-07 13:39] kroitor commented on #3556
@itsmemittal sorry, I don't really get which particular restriction you mean, can you clarify the question, please?

[2018-08-07 13:49] kroitor commented on #3556
@itsmemittal the list of bitfinex withdrawal methods is taken from their docs:

- https://docs.bitfinex.com/v1/reference#rest-auth-withdrawal

![screen-shot-2018-08-07-at-16 47 58](https://user-images.githubusercontent.com/1294454/43779781-d5ff4068-9a61-11e8-9aed-583bffcf8687.jpg)

[2018-08-07 13:56] kroitor commented on #3556
<img width="1351" alt="screen shot 2018-08-07 at 16 54 43" src="https://user-images.githubusercontent.com/1294454/43780209-b9968368-9a62-11e8-842e-11c4c5e1df1c.png">

[2018-08-07 13:56] kroitor commented on #3556
@itsmemittal I guess, from the above it follows that you should forward your questions on POA to Bitfinex tech support.

[2018-08-07 14:19] DaveMG3 commented on #3583
Yep, I submitted a ticket.Let you know if I got a feedback

[2018-08-07 14:29] kroitor commented on #3583
@DaveMG3 fixed a bug with missing `active` flag with bxinth (will be available in 1.17.86 in 5-10 minutes).

I think I found the cause, looks like the `ZET/BTC` pair is inactive with BX.in.th:

ZET/BTC:

[code]

ZEC/BTC

[code]

I'd close this for now, feel free to reopen it if needed, or just ask further questions if any. We will be happy if you report back if you get a reply from BX.in.th suppor

[2018-08-07 14:29] #3583 closed

[2018-08-07 14:52] DaveMG3 commented on #3583
@kroitor ,
their reply was quick :

[2018-08-07 14:59] kroitor commented on #3583
@DaveMG3 ok, case solved then, thx for the feedback! )

[2018-08-08 04:35] ashishism10 opened #3586 "'marketGetHistoryTrade' is not working for Huobi-pro (Nodejs)"
When `fetchClosedOrders` is called for Huobi-pro, it internally executer below function
[code]

This is producing exception as `marketGetHistoryTrade` function is not defined and but used in `this.marketGetHistoryTrade(this.extend (request, params))`

When I search ccxt directory, to find `marketGetHistoryTrade`.
[code]

Please define `marketGetHistoryTrade`.

- OS: MacOs 10.13
- Programming Langu

[2018-08-08 12:24] creslinux opened #3589 "SSL verify fail using ccxt asyncio, works using toy aiohttp script"
### Long story short - catch 22.
We wrap our bots within and behind a varnish cache to prevent api blacklisting and outboud leaks (keys) to unwanted destinations.  We SSL terminate at our internal hitch to do this.

For synchronous CCXT calls using `requests`  everything is perfectly.
We set an environment variables to help `requests` along its way:
[code]
Using CCXT asyncio  the error is ran into

[2018-08-08 14:53] creslinux commented on #3589
To add to this, through process of elimination i added my ca-root into requests bundled ca-store.

At this point asyncio/aiohttp via ccxt started working

The following *seems true

- Requests will use a customer CA if pointed to via` REQUESTS_CA_BUNDLE=` env variable
- Natural aiohttp/asyncio will only use the hosts system store, per python does
- ccxt aiohttp/asyncio will ignore system store and

[2018-08-08 15:04] kroitor commented on #3586
Please, read here:

- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#implicit-api-methods

[2018-08-08 15:04] #3586 closed

[2018-08-08 15:13] kroitor commented on #3589
@creslinux basically, CCXT async does not use `requests`, because of their incompatibility. So, with asyncio you will have to add your certs as documented in asyncio docs:

With asyncio we're using the `certifi`package for newer certificates (the system default is often outdated).

[code]

↑ This is why `certifi` is there.

From your last message it looks like you've figured it out yourself alread

[2018-08-08 15:18] kroitor commented on #2062
@JimAmuro nope, all of them should count `limit` candles from `since` timestamp into the future. In other words it's *"a limited number of candles since a certain moment in time".*

[2018-08-08 15:25] creslinux commented on #3589
Hi Kroitor,

Thanks for the confirmation, always good to know its not environmental issue on my side.
It would be really handy to be able to use an ENV to point to a custom CA.root file.

I know requests.adaptor is only used on ccxt sync calls, those guys are  also on certifi.

`requests`  adapters supports the ENV `REQUESTS_CA_BUNDLE` for using a pem outside of certifi;  a similar such as `CCXT_C

[2018-08-08 15:28] kroitor commented on #3589
@creslinux got it, will add support for env vars to asyncio certs, hopefully soon.

[2018-08-08 15:31] creslinux commented on #3589
super awesome - thanks!

[2018-08-08 15:43] kroitor commented on #3589
@creslinux a quick workaround for you would be create a new session like so:

[code]

@creslinux does this solve your issue?

[2018-08-08 15:48] creslinux opened #3590 "Each asyncio fetchOrderHistory symbol fetches a full copy exchnage.info from remote. 384 for binance."
Im unsure if this is an issue, by design, or my code.

I use a cache between CCXT and Exchange. Amongst other benefits this provides an actual eyes on view of requests being made.

Running a single asyncio script to fetch Order History for all 384  Binance symbols provided a surprise.
In addition to the expected symbol requests an entire copy of exchange.info was also pulled down.

My expectation

[2018-08-08 15:57] kroitor commented on #3590
@creslinux CCXT preloads markets once, as documented in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#loading-markets

However, you're not using any rate-limiting in your code, which sends all requests simultaneously, so before the first loadMarkets finishes, you're issuing a new one (that should be done within fetchClosedOrders just once, but you're sending them all at once without orderin

[2018-08-08 15:57] #3590 closed

[2018-08-08 16:04] creslinux commented on #3589
ill test - thanks for this.

[2018-08-08 16:15] creslinux commented on #3590
Id tried loadMarkets() earlier, apologies I should have mentioned this.

Here is the same ran again with exchange.loadMarkets() ; time.sleep(10)  towards the top.
The loop then still does download exchangeInfo() 384 times in addition after  copy is downloaded

[code]

[code]

[2018-08-08 16:18] kroitor commented on #3590
Id tried loadMarkets() earlier, apologies I should have mentioned this.

[code]

In other words, you should either preload them with your async instance, or add `'enableRateLimit': True` to the constructor. Does this answer your question?

[2018-08-08 16:26] kroitor commented on #3590
@creslinux

One of the following will work:

[code]

Or:

[code]

[2018-08-08 16:29] kroitor commented on #3590
@creslinux does any of the above two examples solve the issue for you?

[2018-08-08 16:45] creslinux commented on #3590
Thank you for the support.
Id tried an await outside the loop - this had no affect, perhaps an expected outcome im new to asyncio

... and now my dog is telling me its her bathroom/walk time
Ill try your options when back

Re rate-limit, i found this 10 minutes or so when tried yesterday to grab under 400 order histories from binance. This seemed too slow, is that normal?

 - thanks again

[2018-08-08 16:59] kroitor commented on #3590
We can't fix that, unfortunately ))

The default rateLimit with Binance is 2 requests per second. But please note that Binance has varying rate-limits for different calls (as described in their docs:  https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md), so you can tweak it for your specific needs:

[code]

[2018-08-08 17:27] creslinux commented on #3590
yes, it very much looks this way.
your response and effort is world class - every success to you man

[2018-08-08 17:45] kroitor commented on #3590
@creslinux great, just be careful to avoid getting banned, if you're not rate-limiting your requests. Binance uses a machine learning algorithm that distinguishes "regular user patterns" and can lock your account for 10 minutes to an hour if you're too aggressive on their API.

[2018-08-08 18:09] creslinux commented on #3589
this one didnt work out, returns an error on start
[code]

[2018-08-08 18:10] kroitor commented on #3589
Pardon, that;s my fault, I made a typo there, should be `aiohttp.ClientSession`, of course.

Try this:

[code]

[2018-08-08 18:13] creslinux commented on #3589
id tried that, no joy

[code]

[2018-08-08 18:15] creslinux commented on #3589
sorry thats my fault  - i missed the import

[2018-08-08 18:16] kroitor commented on #3589
@creslinux does it solve the initial issue with certificates for you?

[2018-08-08 18:27] creslinux commented on #3589
That allows me to use the main certificate store, its about the same for me to append my pem into `certifi` cert.pem or add into a containers `ca-certificates`.

The ideal is how `curl`, `requests`, and `openssl` manage it by allowing an ENV to point to a file or directory.  The mozilla and OS stores then remain intact, updating or unsetting the VAR lets an install be portable between test environ

[2018-08-08 18:29] creslinux commented on #3589
could a target be passed through this `aiohttp.ClientSession ()` ?

[2018-08-08 18:43] kroitor commented on #3589
@creslinux yes, by means of TCPConnector, as was shown above:

[code]

See docs here:

- https://docs.python.org/3/library/ssl.html#ssl.create_default_context
- https://docs.aiohttp.org/en/stable/client_advanced.html#connectors

↑ Does that answer your question?

[2018-08-08 18:47] creslinux commented on #3589
thats perfect, thank you!

[2018-08-08 18:48] #3589 closed

[2018-08-08 21:08] justmeonthegit opened #3592 "Type error method name fetchOLHVC"
On: windows 10 64bits, Python 3.6.5, ccxt-1.17.88, binance I experience troubles with the fetcholhvc method naming.

According to universal documentation the call should be

            tmp2 = getattr(ccxt,self.ccxtcode)()
            data = getattr(tmp2,"fetchOHLCV")()

which is not working. Introspection on the object shows that;

            tmp2 = getattr(ccxt,self.ccxtcode)()
            data

[2018-08-08 21:11] kroitor commented on #3592
I'd recommend to stick to PEP8 underscore notation and method naming in Python, so the method name is `fetch_ohlcv`, as shown here:
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/binance.py#L485

Let us know if that does not answer your question.

[2018-08-08 21:11] #3592 closed

[2018-08-08 21:32] justmeonthegit commented on #3592
I understand.  Do you agree that :

The Unified CCXT API says to use fetchOHLCV and binance is a CCXT/certified exchange ?

So therefore in my opinion it is not correct to close the issue but to implement the correct method name as these are our own guidelines. :-)

[2018-08-08 21:49] kroitor commented on #3592
@justmeonthegit

Sure! I've added a special case for it, because `fetchOHLCV` isn't a camelCase name, so if you update to 1.17.89 (it will arrive in 5-10 minutes) the above code should work with `fetchOHLCV` now )

[2018-08-08 21:52] justmeonthegit commented on #3592
You are great !

[2018-08-08 22:18] justmeonthegit opened #3593 "Problem with calling to binance.fetch_olhvc"
With python 3.6.5. on win10/64b I try to get the following code running:

[code]

Which follows in the following

introspection of the loaded exchange (in this case binance)

['__class__', '__del__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__'

[2018-08-08 22:29] kroitor commented on #3593
The problem is with your particular code, unfortunately, you're not showing the snippet that I could copy-paste into my python interpreter to reproduce it without reconstructing your code on my side... From your report and from the pieces of code you posted, it looks like there's some substitution of `self` happening within your class.

Let's try this:

[code]

<img width="474" alt="screen shot 20

[2018-08-08 22:33] kroitor commented on #3593
In your code the pair is named `ETHBTC` instead of `ETH/BTC` for some reason, that is against the Manual: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[2018-08-08 22:44] justmeonthegit commented on #3593
Thxs, you are totally correct. As I said in the beginning this is not an issue in CCXT.

The problem in my code was the call
`current_exchange = getattr(ccxt,self.ccxtcode)

should be
`current_exchange = getattr(ccxt,self.ccxtcode)()`

and indeed the symbol, not the marketid.

Thxs

[2018-08-08 22:44] #3593 closed

[2018-08-08 23:00] trentduncan opened #3594 "itBit fetchBalance Error with signature"
- OS: High Sierra v10.13.6
- Node.js v8.9.4
- CCXT v1.17.88
- Exchange: itBit
- Method: fetchBalance

The Issue:

When I try calling the fetchBalance Method I get back a 401 unauthorized from itBit for having a bad signature. I know my credentials are valid because when I use a different library ([npm itbit](https://www.npmjs.com/package/itbit)) the response is fine.

Code:
[code]

[code]
I was cu

[2018-08-08 23:02] kroitor commented on #3594
That can be a nonce issue, have you tried with a new key?

[2018-08-08 23:03] trentduncan commented on #3594
Yes. Also when I go back and forth between the other library and ccxt the other library works consistently.

[2018-08-08 23:06] kroitor commented on #3594
@trentduncan ok, I'll look into it and will get back to you with a fix. One question, though: can you provide a testing key (zero balances, we don't need your money, just need to verify it's working properly)? Would be great if you could send it to igor@ccxt.trade. No worries, if not.

[2018-08-08 23:11] kroitor commented on #3594
@trentduncan one thing to clarify, have you tried with a new key in CCXT first?

[2018-08-08 23:11] trentduncan commented on #3594
Unfortunately, I don't have access to a testing key at this time. Thank you for your quick reply I appreciate it.

And yes I was working with CCXT before I even attempted the new library.

[2018-08-08 23:13] kroitor commented on #3594
No worries, I'll compare against the other library above. But let's clarify the nonce questions first, you've tried with a new API key with CCXT first, right?

[2018-08-08 23:19] trentduncan commented on #3594
@kroitor Yes I can confirm I tried ccxt with a fresh key before the other library.

[2018-08-09 00:09] kroitor commented on #3594
@frankhucek this is a different issue, you're not using proper rate-limiting, as documented in the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/wiki/Manual#authentication

Add `enableRateLimit: true` to your constructor params, that should solve it. Also make sure your nonce on the apiKey is not screwed by any other software.

[2018-08-09 01:05] mrasband commented on #3569
@fedecaccia What version of python3 are you running? This feature isn't available until [3.6 via PEP525](https://www.python.org/dev/peps/pep-0525/) and works on 3.6+.

[2018-08-09 01:28] fedecaccia commented on #3569
@mrasband python3.5, ok I didn't know

[2018-08-09 01:38] #3569 closed

[2018-08-09 01:38] myyellowshoe commented on #2119
Do you have a central place where you a voting/gathering focus for specific DEX's? Saw the #715 issue for etherDelta but didn't know if you had any others your considering.

[2018-08-09 01:39] kroitor commented on #2119
@myyellowshoe take a look here: https://github.com/ccxt/ccxt/issues?q=is%3Aopen+is%3Aissue+label%3A%22new+exchange%22

[2018-08-09 04:49] pigslayer12 opened #3596 "How to fetch current positions on Bitmex?"
Hi,

I am using the latest python version, but can't seem to find any function that would return my current positions on Bitmex. I am hoping there is something.

Thanks for any help in advance.

[2018-08-09 04:51] kroitor commented on #3596
Duplicate (solved below):
- https://github.com/ccxt/ccxt/issues/2499
- https://github.com/ccxt/ccxt/search?q=private_get_position&type=Issues

[2018-08-09 04:51] #3596 closed

[2018-08-09 06:58] p0nt opened #3597 "Bitmex create order reminds the previous leverage ..."
So I have something weird over here, in the documentation of Bitmex they state that every order/position initiated will defaultly receive the cross leverage.

https://www.bitmex.com/app/isolatedMargin

"Note that, by default all positions are initially set to “Cross Margin”."

But for some reason If I have ever made a trade with leverage for example 5, it does not matter if this have been initiate

[2018-08-09 07:16] kroitor commented on #3597
@p0nt shouldn't this question be forwarded to BitMEX instead of CCXT? We don't change those values in the library, so if there's an issue with the above, that's on the BitMEX side. You should probably reach out for their tech support. Hope this answers your question.

[2018-08-09 07:16] #3597 closed

[2018-08-09 07:45] p0nt commented on #3597
yes I was not able to close this for some reason, sorry to disturb

[2018-08-09 07:48] kroitor commented on #3597
@p0nt no worries... unfortunately, it's beyond the scope of the library, and we can't really fix it on our side in any way, sorry. We will be happy to answer on the library, if you have difficulties with it. But, as I said above, we don't substitute values for implicit methods, so, whatever values you get from their – those come directly from BitMEX.

[2018-08-09 10:19] prototypensx opened #3598 "New Exchange: ausbits.com.au"
Live URL https://ausbits.com.au

API https://ausbits.com.au/documents/api_v2

Thank you.

[2018-08-09 12:44] stephenkarl opened #3600 "bitsane error"
While calling 'fetch_balance' or 'fetch_open_orders', i got the following error message:
**a bytes-like object is required, not 'str'**

- OS: windows
- Programming Language version: python
- CCXT version: latest
- Exchange: bitsane
- Method: fetch_balance / fetch_open_orders

[2018-08-09 13:05] Abhishekoodles1 opened #3601 "Getting Bad request on cancelling the order in Binance"
using **api /api/v3/order**    when i am trying to cancel my order with orderId = **190427013**, for market **ETHBTC** i am getting response of BAD REQUEST.

[2018-08-09 15:40] Showgofar commented on #3313
Yes they had added API with all required functions

[2018-08-09 16:23] kroitor commented on #3600
@stephenkarl can you please post your output and your ccxt version number?

[2018-08-09 16:24] kroitor commented on #3601
@Abhishekoodles1 unfortunately, from your report it's very hard to tell what could be causing the issue, we need your code and verbose request/response **precisely as documented here**: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue. Can you please post proper debug info and your version numbers?

[2018-08-09 16:31] frankhucek opened #3603 "Gemini fetchBalance"
- OS: High Sierra v10.13.6
- Programming Language version: Node v8.11.3
- CCXT version: 1.17.94
- Exchange: Gemini
- Method: fetchBalance

Issue:
When fetching balance from Gemini with valid API keys, receiving 400 Bad Request. Invoking the Gemini API directly with the same API key works perfectly fine. GDAX and Binance are responding correctly when invoked the exact same way as Gemini through ccx

[2018-08-09 16:36] kroitor commented on #3603
@frankhucek from your output it looks like your Gemini instance is sending the nonce in seconds, whereas it should be in milliseconds with current code: https://github.com/ccxt/ccxt/blob/master/js/gemini.js#L346

So, the number should've been 1533831705000 instead of 1533831705...
Are you sure that the gemini file has not been tampered with on your system? Does the above happen with a clean reinst

[2018-08-09 16:43] kroitor commented on #3601
https://github.com/ccxt/ccxt/wiki/FAQ#i-am-calling-a-method-and-i-get-an-error-what-am-i-doing-wrong

[2018-08-09 16:52] #3600 closed

[2018-08-09 18:01] trentduncan commented on #3594
@kroitor I have confirmed it is an issue in the sign method in itbit.js.

When I changed the signature generation in CCXT It is working.

Here is the code for reference:

ccxt/js/itbit.js

[code]

I don't know if this change will work for all of the methods you support for itbit because the empty string is hardcoded since it is a GET request. But it fixes the fetchBalance issue.

[2018-08-09 18:26] frankhucek commented on #3603
Fresh install of ccxt yielded same results.

[code]

[2018-08-09 18:30] kroitor commented on #3603
@frankhucek can you show/verify the runtime version as well?

[code]

[2018-08-09 18:40] JoshVarty commented on #3313
I'll give this a shot if no one else has started yet.

[2018-08-09 18:56] wardbradt opened #3604 "InvalidOrder: "Invalid Quantity" on binance on call to create_order"
- Programming Language version: Python 3.6.5
- CCXT version: 3.14.301
- Exchange: Binance
- Method: create_order

Sorry, I do not have the verbose output. I could run my code again with `verbose` set to `True`, but would rather not as that might cause financial loss. If you think I could recreate this issue with a one-line call to `create_order`, I would be happy to do so with `verbose` turned on.

[2018-08-09 19:01] kroitor commented on #3604
@wardbradt can you tell values of `symbol`, `order_type`, `side`, `volume`, `price`, `params` ?

[2018-08-09 19:10] wardbradt commented on #3604
My logs are sort of messed up so I am not exactly sure. I am only certain that `side` was `'limit'` and `params` was `None` (not specified). Other than that, I believe the values were:
`volume`: `0.009999999999999995`
`price`: `0.002423`
`side`: `buy`
`symbol`: `MOD/ETH`

[2018-08-09 19:13] kroitor commented on #3604
Looks like you're ignoring their minimums for MOD/ETH, the min amount is 0.01.

- https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

[code]

[code]

Let us know if it does not answer your question.

[2018-08-09 19:13] #3604 closed

[2018-08-09 19:14] wardbradt commented on #3604
Actually, those were definitely the values/ parameters.

[2018-08-09 19:14] wardbradt commented on #3604
Thank you.

[2018-08-09 19:56] myyellowshoe commented on #2119
👍

[2018-08-09 20:42] VadimSFedin opened #3606 "fetch_balance() method in deribit.py"
Hey

Firstly, thanks for your hard work! I have an issue with fetch_balance() method in deribit class.

- OS: W10
- Programming Language version: Python 3.6
- CCXT version: 1.17.95
- Exchange: Deribit
- Method: fetch_balance()

  File "C:/Users/fedin/PycharmProjects/cryptoExchanges/balanceparser.py", line 9, in <module>
    btcBalance = deribit.fetch_balance()
  File "C:\Users\fedin\PycharmProject

[2018-08-09 20:47] #3606 closed

[2018-08-09 20:57] kroitor commented on #3606
Hi! Thx for reporting, this is now fixed in 1.17.96.

[2018-08-09 21:08] dbzalpha opened #3607 "'filled' exception while placing orders, without them being executed at all"
Dears, what is this 'filled' exception knowing that both orders where placed and not executed at all?
Thanks!

- OS: MacOS 10.13.1
- Programming Language version: Python 3.6
- CCXT version: 1.14.224
- Exchange: bitstamp, kraken
- Method: create_limit_sell_order / create_limit_buy_order

[code]
Result in:
##on Bitstamp
{'id': '1971608317',
 'info': {'amount': '0.00300000',
          'datetime': '20

[2018-08-09 21:15] kroitor commented on #3607
@dbzalpha can you please post your verbose request/response (without your keys), as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[code]

Post both the request and response here, plz.

[2018-08-09 21:30] kroitor commented on #3607
@dbzalpha i'd recommend to start with a basic example: https://github.com/ccxt/ccxt/blob/master/examples/py/async-bitstamp-create-limit-buy-order.py

[code]

Does that work for you with your values? ANyways, we will need to see your verbose request/response (without the keys), please make sure to post is as described in the CONTRIBUTING doc linked above.

[2018-08-09 21:44] dbzalpha commented on #3607
Dear @kroitor, I'm now familiar with placing orders  asynchronously, even if my code is surely not very clean, I'm still a newbie. Here it is with better information I guess:

Request: POST https://api.kraken.com/0/private/AddOrder {'API-Key': 'edited', 'API-Sign': 'edited', 'Content-Type': 'application/x-www-form-urlencoded', 'User-Agent': 'python-requests/2.18.4', 'Accept-Encoding': 'gzip, defla

[2018-08-09 21:45] kroitor commented on #3607
@dbzalpha i suggest to try my example first, does it work for you?

[2018-08-09 21:48] kroitor commented on #3607
Also, your version seems to be **VERY OLD**. You should update to the most recent one.

[2018-08-09 21:54] dbzalpha commented on #3607
OK, will update to the last version tomorrow and will keep you posted!
Cheers

On Thu, Aug 9, 2018, 18:49 Igor Kroitor <notifications@github.com> wrote:

[2018-08-09 21:56] kroitor commented on #3607
@dbzalpha ok, then, I'd close this for now, feel free to reopen this if needed, or just ask further questions... We'll be happy to hear from you tomorrow. However, when posting, please, pay attention to the above instructions.

[2018-08-09 21:56] #3607 closed

[2018-08-09 23:09] TensorTom opened #3608 "Suggest to add to docs"
method for dynamic exchange spec. PHP example:

[code]

[2018-08-09 23:30] #3608 closed

[2018-08-10 01:15] DoubleCouponDay opened #3610 "npm install ccxt fails node-gyp/scrypt"

[2018-08-10 01:24] kroitor commented on #3610
Sorry, did you manage to solve it?

[2018-08-10 01:27] #3610 closed

[2018-08-10 01:43] judyyang40 opened #3611 "Temporary Lockout"
- OS:
- Programming Language version: Node.js v10.2.1
- CCXT version: 1.17.89
- Exchange: Kraken
- Method: CreateOrder

Hi,
I've been testing the createOrder function on Kraken, and I've encountered this error:
Error: kraken {"error":["EGeneral:Temporary lockout"]}
Right now, it seems like ccxt is treating this as a general ExchangeError, though this is more a rate limit error returned from their

[2018-08-10 02:05] DoubleCouponDay commented on #3610
my initial search for duplicates was a flawed string search I think. I realized too late that I cannot delete this issue. Thanks for the help although.

[2018-08-10 02:51] #3611 closed

[2018-08-10 03:18] jackyxie opened #3612 "New Exchange: ok.top"
- Exchange: https://www.ok.top
- API doc: https://www.ok.top/docs/

ok.top is also exchange of OKEx 100+ project, use the same api as coinall, only domain is different.

[2018-08-10 03:33] xycfree opened #3613 "exx.py fetch_balance response HTTP Error 403"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: win10
- Programming Language version:
- CCXT version:
- Exchange: exx.py
- Method: get

Traceback (most recent call last):
  File "D:\tools\python36\venv1\lib\site-packages\ccxt\base\exchange.py", line 366, in fetch
    response.raise_for_status()
  File "D

[2018-08-10 03:35] kroitor commented on #3613
@xycfree can you please post your code to reproduce the issue and your verbose response and request?

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
- https://github.com/ccxt/ccxt/wiki/FAQ

Does any public call work?

[2018-08-10 05:30] Abhishekoodles1 commented on #3601
@kroitor  this is how i am making the request

`  Long timeStamp =new Date().getTime();
          Long orderId = Long.valueOf(id);
          String data = "symbol=ETHBTC&orderId="+190465050+"&timestamp="+timeStamp;
        try {
            String signature = GenericUtils.encode(envConfig.getBinanceSecretKey(), data);

            String url ="https://api.binance.com/api/v3/order";

            Ur

[2018-08-10 05:32] kroitor commented on #3601
@Abhishekoodles1 sorry, but this is really beyond the scope of this library. We can't really help with code that wasn't invented here. Check the sources for this library to see how this is working within CCXT. Hope this helps: https://github.com/ccxt/ccxt/blob/master/js/binance.js. Closing this for now.

[2018-08-10 05:32] #3601 closed

[2018-08-10 07:06] creslinux opened #3614 "fetchOrderHistory fail on symbol='' ; used to work"
Hi!

Im not sure if this is a defect, its a change in behaviour.

Against sandbox api on GDAX the following used to work to fetch all OpenOrders
`all_open_orders = exchange.fetchOpenOrders(symbol='', since="", limit="", params={})`

Now the following error is returned.
`ccxt/base/exchange.py", line 312, in raise_error
    raise exception_type(output)
ccxt.base.errors.ExchangeError: gdax No market

[2018-08-10 08:27] aeberr opened #3615 "New Exchange: Huobi Australia"
API Doc: https://huobiaustralia.readme.io/docs/getting-started
URL: https://www.huobi.com.au/
Fee: --
Volume: --
Address: Australia
Company Info: Huobi Australia
TNC: --
Registration: --
Based Country: Australia
Whitepaper: --
Priority: normal
Github group: --
Note: ranked top : NA
Type: Centrailzed Ex
Discussion: --

[2018-08-10 10:00] p0nt opened #3616 "Retrieve response headers"
Is it possible to retrieve the response headers on both good and false api calls you make for Bitmex?

[code]

[2018-08-10 10:05] hiteshbhatia3559 opened #3617 "Cannot install CCXT"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10 Enterprise
- Programming Language version: Python 3.6.5
- CCXT version: Latest from pip
- Exchange: -
- Method: -

Hi,

Having the following issue. Already tried to install VC++ 2014 through 17. Couldn't install Visual Studio 2017 because I have

[2018-08-10 11:13] xCuri0 opened #3618 "How to check if deposits/withdrawals are enabled on a coin ?"
There doesn't seem to be a way to do this currently. My arbitrage bot requires this because currencies with a large price difference often have deposits/withdrawals disabled

[2018-08-10 14:03] frosty00 commented on #3618
You could log in to the exchange. Some websites have scrapable stuff like https://hitbtc.com/system-health.

The active flag in `.currencies` and `.markets` should be checked but exchange's provide a limited amount of info from their API's usually.

Binance has a really hard captcha, but by trying `fetch_deposit_address` on all the currencies you can usually filter out the ones whose deposit is di

[2018-08-10 14:40] creslinux opened #3619 ""since" argument dos not work for gdax/cb - the newest 100 orders always returned."
Polling gdax coinbase the `since` argument seems to take no affect.

As, an extreme, example this will return the 100 youngest/newest orders and not the oldest.
`api.fetchClosedOrders(symbol=symbol, since=0000000000000)`

More realistic timestamps, for start of July-2018 show the same - 100 newest trades over July end Aug.

I've tried another python library: `gdax`
And this does pull back the enti

[2018-08-10 14:46] creslinux commented on #3616
I think the response headers are available for the last request in your exchange object.

Take a look in, if named your object exchange object `ccxt`:
`ccxt.last_response_headers._store`

[2018-08-10 14:47] crackfoo commented on #763
Just checking if you've progressed with this exchange....

Thanks

[2018-08-10 15:59] creslinux commented on #3619
I found this works with coinbase / gdax.
Key is to test `cb-after` within the response header, and use in a follow up parameter if present.

Using `limit=` and value seems to break the api, so easier to manage locally - `gdax_limit` in example
with no `gdax_limit` it will crawl to start of trade history.

[code]

[2018-08-10 16:12] creslinux commented on #3619
I'll leave this open, should there be a more CCXT preferred method it would be great to know.
If its about the right shape as is, please feel free to close

[2018-08-10 16:17] creslinux commented on #3619
should it help anyone,

here is a fetchClosedOrders example for gdax/coin-base

[code]

[2018-08-10 16:45] p0nt commented on #3616
Thank you Thank you!

[2018-08-10 16:45] #3616 closed

[2018-08-10 17:36] hiteshbhatia3559 commented on #3617
Hi, which question is this a duplicate of?

[2018-08-10 17:36] kroitor commented on #3617
@hiteshbhatia3559 it says:

Downloading the Build Tools from the above link, then following install instructions should solve the issue for you. Those are Build Tools, not the MSVC itself. Let us know if it does not help.

[2018-08-10 17:36] #3617 closed

[2018-08-10 17:37] kroitor commented on #3617
Duplicate: https://github.com/ccxt/ccxt/issues/3578

[2018-08-10 17:45] kroitor commented on #3616
@creslinux thx so much for your help! )

[2018-08-10 17:48] kroitor commented on #3614
@creslinux we don't accept empty strings in the args anywhere, so, if you want to pass an empty symbol, it should be None: `exchange.fetchOpenOrders(symbol=None, since=None, limit=None, params={})`. You're right, it did work with some exchanges earlier, but the fact that it used to work with an empty string is more like a bug. It should not accept empty strings, really. None-values are used to ind

[2018-08-10 17:48] #3614 closed

[2018-08-10 18:01] kroitor commented on #3618
@xCuri0 as @frosty00 correctly noted, not all exchanges will serve that info from their API, but for the ones that do serve it, you can check the currencies' `active` flag, which is false if funding (both deposits and withdrawals) is disabled, `true` if funding is enabled.

[code]

Let us know if that does not answer your question. Thx!

[2018-08-10 18:01] #3618 closed

[2018-08-10 19:28] frankhucek commented on #3603
[code]
Returned an older runtime. This was due to some issues with upgrading because of a system config, I but managed to do it, and that solved this particular issue with Gemini. Thank you for the help!

[2018-08-10 19:34] kroitor commented on #3603
@frankhucek thx for reporting back!

[2018-08-10 19:34] #3603 closed

[2018-08-10 19:51] frankhucek opened #3621 "Gemini market order discrepancy"
- OS: High Sierra v10.13.6
- Programming Language version: Node v8.11.3
- CCXT version: 1.17.101
- Exchange: Gemini
- Method: createOrder

Issue:
After confirming market orders are supported on Gemini through the ``hasMarketOrder`` property, I attempt to place a market order. The returned response is an error stating that Gemini supports limit orders only, so there is a discrepancy between the ``h

[2018-08-10 20:35] #3621 closed

[2018-08-10 20:37] kroitor commented on #3621
@frankhucek indeed, there was an inconsistency with the `has` flag, I've added it, so this should be fixed in next version (arriving in 5-10 minutes). One note on the above: the `hasCreateMarketOrder` as well as other properties starting with `hasBlaBla` are deprecated, and I highly recommend switching to the new metainfo property – `exchange.has['createMarketOrder']`. All those properties are col

[2018-08-10 20:41] frankhucek commented on #3621
@kroitor Awesome, thanks for the update.

[2018-08-11 03:56] hiteshbhatia3559 commented on #3617
If you have this issue, Install Visual Studio 2017. Nothing else fixed it for me, this did.

[2018-08-11 04:06] kroitor commented on #3617
@hiteshbhatia3559 thx for reporting back!

[2018-08-11 08:46] Kinzowa commented on #3543
Sorry but what is the idea behind CoinGecko API integration with ccxt ? (not an exchange)

[2018-08-11 09:56] npomfret opened #3622 "Is there a way to do a reverse lookup of a currency symbol?"
I want to know what the exchange symbol is for a common currency symbol.  I can't use the `exchange.commonCurrencies` map because it contains defaults (such as `XBT: 'BTC'`) which aren't correct for say _binance_ exchange.  Is there a method that provides this?

- Programming Language version: js
- CCXT version: 1.17.87
- Exchange: binance

[2018-08-11 10:06] Kinzowa opened #3623 "Duplicate information returned by fetch_markets()"
I notice duplicate informations in the object returned by `fetch_markets()`, for example the fees here at BitMEX. What is the reason for this and which one should I use ? same on all exchanges I've checked.

[code]

[2018-08-11 10:30] creslinux commented on #3622
In your ccxt exchange object there is commonCurrencies which is a dict of this information

[2018-08-11 10:46] npomfret commented on #3622
as I said, i can't use `commonCurrencies` because it gets merged with some incorrect defaults.

However, i have now found a method that is supposed to do it `exchange.currencyId`.  Doesn't seem to be working 100% of the time, I guess because some currencies are missing from `commonCurrencies`.  Specifically...

coinfloor :
`exchange.currencyId('BTC')` returns _BTC_, but should return _XBT_.

dsx:

[2018-08-11 10:54] creslinux commented on #3622
Apologies, I didn't read your questions fully.

You may later run in to other challenges where the same symbol is used on different exchanges for different tokens.  The classic example is bitcoin-cash and bitconnect

`BCH` and `BCC` are aliases of `bitcoin-cash` tokens
`BCC` can also be  `Bitconnect` tokens

[2018-08-11 10:55] npomfret commented on #3622
I unserstand.  The problem is some missing mappings.  How do I report them?  On here I guess.

[2018-08-11 10:57] creslinux commented on #3622
Here is perfect the place.
@kroitor  is super responsive, he's usually online later in the evening, to my time zone.
Im Kyiv, Ukraine. +3

[2018-08-11 11:12] #3622 closed

[2018-08-11 11:14] npomfret opened #3624 "missing metatadata"
Hi

I'm new to this project.  Just testing it out and finding a few things that don't seem right.  I assume this is the place to report them as I go.

both DSX and Coinfloor appear to have some missing currency mappings (maybe?). Details are here https://github.com/ccxt/ccxt/issues/3622, but basically, coinfloor should have XBT mapped to BTC, and dsx doesn't seem to model USDT and EURS markets cor

[2018-08-11 11:25] npomfret opened #3625 "bitfinex2 : why does getCurrencyId prefix "f" to every symbol?"
[code]

What's the "f" for??

[2018-08-11 11:38] Kinzowa commented on #3623
Thanks @npomfret

[2018-08-11 11:38] #3623 closed

[2018-08-11 14:43] kroitor commented on #3625
@npomfret that's an exchange-specific currency id, let us know if this does not answer your question: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[2018-08-11 14:43] #3625 closed

[2018-08-11 14:53] kroitor commented on #3622
@npomfret

[code]

- https://github.com/ccxt/ccxt/blob/master/examples/js/symbols.js

<img width="824" alt="screen shot 2018-08-11 at 17 52 03" src="https://user-images.githubusercontent.com/1294454/43992977-663f172c-9d8f-11e8-8ee7-01c03f8d78ee.png">

<img width="518" alt="screen shot 2018-08-11 at 17 52 22" src="https://user-images.githubusercontent.com/1294454/43992981-6a0f0254-9d8f-11e8-8360-cd

[2018-08-11 14:57] kroitor commented on #3624
@npomfret hi!

- Coinfloor: https://github.com/ccxt/ccxt/issues/3622 (how to get the mappings for an exchange)
- DSX is currently broken (they've updated their API, which is not reflected in CCXT yet)

Let us know if it does not answer your question:

[2018-08-11 14:57] #3624 closed

[2018-08-11 18:14] FreeQ201 opened #3626 "symbol=base + '/' + quote"
okcoinusd.py  fetch_markets
the code:

    baseId, quoteId = id.split('_')
    base = self.common_currency_code(baseIdUppercase)
    quote = self.common_currency_code(quoteIdUppercase)
    symbol = base + '/' + quote

why the symbol is:

    symbol = base + '/' + quote
here the symbol should be:

    symbol = baseIdUppercase + '/' + quoteIdUppercase
if use 'base' and 'quote', will get the symbol l

[2018-08-11 18:31] FreeQ201 commented on #3626
thank you very much.
if use the symbol "Content And AD Network/USDT" to fetch kline data, there will be something wrong.
only use the symbol: 'can_usdt' like this:
https://www.okex.com/api/v1/kline.do?symbol=can_usdt&type=1min&size=50&since=1533925372526
this can fetch kline success.

[2018-08-11 18:33] kroitor commented on #3626
You should read the Manual, it's all explained there: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[2018-08-11 18:42] kroitor commented on #3624
P.S. This may also be a misunderstanding of "missing metadata", it is not missing as was answered here: https://github.com/ccxt/ccxt/issues/3622#issuecomment-412280219

[2018-08-11 18:44] FreeQ201 commented on #3626
thanks very much.
every is ok,
it was my fault.
only need use okcoinusd.market_id('some symbol') to get the market id.
thanks again.

[2018-08-11 18:45] kroitor commented on #3626
@FreeQ201 ok, glad you figured it out, thx for reporting back!

[2018-08-11 19:14] npomfret commented on #3624
@kroitor thanks for the reply.

I've looked at the source for examples/js/symbols.js and it uses the `exchange.currencies` to map between symbols.  However, for coinfloor it still has ` BTC:  { id: 'BTC', ...`, which is wrong it think?  Coinfloor uses _XBT_ for bitcoin.

[2018-08-11 19:36] kroitor commented on #3624
Yep, there might still be some inconsistencies there, I'll look into it and will add a patch for it. Thx for pointing that out!

[2018-08-11 19:48] npomfret commented on #3624
Thanks @kroitor

Have you guys ever discussed moving the static data (that can't be got from an api call) out into a separate project so that it can be updated without needing to do a release?

[2018-08-11 20:32] #3613 closed

[2018-08-11 21:14] npomfret commented on #692
Did you get to the bottom this?  If I want to format a price for bitfinex, what's the recommended approach?

[2018-08-11 21:22] TensorTom opened #3627 "Bitmex Leverage Fetch"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version: php7
- CCXT version: latest
- Exchange: bitmex
- Method: $exchange->fetch_balance ();

I need to query and get what the current account's leverage is set to (1,3,5,50,100) so I thought it might be in the balance query. I do s

[2018-08-11 22:18] kroitor commented on #3627
1. Read about working with implicit methods: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

2. Read BitMEX docs: https://www.bitmex.com/api/explorer/#!/Position/Position_get

![screen-shot-2018-08-12-at-01 07 18-001](https://user-images.githubusercontent.com/1294454/43996517-ecdb82ce-9dcc-11e8-9b2f-cf504a3b8dae.jpg)

3. Read BitMEX docs: https://www.bitmex.com/api/explorer/#!/User/

[2018-08-11 22:18] #3627 closed

[2018-08-11 22:25] TensorTom commented on #3627
thanks. Consider making a unified leverage method? I think most exchanges either have leverage or plan to add it.

[2018-08-11 22:26] kroitor commented on #3624
We did, but that would require a scalable infrastructure to serve the data 24/7/365. And a ton of extra requests. Ultimately, this is way less robust.

[2018-08-11 22:30] kroitor commented on #3627
@TensorTom there's just so many aspects of it to consider )) we do this gradually, unification of most common things (spot trading) first, then the more complex margin/positional/leveraged trading, futures, etc... Your contributions are welcome: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md ;)

[2018-08-11 22:48] TensorTom commented on #3627
Actually, that didn't return what leverage is set to either. I'm starting to think it can't be done. I went looking through those bitmex API methods. nothing jumping out at me. Will have my users specify for now and continue looking I suppose.

[2018-08-11 22:54] kroitor commented on #3627
Well, the leverage is nothing more than a ratio of the size of your position to your initial margin with that position or vice versa (whatever is more convenient for your application). And the initial margin of a position is set to the greater of initial margin or maintenance margin.

[2018-08-12 00:34] TensorTom opened #3628 "Bitmex Ticker Exception"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: nix
- Programming Language version: php7
- CCXT version: 1.10.1
- Exchange: bitmex
- Method: $exchange->fetch_ticker()

Trying to get the ticker for XBTUSD. If I pass "XBTUSD" or "XBT" it says it's not a valid symbol. BTC/USD is usually the one you use to p

[2018-08-12 00:37] kroitor commented on #3628
That's a very, very, very old version of CCXT you have, BitMEX has switched off that endpoint since then, so you should update your CCXT version, really. The proper symbol is `BTC/USD`, that corresponds to other exchanges as well. Let us know if updating does not help or if you got more questions.

[2018-08-12 00:37] #3628 closed

[2018-08-12 00:38] TensorTom commented on #3628
Sorry, I copied that version number from top of changelog in github

[2018-08-12 00:46] kroitor commented on #3628
@TensorTom still need your actual version. I can't reproduce it on my side:

[code]

With `cli.php` from examples:

[code]

With PHP Interactive shell:

[code]

Need more info from you... Your runtime version of CCXT (the last line of the above snippet), your actual php version, and your verbose request/response log (no need for your keys). Can you, pls, post all of that?

[2018-08-12 00:48] TensorTom opened #3629 "Bitmex Ticker Forbidden"
This was quickly marked closed/duplicate but the wrong version number was placed in the issue.

- OS: nix
- Programming Language version: php7
- CCXT version: latest
- Exchange: bitmex
- Method: $exchange->fetch_ticker()

Trying to get the ticker for BTC/USDT and I get this exception

`bitmex GET https:\/\/www.bitmex.com\/api\/v1\/quote\/bucketed?symbol=XBTUSD&binSize=1d&partial=1&count=1&reverse=

[2018-08-12 00:49] #3629 closed

[2018-08-12 00:49] kroitor commented on #3629
I suggest that we proceed here: https://github.com/ccxt/ccxt/issues/3628 (duplicate issue) ;)

[2018-08-12 02:36] TensorTom commented on #3628
This doesn't work in browser either: https://www.bitmex.com/api/v1/quote?symbol=BTC%2FUSD&count=100&reverse=false

[2018-08-12 02:39] TensorTom commented on #3628
Verbose:

[code]

[2018-08-12 07:48] kroitor commented on #3628
@TensorTom can you verify your CCXT version under Apache runtime?

[code]

↑ Which CCXT version does your Apache report, if you execute the above code under it ?

[2018-08-12 14:16] justmeonthegit opened #3632 "EQuery:Unknown asset pair for kraken ETHXBT.d"
On win64b, with python 365 I call first all symbols from the market

I get an error in pari ETHXBT.d

ccxt.base.errors.ExchangeError: kraken {"error":["EQuery:Unknown asset pair"]}

I do not understand why? I just take the list of supported symbols. Filter them on active. For each symbol get ohlcv data and then get error in this value.

Any suggestion?

My code is
[code]
This is giving a  list whi

[2018-08-12 16:36] kroitor commented on #1896
Alright, I've merged gdax, gemini and cobinhood. Binance is on the way. Added a few clarifications to the Manual, it's still incomplete though. Your help with adding the rest of methods and docs will be very much appreciated!

Key notes:
- renamed `side` field to *`type`* field
- possible values for the *`type`* field: `'deposit'` or `'withdrawal'` (not `withdraw`, but `withdrawal`!)
- added `addr

[2018-08-12 16:36] #1896 closed

[2018-08-12 18:14] #3619 closed

[2018-08-12 18:48] justmeonthegit commented on #3632
Yes, that's completly answered the question. Thanks !!

[2018-08-12 20:45] firepol opened #3636 "fetch_transactions issue currency['code']"
Hi @kroitor , I tested the unified fetch transactions new feature after you merged it.

I'm testing with python and I tested cobinhood fetch_deposits.

I get this error:

[code]

I was tempted to fix this in Exchange.js, as follows:

in `parseTransactions `instead of:
[code]

push a PR:
[code]

But then I saw that `parseTrades` and `parseOrders` have the same issue (with `market['symbol']`). Why a

[2018-08-12 20:55] kroitor commented on #3636
Check out the `.currencies` property and the `.currencies_by_id` property as well:

<img width="692" alt="screen shot 2018-08-12 at 23 48 05" src="https://user-images.githubusercontent.com/1294454/44006269-2e520742-9e8a-11e8-8ff3-3e1a02d06ec0.png">

- `markets` by pair `symbol` (unified)
- `markets_by_id` by pair `id` (exchange-specific)
- `currencies` by currency `code` (unified)
- `currencies_by

[2018-08-12 21:10] kroitor commented on #3636
I'll add a fix for the above issue with line 1266 in a few minutes.

[2018-08-12 21:15] #3636 closed

[2018-08-12 21:16] kroitor commented on #3636
I've uploaded it and it should be there in 5-10 minutes, version 1.17.117+. Thx for reporting!

[2018-08-12 23:19] lellywang opened #3637 "Bitfinex wallet transfer needs to pass Decimal"
- OS: Mac
- Programming Language version: Python 3.6
- CCXT version: 1.13.2
- Exchange: bitfinex
- Method: privatePostTransfer

When i try to transfer from exchange to margin, which is 'trading' wallet, I have to pass in the Json: `client.privatePostTransfer({'amount': '.01','currency': 'btc', 'walletfrom': 'exchange', 'walletto': 'trading'})`

but the endpoint only takes Decimal objects, which I

[2018-08-12 23:28] kroitor commented on #3637
@lellywang have you tried `'amount': '0.01'` instead of `'.01'` ?

[2018-08-12 23:30] lellywang commented on #3637
Oh that fixed it, thank you, now I'm getting

`[{'status': 'error', 'message': 'BTC cannot be used for Margin Trading. Transfer to Margin wallet not possible.'}]`

but I'm assuming that's some kind of issue on bitfinex end, let me know please if you've seen this before

[2018-08-12 23:33] lellywang commented on #3637
I solved it by using capitalized form 'BTC' instead of 'btc'! if anyone is looking around

[2018-08-12 23:33] #3637 closed

[2018-08-12 23:35] kroitor commented on #3637
@lellywang thx for reporting back!

[2018-08-13 07:34] ahmohamed opened #3638 "What is the expected cancelOrders behavior"
I am asking about cancelOrders([order_ids) should behave when one or more of the orders throw an error. I am investigating this function in BTCMarkets.

Consider this example:

[code]

At least in BTCMarkets, the response is as follows:

[code]

Should the method behave as `Promise.all` and throw an `OrderNotFound `, or return an array `[ {success: true, id:1234}, OrderNotFound ]`?

[2018-08-13 07:47] pjboro opened #3639 "[possible bug] hitbtc2.fetch_my_trades omits all "CL/BTC" transactions"
- OS: Ubuntu Bionic (as host and client) in docker
- Programming Language version: Python 3.7.0 (default, Jul 17 2018, 11:04:33) \n[GCC 6.3.0 20170516]
- CCXT version: ccxt-1.17.60.dist installed by pip3
- Exchange: hitbtc using hitbtc2 module
- Method: fetch_my_trades()

Hi!

I found something strange while trying to download my transactions history: the ccxt omits all the transactions from marke

[2018-08-13 10:34] Stock84-dev opened #3640 "getbtc None is represented as string"
Happens on all markets at specific path market.limits.price.max
On all other exchanges  there is either float or None, but in this case the value of max is 'None' (string).

- OS: Windows 7
- Programming Language version: Python 2.7
- CCXT version: 1.17.118
- Exchange: getbtc
- Method: load_markets

[2018-08-13 11:10] xmatthias commented on #2254
does `'partial': False` or `'partial': 0` work reliably against all exchanges or is this bitmex specific?

if it's working against all exchanges ... i think it's missing from the documentation ...

[2018-08-13 12:20] ahmohamed opened #3641 "Unified argument checks for createOrder"
Arguably, createOrder is one of the most important functions where a careful check of passed arguments is critical. Currently, this is done separately for each exchange. I would propose a unified `checkCreateOrderArgs` function, that can be called in `createOrder` to make sure the arguments are correct, and throw `InvalidOrder` if not.

Of course, sophisticated exchanges can override `checkCreateO

[2018-08-13 14:51] kroitor commented on #3639
Hi!

It *does not omit* them, actually...

You can download it with CCXT, however, you gotta understand the inner workings of the library, as described in the Manual, here:

- https://github.com/ccxt/ccxt/wiki/Manual#loading-markets
- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

When you start an exchange instance – it will load all markets from the exchange. It will take all e

[2018-08-13 14:51] #3639 closed

[2018-08-13 15:16] #3640 closed

[2018-08-13 15:27] pjboro commented on #3639
I read the manual, but not carefully enough, as I see now. Sorry about that and thank for your very informative response.

I've tried running the code you provided, but there is something I'm missing. The output looks as follows:
[code]
On the webpage they refer to (https://api.hitbtc.com/api/2/public/symbol) I found no mention about CLBTC. Any thoughts?

I appreciate your time. Thanks.

[2018-08-13 15:30] kroitor commented on #3639
Looks like the exchange engine itself will forbid you from fetching the trades for a market id that has been delisted. In that case you can try fetching them all at once with fetchTrades [pagination](https://github.com/ccxt/ccxt/wiki/Manual#pagination), and see if it will report those delisted trades there (there's a 50/50 chance that they will either list them in history, or will omit them within

[2018-08-13 15:43] pjboro commented on #3639
I'll try to do that, and if that wont work, I will contact the exchange itself asking for help with this problem. I'm going to post here when I learn something new. Thanks!

[2018-08-13 15:47] kroitor commented on #3639
@pjboro we will be happy if you report back whether you managed to solve it or not! Thx to you as well!

[2018-08-13 16:04] ahmohamed commented on #3641
The following checks are true for most exchanges:

[code]

There is already redundant code for most of these checks in a lot of exchanges. Others, just omit these checks altogether. If these checks can be grouped in one function, it can be added to as a first line in `createOrder` where applicable.

[2018-08-13 16:14] kroitor commented on #3641
@ahmohamed

These cases conflict with the above:

- https://github.com/ccxt/ccxt/blob/master/js/binance.js#L701
- https://github.com/ccxt/ccxt/blob/master/js/hitbtc2.js#L846

↑ We don't really force the type anywhere, we only check for it, but it can be overrided with extra params.

There's approximately 10 exchanges that want order cost instead of order amount for market buys which is also a conf

[2018-08-13 16:31] ahmohamed commented on #3641
I will have a thorough look and get back to you.

Just a quick thought: I am not suggesting to replace all the currently implemented checks. Instead, the `checkCreateOrderArgs` can be added first to exchanges with no checks implemented. Even if we exclude all the exceptions above for the time being, there will still be a good number of exchanges where we can apply the generic checks.

[2018-08-13 16:37] ahmohamed commented on #3638
I ended up with iterating through `responses` and throwing `InvalidOrder` if any had `success=false`. I thought it should behave similar to `fetchOrderBooks`, supplying a mix of valid and invalid symbols.

The only caveat is that the info about the successfully cancelled order is lost, but I think this is not critical. It will just cost the user an extra `cancelOrder` request.

Let me know what yo

[2018-08-13 16:56] jjhesk opened #3642 "New Exchange: imtoken"
uri: https://docs.token.im/tokenlon-sdk/en/#tokenlon

[2018-08-13 16:58] kroitor commented on #3638
Yep, I would do the same as a temporary solution, until we come up with a better design for exception handling.

Yep, this is what bugs me very much, the user would rather not lose it, of course, if possible.

In fact, for a real trading operation, the extra request itself is critical, so it looks like we will have to redesign our exceptions a bit. We have been planning for this, and we think exce

[2018-08-13 17:08] kroitor commented on #3638
One thing to clarify here: I'd rather throw OrderNotFound if any of them was not found, and would throw InvalidOrder, if any of them was invalid, depending on the answer from the exchange. In this particular case with HitBTC, I'd throw OrderNotFound, because: `{success: false, errorCode: 3, errorMessage: "order does not exist.", id: 4567}`. Though, it depends on how you look at it, you might consi

[2018-08-13 18:47] rjruigrok opened #3643 "Bibox withdraw apikey error"
Dear @kroitor

I'm having an issue with the api implementation for bibox, see details below:
- OS: Centos 7
- Programming Language version: PHP 7
- CCXT version: master
- Exchange: bibox
- Method: withdraw

```$bibox->withdraw('LTC', 1.0, 'litecoin address', null, array('totp_code' => '123456', 'trade_pwd' => '123456'));```

results always in the following error:

```{"error":{"code":"3011","msg":

[2018-08-13 19:07] kroitor commented on #3643
@rjruigrok have you checked if your key has a withdraw permission?

<img width="469" alt="screen shot 2018-08-13 at 22 07 06" src="https://user-images.githubusercontent.com/1294454/44052451-49d3d0a2-9f45-11e8-945c-afabdfb9ff01.png">

[2018-08-13 20:47] rjruigrok commented on #3643
@kroitor Sure.. all 3 checkboxes checked, and all necessary 2fa, trading pwd etc enabled (manual withdrawal via website also works fine)

Tried various things to get the method working, unfortunately without success.

* looks like the addr_remark contains a typo (address_remark in ccxt, but in official api refered as addr_remark). Can't confirm whether this is really the case, or a fault in their

[2018-08-13 21:05] kroitor commented on #3643
Can you try the following?

[code]

[2018-08-13 21:07] rjruigrok commented on #3643
undefined does not exist in php :)

I tried by altering the body array itself, with and without various parts. Also without the tag (which was the default).

[2018-08-13 21:07] kroitor commented on #3643
The thing is that `addr_remark` should not be there as far as I get, so a null value for it should not yield `\"addr_remark\":\"\"` in the request...

[2018-08-13 21:08] rjruigrok commented on #3643
never mind, the addr_remark was added by myself because I called it with an empty string as the param. But even when it's not there (and thus not in body, verified this), problem persists.

[2018-08-13 21:17] kroitor commented on #3643
@rjruigrok one more quick check: do you have sms confimations upon withdrawals enabled?

[2018-08-13 21:25] rjruigrok commented on #3643
@kroitor Nope, but have 2fa via totp enabled. When i do a withdrawal using the website, I have to enter the trading pwd and authenticator totp code, and then able to do succesful withdrawals

![image](https://user-images.githubusercontent.com/3985534/44058848-d06819c0-9f4f-11e8-957a-f4a8092b65bf.png)

I'm going to try your shortest possible snippet now. Brb!

[2018-08-13 21:27] kroitor commented on #3643
I've edited the above script, added a line to the beginning of it, `date_default_timezone_set ('UTC');`, just to rule out irrelevant causes.

[2018-08-13 21:39] rjruigrok commented on #3643
@kroitor see the output below. With the exact snippet, including the date setting.
Btw, the script fires 3 api calls in total. First getting all market information, then coin info, then the actual withdraw. Below is output of the last call:

[code]

[2018-08-13 21:40] kroitor commented on #3643
Yep, I've managed to reproduce it on my side with the above snippet, will debug this and will get back to you shortly.

[2018-08-13 21:41] rjruigrok commented on #3643
Thanks! If you need any help, possibly it's related to bibox api itself, if you suspect this then we can both try to push their support to fix this.

[2018-08-13 21:42] kroitor commented on #3643
@rjruigrok need to make sure it's not an error in our implementation first, but I definitely will. Thx for your responsiveness as well!

[2018-08-13 22:03] kroitor commented on #3643
@rjruigrok does this work for you, have you tried it btw? https://github.com/MaxPovver/biboxDemo The README there says it will solve the 3011 error issue, but I'm not sure yet (didn't have time to test it on my side yet). Would be great if you could help testing with that package as well. )

[2018-08-13 22:19] dbzalpha opened #3645 "BITSTAMP - apparent descrepancy in results between fetch_open_orders and fetch_order"
Hello,
Using fetch_order(id), symbol, price, amount, cost, remaining are None
Using fetch_open_orders(), and viewing the info for the same id, symbol, price, amount, cost, remaining are meaningful.
I think we should get the same information, maybe I'm wrong. Thanks for helping!

- OS: MacOs 10.13.1
- Programming Language version: Python 3.6
- CCXT version: 1.7.18
- Exchange: BITSTAMP
- Method: fet

[2018-08-13 22:28] #3645 closed

[2018-08-13 22:28] kroitor commented on #3645
Hi! In fact, bitstamp does not have a fetchOrder, so that call is emulated via fetchOrderStatus (which they do have). So, in case of bitstamp fetchOrder, it cannot really get any info from the exchange, apart from the status and a few other known fields. You can see the exchange reply as is, in the `info` field which comes in response to fetchOrder:

[code]

The above is the reply from the exchang

[2018-08-13 22:44] dbzalpha commented on #3645
Hi!
Made sense, thanks for your didactic explanation ! Need to think now about a workaround. Cheers,

[2018-08-14 06:41] bohdanz1997 commented on #3520
Hey, i googled for a long time and found solution. I run this command in terminal
`sudo apt-get install build-essential g++`
and ccxt has been installed successfully

[2018-08-14 06:49] kroitor commented on #3520
@bohdanz1997 thx for reporting back! We have received a few other similar reports and will add thr above instructions to the build script to make it more friendly. Cheers!

[2018-08-14 07:01] Piterden opened #3647 "JS conversion camel to snake"
[code]

[2018-08-14 07:32] npomfret commented on #3624
@kroitor understood.  Thanks.  So what's the release process?

[2018-08-14 07:36] kroitor commented on #3624
@npomfret on the release process itself, see this issue in particular: https://github.com/ccxt/ccxt/issues/3481 ) Hope it answers the question )

[2018-08-14 08:03] kroitor commented on #3643
I'd close this for now as it seems to be answered at this points. Feel free to reopen it if needed or just ask further questions, if any.

[2018-08-14 08:03] #3643 closed

[2018-08-14 08:09] kroitor commented on #3641
As for me, I simply suggest to implement missing but needed functionality first, like that listed here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#pending-tasks , because from my own experience users care less of the internal design of this or that base method, yet they do care more about having or not having this or that method, and they would be happy to have it even despite a non-

[2018-08-14 08:29] kroitor commented on #3647
You're welcome to join our gitter chatroom here:

[![Gitter](https://badges.gitter.im/ccxt-dev/ccxt.svg)](https://gitter.im/ccxt-dev/ccxt?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

I'm answering there as soon as I can as well. Though, GitHub might still be the quickest way and the best choice if the subject is related to the library code ;)

[2018-08-14 08:30] Piterden commented on #3647
[code]

[2018-08-14 08:32] kroitor commented on #3647
https://github.com/ccxt/ccxt/blob/master/js/base/functions/string.js#L13 ;)

[2018-08-14 08:33] Piterden commented on #3647
Why do you need that space before brackets? It is really confusing!

[2018-08-14 08:38] Piterden commented on #3647
Here is the universal split. I will try to add it to your base functions soon.
[code]

[2018-08-14 08:42] kroitor commented on #3647
) That depends on how you look at it. Tried to explain it somewhat here: https://github.com/ccxt/ccxt/pull/106#issuecomment-322058271 and in a few other posts as well. Basically it does improve readability for us a bit, despite that this feels weird at first, you can't get off it once you're hooked, you know ;)

[2018-08-14 08:47] kroitor commented on #3647
Our *edge cases* are:

[code]

[2018-08-14 09:39] AdvaithD opened #3648 "Bitfinex BTCUSD Longs/Shorts"
How do I get BTCUSD shorts/longs data from Bitfinex?

- OS: Mac
- Programming Language version: Node v8.11.3
- CCXT version: 1.17.122
- Exchange: Bitfinex
- Method: Longs/shorts

[2018-08-14 09:55] kroitor commented on #3648
You can call any of their methods with implicit API methods, as documented here: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods, thus you can call any of their endpoints from here: https://bitfinex.readme.io/v1/reference. CCXT does support all of them. So you simply find the info you need for "longs" and "shorts" in the docs for a corresponding endpoint and issue an implicit call fr

[2018-08-14 09:55] #3648 closed

[2018-08-14 11:41] Showgofar opened #3649 "Huobi cancel responce"
Hi Could you please unify cancel response at huobi

Response:

{
    "status": "ok",
    "data": "10138899000"
}

where 10138899000 is order ID

if "status": ok, then "status": should be "cancelled",

[code]
Thank you

[2018-08-14 11:42] rjruigrok commented on #3643
Thanks @kroitor for researching this!

And if I see the method suddenly starts working in the future (our bot will notice this :) I'll give an update here.

[2018-08-14 11:57] rjruigrok opened #3650 "Bit-Z api upgraded to v2"
Bit-Z has upgraded its api to v2.

The old documentation for v1 is removed, but I can confirm the code still works. V1 lacks some trading functionality, like retrieving your own trade history. v2 supports this.

https://support.bit-z.pro/hc/en-us/articles/360007423294-Bit-Z-API-Upgrade-Introduction

[2018-08-14 16:28] rkjdid commented on #1952
I finally managed to finish some ground work for the go support, see above PR, feedbacks and tests on various exchanges are very welcome obviously (there is a basic test suite included)

thanks to @franz-see for your rest wrapper, really useful to go forward with testing the models quickly.

The road to transpiling I'm not sure it will be so easy, I can't help but think that as you mentionned  @kr

[2018-08-14 21:15] orikalinski opened #3652 "truncate_to_string issue"
Hi,

There is an issue in truncate_to_string method in exchange.py
`'%f' % Decimal(num)`
![image](https://user-images.githubusercontent.com/18344939/44118772-e0056a88-a01f-11e8-9035-ca2b0f3e8cbc.png)

you might want to consider to replace it with
`("{0:.%df}" % precision).format(Decimal(num))`
![image](https://user-images.githubusercontent.com/18344939/44119548-40baf4c2-a022-11e8-9510-9e4dd47a9759

[2018-08-14 21:21] orikalinski opened #3653 "precision mechanism"
Hi,

Right now the precision mechanism works with num of digits after the floating point.
There are cases that is not enough.
For example in ccxt BitMEX precision is 0.1 (1 digit after the floating point) for XBTUSD which means 6400.87 turns into 6400.9 although BitMEX tickSize in this case is 0.5 which means 6400.87 should turn into 6401.0 if we use round or 6400.5 if we use floor

[2018-08-15 03:08] ahmohamed commented on #3638
Sure. I am not quite sure how to do partial string matching (for error message) in a portable way. Didn't find any examples outside the base `Exchange` class. Ideally, I would do `if (errorMessage.match(/not exist/)){...}` or `.search`, but that is not portable. I couldn't find a suitable core function also.

[2018-08-15 06:28] #3652 closed

[2018-08-15 06:31] kroitor commented on #3652
Thx so much for reporting! Uploaded a fix for it, should be available in 5-10 minutes as of version 1.17.125. The `truncate_to_string` method itself is deprecated, it was a rudimentary solution, but we now have decimal_to_precision instead, and we're migrating to it everywhere. The `truncate_to_string` is used in BitMEX only. And yes, as you correctly noted in the neighboring issue, it has a yet-u

[2018-08-15 06:37] kroitor commented on #3653
Yep, you're absolutely right. You see, BitMEX is a very specific case, I'd say a unique case, because no other exchange has lots   or precision/limits different from a power of ten. BitMEX has minimal lots of 0.5, 0.2 and so on. So this is still a yet unsolved issue. Check out my answer here as well: https://github.com/ccxt/ccxt/issues/3652#issuecomment-413106673.

So, as a very rough temporary so

[2018-08-15 06:38] #3653 closed

[2018-08-15 08:36] orikalinski commented on #3652
Thanks for the quick push!

Maybe I haven't myself well, I asked why did you use Decimal instead of float convertion. Decimal has some unexpected behavior in some cases

`In [25]: 1e-08
Out[25]: 1e-08

In [26]: Decimal(1e-08)
Out[26]: Decimal('1.0000000000000000209225608301284726753266340892878361046314239501953125E-8')

In [27]: float(1e-08)
Out[27]: 1e-08
`
both of them convert string into numbe

[2018-08-15 08:38] orikalinski commented on #3653
Thanks for the answer!

[2018-08-15 09:54] kroitor commented on #3652
@orikalinski yep, good point, indeed, we could've used float() there, I don't really recall why we put Decimal there, I guess it was during the times when we were trying to quickfix those nasty precision-formatting issues and did shuffle the code around... So, I will look into it more closely a bit later and will cut the Decimal out if it does not belong there.

[2018-08-15 10:08] #3649 closed

[2018-08-15 10:08] npomfret opened #3655 "lykke - weird symbol mappings"
lykke has some currencies mapped to weird UUID looking symbols.  For example, _Friendz coin_, which crypto compare has as:

[code]

https://www.cryptocompare.com/coins/fdz/overview/BTC

Looks like this as a market:

[code]

Pretty sure `"base": "03b97387-...` should be `"base": "FDZ"`.

Looks like the parser is using the _BaseAssetId_ and _QuotingAssetId_ fields, which it possibly  shouldn't.  May

[2018-08-15 14:32] hugmin42 opened #3656 "Luno orderbook_top endpoint implementation"
- Programming Language version: Python
- CCXT version: latest
- Exchange: Luno
- Method: fetch_order_book

I see that the orderbook_top has recently been added to the list of API endpoints, but the function fetch_order_book does not offer a way to implement this.

I tried looking into how I could implement it myself with something like if limit=100 use orderbook_top, but simply putting orderbook =

[2018-08-15 15:29] kroitor commented on #3656
Please, read here: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[code]

Let us know if the above does not answer your question.

[2018-08-15 15:29] #3656 closed

[2018-08-15 15:37] jjxtra opened #3657 "Bibox private API - 500 internal server error"
- OS: Windows 10 x64 latest
- Programming Language version: javascript latest node.js
- CCXT version: Latest code
- Exchange: Bibox
- Method: All private API

[2018-08-15 15:39] kroitor commented on #3657
https://github.com/ccxt/ccxt/wiki/FAQ

[2018-08-15 15:39] #3657 closed

[2018-08-15 16:44] AoDev commented on #3493
@kroitor
While I still have the warning, your answer gave me the idea to create a `webpack loader` that filters the exchanges. Do you think it would be useful to share this loader?

Configuration looks like this:

[code]

Result: (317KB stat size)
<img width="1104" alt="screen shot 2018-08-15 at 18 34 10" src="https://user-images.githubusercontent.com/1526150/44160246-1fa3f480-a0ba-11e8-9acb-202a5

[2018-08-15 17:00] kroitor commented on #3656
Yep, doing public_get_orderbook_top  for limit <= 100 would be reasonable. I've added support for it in ccxt 1.17.127. So it will call the 'orderbook_top' endpoint when limit is defined and less than or equal to 100.

[2018-08-15 17:05] kroitor commented on #3493
@AoDev

Sure, why not. We can put it into our examples and add links to it to the docs. Also, check out this related PR: https://github.com/ccxt/ccxt/pull/3399

[2018-08-15 17:07] hugmin42 commented on #3532
Sorry to post here, but not sure where else. I'm trying to get a grip on async. In the code sample above what is the advantage of using async as it seems that the orderbooks from each exchange is still retrieved consequentially and not simultaneously. How would one use async to retrieve orderbooks from different exchanges at the same time?

[2018-08-15 17:15] kroitor commented on #3532
@hugmin42 https://github.com/ccxt/ccxt/blob/master/examples/py/async-orderbooks-from-multiple-exchanges-at-once.py (same as with tickers, just changed the method names)

[2018-08-15 17:18] hugmin42 commented on #3656
Awesome, that will work perfectly

[2018-08-15 17:19] hugmin42 commented on #3532
Great thanks, will see if I can get that to work.

[2018-08-15 18:10] borgr opened #3659 "take orders"
- OS:Linox and windows
- Programming Language version: python
- CCXT version: latest (cloned now)
- Exchange:btcbox
- Method:create_order

I was wondering about take orders in btcbox.
1. what happens when I pass this function None (it failed for me, but should it be a take order? what url does it send)
2. if not is there another way of using take orders instead of make?
3. can I expect a take orde

[2018-08-15 19:54] Showgofar opened #3660 "Huobi fetch my trades - add cost"
[code]

Could you please add cost (price*filled-amount)
Thank you

[2018-08-15 20:46] AoDev commented on #3493
@kroitor I released a first version.
You can find it: https://github.com/Cryptovista/ccxt-exchanges-loader.

It's doing its job. It will simplify people's life for "custom" builds (if they use Webpack). :)
I'll add some safeguards later in case someone uses an exchange id that does not exist.

[2018-08-15 21:40] TorosCrypto commented on #1330
(KEY) ticker conflict.
SelfKey is highest cap and traded on Binance however ticker symbol is taken by Key coin which sits at 1544 on coinmarketcap.

[2018-08-15 22:34] kroitor commented on #3659
@borgr please read here on which orders can be placed with exchanges and how to place them:

- https://github.com/ccxt/ccxt/wiki/Manual#placing-orders
- https://github.com/ccxt/ccxt/wiki/Manual#how-orders-are-related-to-trades

The meanings of "maker" and "taker" as well as the difference between them is explained here:
- https://support.binance.com/hc/en-us/articles/360007720071-What-Do-Maker-and

[2018-08-15 22:34] #3659 closed

[2018-08-15 22:39] kroitor commented on #3493
@AoDev thx so much! I'll add links to it shortly!

[2018-08-16 00:33] #3660 closed

[2018-08-16 00:40] #3655 closed

[2018-08-16 05:39] MarcelBeining commented on #1407
Still not implemented?

[2018-08-16 08:12] jackfitzgerald opened #3662 "New Exchange: CryptalDash"
URL: https://www.cryptaldash.com/
API: https://api.cryptaldash.com/index.html

[2018-08-16 08:25] EmbarAlmog commented on #3318
Hi @kroitor, I have a follow up question on this subject: could you please elaborate on the reasons behinds the decision to quote the OHLCV volume in base currency and not in the quote currency (which is more intuitive and the one being used in stock market). Thanks

[2018-08-16 09:05] bohdanz1997 commented on #3221
New limits listed here: https://huobiglobal.zendesk.com/hc/en-us/articles/360000400491-Trade-Limits
It can be great to parse them from this page like in kraken implemented

[2018-08-16 12:42] kroitor commented on #3221
@benediamond yep, we've been lacking that info from their API, but, thx to @bohdanz1997 for the hint and for the link, we'll add a parser for their trading rule asap.

[2018-08-16 17:14] bohdanz1997 commented on #3221
@kroitor thx, i will be waiting with trepidation, this release:grinning:

[2018-08-16 18:24] htadashi opened #3664 "New Exchange: profitfy (https://profitfy.trade/)"
api doc: https://profitfy.trade/Home/Api
url: https://profitfy.trade/
fees: https://profitfy.trade/Home/TaxasPrazos
based country: Brazil

Still has low volumes, but the negative maker fee should interest some. I can help if translation of the documentation is needed.

[2018-08-16 19:53] Piterden opened #3665 "Propose to replace for with map"
[code]
The same will be
[code]
Maybe replace it everywher?

[2018-08-16 20:07] Piterden commented on #3665
Hm...

![image](https://user-images.githubusercontent.com/5930429/44232258-1fceed80-a1a9-11e8-884c-8bba0150521d.png)

[2018-08-16 21:26] npomfret commented on #3624
Regarding

Did you consider putting the metadata into a stand alone npm package?

[2018-08-16 21:37] npomfret opened #3666 "BTCMarkets API upgrade"
BTCMarkets are upgrading their API by the look of it. There are 3 new /v2 end points available.  Previously I only ever managed to get the most recent 200 items - they claim that's fixed now.

https://github.com/BTCMarkets/API/issues/145#issuecomment-413374596

[2018-08-16 22:04] ahmohamed commented on #3666
I am in the process of implementing that. Hopefully, I make a pull request sometime next week.

[2018-08-17 02:05] ishell opened #3667 "Bitmex symbol confused me"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:  macOS
- Programming Language version: Python
- CCXT version:  1.17.132
- Exchange: bitmex
- Method: fetch_markets fetch_ohlcv

Bitmex's symbol confused me. I saw the sample python code to create order is used `symbol = 'BTC/USD'`, While the bitmex doc is `

[2018-08-17 02:08] kroitor commented on #3667
Please, read the Manual first, it's all explained there:

- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

(I'd highly recommend to read the entire Manual from the very beginning to the very end, it will save you a ton of time.)

Then, please, follow here: https://github.com/ccxt/ccxt/issues/3540

[2018-08-17 02:08] #3667 closed

[2018-08-17 02:31] ishell commented on #3667
The `fetch_ohlcv` seems still wrong. At this time btc price is above 6300,  the data is return 235, is I used wrong?
`ohlcv5 = bitmex.fetch_ohlcv('BTC/USD','5m')`

[2018-08-17 02:37] kroitor commented on #3667
@ishell we don't change the data and we return you what the exchange itself replies with, you can verify this in *verbose* mode:

[code]

or by following here from your browser: https://www.bitmex.com/api/v1/trade/bucketed?symbol=XBTUSD&binSize=5m&partial=true

So, I guess, you should rather forward this question to BitMEX?

[2018-08-17 02:39] kroitor commented on #3667
@ishell just to be clear, you're looking at prices from year 2015.

[2018-08-17 02:43] kroitor commented on #3667
@ishell from the above, I'm afraid, it follows that you can't really skip reading the entire Manual first )) Let us know if you have questions left after that ;)

[2018-08-17 02:46] ishell commented on #3667
@kroitor  Thx, i will read the ccxt doc first.

[2018-08-17 03:44] kroitor commented on #3665
Well, we could, of course, however, I don't see a practical reason to do so ) I mean, for me that particular edit wouldn't really make a significant difference, or, in other words, it works for me either way. So, I'd rather focus on yet unsolved problems ) I don't have any technical objections and I do agree that it would make the code shorter and a tiny bit cleaner for a price of making the trans

[2018-08-17 03:44] #3665 closed

[2018-08-17 04:08] kroitor commented on #3318
@EmbarAlmog hi!

Despite that volumes of stocks may be denoted in quote currency, most crypto exchanges will output OHLCV candles with volumes in base currency, so we just use what the majority of exchanges offers. I think, this is due to the nature of the base assets themselves.

If you think of it, when you see `"a volume of 50 AAPL"` that doesn't really tell you much about the actual value of t

[2018-08-17 06:52] bohdanz1997 opened #3668 "Bitbay (zonda) and TheRockTrading hasn't methods^ fetchOrder, fetchOrders"
- CCXT version: 1.17.134
- Exchange: Bitbay, TheRockTrading
- Method: fetchOrder, fetchOrders

Both exchanges provide api endpoints for fetching list of orders:
Bitbay: https://bitbay.net/en/private-api
TheRockTrading: https://api.therocktrading.com/doc/v1/index.html#api-Trading_API-ListOrders

So we need to add this method to each exchange implementation

[2018-08-17 09:34] npomfret opened #3669 "new exchange: https://ndax.io"
It's canadian.  They do FIAT pairs.

[2018-08-17 09:39] npomfret commented on #3669
Sorry, this has already been suggested.

[2018-08-17 09:39] #3669 closed

[2018-08-17 09:45] npomfret commented on #1281
They shut down.  Might as well close this.

[2018-08-17 10:47] kroitor commented on #3668
Your contributions and PRs are welcome! )

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#pending-tasks
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#derived-exchange-classes

<img width="1505" alt="screen shot 2

[2018-08-17 10:56] proeng commented on #3337
I am not sure if this is proper place to ask, but it follows the original question.
I am building a trading bot and i have a problem with btimex returning None on bid+ask, as you answered above, but i am confused how to solve the issue.
Problem is if i use fetch_markets, or order_books, i will run out of my allowed data to fetch per minute real quickly, i need to be able to fetch specific data abo