[2017-11-30 17:23] kroitor commented on #406
- https://github.com/ccxt/ccxt/blob/master/examples/js/hitbtc2-withdraw.js
- https://github.com/ccxt/ccxt/blob/master/examples/py/hitbtc2-withdraw.py

[2017-11-30 17:32] Fcl69 commented on #406
Shit :(

I'll try to get a brand new key & run with the code above. I'll keep you posted.

[2017-11-30 17:34] kroitor commented on #406
@Fcl69 to me it seems like a key / limit issue. I don't have 7-9 ETH to test your particular settings, but in general, we might even need to ping their support team to see if there's an implicit limit on API withdrawals on your account...

[2017-11-30 17:43] kroitor commented on #406
@Fcl69 HitBTC also has a known undocumented bug with their keys, so, in general, you should disable them and re-enable them or just recreate them in order for the keys to make it into their database properly.

[2017-11-30 17:48] kroitor commented on #406
The most likely reason for the above to me: your transfer didn't make it to the general account in 1.5 seconds of your delay, before you tried to withdraw it, thinking that it has arrived. Maybe, a longer sleep will help in your particular situation (after a transfer). As you see, in the above example I'm testing pure withdraw only, without doing the transfer first.

[2017-11-30 17:53] Fcl69 commented on #406
I really don't think it's the case, but I'll test it as well. Give me 2-3 hours please

[2017-11-30 17:54] kroitor commented on #406
@Fcl69 try breaking it into smaller pieces, do a withdraw first, verify it works, then do a transfer+withdraw, etc... Well, you know.

[2017-11-30 18:05] Fcl69 commented on #406
I think I found the issue. So...
I was trying to withdraw the full amount I had on the main account. It said "Insufficient funds". I've tried to withdraw lower amount, it worked. The problem was that it had withdrawn the full amount + it took fees for withdrawal from the main account as well. Prior to that, hitbtc was taken withdrawal fees from the withdrawal amount itself. :-\ Bitches...
I'll nee

[2017-11-30 18:07] kroitor commented on #406
First of, thank you for reporting this!
And you're not wasting my time, in fact, I'm collecting those artefacts, so, thank you again! )
Let us know if you have any other difficulties with it! Cheers!

[2017-11-30 18:18] toothlessG22 commented on #40
Are you still working on this issue? If so, how are you tackling it? Hardcoding? Scraping? I’d like to to try to help.

Thanks.

[2017-11-30 18:26] kroitor commented on #40
@toothlessG22 most of the work on it is now going on here: https://github.com/ccxt/ccxt/pull/553
We're now unifying fetchCurrencies() because we believe the withdrawal fee should be a property of the currency. So, we're adding a special entity for currency, and the `.currencies` property on the Exchange is now an assoc array of such entities.

The plan is: I'm going to merge the above PR in a coup

[2017-11-30 18:38] kroitor commented on #40
@toothlessG22 this is also an important part of the whole story: https://github.com/ccxt/ccxt/pull/473

[2017-11-30 19:25] #707 closed

[2017-11-30 20:40] toothlessG22 commented on #40
@kroitor Thanks for the info! Looking forward to the merge.

[2017-12-01 03:14] speggos opened #716 "calculating lot size"
Hello,

I'm getting the following error when trying to place a binance sell order:
raise InvalidOrder(self.id + ' order amount should be evenly divisible by lot size, use self.amount_to_lots(symbol, amount) ' + body)
ccxt.base.errors.InvalidOrder: binance order amount should be evenly divisible by lot size, use self.amount_to_lots(symbol, amount) {"code":-1013,"msg":"Filter failure: LOT_SIZE"}

Ho

[2017-12-01 03:16] kroitor commented on #716
Hi!

What do you mean, *unable*? Is there an invisible hand holding you off from calling that method? )

[2017-12-01 03:17] speggos commented on #716
I'm unaware how to access the method. Since it is defined in the same file as createLimitSellOrder, I don't know why I'm getting this error:

AttributeError: 'binance' object has no attribute 'mount_to_lots'

when trying to call it like this:

binanceCcxt.mount_to_lots("ADA/ETH", quantity)

[2017-12-01 03:18] kroitor commented on #716
The method is called `amount_to_lots`, not `mount_to_lots`...

[2017-12-01 03:22] #716 closed

[2017-12-01 03:22] speggos commented on #716
Wow, I am unworthy. You're right there.

I'm slightly confused on how to use this method, is my problem

[2017-12-01 03:23] kroitor commented on #716
It returns a value truncated to lot sizes of Binance, so the value that you get from amount_to_lots should be passed further to createOrder in the amount argument.

[2017-12-01 03:24] speggos commented on #716
Alright, so assuming I calculated quantity corectly, I'd simply call:

binanceCcxt.amount_to_lots("ADA/ETH", quantity)

which would return the quantity which I should place into creatLimitSellOrder?

[2017-12-01 03:25] kroitor commented on #716
Yep, exactly)

[2017-12-01 03:25] speggos commented on #716
Thank you! You are a gentleman and a scholar

[2017-12-01 04:35] shubianzhanshi opened #717 "Binance/Python: CERTIFICATE_VERIFY_FAILED"
The same script works in my local linux machine with python 3.5.2, whereas failed in my Cloud machine with python 2.7.13, error information as follows. I have tried many solutions, still failed.

('Got an error', 'ExchangeNotAvailable', ('binance GET https://www.binance.com/exchange/public/product <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)> ',)

[2017-12-01 04:38] kroitor commented on #717
Let me guess: is your cloud machine hosted in China? Because if it is, Binance is blocking Chinese locations. Does this help?

[2017-12-01 04:42] kroitor commented on #717
From Binance:

[code]

[2017-12-01 04:46] kroitor commented on #717
To me it looks like the certificate authority behind Binance SSL certificate is blocked in China. I'm closing this as a duplicate if you don't mind. Feel free to ask questions if you have any. Thx!

[2017-12-01 04:46] #717 closed

[2017-12-01 08:19] kesali opened #718 "BTCTurk Javascript api can not connect. Error: Malformed UTF-8 data"

[2017-12-01 09:46] nmiculinic commented on #709
Yeah, I guess so...

I was busy lately; will check again sometime in the future what's the status of this one.

[2017-12-01 11:37] pciavald opened #721 "quadrigacx withdrawal function"
Hi,
First of all, thank you very much for your work.

I'm trying to withdraw from quadrigacx, but `quadrigacx.withdraw is not a function` and printing the exchange shows `hasWithdraw: false`. However the documentation shows that withdrawals are supported, and I see some private methods in the class...

Can you help ?
Thank you

[2017-12-01 12:24] #718 closed

[2017-12-01 12:27] kroitor commented on #721
Hi!

Thanks for your feedback!

The withdraw API has been started not very long ago and we don't have all `withdraw()` methods implemented yet. But we will add the implementation for QuadrigaCX withdraw very soon, or, you may as well help us implement it, if you submit a PR, we welcome all contributions. More about it here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md. If you feel like

[2017-12-01 12:32] kroitor commented on #718
Reference: #719

[2017-12-01 12:40] kroitor commented on #709
Ok, I'll close this for now if you don't mind, feel free to reopen it if needed. Thx!

[2017-12-01 12:40] #709 closed

[2017-12-01 12:40] #713 closed

[2017-12-01 14:24] pciavald commented on #721
thank you, i'll try to submit a PR then :)

[2017-12-01 14:31] kroitor commented on #721
@pciavald that would be awesome! That should be pretty much straightforward. Just take a look at other `withdraw()` implementations and you'll get it very quickly. Let us know if you have any questions. Thx!

[2017-12-01 14:57] orkenstein commented on #694
@kroitor, got a question about 'limits':

What is exactly, `amount`, `price` and `cost`?

[2017-12-01 15:01] idrispendisbey opened #723 "symbols missing in some exchanges"
Hi,

Thank you for all your work. I am not an experienced python user, however it seems to me that some exchanges return None when using exchange.symbols method, such as:

binance, bithumb, bitmex, bittrex, cex, cryptopia, kraken

,while the exchanges below return the symbol list with no problem:

bitfinex2, bitstamp1, btcturk, coinfloor, itbit

Please let me know if I have been doing anything inc

[2017-12-01 15:16] kroitor commented on #694
- `amount` is what you submit as `amount` argument to createOrder, so, it's the ordered amount (the total volume of an order)
- `price` is the price of a limit order in question, or a market price for the symbol in question
- `cost` is the product of the above

[2017-12-01 15:26] kroitor commented on #723
Most of the time, you need to load markets to be able to access symbols and their properties.

https://github.com/ccxt/ccxt/wiki/Manual#loading-markets

This will be done automatically upon your first call to the Unified API. But if you are not calling the unified methods after instantiation and try to access markets right away after creating the exchange, it can fail, because those markets don't

[2017-12-01 15:27] idrispendisbey commented on #723
Thank you for the info!

[2017-12-01 15:28] kroitor commented on #723
P.S. The above is easily explained: we avoid hardcoding the markets, and we load them from the exchange itself after the instantiation, but we don't want to make it implicitly, therefore you should call that method where markets are not hardcoded. This explains why some exchanges work right away (hardcoded markets) and some require a `load_markets()` first (markets are always up to date fetched fr

[2017-12-01 15:31] #723 closed

[2017-12-01 18:07] vikaskedia opened #724 "Use CCXT to invest in top 10 cryptos and rebalance each week"
I want to invest in top 10 cryptos and rebalance each week. Is using ccxt for this a good idea. I am a programmer so I can add features etc.. if needed.

Or should I be using some other library.

[2017-12-01 18:13] kroitor commented on #724
Hi!

Yes )

That may be needed as well ) We appreciate all help.
I'd recommend to start from here:
- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/tree/master/examples
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

More about your particular task:
- https://github.com/ccxt/ccxt/issues/71
- https://github.com/ccxt/ccxt/issues/721
- https://github.com/ccxt/ccxt/search

[2017-12-01 18:24] vikaskedia commented on #724
places like https://www.bitwiseinvestments.com/fund charge 2.5% annually and then 3% at withdrawal .. to do something a script can do .. for a 100K investment over 5 years they will take away $15,500 in fees.

that sounds crazy high fees for a little bit of programming.

Am I missing something here?

[2017-12-01 18:30] kroitor commented on #724
@vikaskedia would you sell your lifetime reputation for $15500 / year ? How about risk? I don't think this whole thing boils down to just a little bit of programming, I believe, there's more to it, there's a ton of economic reasons that should be factored into this to understand their percentages.

However, I'm not familiar with their structure, this might be their arbitrary choice as well. In thi

[2017-12-01 18:32] vikaskedia commented on #724
Can you please enumerate some of the risks for which they are charging 15.5% of the amount invested.

Since its 15,500 for a 100K investment. What is the investment is 1 million ?

[2017-12-01 18:39] kroitor commented on #724
- A risk of being hacked
– A risk of making wrong investment decisions
– A risk of not managing to run it properly
– A risk of altcoin/shitcoin crash

A typical fund makes hundreds and thousand of related decisions daily. Do you think it's hard to make a mistake in these circumstances with complex systems and transactions? Haven't you heard of other funds and banks crashing before?

Basically, whe

[2017-12-01 18:55] #724 closed

[2017-12-01 18:56] vikaskedia commented on #724
its an index fund .. so they are not making investment decisions and

there are no risk of altcoin/shitcoin crashing since the investment is in top 10 coins ..

Yes. But if all I have api access to poloniex for the client I am shifting the risk to poloniex getting hacked.

I think most of us can write bug free 100 lines of code. And if there is a bug the worse that happens is that the rebalance fo

[2017-12-01 18:59] kroitor commented on #724
Just do it then ) You are missing millions, because other guys are taking 3% for that, so, if you will write 100 lines of code that will do the same, say, today, or, in a week or a month, then you can run your own fund, right? So, if you're not running your own fund yet, I guess you haven't tried creating and running one ) It's that simple to me.

No big deal, really. Many exchanges have high fiat

[2017-12-01 19:01] vikaskedia commented on #724
Thanks 👍

You are right i have a lot to learn about the economy.

[2017-12-01 23:42] exzib opened #727 "Get deposits and withdrawals?"
How come we cant pull out our withdrawal and deposit history?

[2017-12-02 00:14] kroitor commented on #727
@exzib I guess, nobody has unified it yet ) CCXT allows fetching deposit and withdrawal history with custom methods right away out of the box (where supported by the exchange), but that part of the API was not unified in a cross-exchange-compatible-way yet. So, if you feel like you want to give it a try, i'd recommend to start here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md
Does thi

[2017-12-02 13:25] dimitar-petrov opened #729 "liqui parse_order is returning None when order remaining size is zero"
Hello Guys,

order['remaining'] is None instead of 0 for liqui.py

Comparision of liqui.py
[code]

versus bittrex.py
[code]

BR,
Dimitar

[2017-12-02 13:39] dashersw commented on #253
I solved this by using microseconds for the nonce,

`nonce () { return this.microseconds() }`

[2017-12-02 14:33] exzib opened #730 "How to get all exchanges, markets and pairs?"
Is there anyway to grab all exchanges markets and pairs in PHP?

I've been trying to loop through the $exchanges with no success like so:

https://i.imgur.com/3r9mJaF.png

[2017-12-02 16:28] AdamCox9 opened #731 "Decentralized Exchanges"
Going to support decentralized exchanges such as Bitshares, EtherDelta, etch...

[2017-12-02 17:02] kroitor commented on #731
https://github.com/ccxt/ccxt/issues/715

[2017-12-02 17:02] #731 closed

[2017-12-02 17:55] kroitor commented on #729
Hi! We can't set it to 0 by default, because that would mean that the order is filled and closed. Liqui does not return that particular field consistently, so we have to set it to None to indicate the undefined remaining value. Does this answer your question ?

[2017-12-02 18:34] dimitar-petrov commented on #729
Hi krotor,

Alright, I got you.

I am actually trying to work with ccxt.yobit, but it is inheriting parse_order from liqui.
Does same inconsistency apply to yobit ordering?

Thanks.

[2017-12-02 18:40] kroitor commented on #729
@dimitar-petrov yep, all BTC-e clones have that API, they can only report remaining volumes on open orders, and if the order is closed, they don't report that at all, making it impossible to deduce from their data.

[2017-12-02 18:52] dimitar-petrov commented on #729
Thanks @kroitor !

[2017-12-02 18:52] #729 closed

[2017-12-02 18:58] #730 closed

[2017-12-02 18:59] kroitor commented on #730
Learn to catch and work with exceptions. I made an example for you here:

https://github.com/ccxt/ccxt/blob/master/examples/php/load-all-at-once.php

More about it here:
- https://github.com/ccxt/ccxt/wiki/Manual#error-handling
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2017-12-02 19:00] #727 closed

[2017-12-02 19:07] kroitor commented on #253
@dashersw thanks for reporting back!

[2017-12-03 00:57] jfima opened #733 "PHP cex fetch_balance USD error"
USD is not represented in total

[code]
result:
[code]

Where is USD?

i can fix this issue  if add new element USD  in $base_currencies
$base_currencies[] = array ('id'=>'USD','code'=> 'USD');
.. /base/Exchange.php
[code]

but it does not look good. maybe you will find a way how to solve this problem gracefully.

[2017-12-03 02:10] fredfortier commented on #715
I started working on this. A key consideration is that EtherDelta uses token addresses instead of a set list of currency pairs (aka markets). That's how traders are able to trade ERC20 tokens right after distribution without a formal listing. Unless a more clever idea comes to mind, a static file containing a symbol / token address mapping should do the job.

[2017-12-03 03:53] kroitor commented on #715
Currently, we don't have support for Websocket APIs, but we are working on it.

Yep, these two considerations are two main problems with integrating that distributed exchange, this is why I placed this link above: https://github.com/ccxt/ccxt/issues/404. I'd suggest to integrate their REST API with a static file, then switch to their WS API later, when we add support for WS to the library.

[2017-12-03 04:16] guopengliang opened #734 "Incorrect ticker symbols from CoinMarketCap"
Run `fetchTickers()` from `coinmarketcap` and we get incorrect ticker symbols:
[code]

[2017-12-03 04:25] guopengliang commented on #734
I did a little bit research and found that it's because the default `fetchMarkets()` for `coinmarketcap` did not fetched all markets available.

Specifying `{ limit: 0 }` would fix the problem:
https://github.com/ccxt/ccxt/blob/d2b08a6327b77fdcbb46312f0a5cd58c656bfa98/js/coinmarketcap.js#L71
Reference: https://coinmarketcap.com/api/

[2017-12-03 12:58] munrocket commented on #734
Fixed this problem in my pull request #553.

[2017-12-03 14:18] kroitor commented on #734
This was fixed in one of the previous versions of CCXT, which version of the library do you have?

[2017-12-03 14:22] #734 closed

[2017-12-03 15:49] mkutny opened #736 "nonce gets out of order"
I do sometimes issue requests simultaneously and rely on the rate limiter to serialize them.

Let's say I use `ava` testing framework and my testfile looks something like this:
[code]

`ava` runs its `test`s concurrently and (quite seldom but still) I get something like:

Obviously, requests get mixed somewhere between signature and actual fetch.

And the only place I can think of where they can b

[2017-12-03 15:55] kroitor commented on #736
Do you get this line from the exchange, or do you print yourself?

[2017-12-03 16:02] kroitor commented on #736
To me this looks as if the following is happening:
1. You send 1512312887
2. You immediately send 1512312888
3. 1512312888 gets there first, the nonce is updated
4. 1512312887 arrives late, (sent 1512312887, should send 1512312889)

So, in fact, those requests get **sent** in order but can **arrive** out of order due to the connectionless nature of HTTP. I don't really see a workaround for this, u

[2017-12-03 16:04] kroitor commented on #736
However, the above can also indicate a bug somewhere in current implementation of the `throttle()` mechanism...

[2017-12-03 18:11] mkutny commented on #736
I've been chasing the cause of `nonce too small` for quite a while and finally (and luckily) got this one from the exchange. At least now we can discard the possibility that they get signed the same (milli)second.

BTW, I was always wondering why by default `nonce()` returns seconds (and only sometimes you override it to milliseconds). Why not have milliseconds as a default?

Never thought about t

[2017-12-03 18:31] kroitor commented on #736
We avoid mixing private requests, mostly. But yes, we have them from time to time.

Yep, we need to switch the underlying HTTP `fetch()` transport/wrappings to something stream-based, apparently. What substitution would you suggest?

[2017-12-04 07:58] #733 closed

[2017-12-04 08:05] kroitor commented on #733
This issue is fixed in 1.10.279. Thank you for reporting! Let us know if you have any other questions or difficulties with the library.

[2017-12-04 08:40] mkutny opened #742 "explicit conversion of cost/price/fee/amountToPrecision"
Hey,

as it touches base class I'd rather ask first and than PR (if you agree).

Of the four `*ToPrecision` functions, the latter returns `number` while the first three return `string`.

I believe that in userland we (users) primarily work with numbers, not strings and in most cases, JS silently coerces types for us so it goes unnoticed.

Although, that coercion is not universal. I'm not able to f

[2017-12-04 08:53] kroitor commented on #742
Hi!

The reason for that is because floats don't save the precision at all. Basically, it boils down to the arbitrary precision support, related to this issue: #522 .

Turns out in JS you either have precision control with strings, or no precision control with floats. So the way to fix this is to have a single `toPrecision (numberOrDecimalFloatString, decimalDigits, typeOfTruncationOrRounding)` wi

[2017-12-04 09:41] mkutny commented on #742
I think that we speak about two different things.

1. Arbitrary precision math itself.

As `floats` don't save precision all implementations have an internal representation (container) for floats. For example, `ccxt` uses `strings` and it might happen that some libs also use `string` but others may employ whatever container they found useful.

I'm a supporter of switching to a lightweight lib also

[2017-12-04 10:20] kroitor commented on #742
If we do that right away inside those methods, that would break precision-formatting for exchange APIs, because the same functions are used for building the request, as expected by their engine and precision filters.

We believe this should be a mix of the two (optional):

A. User wants more flexibility over precision: he switches to floats for convenience / coersion, losing a few satoshis on `sma

[2017-12-04 10:55] mkutny commented on #742
Hmm... It might happen that I simply don't understand something but I really do not see "**OR**" in between "flexibility" and "precision".

I agree with that we use `strings` for calculations. At the same time, I don't see any problems with returning `numbers` after the math is done. I don't say there are no problems, I just don't see them.

Just an excerpt of your poloniex code:
[code]

Here you

[2017-12-04 11:33] kroitor commented on #742
If you want to compare prices, a strict comparison of floats might yield a miss, if they aren't aligned in terms of significant digits. In other words, you can't compare floats at all, have to use the EPSILON: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/EPSILON for that. Also, if you do rounding on floats, you will be fine, but if you try truncation, tha

[2017-12-04 11:56] munrocket commented on #693
@donaldinho thanks for this PR! I am needed this typescript constructor too.
Anyway I think this issue not fully closed and we need more type definition for different exchanges.
I would like to add some type defenition too.

Also I agree with @andersea. It's seems that we have little issue with declaration.

[2017-12-04 11:58] kroitor commented on #693
@munrocket the work on this merge is started here: https://github.com/ccxt/ccxt/pull/705

[2017-12-04 12:01] kroitor commented on #736
Some exchanges won't accept milliseconds, but practically all of them accept seconds. In fact, I think we should invert (set default to milliseconds and override the outliers).

[2017-12-04 12:02] #721 closed

[2017-12-04 12:07] mkutny commented on #736
I just finished testing and I think I'd switch to keepalive connections. Actually, I've found it surprising that you don't use them (probably due to legacy reasons).

Agree!

[2017-12-04 12:13] mkutny commented on #742
So if we look at `createOrder` Is there any difference (in terms of results) between:
[code]
and
[code]
?

I mean, does really `parseFloat` loose information?

[2017-12-04 12:16] kroitor commented on #742
@mkutny it does not loose info, but it yields an improperly formatted string. The float itself does not loose the precision (within 64 bits), but the float formatting goes wild. So, changing that line would break it, because the value would not pass through precision-filters on the exchange side. Many exchanges are very sensitive to this. Therefore strings are returned to ensure exact formatting.

[2017-12-04 12:37] kroitor commented on #736
We also did a test for HTTP/2 but most of exchanges don't support it. Anyway, feel free to change it, if you see a straightforward edit for this, I'll do my best to rework this part asap.

[2017-12-04 12:37] mkutny commented on #742
Just note, that on the very next line you proceed with:
[code]

`amountToPrecision` returns `numbers`, not `strings`.

It looks not consistent when some methods return `numbers` and some `strings` but well... I'll learn to somehow keep up with it )

Thanks for your time anyway )

[2017-12-04 12:37] #742 closed

[2017-12-04 12:39] kroitor commented on #742
The above may actually be a bug, not a feature. We don't have it fully "settled" yet, therefore we are open to all proposals. Thx for your feedback as well!

[2017-12-04 12:45] #736 closed

[2017-12-04 12:47] kroitor commented on #721
This was added in version 1.10.282. Thx!

[2017-12-04 13:17] munrocket commented on #693
We need this header in the top of ccxt.d.ts
`
export as namespace ccxt;

export const version: string;
export const exchanges: string[];

**here all exports in the root**
`
but this will conflict with #705

[2017-12-04 13:21] kroitor commented on #693
@munrocket I'd wait for other participants to comment on this, because I'm not very familiar with Typescript, but, wouldn't `export as namespace ccxt;` *expose* the namespace and thus contradict the principle of encapsulation? Sorry, if I'm making a stupid assumption.

[2017-12-04 13:36] munrocket commented on #693
You know that i am not familiar with Typescript too. But it's just work perfectly. Here example of usage with this fix:
[code]
or we can import only one class of library
[code]

[2017-12-04 14:15] nihow666 opened #745 "How to use websocket in python?"
hi
How to use websocket in python
thx!

[2017-12-04 14:19] kroitor commented on #745
Hi! Sorry, but your question is duplicate. We currently don't have support for WS, but we are working on it and it is on the way. More about it in the Manual and here:

- https://github.com/ccxt/ccxt/search?q=ws&type=Issues
- https://github.com/ccxt/ccxt/search?q=websocket&type=Issues

[2017-12-04 14:19] #745 closed

[2017-12-04 16:32] kangilrhee opened #746 "pip install"
When I install ccxd on command line of Mac, I got a message like a following.
How can I install ccxt?

pip install ccxt

Collecting ccxt

  Using cached ccxt-1.10.282-py2.py3-none-any.whl
Requirement already satisfied: setuptools in /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python (from ccxt)
Installing collected packages: ccxt
Exception:
Traceback (most recent call last)

[2017-12-04 16:34] kroitor commented on #746
Have you tried `sudo pip install ccxt` ?

[2017-12-04 16:36] kangilrhee commented on #746
@kroitor Thanks.! I installed 👍  :)

[2017-12-04 16:37] #746 closed

[2017-12-04 17:37] andersea commented on #693
@kroitor  and @munrocket I agree with the example of munrocket above. (But I am also not an expert on this subject, by any means.) From the documentation @munrocket linked, which I also read earlier it looks correct. This is one of the more confusing aspects of typescript though.

As far as I understand it, if it is actually wrong, what will happen is that you can get code that compiles fine, but

[2017-12-04 17:42] kroitor commented on #693
@andersea currently, we do it with [Travis CI](https://travis-ci.org/ccxt/ccxt/builds) and we upload the JS source that gets transpiled, then gets tested and then the distributions get packaged to various repositories. I don't see a big problem with adding one more language for testing, because we already have `./run-tests.js` that checks JS, Python and PHP for us. So, throwing Typescript into thi

[2017-12-04 17:56] Fcl69 opened #747 "question about binance error"
Hello,

the other day I've enocuntered this error maessage:

    raise InvalidOrder(self.id + ' order amount should be evenly divisible by lot size, use self.amount_to_lots(symbol, amount) ' + body)
ccxt.base.errors.InvalidOrder: binance order amount should be evenly divisible by lot size, use self.amount_to_lots(symbol, amount)

Details about the order:

Can you please help me to understand what

[2017-12-04 19:56] dexter369 opened #748 "CancelAllOrders and CancelAllOrdersByPair"
Do you plan to implement "CancelAllOrders" and "CancelAllOrdersByPair" as I cannot find it at:
https://user-images.githubusercontent.com/1294454/32969545-9a3e0f30-cbf6-11e7-8c71-2ef54d4b889f.png

[2017-12-04 20:58] kroitor commented on #747
Hi! This is described here: https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md !

[2017-12-04 20:58] #747 closed

[2017-12-04 21:07] jla415 opened #749 "timeouts in javascript leave node process hanging"
Hello

Currently the timeout timers are not cleared from ccxt requests leaving the node process hanging until the timer resolves in functions.js

Example code:

[code]

Result:

[code]

Expected result would be for the node process to exit in 879ms, not 10.735s

I would suggest saving the id from https://github.com/ccxt/ccxt/blob/f2bc03ec9c293a5f123989c7c247a05d5e58f02d/js/base/functions.js#L17 an

[2017-12-04 22:02] kroitor commented on #749
Thanks for reporting this! Will fix very soon!

[2017-12-04 22:05] kroitor commented on #748
@dexter369 yes, we actually want to unify all functionality (btw those methods are implemented as custom methods for all exchanges because ccxt implements all endpoints out of the box, so you can use the exchange's custom API (`console.log(exchangeInstance)` or `print(dir(exchange_instance))` to see the full list of available methods with the exchange in question. So you can cancel them all with a

[2017-12-05 00:11] dexter369 commented on #748
ok thanks, was not aware of the custom method implementations.

[2017-12-05 00:16] kroitor commented on #748
Yep, they should work, just consult the docs of the exchange (param names are exchange-specific, this is what "custom" means). We will let you know you when we have those methods unified, in the meantime, if you don't mind, i'd close this issue for now. Feel free to reopen it if needed or just ask questions, if any. Thx!

[2017-12-05 00:16] #748 closed

[2017-12-05 01:03] kroitor commented on #736
More to this: after reviewing this whole issue we think this behaviour should be user-controlled (optional), namely, whether it should wait for the beginning of a reply before sending the next request or not.

There's a strong-counter argument against turning it on by default: most of the time we need bursts of requests to still continue working. The support for bursts of requests is implemented w

[2017-12-05 02:22] #749 closed

[2017-12-05 02:25] jla415 commented on #749
Thank you for the quick fix

[2017-12-05 02:29] scoshil opened #752 "ACX post multi orders incorrect signature"
I'm trying to test sending multiple orders with ACX using their orders/multi endpoint, but having issues with the signature.

All the other public and private endpoints/functions I've tested work as per the documentation, just this one that's giving me an error.

I saw someone else post a similar-looking issue re Bittrex signatures but not sure if this is the same issue.

Code:
[code]

Error:

[co

[2017-12-05 02:31] kroitor commented on #752
Hi! Thanks for reporting, I will look into this asap and will get back to you with my findings.

[2017-12-05 06:06] CryptoTropico opened #753 "Is there way to get all YoBit OPEN orders?"
It may be an obvious thing! But I can't find this anywhere!

I am using:

But it looks like I need to specify the pair, otherwise it returns this error:

`errors.js:3 Uncaught (in promise) ExchangeError: yobit fetchOrders requires a symbol
    at yobit.fetchOrders (https://unpkg.com/ccxt@1.10.286/build/ccxt.browser.js:19502:19)
    at yobit.fetchOpenOrders (https://unpkg.com/ccxt@1.10.286/build/cc

[2017-12-05 06:45] kroitor commented on #753
Unfortunately, YoBit indeed requires you to specify a symbol to fetch open orders (they only server orders for a particular pair and they can't serve mixed orders). The same is true for all BTC-e clones: Liqui, Tidex, Wex, YoBit..

Sorry, but this is not something we can workaround. It's a limitation of their API. So you will have to supply a symbol. Does this answer your question?

[2017-12-05 07:16] ivicaca opened #754 "fetch balance on CEX bug"
After updating the ccxt library from 1.10.97 (or something similar) to 1.10.282 the following bug appears after invoking the function `fetchBalance`():

...
  File "C:\Program Files\Python27\lib\site-packages\ccxt\cex.py", line 126, in fetch_balance
    'free': float(balances[currency]['available']),
TypeError: string indices must be integers

[2017-12-05 07:31] kroitor commented on #754
Can you please show verbose output?

[2017-12-05 08:16] ivicaca commented on #754
The method where error appears is

[code]

while debugging, the `balances `value is:
{u'username': u'up105237066', u'ZEC': {u'available': u'14.06861920', u'orders': u'0.95552393'}, u'USD': {u'available': u'0.14', u'orders': u'0.00'}, u'BCH': {u'available': u'0.01841842', u'orders': u'0.00000000'}, ...

currencies list value is:
<type 'list'>: [u'username', u'ZEC', u'USD', u'BCH', u'GBP', u'GHS', u

[2017-12-05 08:49] kroitor commented on #754
Thanks for reporting, will fix it shortly!

[2017-12-05 08:52] #754 closed

[2017-12-05 10:20] mkutny commented on #749
Oh, my God!

I was always curious what causes node to wait for a while before exiting but never had a chance to dig into the problem.

Awesome!!!

[2017-12-05 11:01] mkutny commented on #736
With keepalive we have just one syn/ack and one TLS handshake but a serial execution.

With per-request connections we achieve parallelism but every request gets its separate session setup overhead.

You're basically saying that the latter is necessarily faster. Well, I'm more inclined to agree but would love to performance test, just out of curiosity.

I tried to test with Kraken but having timeo

[2017-12-05 11:27] Mambix opened #755 "can not import ccxt.async in python"
Just did `pip install ccxt` and when trying to use it I get this:

[code]

[2017-12-05 13:22] itsmemittal commented on #708
Would you help me how to get open high low close for daily candle with this library?
if you give me example that would be best.

[2017-12-05 14:11] frosty00 commented on #715
I've actually written a bot that trades using etherdelta so I am familiar with the ins and outs of the exchange.

**A few things that you may want to consider before writing the interface:**

1. When depositing tokens they must invoke the depositToken function (if they are sent normally they will be lost forever) - so the fetch_deposit_address should issue a warning

2. As of now only has a websoc

[2017-12-05 14:35] mkutny commented on #736
BTW, does it mean that you don't plan to spread individual bucket configurations over exchange implementations?

[2017-12-05 15:23] kroitor commented on #755
The `async` functionality is Python3 only!

[2017-12-05 15:23] #755 closed

[2017-12-05 15:25] kroitor commented on #715
@frosty00

That would be awesome!

[2017-12-05 15:34] kroitor commented on #736
Well, practically all of them... https://docs.gdax.com/#rate-limits

[code]

In fact, it means the opposite ) We are going to add tokenBucket configs to all exchanges ) So, please, do send PRs on this matter, your help on this would be appreciated a lot, as always! Thx!

[2017-12-05 15:37] kroitor commented on #708
@itsmemittal here you go:

- https://github.com/ccxt/ccxt/blob/master/examples/js/fetch-ohlcv-cex.js
- https://github.com/ccxt/ccxt/blob/master/examples/js/basic-chart.js

[2017-12-05 15:49] #753 closed

[2017-12-05 16:16] Mambix commented on #755
I see. might be worth adding a note in docs

[2017-12-05 17:31] orkenstein commented on #694
@kroitor, so we have `createOrder()`. How it should work for successful/failed orders?

[2017-12-05 19:49] CopurOnur opened #757 "Arbitrage trading"
@kroitor
Hello guys,
I am new to the ccxt library and I want to use the library for building an arbitrage trading bot on python. I have checked the example on https://github.com/ccxt/ccxt/blob/master/examples/py/arbitrage-pairs.py
but I am still not confident about how to create a bot. If there is a template code that you can share with me, I could get an idea how to build the bot.
Thanks for your

[2017-12-05 21:20] kroitor commented on #757
We will be posting new examples soon and hope to share a bot skeleton there, however, you should be prepared to create a strategy of your own, nobody will invent it for you, and guys that do have a strategy aren't really eager to share their profits ) Welcome to our world of friendly sharks.

If you want a bot template, see here:
- https://github.com/ccxt/ccxt/network/dependents
- https://github.c

[2017-12-05 21:20] #757 closed

[2017-12-05 21:23] kroitor commented on #755
@Mambix this has been documented here:
https://github.com/ccxt/ccxt/wiki/Manual#synchronous-vs-asynchronous-calls

![screen-shot-2017-12-06-at-00 22 16](https://user-images.githubusercontent.com/1294454/33631448-adf1d3da-da1b-11e7-954f-76a2efd0514e.jpg)

[2017-12-05 21:25] kroitor commented on #755
From the main README (frontpage of the lib):

![screen-shot-2017-12-06-at-00 24 20](https://user-images.githubusercontent.com/1294454/33631556-f7d109da-da1b-11e7-8641-2a08b56f021e.jpg)

[2017-12-05 21:31] kroitor commented on #694
@orkenstein yep, we also have `handleErrors()` to catch the exceptions before the standard default HTTP error handler, you might want to put all checks into `handleErrors()`, see other existing implementations for examples. Most of the time it does throw an exception of a specific type (if recognized, like InsufficientFunds or InvalidOrder), or a generic exception (like DDoSProtection, NetworkErro

[2017-12-06 03:45] WilhelmErasmus opened #759 "Luno does not implement limits or precision and this prevents trades"
I am using gekko(https://github.com/askmike/gekko/pull/1365) and trades are prevented from occuring by this. Possibly by implementing a standard limit of 0 if an exchange does not define its own limit.

[2017-12-06 03:47] kroitor commented on #759
Thanks for reporting! Will look into it asap.

[2017-12-06 05:40] pro-respirator opened #760 "how to use bitfinex2 fetch_trades params"
I'm trying to get the last n trades on bitfinex markets, using fetch_trades but it seems that the since/limit parameters are not implemented like on fetch_ohlcv.
`

    def fetch_trades(self, symbol, since=None, limit=None, params={}):

        market = self.market(symbol)

        response = self.publicGetTradesSymbolHist(self.extend({

            'symbol': market['id'],

        }, params))

[2017-12-06 06:35] nucwzq opened #761 "Binance: Timestamp for this request is outside of the recvWindow"
ccxt.base.errors.ExchangeNotAvailable: binance GET https://api.binance.com/api/v3/account?timestamp=1512541759554&signature=3ba4ae0ff09589889c60082902f0bae89f45920d0fb764670c65ef6fa4ea9751 400 Bad Request  {"code":-1021,"msg":"Timestamp for this request is outside of the recvWindow."}

the error is derived from the follow code:

bina.fetch_balance()

[2017-12-06 06:35] kroitor commented on #760
Please, be a little more specific next time )

1. You almost did it right, but the `limit_trades` is the v1 parameter, and with v2 the correct parameter name is `limit`:

- https://docs.bitfinex.com/v1/reference#rest-public-trades ← `limit_trades`
- https://docs.bitfinex.com/v2/reference#rest-public-trades ← `limit`

This code does work in your current version:

[code]

↑ the above code will print

[2017-12-06 06:35] #760 closed

[2017-12-06 06:36] kroitor commented on #761
What's your system time? Is it in sync with global UTC time?

[2017-12-06 06:41] kroitor commented on #761
http://currentmillis.com/

[2017-12-06 06:45] nucwzq commented on #761
It seems the local time, and I test the following code:

print time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(time.time()))

the output is: 2017-12-06 14:39:09

[2017-12-06 06:53] kroitor commented on #761
Do this:

[code]

[2017-12-06 06:59] nucwzq commented on #761
It is working!!! Thanks!!!!!!!!!!!!!!

[2017-12-06 07:00] kroitor commented on #761
@nucwzq did you change your system time to fix it?

[2017-12-06 07:01] nucwzq commented on #761
That I can't remember...

[2017-12-06 07:02] kroitor commented on #761
@nucwzq I mean just now, did you change your time to make it work?

[2017-12-06 07:06] nucwzq commented on #761
@kroitor yes, I run your above-mentioned code and the sys time is changed now.

[2017-12-06 07:06] kroitor commented on #761
Ok, thanks for reporting back! Cheers!

[2017-12-06 07:06] #761 closed

[2017-12-06 07:07] nucwzq commented on #761
@kroitor it's coooollll, thanks!!!

[2017-12-06 08:04] pro-respirator commented on #760
Thanks for the help

[2017-12-06 08:27] ronreiter opened #762 "When will there be support for push-based events?"
There are many exchanges that provide push support via websockets or other mechanisms. I don't see there's a framework for that yet but I have seen mentions of supporting this in the documentation.

I would be happy to contribute code if there was a way.

[2017-12-06 08:33] kroitor commented on #762
Hi!

See the answer here: https://github.com/ccxt/ccxt/issues/745

We hope to deliver WS support very soon, hopefully, this year. Sorry, but your issue is a duplicate, I'd close it for now, if you don't mind.

Your contributions are welcome! More about it here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

[2017-12-06 08:33] #762 closed

[2017-12-06 10:16] mazertwo opened #763 "New exchange: tradesatoshi.com"
Hi!

Can you add tradesatoshi.com?

API: https://github.com/WorldBot/Trade-Satoshi-API/blob/master/api_tradesatoshi.php

[2017-12-06 13:54] munrocket commented on #693
Ok new fix `declare module 'ccxt' {` works well too. Thanks.

This will be really cool.

[2017-12-06 17:51] autaut03 opened #768 "Verbose true in file"
https://github.com/ccxt/ccxt/blob/master/js/hitbtc2.js#L184

[2017-12-06 20:00] fredfortier commented on #715
I spoke with the EtherDelta people. They confirmed @frosty00 's comment that the REST api is unavailable. In my opinion, this downside is significant enough to rule it out.

@frosty00 the project which you linked looks great! A python wrapper is what I need as well for my project but I wanted to contribute to CCXT to help its community.

I suggest that we have these options:

1. Modify the Python

[2017-12-06 20:12] dexter369 opened #769 "Missing fetch_deposit_address from livecoin and kraken"
Adding my quick php implementations:

livecoin.php

[code]
kraken.php

[code]

[2017-12-06 21:20] pciavald commented on #721
damn, you're too fast. Thank you ! Next time for the PR

[2017-12-06 21:20] orkenstein opened #770 "Trade simulation"
Are there any platform, that provide trade simulation?

[2017-12-06 21:24] kroitor commented on #721
@pciavald feel free to submit contributions, we will be looking forward to hear from you! Let us know if you have any difficulty with it! Thx!

[2017-12-06 22:27] kroitor commented on #715
I think, it would, however, we have to be careful with this, because each added feature introduces the need to keep everything consistent and backward-compatible. I think we'd rather go with plan 2:

Because the work on WS has been started already, I'd suggest you to take a look here: https://gist.github.com/kroitor/7dce1d23a10937ab8c07a5451f17ccf2
These are design considerations for supporting WS

[2017-12-06 22:33] kroitor commented on #770
Don't know if there's a package in JS, but I know of backtrader.com (they integrate CCXT: https://community.backtrader.com/topic/623/anyone-use-backtrader-to-do-live-trading-on-bitcoin-exchange/32). To me this whole task boils down to data aggregation (in a scalable way).
However, it depends pretty much on what type of simulation you want, whether it is paper trading on live feeds or backtesting w

[2017-12-06 22:35] orkenstein commented on #770
@kroitor Paper trading on live feeds with something more "real", then just random sell/buy orders execution.

[2017-12-06 22:38] kroitor commented on #770
@orkenstein there's no readily available solution. For that you will need Machine Learning to make trading decisions (you should think scalable: cloud computing, management, paying for all of this), and you will need both live feeds and historical feeds for training your neural networks. I don't know of an existing end-user solution to this. I guess, you will have to make it.

[2017-12-06 22:52] orkenstein commented on #770
Any good sources of historical data?
This [one](https://bitinfocharts.com/markets/livecoin/ltc-btc-all.html) is really cool, but no trace of API.
I'd like to have detailed exchange-specific history for multiple pairs.
Thanks

[2017-12-06 22:59] kroitor commented on #770
@orkenstein i'd like to have that too! I guess, thousands of people would like that as well, so, if you come up with a solution to this, you're going to make yourself a fortune. Check this out: https://coinigy.com

[2017-12-06 23:16] orkenstein commented on #770
@kroitor sweet pricing :D

[2017-12-06 23:18] #769 closed

[2017-12-06 23:19] kroitor commented on #770
Would you mind if I close this? Let us know if you still have any questions )

[2017-12-06 23:21] orkenstein commented on #770
@kroitor, sure, enough for now.
Lemme know if something else shows up.
Thanks in advance.

[2017-12-06 23:21] #770 closed

[2017-12-07 00:27] Fcl69 opened #772 "XMR (Monero) Withdrawal and Payment ID example"
Hello!

Many (all?) exchanges require both wallet + payment ID to deposit XMR (Monero).
Therefore, once withdrawing you should specify both wallet address and payment id. I failed to find a code example for payment id param:
`exchange.withdraw (currency, amount, address, params = {})`

Could you please help it?

Thank you in advance,

[2017-12-07 00:29] kroitor commented on #772
@Fcl69 it is exchange-specific currently, we don't have this particular aspect of XMR unified yet. However, we have started a major rework of currencies, so we hope to support for that soon. In the meantime, you will have to look the name of that param in exchanges' docs. We will notify you on progress. Let me know if the above does not answer your question. Thx!

[2017-12-07 00:33] Fcl69 commented on #772
Ok, got it. So... just to confirm. Here's what binance API says, for example:

Does it mean my code should look like that:
`exchange.withdraw ('XMR', 1, 'address', params = {addressTag='payment_id'})`
?

[2017-12-07 00:35] kroitor commented on #772
@Fcl69

Almost, the exact meaning is:

[code]

[2017-12-07 00:36] Fcl69 commented on #772
gotcha! Thank you so much as always!

[2017-12-07 00:36] #772 closed

[2017-12-07 00:48] nucwzq opened #773 "Binance: "Timestamp for this request is 1000ms ahead of the server's time %s"
ccxt.base.errors.ExchangeNotAvailable: binance GET https://api.binance.com/api/v3/account?timestamp=1512607422293&signature=1f47f5f............................ 400 Bad Request  {"code":-1021,"msg":"Timestamp for this request is 1000ms ahead of the server's time %s."}

[2017-12-07 00:50] kroitor commented on #773
You need to synchronize your clock with a time server to keep up with them, or you can add a `recvWindow` extra param, like so:

[code]

↑ let me know if the above solves your problem.

[2017-12-07 01:00] nucwzq commented on #773
How to synchronize the clock with a time server to keep up with them? You mean I have to synchronize the clock every time when the program is run.

[2017-12-07 01:02] kroitor commented on #773
@nucwzq no, it depends on your system, but on Windows and Mac you can just turn time synchronization in your time / system settings, and on linux you can run a daemon that pings the time server in background and adjusts your system clock if needed. That is not a part of your program, the task of timesynch is usually solved with existing software and OSes.

[2017-12-07 01:04] kroitor commented on #773
However, Binance offers a `recvWindow` param if you have a time synch issue, and it should actually solve that problem for you.

[2017-12-07 01:06] nucwzq commented on #773
@kroitor OK, Sorry, I still have little idea. So, what should I do in my program, and I run it in win10 sys.

[2017-12-07 01:09] kroitor commented on #773
[code]

[2017-12-07 01:15] nucwzq commented on #773
@kroitor
I changed the program "all_balance = bina.fetch_balance()," into "all_balance = bina.fetch_balance({'recvWindow': 10000000}),". It still have the error: ccxt.base.errors.ExchangeNotAvailable: binance GET https://api.binance.com/api/v3/account?timestamp=1512609171808&recvWindow=10000000&signature=69f6... Bad Request  {"code":-1021,"msg":"Timestamp for this request is 1000ms ahead of the se

[2017-12-07 01:22] kroitor commented on #773
@nucwzq

https://github.com/binance-exchange/binance-official-api-docs/blob/master/wapi-api.md#timing-security

A very dirty **not recommended hack** that will make it work:

[code]

However, I **highly recommend** to set up time synchronization in your Windows 10 settings:

![bwdwt](https://user-images.githubusercontent.com/1294454/33693875-43f29442-db06-11e7-86e3-429356c9de46.png)

[2017-12-07 02:13] #773 closed

[2017-12-07 02:35] nucwzq commented on #773
@kroitor thank u! I try the second methods you mentioned above, and it seems work now.

[2017-12-07 02:40] kroitor commented on #773
@nucwzq thanks for letting us know! Cheers!

[2017-12-07 09:04] nucwzq opened #774 "binance GET https://www.binance.com/exchange/public/product The read operation timed out"
ccxt.base.errors.ExchangeNotAvailable: binance GET https://www.binance.com/exchange/public/product The read operation timed out

The problem often appears, has anyone met the same problems?

[2017-12-07 09:05] kroitor commented on #774
@nucwzq that endpoint is deprecated since recently, please update your ccxt version ;)

[2017-12-07 09:09] nucwzq commented on #774
@kroitor thank u for replying me so fast, you mean I just need top update the ccxt version by "pip install ccxt",  and it will be addressed?

[2017-12-07 09:10] kroitor commented on #774
@nucwzq yep, exactly... but you should do `pip install ccxt -U` (-U means "upgrade")

[2017-12-07 09:11] nucwzq commented on #774
@kroitor ok, thank u, i will try it at once.

[2017-12-07 09:12] kroitor commented on #774
Let us know if the problem goes away.

[2017-12-07 09:17] nucwzq commented on #774
the problem is addressed, but there is another new problem
do the code: exchange.markets[coin]['info']['tradedMoney']
and the error is: KeyError: 'tradedMoney'

[2017-12-07 09:22] kroitor commented on #774
@nucwzq you should not use the exchange-specific `info` field, because that was changed with the  endpoint. So you're trying to access the non-existing exchange-specific field, and you basically generate the exception by doing that. It's a reason not to use exchange-specific fields. Please, read this very carefully from the beginning to the very end: https://github.com/ccxt/ccxt/wiki/Manual (it ha

[2017-12-07 09:25] nucwzq commented on #774
@kroitor ok, thank u.

[2017-12-07 09:28] kroitor commented on #774
I would close this for now if you don't mind, let me know if I can help you with anything else. Thx!

[2017-12-07 09:28] #774 closed

[2017-12-07 09:28] nucwzq commented on #774
@kroitor ok

[2017-12-07 10:34] orkenstein commented on #694
@kroitor, what should be included into PR?
Not sure about `ccxt.browser.js`

[2017-12-07 10:37] kroitor commented on #694
@orkenstein most of the files are generated from JS, so we only edit base classes in JS/Python/PHP + derived exchange classes in JS. All derived exchanges are transpiled from JS to other languages, including the browser version. But base classes are not transpiled.
So, in other words:
Base classes are language-specific
Derived classes are language-agnostic

[2017-12-07 10:56] orkenstein commented on #694
Made a PR https://github.com/ccxt/ccxt/pull/775

[2017-12-07 11:00] kroitor commented on #694
@orkenstein thanks! Reviewing it now.

[2017-12-07 11:10] nucwzq commented on #774
Dear @kroitor , i still have no idea about " not to use exchange-specific fields." , what shoud i do? For example, i want got the current tradedMoney of 'BCD/BTC'.

[2017-12-07 11:16] kroitor commented on #774
@nucwzq their current API does not return that anymore, but let me ask why do you need `tradedMoney`? Or what do you need it for? How did you interpret that?

[2017-12-07 11:21] nucwzq commented on #774
@kroitor I want find the active coins, and i use the trading volume (tradedMoney) as a index.

[2017-12-07 11:22] nucwzq commented on #774
@kroitor the  trading volume in one day.

[2017-12-07 11:22] kroitor commented on #774
@nucwzq 24-hour trading volume?

[2017-12-07 11:22] nucwzq commented on #774
@kroitor yes, with to BTC

[2017-12-07 11:23] kroitor commented on #774
@nucwzq why not using tickers for that? Those are unified and are standardized in ccxt for all exchanges... moreover most people will use tickers for that...

[2017-12-07 11:25] nucwzq commented on #774
@kroitor ok, i will try it.

[2017-12-07 11:26] kroitor commented on #774
https://github.com/ccxt/ccxt/wiki/Manual#price-tickers

[2017-12-07 11:45] nucwzq commented on #774
@kroitor whether the methods "fetch_ticker"  have a selection to get the ticker information with in diffirent  time interval, for example 1h, 30min........

[2017-12-07 11:48] kroitor commented on #774
All tickers contain 24-hour stats. If you need historical volumes, use fetchTrades / fetchOHLCV

[2017-12-07 12:08] nucwzq commented on #774
@kroitor thanks for u kindness!!!!

[2017-12-07 12:11] nucwzq commented on #774
@kroitor whether should i set a time sleep between any two request, for example:
print(exchange.fetch_ticker('BCPT/BTC'))
time.sleep(bina.rateLimit / 1000) # time.sleep wants seconds
print(exchange.fetch_ticker('BCD/BTC'))

[2017-12-07 12:16] kroitor commented on #774
[code]

[2017-12-07 12:21] nucwzq commented on #774
@kroitor you mean I just need to add the code “”exchange = ccxt.binance({'enableRateLimit': True})“” in my program.

[2017-12-07 12:22] kroitor commented on #774
@nucwzq yes... and error handling of course.

[2017-12-07 12:22] kroitor commented on #774
https://github.com/ccxt/ccxt/tree/master/examples

[2017-12-07 12:26] nucwzq commented on #774
@kroitor As for a private API request, how to set the param {'enableRateLimit': True}?

exchange = ccxt.binance({
    'apiKey': '....',
    'secret': '...',
})

[2017-12-07 12:29] kroitor commented on #774
[code]

If you want a **real** advice: start reading right now. I will not be able to guide you to money step by step. You will still have to spend some time learning, reading the Manual, watching examples, understanding how it works.

[2017-12-07 12:36] nucwzq commented on #774
@kroitor OK, Thanks!!!! I will read the Manual at once, thank u so much!!!!

[2017-12-07 13:24] nucwzq opened #776 "binance : The handshake operation timed out"
Here is a new error....................

ccxt.base.errors.ExchangeNotAvailable: binance GET https://api.binance.com/api/v1/ticker/24hr?symbol=IOTABTC <urlopen error _ssl.c:492: The handshake operation timed out>

[2017-12-07 13:26] kroitor commented on #776
Are you located in China?

[2017-12-07 13:29] nucwzq commented on #774
dear @kroitor is there a "," behind the ( 'enableRateLimit': True ) or not?

exchange = ccxt.binance({
    'apiKey': '...',
    'secret': '...',
    'enableRateLimit': True,           (here  the , )
})

[2017-12-07 13:29] nucwzq commented on #776
@kroitor YES.......

[2017-12-07 13:32] kroitor commented on #774
@nucwzq doesn't matter, same result both with and without it

This is ok:

[code]

This is also ok:

[code]

You definitely need to learn more Python first, then move to algorithmic trading. Your questions obviously come from the lack of basic Python programming skills, because your questions are not related to the library itself, but are related to Python syntax rules.

[2017-12-07 13:32] kroitor commented on #776
@nucwzq do you use windows?

[2017-12-07 13:34] nucwzq commented on #774
@kroitor I am very grateful to you for your advice.

[2017-12-07 13:35] nucwzq commented on #776
@kroitor Yes, the win 10

[2017-12-07 13:40] kroitor commented on #776
@nucwzq what's your version of Python?

[2017-12-07 13:45] nucwzq commented on #776
@kroitor Python 2.7.6

[2017-12-07 13:51] nucwzq commented on #776
@kroitor Whether I need to open VPN and to update the python version and the error can be addressed?

[2017-12-07 13:54] kroitor commented on #776
@nucwzq most likely you need this: https://stackoverflow.com/a/31915123/5055465

[2017-12-07 13:55] kroitor commented on #776
@nucwzq is this issue consistently repeating?

[2017-12-07 13:57] nucwzq commented on #776
@kroitor yes, i just run it, it still have the error.

[2017-12-07 13:59] nucwzq commented on #776
@kroitor Where to download the domain validation certificate as mentioned in : https://stackoverflow.com/a/31915123/5055465

[2017-12-07 14:03] Felipe-Mangueira opened #777 "Bitstamp withdrawals"
Hi, @kroitor,

By reading the API documentation from Bitstamp, I noticed there is a POST method to request withdrawals of many crypto-coins. Apparently, this feature is not implemented on the last version. I would very thankful if you could implement this method on the next update. Is there any chance of this desire come true?

[2017-12-07 14:06] nucwzq commented on #776
@kroitor as mentioned  in : https://stackoverflow.com/a/31915123/5055465
it uses its own located at ?\lib\site-packages\certifi\cacert.pem.
There is no certifi\cacert.pem in my python file path.
![default](https://user-images.githubusercontent.com/21311417/33719132-bd5768b4-db9a-11e7-97d4-08ad2928123f.png)

[2017-12-07 14:07] rdbr opened #778 "Rate limits per API function"
Rate limiting generally works fine, but some heavy functions like `fetchBalance` and `fetchTickers` have a different rate limit on some exchanges than regular lighter functions. For example, Poloniex doesn't allow multiple `fetchBalance` calls in a row, within the normal rate limit. It would be nice to have a configurable rate limit per API function per exchange on top of the normal `rateLimit`.

[2017-12-07 14:22] kroitor commented on #776
In fact... the timeout tells that they will drop your connection anyway... Does it work for you with a public CORS proxy?

[code]

↑ Does it work?

[2017-12-07 14:29] kroitor commented on #778
@rdbr we already support that mostly (still not documented, however), please read this: https://github.com/ccxt/ccxt/issues/736. We implement a *Token Bucket* rate limiter with support for call cost, bursts, etc, but it is in experimental state currently. For now it will require you to override some methods for controlling the call costs, because that aspect is not completely unified yet. We will

[2017-12-07 14:29] #778 closed

[2017-12-07 14:47] rdbr commented on #778
I have seen #736, but the problem is not solved by defining the `cost` of the function. It would require a Token Bucket per API function, on top of the normal Token Bucket, because after a heavy function, other functions can still be called, only the same heavy function must be delayed.

It could be solved in the application level by using new throttle objects, but than the `throttle` constructor

[2017-12-07 14:55] kroitor commented on #778
It wouldn't really require multiple token buckets, because a single token bucket can easily handle that behaviour. This can be done by tweaking the logic of current implementation of `throttle()`. It has a queue, and heavy requests from the queue can be skipped while lighter requests may be allowed if the bucket has enough space for that. But you're right, we will have to expose the `throttle` for

[2017-12-07 15:54] nucwzq commented on #776
@kroitor ccxt.base.errors.DDoSProtection: binance GET https://cors-anywhere.herokuapp.com/https://api.binance.com/api/v1/ticker/24hr?symbol=BNTBTC 429 Too Many Requests  The origin "*" has sent too many requests.
The number of requests is limited to 600 per 60 minutes. Please self-host CORS Anywhere if you need more quota. See https://github.com/Rob--W/cors-anywhere#demo-server

[2017-12-07 15:55] nucwzq commented on #776
I run the above-mentioned code, there is the error:
ccxt.base.errors.DDoSProtection: binance GET https://cors-anywhere.herokuapp.com/https://api.binance.com/api/v1/ticker/24hr?symbol=BNTBTC 429 Too Many Requests  The origin "*" has sent too many requests.
The number of requests is limited to 600 per 60 minutes. Please self-host CORS Anywhere if you need more quota. See https://github.com/Rob--W/co

[2017-12-07 16:34] nucwzq commented on #776
I rerun the code with the following codes, and it is working now. However, i don't know whether it will occur the same error later.
exchange = ccxt.binance({
    'apiKey': '.....',
    'secret': '.....',
    #'proxy': 'https://cors-anywhere.herokuapp.com/',  #  ← last slash critical
    'enableRateLimit': True,
})

[2017-12-07 18:14] zo34 opened #782 "New exchanges: whaleclub.co and paxful.com"
Two exchanges I would love to see added are:

whaleclub.co
paxful.com

Thanks!

[2017-12-07 18:58] pciavald commented on #167
Hi @kroitor,
regarding the 2 commits added early september, can we use directly withdraw() on hitbtc's main account after using the following :
[code]
and I got the error :
[code]

[2017-12-07 19:49] dhmk815 opened #783 "What is the best way to know if the market is available or not?"
What is the best way to know if the market is available or not?
For example, last price of 'BTC/CNY' in 'quoine' exchange can be fetched even if the market has been closed.

[2017-12-07 21:52] #776 closed

[2017-12-07 22:04] kroitor commented on #783
@dhmk815 currently, we have started to unify the `active` market property, however, it is not unified for all exchanges yet. We will be happy if you contribute to this work. We are also reworking the currencies API (fetchCurrencies) to be able to track disabled funding along with inactive markets. Let me know if it answers your question or not. Thx!

[2017-12-07 22:13] kroitor commented on #167
@pciavald this is now fixed, please update ccxt to most recent version. Let us know if you still have difficulties with it after upgrading.

Thanks for the feedback! I'd say the transfer upon withdrawal should be optional (user-controlled).

[2017-12-07 22:26] kroitor commented on #777
Absolutely not! No way! Never! Just forget about it! We would implement any method, but not that one!

[2017-12-08 00:34] nucwzq commented on #776
@kroitor I found the code sometimes is ok, but sometimes have the error:

ccxt.base.errors.ExchangeNotAvailable: binance GET https://api.binance.com/api/v1/ticker/24hr?symbol=BTSBTC <urlopen error _ssl.c:492: The handshake operation timed out>

[2017-12-08 00:43] kroitor commented on #776
@nucwzq yep, we're observing the same occasionally... Still investigating into this.

[2017-12-08 00:48] nucwzq commented on #776
@kroitor Ooook, I am waiting for your good news :)

[2017-12-08 00:50] kroitor commented on #776
@nucwzq can you paste a full report, like here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?
When pasting code please use triple backtiks (&#96;&#96;&#96;) to enclose your code for readability like so:

&#96;&#96;&#96;
your code
&#96;&#96;&#96;

&#96;&#96;&#96;
verbose output
&#96;&#96;&#96;

[2017-12-08 01:09] nucwzq commented on #776
Dear @kroitor i run it again, and the error hasn't appear now. If the error appear again, i will as soon as possible and as  detail as possible to describe the error report. Thank u.

[2017-12-08 01:45] nucwzq commented on #776
@kroitor It appears the errors:

Traceback (most recent call last):
  File "F:/py_project/Crypto_data_analysis/test_first_qt.py", line 57, in <module>
    dcoinlist = crypto.get_dcoinlist(coinlist, droprate, volume, curr_price)##返回当天下降droprate的币
  File "F:\py_project\Crypto_data_analysis\crypto.py", line 32, in get_dcoinlist
    last_price = exchange.fetch_ticker(coin)['last']###访问公有API，获得当前最新要价

[2017-12-08 03:26] kroitor commented on #776
[code]

1. **Start paying attention to EVERY detail**. It means, literally, each letter and each symbol.
2. Read the Manual.
3. Browse through examples.
4. Learn to handle errors and exceptions in code with try/raise/except.
5. Learn and practice more Python, there's a lot of that on the internet. I can't physically teach everyone to code in Python even if I wanted to, sorry. Your question is like

[2017-12-08 03:33] nucwzq commented on #776
@kroitor ..........Thank u!!!!!!

[2017-12-08 14:39] pciavald commented on #167
you're a crypto-divinity. Thank you very much.

About the option to transfer funds, the problem is that say you're working with 4 markets in an array, it's good to be able to iterate on the markets to withdraw with a single form of function. Because what makes the most sense is to trade (from trading) and withdraw (from main), i think the manual option should be to NOT transfer before withdrawing,

[2017-12-08 15:06] 3droj7 opened #787 "GDAX fetching ohlcv with the "since" parameter doesn't work properly"
Hey,

When using the GDAX exchange for getting OHLCV, it seems to ignore the "since" parameter and it retrieves the last 200 records of the OHLCV table.

[code]
I tried to fetch the last 30 days and it got me the last 200 day..
Btw, it worked with the "kraken" exchange

[2017-12-08 15:30] j-a-m-l opened #788 "GDAX request timestamp expired"
While I was trying GDAX API, I had problems connecting to it (`{"message":"request timestamp expired"}`).

I've solved them using a custom nonce generator, based on the [official GDAX Node.js client](
https://github.com/coinbase/gdax-node/blob/9a59db269857d10cb449c44cd6a0f51c630abd5c/lib/request_signer.js#L15):
[code]

Could this be considered a bug or improvement, or it was just a personal issue?

[2017-12-08 15:36] brdu commented on #787
What are the [0] and [length-1] dates of the array?

I was going to create an issue for this after looking into it more. Looks to me like gdax is returning OHLCV in order [new, .., old] where other exchanges return in [old, .., new]

[2017-12-08 15:58] 3droj7 commented on #787
The values are -
[0] = 1512691200000L # 2017-12-08 02:00:00
[-1] = 1494633600000L # 2017-05-13 03:00:00

[2017-12-08 17:35] brdu commented on #787
Ah ok not related then. Does `time.time()` return milliseconds or seconds? Whats the value `1000*(time.time()-(60*60*24*30))` outputs?

Gdax returns a max 200 candles.. so the timestamp is probably off by a lot.

[2017-12-08 18:13] Ericxgao opened #791 "Possible to add link to a symbol?"
For example, bittrex and BCC/BTC would be https://bittrex.com/Market/Index?MarketName=BTC-BCC

[2017-12-08 18:29] 3droj7 commented on #787
Ok... It seems that I used the version from PyPI and not from the repository.
It works for me now. Sorry for the waste of time.
By the way, there is no significant difference in gdax.py between PyPi and the latest version which is weird \:

[2017-12-08 18:30] #787 closed

[2017-12-08 18:54] zo34 opened #792 "enableRateLimit:true - ""

[2017-12-08 18:54] zo34 opened #793 "enableRateLimit:true"

[2017-12-08 19:01] zo34 opened #794 "GDAX enableRateLimit:true yields "Rate limit exceeded""
I enabled the rate limit using this bit of code:

`exchange = ccxt.gdax ({
    'enableRateLimit':True, # let ccxt manage the xfer rate
})`

And then called my async loop like this:

`asyncio.get_event_loop().run_until_complete(main(exchange))`

Which yielded the following... I don't understand `asyncio` very well, and I'm unsure how to enforce sequential, timed calls to the exchange. I thought ena

[2017-12-08 19:03] #792 closed

[2017-12-08 19:03] #793 closed

[2017-12-08 19:43] zo34 commented on #794
So, I just realized that using `await` ensures that the calls are sequential, but does nothing for the timing. Is that still handled by ccxt via the `enableRateLimit:True` setting? Or do I also need to handle the rate limit in my logic?

[2017-12-08 20:39] leoplct opened #796 "Same symbol in different exchange with different name"
Binance --> IOTA/ETH
Bitfinex --> IOT/ETH

or

Bittrex BTC/USDT
Bitfinex BTC/USD

These two symbols refer to the same exchange rate. How do deal with only one symbol?

[2017-12-08 21:59] kroitor commented on #788
Hi!

In fact, this is documented in the Manual:
- https://github.com/kroitor/ccxt/wiki/Manual#overriding-the-nonce
- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/wiki/Manual#authentication

Let us know if you have more questions! I'd close this for now as a duplicate, if you don't mind. Feel free to reopen it if needed.

[2017-12-08 21:59] #788 closed

[2017-12-08 22:09] kroitor commented on #791
This may be added in future, but for now this is in low priority. It was requested previously:
More about it here: https://github.com/ccxt/ccxt/issues/108
I'm closing this, let us know if you still have questions, we'll be happy to help.

[2017-12-08 22:09] #791 closed

[2017-12-08 22:27] kroitor commented on #796
IOTA is correct, IOT is a mistake. This was fixed.

USDT is **not the same** as USD. This pair will not be corrected. Please read about the differences between Tether USD and USD. Bittrex has BTC/USDT only, whereas Bitfinex supports both types of currencies (funding) and trades BTC/USD.

On USDT/Bitfinex you probably want to read this: https://www.reddit.com/r/bitfinex/

[2017-12-08 22:27] #796 closed

[2017-12-08 22:29] kroitor commented on #167
@pciavald thx for the feedback, we will reconsider this very carefully!

[2017-12-08 22:37] kroitor commented on #787
@3droj7 thanks for the feedback! As you may know, we are under active development, therefore we ask our users to update frequently. New fixes and features are added daily.

@brdu respect for the support!

[2017-12-08 22:52] #783 closed

[2017-12-09 00:15] adi90x opened #798 "Hitbtc v2 fetchOrder(id)"
Hello ,

Seems that Hitbtc V2 api is getting undefined for the price when trying to fetch an order by id.
It seems to work fine with v1 api !

Regards,

[2017-12-09 00:16] kroitor commented on #798
Hi! Can you please paste your code snippet and **verbose** output? We will take a look into it. Thx!

[2017-12-09 00:34] adi90x commented on #798
Thx for the quick answer , I am using your example : examples/js/fech-orders.js
Just replacing bitrex by hitbtcv2 , and using `fetchOpenOrders` instead of `fetchOrders` ( not available for Hitbtc)
Running that will return a `const order` with undefined price & cost property .
While it perfectly work with v1 API.

How do you put verbose output ?
Do you need any other informations ?

Regards,

[2017-12-09 00:39] kroitor commented on #794
Let us know if this example does not work for you:

https://github.com/ccxt/ccxt/blob/master/examples/py/async-gdax-fetch-ticker-continuously.py

If it raises a DDoSProtection, then please report how long it takes it to crash. Also, it would be much easier for us to help you, if you could share a snippet of your code to reproduce the problem. I'm closing this for now, feel free to reopen it if nee

[2017-12-09 00:39] #794 closed

[2017-12-09 00:44] kroitor commented on #798
We will look into it, however, the following debug info would be helpful:

Set `.verbose = true` property on your exchange instance or in constructor params.

- https://github.com/kroitor/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
- https://github.com/ccxt/ccxt/wiki/Manual ←

[2017-12-09 00:55] adi90x commented on #798
Ok so some more informations

- : NodeJs 9.2.0 ,ccxt last npm version
- : Hitbtc v2 - function : fetchOrder  ( same function in v1 is working as expected )
- : Code snippet :
`"use strict";

const ccxt = require ('../../ccxt')
const asTable = require ('as-table')
const log = require ('ololog')

require ('ansicolor').nice;

const exchange = new ccxt.hitbtc2 ({
    apiKey: "APIKEY",
    secret: "SEC

[2017-12-09 02:16] kroitor commented on #798
This is by design (not a bug). Unfortunately, HitBTC v2 will not return the initial price of the order, when you fetch it. Each order (as well as any other structure returned from ccxt) contains an `info` field, that holds the response from the exchange, untouched, as is. That `info` field is exchange specific (differs depending on the exchange). It is there for you to be able to verify the output

[2017-12-09 04:02] brdu commented on #787
@kroitor thanks for all the hard work on this awesome library!

[2017-12-09 04:36] vvinni commented on #798
Hi @kroitor !

I want to thank you and all the people involved in the dev of this lib!!

Sorry, I know that this is not the correct place to do it... but I didnt find the right one!

I´ve finished a bot that trade in kraken and I know that the time spent in it is a fraction of the time it would take without ccxt.

After some time of testing... if its profitable ... I will donate 5% of my earnings

[2017-12-09 04:40] #798 closed

[2017-12-09 04:46] #752 closed

[2017-12-09 04:55] kroitor commented on #752
This bug was due to their very weird flavor of multidimensional array urlencoding. Anyway, this should work normally as of version 1.10.333. We will be happy if you report back whether you have any difficulties with it. Thanks!

[2017-12-09 04:59] kroitor commented on #661
@andersea can you please update to most recent version of ccxt and post verbose output for both sync/async as seen on your side? This will help us finally close this issue.

[2017-12-09 06:35] speggos opened #799 "Binance buy order lot size (LOT_SIZE) issue in Python"
Hello, I'm attempting to make buy orders on binance using amount_to_lots. The amount_to_lots function usually (4/5 times) returns the correct amount and the buy order is placed correctly. However, eventually I will have an invalid quantity returned, causing an invalidOrder error to be raised.

Here is a copy of the terminal output:

[code]

Here is the code:

[code]

Is this a known issue?

[2017-12-09 06:42] kroitor commented on #799
Hi, @speggos ! Thanks for reporting this issue! We will look into it, the `amount_to_lots()` should've returned a value that would pass the LOT_SIZE filter, need some time to debug it. In general, this may be related to a different known request for arbitrary precision with decimal.Decimal for Python: https://github.com/ccxt/ccxt/issues/522. We will get back to you shortly on this with a fix. In t

[2017-12-09 07:08] kroitor commented on #799
Does this test raise an Exception for you?

[code]

[2017-12-09 07:11] speggos commented on #799
It does indeed:

$ python stuff.py
2.04098903462 > 2.04
2.05324293502 > 2.049999
Traceback (most recent call last):
  File "stuff.py", line 20, in <module>
    raise Exception(str(value2) + ' ' + result2)
Exception: 2.05324293502 2.049999

However, this seems to work as a solution:

lot = (1 / globalVariables.binanceCcxt.markets[market]['lot'])
		quantity = math.floor(quantity * lot)/lot

[2017-12-09 07:15] kroitor commented on #661
The problem is most likely not related to signatures, but it is related to simultaneous usage of the same API key with conflicting nonces.

[2017-12-09 07:20] kroitor commented on #799
I guess, you're on MacOS? Can you tell us your OS and Python versions exactly?

[2017-12-09 07:23] kroitor commented on #799
Also, what's your version of ccxt?

[2017-12-09 08:37] adi90x commented on #798
Perfect, thanks a lot , for your work !
CCXT is really awesome !

2017-12-09 5:40 GMT+01:00 Igor Kroitor <notifications@github.com>:

[2017-12-09 09:00] kroitor commented on #661
@andersea also, can you run two separate tests to confirm they don't intersect in nonce numbers?

[2017-12-09 12:42] kroitor commented on #602
Started the work on it, will be available very soon in one of the upcoming releases.

[2017-12-09 13:17] kroitor commented on #782
Hi!

whaleclub.co doesn't have an orderbook, doesn't have an API that resembles an exchange.
paxful.com is also not an exchange, more like a offer-sell platform for bitcoins.

Sorry, but we're not integrating them if they don't offer an exchange API. Let us know if we can help you with anything else.

[2017-12-09 13:17] #782 closed

[2017-12-09 13:42] andersea commented on #661
Here is my current test code:

https://gist.github.com/andersea/55821130219b4eb8f222f4851867aa8b

And here is the output.

https://gist.github.com/andersea/cc7df227c6b6ea4229f8b97ae89732de

Looks like the nonce is increasing. I also tried commenting out the all synchronous code, including the synchronous test funcing and only running the async code. The async test code fails every time for me.

He

[2017-12-09 15:05] zo34 commented on #794
@kroitor I ran the code from the example and it produced the same results. The starting time-stamp (from the output of the program itself) was `2017-12-09T15:00:34.834Z`. The final time-stamp was `2017-12-09T15:04:00.717Z`.

Are there any other tests that it would be helpful for me to run? Or other code that you need to see?

[code]

[2017-12-09 17:05] deltacat opened #802 "arguments 'since' in gdax getOrders() does not work"
tried fetch specified days orders via getOrders()/getOpenOrders()/getClosedOrders(), it always return recent 3 days data, not matter what value set to the arguement.

e.g., below code should return 1 day data, but it return 3 days.

`exchange.fetchOrders(symbol, (new Date()).valueOf() - 24 * 60 * 60 * 1000)`

[2017-12-09 17:10] deltacat commented on #802
BTW, I read source code gdax.js, seems the function does not process the argument 'since':

[code]

[2017-12-09 19:05] kroitor commented on #794
Yeah, that's odd, indeed. Seems like their actual rate limits differ from what is in their docs... Or it might be a different layer of DDoS protection, say, from Cloudflare...

Let me do the testing on my side, i'll try to reverse-engineer their rate limit, and I'll get back to you with my results shortly.

[2017-12-09 19:28] kroitor commented on #802
Thank you for reporting this! Will fix it shortly.

[2017-12-09 20:31] zzo opened #804 "New exchanges that accept BitGo transfers"
Besides Bitstamp they are:

bitquick, coinhako, fold, genesis, korbit, paxful, triv, unocoin, and wirex

instant btc transfers = easy arb :)

thanks for the killer module!

(oh list came from https://www.bitgo.com/solutions#instant)

[2017-12-09 20:54] alexzaporozhets commented on #659
@kroitor can you add an example how to use it?

[2017-12-09 21:35] dhmk815 opened #805 "New exchange: getbtc.org"
please, add new exchange called 'getbtc.org'.
Following is api document.
https://getbtc.org/api-docs.php
Always thank you.

[2017-12-09 23:43] professorkolik opened #807 "HitBTC & HitBTC2 fetchTrades"
Hi @kroitor ,

I'm very appreciated for your/team work!

I'm trying to fetchTrades for HitBTC, and seems it not work on step loadMarkets, I'm trying to figure out by myself, but seems it's takes too long time

CCXT v.1.10.337

Here is the possible code
[code]

Didn't reject on any exception.

Verbose
[code]

May be you can give some advise!
Thank you

[2017-12-10 00:37] speggos commented on #799
ccxt version 1.10.337, Python 2.7.10, max OS X El Captain 10.11.16

[2017-12-10 02:41] kroitor commented on #807
@professorkolik hi!

You're using an exchange-specific **market id** (`BTCUSD`), instead of using a cross-exchange compatible **symbol** (`BTC/USD`):

The difference is explained here (I highly recommend to read the entire Manual):
- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

- https://github.com/ccxt/ccxt/blob/master/examples/js
- https://github.com/ccxt/ccxt/blob/master/exa

[2017-12-10 02:41] #807 closed

[2017-12-10 04:36] kroitor commented on #805
@dhmk815 they report empty orderbooks:

- https://getbtc.org/api/order-book?currency=USD ← BTC/USD
- https://getbtc.org/api/order-book?currency=EUR ← BTC/EUR
- https://getbtc.org/api/order-book?currency=RUB ← BTC/RUB

To me it looks like there is no trade going on there. Do you really think we need it?

[2017-12-10 05:34] kroitor commented on #799
This is strange, I can't repeat it with Mac OS X High Sierra 10.13.1, Python 2.7.13, ccxt 1.10.337...

[2017-12-10 05:38] kroitor commented on #799
I'd close this for now if you don't mind, until we have a followup on this. I'd suggest to continue further discussion here: https://github.com/ccxt/ccxt/issues/522 as these two issues are related. We will fix this issue anyway, hopefully soon. In the meantime, let me know if you have any other questions. Thx!

[2017-12-10 05:38] #799 closed

[2017-12-10 08:34] #802 closed

[2017-12-10 10:22] leoplct opened #812 "Consistency of trade amount across exchanges"
When I place a new **Buy** order on Bitfinex the amount is in the Base currency, instead on Gdax is in the quote currency. This create a lot of confusion and messy code. Would be great to have a unified thing and have it all in quote currency.

[2017-12-10 10:24] kroitor commented on #812
@leoplct can you post your code, please?  https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2017-12-10 10:32] professorkolik commented on #807
Thank you for your quick response @kroitor.

But actually I tried different formats of symbols. The result is the same

[2017-12-10 10:37] kroitor commented on #807
@professorkolik have you tried any of the above examples?

[2017-12-10 10:38] kroitor commented on #807
@professorkolik try

[code]

[2017-12-10 10:44] professorkolik commented on #807
I tried formats 'BTCUSD', 'BTC/USD', 'BTC/USDT'

This line
[code]

returning correct response

[2017-12-10 10:46] professorkolik commented on #807
@kroitor

I'm sorry, the issue was in my DB, thank you for your time

[2017-12-10 11:10] sunlit2000 opened #813 "Библиотека не работает на PHP"
Добрый день!
Запускаю PHP скрипт ($version = '1.10.337') на локальном сервере Denwer (in win7)
![ccxt](https://user-images.githubusercontent.com/10777331/33804345-a86317bc-dd9a-11e7-8acb-626dbf8efdbd.jpg)
.
PHP 5.3.13, cURL 7.24.0, Multibyte - enabled,  PCRE 8.12, iconv 1.11
Все модули запущены.

Мой index.php
`include 'ccxt.php';

$poloniex = new \ccxt\poloniex  ();
$poloniex_markets = $poloniex-

[2017-12-10 11:12] rubobaquero opened #814 "Wrong multiplier in Anxpro"
In the CCXT's Anxpro definition, the multiplier applied for creating orders for price_int parameter is always 10^5. According to Anxpro docs, it should be 10^8 or 10^5 depending of the pair.

https://anxv2.docs.apiary.io/#reference/data-object-definition

[2017-12-10 11:16] kroitor commented on #813
@sunlit2000 с версией 1.10.344 то же самое?

Она работает у большинства, однако, непонятно, каким образом OHLCV связаны с fetch_order_book... Надо начать с простого:

1. Работает ли вот это (да/нет) ?

[code]

[2017-12-10 11:32] sunlit2000 commented on #813
Да, причем те же самые ошибки в начале в файлах exchange и poloniex

Сейчас попробую обновить на OpenServer 5.2.7 LAMP, возможно проблема в версии PHP

Нет, ошибки аналогичные

Где находится функция publicGetReturnTicker на которую ссылается poloniex.php?

[2017-12-10 11:36] kroitor commented on #813
@sunlit2000

Я проверял на PHP5.6.3 / MacOS и на PHP7 почти везде — работает... скорее всего дело в версии PHP.

Генерируются автоматически в define_rest_api из перечисленных в $this->api endpoint'ов. Там местами используются замыкания из-за которых старый PHP может ругаться.

[2017-12-10 11:38] sunlit2000 commented on #813
Ок. Буду тестировать на другом окружении. СПАСИБО за труд! Надеюсь он приносит свои плоды ;-)

[2017-12-10 11:41] cjpetrus commented on #30
is this problem still occuring in py 3.6?

[2017-12-10 11:46] rubobaquero opened #815 "A few doubts when creating orders"
I have to deal with a lot of exchanges. When I am going to make an order, is impossible to me to know a few (important) things without actually testing them manually and reading each exchange docs:

- How can i check if the exchange allows market orders?
- How can i know the minimum amounts of trading for each exchange?
- How can i know if i should put the price per coin or the total price when ma

[2017-12-10 11:59] rubobaquero opened #816 "Scientific notation in price parameter when doing a request to Bitcoin.co.id"
When trying to create an order to Bitcoin.co.id, CCXT is sending the price in scientific notation.

`$exchange->create_order("XRP/BTC", "limit", "buy", 200, 0.00001700);`

[code]

[2017-12-10 12:15] kroitor commented on #816
Yeah, it's a known issue, related to this: https://github.com/ccxt/ccxt/issues/522
I'd close this for now as a duplicate, if you don't mind, let's move this discussion to that other post. We hope to deliver arbitrary-precision math very soon, in the meantime you can pass preformatted strings to mitigate the side-effects of float formatting.

[2017-12-10 12:15] #816 closed

[2017-12-10 12:48] rubobaquero commented on #569
Hi kroitor. Also experienced the same problem.

After creating an order, i got the id 96878923218. If i wait 10 seconds and then try to fetch that order, I got this error: `order $id 96878923218 not found in cache`

Example code:
[code]

Request made:
[code]

[2017-12-10 14:03] Felipe-Mangueira opened #817 "Mercado Bitcoin: issues to cancel and edit order"
Hey, @kroitor.

I am having problems to edit and cancel existing orders from Mercado Bitcoin exchange ('mercado'). I cannot cancel and edit any order because the error 205 is ever returned.

Can you see what's going on, please? I imagine this is just a little issue with 'coin-pair' parameter.

Please, take a look into error report:

To cancel order:

[code]

To edit order:

[code]

[2017-12-10 14:44] sunlit2000 commented on #813
Таки проблема была в версии PHP....Последний OpenServer PHP5.5 завелось с пол оборота, буду посмотреть.

[2017-12-10 14:47] sunlit2000 commented on #813
Забыл спросить, на русском языке нет мануала?

[2017-12-10 15:55] stonemonk commented on #569
@rubobaquero:  I've never seen that error so I don't think it's the issue I was reporting on this thread. Maybe you should make a separate ticket for it.

[2017-12-10 15:56] stonemonk commented on #569
For the moment, I have worked around the fee issue by adapting my sample code above to my CCXT usage:

[code]

[2017-12-10 16:12] rubobaquero commented on #569
@stonemonk , I have posted it here because you were talking about orders cache and calling the `returnOpenOrders` endpoint. So i suppose that it is related in some way.

[2017-12-10 17:47] kroitor commented on #813
@sunlit2000 к сожалению, ещё нет... мы были бы признательны за помощь в переводе.

[2017-12-10 17:48] kroitor commented on #817
Hi, @Felipe-Mangueira ! Will look into it asap.

[2017-12-10 17:49] #813 closed

[2017-12-10 17:53] kroitor commented on #569
@rubobaquero your particular issue is explained here: https://github.com/ccxt/ccxt/issues/798#issuecomment-350416520... However, these issues are related, because both of them boil down to the underlying cache, which is being reworked right now to account for all of the above.

[2017-12-10 18:08] kroitor commented on #815
Unfortunately, for now most answer to your questions are negative, however, as you know, we are working very hard to deliver most of listed features, because we need them for our own needs as well... So, it's a work in progress (under development).

Currently, an exchange will throw an exception if you submit a market order where it is not allowed, yet it still requires to try the submission first

[2017-12-10 18:25] #817 closed

[2017-12-10 18:29] kroitor commented on #30
@cjpetrus it shouldn't reappear, however, if you still see it reoccurring, let us know, we will investigate further.

[2017-12-10 18:30] kroitor commented on #814
Thank you for reporting this! Will look into it and fix it shortly!

[2017-12-10 18:34] kroitor commented on #817
This is fixed in 1.10.345. Thanks for reporting! Let us know if you have any difficulties with it after updating (tested it, should work normally).

[2017-12-10 18:48] Felipe-Mangueira opened #818 "mercado.fetch_order not implemented yet"
Hey again, @kroitor.

I am currently implementing stop-loss strategies in Mercado Bitcoin, but the fetch_order function from it is not implemented yet, neither fetch_order_status.

I really need this function to stop my losses when I cannot stand in front of my trading plataform. Could you help me with this, as soon as you can, please?

Thank you so much!!

[2017-12-10 18:51] Felipe-Mangueira commented on #817
Thank you @kroitor.

If I have any issue, I contact you!

[2017-12-10 20:01] kroitor commented on #30
@cjpetrus ok, thanks, will look into it and get back to you.

[2017-12-10 20:05] kroitor commented on #818
Hey, @Felipe-Mangueira ! I've uploaded it, however, I might need your help with testing and debugging it. Let me know if you have any issues with that method after updating to 1.10.347 (I will need `.verbose = true` output, of course). Thx!

[2017-12-10 20:08] kroitor commented on #30
@cjpetrus what's your version of ccxt?

[2017-12-10 20:12] #805 closed

[2017-12-10 21:48] Felipe-Mangueira commented on #818
Hey @kroitor.

I made a test with a order totally executed but it returned a key error. Could you check where is the problem, please? See the log:

'''
Connected to pydev debugger (build 172.3544.46)
https://www.mercadobitcoin.net/tapi/v3/ POST https://www.mercadobitcoin.net/tapi/v3/
Request: {'Content-Type': 'application/x-www-form-urlencoded', 'TAPI-ID': 'TAPI-ID', 'TAPI-MAC': 'TAPI-MAC', 'User-

[2017-12-10 22:16] manzor29 opened #820 "ошибка в binance.php"
Судя по всему, имеется ошибка в библиотеке **ccxt/php/binance.php**.
В методе `fetch_my_trades` отсутствует команда `$this->load_markets();` перед выражением `$market = $this->market ($symbol);`, что при попытке получить список сделок пользователя биржи Binance приводит к ошибке `Illegal string offset 'id'`.
Полагаю, что такая же ошибка будет возникать при вызове метода `cancel_order`.

[2017-12-10 22:43] Felipe-Mangueira commented on #817
@kroitor. Just to inform you, it's working pretty fine. Thanks, again!!

[2017-12-11 00:54] kroitor commented on #820
@manzor29 благодарим за feedback! Исправим в самое ближайшее время.

[2017-12-11 01:03] kroitor commented on #820
Эта проблема решена в версии 1.10.350. Ещё раз спасибо за помощь!

[2017-12-11 01:04] #820 closed

[2017-12-11 01:12] kroitor commented on #817
@Felipe-Mangueira thanks for reporting back! Check the update on fetchOrder (https://github.com/ccxt/ccxt/issues/818) as well!

[2017-12-11 01:12] kroitor commented on #818
Ok, that was a minor parsing issue, I've fixed it, and now it should work normally (update to 1.10.351+). As always, I'll be happy if you report back whether it now works smoothly or not on your side. Thx a lot!

[2017-12-11 03:52] bugking opened #821 "Allcoin.com has two more currencies"
'CNET' & 'CK.USD'

I suggest that it's more flexible to introduce a parameter 'currencies' for fetch_market method in https://github.com/ccxt/ccxt/blob/master/python/ccxt/allcoin.py, with default value as ['BTC', 'ETH', 'USD', 'QTUM'] or the latest currencies ['BTC', 'ETH', 'USD', 'QTUM', 'CNET', 'CK.USD']:
1. it's more flexible to support more currencies without updating the code
2. if an user on

[2017-12-11 04:39] kroitor commented on #821
Hi! We added those by hand as a quickfix. Should be available in ccxt 1.10.352+.
And thanks for the suggestion, btw! However, we think it might be even better to scrape the data from their web API (https://www.allcoin.com/Home/MarketOverViewDetail/), we will rework the fetchMarkets for allcoin, hopefully, soon, and will keep you updated, of course. We also appreciate all contributions and PRs. Thx

[2017-12-11 04:39] #821 closed

[2017-12-11 06:36] kroitor commented on #30
@cjpetrus fixed in 1.10.353. Thx!

[2017-12-11 08:22] paskal91 commented on #794
I've been using their API since the summer. Last week or so I started getting "rate limit exceeded" exceptions out of nowhere. I reduced my rate to around 3 request per second, but today even this rate results in exceptions. They have scheduled maintenance for tomorrow (hopefully to address this).

[2017-12-11 08:27] kroitor commented on #794
@paskal91 thank you for the feedback on this! Makes much more sense now. Seemingly, all exchanges are being overloaded.

[2017-12-11 08:35] nitzanav commented on #56
Thank you for the effort! I am a fan!

@kroitor you wrote:

Is there a way to take glimpse on the v2 and WebSocket code and major refactoring? I couldn't find it nowhere.

Where are the versioning is managed? I couldn't find it.

[2017-12-11 08:43] kroitor commented on #56
@nitzanav

The refactoring is happening right now in the main branch (there's been a lot of changes since then), and the work on websocket is also on its way, but there's no single place that holds all of it right now, the work is done in forks mostly... Here's is an example of it: https://github.com/ccxt/ccxt/pull/751

The version is single-sourced upon each build on Travis CI from `package.json`

[2017-12-11 09:56] nitzanav commented on #56
Thank you for the information and for this amazing project!

[2017-12-11 10:10] Gr1dd opened #822 "Stop releasing so many release."
Stop releasing so many release.

[2017-12-11 10:16] Swoorup commented on #822
Not their fault. Its a community project, I assume maintaining this library requires a lot of effort cause they require to maintain compatibility with the upstream api.

[2017-12-11 10:23] kroitor commented on #822
@Gr1dd we're releasing a new patch version if an edit introduces a significant change (like a fix or a new method), or new APIs... you will have to pay us if you want us to stop )) just kidding...
Do you have any difficulty skipping them if you don't want them so often? I didn't quite get the request. People usually demand the opposite. If there's a reason why we shouldn't upload so often, let us

[2017-12-11 12:17] rubobaquero commented on #56
@kroitor Is it going to be available in the three languages as usual?

[2017-12-11 12:18] kroitor commented on #56
@rubobaquero yes, that's the whole point, if we could do throw just one single language into it, it wouldn't take so long ) The main difficulty is to unify them all.

[2017-12-11 12:21] janeCMD opened #824 "IP address used for requests"
This is more an idea than issue.

Wondering if it would be possible to mount in the support for overriding IP address used for requests. In CURL, the parameter used for that is CURLOPT_INTERFACE. This would enable to set used IP address or proxy for all API calls, i sometime need it due to harsh restrictions some exchanges have on amount of public requests. I already built my own library for cachi

[2017-12-11 12:25] kroitor commented on #824
@janeCMD can you submit a pr on that?

[2017-12-11 12:27] rubobaquero commented on #815
Thanks for your answer Kroitor. I have been programming for five days and it is a little bit frustrating to have to check everything related with orders for each exchange that i use.

But ... more frustrating is to see constant timeouts with exchanges like kraken that make my arbitrage system completely useless.

I think that doing near-real-time arbitraging with REST APIs is impossible. I suppose

[2017-12-11 12:30] kroitor commented on #815
When it's down, it's usually down completely ) WS can improve it under normal loads, and can behave "weird" when it is under high loads. Kraken does not have WS, btw... In general, you can't go with REST only or WS only, have to mix the two in 99% of practical cases.

[2017-12-11 12:41] Swailem95 opened #825 "exchange.symbols doesn't work with all exchanges."
I'm trying to get all the trading pairs on some exchanges using `exchange.symbols`. It works fine for some of the exchanges I tried like Bittrex or Gdax but some others like Poloniex or Yunbi don't work and the function just returns an HTML document.

[2017-12-11 12:42] kroitor commented on #825
https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2017-12-11 12:46] #825 closed

[2017-12-11 12:46] #822 closed

[2017-12-11 12:46] #812 closed

[2017-12-11 12:54] janeCMD commented on #824
Sorry i dont understand what you mean by PR and how to submit that ? You mean pull request ?

[2017-12-11 12:54] Swailem95 commented on #825
I'm doing exactly what is shown in the docs and I'm not getting an exception. I'm just getting an HTML dump. This is my code:

[code]

[2017-12-11 12:54] kroitor commented on #825
@Swailem95 can you show your verbose output?

[2017-12-11 12:55] kroitor commented on #824
@janeCMD yeah, PR = pull request )

[2017-12-11 12:58] Swailem95 commented on #825
[code]

[2017-12-11 12:58] kroitor commented on #825
Is that all you see?

[2017-12-11 12:59] Swailem95 commented on #825
Excluding the HTML, yes.

[2017-12-11 12:59] janeCMD commented on #824
Some guidance please ? I am not very github pro...

[2017-12-11 12:59] kroitor commented on #825
@Swailem95 can you please include it?

[2017-12-11 13:02] kroitor commented on #824
@janeCMD : https://help.github.com/articles/creating-a-pull-request/
However, if you're not familiar with it or don't want to do this, don't bother, I'll do it anyways, asap. Let me know if you're going to give it a try.

[2017-12-11 13:11] janeCMD commented on #824
@kroitor I don't mind to add it myself, just wondering if this needs to be done in all languages at same time? Also, as far as my knowledge goes, you need to create branch first then can pull it, right ? But i dont see the way how to do it. Never did it before here.

[2017-12-11 13:14] kroitor commented on #824
@janeCMD: in terms of github you need to create a fork (it's a branch in itself), add your edits there, then make a pull request from inside it.

We can edit PHP only for now.

[2017-12-11 13:23] Swailem95 commented on #825
[code]

[2017-12-11 13:32] kroitor commented on #825
It throws a cloudflare protection exception, but you're not catching it:

[code]

It means that your address is blocked by their DDoS protection, so you will need to:
1. add error handling
2. authenticate with your browser on their website here: https://poloniex.com/public?command=returnTicker and see if the error goes away
3. if it doesn't help, see if it succeeds with a CORS proxy
[code]
4. see

[2017-12-11 13:37] janeCMD commented on #824
@kroitor Just wandering, is the Exchange class attribute 'proxy' used for something ? Because its already there in constructor, but didnt find its use in the code...

[2017-12-11 13:38] kroitor commented on #824
https://github.com/ccxt/ccxt/wiki/Install#proxy

[2017-12-11 13:50] janeCMD commented on #824
Seems like proxy is not used in php and the way its used is different from classic proxies. Anyway, i added IP Override and created pull request. Lines to do the proxy part i commented out. Its for using CURL_PROXY to change IP.

[2017-12-11 13:51] Swailem95 commented on #825
Nothing worked. The proxy website you mentioned didn't work because the requests to it have been too many recently. Is there a way I could maybe send the CCXT requests with CORS headers without using CCXT? Could that work?

[2017-12-11 13:56] kroitor commented on #825
Try this in console:
[code]

However, it will output the same page most likely. The problem is not with ccxt, but with poloniex not wanting to give you access.

Let's be very precise.
Did you do p.2 and did you succeed to open that page in your browser? Did you solve the captcha?

[2017-12-11 13:57] janeCMD commented on #824
Overseen the line, its done same way as in JS.
IP Override i added is to be used with other IPs assigned to server
Commented out code is to be used with proxy server like squid, if you buy bunch of private proxies from some provider online. That could also be useful

[2017-12-11 14:01] nazariyv opened #828 "Decoding the alphanumeric secret key"
Hi,

This is a question. I have checked out the first two pages of the closed issues labelled "question" and was not able to find something relating to this. I might not have searched too well, though.

Here is my question. I was reading the GDAX API Authentication documentation and noticed the following note: `Remember to first base64-decode the alphanumeric secret string (resulting in 64 bytes)

[2017-12-11 14:01] Swailem95 commented on #825
Yes, I tried everything you mentioned. I solved the captcha.

[2017-12-11 14:06] kroitor commented on #825
Ok, if you solved it, did it show the actual data to you after that? If it did, can you open it in weinspector and see if there's a header with a cfuid cookie there?

![polo-screenshot](https://user-images.githubusercontent.com/1294454/33834886-a7cc7914-de95-11e7-8f80-69d4afa24269.jpg)

[2017-12-11 14:09] Swailem95 commented on #825
Yep, I see it.
![image](https://user-images.githubusercontent.com/7952255/33834979-991a9278-de8d-11e7-93c0-faad9760c057.png)

[2017-12-11 14:11] kroitor commented on #825
@Swailem95 let's copy that string by hand (the entire `Cookie` header), and then try the following:

[code]

Does it work this way?

[2017-12-11 14:12] kroitor commented on #825
Sorry, refresh it once again, added a few minor edits to the above snippet...

[2017-12-11 14:14] Swailem95 commented on #825
Nope, same exception is raised.

[2017-12-11 14:17] kroitor commented on #828
Base64 is not secure. It is an encoding, not an encryption algorithm. So it's easily decoded. You can do it manually online if you google for `base64 decode`. Don't be a paranoid, be informed and confident.

You're looking at JWT implementation which is only used in Quoine/Qryptos. GDAX does not use Json Web Tokens for authentication, their sign method is in `gdax.js`.

Let me know if it answers y

[2017-12-11 14:19] kroitor commented on #825
Ok, and what if you copy the user-agent string as well, and add it like so:

[code]

Still doesn't want to work?

[2017-12-11 14:21] Swailem95 commented on #825
Yes, same error.

[2017-12-11 14:23] kroitor commented on #825
@Swailem95 can you try it from a different address (just to rule out other causes)? Somehow poloniex doesn't like your requests to their API from that particular machine...

[2017-12-11 14:25] nazariyv commented on #828
It does, thanks. How does it go from the python code to js then? I can see, for example, in one of the trading examples you use exchange.fetch_balance(), so if I go to gdax.py to .fetch_balance() method it uses .privateGetAccounts() method on the self, where self has exchange super class and yet I cannot find the method neither in exchange.py nor in gdax.py.

[2017-12-11 14:25] kroitor commented on #825
Also, can you show full verbose output of the last try?

[2017-12-11 14:27] kroitor commented on #828
Oh, those are created atuomatically from the endpoints list in the constructor (`define_rest_api()`), explained here:
- https://github.com/ccxt/ccxt/issues/237
- https://github.com/ccxt/ccxt/wiki/Manual#api-methods--endpoints

[2017-12-11 14:30] nazariyv commented on #828
Oh yes! I was reading about it. Thanks for reminding.

How does this python code get access to signing processes in gdax.js? Because I can only see .py files in my ccxt python library (I installed through pip install).

[2017-12-11 14:38] kroitor commented on #828
@nazariyv JS files get converted to Py (and JS, and Typescript, ...) upon each build. More about it here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

[2017-12-11 14:45] Felipe-Mangueira commented on #818
Hi @kroitor, Sorry for my delay on reporting back to you. I've tested the update and it's working fine. Thanks for your support like always.

[2017-12-11 14:45] nazariyv commented on #828
Got it thanks :)

[2017-12-11 14:46] kroitor commented on #828
@nazariyv do you mind if I close this for now?

[2017-12-11 14:47] nazariyv commented on #828
I don't. go ahead. Thanks for the help.

[2017-12-11 14:47] #828 closed

[2017-12-11 14:47] evgen-y2k opened #829 "BITMEX: fetching orders information not implemented yet"
Hi.
Not working all function around fetching orders information.
For example:
`ccxt.base.errors.NotSupported: bitmex fetch_open_orders() not implemented yet`
Can you halp me? I need some for check order status. Best solution - function fetch_open_orders().
Or may be fetch_order_status() , fetch_orders(), fetch_order().

[2017-12-11 14:48] #818 closed

[2017-12-11 15:03] kroitor commented on #829
@evgen-y2k you can use their custom API to submit a request to their private endpoint, as ccxt supports all of them. See `print(dir(ccxt.bitmex())` for a list of methods. Then consult their docs for a list of params and submit the request like written here: https://github.com/ccxt/ccxt/wiki/Manual#passing-parameters-to-api-methods

That is, until we implement their order API. Let me know if this a

[2017-12-11 15:32] kroitor commented on #828
P.S. If you compare Python code to JS code / PHP code, you'll immediately notice, that it is mapped one-to-one... same syntax ) Did you know that you can code in 4 languages at once? )

[2017-12-11 15:35] nmiculinic opened #830 "Bitfinex2 IOTA/BTC pair is not unified properly"
[code]

similarly to other IOTA pairs on Bitfinex; they all have unified wrong symbol name, which should be IOTA/BTC

[2017-12-11 15:36] nmiculinic commented on #830
Also withdrawal fee is out of date                        'BTC': 0.0005; right now it's 0.0015 BTC

[2017-12-11 15:41] kroitor commented on #830
This was fixed here: https://github.com/ccxt/ccxt/issues/796 (3 days before)
Please update to most recent version of ccxt. The issue should go away.

Those were added 20 minutes ago in this PR: https://github.com/ccxt/ccxt/pull/811, we will update them. Thx!

[2017-12-11 15:41] #830 closed

[2017-12-11 15:41] illera88 commented on #830
Fees are gotten from https://www.bitfinex.com/fees

[2017-12-11 15:42] kroitor commented on #830
@illera88 are you sure that page is up to date?

[2017-12-11 15:43] illera88 commented on #830
That's the official website and fee site from Bitfinex. I haven't make an actual withdraw to test it tho.

[2017-12-11 15:44] kroitor commented on #830
@nmiculinic sorry, my bad, the bitfinex2 pairs are indeed not consistent with IOT/IOTA, will fix right away.

[2017-12-11 15:46] kroitor commented on #830
@illera88 that page looks like a list of outdated tx fees to me... if it does not correspond to truth, we will have to revert it back to undefined and scrape it from their website somehow... got any ideas?

[2017-12-11 15:50] illera88 commented on #830
The fee for BTC from their own API says that the BTC fee is '0.0005' too.

you can get it using `private_post_account_fees()`

![2017-12-12 00_49_59-bender debugging - microsoft visual studio](https://user-images.githubusercontent.com/5193128/33839770-76c85568-ded6-11e7-9bfe-37b7de3f9198.png)

[2017-12-11 15:52] kroitor commented on #830
We will strip down those hardcoded values for the private method then. It will be unified as `fetchFees()` and will populate the fee info...

[2017-12-11 15:56] illera88 commented on #830
the hardcoded values are correct. I agree is better using the exchange API to get the values if that is possible but I don't see how leaving the hardcoded values (which are correct) is gonna harm until 'fetchFees()' is implemented

[2017-12-11 15:59] kroitor commented on #830
@illera88 if they are up to date, we can, of course, keep them, until we have fetchFees. The only reason for not having them is not to confuse users, if Bitfinex decides to change them once again after BTC skyrockets to $100k. In fact, it's the txFee itself that does change over time...

[2017-12-11 16:11] kroitor commented on #830
@nmiculinic the IOTA mapping is fixed in 1.10.357. Thx for reporting!

[2017-12-11 16:13] nazariyv commented on #828
I have noticed it :) I can put down 4 additional languages in my CV now. What is the missing one: Python, JS, PHP, ...?)

[2017-12-11 16:14] kroitor commented on #828
Typescript ;) We will add more )

[2017-12-11 16:34] kroitor commented on #815
@rubobaquero i'd close this issue for now, if you don't mind. Feel free to reopen it if need or just continue to ask questions, if any. I'll be happy to help. Thx!

[2017-12-11 16:34] #815 closed

[2017-12-11 20:40] npomfret commented on #794
I've started getting this rate limit error also.  Maybe they reduce the limits without telling anyone?

[2017-12-12 01:39] evgen-y2k commented on #829
I found `privateGetOrder()` and this function work (return all orders) but I need use parameter `{"open": true}` for filtering only opened orders. If I try `privateGetOrder({"open": true})` function return not filtered orders list. In the BITMEX API description I found:
"**Implementation Notes
To get open orders only, send {"open": true} in the filter param**"
URL example:
`https://testnet.bitmex.

[2017-12-12 01:55] evgen-y2k commented on #829
So, I found solution.
`privateGetOrder({'filter':json.dumps({'open': True})})`
It work as I need.
Thank you for the help.

[2017-12-12 02:24] paskal91 commented on #794
If that's the case, they haven't updated their docs. The spec still says 5 requests per second. Currently, even once per second seems unstable...

[2017-12-12 03:35] kroitor commented on #829
@evgen-y2k thank you for reporting back!

[2017-12-12 03:35] #829 closed

[2017-12-12 03:54] kroitor commented on #794
Thanks for your reports, guys!
Can you please try and compare these two scripts with each other:

- order book: https://github.com/ccxt/ccxt/blob/master/examples/py/async-gdax-fetch-order-book-continuously.py
- ticker: https://github.com/ccxt/ccxt/blob/master/examples/py/async-gdax-fetch-ticker-continuously.py

It's the same script, different endpoints. Do you get the same results with the orderbo

[2017-12-12 04:00] bugking commented on #821
great work! 👍

[2017-12-12 07:27] #824 closed

[2017-12-12 11:50] cogat opened #836 "Mixed-up balance info in BTC Markets"
`cctx.btcmarkets().fetch_balances()` uses the following code to return balances:

            free = float(balance['balance'] / multiplier)
            used = float(balance['pendingFunds'] / multiplier)
            account = {
                'free': free,
                'used': used,
                'total': self.sum(free, used),
            }

However `balance['balance']` is the total balance,

[2017-12-12 11:51] kroitor commented on #836
Thanks for reporting, will fix right away!

[2017-12-12 12:18] #836 closed

[2017-12-12 12:51] kroitor commented on #836
Fixed in 1.10.370. Let us know if you have any other difficulties with it! And thanks again for a thorough report!

[2017-12-12 15:40] stonemonk commented on #536
I am still getting this issue fairly regularly with latest CCXT. Still getting it on fetch_ohlcv():

[code]

calls:

[code]

last like there crashes:

[code]

[2017-12-12 15:42] kroitor commented on #536
@stonemonk can you please show verbose output of the exception?

[2017-12-12 15:52] stonemonk commented on #536
<img width="754" alt="screen shot 2017-12-12 at 9 36 03 pm" src="https://user-images.githubusercontent.com/5236934/33893837-8bc61b86-df84-11e7-9423-d6a6febc4470.png">
<img width="742" alt="screen shot 2017-12-12 at 9 35 01 pm" src="https://user-images.githubusercontent.com/5236934/33893839-8c193bae-df84-11e7-8ced-40ce38be98dc.png">

[2017-12-12 16:00] stonemonk commented on #536
I think its because Bittrex servers are struggling right now with the ETH surge.. I am also having trouble loading some of the website pages right now.  But in any case, it should not cause my program to crash.

[2017-12-12 16:01] kroitor commented on #536
@stonemonk got it, will add a workaround for `None`-response...

[2017-12-12 18:41] Felipe-Mangueira commented on #777
Hi, @kroitor,

Do you have any expected date of launching the next update with this method implemented?

Thanks for your time.

[2017-12-12 19:16] Felipe-Mangueira opened #841 "Mercado Bitcoin: Creating market orders"
Hi, @kroitor,

It's possible to place market orders manually on Mercado Bitcoin. Although I have not seen any reference in the API documentation of this kind of order, I guess this method could be implementable. I would like to ask you to check whether I am right or not. Case I'm right, could you implement this method on ccxt library?

Thank you again and sorry for making too many request too ofte

[2017-12-12 19:16] kingofclubstroy opened #842 "issue with withdraw"
Hey, I withdrew funds from bittrex and it has taken well over 12 hours, and so i started to look into it and it says that for binance (the exchange I tried to transfer to) "Depositing Monero to binance requires BOTH a deposit address and deposit payment ID, if you fail to include the payment ID with your deposit the funds will be lost forever". So now i'm wondering how i can include a payment ID,

[2017-12-12 19:24] kroitor commented on #842
Hi!

This question has been answered here:

- https://github.com/ccxt/ccxt/issues/303 (custom APIs, question and answer)
- https://github.com/ccxt/ccxt/issues/526 (unified API, question and answer)

Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#passing-parameters-to-api-methods (custom APIs)
- https://github.com/ccxt/ccxt/wiki/Manual#unified-api (unified API)

If you don't mind, I would clos

[2017-12-12 19:24] #842 closed

[2017-12-12 19:30] alexsith opened #843 "Wrong currency on Wex"
Hello.
I found mistake:
wexnz = ccxt.wex();
to_ob = wexnz.fetch_order_book('DASH/USD', {'depth': 10});

But where is no DASH at Wex, only DSH, which is Dash coin.

Thank you for such a greate framework!

[2017-12-12 19:47] Felipe-Mangueira commented on #841
Sorry, @kroitor, but i cannot link to the source because it's only available on private space. I've attached a picture of my screen showing this possibility.

Yes, I do. Please, see below:

![market order on mercado bitcoin](https://user-images.githubusercontent.com/25753215/33904682-6ede2fa2-df63-11e7-8c6c-8a071e968e2e.jpg)

[2017-12-12 19:52] kroitor commented on #843
Hi! This is not an error: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[2017-12-12 19:54] kroitor commented on #843
However, I might be actually wrong... Sorry, do you mean that the substitution of DSH → DASH is wrong?

[2017-12-12 19:59] kroitor commented on #843
No, it looks like I'm not...
[code]

[2017-12-12 19:59] #843 closed

[2017-12-12 20:01] kroitor commented on #843
<img width="685" alt="screen shot 2017-12-12 at 23 00 46" src="https://user-images.githubusercontent.com/1294454/33905635-5abd6768-df90-11e7-9661-3ff6467da89e.png">
<img width="631" alt="screen shot 2017-12-12 at 23 01 04" src="https://user-images.githubusercontent.com/1294454/33905637-5c966256-df90-11e7-8406-0ca43a3d55e6.png">

[2017-12-12 20:01] kingofclubstroy commented on #842
Thank you for that, that has definitely helped, I was also wondering how i would be able to receive the paymentId from Bittrex before i call the withdraw function so i could pass it in as a parameter, i can only see a way to get paymentId when looking at withdrawal history, thanks again for your time, your library is great and you have been very helpful!

[2017-12-12 20:06] kroitor commented on #842
@kingofclubstroy

Hey guys, I just started and built a portfolio overview tool with ccxt this past week, its an amazing library I'm looking to calculate all fiat/usd deposits made into a few exchanges, does anyone know if that's built into the lib already? e.g. (fetchDeposits)

[code]

Also: https://github.com/ccxt/ccxt/issues/727 )

[2017-12-12 20:18] kingofclubstroy commented on #842
I'm sorry to be a bother, but i can, and have been able to get withdrawal history, and maybe i am misunderstanding this, but it seems to me to be able to withdraw certain coins i need to include extra parameter like payment id into the withdrawal function, but i don't know how to receive the payment id before i call withdraw, i can see it when i fetch withdrawal history after i have made the withd

[2017-12-12 20:32] kroitor commented on #842
It depends on the exchange you're withdrawing from.

Yes, you do. Use `fetchDepositAddress()` for that: https://github.com/ccxt/ccxt/pull/699

[2017-12-12 21:13] kroitor commented on #842
Yes )

Use the smallest amount possible )

[2017-12-12 21:14] kingofclubstroy commented on #842
alright i will try with a smaller amount, thanks for your help and time!

[2017-12-12 23:44] Fcl69 commented on #798
Can you please provide an example? I've failed to compile the request using unified API.

[2017-12-13 00:39] hansvanzutphen opened #844 "create_order fails for hitbtc, price starts with spaces"
If you create a limit buy or sell order, there's an sprintf in create_order:
$order['price'] = sprintf ('%10f', $price);
If the price is small this will give a number that starts with spaces, and that returns an error (a very confusing one I might add...). I've for now replaced it by %010f (since I'm not sure if the 10 is there for a reason).

[2017-12-13 02:50] hansvanzutphen commented on #844
On top of that I just saw that it rounds it wrong (uses 6 digits instead of 8)

[2017-12-13 05:55] alexsith commented on #843
Thank you. I guess it is mistake in wex web-interface, because on their trade-chart there is "dashcoin/eur", that was confuse for me

[2017-12-13 06:19] kroitor commented on #844
Hi! I will take a look into it asap. In the meantime, I'd recommend to migrate to HitBTC v2 API, because v1 is deprecated and it will be abandoned sooner or later (most likely, sooner). I'll get back you with a follow up on this.

[2017-12-13 07:52] Pmant commented on #660
I understand that if the order is filled instantly we get undefined as id. But if that is not the case and an id is given, this id still does not work for fetchOrder(id).  The returned id is just a 9-digit number.

[2017-12-13 08:07] kroitor commented on #660
Can you, please, paste your code and verbose output?

- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2017-12-13 08:17] kroitor commented on #841
Unfortunately, scraping all the necessary info from their website would require multiple sequential requests + 2fa, so, if that takes more than one request, it automatically means that the call to create a market order would take much longer time than usual limit orders. The introduced lag kills the purpose of a market order in the first place. When we place market orders we want immediate prices

[2017-12-13 08:17] #841 closed

[2017-12-13 08:34] kroitor commented on #844
The rounding is done by the HitBTC itself, based on this:
- https://github.com/hitbtc-com/hitbtc-api/blob/master/APIv1.md#currency-symbols
- https://api.hitbtc.com/#create-new-order

[2017-12-13 08:38] #844 closed

[2017-12-13 09:04] kroitor commented on #844
This is fixed in 1.10.373. Let us know if you have any difficulties with it. Thx!

[2017-12-13 10:24] kroitor commented on #642
I would close this for now until we have a followup on this, if you don't mind. Feel free to reopen it if needed, or just ask questions if any. Still hope to hear from you. Thx!

[2017-12-13 10:24] #642 closed

[2017-12-13 10:25] kroitor commented on #777
@Felipe-Mangueira not yet, but, I'd suggest... would you want to try submitting a PR on that? If not, we will deliver it soon, hopefully.

[2017-12-13 11:06] Felipe-Mangueira commented on #841
Ok, @kroitor. Fair enough.

Thanks anyway for your concern. If Mercado Bitcoin integrates this funcionality to their API, I request it to you again.

[2017-12-13 11:15] Felipe-Mangueira commented on #777
Ok, @kroitor, Sorry for disturbing you with my anxiety. I'll respect the time of your team.

[2017-12-13 14:20] ugozanchi commented on #71
How can I see this image status updated? https://user-images.githubusercontent.com/1294454/32969545-9a3e0f30-cbf6-11e7-8c71-2ef54d4b889f.png

[2017-12-13 14:31] kroitor commented on #71
@ugozanchi I've updated the [image above ↑](#issuecomment-336655046)

- https://github.com/ccxt/ccxt/blob/master/examples/
- https://github.com/ccxt/ccxt/blob/master/examples/js/exchange-capabilities.js

To get it on your screen you will need a very small font and a very wide terminal window:

[code]

[2017-12-13 14:53] ugozanchi commented on #71
Thank you so much. So fast =D , you don't sleep?? Lol .

[2017-12-13 15:27] napster3000 opened #845 "Daily withdraw limit used"
- [ ] bug report
- [x] question
- [ ] feature request

- Operating System: Unix
- Language +version: JS
- CCXT version:
- Exchange: Gdax, Poloniex
- Method: Withdraw

### Description

Is it possibile to access how much of the daily withdraw limit I have used?

###

[![Gitter](https://badges.gitter.im/ccxt-dev/ccxt.svg)](https://gitter.im/ccxt-dev/ccxt?utm_source=badge&utm_medium=badge&utm_campaign

[2017-12-13 15:38] Pmant commented on #660
Thanks for looking into this, here is a small code sample (Node.js):
[code]
And the corresponding log:
[code]

[2017-12-13 15:38] kroitor commented on #845
You will have to fetch your withdraw history with a custom method from ccxt for each particular exchange and calculate the limits from there.

To get a list of all available methods with the exchange:

[code]

More about calling custom methods and passing params:

- https://github.com/ccxt/ccxt/wiki/Manual#api-methods--endpoints
- https://github.com/ccxt/ccxt/wiki/Manual#passing-parameters-to-api-

[2017-12-13 15:40] kroitor commented on #660
@Pmant thanks for the report, we will fix it very soon. I'll keep you updated on this.

[2017-12-13 21:13] kingofclubstroy opened #846 "error with costToPrecision on bittrex.py"
Is it a bug report, a question or feature request? <sup>*(choose one)*</sup>

- [x] bug report
- [ ] question
- [ ] feature request

- Operating System: python
- Language +version: 2.7
- CCXT version:
- Exchange:
- Method:

### Description

Error with costToPrecision on bittrex.py:

 def cost_to_precision(self, symbol, cost):
        return self.truncate(float(cost), self.markets[symbol].precision

[2017-12-13 21:17] #846 closed

[2017-12-13 21:48] kroitor commented on #846
Fixed in 1.10.376! Thanks for reporting! Let us know if you have any other difficulties with it.

[2017-12-13 21:58] pciavald commented on #167
Now I have this error :

[code]

[code]

[2017-12-13 22:01] kroitor commented on #167
@pciavald can you check permissions for that API key on HitBTC?

[2017-12-13 22:02] pciavald commented on #167
actually it seems to be a problem currently with that exchange.
doing it manually is also refused in the interface.

[2017-12-13 22:06] kroitor commented on #167
@pciavald they've introduced v2 recently and it may still be unstable... however, that particular call works normally on my side. Did you succeed to verify permissions on that key?

[2017-12-13 22:08] pciavald commented on #167
createOrders, trading -> margin and withdraw from main work, only main -> trading doesn't

[2017-12-13 22:10] pciavald commented on #167
and it used to work :P

[2017-12-13 22:12] pciavald commented on #167
website says `Please note that ETH withdrawals are temporarily unavailable due to technical maintenance. Please accept our apologies for the inconvenience.`

[2017-12-13 22:14] kroitor commented on #167
@pciavald no, I mean permissions ))

![permissions](https://user-images.githubusercontent.com/1294454/33965177-046c20c0-e06c-11e7-9f59-9f5d90cf5583.jpg)

However, if you say it used to work and then stopped, it may be caused by their maintenance indeed. Yet still, in your code above I don't see any rate limiting, you're doing transfer then withdraw almost immediately, do you use the built-in rate-

[2017-12-13 22:16] pciavald commented on #167
all good on that side :)
![screenshot_20171213_231557](https://user-images.githubusercontent.com/3384097/33965292-a3a0e66e-e05b-11e7-837e-8d23bc767ab0.png)

[2017-12-13 22:19] kroitor commented on #167
@pciavald can you reach it with a cors proxy?

[code]

?

Also, is the issue with that call repeating consistently on your side if you try it several times consecutively?

[2017-12-13 22:23] pciavald commented on #167
same result with proxy. where can I log all calls made to hitbtc2, maybe in hitbtc2.js ?

[2017-12-13 22:24] pciavald commented on #167
do you have a slack ? :P

[2017-12-13 22:28] kroitor commented on #167
Yep... you can also take a look at base/journal.js, however, that is not integrated yet (undocumented).

Nope, but we have a gitter )

[![Gitter](https://badges.gitter.im/ccxt-dev/ccxt.svg)](https://gitter.im/ccxt-dev/ccxt?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

[2017-12-13 22:32] kroitor commented on #167
@pciavald you ca also turn on verbose logging:

[code]

or

[code]

This will output all requests and responses in console.

[2017-12-13 22:37] pciavald commented on #167
Yes so it really seems the exchange doesnt work at the moment.
[code]

[2017-12-14 02:06] kingofclubstroy opened #847 "insufficient funds issue with bittrex"
Is it a bug report, a question or feature request? <sup>*(choose one)*</sup>

- [ ] bug report
- [x] question
- [ ] feature request

- Operating System:
- Language +version: python 2.7
- CCXT version:
- Exchange: BITTREX
- Method: createLimitBuyOrder(), createLimitBuyOrder()

### Description

I keep receiving an insufficient funds error when attempting to buy on bittrex, i have looked into and fol

[2017-12-14 02:14] kroitor commented on #847
Yes you need to subtract if you want to spend all of your balance. Otherwise you need to have balance sufficient to pay for the order itself + fees.

No.

No.

First of all, you have to understand how fees are applied... Are you familiar with a concept of *maker* and *taker*?

[2017-12-14 02:26] kingofclubstroy commented on #847
i have seen fees be different if it maker or taker, but i dont know how i would determine if my order is one of the other, and thanks for your help!

[2017-12-14 02:34] kingofclubstroy commented on #847
If i were to make an order at a price of (bid + ask /2) would i be a maker? And if i made an order that was at the price that was being asked for and was instantly taken, that would be a taker correct?

[2017-12-14 06:53] TomAshley303 opened #848 "PHP Error - User-Agent header is required."
OS: Ubuntu 16.04

Expected to print fetched trades. Instead got user-agent error.

Code:

[code]

Error:

`PHP Fatal error:  Uncaught ccxt\ExchangeError: gdax {"message":"User-Agent header is required."} in /home/user/www/madax/includes/ccxt/php/gdax.php:522
Stack trace:
#0 /home/user/www/madax/includes/ccxt/php/base/Exchange.php(777): ccxt\gdax->handle_errors(400, '', 'https://api.gda...', 'GET',

[2017-12-14 09:12] bugking opened #849 "Allcoin.py: wrong method name which is supposed to be inherited from parent class"
- Operating System:
- Language +version:  Python (both 2 & 3)
- CCXT version: latest
- Exchange:  all coin.com
- Method:

### Description

in allcoin.py, there's a method named get_order_status, but it's never called. But in its parent class okcoinusd, there's a method parse_order_status, I believe it should be a typo in the allcoin.py since:

  * whenever fetching an cancelled order, the response

[2017-12-14 09:15] stonemonk opened #850 "Binance error: Timestamp for this request was 1000ms ahead of the server's time."
Trying to use Binance, I get this error trying to call `fetch_total_balance` (probably other methods also but I didn't test any others yet):

[code]

I already double checked that my system is syncing to internet time.  Could it be a timezone handling issue in CCXT?

I found [this thread](https://github.com/sammchardy/python-binance/issues/2) which shows an example using the python-binance library

[2017-12-14 09:26] #848 closed

[2017-12-14 09:48] kroitor commented on #850
Hi! This issue was also covered here (also has an alternative solution to the problem)

https://github.com/ccxt/ccxt/issues/773

[code]

Well, a difference of 260ms actually tells the opposite, as far as I understand... Or do I miss something? This can also be an issue with the Binance timesync itself.

You can set `.verbose = True` on binance instance, or pass that in constructor:
[code]

This wi

[2017-12-14 10:21] stonemonk commented on #850
Okay, I found the problem.  I am initializing with this option:

`'nonce': Exchange.microseconds`

I am doing this because using the default was producing errors for me with Poloniex (I was getting errors with Poloniex in the case that there was a network issue and I retry to request quickly. With the default, the server would give an error that my nonce was the same as last request because it was

[2017-12-14 10:33] kroitor commented on #850
I'm not quite getting... you redefine the nonce for microseconds for binance, you don't want to do it any other way, despite that Binance rejects that, and you consider this a bug in ccxt, despite that inside ccxt the default nonce is seconds or milliseconds (not microseconds) for most exchanges?

It sends whatever is returned from nonce(). If it is a seconds-timestamp, it will send seconds. If it

[2017-12-14 10:46] kroitor commented on #848
This should be fixed in version 1.10.377. Let us know if you still have any difficulty with it. Thx!

[2017-12-14 10:54] kroitor commented on #847
This is explained here:

- https://github.com/ccxt/ccxt/issues/336#issuecomment-338380765
- https://github.com/ccxt/ccxt/issues/694#issuecomment-348145042

The point is, you're not guaranteed that your order will arrive as a maker or a taker, because the of the price slippage (to put it simply, the price changes while your order is in flight towards the exchange). So, the only way to know about it

[2017-12-14 10:55] stonemonk commented on #850
I mean that a nonce is not the same thing as a timestamp.  A nonce may be derived from or include a timestamp of course, but its not the same.

Some exchanges want a nonce and CCXT should use whatever is specified in the config (`'nonce': Exchange.microseconds`).

But Binance wants a real timestamp and it is used for different purposes than a nonce.  Yes it also acts in effect like a nonce to prev

[2017-12-14 10:59] stonemonk commented on #850
But its okay, I can just work around it on my side also..

[2017-12-14 11:28] #850 closed

[2017-12-14 11:29] kroitor commented on #850
No, I think you're right, I've changed that from `nonce = this.nonce()` to `nonce = this.milliseconds()` in the implementation of Binance. Should be available in 5 minutes in the next version.

[2017-12-14 11:33] stonemonk commented on #850
Cheers, and thanks for your hard work on this project, its really awesome!  It has saved me lots of time.

If my projects every become profitable, I will send you some coin. :)

[2017-12-14 11:33] kroitor commented on #849
Sure ) However,

The word will be English 'canceled' ) To us it looks like a more common spelling (as returned from exchanges). Let us know if you don't think so.

[2017-12-14 11:48] kroitor commented on #847
So, from there you should be able to call `calculateFee()`, to get your predicted fee and then compare it to the actual price and fee that you got from the exchange. However, that method is still experimental, we are working on this particular aspect very intensively. Let me know if I answered your questions or not.

[2017-12-14 12:18] kroitor commented on #849
@bugking can you please paste the `.verbose = true` output of that request?

[2017-12-14 13:08] mudisdirty opened #854 "Do you mind if I submit a pull request?"
Is it a bug report, a question or feature request? <sup>*(choose one)*</sup>

- [ ] bug report
- [x] question
- [ ] feature request

I fixed several small issues with qryptos and unicode handling in python3.  Do you mind if I push a branch a create a merge request?

[2017-12-14 13:12] kroitor commented on #854
Thank you! We welcome all contributions! Please read this first: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md. We will be happy to see a pull request from you!

[2017-12-14 13:16] kroitor commented on #847
I'd close this for now, if you don't mind, let us know if you still have some doubts on this. We'll be happy to help. Feel free to reopen it if needed, or just ask questions, I'll respond asap.

[2017-12-14 13:16] #847 closed

[2017-12-14 13:55] Deathamns opened #856 "Binance fetchTrades with since argument"
If `since` is used in `fetchTrades` on Binance, the result will be an `ExchangeNotAvailable` error.

The [docs](https://www.binance.com/restapipub.html#user-content-market-data-endpoints) don't mention it, but it seems that the `endTime` parameter is required too if the `startTime` is used (which is used when the `since` argument is used).

https://api.binance.com/api/v1/aggTrades?symbol=ETHBTC&st

[2017-12-14 13:57] kroitor commented on #856
@Deathamns what would you suggest as a solution to this?

[2017-12-14 14:01] Deathamns commented on #856
I couldn't decide, that's why I created an issue.

They don't allow more than a day, so there are two possibilities when `since` is given.
endTime = since + 24h
endTime = now - 24h

[2017-12-14 14:05] kroitor commented on #856
@Deathamns we will choose #1, endTime = since + 24h, that is what would be most convenient from a user perspective (it is still overrideable with extra `params`, if you need a specific time-range)...

[2017-12-14 14:13] #856 closed

[2017-12-14 14:14] kroitor commented on #856
@Deathamns thank you for reporting this, uploaded a fix for it, will be available in the next version in 5-10 minutes.

[2017-12-14 14:28] kroitor commented on #854
I'd close this for now until we have a followup, if you don't mind. Let us know if you have any questions or if you need any assistance. We will be waiting for a contribution from you, thx!

[2017-12-14 14:28] #854 closed

[2017-12-14 14:28] kornrunner commented on #602
I'm looking forward to this one. Can I help with it somehow? Thanks!

[2017-12-14 14:31] kroitor commented on #602
@kornrunner in fact, yes you can... I have the public API mostly working, however, the private part is not unified yet. I can upload it as it is and, maybe you could pick up from there? I'm overloaded with our current tasks (trying to deliver WS and much more alltogether at once). Your help would be really appreciated! However, it may require some edits in JS code (as designed in ccxt, it is still

[2017-12-14 14:40] kroitor commented on #602
@kornrunner an alternative way would be upload the public API, and you could then submit PHP-implementations for private API which I would then port back to JS for transpilation to all other languages... However, if you could edit the same `js/kucoin.js` file like you do with any other `php/anyexchange.php` file, that would be translated to other languages automatically.
More about it in this doc

[2017-12-14 14:43] kornrunner commented on #602
Sure, that's fine by me. I can give it a try with writing JS (and following syntax/style/impl of existing exchanges) and then translate it to PHP.

I'd appreciate it if you could merge in whatever you've done so far (if that's acceptable). Thanks!

[2017-12-14 14:45] kroitor commented on #602
@kornrunner ok, just give me some short time to clean it up and commit it, I'll get back to you on this asap.

[2017-12-14 17:18] kroitor commented on #602
Ok, I've uploaded it.

Important notes:

1. fetchOHLCV doesn't work whatever I try (see comments in code). They have two methods in the API – one returns ccxt-like format (`[[t,o,h,l,c,v],[...],...]`) the other returns TradeView-format (`{t:[],o:[],h:[],l:[],c:[],v:[]}`). However, both of them don't seem to work. This may be my mistake, and I may be missing something. If we don't succeed to make t

[2017-12-14 17:58] #845 closed

[2017-12-14 18:02] #814 closed

[2017-12-14 21:20] gitdc1 opened #858 "Liqui load_markets() failing to get markets"
- Operating System: win10
- Language +version: python 3x
- CCXT version: most recent
- Exchange: liqui
- Method: load_markets()

### Description

When trying to call `ccxt.liqui().load_markets()` it responds with:

[code]

### Code to reproduce the bug

[code]

### Verbose output

[Troubleshooting](https://github.com/kroitor/ccxt/wiki/Manual#troubleshooting)

[code]

**For questions and discussion

[2017-12-14 21:27] kroitor commented on #858
Does this work:

[code]

?

[2017-12-14 23:46] gitdc1 commented on #858
Yep, it does.  Thanks!

[2017-12-15 00:06] kroitor commented on #858
Yeah, looks like Liqui doesn't like the default userAgent... I'm closing this, if you don't mind. Let us know if you have any other difficulties. Thx!

[2017-12-15 00:06] #858 closed

[2017-12-15 00:35] kornrunner commented on #602
Thank you!

As far as I've seen, OHLCV - it seems that it's not implemented or not working at all in Kucoin production (https://api.kucoin.com/v1/open/kline). The web api endpoint you've mentioned seems okay, so I guess I'll go with that - but since it's in TradeView format, I'll see to implement `build_ohlcv` in PHP first, and submit that before anything else.

[2017-12-15 07:23] xgdgsc commented on #641
Now different exchanges seem to support different types of since argument. Unifying with datetime can be great.

[2017-12-15 08:42] kroitor commented on #641
@xgdgsc the since is in milliseconds, but it gets converted to a format that is required by the exchange, so it does not relate to the unification, because it is unified already. This issue is a feature request for convenience (if you don't want to wrap your timestamps with Python datetime by hand). But it doesn't affect the unification itself. We hope to enable datetime very soon after adding web

[2017-12-15 12:04] wtksyjpy opened #860 "New exchange: Bit-Z"
Hi author:

Could you please help add below exchange?
https://www.bit-z.com/api.html
Thank you for all your help!

[2017-12-15 13:46] forzavortis opened #861 "Coincheck: GET request with parameters"
Coincheck: GET request with parameters

- Language:　python3.5
- CCXT version: newest
- Exchange: Coincheck

[code]
returns normal.

But, when I add parameters, coincheck returns error.
[code]
returns
[code]

Not only ```exchange/leverage/positions``` request, but also other GET request with parameters make same response.

[2017-12-15 15:18] kroitor commented on #861
Hi! Thanks for reporting! I will take a look and will get back to you soon.

[2017-12-15 16:05] dpreilan opened #862 "php - composer question"
I now there has been recent work for php. I am on version 1.10.389 (from ccxt.php)

Does anybody have a working example of a php testcase with composer.

I have a simple program:
[code]
foo.php
[code]
php -f foo.php fails with:
[code]

What am I missing?

[2017-12-15 16:18] kroitor commented on #862
1. Delete the `use ccxt;` line
2. Fix the typo in the last line: `var_dump (\cxxt\Exchange::$exchanges);` → `var_dump (\ccxt\Exchange::$exchanges);` (cxxt → ccxt)
3. Retry

[2017-12-15 16:36] dpreilan commented on #862
I must have messed that up attempting to rootcause. Now,

PHP Fatal error:  Class 'ccxt\Exchange' not found in /home/livenano/bitcoin/php/foo.php on line 6

[2017-12-15 16:39] dpreilan commented on #862
Note, the following works if when I add the second require
<?php

require_once __DIR__ . '/vendor/autoload.php';

require('vendor/ccxt/ccxt/ccxt.php');

//var_dump (\cxxt\Exchange::$exchanges);
var_dump (\ccxt\Exchange::$exchanges);

?>

[2017-12-15 20:29] Iorek69 commented on #198
Hi, has this issue been resolved? I don't see it in ccxt.bitstamp or ccxt.bitstamp1. Good work on this whole library, 10/10 effort

[2017-12-15 20:36] TomAshley303 opened #863 "Unnecessary Rate Limit Throwing Exceptions (PHP & Python)"
There's some rate limiting code in this library that throws exceptions even if I limit my loop to 1 call every second. The GDAX API supports many calls per second. I have tested this with a different gdax library and it lets me make these calls ever .25 seconds and even faster I think. Would like to go as fast as GDAX will allow.

- OS: Ubuntu 16.04
- Language: PHP (Same thing happens with PY)
- C

[2017-12-15 20:44] kroitor commented on #863
Hi! It's not the library throwing the exception, it's the GDAX returning the code, that tells you that you are hitting the rate limit, because you are making too many ticker-requests in a loop. They will not allow fetching tickers over REST once per second.

Explained here:
https://github.com/ccxt/ccxt/issues/794

I'd close this for now as a duplicate, if you don't mind. The linked issue contains

[2017-12-15 20:44] #863 closed

[2017-12-15 21:52] kroitor commented on #198
Yes.

You don't see them, because those methods get generated upon instantiation. To see them, do this:

[code]

[code]

[2017-12-16 03:45] tandazhi opened #866 "fetchOrder() for huobipro"
PASTE_YOUR_TEXT_DESCRIPTION_HERE

- OS: unbutu 16
- Language: python
- CCXT version:  1.10.357
- Exchange: huobipro
- Method:fetchOrder()

[code]

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/dist-packages/ccxt/base/exchange.py", line 803, in fetch_order
    raise NotSupported(self.id + ' fetch_order() is not implemented yet')
ccxt.base.

[2017-12-16 11:59] #866 closed

[2017-12-16 12:06] tandazhi commented on #866
using below code can get specific order infomation.
`p=ccxt.huobipro()
p.apiKey=''
p.secret=''
order=p.createLimitSellOrder('LTC/BTC', 1, 0.18)
response = p.privateGetOrderOrdersId({'id':order['id']})
orderInfo=p.parse_orders([response['data']], 'LTC/BTC', None, None)
`

[2017-12-16 12:33] kroitor commented on #866
@tandazhi thank you! We will add it to the implementation of fetchOrder for Huobi Pro.

[2017-12-16 16:04] Iorek69 commented on #198
That makes sense. Thank you very much, and again, thanks for the library!

[2017-12-16 19:10] jjhesk opened #867 "bleutrade BTCD and BTG"
there is a issue related to trading symbol BTCD => bitcoin dark and BTG => bitcoin gold.

- OS: osx
- Language: nodejs
- CCXT version: 392
- Exchange: bleutrade

[2017-12-16 19:14] kroitor commented on #867
Sorry? What issue related to BTCD and BTG do you mean?

[2017-12-16 19:35] #861 closed

[2017-12-16 20:20] jjhesk commented on #867
do they have a alternative symbols for the namings?

[2017-12-16 20:27] kroitor commented on #867
I don't really get the question... Did you read the manual?
- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids
- https://github.com/ccxt/ccxt/blob/master/examples/js/symbols.js

[code]

Everything seems ok with bleutrade symbols. So i don't understand what *alternative symbols for the namings* you are asking about.

[2017-12-16 21:39] #867 closed

[2017-12-17 00:25] hassiweb opened #868 "C-CEX: User-Agent Required"
When using the API of C-CEX, the User-Agent would be required. Would you please fix the code?

Specifically, I tried the public and/or private APIs of C-CEX on Python, but the C-CEX server returns a message as follow:

I tried some ways to fix it, then it seems it would be okay to only modify `userAgent` (the value does not matter) in `exchange.py`.

P.S. thank you very much for developing this ki

[2017-12-17 00:31] kroitor commented on #868
@hassiweb, you don't need to change `exchange.py`, just set the userAgent property to any string you want.

[code]

or

[code]

Let me know if this answers your question or not.

[2017-12-17 01:57] HanYangZhao opened #869 "fetch_ticker failed with Quadrigacx, access denied by cloudflare"
ccxt.base.errors.DDoSProtection: quadrigacx GET https://api.quadrigacx.com/v2/ticker?book=btc_cad 403 Forbidden
The owner of this website (api.quadrigacx.com) has banned your access based on your browser's signature
- OS: Debian
- Language: Python
- CCXT version: 1.10.394
- Exchange: quadrigacx
- Method: fetch_ticker

[code]

[code]

[2017-12-17 02:29] fredfortier opened #870 "Binance: Key difference between `fetch_ticker()` and `fetch_tickers()`"
I noticed that I was no longer getting a `last_price` value from Binance tickers. After further investigation, I released that it was because I decided to use `fetch_tickers()` instead of looping through `fetch_ticker()` to get multiple tickers at once.

From what I can tell, `ccxt.binance.binance#fetch_tickers` uses this request `/api/v3/ticker/bookTicker`. This is more of an order book request.

[2017-12-17 05:04] kroitor commented on #869
https://github.com/ccxt/ccxt/issues/868

[2017-12-17 05:04] #869 closed

[2017-12-17 05:04] #868 closed

[2017-12-17 07:24] hassiweb commented on #868
Thank you for your quick response and giving the simple solution! I'll try it soon.

[2017-12-17 10:38] beniloew opened #871 "Best way to get an order outcome?"
So, i tried to use the order id in order to query for transactions corresponding to that id, but no success.
I was thinking about using the timestamp of the order and put it in the 'since' param when asking for transactions, and then walk over all transactions and check their order id.

Is there a better way?
Thanks!

[2017-12-17 12:36] leoplct opened #872 "OkcoinUSD withdraw"
Can you integrate withdraw with OkCoinUSD?

- OS: unix
- Language: JS
- CCXT version:
- Exchange: OkcoinUSD
- Method: Withdraw (to crypto address)

[2017-12-17 12:47] kroitor commented on #870
Hello, @fredfortier !

Sure!  ) And thank you again!

[2017-12-17 12:54] kroitor commented on #871
The order API is a work in progress, described here: https://github.com/kroitor/ccxt/wiki/Manual#querying-orders

In general there are several ways to check for the outcome of the order:

1. `fetchOrder()`, `fetchOrders()`, `fetchOpenOrders()`, `fetchClosedOrders()`
2. `fetchMyTrades()`, `fetchOrderTrades()`
3. Keep a local order cache and track balances
4 ....

Some of those methods may still mis

[2017-12-17 13:01] beniloew commented on #871
Thanks for your answer.
The thing is, that orders status not always include the outcome of the deal.
If the order is closed, the outcome will sometimes be in the trade info.

Regarding the code, you are right. The thing is, is there a way of not
being specific about a specific exchange, but rather a generic way to get
that information?

On Dec 17, 2017 2:54 PM, "Igor Kroitor" <notifications@github

[2017-12-17 13:05] beniloew commented on #871
I guess that fetch_order_trades is what i'm looking for, but unfortunately
currently available for poloniex...
will send PR if i'll end up implementing it myself
Thanks again!

2017-12-17 14:54 GMT+02:00 Igor Kroitor <notifications@github.com>:

[2017-12-17 13:08] kroitor commented on #871
What *outcome* in particular do you mean? Most exchanges serve order history with output fee info, the amounts, the executed amounts, the fill-prices. You only need the trade info, if you want to calculate the totals precisely. However, this may still require some customization...

The unified order API is being developed in CCXT just for that (but it's a work in progress, yes). I'd recommend to r

[2017-12-17 13:08] #871 closed

[2017-12-17 14:38] Tunafleur commented on #640
https://support.kraken.com/hc/en-us/articles/205893708-What-is-the-minimum-order-size- these minimum trade sizes are not in the library as far as i saw

[2017-12-17 14:55] kroitor commented on #640
@Tunafleur that's right, they don't have an endpoint for that, so we currently have to hardcode those values in userland. Do you suggest hardcoding them in the library itself? Being hardcoded, those values might require some updates later... Alternatively, we can solve that by scraping, probably...

[2017-12-17 14:59] #872 closed

[2017-12-17 15:07] kroitor commented on #872
Done in 1.10.395.

[2017-12-17 16:10] xerus opened #874 "Cannot use ccxt in python - missing kucoin"
Seems like somebody forgot to `git add python/ccxt/kucoin.py`

- OS:
- Language:
- CCXT version:
- Exchange:
- Method:

[code]

[code]

[2017-12-17 16:17] kroitor commented on #874
How do you install it?

[code]

Python 2:

[code]

I didn't really get the cause of your issue. You need to be more specific.

[2017-12-17 16:20] kroitor commented on #874
Ok, now, I guess, I see the issue. Will fix shortly.

[2017-12-17 16:21] #874 closed

[2017-12-17 16:29] kroitor commented on #874
Fixed in 1.10.398. Sorry for inconvenience. Those files were missing in the repository, indeed. Added them now. The work on Kucoin is a work in progress, more about it here: https://github.com/ccxt/ccxt/issues/602

[2017-12-17 16:35] jsilhan commented on #874
@kroitor , thanks, it works now. I am wondering why travis passed when in python tests you have `import ccxt`...

[2017-12-17 16:38] kroitor commented on #874
@jsilhan they are generated upon build on travis, so it found them, and packaged them to PyPI as well, but it didn't do git add on them, therefore it worked from PyPI, but didn't work from the repo... I git-added them locally, so now they appear in the repo as expected.

[2017-12-17 20:55] ASfSDlS61TLT6eoP3Qb7 opened #875 "More then 100 bids from fetch_order_book of Bittrex"
# Description
Guys, first of all. You're doing some great work here. I really benefit from this library. I enables me to make an PHP API on any exchange I want.

Currently, I am busy with cctx\bittrex and I am fetching the orderbook of a certain coin (i.e. USDT-BTC). I want to get the whole ungrouped/unaggregated order book. So every single order.

But, for now I'm only getting 100 orders (for bot

[2017-12-17 20:58] kroitor commented on #875
Hi!

Thanks for the feedback!

This is documented here: https://github.com/ccxt/ccxt/wiki/Manual#order-book--market-depth (we highly recommend to read the entire Manual).

Let us know if you have any other questions. I'm closing this for now as a duplicate, if you don't mind. Feel free to reopen it if needed.

[2017-12-17 20:58] #875 closed

[2017-12-17 21:12] ASfSDlS61TLT6eoP3Qb7 commented on #875
Thanks for your fast comment on this and sorry for reopening this issue. I have read the documentation on this topic, but I still can't resize the market depth.

For example, when I use the following code:
[code]
I won't get 10 orders, but I still got 100 of them. And when I put 1000 into the variable depth then there will be no more then 100 orders.

Another issue/question. When I change the 'typ

[2017-12-17 21:17] kroitor commented on #875
Bittrex does not allow changing the depth in any way:

<img width="718" alt="screen shot 2017-12-18 at 00 15 27" src="https://user-images.githubusercontent.com/1294454/34083889-aada52b4-e388-11e7-97b0-1ce303372c56.png">

So you will always get as much as it gives you, and if you want to limit them – you have to do it on your side. They will not return more than their limits either. Does this help?

[2017-12-17 21:31] ASfSDlS61TLT6eoP3Qb7 commented on #875
Hmmm, well, not really, sorry :(. When I request the BTC-CVC through their API in the browser, I got 500 results in my JSON response (https://bittrex.com/api/v1.1/public/getorderbook?market=BTC-CVC&type=buy).

![image](https://user-images.githubusercontent.com/14862123/34084009-cbfc95c4-e379-11e7-95a2-9cb40df7a1f0.png)

When I request the same market, I got 100 results per book type. See my result

[2017-12-17 21:36] kroitor commented on #875
When you fetch just one side of the order book you will have either 500 bids or 500 asks. When you fetch both – it will output 100 bids and 100 asks.

<img width="1087" alt="screen shot 2017-12-18 at 00 34 25" src="https://user-images.githubusercontent.com/1294454/34084063-7bae6158-e38b-11e7-81fc-650c143fc3c4.png">

[2017-12-17 21:49] ASfSDlS61TLT6eoP3Qb7 commented on #875
Aaahhh, you have enlightened me 👍, thanks! :)

But the, next question. How do I fetch the 500 buy orders from the order book. When I specify the type with the code below, I will get no results.
[code]

[2017-12-17 22:04] kroitor commented on #875
[code]

Do not confuse market ids and symbols (also covered in the Manual, here: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids)

From [examples/php/symbols.php](https://github.com/ccxt/ccxt/blob/master/examples/php/symbols.php):

[code]

[2017-12-17 22:23] osnwt opened #877 "Question: automatic retries (all exchanges) and Poloniex seq issue"
Just found your library and want ask two questions.

Scripting some bot applications, in some cases it is convenient if API is able to retry unsuccessful operations up to N times with X delay if error is potentially recoverable. For instance, if exchange returned internal server error or timeout being under high load. In my API I pass optional retry number to constructor and optional retry log han

[2017-12-17 22:25] ASfSDlS61TLT6eoP3Qb7 commented on #875
I still get not any results. I have used (and copied for sure) exactly the same code as you have used. I tried it with other symbols as well.

[code]

but still with the output below:
[code]

[2017-12-17 22:40] fferri commented on #230
+1

This would be nice to have, for example to fetch OHLCV data into my Google Spreadsheets where I make analysis on the altcoins markets.

[2017-12-17 22:43] fferri opened #878 "Question: Global market capitalization"
Is there a datasource for Global Market Cap? I.e. the total circulating supply, as shown in this chart https://coinmarketcap.com/charts/ (historical data as well)

[2017-12-17 22:48] kroitor commented on #878
If you're asking if this is built-into ccxt – no. CCXT offers you tools to calculate that: access to all exchanges + access to coinmarketcap as well. But it will not calculate statistics for you. Does this answer your question?

[2017-12-17 22:48] kroitor commented on #230
@fferri we're working on it (in progress), hope to deliver it soon.

[2017-12-17 22:51] kroitor commented on #877
Hi!

We are doing this on client side now (not in the library), but we actually think of migrating this into the library, as this code indeed seems to be needed frequently. However, it has to be done for 3+ languages at once (https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md) and has to account for backoff delays in order to avoid flooding the exchanges with retries during their downtime...

[2017-12-17 22:54] fferri commented on #878
CoinMarketCap API gives you instantaneous data, and in fact ccxt makes this available:

{'active_assets': 439,
 'active_currencies': 920,
 'active_markets': 7558,
 'bitcoin_percentage_of_market_cap': 54.91,
 'last_updated': 1513550953,
 'total_24h_volume_usd': 30313296696.0,
 'total_market_cap_usd': 598627305544.0}

CoinMarketCap however does not offer historical data (yet) (it seems... [here](htt

[2017-12-17 22:55] kroitor commented on #878
@fferri for historical data you will have to copy the business of Coinigy ;)

[2017-12-17 22:59] kroitor commented on #875
Ok, looks like Bittrex does not have the depth param anymore and it was still sent, and that triggered a conflict and an empty response. Now it's fixed in ccxt version 1.10.401, can you please update it and retry the same code once again? Tested it on my side with the new version, should work normally.

The code is:

[code]

or

[code]

Let me know if the issue is gone after updating. Thx!

[2017-12-17 23:10] osnwt commented on #877
Thank you for the example of handling. But in real case it should be tuneable for details of each exchange. In my app I am not so much concerned with long downtime network errors, but with occasional internal errors. The best example of such error is Poloniex wrong sequence of API calls I mentioned above. With normal operation it still has quite high probability to return error "Nonce must be grea

[2017-12-17 23:16] kroitor commented on #877
Thanks for your considerations on this as well! For now this is an app-level logic, but, as I mentioned, we are going to move it inside the lib. Let me know if I can help with anything else right away.

[2017-12-17 23:23] osnwt commented on #877
Here is an example of retry wrapper for Poloniex I used:

[code]

[2017-12-17 23:25] kroitor commented on #877
Thanks! We will use it for reference as well. Would you mind if I close this issue for now until we have a followup on this?

[2017-12-17 23:25] osnwt commented on #877
Sure

[2017-12-17 23:26] kroitor commented on #877
Ok, let me know if you have any other questions, feel free to reopen it if needed. BTW, ccxt has built-in rate-limiting (see examples/js).

[2017-12-17 23:26] #877 closed

[2017-12-17 23:27] kroitor commented on #878
Let me know if you have any further questions on this. Thx!

[2017-12-17 23:27] #878 closed

[2017-12-17 23:54] PolybitSol opened #879 "Bitfinex fetchBalance() Incorrect"
Hey,

The unified fetchBalance method for Bitfinex produces erroneous values, calculating only the balance amounts for currencies held in the main exchange account, and does not include balances in the margin account. As you can see from the sample below, the raw info shows a BTC balance of 0.48, while the unified values show only a 0.38 total.

- OS: Debian
- Language: JS
- CCXT version: 1.10.393

[2017-12-18 00:05] kroitor commented on #879
Hi!

We don't sum margin and trading balances.

CCXT currently unifies *trading* accounts and *trading* balances for most of exchanges, but it does not unify margin/leveraged/position accounts.

By default the Bitfinex fetchBalance will return exchange balance only, if you need the margin balance, you can fetch it like shown here: https://github.com/ccxt/ccxt/issues/601#issuecomment-345545702.

Yo

[2017-12-18 00:19] PolybitSol commented on #879
Hey,

Thanks for the reply - the method you describe is how I am currently doing it, I just mistook the purpose of the unified balance as supplying data on all accounts, whoops! Thanks for the quick reply, and as always, keep up the great work!

[2017-12-18 00:27] kroitor commented on #879
Ok, let us know if you have any other questions with it. I'm closing this for now, until we get to unify the margin trading. Thx for the feedback!

[2017-12-18 00:27] #879 closed

[2017-12-18 01:22] ETHMOONBASE opened #880 "Can this be run in browser using the pkg source?"
From what I understand chrome can basically run something comparable to node and all that is needed is an html file with
<script type="text/javascript" src="https://unpkg.com/ccxt"></script> in the header. but how do you run the example js files from that screen once you open the html file. thank you.

[2017-12-18 01:31] kroitor commented on #880
Hi! Sure! CCXT is designed to work from the browser (where CORS is supported, or via a CORS-proxy)

More about it here:
- https://github.com/ccxt/ccxt/wiki/Install#javascript-for-use-with-the-script-tag
- https://github.com/ccxt/ccxt/wiki/Install#cors-access-control-allow-origin

[code]

[2017-12-18 01:31] Sicria opened #881 "getTrades inconsistent timestamps"
The inconsistencies between exchanges with the ``getTrades`` method is really confusing.

Poloniex requires the ``since`` in int form which it then does ``request['start'] = parseInt (since / 1000);`` on it.

Bitfinex does not even pass through the ``since`` to the request so you've got to pass it through as an extra param of ``timestamp``.

These are the two that I've looked at but I'm concerned

[2017-12-18 01:32] #880 closed

[2017-12-18 01:35] kroitor commented on #881
You are using them correctly (for now), and these are on the roadmap, we hope to fix them all asap. As you may know, this library is under active development. We will be thankful for your contributions and PRs. More on that here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

The intended design is to support `since` and `limit` params throughout the library, and avoid using custom extr

[2017-12-18 01:51] ETHMOONBASE commented on #880
ok awesome thank you. i loaded that page, i guess i was wondering how I start the instances like the ones in examples folder.

[2017-12-18 01:53] kroitor commented on #880
@ETHMOONBASE sorry, do you still have that question, or is it now clear?

[2017-12-18 02:02] ETHMOONBASE commented on #880
yea, so i was trying to run one of these examples.

https://github.com/ccxt/ccxt/tree/master/examples

I guess I was wondering how you call them to load from the console. But I think maybe Im just being a pest so ill just play around with it sorry.

[2017-12-18 02:06] kroitor commented on #880
@ETHMOONBASE

1. Clone the repository to your desktop
2. Having Node.js installed, In the repo folder type:

[code]

[2017-12-18 02:07] kroitor commented on #880
https://www.youtube.com/watch?v=yoZpRMGRcyo

[2017-12-18 02:12] ETHMOONBASE commented on #880
yea, i was trying to do that allnight, cloned the repo, downloaded latest version of node, installed in the folder to get dependencies, tried to run example file and got this

C:\Users\**\Desktop\**\ccxt\ccxt-master\examples\js>node tickers.js
module.js:557
    throw err;
    ^

Error: Cannot find module 'crypto-js'
    at Function.Module._resolveFilename (module.js:555:15)
    at Function.Module.

[2017-12-18 02:13] kroitor commented on #880
1. In `C:\users\Desktop\ccxt\ccxt-master` run `npm install`
2. From the same directory run `node examples/js/tickers` and follow instructions from there.

[2017-12-18 02:14] ETHMOONBASE commented on #880
yep, did that, few times actually haha

[2017-12-18 02:18] ETHMOONBASE commented on #880
I will mess around with it, i wont keep bumping this thread, i know this is for smarter people haha, wont bother anymore. thank you for all the tips thusfar

[2017-12-18 02:18] kroitor commented on #880
@ETHMOONBASE did what exactly?

Here's a screenshot of me cloning the repo into a temporary folder, then running `npm install`, then running the example:

<img width="854" alt="screen shot 2017-12-18 at 05 18 18" src="https://user-images.githubusercontent.com/1294454/34087247-e1602bb8-e3b2-11e7-8267-538a2edd815c.png">

Post your screenshot repeating the same. Pay attention to paths.

[2017-12-18 02:21] ETHMOONBASE commented on #880
ok. so if i get this working,it should show in browser then too? or is this just command prompt only using node locally.

[2017-12-18 02:24] kroitor commented on #880
@ETHMOONBASE it shows how to launch it from console with node (the answer to your second question). Before that I showed you how to link against it in your browser (your first question). You can combine the code from examples + your HTML to make examples work from the browser. Those examples are currently designed for running from console, because after you link against the library, the syntax/usa

[2017-12-18 02:26] ETHMOONBASE commented on #880
![image](https://user-images.githubusercontent.com/29618511/34087425-fafdc32e-e370-11e7-9988-f5b454eab418.png)

Ok i think i got it

[2017-12-18 02:30] ETHMOONBASE commented on #880
now ill play around with it more. the main reason  i tried to use ccxt was because i couldnt find any bots on github that were legit and had livecoin usage. i was looking for a bot to do one simple thing, keep an order on top of the book on a certain pair, and update it when someone else places one higher.

[2017-12-18 02:34] Sicria commented on #881
Thank you that answers my questions perfectly.

[2017-12-18 02:34] #881 closed

[2017-12-18 04:24] scoshil opened #882 "Binance SSL: CERTIFICATE_VERIFY_FAILED"
I'm trying to connect to binance, and just testing the load_markets function, but I'm getting an SSL error.

[code]

And Output:
[code]

Not having issues with other exchanges, and this key/secret pair works without ccxt

[2017-12-18 04:25] kroitor commented on #882
Are you located in China?

[2017-12-18 04:32] kroitor commented on #882
This issue somehow disappeared from github :\

https://github.com/ccxt/ccxt/issues/882#issuecomment-352322958

Something strangle is happening with it... I can't access it by URL anymore
for no reason :\ Can you, please, reopen it one more time (make a new one)?

On 18 December 2017 at 07:24, scoshil <notifications@github.com> wrote:

[2017-12-18 04:33] scoshil opened #883 "Binance SSL handshake failed (2nd try)"
I'm trying to connect to binance, and just testing the load_markets function, but I'm getting an SSL error.

[code]

And Output:
[code]

Not having issues with other exchanges, and this key/secret pair works without ccxt

[2017-12-18 05:53] #883 closed

[2017-12-18 05:54] kroitor commented on #883
Ref: #882

[2017-12-18 05:57] kroitor commented on #882
See also:

- https://github.com/ccxt/ccxt/search?q=Binance+SSL+certificate&type=Issues
- https://github.com/ContinuumIO/anaconda-issues/issues/137

Looks like an issue with Anaconda Python certificates or root CA settings... Did you see any options regarding SSL certificates upon installing it? Can you verify that it has access to your system / OpenSSL certificates?

[2017-12-18 05:58] kroitor commented on #882
Did you test it with any other software? Can you clarify how did it "work" ?

[2017-12-18 06:01] scoshil commented on #882
I tested that pair with the lib at https://github.com/sammchardy/python-binance and it worked smoothly....haven't looked to see if that lib does anything special with proxies yet, but I didn't configure it any differently to normal.

I will look into those links and see if I can fix it this way.

cheers

[2017-12-18 06:02] kroitor commented on #882
@scoshil ok, I will check their sources on this issue, to see if there's a workaround for this. Thx! Will get back to you with a followup.

[2017-12-18 06:09] kroitor commented on #882
@scoshil can you paste your testing code here, please?

[2017-12-18 06:13] scoshil commented on #882
do you mean from python-binance?

Test code:
[code]
Output:
[code]

[2017-12-18 06:19] kroitor commented on #882
Yes, thanks...

Does this help with ccxt?

https://github.com/ContinuumIO/anaconda-issues/issues/494#issuecomment-156177729

[2017-12-18 06:24] scoshil commented on #882
@kroitor I tried that and it still gives me the same error unfortunately

[2017-12-18 06:26] kroitor commented on #882
@scoshil python-binance works because it uses the `requests` python package, and that in turn  also links against non-default SSL certificates from `certifi` package. `ccxt` users pure built-in HTTP and for some reason a particular installation of conda won't find its SSL certificates... If none of the above links and suggestions help, we may switch to `requests` as well. Can you find out where it

[2017-12-18 06:31] kroitor commented on #882
I'd also suggest to try this: https://stackoverflow.com/questions/33699577/conda-update-failed-ssl-error-ssl-certificate-verify-failed-certificate-ver (or google for more "anaconda SSL" or "conda SSL", "anaconda ssl verify", etc...)

If nothing helps, I will do a clean install of Anaconda Python on a virtual Windows PC and will test/fix it then...

[2017-12-18 07:51] osnwt opened #884 "New exchange: STEX.com (formerly known as stocks.exchange)"
This not very well-known yet exchange has some coins not supported by many others (yet).

Site: https://stocks.exchange
API: https://docs.google.com/document/d/1mU8ecTlzfDtT1hmZJ-dXezMudLnfD4ZeNBr_oxFwdGI

[2017-12-18 08:45] bugking commented on #849
sorry, maybe I didn't explain my issue very well:

  in the fetch_order method, it returns a dict like following [I have hacked the method a bit to avoid the following two issues caused by allcoin side, to make sure the method can work well]:

{'amount': 0.017,
 'average': 0.0,
 'cost': 0.0,
 'datetime': '2017-12-18T08:23:03.853Z',
 'fee': None,
 'filled': 0.0,
 'id': 52817935,
 'info': {'amount':

[2017-12-18 11:50] hunsnowboarder opened #885 "New exchange: cobinhood"
Please add also https://cobinhood.com/home to the exchange availibilty as it is a zero fee exchange.
Thank you very much in advance and appreciate so much your work and effort guys! Keep doing this! And of course Happy Hollidays!

[2017-12-18 17:41] GoChartingAdmin commented on #56
Any timeline updates on websocket implementation.

[2017-12-18 19:10] fredfortier commented on #870
Okay good! I'm working on the PR today.

To validate the outcome, I'm proposing some modifications here: `js/test/test.js:testTickers` to compare the results of `fetchTicker` with `fetchTickers` using a random sample of supported markets. Please let me know if there is a better way to validate this modification.

[2017-12-18 19:17] kroitor commented on #870
I'd say it depends on the type of comparison, but, anyway, go ahead, please. Feel free to add modifications to test.js where needed. We would really love to raise our test coverage! I'm sure we will be able to work it out from there.

[2017-12-18 19:32] kroitor commented on #849
@bugking thank you for this comprehensive report, will upload the fix for it asap!

[2017-12-18 20:30] ASfSDlS61TLT6eoP3Qb7 commented on #875
Perfect! Thank you very much for your help and fix! 🥇

[2017-12-18 20:37] ASfSDlS61TLT6eoP3Qb7 opened #890 "Support for the unofficial Bittrex API v2.0"
The Bittrex API is not official yet, but can be gathered using Chrome Developer Tools on Bittrex Website.

The link to the unofficial API Reference:
https://github.com/thebotguys/golang-bittrex-api/wiki/Bittrex-API-Reference-(Unofficial)

It could be nice to have the Bittrex API v2.0 implemented in the ccxt library. Though, it's quite risky, since the endpoints, actions can be changed. But I don't

[2017-12-18 20:40] kroitor commented on #890
We already have it.

[2017-12-18 20:42] #890 closed

[2017-12-18 21:03] kroitor commented on #870
@fredfortier the transpilation build phase may be somewhat tricky and not very intuitive, don't hesitate to ask if you have any questions on it. I'll be happy to help.

[2017-12-18 21:36] Juanperezc opened #891 "Poloniex FetchBalance ExchangeNotAvailable not found"
PASTE_YOUR_TEXT_DESCRIPTION_HERE

- OS: Windows 10
- Language: php
- CCXT version: 1.10
- Exchange: poloniex
- Method: fetchBalance

Hi, I am trying to get the error of api key invalid with a try in poloniex but it throws me this error.
in bittrex if it works
[code]
[code]

[2017-12-18 21:39] Felipe-Mangueira opened #892 "BCH/coins orderbooks missing from BitBay exchange"
Hey, @kroitor,

I am missing BCH's orderbooks, BCH/PLN included, from Bitbay exchange. Could you add it as soon as you can, please? Thanks in advance.

- OS: Windows 10
- Language: English
- CCXT version: 1.10.354
- Exchange: Bitbay
- Method: fetch_order_book

[code]

[code]

[2017-12-18 21:39] jompro opened #893 "bitstamp createOrder type limit throws "under 5$ Order" exception"
createLimitBuyOrder is also broken on bitstamp.

- exchange.createOrder ('BTC/USD', 'limit', 'buy', '0.001', '20.00') -> doesn't work
- exchange.createOrder ('BTC/USD', 'market', 'buy', '0.001') -> works fine

i don't know how to fix it myself, sorry.

[2017-12-18 21:45] #892 closed

[2017-12-18 21:50] kroitor commented on #893
Let's see... you're buying BTC 0.001 for a price of $20 per BTC, that is:

`$20 * 0.001 = $0.020`

which is obviously less that $5.

Your BTC/USD order should be worth more than $5 in total.

One solution I would propose is to not submit orders that are too small, because most exchange will forbid *dust trade* (orders of very tiny amount)?

[2017-12-18 21:57] kroitor commented on #891
@Juanperezc can you please tell the exact version of ccxt?

[2017-12-18 22:01] Juanperezc commented on #891
is the last version, before doing the tests update

in the composer this appears
1.10

[2017-12-18 22:09] jompro commented on #893
oh, i totally misunderstood this function.
thanks a lot.

[2017-12-18 22:09] #893 closed

[2017-12-18 22:12] kroitor commented on #892
Added BCH/PLN and BTG/PLN in 1.10.410+. Unfortunately, they still don't offer a list of traded symbols with their API, so we have to keep it hardcoded for now. I guess we will have to switch to scraping that list from their website soon, otherwise it will be hard to keep it up to date.

[2017-12-18 22:14] Felipe-Mangueira commented on #892
Hi, @kroitor,

Thank for your return, but I meant Bitbay not Bitmarket. The BCH's orderbooks is missing from Bitbay exchange. Could you take a look, please?

Besides, I have a problem to fetch my balance, which is definitely not empty. Could you take a look at this, as well? I'm getting the 503 error code. Please, see the log:

'''
Traceback (most recent call last):
  File "C:\Program Files\JetBra

[2017-12-18 22:16] kroitor commented on #892
@Felipe-Mangueira lol... that happens ) Bitmarket required an update to their list of pairs anyway )) I'll update bitbay as well and will get back to you on the error.

[2017-12-18 22:20] kornrunner commented on #891
Fix for that is available within #876, specifically within 09e889d049314bd5f5f045856703c84ea6631220

[2017-12-18 22:21] kroitor commented on #891
@kornrunner thanks a lot, I was about to ask you this exact question ) Really helps! Merging it now!

[2017-12-18 22:31] Juanperezc commented on #891
Thanks @kornrunner How do I lower that commit you made? I'm sorry, I'm new to this git

[2017-12-18 22:37] kornrunner commented on #891
I think this bug first appeared in 1.10.392, so you could try version 1.10.391, or await for @kroitor to merge my PR and issue a new release.

[2017-12-18 22:38] kroitor commented on #891
@Juanperezc you can either clone it directly with git, or just hold on until I upload a new version with a fix. Thanks to @kornrunner and other contributors, this won't be a long wait, really ) I will let you know when it's there.

[2017-12-18 22:41] Juanperezc commented on #891
It's fine, I'll wait better. to have it updated without these errors

[2017-12-18 22:41] #891 closed

[2017-12-18 23:52] kroitor commented on #862
This is fixed in #876, ccxt version 1.10.412. Let us know if you have any difficulties with it. Thx!

[2017-12-18 23:52] #862 closed

[2017-12-18 23:52] kroitor commented on #891
This is fixed in #876, ccxt version 1.10.412. Let us know if you have any difficulties with it. Thx!

[2017-12-18 23:57] kroitor commented on #892
Bitbay should be up to date now... On the error you have – make sure your clock is synchronized.
If synchronizing time does not help, please post verbose output of it, we will need to see the nonce numbers.

P.S. Post code in backticks (&#96;&#96;&#96;) not in quotes (''').

[2017-12-19 00:04] denisenkoaj opened #896 "question: How to get order's id ?"
- Language: js
- CCXT version: last
- Exchange: Binance
- Method: createMarketSellOrder

Hello guys! How to get order's id after creating market order ? and order's status: success or failure ? For example:
let binance  = new ccxt.binance({ verbose: true });
.. add api keys..
binance.createMarketSellOrder('BTC/USDT', 2);

I have either response with:
{"code":-2010,"msg":"Account has insufficient b

[2017-12-19 00:07] kroitor commented on #896
@denisenkoaj you should catch and handle JS exceptions.

Docs:

- https://github.com/ccxt/ccxt/wiki/Manual#error-handling

Examples including error handling:

- https://github.com/ccxt/ccxt/blob/master/examples/js/proxy-round-robin.js
- https://github.com/ccxt/ccxt/blob/master/examples/js/load-all-tickers-at-once.js

[2017-12-19 00:08] #896 closed

[2017-12-19 00:15] leoplct commented on #872
Thank you!

I'm getting this error, but I cannot understand the reason and what params are missing

[code]

`Withdrawing error: Error: okcoinusd {"result":false,"error_code":10000}`

[2017-12-19 00:38] leoplct commented on #872
I found this solution. ?trade_pwd is not passed

          exchange_origin.withdraw(

            currency_target,
            withdraw_amount.toFixed(5),
            crypto_address,
            {'chargefee': chargefee, 'trade_pwd': process.env.OKCOINUSD_API_PASSWORD }

          ).then(res => {
            console.log(res);
          }).catch(err => console.error("Withdrawing error: " + err))

[2017-12-19 00:43] kroitor commented on #872
@leoplct oh, missed it somehow... How did it pass my test then %) Anyway, I will fix it right away! Thank you so much for reporting!

[2017-12-19 01:25] Felipe-Mangueira commented on #892
Hi, @kroitor.

Sorry for the noob question, but how do I do that? When I override the nonce parameter and set the  bitbay exchange like this (described on your ccxt manual)...
[code]
... I get the error 503. However, when I do not override any nonce like this...
[code]
... I receive the balance without problems. So, as I intend to request the bitbay's server more than one time per second, I assume

[2017-12-19 01:33] kroitor commented on #892
You can't call it more frequently than once per second.

<img width="860" alt="screen shot 2017-12-19 at 04 28 03" src="https://user-images.githubusercontent.com/1294454/34136073-2ab28aa0-e475-11e7-9bc2-1801e3e9994d.png">

<img width="724" alt="screen shot 2017-12-19 at 04 28 36" src="https://user-images.githubusercontent.com/1294454/34136077-2df1dcfc-e475-11e7-8ae5-cb39c9f29f93.png">

No need to

[2017-12-19 02:20] kroitor commented on #892
@Felipe-Mangueira more about rate-limiting:

- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/wiki/Manual#authentication
- https://github.com/ccxt/ccxt/wiki/Manual#overriding-the-nonce (this one you've already read, apparently)

[2017-12-19 02:25] Felipe-Mangueira commented on #892
Ok, @kroitor, I'll take your advices (I have read this docs already).
On my strategy, sometimes I overload the server from Mercado Bitcoin with 3 request at once on 3 different threads (for example), and after then I wait 3 seconds and I have not been banished yet. I think I should override the nonce with a milliseconds one, since I want to make private requests more frequently than once per secon

[2017-12-19 02:34] kroitor commented on #892
This is because most exchanges support *bursts* of requests... Our built-in rate limiter supports that, if you set a proper .rateLimit + tokenBucket settings, then you can send out your requests in bursts, this is needed by most of traders, they don't want to be regular, they want to be responsive (send many requests in short periods of time, while still staying below the rate limit in longer term

[2017-12-19 03:02] Felipe-Mangueira commented on #892
Ok, @kroitor. I got it... I will have to accept this limitation or give up on this exchange because it doesn't fit my needs.

Anyway, I really appreciate your patience and concern.

[2017-12-19 04:01] #849 closed

[2017-12-19 04:06] kroitor commented on #882
@scoshil can you, please, try reinstalling the anaconda python? (if that's ok for you)... you would help us rule out one possible cause of it...

[2017-12-19 04:26] scoshil commented on #882
Thanks I'll try the things you mentioned and report back....may take me a little while to do a clean anaconda install though

[2017-12-19 04:47] Bomper commented on #522
Have you considered using BigNum for the JavaScript library? Floats are dangerous (precision loss) and strings lead to concatenation instead of addition (e.g. `order.size + 10` may be "3010" if `order.size` was `"30"`).

[2017-12-19 04:50] kroitor commented on #522
@Bomper yes, in fact, this is all the same subject in all languages, so we are preparing a generalized solution to this issue. Will let you know upon progress.

[2017-12-19 05:28] scoshil commented on #882
Ok so I tried the following:

- Clean install of Anaconda on my existing PC - same error message
- All the solutions mentioned in https://stackoverflow.com/questions/33699577/conda-update-failed-ssl-error-ssl-certificate-verify-failed-certificate-ver - same error message
- Running from a VM located in North America - same error message

Really out of ideas at this point...

[2017-12-19 05:58] kroitor commented on #882
@scoshil ok, thanks so much for your effort and for reporting back! We will have to migrate to `requests+certifi` for their SSL certificates, I'll let you know on the progress, hopefully very soon.

[2017-12-19 06:02] scoshil commented on #882
Thanks!

[2017-12-19 07:08] janeCMD opened #897 "Poloniex - fetch_order fatal error"
Hi,

It seems like its 2 error thrown at the same time, first is that it didnt find the order, second you see above. The error is happening to me with order which is supposed to be executed ('closed'). I checked the code, and see how you implemented fetchOrder method for poloniex. Then i checked their API. Do i see well they support only fetching open orders ? And CCXT seems to be trying to get cl

[2017-12-19 07:16] kroitor commented on #897
Hi!

Error #1 is explained here:

- https://github.com/ccxt/ccxt/issues/569
- https://github.com/ccxt/ccxt/pull/102
- https://github.com/ccxt/ccxt/issues/96
- https://github.com/ccxt/ccxt/issues/71

Error #2 may be fixed with the latest version of the library, which version do you have?

[2017-12-19 07:21] kroitor commented on #882
@scoshil I cant reproduce the problem from my Windows 10 machine from Russia, I can access Binance normally...

<img width="1022" alt="screen shot 2017-12-19 at 10 09 02" src="https://user-images.githubusercontent.com/1294454/34145135-b8568b24-e4a5-11e7-9123-c3d8752df077.png">

As you see, a fresh install of Anaconda3 works on my side... So, maybe you have some certificates that are outdated or so

[2017-12-19 07:28] janeCMD commented on #897
@kroitor I dont have newest version, can update it, by error 2 you mean getting order not from open orders API but trades ?

[2017-12-19 07:34] kroitor commented on #897
@janeCMD no, by error 2 i mean `Fatal error: Call to undefined function ccxt\OrderNotCached()`...  as for the generic solution on fetching the trades for order management – we are working on it intensively (reworking the cache system right now). In the meantime you should save orders that were created with ccxt, and reload them from disk... For orders that were created outside of ccxt you will hav

[2017-12-19 07:44] janeCMD commented on #897
@kroitor yes, basically all answered. I would have one more question, hope not stupid one. The IDs in trade APIs (globalTradeId, tradeId) - is one of them identical to order ID at poloniex ? I have orders placed on exchange saved, ofcourse, but my logic is tight to confirmation, that order was closed, rather than close it, when its not found in openOrders anymore. That is method prone to problems,

[2017-12-19 07:52] kroitor commented on #897
No, one order can result in many trades, so trade id != order id... each trade (if you fetch it with fetchMyTrades) will contain an `order` field with order id and an `id` field with the trade id... The logical structure is like `order_id = [ trade_id, trade_id, trade_id, ... ]`.

It is, that's why we are going to switch to fetchMyTrades as a generic solution to this.

Feel free to ask questions,

[2017-12-19 07:52] #897 closed

[2017-12-19 07:58] langabi opened #898 "Typo in Exchange.php breaking currencies"
I believe that a typo in Exchange.php is preventing it from correctly loading currency symbols. Specifically, vendor/ccxt/ccxt/php/Exchange.php line 945 is ``'code' => $market['base'],`` instead of ``'code' => $market['quote'],``, as one can see from eg vendor/ccxt/ccxt/build/ccxt.browser.js line 1922. Making that change fixes the issue, but I'm not confident enough in the code base to submit a pu

[2017-12-19 08:06] kroitor commented on #898
I'd say you seem to be confident enough! ) Thanks for your attention! This is obviously an example of a bad copypaste bug. Indeed, editing that single line in Exchange.php will fix the issue, so if you can, please submit a PR, I would merge it wight away! Thx again for reporting this issue!

[2017-12-19 08:26] kroitor commented on #898
I'll fix it right now, no worries.

[2017-12-19 08:27] #898 closed

[2017-12-19 08:35] kroitor commented on #898
Fixed in 1.10.416. Thx again!

[2017-12-19 10:00] kroitor commented on #882
Also, if you can, please run the following to see if the difference is indeed related to SSL:

[code]

Does it work this way?

[2017-12-19 10:09] kroitor commented on #56
@GoChartingAdmin yes, we are in the process of merging this PR: https://github.com/ccxt/ccxt/pull/751, so, we hope to see first implementations of a generic ws wrapper in the coming days.

[2017-12-19 12:25] TuSuNaMi opened #900 "How to install and run ?"
Hello,

I'm installed with root user and this command npm install ccxt my linux machine.

But whats next I dont know, your documentation so expert for freebie.

Please help me

Thanks,

[2017-12-19 12:26] marinsokol5 opened #901 "Hitbtc2 parse order error"
Hi friends, you are doing an amazing job.
Happy to see how you 've developed through the summer :)

Hitbtc v2 throws exception when trying to fetch order by id.

- OS:Linux
- Language: Python 3.6
- CCXT version: 1.10.416
- Exchange:HitBTC2
- Method:fetch_order()

[code]

[code]

[2017-12-19 12:30] #901 closed

[2017-12-19 12:38] kroitor commented on #900
- https://steemit.com/steemdev/@codewithcheese/looking-for-arbitrage-opportunies-with-javascript-library-cctx-supporting-70-exchanges
- https://hackr.io/tutorials/learn-node-js
- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/tree/master/examples

This library requires technical skills and experience with at least one programming language. If you have little programming ex

[2017-12-19 12:38] #900 closed

[2017-12-19 12:48] kroitor commented on #901
Hello, @marinsokol5 ! Good to hear again from you ) Thanks for reporting this issue, I fixed it in version 1.10.417 ) Please update and retry the same code again. Let us know if you have any problems with it (tested it on my side in python). Cheers!

[2017-12-19 13:15] janeCMD opened #902 "Parse error: syntax error, unexpected '.', expecting ',' or ';' in /ccxt/ccxt.php on line 35"
Please help. I updated CCXT and this... I rewrote old version and have no idea, what this error means, i dont see any syntax error there myself.

[2017-12-19 13:26] quocson1 opened #903 "Bithumb fetchTickers TypeError in JS"
Hi.
running fetchTickers (no arguments or anything special) I get:
TypeError: Cannot use 'in' operator to search for 'BTC' in undefined at bithumb.fetchTickers

[2017-12-19 13:36] hexdump2002 opened #904 "Bittrex [SSL: CERTIFICATE_VERIFY_FAILED] error (works with web browser)"
Just trying to get markets from bittrex as per example gives me that excepton on Python.

- OS: OSX
- Language: Python
- CCXT version: 1.10.416
- Exchange: Bittrex
- Method: load_markets()

it works correctly on firefox using https://bittrex.com/api/v2.0/pub/Markets/GetMarketSummaries

[code]
import ccxt

'''bitrex api keys'''
bitrexApiKey='My ApiKey'
bitrexSecretKey='My Secret Key'

bittrex=ccxt.

[2017-12-19 13:37] hexdump2002 commented on #904
I forgot to say that I renewed api keys too. The method called is public though

[2017-12-19 13:39] kroitor commented on #902
We don't have ccxt/ccxt.php in the repository, I guess it's your file... Can you try a clean install?

[2017-12-19 13:42] kroitor commented on #904
Ref: https://github.com/ccxt/ccxt/issues/882

[2017-12-19 13:42] #904 closed

[2017-12-19 13:44] janeCMD commented on #902
The file is there, in master (ccxt.php, updated 22 minutes ago). Only the folder i have ccxt in is called 'ccxt'

[2017-12-19 13:45] kroitor commented on #902
@janeCMD which command did you use to update it?

[2017-12-19 13:47] #903 closed

[2017-12-19 13:49] janeCMD commented on #902
@kroitor Just downloaded the zip, unpacked and copied to server ... The file ccxt.php contains const declaration, which is likely not allowed. This is what i found:

https://stackoverflow.com/questions/10969342/parse-error-syntax-error-unexpected-expecting-or

I dont know if this could be related to php version, as there were some changes regarding these things in later PHPs

[2017-12-19 13:50] kroitor commented on #902
@janeCMD and your version of PHP is?

[2017-12-19 13:58] kroitor commented on #903
Hi! Fixed in 1.10.419. Thx for reporting!

[2017-12-19 14:07] janeCMD commented on #902
5.5.38-1~dotdeb+7.1

[2017-12-19 14:12] #902 closed

[2017-12-19 14:28] kroitor commented on #902
@janeCMD yeah, unfortunately, support for const expressions was added as of PHP 5.6+... Can you update ccxt once again and check if the problem is gone with the new version of it? I've added a workaround for this issue, however, I can't test it with 5.5 right now... Your test+report would be very helpful. Thx a lot!

[2017-12-19 14:38] hexdump2002 commented on #882
I have executed what you suggested and this is the output:

{"timezone":"UTC","serverTime":1513694282583,"rateLimits":[{"rateLimitType":"REQUESTS","interval":"MINUTE","limit":1200},{"rateLimitType":"ORDERS","interval":"SECOND","limit":10},{"rateLimitType":"ORDERS","interval":"DAY","limit":100000}],"exchangeFilters":[],"symbols":[{"symbol":"ETHBTC","status":"TRADING","baseAsset":"ETH","baseAssetPre

[2017-12-19 14:40] kroitor commented on #882
@hexdump2002 thanks! That confirms my initial thought. Ok, the fix for this is coming very soon.

[2017-12-19 14:41] hexdump2002 commented on #882
Thanks a lot. We really need it because the library crashes in such basic thing.... By he way, your work with the lib is awesome. Thanks for sharing it!

[2017-12-19 14:45] kroitor commented on #882
@hexdump2002 btw, just for completeness, if it's not a secret, what is your country/region/continent?

[2017-12-19 14:46] hexdump2002 commented on #882
Europe/Spain , I will provide anything you need :)

[2017-12-19 14:50] hexdump2002 commented on #882
@kroitor : With no intention of rushing you or anything, do you have any ETA for this bug to be fixed? We are at this stucked now :).

[2017-12-19 14:57] kroitor commented on #882
@hexdump2002 today or tomorrow.

[2017-12-19 15:06] ASfSDlS61TLT6eoP3Qb7 commented on #890
Allright, that's great. I must misunderstood it due the version in:
https://github.com/ccxt/ccxt/blob/ba0b1fa8ce8c1133d7ea7de1e5a1b89e0cfbc10c/js/bittrex.js#L17

And I think the documentation needs an update as well, right?

![image](https://user-images.githubusercontent.com/14862123/34163273-9d3e7096-e4d6-11e7-9e60-6d6d1ec5501d.png)

[2017-12-19 15:21] kroitor commented on #890
I must misunderstood it due the version in:

Bittrex v1.1 is the official version, and their v2.0 covers just a small public part of the API... So you can't really do a lot with v2.0 only... It has to be 1.1+2.0 anyway. Moreover, v1.1 is still the dominant part of it.

Well, first of, the docs are generated from js files, so the version would be populated from bittrex.js, therefore no need to edit

[2017-12-19 16:05] Felipe-Mangueira opened #905 "Mess with the BCC and BCH currencies on the balance in BitBay"
Hi again, @kroitor.

I noticed that in fetch_order method in bitbay exchange, there is a confusion with the Bitcoin Cash code in the returned dictionary: in the 'info' key, the code is 'BCC' and in the others keys, the code is BCH. Please, could you fix this code to the default one used in ccxt (BCH). Please, see the returned dictionary as showed in the example below:

[code]
- OS: Windows 10
- La

[2017-12-19 16:16] gaardiolor opened #906 "HTTP / SOCKS proxy support"
Any progress on adding http / socks proxy support ? How it works now with appending url's isn't supported by most proxy servers. Perhaps also add an option to disable verification to make intercepting / debugging easy (via an intercepting proxy like 'Burp').

thanks!

[2017-12-19 16:17] kroitor commented on #905
Hi, @Felipe-Mangueira ! You're interpreting the returned value incorrectly. [From the Manual](https://github.com/ccxt/ccxt/wiki/Manual#querying-account-balance):

[code]

The `info` field is the reply from the exchange itself, as is, untouched, unparsed by ccxt. Because we don't touch the contents of that field and return it along with other fields, you can see that some exchanges are having non-u

[2017-12-19 16:19] kroitor commented on #906
Which language?

[2017-12-19 16:25] Felipe-Mangueira commented on #905
Sorry, @kroitor, but i was not so clear: there is no problem with the unified API. However, I actually have 0.15 BCH on my account, but 0.15 is not the value showed on balance['free']['BCH'], its 0. So, where is the problem? Why cannot I access the correct balance of BCH on balance['free']['BCH']?

[2017-12-19 16:26] kroitor commented on #906
- JS: https://github.com/ccxt/ccxt/pull/599
- Python 3 async: https://github.com/ccxt/ccxt/issues/358

Support for proxies in Python sync versions will be added in a couple of days. We are working on it right now (under development), will be there soon. Let me know if this answers your question. Thx1

[2017-12-19 16:28] kroitor commented on #905
@Felipe-Mangueira ok, this must be a bug then, now I got it, thanks for the clarification. Will look into it and will fix it asap.

[2017-12-19 16:30] Felipe-Mangueira commented on #905
Ok, @kroitor, thank you!!

[2017-12-19 16:39] #905 closed

[2017-12-19 16:41] kroitor commented on #902
@janeCMD did you succeed with the newest version of it? Let us know, plz.

[2017-12-19 16:44] janeCMD commented on #902
@kroitor I will let you know tomorow, off work now, thanks for help

[2017-12-19 16:54] kroitor commented on #905
Fixed in 1.10.421. Thx for reporting!

[2017-12-19 16:56] kroitor commented on #905
Oh, sorry, apparently, there's one more bug there... Will get back to you on this very soon.

[2017-12-19 16:59] Felipe-Mangueira commented on #905
No problem, @kroitor, I'm waiting patiently

[2017-12-19 17:08] kroitor commented on #905
@Felipe-Mangueira can you please try 1.10.422 now?

[2017-12-19 17:23] Felipe-Mangueira commented on #905
@kroitor, it's working fine! Thank you once again!

[2017-12-19 18:14] Felipe-Mangueira commented on #905
@kroitor, sorry for keeping disturbing you with this BCH code issue, but the withdraw and create_order methods with this currency is not working properly:

About the withdraw method:

When I run...
[code]
...it works fine.
But when I run...
[code]
... it does not work properly (a ccxt.base.errors.ExchangeNotAvailable is raised).

About the create_order method:

When I run...
[code]
... it does not

[2017-12-19 18:49] kroitor commented on #905
Done in 1.10.424.

I would also suspect that, but it turns out that there are no unified methods left for now %) The rest of them are still not implemented yet. All existing unified methods (the ones that are implemented already) should now work normally with all symbols and currencies. However, if you can do some testing of your use-cases and report back, you would really help us a lot! Thx!

[2017-12-19 18:51] Felipe-Mangueira commented on #905
Sure. I'll test it right now. Meanwhile, if i notice any new issue, I report back to you.
Thank you!

[2017-12-19 19:00] gaardiolor commented on #906
Sorry, python sync. Great that it will get added !

Any way to disable certificate verification for troubleshooting ?

[2017-12-19 19:00] fredfortier commented on #870
@kroitor I appreciate the offer. I do have an question about running unit tests. I'm trying to run unit tests (this one in particular `test/test.js:176`) from IntelliJ in order to enable my debugger.

Here is how far I get:
[code]

I think that I'm giving it the right parameters but it does not seem to execute the test suite in `test.js`. At least, it does not hit my breakpoint. Please let me know

[2017-12-19 19:13] kroitor commented on #870
Yep, all params are correct. By the way, if you want to launch just one test, it is much faster to run:

[code]

The run-tests suite is mostly for running many of them in multiple languages in parallel.

The `test.js` loads config settings from `keys.local.json` or `keys.json` (the one it finds first, in that order). We had to add `"skip": true` to `keys.json` for Binance, to avoid testing it on T

[2017-12-19 19:17] kroitor commented on #906
@gaardiolor currently, the only way is to redefine the fetch() method, not very convenient, unfortunately. But we are going to upload a much more convenient interface to it with all settings and session parameters editable, etc... Just need some more time...

[2017-12-19 19:31] fredfortier commented on #870
Ok thanks!

About the specific issue, I found that the Binance API accepts a single parameters:
[code]
Since it can return multiple tickers per request, I assumed that a variation of this would work:
[code]
No matter what I try, I can't specify more than one symbol in the request without getting an error.

However, this does return tickers for all markets:
[code]
So the dilemma when multiple symbo

[2017-12-19 19:37] kroitor commented on #870
I would also go the second way. Agree 100%, one request is practically always more preferable than multiple requests... We avoid sending out multiple http requests as hard as we can to keep requests count explicit: one method call = one request. Some exotic cases demand two requests, but those are few and we never go for more than two. One request per call is our "standard", it makes life much eas

[2017-12-19 20:04] fredfortier commented on #870
I implemented and tested this feature in JS. Do you want me to attempt to transpile it? Or do you prefer transpiling it yourself? I would not mind knowing how to transpile code so I can contribute more in the future. I'll wait for your answer before pushing a PR.

[2017-12-19 20:15] kroitor commented on #870
@fredfortier we usually transpile locally before uploading, to check for consistency, but we only upload js files (we don't upload derived transpiled php and python files), because we want to keep the repo size smaller, it is already over 200Mb, so we tend to commit the minimal change (transpiled and checked locally, commited js only), and Travis will redo the transpilation on its side, then will

[2017-12-19 20:17] kroitor commented on #870
@fredfortier let me know if you have any question of the build sequence... a `npm run build` should do the job and should report errors... `npm run qa` will test for python syntax after transpilation... Most of the time the transpilation breaks due to one or more of these rules: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#derived-exchange-classes

[2017-12-19 20:21] Felipe-Mangueira commented on #905
@kroitor, apparently, it's working as expected. Thx!

[2017-12-19 20:22] kroitor commented on #905
@Felipe-Mangueira thank you for the feedback, we will be happy to help further.

[2017-12-19 20:30] Felipe-Mangueira commented on #905
Ok, @kroitor, thanks for your helpfulness!

[2017-12-19 20:33] fredfortier commented on #870
Ok. I read it more carefully and made adjustments. Do you use WebStorm or IntelliJ? If so, and these rules are programmed into your code formatting settings, would you mind exporting them? If not, I'll adjust and export mine. I believe that most of these rules can be enforced by the IDE.

[2017-12-19 20:36] gaardiolor commented on #906
ok no problem, I can always add my CA to my certificate store. Should we leave this issue open until the python sync proxy feature is implemented ?

[2017-12-19 20:49] fredfortier commented on #870
I get this error on `npm run build`. I did not seem related to my changes, so I rolled them back completely but still get it. It seems related to the python doc generator. This is from a fork of the master branch.
[code]

[2017-12-19 20:59] kroitor commented on #870
Do you have [pandoc](https://pandoc.org/installing.html) installed ? It is needed for the docs.

Or, alternatively, you can skip the pre-build stage and pandoc commands, because you don't really need to build the docs... In fact, if you changed just the derived binance.js file, the only needed step to transpile it is:

[code]

After it, you can do

[code]

to verify Python PEP8 syntax conformance