[2022-10-23 10:54] markxma1 opened #15389 "fetch data from OKX"
I try to make full overview over my transaktions (bye/sell/deposit/withdrawl/earnings and boot trades) with python for Okx, but I get only 2 Trades (but I have made more than 2).

I have tried to send request with orders-history-archive and fetchMyTrades from CCXT Library (have tried some other functions, but I steed don't get my transactions.)

Is there some way to get full overview for Okx with

[2022-10-23 12:54] Showgofar commented on #14838
yep, but i was always update it like that (direct download and replace php files)

[2022-10-23 13:00] Showgofar commented on #14838
this doesn't work as I mentioned above - parameter is just ignored

[2022-10-23 14:25] carlosmiei commented on #14838
@Showgofar

We know, but the ccxt.pro added a new dependency, after doing it once (composer update) it should be fine and you can't keep downloading + replacing

what if you send it as `order_price_type`? example: `ex.createOrder (symbol, 'limit', 'buy', amount, price, {'order_price_type': 'ioc'})`

can you check if this works for you? ⬆️

[2022-10-24 07:35] zydjohnHotmail commented on #15264
Hello:
I changed my code according to your code template, the following is the output of the results:
D:\nodejs\CCXT_Wallet>node bigoneBalance.js
2.0.58
fetch Request:
 bigone GET https://big.one/api/v3/asset_pairs
RequestHeaders:
 {}
RequestBody:
 undefined

(node:17148) ExperimentalWarning: The Fetch API is an experimental feature. This feature could change at any time
(Use `node --trace-warning

[2022-10-24 07:40] zydjohnHotmail commented on #15308
Hello:
I did more tests again, today, it worked!
Thanks!

[2022-10-24 07:40] #15308 closed

[2022-10-24 08:29] ttodua commented on #15194
Yes, the pre-merge version https://github.com/ccxt/ccxt/releases/tag/1.94.15 might be what you want, however, it will be unsupported and will become outdated as time goes.

[2022-10-24 08:29] #15194 closed

[2022-10-24 08:39] ttodua commented on #15277
@adradr as advised by Carlos above, please update your CCXT version to latest and the issue should be gone.
If still any issues, please let us know.

[2022-10-24 08:39] #15277 closed

[2022-10-24 08:40] adradr commented on #15277
Thanks for the replies, can confirm its solved in the latest version!

[2022-10-24 08:42] ttodua commented on #15266
I've not tested binance's watch_OHLCV in last periods and I dont remind, but as a though - could it be due to the actual candle updates and not the binance's engine misbehaving? For example, if on the symbol there happens no trade for 2.6 seconds or for 17 seconds, then binance might not send any update for that candle?

[2022-10-24 08:57] xmatthias commented on #15266
you're (probably) correct - though i didn't observe this long timespan since i've changed approach in this regards.

As such - we can close this - as it was a misunderstanding from my side on how watch_ohlcv works.

[2022-10-24 08:57] #15266 closed

[2022-10-24 09:04] ttodua commented on #15350
iirc, we plan adding custom endpoint subscriptions, like it's possible in REST. stay tuned and subscribe to CCXT's announcements telegram/discord channels.

[2022-10-24 09:08] ttodua commented on #15374
As everything is clear, I'll close this issue. let us know if you have any further issues with CCXT.

[2022-10-24 09:08] #15374 closed

[2022-10-24 09:13] MinsungKim-BlockCrafters opened #15392 "CCXT Pro's `fetch_trades` is returning cached trades in some exchanges"
- OS: MacOS Monterey 12.6
- Programming Language version: Python 3.9.6
- CCXT version: 2.0.58

About `exchange.fetch_trades`, I expect this method will return new data which is not available in last returned data. However, it returned the cached data in some exchanges.

Run following program with providing inputs as `bitmex, xbtusd` or `binance, btcusdt`, then you will be able to reproduce the res

[2022-10-24 09:27] ttodua commented on #15377
You are right, seems the current implementation doesn't have any endpoint to access it, so it seems bybit is lacking that endpoint, we can't do anything in such case (if anyone finds out that that bybit added/supports it now and we have a missing implementation, let us know)

[2022-10-24 09:27] #15377 closed

[2022-10-24 09:32] ttodua commented on #15388
@aleqx CCXT has more flavours inside backgrounds than you might think of surface. for example, "just get the orderbook" of course doesn't need markets to be loaded per se, but ccxt is a huge framework which deals with not only "just getting the orderbook" but whole instances, sessions, other unified methods and etc... and for the library to understand and link methods and responses to the specific

[2022-10-24 09:32] #15388 closed

[2022-10-24 09:42] ttodua commented on #15260
if you need a quick review, as you might already know, you can refer to : https://github.com/ccxt/ccxt/wiki/Manual however, the rendered manuals (as I think) is available only after successful build of that. So, it needs to be fixed still.

[2022-10-24 09:47] MinsungKim-BlockCrafters commented on #15392
I realized I have to set `{"newUpdates": True}` in exchange, however the issue still persists.

[2022-10-24 09:54] carlosmiei commented on #15392
Hello @MinsungKim-BlockCrafters thanks for letting us know, we will take a look

[2022-10-24 12:01] #14825 closed

[2022-10-24 13:25] kaiserex opened #15394 "Bitmex order qty error, always goes to 0 for USDT margin trading pairs"
- OS: Ubuntu
- Programming Language version: Python 3.10.6
- CCXT version: ccxt-2.0.63

[code]

[code]

I can see in the ccxt bitmex class, that the amount comes in completely fine, but it gets sent as 0, after this line
[code]
Am i doing something wrong or the amount to precision has a bug of some sort?

[2022-10-24 16:59] newbie-coin opened #15396 "ccxt.base.errors.RequestTimeout: binance PUT https://fapi.binance.com/fapi/v1/listenKey"
Thank you for open source the ccxt.pro.
When I use ccxt.pro to watch the future orders update, every time run a period of time(after about 7-8 hours), the program will return the following error.
From my view, it maybe the network error, or don't update listenkey in time. Do you have any suggestions about this error? And I want to confirm whether ccxt has an automatic update listenkey module for b

[2022-10-24 18:08] kleninmaxim opened #15397 "What Async\await appeared in the method load_markets for the bitget exchange"
- OS: ubuntu 22.04
- Programming Language version: php8.1
- CCXT version: 2.0.65

[code]

[code]

At ccxt 1.94.7 version it work correct.

[2022-10-24 18:17] pottertech commented on #15171
After installing CCXT with the following command:  git clone https://github.com/ccxt/ccxt.git --depth 1

I am ready to update CCXT but I am not sure what the command is to do it correctly.  Can someone help me out please?

[2022-10-24 19:18] ttodua commented on #8304
Late reply here, but I've tested your codes and found out, that there is no issue in CCXT, but it might be misunderstanding.
For example, when using hedge-mode on binance, you should choose `positionMode` either `SHORT` or `LONG` depending which side position you want to get affected. for example, if you want to open or close **long** position (so, your createOrder only affected **long** positions

[2022-10-24 19:18] #8304 closed

[2022-10-24 20:28] DarKayserLeo commented on #12379
Hi, I'm facing same issue. Did you manage to find the correct way to create a Trailing Stop order.

Documentation is really poor! =(

[2022-10-24 20:31] ttodua commented on #8598
I deem this issue to be closed, as there has been no reply or any detail from user to understand what s/he wanted.
in two words, whatever could have been said, @ kroitor mentioned above.
Also, as the topic mentions `binance` specifically, I might add a reference to my another reply in similar topic: https://github.com/ccxt/ccxt/issues/8304#issuecomment-1289485719
which suggests that even if you ha

[2022-10-24 20:31] #8598 closed

[2022-10-25 03:23] Dan-krm commented on #15264
Does clicking on this URL show **Access Denied** or **404** for you? https://big.one/api/v3/asset_pairs

The error you're receiving is being thrown with the **asset_pairs** endpoint which is public and used for fetchMarkets

I'd try making a new API key without any restricted IP addresses and make sure the **apiKey** and **secret** are filled in correctly
You could also try deleting your `node_mod

[2022-10-25 03:43] Clairewangxiaotong opened #15398 "{"code":-2014,"msg":"API-key format invalid."} ISs there anyone who can tell me why I can not get the order_book?"
my code:

os.environ["http_proxy"]  = "http://127.0.0.1:10809"
os.environ["https_proxy"] = "http://127.0.0.1:10809"
binance = ccxt.binance({  'timeout': 60000, 'enableRateLimit': True,})
binance.apiKey = ''
binance.secret = ''

symbol = 'BTC/USDT'
while 1:
    print(binance.account())
    print(binance.fetch_order_book(symbol=symbol))

bug:

{'free': None, 'used': None, 'total': None}
Traceback (m

[2022-10-25 05:58] kaiserex commented on #15394
Figured it out this morning. To send 0.01 BCH, you have to send 1000 as size, since 1 contract size is 0.00001 BCH

[2022-10-25 06:04] kaiserex commented on #15394
My bad on this one, but really bad from Bitmex's side as well, it introduces potential to send unwanted orders 10x or 100x the size you want when working with different exchanges, or they update contract size on their side and you get liquidated on using too much leverage.

[2022-10-25 06:05] samgermain commented on #14518
You can, but there's a lot of new exchange PRs that have been there for a while, and I'll not sure how soon it will get merged. I can help review it and make sure everything is up to standard. Here's a [new exchange PR](https://github.com/ccxt/ccxt/pull/10778) that I just completed where everything is in near perfect condition.

[2022-10-25 06:13] samgermain commented on #15161
I plan to implement the kucoinfutures websocket/pro interface next week

[2022-10-25 08:44] jamezun commented on #12379
As far as I remember that are no simple way to do that, I just have the program check if the price exceed the trigger price, and if that is the case, I will send out the trailing order...

[2022-10-25 09:36] ttodua commented on #15343
Hi @nileio , can you please tell if you still experience that issue?  maybe it was some temporary network-related or etc, as I've tested (running already half an hour) and it doesn break even once.

[2022-10-25 13:14] carlosmiei commented on #15398
Hello @Clairewangxiaotong,

Seems something related to your proxy, assuming that your using the sync version, can add this option? `requests_trust_env=True`

[code]

[2022-10-25 13:17] carlosmiei commented on #15397
Hello @kleninmaxim, you're migrating from a pre-merge version, can you try to run `composer update` inside your directory?

[2022-10-25 13:32] #15373 closed

[2022-10-25 13:35] carlosmiei commented on #15352
Hello again @julienbfabre, sorry for the delay in replying

I was talking about the `createMarketBuyRequiresPrice` option only, not every exchange has it, and binance is not one of them, but you can easily do it for binance as well.

If you want to use the cost for market buy just do this:

[code]
Let me know if this does not help ⬆️

[2022-10-25 13:40] zydjohnHotmail opened #15403 "How to fix Cryptocom INVALID_NONCE error?"
- OS: Window 10 (21H2)
- Programming Language version: Node.js (ver 18.10.0)
- CCXT version: 2.0.66

[code]

[code]

Hello

I want to use ccxt to get account balance for exchange cryptocom

The code did NOT work.
Pleas advise on how I can change my code to avoid INVALID_NONCE error, I think my PC is synchronized with time server, it should be OK.
But I remember that the same code worked a few week

[2022-10-25 14:12] Dom0724 opened #15404 "Bitvavo 500 when querying balance"
When querying the balance for Bitvavo account, the API returns 500/internal error:

CCXT: 2.0.66, Ubuntu

[2022-10-25 14:40] carlosmiei commented on #15397
@kleninmaxim Alright, please give us some time we're debugging it now

[2022-10-25 14:54] zydjohnHotmail opened #15405 "Coinex how to get deposit addresses for many currencies and with network information."
- OS: Windows 10
- Programming Language version: Node.js (ver 18.10.0)
- CCXT version: 2.0.66

[code]

[code]

Hello

I fount that for exchange coinex, to get deposit address for any currency, I have to provide network parameter, for some currencies, like: BTC, ETH, USDT, it is OK, as I have some information.
But if I want to get deposit addresses for many different currencies, some of them are no

[2022-10-25 15:14] jokomad opened #15406 "Help with Binance European style-vanilla options"
- OS: Windows 10 (21H2)
- Programming Language version: node.js (ver 18.10.0)
- CCXT version: 2.0.37

# Question

Does ccxt offer possibility to trade european options on binance? On mobile application i can select call, put and vol orders and time frame from 5min to 1day expiration. Supported coins are BTCUSDT, ETHUSDT ,XRPUSDT, LTCUSDT, LINKUSDT and BNBUSDT.

Also, if it is possible i can not fi

[2022-10-25 15:27] tumma72 opened #15407 "Unified naming for order types and statuses..."
Hi there,
 I am not sure this is a specific issue or rather an improvement request. The problem is the following:
- I have created a trading bot that can run multiple strategies, on multiple markets on multiple exchanges, and is using CCXT, or at least trying;
- The expectations I had was that the order type, would be standardized, possibly as Enum across the library, so one could abstract from th

[2022-10-25 15:39] julienbfabre commented on #15352
ok understood, thanks @carlosmiei !

[2022-10-25 17:41] carlosmiei commented on #15407
Hello @tumma72 thanks a lot for your suggestion, it's hard to unify it 100% because different exchanges have slightly different order definitions, but you're completely right.

One suggestion, most of the times type=`market/limit`  + `stopPrice` inside `params` is enough to place stop-limit/stop-market orders

[2022-10-25 17:42] carlosmiei commented on #15404
Hello @Dom0724, thanks for reporting it we will take a look

[2022-10-25 19:18] #15352 closed

[2022-10-25 19:20] samgermain commented on #15407
I think that we should unify the response though in `parseOrder`, so that instead of returning `'type': 'stop'` or something, we convert it to a unified type

[2022-10-25 22:17] samgermain commented on #15404
Sounds like it's a problem with bitvavo's servers, can you try again?

[2022-10-25 22:51] danieltorscho commented on #15345
@ttodua
Thanks for clarifying. Unfortunately it still doesn't work with `unified` nor `UNIFIED`.

`exchange.options.accountsByType` returns:
[code]
Transfer from `spot` to `swap` works:
[code]

Transfering from `spot` to `unified` still doesn't work:
[code]

[2022-10-26 01:02] samgermain commented on #15405
With `coinex` it looks like the only way to do this is to loop through all the networks of each currency and call `fetchDepositAddress` for that currency and network

[code]

-------------------------------

It looks like the `coinex` rate limiter is currently not working as it should though, as I'm getting a lot of

[code]

I'll look at fixing the rate limiter

[2022-10-26 01:10] danieltorscho commented on #15345
@ttodua @sc0Vu
So I came up with a following solution to be able to transfer from **SPOT** to **FUNDING** account.

*Just for info:
We do not need an `UNIFIED` account type in that case.
As suggest by one guy from Bybit Telegram Group, to be able to transfer to `UNIFIED` account type, you should upgrade your Bybit account into Unified margin account which takes some precautions and actions by you.

[2022-10-26 01:33] samgermain commented on #15405
It looks like the rate limiter on `coinex` is set up properly.

If you want to avoid the `RateLimitExceeded` errors (which mean you'll miss an address, unless you set it up to make an additional call when there's an error) I'd recommend setting

[code]

--------------

You can change the `rateLimit` for the whole exchange by setting

[code]

---------------

Here's our [documentation on Rate Limit

[2022-10-26 01:55] Clairewangxiaotong commented on #15398
Hi Carlos，Thanks for your help.

Carlos Gonçalves ***@***.***> 于2022年10月25日周二 21:14写道：

[2022-10-26 06:02] pcriadoperez commented on #15392
Hi @MinsungKim-BlockCrafters , thanks for bringing this up. I found the issue was the we were only filtering correctly the new updates when passing in the unified exchange and not the exchange market id for some exchanges.
I'll open a PR to fix this issue.

[2022-10-26 07:21] AClotfelter opened #15409 "Unable to build example ccxt/examples/ts/fetch-tickers/"
Downloaded a zip copy of the repository, and attempted to build the TypeScript example in ccxt/examples/ts/fetch-tickers/

At first, running `npm i` in the example directory yielded the following error, saying that the requisite version of ccxt could not be found:

[code]

I tried it without the package-lock.json file, and the `npm i` command  completed:

[code]

But got the following when trying

[2022-10-26 07:33] tumma72 commented on #15407
Thank you both for the quick reply :-) The way I have solved the problem now is by creating two different mappings, given the data is changed from the actual exchanges, there isn’t much I can do from outside the library. The solution I have adopted now is the following:

1. Using `MultiValueEnum`, I created enums with the value I want to use in my software, each of the canonical values has a serie

[2022-10-26 08:07] carlosmiei commented on #15397
Hello again @kleninmaxim, it should be fixed now, can you upgrade to the latest version and try again?

[2022-10-26 08:07] #15397 closed

[2022-10-26 08:27] zydjohnHotmail commented on #15405
Hello:
Thank you very much for your help and code. To make things simpler, I decided to create one small Json file to store only 2 currencies: BTC & USDT. The following is the Json file, I may need to include about 50 currencies, but not all the currencies in the exchange.
D:\nodejs\CCXT_Address>type coinex_Coins.json
["BTC","USDT"]

I modified your code, so it looks like this:

const ccxt = requi

[2022-10-26 08:27] ttodua commented on #11113
after [this PR](https://github.com/ccxt/ccxt/pull/15402) is merged, you will be able to retriever conditional SL/TP orders with adding `orderCategory:1` in `params` (however, it will work only for TP/SL, and not typical conditional order)

[2022-10-26 08:55] kleninmaxim commented on #15397
Thanks! Code works without error :)

[2022-10-26 09:20] Showgofar commented on #14838
ok it works fine thank you

no, still the same it creates limit order

[2022-10-26 09:43] carlosmiei commented on #14838
@Showgofar Hello again, an IOC order is a limit order in its essence so you can't have a market IOC order, the only difference between a regular limit order is if it does not find an opposite matching order in the orderbook, is immediately canceled.
![image](https://user-images.githubusercontent.com/43336371/197993459-b686dad1-ac79-44b5-b8a7-4b95711cf39c.png)

[2022-10-26 11:03] zexz commented on #15350
is "watchOrders" available in php version of ccxt pro? Was trying to use it but it gives "watchOrders method not found"

Could you give me a hint where i gone wrong?

[code]

[2022-10-26 11:57] AlgoQ commented on #15404
Hi @Dom0724,

I just tried it out on Ubuntu 22.04 on the latest version of CCXT and everything works as expected. I think the problem is indeed like @samgermain mentioned related to bitvavo's servers.

[2022-10-26 12:57] carlosmiei commented on #15409
@AClotfelter can you upgrade to the latest version and try again? ⬆️

[2022-10-26 14:59] AndrewBarba opened #15413 "Override ws client with uWebSockets.js"
In the base ccxt client we have the ability to override the `fetchImplementation` with a more optimized http client such as [undici](https://undici.nodejs.org/#/). I'd like a similar ability to override the default `ws` client with a more optimized library such as [uWebSockets.js](https://github.com/uNetworking/uWebSockets.js)

[2022-10-26 16:05] sc0Vu commented on #15413
Hi @AndrewBarba

These libraries looks pretty cool. We probably need to check their codebase and discuss.

[2022-10-26 16:44] AClotfelter commented on #15409
@carlosmiei Thank you for your prompt look at this issue.

With the new version, `npm i` completes, but the build issue remains:

[code]

I was able to fix the error by editing the `node_modules/ccxt/ccxt.d.ts` file, to remove the semicolons within `export namespace pro`, found on line 716.

I forked, and went to make a PR, but found that the repo version of the file did not have these semicolons.

[2022-10-26 16:56] carlosmiei commented on #15409
@AClotfelter what if inside `fetchTickers` you run `npm run update ccxt` ? Don't know if you might have an outaded package inside `node_modules`

[2022-10-26 17:06] samgermain commented on #15405
This [stack overflow answer](https://stackoverflow.com/a/33801689) describes how to export a JavaScript object to json.

I'm going to close this issue though, as it's starting to get unrelated to CCXT

[2022-10-26 17:06] #15405 closed

[2022-10-26 17:14] AClotfelter commented on #15409
@carlosmiei `npn update ccxt` did not resolve the issue. I also have been removing the `node_modules` folder between attempts. It really does seem that the nom published version 2.0.70 has the semicolons.

[2022-10-26 17:21] carlosmiei commented on #15409
@AClotfelter hum that's weird, I just installed the latest version and I don't see it.

![image](https://user-images.githubusercontent.com/43336371/198093859-15832110-30ab-49b4-aa50-f17b9ebd27aa.png)

[2022-10-26 17:22] carlosmiei commented on #15409
@AClotfelter can you delete your node_modules and `npm i` again?

[2022-10-26 17:52] AClotfelter commented on #15409
@carlosmiei Unfortunately, same issue:

[code]

[2022-10-26 17:54] AClotfelter commented on #15409
Forcing download does not change outcome:

[code]

[2022-10-26 17:58] AClotfelter commented on #15409
@carlosmiei It's worth noting that the section of code in your screenshot is not the block in question; the screenshot code is a block starting on line 16, and the problem code is a block starting on line 716.

[2022-10-26 20:45] dawadam opened #15414 "bitget sandbox mode make error"
Hi, this lines :

[code]
make this :

[code]

[2022-10-26 21:10] dawadam opened #15415 "Bitget test URL seems invalid"
In bitget exchange data :

[code]

Test URL seems invalid.
Because subdomain doesn't exist.

[2022-10-26 21:10] carlosmiei commented on #15409
@AClotfelter actually I think you're right (sorry about the screenshot, clearly was showing the wrong section) I'll try to figure it out because this is really strange as you can see here https://github.com/ccxt/ccxt/blob/master/ccxt.d.ts `;` are not there anymore

[2022-10-26 22:17] csotto opened #15416 "ModuleNotFoundError: No module named 'ccxt.async_support.eqonex'"
- OS: Windows 11 Home Version 22H2, compilation aversion: 22621.674
- Programming Language version: Python 3.10.7
- CCXT version:  ccxt    2.0.71
- CCXTPRO version : ccxtpro       1.2.36

[code]

[code]

[2022-10-26 23:02] AClotfelter commented on #15409
@carlosmiei Thanks!

[2022-10-26 23:51] frosty00 commented on #15416
you can use

[code]

now

[2022-10-26 23:51] #15416 closed

[2022-10-27 03:52] eonsmile commented on #14804
There may be a bug with using cursors in v3:

limit = 1
d = {'category': 'linear', 'limit': limit}
result = bb.private_get_unified_v3_private_position_list(d)['result'] # successful for page 1

d['cursor']=result['nextPageCursor']
result = bb.private_get_unified_v3_private_position_list(d)['result'] # failed for subsequent pages

There seems to be a bybit authentication error: "error sign"

------

[2022-10-27 04:17] Showgofar commented on #14838
ok) I know well what is IOC)
let say other way it still create GTC limit order

[2022-10-27 05:28] sc0Vu commented on #15415
Hi @dawadam

From their tg channel, seems they don't have testnet api feature. Probably you need to create and deposit in their exchange or request demo account.

[2022-10-27 05:29] #15414 closed

[2022-10-27 05:41] sc0Vu commented on #15403
Hi @zydjohnHotmail

How was your network environment? Maybe the connection was too slow or ntp went behind. Would you like to sync the ntp first?

(https://exchange-docs.crypto.com/spot/index.html#invalid_nonce-on-all-requests)

[2022-10-27 06:08] Dan-krm commented on #15406
@jokomad You can trade options on Binance using the implicit API: https://docs.ccxt.com/en/latest/manual.html#implicit-api
Basically the implicit API is calling the endpoints directly with request parameters that are required by the exchanges API documentation. Unified options trading support is coming soon.

I've opened a pull request that adds some examples for options trading on Binance using t

[2022-10-27 06:20] Dan-krm commented on #15328
I've opened a pull request that adds some examples for options trading on Binance using the implicit API: #15420
Basically the implicit API is calling the endpoints directly with request parameters that are required by the exchanges API documentation. You can use the same approach with any of the endpoints available in the exchanges API documentation.

Feel free to reopen this issue it if you have

[2022-10-27 06:20] #15328 closed

[2022-10-27 06:32] Dan-krm commented on #15394
Thanks for the update, we have a convertValue helper method for bitmex to convert bitmex's number system for returning values but we might consider adding something similar like a submitValue helper method, although that might be harder to maintain.

[2022-10-27 06:32] #15394 closed

[2022-10-27 06:38] dawadam commented on #15414
Where is the original duplicate ?

[2022-10-27 07:43] Mbuilder117 opened #15422 "About using google cloud VM for trading bot in binance using ccxt"
Hi, I am going to upload my bot in google cloud VM.
But I as you know, when the connection between internet and python code cut off, the program stop and return Network Error.
I can't handle it manually because I have to go Korea Army, so I decided to use google cloud VM.

The problem is, at some period Google stops VM for maintenance and do 'migration' to another VM, and I'm worried that the ente

[2022-10-27 07:48] zydjohnHotmail commented on #15403
Hello:
Thanks for your reply, I think the article suggest one good solution for my issue:
If the issue persists, you can try deliberately subtracting 5 seconds from the nonce to force it to be 5 seconds in the past, which is still within the 30-second past tolerance.
But how can I write some JavaScript in CCXT to subtract 5 seconds from the nonce, please advise!
Thanks,

[2022-10-27 08:44] carlosmiei commented on #14838
@Showgofar By default `limit` orders are GTC, so by doing this:
`ex.createOrder (symbol, 'limit', 'buy', amount, price)`  you create a limit (gtc by default) order

[2022-10-27 09:25] ttodua commented on #15345
@danieltorscho thanks for your follow ups! I will revise the current state of our bybit integration and its API docs, to find out what has been changed, and then push an update in ccxt.

[2022-10-27 10:24] Showgofar commented on #14838
yes I understood
I am using IOC orders several years
and
as i said before
For binance and poloniex works fine :
"timeInForce": "IOC"
for bitrex works (its not unified)
"timeInForce": "IMMEDIATE_OR_CANCEL"

for huobi doesnt work:
"timeInForce": "IOC"
"timeInForce": "IMMEDIATE_OR_CANCEL"
"order_price_type": "ioc"

[2022-10-27 10:51] carlosmiei commented on #14838
@Showgofar as you can see in my image above, using `order_price_type` I managed to place an IOC order at huobi

[2022-10-27 11:01] tuloski opened #15424 "[CCXT.pro] Possibility of demo"
Hi,
last time I tested ccxt.pro I had to pay 1 month fee to discover there was a bug which made useless the library for the exchange I was using.
Is there a way now to test the library for let's say 1 week and then decide whether to use and pay for it?

[2022-10-27 12:01] tuloski commented on #15424
Sorry, noticed now that PRO is now included in CCXT.

[2022-10-27 12:01] #15424 closed

[2022-10-27 12:24] csotto commented on #15416
@frosty00  Thanks! The fix worked fine!

[2022-10-27 13:33] wunderb1t commented on #14121
Hi @kroitor @ttodua
Any updates? Thanks!

[2022-10-27 13:59] wunderb1t commented on #15343
Hi @ttodua, we had also experienced that issue (from Oct 25, 2022 at 13:27:32.333 to Oct 25, 2022 at 20:40:15.209) but on Bybit and on `watchTickers` method.
Message:
`Connection to wss://stream.bybit.com/realtime_public timed out due to a ping-pong keepalive missing on time`

Also we've noticed that every time after ~10 hours of socket connection was up this issue appears again and only thing tha

[2022-10-27 15:12] tuloski opened #15429 "Binance unify postOnly order"
The "limit_maker" order type of Binance is exactly a postOnly type order. But sending a normal limit order with {postOnly: true} as parameter doesn't work (it requires an order type limit_maker), while on other exchanges it is unifyed with the postOnly parameter.
Why not internally send a "limit_maker" order when using postOnly param with binance, so that it is unified with all other exchanges?

[2022-10-27 15:23] belqit opened #15430 "qty error for bybit"
- OS: windows
- Node.js version: 16.13.2
- CCXT version: 2.0.73

[code]

[code]

i've noticed this:
`amount = this.amountToPrecision (symbol, amount);`
is rouding amount to 0

[2022-10-27 17:58] lockey33 opened #15431 "Bitget demo trading pairs"
- OS: MAC
- Programming Language version: Python 3.9.13
- CCXT version: 2.0.77

Hello, I want to use ccxt on demo trading pairs (Bitget exchange)

![Capture d’écran 2022-10-27 à 20 02 55](https://user-images.githubusercontent.com/100852969/198365132-c95d8e8d-1daa-42b8-8f82-879891e806ec.png)

This is the demo pair symbol on bitget interface : SBTCSUSDT_SUMCBL but i can't find this pair when I loa

[2022-10-28 01:33] sc0Vu commented on #15430
Hi @belqit,

I can reproduce this when `createOrder` with string parameter, always had qty validation error. However, I think it works with number parameters:

[code]

Before we fix this issue, you can set price and amount as number.

[2022-10-28 01:47] sc0Vu commented on #15430
Hi @belqit

I think that's the market and precision issue. In bybit, it depends on what market you want to trade, looks like they have same id for spot and swap market pair, eg `BTCUSDT`.

So we used `defaultType` to handle different market. The default type is `swap`, the market you loaded is swap market (the precision for swap is 0.001).

If you want to buy spot, please set `defaultType` to `spo

[2022-10-28 01:48] #15415 closed

[2022-10-28 01:48] #15430 closed

[2022-10-28 01:56] sc0Vu commented on #15403
Hi @zydjohnHotmail

We use `nonce()` function, you probably can rewrite the prototype function in javascript. eg.

[code]

Let me know if you have other questions.

[2022-10-28 07:42] zydjohnHotmail commented on #15403
Hello:
Thank you very much for your reply. I changed my code, so it looks like this now:

`const ccxt = require('ccxt')
const fs = require('fs')
const fsPromises = fs.promises
const keys = require('./keys.local.json');
console.log('CCXT Version:', ccxt.version);

const cryptocom = new ccxt.cryptocom({
    'apiKey': keys.cryptocom.apiKey,
    'secret': keys.cryptocom.secret,
    'options': {

[2022-10-28 08:36] carlosmiei commented on #15409
@AClotfelter, can you try again, please? I don't know if npm was somehow caching that file or something like that but  in the latest version seems to be fixed now:
![image](https://user-images.githubusercontent.com/43336371/198543262-e09fc8b0-5f2f-4b1e-9ffb-4a7311be94a2.png)

[2022-10-28 08:45] sc0Vu commented on #15403
Hi @zydjohnHotmail

I forgot binding `this` object. You can try this:

[code]

[2022-10-28 08:49] zydjohnHotmail commented on #15403
Hello:
I changed my code, the following is the related part:

`
cryptocom.nonce =  function ()
{
   return this.milliseconds () - 5000
}.bind(bybit)

var exchange_balance = async () =>
{
try
{
	cryptocom.nonce();
	const balance = await cryptocom.fetchBalance()
	console.log(balance);
}
catch (err)
{
console.error(err)
}
}
exchange_balance();
`
But when I run this, I got error:
D:\nodejs\CCXT_Addres

[2022-10-28 08:57] sc0Vu commented on #15422
Hi @Mbuilder117

I think this issue is not related to `ccxt` library, but I'll leave some notes.

You probably want to check `systemd` or `watchdog` on linux. If you run nodejs, you can checkout `pm2`.

[2022-10-28 08:57] #15422 closed

[2022-10-28 08:59] #15181 closed

[2022-10-28 10:22] krychla1 commented on #15238
How is this completed?

[2022-10-28 11:17] ProStrike-hub opened #15435 "System to secure limit orders (ie: stoploss) full fill?"
- Programming Language version: php
- CCXT version: latest

_Hello, this is a general question nor an issue with CCXT. While I bet this would be interesting to follow for the community, I 100% understand if you close it since it's an issue with CCXT programming._

Past months I built a trading bot using CCXT.
It went live recently and I realized taker fees (market order) were killing my performanc

[2022-10-28 12:19] Mbuilder117 commented on #15422
Thanks but, I want to ask 'does the google cloud server sometimes cut off internet', not how to check it..
So can you reopen the question?

[2022-10-28 12:19] Mbuilder117 commented on #15422
But they looks interesting, so i'm gonna study very soon

[2022-10-28 12:21] ttodua commented on #15350
I'll post a reply soon.

[2022-10-28 17:37] onasipim commented on #15394
This convert_helper() function didn't actually help. I ended up using
[code]
to get from 0.01 BCH to 1000

[2022-10-28 17:38] roadbridgeaward opened #15444 "Binance has zero methods for fetching ledger entries"
Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Programming Language version: node js v14.20.1
- CCXT version: ccxt-js @1.15.38

All the methods that are associated with the fetching of ledger entries (fetchLedgerEntry(),  fetchLedger(), .. etc) are disabled or undefined for the

[2022-10-28 17:46] Zourvan opened #15445 "load all market ohlcv"
I want load all OHLCV with multi connection, I did it in other framework but in CCXT I got error "throw new Error ('throttle queue is over maxCapacity (' + this.config['maxCapacity'].toString () + '), see https://github.com/ccxt/ccxt/issues/11645#issuecomment-1195695526');"
how can I make multi WS connection??

- OS: win 10
- Programming Language version: Node js
- CCXT version:  2.0.14

[code]

[

[2022-10-28 17:55] kaiserex commented on #15394
It is way too dangerous for production. I ended up fetching market data,
validating received contract value and minimum order size data and based on
that calculating how much to increase size before sending an order,
aditionally added extra checks after order is sent. In reality some day
Bitmex will adjust their contract size and all bots with harcoded
multiplication have high chance of.liquidatio

[2022-10-28 20:00] Dan-krm commented on #15394
The convertValue helper method is for doing the opposite conversion from 1000 to 0.01 for example. We may add a submitValue helper method taking the approach you described but there is a concern that it could cause breaking changes and hopefully if bitmex adjusts their contract size in the future it would be through a new API version

[2022-10-29 07:27] sc0Vu commented on #15444
Hi @roadbridgeaward

I think they didn't expose api to fetch ledger. We'll update once they have this api.

[2022-10-29 07:27] #15444 closed

[2022-10-29 08:39] ttodua commented on #15350
here[ is PR](https://github.com/ccxt/ccxt/pull/15446) that demonstrates it. you can see it now under `files` or when it will be merged, you can check those files in `/example/ccxt.pro/php`

[2022-10-29 08:40] ys2310 opened #15447 "ccxt binance fetch_balance() yields "TypeError: <lambda>() takes 0 positional arguments but 1 was given" error"
- OS: Windows10
- Programming Language version: python 3.9.7
- CCXT version: 2.0.82

[code]

gives me following error message,

---------------------------------------------------------------------------

[code]

what's wrong here and the work around for this issue? thank you very much in advance.

I googled "ccxt binance fetch_balance TypeError: <lambda>() takes 0 positional arguments but 1 was g

[2022-10-29 09:03] roadbridgeaward commented on #15444
Thanks a lot sc0Vu,

I already did a thorough review for the original Binance API documentation and I found that they already expose all of the API using which we can use in ccxt to fetch the ledger, here are some example from https://binance-docs.github.io/apidocs

o	Daily Account Snapshot (USER_DATA)
o	Asset Dividend Record (USER_DATA)
o	Query User Universal Transfer History (USER_DATA)
o	User A

[2022-10-29 09:34] Hadevmin opened #15448 "ftx.fetch_positions(): leverage is None"
- Programming Language version: Python 310
- CCXT version: 2.0.82

In v1.90.89 when I called fetch_positions(), I could get the leverage
[code]

But since I had upgrade the ccxt package, in the return I had leverage: None
[code]

What is the good way to get the leverage on ftx in v2?

Thnaks you

[2022-10-29 14:06] carlosmiei commented on #15447
Hello @ys2310,

Unfortunately, that can't be done directly because `nonce` is `sync` whereas `fetch_time` is an async method.

You can however work around this by monkey-patching the exchange and overriding both `nonce` and `fetch_time`:

[code]

Now, every time you want to set the nonce correctly, you can do this:

[code]

⬆️  you need to call `fetch_time`right before each request to make this wo

[2022-10-29 17:20] l4z41 commented on #6337
+1

[2022-10-29 19:03] martinformi opened #15456 "ccxt.pro website not working"
Getting 502 at https://ccxt.pro/. Please fix, I was about to check Pro features.

[2022-10-29 19:06] KindSpidey opened #15458 "Can you describe the structure of onlycv response?"
Working with MEXC. Saw this in documentation as an example:
[code]
There are 7 elements of data, but in actual nowadays response (at least from mexc) there are 6. My code:
`mexc_spot.fetch_ohlcv("TON/USDT", "1m")`
response:
`[1667069880000, 1.5701, 1.5703, 1.5701, 1.5703, 7.0]`
Can you write what is what? I guess its time, open, close, low(?), high(?), ?

[2022-10-29 22:19] ClementLhermitte opened #15461 "code unreachable after create_limit_buy_order and create_limit_sell_order"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Linux
-

[2022-10-30 03:00] RoscoeTheDog commented on #14575
I am still unsure what caused this issue when I first encountered it, but I posted this back in early august and lost the context to the problem. My code is trading as expected right now, and I don't think I'll have the time to hunt down or remember what caused this.

I'm going to close this issue for now seeing as I don't have time to investigate it further and my software seems to be running as

[2022-10-30 03:00] #14575 closed

[2022-10-30 04:38] danieltorscho opened #15462 "bybit fetchOrders is not supported while hasFetchOrders is true"
`exchange.fetchOrders` is not supported on Bybit exchange.

- OS: Win 10 x64
- Programming Language version: Node.js 18
- CCXT version: 2.0.67

[code]

[code]

[2022-10-30 09:43] vensilver opened #15463 "New Exchange: alpaca.markets"
[please support alpaca.markets in ccxt
](https://alpaca.markets/)

[2022-10-30 09:45] carlosmiei commented on #15456
Hello @martinformi, will be back very soon, thanks for letting us know!

[2022-10-30 09:45] #15456 closed

[2022-10-30 09:46] carlosmiei commented on #15463
Hello @vensilver it's already supported 🙂
![image](https://user-images.githubusercontent.com/43336371/198872382-7c746c8a-1b12-488e-9a6c-5e7dc6ad2d26.png)

[2022-10-30 09:46] #15463 closed

[2022-10-30 09:49] vensilver commented on #15463
is it just for crypto or even stocks?

[2022-10-30 09:50] carlosmiei commented on #15431
Hello @lockey33, yeah currently it's not possible, but we will add it very soon

[2022-10-30 09:54] carlosmiei commented on #15463
@vensilver currently crypto only

[2022-10-30 10:44] #15458 closed

[2022-10-30 12:00] leastchaos opened #15464 "kucoin watch order timestamp wrong"
- OS: linux
- Programming Language version: python 3.10
- CCXT version: 2.4.9
kucoin order timestamp is truncated. showing 1667130 instead of the full timestamp
[code]

[code]

[2022-10-30 13:41] zydjohnHotmail opened #15467 "How to specify withdraw network parameter if not known?"
- OS: Windows 10
- Programming Language version: Node.js (version 18.10.0)
- CCXT version: 2.0.90

[code]

Hello:
I want to withdraw some fund from my exchange account, but for some not well-know symbols, I don’t know their network, or one network address can be used for multiple chains.  For example, one address can be used for both ERC20 and BEP20 network.
In those cases, can I simply use only t

[2022-10-30 15:13] xmatthias opened #15468 "okx fetch_positions behavior change"
- OS: linux
- Programming Language version: python/any
- CCXT version: 2.0.58

In current versions, calling `fetch_positions` with an empty array on okx fails.
This used to work in the past (prior to #15330) - though now, it's creating an empty `instId` array, so okx responds with `ccxt.base.errors.BadRequest: okx {"code":"51000","data":[],"msg":"Parameter instId  error"}`.

Unfortunately, the doc

[2022-10-30 16:54] lockey33 commented on #15431
@carlosmiei very good news ! thank you :)

[2022-10-30 18:20] AClotfelter commented on #15409
@carlosmiei Building with the latest NPM versions now works correctly. Thanks for your efforts!

[2022-10-31 01:01] sc0Vu commented on #15462
Hi @danieltorscho

The error is that bybit didn't support spot and usdc settled trading pairs. Please make sure the pair is not one of them. In the mean time, I'll check whether they open api endpoint for the spot.

[2022-10-31 01:23] sc0Vu commented on #15467
Hi @zydjohnHotmail

IMHO, you might want to set withdrawal network each time. In binance, when you didn't set network, they'll use the `defaultNetwork`. You can find the default network here (sapiGetCapitalConfigGetall).

[2022-10-31 06:12] roadbridgeaward opened #15479 "( 2 of 2) Binance has zero methods for fetching ledger entries"
- OS:
- Programming Language version: node js v14.20.1
- CCXT version: ccxt-js @1.15.38

Reference to issue #15444 ( https://github.com/ccxt/ccxt/issues/15444 ), I mentioned in that issue that Binance ledger features are mentioned in ccxt source code as:

            'fetchLedger': undefined,
(from https://github.com/ccxt/ccxt/blob/master/js/binance.js )

That issue was closed based on the fact th

[2022-10-31 07:57] zydjohnHotmail commented on #15467
Hello:
OK, I will try to set network each time, but as I see CCXT support only the following networks, right?
'networks': {
     'ERC20': 'ETH',
    'TRC20': 'TRX',
     'BEP2': 'BNB',
    'BEP20': 'BSC',
    'OMNI': 'OMNI',
    'EOS': 'EOS',
     'SPL': 'SOL',
},
What if the deposit belongs to a network not in the list, for example: XRP (Ripple) network, what I should do?

[2022-10-31 08:06] zydjohnHotmail commented on #15467
Hello:
I tried to get config from binance, but my code did not work:
const ccxt = require('ccxt')
const keys = require ('./keys.local.json');
console.log ('CCXT Version:', ccxt.version);

const exchange = new ccxt.binance ({
    'apiKey': keys.binance.apiKey,
    'secret': keys.binance.secret,
    adjustForTimeDifference: true,
    defaultType: 'spot',
    recvWindow: 100000,
    verbose: false,
}

[2022-10-31 08:19] MinsungKim-BlockCrafters opened #15481 "Will CCXT support typings in Python codes?"
Hello.

I am a quant engineer who is using CCXT as data feed and also interested in static typing in Python. I can see currently CCXT is not doing any of typing support in Python, probably because CCXT is being developed in Javascript and non-JS codes are transpiled from it.

So here are my questions;

1. Will CCXT support typings in Python codes?
2. Does CCXT currently accept any stub files contr

[2022-10-31 08:43] dawadam opened #15482 "BitGet fetchOHLCV"
Hi,
When use fetchOHLCV in **bitget** exchange, in 1 week, request use _7day_ **period parameter value**.
It must to be _1week_ value.

Exemple :

[code]

request :

`https://api.bitget.com/api/spot/v1/market/candles?symbol=BTCUSDC_SPBL&period=7day&limit=100`

must be :

``https://api.bitget.com/api/spot/v1/market/candles?symbol=BTCUSDC_SPBL&period=1week&limit=100``

[2022-10-31 09:07] dawadam opened #15483 "BitGet exchange.timeframes incomplete"
Hi,
BitGet **timeframes** parametter seem incomplete, result doesn't include available time frames on documentation :

https://bitgetlimited.github.io/apidoc/en/spot/#get-candle-data

Only include : 1w  1d 12h 4h 1h 30m 15m 5m 1m

[2022-10-31 10:40] ProStrike-hub opened #15484 "FTX 'askVolume' / 'bidVolume' = None"
- Programming Language version: php
- CCXT version: latest

Hello, When using `fetch_ticker` at FTX `'askVolume'` and `'bidVolume'` returned are set at `'None'`.
The price is returned, fortunately.

Could you please fix/add the volume?
Thanks in advance.

[2022-10-31 11:27] lukasgor opened #15486 "Bkex may freeze your account if you make some profit"
Hello everyone, at the beginning I'd like to thank the developers of this great library, you are doing an amazing job!

I would like to warn everyone about bkex exchange, I was running my trading algorithm there and after it made some profit they have frozen my account 😞 I'm running my trading algo on 10+ different exchanges without any issues.

Here's my conversation with their customer support:

[2022-10-31 12:22] ttodua commented on #15461
@ClementLhermitte can you please tell, why you closed the issue? what was the problem?

[2022-10-31 12:31] SmartManoj opened #15487 "How to fetch funding wallet balance from binance?"
- OS:
- Programming Language version: Python
- CCXT version: 2.0.91
[code]

[code]

[2022-10-31 12:32] #15468 closed

[2022-10-31 12:39] carlosmiei commented on #15481
Hello @MinsungKim-BlockCrafters
We appreciate your suggestion and will be taken it into account for sure. Yes currently ccxt is developed and then transpiled to Python so at the moment we can't infer types and for that reason is not possible to add types at "transpile" time.

However, this will change soon because we intend to migrate to Typescript, allowing us to type everything and access those

[2022-10-31 12:52] dgaraninMako opened #15494 "SSLError via Proxy Python"
Hi,

Got stuck with connecting via proxies for sync version (haven't tried the async one yet).
Tested proxies with ```curl``` and they definitely work.
Tried all config params as below and tried each of the separately, just as proxies {...} and via trust env from the env itself, nothing seems to work. The problem is clearly with SSL certificate but I have added a flag to prevent the verification.

[2022-10-31 14:56] carlosmiei commented on #15482
Hey @dawadam, thanks for reporting it we will fix it asap

[2022-10-31 15:06] carlosmiei commented on #15483
Hello again @dawadam, will be added alongside the fix to the problem you reported earlier. Thanks!

[2022-10-31 15:10] #15482 closed

[2022-10-31 15:10] #15483 closed

[2022-10-31 15:40] carlosmiei commented on #15484
Hello @ProStrike-hub ,

Those fields are `None` because ftx does not provide them through the API:
https://docs.ftx.com/#markets

[2022-10-31 16:22] dgaraninMako commented on #15494
was using https for https proxy that did not exist. My bad.

[2022-10-31 16:22] #15494 closed

[2022-10-31 16:32] xmatthias commented on #15468
Great! Thanks for the quick fix! :+1:

[2022-10-31 17:12] logos382 opened #15502 "FTX.py None values returned by fetch_tickers and fetch_ticker"
OS: Linux
Programming Language version: Python 3.9.7
CCXT version: 2.0.97
Exchange: ftx
Method: fetch_tickers

**CODE:**

[code]

**CODE END**

**CODE OUTPUT**
[code]

**ERROR DESCRIPTION**
Lot of values are returned as None, notably 'timestamp' and ' datetime' among many others.
Same isse occurs also with Method: fetch_ticker

[2022-10-31 17:56] danieltorscho commented on #15462
@sc0Vu
Yeah you are right, I was using a spot trading pair.

[2022-10-31 20:36] hosseinab commented on #15376
@carlosmiei @kroitor Is this problem not fixed?

[2022-10-31 20:44] samgermain commented on #15502
The exchange api endpoint  doesn't return the time stamp, so we're not able to return it. You can see all the information returned by the exchange in the info field

[2022-11-01 01:52] CloudTrauma opened #15508 "Is there a funtion to get recent trades on phemex(not just mine but other users trades)?"
is there a function to get the recent trades of a symbol(not my personal trades but all user trades) and maybe like async function?

[2022-11-01 03:50] Curro666 commented on #14746
Hello, sorry for delay. Im tested now and not be good.

fetch_my_trades > bad side
fetch_order        >  good side

Code:

[code]

pydev debugger: starting (pid: 25156)
CCXT Version: 2.0.103
fetch_my_trades
{   'amount': 44.06980492,
    'cost': 16.704659554926,
    'datetime': '2022-08-18T22:55:09.520Z',
    'fee': {'cost': 0.0584663, 'currency': 'USD'},
    'fees': [{'cost': 0.0584663, 'currency

[2022-11-01 04:24] Curro666 commented on #15389
Hi @markxma1,
it would help developers a lot if you put the version of ccxt you are using.
I just replied to a message from @ttodua and i have seen your problem.
As the code is and I have a little free time i have tried and these are my results (I put it here in case it helps)

[code]
the result:

CCXT Version: 2.0.103
1651723995885 BTC/USDT 20
1666960218737 BTC/USDT 0
1651723998373 ELON/USDT 72
1

[2022-11-01 06:24] SmartManoj commented on #15487
ccxt.base.errors.ExchangeError: binance does not support 'funding' type, set exchange.options['defaultType'] to 'spot', 'margin', 'delivery' or 'future'

[2022-11-01 08:55] ttodua commented on #15389
I will post a full example later, but as a quick note , instead of :
[code]
try :
[code]
then let my know if that makes any change

[2022-11-01 09:04] Tongoko opened #15509 "Gate.io Batch Orders"
- OS: Windows 10
- Programming Language version: Python 3.10
- CCXT version: 2.0.68

Just a question: Does CCXT support to place batch orders for Gate.io? If so how? Thanks!

[2022-11-01 09:28] logos382 commented on #15502
Thank you for the answer.
Probably I was mistakely thinking ccxt use the ws endpoint to fetch ticker and provide an async and more flexible and scalable version of the raw code below wich actually return a timestamp.

`import requests
import websocket
import json

_END_POINT = 'wss://ftx.com/ws/'

subscribe_msg = json.dumps({'op': 'subscribe', 'channel': 'ticker', 'market': 'BTC-PERP'})

def on_op

[2022-11-01 09:28] #15502 closed

[2022-11-01 09:47] sc0Vu commented on #15509
Hi @Tongoko

For now, you can call batch order with implicit api, eg, `spotPostBatchOrders` or `spotPostCancelBatchOrders`.

[2022-11-01 10:27] AwooOOoo opened #15510 "OKX watchOrderBook with limit gives InvalidNonce"
Hi,
    I am having an issue when I define a limit within the watchOrderBook method on OKX. If I leave the limit argument as 'undefined', the watch runs just fine. If I specify a limit (i.e. 5 or 10), I get get the first report back and then only the message "InvalidNonce okex invalid checksum", everytime.

**CCXT version:** 1.95.43 (also appears in 2.0.103)
**Operating System:** WSL2 Ubuntu 22.04

[2022-11-01 10:35] gayane-12 opened #15512 "What are the cases when "order" (orderId) in trades is null/none/undefined? Bitstamp"
Hi!
I am using Bitstamp.
I am getting the trades with fetchMyTrades method and have noticed that there are trades that don't have order (orderId).
I saw in docs from the trades' structure that:
![image](https://user-images.githubusercontent.com/72768856/199214863-9fa9a31b-1ada-4315-bff3-300f398004d5.png)

But I couldn't find in docs, what are the cases and when we can have a such structure of trad

[2022-11-01 11:31] Nitrix321 opened #15513 "ExchangeError: okx "Trigger orders are not available in buy/sell mode for futures and perpetual swaps""
Hello, I am trying to create a simple stop market or stop limit order on OKX.  When the program should place the order theres an Echange Error Message that Trigger orders are not available there.
So I don't know what I am doing wrong here. I never had such a problem to create a stop order on other exchanges.

Perhaps someone can explain me how to create a stop order(limit or market) below market p

[2022-11-01 12:40] thucungcuatoi commented on #14595
Hi @DoctorSlimm
This is solution for spot trading! In future trading don't allow OCO! :( Have any solution for Future Trading?

[2022-11-01 15:21] zydjohnHotmail commented on #15486
Hello:
I have tried to chat with the customer service, for 2 agents. They both insist that the rules to be obeded.  And I check the rules: https://bkex.zendesk.com/hc/en-us/articles/4403752763161-Standard-of-Unusual-Transactions
The most important issue seems to be this:
 Excessive transactions: too large trading volume in one day;
And I asked the support stuff to give me any definite standard for

[2022-11-01 21:23] ttodua commented on #14746
@Curro666 this PR updates bitmex : https://github.com/ccxt/ccxt/pull/15311
so, you will need to wait for it and re-test then.

[2022-11-02 00:10] danieltorscho opened #15516 ""Balance insufficient" error in Bybit once an order is Partially Filled"
I randomly receives an error when creating a BUY or SELL order on Bybit.
It happens only when an order is partially filled, at random time.

Each time an order is Partially Filled - I get an error.

Both methods `createLimitBuyOrder` and `createLimitSellOrder` are working fine if an order is Filled.
If it is PARTIALLY_FILED, then it throws an error.

Did anyone experienced the same errors ?

- OS:

[2022-11-02 00:56] J4k3j4k3 opened #15517 "Binance missing trading pairs"
Hi,

Just wondering if anything can be done about missing Binance trading pairs? I can see for instance that Binance has a 1INCH/BTC trading pair: https://www.binance.com/en/trade/1INCH_BTC?theme=dark&type=spot

However this throws the error "ccxt.base.errors.BadSymbol: binance does not have market symbol 1INCHBTC"

I can see why too, the symbol is missing from https://testnet.binance.vision/api/v

[2022-11-02 01:15] J4k3j4k3 commented on #15517
On further investigation, these symbols are missing from the Binance test API. Happy to close this as it is not a ccxt defect, but any idea how I can run any of these pairs in sandbox mode without live trading?

[2022-11-02 05:02] samgermain commented on #15509
Only in spot/margin, and only using the [implicit api](https://docs.ccxt.com/en/latest/manual.html#implicit-api) methods `spotPostBatchOrders` and `spotPostCancelBatchOrders`. There is no unified method for batch orders.

-------------------------------------

[code]

-------------------------------------

# Gateio docs

![](https://i.imgur.com/2xaDryD.png)
![](https://i.imgur.com/tIfVe1n.png)
![]

[2022-11-02 07:51] Tongoko commented on #15509
Thanks a lot for the answers. Worked flawlessly!

[2022-11-02 08:47] Kinzowa commented on #15338
Hello, any news about this bug?

I would like to add that CCXT pro is unusable with the FTX exchange - yet the 2nd exchange in terms of volume - due to untimely disconnections. Resolution of this bug should be top priority.

Testing with multiple cloud providers and server locations (Germany and Singapore which is closer to FTX servers) did not resolve the issue. I also notice that disconnections

[2022-11-02 09:16] carlosmiei commented on #15517
Hello @J4k3j4k3, yeah I don't think that is possible ccxt is only a middleware, so it just "formats" the requests and "parsed" the responses, we can't emulate our own sandbox.

[2022-11-02 09:27] ttodua commented on #15389
@markxma1 as OKX api says here:
https://www.okx.com/docs-v5/en/#rest-api-trade-get-order-history-last-7-days
you can get orders from only last 7 days. So, I assume something similar limitation for 'order-trades' too. that could be reason. to ensure CCXT works, you can make a dummy minimal trade and check if that trade is being retrieved with your function. If answer is "yes", then it means, older

[2022-11-02 09:45] #15517 closed

[2022-11-02 10:38] 583 opened #15519 "How to add a implicit api method to ccxt.browser.js"
Hi,

bybit api: https://bybit-exchange.github.io/docs/zh-my/derivativesV3/contract/#t-contract_getrealtimeorder
I add 'contract/v3/private/order/unfilled-orders': 1 to ccxt.browser.js and bybit.js

![image](https://user-images.githubusercontent.com/18026534/199468359-69eda896-3761-4a71-b110-5ee2e1dd0a20.png)

then I call exchange.privateGetContractV3PrivateOrderUnfilledOrders

But it still throw

[2022-11-02 10:45] alin3994 commented on #15338
+1

I'm seeing this as well, with a few exchanges. If there's a way for us to reconnect if there's not been a ws event for a while that would work too.

[2022-11-02 10:51] carlosmiei commented on #15519
Hello you're calling the correct function, but to access it in python you would need to transpile the code or manually add it to the python file.

But don't worry we will add the missing endpoint asap so that it will be available out of the box.

Thanks for reporting it!

[2022-11-02 10:53] 583 commented on #15519
I calling it in a html web page by require ccxt.browser.js.  Thanks

[2022-11-02 10:54] 583 commented on #15519
https://github.com/ccxt/ccxt/issues/15519#issuecomment-1300033589

[2022-11-02 10:54] 583 commented on #15519
I calling it in html web page by require ccxt.browser.js, thanks.

[2022-11-02 10:57] carlosmiei commented on #15519
Sorry @583 I thought you were using the Python version, in that case yes it should work

[2022-11-02 11:01] 583 commented on #15519
But it not work really, return privateGetContractV3PrivateOrderUnfilledOrders is not a function

[2022-11-02 11:14] #15519 closed

[2022-11-02 13:00] carlosmiei commented on #15510
Hello @AwooOOoo, thanks for letting us know, we will investigate it.

As a work-around, you can temporarily disable the checksum by doing: `exchange.options['checksum'] = false`

[2022-11-02 16:09] Nitrix321 opened #15527 "Coinex: InsufficientFunds: Balance Insufficient"
Hello, If I want to create a market buy order on coinex I get a message that my funds are insufficient.
But thats not case as you can see below. I tried several different pos_sizes.

- OS: Windows 10
- Programming Language version: Python Spyder 3.9
- CCXT version: 1.92.81

[code]

[code]

[2022-11-02 16:13] noel45 opened #15528 "Cryptocom : parse_ticker not working properly after latest exchange update"
- OS: Windows
- Programming Language version: Python 3.9
- CCXT version: 2.1.9
- Exchange : cryptocom

In exchange cryptocom.py, method parse_ticker always return "None" values after latest exchange upgrade.
Example:
{'symbol': 'HERO/USDT', 'timestamp': None, 'datetime': None, 'high': None, 'low': None, 'bid': None, 'bidVolume': None, 'ask': None, 'askVolume': None, 'vwap': None, 'open': None, 'cl

[2022-11-02 16:21] carlosmiei commented on #15528
Hello @noel45, yeah apparently cryptocom changed its API, we will fix it asap. Thanks for letting us know!

[2022-11-02 16:26] noel45 commented on #15513
This is an a rejection coming from the exchange. It seems they don't accept trigger orders on SWAPs in net mode.

You can check that page :
https://www.okx.com/docs-v5/log_en/#2021-10-19
**Trigger orders are not available in the net mode of futures and perpetual swaps**

[2022-11-02 16:27] #15509 closed

[2022-11-02 16:50] Nitrix321 opened #15531 "How to update CCXT?"
I hope someone can help me with my problem, please:-)! I am searching now for over 2 days but I can't find an answer.
Actually my CCXT Version is 1.92.81, but how can I update it to the latest Version or at least 1.95+ ?

- OS: Windows 10
- Programming Language version: 3.9
- CCXT version: 1.92.81

[2022-11-02 16:51] carlosmiei commented on #15531
Hello @Nitrix321,

have you tried to run `pip install ccxt --upgrade´ ?

[2022-11-02 16:57] Curro666 commented on #14746
sorry but not bitmex the exchange is Bittrex

[2022-11-02 17:32] dgaraninMako opened #15532 "Cannot retrive Margin balance from KuCoin"
- OS: CentOS9
- Programming Language version: python 3.10.6
- CCXT version: 2.0.93

[code]
I keep getting Spot balance even with extra params to fetch_balance. Tried passing ```{'defaultType': 'margin'}``` to exchange initiation too, still no expected result.

[2022-11-02 17:43] ttodua commented on #14746
ahhh. my bad. i'll revise this tomorrow.

[2022-11-02 17:47] #15528 closed

[2022-11-02 18:34] #15406 closed

[2022-11-02 18:36] Nitrix321 commented on #15531
Hello @carlosmiei,

thank u so much, that solved my problem :-). Why didn't google tell me that?

print('CCXT Pro Version:', ccxtpro.__version__)
print('CCXT Version:', ccxt.__version__)

CCXT Pro Version: 2.1.13
CCXT Version: 2.1.13

Did I understand that correctly, that in CCXT now All of the CCXT Pro Websocket functionality is retained?
So I it's ok to use only the "normal" CCXT Module? It's th

[2022-11-02 18:50] carlosmiei commented on #15531
@Nitrix321 yes `ccxt.pro` is now merged into ccxt, you can see how to use it here: https://github.com/ccxt/ccxt/tree/master/examples/ccxt.pro/py

[2022-11-02 18:50] #15531 closed

[2022-11-02 22:18] pratoinvest opened #15535 "fetch_orders not fetching the latest value"
binance.fetch_orders not fetching the latest value
There was a problem an hour ago.
Is there any update?

[2022-11-02 22:42] carlosmiei commented on #15535
Hello @pratoinvest,
Can you share more details with us? logs, specific example, symbol, etc

[2022-11-03 04:18] pratoinvest commented on #15535
I opened a new order but the command binance.fetch_orders Can't show my latest orders.

[2022-11-03 04:53] pratoinvest commented on #15535
my latest orders.
![Screenshot (246)](https://user-images.githubusercontent.com/96119539/199649807-2561fdda-b787-49dd-95d3-252cf33bf9f4.jpg)

It doesn't show my last order.
![Screenshot (249)](https://user-images.githubusercontent.com/96119539/199649831-c59231e3-ccfe-4e7d-a6c8-75ae564b58a9.jpg)

![Screenshot (248)](https://user-images.githubusercontent.com/96119539/199649918-24862d1f-e3d6-4a15-a4b

[2022-11-03 05:30] Dan-krm commented on #15527
Hi, at first glance it looks like you're fetching your swap balance but attempting a spot order. It looks like your symbol should be BTC/USDT:USDT or something similar, you can refer to the CCXT naming conventions for making orders on different markets: https://docs.ccxt.com/en/latest/manual.html#contract-naming-conventions

Let us know if this resolves the issue or if the issue still persists

[2022-11-03 06:33] sirui0112 opened #15537 "Are there methods to set or get Multi-Assets mode for Binance"
- OS: Windows 10
- Programming Language version: Python 3.9.12
- CCXT version: 2.0.25

Hi, I read on Binance API documents that it is possible to change or get current multi-assets mode for USD-M futures: https://binance-docs.github.io/apidocs/futures/en/#change-multi-assets-mode-trade
Wondering if there are corresponding methods implemented for both operations, thanks.

[2022-11-03 07:41] nileio commented on #15343
@ttodua it is intermittent.. It happens when subscribing to multiple markets which is allowed by Binance for example, we should be able to subscribe to up to 1024 markets with one connection. Now I am trying to dig in the code to understand the ping-pong logic. Binance actually abides by WS standards which is great, it only requires `pong` when `ping` is recieved, and ws should emit both `ping` an

[2022-11-03 07:49] nileio commented on #15343
Please test it after subscribing for multiple markets, that is , 500 markets or so

[2022-11-03 09:13] carlosmiei commented on #15535
Hello again @pratoinvest, as explained in the discord channel, the endpoint used by `fetch_orders` has some restrictions (https://binance-docs.github.io/apidocs/futures/en/#query-order-user_data) you can however use `fetch_open_orders`

[2022-11-03 10:06] zydjohnHotmail opened #15540 "Kucoin testnet not working for ccxt version 2.1.14"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Window

[2022-11-03 10:37] #15532 closed

[2022-11-03 10:44] Nitrix321 commented on #15527
Hi, when I try those symbols I get this.

symbol = 'BTC/USDT:USDT'
BadSymbol: coinex does not have market symbol BTC/USDT:USDT

symbol = 'BTC/USDT:BTC'
BadSymbol: coinex does not have market symbol BTC/USDT:BTC

I wanna trade futures. Theres another category on coinex called margin. I don't know what exactly that means,
but I transfered now some money to that margin wallet only for testing. But st

[2022-11-03 10:49] Nitrix321 commented on #15513
Hi @noel45,

ok that means I can not place a stop order on this exchange? Or is there another way placing a stop order?
Without stop order it's not usable for me :(.

[2022-11-03 10:51] zydjohnHotmail opened #15541 "Can NOT get BTC deposit address for cex for CCXT version 2.1.14"
- OS: Windows 10 PRO (21H2)
- Programming Language version: Node.js (Ver 19.0.0)
- CCXT version: 2.1.4

[code]

[code]

Hello:
I want to use CCXT to get some currency deposit address, for USDT and ETH, my code works, but for BTC and others not.
How to fix this strange issue?  Some works, some not.
Please advise!
Thanks,

[2022-11-03 11:14] #15350 closed

[2022-11-03 11:31] carlosmiei commented on #15540
Hello @zydjohnHotmail, thanks for reporting it will be fixed asap!

[2022-11-03 11:48] #15540 closed

[2022-11-03 11:59] wunderb1t opened #15543 "Kraken watchOrders undefined average price value"
We've noticed that for Kraken in `watchOrders` result `average` price field value is undefined but in Kraken data there is a `avg_price` field with average price value.
Looks like this is because in `parseWsOrder` method `average` price value taken from Kraken `price` field data, which sometimes can be nullable or 0 as you can see in example.

Response data example:

[code]

- OS: Debian (Docker)

[2022-11-03 12:11] zydjohnHotmail commented on #15540
D:\nodejs\CCXT_Sandbox>node  test_kucoin_pair1OrderBook.js BTC/USDT
2.1.18
fetch Request:
 kucoin GET https://openapi-sandbox.kucoin.com/api/v1/currencies
RequestHeaders:
 {}
RequestBody:
 undefined

(node:26260) ExperimentalWarning: The Fetch API is an experimental feature. This feature could change at any time
(Use `node --trace-warnings ...` to show where the warning was created)
handleRestResp

[2022-11-03 12:11] zydjohnHotmail commented on #15540
I updated to latest verion: 2.1.18, but the issue persists.

[2022-11-03 13:50] Matoran commented on #6769
Even with 7 days limit, it fails sometimes (even with 6 days). I fetch each day individually to avoid any issue.

[2022-11-03 14:25] belqit commented on #14342
[code]

[2022-11-03 14:27] pratoinvest commented on #15535
Thank you very much, I tried fetch_open_orders instead of fetch_orders.

[2022-11-03 14:41] wunderb1t opened #15544 "OKX swap market watchOrders incorrect cost value"
We've noticed that for OKX (swap market) in the `watchOrders` result the `cost` field have incorrect value
that is equal to `price * filled` but should be equal to `info['fillNotionalUsd']` field value.

Response data example:

[code]

- OS: Debian (Docker)
- Programming Language version: NodeJS, JavaScript
- CCXT version: CCXT 1.95.14

[2022-11-03 16:02] carlosmiei commented on #15537
Hello @sirui0112,

You can always call them using the implicit API.

Example:
[code]

[2022-11-03 16:03] carlosmiei commented on #15537
Hello @sirui0112,

You can always call them using the implicit API.

Example:
[code]

[2022-11-03 16:16] ndubel opened #15546 "cryptocom wrong precision amount"
After last crypto.com maintenance there are problems with amount precision on spot wallets.
https://api.crypto.com/v2/public/get-instruments
for example SHIB/USDT
`{"instrument_name":"SHIB_USDT","quote_currency":"USDT","base_currency":"SHIB","price_decimals":9,"quantity_decimals":0,"margin_trading_enabled":true,"margin_trading_enabled_5x":true,"margin_trading_enabled_10x":true,"max_quantity":"1000

[2022-11-03 16:39] zydjohnHotmail opened #15547 "CCXT Node.js aggregateOrderBook shows some value out of normal range."
- OS: Windows 10 Pro
- Programming Language version: Node.js (19.0.0)
- CCXT version: 2.1.18

[code]

[code]

Hello:
I wrote one Node.js script to aggregrate order book by following the script from this URL: https://github.com/ccxt/ccxt/issues/7403
I didn’t change anything in the main JavaScript functions, only add some helper function, like check input parameters and show the result in Json forma

[2022-11-03 19:19] xmatthias commented on #14234
@kroitor @ttodua unfortunately, the fix doesn't seem to fix this issue - but make it worse.

running the sample code from above with ccxt 2.1.21 breaks completely:

[code]

[code]

[2022-11-03 20:34] ttodua commented on #14234
@xmatthias thanks for input, we had several PRs for calculate_fee in last days and crashed, my bad. submitting the PR asap.

[2022-11-03 20:37] ttodua commented on #15389
@markxma1 I consider this topic can be closed now, please feel free to re-open this topic if you see think is any issue in CCXT.

[2022-11-03 20:37] #15389 closed

[2022-11-03 22:28] kaiqiangh opened #15555 "MEXC3 cannot place batch orders"
- OS: MacOS 10/15/7
- Programming Language version: typescript
- CCXT version: 2.1.18

I used codes below to call batch order api
[code]

Error Output:
[code]
![image](https://user-images.githubusercontent.com/9014062/199846246-c2254ba1-6a6c-49fa-9fb0-88d1b9961b9d.png)

Does this error come from MEXC exchange?  Thanks.
Kai

[2022-11-03 22:55] #14234 closed

[2022-11-04 00:54] pcriadoperez commented on #15543
Thanks for opening @wunderb1t . I opened a PR to solve the issue

[2022-11-04 01:23] sirui0112 commented on #15537
Thanks @carlosmiei for the reply. Both methods are working fine.
May I know why I am unable to view the methods from the library?

[2022-11-04 02:18] Rodrigo-Vieira-Chaves opened #15559 "purgeCachedOrders is not a function"
- OS: Windows 11
- Programming Language version: Node.js (17.3.0)
- CCXT version: 2.1.22

Hello,

After using the library for a while, I came with this TypeError who will not go away, everything works except this function,
I really tried to mess up with my imports, requires, but this persists.

Is it a bug or am I doing something wrong and simple to solve?

[code]

[code]

[2022-11-04 05:42] xmatthias commented on #14234
Many thanks - works now! :+1:

[2022-11-04 06:24] sc0Vu commented on #15555
Hi @kaiqiangh

I also hot this error, probably need to ask for their support.

[2022-11-04 06:59] danieltorscho opened #15563 "Transfering (withdrawal) coins to another KYC account (email, phone or UID)"
I'm trying to send USDT to another account on the same exchange platform (Bybit).
In [Transfer section](https://github.com/ccxt/ccxt/wiki/Manual#account-types), it's written following:

*Some exchanges allow transfers to email addresses, phone numbers or to other users by user id.*

I'm not sure what should I use, a `transfer()` function or a `withdraw()` function ?

When using `exchange.withdraw(

[2022-11-04 07:14] sc0Vu commented on #15563
Hi @danieltorscho

I think you mean withdraw to another KYC account. The `transfer` function is to make internal transfer between your own account.

For withdraw, you need to set address and network. To fetch deposit address, you can call `fetchDepositAddress('USDT')`.

Let me kno if you have other questions.

[2022-11-04 07:32] danieltorscho commented on #15563
I wanted to avoid fees by using transfer to another KYC account. I've made an Internal Withdraw via Bybit website by using an email, and fetched that withdraw transaction `exchange.fetchWithdrawals('USDT').then(console.log)` and here what I got:

[code]

Can we reproduce the same scenario but via CCXT ?

Thank you

[2022-11-04 08:05] Dan-krm commented on #15527
When I didn't set the defaultType I received the same BadSymbol error as you,
If you set options['defaultType'] to swap when you define coinex it should work:
[code]
Also I made a mistake in my earlier comment the inverse market symbol is BTC/USD:BTC and the linear market symbol is BTC/USDT:USDT

The margin category is for spot-margin trading (trading spot pairs with leverage without using derivat

[2022-11-04 09:20] carlosmiei commented on #15537
Hello @sirui0112,  you're welcome
These are not unified methods hence they're not documented, here are making direct API calls to binance API, that's what we call `Implicit API`, you can read more about it here: https://docs.ccxt.com/en/latest/manual.html#implicit-api-methods

[2022-11-04 09:23] sc0Vu commented on #15563
Hi @danieltorscho

Did you try `withdraw ('USDT', amount, email)`? I didn't see this in there documentation (https://bybit-exchange.github.io/docs/account_asset/v1/#t-withdraw_info), not sure whether it work.

[2022-11-04 09:42] kaiqiangh commented on #15555
Here is the example that the request URL I got via "spotPrivatePostBatchOrders":
[code]

It looks that the field of "batchOrders" repeats many times, which is different from the api [document](https://mxcdevelop.github.io/apidocs/spot_v3_en/#batch-orders). Could you please help me chekc it? Thanks in advance.

[2022-11-04 10:09] #15543 closed

[2022-11-04 11:05] Nitrix321 commented on #15527
Hello @Dan-krm,
thank u for your great support. It is working now perfectly!
I tested both, linear and inverse.

[2022-11-04 11:26] Gabrieltrompizie opened #15564 "Issue installing CCXT"
ERROR: Could not find a version that satisfies the requirement ccxt-python (from versions: none)
ERROR: No matching distribution found for ccxt-python

First I had an error with the pip version but I managed to work it through. Now I'm having this error, but I'm not that knowledgeable in python so I need help. What does it mean by no matching distribution

[2022-11-04 11:34] carlosmiei commented on #15564
Hello @Gabrieltrompizie,

What is the exact command you're running to install ccxt?

[2022-11-04 11:38] Gabrieltrompizie commented on #15564
I use pycharm so instead of writing a command I go to the python packages tab and look for the library then click on the install button.

[2022-11-04 11:58] carlosmiei commented on #15564
@Gabrieltrompizie there are a lot of packages with `ccxt` in the name, make sure you're installing this one: https://pypi.org/project/ccxt/

[2022-11-04 12:36] xmatthias opened #15565 "okx fetch_ohlcv defaults to HK time"
- OS:
- Programming Language version: python / any
- CCXT version: 2.1.24

[code]

The output of this will be something around `[1667491200000, 20252.4, 20686.4, 20162.8, 20433.5, 4079.21354785]` ...
using `1667491200000` and converting this to a date maybe through [epochconverter](https://www.epochconverter.com/) yields a time of around 4PM GMT.

Based on the code in okx, it seems like there is h

[2022-11-04 13:01] yul commented on #15565
perhaps just add "utc" to bar here:
https://github.com/ccxt/ccxt/blob/3771246485f97b4f2c566d86b3681beb6db1b8fd/python/ccxt/okx.py#L1568

however, this will not be backwards compatible.

[2022-11-04 13:07] yul commented on #15565
because this is only relevant for 6h+ timeframes in OKX API.

[2022-11-04 13:19] Gabrieltrompizie commented on #15564
I haven't used python for a while I am installing python's latest version which is 3.11 idk if this has something to do with the errors i've been getting

[2022-11-04 13:33] Gabrieltrompizie commented on #15564
Tried using the command thats on the link you sent

  File "/Users/gabrieltrompiz/PycharmProjects/pythonProject3/main.py", line 1
    pip install ccxt
        ^^^^^^^
SyntaxError: invalid syntax

[2022-11-04 14:02] Gabrieltrompizie commented on #15564
someone helped me on the discord thanks a lot

[2022-11-04 14:02] #15564 closed

[2022-11-04 14:28] danieltorscho commented on #15563
Yes, sure, it didn't work either. Someone from the chat group confirmed that it's still under the development, so I will close this issue. Thank you for your informations. 🙏

[2022-11-04 14:28] #15563 closed

[2022-11-04 15:15] zydjohnHotmail opened #15568 "FetchTransactionFee not supported yet for CCXT version 2.1.24 for at least 19 exchanges."
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2022-11-04 15:46] zydjohnHotmail opened #15569 "How to fix strange user-agent issue with CCXT version: 2.1.24?"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2022-11-04 16:07] wunderb1t opened #15570 "Is ticker timestamp always expressed in milliseconds?"
Is ticker timestamp, received by REST and socket, always expressed in milliseconds?

- OS: Debian
- Programming Language version: JS
- CCXT version: pro 1.95.14

[2022-11-04 16:11] carlosmiei commented on #15570
Hello @wunderb1t yes, our unified format has the timestamp in milliseconds.

[2022-11-04 16:20] #15570 closed

[2022-11-04 16:24] carlosmiei commented on #15569
Hello @zydjohnHotmail,
We will take a look, but I don't think ccxt is adding that user-agent

[2022-11-04 16:26] zydjohnHotmail commented on #15569
Hello:
Can you show me some code, which I can specify a user-agent when submit exchange.fetchBalance() request?
Thanks,

[2022-11-04 16:55] carlosmiei commented on #15569
@zydjohnHotmail sure, you can specify an object with the user-Agent you want to use upon instantiating the exchange.

Example:
[code]

[2022-11-04 17:08] zydjohnHotmail commented on #15569
Hello:
Thank you very much, my code works now.  I believe this is the issue for maybe other exchanges, which have some kind of requirements for user-agent.
The following is my working code:

`
const ccxt = require('ccxt')
const keys = require ('./keys.local.json');
console.log ('CCXT Version:', ccxt.version);

const exchange = new ccxt.bigone
({
   'apiKey': keys.bigone.apiKey,
   'secret': keys.b

[2022-11-04 17:08] #15569 closed

[2022-11-04 17:16] zydjohnHotmail commented on #15569
Hello:
If you have time, try to fix my previous issue: at least 19 exchanges, where fetchTransactionFees not implemented yet. Issue # 15568
Thanks,

[2022-11-04 17:34] Curro666 commented on #14746
:-)

[2022-11-04 17:57] carlosmiei commented on #15568
@zydjohnHotmail Yes we plan to implement it on all of them

[2022-11-04 17:57] carlosmiei commented on #15568
fyi @AlgoQ

[2022-11-04 20:53] #15527 closed

[2022-11-04 21:09] samgermain commented on #15559
I'm not really sure what you're referencing, I can't find `purge` anywhere in the docs, `js/ftx.js` `js/base/exchange.js` or `js/pro/ftx.js`

[2022-11-04 21:21] samgermain commented on #15479
@kroitor @carlosmiei @frosty00

What are your thoughts, it looks like `fetchLedger` can be implemented, but only via multiple api calls

[2022-11-04 21:24] samgermain commented on #15568
`okx.has['fetchTransactionFees']` is equal to `false` meaning that the okx api does not provide this functionality

[2022-11-04 23:09] Rodrigo-Vieira-Chaves commented on #15559
Hi, I took reference from here:

https://github.com/ccxt/ccxt/issues/1978

When I execute a piece of code like below, I want to clean the orders cache to prevent memory issues:

[code]

The orderInfo or the object this.exchange.orders use a cache of orders received, everytime I receive a notification of a order, the result is cached on them, so I need to clean this cache to make sure my bot do not

[2022-11-04 23:31] samgermain commented on #15559
It looks like `purgeCachedOrders` is no longer a method, @kroitor do you have any more input on this topic?

[2022-11-05 10:42] #15565 closed

[2022-11-05 11:20] #15431 closed

[2022-11-05 11:28] fractalmystery opened #15576 "Does the latest version of ccxt support bkex exchange contract trading? If not, will it support contract transactions in the future?"
[code]

[2022-11-05 12:33] zydjohnHotmail commented on #15547
I tried to delete the following code snippet:
	if (precision !== undefined)
	{
	price = ccxt.decimalToPrecision(price, ccxt.ROUND, precision, ccxt.TICK_SIZE);
	}
Then, it works.
Make sure that when calling this function, pass the step correctly, then this bug can be avoided!

[2022-11-05 12:33] #15547 closed

[2022-11-05 13:24] jorisw commented on #15171
@pottertech Cloning a source repository is not the correct way to use most open source libraries. Rather, it involves importing the module into your project. How this is done depends on your choice of scripting language. See the [wiki install docs](https://github.com/ccxt/ccxt/wiki/Install).

[2022-11-05 15:01] carlosmiei commented on #15576
Hello @fractalmystery
No, currently only spot markets are supported but plan to add them in the future yes

Additionally, we recommend you do your due diligence since we got a report contesting bkex's seriousness
https://github.com/ccxt/ccxt/issues/15486

[2022-11-05 16:01] #12855 closed

[2022-11-05 17:08] KindSpidey opened #15577 "Why some exchanges asks for USDT while others asks for number of token in buy methods?"
Hey guys. I have a question.
When I try to buy any coin on Huobi or Bybit, in command `exchange.create_market_buy_order(coin, amount)` amount parametr is USDT. Other words, these exchanges asks for number of USDTs I'm gonna pay for any token.

But others exchanges like MEXC. Binance, Kucoin and etc in the same command `exchange.create_market_buy_order(coin, amount)` in amount parametr asks not for

[2022-11-06 07:56] #15403 closed

[2022-11-06 07:58] #15334 closed

[2022-11-06 09:57] YuxinSUN89 opened #15580 "[FTX future ] Message: ftx {"success":false,"error":"Size too small"}"
Hi Team,
I got  this issue when closing existing future orders
[code]
**It seems the order size is too small for FTX ?**

Can anyone advise ?

OS: Mac OS
Programming Language version: Python
CCXT version: 1.84.70

Here is my code

[code]

[code]

[2022-11-06 14:46] AlgoQ commented on #15568
Hi @zydjohnHotmail,

`lbank2`only returns information for currencies with non-zero balances.

I'm working on integrating the other exchanges.

[2022-11-06 16:25] pcriadoperez commented on #15577
Hi @KindSpidey,

So we try to always unify `createOrder` so the amount is always in the base currency whenever it is possible. However this changes sometimes for certain exchanges and also different symbols. (For example futures can be the number of contracts).

In the case of bybit order quantity (for market orders: when side is Buy, this is in the quote currency. Otherwise, qty is in the base cu

[2022-11-06 16:25] #15577 closed

[2022-11-06 18:32] caiusCitiriga commented on #5861
As @lobatt said there's even a worse scenario on ByBit, where you can't fetch more than 60 trades using the API directly. You'll have to use the provided public csv files, and wait for the publish of the current day trades file if you want to look back more than 60 trades for the current day.

[2022-11-06 20:30] ProStrike-hub commented on #15484
Hello @carlosmiei

Alright.
Is there another way of collecting the volumes available (aka order book) to determine at which price to set limit orders? Thanks.

[2022-11-07 06:20] dugusanfeng opened #15583 "Lbank2 fetchMyTrades parseTrades return null"
OS: Windows 11
Programming Language version: javascript
CCXT version: 1.79.2

FEATURE BUG:

Lbank2 have the fetchMyTrades method. The response result returned by this interface is as follows:

[code]

but the returned data becomes empty after passing through the parseTrades interface

[2022-11-07 07:58] MinsungKim-BlockCrafters commented on #15481
@carlosmiei I was trying to make some type hint commits for CCXT and I realized CCXT is supporting Python 3.5+ (according to documentation); Do you have any plan to support Python 3.7+ instead of 3.5.3+? The reasons why I am asking this is because;

1. Python ~3.6 is [deprecated.](https://endoflife.date/python) (3.7 will be deprecated in several months too)
2. In Python 3.5, you have to use type c

[2022-11-07 13:11] dgaraninMako commented on #15532
Still cannot get 'trading account' balance for some reason. Margin works fine

[2022-11-07 13:24] dgaraninMako commented on #15532
I think Trading Account is just missing, thats what I see from the code

[2022-11-07 13:41] KindSpidey opened #15585 "How to withdraw with ccxt?"
I have a task to automatically transfer cryptocurrencies between two exchanges. How can I do it with ccxt?

I need:
1) To get know if token can be withdrawed from exchange A and can it be deposit to exchange B.
If yes.
2) To get deposit adress and network from exchange B of needed token,
3) Transfer coins from exchange A to exchange B.

Can you provide a code example of this process with transferi

[2022-11-07 13:49] EkremSel commented on #6042
Thanks for a great thread. I have resampled 1min to 4H by creating a dict for resample.agg() function.I am only getting the close price of the symbol. It works with resample.apply() also, However, when resampling into 4hr, the 4hr period periods does not match with the exchange. There is a +1 hour difference. I have tried using since=int(timestamp)*1000 to no avail.

Below is my code:

`data1 = ex

[2022-11-07 14:12] sc0Vu commented on #15585
Hi @KindSpidey

You can find deposit and withdrawal in wiki (https://github.com/ccxt/ccxt/wiki/Manual#deposit / https://github.com/ccxt/ccxt/wiki/Manual#withdrawal).

There are some examples for creating deposit address and withdrawal, see: https://github.com/ccxt/ccxt/tree/master/examples

Let me know if you have other issues.

[2022-11-07 14:12] #15585 closed

[2022-11-07 14:34] KindSpidey commented on #15585
Thanks. Read it, but it doesn't become more clear of how to build my own code. Can you provide an example of code of how to:

1) Get all deposit and withdraw networks and adresses for any coin on any exchange.
2) How to transfer tokens by these info.

[2022-11-07 15:00] carlosmiei commented on #15583
Hello @dugusanfeng can you share a few more details about this issue? Would be great if you could attach a verbose log as well.

[2022-11-07 15:30] sc0Vu commented on #15467
Hi @zydjohnHotmail

Have you checked your computer time? Looks like the timestamp went too fast (`Timestamp for this request was 1000ms ahead of the server's time.`).

[2022-11-07 16:40] zydjohnHotmail commented on #15467
Hello:
Actually, I found one solution, have to setup Windows time service to start automatically, then it works well after the PC clock is sync with NTP time server.

[2022-11-07 16:40] #15467 closed

[2022-11-07 16:44] dgaraninMako opened #15586 "Kucoin Sub-accounts list not implemented"
- OS: CentOS9
- Programming Language version: Python 3.10.6
- CCXT version: 2.1.37

The following method that is needed to get info on sub-accounts is not implemented, so to get sub-balances you have to explicitly call the following method:

[code]
I will be able to contribute if we agree that it is missing.

thanks

[2022-11-07 16:50] carlosmiei commented on #15586
Hello @dgaraninMako, can you point us to the endpoint you're referring to?

[2022-11-07 17:15] dgaraninMako commented on #15586
Hi! Sure, thats the endpoint on Kucoin:

https://docs.kucoin.com/#get-account-balance-of-a-sub-account

[2022-11-07 17:18] dgaraninMako commented on #15586
Heres the async method (part of it) from CCXT:

[code]

``` method = 'privateGetAccounts' ``` could also be ```'privateGetSubAccounts'```

[2022-11-07 19:06] xmatthias opened #15589 "okx fetch_positions broken when passing in a symbol"
- OS: linux
- Programming Language version: python
- CCXT version: 2.1.33

i fear the fix for #15468 was unsuccessful / had negative side-effects

[code]

Based on the built url (`https://www.okx.com/api/v5/account/positions?instId=%5B%27ETH-USDT-SWAP%27%5D `) - we can see that the instId is now `%5B%27ETH-USDT-SWAP%27%5D` - which decodes to `['ETH-USDT-SWAP']`.
While that's correct from a python

[2022-11-07 20:36] ndubel commented on #15586
@dgaraninMako you need to call
 exchange.privateGetSubAccountsSubUserId() ({subUserId: "ID_OF_YOUR_SUBACCOUNT"})

[2022-11-07 23:08] kaiqiangh commented on #15555
I solved this problem.

`        const resMexc = await exchange.spotPrivatePostBatchOrders({
          batchOrders: JSON.stringify(batchOrders),
        });
`
The "batchOrders" shou be json format, not a array.

[2022-11-08 01:06] MinsungKim-BlockCrafters commented on #15481
I tried some work but seems mypy and typeshed module does not support 3.5, and probably with this reason the static analysis does not work well. https://github.com/python/typeshed/issues/9119

[2022-11-08 01:58] dugusanfeng commented on #15583
I added some log printing：
![image](https://user-images.githubusercontent.com/12732760/200454495-ac7ac4f0-6814-4c33-a8b4-e8617571011c.png)
![image](https://user-images.githubusercontent.com/12732760/200454586-ed5b3f0b-aae3-4fa1-9d2e-3811ccd6dc8d.png)

You can see that lbank returned the data, but it was filtered out after parsing：
![image](https://user-images.githubusercontent.com/12732760/2004541

[2022-11-08 03:38] sirui0112 commented on #15537
That helps, thanks @carlosmiei. Closing the issue now.

[2022-11-08 03:38] #15537 closed

[2022-11-08 03:55] gochendong opened #15591 "ccxt support bybit's unified margin account pattern?"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Progr

[2022-11-08 03:56] gochendong commented on #15591
if support , how to fetch account balance of unified account?

[2022-11-08 08:14] sc0Vu commented on #15591
Hi @gochendong

Actually, we had PR for Bybit unified margin account: https://github.com/ccxt/ccxt/pull/15210, PT wasn't merged yet.

[2022-11-08 09:35] MinsungKim-BlockCrafters commented on #15481
@carlosmiei I see, I will not make any breaking change on Python 3.5. Fortunately I resolved the static analysis issue on Python 3.5 (probably because I mixed different version of typeshed in same mypy cache), so I will make some PRs (but, if you don't like it then feel free to reject)

[2022-11-08 09:36] carlosmiei commented on #15481
@MinsungKim-BlockCrafters sure, after we migrate to typescript probably we will be able to automatically generate these types, but until then I think it's a good alternative

[2022-11-08 10:07] carlosmiei commented on #15583
@dugusanfeng thanks, we will take a look. Next time, if possible, provide text-based logs instead of images, please.

[2022-11-08 10:25] dugusanfeng commented on #15583
Test code:

[code]

text logs:

[code]

Finally, I suggest you to test query the order transaction records 2 days ago

[2022-11-08 10:49] quuentin commented on #4727
Hi any update for kraken futures with PHP ?

[2022-11-08 11:54] KindSpidey opened #15594 "How to get all deposit networks/addresses of token?"
As you can see, Binance has 3 chains to deposit token COTI on their exchange,
When I use command `robot.binance.fetch_deposit_address("COTI")`
I got only ERC-20 network in responce: `{'currency': 'COTI', 'address': '0x642790bf32a7209a7c44c18e1b2526105a280990', 'tag': None, 'network': 'ERC20', 'info': {'coin': 'COTI', 'address': '0x642790bf32a7209a7c44c18e1b2526105a280990', 'tag': '', 'url': 'https

[2022-11-08 14:20] nikky78 commented on #9248
any news on this please?

[2022-11-08 14:24] carlosmiei commented on #9248
Hello, @nikky78 unfortunately not yet

[2022-11-08 15:38] pottertech commented on #15171
Thank you.

[2022-11-08 16:29] KindSpidey opened #15601 "Issue with getting exact chain of token for deposit."
Hello. I used ccxt example code (https://github.com/ccxt/ccxt/blob/master/examples/py/fetch-create-deposit-address.py) and tested it for getting addresses of some coins.

It works, but not how I want it. For example, exchange MEXC allows to deposit TON with ERC20, BSC and TON networks., but your code only responces with TON addresses. How I can get all ways of deposit money? I need it, because I d

[2022-11-08 16:57] StephanAkkerman commented on #11649
I am also having this problem with the latest CCXT release

[2022-11-08 16:59] StephanAkkerman commented on #11649
I am currently having the same problem with the latest CCXT release. @sissnad Where you able to fix it yourself?

[2022-11-08 17:35] pottertech commented on #14571
Based on this link [https://forums.coinbasecloud.dev/t/advanced-trading-api-release-date/1145/6](url) Coinbase is saying they will not "sunset" the CoinbasePro APIs when they merge user accounts into their "Advanced Trade" feature.  Coinbase will keep the CoinbasePro APIs functional until they have completed and released new APIs.

[2022-11-08 17:49] masoud88 opened #15603 "how to check the number of leverage for a currency"
- OS: win10
- python
- 2.0.75

-----

Hi I'm wonder there is a way to get what leverage currently is in use for my bybit account
i know how to set it with `exchange.set_leverage(leverage, symbol)` but how i get it from account
thanks

[2022-11-08 18:30] samgermain commented on #4727
@kroitor Krakenfutures was added, but was later removed

[2022-11-08 18:30] #4727 closed

[2022-11-08 22:39] dmunozfer commented on #15603
fetch positions, even if you do not have open positions, it returns the information with leverage

[2022-11-09 02:21] samgermain commented on #15594
Duplicate of #15601

[2022-11-09 02:21] #15594 closed

[2022-11-09 02:31] samgermain commented on #15603
`fetchPositions` works. A few exchanges (but not many) also have the method `fetchLeverage`, but it doesn't look like the method has a unified response

[code]

prints

[code]

[2022-11-09 03:44] sc0Vu commented on #15589
@xmatthias

Thanks, we shouldn't use toString () there.

[2022-11-09 03:51] bigtotamoboss opened #15606 "Wrong fetch_positions output occasionally"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Linux
-

[2022-11-09 05:48] sc0Vu commented on #15606
Hi @imlejnnn

What do you mean the market goes down, like they went into system maintenance?

[2022-11-09 07:04] bestnaf opened #15609 "Bybit Market orders random error"
- OS:  Ubuntu 20.04.5 LTS (GNU/Linux 5.4.0-1073-kvm x86_64)
- Programming Language version: Python
- CCXT version:  ccxt-2.1.48

Sometime getting this error (I saw it supposed to be fixed a year ago) when I try to close positions which is in Hedging State
order options
Params {'close_on_trigger': False, 'subType': 'linear', 'position_idx': 2}

[code]
Example above works when I test it, however in

[2022-11-09 08:48] zydjohnHotmail opened #15610 "How to fix issue: bigone {"code":40004,"message":"nonce expired"} when trying to get one currency deposit address?"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2022-11-09 09:24] carlosmiei commented on #15609
Hello @bestnaf, can you try to remove `subType` from `params` ? That should only be used in methods that don't have a `symbol` available to infer if the market is linear or inverse.

[2022-11-09 09:32] bestnaf commented on #15609
let me try

[2022-11-09 09:36] bestnaf commented on #15609
Same error unfortunately
 Order Size 4.0 Params {'close_on_trigger': False, 'position_idx': 2}
Posting market order for 4.000 @ 13.934999999999999
Order Size 4.0 Params {'close_on_trigger': False, 'position_idx': 2}
AuthenticationError('bybit {"ret_code":10004,"ret_msg":"error sign! origin_string[api_key=SNCCGWHJZFAFRZWEPE\\u0026close_on_trigger=false\\u0026order_type=Market\\u0026position_idx=2\\

[2022-11-09 09:42] KindSpidey commented on #15601
Thank you very much. Love u guys.
CCXT💕

[2022-11-09 09:57] #15589 closed

[2022-11-09 10:50] masoud88 commented on #15603
unfortunately bybit does not support fetchLeverage

On Wed, Nov 9, 2022 at 6:01 AM Sam Germain ***@***.***> wrote:

[2022-11-09 12:08] zydjohnHotmail commented on #15610
Hello:
Sorry, I fogot to provide with detailed output, so I changed verbose to true (verbose: false, => verbose: true,) and here is the most useful output:

D:\nodejs\CCXT_Wallet>node bigone_deposit1CoinAddress.js USDT
CCXT Version: 2.1.50
fetch Request:
 bigone GET https://big.one/api/v3/asset_pairs
RequestHeaders:
 {
  'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (

[2022-11-09 16:33] samgermain commented on #15603
That's not a problem, just use `fetchPositions` then

[code]

[2022-11-09 16:36] #15601 closed

[2022-11-09 19:26] xmatthias opened #15618 "okx conditional order parsing wrong"
- OS: linux
- Programming Language version: python
- CCXT version: '2.1.54'

Parsing of conditional orders is somehow broken.
none of the prices actually transfer to the unified model - so it seems to be an order without actual price, while prices are actually available.

[code]

[code]

[2022-11-10 10:39] IvanSaldoZ opened #15626 "Websockets: watch_my_trades does not work for Bybit"
OS: Ubuntu 22.04.1 LTS
Programming Language version: Python 3.8.15
CCXT version: 2.0.55

**1st script**. Run the Websocket `watch_my_trades` script please:
[code]
To run it use this command:
`python script_name.py`

**2nd script**. Then of course you will need to create an order to check that is it working or not? Like this:
[code]
If the order has been created successfully then we should see in t

[2022-11-10 10:40] Nitrix321 opened #15627 "Coinex: ExchangeError: Service is not available during funding fee settlement. Please try again later."
Hello, on Coinex there's an Exchange Error multiple times a day, always or mostly at the same times, when they are doing the funding fee settlement. Is this normal at coinex?  Is there a way to bypass this?

- OS: Windows 10
- Programming Language version: Python Spyder 3.9
- CCXT version: 2.1.13

[code]

[code]

[2022-11-10 10:41] carlosmiei commented on #15626
Hello @IvanSaldoZ thanks for reporting it, we will take a look asap!

[2022-11-10 11:20] #15626 closed

[2022-11-10 13:00] #15345 closed

[2022-11-10 14:52] Nitrix321 opened #15629 "AuthenticationError: kucoin KC-API-KEY not exists"
Hello, sadly I have another Issue again.
I created API KEY at FUTURES API on Kucoin.

I created new API Keys several times. But always the same issue.

- OS: Windows 10
- Programming Language version: Python Spyder 3.9
- CCXT version: 2.1.13

[code]
HTTPError: 401 Client Error: Unauthorized for url: https://api.kucoin.com/api/v3/market/orderbook/level2?symbol=ETH-USDT

During handling of the above

[2022-11-10 15:04] carlosmiei commented on #15627
Hello, @Nitrix321 as you probably noticed this error comes directly from the exchange, so unfortunately there's nothing ccxt can do about it

[2022-11-10 15:26] carlosmiei commented on #15629
Hello @Nitrix321, since you handling derivatives can you try to instantiate `kucoinfutures` instead?

[2022-11-10 15:43] qusbr1992 opened #15632 "[Need Help] How to transfer usdt from future account to spot account on Bitget?"
i want to know how to transfer usdt from future account to spot account using bitget api key.
if anyone know it, relply here
thanks

[2022-11-10 15:46] Nitrix321 commented on #15629
Thank u again for your support :)  @carlosmiel

kucoin = ccxt.kucoinfutures({'enableRateLimit': True,
                       'apiKey': ---------,
                       'secret': -----------,
                       'password' : '--------',
                       })

symbol = 'ETH/USDT:USDT'

ob = kucoin.fetch_order_book(symbol)
print(ob)

now its working :)

[2022-11-10 15:55] Nitrix321 commented on #15627
Ah ok, thank you. This is a pity. Perhaps they will fix it in the future.

[2022-11-10 16:24] carlosmiei commented on #15629
@Nitrix321 no problem 🙂
I'll close this issue feel free to re-open it if needed!

[2022-11-10 16:24] #15629 closed

[2022-11-10 17:29] yul commented on #15565
hmm, is is possible that when trading it still uses Hong Kong time zone? I have updated my server's image:
[code]

and backtests are now working in UTC as expected, however on dry trading orders are still issued at 16:00UTC (on 1d timeframe):

[code]

[2022-11-10 18:57] nomad5am commented on #14404
Any news? The time is perfect to migrate to a DEX... And DYDX is amazing.
I understand the API Auth is different from CEXs - but besides that it shouldn't be much.
 @ttodua  contact me on telegram id: @nomad5am I can help out!

[2022-11-10 23:43] samgermain commented on #15632
One #15639 gets merged, you will be able to [transfer on bitget as you can on any other exchange](https://docs.ccxt.com/en/latest/manual.html#transfers)

[2022-11-11 00:26] qusbr1992 commented on #15632
i am using python version now.
where is transfer function in bitget.py?
if anyone know, let me know

[2022-11-11 01:06] samgermain commented on #15632
it's not there yet, the PR needs to get merged

[2022-11-11 02:04] myehrajat opened #15640 "load_markets error on pro"
async function  yy(){
    const kucoinExtra =   new ccxt.pro.kucoin();
    const markets =   await kucoinExtra.load_markets();
    console.log(markets);
}
yy()

this code to load market by pro cause an error!!!!!!!!!!!!!!!!!!

D:\nodejs\MyProject2\node_modules\ccxt\js\base\Exchange.js:658
        return new Promise ((resolve, reject) => resolve (Object.values (this.markets)))

[2022-11-11 03:00] qyvlik opened #15641 "Huobi future swap watchOrderBook maintaining the orderbook in an incorrect way"
- OS: MacOS 11.5.1
- Programming Language version: nodejs
- CCXT version: 2.1.56 v16.9.0
- Exchange: huobi future, huobi swap
- Method: watchOrderBook

# Question

Huobi future swap watchOrderBook maintaining the orderbook in an incorrect way, local orderbook always is old data!

**Huobi spot watchOrderBook work well.**

# Solution

Subscribing huobi future, swap orderbook, when got first message(

[2022-11-11 03:02] qyvlik commented on #15641
1. simple log file : [debug2.log](https://github.com/ccxt/ccxt/files/9986173/debug2.log)
2. full log file: [debug2-full.log](https://github.com/ccxt/ccxt/files/9986175/debug2-full.log)

[2022-11-11 03:27] IvanSaldoZ commented on #15626
Hello, Carlos and Igor!

Thank you for your quick assistance!

Sorry, but I have the same issue above in the latest 2.1.63 :(

Maybe it is not the same bug?

Could you test the snippets please?

Regards, Ivan.

PS: fixed my snipped with print instead of logging.info

[2022-11-11 10:33] #15632 closed

[2022-11-11 11:07] frzsombor opened #15646 "Response of Binance watchBalance parsed incorrectly (with futures?)"
As title says, I think parsing or managing Binance balance have some problems _at least with **futures**_ (other trading not tested).

To reproduce, run the [binance-fetch-balance-snapshot-watch-balance-updates.js](https://github.com/ccxt/ccxt/blob/2.1.64/examples/ccxt.pro/js/binance-fetch-balance-snapshot-watch-balance-updates.js) example.
First, the balance is fetched, received and parsed correc

[2022-11-11 14:38] Ulisses1478 opened #15648 "bybit can't use fetchOrder by id after created"
I tried to search a lot on issues tab but no one report about this, I also tried to look at fetchOpenOrders and fetchClosedOrders and other endpoints tried using a custom id did not work too, closed:True. Everything I could find I tried

- OS: Mac OS 12.6
- Programming Language version: Python 3.9.10
- CCXT version: 2.1.67

[code]

[code]

[2022-11-11 14:39] carlosmiei commented on #15648
Hello @Ulisses1478, thanks for reporting it, we will take a look

[2022-11-11 14:40] Ulisses1478 commented on #15648
Thanks, for the fast response

[2022-11-11 14:43] carlosmiei commented on #15640
Hello @myehrajat I just tested and seems to be working fine on my end, can you share with us a verbose log, please?

[2022-11-11 16:00] ttodua commented on #15648
I'll submit the fix shortly.

[2022-11-11 17:37] ttodua commented on #15648
@carlosmiei if possible, I'll de-assign myself, as the problem seems to be related to [unified-api](https://t.me/BybitAPI/131564) and @sc0Vu was working on it and he might be more in catch of the issue. is that ok?

[2022-11-11 19:11] ttodua commented on #14746
two things for update:
1) whoever is confused, please read  [the difference between trade vs order](https://docs.ccxt.com/en/latest/manual.html#how-orders-are-related-to-trades)
2) I've reproduced the issue and confirm it. it seems to happen on `maker` orders.
I'll submit the fix.

[2022-11-11 19:20] bestnaf commented on #15609
I've tried all possible variations and nothing works.
Odd is the error only appears when I try to close hedged SHORT position side by using 'position_idx': 2 and side Buy.
Same time it closes the LONG position side with options 'position_idx': 1 and side Sell successfully.
Plus error never appears if I use a synchronous code realization (without asyncio and await)

[2022-11-11 20:00] MotivaoCrypto opened #15650 "ccxt.base.errors.ExchangeError: binanceus {"code":-71012,"msg":"IPv6 not supported"}"
- OS: Mac OS
- Programming Language version: Python
- CCXT version: 2.1.71
The exchange is binanceus
[code]

[code]

[2022-11-11 20:57] leonelos-dev opened #15651 "How to create a trailing stop order on Coinbase Pro"
Hi, I want to create a new trailing stop order on spot for Coinbase Pro, however I can not find any example on ccxt and official documentation.

Can you help me please?

[2022-11-11 22:40] abdellah9 opened #15652 "ccxt.base.errors.ArgumentsRequired: binance fetchOrder() requires a symbol argument"
I running this python code and i get this error tired to solve this
OS: win7
Programming Language version: Python 3.8
CCXT version: 2.0.12

Issue
[code]

[2022-11-11 22:44] samgermain commented on #15559
I'm closing this issue, feel free to reopen if you have any more questions

[2022-11-11 22:49] Rodrigo-Vieira-Chaves commented on #15559
Hi, what's the alternative then? Or is this feature now absent? Is there a way to clean orders cache in ccxt at current version?

[2022-11-11 22:59] Dan-krm commented on #15349
@KindSpidey you could also add a timeInForce argument to your params to test with different order types: https://docs.ccxt.com/en/latest/manual.html#timeinforce

[2022-11-12 01:32] caiusCitiriga commented on #12031
experienced same issue with ccxt 2.1.55. Tried to run trades watch on 200 markets on binance

[2022-11-12 01:50] sc0Vu commented on #15648
I'll take a look.

[2022-11-12 02:53] samgermain commented on #15559
@kroitor Do you know what the alternative would be?

[2022-11-12 03:30] 583 opened #15654 "firefox okx fetchBalance : can't convert BigInt to number"
I use ccxr.browser.js/ccxt.pro.browser to call fetchBalance in okx exchange but it throw this error in one of the accounts.
A okx account not throw error, but B okx account throw the error,  B account has a lot of coins, some coin precision is too long, it is any error?

TypeError: can't convert BigInt to number

error at

mul (other) {
    // other must be another instance of Precise
    const in

[2022-11-12 04:25] Curro666 commented on #14746
@ttodua, I don't know what you mean by point 1

To check if it works is very simple. I imagine that you already know it but I put it so you don't have to think too much :-) Modifying a little the code that I put at the beginning you will know if it is right in a matter of seconds.
You look for all the trades made by any pair 'bittrex.fetch_my_trades(pair)', you get the order id and side (buy or se

[2022-11-12 08:33] ttodua commented on #14746
@Curro666 my answer's first part was not directed to you specifically, because you know what is that, that's why i've noted `whoever is confused...` , and second, I've said that I've reproduced the issue, so no need to worry for further explain, as I've perfectly seen what you meant, and submitted fix. please wait before it gets merged (this issue becomes closed automatically  and you'll be notifi

[2022-11-12 08:36] ttodua commented on #12031
yes, that 'might be' also case as only running instance has the temporary memory of it's throttles/etc. so, if you come across the issue with same running instance, then it will be bug on ccxt side, but you havent yet confirmed that as I see. so, please see if you find any bug, I'll be pleased to see your report again.

[2022-11-12 16:44] davidx commented on #15650
same here:  ResponseBody: {"code":-71012,"msg":"IPv6 not supported"}

[2022-11-12 19:06] carlosmiei commented on #15650
Hello @davidx

Unfortunately, binanceus do not support Ipv6 request yet so there is nothing ccxt can do about it.

As a workaround you might try to use a VPN or try to disable ipv6 on your end.

[2022-11-12 20:59] shep-analytics opened #15656 "Support for binance options?"
Will CCXT support binance options?

[2022-11-12 21:31] Dan-krm commented on #15656
CCXT supports Binance options through the implicit API: https://docs.ccxt.com/en/latest/manual.html#implicit-api

### Binance Options Trading Examples:
https://github.com/ccxt/ccxt/blob/master/examples/py/async-binance-create-option-order.py
https://github.com/ccxt/ccxt/blob/master/examples/py/async-binance-cancel-option-order.py
https://github.com/ccxt/ccxt/blob/master/examples/py/async-binance-f

[2022-11-12 21:31] #15656 closed

[2022-11-12 21:40] pcriadoperez commented on #15652
Hi @abdellah9 ,
In binance the method `fetch_order` requires a symbol argument.
You can fix this in your code by changing:
 From: `order = exchange.fetch_order(buy_order['orderId'])` To: `order = exchange.fetch_order(buy_order['orderId'], config.SYMBOL)`

For now I'll close this issue, but feel free to ask any more questions.

[2022-11-12 21:40] #15652 closed

[2022-11-12 21:47] pcriadoperez commented on #15651
Hi @leonelos-dev ,

Unfortunately Coinbase Pro, does not allow to create trailing stop orders using its API.
Reference : https://docs.cloud.coinbase.com/exchange/reference/exchangerestapi_postorders-1

Please let me know if you have any other questions

[2022-11-12 21:47] #15651 closed

[2022-11-12 21:50] pcriadoperez commented on #15654
Hi @583 ,

Can you provide the verbose output and a code sample to reproduce the error?

[2022-11-12 22:28] shep-analytics opened #15658 "Trying to get account options information through the implicit API with binance"
- OS: Linux
- Programming Language version: Python 3.9
- CCXT version: most recent

I'm trying to access this endpoint:
[options account info](https://binance-docs.github.io/apidocs/voptions/en/#account-trades-endpoints)

I construct the implicit API call like this:
[code]

and I get this:
[code]

thank you for your help

[2022-11-12 23:46] sc0Vu commented on #15658
Hi @shep-analytics

I can call both `eapi_private_get_account` and `eapiPrivateGetAccount`  in the latest version of ccxt.

Which version did you use (`ccxt.version`)?

[2022-11-12 23:47] shep-analytics commented on #15658
Am I using the correct exchange?

[2022-11-13 00:43] shep-analytics opened #15659 "Binance options API returning "Invalid data sent for a parameter""
- OS: linux
- Programming Language version: python 3.9
- CCXT version: 2.21

All of the binance options requests are returning the same issue for me:

[code]

[code]

Thank you for the help

[2022-11-13 01:22] gaugau3000 opened #15660 "Invalid fees amount on waves exchange lead to be unable to place the order"
- OS: Linux
- Programming Language version: Javascript
- CCXT version: [2.1.71]

Given i use limit orders (price used is +- 1% from current mid price) and i use WX as trading fees in ccxt order and expected fees is different from provide fees then i got :

`error: Unable to place order on wavesexchange, on pair BTC/USDN on side buy due to InvalidOrder: wavesexchange Required 0.60606329 Atqv59EYzjF

[2022-11-13 07:37] #15658 closed

[2022-11-13 11:16] #14746 closed

[2022-11-13 12:46] #15641 closed

[2022-11-13 13:00] Kinzowa commented on #13600
Hi @carlosmiei, an news about this update ?

Thanks!

[2022-11-13 13:13] pcriadoperez commented on #15646
Hi @frzsombor, unfortunately the reason for this is  the binance Websocket API we use for `watchBalance` only returns the total asset ammount and not the used or free amount. Therefore we are not able to set the `free` and `used` and it is returned as undefined.

I'll close the issue for now, but feel free to post any more issues or questions.

[2022-11-13 13:13] #15646 closed

[2022-11-13 17:01] pcriadoperez opened #15665 "WS client in php not parsing correctly headers"
Hi team,

Can someone with more php experience help to look at this?
When creating the websockets client in php. The headers aren't being passed correctly to PHP client.

To reproduce you can use this branch ([pcriadoperez:blockchaincom-ws](https://github.com/pcriadoperez/ccxt/tree/blockchaincom-ws)) and call  `npm run clip.php watchTicker BTC/USD` and you will get the error: `Origin header is mal

[2022-11-13 18:54] caiusCitiriga commented on #12031
Here to update again :)

After a few researches I've found out that this specific error code on Binance it means:
[code]

[2022-11-13 19:28] landogarner7 opened #15669 "Single create_limit_order() creates 4 buys in Kucoin"
- OS: Windows 10
- Programming Language version: Python
- CCXT version: 2.1.73

[code]

This single line seems to create 4 identical buys in Kucoin. Did anybody else experience such a thing ?

[2022-11-13 21:03] caiusCitiriga commented on #15343
I am experiencing this issue too. Trying to subscribe to 338 markets trades and intermittently  receive this error.

Also, sometimes appears this error too:
`connection closed by remote server, closing code 1008`;

This can be related to: https://github.com/ccxt/ccxt/issues/12031#issuecomment-1312796717 ?

As @nileio said, Binance should let you subscribe 1024 streams from a single connection. Any

[2022-11-14 03:32] IvanSaldoZ commented on #15626
@carlosmiei @kroitor

[2022-11-14 06:48] dawadam commented on #12137
I'm uping this post.
If it is insoluble, the easiest way is to propose **several unified times**.
- lastTradeUpdate: time of last trade passed
- lastEdition: time of the last edition
- lastUpdate: time of the last transaction or the last edition.

[2022-11-14 06:53] IvanSaldoZ commented on #15626
Sorry, just rechecked with the new version - it works on 2.1.75. Thank you once again! :+1:

[2022-11-14 08:15] caiusCitiriga commented on #9907
@kroitor where did you find the limitation on binance subscriptions that shouldn't be more than 50/100 markets?

Their docs says 1024 subs Max per single Conn. And I'm facing the same 1008 error

[2022-11-14 08:18] Kinzowa opened #15672 "Bybit watch_ticker reports incorrect last and close prices for spot markets"
Hello,

I notice that `bybit` instance reports incorrect `last` and `close` prices for spot markets. Indeed it always reports the `low` price. For swap it's OK.

[code]

Thanks,

[2022-11-14 09:33] caiusCitiriga commented on #15343
@ttodua I can confirm that with 100 markets subscriptions from a single connection doesn't throw errors. With that being said, this is kinda critical. I'm aware that Binance is the most generous exchange in terms of data provisioning, but their documentation states that:

![Screenshot 2022-11-14 at 10 24 59](https://user-images.githubusercontent.com/12595721/201623613-e22a2a89-fd8c-4abd-ae44-fbaec

[2022-11-14 09:40] carlosmiei commented on #15665
@ttodua can you take a look here?

[2022-11-14 09:43] carlosmiei commented on #15669
Hello @landogarner7, that is very weird behavior. Can you please provide a verbose log? (add `exchange.verbose=True` before creating the order)

[2022-11-14 09:45] carlosmiei commented on #15672
Hello @Kinzowa thanks for reporting it, we will take a look

[2022-11-14 09:46] frosty00 commented on #15665
the php client api is `$browser->withHeader('header', $value)` & `$browser->withoutHeader('header', $value)`

[2022-11-14 10:02] #15672 closed

[2022-11-14 10:31] KindSpidey opened #15676 "MEXC does not fetch exist ticker"
Maybe its a bug on MEXC side, i dont know, but look. I'm trying to get price of coin, by doing `print(robot.mexc.fetch_ticker("LTX/USDT")["last"])` and I get error `ccxt.base.errors.BadSymbol: mexc does not have market symbol LTX/USDT`
Well, ok, but MEXC HAS such symbol https://www.mexc.com/ru-RU/exchange/LTX_USDT
Why does it happen? Command of getting price with another coin like BTC or ETH works

[2022-11-14 11:06] KindSpidey commented on #15676
Got it. Thanks

[2022-11-14 11:06] #15676 closed

[2022-11-14 11:25] KindSpidey opened #15677 "How to get all deposit addresses of all networks on Kucoin?"
My task is: I have a token with multiple possible deposit networks. I need to get all adresses: from each network.
When I try to use command which suits to any other exchange named `exchange.fetch_deposit_address()` I got error `ccxt.base.errors.InvalidAddress: kucoin address is None`
Then, knowing I can create address on Kucoin, I try to use command `exchange.create_deposit_address()` usually I g

[2022-11-14 13:50] Hadevmin opened #15681 "Pairs on Coinbase missing"
Hi, I tried to find this pairs on Coinbase, but I don't find them:
https://www.coinbase.com/advanced-trade/CBETH-ETH
https://www.coinbase.com/advanced-trade/WBTC-BTC

When I use ccxt.coinbase class and load markets, I don't find them.

Do you have an explication for this?

Thanks

[2022-11-14 14:54] Hadevmin opened #15682 "New exchange, kraken futures"
Hi all,

Do you plan to integrate kraken futures(https://docs.futures.kraken.com/) in ccxt?

Thanks

[2022-11-14 15:26] KevinBaudin opened #15683 "Bybit parse_spot_trade issues with side and takerOrMaker"
I was playing with trades and received weird information, in v2.1.79.

[code]

The issues are: **'side': False, 'takerOrMaker': False**

I do believe that
https://github.com/ccxt/ccxt/blob/cbb96e626e0b12ab94297d51b8be495ba46a1b42/python/ccxt/bybit.py#L2000
is broken, and the following lines are improperly written (l. 2032):

[code]
This should be:

[code]

Thanks for the great work nevertheless, a

[2022-11-14 15:57] dwightschrute-aarm commented on #4727
Hello, any update for kraken futures with Python ?

[2022-11-14 16:48] carlosmiei commented on #15683
Hello @KevinBaudin, thanks for letting us know, we recently upgraded bybit spot to v3, so yes could have caused that. Weill take a look!

[2022-11-14 16:56] jshcrowthe opened #15685 "Binance market symbols not working as expected"
Versions:

- OS: MacOS Ventura 13.0
- Programming Language version: Node.js 16.14.0
- CCXT version: 2.1.79

Was looking at binance, binancecoinm, and binanceusdm and noticed that, instead of adhering to the universal symbol spec these symbol names have been segregated via exchange objects (though they talk to the same exchange) and are not correctly exposing the related markets.

This seems to be

[2022-11-14 16:58] carlosmiei commented on #15685
fyi: @kroitor

[2022-11-14 19:21] aFluxx commented on #15583
LBank has a lot of smaller tokens/coins which they don't fully integrate in their API. The coins are available, but a lot of the endpoints do not actually return data for them.

It sucks.

[2022-11-14 20:09] YuxinSUN89 opened #15686 "KuCoin fetchOHLCV not return the latest timestamp"
Its now **Monday Nov 14 20:06 UTC time**. I am using Kucoin ccxt to return the latest OHLC information.

After the dataframe fetched, the latest time point should be very close to 20:06 UTC time.
However, its not.

OS: Mac OS
Programming Language version: Python
CCXT version: 1.84.70

[code]

[code]

If you check 1667739600000 , you will find thats Sun Nov 06 2022 13:00:00.

Can anyone please advi

[2022-11-14 21:25] samgermain commented on #15682
There's a [PR](https://github.com/ccxt/ccxt/pull/15133) for it, but it hasn't been merged yet

[2022-11-14 21:27] samgermain commented on #15603
@masoud88 It looks like I've answered your quesiton. I'm going to close this issue. Reopen it if you have more questions

[2022-11-14 21:27] #15603 closed

[2022-11-14 21:28] samgermain commented on #15404
It looks like this was an issue with the Bitvavo server, I'm going to close this issue, feel free to reopen it if you have any more questions

[2022-11-14 21:28] #15404 closed

[2022-11-14 21:49] samgermain commented on #15669
@landogarner7 Could you provide the full code for your program please?

- rememeber to removed any `apiKey`, `secret` or `password`

[2022-11-14 22:01] bonetjoshua commented on #15650
This is so strange, because I am using fetch_balance from CCXT, I don't understand why I'm getting this error. Can someone replicate this error in a BinanceUS account?

[2022-11-14 22:08] Hadevmin commented on #15682
@samgermain Ok, thanks.
Do we have an estimate of how long it will take to get approved?

[2022-11-14 23:32] samgermain commented on #15681
It might take a while to get those markets. We essentially need to upgrade the whole exchange to work with the [new api points](https://docs.cloud.coinbase.com/exchange/reference) that they added

[2022-11-15 01:25] shep-analytics commented on #15659
@sc0Vu is this an error on CCXT's side?

[2022-11-15 02:06] dugusanfeng commented on #15583
But the small token I tested actually returned data, but it was filtered out at the sdk layer.

[2022-11-15 02:09] sc0Vu commented on #15659
Hi @shep-analytics

That's weird. Can you call other european option account routes, eg, `eapiPrivateGetPosition`?

[2022-11-15 02:17] shep-analytics commented on #15659
@sc0Vu I just tried it, I get the same error - everything else works great for futures and spot. Is it possible that I need to initialize a binanceoptions object? instead of ccxt.binance?

[2022-11-15 02:21] shep-analytics commented on #15659
it says invalid data sent for a parameter - I don't understand though.

The only info we are passing for a parameter is "timestamp recvWindow signature"

right?

[2022-11-15 02:22] sc0Vu commented on #15659
@shep-analytics You don't have to create another instance for binanceoptions.

[2022-11-15 02:24] shep-analytics commented on #15659
does my code to call b.eapiPrivateGetAccount() work for you?

[2022-11-15 02:38] sc0Vu commented on #15659
@shep-analytics it worked for me

[code]

[2022-11-15 02:46] samgermain commented on #15559
We don't cache orders at all, so there's nothing required from you

[2022-11-15 03:11] shep-analytics commented on #15659
I'm using python, would that make any difference?

[2022-11-15 04:44] sc0Vu commented on #15659
@shep-analytics it worked for me too.

[code]

[2022-11-15 07:04] chaedongyoon opened #15691 "how to borrow coins in Binance"
- OS: windows11
- Programming Language version: python v2022.18.2
- CCXT version:22.3

firstly, thanks for reading this article.

i tried to use margin system in Binance.

[code]

[code]

please let me know example of using margin borrow

thanks

[2022-11-15 07:25] shep-analytics commented on #15659
Here is my full code with initialization and everything:

[code]
Maybe I'm setting up the key for ccxt incorrectly?

[2022-11-15 07:38] kroitor commented on #15659
@shep-analytics please, paste your verbose output:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[code]

[2022-11-15 07:40] shep-analytics commented on #15659
[code]

[2022-11-15 08:25] hosseinab opened #15692 "kucoin fetch_transaction_fee chain error"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^2.0.84",
Exchange: kucoin
Method: fetch_transaction_fee

hi .
my code :
[code]
output :
Invalid chainId

verbose :
[code]

i fetch deposit address of this coin with bsc chainid successfully

[2022-11-15 08:35] ccxdev opened #15693 "Failed build on new setup"
I have following output after runing `npm run build` inside docker container.

Steps:
- Install docker
- Clone repo
- run `docker-compose run --rm ccxt`
- run `npm run build` when container started

- OS: MacOS Ventura 13.0
- Docker version: Latest
- CCXT version: Latest

[code]

[code]

[2022-11-15 08:59] carlosmiei commented on #15693
Hello @ccxdev, can you try to run `composer update` before the `npm run build` ?

[2022-11-15 09:14] carlosmiei commented on #15691
Hello @chaedongyoon,

Can you check this example? https://github.com/ccxt/ccxt/blob/master/examples/js/margin-borrow-buy-sell-repay-example.js

[2022-11-15 10:52] ccxdev commented on #15693
After `composer update` it work perfectly. Thanks! @carlosmiei

[2022-11-15 10:52] #15693 closed

[2022-11-15 11:53] chaedongyoon commented on #15691
thanks for your help
but i have no idea of J.S

i'm very beginner. so i can only use python..

T_T

[2022-11-15 12:25] frzsombor commented on #15646
Thanks @pcriadoperez for the answer, now I understand that it is not possible to update "free" and "used" properties of the balance using the response of `watchBalance`, because on an update, Binance is not sending this information with their API.

However I think this implementation still should be changed. Currently `watchBalance` seems useless in case we want to maintain a synchronised local ba

[2022-11-15 12:34] AlgoQ commented on #15583
The issue seems to be related to [lbank's api](https://github.com/LBank-exchange/lbank-official-api-docs/blob/85e7bb83f03d4239c3aad26cabb997a1a2bbb3d1/API-For-Spot-EN/Trading%20REST%20API.md#7past-transaction-details).

Whenever we simply `fetchMyTrades` by just using the required params, everything seems to work fine:
[code]

But when we add an optional param, such as `type` lbank doesn't return

[2022-11-15 13:15] #14095 closed

[2022-11-15 13:35] LovePareek opened #15696 "Can we dynamic the exchange selection on npm library"
I'm working on a project where we need to implement a function that lets users choose which exchange to select from the api; is there any way we can dynamically update the exchange selection procedure in the library?

This is the method i applyed and i want that `ccxt.{someExchange}({})` part dynamic if there is a way please help me.
` const binanceData = new ccxt.binance({})`
`        let binance

[2022-11-15 14:29] carlosmiei commented on #15696
Hello @LovePareek,
Yes you can.

Example:
[code]

[2022-11-15 14:45] #15683 closed

[2022-11-15 15:20] ttodua commented on #15691
Carlos, do you think you might find a time to revise 'transpile examples' PR again?  it was ready(_probably_) to transpile such examples.

[2022-11-15 15:23] ttodua commented on #15691
@chaedongyoon in the meantime, you might still be able to read the logic in JS (only syntax differs, but I still think it's readable). We will soon be able to provide that example in python too.

[2022-11-15 15:30] YuriyTigiev opened #15700 "charset-normalizer-2.1.1"
The latest CCXT version of library should use  charset-normalizer-2.1.1 ?

(venv) [ytigiev@screener adcabot]$ pip3.11 install ccxt
Requirement already satisfied: ccxt in ./venv/lib/python3.11/site-packages (2.1.83)
Requirement already satisfied: setuptools>=60.9.0 in ./venv/lib/python3.11/site-packages (from ccxt) (65.5.1)
Requirement already satisfied: certifi>=2018.1.18 in ./venv/lib/python3.11/

[2022-11-15 19:27] ttodua commented on #15343
@carlosmiei @pcriadoperez @sc0Vu do you have any thoughts on this?

[2022-11-15 19:51] ttodua commented on #15665
I'll take a look...

@pcriadoperez did Carlo's comment made any hint for it? have you checked or not , lmk.

[2022-11-15 20:55] frosty00 commented on #15691
[code]

this line by itself should work, the set margin mode is for futures trading - not margin trading

[2022-11-15 22:13] pcriadoperez commented on #15646
Hi @frzsombor , that could be an option. However it would make it slower for `watchBalance` to respond and would add an extra call to the API which other users might not want. And at the end you could just add a `fetchBalance` just after `watchBalance`.  So I don't think it's the best solution.

But I do agree it's not ideal. The only other solution I can think of is, I see binance returns orders

[2022-11-15 22:34] pcriadoperez commented on #15700
Hi @YuriyTigiev , I didn't see any mention of `charset-normalizer` in ccxt the repo. I believe it is a dependency of aiohttp that requires to a version between 2.0 and 3.0.. therefore that's why pip is probably installing 2.1.1 becuase it's the latest version that meets that condition.
Is this causing any issues for you with the use of ccxt?

[2022-11-15 22:36] zydjohnHotmail opened #15704 "How to set network parameters via Node.JS command line parameter?"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2022-11-15 23:33] pcriadoperez commented on #15704
Hi @zydjohnHotmail ,

Can you share what error you are getting?

Also if I may suggest you can probably make your code shorter by passing the values directly to the withdraw function like this:

[code]

[2022-11-16 00:19] zydjohnHotmail commented on #15704
Hello:
Thank you very much for your code, I will do some testing later.
But I have one concern: for those CCXT support network, it should be OK, but if some network, like 'MATIC', 'XRP'. And if I pass command line parameter, like 'undefined' for network, then the network object still works?
Please advise, as I don't have long experience with node.js.
Thanks,

[2022-11-16 02:16] pcriadoperez commented on #15343
Hi,

So I think there are two different issues here, the 1008 "Too many requests" error and the ping-pong keep alive error.

- For the 1008 error, after a bunch of testing I found that the issue is we are only using one stream for all of our requests to binance. So even though they allow 1024 streams, we currently only use one, so when receiving too many messages over the stream it throws the 1008

[2022-11-16 03:35] LovePareek commented on #15696
Hi @carlosmiei,
Thank you so much it really worked

[2022-11-16 03:35] #15696 closed

[2022-11-16 03:38] sc0Vu commented on #15692
Hi @hosseinab

https://docs.kucoin.com/#get-withdrawal-quotas
https://api.kucoin.com/api/v2/currencies/STARLY

[2022-11-16 04:25] pcriadoperez commented on #15704
If I understand the question correctly, yes it would still work. For coins with only one network you can pass the network parameter as undefined.

I'll close this issue for now, but feel free to ask any more questions.

[2022-11-16 08:22] chaedongyoon commented on #15691
if i want to choose "isolated margine" then what should i do?

[2022-11-16 08:52] #13598 closed

[2022-11-16 09:07] Curro666 commented on #14746
Hello, im testing now and are partially solved.

New test:

[code]
i see what the side of info['direction'] are bad.

BR

[2022-11-16 09:20] ttodua commented on #14746
@Curro666 no, it is not bug in ccxt, `info` object is always whatever exchange api proves, the raw, unaltered data. So, we don't have any connection to the data provided there.

[2022-11-16 09:40] Hadevmin commented on #15681
It's my conclusion, so I had contacted the support and their response:

Hi there,

Thank you for contacting Coinbase Support. We acknowledge your concern in relation to the upcoming shutdown of Coinbase Pro and we understand that you are using Coinbase Pro API with Bitsgap for trading automation on your Coinbase account. We do recognize how important it is for you to be on top of your account. Ple

[2022-11-16 09:55] frzsombor commented on #15646
@pcriadoperez Thank you, I understand your concerns about my idea, and actually you are right, currently I'm using the `fetchBalance` just after `watchBalance` as a workaround of this situation. Looking forward to see if there will be any changes to these functions. If you prefer to keep everything this way, maybe this behaviour should also be noted in the mentioned docs and example to avoid misun

[2022-11-16 10:11] Kinzowa commented on #15343
Hi, I just got the ping-pong issue with Bybit while listening to 2 markets `watch_tickers` and 2 private methods simultanously: `watchMyTrades` and `watchOrders`. From my experience with CCXT the websocket wrappers throw error with all exchanges I've tried.

`timed out due to a ping-pong keepalive missing on time`

[2022-11-16 10:14] xmatthias commented on #15260
@kroitor unfortunately, #15274 doesn't fully fix "this" issue (as now a new issue occured).

from here: https://readthedocs.org/projects/ccxt/builds/

![grafik](https://user-images.githubusercontent.com/5024695/202153067-c0c5bc0c-fb68-406b-985b-626358b5f8d5.png)

[2022-11-16 10:37] xmatthias commented on #15260
that's correct - i'm just pointing out that the "docs.ccxt.com" page is not uptodate (hasn't been since august) ...

[2022-11-16 11:10] #15586 closed

[2022-11-16 11:29] caiusCitiriga commented on #15343
@pcriadoperez Ok, knowing that ccxt uses only one stream for binance, the 1008 error now makes sense. So I'll wait for the PR and then I'll try again. Can you ping me here once it's merged? Thank you!

[2022-11-16 11:39] dgaraninMako opened #15709 "KuCoin Futures fetch positions that are in sub-account"
- OS: CentOS9
- Programming Language version: Python 3.10.6
- CCXT version: 2.1.37

[code]

[code]
I am using sub accounts and am unable to get positions for the subaccount for the futures market. Works well with spot for:
[code]

Any idea what am I doing wrong or is it a bug?

[2022-11-16 11:53] hosseinab commented on #15692
hi @sc0Vu , thank you for answer .
i test BEP20 and bsc chainid . and both queries returns invalid chainid
*** valid chainid for STARLY coin is : bsc
The problem is that the characters are converted to capital letters .
please check input params and verbose output .
i send "bsc" params  but ccxt send "BSC" To server

[2022-11-16 12:26] carlosmiei commented on #14987
Hello @Curro666 so you're saying that if you subscribe to multiple topics simultaneously, you don't get the error?

[2022-11-16 13:54] pottertech commented on #14571
I got the following response from Coinbase so I am feeling better about the situation:

Thank you for contacting Coinbase Support. We acknowledge your concern in relation to the upcoming shutdown of Coinbase Pro and we understand that you are using Coinbase Pro API for trading automation on your Coinbase account. We do recognize how important it is for you to be on top of your account. Please know

[2022-11-16 15:40] ttodua commented on #15665
@pcriadoperez can you please tell the exact exchange/command you were running? `npm run cli.php watchTicker BTC/USD` is not mentioning which exchange.

[2022-11-16 16:24] rapmd73 opened #15712 "Error closing position on Binance SPOT"
The is a very simple program that does nothing more then read the balance of an asset and sell it, ie. closing out the position. Selling at a fixed amount works fine, only when I try to use the balance, do I get the errors. I suspect the error is just a simple missing parameter, but a search of example code and documentation, as well as previous issues seems not to address this situation.

Thank y

[2022-11-16 16:39] carlosmiei commented on #15709
Hello @dgaraninMako are you using the appropriate set of API keys? (afaik sub-accounts require different API keys)

[2022-11-16 16:44] dgaraninMako commented on #15709
Hi, I have generated API keys from the main (master) account as when I go to the Futures API on a sub account it says "Currently, it is unavailable to create and manage API in the sub-account. If you want to do that, please proceed in the master account." Thats what I did basically. Thank you!

[2022-11-16 17:41] AlgoQ commented on #15692
Hi @hosseinab
I just fixed the issue. Now both `BEP20` & `BSC` (lower & upper-case) work as intended. The change will be available in the next version, which will be launched soon.

Thx for letting us know about this issue!

[2022-11-16 19:08] Curro666 commented on #14987
yes, it has been working without errors in this way 4:30

[2022-11-16 20:19] miharbines commented on #298
Hi everyone

i want USDT order this code send btc amount how solve this problem. ?

thanks for helping

[2022-11-16 20:25] miharbines opened #15714 "how can I send usdt party order ?"
Hi

how can I send usdt party order ?

thanks

[2022-11-16 20:44] Dan-krm commented on #15712
I'd recommend trying `bal=float(balance['free'][base])`

[2022-11-16 21:02] rapmd73 commented on #15712
No effect to the error messages received. Thank you though for the idea is that would be more appropriate in a working environment.

[2022-11-16 21:04] Dan-krm commented on #15712
@rapmd73 is this for selling your spot holding, or for closing a spot-margin position?

[2022-11-16 21:13] Dan-krm commented on #15712
Can you try `params['quantity']=bal` here instead of `params['quoteOrderQty']=bal` I think the quoteOrderQuantity might be expecting the value in USDT

https://binance-docs.github.io/apidocs/spot/en/#new-order-trade

[2022-11-16 21:17] rapmd73 commented on #15712
Spot holding only.

[2022-11-16 21:51] frosty00 commented on #15714
what is a party order?

[2022-11-16 22:25] carlosmiei commented on #14987
@Curro666 I've tested and seems to be working fine both ways (single stream or multiple streams). For that reason, I'm going to close this issue, feel free to re-open it if anything!

[2022-11-16 22:25] #14987 closed

[2022-11-16 22:34] Dan-krm commented on #15712
For this trading pair unfortunately Binance won't sell TRX past one decimal place so if you have '245.6785' available it can only sell a max of '245.6' you need to use `exchange.amount_to_precision(symbol, bal)` when sending a calculated amount value with multiple decimal places, try this:
[code]

[2022-11-17 00:16] rapmd73 commented on #15712
I tried the changes you gave above. Here are the results including the modified test program. Thank you.

**===== [ Modified test program ] =====**

[code]

**===== [ Output ] =====**

fetch Request: binance GET https://testnet.binance.vision/api/v3/account?timestamp=1668643812728&recvWindow=10000&signature=91ccfed7491a72f2f610248350676e6358d18fc2fe864d4c96a2cbfd4f338cce RequestHeaders: {'X-MBX-AP

[2022-11-17 01:22] zwang613 opened #15715 "Bybit unified margin account"
- OS: Windows 10
- Programming Language version: Python 3.9
- CCXT version: 2.1.89
- exchange: ByBit

Not sure if this is implemented, but I have balance and positions in the unified margin account, but the `fetch_balance` or `fetch_positions` method always return 0 positions or 0 balance.

I've tried `type` = `swap`, `future`
[code]

[2022-11-17 01:31] chaedongyoon opened #15716 "how to use "set margin mode""
- OS:windows11
- Programming Language version:python v2022.18.2
- CCXT version:22.3

I would like to use "isolated margin" in Binance.

i think i maybe use `set_margin_mode`

![image](https://user-images.githubusercontent.com/90673349/202331382-6ba6ab28-d81d-4c3f-8e61-59571c1f2e97.png)

if i want to use `BTC/USDT`,
i input like this

[code]

but it doest work..
please help me thanks!

![image](htt

[2022-11-17 01:35] luisgomezzz opened #15717 "Can I create a Stop Market order in kucoin like Binance?"
Hi guys, how are you?

I'd like to know if I can create a Stop market order in Kucoin like I do in Binace, I mean, without a quantity or amount.... I just want to close the position wherever the size it has.
In binance I create that stop like that:

[code]

Can you help me?
Sorry if I did this question in a wrong place.
thank you in advance.
Luis

[2022-11-17 01:36] samgermain commented on #15716
Can you copy and paste the error response that you're getting, or describe what isn't working exactly?

[2022-11-17 01:37] frosty00 commented on #15716
hi, `setMarginMode` is for futures trading only. To use isolated margin you can create an order like this:

[code]

let me know if this doesn't solve your issue

[2022-11-17 01:44] samgermain commented on #15717
You can't create one for `kucoinfutures` using that technique, but on both `binance` and `kucoinfutures` you can set the stoploss price when you create your order, like

[code]

or to create a separate stop order once you are already in a position

[code]

[2022-11-17 04:01] hzpkk520 opened #15718 "CCXT Pro custom exchange example error"
- OS: macOS Monterey 12.4, Apple Silicon M2
- Programming Language version: Python
- CCXT version: 2.1.89
- Exchange: Binance

Hi guys,

  I'm trying to implement my own exchange class using CCXT Pro with customized methods to handle WebSocket messages. I'm using this example file: https://github.com/ccxt/ccxt/blob/master/examples/ccxt.pro/py/watch-custom-exchange-specific-streams.py

  But when I

[2022-11-17 07:29] ttodua commented on #15665
@pcriadoperez after the linked PR is merged, please test out again, it will be fixed.

[2022-11-17 08:59] carlosmiei commented on #15718
Hello @hzpkk520
Sorry, unfortunately, Binance was refactored in the meantime, so this example is no longer valid.

[2022-11-17 09:00] carlosmiei commented on #15715
Hello @zwang613,
We are upgrading Bybit's implementation right now to support the unified margin, we will let you know when is ready.
- https://github.com/ccxt/ccxt/pull/15210

[2022-11-17 09:13] hzpkk520 commented on #15718
Hi Carlos,

  Thank you for the information. Do you have an estimate of how long this refactoring is going to take?

  Besides, really want to say thank you to all the contributors like you on the CCXT project. Really appreciate the effort!

[2022-11-17 09:34] #15665 closed

[2022-11-17 10:04] #15677 closed

[2022-11-17 10:06] minhnhat-dev commented on #6805
batchOrders: JSON.stringify([{
                "side": "BUY",
                "positionSide": "BOTH",
                "symbol": "TRXUSDT",
                "type": "STOP_MARKET",
                "quantity": '125',
                "stopPrice": "0.07777",
                "workingType": "CONTRACT_PRICE",
                "reduceOnly": "false",
            }])
            It's work for me,use JSON.strin

[2022-11-17 12:11] wunderb1t opened #15722 "Binance incorrect error handle for 'future' market"
We've noticed that for Binance 'future' market some of errors wrongly handled.

In example 40xx errors.

Binance USDT doc - https://binance-docs.github.io/apidocs/futures/en/#40xx-filters-and-other-issues
Binance Spot doc - https://binance-docs.github.io/apidocs/spot/en/#3xxx-5xxx-sapi-specific-issues

We've received current error for Binance 'future' market:
RateLimitExceeded: binance {\"code\":-

[2022-11-17 12:13] carlosmiei commented on #15722
Hello @wunderb1t, you're right this should be recognized as `InvalidOrder`, thanks for letting us know we will fix it asap!

[2022-11-17 14:48] KindSpidey commented on #15677
Thank you guys

[2022-11-17 16:11] SnakeO opened #15727 "CCXT Pro signup: "Internal Server Error""
When attempting to sign up for CCXT Pro, an "Internal Server Error" is shown.

https://ccxt.pro/account

<img width="1180" alt="Screen-Shot-2022-11-18-01-09-43 70" src="https://user-images.githubusercontent.com/136700/202498068-4b569bc3-b7c1-40f4-bb18-7ec1438207a6.png">

[2022-11-17 16:12] carlosmiei commented on #15727
Hello @SnakeO,
CCXT.PRO was merged into ccxt and it's free now! 🎉
https://github.com/ccxt/ccxt/issues/15171

[2022-11-17 16:14] SnakeO commented on #15727
incredible. Thank you!

[2022-11-17 16:59] AuxZarske commented on #15717
Hello guys, I'm trying to test this but it doesn't work (TypeError: a.futures_create_order is not a function). But if I do it with create_order(), it opens the position but does not place stop loss.

[2022-11-17 20:16] luisgomezzz commented on #15717
Thanks mate, its a shame!

[2022-11-17 20:18] luisgomezzz commented on #15717
Hi, what exchange are you using?

[2022-11-17 20:42] ThiagoZarur opened #15731 "Stop limit and take profit dosen´t activate in Binance"
![image](https://user-images.githubusercontent.com/88751496/202554983-90b61c24-8398-4154-8713-7c21fd9c7a09.png)

The order is created successfully, but it doesn´t put the stop limit and take profit. I wrote the code based in the documentation.

[2022-11-17 21:01] AuxZarske commented on #15717
I am using binance futures. I am trying to place an order on BTCUSDT with Stop Loss. But it only creates the order without the SL.

This is the function I am currently using, but I was trying to use the one you posted but it won't take it.

exchange.create_order("BTCUSDT",'limit', "buy",0.005,17000,{'stopLossPrice': 15000})

I don't get an error as a response either, it just places the position wi

[2022-11-17 22:50] samgermain commented on #15717
`stopLossPrice` is only for contract trading. To create a stop order, you need to create a separate order with [`params['stopLoss']`](https://docs.ccxt.com/en/latest/manual.html#stoploss-and-takeprofit-orders-attached-to-a-position)

[2022-11-18 00:38] rapmd73 commented on #15712
I just figured out and discovered through various sizes of trying to sell that Binance rate limits how much you can sell based upon your KYC status.

The test net only allows $500 at a time to be sold. Anything above that causes a market lot size error.

I've looked through the messages and so far I can't seem to find anything that indicates a maximum position size based upon KYC status.

[2022-11-18 01:34] ddplaycoin opened #15732 "Can't fetch future position in bitget"
i have two issues here:

first, i am using version 2.1.63 and i tried to fetch swap position but it returns empty list []
here are my code

exchange_linear = ccxt.bitget({
    "apiKey": bitget_ddplaycoin_api,
    "secret": bitget_ddplaycoin_secret,
    "password": bitget_ddplaycoin_password,
    "options": {'defaultType': 'swap'}
})

markets_linear = exchange_linear.load_markets()

positions = exc

[2022-11-18 02:41] Dan-krm commented on #15659
@shep-analytics can you sign into Binance and make sure the options account is enabled?

[2022-11-18 03:11] Dan-krm commented on #15677
I created a new example for fetching all deposit addresses here: #15733
Now you can call `fetch_deposit_addresses_by_network()` with the currency you're interested in to retrieve all the deposit addresses for all of that currencies enabled networks:
[code]

[2022-11-18 06:45] samgermain commented on #14872
closing as ftx is delisted now

[2022-11-18 06:45] #14872 closed

[2022-11-18 06:46] samgermain commented on #15580
closing as ftx is delisted now

[2022-11-18 06:46] #15580 closed

[2022-11-18 06:47] samgermain commented on #15484
closing as ftx is delisted now

-----------------------

You can always check the information inside `info` though, or check the response of other methods on the api to know if there's somewhere else you can get information for something

[2022-11-18 06:47] #15484 closed

[2022-11-18 06:48] samgermain commented on #8996
closing as ftx is delisted now

[2022-11-18 06:48] #8996 closed

[2022-11-18 06:49] samgermain commented on #10289
closing as ftx is delisted now

[2022-11-18 06:49] #10289 closed

[2022-11-18 06:50] samgermain commented on #9347
@kroitor @carlosmiei @frosty00

Is this specific to FTX? Or could other exchanges have it implemented?

[2022-11-18 06:51] samgermain commented on #12379
Closing because FTX is delisted now, and there is no unified way to set a trailing stop order

[2022-11-18 06:51] #12379 closed

[2022-11-18 06:52] samgermain commented on #14482
closing because FTX is delisted now

[2022-11-18 06:52] #14482 closed

[2022-11-18 08:10] Dan-krm commented on #15712
I couldn't find any specific details on trading limits based on KYC tiers but it's possible that this page is updated and user specific: https://www.binance.com/en/trade-rule

You can search the limits and filters that are different based on if it's the testnet or live trading:
[code]

https://binance-docs.github.io/apidocs/spot/en/#filters
https://github.com/ccxt/ccxt/wiki/Manual#precision-and-li

[2022-11-18 08:10] #15712 closed

[2022-11-18 08:30] samgermain commented on #15732
By using almost your exact code, I was able to get a valid response, are you sure you are entered into any positions on Bitget?

[code]
prints
[code]

-------------------

Also, that's correct that bitget does not offer a sanbox/testnet url

[2022-11-18 12:06] mmehrle opened #15734 "Best Source For Perpetual Futures Funding Rate Post FTX Blow Up"
This is more of a question than an issue but I feel that this community is best qualified to help me address what is a crucial issue for my business.

My entire infrastructure related to a trading system I developed my clients was dependent on futures funding rate (FFR) data from FTX. All my backtests, tools, scanners, and live systems were dependent on that. The FTX blow up has created a gaping h

[2022-11-18 13:06] AuxZarske commented on #15717
ok thanks, but I am trying to place in binance futures a position with SL and TP with only one order. Or this is not possible and I must use three orders, one to place my position and other two for SL and TP?

this is the code I have to do in one trade, but it seems that it doesn't work: (only open the position, without SL/TP)

let params_order = {
        'stopLoss': {
          'type': 'market',

[2022-11-18 13:19] luisgomezzz commented on #15717
Hi Mate,

I use 3 differents orders to do that and when the tp or sl is reach I excecute close all orderes.... something like that:

#position:
clienttrade.create_market_order(side=side,symbol=symbol,type='market',size=size,lever=lever)
#stop:
type='market'
            params ={'stopPrice': stopprice,
                    'closePosition': True}
            var.exchange.create_order(symbol, type, si

[2022-11-18 15:35] rapmd73 commented on #15712
I just finished around of tests with the test net and determined that the limit for non-kyc is $505. Anything above that for selling amount causes a market size lot error.

The test net provides a generous amount of various assets so it made it very easy to determine this by using a random number generator between $499 and 510. Everything above 505 caused errors while everything from 499 to 505 su

[2022-11-18 16:32] ddplaycoin commented on #15732
Thanks a lot @samgermain
with your help i am now able to fetch real trade linear positions with below code

long_position  = exchange_linear.fetchPositions(["BTC/USDT:USDT"])[0]['info']['available']
short_position = exchange_linear.fetchPositions(["BTC/USDT:USDT"])[1]['info']['available']

print(long_position)
print(short_position)

Then now i come up with some further issues and grateful for your

[2022-11-18 18:27] KindSpidey opened #15738 "Withdraw from one exchange to another exchange/wallet?"
I'm going to make withdraws transactions to other exchanges and wallets. Looking at your example - https://github.com/ccxt/ccxt/blob/master/examples/py/withdraw-from-one-exchange-to-another.py, I have a question: is parametr `deposit['tag']` necessary? Can I don't use it, if I use networks without memo-phrases and want to withdraw not on exchanges, but on the wallets (like Safepal) too?

[2022-11-18 18:36] ProStrike-hub opened #15739 "CCXT x Hotbit"
Hello,

I'd like to know if Hotbit is in the process, or planned, of being integrated into CCXT ?

Thanks.

[2022-11-18 19:22] JovianMoon opened #15740 "Bibox fetch_trades() uses "size" instead of "limit" as url parameter"
- OS: Linux Mint
- Programming Language version: Python 3.10
- CCXT version: 2.1.93

[code]

[code]

According to the Bibox API documentation (https://biboxcom.github.io/api/spot/v4/en/#get-trades) "limit" parameter should be used for limiting the number of fetched trades in the url. Instead "size" is being used currently.

These two urls show that it actually makes a difference:
https://api.bibox

[2022-11-18 19:39] samgermain commented on #15717
The  parameter names are `stopLossPrice` and `takeProfitPrice` and they are numbers, not objects

[2022-11-18 19:54] samgermain commented on #15732
You don't need to worry about any of the information inside `info`, this is the response that the exchange gives. [CCXT parses this response and returns the information as values for the unified keys](https://docs.ccxt.com/en/latest/manual.html#symbols-and-market-ids). `BTCUSDT_UMCBL` is the symbol that bitget uses on their servers, CCXT uses the symbol `BTC/USDT:USDT`, I don't know what UMCBL mea

[2022-11-18 20:08] atabakhooshangi commented on #4876
this issue didn't solve yet! this is for 2019 omg . kucoin market order has a huge buuuuuuuug

[2022-11-18 22:55] Dan-krm commented on #15734
If you'd like to ask the broader community a question I think a better place would be in the CCXT general discord channel because more people will likely see it.

I'd recommend using Binance through CCXT since they have the most volume and all of the funding rate methods defined. Some other decent options would be Bitget, Bybit and Okx

[2022-11-18 22:55] #15734 closed

[2022-11-18 23:54] mpcref commented on #8666
For anyone looking for the answer...
You need to specify one-way mode like this:
[code]

[2022-11-19 00:43] Dan-krm commented on #15740
Thanks for reporting, I've opened a pull request to fix the issue

[2022-11-19 06:13] Showgofar opened #15743 "Poloniex WS pro version"
Hello

Poloniex was supported by paid pro version but now it became free and there is no poloniex anymore
Is it will be added at near future? is it related with their API update?

[2022-11-19 10:32] KindSpidey opened #15745 "Why <<ccxt.base.errors.AuthenticationError: mexc requires "apiKey" credential>> happen?"
In my code I have a lot moments, where object of exchange is given from one method to another. Sometimes error `ccxt.base.errors.AuthenticationError: mexc requires "apiKey" credential` pops up. Why and what does it mean?

[2022-11-19 10:34] KindSpidey commented on #15745
Oh. i guees i got it. I sent to my fuctions ccxt.mexc(), which is just mexc from ccxt, not my exact account on MEXC. Got it

[2022-11-19 10:34] #15745 closed

[2022-11-19 10:38] KindSpidey opened #15746 "I cant withdraw money"
Because of the error `ccxt.base.errors.ExchangeError: mexc {"code":10212,"msg":"This withdrawal address is not on the commonly used address list or has been invalidated"}`
What does it mean and what should I do? Trying to transfer usdt from MEXC to Kucoin
P. S. One more question. Sometimes I got
[code]
why? And what does it mean?

[2022-11-19 10:54] #15740 closed

[2022-11-19 19:18] carlosmiei commented on #15743
Hello @Showgofar,
Yes we it was taken down because they changed their API completely but we will try to add it soon!

[2022-11-19 19:19] carlosmiei commented on #15746
Hello @KindSpidey can you please show us a verbose log with the raw request+response?

[2022-11-19 19:38] KindSpidey commented on #15746
I found an answer. Its not you, its MEXC. They require to add every address of every network to their white list.

[2022-11-19 19:41] KindSpidey commented on #15746
Can you check, is OKX available? Because I've just created a new API V5, and ccxt refuses to work with OKX, sending me `ccxt.base.errors.NetworkError: okex5 GET https://www.okx.com/api/v5/asset/currencies`
my code is
[code]
changing okex5 to okx doesnt help, same error

[2022-11-19 21:45] shep-analytics opened #15748 "Unable to get ccxt pro license"
- OS: ubuntu 20.04
- Programming Language version: Python 3.10

The CCXT pro website gives me a "Internal Server Error" whenever I try to login to my account and obtain a license.

I see that it has been made a free part of CCXT; however, I am still unable to download and install it.

Thank you

[2022-11-19 21:46] shep-analytics commented on #15659
Solved, it seems that binance has an options api issue where you can only use keys generated after the enabling of your options account

[2022-11-19 21:46] #15659 closed

[2022-11-20 04:10] sc0Vu commented on #15746
Hi @KindSpidey

It worked for me, would you like to paste more detail of this error?

[code]

[2022-11-20 04:11] sc0Vu commented on #15731
Hi @ThiagoZarur,

Which python / ccxt version did you use?

[2022-11-20 04:48] cyiwin commented on #15194
I had the exact same error. Windows 10, xampp, PHP 8.1.5.  Composer was the fix for me.

[2022-11-20 05:07] CHXER commented on #15748
I got the exactly same issue. Try this:
`import ccxt.async_support as ccxtpro`

[2022-11-20 09:22] kretxo opened #15750 "bybit conditional orders - triggerPrice not working in spot"
Hi,

I'm trying to launch conditional orders in Bybit, but the parameter "triggerPrice" is ignored when I'm using Spot market.
If I use Futures, it works correctly.
Am is missing anything, or is not implemented for spot market?

DERIVATIVES - USDC_PERPETUAL.
  Here it works fine.

[code]

  output:
  `{'info': {'orderId': '9ce5c114-99b1-4cf4-9277-82cf96cf5def', 'orderLinkId': '', 'mmp': False, 'sy

[2022-11-20 10:23] #15748 closed

[2022-11-20 10:58] carlosmiei commented on #15750
Hello @kretxo,
I've tested it, and I can confirm that is not working, although the request is following the API spec. We will reach out to Bybit in order to clarify this as soon as possible.

Thanks for letting us know.

[2022-11-20 14:00] JeromeYangtao opened #15752 "what is new in ccxt 2.0 and is there breaking change"

[2022-11-20 14:17] carlosmiei commented on #15752
Hello @JeromeYangtao
No, there is no breaking change in ccxt 2.X.X. We bumped the major version just to make the ccxt.pro merge a bit more visible.
https://github.com/ccxt/ccxt/issues/15171

[2022-11-20 18:22] YuxinSUN89 commented on #11975
Thanks for raising this.
I got the same issue.
Set leverage function not working in OKX ccxt.

Any progress update ? Thanks

[2022-11-20 18:53] ddplaycoin opened #15753 "Failed to locate the coins to borrow only when it is done in group"
i try to create a dataframe containing price, funding rate and interest rate of a list of symbols with below code.

the code works with each individual coin when only one coin is in the list each time.  It also works when I put them in pair so the dataframe contain the information of two symbols.  However, when I do it with three of more symbols or when the entire list of 10 symbols, it gives belo

[2022-11-20 20:41] evan-coygo opened #15754 "Bitfinex fetchTrades pagination doesn't work w/V1 API, needs to update to V2"
- OS: Linux
- Programming Language version: node 14.19.3
- CCXT version: 2.1.96

Pagination isn't working at the moment for the Bitfinex v1 API. They've said that only V2 is guaranteed stable.

I've monkey-patched this in my code to use the V2 API for the time being if it helps

[code]

[2022-11-20 20:58] evan-coygo opened #15755 "Gemini allow fetchTrades pagination"
- OS: Linux
- Programming Language version: node 14.19.3
- CCXT version: 2.1.96

Gemini allows pagination recent trades history on the v1 API but `fetchTrades` implementation doesn't use it atm.

This is my working monkey-patched code

[code]

[2022-11-21 07:50] bestnaf commented on #15609
Any ideas?

[2022-11-21 08:07] bestnaf commented on #15609
Here is a same code executing 2 orders, one successfull - second failed with the error:

[code]

[2022-11-21 09:00] bestnaf commented on #15609
also tried to use int values - also same error

[2022-11-21 09:26] ace-exchange opened #15764 "New Exchange: Ace Exchange"
We're top3 Exchange in Taiwan and Asia, over 150k users.
Many users are asking us for ccxt integration.
Hope we can discuss this integration process.

Official Website:
https://ace.io/

Official API:
https://github.com/ace-exchange/ace-offical-api-docs/blob/master/api.md

[2022-11-21 09:31] ace-exchange commented on #15764
I already took a look at
https://gist.github.com/kroitor/5c99bcb9bf1aebf05fec621e5c17b22f
https://ccxt.com/offer/

It's okay for us to hiring Dev team of ccxt, wanna make quick integration.

[2022-11-21 09:47] carlosmiei commented on #15764
Hello @ace-exchange, can you reach out on Discord? https://discord.gg/ccxt
Thanks

[2022-11-21 09:48] carlosmiei commented on #15755
Hello @evan-coygo thanks for letting us know, we will add it asap

[2022-11-21 10:02] #15755 closed

[2022-11-21 10:04] carlosmiei commented on #15754
Hello @evan-coygo, can you try to instantiate `bitfinex2` instead?

[2022-11-21 11:12] hosseinab opened #15766 "mexc fetchticker has bug"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^2.0.84",
Exchange: mexc3
Method: fetch_ticker

hi . i want get last price of GMT/USDT in MEXC exchange :
code :
[code]
output :
[code]
output last price : 0.3642
but gmt/usdt price is : 0.0727
please check this link :
https://www.mexc.com/exchange/GMT_USDT?_from=header

verbose :
[code]
fetch ticker function co

[2022-11-21 11:27] thunderwin opened #15767 "why Binance web version (JS) with API key and Secret has issue?"
with out API is ok..

[code]

[2022-11-21 11:44] carlosmiei commented on #15767
Hello @thunderwin,
I'm not 100% sure because you don't have the fetch error in your message, but most likely you're hitting the CORS policy.

[2022-11-21 12:50] thunderwin commented on #15767
if I delete API key and Secret,  it's work.   maybe not because Cros?

[2022-11-21 12:51] samgermain commented on #15691
[code]

------------

After this PR get's merged, you'll be able to specify
[code]
 instead

[2022-11-21 12:57] EkremSel opened #15771 "decimal.Conversion.Syntax Error"
- OS: Win10
- Programming Language version: python 3.10.7
- CCXT version: 2.1.102

[code]

[code]

[2022-11-21 13:08] samgermain commented on #15771
could you share your full code and full error response please?

[2022-11-21 13:11] samgermain commented on #15739
[It doesn't look like hotbit has an api](https://www.hotbit.io/support?page=api), so no

[2022-11-21 13:17] samgermain commented on #15739
It looks like someone [created a PR](https://github.com/ccxt/ccxt/pull/4135) at one time, but it was closed because the hotbit website doesn't link to the api docs, it looks like their docs are on Github though

That PR would need to be updated, but even after that there are a lot of completed **new exchange** PRs that are unmerged, so it might not be merged for a while unless hotbit opted to beco

[2022-11-21 13:18] samgermain commented on #15739
It looks like you can't get api keys to use the api documented on github, so hotbit has no api then

[2022-11-21 13:18] #15739 closed

[2022-11-21 13:21] sc0Vu commented on #15764
I can take a look because it's in Taiwan 👍 🇹🇼 .

[2022-11-21 13:31] samgermain commented on #15691
The way you have it should work. Margin is borrowed for isolated trading if a symbol is specified

[2022-11-21 13:47] chaedongyoon commented on #15691
Thanks for your help
you solve this problem!
can i ask one more thing?

if i want to transfer usdt to trade XRP in isolated market,
then i typed below
a= exchange1.transfer(code="BUSD",amount=10,fromAccount="spot",toAccount=
"isolated_margin",params={"SYMBOL":'XRP/USDT'})
but it doesn't work.

 thanks for your help
very very much!
have a nice day

2022년 11월 21일 (월) 오후 9:51, Sam Germain ***@***.***

[2022-11-21 13:49] samgermain commented on #15691
Just do `toAccount="XRP/USDT"`

[2022-11-21 13:54] chaedongyoon commented on #15691
[image: image.png]
sorry for bother you again,,
it looks like not working

2022년 11월 21일 (월) 오후 10:49, Sam Germain ***@***.***>님이 작성:

[2022-11-21 14:47] carlosmiei commented on #15767
@thunderwin
If you remove your API keys ccxt won't perform any authenticated request to load the markets which is why you don't get the error. You can try to circumvent this issue using a cors proxy

[2022-11-21 15:07] samgermain commented on #15691
What isn't working?

Also, it looks like you tried to post an image, please copy and paste your code and do not post images of your code

[2022-11-21 16:58] g992 opened #15779 "Watching OKX algo orders"
- OS: Linux
- Programming Language version: JS
- CCXT version: 2.2.0

I use simple watch order in loop for e.g.
[code]
But its dont return algo orders, because the have external ws channel. How i can subscribe to this? https://www.okx.com/docs-v5/en/#websocket-api-private-channel-algo-orders-channel
and how can i parse orders from this channel into this.orders?
Thanks!

[2022-11-21 17:04] carlosmiei commented on #15779
Hello @g992, currently is not possible but we will add it shortly.
Thanks for letting us know!

[2022-11-21 18:15] KindSpidey commented on #15746
my code
[code]
and i got in pycharm
`ccxt.base.errors.NetworkError: okex5 GET https://www.okx.com/api/v5/asset/currencies`
and this on website `{"msg":"Request header OK-ACCESS-KEY can not be empty.","code":"50103"}`

[2022-11-21 18:21] kroitor commented on #15746
Check if your API keys are loaded correctly by printing them out and paste
your verbose output:

-
https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

print(‘CCXT Version:’, ccxt.__version__)

print(config.OKX_API_KEY, len(config.OKX_API_KEY), ‘chars’)

okx = ccxt.okex5({
    "apiKey": config.OKX_API_KEY,
    "secret": config.OKX_SECRET_KEY,
    "password": config.OKX_PASSWORD
})

[2022-11-21 18:26] KindSpidey commented on #15746
`fetch Request: okex5 GET https://www.okx.com/api/v5/asset/currencies RequestHeaders: {'OK-ACCESS-KEY': ''IT EXISTS I CHANGED IT', 'OK-ACCESS-PASSPHRASE': 'IT EXISTS I CHANGED IT, 'OK-ACCESS-TIMESTAMP': '2022-11-21T18:24:44.247Z', 'OK-ACCESS-SIGN': 'SAME', 'User-Agent': 'python-requests/2.28.0', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'} RequestBody: None`
My

[2022-11-21 19:01] evan-coygo commented on #15754
Oh I didn't realize there was a second client for the V2 API, that looks to be what I'm looking for. Thank you, I'll close this issue.

[2022-11-21 19:01] #15754 closed

[2022-11-21 19:12] xmatthias commented on #15260
Considering builds are passing again - i think we can close this now.

[2022-11-21 19:12] #15260 closed

[2022-11-21 19:20] ttodua commented on #15691
@chaedongyoon
as that example mentions (again, I understand it's JS and you don't know JS, but please take a look as arguments of methods are similar and readable, and you could find solution there), which mentions smth like this for your case:
[code]
We hope our transpilable examples will arrive in near future in different languages.
let us know what issues you have - but please paste full error

[2022-11-21 19:22] xmatthias opened #15783 "python proxy documentation wrong"
- OS:
- Programming Language version: python
- CCXT version:

The python [proxy documentation](https://docs.ccxt.com/en/latest/install.html#proxy) seems wrong / no longer functional.

it suggests that (for regular usecases) - using environment variables works.

[code]

this may be true for "regular" usage of requests - it seems to be non-working in the ccxt context.

a very simple reproduction - b

[2022-11-21 19:46] bestnaf commented on #15609
Adding the verbose outputs of failed and successful orders with last CCXT version (updated today):

[code]
Same code but closing of Long side hedging position - always works without an error

[code]

[2022-11-21 20:19] bestnaf commented on #15609
looking at verbose I found typo:
"side":"Buy "
There was an extra space coming from my code.

[2022-11-21 20:19] #15609 closed

[2022-11-21 20:52] JovianMoon opened #15784 "Poloniex fetch_trades() 'side' could probably be defined in the returned dictionaries"
- OS: Linux Mint
- Programming Language version: Python 3.10
- CCXT version: 2.2.1

[code]

[code]

Currently 'side' is set as None even though 'takerSide' is available in the dictionary returned by the exchange and could most likely be used (https://docs.poloniex.com/#public-endpoints-market-data-trades). The problem is that `parse_trade` function does not currently search for the 'takerSide' key

[2022-11-21 22:21] evan-coygo opened #15785 "Poloniex fetchTickers failing"
- OS: Linux
- Programming Language version: node 14.19.3
- CCXT version: 2.1.102

Poloniex `fetchTickers()` is failing during `parseTicker()`. This is because the tickers endpoint:
[code]
is returning some markets not returned by the `fetchMarkets()` endpoint

[code]

For example, BTC_USDP is included in the response for `GET /markets/ticker24h` but not in `GET /markets`.  This makes ccxt unable t

[2022-11-21 22:30] carlosmiei commented on #15785
Hello @evan-coygo, Yeah, we bumped on this a few days ago and we still don't know why `/markets` is not returning the PAX Dollar market. However, we add extra protection, so this error should no happen in the latest version.

Can you update your ccxt version and try again, please?

[2022-11-21 22:51] carlosmiei commented on #15779
@g992 If you update to the latest version, you should be able now to watch for `algo/trigger` orders by providing the `stop` parameter.

Example:

[code]

[2022-11-22 00:29] evan-coygo commented on #15785
Yup looks like I was actually one patch version behind. Thanks!

[2022-11-22 00:29] #15785 closed

[2022-11-22 02:28] BlockchainHe opened #15786 "OKEx v5: How to create new order by websocket instead of REST"
- OS: ubuntu 22.04 TLS
- Programming Language version: Python 3.6
- CCXT version: 2.2.5

OKEx v5: How to create new order by websocket instead of REST？？
Have some examples？

[2022-11-22 05:29] sc0Vu commented on #15786
Hi @BlockchainHe

Currently, we don't have interface for sending order through websocket (ccxt.pro). Imho, you probably can do something like this:

[code]

[2022-11-22 05:58] sc0Vu commented on #15783
Hi @xmatthias

Have you initialized as `HttpsProxyAgent`?

[2022-11-22 07:01] xmatthias commented on #15783
I'm not sure i understand this comment?

I'm attempting to follow the ccxt docs by setting the environment variables for proxies - which don't work properly for basic ccxt requests.

[2022-11-22 07:05] g992 commented on #15779
Omg, very fast fix. Thanks!

[2022-11-22 08:37] TranQuangMinh commented on #14533
I have the same problem
<img width="1212" alt="image" src="https://user-images.githubusercontent.com/10704241/203265500-de3c917c-6bbe-4e5b-bbfd-3a4188952674.png">

[2022-11-22 09:53] carlosmiei commented on #15750
Hello again @kretxo we have confirmed that `conditional orders` are not yet available through the API for spot markets. Bybit expects to release it in January if everything goes well!

[2022-11-22 12:20] ttodua commented on #15750
as I had also noted that previously here  https://github.com/ccxt/ccxt/pull/15402#issue-1422407919  including their official response, it is not yet available for spot. I don know why it needs to much time to add just a simple parameter for them, but ... anyway, we should wait and close this issue for now.

[2022-11-22 12:20] #15750 closed

[2022-11-22 13:54] chaedongyoon commented on #15691
thanks for your help.

i tried many times this but i got a result like below

case#1
exchange1.transfer(code="USDT",amount=10,fromAccount="spot",toAccount="XRP/USDT")

C:\coding>C:/Python310/python.exe c:/coding/bn_margin.py
Traceback (most recent call last):
  File "C:\Python310\lib\site-packages\ccxt\base\exchange.py", line 617, in fetch
    response.raise_for_status()
  File "C:\Python310\lib\s

[2022-11-22 14:04] zxlii opened #15787 "pip3 install ccxt Error"
i'm install the ccxt package use pip like:
[code]

' Could not find a version that satisfies the requirement ccxt (from versions: )???'

why?

i need some help，thank you！

- OS: centos8.2
- Programming Language version: python3.6.8
- CCXT version: default

[2022-11-22 14:43] holinov opened #15788 "[bug] Unable to fetch currencies from Bybit"
- OS: ubuntu 20.04 LST
- Programming Language version: python 3.8
- CCXT version: 2.2.7

[code]

[code]

[2022-11-22 15:16] carlosmiei commented on #15787
Hello @zxlii not sure what is preventing the installation, but as the warning suggests installing it with `root` is not a good idea.
Can you try without it?
`pip3 install --user ccxt`

[2022-11-22 15:20] carlosmiei commented on #15788
Hello @holinov,
This is not an issue with `fetchCurrencies` per se, but a sign that your clock might be out of sync.
Please check out this thread: https://github.com/ccxt/ccxt/issues/14870

[2022-11-22 16:02] KindSpidey opened #15789 "Withdrawal from Huobi problem"
Hello. I test withdrawals from Huobi to Kucoin and I got some problems.
First, when I try to do this: `huobi.withdraw("USDT", 15, my_address, tag=None, params={"network": "ERC20"})`
I got
`ccxt.base.errors.BadRequest: huobipro {"status":"error","err-code":"base-currency-chain-error","err-msg":"The current currency chain does not exist","data":null}`
Why?
Ok, then I change network name to "ETH" and

[2022-11-22 16:14] holinov commented on #15788
Thx. This helped

[2022-11-22 16:14] #15788 closed

[2022-11-22 16:30] ttodua commented on #15691
@chaedongyoon I've reproduced the issue but not with your codes. I doubt that you masqueraded your example codes, and actually in `amount` amount you might be submitting a calculated value (i.e. 4.1234567...) . and because of current bug in binance class, it is not being rounded.
`binance {"code":-1100,"msg":"Illegal characters found in a parameter."}`

otherwise , if you literally fire:
`await e.

[2022-11-22 16:43] jramit9 opened #15790 "Unable to fetch position on Binance Futures usdm"
My goal is to close the existing position that was created. In order to do that I'm trying to get the orderId of the current position and cancel the order using position 'id' since there is no futures_close_position parameter. Kindly help.

- OS: Windows 11
- Programming Language version: Python 3.10
- CCXT version: 2.1.25

Code
[code]

Error
[code]

[2022-11-22 17:11] ndubel commented on #15546
https://github.com/ccxt/ccxt/pull/15791

[2022-11-22 18:02] jramit9 commented on #15790
Thanks @carlosmiei. I'm able to fetch the position but it does not contain 'orderId' or 'Id' by which I can cancel position order.

I'm trying to get current symbol price and close the position but it doesn't seem to work.

            get_current_price = exchange.fetch_ticker(symbol)
            lastprice = get_current_price['lastPrice']
            print(lastprice)
            close_position = e

[2022-11-22 18:17] rsquared99 commented on #13399
Could you confirm what the correct defaultType should be for interacting with USDC options as it does not appear to be covered in the documentation.

Can you provide a working example in the code of opening an USDC option contract via market order in the documentation?

[2022-11-22 19:59] JovianMoon opened #15794 "MEXC v3 fetch_trades() returns only sell/taker trades"
- OS: Linux Mint
- Programming Language version: Python 3.10
- CCXT version: 2.2.8

[code]

[code]

`fetch_trades` returns trades for which 'side' is always 'sell' and 'takerOrMaker' is always 'taker' no matter which fetch trades method is used. Based on the code in mexc3.py I assumed that the choices there are 'spotPublicGetAggTrades', 'spotPublicGetHistoricalTrades', 'spotPublicGetTrades', of wh

[2022-11-23 01:21] samgermain commented on #15717
I'm going to close this issue. Feel free to reopen it if you have any more questions

[2022-11-23 01:21] #15717 closed

[2022-11-23 01:22] samgermain commented on #15716
I'm going to close this issue. Feel free to reopen it if you have any more questions

[2022-11-23 01:22] #15716 closed

[2022-11-23 01:23] samgermain commented on #15681
I'm going to close this issue. Feel free to reopen it if you have any more questions

[2022-11-23 01:23] #15681 closed

[2022-11-23 01:23] samgermain commented on #15559
I'm going to close this issue. Feel free to reopen it if you have any more questions

[2022-11-23 01:23] #15559 closed

[2022-11-23 01:41] samgermain commented on #15789
This error happens when the balance in your account is lower than the amount you are trying to withdraw, note that kucoin has both a main and trading account. The trading account is your spot account

![](https://i.imgur.com/LXMLY4l.png)

I'm not exactly sure what this error means, it's from the huobi exchange, but because it's `PermissionDenied` I think it may be referring to your ip address, so

[2022-11-23 05:17] ThiagoZarur commented on #15731
python 3.10.04
ccxt 1.84.5

[2022-11-23 07:05] KindSpidey commented on #15789
@samgermain ok, thanks, will wait answers from your guys. But a question. I added minus fee to withdraw for Kucoin. And I try to withdraw BUSD, but getting error `ccxt.base.errors.BadRequest: kucoin Invalid chainId`
I put in chain parametr BEP20 - error, BSC - error. So what should I do, if there are only these names for Binance network? Or is there any command where I can get all exchange network

[2022-11-23 08:42] sinomos1 commented on #14410
hello did anyone solve this ! i get it randomly time by time ! i used the earlier solution commented here but it started giving the same error after a few days

[2022-11-23 09:41] LLIax opened #15804 "How to get info on locked savings products on Binance"
- OS: Linux
- Programming Language version: Python 3.10.8
- CCXT version: 2.2.1

How to get info on locked savings products on Binance? When I try to fetch savings balance with following code

[code]
I'm getting only flexible positions

[2022-11-23 09:59] carlosmiei commented on #15790
@jramit9 You can't close a position by canceling an order you need to issue an order in the opposite direction with the `reduceOnly` flag set to true

[2022-11-23 10:31] #15610 closed

[2022-11-23 10:51] #14344 closed

[2022-11-23 10:51] #15691 closed

[2022-11-23 11:06] kretxo commented on #15750
OK. Thank you both.

[2022-11-23 12:39] EkremSel commented on #15771
Can it be because params quoteOrderQty is supported by Binance spot/margin and not futures?  Would I have to convert it manually?

[2022-11-23 12:50] BlockchainHe commented on #15786
If possible, I hope you can add an example to this project.

Thanks

[2022-11-23 13:06] jramit9 commented on #15790
Thanks a lot. I was doing create order in opposite direction but with stopPrice parameter which was not required but now by just setting reduceOnly to true it seems to be working now. Appreciate your help.

[2022-11-23 13:10] zydjohnHotmail commented on #15610
Hello:
Thanks, I did some testing, it is working now.
By the way, I remember there were at least 19 exchanges, whose fees for withdraw are not done yet.
Any plan to implement them all in the near future?
Thanks,

[2022-11-23 13:18] jramit9 commented on #15790
one last thing - Is there a way to set amount in usdt? I was using params={'quoteAsset': 'USDT'} while creating order and it doesn't seem to work. I have also used 'quoteAssetQty' but evn that didn't work.

[2022-11-23 13:22] KindSpidey commented on #15789
@samgermain can you help with Kucoin? I'm trying to withdraw BUSD from Kucoin to MEXC. Give "BEP20" - error `ccxt.base.errors.BadRequest: kucoin Invalid chainId` .
Give "BSC" - same error `ccxt.base.errors.BadRequest: kucoin Invalid chainId`
Why does it happen? Before it I tested withdraw with USDT TRC20 and everything worked. Kucoin allows to withdraw BUSD by BEP20 and MEXC allows to deposit BUSD

[2022-11-23 14:55] CloudTrauma opened #15808 "How do i make a conditional market order and set up stop loss and take profit orders for it(PHEMEX)"
Im trying to make a conditional market order but i can only find regular market orders that can have stop loss and take profit and stop orders but i cant seem to set up market orders for it

[2022-11-23 16:39] benjiminio commented on #15685
I fully support this proposal. Having multiple exchange objects for the same exchange requires lots of code adaptations just for Binance. Moreover, as OP pointed out, the rate limiter will not work as expected.

I have found this issue because Binance doesn't support unified symbol names. So a lot of workarounds are needed as Binance doesn't work like other exchanges (in ccxt), unfortunately.

[2022-11-23 17:35] ttodua commented on #15789
@samgermain as I see you have already grasped the problem and as you self-assigned, I suppose that you'll push the PR and after that, I'll test it with real withdrawals. the problem seems just to be the need of `this.networkCodeToId` base method

[2022-11-23 17:38] ttodua commented on #15610
@zydjohnHotmail it is not going to be very quickly, as we are in the process of doing and implementing everything whatever could be extended. everything needs some while, so , in future yes.

[2022-11-23 18:07] ttodua commented on #14344
For future readers, `currencies[code]["precision"]` is now available in binance (it just the highest precision among all network precisions)

[2022-11-23 18:29] ttodua commented on #13399
@sc0Vu have you worked on option contracts , or can you answer to this one? I dont remind, if not you, who worked on options recently.

[2022-11-23 19:08] caiusCitiriga commented on #15343
hi @pcriadoperez I've updated the ccxt library to the last version. Indeed the 1008 error seems to have been solved, but unfortunately the "timed out due to a ping-pong keepalive missing on time" error is still present.

any ideas? 😞

[2022-11-23 21:02] samgermain commented on #13399
ask @Dan-krm

[2022-11-23 21:20] Ulisses1478 commented on #15648
@ttodua  @sc0Vu  @carlosmiei You guys are awesome

[2022-11-23 21:45] samgermain commented on #15789
I believe it has to do with the default value of safeStringUpper and safeStringLower not being returned as uppercase and lowercase. See https://github.com/ccxt/ccxt/pull/15812

[2022-11-23 22:12] Dan-krm commented on #13399
I'll look into this for you and create an example

[2022-11-23 22:16] CloudTrauma commented on #15808
nevermind i figured it out:
`auth_client.create_order(symbol,'Stop','Buy',1,None,{'stopPx': 1173.00,'takeProfitPrice': 20000,'stopLossPrice': 800}`

[2022-11-23 22:16] #15808 closed

[2022-11-24 02:01] skyold opened #15813 "ccxt proxy can not work"
OS: MacOS 13.0.1
    Programming Language version: Typescript with node 18.11.7
    CCXT version: 2.0.77

Code

**Code1: Not work!  My code**
RequestTimeout: binance GET https://api.binance.com/api/v3/exchangeInfo request timed out (10000 ms)

[code]

**Code2: Working fine ! the code to make sure environment is ok:**
[code]

**Code3:Not Work!  the previous answer with similar issue**
[code]

[2022-11-24 02:51] adamrg73 opened #15815 "phemex transfer funds Permission Denied"
CCXT Version: 1.93.3

amountToTransfer = round(0.05 * totalFunds) #this is wrong,need amount of funds of the opposite account
            print('amountToTransfer:')
            print(amountToTransfer)
            #TODO if not enough funds found to transfer then send email/sms
            transfer_params = {}
            print('Trying to start transfer')
            print(code)
            print(fr

[2022-11-24 03:07] BlockchainHe commented on #15786
sorry, send the trade request in this way will block, Could you please help me to see what is the problem?
`okPro = ccxtpro.okex({
        "apiKey": params["okex"]["apikey"],
        "secret": params["okex"]["secret"],
        'password': params["okex"]["password"],
        'options': {
            'defaultType': params["okex"]["type"],
            'watchOrderBook': {
                'depth': 'bbo

[2022-11-24 03:08] BlockchainHe commented on #15786
sorry, send the trade request in this way will block, Could you please help me to see what is the problem?
`
okPro = ccxtpro.okex({
"apiKey": params["okex"]["apikey"],
"secret": params["okex"]["secret"],
'password': params["okex"]["password"],
'options': {
'defaultType': params["okex"]["type"],
'watchOrderBook': {
'depth': 'bbo-tbt', # tick-by-tick best bidask
},
}
})
url = "wss://ws.okx.com:8443/

[2022-11-24 03:09] BlockchainHe commented on #15786
sorry, send the trade request in this way will block, Could you please help me to see what is the problem?
`    okPro = ccxtpro.okex({
        "apiKey": params["okex"]["apikey"],
        "secret": params["okex"]["secret"],
        'password': params["okex"]["password"],
        'options': {
            'defaultType': params["okex"]["type"],
            'watchOrderBook': {
                'depth':

[2022-11-24 06:50] Dan-krm commented on #13399
You can check our naming conventions for options here: https://docs.ccxt.com/en/latest/manual.html#option

For options the symbol naming convention is:
`BASE/QUOTE:SETTLE-EXPIRY-STRIKE-TYPE`
`BTC/USD:USDC-221209-18000-C`

The defaultType can be set to 'option'

I've opened a PR that provides an example order on bybit here: #15816
[code]

If you have any other questions or notice any missing featur

[2022-11-24 07:56] jezenith opened #15817 "New exchange FuzionX"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Progr

[2022-11-24 09:00] ttodua commented on #15789
also `ccxt.base.errors.BadRequest: kucoin account.available.Amount` needs to be `InsufficientFunds` instead of `BadRequest`

[2022-11-24 10:12] MikaelLind commented on #14804
Is there any progress made for this bug? Latest version still have problems with the cursor.

[2022-11-24 10:48] sc0Vu commented on #15813
Hi @skyold

Have you checked your proxy server? It did work for me (I also test socks proxy).

[2022-11-24 11:12] oliviera9 commented on #15546
I had a conversation with Crypto.com support and this is an extract:
[code]

[2022-11-24 11:45] skyold commented on #15813
Thanks @sc0Vu .   the second code working fine on my side, so looks like the proxy is somehow working.
I also try the following curl command it is work as well
`curl  https://api.binance.com/api/v3/exchangeInfo -x http://127.0.0.1:10077`

[2022-11-24 11:51] skyold commented on #15813
Attach the full error

[code]

[2022-11-24 12:12] #15541 closed

[2022-11-24 12:58] AlgoQ commented on #15766
Hi @hosseinab,

`STEPN` (https://www.coingecko.com/en/coins/stepn#markets) & `GMT` (https://www.coingecko.com/en/coins/gmt-token#markets) have the same symbol on coingecko. `STEPN` deserves `GMT` more in my opinion since `GMT Token` has an unknown market cap volume (also not listed on coinmarketcap) and `STEPN` has 100x more volume in the last 24 hours. So I reverted the change in https://github.c

[2022-11-24 13:50] Nitrix321 opened #15822 "Suddenly issues with moving averages on several exchanges"
Hello,

suddenly I get NAN output on phemex and kucoin if I want to print slow moving averages like ma200 on kucoin as example. the fast ones(ma4 or ma10) are still working normal.
I changed nothing but suddenly it's showing nan on the ma200(kucoin).

On Kucoinfutures:    symbol = 'ETH/USD:ETH'  ma200   output = nan,
BUT
symbol = 'ETH/USDT:USDT'  is working with ma200 as always.

On phemex nearly

[2022-11-24 14:05] aghering23 commented on #4876
Is this correct that the 'funds' param bug is not resolved, running into some issues trying to send market order in qoute amount on kucoin spot.

**Snippet**
-----
     try:
        print(amount)
        order_response = exchange.createOrder(symbol, orderType, side, amount, limitprice, {'funds': str(amount)})
    except ccxt.NetworkError as e:
        order_response = {'createOrder': str(e)}

[2022-11-24 14:17] carlosmiei commented on #15822
Hello @Nitrix321,
Are you seeing invalid values being returned by `fetch_ohlcv`?

[2022-11-24 14:28] Nitrix321 commented on #15822
No,

but now I just see that the bars end at 195, as you can see here.

2022-11-24 15:26:31
              timestamp     open     high      low    close     volume
0   2022-11-22 12:30:00  1088.35  1090.05  1086.30  1088.40   422793.0
1   2022-11-22 12:45:00  1088.45  1099.90  1088.45  1095.90    88143.0
2   2022-11-22 13:00:00  1095.90  1114.20  1095.45  1113.60    97555.0
3   2022-11-22 13:15:00

[2022-11-24 14:29] Nitrix321 commented on #15822
on phemex is has worked now correctly for half an hour and then again NAN...

[2022-11-24 14:35] Nitrix321 commented on #15822
If i put in num_bars = 195 as limit.

bars are ending at 190. It seems they are always steeling the last 5 bars... :-)

[2022-11-24 14:42] Nitrix321 commented on #15822
OK I have try it now with num_bars = 300, now it is working on Kucoin.

A few weeks ago 200 was maxmum, I am pretty sure.

On phemex 2000 is maximum for moving average.
But I now have lowered only
the MA
from df_d['MA1999'] = df_d.close.rolling(1999).mean()
to
df_d['MA1995'] = df_d.close.rolling(1995).mean()

it seems also working now, but I have to wait an hour or so to be sure.

[2022-11-24 14:59] KindSpidey commented on #15789
@ttodua @samgermain can you notify me here that bugs are fixed, wheb you made it?

[2022-11-24 15:39] sc0Vu commented on #15804
Hi @LLIax

For the `savings` type, the api we used only return flexible savings. If you want to fetch locked balance, use implicit method before we update this function:

[code]

[2022-11-24 16:01] LLIax commented on #15804
Thanks, it works.

[2022-11-24 16:01] #15804 closed

[2022-11-24 18:08] zydjohnHotmail commented on #15541
Hello:
I did some tests, it worked. Thanks for your work.
I have another minor issue, not for this exchange specifically.  But for some exchanges, if I use CCXT to get deposit address, most of the time (90%+) I got only one address, for USDT I can get multiple addresses.  But if I login to web pages, some exchanges, like: gate. For single currency, it may have 2 or 3 or even more addresses on diff

[2022-11-24 19:49] xmatthias opened #15827 "kraken fetch_trades pagination broken"
- OS:
- Programming Language version: python
- CCXT version: 2.1.96

based on the following [article](https://support.kraken.com/hc/en-us/articles/218198197-How-to-pull-all-trade-data-using-the-Kraken-REST-API), pagination in kraken's fetch_trades endpoint works "id based" (in an odd way though).

* use the parameter "since" to get trades from a starting date (this is clear).
* use the parameter "

[2022-11-24 19:54] adamrg73 commented on #15815
any idea why this is happening?

[2022-11-24 20:16] samgermain commented on #15789
The issue will be closed when the bugs are fixed

[2022-11-24 20:40] adamrg73 commented on #15815
Hi I got it to work with code='USDT' first test.. but had to use an api key and secret from the Main account, not sub account.

[2022-11-24 20:47] adamrg73 commented on #15815
Ok, so how do you specify you want to transfer from the futures accounts into a sub account's futures account ?? not spot ?
and also if I need to, how do you specify going from spot account into futures account?

[2022-11-25 02:33] sc0Vu commented on #15827
Hi @xmatthias

Looks like kraken added and returned trade_id 1340. We probably can overwrite the last id.

[2022-11-25 06:00] jramit9 commented on #15790
@carlosmiei Could you please guide on this one?

[2022-11-25 08:23] YuxinSUN89 opened #15833 "[Binance Future USDⓈ-M] : Fetched position side 'positionSide': 'BOTH' ? Why 'BOTH' ?"
I want to fetch position side for open orders. It returns 'positionSide': 'BOTH'
Shouldnt it be only 'LONG' or 'SHORT' ?

- OS: Mac OS
- Programming Language version: Python
- CCXT version: 1.84.70

[code]

[code]

I dont get why 'positionSide': 'BOTH'  ? I can workaround to get side by checking 'positionAmt' greater  or smaller than zero.
But I want to understand why  'positionSide': 'BOTH' .

Th

[2022-11-25 09:42] carlosmiei commented on #15827
@sc0Vu as I said not sure what is the best approach here, but overriding the last trade id seems a bit tricky.  This trade's id would have a different format from the others.

[2022-11-25 09:45] xmatthias commented on #15827
i'm not quite sure what the new "tradeid" column is supposed to represent.

at first glance, it looks somehow like a running number for each pair - but is not valid as pagination ID.

[2022-11-25 09:49] carlosmiei commented on #15833
Hello @YuxinSUN89

If you're in Hedge Mode, you can hold positions in both long and short directions simultaneously; that's why you get a `both` side, representing the sum of the short+long position you hold at the moment.

You can read more about Hedge Mode here: https://www.binance.com/en/support/faq/types-of-position-modes-360041513552

[2022-11-25 10:02] YuxinSUN89 commented on #15833
Thank you @carlosmiei .

Thats odd.  I am in one-direction model now. Because I only want to open position in one direction.

If I bought 10 units  of 'ETC/USDT' and then sold 10 units, I would have 0 position of 'ETC/USDT'.
Hence I am 100% in one-direction mode.
Could you please advise ? Thanks again.

[2022-11-25 10:07] wunderb1t opened #15834 "Kucoin Spot 'fetchOrder' result incorrect status for market order"
We've noticed that for Kucoin 'spot' market in 'market' enter result there is 'closed' status for 'fetchOrder' response when
'filled' parameter value equals to 0 and 'remaining' == 'amount'.

In that cases shouldn't be status equal to 'open'?

Response example:
[code]

- OS: Debian (Docker)
- Programming Language version: NodeJS, JavaScript
- CCXT version: CCXT 2.1.24

[2022-11-25 10:44] carlosmiei commented on #15834
Hello @wunderb1t, yes it should.
Currently, we're relying on `isActive` field because, according to the docs, that would indicate if the order was closed/filled, but apparently, it's not working as expected:
![image](https://user-images.githubusercontent.com/43336371/203965952-f483cb64-ec0b-4f28-9c0b-007c1ad3d92e.png).

We will try to figure it out, thanks for letting us know!

[2022-11-25 10:51] carlosmiei commented on #15834
@wunderb1t Actually, I think the problem might be in the `filled` amount. Can you confirm that the order was already filled when you got that response?

[2022-11-25 13:30] Nitrix321 commented on #15822
Hello @carlosmiei,

I think u can close this. It is working now for me, since have done settings like explained above. It's not perfect but for me ok now.
On Kucoin I put limit bars up to 300 although 200MA is still max. But now it works.
On Phemex I lowered moving average for 5 bars down to 1995, also this is working now.
Thanks

[2022-11-25 13:35] nikky78 opened #15836 "Impossible to fetch spot balance when defaultType set to margin"
I did

[code]

And every time I query my spot balance like this
`balances = await exchange.fetch_balance(params={'type': 'spot'})`

it returns the isolated margin balances.

[2022-11-25 13:37] KindSpidey commented on #15789
@samgermain well, I hope this will be fixed soon, because I have a very important project that is ready in everything except withdrawing funds from Huobi and Kucoin

[2022-11-25 14:15] carlosmiei commented on #15822
@Nitrix321 hello, I'll close it then. Thanks for letting me now!

[2022-11-25 14:23] carlosmiei commented on #15836
Hello @nikky78
That is due to the `defaultMarginMode` option. Since it is set, ccxt thinks you want the isolated margin account.

As a workaround you can do something like this:
[code]

[2022-11-25 14:27] ttodua commented on #15541
@zydjohnHotmail
good question. you have to refer [`network` parameter](https://docs.ccxt.com/en/latest/manual.html#deposit-and-withdrawal-networks).

[2022-11-25 16:08] nikky78 opened #15838 "Watch isolated margin balance"
Hi,

I'm trying to watch my isolated margin balance with the following code:

[code]
But it does not update when a transfer is initialted for instance.

[2022-11-25 19:37] j-rp opened #15840 "Pypl is now missing versions 1.59.9 through 1.59.16?"
I'm aware that these are old versions, but is there a reason that the version numbering on pypl now jumps from 1.59.8 to 1.59.20?  I'm curious as to the rationale for the removal of these versions from pypl - seems like a fairly specific cleanup?

[2022-11-25 19:40] kroitor commented on #15840
Hey! Thanks for asking. The reason is simple - PyPI does not allow us to
store more than 20gb of releases, so we clean up our old archives every
once in a while. Hope for your understanding. We keep each minor version
x.1.1 though, for history.

On Fri, 25 Nov 2022 at 21:38, j-rp ***@***.***> wrote:

[2022-11-25 19:41] j-rp commented on #15840
Thank you!!  You're a prince of a man.

[2022-11-25 19:41] #15840 closed

[2022-11-25 20:23] frosty00 commented on #15838
Hi, currently the code in ccxt pro doesn't handle it, we will update it soon

[2022-11-25 20:25] frosty00 commented on #15833
actually positionSide BOTH just means one way mode. If you had positionSide LONG. that would mean open a long position in hedged mode and if it was positionSide SHORT that would mean open a short position

[2022-11-25 20:49] samgermain commented on #15789
Try pestering @carlosmiei

[2022-11-25 20:52] samgermain commented on #15789
You can try using `ETH` or lowercase `erc20` in the meantime. You can often check what the working values will be inside `options['networks']` or `options['networksById']`

[2022-11-25 21:00] adamrg73 commented on #15815
no support on this issue? anybody alive?

[2022-11-25 22:00] Dan-krm commented on #15815
Hey @adamrg73 sorry for the late response, I'm looking into it now, I am going to add some functionality to the transfer method on Phemex and provide some examples. I don't think transferring from future-main to spot-main is working properly at the moment either. Once it's completed you won't be able to transfer from spot-main to future-sub for example but transferring between spot-main and spot-s

[2022-11-25 22:56] YuxinSUN89 commented on #15833
Thanks @frosty00 .
I still dont understand.
I am in One-direction mode, and I want to fetch the side of open position. It should return either 'LONG' or 'SHORT'.

I coded similar strategy for Kucoin, OKX and even FTX, and they all return 'LONG'/'BUY' or 'SHORT'/'SELL'.

Are you suggesting that we cannot get the side for open position in Binance one-direction mode ?
Thanks