[2022-09-12 09:41] gshpychka commented on #522
@samgermain can you explain?

[2022-09-12 10:38] Hadevmin opened #14959 "FTX: Standard candlesticks"
- Programming Language version: python 3.10
- CCXT version: 1.93.37

For FTX exchange, I have a problem with the data return when I call fetch_ohlcv for '1w' and '1M'.
[code]
last 2 timestamp return:
1662163200000 : Saturday, 3 September 2022 00:00:00
1662768000000 : Saturday, 10 September 2022 00:00:00
[code]
last 2 timestamp return:
1660348800000 : Saturday, 13 August 2022 00:00:00
1662940800000

[2022-09-12 10:58] Hades2525 opened #14960 "unify bybit position mode (positionIdx param)"
- OS: Windows 10
- Programming Language version: Python 3.10.7
- CCXT version: 1.93.37

I think it could be nice if there was a way to avoid having to pass the positionIdx param for creating orders in non-hedged mode and this could be unified using something like this:

[code]

code for the issue :
[code]

Exception :
[code]

Verbose :
[code]

[2022-09-12 11:21] AdamPrisen opened #14961 "cdax was removed from ccxt but ccxtpro still requires it"
Hello i have an issue that from ccxt 1.93.31 and further was async_support.cdax removed but ccxtpro still requires it so when i am trying to run my ccxtpro app a have an error that  there is no module cdax, i have fixed it temporary  that i force to install ccxt 1.93.30 and then ccxtpro

- OS: macOs Monterey
- Programming Language version: Python 3.10
- CCXT version: 1.93.37
- CCXTPRO version: 1.2

[2022-09-12 11:48] carlosmiei commented on #14961
Hello @AdamPrisen, thanks a lot for letting us know, it will be fixed very soon!

[2022-09-12 11:59] gnedoy opened #14962 "how to add margin in isolated future position ?"
hi all
i create isolated future order (binance).
how do i add margin ?
thx

[2022-09-12 12:25] #14961 closed

[2022-09-12 13:50] liaogx opened #14964 "Can not download data when use proxies in command line"
- OS: MacOS Monteray 15.2
- Programming Language version: Python
- CCXT version: 1.92.52

I configured `    "ccxt_config": { "proxies": { "http": "http://127.0.0.1:10808", "https": "http://127.0.0.1:10808" }`, it can't download data.... however, the former version like 1.89.x is fine when configured `aiohttp_trust_env`.

[code]

[2022-09-12 14:23] carlosmiei commented on #14962
Hello @gnedoy, can you try to do something like this?

[code]

[2022-09-12 14:35] carlosmiei commented on #14958
Hello @wunderb1t, thanks for reporting, it is indeed a bug loading markets but will be fixed very soon!

[2022-09-12 14:56] gnedoy commented on #14962
hello, @carlosmiei
thx answer, but not work

ccxt.base.errors.AuthenticationError: binanceusdm {"code":-1002,"msg":"You are not authorized to execute this request."}
api key correct

[2022-09-12 15:15] carlosmiei commented on #14962
Hello @gnedoy, the keys might be correct but may not have the necessary permissions, can you check that, please?

[2022-09-12 15:46] emorling opened #14965 "loadMarkets for multiple users?"
I have a use case where I will be instantiating an exchange for many users. Will I need to perform loadMarkets() for each user? Or can I set markets manually or similar?

[2022-09-12 17:41] emorling commented on #14965
Seems like I can do this. Will test it out:

`
if (!cctxByBitCache) {
        await bybit.loadMarkets();
        cctxByBitCache = {
          markets: bybit.markets,
          currencies: bybit.currencies,
          markets_by_id: bybit.markets_by_id,
        };
      } else {
        bybit.markets = cctxByBitCache.markts;
        bybit.markets_by_id = cctxByBitCache.markets_by_id;
        bybit.c

[2022-09-12 18:49] hosseinab opened #14972 "fetch_deposits and fetch_withdrawals error in lbank2"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.90.94",
Exchange: lbank2
Method: fetch_deposits

my code :
        since = None
        limit = 100
        end_time = connection.milliseconds()
       params = {
             'end_time': int(end_time / 1000),
        }
        deposits = connection.fetch_deposits("BTT", since, limit, params)

returns error :

[2022-09-12 18:54] kukiz999 opened #14973 "CCTX"

[2022-09-12 18:55] kukiz999 opened #14974 "Install"

[2022-09-12 20:17] zoomzoomgithub opened #14977 "Wallet Address"
- OS: Windows 11
- Programming Language version: Javascript
- CCXT version: 8.15.0

Hello CCXT Team,

Can you please provide examples showing how to connect a wallet address to CCXT and use it in createOrder() and withdraw()?

Thank you,
Chris

[2022-09-12 20:18] zoomzoomgithub opened #14978 "Exchange Address"
- OS: Windows 11
- Programming Language version: Javascript
- CCXT version: 8.15.0

Hello CCXT Team,

Can you please provide examples showing how to transfer cryptocurrency from one exchange address to another exchange address?

Thank you,
Chris

[2022-09-12 22:00] samgermain commented on #14977
Here is how you withdraw, this example was taken from the [examples folder in CCXT](https://github.com/ccxt/ccxt/blob/fb48e4c714152a788b3b381584612c3a154a2bc6/examples/js/withdraw-from-one-exchange-to-another.js#L44). You don't use the withdraw address in the `createOrder` method

[code]

[2022-09-12 22:01] samgermain commented on #14978
Answered here #14977

[2022-09-12 22:01] #14978 closed

[2022-09-12 22:01] #14974 closed

[2022-09-12 22:03] #14973 closed

[2022-09-12 22:10] samgermain commented on #14962
@gnedoy You can use the [`addMargin`](https://docs.ccxt.com/en/latest/manual.html#margin) method to add more margin to your position from your futures wallet

What @carlosmiei is explaining is how to transfer margin from you spot account to your futures account

-------------

regarding your error message, make sure that you have **permits universal transfer** and **enable futures** checked under

[2022-09-12 23:21] prestoneckhardt opened #14982 "fetch(ohlcv) Only Returning One Day Worth of Data for Some Exchanges"
Hello -

For some larger exchanges such as Binance.US, CoinbasePro, etc., I am able to pull years worth of data with the same lines of code below. For other smaller exchanges notably Bitflyer and itBit, I only get returned 1 day or today's worth of data... No idea what to do if I'm looking to specifically get months worth of data. I have no problems with any other exchanges so far except itbit and

[2022-09-12 23:30] zoomzoomgithub commented on #14977
Thanks, looks like deposit['address'] is an undocumented field.

[2022-09-12 23:54] prestoneckhardt opened #14983 "Will CCXT Build Support for ErisX and LMAX Exchanges?"
Many have been asking just wondering if there will be support soon.

[2022-09-13 01:32] YuriyTigiev commented on #12341
I have the similar issue with the "FTX spot exchange".  Some times a method fetch_ohlcv returns correct number of candles and sometimes it return less on one candle. I would like to use a parameter "since" to avoid this problem. How to calculate a parameter "since" for selected "timeframe" and "candles"? For example for fetching a last 10 "3w" candles since current datetime.

[2022-09-13 01:33] samgermain commented on #14977
It's [documented here](https://docs.ccxt.com/en/latest/manual.html#transaction-structure)

[2022-09-13 01:33] #14977 closed

[2022-09-13 01:34] samgermain commented on #14983
I searched for ErisX and LMAX in our issues and found nothing, but we'll keep this issue open so that we know someone wants it implemented

[2022-09-13 06:39] hosseinab opened #14984 "lbank2 fetch_deposit_address not have network or chain params"

[2022-09-13 07:21] 583 opened #14985 "ccxt pro support watchPositions?"
I only see the following api, but not perp/futures position api

watchBalance (params)
watchOrders (symbol, since, limit, params)
watchCreateOrder (symbol, type, side, amount, price, params)
watchCancelOrder (id, symbol, params)
watchMyTrades (symbol, since, limit, params) wip

[2022-09-13 10:54] emorling commented on #11113
Has this been added? I looked at cancelOrder for ByBit, and it still doesn't accept order_by_link?

[2022-09-13 12:00] Curro666 opened #14987 "Huobi watch my trades dont work fine."
CCXTversion 1.92.97
CCXTProversion 1.2.25

Hello,
I have been doing various tests in ccxtpro and I have seen that the separate huobi streams work fine but if we mix public streams with private streams there is an error. After many unsuccessful tests I searched for some reference code and found this one.
https://github.com/ccxt/ccxt/blob/master/examples/ccxt.pro/py/many-exchanges-many-streams-with-

[2022-09-13 12:00] carlosmiei commented on #14985
Hello @583, it is definitely in the plans, but we haven't had the chance yet to implement it

[2022-09-13 12:57] carlosmiei commented on #14987
Hello @Curro666 thanks for reporting it,

is it possible to provide some verbose logs where we can see the raw messages arriving from the exchange?

[2022-09-13 12:58] 583 commented on #14985
Thanks

[2022-09-13 13:36] carlosmiei commented on #14987
@Curro666, actually I managed to reproduce it on my end, so no need to send additional logs.

[2022-09-13 13:36] Curro666 commented on #14987
@carlosmiei yes,

[code]

[2022-09-13 13:38] carlosmiei commented on #14987
@Curro666 thanks, we're currently waiting for Huobi's response since that binary message seems to be invalid and crashes our client

[2022-09-13 13:42] Curro666 commented on #14987
only fail in mix streams. If only use private work fine, if only use public work fine too.

[2022-09-13 13:43] carlosmiei commented on #14987
@Curro666 yes I noticed that too 🙁

[2022-09-13 13:47] carlosmiei commented on #14958
@wunderb1t it should be ok now, thanks once again!

[2022-09-13 13:47] #14958 closed

[2022-09-13 14:06] Curro666 commented on #14987
@carlosmiei  remember this ticket?
https://github.com/ccxt/ccxt/issues/14891
with this code if I use exmo and watchMyTrades  it does not return the data of the new orders, if I put binance for example it works correctly.

[2022-09-13 17:35] Salz0 commented on #14819
Hey @carlosmiei , any updates, maybe you have some hint how I would be able to handle this issue myself

[2022-09-13 18:50] madelmann opened #14988 "coinbase API calls return swapped bid and ask values"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Linux,

[2022-09-13 20:01] emorling opened #14989 "ByBit: General problem with order_link_id"
There seems to be a general problem with working with orders that are identified by order_link_id. Querying orders with order_link_id is supported in the ByBit API, but not in CCTX. There seems to be notice of ByBit CCTX being reworked in January. Is this still the case?

[2022-09-14 02:26] #14954 closed

[2022-09-14 02:29] karahancodes opened #14990 "bitget general problem with market symbols"
Hey , i always have difficulties when i'm trying to parse/fetch by symbol , is there any method to check whole symbols of trading pairs (swap) on bitget? Like for example , i cant fetchmytrades by using btc/usdt

`const bitget = new ccxt.bitget({
    apiKey : process.env.tn_bitget_key,
    secret : process.env.tn_bitget_secret,
    password : process.env.tn_bitget_password,
    options : {defaultT

[2022-09-14 06:44] #14985 closed

[2022-09-14 08:46] samgermain commented on #14990
@karahancodes

`BTC/USDT` is the spot symbol, but your using `options : {defaultType :'swap'}`. The swap symbol is `BTC/USDT:USDT` as long as your talking about a contract settled using USDT. You can read about the [symbol naming schemas here](https://docs.ccxt.com/en/latest/manual.html#contract-naming-conventions)

[2022-09-14 08:47] samgermain commented on #14989
Can you provide an example of what you're referring to please?

[2022-09-14 09:08] JonathanAhrenkiel-Frellsen opened #14993 "Invalid API-key, IP, or permissions for action for binance, error code: -2015 (python)"
I'm using windows 11 and I have tried python version 3.10/3,9/3,8 and ccxt package 1.93.43 and 1.50.55. When I try to execute an order, it gives me the following error
[code]
I have replaced my public key with <key> for obvious reasons. I am able to make a market trade with my account on the binance website so I assume I have set up my binance futures account correctly. The API key has the followi

[2022-09-14 09:14] JonathanAhrenkiel-Frellsen commented on #14993
1.

[2022-09-14 09:21] sirui0112 opened #14994 "How to fetch or cancel orders sent on Binance isolated margin account"
- OS: Windows 10
- Programming Language version: Python 3.9.12
- CCXT version: 1.84.5

Code snippet to send the order
[code]
The order is sent successfully but I am unable to fetch or cancel the order using the order id.

[code]

[2022-09-14 10:40] carlosmiei commented on #14994
Hello @sirui0112, can you please post a verbose log of the request?

[2022-09-14 10:51] sirui0112 commented on #14994
Hi @carlosmiei I am working with **orders sent on Binance 10x isolated margin account** on product ETH/USDT. I was able to send the order successfully and it’s viewable on Binance website.
However as mentioned in the description above, methods fetch_order and cancel_order (both worked on normal orders sent on spot or futures account) throw errors when used on the isolated order (while the order is

[2022-09-14 11:06] carlosmiei commented on #14993
Hello @JonathanAhrenkiel-Frellsen

First and foremost, you should immediately revoke the keys you posted above.

Regarding your question, this really seems to be an authorization issue, so I'm afraid there is nothing we can do, have you tried to contact Binance's support?

[2022-09-14 11:09] carlosmiei commented on #14994
@sirui0112 can you try to pass `params={"isIsolated": True}` to `fetchOrder` and `cancelOrders` as well?

[2022-09-14 11:16] sirui0112 commented on #14994
Hi @carlosmiei it works, thanks a lot. Closing the issue now.

[2022-09-14 11:16] #14994 closed

[2022-09-14 11:31] carlosmiei commented on #14987
@Curro666 we will check it thanks

[2022-09-14 14:59] #14988 closed

[2022-09-14 15:38] 646b commented on #12817
It's possible to catch an unhandled exception with this code in Python:

[code]

[2022-09-14 17:40] karahancodes commented on #14990
That symbol worked , thanks and i understood the symbol scheme.But ;
  ** BadSymbol: bitget fetchMyTrades() only supports spot markets**
Closing the issue , thanks.

[2022-09-14 17:40] #14990 closed

[2022-09-14 18:13] BlockchainHe opened #14996 "Binance All Book Tickers Stream"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: ubuntu

[2022-09-14 18:16] zoomzoomgithub opened #14998 "zb.fetchOpenOrders: OrderNotFound: zb {"code":3001,"message":"挂单没有找到或已完成"}"
- OS: Windows 11
- Programming Language version: Javascript
- CCXT version: 8.15.0

Hello,

Exchange zb is returning OrderNotFound when using zb.fetchOpenOrders.  This is different from all the other unified exchanges that are returning [].

CODE:

const ccxtpro = require ('ccxt.pro');

var zb = new ccxtpro.zb  ({
"apiKey": "####",
"secret": "####"})

var zbOpenOrders = await zb.fetchOpenOrders  (

[2022-09-14 19:33] samgermain commented on #14988
@madelmann Thanks for letting us know, we've fixed this in PR #14992

[2022-09-14 20:29] samgermain commented on #522
Don't worry about it, I've been working on adding [string math across the library,](https://github.com/orgs/ccxt/projects/52) should hopefully be done soonish

[2022-09-14 20:39] m-nez opened #14999 "ccxt.base.errors.OrderNotFound: binance {"code":-2011,"msg":"Unknown order sent."} when calling binance.cancel_all_orders without any open orders"
Calling binance.cancel_all_orders raises an error when there are no open orders. It should return an empty list of closed orders.

- OS: MANJARO
- Programming Language version: Python 3.10.4
- CCXT version: 1.93.43

[code]

[code]

[2022-09-14 23:10] zoomzoomgithub opened #15004 "Question - Is USDT TetherUS-ERC20 the same USDT used by the BTC/USDT symbol?"
- OS: Windows 11
- Programming Language version: Javascript
- CCXT version: 8.15.0

Hi,

Can you please tell me if USDT TetherUS-ERC20 is the same USDT used by the BTC/USDT symbol?  I couldn't find an answer in the closed issues.

Thanks!

[2022-09-14 23:21] joshh71390 opened #15005 "how do we fetch margin account_id from coinex?"

[2022-09-14 23:22] joshh71390 commented on #15005
if you NEED a fucking id to be retreived on coinex inorder to do anything with margin.;... then why wouldnt there be a fucking way to get the id ..

[2022-09-15 00:40] #15005 closed

[2022-09-15 02:59] sc0Vu commented on #15004
Hi @zoomzoomgithub

Yes, I think so. Also, TetherUSDT had deployed on different blockchain (Tron, BSC or AVAX).

[2022-09-15 03:06] sc0Vu commented on #14865
@hosseinab

It should work now:

[code]

[2022-09-15 03:07] #14865 closed

[2022-09-15 03:41] sc0Vu commented on #14296
I've checked with their service, turns out they didn't open v2 api yet, and will focus on tuning v1 api.

[2022-09-15 05:57] hosseinab commented on #14865
@sc0Vu does not work for me . " kucoin Invalid chainId "
this work with "xlm" lowercase characters

[2022-09-15 08:11] samia81 opened #15010 "Binance fetch_ohlcv : does not return the last refreshed data when using 30m timeframe and bigger"
- OS: Windows
- Programming Language version: Python 3.9.13
- CCXT version:1.92.93

I am using fetch_ohlcv to get the 100 last historical data. timeframe=1h , limit=100
The problem is that after few seconds, this method does not return the last refreshed data.
I have to wait for more than 15min or more to get the refreshed data with the last timestamp included in the historical data.

[code]

[2022-09-15 10:08] ttodua commented on #12341
@YuriyTigiev I fear that the bug and inconsistency in FTX api (which they were unable to fix during all these years with a simple param switch) makes us unable to fix that. As I've mentioned earlier (and now confirmed by you too) it sometimes returns 1 candle less. So, you should make your snippet smth like this:
[code]
or second alternative is to fetch more bars then your current limit bars (so i

[2022-09-15 10:40] kroitor commented on #15005
@joshh71390 have you figured it out?

[2022-09-15 10:49] carlosmiei commented on #14998
Hello @zoomzoomgithub , it depends on how the exchange handles it, come just return an empty array but consider it as a valid HTTP response, others like ZB just throw an exception

[2022-09-15 11:13] ttodua commented on #14984
I've linked a PR above. After merge, you have to input the `network` param, i.e.:
[code]

[2022-09-15 11:30] carlosmiei commented on #14999
Hello @m-nez, that depends on how the exchanges handle it,  some exchanges will return a successful response + empty array as suggested, but some decided to consider this as an "error response".  For the latter, we just wrap the original around a unified exception that users can easily catch.

You can emulate that behavior by doing this:

Example
[code]

[2022-09-15 11:32] ttodua commented on #14972
There is no `end_time` in lbank api https://docs.lbkex.net/en/ , but there is `endTime`.
I think you are confusing it with other exchanges.
`end_time` is being still in process of unification and some exchanges doesn't implement that unified scrpting yet.
For now, as I check lbank api, you have to use `endTime` for that purpose (deposits & withdrawals) and also, it shouldnt be 10-digit integer (in

[2022-09-15 11:37] carlosmiei commented on #14996
Hello @BlockchainHe,
Unfortunatel, this is not yet possible we're in the process of unifying `watchTickers` but it has not been done yet

[2022-09-15 11:37] ttodua commented on #14972
note, i've tested and seems their `endTime` param doesnt work at all, even if you provide with `integer` or `string` it still ignores that param.

[2022-09-15 11:45] ttodua commented on #14972
I've further tested and the issue seems specific to `python` and not just related to the lbank api param. I'll submit further fix.

[2022-09-15 13:16] Curro666 commented on #14987
hello @carlosmiei, did you find the problem?

BR

[2022-09-15 15:36] YuriyTigiev commented on #12341
Thank you.
I use the second  approach. What I found that this problem appears with pairs which have small daily volume. I think that "current candle" creates only after a first deal and only in this case API return the correct number of candles.

[2022-09-15 18:12] #14891 closed

[2022-09-15 20:09] ttodua commented on #14972
Please update CCXT to latest version, the issue is fixed.

[2022-09-15 21:52] #15004 closed

[2022-09-15 21:52] zoomzoomgithub commented on #15004
Thank you!

[2022-09-15 22:15] zoomzoomgithub opened #15018 "Get values of frozen and hold within balance info"
- OS: Windows 11
- Programming Language version: Javascript
- CCXT version: 8.15.0

Can you please help me figure out how to read the values of frozen, hold, balance and available within balance info?  Thank you!

const currency = 'USDT';

async function fetchBalance(currency) {
  const balance = await exchange.fetchBalance();
  console.log(balance)
} fetchBalance(currency)

Output:

{
  info: [

[2022-09-16 02:37] sc0Vu commented on #15018
Hi,

I think you can find in our wiki: https://github.com/ccxt/ccxt/wiki/Manual#account-balance

[2022-09-16 02:49] zoomzoomgithub commented on #15018
Hi sc0Vu, it didn't answer my question directly but luckily I did find that 'used' will fulfill my needs.  Thanks!

[2022-09-16 03:33] sc0Vu commented on #14897
Hi @unclecharliecrypto

After checking how ftx jp works and their api documentation, it seems they use the same api as ftx.com. I can find the markets in ftx jp with ccxt as well.

Would you like to provide produceable scripts (without credentials)?

[2022-09-16 05:28] artiya4u commented on #1614
Any update on this exchange API?

[2022-09-16 06:07] unclecharliecrypto commented on #14897
Hi Peter

Ah weird - I followed the 4 steps above and now I can see the FTX JP ETH/USD historical data.
I might have been using the wrong spot pair syntax the first time round? (ETH-USD instead of ETH/USD).
Also tried for XRP/JPY pair and worked fine too.
Apologies for the inconvenience.

Best Regards,
Grant

[2022-09-16 07:13] hosseinab commented on #14972
@ttodua why id is None ?

[2022-09-16 07:35] hosseinab opened #15022 "lbank2 withdraw fee"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.90.94",
Exchange: lbank2
Method: withdraw

hi . Where should I look for the withdraw fee?

i use this functions . and None of them give information about this :
[code]

[2022-09-16 13:16] ilkerkoc commented on #1614
https://gist.github.com/yasinkuyu/9d7098bb83fd5c90e8e76c3f1eefce16

[2022-09-16 13:31] hosseinab opened #15024 "fetch_deposits & fetch_withdrawals error in hitbtc3"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.93.59",
Exchange: hitbtc3
Method: fetch_deposits & fetch_withdrawals

hi
my code :

since = None
limit = 10
params = {}
deposits = connection.fetch_deposits(symbol, since, limit, params)

error :
Traceback (most recent call last):
  File "C:\Users\Hosein\PycharmProjects\pythonProject\venv\lib\site-packages\fl

[2022-09-16 14:30] ttodua commented on #14972
which `id` you mean, can you please post that part?

[2022-09-16 14:43] gshpychka commented on #522
Can you address my question above - assigning `Decimal` to `exchange.number` already enables fixed-point math, but the error I posted above is still broken.

[2022-09-16 15:05] ttodua commented on #15024
@hosseinab In different issues you've opened, we have replied the same, that you should update the CCXT lib to latest version.
If you will still experience this issue after update, let us know back.

[2022-09-16 16:06] lifengjun0215 commented on #12927
can you solve this problem now? I have the same problem. please help me!

[2022-09-16 16:07] lifengjun0215 opened #15027 "Binance Private Endpoints issue"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Progr

[2022-09-16 16:20] emorling commented on #14989
@samgermain

The ByBit API enables us to

- Get Active Order using order_link_id (not only order_id)
https://bybit-exchange.github.io/docs/futuresV2/linear/#t-getactive
- Cancel Active Order
https://bybit-exchange.github.io/docs/futuresV2/linear/#t-cancelactive
- Replace Active Order
https://bybit-exchange.github.io/docs/futuresV2/linear/#t-cancelallactive

However, these functions in CCXT and ByB

[2022-09-16 16:20] hosseinab commented on #15024
@ttodua
my ccxt version is update to last version.
All the problems I have raised have been correct.

@cabanossi @kroitor

[2022-09-16 16:23] hosseinab commented on #15024
and this hitbtc exchange . previous exchnage is lbank

[2022-09-16 16:27] hosseinab commented on #14972
@ttodua
[{'info': {'insertTime': '1663005500000', 'amount': '4190536.12800000000000000000', 'address': 'TNF5wyWSmmAo4GxMd2NXZBtSHw47D2JnU4', 'networkName': '--', 'txId': '2fbc9c0cbabfbd522aca069a3a7830b62f9b4897057361d32ec4dd3751e55d80', 'coin': 'btt', 'status': '2'}, **'id': None**, 'txid': '2fbc9c0cbabfbd522aca069a3a7830b62f9b4897057361d32ec4dd3751e55d80', 'timestamp': 1663005500000, 'datetime':

[2022-09-16 19:53] #14996 closed

[2022-09-16 21:07] #15027 closed

[2022-09-16 21:35] samgermain commented on #15022
Usually you can get this using `fetchCurrencies` but `lbank2` doesn't have that method implemented, it looks like you can get the withdraw fee for the currencies you possess using `privatePostSupplementUserInfo`. I'm trying to see if there's a method to get it for all currencies

[2022-09-16 21:57] samgermain commented on #15022
It doesn't look like `fetchPublicTransactionFees` will return the fee for every currency, but it looks like that is as close as you can get for retrieving withdraw fees for currencies that you don't currency own

[code]

If you do own the currency, it looks like `fetchPrivateTransactionFees` returns some of the withdraw fees the `fetchPublicTransactionFees` doesn't

[code]

[2022-09-16 22:03] #14890 closed

[2022-09-16 22:09] samgermain commented on #14957
@cfytrok Thanks for the heads up! Do you think you could provide a [minimum reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) for this problem? The line you're referencing is in a general `handle_errors` method, which covers all errors, so I'm not sure how you're running into it, and it also looks like that line is only reachable inside `if (code == 418) or (code =

[2022-09-16 22:44] zoomzoomgithub opened #15032 "okcoin.fetchDepositAddress() is saying "USDT" is an invalid token"
- OS: Windows 11
- Programming Language version: Javascript
- CCXT version: 8.15.0

Can you please tell me why okcoin is saying "USDT" is an invalid token when using exchange.fetchDepositAddress()?  Can you please tell me what the correct token for is USDT?  The documentation says "USDT" but the exchange says "USDT is an invalid token".

var exchange = new ccxtpro.okcoin  ({
    "apiKey": "XXXXXXX

[2022-09-16 23:05] samgermain commented on #15032
This looks like it might be a problem with okcoin's server, because the request is identical to okcoins api docs example but it throwing this error

https://github.com/ccxt/ccxt/issues/15032

[code]

https://www.okcoin.com/docs/en/#account-deposit-address

------------

I've reported it as a bug with okcoin

[2022-09-16 23:13] zoomzoomgithub commented on #15032
WOW THANK YOU SO MUCH!!!

[2022-09-16 23:53] zoomzoomgithub commented on #15032
their site says: "Due to planned system updates, the withdrawals and deposits of some assets may be paused. For the full list refer to our status page: https://www.okcoin.com/status" and I am unable to withdrawal at the moment.

[2022-09-17 03:44] karahancodes opened #15033 "setLeverage issue on BitGet"
Hey , i'm having issues setting leverage with setLeverage method.  I do have a holdSide param but i'm still getting this error message.
[code]

[code]

[2022-09-17 04:43] sc0Vu commented on #15033
Hi @karahancodes
<img width="106" alt="image" src="https://user-images.githubusercontent.com/10494397/190840803-ef7acc4d-45ef-4525-93f7-a75a79227db5.png">

The parameter of `holdSide` should be long or short.

[2022-09-17 06:53] dawadam opened #15037 "[feature] Sandbox or not in the exchange info list."
It would be helpful to know if the exchange supports sandbox or not in the exchange info list.

[2022-09-17 07:35] ttodua commented on #15024
is not up-to-date ccxt version. currently it's 1.93.xx +.

[2022-09-17 07:51] hosseinab commented on #15022
@samgermain
thank you for answer

for some currencies fee not exist in any functions . e.g : DOGE
output for doge :
{'amountScale': '4', 'chain': 'dogecoin', 'assetCode': 'doge', 'transferAmtScale': '4', 'canWithDraw': True, 'type': '1'},

[2022-09-17 07:55] hosseinab commented on #15024
@ttodua
i'm sorry . I edited the main comment

[2022-09-17 08:08] ttodua commented on #15024
@hosseinab thanks for bringing this issue up to us. I've found the bug and I can confirm it now.
Will submit fix shortly.

[2022-09-17 09:49] ttodua commented on #15024
@hosseinab the PR is linked to this issue. when you get notification of closing this issue by completion, update your CCXT lib again and this issue will be gone away on your side.

[2022-09-17 09:51] ttodua commented on #14972
@hosseinab about `id` not being set - you need to look through your last comment/response carefully and you'll find out why `id` is not being set - the original response doesn't contain any value that refers to `id`, so ccxt doesn't invent values to fill that. As it's seen, the `txid` is available only in original response from exchange API, and that's all we can use in this specific case.
Hope th

[2022-09-17 09:51] #14972 closed

[2022-09-17 09:53] #15024 closed

[2022-09-17 11:32] karahancodes opened #15042 "BitGet TypeError: this[method] is not a function while cancelling batch orders"
I'm trying to cancel batch orders , but i keep getting ```TypeError: this[method] is not a function```
[code]

[code]
Thanks in advance.

[2022-09-17 12:36] carlosmiei commented on #15042
Hello @karahancodes, thanks for reporting it, there is indeed an issue there. We will fix it soon, but as a workaround, if you really need to use it now, you can do it through the implicit API.

Example:

[code]

[2022-09-17 14:14] jayrmotta opened #15044 "[New exchange request] BitOasis"
Hey guys! Please consider adding [bitoasis.net](https://bitoasis.net) support to CCXT.

Thank you in advance.

[2022-09-17 14:20] GA-VI commented on #14825
Thank you, @ttodua.

[2022-09-17 14:36] karahancodes commented on #15042
Okay , thanks for the fix.  But i'm having params issues now , could you check this out please ?

[code]
**marginCoin** param does not seem to work properly,  i'm getting this error mesage ;

[code]

[2022-09-17 18:36] zoomzoomgithub commented on #14998
How do I handle the exception that is thrown?  my try catch is not working.

	if (zbOpenOrder !== "") {
        openOrder = 'true';
        if (zb.has['fetchOrder']) {
            try {
                order = await zb.fetchOpenOrders ("BTC/USDT")
                buyOrderId = '';
                buyOrderStatus = '';
                console.log(order)
            } catch (e) {console.log (e)}

[2022-09-17 19:30] pcriadoperez commented on #15037
I'll leave this issue open to see what @kroitor or @carlosmiei think of the idea.

In the meantime you can check if the exchange supports a sandbox by using this if statement for each exchange:  `if ('test' in exchange.urls)`

[2022-09-17 19:57] emorling commented on #14870
Any news on this? Seems to be a recurring issue which pops up quite often

[2022-09-17 20:09] YuriyTigiev commented on #12341
How CCXT library calc a parameter start_time for a "get trades"  for the FTX SPOT API?

https://docs.ftx.com/#get-trades
https://ftx.com/api/markets/BTC/USD/candles?resolution=60

[2022-09-17 22:32] zoomzoomgithub opened #15046 "AuthenticationError: bitmart {"message":"Header X-BM-SIGN is wrong""
- OS: Windows 11
- Programming Language version: Javascript
- CCXT version: 8.15.0

Can you please tell me why I am receiving AuthenticationError: bitmart {"message":"Header X-BM-KEY not found" ?

What needs to be changed?  I have already tried creating a new API key and using let.. var doesn't work either.  I see one issue that was opened for this same error but does not show a resolution.  If th

[2022-09-17 22:41] samgermain commented on #15022
That's right, there's not a lot we can do about this because lbank doesn't provide them

[2022-09-17 23:36] zoomzoomgithub commented on #15046
I think there might be a problem with Bitmart

[2022-09-18 00:11] kjnh10 commented on #14804
can I expect these to be implemented with standard methods like create_order?

[2022-09-18 00:53] pcriadoperez commented on #15010
Hi @samia81,

I'm not sure if I fully understand the issue.
After calling several times `fetch_ohlcv()` I see the volume on the last timestamp gets updated every time, however due to the large timeframe there is no new timestamp for several minutes as expected.

Can you confirm what is output you are expecting?

Also if you add `exchange.verbose = true` you can see the raw response from binance.

[2022-09-18 01:09] pcriadoperez commented on #14982
Hi @prestoneckhardt ,

`Itbit` api does not support a call for `fetch_ohlcv()` therefore the data is built from the most recent trades using this endpoint (https://api.itbit.com/docs#market-data-get-recent-trades-get)

`Bitflyer` is a similar case. Their API does not support `fetch_ohlcv()` therefore it is built from calling `fetchTrades ()` which returns the last 100 trades.
According to it's API

[2022-09-18 01:26] pcriadoperez commented on #14959
Hi @Hadevmin,

For the timestamps FTX will return exactly 30 days between each candle (2,592,000,000ms) for a '1M' timeframe and 7 days (604,800,000ms) for the '1w' timeframe. If you want to get a candle for every Monday you can set the argument `since` to a Monday. For the monthly it will be hard to get the candle with a timestamp at the beginning of every month, as each month can have different

[2022-09-18 02:14] pcriadoperez commented on #14942
Hi @YuriyTigiev ,

There is no formula to calculate `since` and it does not depend on `timeframe` or `limit`
`since` is a timestamp to specify the timerange at which to get the candles.
So for example for `fetchOHLCV (BTC/USDT, '1w', 1656637200000, 2)` you will receive two candles. One for timestamp `1657242000000` and one for a week after.

More information can be found here: https://docs.ccxt.co

[2022-09-18 02:14] #14942 closed

[2022-09-18 03:23] sohw400 opened #15048 "coinone ccxt grammer error [ def create_order]"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: windows

[2022-09-18 05:18] rekt0x opened #15049 "ccxt.d.ts vs. ccxt.js mismatch"
- OS: macOS 12.5.1
- Programming Language version: Typescript (esnext)
- CCXT version: 1.93.66

I'm using ccxt via Typescript but I just found out there seems to be an issue with [ccxt.d.ts](https://github.com/ccxt/ccxt/blob/master/ccxt.d.ts) - it doesn't expose e.g. the `fetchPositions` function, but the Javascript library does, see here: [ccxt.js](https://github.com/ccxt/ccxt/blob/master/ccxt.js

[2022-09-18 05:57] hosseinab commented on #14870
@ttodua @carlosmiei @emorling
It is the same for me

[2022-09-18 05:59] hosseinab commented on #15022
@samgermain
So the withdraw function can't be used?

[2022-09-18 06:11] hosseinab commented on #14984
@ttodua
merge not done?

[2022-09-18 06:11] Smartromain opened #15050 "Nothing printed when create order doesnt work"
Sometime, it doesnt create order on binance spot, and doesn't print the error.
When the create order work, it print the order correctly.

Why and how to find out the error.

my code:

[code]

- OS: win10
- Programming Language version: python
- CCXT version: 1.93.1

[2022-09-18 07:28] sc0Vu commented on #15050
Hi @Smartromain

I can create order, would you like to paste reproducible script (remove credentials or sensitive information)?

[2022-09-18 08:14] carlosmiei commented on #14870
@hosseinab @emorling Have you tried to synchronize your clocks with UTC using NTP?https://www.baeldung.com/linux/sync-time-with-network

[2022-09-18 08:29] emorling commented on #14870
I'm not using a managed environment where I can set clock. Is that a requirement?

[2022-09-18 09:37] Smartromain commented on #15050
Most of the time it buy and sell without problem but I've noticed, it's when the price move up or down very fast, that it doesn't work. but how come it doesn't print anything.

[2022-09-18 10:14] carlosmiei commented on #14870
@emorling most of the time, that's what causes the timestamps errors

[2022-09-18 10:20] hosseinab commented on #14870
@carlosmiei
I use Windows

[2022-09-18 12:32] sc0Vu commented on #15049
Hi @rekt0x

Thanks, we'll add these methods.

[2022-09-18 13:28] hosseinab opened #15052 "digifinex currencies not correct"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.93.59",
Exchange: digifinex
Method: load_markets - currencies

hi .
my code :
connection.load_markets()
markets = connection.currencies
print(markets)

output :
{'USDT': {'id': 'USDT', 'code': 'USDT', 'info': [{'deposit_status': '0', 'min_withdraw_fee': '5', 'withdraw_fee_currency': 'USDT', 'chain': 'OMNI', '

[2022-09-18 14:23] fferreizq opened #15053 "Kucoin stop orders - stopPrice is being changed before calling the exchange"
Hello. I'm trying to set TP and SL to an open trade in KUCOIN FUTURE exchange.

For that I'm using the method "createStopMarketOrder" setting parameters "stop" to "up" or "down" and stopPrice.

What I have seen is that the parameter stopPrice that is sent to exchange, sometimes change to zero or other value. Sometimes it works, but normally it's changed to another value that makes the order execut

[2022-09-18 21:51] pcriadoperez commented on #15052
Thanks @hosseinab for pointing this out! There is a bug where it's only checking the first network. I'll open a PR to fix this and also include the different networks in the currency structure.

[2022-09-19 00:11] pcriadoperez commented on #15053
Hi @fferreizq .

I was not able to reproduce the error using the same create order.
But looking at the code the only operation done to the stopPrice is converting it to the precision of the symbol. So maybe for very small amounts it is converting to zero?

Where you able to find a pattern of when this happens or a way I could reproduce it?

[2022-09-19 01:03] felipebrazil02 opened #15055 ""code":1002,"message":"Contract not allow place order!" in Mexc"
Hi, leaving my code and my error here to see if anybody can help.

const mexc = new mexc3({
    apiKey: key || '',
    secret: secret || '',
    options: {
        defaultType: 'swap'
    }
});

async sendBuyOrder(symbol = 'BTC/USDT', type = 1, side = 1, amount = 0.0001, price = 0.0001){
        try {
            return mexc.createOrder(symbol, type, side, amount, price, {"openType" : 1, "leverage

[2022-09-19 01:48] sc0Vu commented on #15055
Hi @felipebrazil02

I can't reproduce this, would you like to paste your ccxt version? BTW, the symbol is for spot market, if you want to create order for the swap, you can use these format: `base/quote:settle` eg,`ADA/USDT:USDT`

[2022-09-19 03:01] samgermain commented on #15022
That is a different question. You don't need to know the withdraw fee to use the withdraw function

[2022-09-19 03:18] samgermain commented on #15032
I'm going to close this issue, as it looks like it's a problem with okcoin. Please reopen it if you have any more questions.

[2022-09-19 03:18] #15032 closed

[2022-09-19 03:19] samgermain commented on #14962
I'm going to close this issue. Feel free to reopen it if you have any more quesitons

[2022-09-19 03:19] #14962 closed

[2022-09-19 07:09] hosseinab commented on #15022
@samgermain
in withdraw function in lbank writed this code :
 if fee is None:
            raise ArgumentsRequired(self.id + ' withdraw() requires a fee argument to be supplied in params, the relevant coin network fee can be found by calling fetchTransactionFees(), note: if no network param is supplied then the default network will be used, self can also be found in fetchTransactionFees()')

[2022-09-19 07:11] souri84 opened #15056 "kucoin fetchOrders() is not supported yet"
Hi everybody,

maybe a mistkae from me but how to resolve it ? Thanks all for your reply,

Thibaut

- OS: Windows 11
- Programming Language version: python3
- CCXT version: 1.93.66

[code]

[code]

[2022-09-19 09:06] felipebrazil02 commented on #15055
My version is 1.80.9

About the spot symbol you mentioned is just a function. When I call its perpetual futures just like you sent(base/quite:settle).

[2022-09-19 10:32] hosseinab opened #15057 "digifinex timestamp error"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.93.59",
Exchange: digifinex
Method: create_order

hi
my code :
            params = {}
            data = connection.create_order(symbol="TRX/USDT", type='market', amount=10, side='buy',
                                           price=0.06, params=params)

output :
Timestamp for self request is invalid, time

[2022-09-19 11:46] kroitor commented on #14870
@hosseinab you will need to configure system clock sync on windows, just enabling the timesync checkbox in your time settings does not solve the trick, cause it skews. You will have to edit your registry as described in these issues:
- https://github.com/ccxt/ccxt/issues/850
- https://github.com/ccxt/ccxt/issues/936
Let us know if that does not help.

[2022-09-19 11:53] #15042 closed

[2022-09-19 11:56] carlosmiei commented on #15042
Hello @karahancodes the fix was only merged today, can you please update your ccxt version and try again?

[2022-09-19 11:57] karahancodes commented on #15042
Hello @carlosmiei ,
Thanks for your interest , i already updated and still got the same issue!

[2022-09-19 12:07] karahancodes opened #15058 "Weird BitGet cancelorders issue"
- CCXT version: Latest commit
Hello , me again;

After i've reported an issue with implicit api endpoint , you fixed it but i still can't get the correct output.

[code]
The error i get is ;
[code]

[2022-09-19 12:07] carlosmiei commented on #15055
@felipebrazil02 @sc0Vu Mexc temporarily disabled trading in most of the derivatives, please check this out: https://support.mexc.com/hc/en-001/articles/8681589415961-MEXC-Upgrade-and-Maintenance-of-API-for-Perpetual-Futures-Trading-Pairs

[2022-09-19 12:08] carlosmiei commented on #15058
Hello again @karahancodes, ok we will try to reproduce it on our side, thanks for letting us know

[2022-09-19 12:41] samgermain commented on #15037
@dawadam You can already kind of do this by checking if there is a url listed in `exchange.describe()['urls']['test']`

[2022-09-19 13:15] pcriadoperez commented on #15057
Hi @hosseinab ,

Can you provide the full verbose output to better see the issue? (https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue)

Also if it's a timestamp issue you can check the time of digifinex calling `exchange.fetch_time()` and comparing to your machine's timestamp to see if that may be an issue.

[2022-09-19 13:17] emorling opened #15059 "Set Stop Loss for an Open Position on ByBit"
I am stuck with setting Stop Loss for an Open Position on ByBit.

I have attempted to set all these params, without any success:

[code]

I get this response, but nothing happens in regards to changing the stop loss of an open position:

[code]

I also attempted this for "StopLoss and TakeProfit orders attached to a position"
https://docs.ccxt.com/en/latest/manual.html#stoploss-and-takeprofit-orde

[2022-09-19 13:31] pcriadoperez commented on #14965
Hi @emorling,
I'll close this issue because it seems to be solved. But feel free to reopen or post another issue if you have any other questions.

[2022-09-19 13:31] #14965 closed

[2022-09-19 16:12] fferreizq commented on #15053
Hi Pablo!. Thanks a lot for you help.

I have been working on this problem since yesterday. Let me share with you what I have seen.

First at all let me tell you what my app is doing because it's important to reproduce the problem. My app is doing the following:
1) Creating a market order (createOrder)
2) Checking the order created every 5 seconds until it had been closed (getOrder)
3) Checking th

[2022-09-19 16:23] felipebrazil02 commented on #15055
Thanks in advance! I'll check this out!

[2022-09-19 17:26] Hadevmin commented on #14959
Hi @pcriadoperez,

Thank you very much for your return.

For the '1w', adding the argument to start on Monday, that works!
For the '1M', I will use the '1d' candles to assemble them and create the '1M' candles on my side.

For the 'limit' parameter, I didn't try to debug more than that, sorry. If no one encounters the problem it must be me. But I created an exception to correct my problem, so it's

[2022-09-19 18:47] hosseinab commented on #14870
@kroitor
thank you for response . I have done the following items , but still the problem occurs sometimes (Very few) :
1 - run this commands in cmd :
- net stop w32time
- w32tm /unregister
- w32tm /register
- net start w32time
- w32tm /resync
2 - from control panel > date and time > internet time change the server to >>>> time.nist.gov

What else should be done?

[2022-09-19 18:56] CloudTrauma opened #15063 "Trailing stop gets ignored"
`print(auth_client.create_order(symbol,'market','buy',1,None,{'pegPriceType': 'TrailingStopPeg ','pegOffsetValueEp': -100000}))`
It opened the position but the trailing stop got ignored

[2022-09-19 19:53] pcriadoperez commented on #15063
Hi @CloudTrauma ,

Can you provide what exchange you are seeing this and the verbose output?
(https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue)

[2022-09-19 22:39] JupiterGold opened #15066 "bkex - implement fetchOrder and fetchMyTrades"
Request to implement fetchOrder and fetchMyTrades

[2022-09-20 01:16] CloudTrauma commented on #15063
I am using Phemex .
https://justpaste.it/9bo5v
link for verbose

[2022-09-20 01:18] CloudTrauma commented on #15063
`Python 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license()" for more information.

===== RESTART: C:\Users\gginc\OneDrive\Documents\TradingBot\Phemex\test.py =====

fetch Request: phemex GET https://api.phemex.com/exchange/public/cfg/v2/products RequestHeaders: {'User-Agent': 'python-requests/2.28.0', 'Accept-

[2022-09-20 09:00] ttodua commented on #12341
@YuriyTigiev it's hard to verbally describe, maybe you can take a look here - https://github.com/ccxt/ccxt/blob/5b1adf0938f18ec4157164a1ef99b1557681856b/js/ftx.js#L944

[2022-09-20 09:35] #15059 closed

[2022-09-20 09:41] #15058 closed

[2022-09-20 09:47] carlosmiei commented on #15058
@karahancodes can you please try again now?

[2022-09-20 10:50] karahancodes commented on #15058
@carlosmiei  I still get the
**ExchangeError: bitget {"code":"40017","msg":"null 不能为空","requestTime":1663670845910,"data":null}** unfortunately even after pulling the latest commit

[2022-09-20 13:31] karahancodes commented on #15058
My bad , updated to the latest commit and it works flawlessly , thank you very much !

[2022-09-20 15:14] fferreizq commented on #15053
I have modify the method to this:

async createOrder(symbol, type, side, amount, price = undefined, params = {}) {
        /**
         * @method
         * @name kucoinfutures#createOrder
         * @description Create an order on the exchange
         * @param {string} symbol Unified CCXT market symbol
         * @param {string} type 'limit' or 'market'
         * @param {string} side 'buy' or '

[2022-09-20 16:10] NikitaGordia commented on #2740
@creslinux Thx, great script! The only improvements I see is to add "limit=1" to params in order to decrease reponse size from 500 to 1 item

[2022-09-20 16:18] Nitrix321 opened #15070 "Bybit Conditional Order "params error!""
Hello :) ,

I hope someone can help me with my issue.
I get the below Error if the program tries to place the stop limit / conditional order for ETHUSD inverse contracts. With linear contract ETHUSDT it is working fine. I don't know why and whats the difference there.
Short explanation. It's a reduce only order to place stop limit below market price if long and in a winning position or above marke

[2022-09-20 16:34] hosseinab opened #15071 "bybit fetchwithdrawals and fetchDeposits return null"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.93.66",
Exchange: bybit
Method: fetchwithdrawals and fetchDeposits

hi .
my code :

[code]

output :
`[]`

verbose output :
[code]

[2022-09-20 16:39] hosseinab commented on #15057
@pcriadoperez
thank you for respone
this error fixed after sync clock time .

[2022-09-20 16:39] #15057 closed

[2022-09-20 19:16] ericfly02 opened #15072 "error while fetching pair volume on Binance futures"
- OS: Windows
- Programming Language version: python
- CCXT version: 1.89.86

Hi, I'm looping through all the pairs on binance futures getting its volume. The thing is that after going through 20 pairs, I get an error with fetching the volume (doesn't make sense if I've got it right before)

[code]

[code]

[2022-09-20 20:36] #15072 closed

[2022-09-20 20:36] ericfly02 commented on #15072
trying to fetch info from delisted token "BTCSTUSDT"

[2022-09-21 02:59] Showgofar commented on #14838
still havent got an idea how to send IOC at huobi - other exchanges are OK for me

[2022-09-21 03:13] ultraman00 opened #15073 "'bybit' object has no attribute 'privatePostV2PrivateSpotOrderReplace'"
https://github.com/ccxt/ccxt/blob/3c6717126f46f4f2ac92ee47b73c429c8a329441/python/ccxt/bybit.py#L2962

`
bybit.editOrder(id=order['id']
                , symbol=order['symbol']
                 , side=order['side']
                 , type=order['type']
                 , params={'p_r_qty': 20
                           , 'p_r_price': 50005
                           , 'p_r_trigger_price': 50010

[2022-09-21 03:59] sanghoon-o opened #15075 ""okx Exchange" Unordered issue"
- OS:
- Programming Language version:  node (v12.0.0)
- CCXT version: 1.92.95

When my bot trades all contract volumes to the opposite position to close the position, a small amount (0.01) is re-captured to the opposite position with an unknown process after about 1 minute.

[code]

If I made a trade in my bot system, a record should be recorded in the log, but unknown trades were not left in my b

[2022-09-21 09:44] #15073 closed

[2022-09-21 12:32] p-i- commented on #7040
@Daanish283 You should just trap that error, I think, and bulldoze over it.
[code]

[2022-09-22 04:12] ryanobjc commented on #14872
I also get this.  I modified the exception and got this:
ccxt.base.errors.InvalidNonce: ftx invalid checksum resp: 3136327619 expected 2527839467

This code works correctly in ccxt.pro version 1.1.91 so it's def a regression.

[2022-09-22 04:20] ryanobjc commented on #14872
I note that sometimes this code does seem to succeed.  The error handling leaves a lot to be desired, the ftx api docs specifically say:
"If not, you have likely lost or mishandled a packet and should re-subscribe to receive the initial snapshot."

[2022-09-22 07:34] robbielitebit opened #15083 "[ccxt.pro]: gateio unable to ever start watching orderbook if synchronize fails"
We had an issue when using `watchOrderBook` to connect with a market and it failed with the message: "gateio failed to synchronize WebSocket feed with the snapshot ....".

After receiving this error, our code retried to call `watchOrderBook` again. However this call to `watchOrderBook` (after getting the  synchronize error) didn't resolve in any result.

I checked the code and if I understand corr

[2022-09-22 18:50] danieltorscho commented on #6507
So is this same for `javascript` ?

[2022-09-22 19:29] danieltorscho commented on #6507
I'm stil having issue in javascript:

[code]

it doesn't work, bails out with an error: `{"code":-2011,"msg":"Unknown order sent."}`

[2022-09-23 07:31] wunderb1t commented on #14121
Hi.
Any updates about this issue?

[2022-09-23 11:18] Nitrix321 commented on #15070
Hi, if I find out how to create a verbose log, i will share it here :).

[2022-09-23 11:46] gshpychka commented on #522
@samgermain can you please address the question?

[2022-09-23 15:56] ttodua commented on #14464
The issue was answered by @carlosmiei and it seems correct to me, also the topic hasn't got any follow ups, so I'm closing this issue.
Let us know if you have any problems with CCXT.

[2022-09-23 15:56] #14464 closed

[2022-09-23 15:58] ttodua commented on #14464
Also, note that your proxy does redirect `POST` request correctly, as your mentioned `fetchDeposits` worked because it uses `GET` method in the backgrounds, while `fetchBalance` uses `POST` method.

[2022-09-24 07:14] Smartromain opened #15097 "ccxt.base.errors.ExchangeError: bybit markets not loaded"
Hello,

How come this doesnt work, and get error : ccxt.base.errors.ExchangeError: bybit markets not loaded

import ccxt
symbol = 'BTCUSDT'
print(exchange.market(symbol)['precision']['amount'])

but this works:

import ccxt
symbol = 'BTCUSDT'
print(exchange.fetch_ohlcv(symbol, timeframe='1m', limit=1))
print(exchange.market(symbol)['precision']['amount'])

- OS: win10
- Programming Language versio

[2022-09-24 07:49] hosseinab opened #15098 "poloniex fetchwithdrawals and fetchDeposits error"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.93.66",
Exchange: poloniex
Method: fetchwithdrawals and fetchDeposits

hi
my code :
since = None
limit = 100
end_time = connection.milliseconds()
params = {
'end_time': int(end_time / 1000),
}
deposits = connection.fetch_deposits("USDT", since, limit, params)

error :
poloniex GET https://api.poloniex.com/wal

[2022-09-24 09:20] hosseinab commented on #15098
fetch_deposit_address it has the same error in poloniex

[2022-09-24 11:12] carlosmiei commented on #15097
Hello @Smartromain, markets will be automatically loaded after the first call to a unified method, if you want to access it right away, you can do this:

[code]

[2022-09-24 11:13] carlosmiei commented on #15070
@Nitrix321 simply do this `exchange.verbose = True`

[2022-09-24 11:29] carlosmiei commented on #15098
Hello @hosseinab, thanks for letting us know, we will check it

[2022-09-24 11:39] carlosmiei commented on #15075
Hello @sanghoon-o, I'm not quite sure yet what's the role of CCXT on the issue you described, as you know, ccxt is only a middleware between the trader and the exchange, so if the exchange is doing something unexpected I'd suggest reaching out to them directly

[2022-09-24 12:00] Smartromain commented on #15097
Thanks, amazing. I will try it

[2022-09-24 12:10] #15098 closed

[2022-09-24 12:12] carlosmiei commented on #15098
@hosseinab can you please update to the latest version and check if the error is gone?

[2022-09-24 13:53] phpmac opened #15101 "how to get binance usdt m Symbol Price Ticker"
Symbol Price Ticker

https://binance-docs.github.io/apidocs/futures/cn/#8ff46b58de

only fetch_ticker() ?

[2022-09-24 13:55] hosseinab commented on #15098
@carlosmiei upgrade to ccxt-1.93.98
but get the same error :

fetch Request: poloniex GET https://api.poloniex.com/wallets/activity?start=1352987590&end=1664027590&end_time=1664027588 RequestHeaders: {'Content-Type': 'application/json', 'key': '***', 'signTimestamp': '1664027590298', 'signature': '****=', 'User-Agent': 'python-requests/2.28.1', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*',

[2022-09-24 13:57] hosseinab commented on #15052
@pcriadoperez
this merge not approved ?

[2022-09-24 14:32] phpmac commented on #15101
[code]

[2022-09-24 14:32] #15101 closed

[2022-09-24 16:43] hosseinab opened #15103 "createDepositAddress error for usdt in bitfinex2"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.93.98",
Exchange: bitfinex2
Method: createDepositAddress

hi .
my code :
params = {
    'network': "TRC20",
}
fetch_result = connection.fetch_deposit_address("USDT", params)

output :
ccxt.base.errors.PermissionDenied: bitfinex2 Unknown currency

verbose :
fetch Request: bitfinex2 POST https://api.bitfinex.co

[2022-09-24 18:31] carlosmiei commented on #15103
Hello @hosseinab,

I managed to fetch it on my end, can you please double-check your API permissions?

[code]

[2022-09-25 07:28] hosseinab commented on #15103
@carlosmiei
your account Has kyc?

[2022-09-25 10:08] Nitrix321 commented on #15070
OK, thank you :), no clou why I havent't found that command with google...

Here you can see the complete log:

fetch Request: bybit GET https://api.bybit.com/v2/private/position/list?api_key=XXXXXXXXXXXXXXXX&code=ETH&recv_window=5000&symbol=ETHUSD&timestamp=1664099982335&type=swap&sign=fbdd58eefc5e716096ad488416dc21614b86ffefa1b49e8335da3b08503f4b89 RequestHeaders: {'User-Agent': 'python-requests

[2022-09-25 10:13] Nitrix321 commented on #15070
OK, thank you :), no clou why I havent't found that command with google...

Here you can see the complete log:

fetch Request: bybit GET https://api.bybit.com/v2/private/position/list?api_key=XXXXXXXXXXXXXXXX&code=ETH&recv_window=5000&symbol=ETHUSD&timestamp=1664099982335&type=swap&sign=fbdd58eefc5e716096ad488416dc21614b86ffefa1b49e8335da3b08503f4b89 RequestHeaders: {'User-Agent': 'python-requests

[2022-09-25 13:17] #15075 closed

[2022-09-26 14:53] carlosmiei commented on #15103
@hosseinab yes it has, afaik you can't deposit/withdrawal at bitfinex without KYC

[2022-09-26 15:13] #15049 closed

[2022-09-26 15:47] #12698 closed

[2022-09-26 18:04] #15103 closed

[2022-09-26 20:04] pcriadoperez commented on #15070
Hi @Nitrix321 ,

So the issue is that too many decimals are being passed to the base_price.
You can fix this for now by changing the parameter `base_price` to `basePrice`.

I'll also open a PR to fix this to allow passing `base_price`

[2022-09-26 20:18] CNiemans opened #15110 "Kraken futures testnet : ccxt is not using the proper endpoint for auth()"
- OS: Ubuntu
- Programming Language version: python 3.7
- CCXT version: 1.89.6

[code]

[code]

[2022-09-26 21:00] pcriadoperez commented on #15110
Hi @CNiemans , Unfortunately kraken futures api has not been implemented yet. I'll open another issue to note your request.

For now I'll close this issue but feel free to raise any more questions.

[2022-09-26 21:00] #15110 closed

[2022-09-26 21:03] pcriadoperez opened #15112 "kraken - add futures api"
docs - https://support.kraken.com/hc/en-us/sections/360012894412-Futures-API

Requested by @CNiemans in #15110

[2022-09-26 21:57] pcriadoperez commented on #15083
Hi @robbielitebit ,

Correct the client only fetches the snapshot once.  I'll open a PR to solve this, so it does it on it's own after the error is thrown.

However in the meantime, you can close exchange and reopen it `exchange.close()`, however if you have other subscriptions this might not work for you. You can also set `exchange.clients[url][subscriptionHash] = undefined`

And a third options

[2022-09-26 22:06] pcriadoperez commented on #15050
Hi @Smartromain ,

It should print out an error when it fails.
If you are able to reproduce it, can you paste the verbose output?
You can turn the verbose on by `exchange.verbose = True`

[2022-09-26 22:32] caiusCitiriga commented on #4635
@kroitor how can I configure ccxtPro to use the `aggTrades` live feed instead of the default one? 😊

[2022-09-26 22:36] samgermain commented on #522
I created a [pull request](https://github.com/ccxt/ccxt/pull/15115) that should fix your specific issue. If you run into any more issues regarding this topic please let me know and I can try to solve them.

Using `decimal.Decimal` will not work on every exchange yet. There are a number of PR's that need to be merged before that will be possible.

- [ ] coinbase #15020
- [ ] bitstamp #15019
- [ ] c

[2022-09-27 01:40] sc0Vu commented on #15071
Hi @huangjosh

It works for me, they use date format in this endpoint: https://bybit-exchange.github.io/docs/futuresV2/inverse/#t-withdrawrecords

The parameters might be:
[code]

[2022-09-27 03:26] sc0Vu commented on #15066
Hi @JupiterGold

It seems they didn't have api for these method. We'll add after they update api.

[2022-09-27 03:26] #15066 closed

[2022-09-27 08:30] #15070 closed

[2022-09-27 08:51] #15037 closed

[2022-09-27 08:53] caiusCitiriga commented on #4635
I think I've figured it out... By watching the source code I've noticed that we can pass an object like this when instantiating the exchange:

[code]

Am I right?

[2022-09-27 08:59] samgermain commented on #14993
@JonathanAhrenkiel-Frellsen Even if I have the correct apiKeys and all permissions turned on and give any ip access, I still get this error if trying to access the Binance futures API in a restricted area like the U.S. or Ontario. You should probably check with Binance support to see exactly what is going on

[2022-09-27 09:02] samgermain commented on #15110
kraken futures has been implemented, the class is `krakenfutures`, not `kraken`

[2022-09-27 09:46] drusakov778 opened #15118 "duplicate code in binance fetchMarkets(), python: fetch_markets()"
Hello there,

- OS: OSX/ubuntu
- Programming Language version: python
- CCXT version: 1.93.102

I've noticed that entry['precision']['price'] is retrieved twice in the fetch_markets() code, in both sync and async version.
There's no bug and no functional change from this duplication, it is just a duplicate code.

this is the relevant code snapshot as in latest ccxt 1.93.102
[code]
in fetch_markets

[2022-09-27 12:54] oak-world commented on #11136
I understand that this is a security measure, but it is pointless to use the API if it is for the whitelist to take effect. For people like me who receive hundreds or even thousands of new users daily. Am I supposed to whitelist all their emails manually? It does not make sense to me.

[2022-09-27 14:48] Sfuarf commented on #8705
Hi there,

I have been trying to follow along with the suggestions in this post and the associated ones too.

I have found the order_id of the stop loss order as per your suggestion using the "orderType": "conditional".

However, when I go to use this in the ByBit Edit order function

`response = exchange.edit_order(id=order_id, symbol=symbol, side = side, type='Market', price=0.6100)`

I get the

[2022-09-27 16:27] Nitrix321 commented on #15070
Hi @pcriadoperez thank you very much!

[2022-09-27 17:53] YuriyTigiev commented on #12341
I have tested FTX API from the browser and found that for some symbols, 1m OHLCV data could sometimes come with 2 minutes delay. It is not the CCXT  library issue. I also planned to cache completed OHLCV data and use a combination of symbol+timeframe+since as a unique cache index, but in cases of 2 minutes delay, it will not work for me.

[2022-09-27 23:35] samgermain commented on #15112
It looks like the commit was reverted, I don't know why

[2022-09-28 02:02] drsavant-pub opened #15124 "Okcoin fetchBalance is Empty"
The output of fetchBalance for Okcoin is entirely empty.

- OS: 8.1 Windows
- Programming Language version: Nodejs 16.14.2
- CCXT version:  1.94.2

**Minimum Code: (I removed API: key, secret and passphrase.  And there are no other files to worry about now.)**
[code]

**Verbose Output:**
[code]

[2022-09-28 03:42] samgermain commented on #15124
Could you also provide the code inside these two files that you require? Could you try providing a [minimum reproducible example](https://stackoverflow.com/help/minimal-reproducible-example)?

[2022-09-28 05:57] Azure2424 opened #15126 "Bybit ccxt - How to close my position with a market order"
Hi, I've just started learning Python a week ago and a complete beginner/noob.
I have a issue that I cannot solve.

I've created a working entry bot with python to enter positions via market order on bybit, the bot gets a json message from tradingview webhook alerts of the asset it wants to enter and then enters it with 99% of my account balance.

This is what my code looks like

[code]
^ This is

[2022-09-28 07:08] ttodua commented on #12341
@YuriyTigiev thanks for sharing useful bits of infos! I will keep note of it, as I didn't expect FTX returned delayed data and misbehaved at that level.

[2022-09-28 08:37] carlosmiei commented on #15126
Hello @Azure2424,

Please check out this example where a position is open and closed: https://github.com/ccxt/ccxt/blob/master/examples/py/bybit-updated.py#L54

[2022-09-28 08:40] shivdarshan1020 opened #15129 "market sell order causing ccxt.base.errors.ExchangeNotAvailable: ftx {"success":false,"error":"Please try again later"}"
- OS: Windows Server 2012 R2 Standard
- Programming Language version: Python 3.8.10
- CCXT version: 1.93.76

[code]

[code]

Here I am trying to call a market sell order for BTC-PERP on FTX. Sometimes the order goes through just fine, but once in a while I have the above error. Can someone point me to what is this error caused by?

[2022-09-28 09:00] ryanmccoy opened #15130 "Binance WebSocket watchOrderBook reporting out-of-order nonce errors sporadically"
- OS: Ubuntu 20.04
- Programming Language version: Python 3.7.12
- CCXT version: ccxt-1.93.108, ccxtpro-1.2.35

Full disclosure: I am aware that the issue here is very possibly in userland, and possibly has to do with the greater parts of our application perhaps blocking / interrupting the websocket's ability to handle messages. I can't provide the full application's architecture, but hopefully th

[2022-09-28 09:25] drsavant-pub commented on #15124
I double checked the API Key/Secret/Password with OKCoin exchange and they're all correct

**Minimum code:**
[code]

**Same Result (Empty)**
[code]

[2022-09-28 10:57] carlosmiei commented on #15129
Hello @shivdarshan1020, that looks like an issue on the exchange side, they might be unavailable in periods of high load, for instance. If you get this often, I'd suggest contacting FTX directly because there's nothing CCXT can do since we're "only" a middleware between traders and exchanges.

[2022-09-28 14:03] pottertech opened #15131 "Poloniex"
- OS: Ubuntu 20.04
- Programming Language version: PHP
- CCXT version: 1.93.108

[code]

[code]

[2022-09-28 14:26] carlosmiei commented on #15131
Hello @pottertech as you can see you're getting a 401 error that means "unauthorized" so I would suggest double-checking your API keys. I've also tested on my side and worked fine:

[code]

[2022-09-28 14:47] pottertech commented on #15131
OK, I re-entered the API info and now it worked.  Thanks a ton!

[2022-09-28 14:47] #15131 closed

[2022-09-28 18:36] Azure2424 commented on #15126
Thanks for your help.

is there a way to make the bot choose between if it will a enter position or close position with a json text message?

so for example if the json message says “position”: “enter” the bot would enter And if it says “position: “close” it will close the open position.

[2022-09-28 23:01] Azure2424 commented on #15126
How would I go about dynamically calculating the quantity needed to close the position?

[2022-09-29 01:07] drsavant-pub commented on #15124
@samgermain

Thanks for your feedback.

You said this method works for you on OKCoin.  So, from my _Minimum code_ above does it look I'm doing something different from you, and if so, what is it that I'm doing that's different?

[2022-09-29 01:55] Azure2424 commented on #15126
When i try to close my order I'm getting this error code: AttributeError
AttributeError: type object 'type' has no attribute 'lower'

[2022-09-29 03:00] newbienoobnoob opened #15136 "ccxt.base.errors.BadSymbol"
- OS: win 10
- Programming Language version: python 3.9.12
- CCXT version: 1.93.108

That code gets the symbol, price and volume filtered at a specific time.
The code that was working normally for 2 months suddenly stopped working about a week ago because of this error.
`AXSBIDR` is the symbol that should be filtered.

If it's a problem with my Python code, I think it shouldn't have worked in the

[2022-09-29 04:33] samgermain commented on #15136
The error is correct, there is no market on binance for `AXSBIDR` or `AXS/BIDR`
I'm not really sure what your question is

[2022-09-29 04:40] samgermain commented on #15124
I can't figure out what your issue is without also seeing the code inside `../../objects/arb-exchanges`. You don't need to share you apiKeys, but you reference a few things from that object that I have no idea what they are

[2022-09-29 04:44] newbienoobnoob commented on #15136
I'd like to know why the error suddenly occurred in code that wasn't problematic. Is it a problem with my code or a CCXT problem?

[2022-09-29 04:48] samgermain commented on #15136
I can't know without seeing your code, but I do know that there is no market symbol that looks like `AXSBIDR` on binance, so if you tried to pass `AXSBIDR` as a symbol to a method, you would receive this error

[2022-09-29 05:12] newbienoobnoob commented on #15136
I have attached the code, please check it

[2022-09-29 06:33] #15126 closed

[2022-09-29 07:07] Azure2424 opened #15139 "Bybit USDT Perpetual - leverage not working"
Hi, when I try to use leverage on my order, I could see the the order getting placed and then the leverage settings get changed from 1 to 5 it also says ADAUSDT Isolated 5.00x in contracts, but the quantity is not leveraged. The order gets placed with 1x quantity.

Code to place order with 5x leverage:
[code]

[2022-09-29 09:32] aFluxx opened #15141 "[BITMART] API endpoints update"
Hi,

I just came across this message in the Bitmart API telegram channel. Does ccxt needs changes according to this message?

[code]

![image](https://user-images.githubusercontent.com/32774303/192996186-5d8f9ae2-2025-400c-b9ef-2d24943f14a8.png)

[2022-09-29 11:45] mrjamesbruno commented on #14999
Maybe you need to specify the type of account, something like this:
exchange.cancel_all_orders('BTCUSDT',{'type': 'margin','marginMode': 'cross'})

[2022-09-29 13:52] gshpychka commented on #14876
@kroitor can you shed some light on this? Q3 ends tomorrow.

[2022-09-29 14:03] carlosmiei commented on #14876
Hello @xarthurx @gshpychka, we're very very close to releasing it, as you can see here: https://github.com/ccxt/ccxt/pull/15085

[2022-09-29 14:34] wunderb1t opened #15146 "Bitget Spot incorrect remaining value calculation"
We've noticed that on Bitget Spot market `remaining` value calculates incorrectly.
This is because of `amount = info.quantity` (that represents sent quantity in `quote` currency for `buy` and in `base` currency for `sell`) and `filled = info.fillQuantity` (that represent bought|sold amount in `base` currency) and by main ccxt formula `remaining = amount - filled` there can be situations that `rema

[2022-09-29 16:45] ryanmccoy commented on #15130
Hi @pcriadoperez Unfortunately I also don't have a conistent way of reproducing this issue. There were times it ran for days without the error ever manifesting. There was a time when it would manifest in our UAT environment after a few hours or days, but went weeks never occurring in our Production environment. Then there are times it happens the moment we initialize our streamers into the greater

[2022-09-29 16:59] pcriadoperez commented on #15130
Sounds good, I'll keep this open till then.

In any case, if the error happens because a message is skipped due to network issues for example. On the the next call to `binance.watchOrderBook` the code should reconnect, and grab a new snapshot. So your downtime would be only the amount of time it would take to disconnect, reconnect and fetch the latest snapshot.

[2022-09-29 17:02] ryanmccoy commented on #15130
@pcriadoperez When it does happen, it does not recover from the issue unfortunately. It requires a full restart of the streamer at the point. And the error seems to build up strangely. Meaning the error rapidly starts to stack the longer it goes. I will be able to better illustrate this when it repeats itself (hopefully soon)

[2022-09-29 18:12] hosseinab commented on #15071
hi @kroitor . Is this bug fixed?

[2022-09-29 18:55] samgermain commented on #15124
I don't know what these lines of code do

- `new ex1[exName].ccxt_exchange( { verbose: true } )`
- Object.keys(ex1[exName].coins)

The method works for me, so it is most likely some minor piece of code that you have that is causing the problem; therefore, I'm going to need all your code to debug this, just don't share your apiKeys

[2022-09-29 20:34] samgermain commented on #15136
I'm getting `undefined name 'pairs'`, I'm going to need to know what pairs is

[2022-09-29 20:41] Azure2424 commented on #15139
Solved
If you want to enter with 5x leverage instead of * 0.99 do *5.00
if you want to enter with leverage manually your allowed to place more contracts in quantity :) so if your max account is quantity 5, you can now do quantity: 25

[2022-09-29 20:41] Azure2424 commented on #15139
Closed

[2022-09-29 20:41] #15139 closed

[2022-09-29 21:18] samgermain commented on #15118
Thanks for bringing this to our attention. I posted a fix in https://github.com/ccxt/ccxt/pull/15149

Feel free to post a fix via a PR in the future if you notice another easy fix like this!

[2022-09-29 21:29] samgermain commented on #15136
[Binance removed the axsbidr market back in february.](https://www.binance.com/en/support/announcement/f7af728484fc4e8b82cdecf017d8b18a) I know that today binance removed a lot of trading pairs for other stable coins. Maybe you had axsbidr stored in some kind of data structure that wasn't updated, and when you tried to access that market for that symbol, the market wasn't there anymore. I'm not su

[2022-09-29 23:40] samgermain commented on #14957
Without more information, this issue cannot be resolved

[2022-09-29 23:40] #14957 closed

[2022-09-30 00:11] samgermain commented on #14886
The transfer method has not been implemented for bibox, I am working on an implementation for it

[2022-09-30 00:16] samgermain commented on #15097
Did this work for you?

[2022-09-30 01:39] drsavant-pub commented on #15124
### Those Lines of code are no longer there.

**_I edited the original code_ (above) _so we don't have to worry about any other files_.**

**Note:  I also updated my version of CCXT, and I updated the verbose output, and I still get the same result - empty.**

**Now that all the other variables have been removed we can focus on what the problem might actually be.**

### Important:
**In the verbose

[2022-09-30 01:56] sc0Vu commented on #15141
Hi @aFluxx

Thanks, we'll update these endpoints soon.

[2022-09-30 08:59] Oriz1206 opened #15153 "Adviod code is unreachable when placing another order - Python"
- OS: window 10 pro 64bit
- Programming Language version: python 3.
- CCXT version:1.93.3

image1:
![image](https://user-images.githubusercontent.com/74316770/193331000-c3bd2f2a-1cc8-4063-bd0f-59d4d9ef62f3.png)

image2:
![image](https://user-images.githubusercontent.com/74316770/193232983-d45b8773-41b5-4c2f-b392-9601e1710005.png)
Hi!
As the title of the topic does anyone have solution to this prob

[2022-09-30 09:37] carlosmiei commented on #15153
Hello @Oriz1206, python is very identation-sensitive, are you sure you don't have any extra space in those statements?

[2022-09-30 09:41] #14989 closed

[2022-09-30 09:57] #15118 closed

[2022-09-30 10:10] Oriz1206 commented on #15153
Hi, Im sure that there is no extra space or any statements between and they are at the same identation!

[2022-09-30 10:11] Oriz1206 commented on #15153
Hi, Im sure that there is no extra space or any statements between and they are at the same identation!

[2022-09-30 11:50] drusakov778 commented on #15118
Thank you for quick fix. I knew that python code is autogenerated from some other code base, so I was not comfortable enough to go into another language. Great that it was amended so quickly

[2022-09-30 11:57] aFluxx commented on #15141
Thanks for looking into this :)

[2022-09-30 12:24] kaiqiangh opened #15154 "OKX batch orders"
- OS: Ubuntu 20.04
- Programming Language version: PHP 7.4
- CCXT version: 1.91.22

Just a simple question: Does CCXT support to place batch orders in one request for OKX exchange? Thanks.

Kind regards.
Kai

[2022-09-30 14:33] carlosmiei commented on #15153
@Oriz1206 do you have any error running this snippet in the terminal*

[2022-09-30 16:17] Oriz1206 commented on #15153
No, i don't. It work fine when i put it in if else statements like image3 but since I remove statements , it start look like image1. Or put those create order line in to try- except like this:
![image](https://user-images.githubusercontent.com/74316770/193311962-23cf0b5c-48cc-422e-8b75-fdf5bf8a515e.png)
It reachable tho. Seem like those place order line couldn't be placed next to each other, but a

[2022-09-30 17:39] carlosmiei commented on #15154
Hello @kaiqiangh, yes it does, you just need to set it in the options like this:

[code]

[2022-09-30 19:22] Smartromain commented on #15097
yes it worked

[2022-09-30 19:22] #15097 closed

[2022-09-30 22:21] samgermain commented on #15118
It's only autogenerated for the exchange files (those at js/exchange_name.js), and in `exchange.js` on the bottom halfish of the file

[2022-09-30 23:43] samgermain commented on #15124
Using the exact same code, I received this output

[code]

-----------------------

[code]

-------------------------

- There's a [trouble shooting part of the manual](https://docs.ccxt.com/en/latest/manual.html#troubleshooting) that might help you out
- It sounds like you have all the right permissions enabled
- run the method `fetchDepositAddress` and see if the `USDT-OKC` deposit address from

[2022-09-30 23:57] samgermain commented on #15022
So for `DOGE`, the method `fetch_private_transaction_fees` returns no withdraw fee? Can you copy and paste the response you get for that method (you'll need to have some `DOGE` in your wallet)

[2022-10-01 02:20] chatofking opened #15157 "how to get demo account api ?"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Progr

[2022-10-01 06:47] #15141 closed

[2022-10-01 07:39] drsavant-pub commented on #15124
Thank for your help.

### I found the problem and built a workaround.  The problem: there are two-accounts and ccxt queries the 'trading account'.

### The solution is: accountGetWallet() to see the balance in the 'Funding Account'.

OKCoin by default turns off transfers for new accounts.  As a result transfers are not available in the GUI.  You make a deposit and it shows up in your account.  Per

[2022-10-01 07:39] #15124 closed

[2022-10-01 11:52] danieltorscho opened #15160 "Fetching balance state on Bybit returns an empty list"
- OS: Windows 10 (WSL2 Ubuntu 20.04)
- Programming Language version: Node.js 18
- CCXT version: 1.92.89

Fetching a balance returns all 0. It does not work both on mainnet and testnet.

Balance amount for all symbols is returned as 0. API key and secret is a correct one.
Switching from bybit to binance exchange successfully returns a correct amount of balance, but not on bybit.

My actual balance

[2022-10-01 13:06] carlosmiei commented on #15160
Hello @danieltorscho,
Bybit is one of the only exchanges loading derivatives features (markets, balances, etc) by default. I suspect that your funds are under the spot wallet, so I'd suggest instantiating bybit like this:

[code]
[code]

[2022-10-01 13:13] carlosmiei commented on #15157
Hello @chatofking, I don't think FTX provides any kind of demo account/sandbox.

[2022-10-01 14:04] danieltorscho commented on #15160
@carlosmiei thank you, it works now !

[2022-10-01 14:04] #15160 closed

[2022-10-01 15:58] kaiqiangh commented on #15154
Hi @carlosmiei ,

Thanks for your reply.

I found that the default method is already set to 'privatePostTradeBatchOrders' in the function 'createOrder'.
`        const defaultMethod = this.safeString (this.options, 'createOrder', 'privatePostTradeBatchOrders');
`

Then I overwrote some piece of codes in this function (around line 2154) and works for me.
`
if ((method === 'privatePostTradeOrder') |

[2022-10-01 17:34] kaiqiangh commented on #15154
I figure out how it works now. Thanks.

[2022-10-01 17:34] #15154 closed

[2022-10-01 20:32] pcriadoperez commented on #12044
The docs mention to create a stop order we should use the parameter : `triggerPrice` (https://docs.ccxt.com/en/latest/manual.html#trigger-order) Should we change that to reflect the current `createStopOrder` function and the parameter `stopPrice` ?

[2022-10-01 21:25] pcriadoperez commented on #15063
Hi @CloudTrauma,

Thanks for the verbose output. So the issue is the `ordType` is being sent as a market and not as a Stop or MarketIfTouched. (https://github.com/phemex/phemex-api-docs/blob/master/Public-Contract-API-en.md#orderexample)
I'll open a PR so that this is changed automatically when params for a stop order are passed in. In the meantime you can pass in the params `'ordType': 'Stop'` fo

[2022-10-01 22:42] simonblack opened #15161 "ccxt pro kucoinfutures interface"
Hey all,

How would I go about creating a Kucoin Futures interface for ccxt pro and is the reason it isnt alread implemented a matter of difficulty or something im missing

cheers

[2022-10-02 01:47] samgermain commented on #522
The fix to your problem was merged, so you should be able to use the `Decimal` type with `okcoin`. Using the Decimal type will not be completely possible for all exchanges however until the PRs listed above get merged.

[2022-10-02 01:53] samgermain commented on #15161
The `kucoinfutures` CCXT class is relatively new compared to the other exchanges. I plan to write a ccxtpro implementation for `kucoinfutures` soon

[2022-10-02 01:55] samgermain commented on #15124
@drsavant-pub Would you mind sharing your workaround? The work around should be implemented within CCXT, so that the user can access both wallets by passing a value via `params`

[2022-10-02 02:13] simonblack commented on #15161
Ah okay, thanks for the update

[2022-10-02 03:38] #13849 closed

[2022-10-02 03:39] #14982 closed

[2022-10-02 04:36] samgermain commented on #15071
The bug will be fixed when #15166 gets merged

[2022-10-02 04:44] samgermain commented on #15136
Basically the error is happening because you are calling `exchange.market` with a symbol that no longer exists among binance's markets, either directly or via a method that calls `exchange.market`. You'll need to keep track of what symbols you're using, and when you refresh your exchange objects markets, you need to make sure that you're no longer retaining delisted markets elsewhere in your progr

[2022-10-02 04:44] #15136 closed

[2022-10-02 07:59] hosseinab commented on #15071
@samgermain thank you . Why does the merge take so long time?

[2022-10-02 08:14] hosseinab commented on #15022
@samgermain
my code :
[code]

output for fetch_private_transaction_fees:
[code]
output for fetch_public_transaction_fees:
[code]

[2022-10-02 08:18] hosseinab commented on #14984
@cabanossi this merge not approved ?

[2022-10-02 08:18] hosseinab commented on #14886
@samgermain thank you

[2022-10-02 10:20] ttodua commented on #14984
You have incorrectly tagged @cabanossi , you have to tag @carlosmiei

[2022-10-02 10:34] carlosmiei commented on #14984
@ttodua @hosseinab will take a look now, sorry for the delay

[2022-10-02 10:44] hosseinab commented on #14984
@ttodua i'm sorry . You're right

@carlosmiei thank you

[2022-10-02 10:48] #14984 closed

[2022-10-02 15:17] NikitaGordia commented on #2740
@creslinux unfortunately, it does't work for dapi (coin-m futures) :(
need to improve the solution

[2022-10-02 15:31] hosseinab opened #15164 "lbank2 withdraw function not have fee parameters in document"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.93.66",
Exchange: lbank2
Method: withdraw

hi . in lbank2 withdraw function writed this code :
[code]

and in lbank api doc not have fee Parameters
https://www.lbank.info/en-US/docs/index.html#withdraw-2

[2022-10-02 18:27] MyStyleAlways opened #15165 "exchange.markets['BTC/USDT']['limits']['leverage']['max'] returns None"
I tried to check the MAX Leverage of Binance Future. But my code returns None. I have no idea why I can not see it. Is this bug or am I missing something? I tried 10 different symbols, but every output was None.  I have 200USDT in my Binance Future account.

- OS: Ubuntu 20.04.5 LTS
- Programming Language version: Python 3.9.6
- CCXT version: 1.94.16

[code]
output
[code]
If you know what's going

[2022-10-02 19:29] lemozade opened #15166 "Bybit v3 unified private endpoints not working"
- OS: Monterey
- Programming Language version: Python
- CCXT version: 1.94.16

Code:
[code]

Output:
[code]

[2022-10-02 21:30] wa1one opened #15168 "Bybit: Incorrect cost calculation. How to calculate cost properly"
- OS: MacOS Monterey 12.6
- Programming Language version: node js 16
- CCXT version: 1.93.105

I'm always getting 0.1% slippage when making market BUY order (I request order within 5ms after getting quote). It's incorrect. I want to buy EXACT amount of crypto with MARKET order. I tried just `price * amount` formula as `cost` and round it to either 6 or 8 decimals. (incorrect precision?)
But slippa

[2022-10-03 00:24] kroitor opened #15171 "CCXT Pro Websockets merged with CCXT!"
Dear users of CCXT and CCXT Pro!

We are happy to announce the merge of CCXT Pro into CCXT.
CCXT Pro is now a part of the free CCXT package as of version 1.95+
All of the CCXT Pro Websocket functionality is retained in CCXT.
Please, make sure to upgrade your scripts accordingly.
You can find the examples here:

- https://github.com/ccxt/ccxt/tree/master/examples/
- https://github.com/ccxt/ccxt/tre

[2022-10-03 02:44] jshcrowthe commented on #15171
First of all thanks to all on the hard work here! As a user, the added OSS functionality is much appreciated.

I noticed that the API surface has now changed. Whereas before the import scheme was:

[code]

Importing CCXT as originally documented the watch functionality is not available. Instead I have to import at the `pro` subpath:

<details>

<summary>ESM</summary>

[code]

</details>

<details>

[2022-10-03 02:49] CloudTrauma commented on #15063
This is good for take profit and stop loss but what about trailing stop

[2022-10-03 03:02] frosty00 commented on #15171
@jshcrowthe we're going to add esm support soon #12619

[2022-10-03 03:23] xiguakaoya commented on #15171
thx!

[2022-10-03 03:44] tintinwyt commented on #14872
I got the error as well even after the ccxt pro/ccxt merge!

[2022-10-03 04:41] lowgrind opened #15173 "FTX saying reduce only orders"
I've built an automated trading algo that has been running for a month and today i got this error when trying to enter a perp position

[code]

[code]

This happened around the same time the big update happened as well for reference

Thank you

[2022-10-03 04:55] frosty00 commented on #14872
for now it should work without the limit argument, we will add support for checksums with the limit argument soon

[2022-10-03 04:58] lowgrind commented on #15173
didnt realise the environment i was in had not updated. Sorry to flag

[2022-10-03 04:58] #15173 closed

[2022-10-03 05:19] samgermain commented on #15071
It's just a matter of resources, someone needs to review it to make sure nothing will break

[2022-10-03 05:27] samgermain commented on #15022
could you also call also fetch all the balances that you have in your wallet?

[2022-10-03 08:15] carlosmiei commented on #15165
Hello @MyStyleAlways, unfortunately not every exchange provides that information through the API

[2022-10-03 08:47] ryanmccoy commented on #15130
@pcriadoperez I was able to effectively reproduce the issue by adding the time.sleep(0.5) at the end of every loop - I am assuming because this is a blocking sleep inside of an async loop (that is shared by multiple streamers inside the same thread). I have removed the sleep entirely since at best it seems like it is functionally pointless (since ccxt handles rate limiting behind the scenes) and a

[2022-10-03 08:54] ambrosestartup commented on #15171
Thank you!

[2022-10-03 14:53] suenot commented on #15171
Игорь, спасибо тебе!

[2022-10-03 15:21] neversleep007 opened #15178 "Cannot connect to Binance"
I have trouble connecting to Binance. I have to use vpn, which might be the issue. Any idea how to fix this?

# Code

[code]

# Errors

[code]

[2022-10-03 16:39] hosseinab commented on #15022
@samgermain
hi .
[code]

[2022-10-03 16:53] ALIANS-PRODUCTIONS commented on #7384
Hi there, is it possible to retrieve the borrow limits  in Cross Margin account (Binance) using CCXT?
Apologies if this is documented, this was the closes post i could find.
I need to get the last column on the screen shot below (borrow limit, depending on user account)
![image](https://user-images.githubusercontent.com/21268921/193633981-51236b74-2c2e-482f-bca5-d4ffffaefcdb.png)

Thank you

[2022-10-03 16:55] stephanrothe opened #15179 "Wrong data"
I got huobi currency data using fetchCurrencies of ccxt node library.
It works well when run only .js file .
But if i am going to run it in react app, it will get wrong data.
Of course, i settle proxy of ccxt.
Please help me.

![1](https://user-images.githubusercontent.com/71540215/193634410-2cc4c87e-505f-40a3-9aba-5adf6d6f66f1.png)
![2](https://user-images.githubusercontent.com/71540215/193634132

[2022-10-03 16:57] suenot commented on #15171
Simple example:
[code]

[2022-10-03 20:20] ViktorKov opened #15181 "fetchPositions() Error: TypeError: can only concatenate str (not "NoneType") to str"
- OS: Ubuntu 18.04 LTS within WSL of Windows 10
- Programming Language version: 3.8.10
- CCXT version: 1.92.88
- Exchange: Bitmex
- Method: fetch_positions()

Hi Igor,

This issue has been occurred 2nd time, it was already fixed once not long time ago.
What is reason of this recurring issue? Am I doing something what's causing this?

Can you have a look please.
Thanks.

[code]

[2022-10-04 03:05] sc0Vu commented on #15179
Looks like you had html error from huobi or proxy. May I ask what kind of proxy did you use?

[2022-10-04 10:36] ALIANS-PRODUCTIONS opened #15182 "Binance Cross Margin Account Borrow Limits per Security : Download via CCXT"
Is it possible to retrieve the borrow limits in Cross Margin account (Binance) using CCXT?

I need to get the last column on the screen shot below :borrow limit per asset, applicable to users account

![cross margin limits](https://user-images.githubusercontent.com/21268921/193798212-22f01553-9a91-427e-bcca-b862ad631d54.png)

[2022-10-04 11:18] janeCMD opened #15183 "I just cannot install new ccxt version"
Sorry to create request, but while installing new version of ccxt, i hit into myriad of problems which i am not able to overcome.

I copied and unzipped ccxt into directory. When including it in php, following error appears:

[code]
I installed React\Promise\Deferred using composer (according to manuals), but error doesnt disappear and i failed to google anything which could lead me to solution or

[2022-10-04 11:19] pottertech opened #15184 "PHP Fatal error: Uncaught Error: Class 'React\Promise\Deferred'"
Am I missing something? After updating to 1.95.7 my code can not find one of the React classes. I did install React using composer.  Here is a snippet of the composer.json file:
{
        "react/http": "^1.8",
        "react/socket": "^1.12",
        "react/promise": "^2.9",
        "recoil/recoil": "^1.0"

- OS: Ubuntu 20.4
- Programming Language version: PHP
- CCXT version: 1.95.7

[code]

[code

[2022-10-04 11:29] carlosmiei commented on #15184
Hello @pottertech can you try to run `composer update` ?

[2022-10-04 11:30] carlosmiei commented on #15183
Hello @janeCMD, regarding the PHP issue, just run `composer update` inside the folder and try again.

Regarding the pip error, I'll take a look

[2022-10-04 12:03] pottertech commented on #15184
I found another comment that states that we have to run composer install inside the ccxt directory before it will work with React.

[2022-10-04 12:03] #15184 closed

[2022-10-04 12:10] janeCMD commented on #15183
@carlosmiei Thank you for advice.

With bit of hacking, i was able to make it work. composer.json contained some constraints, which i am not able to satisfy easily (php8+). So i just rewrote those constraints to php 7.0 and it does work luckily.

[2022-10-04 12:24] zhangxf55 opened #15188 "Some advices on function improving for ccxt and pro"
- Binance market symbols do not follow naming conventions strictly. For example, Most of the exchanges name a swap trading symbol as BTC/USDT:USDT, but binance names a swap(actually, binance call swap 'future') trading symbol as BTC/USDT, without the suffix :USDT
- While watching an orderbook(or ticker etc...) with ccxt.pro, why not expose an callback function while the orderbook changed? This wil

[2022-10-04 15:03] #15165 closed, assigned to carlosmiei

[2022-10-04 15:04] carlosmiei commented on #15188
Hello @zhangxf55

Yes binance is one of the only exchanges that does not have yet symbols unified; we're working on it hopefully will be fixed soon

Thanks for your suggestion; we will take it into consideration

[2022-10-04 15:18] #7451 closed

[2022-10-04 18:30] daniel-lucio opened #15192 "NDAX fetch_deposits expects an array, string given"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Linux
-

[2022-10-04 18:55] #15083 closed

[2022-10-05 02:16] samgermain commented on #15178
Depending on where you live you will need to use a VPN. Make sure you use a decent vpn also, and not a free vpn that you download from the chrome extension marketplace or something.

[2022-10-05 09:26] koala974 opened #15194 "Class 'React\Promise\Deferred' not found in ccxt/php/pro/Future.php:8"
- OS: windows
- Programming Language version:  PHP
- CCXT version: the latest

[code]

[code]

[2022-10-05 11:50] #15157 closed

[2022-10-05 11:54] chatofking opened #15195 "WebSocket connection to ‘wss://stream.data.alpaca.markets/v1beta2/crypto’ failed:"
- OS:
- Programming Language version:
- CCXT version:
windows
javascript
1.94.2

---------

# CODE

[code]

# OUTPUT
[code]

[2022-10-05 11:55] danieltorscho commented on #11113
I still have an issue to successfully cancel the order, I've tried multiple combinations.

Bybit:
[code]

Error:
[code]

Do anyone know how to fix it ?

[2022-10-05 12:36] mironsv opened #15196 "How to get all public orders from exchange?"
Hi CCXT team,

- OS: Ubuntu 22.04
- Programming Language version: Python 3.9
- CCXT version: 1.95.7

code from example [](https://github.com/ccxt/ccxt/blob/master/examples/ccxt.pro/py/watch-custom-exchange-specific-streams.py)
[code]
Error:
[code]

Task: watch all public orders or trades from exchange. I mean "all users", overall. For example Binance API websocket @trade provides a stream of trade

[2022-10-05 12:41] danieltorscho commented on #11113
I came up with this solution, I had to replace `order_link_id` with `orderLinkId`:

[code]

[2022-10-05 19:49] ViktorKov commented on #15181
Hey,

The issue was announced two days ago.
The latest occurrence of the same issue was at 2022-08-29 and Igor fixed it with no time.
Ask him if you are unable to cope with it.

[2022-10-05 23:17] samgermain commented on #15194
have you run `composer install`?

[2022-10-05 23:19] samgermain commented on #15195
Websocket implementation has not been written in CCXT for Alpaca yet

[2022-10-05 23:46] samgermain commented on #15196
There's `watchOrderBook` and [`fetchOrderBook`](https://docs.ccxt.com/en/latest/manual.html?#order-book)

[2022-10-05 23:52] koala974 commented on #15194
composer ? no i use a synology NAS with php 7.4.
Its worked well before last update :(

[2022-10-05 23:55] samgermain commented on #15168
I'm thinking, but not certain, that some of the problem might be fixed by #14915 and then setting `exchange.number = decimal.Decimal`

[2022-10-05 23:57] samgermain commented on #15194
I'm not an expert in PHP, but I believe that I fixed this issue just by installing the dependencies

[2022-10-06 00:03] koala974 commented on #15194
i dont know what is composer lol just checking in was not include on synology NAS.
All my code worked well before the last update, so i think it will be possible to continue without composer ?!

[2022-10-06 08:20] #15166 closed

[2022-10-06 09:00] zhubiaogg commented on #15178
exchange.proxies = {
            "http": "127.0.0.1:7890",
            "https": "127.0.0.1:7890"
        }

![image](https://user-images.githubusercontent.com/43566543/194270090-4dab7e11-ebf8-40c8-aaf5-b754ce3bd324.png)

[2022-10-06 09:16] wunderb1t opened #15201 "Bybit.parseWsTicker TypeError: this.parseInt is not a function"
We've noticed that on Bybit throws `TypeError: this.parseInt is not a function` exception in `parseWsTicker` method.
Here is full error description:

[code]

- OS: Debian (Docker)
- Programming Language version: NodeJS, JavaScript
- CCXT version: PRO 1.2.36

[2022-10-06 09:20] carlosmiei commented on #15194
@koala974 `composer` is just a dependency manager, and since we have external dependencies to other libraries (React PHP), I don't think you can skip it, but it should be very easy to install.

Assuming you're running a Unix-based OS in your NAS, you can follow these steps: https://getcomposer.org/doc/00-intro.md#installation-linux-unix-macos

[2022-10-06 09:27] carlosmiei commented on #15201
@wunderb1t, actually I've noticed you're using the "old" ccxt.pro package, can you please uninstall it and update your `ccxt` version to 1.95.0+ ?

After updating, you should be able to import `pro` functions doing this:

[code]

[2022-10-06 09:34] zhubiaogg opened #15202 "ccxtpro how to set up proxies?"
- OS: win 10
- Programming Language version: python 3.9
- CCXT version: 1.95.11

**code**
`import ccxt.pro as ccxtpro
import ccxt
from asyncio import run
print('CCXT Version:', ccxt.__version__)
async def main():
    exchange = ccxtpro.binance({
        'options': {
            'defaultType': 'future',  # spot, margin, future, delivery
        },
    })
    exchange.proxies = {
        "http": "12

[2022-10-06 09:38] carlosmiei commented on #15202
Hello @zhubiaogg, currently it's not possible to send the `ws_proxy` as an option to the exchange (it's a work in progress) but you can always do this:

1: Set these environment variables:
[code]

2: instantiate the exchange with these options:
import ccxt.pro as ccxt

[code]

[2022-10-06 10:37] wunderb1t commented on #15201
@carlosmiei thank for answer, we updated all up to `1.95.12` version but still issue exist.

[code]

[2022-10-06 10:44] carlosmiei commented on #15201
@wunderb1t which symbol leads to this error?

[2022-10-06 10:45] wunderb1t commented on #15201
@carlosmiei ETHUSDH23

[2022-10-06 10:51] wunderb1t commented on #15201
@carlosmiei Looks like this is a old ticker that stayed in our system we will remove it.
But still maybe better to check this issue, because some future contracts can be outdated and rise that exception on runtime.

[2022-10-06 10:51] carlosmiei commented on #15201
@wunderb1t I managed to reproduce the issue, will fix it asap

[2022-10-06 10:56] krychla1 opened #15204 "[okx] erc20 network indexed as coin name"
Dear fellows.
Problematic part okx -> fetchCurrencies -> networks part.
All the coin networks are indexed by their corresponding network name, but the erc20 network, which is indexed by the coin name.
![image](https://user-images.githubusercontent.com/33096727/194293131-3b5d9195-b4ff-43b9-a79f-3cda794ab53e.png)

The root cause is, that erc20 tokens are marked as mainnet, thus following code kicks

[2022-10-06 13:17] carlosmiei commented on #15201
@wunderb1t if you update to the latest version, it should be solved now

[2022-10-06 13:54] krychla1 opened #15206 "[okx] handleOrderBookMessage - invalid array member accessed"
Hi fellows!
okx throws for a lot of pairs on handleOrderBookMessage.
Try this pair:
[code]
you should get this.
[code]
CCXT version: 1.95.12
Please take a look, thanks!

[2022-10-06 14:34] wunderb1t commented on #15201
@carlosmiei all works, thank you.

[2022-10-06 16:56] #15052 closed

[2022-10-06 21:14] carlosmiei commented on #15206
Hi @krychla1, we will take a look, thanks!

[2022-10-07 03:13] danieltorscho opened #15208 "on createOrder, bybit returns the order cost instead of the amount bought"
I have a fully functional binance exchange. While trying to implement additional "bybit" exchange, I've noticed some differences.
Once the order has been placed with the `createOrder` function for 100$, it returns two different versions of results for both exchanges:
binance: `order.amount: 0.004988`  (this is correct: 100 / 20048.11)
bybit: `order.amount: 99.96056748` (here it returns an actual c

[2022-10-07 04:54] Dan-krm commented on #15182
@ALIANS-PRODUCTIONS You can use the implicit api with a few different endpoints to fetch the borrow limit information:
### CCXT Implicit API:
https://docs.ccxt.com/en/latest/manual.html#implicit-api

### All Assets Borrow Limit:
[code]
https://binance-docs.github.io/apidocs/spot/en/#query-max-borrow-user_data

### Cross Borrow Limit:
[code]
https://binance-docs.github.io/apidocs/spot/en/#query-cro

[2022-10-07 04:54] #15182 closed

[2022-10-07 06:44] sc0Vu commented on #15208
Hi @danieltorscho

May I ask which pair did you create order (spot/inverse/linear/option)?

[2022-10-07 06:48] mironsv commented on #15196
Thank you @samgermain !
Method fetchOrderBook returns order-book-structure: https://docs.ccxt.com/en/latest/manual.html?#order-book-structure
The structure has fields: symbol, price, amount. It hasn't fields: order_id, status, etc. Therefore I can't reach my goal.

Let me describe the goal. My bot trades for **many** clients. Bot needs to watch if any of client's order was filled (executed).
1. I

[2022-10-07 07:43] ngdekhai opened #15212 "MBX_WEIGHT_1M header parameter, know your 1min limits"
Hi, I am using ccxt version 1.81.14 in php. I just talk to Binance customer support and find out that I can know whenever I am going to hit the hard-limits like 1200 weight per 1min. There is a parameter in header, MBX_WEIGHT_1M, from Binance api's response.

So my question is, how can we get the header parameter response from ccxt?

btw i am using this list of functions:
for future, i am using $e

[2022-10-07 09:53] #15206 closed

[2022-10-07 12:46] pcassimans commented on #11600
I also would like to see this exchange back in ccxt. Are the tests done?

[2022-10-07 12:59] pottertech commented on #15171
I am on PHP 7.4 but the composer.json in the package says it requires PHP 8.1.  What requires 8.1 in the ccxt package?

[2022-10-07 13:06] ProStrike-hub opened #15214 "FTX CCXT cancel SL / TP after position closes"
- Programming Language version: PHP 8.2
- CCXT version: latest

Hello, I already have the code to send orders to FTX (with TP and SL).

But since TP and SL are not 'attached' to the position and the positions are aggregated it makes a mess with orders.

I have seen people suggest cancelling all orders before opening a new one: https://stackoverflow.com/a/69371405/6014804 Which is a nice idea but u

[2022-10-07 13:11] carlosmiei commented on #15171
@pottertech React/Async
https://reactphp.org/async/

[2022-10-07 13:31] krychla1 commented on #15130
Hi fellows! I have this same problem.
Recently I upgraded to newest version of ccxt as a result of the pro merge. Since then I face the out-of-order issue for binance very often. Looking at the logs I experienced the error very rarely before (once in a few months running on 200-300 subscriptions). Now I receive it every time I create subscriptions for about 3% of subscriptions. Some of the pairs (

[2022-10-07 13:39] pcriadoperez commented on #15130
@ryanmccoy, glad to hear removing the sleep helped!

@krychla1, I compared the two versions and there shouldn't be any changes on the binance file. Can you provide a verbose output to take a further look or a way you have been able to reproduce?

[2022-10-07 14:05] pottertech commented on #15171
@carlosmiei Thanks, I changed the required block in the ccxt/composer.json file to this:

    "require": {
        "php": ">=7.4.0",
        "ext-bcmath": "*",
        "ext-curl": "*",
        "ext-iconv": "*",
        "ext-pcre": "*",
        "ext-json": "*",
        "ext-openssl": "*",
        "ext-gmp": "*",
        "symfony/polyfill-mbstring": "^1.7",
        "pear/console_table": "1.3.1",

[2022-10-07 14:17] carlosmiei commented on #15212
Hello @ngdekhai, You can activate the `last_response_headers` option to access that information, example:

[code]

[2022-10-07 14:28] carlosmiei commented on #15214
Hello @ProStrike-hub, assuming that you're keeping the order ids and using Rest only, you could do something like this:
- place tp order
- place sl order
- start a polling mechanism to detect when one or another order is closed
- after detecting, cancel the remaining

Very rough example:

[code]

Alternatively, you could use WS (they're free now) to detect in real-time which order was filled and i

[2022-10-07 15:05] domb16 opened #15216 "Bitget module missing endpoint"
Bitget module has `fetchOpenOrders` and `fetchOrder`, but this only allows symbol based search, the Bitget API itself has another endpoint:

**"GET /api/mix/v1/order/marginCoinCurrent"** - this endpoint would get all of the open orders symbol independent but based on instrument type (UCMBL, DCMBL) which is required for other endpoints anyway.

"privateMixGetOrderMarginCoinCurrent" implicit call ca

[2022-10-07 15:13] carlosmiei commented on #15216
Hey @domb16 thanks for letting us know, will be adding this endpoint to the implicit API shortly

[2022-10-07 15:50] #15216 closed

[2022-10-07 15:59] carlosmiei commented on #15216
@domb16 it should be working now

Example:
[code]

[2022-10-07 16:03] domb16 commented on #15216
Appreciate the quick turnaround feel free to close the issue!

[2022-10-07 16:25] ttodua commented on #15204
@krychla1 thanks for the report! I'll take a look and will try to submit fix soon.

[2022-10-07 17:21] hosseinab opened #15218 "mexc withdraw has error"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.95.21",
Exchange: mexc3
Method: withdraw

hi
my code :
[code]

output :
[code]

verbose output :
[code]

withdraw api version is 2 in mexc3 :

mexc.com/open/api/**v2**/asset/withdra

[2022-10-07 17:25] evan-coygo opened #15219 "FTX.US maker/taker fees not right"
- OS: ubuntu
- Programming Language version: node 14.19.3
- CCXT version: 1.95.7

FTX.US trading fees aren't correct. They're pulling from the ftx.js base class with has maker/taker as 0.2/0.7 but FTX.US has 0.1/0.2, see docs https://help.ftx.us/hc/en-us/articles/360043579273-Fees

[2022-10-07 17:57] ngdekhai commented on #15212
Hi @carlosmiei , thanks for you previous help, I got the x-mbx-used-weight data.

But I face another problem in Binance spot trade order; I am just using a simple market order (PHP), $exchange->create_market_buy_order($symbol, $amount,null);. The order is success, but the x-mbx-used-weight is 11 weight per order. Which is weird, because if it is just create new trade, it suppose to be only 1 weigh

[2022-10-07 21:08] krychla1 commented on #15130
@pcriadoperez I will take a look next week more deeply.

[2022-10-07 21:15] samgermain commented on #15196
So are you able to perform what you want to do on Binance, but your not able to perform it on Kucoin?

[2022-10-07 21:44] ProStrike-hub commented on #15214
Thank you very much @carlosmiei !

Although that's Python, I guess, and I'm using PHP (I don't know anything about Python)...
Do you have an equivalent snippet of code for PHP?

"start a polling mechanism to detect when one or another order is closed" what's this polling mechanism you're talking about? Do you have examples please?

You're speaking about WS. What's the acronym/service behind?

Than

[2022-10-07 21:45] AmirPooresv2 opened #15220 "Can't execute createMarketOrder due to "insufficient balance" error"
I executed the following code in kucoin sandbox and got this weird error:

command : `exchange.createMarketOrder('BTC/USDT', 'SELL',  0.1)`

`error : InsufficientFunds: kucoin Balance insufficient!`

I got this error while my testnet balance status is as:

[code]

 what would be the issue?
thanks in advance

[2022-10-07 22:48] GabinTB opened #15221 "Newlly added Binance Option market"
Hello,

First of all thank you for your work and the merge of CCXTPRO in CCXT, great to use!

Just an issue to know how to retreive newlly added Binance Options from Binance (future?) CCXT instance?
Is it available? If not, will it be (as a separate exchange or part of Binance Futures?)?

Thank you in advance

- OS: Linux
- Programming Language version: Python 3.8
- CCXT version: 1.95.5
- CCXTPRO

[2022-10-08 00:39] kroitor commented on #15130
From my understanding, since adding time.sleep helps reproduce this issue, then it boils down to blocking in an async context, indeed. My advice is to make sure you exclude blocking calls from within async-calls or replace your blocking I/O with non-blocking I/O.

Among the most common points of blocking could be:

- writing to a disk/file in sync-blocking mode (logs, dumps, etc)
- using the sync

[2022-10-08 02:13] CEX68 opened #15223 "FTX parses position leverage error"
- OS: Linux
- Programming Language version: Python
- CCXT version: [1.95.22](https://github.com/ccxt/ccxt/releases/tag/1.95.22)

Code that raises error
[code]

Position returned by FTX. I haven't gotten such kind position before, maybe added by FTX recently.
[code]

will result error in [ftx parse_position()](https://github.com/ccxt/ccxt/blob/master/python/ccxt/ftx.py#L2279)
[code]

My fix
[code]

[2022-10-08 02:13] lowgrind opened #15224 "ftx.fetch_positions() error"
Started happening in the last two hours. Someone else in the discord had the same error triggered around the same time

[code]

[code]

[2022-10-08 02:34] MrE-r commented on #15223
I got the same error too.

[2022-10-08 02:34] MrE-r commented on #15224
I got the same error too.

[2022-10-08 03:08] Looma1116 commented on #15224
in ccxt ftx.py -> parse_positions

original]
leverage = int(Precise.string_div('1', initialMarginPercentage, 0))

fix]
leverage = Precise.string_div('1', initialMarginPercentage, 0)
if leverage:
    leverage = int(leverage)

[2022-10-08 03:08] Looma1116 commented on #15223
in ccxt ftx.py -> parse_position

original]
leverage = int(Precise.string_div('1', initialMarginPercentage, 0))

fix]
leverage = Precise.string_div('1', initialMarginPercentage, 0)
if leverage:
leverage = int(leverage)

[2022-10-08 03:23] SpaceMonkeyForever commented on #15223
@Looma1116 can we merge this please?

[2022-10-08 03:39] kazi308 opened #15225 "Issue closing bybit position in javascript"
- OS: Mac OS 12.6
- Programming Language version: Nodejs v16.17.1
- CCXT version: 1.95.22

Hi, I am having an issue when closing a position in bybit using javascript, it does not appear to pass on the reduce_only and close_on_trigger settings set in the params, it works fine in python 3.9.13. I have posted both below. Your assistance is greatly appreciated.

Javascript:
[code]

[code]

Python vers

[2022-10-08 04:12] #15223 closed

[2022-10-08 04:59] #15224 closed

[2022-10-08 05:14] samgermain commented on #15225
You're missing the price argument, right now your setting price to be `{'reduce_only': true, 'qty':amount, 'close_on_trigger':true}` and then `params` is undefined, it works in Python because you're explicitly setting `params=params`.

You need to call the method like
`await exchange.createOrder(symbol, type, side, amount, undefined, params)`

[2022-10-08 05:30] kazi308 commented on #15225
Ah that did the trick! Thank you @samgermain

[2022-10-08 05:30] #15225 closed

[2022-10-08 05:34] samgermain commented on #15221
For the most part, you can only trade options by using [implicit API](https://docs.ccxt.com/en/latest/manual.html#implicit-api) methods that start with `vapiPublic` and `vapiPrivate`, but we do plan to add support for options to the binance class in the future

[2022-10-08 07:39] nuaimat commented on #14633
+1

Please upgrade ccxt to yarl 1.8.1

[2022-10-08 08:15] Kinzowa commented on #15224
Any idea why it happened suddenly ?

[2022-10-08 09:02] Kinzowa commented on #15171
Hello,
I changed ccxtpro to ccxt but it throws an error. How can I fix the issue ?

[code]

[2022-10-08 09:47] #14633 closed

[2022-10-08 09:48] frosty00 commented on #15219
#15228

[2022-10-08 10:18] frosty00 commented on #15219
y r u reopening this

[2022-10-08 10:18] #15219 closed

[2022-10-08 10:28] samgermain commented on #15219
The `ftxus` fees are still wrong https://github.com/ccxt/ccxt/pull/15228#issuecomment-1272287643

[2022-10-08 11:58] hosseinab commented on #15164
@carlosmiei have you any idea ?

[2022-10-08 15:23] carlosmiei commented on #15220
Hello @AmirPooresv2 I think you have all your money inside the `main` account, you have to transfer it to `trade` account to place orders
![image](https://user-images.githubusercontent.com/43336371/194714899-87917827-f6cc-4ef0-888c-2cf1db46c7bc.png)

[2022-10-08 15:27] bolikaka commented on #4035
how to fetch the ohlcv from active candle that still not closed?
i need open ,high and low values from current candle.

[2022-10-08 15:34] carlosmiei commented on #15218
Hello @hosseinab,

I don't think you should be using the `chain` parameter here (since it's the default and only chain available), can you try without it? (using only code = "TRX")

Regarding this, we will upgrade it very soon it's already in the code review process.

[2022-10-08 18:12] AmirPooresv2 commented on #15220
thanks @carlosmiei
it works :)

[2022-10-08 18:13] #15220 closed

[2022-10-08 19:17] hosseinab commented on #15218
@carlosmiei hello
for trx it was fixed . but for usdt does not work

mexc3 {"code":10232,"msg":"Coin is not exist"}

[code]

[2022-10-09 08:33] mironsv commented on #15196
Yes, I can get a websocket with public orders on Binance, but I can't find the same on Kucoin.

[2022-10-09 13:52] abinavrameshs opened #15231 "Implementing fetch_tickers() for ndax"
- OS: Windows 11
- Programming Language version: Python 3.8
- CCXT version: 1.95.2

[code]

[code]

[2022-10-09 15:36] zydjohnHotmail opened #15232 "How to get all deposit addresses for USDT for Gate exchange?"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2022-10-09 16:29] timschuiling opened #15233 "Signed load_markets results into -1100 error at binance and binance us"

[2022-10-09 16:35] ddtask2 opened #15234 "Fetching orders on Bybit futures"
- OS: macOS 12.6
- Programming Language version: python 3.8.13
- CCXT version: 1.95.28

[code]

[code]

Hello,

i'm trying to get information about filled order on Bybit, but here's something strange. Fetch_order doesn't see an order id and I can't find it in fetch_orders request too. But when I try to call fetch_order_trades, I can see all data about this order. How can I receive this information

[2022-10-09 17:34] ngdekhai opened #15235 "PHP create_market_buy_order function have 11 weight request?"
Hi, I am using ccxt version 1.81.14 in php. A simple market order, $exchange->create_market_buy_order($symbol, $amount,null), make a 11 weight request per order. The order is success, but the x-mbx-used-weight is 11 weight per order. Which is weird, because if it is just create new trade, it suppose to be only 1 weight (https://binance-docs.github.io/apidocs/spot/en/#new-order-trade)

Do you know

[2022-10-09 17:35] ngdekhai commented on #15212
@carlosmiei thanks for the help

[2022-10-09 17:35] #15212 closed

[2022-10-09 18:10] vnxz opened #15236 "backtest and optimization usage not found in document"
anyone know this package include backtesting? optimization?
I not found in documentation/

[2022-10-09 21:02] krychla1 opened #15238 "[okx] 'number': String problem"
Dear fellows,
I am with you for very long time and for nearly same amount of time I struggle with rounding/precision for numbers in your framework. I try 'number': String property, but it costs me even more headaches again and again. What is your progress with the precision problems? Is the number to string usable, or still kind do on your risk?

To the actual problem of okx, currencies.precision

[2022-10-10 02:23] cryptoCCY commented on #15236
This is a low level library used to connect to exchanges.
If you are looking for turnkey bot automation you might be looking for something more along the following lines:

https://github.com/freqtrade
https://github.com/hummingbot/hummingbot

[2022-10-10 07:57] sc0Vu commented on #15238
Hi @krychla1

IMHO, the precision should be number, some language did parse number to scientific notation, which program language did you use?

[code]

[2022-10-10 08:02] sc0Vu commented on #15235
Hey @ngdekhai

Is that value from exchange?

<img width="616" alt="image" src="https://user-images.githubusercontent.com/10494397/194821623-0dc61bfa-d3ff-4baf-b63f-6ceb1783ca1b.png">

[2022-10-10 08:17] sc0Vu commented on #15234
Hi @ddtask2

IMHO, you used stop order. Try this one:

[code]

[2022-10-10 08:26] sc0Vu commented on #15232
Hi @zydjohnHotmail

I think you can simply loop the `result.info.multichain_addresses`.

[2022-10-10 08:38] zydjohnHotmail commented on #15232
Hello:
As I am newbie with CCXT, can you please share some code on how to loop the
result.info.multichain_addresses?
Thanks,

[2022-10-10 08:44] carlosmiei commented on #14819
hey @Salz0 sorry for the delay, unfortunately no so I'd suggest reaching out to Binance directly

[2022-10-10 08:45] carlosmiei commented on #15233
Hey @timschuiling , whichlocation are you using to access binanceus?

[2022-10-10 08:53] wunderb1t opened #15239 "Bybit tickers values changes for inverse perpetual, usdt linear, inverse futures "GET /v2/public/tickers""
Hi, we receive from Bybit message that there will be some changes made for inverse perpetual, usdt linear, inverse futures tickers data.

Here is the full message:

Also they send `json` data for single BTCUSDT ticker as example:

[code]

We write about this to avoid some issues on ccxt side.

[2022-10-10 09:01] carlosmiei commented on #15239
Hello @wunderb1t, we are aware of this change and will update our method accordingly, thanks for reporting it!

[2022-10-10 09:32] krychla1 commented on #15238
Hi @sc0Vu,
Nodejs. I am not sure how the 'number': String setting works with the code you posted.

[2022-10-10 11:52] nandorcsupor opened #15242 "Digifinex - fetch_my_trades and fetch_ledger return empty array."
- OS: Linux
- Programming Language version: Python
- CCXT version: 1.95.33

exchange = ccxt.digifinex({
    "api_key": "",
    "secret": "",
})

print(exchange.fetch_my_trades())

print(exchange.fetch_ledger())

Both functions return an empty array whereas they used to work in previous ccxt versions. (Pretty sure at least fetch_my_trades used to work correctly in the middle of September)

[2022-10-10 12:51] ALIANS-PRODUCTIONS commented on #15182
Thats perfect thank you Dan!

[2022-10-10 14:31] ProStrike-hub commented on #15214
Hello @carlosmiei !

Could you please clarify what you were talking about with the "polling mechanism" and what's "WS"?

I would be very grateful! Have a nice day.

[2022-10-10 14:38] ngdekhai commented on #15235
@sc0Vu yes it is the value from ccxt function last_response_headers,

"header":{"Content-Type":"application\/json;charset=UTF-8","Content-Length":"297","Connection":"keep-alive","Date":"Fri, 07 Oct 2022 17:00:24 GMT","Server":"nginx","x-mbx-used-weight":"11","x-mbx-used-weight-1m":"11","x-mbx-order-count-10s":"1","x-mbx-order-count-1d":"2"..............

[2022-10-10 15:02] ddtask2 commented on #15234
Thanks a lot, this helped. But is there any solution to get order info regardless of it's type?

[2022-10-10 15:17] carlosmiei commented on #15234
Hello @ddtask2, not with a single request because bybit uses different endpoints depending on the order type

[2022-10-10 15:21] ddtask2 commented on #15234
Thanks!

[2022-10-10 15:21] #15234 closed

[2022-10-10 19:06] samgermain commented on #15239
bybit's `parseTicker` method doesn't read any of those fields, so no changes are required

[2022-10-10 19:06] #15239 closed

[2022-10-10 19:06] ngdekhai commented on #15235
the reason for 11 weight, is because of exchangeInfo (10 weight), and order (1 weight).

is it possible to remove exchangeInfo api?

[2022-10-10 19:56] samgermain commented on #15236
I second this, CCXT is mainly a library that's meant to send requests to the exchanges and then get information back. If you want to optimize it, I believe the javascript code is the fastest version. Maybe you could clarify what exactly you mean by backtesting and optimization? I don't think CCXT will have it though, I would recommend freqtrade

[2022-10-10 20:06] newbienoobnoob opened #15245 "Could not find query cross margin fee data."
- OS: win 10
- Programming Language version: python3 3.10
- CCXT version: 1.93.88

binance documentation - GET /sapi/v1/margin/crossMarginData (HMAC SHA256)
https://www.binance.com/en/margin-fee

I am looking for this data in ccxt. Isn't it implemented in ccxt?

[2022-10-11 07:26] amaioli commented on #14919
I put long instead buy in the side ..

Il Ven 9 Set 2022, 11:57 Igor Kroitor ***@***.***> ha scritto:

[2022-10-11 09:02] coding-lover commented on #13005
您好，您发的邮件我已收到，谢谢。

[2022-10-11 09:50] #15232 closed

[2022-10-11 11:35] #15071 closed

[2022-10-11 11:35] #15022 closed

[2022-10-11 11:36] #15164 closed

[2022-10-11 12:37] ttodua commented on #15242
I've tested myself with latest ccxt version, and everything works fine (including fetchMyTrades and fetchLedger).
Please re-test and consider reading https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help
feel free post a further comment if you think there is still an issue in ccxt

[2022-10-11 12:37] #15242 closed

[2022-10-11 14:24] carlosmiei commented on #15245
Hello @newbienoobnoob

You can do it using the implicit API:

Example:

[code]

[2022-10-11 14:41] ttodua opened #15249 "missing `market.limits[amount|cost]min` for exchanges:"
exchanges, that are missing both `market.limits.amount.min`  or  `market.limits.cost.min` (SPOT markets atm)

 - [ ] aax : cost
 - [ ] alpaca : cost
 - [ ] bigone : amount
 - [ ] bit2c : amount & cost
 - [ ] bitbank : cost
 - [ ] bitbns : amount
 - [ ] bitfinex : cost
 - [ ] bitfinex2 : cost
 - [ ] bitflyer : amount & cost
 - [ ] bitforex : cost
 - [ ] bitget : amount & cost
 - [ ] bithumb : amoun

[2022-10-11 14:46] ttodua commented on #14569
it was [once added](https://github.com/ccxt/ccxt/issues/5787), but then got delisted.
So, I'll close this topic for now, unless some further thoughts.

[2022-10-11 14:46] #14569 closed

[2022-10-11 14:48] #14558 closed

[2022-10-11 14:52] ttodua commented on #14529
I think I will mark the question as closed, because ccxt works as expected. please post more details when you have an issue , by looking through: https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2022-10-11 14:52] #14529 closed

[2022-10-11 14:59] ttodua commented on #14506
I'll mark the topic as closed. let us know if you have any further issues with CCXT.

[2022-10-11 14:59] #14506 closed

[2022-10-11 15:00] ttodua commented on #14501
You will no longer face the similar issue, as ccxt pro is now integrated in ccxt.

[2022-10-11 15:00] #14501 closed

[2022-10-11 15:01] ttodua commented on #14497
I'll mark the topic as closed, because it got the valid answer. let us know if you have any issue with CCXT.

[2022-10-11 15:01] #14497 closed

[2022-10-11 15:04] ttodua commented on #14424
@wunderb1t can you please post a further update on this issue? CCXT pro has been integrated into CCXT.
please update your code, retest it and let us know. If the issue is gone, please consider marking the issue as "closed".

[2022-10-11 18:51] #15218 closed

[2022-10-11 18:54] bizantom opened #15250 "Huobi: Cannot place an order in one-way mode on the USDT-M cross contract"
- OS: MAC OS X
- Programming Language version: JS
- CCXT version: 1.95.36

Hi,

I don't manage to place an order on the USDT-M cross margin contract when the one-way mode is enabled. I got the following error: _One-way mode currently; Unavailable to place orders in hedge mode._
I don't have any opened position nor opened order, so I don't get what means this error message.

The same code is workin

[2022-10-11 18:59] hosseinab opened #15251 "mexc3 withdraw function has bug"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.95.37",
Exchange: mexc3
Method: withdraw

hello
in mexc document for withdraw chain writed this text (https://mxcdevelop.github.io/apidocs/spot_v2_en/#withdraw):
withdraw  USDT to TRX must set this parameter to  **"TRC20"**...

in mexc3 class writed networks :
[code]
and run withdraw function for usdt :
in ve

[2022-10-11 22:06] #15236 closed

[2022-10-12 01:53] samgermain commented on #15251
@hosseinab Thanks, do you know how to create a PR? If you know what the fix is, a PR would be a lot easier. If you need some help creating a PR, you can message me on discord (samweow#8804) or email me (sam.germain@usask.ca)

[2022-10-12 02:02] samgermain commented on #15231
There is no api endpoint on NDAX that would return the ticker for multiple symbols, so we cannot implement the `fetchTickers` method for ndax

[2022-10-12 02:02] #15231 closed

[2022-10-12 02:50] samgermain commented on #15250
There's a few problems with your code.

- You're assigning the constant `client` and then calling `this.client`, `this.client` isn't a thing, take away the `this`
- You're setting defaultType of future even though the symbol you are reading is swap (read the [contract naming conventions](https://docs.ccxt.com/en/latest/manual.html#contract-naming-conventions))
- You're using await outside an async

[2022-10-12 03:26] newbienoobnoob commented on #15245
thanks bro!

[2022-10-12 06:38] hosseinab commented on #15251
@samgermain thank you . I will send a message to you

[2022-10-12 07:34] #15245 closed

[2022-10-12 07:36] #15129 closed

[2022-10-12 08:54] zydjohnHotmail opened #15256 "Unable to get deposit address for USDT at exchange AAX"
- OS: Windows 10
- Programming Language version: Node JS (Version 18.10.0)
- CCXT version: 1.95.36

Hello:
I want to use CCXT JavaScript to get all deposit addresses in my AAX exchange account.
The following is my node JS code:

[code]

When I run the script, I got the following output:
[code]

But when I login to my account in AAX exchange, I can see that I have 7 different deposit addresses on d

[2022-10-12 10:16] BongSuCHOI opened #15258 "Computational performance in Node.js too slow"
hello. I'm making a cryptobot with Node.js.

I've created a trading signal logic at the moment, and my tests have found that the calculation speed is too slow.
Is there any way to improve that issue?

I did a lot of searching but couldn't find a solution in Node.js.

But as far as I know, Python does a good job in this area.
In addition, I know that Python and Node are interoperable.

Then, in my

[2022-10-12 10:42] nandorcsupor commented on #15242
@ttodua Thanks for checking it, but I think there is still an issue. I confirmed that my API key is active by calling fetch_deposits, which seems to work like it used to. I also tried getting a new key from the website but I get the same results. Still both "fetch_ledger" and "fetch_my_trade" return an empty array, even though I have made several trades and when I first implemented this exchange I

[2022-10-12 11:39] nandorcsupor opened #15259 "Bkex - fetch_closed_orders returns an empty array."
Note: - I have the same issue with Digifinex, only difference is that there I have issues with fetch_ledger and fetch_my_trades. (https://github.com/ccxt/ccxt/issues/15242)
- While previously both returned my transactions, now all of a sudden they do not. I still have the previous returned transactions saved so I'm sure they did in fact work. I also tried with new api credentials for both exchange

[2022-10-12 11:45] xmatthias opened #15260 "rendered Documentation updates"
- CCXT version: latest (not really relevant)

it seems like the documentation under https://docs.ccxt.com/en/latest/ is not being updated correctly.

Looking at 8dd987c0bfe7a6c4eb4c12b1a3805cfcf567ed3d (one of the latter commits that update the documentation) - we can see that the "Open Interest" section is missing from the rendered docs.

![image](https://user-images.githubusercontent.com/5024695

[2022-10-12 11:53] hosseinab commented on #15251
@samgermain please set this networks for mexc3 class .

[2022-10-12 11:55] ChenHaoJie9527 commented on #8429
hello,I didn't receive the method you said

[2022-10-12 13:44] pcriadoperez commented on #15258
Hi @BongSuCHOI ,

So Node.js is actually faster than python, as node.js is a compiled language while python is interpreted. However the difference in performance is really minimal and don't think this is your issue. To reduce complexity I would recommend sticking to the language you feel more comfortable in.

The slowest part in your code will be the calls to the server much more than the calculat

[2022-10-12 13:44] #15258 closed

[2022-10-12 13:50] ttodua commented on #15242
@carlosmiei do you have any ideas?

[2022-10-12 14:05] bizantom commented on #15250
Indeed I did not clean my code properly after extracting it from my project, sorry for that. But the issue is not here.

This request is rejected when we are in one-way mode but accepted when we are in hedge mode. I just got an answer from the Huobi support. The issue comes from the offset parameter. This one is required in hedge mode, but not in one-way mode. If it is set in one way-mode, the val

[2022-10-12 15:48] danieltorscho commented on #15208
I fixed it with some temp fix like rewriting the values:
[code]

[2022-10-12 15:49] #15168 closed

[2022-10-12 16:27] big100 opened #15262 "Do you have any information to verify the ID of the referral account?"
Below is an example. You can get the information below from bybit.
Is there any way to get below information from ccxt?
No matter how much I search, I can't find it, so I'm asking.

Inviter ID (the UID of the account which invited this account to the platform)

![image](https://user-images.githubusercontent.com/37491415/195397591-2cc08743-3d1f-43ca-8ee7-1e4b0c1634ce.png)

[2022-10-12 17:24] carlosmiei commented on #15262
Hello @big100,
Yes you can call it using the implicit API.

Example:
[code]

[2022-10-12 18:20] big100 commented on #15262
Thank you very much.
I thought about it a lot, but thanks to you, it was solved.

[2022-10-12 18:21] big100 commented on #15262
@carlosmiei
Thank you very much.
I thought about it a lot, but thanks to you, it was solved.

[2022-10-12 18:22] #15262 closed

[2022-10-12 19:06] zydjohnHotmail opened #15264 "Unable to get account balance at exchange Bigone - Access denied!"
- OS: Windows 10 (Version 21H2)
- Programming Language version: Node (version 18.10.0)
- CCXT version:  1.95.40

Hello:
I want to use CCXT JavaScript to get balance from my account with exchange Bigone.
The following is my node JS code:

[code]

When I run the script, I got the following output:

[code]

When I login to my account, I can see that I have passed KYC verification, and my API_Key and

[2022-10-12 20:05] xmatthias opened #15266 "python watchOHLCV unexpectedly slow"
- OS: python
- Programming Language version: 3.10.7
- CCXT version:1.95.43

running the watch_ohlcv sample, the call to `watch_ohlcv()` seems to take unexpectedly long.
While i can understand the first call taking longer (create websocket, ...) - i'd expect subsequent calls to be quick.

based on the [documentation](https://binance-docs.github.io/apidocs/spot/en/#kline-candlestick-streams) - the s

[2022-10-12 20:18] Chuox commented on #9921
I just get:

`BadRequest: binance {"code":-1101,"msg":"Too many parameters; expected '3' and received '4'."}`

[2022-10-12 22:33] samgermain commented on #14886
I pushed a PR to add transfer to bibox, once it's merged you will be able to use it the same way that [binance transfer](https://github.com/ByteX-Dev/ccxt/blob/3bb0b0a7428943306e8df26ac22d3e57f78ed581/examples/py/binance-universal-transfer.py#L1) is used, but on bibox, all transfers must be made to/from main

[2022-10-13 03:32] dugusanfeng opened #15273 "OKEX exchange client does not support trade account transfer from master account to sub account"
- OS: Linux
- Programming Language version: nodejs v14.18.1
- CCXT version: 1.95.36

OKEX exchange client does not support trade account transfer from master account to sub account

[code]

Print request:
[code]

OKEX official documentation about the API description：

![image](https://user-images.githubusercontent.com/12732760/195492711-daced63e-8aca-4a65-b27d-02633166da7e.png)

[2022-10-13 06:02] Dan-krm commented on #15260
I think I edited the wrong manual file in the Okx PR that you mentioned. I attempted to adjust the correct manual file in this PR: #15254 it looks like that hasn't worked yet though. Hopefully some other CCXT team members can provide some insight because I'm currently unsure of what the root of the issue is

[2022-10-13 06:15] xmatthias commented on #15260
It's not pinned onto that commit specifically.

https://readthedocs.org/projects/ccxt/builds/ shows that the build is failing with the below error - which seems to be a generic error (maybe caused by some dependency update without pinned version ...)

![image](https://user-images.githubusercontent.com/5024695/195516326-be9c4d97-dd7b-4a14-885c-cf63c14580d3.png)

[2022-10-13 09:03] samgermain commented on #15273
@dugusanfeng  Could you clarify what this issue is about please?

[2022-10-13 09:56] #15251 closed

[2022-10-13 10:29] ndubel commented on #8964
@kroitor @ttodua at least for me `fetchOpenOrders()` stop working on kuna v2 yesterday.  Maybe some temporarily problem or maybe they stopped to support this endpoint. Is there any terms when v3/v4 will be implemented?

[2022-10-13 11:02] #15250 closed

[2022-10-13 12:42] adradr opened #15277 "Wrong argument in docs for OKex"
[code]
should be changed to reflect actual code to:
[code]

https://github.com/ccxt/ccxt/blob/a200ae66b3c7c1cba72284cbbc3cf8ca2a3abf85/python/ccxt/okx.py#L4460

[2022-10-13 13:15] carlosmiei commented on #15277
Hello @adradr `marginMode` is the unified term used by ccxt across all exchanges to describe the margin mode

[2022-10-13 13:23] adradr commented on #15277
I got that but it was returning with an error for `okex` (using `ccxt==1.92.30` )
[code]

![Screenshot 2022-10-13 at 15 23 22](https://user-images.githubusercontent.com/9167422/195608481-30385308-3134-4501-85b5-aa89b591236c.png)

[2022-10-13 13:39] carlosmiei commented on #15277
Hello @adradr what is your ccxt version? I think this issue is fixed on the latest versions of ccxt

[2022-10-13 14:01] ProStrike-hub commented on #15214
Hello,

Sorry to tag you @samgermain @pcriadoperez @sc0Vu @frosty00 @Dan-krm @ttodua but @carlosmiei seems to be inactive...

Could one of you provide more info, or examples if possible, about this "polling mechanism" and "WS" Carlos was talking about please?

The idea is to detect when a TP/SL is hit/filled on FTX and to cancel its opposite order.
- Programming Language version: PHP 8.2
- CCXT ve

[2022-10-13 14:12] carlosmiei commented on #15214
Hello @ProStrike-hub

sorry for the delay, the "polling mechanism" might be as simple as the while True in the snippet above, it's just something that periodically checks the order state.

WS refers to websockets, that allows for real-time updates if you have an open connection, so instead of you asking the server constantly,  the server would notify you when an update occurs, you can check plenty

[2022-10-13 14:54] #14886 closed

[2022-10-13 17:06] big100 opened #15279 "Receive data from upbit to websocket symbol is displayed as None."
Receive data from upbit to websocket
symbol is displayed as None.

-source code-

import ccxt.pro
import asyncio

async def __connect_socket():

    exchange = ccxt.pro.upbit(config={
    'enableRateLimit': True,
    })
    await exchange.load_markets()
    while True:
        print(await exchange.watch_order_book("KRW-BTC"))

asyncio.run(__connect_socket())

-result-

{'asks': [[27547000.0, 0.072

[2022-10-13 17:12] carlosmiei commented on #15279
Hi @big100, thanks for reporting it will be added asap

[2022-10-13 17:29] carlosmiei commented on #15279
@big100 yes the change will be propagated to all languages, don't worry

[2022-10-13 17:30] big100 commented on #15279
@carlosmiei
thank you. The program is very well used.

[2022-10-13 18:09] #15279 closed

[2022-10-13 19:58] ttodua commented on #15259
same for me as mentioned in #15242 , I am getting responses.
@carlosmiei same here.

[2022-10-13 20:04] ttodua commented on #15242
@nandorcsupor as you say that it worked in September, then please check any version from September builds. i.e.
https://github.com/ccxt/ccxt/archive/d94d3c1247346abaa25dbb025ecbc0f297b1e16a.zip  (1st september, or you can choose any state hash number from [here ](https://github.com/ccxt/ccxt/commits/master?after=b91e0b06dfe067b2ccd7fed6413a7e0298e78f26+1154&branch=master&qualified_name=refs%2Fhead

[2022-10-13 20:17] ttodua commented on #8964
@carlosmiei if you want, assign this to someone (this would be equal to 'new exchange' implementation, as v4 is expected to be quite different from v2. I'd like to continue working on base-things (have found myself more comfortable working in those architectural/base things), but if no-one has time and you think this is priority and want to assign to me, then lmk.

[2022-10-13 21:11] zydjohnHotmail opened #15282 "How to fix the timestamp ahead of server’s time error?"
- OS: Windows 10 (Version 21H2)
- Programming Language version: Node JS: v18.10.0
- CCXT version: 2.0.1

Hello:
I want to load one symbol markets for Binance, the following is my Node JS code:

[code]

When I run the above code, I got the following output:

[code]

I am in Timezone (GMT+2 – Madrid), and I setup my windows 10 PC to synchronize time automatically.  But the error is kind of rather re

[2022-10-13 21:26] carlosmiei commented on #15282
Hello @zydjohnHotmail, please check out this thread: https://github.com/ccxt/ccxt/issues/936

[2022-10-14 02:06] BongSuCHOI commented on #15258
@pcriadoperez

The answer was late.
thank you! I think I found the keyword of performance improvement refactoring after hearing your answer.

Looking closely at my code, asynchronous functions such as the fetchOHLCV() function were being called multiple times.

If the problem still occurs after improving the performance, I will open the problem again, thank you!

[2022-10-14 02:28] pcriadoperez commented on #15266
Hi @xmatthias ,
As you mention correctly the update speed of binance is 2000ms, so it makes sense there is one message every 2 seconds.

The way the all our watch calls work is they create a future and wait for a message from the exchange, when they receive a message it returns a response. So in this it's not that the call takes 2 seconds to send to the server, but the call is waiting for binance

[2022-10-14 05:05] sc0Vu commented on #15208
Hi @danieltorscho

You're right, the amount, filled and cost should be present as base currency (https://github.com/ccxt/ccxt/wiki/Manual#order-structure), it seems to be quote currency in bybit spot trade.

We'll fix this asap.

[2022-10-14 05:24] xmatthias commented on #15266
so what you're saying is that binance is unreliable in this regard - document the response to be every 2s - but in reality, it's something between 2 and 3 seconds?

in the above output - we're seeing wait-times of 2.6 and 2.8 seconds (suggesting binance was "late" by .6 and .8 seconds.

i've also observed waits of 17s (although on a higher timeframe) - but their documentation doesn't suggest that

[2022-10-14 07:47] zydjohnHotmail commented on #15282
Hello:
I didn't test this, but another way seems working:
await exchange.load_time_difference()

[2022-10-14 07:47] #15282 closed

[2022-10-14 09:18] #15256 closed

[2022-10-14 11:18] ProStrike-hub commented on #15214
Thank you @carlosmiei !

Okay I understood what you meant about "polling mechanism" now.

I'm interested in the WS, though I see several features for multiple exchanges but not FTX...
When looking at the "many-exchanges" I only see WS about 'orderbooks' and 'streams'.

Could you please specify which one will allow real-time updates on my current trades at FTX please?

[2022-10-14 12:31] danielgxm commented on #9234
thank you!

[2022-10-14 13:13] Nitrix321 opened #15290 "Bitmex Bad Request Error "Invalid orderQty" ETHUSDT and XBTUSDT"
Hello,

I don't know what to do anymore. Perhaps someone can help me, please.

I get an order quantity error on Bitmex with ETHUSDT and XBTUSDT. I already tried with different amounts per order. If I place the orders manually on Bitmex Exchange it works.  Available Amount in the USDT wallet is round 20 USDT.

- OS: Windows 10
- Programming Language version: Python Spyder 3.9
- CCXT version: 1.92.8

[2022-10-14 14:06] danieltorscho commented on #15208
thanks for pointing this out, now it's like so:

[code]

[2022-10-14 15:45] ptfu0 opened #15291 "Can we add timestamp?"
https://github.com/ccxt/ccxt/blob/b9bb41b888d52c54316390a18f4258ab3c5dd917/python/ccxt/bitmart.py#L982
return self.parse_order_book(data, symbol, data['timestamp'], 'buys', 'sells', 'price', 'amount')

[2022-10-14 15:48] ptfu0 opened #15292 "I think I found a couple of small errors."
https://github.com/ccxt/ccxt/blob/b9bb41b888d52c54316390a18f4258ab3c5dd917/python/ccxt/bybit.py#L2104-L2106
I think result not response:
        timestamp = self.safe_timestamp(result, 'time_now')
        if timestamp is None:
            timestamp = self.safe_integer(result, 'time')

[2022-10-14 15:54] ProStrike-hub opened #15293 "Fetch Positions & Cancel All Orders in PHP"
- Programming Language version: PHP 8.2
- CCXT version: latest

Hello,

I'm trying to use functions **"Fetch Positions"** (https://docs.ccxt.com/en/latest/manual.html#positions) and **"Cancel All Orders"** (https://github.com/ccxt/ccxt/wiki/Manual#canceling-orders).

But **in the documentation**, links above, **code is only in JavaScript**...
I've been looking for examples of someone using it in P

[2022-10-14 15:58] ptfu0 commented on #15291
Hello! Bitmart provides it. Here is the corrected code:
return self.parse_order_book(data, symbol, data['timestamp'], 'buys', 'sells', 'price', 'amount')

[2022-10-14 16:00] carlosmiei commented on #15292
Hello @ptfu0, yes you're right, thanks for reporting it, will be fixed asap

[2022-10-14 16:06] ProStrike-hub commented on #15293
Same thing here for unified orders (TP and SL tied): https://github.com/ccxt/ccxt/issues/13822#issuecomment-1158682202
![image](https://user-images.githubusercontent.com/76970433/195891623-81b04717-6480-4eae-9656-a69e178dcb97.png)
I guess this is JavaScript and couldn't find an example of it in PHP?

[2022-10-14 16:19] carlosmiei commented on #15291
@ptfu0, you're right again, my bad 😅, it will also be fixed soon!

thanks!

[2022-10-14 16:32] carlosmiei commented on #15293
Hello @ProStrike-hub,

Have you come across this folder? we have a lot of PHP examples here: https://github.com/ccxt/ccxt/tree/master/examples/php

In this case, you might want to take a look at https://github.com/ccxt/ccxt/blob/master/examples/php/bybit-updated.php because it uses the methods you mentioned.

Usually, this is done by issuing an order in the opposite direction of your position with

[2022-10-14 16:34] #15291 closed

[2022-10-14 17:14] #15292 closed

[2022-10-14 17:29] ProStrike-hub commented on #15293
Hello @carlosmiei,

Thanks for your answer.

I have already checked in there, yes. There's nothing I mentionned.

This one helps a bit.
I understood how to fetch positions, thanks.
But still, it doesn't explain how to open unified positions (TP & SL tied). Could you please provide an example of that in PHP?

I found this: https://github.com/ccxt/ccxt/issues/9095#issuecomment-830615910 which does t

[2022-10-14 17:31] onasipim commented on #14956
It seems that kucoinfutures.py has not yet implemented the stop order routes. The regular kucoin.py has it
https://docs.kucoin.com/#stop-order

@kroitor Could this be done? Or am I missing something? Thanks

[2022-10-14 20:22] ttodua commented on #15214
@ProStrike-hub here, under `has` key, you can see which exchange supports which `watch` method: https://github.com/ccxt/ccxt/blob/master/js/pro/ftx.js#L14
 about trades/orders, you will need to use  `watchMyTrades` or also `watchOrders` for similar purpose.
let us know if it makes thing clear for you, and feel free to re-open the issue.

[2022-10-14 20:22] #15214 closed

[2022-10-14 21:18] ProStrike-hub commented on #15214
Thanks @ttodua
I'm using PHP and not JS so I checked this file instead: https://github.com/ccxt/ccxt/blob/master/php/pro/ftx.php

Okay I need to use `watchMyTrades` and/or `watchOrders`, understood.
But I have no clue of what to do next. Your colleague @carlosmiei kindly recommended:

But at that time I didn't even knew WS = WebSockets. I've never used any kind of WS, yet.
So I have no idea what t

[2022-10-15 01:10] jester94 opened #15303 "don't cancel algo order in okx"
The following content is translated by google

First of all, thanks to all the developers

I have a problem, I am on the okx exchange, I want to place a strategy order, the ordType is a Trigger order. at present, I can place the order smoothly, however, I cannot cancel this order

OS: Mac mini monterey 12.6
python: 3.9.13
ccxt: 2.0.10
okx: testnet

Place algo order code:
[code]

In the background

[2022-10-15 07:13] hosseinab opened #15304 "load fetch_ticker in all exchange with async"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^1.95.37",
Exchange: -
Method: fetch_ticker

hello
i want load fetch_ticker in all ccxt exchanges with async. i write this code :
[code]

this code is works . but often time some exchange get error like this :
[code]

how to fix this problem ?

[2022-10-15 10:27] carlosmiei commented on #15303
Hello @jester94,

since OKX requires different endpoints depending on the order type, you must provide an extra `param` (`stop`) upon fetching/canceling algo orders, so ccxt knows which endpoint to use.

Can you try to do this?

[code]

[2022-10-15 11:25] zydjohnHotmail opened #15306 "How to implement fetchCurrency?"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2022-10-15 11:46] jester94 commented on #15303
@carlosmiei **Wow, Thank you very, very much.**
I successfully solved the problem, I can successfully cancel the order, In the okx website, it can be confirmed that the order has been cancelled.

**cancel algo order:**
[code]

May I ask you for advice? Why is it necessary to add `"stop":True`  parameter?
Thanks again for your help.

[2022-10-15 15:59] jester94 commented on #15303
Thanks.

[2022-10-15 16:00] #15303 closed

[2022-10-15 19:42] derki-source opened #15307 "bitmart deposit timestamp and datetime error"
- OS: any
- Programming Language version: python
- CCXT version: 2.0.25

after trying to get deposits, most probably withdrawals too with `since` parameter
[code]

[code]

check the python implementation syntax:
https://github.com/ccxt/ccxt/blob/b58ad0ef1b2f3e83c3ffa67f4ab3ac97793a3520/python/ccxt/bitmart.py#L2201-L2202
it doesnt seems to have sense nor effect.

Resulting returning `None` for ever

[2022-10-15 20:39] zydjohnHotmail opened #15308 "Is this a bug or real data from Binance Testnet?"
- OS: Windows 10 (Ver 21H2)
- Programming Language version: NodeJS (Ver 18.10.0)
- CCXT version: 2.0.25

[code]

[code]

Hello:
I want to write some code to parse order book for one symbol (ETH/USDT), from Binance production exchange, I can see that there are both bids/asks data, but in Binance test net, there are only asks data, the bids data is empty.
Let me know if it is a bug in CCXT or it is

[2022-10-16 08:23] ttodua commented on #15290
Hi,
You have shown what variables you use, but you haven't shown how you execute `create_order` method. please include that line too

[2022-10-16 15:42] sc0Vu commented on #15306
Hi @zydjohnHotmail

There are `currency(code)` and `safeCurrency(currencyId, currency` in Exchange class, you can use them to get currency.

[2022-10-16 20:28] ttodua commented on #15290
After checking this issue, I have to mention few things:
- at first, if you use ccxt, it's recommended that you use the unified symbol format - https://docs.ccxt.com/en/latest/manual.html#perpetual-swap-perpetual-future  so, in your case, you need to use `BTC/USDT:USDT` as symbol:
[code]
- you might also check the `.limits.amount.min` property of your desired market, for example:
[code]
- lastly,

[2022-10-17 01:04] riemanncode opened #15312 "Wait longer before raising Request timeout Error."
When fetching data from Binance, it happens (rarely) that my internet wi-fi goes slow, for few minutes. How to tell to ccxt to "wait longer" before interrupting the code?

[code]

Thank you

[2022-10-17 04:04] sc0Vu commented on #15307
Hi @derki-source,

I didn't get those error. Probably there is missing `apply_time` in the history data.

Would you like to paste the record (remove `id`/`tx_id`/`amount`/`address` some sensitive data)?

[2022-10-17 04:08] sc0Vu commented on #15312
Hi @riemanncode

The default timeout is 10 seconds, you can update value when initialize exchange object.

[code]

[2022-10-17 10:49] derki-source commented on #15307
Hey,

`apply_time` is present in the data. The problem is not that the data is missing, its in the python implementation itself, check the code i am reffering the if condition doesnt make sense:
`timestamp != timestamp if 0 else None, `
that means use:
`timestamp != timestamp`
if the this condtion is met:
`if 0` - which will be always False
and if the condition is not met use:
`None`

so for every

[2022-10-17 11:04] zydjohnHotmail opened #15313 "Technical Issue with Withdraw."
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2022-10-17 11:41] sc0Vu commented on #15313
Hi @zydjohnHotmail

In your case, you need to use network (we've unified this parameter, please see doc: https://github.com/ccxt/ccxt/wiki/Manual#withdrawal).

[code]

If you didn't set the network, the default is ERC20, you can get this information from: (GET /sapi/v1/capital/config/getall `await binance.sapiGetCapitalConfigGetall()`).

[code]

BTW, here is network list we support:

[code]

[2022-10-17 13:07] Nitrix321 commented on #15290
Ok, thanks. I will try it and then answer again here.
I tried several order types. Limit order and market order

market_order like this:
bitmex.create_market_buy_order(symbol, pos_size)

limit order like this:

ask = ask_bid()[0]
bid = ask_bid()[1]

        asklimit = ask + 0.05
        bidlimit = bid - 0.05

bitmex.create_limit_buy_order(symbol, amount, bidlimit)

[2022-10-17 13:49] Nitrix321 commented on #15290
Hi, I have tried as you said, but still the same error:

Heres part of my code:

bitmex = ccxt.bitmex({'enableRateLimit': True,
                       'apiKey': bitmexconfig.api_key,
                       'secret': bitmexconfig.api_secret,})

symbol = 'BTC/USDT:USDT'
amount = 0.001    # tried several amounts between 0.001 and 200    --> always the same error

available amount on my wallet is 20.9

[2022-10-17 13:53] ttodua commented on #15290
sorry, before ` bitmex.market()` function you need to load the exchange markets `bitmex.loadMarkets()` (that happens automatically inside `create_order` or any method, but if you dont call any ccxt method, then you need to manually load markets at first, and the use  `.market()` function.

but again, please wait for a while before this PR https://github.com/ccxt/ccxt/pull/15311 is merged & closed.

[2022-10-17 14:50] ttodua commented on #14411
we are in the process of filling up the missing `.limits.amount.min` & `.limits.cost.min` fields for markets.
Please open one issue per exchange, if you feel some of them has a bug or missing data (the data that is present in API but not being set in unified ccxt fields).

[2022-10-17 14:50] #14411 closed

[2022-10-17 21:20] RoscoeTheDog commented on #14597
Do we have an update to this issue? I saw @DoctorSlimm was unassigned 6 days ago, but I was hoping for a bug fix solution instead of just a temporary workaround. I use Kucoin Futures mostly and want to run a lot of strategies simultaneously.

[2022-10-18 00:52] CMcGoldrick commented on #6456
hello, I keep getting the following error "X-Auth-Timestamp header is out of boundaries" - however, I confirmed I am getting the current UTC timestamp (at time of writing: 1666054262)

[2022-10-18 02:27] dugusanfeng commented on #15273
@samgermain The master account of OKEX exchange transfers funds to the sub-account. The interface request parameters from and to support two options of 6 and 18, and the sdk is currently hardcoded as 6

[2022-10-18 03:43] Clairewangxiaotong opened #15327 "I did not get anything from fetch_currencies(),please help me!"
# create an exchange

[code]

----output----

[code]

[2022-10-18 03:46] Clairewangxiaotong opened #15328 "Is there anyone who know how to get options dataframe from ccxt? Thanks for your answer."

[2022-10-18 05:00] KindSpidey opened #15329 "Is there an any way to make buy faster and to catch coin on the start of growth, not on spread?"
Situation: I've created crypto trading robot using ccxt, which boy coins when they get news about listing on Binance. I'm listening Telegram channel. and when news come, robot buys token on Gate.

This morning there was the listing of token APT, and I am not very happy of how my robot has dealt with it. Can you look at my code and give advices how to improve it and make it faster.

First. as you c

[2022-10-18 07:35] krychla1 commented on #15329
You provided very little information to analyze this. Additionally 5min granularity is too high, if you want to analyze problems in seconds.
From what you posted it seems, that you are too slow with everything that proceeded the orders stuff. You create limit order at time, when the price was already too high, you cant expect to execute an order at 0.0042 when you get your ticker at more than 0.00

[2022-10-18 07:41] ttodua commented on #15214
@ProStrike-hub please check https://github.com/ccxt/ccxt/tree/master/examples `ccxt.pro->php` page for examples.

[2022-10-18 07:56] KindSpidey commented on #15329
Wait no, there is no 5 min, where you find it? Post was at 06:04:seconds_no_info, robot buys token at 06:05:35. So, at least for 35 seconds there was no buy. Why? I've tested my code, when there is no listing, and he made it for 1.5 second. Not for 35.

[2022-10-18 08:14] krychla1 commented on #15329
You've got 5min chart there, we can see just a big green spike there. You have to check exactly when the price started to take off, exactly when you fetched tickers, exactly when you placed order at which price, exactly when it was executed (you have provided only this - 06:05:35).

[2022-10-18 08:45] samgermain commented on #15327
Binance's `fetchCurrencies` endpoint is actually a private endpoint, so it requires your apiKey and secret.

When I use the following code, I get results instead of `None`

[code]

## output

[2022-10-18 08:59] carlosmiei commented on #15328
Hello @Clairewangxiaotong,
You can check the map ccxt timeframe <-> exchange-specific timeframe by doing `exchange.timeframes`

[2022-10-18 10:11] KindSpidey commented on #15329
Oh, got you

[2022-10-18 13:28] Clairewangxiaotong commented on #15327
Thank you so much!
Have a nice day!

Sam Germain ***@***.***> 于2022年10月18日周二 16:45写道：

[2022-10-18 13:38] Clairewangxiaotong commented on #15328
I apologize for my lack of clarity.
I mean How to get K lines or order books of options?Like this
[image: image.png]

Carlos Gonçalves ***@***.***> 于2022年10月18日周二 16:59写道：

[2022-10-18 13:38] jumpingfella opened #15332 "bitget code 40725, "service return an error" on specifying takeProfitPrice"
- OS: Ubuntu 22
- Programming Language version: Python 3
- CCXT version: 1.92.84

[code]

[code]

[2022-10-18 13:56] zydjohnHotmail opened #15333 "Kucoin fetchDepositAddress not working!"
- OS: Windows 10 (21H2)
- Programming Language version: Node.js (version 18.10.0)
- CCXT version: 2.0.34

[code]

[code]

Hello:
I want to get deposit address for some currencies, but my code did NOT work:
When I run my code, for `kucoin.loadMarkets();` it works, I can see a lot of markets are displayed; however, the

`kucoin.fetchDepositAddress(coin1);`
return something like the following:
[code]

[2022-10-18 15:16] zydjohnHotmail opened #15334 "The latest CCXT verion (2.0.34) of JavaScript has issue with binance"
- OS: Windows 10 (21H2)
- Programming Language version: Node.js (ver 18.10.0)
- CCXT version: 2.0.34

[code]

[code]

Hello:
After I upgraded to latest version of CCXT, npm version 2.0.34, my  code did NOT work any more, I got the error like above.
But if I downgrade to CCXT npm version 2.0.31, my code works:

[code]

[2022-10-18 16:42] carlosmiei commented on #15334
@zydjohnHotmail Can you please send us a verbose log of when it works and when it doesn't?

[2022-10-18 17:22] zydjohnHotmail commented on #15334
Hello:
I found there are more issues now. For old version: 2.0.31: I have done testing for 20 times, it worked for 4 times, but failed for 16 times.
The following is the output for both working and not-working cases:
D:\nodejs\CCXT_Binance>node Binance1CoinAddress.js USDT
2.0.31
(node:39252) ExperimentalWarning: The Fetch API is an experimental feature. This feature could change at any time
(Use `

[2022-10-18 18:23] ekleinsqs opened #15336 "AAX (ccxtpro) error during watch_orders"
Hello,

I'm facing an error when calling the watch_orders method for AAX (ccxtpro). Seems to be stemming from the handle_balance method where a NoneType is passing through. Further context: watch_orders starts up successfully, but once I place my first order as a test, it crashes resulting in this error.

OS: Windows 10
Programming Language version: Python 3.10.7
CCXT version: 2.0.36

My code is c

[2022-10-18 19:10] zydjohnHotmail opened #15337 "Total 10 exchanges have issues with support of fetchDepositAddress for version 2.0.37"
- OS: Windows 10 (21H2)
- Programming Language version: node.js (ver 18.10.0)
- CCXT version: 2.0.37

There are total 6 exchanges, where function fetchDepositAddress is not supported yet.
bitforex,  bitrue,  bkex,  coinbase,  latoken, lbank.

There are total 4 exchanges, where function fetchDepositAddress is supported, but have different kinds of issues:
bigone (Access Denied),   bkex (returned in

[2022-10-18 19:58] #15327 closed

[2022-10-18 20:09] Kinzowa opened #15338 "Fix - Websocket disconnects with 1006 and 1001 errors"
Hello,

A solution has been provided by the Hummingbot community for the bug reported in  #14557 and described below. I would appreciate if someone could incorporate the fix within CCXT, that would be awesome.

Thank you,

https://github.com/hummingbot/hummingbot/pull/5723

[2022-10-18 20:23] ProStrike-hub commented on #15214
@ttodua I already did.
There's only 3 examples out there; watch balance, ticker and orderbook.

Nothing to detect in real-time which order was filled. As @carlosmiei puts it:

Trust me, I've already checked the whole documentation. This is not covered, anywhere.
Therefore could you please provide an example please?

[2022-10-18 23:11] samgermain commented on #15221
Feel free to reopen this PR if you have any more questions

[2022-10-18 23:11] #15221 closed

[2022-10-18 23:24] samgermain commented on #14357
@carlosmiei Was this fixed? The page is rendering now for me

[2022-10-19 05:00] frosty00 commented on #15334
@zydjohnHotmail make sure you computer clock is synchronised properly

[2022-10-19 05:27] frosty00 commented on #14357
maybe github fixed it on their end

[2022-10-19 06:15] nileio commented on #9334
@kroitor I see this issue is closed.. can you clarify please ? is there an update on this issue ? this is a major problem.. I moved from a different lib and was struck by this issue on many exchanges including Binance!
definitely support restoring subscriptions in case of disconnect, providing easier expose of the WSclient so people can listen on `disconnects`, handling of ping-pong (ping-pong sho

[2022-10-19 06:23] sc0Vu commented on #15333
Hi @zydjohnHotmail

Have you created deposit address for that coin first?

[code]

[2022-10-19 06:36] nileio opened #15343 "RequestTimeout: timed out due to a ping-pong keepalive missing on time"
- OS: linux
- Programming Language version: node v16.17.1
- CCXT version: 2.0.31

[code]

[code]

[2022-10-19 06:57] sc0Vu commented on #15337
Hi @zydjohnHotmail

There are some authentication errors, have checked the api key and secret? Sometimes, we set different credentials for the exchange convention. For some exchanges, they didn't support retrieve deposit address from api yet. I can take a look at those exchanges, and update.

[2022-10-19 07:07] silvercondor commented on #9199
confirmed this works with vite react.

agree that if ccxt requires buffer then it should include as dependency instead of requiring polyfill

[2022-10-19 07:12] mironsv commented on #15196
https://docs.kucoin.com/#match-execution-data - websocket with public trades on Kucoin
I use Kucoin SDK directly because I couldn't find appropriate websocket in ccxt.

[2022-10-19 07:12] #15196 closed

[2022-10-19 07:17] zydjohnHotmail commented on #15334
Hello:
I believe that the clock of my PC is synchronised, but may be less than one second difference; however, in my Node.js code, I put 'recvWindow': 10000, it means for Binance exchange, if the time difference is less than 10 seconds, the signature will still be valid.
Anyway, what you can do to synchroinse clock of PC, which tools you can use?
Thanks,

[2022-10-19 07:21] danieltorscho opened #15345 "exchange.transfer is not working with on bybit exchange"
Transfering funds from "spot" to "funding" accounts works fine on binance exchange, but not with bybit.
Maybe I'm missing some arguments in my request ?

- OS: Win 10 x64
- Programming Language version: Node.js 18
- CCXT version: 2.0.25

[code]

[code]

[2022-10-19 07:38] zydjohnHotmail commented on #15333
Hello:
I don't know I have to run createDepositAddress first, now I changed my code, so for exchange kucoin, the fetchDepositAddress is working now for kucoin.

[2022-10-19 07:38] #15333 closed

[2022-10-19 07:41] zydjohnHotmail commented on #15337
Hello:
I think most of the exchanges, the credentials are correct, since most of those exchanges, I can use CCXT to get account balance.
Now, kucoin is OK, as I didn't create addresses first, but for other exchanges, please check, at least for 6 exchanges, where fetchDepositAddress are not supported yet.
Thanks,

[2022-10-19 08:04] carlosmiei commented on #15336
Hello @ekleinsqs, thanks for reporting it we will take a look

[2022-10-19 09:09] dugusanfeng commented on #15273
@samgermain Problems with my method calls，The params parameter specifies the values of from and to。

[2022-10-19 09:09] #15273 closed

[2022-10-19 09:38] AstraDynamic opened #15346 "editOrder on bitget doesn't work"
I have issues editing stop orders on bitget. Once placed, i am not able to change it via ccxt (Node Js):

1) Placing Order:

async function teststop () {
    let params = {
        'stopLossPrice': 1295, // your stop loss price
    }

    let order = await bitget.createOrder (symbol='ETH/USDT:USDT', type='market', side='buy', amount=0.1, price=undefined, params)
    console.log(order)

}

Output:

[2022-10-19 10:20] carlosmiei commented on #15293
Hello @ProStrike-hub unfortunately FTX does not provide that functionality of placing an order and attaching the tk/sl to it automatically. You need to place 3 orders manually (original order, sl order, tk order) and once the sl/tk is filled, you need to cancel the other. Please check out this thread: https://stackoverflow.com/questions/68284672/create-market-order-on-ftx-using-ccxt-with-sl-and-tp

[2022-10-19 10:30] ttodua commented on #14635
Sorry for confusion, we have release PRO version as free recently, so you no longer need to purchase the subscription. You just need to use only CCXT package now. Please let us know if you have any issue now.

[2022-10-19 10:30] #14635 closed

[2022-10-19 10:34] #15336 closed

[2022-10-19 10:38] donjonson commented on #14357
This seems to have been resolved one way or another.  I am able to see the wiki on github now.

[2022-10-19 10:38] #14357 closed

[2022-10-19 12:26] KindSpidey opened #15349 "How to work with big spread? Give advice please"
Hello guys.

I have a crypto trading robot, which works with Binance listings. When news about new listing come, robot buys token on Gate. But the price of the listing token increases imediately in multiple percents.

How should I setup my robot to buy token for the best and lowest price?

Right now after getting news i get price of token and then place limit order with higher on +10% price. Is it

[2022-10-19 15:03] 583 opened #15350 "How to use ccxt.pro to watch binanceusdm perp positions?"
Hi, I can only see the watchTrades, but not watchPositions, how to watch binanceusdm perp?

[2022-10-19 15:09] carlosmiei commented on #15350
Hello @583 currently there is only `watchOrders`, `watchPositions` is a work in progress, but should be available soon

[2022-10-19 15:12] 583 commented on #15350
OK, watchOrders not able to watch position?

[2022-10-19 15:20] 583 commented on #15350
Thanks~
In ccxt.pro websocket, It's there any raw-method like (ccxt)binance.fapiPrivateGetPositionRisk() to get biance position ? ws position update event: https://binance-docs.github.io/apidocs/futures/en/#event-balance-and-position-update

[2022-10-19 17:50] rvoitovich opened #15351 "How to work with Futures for other exchanges except Binance and KuCoin?"
Hi,
Based on the list of available exchanges, it can be seen that Binance and KuCoin have a separate id for working with Futures. But what about other exchanges? For example, HitBTC also has futures in its API.

Work with them is not implemented or is there a trick here?

Thanks

[2022-10-19 22:08] julienbfabre opened #15352 "Clarification on createOrder / createMarketBuyOrder"
I'm trying to understand `createOrder` / `createMarketBuyOrder` methods.

What i'm trying to do is place a market order on Binance specifying how much i want to spend in the quote currency, say for the symbol BTC/USDT i want to spend 100 USDT to buy whatever BTC that amounts to, without having to specify the price of BTC since i want the spot price, the way i understand the docs, this should be po

[2022-10-19 23:03] samgermain commented on #15352
I actually think this section of the docs might be inaccurate, sorry about that.

I've opened a [PR](15353) providing what is hopefully a better explanation

[2022-10-20 02:44] pcriadoperez commented on #15351
Hi @rvoitovich,
Some exchanges have seperate id's when they have specific api keys, or different urls. But for most exchanges ccxt uses the same id for different markets types. You can check if an exchange supports futures by checking  `if (exchange.has['future'] === true` or `if (exchange.has['swap'] === true)` for perpetuals.
In the case of hitBTC, the exchange id hitBTC3 supports swaps but not

[2022-10-20 02:44] #15351 closed

[2022-10-20 03:18] Clairewangxiaotong opened #15357 "IS there anyone who know how to get a current position with symbol= 'BTC/USDT' by binance?Thanks!"
![image](https://user-images.githubusercontent.com/103891038/196848239-716c9be6-eb2a-4f41-9111-bc5a353b4a6e.png)

[2022-10-20 04:31] pcriadoperez commented on #15357
Hi @Clairewangxiaotong you can fetch by using the function `fetchPositions`
So for example: `binanceusdm.fetchPositions (['BTCUSDT'])`

[2022-10-20 04:39] pcriadoperez commented on #15346
Hi Astra,

The first order is a market order, therefore it is being created and filled. And I'm guessing that is why you are getting an `Order does not exit error` when trying to edit it.
My recommendation to add a stop order to the position, is to create a stop order, or to add a stop Loss when creating the initial position.

Hope that helps! Let me know if you have any other questions.

[2022-10-20 04:39] Clairewangxiaotong commented on #15357
Hi @pcriadoperez ,THANKS for your answer,but I met a new bug when I used the function which you suggested.
![image](https://user-images.githubusercontent.com/103891038/196857785-be3bacc3-98f8-4708-a2c1-5ae571f81843.png)

[2022-10-20 04:45] samgermain commented on #15357
If your using the exchange with classname `binance` make sure that when you instantiate it, you set the `defaultType` to `future`

**ex.**
[code]

alternatively you can just use the exchange name `binanceusdm` instead of `binance`

**ex.**
[code]

[2022-10-20 04:46] samgermain commented on #15178
@neversleep007 Are you still having problems?

[2022-10-20 04:47] #15195 closed

[2022-10-20 05:21] Dan-krm commented on #15349
I think these types of questions might be better served in the CCXT general discord or some other channels, generally issues should be opened for bugs or recommended enhancements to the library.

For your trading bot you can use fetchOrderBook to analyze the depth and spread of the trading pair:
https://docs.ccxt.com/en/latest/manual.html#order-book

If you'd like to buy as soon as possible I'd ju

[2022-10-20 05:21] #15349 closed

[2022-10-20 05:21] Dan-krm commented on #15329
I'd recommend placing a market order if you'd like to execute the order as quickly as possible, It might be beneficial to use fetchOrderBook to analyze the spread and depth as well.

[2022-10-20 05:21] #15329 closed

[2022-10-20 05:27] sc0Vu commented on #15235
@ngdekhai

Oh, we call exchangeInfo when `loadMaarkets`. I think we only call it once if you use the same exchange instance (only the first order would be 11 weight).

[2022-10-20 05:27] #15235 closed

[2022-10-20 05:27] #15208 closed

[2022-10-20 05:29] sc0Vu commented on #15345
@danieltorscho

It didn't work on my side either. Will take a look.

[2022-10-20 05:40] Dan-krm commented on #15328
CCXT plans on adding more unified options support soon, currently you can use the implicit api with a specific endpoint to obtain the data you're looking for: https://docs.ccxt.com/en/latest/manual.html#implicit-api

If you want Klines or order book details, then the applicable unified methods would be fetchOHLCV and fetchOrderBook although I'm not sure how many exchanges will support options for

[2022-10-20 05:44] #15178 closed

[2022-10-20 07:17] KindSpidey commented on #15349
Thank you very much

[2022-10-20 07:57] julienbfabre commented on #15352
@samgermain i had a look at the PR, so if i understand correctly my only options are either leaving `createMarketBuyOrderRequiresPrice` as `true` and passing both the amount (base currency) and price (quote currency) or setting it to `false` and specifying just the amount (base currency)?

is there no way to place a buy order specifying just how much quote currency i want to spend?
Like "hey binan

[2022-10-20 08:12] samgermain commented on #15352
I added another commit to that PR with an updated explanation, let me know if this explanation makes sense

[2022-10-20 08:21] KindSpidey commented on #15349
But can you give an advice with market vs limit orders? Market order will be always executed? I mean, does it depend on big spread? I place market order, and it doesn't matter, if price go higher or lower immediately, it will be executed anyway and right now?
For limit order in my robot I place price higher for 8%, to make a bought. Is it risky?

[2022-10-20 08:38] Clairewangxiaotong commented on #15328
Awesome, thanks!

Dan ***@***.***> 于2022年10月20日周四 13:40写道：

[2022-10-20 08:54] Clairewangxiaotong commented on #15357
WOW！  Thank you very much! It helps me too much!Have a nice day!!!

Sam Germain ***@***.***> 于2022年10月20日周四 12:45写道：

[2022-10-20 09:02] #15307 closed

[2022-10-20 10:19] ProStrike-hub commented on #15293
Hello @carlosmiei !

Okay. I'll create 3 orders. Though, what's the parameter for StopLoss and TakeProfit?
The [StackOverFlow link](https://stackoverflow.com/questions/68284672/create-market-order-on-ftx-using-ccxt-with-sl-and-tp-using-python) you sent says: "stop" and "takeProfit"
But an other [example from your library](https://github.com/ccxt/ccxt/blob/master/examples/py/ftx-conditional-orders.

[2022-10-20 10:43] carlosmiei commented on #15293
Hello @ProStrike-hub  tk/sl orders are not yet 100% unified (thus docs are not great) because we see a lot of heterogenous approaches from the exchanges so sometimes we have to go case by case, nonetheless, we try to unify what we can.

In this case, the StackOverflow link seems correct, to create:
- stop loss order: you need to provide `type=stop` and `stopLossPrice` inside `params`
- take profit

[2022-10-20 10:44] carlosmiei commented on #15214
@ProStrike-hub we will try to come up with some basic watch orders examples in PHP

[2022-10-20 11:09] #15357 closed

[2022-10-20 15:19] t0mm4rx opened #15367 "Add "tag" field for OKX brokers"
Hello,

OKX now requires a "tag" param when creating orders from a broker sub-account. It should be equal to the `brokerId`.

We have been able to send valid orders by editing the `create_order` method:
[code]

One other solution would be to allow specifying a custom `tag` param in the `create_order` params.

Thanks.

[2022-10-20 15:34] #15204 closed

[2022-10-20 16:01] #15312 closed

[2022-10-20 18:26] ProStrike-hub commented on #15214
Hello @carlosmiei,

I've just translated, in php, and implemented this code.
But to check `'tp_status'` and `'sl_status'` I use `fetch_order('id')`.
Though, this doesn't return Trigger Orders / Conditional Orders.

I checked solutions here and all I could find is using `fetch_open_orders(symbol, since=None, limit=None, {'method':'privateGetConditionalOrders'})` which returns all Trigger Orders / C

[2022-10-20 21:59] ProStrike-hub commented on #6669
Hello @xmatthias !

I think I'm having the same issue you had a while back!
You're trying to fetch order (conditional / trigger ones) to detect when a TP/SL has been filled and canceled the opposite awaiting TP/SL order...

I didn't quite get your last EDIT.
Does this code did the work? assuming we're trying to reach the same goal
I can see you're calling FTX API in the middle of CCXT lib, but I'm

[2022-10-21 04:54] xmatthias commented on #6669
@ProStrike-hub i'm not quite sure i get your point.

this issue was about fetching and cancelling conditional orders - from 2 years ago.
as far as i know, it's still working as expected (i use this pretty regularily).

[2022-10-21 06:10] diwenshi61 opened #15373 "Binance VAPI -> EAPI"
Binance has removed the 'vapi' endpoints and added 'eapi' endpoints for options trading.
E.g.

GET https://vapi.binance.com/vapi/v1/time
is removed instead
GET https://eapi.binance.com/eapi/v1/time

Some endpoints previously in vapi such as 'optionInfo' are not in eapi (returns 404). Should be removed.

Might be related to this issue #15221

[2022-10-21 06:30] dugusanfeng commented on #15337
The lbank exchange I tested：

`
const agent = new HttpsProxyAgent('http://127.0.0.1:1087');
const exchange = new ccxt.lbank2({
        'apiKey': 'e905421f-xxxx-xxxx-xxxx-c5af76162a5a',
        'secret': 'xxxxxxx',
        agent
    })

const depositAddr = await exchange.fetchDepositAddress('USDT', {network: 'ERC20'})
console.log('addr: ', depositAddr)
`

response:  { result: 'false', error_code: '

[2022-10-21 06:41] Dan-krm commented on #15349
Market orders will execute at the current market price set by the price/amount on the orderbooks ask side

- If you're wanting to fill an order as fast as possible and are currently setting a limit order on the ask side of the orderbook it makes sense to just place a market order for an amount that you're comfortable with, it will fill for the amount that you set but the price it fills will vary d

[2022-10-21 06:57] ProStrike-hub commented on #6669
@xmatthias were trying to do the same thing.

But I didn’t understand your code. Could you please explain it a little bit?

[2022-10-21 07:33] ttodua commented on #14676
This issue can be closed. Let us know if you have any issue with ccxt.

[2022-10-21 07:37] xmatthias commented on #6669
All code i provided in this issue is single line examples only.
There's nothing to explain, really.

[2022-10-21 07:38] ttodua commented on #14650
It has [been merged](https://github.com/ccxt/ccxt/issues/15171), so it's free now.

[2022-10-21 07:38] #14650 closed

[2022-10-21 07:40] ttodua commented on #14651
Please tell us, if you still experience the issue with latest version of ccxt.

[2022-10-21 07:41] #14630 closed

[2022-10-21 07:56] #14682 closed

[2022-10-21 07:57] ttodua commented on #14682
This topic is now closed. Let us know if you have any other issue with CCXT.

[2022-10-21 08:39] #14748 closed

[2022-10-21 08:40] ttodua commented on #14748
As this issue is duplicate, any further discussion should be continued int that reference issue

[2022-10-21 09:11] #14721 closed

[2022-10-21 09:25] ttodua commented on #14746
@Curro666 can you tell if the issue is still present?

[2022-10-21 09:28] ttodua commented on #14686
The code and examples (with the logs) posted here, doesn't seem related / doesn't mention CCXT as the source for exception.
Please revise your stacktrace again and reopen the topic if you find that there is some issue coming from CCXT functions.

[2022-10-21 09:35] ngdekhai commented on #15235
@sc0Vu

okay, I understand but because I have a lot of users (different account) need to create market order, thats why multiple instance. My expectation is 1 apikey = 1 instance, so is there a way to create a single instance with multiple apikey to trigger multiple accounts creating orders?

[2022-10-21 09:37] ttodua commented on #14787
please update ccxt to latest version and let us know if you still have issues.
also, you might try `.fetchBalance()` when you get an error with sell, and compare if you have the amounts correct.
additionally, if there is a precision problem (i dont know why it should happen, but anyway), then you might need to do smth like this:
[code]

[2022-10-21 09:39] ProStrike-hub commented on #6669
I'm asking cause I tried your code (I also want to fetch & cancel conditional orders) but it doesn't work. _Please see screenshot attached._
![Untitled](https://user-images.githubusercontent.com/76970433/197165285-6bbbdcda-04a6-4545-a1a2-ab792bc7505f.png)

[2022-10-21 09:39] ProStrike-hub commented on #6669
@xmatthias I'm asking cause I tried your code (I also want to fetch & cancel conditional orders) but it doesn't work. _Please see screenshot attached._
![Untitled](https://user-images.githubusercontent.com/76970433/197165497-4dd7e837-cba3-4918-ad16-afcded9714d4.png)

[2022-10-21 09:40] ttodua commented on #14787
also, what I see, you are incorrectly calculating the executed amount (the variable named `total_quantity_executed`) which you are setting to `elem['amount']`, however the `amount` key from order doesn't mean the executed amount always, as you should instead use `filled` key.

[2022-10-21 09:43] ttodua commented on #14814
A follow-up: we are waiting for binance's update PR to be merged, and after that I'll be working to implement the needed functionalities with binance

[2022-10-21 09:45] ttodua commented on #15214
@ProStrike-hub I'll reply you shortly.

[2022-10-21 09:48] AdamPrisen opened #15374 "CCXTPRO removed dependence"
- OS: Mac OS
- Programming Language version: Python
- CCXT version:  2.0.53
- CCXT version:  1.2.36

[code]
in the newest version of ccxt was removed dependence  which ccxtpro is still requiring

[2022-10-21 09:53] julienbfabre commented on #15352
@samgermain i'm still not sure i understand this correctly.

if `createMarketBuyOrderRequiresPrice ` is `true` then i can specify the amount in quote currency (USD in my example), but i must also specify the price as it says here:

and if set to `false`, then i don't have to specify the price, but i have to specify the amount in base currency (BTC in my example) as it says here:

so there is no wa

[2022-10-21 10:06] ttodua commented on #15214
After checking codes inside ccxt, I see that getting conditional orders using `fetchOrder` it's not implemented yet. We will implement it and post here an update.

[2022-10-21 10:09] ProStrike-hub commented on #15214
Thanks @ttodua any idea on the update schedule?
Cause I'm looking for a turnaround meanwhile. Should I just wait for your update shortly?

[2022-10-21 10:14] xmatthias commented on #6669
every line starting with `>` is output - running this will clearly not work as it's simply invalid syntax.

[2022-10-21 10:23] carlosmiei commented on #15374
Hello @AdamPrisen are you still using the standalone ccxt.pro package?

[2022-10-21 10:25] AdamPrisen commented on #15374
Hello yea i am still using ccxt.pro but i am reading that websockets were merged to ccxt so we will change it to that version

[2022-10-21 10:26] carlosmiei commented on #15374
@AdamPrisen yeah ccxt.pro was merged into ccxt and the old package won't get updates anymore, so we strongly recommend migrating it

[2022-10-21 10:46] ttodua commented on #15214
I've checked FTX api and it seems the only way to get the open trigger(conditional) orders is the way you already mentioned.
 however, instead of `{'method':'privateGetConditionalOrders'}` you should provide an unified parameter `{'trigger': true}`, , so ccxt will know that you are referring to `trigger` (a.k.a. `conditional`) order/s.

[2022-10-21 11:12] ProStrike-hub commented on #15214
@ttodua Thanks but this doesn't do the work.

First of all, that's going to return all conditional open orders. While I only want to get one by specifying its ID.
At first, I was using `fetch_order` which has an `'id'` parameter, but this function does not return conditional orders apparently, true?

So then I used `fetch_orders` which returns all orders... I only want to retrieve one based on its

[2022-10-21 11:15] ttodua commented on #15214
I forgot to mention, you should wait to this PR https://github.com/ccxt/ccxt/pull/15375 to get merged, after that you will be able to user `trigger: true`. atm, you can use `stop:true` (but this is deprecated param and will work just for a while).

[2022-10-21 11:16] ttodua commented on #15214
about getting many orders , as I said, FTX doesn't seem to have an endpoint to get single conditional order, so you have to use `fetch_open_orders` and inside that, locate your target order based on its `id`.

[2022-10-21 11:19] ttodua commented on #15214
if order is not in `open_orders` then it means that trigger order was closed. alternatively, you can just use `fetch_orders` instead of `fetch_open_orders`, and there will be `closed` ones too.

[2022-10-21 11:19] t0mm4rx commented on #15367
Thanks for the quick PR, closing the issue.

[2022-10-21 11:19] #15367 closed

[2022-10-21 11:38] carlosmiei commented on #15352
Hello @julienbfabre, I'm seeing some confusion here so let me try to clarify it a bit:

Nop, if `createMarketBuyOrderRequiresPrice`  is true you can provide the amount in base currency (BTC) and the price, so that we can calculate the `cost` and send it (amount*price)

Example: `createOrder("BTC/USDT", "market", "buy", 0.1, 10000)` <- this will place place an order worth of 100 USDT, regardless of

[2022-10-21 12:53] hosseinab opened #15376 "digifinex withdraw Amount precision error"
OS: Windows 11
Programming Language version: PYTHON 3.10.5
CCXT version: "ccxt/ccxt": "^2.0.55",
Exchange: digifinex
Method: withdraw

hi . digifinex withdraw function returns error :
my code :
[code]
output :
[code]

verbose :
[code]

[2022-10-21 13:57] croissantty opened #15377 "bybit Can't get any info of usdc perp"
Hi, I have search and try method about options type already but still no clue. I can't access to any USDC perpetual symbol or balance. Its only show future balance&pair(USDT). I want to trade in usdc perpetual sir but
[code]

This is header
[code]

Is bybit USDC perp contracts have some specific type for it?

ps. Sorry for trouble

[2022-10-21 14:25] carlosmiei commented on #15377
Hello @croissantty, Bybit has conflicting ids between USDT settle derivatives and the USDC one (BTC-PERP), so I would recommend using the unified symbol, in this case `BTC/USD:USDC`

Example:
[code]

Regarding the balance, by default  will return the usdt based wallet balance, to change it, you have two options
- settle the `defaultSettle` option as `USDC` `exchange.options['defaultSettle`] = 'USD

[2022-10-21 14:29] ttodua commented on #15376
Please, instead of `output : Amount precision error` provide full exception trace (remove any sensitive info). you have opened many issues and you should know what info we need to understand the problem better.

[2022-10-21 15:32] ttodua commented on #15376
I've submitted a fix for this. whenever it will be merged, update your ccxt and the problem would be gone.

[2022-10-21 15:37] julienbfabre commented on #15352
hi @carlosmiei , thanks for jumping in, i tried both, one does work, the other not, here's some details:

considering the balance:
- BTC: 1
- USDT: 10000

### trying your first example:

[code]

This results in the following request:

[code]

which was fulfilled successfuly, so that one works even though i have to resort to passing an amount of `0.1` and price of `{amount i want to spend} * 10` so

[2022-10-21 16:49] danieltorscho commented on #15345
@sc0Vu please leave this issue open for a while, I will try to find a solution for this issue based on your suggestion.

[2022-10-21 19:38] croissantty commented on #15377
Very thank you @carlosmiei, with your help now I can access balance and symbol. but look like `fetchMyTrades()` is not working with this exchange or I'm missing something?

[code]

[2022-10-21 21:02] jblon commented on #14651
No issue anymore, there was a phantom blank space being added into the secret key somewhere that I tracked down and fixed.

[2022-10-21 21:02] #14651 closed

[2022-10-21 22:48] HowardTrades opened #15384 "bybit Can't fetch my USDT deposit address on TRC20 network"
Hi, I have been using the following code to fetch my USDT deposit address. It works on Binance, FTX, Mexc and OKX. However, when I use the code on Bybit, it cannot find TRC20 deposit address for USDT (I also try TRC too, didn't work).

[code]

output
[code]

Then I try to replace network with chain, only to get ERC 20 deposit address (seems like the params has been neglected)
[code]
output:
[code]

[2022-10-22 01:40] samgermain commented on #15384
You need to use `TRX` right now, after [this PR](https://github.com/ccxt/ccxt/pull/15386) gets merged you'll be able to use `TRC20`

[2022-10-22 05:38] Dan-krm commented on #15373
Thanks for reporting, I've opened a pull request that will resolve this issue once it's merged

[2022-10-22 06:47] ttodua commented on #14651
@jblon thanks for sharing that note.

[2022-10-22 06:56] ttodua commented on #14819
@Salz0 have you considered to check the api keys, like this user? https://github.com/ccxt/ccxt/issues/14651

[2022-10-22 07:06] ttodua commented on #14824
you should try it without `['options']` :
[code]

[2022-10-22 07:15] ttodua commented on #14838
@sc0Vu if you have a minute, please drop the example code you execute (an unified example) so issue would become closed. basically, it should be like:
[code]

[2022-10-22 07:25] ttodua commented on #14851
@583
use this:
[code]

[2022-10-22 07:25] #14851 closed

[2022-10-22 07:27] #14866 closed

[2022-10-22 07:32] ttodua commented on #14876
It has been merged - https://github.com/ccxt/ccxt/issues/15171 .

[2022-10-22 07:32] #14876 closed

[2022-10-22 07:38] ttodua commented on #14879
If exchange doesn't support it natively (which is the only guaranteed way) then there is no workaround we might offer. all what I can say is to check orderbook before submitting the order, and if you see your amount is fillable without your price diapason, then you should submit `ioc` (immediate-or-cancel) order. however, it still doesn't guarantee that your full amount will be executed, because i

[2022-10-22 07:38] #14879 closed

[2022-10-22 07:39] #14897 closed

[2022-10-22 07:44] ttodua commented on #9669
let us know if you still experience any issue with latest ccxt version.

[2022-10-22 07:44] #9669 closed

[2022-10-22 07:57] ttodua commented on #14923
also, you might also try `pickle` to install extensions seamlessly.
let us know if you still have any issues with ccxt

[2022-10-22 07:57] #14923 closed

[2022-10-22 08:02] ttodua commented on #14993
@JonathanAhrenkiel-Frellsen please post a follow-up, so we would know if that was solved for you or not. Also, you should note that binance UI had a bug, and you needed to click "edit" to actually see which permission checkboxes were checked really.

[2022-10-22 08:02] #14993 closed

[2022-10-22 08:12] ttodua commented on #14964
the issue doesn't seem to be coming from ccxt itself, as I think it was the proxy which didn't work well.
let us know if you have any further issues with ccxt still.

[2022-10-22 08:12] #14964 closed

[2022-10-22 09:03] ttodua commented on #15233
You might check api keys, to ensure they dont include whitespace in the end/start, like [this user said](https://github.com/ccxt/ccxt/issues/14651#issuecomment-1287433465).
Let us know any replies, whether you have not yet fixed the issue.

[2022-10-22 09:03] #15233 closed

[2022-10-22 09:06] ttodua commented on #15010
There has been no follow-up posted by user for more than 1 month. I'll close this issue, and if anyone experiencing anything alike, let us know, with more details of the request/response you expect and receive.

[2022-10-22 09:06] #15010 closed

[2022-10-22 09:08] #15018 closed

[2022-10-22 09:09] ttodua commented on #15033
As answered by @sc0Vu , I'll close this issue. let us know if you have any other issue with CCXT.

[2022-10-22 09:09] #15033 closed

[2022-10-22 09:11] ttodua commented on #15046
@zoomzoomgithub please let us know if you were able to fix the issue (and what was happening on your side? was it CCXT issue or something in your userland code?)

[2022-10-22 09:12] ttodua commented on #15048
the issue was fixed in #15051

[2022-10-22 09:12] #15048 closed

[2022-10-22 09:13] samia81 commented on #15010
Sorry for my late feedback.
The problem is when I call fetchOHLCV w8th timeframe=2h at 10am for example, it still returns ohlcv values that gives old sar value,

[2022-10-22 09:15] ttodua commented on #15050
@Smartromain it will not print anything if the createOrder leads to exception. so, you'd better use `try/catch` everywhere:
[code]
Let us know what happens then.

[2022-10-22 09:15] #15050 closed

[2022-10-22 09:17] #15055 closed

[2022-10-22 09:17] ttodua commented on #15055
Right, that problem could have been because of MEXC api engine limitations.
Let us know if you have any further issue with CCXT.

[2022-10-22 09:22] ttodua commented on #15194
I am not sure how ccxt can be used (even older versions) without composer & dependencies, but anyway, if you managed to make it work, good.
(I suppose the break is related to the merge of CCXT PRO into REST, and maybe you wanted only REST).
I will take a look into this to avoid any unexpected breaks.

[2022-10-22 09:24] ttodua commented on #15188
Yes, we plan to implement subscribe/unsubscribe event-driver approach in near future.

[2022-10-22 09:25] ttodua commented on #15183
Duplicate: https://github.com/ccxt/ccxt/issues/15194

[2022-10-22 09:25] #15183 closed

[2022-10-22 09:28] ttodua commented on #15179
@stephanrothe have you been able to manage the issue? please let us know the outcome, so we would know the reason and close this issue.

[2022-10-22 09:30] ttodua commented on #15161
@simonblack you are always welcome to contribute to CCXT if you know how to code. typically, you can take another existing WS exchange and imitate to it, and make a Pull Request . https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

[2022-10-22 09:42] ttodua commented on #15056
@souri84 you might need to check:
[code]
otherwise, you will need to use `fetch_open_orders` or `fetch_closed_orders` functions, as they are supported:
[code]

let us know if you have any further issues with CCXT

[2022-10-22 09:42] #15056 closed

[2022-10-22 10:29] HUGH-XUUUU commented on #15374
Hi,What do you mean abou "merged into ccxt"? Can we still use these websocket supported method in ccxt.pro?

[2022-10-22 10:33] koala974 commented on #15194
Thank you very much.Yes i think it was due to the fusion with ccxt pro tooLe 22 oct. 2022 11:23, "T. Todua" ***@***.***> a écrit :
I am not sure how ccxt can be used (even older versions) without composer & dependencies, but anyway, if you managed to make it work, good.
(I suppose the break is related to the merge of CCXT PRO into REST, and maybe you wanted only REST).
I will take a look into this

[2022-10-22 10:35] HUGH-XUUUU commented on #15374
@carlosmiei

[2022-10-22 10:41] carlosmiei commented on #15374
Hello @HUGH-XUUUU in the past ccxt.pro was a paid product with its own package, now it's free and merged into the regular ccxt package, so if you're still using the "paid" package it's better to migrate because won't get more updates/fixes

[2022-10-22 10:46] HUGH-XUUUU commented on #15374
Thanks man @carlosmiei !

[2022-10-22 14:17] chatofking commented on #15195
i just follow this video and I got  [{"T":"success","msg":"connected"}] before
after while I got above error.
https://youtu.be/6U6NhKAbO5Y
https://github.com/hackingthemarkets/gridbot-websockets

[2022-10-22 14:25] #15384 closed

[2022-10-22 17:52] aleqx opened #15388 "fetch order book without calls to load all markets?"
I noticed the fetch_order_book() calls load_markets(), and the latter takes a pretty long time on some exchanges. However, loading all markets is not necessary to fetch the order book, as most exchanges provide a public API endpoint that only requires the market symbol.

If I wanted to do it in a loop this would cause an high unnecessary amount of traffic and delay. I know I could go websocket but

[2022-10-22 18:05] JustFragger commented on #14518
@samgermain is possible to implement by myself? Or needs to be implemented by CCXT team?

[2022-10-22 18:47] aleqx commented on #15388
For running in a loop I notice it doesn't fetch markets again (missed that check). Although my initial point stands, i.e. it does download a heck of a chunk of unnecessary data, I guess the design principle is that it's only once per session to gain convenience.

[2022-10-22 23:48] simonblack commented on #15161
Okay sounds good! I initially made a rough port in python then realized everything here is generated from JS, something im a tad rusty in! Was going to make a JS attempt in the future if @samgermain is still too tied up with their other assignments on here by that time

cheers!

[2022-10-23 03:56] Dan-krm commented on #15308
@zydjohnHotmail Could you set `verbose: true` and share the output?

I checked this URL and it's showing the bids: https://testnet.binance.vision/api/v3/depth?symbol=ETHUSDT

[2022-10-23 04:26] Dan-krm commented on #15264
@zydjohnHotmail fetchBalance on Bigone is working properly for me, could you try the following and share the output:
[code]

Bigone seems to have restricted access for people located in certain countries, you might be getting restricted based on your ip address. Also make sure you have the correct permissions checked when you create your API key:

![image](https://user-images.githubusercontent.com

[2022-10-23 10:33] Showgofar commented on #14838
Thank you
I had updated to latest version and got new error
so I wasnt even possible to try
Fatal error: Uncaught Error: Class "React\Promise\Deferred" not found in /home/ccxt/php/pro/Future.php:8
 Stack trace: #0 /home/ccxt/ccxt.php(128): require_once() #1 /home/admin.php(928): require('...') #2 {main} thrown in /home/ccxt/php/pro/Future.php on line 8

[2022-10-23 10:35] carlosmiei commented on #14838
Hello @Showgofar, you probably upgrade from a pre-merge version that's why you getting this error. Just run `composer update` inside your directory to solve it