[2019-06-12 02:34] ahmedbodi commented on #5283
OK, i'll try and catch it again

[2019-06-12 02:35] kroitor commented on #5282
Hi @IgorMBorushek !

Pardon for the delay with the answer, I will try to add a usage example as soon as I can.

Unfortunately, tokenBucket is not documented yet, the code and some explanations can be found here:

- https://github.com/ccxt/ccxt/blob/master/js/base/functions/throttle.js
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/async_support/base/throttle.py
- https://en.wikipedia.org/w

[2019-06-12 02:36] ahmedbodi commented on #5283
ahh i see why its doing that

[code]

[2019-06-12 02:39] kroitor commented on #5283
@ahmedbodi I will add some handling to it, to throw a proper exception... however, we can't really invent the missing data for the exchange... And they don't designate if GBT/ETP is active or not.

[2019-06-12 02:40] ahmedbodi commented on #5283
yeah thats fine, just something that should be thrown in CCXT

[2019-06-12 02:51] #5283 closed

[2019-06-12 03:13] ahmedbodi opened #5285 "Add a list of non-working exchanges in the wiki?"
Might be nice to have? I'm willing to add in the ones i know arent currently working

[2019-06-12 03:14] ahmedbodi commented on #5285
if you give me access i'd be willing to start adding it to the wiki

[2019-06-12 03:20] kroitor commented on #5285
I'd suggest a "broken since" flag or some type of date or maybe a link to the breaking issue. In general, we don't edit exchange lists manually – those tables are generated by this script: https://github.com/ccxt/ccxt/blob/master/build/export-exchanges.js

Filling the info in the Manual.md by hand is hard to maintain in terms of future support (may be outdated quickly), so, we would collect that i

[2019-06-12 03:22] kroitor commented on #5285
Alternatively, we could standardize the `fetchSystemStatus` or `fetchStatus` unified method to get the exchange info either from the exchange or from the hardcoded exchange properties, if the exchange in question does not offer a status endpoint (many of them do).

[2019-06-12 03:22] ahmedbodi commented on #5285
Sure, i knew the docs were auto-generated but not the wiki. If we can add something to the exchange classes that would be even better, would save me from having to manually remove them from my code. i could rely on those flags instead then

[2019-06-12 03:24] ahmedbodi commented on #5285
Status and updated are the two essential ones. With updated i could then use that to re-generate my api files, and can parse status to tell if i should just ignore it or not.

[2019-06-12 03:25] kroitor commented on #5285
Some exchanges also provide "ETA" (when the maintenance is expected to end), so, the unified structure that could be returned from `fetchStatus` (or hardcoded within the exchange properties) might look like:

[code]

[2019-06-12 03:26] ahmedbodi commented on #5285
https://gist.github.com/ahmedbodi/5b47ae3502d69993009a898464c5cbd4 is the list i have so far from the previous work i did, do you know what other ones are faulty?

Definitely if some support ETA then we should add that too

[2019-06-12 03:35] kroitor commented on #5285
Your list is larger than mine )) The more I think of it, the more I tend to unifying it within `fetchStatus`:

[code]

Which other flags do you think we may need within the exchange status property?

[2019-06-12 03:44] ahmedbodi commented on #5285
thats all i can think of tbh, unless you know of any others that exchange's return

[2019-06-12 03:45] ahmedbodi commented on #5285
We could start off by modifying the base class to have that method but returning ok for all of them, and then modify the known broken exchanges to return hardcoded broken

[2019-06-12 03:45] ahmedbodi commented on #5285
Then as we go through the exchanges we'd modify them to use the dedicated status enpoints

[2019-06-12 03:46] kroitor commented on #5285
@ahmedbodi ok, I suggest the following procedure: I will add an example to an exchange that has it and to an exchange that doesn't have it and will add the base property to store the status info, and will then post here, so that you could take that as an example for populating the rest of them. Does that sound ok to you?

[2019-06-12 03:47] ahmedbodi commented on #5285
sounds good to me, was just about to start adding it to the base exchange lol

[2019-06-12 03:48] kroitor commented on #5285
@ahmedbodi well, if you have the time – I don't mind at all, just wanted to avoid duplicate work ) I'll try to add the example case asap, hopefully today. However, if you want to give it a try in the meantime – your help is always welcome! ) Thx again )

[2019-06-12 04:06] ahmedbodi commented on #5285
Working on that in #5286
What status would be put for exchange's who's api's have changed? error?

[2019-06-12 04:09] kroitor commented on #5285
Yeah, I'd put `'error'` there, and I would also add an `url`:

[code]

[2019-06-12 04:25] kroitor commented on #5279
@QuRyu ok, closing this for now if you don't mind. Feel free to reopen it or just ask further questions if any. We will be happy if you report back whether you resolved it or not. Thx!

[2019-06-12 04:25] #5279 closed

[2019-06-12 21:48] evan-coygo commented on #5183
hey @kroitor, I'm trying to use this on the latest release 1.18.678 and I'm getting a 403. Other methods work fine with my current API key (fetch balances, fetch order history, get ticker) but getDepositAddress gives:

[code]

the Coinbase Pro status page doesn't show any issues related to this at the moment, and the same API key was working with the previous implementation

[2019-06-13 04:07] helldragonx opened #5287 "Can not fetch OKEX K Line in V1/V2"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
   MAC
- Programming Language version:
  Python
- CCXT version:
  Latest
- Exchange:
  OKEX
- Method:
  fetch_ohlcv

current version returns 20006, miss a necessary parameter 'type',  I had added i

[2019-06-13 04:07] kroitor commented on #5183
Hi @evan-coygo ! Please, see the discussion here: https://github.com/ccxt/ccxt/issues/5233#issuecomment-498855312

[2019-06-13 04:15] helldragonx commented on #5287
and surely shall judge whether it has 'type' before add it to return dictional

[2019-06-13 04:16] #5287 closed

[2019-06-13 04:17] kroitor commented on #5287
This should be fixed in 1.18.679, the new build will arrive in 10 minutes! Let us know if you still have difficulties with it after upgrading to the most recent version 1.18.679. Thx for reporting!

[2019-06-13 06:49] fonzmeister commented on #5062
I think you're better of pulling this data from a different source, for example coingecko, coinmarketcap or coinpaprika and many others

[2019-06-13 08:02] FlickerBean opened #5288 "Bitfinex fetchClosedOrders does not return cancelled orders"
This means that partially filled and then cancelled orders do not get accounted for in code.

Is this a bug, a Bitfinex issue or is this expected behaviour?

Is there a workaround?

[2019-06-13 08:16] kroitor commented on #5288
Hi!

Can you please post your verbose response and verbose request? You're using PHP, right?

[code]

↑ It will print a ton of info, can you copy-paste it here (without your keys, of course).

[2019-06-13 10:09] PolozovT opened #5289 "python transpile: undefined name 'null'"
Hi! I have this error in line:
            'high': parseFloat (ticker['high'])

ticker['high'] is not empty!
What does it mean?

[2019-06-13 10:12] kroitor commented on #5289
Hi! You can check the verbose response with `exchange.verbose = true` before or inside the `fetchTicker` call to see what's going on with that value. If that doesn't help, please paste the verbose output here. Thx!

[2019-06-13 10:12] #5289 closed

[2019-06-13 10:15] kroitor commented on #5289
Alternatively, use `safeFloat` as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#sanitizing-input-with-safe-methods

[2019-06-13 10:48] FlickerBean commented on #5288
Sure thing:

Request:
Array
(
    [0] => POST
    [1] => https://api.bitfinex.com/v1/orders/hist
    [2] => Array
        (
            [0] => X-BFX-APIKEY: xxx
            [1] => X-BFX-PAYLOAD: xxx=
            [2] => X-BFX-SIGNATURE: xxx
        )

    [3] => {"nonce":"1560422545037","request":"\/v1\/orders\/hist"}
)

Response:
Array
(
    [0] => POST
    [1] => https://api.bitfinex.com/v1/order

[2019-06-13 10:56] #5288 closed

[2019-06-13 10:58] helldragonx opened #5291 "OKEX fetch trades failed"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
   Mac
- Programming Language version:
   Python
- CCXT version:
   Latest
- Exchange:
   OKEX
- Method:
   fetch_trades
OKEX now changed the response string of load_markets, the symbol of each fut

[2019-06-13 10:59] kroitor commented on #5291
@helldragonx I suggest to switch to `okex3`, because `okex` v1 will not be maintained further. Let us know if that does not help.

[2019-06-13 10:59] #5291 closed

[2019-06-13 11:01] helldragonx commented on #5291
hi dear, I keep V1 is reasonable, you know, in some rush hour, only V1 works...

[2019-06-13 11:05] kroitor commented on #5291
@helldragonx can you post the verbose request/response for it?

[2019-06-13 11:10] helldragonx commented on #5291
Hi, I'm fixing this issue by adapting the symbol to markets,
so that's ok, thanks.

[2019-06-13 11:34] lead4good opened #5292 "consistency: set used to undefined for exchanges that do not have support for it"
- [ ] find exchanges where used amount in balances is not supported but set to numerical 0 instead of undefined

[2019-06-13 11:38] kroitor commented on #5292
We don't "fix" the data, in fact, going back to https://github.com/ccxt/ccxt/pull/5290 it's the kraken fetchBalance that should be fixed in this case, because the `undefined` is the actual truth – the value is really undefined and this is documented in the Manual. We should not put zeroes where the value is undefined, instead we should only fill `free` or `total`, depending on what it is. Also, we

[2019-06-13 11:43] lead4good commented on #5292
No I'm fine with that behavior, we should keep it consistent though which is why I've updated the issue

[2019-06-13 11:48] PolozovT commented on #5289
it doesn't help me

[2019-06-13 11:50] kyjak opened #5293 "fetchTrades does not handle since parameter"
- OS: win10
- Programming Language version: nodeJS, latest
- CCXT version: 1.18.685
- Exchange: kraken
- Method: fetchTrades

If I supply a since microtimestamp of 2018-01-01 and limit of 1,to get only 1 trade, I get the latest value as follows and not 2018 one. When I use a browser to try the kraken API, it works ok (https://api.kraken.com/0/public/Trades?pair=xbtusd&since=0)

[code]

[2019-06-13 11:54] kroitor commented on #5289
@PolozovT let's discuss this within the code in the PR itself: https://github.com/ccxt/ccxt/pull/5276, can you point out there in the code comments which particular line does not work?

[2019-06-13 12:03] frosty00 commented on #5292
We should set it to `undefined` everywhere where it is not supported, and only to 0 if we recieve a response that says `used/blocked/frozen` with a zero value. Thanks for the heads up @lead4good will update the library shortly.

[2019-06-13 12:58] kroitor commented on #5293
Kraken does not support date-based pagination, and the `since` should contain a trade `id`, not a timestamp. This is how Kraken API works, not an issue in CCXT.

https://www.kraken.com/en-us/features/api#get-recent-trades

In order to pass that parameter to the exchange with overrided `params`: https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params

So the correct usage is:

[code]

[2019-06-13 12:58] #5293 closed

[2019-06-13 13:48] WoK-E commented on #5257
OK, after reading through the code, I think I cannot do what I want

First I create an instance of the exchange.
Then, for other exchanges (e.g. poloniex), I create an order and then check 'status' and 'trades' of the returned array. Later on, if the order is not closed, I call fetchOrderStatus, and fetchOrderTrades or fetchMyTrades to get an updated status and any further trades made. If no trade

[2019-06-13 13:50] WoK-E opened #5295 "Spelling mistake: purgeCachesOrders()"
- OS: Any
- Programming Language version: PHP
- CCXT version: 1.18.685
- Exchange: all
- Method: purgeCachedOrders()

purgeCachedOrders() is misspelled as purgeCache**s**Orders() in Exchange.php, line 1762

[2019-06-13 13:55] #5295 closed

[2019-06-13 13:58] kyjak commented on #5293
not entirely true, the response of that endpoint is structured as "{"error":[],"result":{"XETHZEUR":[["20.00000","4.50000000",1438945790.9098,"b","l",""],["20.00000","0.48000000",1438945791.2365,"b","l",""],["20.00000","3.37215150",1438945954.1212,"s","l",""],
where there is no tradaId as you say. This is the public endpoint, not private.
When you try this in the browser, with since = 0, it goes w

[2019-06-13 14:01] kroitor commented on #5293
That's right.

Then you should be able to pass 0 like shown in the example above )

Ok ) We will be happy if you let us know whether it helped resolve the issue or not. Thx! )

[2019-06-13 14:04] kroitor commented on #5293
Here's the CCXT-equivalent of what you opened in the browser:

[code]

It returns trades since 2015 indeed.

[code]

[2019-06-13 14:07] kroitor commented on #5257
It can be used if you change it a bit:

↑ between the above and the following ↓ there should be no restart or no recreation of exchange instance. If you're recreating the exchange instance, then save `exchange.orders` to a json-file and reload it upon recreating the exchange later.

Those are the limitations on the exchange side, we can't really workaround those, because we can't invent the missin

[2019-06-13 14:10] PolozovT commented on #5289
all happened, thank you)

[2019-06-13 14:23] WoK-E commented on #5257
Yes, I understand that it is because of the limitations of the exchange. The second part (kind of) works, or to be more accurate I "make" it work since fetchMyTrades returns the trades correctly.

What I forgot to mention is that the array returned by create_order() is always incorrect with regards to the order status and trades made. I have the feeling that exmo does not link an order with its tr

[2019-06-13 15:00] kyjak commented on #5293
I redid the code to work with raw kraken api and they return a "last" property along the trade data to be used as "since" in the next request. Do not see this returned in ccxt version of the call.
"...["0.73684","21.93726000",1439315345.8462,"s","l",""]]
**,"last":"1439315345846191902"**}}"

[2019-06-13 15:11] kroitor commented on #5293
@kyjak

[code]

Starts like this:

<img width="1262" alt="Screen Shot 2019-06-13 at 18 06 13" src="https://user-images.githubusercontent.com/1294454/59444183-1385e200-8e06-11e9-8f65-4e2a35a46915.png">

Then outputs lots of verbose data...

Then it gets to the actual fetchTrades call:

<img width="1262" alt="Screen Shot 2019-06-13 at 18 06 46" src="https://user-images.githubusercontent.com/1294454/

[2019-06-13 15:48] kroitor commented on #5206
@alexeymarunin thx a lot for your answer!

@stevebdh let us know if that does not help ) Feel free to ask further questions if you have more )

[2019-06-13 15:48] #5206 closed

[2019-06-13 18:33] FlickerBean commented on #5288
Why was this closed?

[2019-06-13 18:47] kroitor commented on #5288
Because it was fixed in the most recent version 1.18.685+ eight hours ago )
If you update to the most recent version – it should work fine (let us know if not).
We will be happy if you report back whether the fix resolved the issue for you or not.

[2019-06-13 19:58] FlickerBean commented on #5288
I'm such a fool, I missed the commit reference in the closed message! Sorry.

[2019-06-14 01:19] brandonkimmmm opened #5296 "New Exchange: HollaEx"
All endpoints added and tested. Failed test for Python, unsure why.

[code]

[2019-06-14 01:52] nazariyv commented on #927
having this issue with alcoin on 3.7.3 and those certificate files are identical

[2019-06-14 02:11] nazariyv opened #5297 "Feature Request: __str__ and / or __repr__ implementation for exchanges"
Hi Igor & the team,

Thanks a lot for your hard work, this repo kicks ass!

I was wondering if it would be too difficult to implement either __repr__ or __str__ dunder methods for cleaner logging purposes mainly?

Currently, if you use the exchanges as keys in the dict or simply print their repr, you get something like:

`<ccxt.async_support.binance.binance object at 0x117166da0>`

It would be muc

[2019-06-14 05:39] kroitor commented on #5296
You can run that test with Python to see more details:

[code]

[2019-06-14 05:46] kroitor commented on #5297
Hey @nazariyv )

Good to hear from you again )

It wouldn't be difficult at all, we will add those serializing overrides for sure! Thank you for pointing that out ) I totally agree with you, so, this feature will be added as soon as possible. This is considered moderate priority, however, so, it can take some time among other tasks, hopefully, not very long. We will keep you updated here. Thx!

[2019-06-14 05:47] brandonkimmmm commented on #5296
Thanks for the reply. Unfortunately, I'm still getting the same error messages...

[code]

[2019-06-14 05:48] kroitor commented on #5296
@brandonkimmmm do you see that after running `npm run build`?

[2019-06-14 05:48] brandonkimmmm commented on #5296
JS and PHP are passing the tests. The only one not passing is Python.

[2019-06-14 05:48] kroitor commented on #5296
@brandonkimmmm do you have a ccxt installed with pip globally?

[2019-06-14 05:53] kroitor commented on #5296
If a global `ccxt` is not installed on your system and you still get the error, but you can't run `npm run build` because you don't have `pandoc`, you can skip the build phase and just `npm run export-exchanges` – that should populate the local ccxt package-folder with hollaex and that should fix the KeyError.

[2019-06-14 05:54] brandonkimmmm commented on #5296
@kroitor I'm running everything through the docker container and dont have ccxt installed globally

[2019-06-14 05:55] kroitor commented on #5296
@brandonkimmmm then this should work:

[code]

Let us know if that doesn't help.

[2019-06-14 05:58] kroitor commented on #5296
Also, before you run the tests`, in order to test the private APIs, I suggest you to create a local `keys.local.json` file in the repo folder with your private key for testing the `fetchBalance`, `fetchOrder`, etc:

`keys.local.json` in the repo root folder:

[code]

↑ and then run the tests after adding that file. That will make sure that all tests are fine indeed. No worries, it will not change

[2019-06-14 06:07] brandonkimmmm commented on #5296
@kroitor Hmmm, I followed the steps but am still getting the same error messages.

[code]

I'm working on a fork of the repo that is `246 commits ahead, 371 commits behind ccxt:master.` Could this be a problem? Also, I had to `pip install tox` while inside the docker container. Not sure if that would affect anything.

[2019-06-14 06:24] kroitor commented on #5296
@brandonkimmmm are you sure that you did `npm run export-exchanges` before trying the tests?

[2019-06-14 06:31] kroitor commented on #927
@nazariyv allcoin is temporary broken, here: https://github.com/ccxt/ccxt/issues/2962, hope to fix it asap.

[2019-06-14 06:34] brandonkimmmm commented on #5296
@kroitor I found the problem. I didn't have ccxt installed as a local package but it was present in the docker container. I'm getting the proper error messages now.

[2019-06-14 06:54] kroitor commented on #5296
Yep, that's what I was asking about – if it was installed as a local package inside the environment (inside the docker container). Glad you've figured it out! Thx for the feedback!

[2019-06-14 07:29] brandonkimmmm commented on #5296
@kroitor Now all the tests are passing except for `--python3` tests. Not really getting any useful info either.

[code]
[code]

[2019-06-14 07:32] kroitor commented on #5296
@brandonkimmmm check if you have `pip3 list ccxt` as well, `python` and `python3` may be different as well as `pip` and `pip3`.

[2019-06-14 07:36] brandonkimmmm commented on #5296
@kroitor Awesome yeah that was the issue. Thanks a lot!

[2019-06-14 10:03] frosty00 commented on #5297
Yeah this is easily done.

ideally `eval(repr(obj)) == obj`

so an implementation that i would like to see is

[code]

[2019-06-14 13:43] FlickerBean commented on #5288
Something is still not right. fetchClosedOrders() is now returning only two orders. One with a key of 'canceled' and one with a key of 'closed'.

We have:
[code]

[2019-06-14 14:36] rj03hou opened #5298 "get huobipro market limit is wrong"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:centos
- Programming Language version:python3
- CCXT version:1.18.482
- Exchange:huobipro
- Method:loadMarkets

{'min': 0.01, 'max': 100.0}

but when create order
ccxt.base.errors.InvalidOrder: huob

[2019-06-14 16:24] frosty00 commented on #5298
You sir, need to update ccxt.

I'm seeing version `1.18.696` :P

[2019-06-14 18:24] IgorMBorushek opened #5300 "bittrex fetch_open_orders returning incorrect None on retry after DDoSProtection error"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: Python 3.6.3
- CCXT version: '1.18.458'
- Exchange: bittrex
- Method: fetch_open_orders

I had two processes running side by side that got throttled. I ha

[2019-06-14 19:17] kroitor commented on #5288
@FlickerBean let me check it again and I will get back to you shortly. Pardon for the inconvenience.

[2019-06-14 19:25] kroitor commented on #5298
@rj03hou the comment by @frosty00 is correct – do you have the same issue with the most recent version? If you have the same issue after upgrading to the most recent version, then we will need you to copy-paste your **verbose request and response** (we need both parts) and your code to reproduce the issue here (without your keys, of course). Please follow these guides precisely on how to post verb

[2019-06-14 19:51] skygong opened #5301 "Bigone has updated V3-API"
Bigone has updated V3-API

[2019-06-14 20:42] kroitor commented on #5300
From this message it looks like you're not respecting the bittrex rate-limit.

Do you have the rate-limiting enabled? It's required by the Manual: https://github.com/ccxt/ccxt/wiki/Manual#rate-limit

If your request was denied due to violating rate-limits, calling `.reverse()` on a None-response will not work. The error happens a lot earlier than that, upon fetching the orders, so, we need to make

[2019-06-14 21:07] icehacker33 opened #5302 "Kraken issue - privatePostRetrieveExport - corrupted zip"
- OS: Raspbian Stretch
- Programming Language version: NodeJS
- CCXT version: 1.18.697
- Exchange: Kraken
- Method: privatePostRetrieveExport

Hello there,
I am trying to export my Kraken account's stats with the RetrieveExport private method which only needs a report ID to work.

However, I found that although it's retrieving the binary stream from Kraken, for some reason it seems to be missing a

[2019-06-15 01:45] blaaaaaaa opened #5303 "dx fetch_open_orders returns empty"
dx fetch_open_orders returns empty where I have open orders

Request: POST https://acl.dx.exchange {'Content-Type': 'application/json-rpc', 'Authorization': 'XXX', 'User-Agent': 'python-requests/2.19.1', 'Accept-Encoding': 'gzip, deflate'} {"jsonrpc":"2.0","id":XXX,"method":"OrderManagement.OpenOrders","params":[{"pagination":{"limit":null,"offset":0},"instrumentId":1045}]}

Response: POST https:/

[2019-06-15 05:17] slidenerd commented on #3934
Curious question, why does Hydro Protocol/BTC and ORS Group/BTC show as a pair in your output , shouldnt it be HOT/BTC and ORS/BTC

[2019-06-15 07:31] kroitor commented on #3934
@slidenerd

- https://github.com/ccxt/ccxt/blob/master/wiki/Manual.md#notes-on-naming-consistency
- https://github.com/ccxt/ccxt/search?q=HOT+Hydro&type=Issues
- https://github.com/ccxt/ccxt/search?q=ors&unscoped_q=ors&type=Issues
- https://github.com/ccxt/ccxt/issues/3230

[2019-06-15 07:54] #5298 closed

[2019-06-15 07:57] kroitor commented on #5303
@blaaaaaaa can you plz provide more clues? 1045 = ETH/USDT, but they also have ETH/USD – are you sure there's no confusion?

[2019-06-15 08:02] kroitor commented on #5300
@IgorMBorushek also, from this section it looks like you may be recursively calling the `fetchOpenOrders` without a delay:

[code]

I suggest that you break it down into a simpler form.

[2019-06-15 09:35] kroitor commented on #5288
@FlickerBean ok, i found one more issue there, fixed it, and it should work fine in 1.18.702. Let us know if you have difficulties with it after updating once again. Thx again for your feedback!

[2019-06-15 10:20] IgorMBorushek commented on #5300
Firstly, thanks for the response. The problem isn't that I'm getting a DDoSProtection. I was getting this because I was testing the rate limiting on Bittrex on purpose. The problem is why is fetch_open_orders giving me a None response after calling it after this error though it works perfectly fine otherwise? Cancel_order and create_order retry fine after a DDoSProtection.

I understand that if I

[2019-06-15 10:53] kroitor commented on #5300
@IgorMBorushek I suggest this:

[code]

↑ Does that help?

[2019-06-15 13:06] #5297 closed

[2019-06-15 13:21] kroitor commented on #5297
Added in 1.18.707! Thx @frosty00, @nazariyv !

[2019-06-15 14:32] blaaaaaaa commented on #5303
Hi, strangely enough the 2+ days old order I wasnt able to get.
With new orders it worked but it has an error here:
line   345 in dx.py      symbol = self.markets_by_id[order['instrumentId']]['symbol']
fails since order["instrument"] id will be an integer and wont work as an key, monkeypatched it to a string and it works.
so in python I think this works: symbol = self.markets_by_id[str(order['inst

[2019-06-15 14:42] #5303 closed

[2019-06-15 14:42] kroitor commented on #5303
@blaaaaaaa

This may be a limitation on the exchange side. I'd ask @brandsimon about it, hope he can clarify it a bit.

Thx for the clues, i've added the necessary fixes, and it should work without a monkey patch as of 1.18.709 (it will arrive in 15 minutes). Let us know if you have any issues with it.

[2019-06-15 14:53] IgorMBorushek commented on #5300
I see what my problem was, fixed it, thank you very much!

[2019-06-15 14:53] #5300 closed

[2019-06-15 15:22] kroitor commented on #5278
Closing this for now, let us know if you have further questions on it.

[2019-06-15 15:22] #5278 closed

[2019-06-15 22:18] ddow opened #5305 "Failing pip install on too many args"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: OSX 10.14.5
- Programming Language version: Python 3.7.3
- CCXT version: Can't get it installed at all. Trying to get latest
- Exchange: Not sure
- Method: pip

When I try to run pip3 install CCXT

[2019-06-15 22:19] ddow commented on #5305
Above is in a clean venv with Python 3.7.3

[2019-06-15 22:32] ddow commented on #5305
Sorry, wrong GIT.

[2019-06-15 22:32] #5305 closed

[2019-06-16 00:12] danielcerdeira commented on #3534
I had the same problem than phillipescofield. How can I use CCXT with the Foxbit Websocket?
The values that I see on the website are different from CCXT.

[2019-06-16 06:37] dmitriano commented on #5062
@fonzmeister Are they realtime? What is the refresh rate? The data from what exchanges they provide?

[2019-06-16 08:27] Itaiu opened #5306 "transfer between accounts Kucoin php"
- OS: Linux Ubuntu 18.04
- Programming Language version: PHP 7.2
- CCXT version: 1.18.714
- Exchange: Kucoin
- Method: /api/v1/accounts/inner-transfer

i need help to transfer of main account, to trading Account

I already tried the define_rest_api method and it just returns an error:

Does anyone have an example of how to use it?

[2019-06-16 08:31] kroitor commented on #5306
@Itaiu you should use https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods as described in the Manual. Can you paste the code you're using (without your keys) ?

[2019-06-16 08:33] kroitor commented on #5306
@Itaiu also, is this issue about `okex3` or `kucoin` ? It states `kucoin` in the header, but `okex3` in the message.

[2019-06-16 08:33] Itaiu commented on #5306
I've read the manual, but what I don't understand is how to use the implicit methods.

[2019-06-16 08:35] kroitor commented on #5306
@Itaiu which particular exchange and which particular endpoint do you want to use? okex3 or kucoin?

[2019-06-16 08:35] Itaiu commented on #5306
Sorry, i edit now, its kucoin inner transfer

[2019-06-16 10:48] #5306 closed

[2019-06-16 10:49] kroitor commented on #5306
@Itaiu ok... here's the plan:

1. update your version of CCXT to 1.18.715 or higher
2. run this example: https://github.com/ccxt/ccxt/blob/master/examples/php/kucoin-implicit-inner-transfer-v1.php
3. let us know if that doesn't help

[code]

[2019-06-16 11:34] Djusk8 opened #5307 "Yobit: InvalidNonce handler doesn't catch that exception"
- OS: MacOS 10.14.3
- Programming Language version: Python 3.6
- CCXT version: 1.18.715
- Exchange: YoBit
- Method: except ccxt.InvalidNonce

I can't catch "Invalid Nonce" exception with  `except ccxt.InvalidNonce`

My code:
[code]

Verbose output:
[code]

It is also written in the documentation that _Invalid Nonce exception_ relates to _Network Error_, but for the YoBit exchange I was able to cat

[2019-06-16 11:39] #5307 closed

[2019-06-16 11:42] kroitor commented on #5307
@Djusk8 this is fixed in 1.18.717, it will arrive in 10 minutes. Let us know if you have any other difficulties with it. Thx for reporting!

[2019-06-16 12:02] Djusk8 commented on #5307
Works fine. Thanks!

[2019-06-16 12:13] y-clps commented on #4856
The api reference has been renewed, and host url has been published as below.
REST: https://api-cloud.huobi.co.jp
websocket: wss://api-cloud.huobi.co.jp/ws

The api reference is here. https://api-doc.huobi.co.jp/#api

This is written in Japanese, so I'm sorry for inconvenience. However, this api structure seems like huobi global.

[2019-06-16 12:20] kroitor commented on #4856
@y-clps thx for the followup on this!

[2019-06-16 22:35] Nitrooo opened #5309 "New exchange: WCX"
Site: https://wcex.com/
API: https://github.com/wcxofficial/api-docs

[2019-06-17 01:05] kroitor commented on #5073
https://www.tuxexchange.com/closing

[2019-06-17 01:05] #5073 closed

[2019-06-17 02:50] #3878 closed

[2019-06-17 02:50] #4741 closed

[2019-06-17 03:16] kroitor commented on #3878
Fixed in 1.18.721

[2019-06-17 03:17] kroitor commented on #4741
Fixed in CCXT version 1.18.721

[2019-06-17 05:04] denarioresearch opened #5310 "okex3 fetchDepositAddress for EOS does not return memo in tag field"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu
- Programming Language version: JS
- CCXT version: 1.18.643
- Exchange: okex3
- Method: fetchDepositAddress

```okex.fetchDepositAddress('EOS').then(data=>{console.log(data})```

returns the

[2019-06-17 06:08] VadimSFedin opened #5311 "Okex3 fetch margin balance"
- OS: Windows 10
- Programming Language version: Python
- CCXT version: 1.18.721
- Exchange: Okex3
- Method: okex.fetch_balance(params={'type': 'margin'}))

The method okex.fetch_balance(params={'type': 'margin'})) returns:
ccxt.base.errors.NotSupported: okex3 margin balance response format has changednot

[2019-06-17 08:02] kroitor commented on #5311
@VadimSFedin can you plz paste your verbose request + response?https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[code]

[2019-06-17 08:25] #5310 closed

[2019-06-17 09:22] #5311 closed

[2019-06-17 19:59] firepol opened #5313 "bitstamp balances error: unhashable type dict"
Version: 1.18.724
Exchange: bitstamp
Lang: python (async) -( python 3.7)
Method: fetch_balance

This method worked until a few days ago, now I get this error

Error:   File "/myhome/site-packages/ccxt/async_support/bitstamp.py", line 505, in fetch_balance
    result[currency] = account
TypeError: unhashable type: 'dict'

To reproduce, in python (import `async_support`)

[code]

Expected: no such e

[2019-06-17 20:02] #5313 closed

[2019-06-17 22:35] kroitor commented on #5313
The fix will arrive in 15 minutes. Thx for reporting it!

[2019-06-18 01:32] dotai2012 commented on #4622
Hi, I had the same issue :( :

`fetch:
 nova POST https://novaexchange.com/remote/v2/private/trade/LTC_OCUL/?nonce=1560821262
Request:
 { 'Content-Type': 'application/x-www-form-urlencoded' }
 apikey=xxxxxxxxxxxxx&signature=WHv4gDIsEuQIiJMJqZEfSCCgRwFatwSNTtymSPF8iSxg7fi0D5%2B2y%2Fs8gWtjvvz0YlLfaoVQZCoYC3L37yjYVw%3D%3D&tradetype=BUY&tradeamount=1.6464866&tradeprice=0.00000004&tradebase=1

handleRe

[2019-06-18 02:09] dotai2012 commented on #4622
I guess it is because of "tradebase"

Note: from Nova Api docs:

[2019-06-18 06:28] dotai2012 opened #5314 "Crex24 rounds price rate to zero"
- OS:
- Programming Language version: Node v10
- CCXT version: 1.18.707
- Exchange: Crex24
- Method: createOrder

I was trying to create a Buy order on pair UCUL (which has very low rate) and ccxt drops the price rate to 0 (zero)

Possible fix:

Go to crex24.js and find:

`request['price'] = this.priceToPrecision (symbol, price);`

replace with

`request['price'] = price;`

[2019-06-18 09:12] kroitor commented on #5314
@dotai2012 can you please paste your verbose request and response? https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2019-06-18 09:23] #5314 closed

[2019-06-18 09:50] kroitor commented on #4622
@dotai2012 we always use the base currency for the amount, as explained here:

- https://github.com/ccxt/ccxt/wiki/Manual#order-structure
- https://github.com/ccxt/ccxt/wiki/Manual#placing-orders

So it requires 0.000019283054021 LTC to buy 482.07635052 OCUL. Make sure you have that much quote currency (LTC) on your balance.

[2019-06-18 12:51] brandsimon commented on #5303
@blaaaaaaa @kroitor
Yes, sadly this is a limitation on the exchange side.
I think, they do this because there is no `get_order` method.

[2019-06-18 14:07] IgorMBorushek commented on #5300
By the way, I think binding response to the result is a no go because unless I'm mistaken, if there is an exception in the recursive call, response won't be bound. So I implemented it like this:

    def api_call(self, message, *args):
        '''for performance checking
        global now
        print('cpu work time between last api call and current call of: ' + str(message) + ' is ' + str(time.

[2019-06-18 14:10] kroitor commented on #5300
That was exactly the version i posted here initially, but then I edited it for your case with `response` )) You're absolutely right )

[2019-06-18 18:27] suspended opened #5316 "Remove FYB-SG Exchange from CCXT"
As mentioned on their [website](https://www.fybsg.com/), FYB-SG is ceasing operations.

This calls for its removal from CCXT to keep the list of supported exchanges up-to-date.

[2019-06-18 23:03] newsum commented on #3445
any update on this?

[2019-06-18 23:20] kroitor commented on #5316
We will delist it when their API stops responding or earlier.

[2019-06-18 23:59] mkang1234 opened #5317 "Fetch order method in Bibox not working"
- OS: Windows
- Programming Language version: Python
-  CCXT version: Latest version
- Exchange: Bibox
- Method: fetch_order

When I call fetch_order method, the exchange returns the following message:

{"result":[{"error":{"code":"3000","msg":"请求参数错误"},"cmd":"orderpending/order"}],"error":{"code":"3000","msg":"请求参数错误"},"cmd":"orderpending/order"}

Code 3000 refers to invalid parameter.

I am able

[2019-06-19 00:01] kroitor commented on #5317
@mkang1234 can you please post your verbose request/response for the fetch_order call?

[code]

[2019-06-19 00:17] mkang1234 commented on #5317
Request: POST https://api.bibox.com/v1/orderpending {'Content-Type': 'application/json', 'User-Agent': 'python-requests/2.20.0', 'Accept-Encoding': 'gzip, deflate'} {"cmds":"[{\"cmd\":\"orderpending/order\",\"body\":{\"id\":11221615815381211}}]","apikey":"XXXXXXXXXXXXXXXXXXXXXXXXX","sign":"XXXXXXXXXXXXXXXXX"}

Response: POST https://api.bibox.com/v1/orderpending 200 {'Server': 'Tengine', 'Content-

[2019-06-19 00:22] kroitor commented on #5317
@mkang1234 it's been broken since they changed their API: https://github.com/ccxt/ccxt/issues/5164

Does this work on your side:

[code]

?

[2019-06-19 00:27] mkang1234 commented on #5317
Yes that works!! Thank you

[2019-06-19 00:29] kroitor commented on #5317
@mkang1234 i will add that to the main branch, and if you update to version 1.18.734 in 15 minutes – your code will work without edits:

[code]

Let us know if you have further difficulties after that. Thx for reporting!

[2019-06-19 00:29] mkang1234 commented on #5317
ok thanks!

[2019-06-19 03:37] kroitor commented on #3445
@newsum nope, not yet, but we hope we will have a chance to look into it asap.

[2019-06-19 03:52] owneroxxor commented on #358
Today, 19/06/2019, do we have support for SOCKS4 and SOCKS5 proxies for aiohttp_proxy param? If so, any exemple on using it?

[2019-06-19 04:24] kroitor commented on #358
@owneroxxor using an external session could work: https://github.com/romis2012/aiohttp-socks

[code]

The code would look close to this:

[code]

[2019-06-19 04:30] owneroxxor commented on #358
Wow awsome! I can bet many out there were searching for this. Thanks a lot.

[2019-06-19 09:53] npomfret opened #5319 "[coinmate] precision changes for 10th July"
Please edit your API code, robot or ATM accordingly any time before the update, *the update will take place on 10th July 2019, which is in 30 days from now*.

Here are the pairs to be changed with the current max allowed number of decimals -> new max allowed number of decimals in PRICE:

BTC/EUR 2 -> 1

BTC/CZK 2 -> 0

LTC/CZK 2 -> 1

ETH/CZK 2 -> 1

XRP/CZK 5 -> 4

ETH/CZK 3 -> 1

DASH/CZK 2 -> 1

[2019-06-19 09:56] gontadu opened #5320 "New Exchange: VALR"
Hi,
Please consider implementation of VALR

the exchange is located at www.valr.com

The API docs are at https://docs.valr.com/?version=latest - it appears to be built using Postman.

[2019-06-19 09:57] gontadu opened #5321 "New Exchange: OVEX"
Hi,

Please consider implementing support for OVEX www.ovex.io

API docs at:

https://documenter.getpostman.com/view/3777563/S11RLw8K?version=latest

[2019-06-19 11:45] kroitor commented on #5317
@mkang1234 any issue with it?

[2019-06-19 14:59] jsgpdevelop opened #5322 "bignumber ethereumjs-abi ethereumjs-util web3 dependencies not work"
- OS: Windows 7 x64
Programming Language version: Javascript/typescript
- CCXT version: latest

i just installed the latest version of  ccxt and it throws these errors when compiling:

WARNING in ./node_modules/ccxt/js/base/Exchange.js
Module not found: Error: Can't resolve 'bignumber.js' in 'C:\Ordphy\ordphy-frontend\node_modules\ccxt\js\base'

WARNING in ./node_modules/ccxt/js/base/Exchange.js
M

[2019-06-19 15:03] kroitor commented on #5322
Can you plz clarify what exactly (which commands) you mean under "compiling" ? The deps in the header of this issue are "external" to our code. Do you have those deps installed in your `ordphy-frontend` project? Also, what's your node version?

[2019-06-19 15:27] jsgpdevelop commented on #5322
[code]
I just installed ccxt and imported it and used it in my code in this way :
`import * as ccxt from 'ccxt';`
`this.api = new ccxt.binance({ enableRateLimit: true, ...options });`

I'm using Angular. To execute the code, Angular compiles (translates) the code from typescript to javascript.

The problems with dependencies arises when I'm  using ccxt. Those are dependecies of ccxt.
Should not th

[2019-06-19 15:34] kroitor commented on #5322
The base code of CCXT is not typescript, it's JavaScript, mostly.

Not really, because CCXT does not require those deps unconditionally. It only requires them if you instantiate all exchanges, including the ones that need web3:

- https://github.com/ccxt/ccxt/blob/master/js/base/Exchange.js#L60
- https://github.com/ccxt/ccxt/blob/master/js/base/Exchange.js#L1341

Nope, because we can't guarantee t

[2019-06-19 15:45] kroitor commented on #5322
@jsgpdevelop basically, if you don't use web3, then exclude those files from your angular project.
Something like this should help:

- https://www.google.com/search?q=angular+webpack+exclude+file
- https://www.google.com/search?q=webpack+angular+exclude+require

[code]

In other words, this is webpack + Angular + node issue, not a CCXT issue. Let us know if the above does not help.

[2019-06-19 15:45] #5322 closed

[2019-06-19 15:51] jsgpdevelop commented on #5322
It works fine. Thank you a lot.

[2019-06-19 15:52] kroitor commented on #5322
@jsgpdevelop thx for reporting back!

[2019-06-19 18:46] mkang1234 commented on #5317
The new version doesn't appear to solve the issue but I'm able to run with the following parameter.

symbol = None
params = {
    'account_type': 0,
}

[2019-06-19 18:49] kroitor commented on #5317
@mkang1234 make sure you have indeed updated the version, and when the program runs your ccxt version is up date. To check for the runtime version:

[code]

Is it >= 1.18.734 ?

[2019-06-19 19:01] mkang1234 commented on #5317
CCXT version:1.18.55
bibox {"result":[{"error":{"code":"3000","msg":"请求参数错误"},"cmd":"orderpending/order"}],"error":{"code":"3000","msg":"请求参数错误"},"cmd":"orderpending/order"}

Thought I was running the latest version.  Let me download latest version again.

[2019-06-19 19:07] kroitor commented on #5317
Pay attention to which pip you're using to install and upgrade it. Because, if you're on Windows, then you most likely run anacoda python, and conda is known for its `pip`-related issues:

- https://github.com/ccxt/ccxt/issues/3317
- https://github.com/ccxt/ccxt/issues/2824
- https://github.com/ccxt/ccxt/issues/2747
- ...

[2019-06-19 19:22] mkang1234 commented on #5317
I had to do pip uninstall ccxt and then pip install ccxt to upgrade to latest version.
Had to convert order_id to string and looks like it works now. Thank you!

[2019-06-19 19:22] #5317 closed

[2019-06-19 19:45] Djusk8 opened #5323 "YoBit: wrong balance parsing for RUB base currency"
- OS: MacOS
- Programming Language version: Python 3.6
- CCXT version: 1.18.744
- Exchange: YoBit
- Method: fetch_balance()

fetch_balance() confuses free and used balances for RUB main currency

**Note**: for another base currencies (BTC, ETH, USD) this function works great

Code:
[code]
Output:

[code]

Response said I have free 0 EOS and used 6.71 EOS
I have an active open order selling 6.71 EO

[2019-06-19 20:31] #5323 closed

[2019-06-19 20:40] kroitor commented on #5323
@Djusk8 pardon for the inconvenience, this was a newly introduced bug, should be back to normal in 1.18.747 in 10-15 minutes. Let us know if you have any other difficulties with it. Thx for reporting!

[2019-06-20 21:05] magoarcano opened #5329 "Error creating order in DX with Python2"
In Python 2 I get the error:
[code]
For Python 2 I can fix it doing `unicode(value).isnumeric()`, but I'm not sure how does it affect to Python3 implementation

- OS: OS X
- Programming Language version: Python
- CCXT version: 1.18.723
- Exchange: DX
- Method: create_order()

[2019-06-21 10:29] npomfret opened #5330 "[coinbasepro/gdax] withdrawal status 'pending' when should be 'ok'"
Here's an example of a successfully completed withdrawal that has a status of _pending_.

[code]

[2019-06-21 11:08] npomfret opened #5331 "[therocktrading] txid and address incorrectly parsed for FIAT withdrawals"
[code]

[2019-06-21 13:08] IgorMBorushek opened #5332 "What are the conditions for internal reload of load_markets within the library?"
OS: Windows 10
    Programming Language version: Python 3.6.3
    CCXT version: '1.18.458'
    Exchange: bittrex
    Method: all exchange methods that call load_markets internally

While testing performance on various exchange methods, I noticed that some calls are obviously hitting cached markets while some are reloading them. Clearly, load_markets is being reloaded internally within an exchange

[2019-06-21 13:29] npomfret opened #5333 "[cex.io] transaction failure not detected"
For some reason cex put the text _Transaction failed_ in the `txid` field for some failed transfers (see below).  The status field is also rejected.  We could use these in our status field.

[code]

[2019-06-21 13:38] kroitor commented on #5329
@magoarcano hi! Can you please paste the entire call stack for this error?

[2019-06-21 13:42] kroitor commented on #5332
We do not reload markets in the lib, we only load them once upon your first call to a any method of a unified API.

We don't do subsequent reloading and there is no logic in the lib nor timers that would control that. Reloading is put on the user (the user should call loadMarkets with a reload flag set to true in order to trigger a reload).

We only load them once per exchange instance lifetime. H

[2019-06-21 13:45] kroitor commented on #5331
↑ That's wrong indeed, however can you explain what's wrong with the following? ↓

(in case of fiat we can't fill in anything else there)

[2019-06-21 14:29] npomfret commented on #5331
The thing that's in address is the IBAN for the transfer.  Doesn't belong in the address field IMO.

[2019-06-21 17:06] cryptoflipper commented on #3627
Isn't it in private_get_position?

    {
        "account": 170548,
       ...
        **"leverage": 10,**
}

[2019-06-21 21:10] kroitor commented on #5332
This is how the library decides whether it needs to load and cache the markets or if they were already loaded and cached previously:

https://github.com/ccxt/ccxt/blob/master/js/base/Exchange.js#L692

[code]

If the `reload` flag is true or if `this.markets` have not been loaded and cached yet – then it loads them. So, if you see your application reloading them constantly, that might indicate a bu

[2019-06-21 21:11] #5332 closed

[2019-06-21 22:23] #5330 closed

[2019-06-21 22:24] cryptoflipper commented on #4302
Just getting this over the finish line. Closing open positions and closing open orders are handled differently it seems.
You need to find the symbol from each open position (using private_get_position()) and then close that symbol explicitly as kroitor says.  Closing open orders uses a different mechanism. There you use exchange.fetch_open_orders(symbol) and then pick up the order order['id'] and

[2019-06-21 22:26] kroitor commented on #5333
@npomfret tbh, i can't find any code in cex regarding the transaction parsing...

[2019-06-21 22:34] kroitor commented on #4302
@cryptoflipper thx for the followup on this and for the example!

[2019-06-21 22:34] #5331 closed

[2019-06-21 23:59] kroitor commented on #3834
- https://bitcointalk.org/index.php?topic=5095994.0
- https://bitcointalk.org/index.php?topic=4612714.msg45062779#msg45062779

The exchange website seems to be broken at this point, twitter and reddit closed, we're delisting bitibu, sorry.

[2019-06-22 01:13] kroitor commented on #5319
This should be updated automatically within markets.

[2019-06-22 01:14] kroitor commented on #5164
I've just tested bibox with the most recent version and it works from my location. Let us know if you still have difficulties with it, however, in case of a problem, please, make sure to include a complete report: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2019-06-22 01:14] #5164 closed

[2019-06-22 07:05] kroitor commented on #805
The exchange is now closing down: https://twitter.com/ExchangeGetBTC/status/1115315738556993537 and may be reborn later. We're delisting it at this point.

[2019-06-22 07:09] jjh2811 opened #5334 "Upbit private API methods don't work."
- OS: Ubuntu 16.04.6
- Programming Language version: Python 3.7.3
- CCXT version: 1.28.721 ~ current version
- Exchange: Upbit
- Method: Private API's

Hello,
Private API methods for Upbit haven't been working since 1.28.721.
I currently can't help but use 1.28.720(which works fine).
It'd be great if you would fix it.

The error message is as follows.

[code]

[2019-06-22 07:18] kroitor commented on #5334
@jjh2811 this was a newly introduced bug. It has been fixed, the new build is on the way, it should work as of version 1.18.779, it will arrive in 15 minutes. Let us know if that doesn't help.

[2019-06-22 07:20] jjh2811 commented on #5334
Thank you!

[2019-06-22 07:21] kroitor commented on #5334
@jjh2811 thx for reporting!

[2019-06-22 07:42] jjh2811 commented on #5334
@kroitor
I got another error message.

[code]

[2019-06-22 07:45] kroitor commented on #5334
@jjh2811 how do you set up your keys? Are you sure they're strings?

[2019-06-22 07:47] jjh2811 commented on #5334
@kroitor Yes. they're strings.
[code]

[2019-06-22 07:54] #5334 closed

[2019-06-22 07:55] kroitor commented on #5334
@jjh2811 ok, i've added one more fix, can you please test it and report after upgrading to version 1.18.781 (need to wait 10-15 minutes again)? I've reproduced this case on my side and fixed it, so it works with my Python 3.7.2. We will be happy if you report back whether it resolved the issue for you or not.

[2019-06-22 08:15] jjh2811 commented on #5334
@kroitor Yay, it fixed. Thank you for your quick response and help.

[2019-06-22 10:46] npomfret commented on #5333
Apologies - please ignore!

[2019-06-22 10:46] #5333 closed

[2019-06-22 10:47] kroitor commented on #5333
@npomfret it would be awesome if you submit it, though )

[2019-06-22 11:26] kroitor opened #5336 "C-CEX shutdown"
https://twitter.com/CryptoCurrEncyX/status/1125766574177226753

[2019-06-22 12:14] firepol opened #5338 "cex.io fetchClosedOrders sell amount < 0"
- CCXT version: 1.18.727
- Exchange: cex.io
- Method: fetchClosedOrders

Orders on the "sell" side have a negative amount.

Expected: both sell and buy orders should have positive amounts.

[2019-06-22 12:18] #5338 closed

[2019-06-22 13:24] #5336 closed

[2019-06-22 16:30] razi-rais opened #5339 "KeyError: 'price' when calling calculate_fee with Gemini"
- OS: macOS Mojave (version 10.14.5)
- Programming Language version:  Python 3.7.3
- CCXT version: 1.18.758
- Exchange: Gemini
- Method: calculate_fee

I am trying to use ```calculate_fee```  method but getting ``` KeyError: 'price' ``` error.  When I browse through the section  [Precision and limits](https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits) in the manual it is not clear what

[2019-06-22 18:39] adi90x commented on #56
Any update on this ?

[2019-06-22 21:26] acreux commented on #4991
it seems that they now provide `base_increment` information (tested) for every market:
[code]
An example in the [status channel section](https://docs.pro.coinbase.com/?r=1#the-status-channel) says so,
but not officially in the [Products section](https://docs.pro.coinbase.com/?r=1#products)

[2019-06-23 03:04] vxnuke opened #5340 "liquid TypeError: key: expected bytes or bytearray, but got 'str' with JWT in Python3"
Hi just wondering if this project works with Python 3.7.3?
Code works fine in 2.7 but not 3.7.3 also tested with 3.6.8 seems to be python3 issue
Just having some issues. Here is a screenshot. Code is pretty basic
https://imgur.com/a/DPHIdS3

Code:
[code]
###################################################################
issue
###################################################################
[co

[2019-06-23 07:35] martalson commented on #56
@kroitor What's missing to be able to integrate? Lots of people looking forward to the websockets

[2019-06-23 08:58] kroitor commented on #5340
Yes, it does, however, there was a recent change regarding the dependencies for JWT, so the exchanges using JWT may be broken in Py3. Will take a look and will fix this shortly.

[2019-06-23 09:04] #5340 closed

[2019-06-23 09:06] kroitor commented on #5339
The problem comes from the fact that Gemini does not serve the info about limits and precision anywhere from there API. The only way to add those limits programmatically – is to scrape them from their docs, here: https://docs.gemini.com/rest-api/#symbols-and-minimums. Or to wait until they add the missing info to their API. The `calculate_fee` relies on limits and precision, therefore it doesn't w

[2019-06-23 09:18] kroitor commented on #5340
Liquid is now fixed in Python3 as of version 1.18.788. Let us know if you still have difficulties with it after upgrading CCXT to the most recent version. Thx for reporting!

[2019-06-23 09:24] kroitor commented on #4991
@acreux thx for reporting! Will add to the parser shortly!

[2019-06-23 11:32] firepol commented on #4836
Hi @kroitor is there anything you could do about this? I have another example of wrongly parsed transaction:

[code]

The parsed amount is: 0.0.
Expected: 0.04982417

The amount should have been taken from this property: `"a:BTC:cds": "0.04982417"`

[2019-06-23 11:39] kroitor commented on #4836
@firepol i'll try to fix it in a day or two. Need to rework the order parser for `cex`, hope to resolve it shortly.

[2019-06-23 11:55] vxnuke opened #5342 "oceanex TypeError: key: expected bytes or bytearray, but got 'str' with JWT in Python3"
Private calls don't work.

'''
Traceback (most recent call last):
  File "china_oceanex.py", line 107, in <module>
    balances = exchange.fetch_balance()
  File "/usr/local/lib/python3.7/dist-packages/ccxt/oceanex.py", line 442, in fetch_balance
    response = self.privateGetMembersMe(params)
  File "/usr/local/lib/python3.7/dist-packages/ccxt/base/exchange.py", line 421, in inner
    return entr

[2019-06-23 11:56] vxnuke commented on #5340
Liquid works great cheers :)

[2019-06-23 11:58] kroitor commented on #5342
This is fixed in the most recent version, just update your CCXT and it should work. Let us know if not.

[2019-06-23 11:58] #5342 closed

[2019-06-23 14:44] bsliran commented on #5225
+1

[2019-06-23 14:56] hroff-1902 opened #5343 "coinbasepro order['fee']['currency'] undefined/None/null"
- Programming Language version: python
- CCXT version: 1.18.725
- Exchange: coinbasepro
- Method: fetch_order (parse_order)

The fee structure returned by fetch_order() (actually by parse_order()) for coinbasepro contains the 'currency' field equal to None. While the 'cost' field contains actual value for the fee (did not check, I assume this reviewing the codebase). I'm not sure if it shall defin

[2019-06-23 15:41] npomfret commented on #4836
I've done a bunch of work on cex.  I'll submit work work so far...

[2019-06-23 16:04] kroitor commented on #5343
We are not sure either. If it's in quote currency or in base currency – it's easy to fix though. Can you tell looking at your orders, what is it? Always quote? Always base?

In fact, throughout this library, when one field is present and the field next to it is undefined – that is not because we didn't want to define it, that means we could not find a defined value for it. In general, if the API d

[2019-06-23 16:28] kroitor commented on #5339
We have added a web-scraper that gets the limits and precision from Gemini docs, and this is the default now as of version 1.18.791+. So, the methods for calculating fees should work from there.

In order to switch back to the previous behavior:

[code]

Let us know if you have further difficulties with it.

[2019-06-23 17:03] #5343 closed

[2019-06-23 17:22] npomfret opened #5344 "[therock] fetchDeposits and withdrawals not working"
Getting this error: `Error: therock does not have currency code atm_payment`

Caused by:

[code]

... 1st parameter passed to fetchTransactions is wrong.

[2019-06-23 17:24] #5344 closed

[2019-06-23 17:34] npomfret opened #5345 "[therock] dealing with delisted currency"
I'm getting this error when requesting withdrawals: `therock does not have currency code USD`.

That currency used to be supported.  Is there a recommended way to deal with this?  I'm thinking to just pass the `currency` directly.

[2019-06-23 18:07] kroitor commented on #5345
[code]

Does this help?

[2019-06-23 18:19] kroitor commented on #5345
Alternatively, we could add some switch or option across all exchanges, something like "useCurrencyCodesAsIs", that would skip the lookup in `this.currency()`.

[2019-06-23 19:03] npomfret commented on #5345
thanks, your first suggestion worked.

[2019-06-23 19:03] #5345 closed

[2019-06-23 19:44] razi-rais commented on #5339
After installing the build 1.18.791  getting error -- ```NotSupported: gemini the Gemini API doc HTML markup has changed, breaking the parser of order limits and precision info for Gemini markets```
[code]

[2019-06-23 19:44] npomfret commented on #5331
@kroitor DSX has a similar problem:

[code]

[2019-06-23 19:45] kroitor commented on #5339
@razi-rais hold on, will check for that and will get back to you shortly...

[2019-06-23 19:57] #5339 closed

[2019-06-23 19:58] kroitor commented on #5339
Ok, reproduced it, found another bug in the python version, fixed it, and if you can update to version 1.18.794+ (will arrive in 15 minutes), it should work fine. I've tested it on my side and it works for me. We will be happy if you report back whether it work for you or not. Thx!

[2019-06-23 19:59] kroitor commented on #5331
@npomfret how do you suggest to workaround it?

[2019-06-23 20:13] npomfret commented on #5331
Is it appropriate to say this is a FIAT v's crypto problem.  FIAT transfers don't happen on chain so txid and address are inappropriate fields for them.

Is there a way to identify FIAT currencies?  If not, I guess we need that first.

[2019-06-23 20:25] kroitor commented on #5331
To be honest, I would like to avoid remembering properties of tokens in the lib, because I believe the lib should be agnostic to token-specific things.

If that identifies the recipient and the transaction – why not? I don't really see why a fiat transaction could not have an address and a txid.

[2019-06-23 20:34] npomfret commented on #5331
I my mind fiat transactions _might_ have a transaction id, but i thought the CCXT field `txid` was crypto/blockchain specific?

They don't have an address though, they go to and from an _account_.  You could overload address with account information but I don't see why, I'd prefer to have a separate field (or fields).  Perhaps a `destination` object is what we need?  It could have a different shap

[2019-06-23 23:25] lfzCarlosC opened #5346 "regression issue: okex cannot get data"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: linux alpine
- Programming Language version:
- CCXT version: 1.18.726
- Exchange: okex
- Method:
    load_markets

cannot get any historical data from  okex in the new version. In old version(1.17.

[2019-06-23 23:29] kroitor commented on #5346
Can you please paste your code to reproduce it and verbose request and response (we need both the request and the response) that fails on your side?

[code]

Ultimately, I'd suggest to migrate to `okex3`, because okex v1 will not be maintained further.

[2019-06-23 23:37] razi-rais commented on #5339
Working now. Thanks.

[2019-06-23 23:49] kroitor commented on #5339
@razi-rais thx for reporting! Appreciate that!

[2019-06-24 02:16] kroitor commented on #5331
Well, i would agree with you before you opened this issue, but now I'm in doubt ) This is the edge of our standard where it is less defined and we're basically defining it right now together. However, now, as I think of it more, I do believe that even with fiat transactions among banks, there is a transaction id involved, so, maybe filling up txif for fiat is not so bad idea in the light of what w

[2019-06-24 03:54] WoK-E opened #5347 "Bibox: fetchTickers() returns 'vol24H' as baseVolume"
- OS: Linux
- Programming Language version: PHP 7.2
- CCXT version: 1.18.796
- Exchange: Bibox
- Method: fetchTickers()

fetchTickers() for bibox returns 'vol24H' as baseVolume, instead of the actual volume

[2019-06-24 04:02] kroitor commented on #5347
The purpose of the ticker is to return 24h stats, some exchanges also report the current volume of topmost orders in the orderbooks, but that info goes into different fields, namely `bidVolume` and `askVolume`. The ticker does not report current total volume in the orderbooks. See the Manual on ticker structure here:

- https://github.com/ccxt/ccxt/wiki/Manual#price-tickers

If you want to get the

[2019-06-24 04:21] WoK-E commented on #5347
My point was that the baseVolume returned is not a float, as it should be (and as stated in the manual), but the string 'vol24H'

[2019-06-24 04:35] #5347 closed

[2019-06-24 16:13] mmilojevic opened #5349 "fetch my open orders"
Dear,
This is more a question then issue, but I have read complete documentation and want to know how to retrieve MY open orders, not all but MY? Is it possible? You could set this question in FAQ also....

Because when order is made it cannot be tracked in some new call to API, but I should save the order ID to my DB while order is made (id is returned), is it right?

[2019-06-24 16:18] clarkmoody opened #5350 "Bibox trade `cost` field is broken"
The `cost` field within `parseTrade` is broken due to a logic error.

- OS: any
- Programming Language version: all
- CCXT version: `>=1.18.705`
- Exchange: Bibox
- Method: `parseTrade`

Regression was introduced [here](https://github.com/ccxt/ccxt/commit/fa67d08e80ec59256ac73569086e5de24d0055ad#diff-e1f5e622f2f69c2245cb577e19f56ad9R272). The check for `cost` is redundant.

[2019-06-24 18:18] #5350 closed

[2019-06-24 18:50] kroitor commented on #5349
Yes, you should use the _private_ part of the unified API instead of the _public_ part. The private methods for fetching **your orders** (not all, but just yours) are:

- `fetchOrder`
- `fetchOrders`
- `fetchOpenOrders`
- `fetchClosedOrders`

More about that part of the API is here:

- https://github.com/ccxt/ccxt/wiki/Manual#querying-orders
- https://github.com/ccxt/ccxt/wiki/Manual#order-structu

[2019-06-24 18:50] #5349 closed

[2019-06-24 20:42] nazariyv opened #5352 "Where are the privatePostOrder and self.extend methods defined?"
Hi again Igor!

This is a question.

I wanted to ask about this line:

`response = getattr(self, method)(self.extend(request, params))`
This is line `700` of the binance exchange code. I am trying to understand where the `privatePostOrder` method is and where is this `self.extend` method defined.

I am trying to think if I need to reattempt the rest async get on fail. But not quite understanding t

[2019-06-24 20:59] kroitor commented on #5352
Hi @nazariyv !

Nowhere ) That method does not exist in the code, it is generated in runtime, when you launch your script. For each exchange endpoint defined in `describe() → api` CCXT creates an implicit method corresponding to that endpoint. Explained here:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#implicit-api-methods
- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-met

[2019-06-24 20:59] #5352 closed

[2019-06-24 21:01] kroitor commented on #5352
An example of a retry-sequence (might need adjustments for your needs):

[code]

[2019-06-24 21:14] nazariyv commented on #5352
Thank you very much! I will study the resources mentioned carefully :)

[2019-06-24 22:05] mmilojevic commented on #5349
Thank you very much! It was so obvious, I just didn't tried it in practice :)

[2019-06-25 08:04] denarioresearch opened #5354 "Bittrex cancelOrder TypeError: Cannot read property 'split' of undefined"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu
- Programming Language version: js
- CCXT version: 1.18.787
- Exchange: bittrex
- Method: cancelOrder
[code]

This error does not happen all the time. I tried to replicate it but did not app

[2019-06-25 08:12] kroitor commented on #5354
@denarioresearch we need some way of replicating it, though. Can you try to catch it with verbose mode on and paste your verbose request + response here along with the complete error call stack? We could localize the issue then. Please, see here:https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2019-06-25 08:30] kroitor commented on #5354
More about it here: https://github.com/ccxt/ccxt/blob/master/js/bittrex.js#L1338

[2019-06-25 08:33] denarioresearch commented on #5354
I've set verbose mode and trying to replicate error. Order gets cancelled successfully. I looked through cancelOrder code and it seems there is something in parseOrder that causes this error. 'INVALID_ORDER' order appears when I try to cancel an order that does not exist or id is wrong.

[2019-06-25 08:49] npomfret commented on #5331
I'm sure there is, but I've done 500 fiat deposits/withdrawals and so far I've not found any sort of id that has any use.

`I think of an address as an identifier of the account, and the more i think of it the more i tend to consider a bank account number to be equivalent to a crypto address – it identifies the recipient within the systems on the receiving side of a transfer or a transaction.`

I

[2019-06-25 10:22] AndrewOzarko opened #5355 "bitfinex не приходят все данные"
Здраствуйте, не приходит все данные для криптобиржы bitfinex. например в binance при fetch_ticker приходит изменение и изменение в процентах, в bitifnex эти значения null. Как можна добыть эти данные ?

[2019-06-25 10:34] wiktorglowacki opened #5356 "Poloniex - please update trading fees"
- OS: MacOS
- Programming Language version: Javascript
- CCXT version:  1.18.815
- Exchange: Poloniex
- Method:

https://github.com/ccxt/ccxt/blob/master/js/poloniex.js#L114

Can you please update Poloniex Trading Fees? They were changed recently to:

'maker': 0.0015
'taker': 0.0025

[2019-06-25 10:41] kroitor commented on #5355
Здравствуйте!

Обычно, мы не добавляем "от себя" то, чего не предоставляет биржа, поэтому, если какие-то значения не передаются самой биржей — мы не дописываем их, в этом случае отсутствие этих значений допустимо. Чаще всего это означает, что эти величины (изменения в процентах) можно рассчитать на клиентской стороне на основании объёмов и цен закрытия и открытия, а также на основании исторической

[2019-06-25 10:41] #5355 closed

[2019-06-25 12:19] npomfret commented on #5356
https://github.com/ccxt/ccxt/pull/5358

[2019-06-25 12:30] #5356 closed

[2019-06-25 12:58] calbertuk opened #5359 "Format sub-account Binance request"
I'm looking into the Implicit API Methods of the manual but can't figure out how to call those sub-account functions for Binance.

I thought it would be:

`privateGetSubAccountList()
`

But that doesn't work. Tried a few different ones but no luck. Any chance you could steer me in the right direction?

Language: NodeJs
Exchange: Binance

[2019-06-25 13:34] frosty00 commented on #5359
Hi there and thank you for using ccxt.

Implicit API methods are generated from the `exchange.api` property of the an exchange instance.

Looking at the `.api` of a binance object this is what I see:

[code]

Hence to generate the method that you want you need to join the parts of the endpoint you want. In this case I believe you are looking for `wapiGetSubAccountList`.

Note that here the `-` is

[2019-06-25 13:39] calbertuk commented on #5359
That's all, thanks.

[2019-06-25 13:39] #5359 closed

[2019-06-25 16:45] npomfret opened #5361 "[bleutrade] transaction amount is a string (should be a float)"

[2019-06-25 17:20] soerenmartius opened #5362 "How to start fetching ohlcv starting from the oldest available data ongoing"
ATTENTION!!!

- OS: MacOS 18.6.0
- Programming Language version: Python 3.7x
- CCXT version: ~1.18
- Exchange: various
- Method: fetch_ohlcv()

Is there any build variable or method to what's the earliest available timestamp of markets OHLCV data? If I pull all markets from Bitmex using a resolution of 1m, the API's won't return data for most of the assets. If I align the timestamps towards a date

[2019-06-25 17:43] richardkim32 opened #5363 "New Exchange: SeedCX (ZeroHash)"
Hi,

Please consider implementing support for SeedCX https://www.seedcx.com/

To view markets:
https://trade.seedcx.com/

SeedCX is an institutional platform that supports spot and derivatives trading in cryptoassets. They are a regulated US based exchange. Thanks

API docs are as follows:

https://seedcx.com/api/web/

[2019-06-25 19:25] #5361 closed

[2019-06-25 20:27] dutu commented on #5320
see https://github.com/dutu/valr-api-node
It will be release on NPM once fully ready

[2019-06-25 20:51] frosty00 commented on #5362
Hi @soerenmartius,

You can send a request to bifinex and get the `OHLCV` that it has available to supply to you. Some APIs provide different results based upon the since parameter you provide to the ccxt request. If you want the earliest OHCLV data for bitfinex you would have to use `await bitfinex.fetchOHLCV ('ETH/BTC', '1m')[0]`.

CCXT does not provide the functionality to automatically poll th

[2019-06-25 21:05] kroitor commented on #5362
@soerenmartius another way to get the earliest date is to fetch the earliest OHLCV timestamp from BitMEX using a high timeframe:

[code]

- https://github.com/ccxt/ccxt/wiki/Manual#pagination

Let us know if that does not help.

[2019-06-25 21:05] #5362 closed

[2019-06-25 21:08] frosty00 commented on #5362
Also there is a secret param in the docs for bitmex (i got confused and replied about bitfinex above, sorry!)

[code]

this should give you the earliest timestamp OHLCV, unfortunately it you will have to convert the starting index to a timestamp by doing some maths.

[2019-06-25 22:13] soerenmartius commented on #5362
Hi guys,

Thanks for the detailed answers - I am aware of how to pull the data and also how to paginate. Some exchanges are just giving me a hard time when it comes to starting date for historical data. For some exchanges, if one passes a date previous to the starting date of the time series, the exchanges would not return you anything at all. Using the highest timeframe and resolving through the

[2019-06-25 22:15] denarioresearch opened #5364 "Poloniex withdrawal id change suggestion"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange: poloniex
- Method: withdraw

Here is an example of withdraw from Poloniex function output
`{"info":{"response":"Withdrew 266.65869102 GNT

[2019-06-25 22:23] soerenmartius commented on #5362
I've tested the pagination approach mentioned in: https://github.com/ccxt/ccxt/wiki/Manual#pagination

Indeed, running `since = orders[len(orders) - 1]['timestamp']` will end up in fetching one duplicate data point per time series.

[2019-06-25 23:54] kroitor commented on #5362
@soerenmartius you're right on the duplication, that is just a simplified example if the Manual, we will alter it for the above.

[2019-06-26 01:53] gRittyKitty opened #5365 "Issue #3594 reopen"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2019-06-26 01:57] gRittyKitty commented on #5365
Wow I'm bad at this.

[Issue #3594](https://github.com/ccxt/ccxt/issues/3594) has become a problem again. As a refresher, itbit.js is not signing properly.
I've tested out the same fix as before and it now works for me.

@trentduncan had the fix and also noted that the sign may need to integrate into it the body (right now it is hardwired to "").

I'm going to try a pull request with the fix. I'll

[2019-06-26 02:14] gRittyKitty commented on #5365
I've put in the pull request with the fixed code. However, it may be that the entire fix that I've put in is not necessary. I suspect the problem is that in the line:
`const auth = [ method, url, body, nonce, timestamp ];`
that the body param is causing the issue. And doing the following:
`let auth = [ method, url, '', nonce, timestamp ];
if (method === 'POST') {
   [ method, url, body, nonce, tim

[2019-06-26 02:19] gRittyKitty commented on #5365
Ok. I tried it (doing the if statement as above) and that works.
I'd recommend rejecting my pull request and doing the following:
`let auth = [ method, url, '', nonce, timestamp ];`
`if (method === 'POST') {`
 `auth = [ method, url, body, nonce, timestamp ];`
`}`

[2019-06-26 02:22] gRittyKitty commented on #5365
ok. new pull request made.
for some reason it is not passing a check.
i'm cooked. lmk if i've submitted in a reasonable fashion. i'll be back in (my) morning

[2019-06-26 02:24] kroitor commented on #5365
@gRittyKitty can you tell which particular endpoint is failing in this case plz?

[2019-06-26 05:03] #5365 closed

[2019-06-26 06:11] saurabBajgain commented on #5225
+1

[2019-06-26 06:14] ikramansari77 commented on #5225
+1

[2019-06-26 06:18] vxnuke opened #5368 "Improvement Fetch Tickers Independent Reserve"
Hi, I think independent reserve has capability to pull all tickers.
Here is api url with info
https://developers.liquid.com/#get-products

If someone could add this feature that would be great cheers

[2019-06-26 06:22] #5368 closed

[2019-06-26 08:01] #5285 closed

[2019-06-26 08:06] o3o3o commented on #4825
I meet the same problem too.

node: v11.14.0
npm: 6.9.0
python: 3.6.5
pandoc 2.7.2

I just run `npm run build` on master, which generate different files, include: `python/README.rst`.

Below are the difference of `python/README.rst`, the left is origin master file and the right is the new generated file.
![image](https://user-images.githubusercontent.com/4308542/60162496-3c599e80-982c-11e9-96c5-48

[2019-06-26 08:08] kroitor commented on #4825
@o3o3o thx for the followup! We will switch to md `long_description_format` for the python package in the coming days, so the README.rst will be excluded from the build.

[2019-06-26 09:21] kroitor commented on #5209
This is strange, the exchange still shows 24-hour traded volumes...

[code]

@npomfret are you sure it was not a phishing email? )

[2019-06-26 09:21] kroitor commented on #5209
I can't find any official posts on that matter...

[2019-06-26 09:29] npomfret commented on #5209
Pretty sure.  They did say it was temporary while they did some upgrades.  They didn't specify how long it would take though.  Maybe they're back up and running.

[2019-06-26 11:08] frosty00 commented on #5364
@denarioresearch, thank you for the suggestion, we appreciate your contribution to CCXT.

I've added this change in https://github.com/ccxt/ccxt/pull/5373

[2019-06-26 11:33] #5364 closed

[2019-06-26 11:37] qwasko1212 commented on #56
@kroitor Could you please tell, when websockets will be avaliable in ccxt?

[2019-06-26 11:37] frosty00 commented on #5354
[code]

Your `order.id` here will be undefined since `fetchOpenOrders` returns a list of orders. Can you confirm this bug still exists with a valid orderId?

[2019-06-26 11:43] gRittyKitty commented on #5365
Hi - I'm not sure there is more than one for itbit. At any rate, I use the
following:

new ccxt[exch](security[exch]);

Where exch='itbit' and the security[exch] is the private key data.

On Wed, Jun 26, 2019 at 1:04 AM Igor Kroitor <notifications@github.com>
wrote:

[2019-06-26 11:48] denarioresearch commented on #5354
I know, I tried to simplify code but did this incorrectly. Consider order.id a valid order id. This error does not happen all the time and I did not catch it on the test environment yet. Order gets canceled successfully so I think this error is related to parseOrder function. Today this error was observed on prod environment where I can not enable verbose mode at the moment.

[2019-06-26 12:05] kroitor commented on #5354
@denarioresearch can you add an catch-clause on the production, something like:

[code]

?

We ask this because we need something to work with, either a complete short code snippet to reproduce it or a verbose output, otherwise we will be mostly guessing, hope for your understanding )

[2019-06-26 12:13] kroitor commented on #56
@qwasko1212 I will post an update here within a week or so. Plz hold on. Thx for your patience!

[2019-06-26 12:19] denarioresearch commented on #5354
done... will post output here once catch this error

[2019-06-26 14:20] ngocpn57 opened #5376 "huobipro fetchOpenOrders returns closed orders"
- OS: MacOS 10.14.5
- Programming Language version: Nodejs 10.15.3
- CCXT version: 1.18.828
- Exchange: huobipro
- Method: fetchOpenOrders

It looks like that the endpoint `https://api.huobi.pro/v1/order/history` is being called with a query parameter `status=pre-submitted,submitted,partial-filled` when using `fetchOpenOrders` method. I believe `https://api.huobi.pro/v1/order/openOrders` should be

[2019-06-26 15:16] selfrefresh opened #5377 "php support socket5?"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Linux
- Programming Language version: PHP
- CCXT version: last
- Exchange: binacne
- Method:

[2019-06-26 15:22] #5377 closed

[2019-06-26 15:22] selfrefresh commented on #5377
I think I have the answer!
https://github.com/ccxt/ccxt/issues/2302

[2019-06-26 15:57] evansmith-beaxy opened #5378 "Add Beaxy Exchange"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2019-06-26 17:28] KoenBal opened #5382 "bitmex markets precision"
- OS: Windows 10
- Programming Language version: Python
- CCXT version:1.18.807
- Exchange: bitmex
- Method: fetch_markets

Hello,

bitmex BTC/USD market precision is
price: 0.5
amount: 1

If it should follow the logic as for example for Bitstamp.
trade details:
kraken BTC/USD
price 13353.56 gives a precision of 2
amount: 0.49707233 gives a precision of 8

shouldn't it be
trade details:
bitmex BTC

[2019-06-26 20:20] fonzmeister commented on #5062
@dmitriano It differs from site too site. There are tons of sites like that. Coinpaprika and coingecko offer most of the stuff for free. Coinmarketcap is the most popular, but you'll probably need too pay if you want real info. (messari is another one, offers only data for the top100 coins though. But if you need BTC only it is a good pick)

But they calculate price from a lot of sources, you shou

[2019-06-26 22:05] brandsimon commented on #5382
@KoenBal
I am not sure I understand your question.
Bitmex uses TICK_SIZE precision mode and kraken uses DECIMAL_PLACES precision mode (which are totally different).

`number of decimal digits "after the dot"`
This is only true for DECIMAL_PLACES.

[code]
`minimum_price_increment: 5 (that is 5 times the price precision)`
I really dont get it. `5 * 0.5 = 2.5`
If this does not solve your issue, can y

[2019-06-26 22:06] brandsimon commented on #5382
The TICK_SIZE precision mode works like this. A precision of 0.5 for the price states, that all prices needs to be a multiple of 0.5. (0.5, 1, 1.5, 2.0, ...)

[2019-06-26 23:02] kroitor commented on #5378
Hi! We have an open post for Beaxy here: https://github.com/ccxt/ccxt/issues/5264. It's in progress. I'd close this as a duplicate for now.

[2019-06-26 23:02] #5378 closed

[2019-06-26 23:04] evansmith-beaxy commented on #5378
Any ETA?
Thanks for getting back to me, really want to implement the Alpha price bot for $BXY in our community Discord server.

________________________________
From: Igor Kroitor <notifications@github.com>
Sent: Thursday 27 June 2019 00:03
To: ccxt/ccxt
Cc: evansmith-beaxy; Author
Subject: Re: [ccxt/ccxt] Add Beaxy Exchange (#5378)

Closed #5378<https://github.com/ccxt/ccxt/issues/5378>.

—
You a

[2019-06-26 23:05] kroitor commented on #5382
@KoenBal let us know if the above answer by @brandsimon does not help!
More about handling precision with different rounding modes here: https://github.com/ccxt/ccxt/wiki/Manual#methods-for-formatting-decimals

[2019-06-26 23:05] #5382 closed

[2019-06-26 23:52] kroitor commented on #5378
@evansmith-beaxy unfortunately, we can't give an estimate on when it will be done, we can't promise on the free work, due to reason explained in our FAQ: https://github.com/ccxt/ccxt/wiki/FAQ#when-will-you-add-feature-foo-for-exchange-bar--whats-the-estimated-time-when-should-we-expect-thisa. Will keep you updated in #5264. Hope for your understanding.

[2019-06-27 00:06] #5376 closed

[2019-06-27 05:23] NallavanVallavan opened #5383 "JS - Coss - createMarketBuyOrder/createMarketSellOrder fails"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: Javascript
- CCXT version: 1.18.833
- Exchange: Coss
- Method: createMarketBuyOrder/createMarketSellOrder

Please note, This is the similar issue I am fac

[2019-06-27 05:55] hucs2542 opened #5384 "okex3 fetch_order"
Traceback (most recent call last):
  File "/Users/apple/PycharmProjects/cxt/t.py", line 22, in <module>
    s = ok3.fetch_order_status(order_id, symbol)
  File "/Users/apple/miniconda3/lib/python3.7/site-packages/ccxt/base/exchange.py", line 1205, in fetch_order_status
    order = self.fetch_order(id, symbol, params)
  File "/Users/apple/miniconda3/lib/python3.7/site-packages/ccxt/okex3.py", line

[2019-06-27 05:58] kroitor commented on #5384
@hucs2542 which symbol is it?

[2019-06-27 06:01] hucs2542 commented on #5384
@kroitor EOS-USD-190927

[2019-06-27 06:10] kroitor commented on #5384
@hucs2542 use one of the following:

---------------------------------------

Option 1

[code]

-----------------------------------------

Option 2

[code]

-----------------------------------------

Option 3

[code]

-----------------------------------------

Option 4

Wait 15 minutes for the new build to arrive, then update CCXT to version 1.18.838, then your code should work without edits:

[co

[2019-06-27 06:10] #5384 closed

[2019-06-27 06:13] hucs2542 commented on #5384
@kroitor Thank you

[2019-06-27 11:53] #5383 closed

[2019-06-27 15:02] developerBO commented on #5342
File "P:\ccxt\example1\venv\lib\site-packages\ccxt\base\exchange.py", line 456, in fetch2
    request = self.sign(path, api, method, params, headers, body)
  File "P:\ccxt\example1\venv\lib\site-packages\ccxt\oceanex.py", line 620, in sign
    jwt_token = self.jwt(request, self.encode(self.secret), 'RS256')
  File "P:\ccxt\example1\venv\lib\site-packages\ccxt\base\exchange.py", line 1025, in encod

[2019-06-27 15:08] kroitor commented on #5342
@developerBO the lib expects a string `secret`, however, so, for the purposes of unification, you need to convert it to a string after reading from file.

[2019-06-27 16:35] ngocpn57 opened #5388 "huobipro fetchOpenOrders: consider using different endpoints depends on whether symbol param is present"
- OS: MacOS 10.14.5
- Programming Language version: Nodejs 10.15.3
- CCXT version: 1.18.829
- Exchange: huobipro
- Method: fetchOpenOrders

Suggestion:

- Use `v1/order/openOrders` if `symbol` parameter is present.
- If not, there's a way to get open orders of all symbols using `v1/order/orders?states=submitted,partial-filled,created`. The documentation says the endpoint will be deprecated, but th

[2019-06-28 00:44] kroitor commented on #5388
@ngocpn57 can you plz shed some light on it? Is there an issue with `openOrders` ?

[2019-06-28 02:07] ngocpn57 commented on #5388
`openOrders` requires `symbol` param. By using `order/orders` we can obtain all open orders for all symbols

[2019-06-28 06:22] xiaoqge opened #5390 "Why can't I find the implementation of this method marginPostOrders in the code?"
I am using okex3, I intend to refer to the original code to achieve the function of batch creation of orders, I see the following code in the line 1492-1493, why can't I find the implementation of the `marginPostOrders` method in the code file? Thank you.

https://github.com/ccxt/ccxt/blob/master/python/ccxt/async_support/okex3.py

`            method = 'marginPostOrders' if (marginTrading == '2')

[2019-06-28 06:38] kroitor commented on #5390
Duplicate: https://github.com/ccxt/ccxt/issues/5352#issuecomment-505179100

[2019-06-28 06:38] #5390 closed

[2019-06-28 07:54] gthedifferentone commented on #4195
Has this been fixed  ?

[2019-06-28 07:58] kroitor commented on #4195
@gthedifferentone do you have an issue with it?

[2019-06-28 09:55] vxnuke commented on #5342
I have been using
[code]
Is that good or should i be doing something else? I had to change code to  `
jwt_token = self.jwt(request, self.secret, 'RS256')` in ccxt lib to make it work.

[2019-06-28 10:01] kroitor commented on #5342
@vxnuke If you add `decode` it should work without editing your

[code]

More about `bytes` vs `str` in Python: https://stackoverflow.com/questions/22677217/what-is-the-difference-between-a-unicode-and-binary-string

[2019-06-28 10:27] vxnuke commented on #5342
@kroitor .decode() sorted it cheers :)

[2019-06-28 10:57] npomfret commented on #4167
I'm seeing the same problem.  Was this resolved?

[2019-06-28 11:06] npomfret commented on #4167
@kroitor found a bug in the Coinbase sign method.  Will submit a fix

[2019-06-28 12:53] DongwonTTuna opened #5391 "[Bitmex] No method Error. I can't Fetch my current position."
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: windows 10 pro
- Programming Language version: python 3.7
- CCXT version: 1.18.841
- Exchange: bitmex
- Method: can't use private_get_position()

![image](https://user-images.githubusercontent.com/

[2019-06-28 16:18] frosty00 commented on #5391
If you finish typing `bitmex.private_get_position` you will find that the method does indeed exist, it is only the intellij suggestions that are failing because the method is not defined anywhere in the code. We will have to do more research on how to get these to work.

https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[2019-06-28 16:23] frosty00 commented on #5388
Hi there @ngocpn57,

Currently, AFAIK, we don't support endpoint switching within a unified ccxt method. Ideally we would have a 1 -> 1 mapping of requests to unified ccxt methods. Moreover that endpoint is depreciated. Therefore I am not sure if we would want to support this feature, and if you need to get open orders for all symbols in the same manner as the website you can use:

[code]

[2019-06-28 16:24] DongwonTTuna commented on #5391
holy moly! It was problem of intellij...! Thank you.

[2019-06-28 16:24] #5391 closed

[2019-06-28 18:31] gontadu commented on #5320
@dutu thank you - it would help the ccxt project?

[2019-06-28 20:18] jzay opened #5393 "Binance fetchOpenOrders returns nothing"
- OS: MacOS 10.14.5
- Programming Language version: Python 3.6.4
- CCXT version: 19.1.1
- Exchange: Binance
- Method: fetchOpenOrders

Here is a code snippet. No matter how many open orders I have in Binance I keep getting nothing returned from the function.

[code]

[2019-06-29 01:09] #5388 closed

[2019-06-29 01:30] synchronizing opened #5394 "How to disable SSL certificate verification in Python?"
I have read the docs up and down and I can't seem to find a reference for disabling SSL certificate verification. As of right now, I currently have a project where I am doing an intentional man-in-the-middle attack to switch proxies on need-bases.

[code]

On the return of anything but a `200`, the proxy switcher automatically switches proxy and try again. A man-in-the-middle is needed to verify t

[2019-06-29 02:01] kroitor commented on #5388
We have reverted the defaults and the called endpoints to how they were before adding this change and we have added two options:

[code]

The `fetchOpenOrdersV1` method is the default and it will use the `privateGetOrderOrders` endpoint by default.

Related: #5376.

[2019-06-29 02:03] kroitor commented on #5391
Duplicate:

- https://github.com/ccxt/ccxt/issues/5390
- https://github.com/ccxt/ccxt/issues/5352

[2019-06-29 02:05] kroitor commented on #5376
We have reverted the defaults and the called endpoints to how they were before adding this change and we have added two options:

[code]

The `fetchOpenOrdersV1` method is the default and it will use the `privateGetOrderOrders` endpoint by default.

[2019-06-29 02:08] kroitor commented on #5394
@synchronizing

1. what's your version of Python?
2. Are you using the sync or the async version of the lib?

[2019-06-29 02:11] kroitor commented on #5394
@synchronizing ↓ does this help?

[code]

[2019-06-29 02:12] synchronizing commented on #5394
Python 3.7.2 and using sync (tested with cfscrape, and without). Will give it a try on async as well, just to be sure, as I know `aiohttp` has fewer SSL verifications.

[2019-06-29 02:12] kroitor commented on #5394
@synchronizing let us know if the comment above does not resolve the issue for you: https://github.com/ccxt/ccxt/issues/5394#issuecomment-506918563

[2019-06-29 02:13] synchronizing commented on #5394
Tested with the above with the same SSL verification error, unfortunately.

[2019-06-29 02:16] synchronizing commented on #5394
Tested with `ccxt_async`, and it seems to work fine -- passes through the proxy finder as well, without throwing back any issue. SSL certificated added in env (not sure if it would work without.)

However, `cfscrape` is still desired for coinbasepro.

[2019-06-29 02:17] kroitor commented on #5394
This page says it should have worked with the sync version as well: https://2.python-requests.org/en/master/user/advanced/#ssl-cert-verification

<img width="1260" alt="Screen Shot 2019-06-29 at 05 13 33" src="https://user-images.githubusercontent.com/1294454/60378574-e99b0500-9a2c-11e9-8e15-82c68a8f7ad2.png">

@synchronizing can you post a complete short snippet of your code to reproduce it, say,

[2019-06-29 02:18] synchronizing commented on #5394
Sure thing @kroitor -- as of now the code is wrapped in an API server, so give me a few to extract the relevant lines to a separate text file for easy testing on your end.

[2019-06-29 02:22] kroitor commented on #5394
It should work either way, as a boolean or as a string-path, if the docs are correct.

[2019-06-29 02:23] synchronizing commented on #5394
Sounds good. Give me a few to compile the problem down to a few lines of code.

[2019-06-29 02:41] synchronizing commented on #5394
Utilizing the following code:

**test.py**
[code]

With export to a man-in-the-middle proxy:
[code]

I still receive error on the sync version of `ccxt`. If you would like to test it out with the man-in-the-middle, you can find it on my repo [here](https://github.com/synchronizing/mitm/). Just run the `example/example_server.py` file.

I just came to realize the reason it might have worked with `a

[2019-06-29 02:42] hivemall commented on #4727
I would welcome making this a priority. Kraken futures starts to get traction. Yet i cant find a puplic endpoint and doc

[2019-06-29 02:45] synchronizing commented on #5394
Update: `aiohttp` does not work either.

[code]

With implicit `aiohttp_proxy` set (since `http_proxy` and `https_proxy` is does not seem to be respected), the SSL checks still return error. I know for a fact `aiohttp` uses the flag `ssl` (rather than `verify` to check enable/disable SSL checks) but I assume there is no existing flag for `ccxt`.

[2019-06-29 02:49] kroitor commented on #5394
[code]

↑ This is not a correct way of configuring it. You should add an async session and set `verify = False` on it, before passing it to the binance constructor. The derived exchange class does not support the `verify` option.

[2019-06-29 02:51] kroitor commented on #5394
It might be a bug in the MITM proxy: https://www.google.com/search?q=python+https+proxy+ssl+verify+requests. Looks like you're not the only person having difficulties when using proxies + ssl verify.

[2019-06-29 02:53] synchronizing commented on #5394
When you say this, would this be the correct format?

[code]

[2019-06-29 02:56] synchronizing commented on #5394
Tell me about it -- SLL + proxies is a nightmare, as I've come to find out 😩. However, `mitm` is acting as the destination server for the client, so it's not actually communicating the request forward to the destination server as a normal proxy would. Instead, it initiates an emulated client that does that, and then returns the request of the emulated client back to the actual client, reading the

[2019-06-29 02:58] kroitor commented on #5394
Nope. This would be the correct format:

[code]

Does that help?

[2019-06-29 03:00] synchronizing commented on #5394
Yes, it did! I received a request in the `mitm` which got processed but didn't get properly returned (which is fault from `mitm`). Much appreciated man!

[2019-06-29 03:01] kroitor commented on #5394
@synchronizing something like the above should work for the `sync` version as well. Just need to dig the internets on the proper way to configure it. However, this is beyond CCXT, unfortunately.

[2019-06-29 03:02] synchronizing commented on #5394
Perfectly understandable -- all I was hoping for was a proper `CONNECT` and `GET` with `mitm`, as from there on out I knew `ccxt` had completed the proper ssl steps.

[2019-06-29 03:03] kroitor commented on #5394
@synchronizing are you ok if we close this for now?

[2019-06-29 03:04] synchronizing commented on #5394
Forgive me for the repetitive questioning: but with `cfscraper` and standard sync functionality, can we set a `session?

[2019-06-29 03:10] kroitor commented on #5394
Yes, that should be possible. However, there may be bugs outside of CCXT:

- https://github.com/kennethreitz/requests/issues/3829

I will add the `exchange.verify` option for the `sync` version shortly and will need your help to test it against your proxy.

[2019-06-29 03:11] synchronizing commented on #5394
Sounds like a plan! Again, I appreciate the help. Feel free to close this issue and re-open when I am needed for testing.

[2019-06-29 03:16] kroitor commented on #5394
@synchronizing should not take too long, will let you know when it's there, 30-60 minutes.

[2019-06-29 03:17] synchronizing commented on #5394
Sounds good with me, I'll be here.

[2019-06-29 03:24] kroitor commented on #5394
Ok, here's what we need to do:

1. Wait 15 minutes for the build 1.18.844 to arrive
2. Update your CCXT version (make sure it's updated properly)
3. Try the following code:

[code]

or

[code]

[2019-06-29 03:26] kroitor commented on #5394
We will be happy if you let us know whether it did solve the issue for you or not.

[2019-06-29 03:28] synchronizing commented on #5394
Ofc, will be happy to help. For the `async`, intended feature for assigning `verify` directly on `binance` constructor?

[2019-06-29 03:29] kroitor commented on #5394
Yep, I've added that option to both the `sync` and the `async` version.

[2019-06-29 03:30] synchronizing commented on #5394
Beautiful. Will give it a shot right now.

[2019-06-29 03:32] kroitor commented on #5394
@synchronizing found a couple of minor issues along the way, added the fixes, so, it will arrive shortly. Standing by.

[2019-06-29 03:35] synchronizing commented on #5394
What version should I be on the look out for?

[2019-06-29 03:36] kroitor commented on #5394
@synchronizing 1.18.844.

[2019-06-29 03:47] kroitor commented on #5394
Ok, it has arrived, looking forward to hearing from you.

[2019-06-29 03:50] kroitor commented on #4727
@hivemall we'll get kraken asap)

[2019-06-29 03:53] synchronizing commented on #5394
**sync** version is working as expected:

[code]

`async` version does not work with the following:

[code]

However, it does work when loading `session` as shown previously [here](https://github.com/ccxt/ccxt/issues/5394#issuecomment-506921151).

[2019-06-29 03:59] kroitor commented on #5394
Ok, I've added one more edit to it, let us know if 1.18.845 does not resolve the issue on the `async` side. Closing this for now. Feel free to reopen it or just ask further questions, if any. We will be happy if you report back anyways.

[2019-06-29 03:59] #5394 closed

[2019-06-29 04:00] synchronizing commented on #5394
Added comment to last commit [here](https://github.com/ccxt/ccxt/commit/5f0e741b5a355c49051e0d5e402c72746b30ed8b#r34126532).

[2019-06-29 04:01] synchronizing commented on #5394
Sounds good -- will give it a try, thank you again.

[2019-06-29 04:50] synchronizing commented on #5394
`async` is still not working with `1.18.845` with `"verify":"False"` set.

[2019-06-29 04:52] kroitor commented on #5394
@synchronizing doesn't work with the above, but works with https://github.com/ccxt/ccxt/issues/5394#issuecomment-506921151 ?

[2019-06-29 04:53] synchronizing commented on #5394
Correct, unfortunately.

[2019-06-29 04:57] kroitor commented on #5394
@synchronizing are you sure about that? This is strange, because they should be technically equal...

[2019-06-29 04:58] kroitor commented on #5394
@synchronizing ah, nvm, found another bug there with the ordering of the calls, will fix it in a moment.

[2019-06-29 04:59] synchronizing commented on #5394
They seem to be different on further testing:

[code]

[2019-06-29 05:00] synchronizing commented on #5394
Awesome, lmk!

[2019-06-29 05:05] kroitor commented on #5394
@synchronizing ok, let's try again with 1.18.846. Unfortunately, I can't really test it on my side atm,  your help with debugging it is very much appreciated! The autobuild takes 10-15 minutes.

[2019-06-29 05:06] synchronizing commented on #5394
My pleasure man -- I appreciate all the work on your end. I'll be on the lookout for the new release to give it a try.

[2019-06-29 05:11] kroitor commented on #5394
https://travis-ci.org/ccxt/ccxt/builds

[2019-06-29 05:14] synchronizing commented on #5394
Working as expected! Thank you again, cheers.

[2019-06-29 06:34] denarioresearch commented on #5354
Here is some more info on this issue:
[code]

It seems error is not an inatance of ccxt.BaseError

[2019-06-29 06:43] Pushprajsinh opened #5395 "How to install node package of CCXT??"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:Windows 10
- Programming Language version: VS 2017
- CCXT version:
- Exchange:
- Method:

[2019-06-29 06:45] frosty00 commented on #5395
[code]

@kroitor close

[2019-06-29 06:46] Pushprajsinh commented on #5395
In Docker I have installed the package but did not have any idea to execute it please guide me sir.

[2019-06-29 06:47] frosty00 commented on #5395
[code]

[2019-06-29 06:48] frosty00 commented on #5395
please read the wiki before making an issue

https://github.com/ccxt/ccxt/wiki/Install

[2019-06-29 06:49] Pushprajsinh commented on #5395
![image](https://user-images.githubusercontent.com/52342972/60380728-eb35ee80-9a67-11e9-97a3-18f529937131.png)

i want to call the methods of some basic Exchanges of CCXT From Postman but i don't know the IP & PORT for it.(In CCXT-REST it is easily to run any method from POSTMAN) but in CCXT it is not working so let me guide

[2019-06-29 06:52] kroitor commented on #5395
@Pushprajsinh let us know if you have any issues with after reading through the manual from top to bottom: https://github.com/ccxt/ccxt/wiki .

[2019-06-29 06:52] frosty00 commented on #5395
you have to attach to the container by using `docker run -it ccxt` but in this case the name of the container you need to connect to is the hex column under "name".

it is all in the wiki under https://github.com/ccxt/ccxt/wiki/Install#docker

[2019-06-29 06:53] Pushprajsinh commented on #5395
Yes i read this document but still i don't get any idea.

[2019-06-29 06:53] frosty00 commented on #5395
did you try `docker run -it d043...`

[2019-06-29 06:53] Pushprajsinh commented on #5395
![image](https://user-images.githubusercontent.com/52342972/60380785-bfffcf00-9a68-11e9-94ee-46f8af1bb63e.png)

[2019-06-29 06:54] frosty00 commented on #5395
okay, now you are connected to a installed ccxt. Type:

[code]

[2019-06-29 06:55] Pushprajsinh commented on #5395
can i call the method from Postman or Web Browse? with using IP & PORT

[2019-06-29 07:01] frosty00 commented on #5395
you can call the method from a web browser by using the `ccxt.browser.js` file in the ccxt directory.

[2019-06-29 07:02] kroitor commented on #5395
@Pushprajsinh see these examples on how to use CCXT within your browser: https://github.com/ccxt/ccxt/tree/master/examples/html

[2019-06-29 07:02] Pushprajsinh commented on #5395
Ok But What is the IP Address? What is the PORT?

[2019-06-29 07:03] kroitor commented on #5395
@Pushprajsinh there is no address nor port for using ccxt in the browser. Those settings are relevant to `ccxt-rest` only. Please read the Manual carefully on how to use CCXT and see the examples here:

- https://github.com/ccxt/ccxt/tree/master/examples/html
- https://github.com/ccxt/ccxt/wiki/Manual

[2019-06-29 07:04] #5395 closed

[2019-06-29 07:04] Pushprajsinh commented on #5395
Ok CCXT-REST was Easily working.but IN CCXT Some method not working.
OKEX3 is updated in CCXT-REST??

[2019-06-29 07:06] kroitor commented on #5395
@Pushprajsinh we're not responsible for CCXT-REST, it's a standalone project by @aloysius-pgast , so, you might want to address the questions on CCXT-REST to @aloysius-pgast . We're responsible for CCXT, which is the library used in CCXT-REST, and the library is intended to be used by developers to develop their bots and applications on top of it. In the CCXT library the OKEX v3 implementation is

[2019-06-29 07:29] Pushprajsinh commented on #5395
Ok CCXT-REST was Easily working.but IN CCXT Some method not working.
OKEX3 is updated in CCXT-REST??

[2019-06-29 07:32] kroitor commented on #5395
@Pushprajsinh if you have an issue with a particular method of CCXT, then you need to paste here a complete code snippet to reproduce (10-20 lines including the exchange instantiation code) and your verbose request and response **precisely** as described here (we need **both** the request and the response parts):

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
-

[2019-06-29 07:38] kroitor commented on #5354
@frosty00 can you rework the  incorrect`parseSymbol` section there for a proper `marketId` code as here: https://github.com/ccxt/ccxt/blob/master/js/bittrex.js#L990 ?

[2019-06-29 08:52] aleksraiden opened #5396 "Bitsane exchange exit scam"
Maybe remove code and definition?

Proof:
RU - https://forklog.com/eshhe-odin-ekzit-skam-rukovodstvo-kriptovalyutnoj-birzhi-bitsane-ischezlo-so-sredstvami-klientov/

EN: https://www.forbes.com/sites/hanktucker/2019/06/27/crypto-exchange-and-xrp-refuge-bitsane-vanishes-scamming-as-many-as-246000-users/#2a6e66c177fa

[2019-06-29 08:54] kroitor commented on #5396
@aleksraiden thx! We've been tracking the news, so, yes, `bitsane` is going to be delisted shortly.

[2019-06-29 08:57] andrewlin0410 opened #5397 "Questions on websocket"
Hi I wonder if websockets are implemented for Binance and Upbit. If so, is the update realtime/instant. I was using a Java library and it seems the websocket on that only updates once every second.

[2019-06-29 09:00] andrewlin0410 commented on #5397
I heard Binance only update its websocket once every second. Is that true? Thanks in advance

[2019-06-29 09:02] kroitor commented on #5397
Hi!

The WS is not added to CCXT yet. We will post an update specifically on that next week, see here for more details: https://github.com/ccxt/ccxt/issues/56#issuecomment-505848697

We cannot answer on the WS until issue #56 is closed, unfortunately.

Hope the above answers your questions.

[2019-06-29 09:02] #5397 closed

[2019-06-29 10:35] aleksraiden commented on #5396
Lot of thanks!

[2019-06-29 11:26] frosty00 commented on #5354
What version of ccxt are you using. I am looking at the bittrex code on the current release and there is no parseSymbol in parseOrderV3 (the trace that you are outputting)

[code]

[2019-06-29 11:29] kroitor commented on #5354
@frosty00 you're right, my sources were not up to date )

@denarioresearch looks like your version is outdated too...

[2019-06-29 11:40] frosty00 commented on #5393
Hi there @jzay. Binance `fetchOpenOrders` is working well, i just tested it.

Are you sure you are using the right apiKeys? What is the output of `binance.fetchBalance`. Can you create an order using `binance.createOrder`? Is your library updated to the latest version?

[2019-06-29 14:08] npomfret commented on #4167
It's not really a bug actually.  If you pass a null or undefined parameter (and no other parameters) then the sign method will create an invalid signature.

[2019-06-29 16:53] denarioresearch commented on #5354
1.18.787 should I update to the most recent?

[2019-06-29 17:10] #5316 closed

[2019-06-29 18:36] kroitor commented on #5354
@denarioresearch yes, let us know if upgrading to the most recent version does not help. We're still in active development, so we ask our users to update frequently. In general we should only open the issue if your version is more or less fresh. Version 1.18.787 is too old, though.

[2019-06-29 18:36] #5354 closed

[2019-06-30 11:07] frosty00 commented on #1073
@kroitor pls close

[2019-06-30 11:23] #1073 closed

[2019-06-30 13:37] #5396 closed

[2019-06-30 16:27] frosty00 commented on #4410
can be closed

[2019-06-30 16:28] frosty00 commented on #4112
can be closed

[2019-06-30 16:39] #4410 closed

[2019-07-01 01:29] synchronizing opened #5403 "aiohttp_trust_env variable is not working on Python."
Hey guys. As it would seem, the flag `aiohttp_trust_env` variable does not seem to work within `ccxt.async_support`. The script below gives a better sense; we are loading non-functional proxy and expecting errors to be thrown on every function due to connectivity issue. Unfortunately, on the last step where `async_ccxt` is called no error is thrown (in contrast to `async_aiohttp`).

[code]

Output

[2019-07-01 04:40] #4880 closed

[2019-07-01 04:46] kroitor commented on #5403
Related: https://github.com/ccxt/ccxt/issues/3854#issuecomment-429644563

[2019-07-01 05:56] yurenji opened #5405 "okex authentication error in latest version"
- OS: mac/ubuntu
- Programming Language version: python 3.6.5
- CCXT version: latest
- Exchange: okex
- Method:
[code]
error:
[code]

My app is using an older version ccxt==1.18.478 in production, which doesn't have this problem. Hope you can look into this ASAP, I'd like to integrate with the latest version, which enables okex v3 api.

[2019-07-01 06:04] synchronizing commented on #5403
Opened PR using logic from the debug you rolled last night @kroitor, #5406. Tested and seems to be working fine.

[2019-07-01 06:07] kroitor commented on #5405
Can you paste your verbose request/response (without your keys)?

[code]

Which particular version number do you mean? The latest is 1.18.856 (released an hour ago for KuCoin edits), and the OKEX implementation does not differ from 1.18.855 to 1.18.856.

To use okex3 you just need to

[code]

[2019-07-01 06:13] #5403 closed

[2019-07-01 06:14] yurenji commented on #5405
sorry for the confusion, the old version is 1.18.478.

[2019-07-01 06:16] kroitor commented on #5405
@yurenji no worries ) It would be great if you could paste your verbose request+response with version 1.18.478 and your verbose request+response with version 1.18.855 here. That would help fix it quicker.

[2019-07-01 06:19] yurenji commented on #5405
1.18.855
[code]

[2019-07-01 06:20] yurenji commented on #5405
1.18.478
[code]

[2019-07-01 06:44] kroitor commented on #5405
@yurenji for some reason you've posted sell market for 1.18.478, can you please post a buy-market verbose request+response for it?

[2019-07-01 07:06] yurenji commented on #5405
1.18.478  delete the buy one and updated with a sell example:
[code]

[2019-07-01 07:23] #5405 closed

[2019-07-01 07:26] kroitor commented on #5405
@yurenji This issue with OKEX v1 createMarketBuyOrder is fixed in version 1.18.859+. It will arrive in 15 minutes as soon as the automatic build finishes. Let us know if you have any difficulties with it after updating to 1.18.859. We will be happy if you report back whether it did resolve the issue for you or not. Thanks for your involvement!

[2019-07-01 07:54] yurenji commented on #5405
Thanks for the quick response! I can confirm the issue is fixed.

[2019-07-01 07:55] kroitor commented on #5405
@yurenji fantastic! Thx so much for reporting!

[2019-07-01 08:10] WoK-E opened #5407 "bittrex fetch_closed_orders() returns error"
- OS: Linux
- Programming Language version: PHP 7.2
- CCXT version: 1.18.858
- Exchange: bittrex
- Method: fetch_closed_orders()

fetch_closed_orders(null, null, null, array()) returns the following:
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
<HTML><HEAD><TITLE>Bad Request</TITLE>
<META HTTP-EQUIV="Content-Type" Content="text/html; charset=us-ascii"><

[2019-07-01 08:29] frosty00 commented on #5407
Hi, there @Wok-E,

I could not reproduce your error. My output in php is:

[code]

What code did you use to instantiate the bittrex object? What version of CCXT are you using?

[2019-07-01 08:58] WoK-E commented on #5407
Well, it seemed pretty strange to me too, as it was working fine until some days ago (maybe a month?), but I found the problem:
If I pass a $since parameter, I get the error, regardless of whether I have set the $limit parameter. Passing null for $since, produces no errors and returns all (or up to bittrex's page size) closed orders.

[2019-07-01 09:03] frosty00 commented on #4113
I don't believe the docs - https://docs.gemini.com/rest-api/#order-status - provide an endpoint for this. Because of this reason I believe this issue should be closed.

[2019-07-01 09:20] frosty00 commented on #5407
The issue is because there is a space in the query string. i.e.  https://api.bittrex.com/v3/orders/closed?startDate=1970-01-01 works where https://api.bittrex.com/v3/orders/closed?startDate=1970-01-01 00:00:00Z is broken. Will investigate further...

[2019-07-01 09:22] kroitor commented on #5407
@frosty00 should be `T` instead of a space there... I think this is a PHP-only bug with ISO formatting. We have an argument for that in `iso8601()`, `ymdhms()` and `ymd()`.

[2019-07-01 09:24] #4113 closed

[2019-07-01 09:50] frosty00 commented on #5407
yep was a simple fix

[2019-07-01 10:02] yurenji opened #5410 "okex fetch_ohlcv symbol error in latest version"
- OS: mac/ubuntu 16.04
- Programming Language version: python
- CCXT version: latest
- Exchange: okex
- Method: fetch_ohlcv()

[code]
The above code works for 1.18.478, but throws error for 1.18.859

[code]

[2019-07-01 10:06] yurenji commented on #5410
1.18.859 verbose info

[code]

[2019-07-01 10:07] kroitor commented on #5410
You have to use their proper futures markets symbols:

[code]

[2019-07-01 10:14] kroitor commented on #5410
@yurenji found another bug with Futures OHLCV there, will upload the fix in a few moments. The new version 1.18.860 won't have that bug and will arrive in 15 minutes.

[2019-07-01 10:15] #5410 closed

[2019-07-01 10:25] #5407 closed

[2019-07-01 10:29] yurenji commented on #5410
tested with 1.18.860 , works fine.

[2019-07-01 10:29] kroitor commented on #5410
@yurenji thx again for your help!

[2019-07-01 12:41] firepol commented on #5070
So, it's already almost 2 months. Did anybody do anything? Did any bounty show up?

[2019-07-01 14:25] frosty00 commented on #4112
the endpoint requested doesn't exist the coinbase api. Unless @milesalex can provide an endpoint i think this should be closed.

[2019-07-01 14:26] #4112 closed

[2019-07-01 14:30] AregShahbazian opened #5411 "Bittrex fetchClosedOrders uses the "since" parameter inconsistently"
- OS: Ubuntu 18.04
- Programming Language version: JavaScript
- CCXT version: 1.18.861
- Exchange: Bittrex
- Method: fetchClosedOrders

When ccxt fetches closed orders from Bittrex, an optional _startDate_ parameter is sent to the API, using the _since_ parameter given to the _fetchClosedOrders_ method.
Although the [Bittrex API reference](https://bittrex.github.io/api/v3) doesn't specify what fie

[2019-07-01 14:33] kroitor commented on #56
Hello everyone, and a big thank you to all CCXT users and contributors! We appreciate your involvement very much!

First off, we want to thank the community for enabling us to get this far. You are all awesome people, and without you this project would not be in the position that it stands today. Even as CCXT has concentrated on RESTful APIs, we have always appreciated and understood your enthusia

[2019-07-01 14:46] fredfortier commented on #56
Good to hear @kroitor ! This is the right decision. Please make sure that those with a professional license can still build from sources. Personally, I'm not concerned with paying for software, but I can't afford the security risks of using proprietary software.

[2019-07-01 14:49] kroitor commented on #56
The licensees will have the access to the source code repository of CCXT Pro and will be able to build from sources. Contributors will get a chance for a free license.

[2019-07-01 17:24] jzay commented on #5393
I'm positive I'm using the right API keys and I am able to create orders on the correct account but when I try to cancel them with the code above I only receive empty dictionaries as a response when I have open order that need to be canceled. This code used to work for me so I don't know why it wouldn't now. Maybe you could run my function and see if it works for you?

 `def executeorder(binance):

[2019-07-01 17:28] kroitor commented on #5393
@jzay what's your version of CCXT?

[2019-07-01 18:39] zanoo commented on #56
Thanks @kroitor. Any idea how much CCXT Pro will cost?

[2019-07-01 18:55] kroitor commented on #56
@zanoo we will offer a simple grid of prices for different types of customers. Considering the purpose of the lib which is to make money, the starting plan for individual developers will be affordable – comparable to your monthly cable/sat tv subscription.

With CCXT Pro the user will communicate with exchanges directly without intermediaries. You don't lose the functionality if your license expir

[2019-07-01 19:26] ndubel opened #5414 "TheRockExchange createOrder error"
- Programming Language version: JS
- CCXT version: Latest
- Exchange: TheRockExchange
- Method: createOrder()

I get an error when try to create order:

[code]

[2019-07-01 19:34] #5414 closed

[2019-07-01 21:45] ahmedbodi commented on #5070
I received partial payment for the work, however the ByBit is lacking most of the required API's. Upon speaking to the team, they told me they'll get back in touch with me once theyve added them

[2019-07-02 02:26] agz1990 opened #5415 "when exit, showing error [TypeError: 'NoneType' object is not callable]"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Mac/Ubuntu
- Program

[2019-07-02 03:06] gontadu opened #5416 "Use ANTLR instead of own transpiling"
Hi,

I am fairly new but after searching I'm unable to see why. Is it possible to apply ANTLR to the code transpiling area in CCXT i.e. JavaScript to Python/etc.? Maybe then we can leverage off those efforts?

[2019-07-02 04:15] htadashi commented on #3664
PR https://github.com/ccxt/ccxt/pull/4430/commits/12910a80a881634fe057a4766efe902699bc004e seems to close this issue. Could it be merged to the main branch or it needs further review?

[2019-07-02 07:44] kroitor commented on #5416
Hi!

The existing transpiler is regex-based, so, if we wanted to transpile a new JS clause to Python or PHP we would add a new regex and would then rebuild it within a few seconds. And it generates code which is very close to native Python/PHP code, so any person who wants to start learning CCXT from code –will be able to read it easily. The existing transpiler does it in a non-intrusive way – ide

[2019-07-02 07:44] #5416 closed

[2019-07-02 08:28] CryTrExcom opened #5417 "New Exchange: CryTrEx.com"
https://trade.crytrex.com

API endpoint is on this page under API link

Only public method available.

Thabks for help adding our exchange.

[2019-07-02 10:27] CryTrExcom commented on #5417
How many time to add it? For our service is urgent:)
Thank you in advance

[2019-07-02 12:20] magoarcano commented on #5329
Thanks @kroitor I'm using Python 2.7

[code]

[2019-07-02 12:24] Pmant opened #5418 "Okex3 wrong limits"
- OS: Windows
- Programming Language version: Node.Js
- CCXT version: latest
- Exchange: Okex (using okex3)
- Method:  loadMarkets / loadTradingLimits

According to v3 API doc **min_size** is the min amount, not cost. Also there is no **base_min_size** returned.
[Okex3 API doc](https://www.okex.com/docs/en/#spot-currency)

okex3:
[code]

okex (v1):
[code]

[2019-07-02 12:25] frosty00 commented on #5417
Hi there @CryTrExcom,

We would love to code up your API.

Please get in touch via info@ccxt.trade

[2019-07-02 12:56] frosty00 commented on #5415
how are you exiting the script? are you using `exit(1)` or `sys.exit(1)` or something similar, because it is possible that does not give the garbage collector a chance to cleanup the objects.

[2019-07-02 13:06] #5418 closed

[2019-07-02 13:11] kroitor commented on #5415
@agz1990 Can you paste a minimal snippet of code to reproduce it?

We need the code as short as possible, 10-20 lines, however, please make it a complete program, including the exchange instantiation code, without your keys, of course.

Use GitHub markdown for readability as described here:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
- https://guides.github.c

[2019-07-02 13:15] CryTrExcom commented on #5417
Ok, can contact soon

[2019-07-02 14:42] #5411 closed

[2019-07-02 16:17] KoenBal commented on #5382
Thanks for the replies. I think I got it now. The usage of the exchange.precisionMode property is what I was missing I guess.

Extra lessons learned:
Note that exchange.precisionMode returns an integer. A matching mode can subsequently be found in the decimal_to_precision file. These are:

# rounding mode
TRUNCATE = 0
ROUND = 1

# digits counting mode
DECIMAL_PLACES = 2
SIGNIFICANT_DIGITS = 3
TICK

[2019-07-02 16:19] kroitor commented on #5382
@KoenBal thx for reporting back! Good to know you've figured it out!

[2019-07-02 17:23] dmitriano commented on #5062
@fonzmeister  I am interested in exact real-time prices on a given exchange line 'binance' for example.

[2019-07-02 17:25] mattou78400 commented on #4833
Not sure how far it got here, but bumping as Deribit just announced the deprecation of their API V1 early October

How can I help if I only know a bit of python?

[2019-07-02 17:30] kroitor commented on #4833
Start with reading the CONTRIBUTING doc and make sure you understand it:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

According to our fundamental principles regarding portability, you don't have to know multiple languages to contribute code, because we encourage designing the code to be easily-readable by any programmer, check out the details on [Multilanguage support](https://git

[2019-07-02 17:33] fonzmeister commented on #5062
oh, sorry then I misunderstood.

If that is your requirement the only option I guess is too use websockets as adviced earlier.

[2019-07-02 17:35] dmitriano opened #5425 "Password protected proxy."
OS: ubuntu 16.04
Programming Language version: nodejs v8.12.0
CCXT version: ccxt@1.18.395
Exchange: binance
Method: exchange.proxy

Is it possible to create an exchange with a password protected proxy in JavaScript?

I [tried ](https://github.com/ccxt/ccxt/issues/3900)

[code]
but with no success.

Also it is not clear enough what does "The absolute exchange endpoint URL is appended to this string

[2019-07-02 18:41] kroitor commented on #5425
Hi @dmitriano !

It is about CORS proxies, the `.proxy` property is for CORS only.

If you want to use HTTP(S) proxies or SOCKS proxies, then you need to configure a proxy agent as described here:

- https://github.com/ccxt/ccxt/wiki/Install#javascript-proxies

Hope that answers the question.

[2019-07-02 18:41] #5425 closed

[2019-07-02 20:24] kroitor commented on #3947
This exchange has been shutdown: #5396.
Closing this for now.

[2019-07-02 20:24] #3947 closed

[2019-07-02 20:57] Kosteg opened #5426 "Huobi fetchDepositAddress doesn't work any more"
- OS: OSX 10.14.4, Ubuntu 19
- Programming Language version: Node JS (v12)
- CCXT version: 1.18.869
- Exchange: Huobi
- Method: fetchDepositAddress

The exchange returns the error code "login-required". The method worked fine until a few weeks ago. The other private requests like fetchBalance work fine.

[2019-07-03 09:10] brandsimon commented on #5225
Has somebody started with this yet? Otherwise I will.

[2019-07-03 12:11] KoenBal opened #5433 "Question about manual - Notes On Order Book Structure"
Hello,

I've a question about [notes on order book structure](https://github.com/ccxt/ccxt/wiki/Manual#notes-on-order-book-structure)
Currently it says:

Is it correct to say?

...

The 'Date' parser. Where should this last_response_headers['Date'] parser be defined? In fetch_order_book?
"there": Where is there? The location of the exchange's servers?

, Thx for clarifying

PS; Should I ask this k

[2019-07-03 12:35] frosty00 commented on #5433
Hi there @KoenBal,

`exchange.last_response_headers ` is currently depreciated, I will update the manual to reflect this change.

Instead we recommend to use

[code]

You will get the fastest replies by asking in ccxt issues.

[2019-07-03 13:17] #5433 closed

[2019-07-03 13:39] KoenBal commented on #5433
@frosty00
Should orderbook['datetime'] = exchange.iso8601(orderbook['timestamp'] )
or will orderbook['datetime'] be removed in the future?

[2019-07-03 14:16] nbouscal opened #5437 "Bitfinex market parsing issue for new symbols (futures?)"
- OS: MacOS 10.13.6 and Ubuntu 18.04
- Programming Language version: Python 3.7.3
- CCXT version: 1.18.877
- Exchange: Bitfinex
- Method: `load_markets`

If you call `public_get_symbols` on bitfinex, there are two new symbols that have been added, `btcf0:ustf0` and `ethf0:ustf0`. This violates the expected format (e.g. `btcusd`) and results in markets called `BTC/F0:` and `ETH/F0:`. I'm not sure w

[2019-07-03 14:32] frosty00 commented on #5433
Nope, `orderbook['datetime]` is part of the unified API. Let us know if you have any further questions )

[2019-07-03 14:53] kroitor commented on #5433
@KoenBal this should always be true: `orderbook['datetime'] === exchange.iso8601(orderbook['timestamp'])`

[2019-07-03 14:55] shmuel-livshits opened #5438 "How to make oco order bitfinex"
Please bring example how to make oco order on bitfinex on php

[2019-07-03 15:21] KoenBal commented on #5433
Oke, thanks for confirming. That ll be all :)

[2019-07-03 16:06] CryTrExcom commented on #5417
Any info? we have sent email, thank you

[2019-07-03 16:08] kroitor commented on #5417
@CryTrExcom can you please retry again with a copy to igor@ccxt.trade and peter@ccxt.trade? We have not received it yet. Or alternatively, let us know your contacts, we will reach out to you asap.

[2019-07-03 17:05] hroff-1902 opened #5440 "Allcoin support"
Is it still broken?

(I read about broken support here: https://github.com/ccxt/ccxt/issues/2962#issuecomment-392320417)

[2019-07-03 17:07] kroitor commented on #5440
Yep, unfortunately. I suggest to move this discussion to #2962

[2019-07-03 17:07] #5440 closed

[2019-07-03 17:32] hroff-1902 commented on #2962
Okay (moving discussion here) -- Allcoin is still broken. Liqui has terminated operation, for example. There are some more broken... Would not it be nice to mark such exchanges somehow... I see, you have the Exchange status dict returned by fetch_status, so those exchanges may be hardcoded as 'broken' in the status field so that the users of the ccxt lib could check the list of all exchanges and e

[2019-07-03 17:33] frosty00 commented on #5426
We have decided to remove the endpoint since it was always undocumented and huobi now checks the request cookies to see if you are logged in. In other words it is impractical to use alongside the rest of the ccxt API.

[2019-07-03 18:22] Modrx opened #5441 "How to fetch more than 100 tickers with CoinMarketCap in PHP?"
Can you please provide the code in PHP to fetch and paginate to get all the Price Tickers instead of just 100 for CoinMarketCap

if ($exchange->has['fetchTickers']) {
    var_dump ($exchange->fetch_tickers ()); // all tickers indexed by their symbols
}

[2019-07-03 18:55] firepol commented on #56
@kroitor from CCXT Pro, sure enterprises that need features and quick adjustments to the library will benefit, so I think you should charge them accordingly. Medium companies that will almost never bother/ask you something but make money thanks to CCXT should pay, but much less.

If you want to make even small fishes (private persons) pay I think it would be unfair (people can potentially use CCXT

[2019-07-03 20:30] sips4711 opened #5442 "Shrink Repository size"
Hi all,
I use ccxt as a submdule in my project by "git clone --recurse-submodules ...". Is it possible to wipe this huge file here?

du -sh .git/modules/lib/ccxt/objects/pack/pack-ab5d9ae607fe24147c73c6cde5a91a534d297a7d.pack
768M	.git/modules/lib/ccxt/objects/pack/pack-ab5d9ae607fe24147c73c6cde5a91a534d297a7d.pack

[2019-07-03 20:38] #5426 closed

[2019-07-03 22:33] jzay commented on #5393
Ok so it started working for me again today. Thanks for the help I'm really unsure why it stopped working because I didn't make any changes to the code but luckily it seems to be returning my open orders now

[2019-07-03 22:33] #5393 closed

[2019-07-03 22:53] kroitor commented on #56
👍

Don't forget that CCXT with all of its functionality will remain under MIT and will still remain free, so, people who use it are not affected.

The paid part will be the professional part, which includes streaming, that means higher speeds to be more competitive. That part (which has not been released yet) will be paid, and it will be an optional add-on. You will be able to either build upon th

[2019-07-04 00:16] kroitor commented on #2962
)) https://github.com/ccxt/ccxt/issues/5285

Your help is welcome )

Liqui is about to be delisted. And we have delisted many non-working exchanges the previous week.

[2019-07-04 04:06] AregShahbazian opened #5443 "Kucoin trades and closed-orders are limited until 7 days after the "since""
- OS: Ubuntu 18.04
- Programming Language version: JavaScript
- CCXT version: 1.18.880
- Exchange: Kucoin
- Method: `fetchMyTrades`, `fetchClosedOrders`

When the `since` parameter is given to the `fetchMyTrades` or `fetchClosedOrders` methods, an URL parameter called `startAt` is used to get data from the Kucoin API. I noticed from the returned objects that the data is limited until 7 days after

[2019-07-04 07:55] TechupBusiness commented on #56
Wow this is huge news, I didn't continue on my project the last months so I didnt really participate in ccxt discussions or development... not sure yet if I like these changes or not ;-) There must be a startup pricing for little growing businesses (without becoming a huge cost block one day), otherwise I would think twice using CCXT. At least for the free version I needed to write tests (using an

[2019-07-04 08:13] brandsimon commented on #5225
@kroitor
As I see it we would need new dependencies for ecc-secp256k1:
python: ecdsa
javascript: elliptic (sha3 is already in CryptoJS)
php: N/A

I dont like bloating libraries with dependencies, so I'd definitely make them optional (like the web3 stuff).
Would this get merged?

[2019-07-04 08:40] firepol commented on #56
@kroitor thanks a lot for the answer. Actually I think you should put all these points in a FAQ and publish them in the ccxt website/blog/twitter as soon as possible, and update them over time, so to have a central place and not a thread like this to scroll to find scattered information here and there.

This thread yes it's about streaming and now I understand there will be 2 different versions of

[2019-07-04 09:39] npomfret opened #5445 "Bleutrade delisting some coins..."
Dear Bleutradians,

We are undergoing some changes and this new phase requires more protection criteria for and from our users. This review analyzed the commitment of development teams, source code quality, blockchain stability, communications to the public, contributions to the crypto world and other adaptations to Maltese legislation.

Follow below the list of projects that will have their trade

[2019-07-04 10:00] sips4711 opened #5446 "Shrink Docker Image"
Hi all,
Docker Image size and complexity can be reduced. This would be nice in combination with: [https://github.com/ccxt/ccxt/issues/5442](https://github.com/ccxt/ccxt/issues/5442)

To reproduce:
docker build -t ccxt/old .
docker build -f ./Dockerfile.new -t ccxt/new .

Images:
REPOSITORY  TAG     IMAGE ID        CREATED         SIZE
ccxt/new    latest  76c4e0b787fa    13 hours ago    856MB
ccxt/

[2019-07-04 10:06] CryTrExcom commented on #5417
E-Mail sent

[2019-07-04 10:10] frosty00 commented on #5446
Hi please make a pull request with any changes you would like to see in the docker file, we cannot easily make edits from an issue.

[2019-07-04 10:13] frosty00 commented on #5442
not really since it contains the entire git history of the repo.

if you want just the latest commit please use `git clone --depth 1`

[2019-07-04 10:44] frosty00 commented on #5443
unfortunately the solution you suggested doesn't work.

[code]

and for fetchMyTrades if the time difference is longer than a week you get

[code]

so i'm not sure how to solve this. Any help would be appreciated.

[2019-07-04 10:45] sips4711 commented on #5446
Pull Request created here: [https://github.com/ccxt/ccxt/pull/5447](https://github.com/ccxt/ccxt/pull/5447)

[2019-07-04 10:50] frosty00 commented on #5443
actually nvm i found a solution for the trades, using `/api/v1/limit/fills` not sure about the orders however.

[2019-07-04 10:59] kroitor commented on #5443
@AregShahbazian

It is documented in the Manual, that exchanges will never return all data from the chosen starting point up to the current date – there will always be a limit of trades or a limit on a timerange that you can query. So, we always query a range of `since + 7 days from since`. Switching to always query `now - 7 days before now` is incorrect, because that would break the logic of date

[2019-07-04 11:08] kroitor commented on #5443
Related: https://github.com/ccxt/ccxt/issues/4949

[2019-07-04 11:43] #5446 closed

[2019-07-04 11:54] frosty00 commented on #5225
yep it would definitely get merged if the code was compact :)

We also have to have options to support the different types of ecdsa and the map them from a unified option to the library option.

[2019-07-04 13:44] frosty00 commented on #56
Staking ccxt devs livelihood on people's honesty is not something we are willing to do. Your argument that some people should be exempt from paying because they use our code only occasionally makes no sense. Say I want to take the train, however I only take the train once a month, does that mean I shouldn't pay for a ticket. Like @kroitor said, the starting tier will be very affordable (probably m

[2019-07-04 14:13] frosty00 commented on #5437
I'm not sure what these symbols are supposed to represent either. Something interesting is that they have the margin flag set to true, so maybe the strange symbol is supposed to represent that margin is allowed?

[2019-07-04 14:24] firepol commented on #56
@frosty00 you are still wasting 9 USD/month for a github sit per person. You could give this as rebate for your users instead.

Train ticket actually is a good example: if I use the train 3 times a month I think it's fair to buy 3 tickets and not a monthly subscription ;)

For all your other points. I would not debate on it.

In the end maybe I was a bit too much dramatic, but if you can deliver a

[2019-07-04 14:59] kroitor commented on #5225
One thing, though – we have recently removed external deps in favor of "vendored" `static_deps`. All our deps reside in that folder since recently. That can make the process of merging a bit more complicated, for the following reasons: https://github.com/ccxt/ccxt/issues/5180

[2019-07-04 16:19] kroitor commented on #5442
@sips4711 can you suggest a non-breaking way to reduce it? We've tried looking, but have not found a suitable solution that would not break the forks, most of those solutions prune unreferenced pieces of git history by rewriting it, which does not work very well with the existing GitHub forks...

[2019-07-04 16:26] sips4711 commented on #5442
Hi Igor.
I don't know how to do it. Maybe somebody else can help. Sorry.

Igor Kroitor <notifications@github.com> schrieb am Do., 4. Juli 2019, 18:20:

[2019-07-04 16:32] kroitor commented on #5443
We are going to add a new option that changes this behavior: https://github.com/ccxt/ccxt/pull/5448

[code]

[2019-07-04 16:33] kroitor commented on #4933
We are going to add a new option that changes this behavior for fetchMyTrades:

- https://github.com/ccxt/ccxt/issues/5443
- https://github.com/ccxt/ccxt/pull/5448

[code]

[2019-07-04 16:39] kroitor commented on #5445
@npomfret thx for the updates! Really appreciate your help with maintaining it! Though, they seem to react as soon as we merge your PRs ) Should we merge less just to keep the economy stable for a while? )))

[2019-07-04 16:50] frosty00 commented on #5438
you have to send additional params to `create_order`

so for example:

[code]

read up on the docs to find out the params you need to send - https://docs.bitfinex.com/reference#rest-auth-new-order

[2019-07-04 17:04] kroitor commented on #5438
@shmuel-livshits You will have to override unified API params for the create_order call, see here how to do it: https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params

[code]

Let us know if that does not answer the question

[2019-07-04 17:04] #5438 closed

[2019-07-04 17:05] #5443 closed

[2019-07-04 17:07] kroitor commented on #5346
Closing this for now, feel free to reopen it if needed. We will need the above information to resolve this.

[2019-07-04 17:07] #5346 closed

[2019-07-04 17:53] #5437 closed

[2019-07-04 19:34] brandsimon commented on #5225
@frosty00 Ok, thank you!

@kroitor
Great, I love it. This is only happening for JS-dependencies, not for python?
Python supports forced hashes for pip. `--require-hashes`
Also the static_dependencies folder is quite empty, only a README.
Since I'm using debian as development/production system I dont really mind, since all dependencies are provided by debian, but I think this should also get implem

[2019-07-04 19:46] kroitor commented on #5225
It's for all languages and we use native "stdlib" methods as much as possible.

It has some imported deps in JS:

- https://github.com/ccxt/ccxt/tree/master/js/static_dependencies

In Python and PHP those folders are empty because we have managed to do everything with native methods... so far. Not sure about secp256k1 and ecc, if we could find a solution in 20-40-60-80-100 lines – that would be id

[2019-07-04 19:49] kroitor commented on #5225
@brandsimon one more thing to note – it was quite tricky to make the JS methods work in the browser, so, when we implement a solution for JS we can't apply the node-only practices with `require ('crypto')` – that won't work in the browser and most of "easy and quick solutions" will do just exactly that. We have to find ways to avoid the `'crypto'` dependency.

[2019-07-04 21:23] JulienNadon opened #5454 "Exchange.php safe_currency_code & safeCurrencyCode method signature mismatch"
- OS: OSX 10.13.6
- Programming Language version: PHP 7.2.13
- CCXT version: 1.18.888
- Exchange: PHP - All exchanges (Exchange.php) *tested using Bitstamp
- Method: safeCurrencyCode()

Recent changes to exchange.js modified the method signature for safeCurrencyCode()
subsequently safe_currency_code() in the php base class, exchange.php, was modified, but the corresponding camelCase method, safeCu

[2019-07-04 21:35] #5454 closed

[2019-07-04 21:57] kroitor commented on #5454
@JulienNadon thx for reporting! Fixed it.

[2019-07-04 22:55] brandsimon commented on #5442
This is not possible due to how git works. (Every hash depending on the previous stuff)
Changing it will break every fork and every developer clone at every developer machine.
I understand the request, I'd also like to have a faster checkout, but rewriting (the) history is always a bad idea.

[2019-07-05 00:43] brandsimon commented on #5225
@kroitor
ccxt requires aiohttp, aiodns, yarl, certifi, requests, urllib3, cryptography.
Those are not provided by the repo and some of them are not optional. Am I missing something?

[2019-07-05 03:49] gontadu commented on #5416
@kroitor I believe it does, and in my view a sensible practical reasoning. Thanks for taking the time out to answer :)

[2019-07-05 08:06] kroitor commented on #5442
@sips4711 i'd close this for now, until we find a good way to address this. Feel free to reopen it or just ask further questions if you have more. Let us know if you find a good solution, we would want to reduce the size of the repo, of course.

[2019-07-05 08:06] #5442 closed

[2019-07-05 09:24] nettemNvest opened #5459 "Market Cap Data"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Programming Langua

[2019-07-05 09:26] nettemNvest commented on #5459
is there any posibiltiy to get the market cap data from ccxt if not can u suggest another way to get it..
and if it needs to be calculted how to calculate .....
and how can i get the values to calculate

[2019-07-05 09:27] kroitor commented on #5459
Please, read here, all about fetching market data:

- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/tree/master/examples

Let us know if that does not help.

[2019-07-05 09:30] nettemNvest commented on #5459
i did but i cant able to find any where to get the market cap data

[2019-07-05 09:32] kroitor commented on #5459
@nettemNvest you can fetch it from CoinMarketCap. Which language do you use?

[2019-07-05 09:32] nettemNvest commented on #5459
Nodejs sir....

[2019-07-05 09:41] nettemNvest commented on #5459
market cap is calculated using price and circulating supply  but how can i get the circulating supply of a currecny

[2019-07-05 09:41] hroff-1902 opened #5461 "Make exceptions less noisy"
In the meantime all the details of the http- and exchange- errors are included in the exception string:

[code]
-- the `details` here includes the http-response came from exchange...

When we handle such exception in the app, this often results in long sheets of html data, even if the logging value is less than DEBUG and the user did not requested this high level of detalization.

The suggestion i

[2019-07-05 09:44] frosty00 commented on #5461
yep this is something we are going to change - #5399

and we will move to a new `raise_error`

just waiting on @kroitor to merge my PR 😠

[2019-07-05 09:46] frosty00 commented on #5461
our plan is to only set the error message in the error like

[code]

[2019-07-05 09:48] kroitor commented on #5459
See here:

https://github.com/ccxt/ccxt/blob/master/examples/js/cli.js

+ see all other examples with the word `ticker` here: https://github.com/ccxt/ccxt/tree/master/examples/js/

[code]

Save to file and run with node:

[code]

↑ It can take some time due to market caching and reasons [explained in the Manual](https://github.com/ccxt/ccxt/wiki/Manual#loading-markets), I will not duplicate those

[2019-07-05 09:48] #5459 closed

[2019-07-05 10:07] hroff-1902 commented on #5461
Fine if this is addressed in #5399. Waiting for it merged...

[2019-07-05 10:08] kroitor commented on #5461
@hroff-1902 it's not really addressed there yet, #5399 is just a preliminary work that would help us address the main issue, but we will roll out the main solution for generalized exceptions soon after. So, it's on the way )

[2019-07-05 10:14] nettemNvest commented on #5459
well thank you... sir....

[2019-07-05 10:40] nettemNvest opened #5462 "Top list of exchanges by volume for a particular currency pair ex: BTC/USD"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Programming Langua

[2019-07-05 10:42] nettemNvest commented on #5462
i can get the data form 24 hr vloume data for a currency pair form an exchange but how can i get the  top list of all exchanges volume for a currency pair

[2019-07-05 10:45] kroitor commented on #5462
@nettemNvest fetch the tickers for the pair in question from all exchanges as shown here, for example: https://github.com/ccxt/ccxt/blob/master/examples/js/fetch-ticker-where-available.js and then `.sort(...)` them by volume.

[2019-07-05 10:45] #5462 closed

[2019-07-05 10:46] kroitor commented on #5462
Don't forget to implement the proper error handling as described in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#error-handling

[2019-07-05 10:55] kroitor commented on #5462
Also see this: https://github.com/ccxt/ccxt/blob/master/examples/js/fetch-ticker-from-multiple-exchanges.js

[2019-07-05 10:58] hroff-1902 commented on #5461
Actually, I don't think that all the details, including html responses should be added into the exception at all -- in the ccxt code base there are usually `logger.debug()` calls just before raising the exception so the user could simply switch on the debug logging level for ccxt in order to see all the html texts. No need to put in into the exception itself. Please review the behaviour here... No

[2019-07-05 10:59] nettemNvest commented on #5462
this is what i have done , if the user sends me an exchange name.....
but i have another senario like fetch top 10 exchange volume data for a particular currency pair...
ccxt provides 137 exchanges right so i started fetching data from all exchnges by running all of them parallely but from 137 if one trigger
s the error its gone.....

[2019-07-05 11:19] kroitor commented on #5462
[code]

[2019-07-05 11:19] kroitor commented on #5462
<img width="896" alt="Screen Shot 2019-07-05 at 14 19 34" src="https://user-images.githubusercontent.com/1294454/60719313-f12c4380-9f2f-11e9-9f67-05dd42158f28.png">

[2019-07-05 11:53] nettemNvest commented on #5462
[code]

[2019-07-05 11:54] nettemNvest commented on #5462
[code]

[2019-07-05 11:56] nettemNvest commented on #5462
sir this is my its an API when i tried this from the list of 137 exchanges if one triggers the error from atleast one echange it is throwing me error...

[2019-07-05 11:57] kroitor commented on #5462
@nettemNvest i'd recommend to start with this example and edit it further to adjust it for your needs:

- https://github.com/ccxt/ccxt/blob/master/examples/js/exchanges-by-volume.js

[2019-07-05 11:59] nettemNvest commented on #5462
okkkk brooo ......got it.....

[2019-07-05 12:59] ahmedbodi commented on #5461
i disagree. I personally use the exception messages to detect any errors. E.G. some exchanges have DDOS errors which arent handled by the exchange classes so i have to resort to parsing the actual HTML in the exception message to detect it and throttle my app

[2019-07-05 13:00] ahmedbodi commented on #5461
if we update all the exchange classes to actually contain high quality exception handling then it wouldnt be needed. but until then its pretty essential

[2019-07-05 14:31] brandsimon commented on #5461
@ahmedbodi
Is there a reason to handle the ddos exceptions in your code instead of adding them to the exchanges in ccxt?

[2019-07-05 14:33] ahmedbodi commented on #5461
ideally they'd be handled in CCXT but many exchanges right now arent handled in CCXT

[2019-07-05 15:23] frosty00 commented on #5461
yep some exchanges are missing `handleErrors` we are working on this but won't give a timeframe.

that is why we will move to better error handling soon. tbh the actual `raise_errors` i have in mind will not take very long at all to write. Maybe it will be added tomorrow.

[2019-07-05 15:24] ahmedbodi commented on #5461
yep, ofc. thats my point. until they are, the HTML actually is useful for many people

[2019-07-05 16:28] frodoe7 opened #5464 "How to trade with all available balance ?"
This is more a question than issue

I manually fetch the user available balance then make some complicated calculations to calculate the amount to buy or sell

these calculations include fetching all available balance , converting to another coin , calculating the fees ratio , deducting from the amount to buy or sell and so on ..

however my calculations is not very accurate ,
the final amount res

[2019-07-05 16:53] hroff-1902 commented on #5461
Yes, but, first of all, this content is duplicated in the logging messages (and this is controllable by setting the logging level for ccxt) and, second, if you have a requirement to be able to use this info, other users in the same time have a requirement to avoid spamming with exceptions that fill several screens. What can you suggest for us -- do not print the content of the exception at all, ev

[2019-07-05 16:57] ahmedbodi commented on #5461
You cant parse the logging messages to react on it. all that does is fill it up in the logs for informational purposes. Once the new exception handling is in place and the rest of the exchanges actually throw exceptions properly instead of generic exceptions then there wont be a need for HTML errors. but until then that HTML is the only way to catch some errors

[2019-07-05 16:59] ahmedbodi commented on #5461
It's literally a case of laying the ground work to get to the point you want. without pissing off every other user. once its at that point then embedding the HTML in the exception isnt neccesary

[2019-07-05 17:07] hroff-1902 commented on #5461
First of all you can -- with an external tool/script/bunch of scripts logs are easily parsed. In principle. Second, if you need this detailed info -- okay, but we need an ability to hide it. You will switch it on if you need it, and many other people will switch it off. That' so easy. The problem now is that we are not able to hide all those noisy sheets of html texts if we don't need them and/or

[2019-07-05 18:29] iuvbio commented on #56
@firepol if the purely honesty based system worked, @kroitor and devs should be making enough money to not have to take this step. The index page lists several options to sponsor, even small amounts, so anyone making any serious kind of money with CCXT should probably be donating already. I understand this step and I think it is fair and viable, as kroitor says, under one condition. In my view, th

[2019-07-05 19:05] ahmedbodi commented on #5461
Okay so explain how to do this?
(Only a sample)
[code]

[2019-07-05 19:11] kroitor commented on #5461
@ahmedbodi the correct approach is:

[code]

However, your argument on incomplete handlers is also absolutely true, the error handling is not completely unified yet across all exchanges. The purpose of the edits linked above – is to get us closer to unification, that includes all `handleErrors` done properly within each derived exchange class. Some exchanges have unclear docs on errors and non-doc

[2019-07-05 19:12] ahmedbodi commented on #5461
yep my code does that, but my point is for those exchanges where the error handling is not yet unified.

[2019-07-05 19:12] ahmedbodi commented on #5461
until it is unified, the HTML errors are essential to be able to detect which error it is.

[2019-07-05 19:13] kroitor commented on #5461
Your point is clear from the very start, and, of course, we would never leave it like that – it's in progress, hope for your understanding. Until it is unified you have to add workarounds in userland, that's right. We hope to unify it completely soon.

[2019-07-05 20:08] hroff-1902 commented on #5461
@kroitor Will I be able (after mentioned unification) to log a less detailed exception string (say, with maximum one-string http response, without full html data) in the application if it's unwanted (for example, if the verbosity level in the application is not set to debug)? You answered several times to @ahmedbodi above that you understand him and that his points are clear, but I did not complet

[2019-07-05 20:16] hroff-1902 commented on #5461
It's also quite simple with an external log parser: implement an IPC mechanism in your app that accepts the 'ratelimit' command (reducing the value of the rateLimit var, as you wrote), then run the app and an external parser for its log, the parser will run that 'ratelimit' command when it detects the 'DDOS' string in the logs... It's just a matter of the design of the whole app, which in this cas

[2019-07-05 20:31] kroitor commented on #5461
@hroff-1902

No, never. We will not do anything convenient. Forget about it. Over @frosty00's body only.

But, seriously, yes, of course ) The default level will be quite verbose, but you will have at least a few ways of setting the verbosity, either with an exchange property/option, or with a description override, as you noted below.

This is exactly one of the purposes of the unification process

[2019-07-05 20:36] ahmedbodi commented on #5461
yep. agreed. all in good time :) CCXT is awesome, but as with all software we can always improve it

[2019-07-05 21:09] brandsimon commented on #5225
@kroitor
I have a few related questions.
BinanceDEX expects a parameter in the URL. `/api/v1/orders/{id}`
Is there an exchange that has implemented such thing already?

[2019-07-05 21:13] kroitor commented on #5225
@brandsimon yes, of course:

- https://github.com/ccxt/ccxt/blob/master/js/kucoin.js#L110

\+

- https://github.com/ccxt/ccxt/blob/master/js/kucoin.js#L602

In short, a "order/{foo}" in the endpoint becomes a part of the implicit method name – `privateGetOrderFoo (this.extend ({ 'foo': value }, params))`.

[2019-07-05 22:07] lampardlb commented on #5225
Hi both, thanks very much for doing this! can't wait for it!

[2019-07-06 09:09] brandsimon commented on #5225
@kroitor
Thank you, also worth mentioning this line:
https://github.com/ccxt/ccxt/blob/master/js/kucoin.js#L1485

You saw the other comment regarding libs?

[2019-07-06 09:15] kroitor commented on #5225
Yep, pardon, I was about to answer that as well, but rushed it )

Yes, those are not provided by CCXT, and we're using those external deps. However, the logic behind it is: if one of those projects has a security hole which can be exploited, then practically all other packages will be hacked, including web3 and many other things, long before CCXT. Therefore we can afford some dependencies if those

[2019-07-06 09:25] lfzCarlosC opened #5466 "Is the gate interface now supported？"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Programming Langua

[2019-07-06 09:27] frosty00 commented on #5464
Hi @frodoe7,

I do not think you need to take the fees into consideration, as the exchange will do that for you and give you an amount after taking fees. So here you want to buy 0.15 ETH.

`exchange.create_order ('ETH/BTC', 'limit', 'buy', 0.15, 0.0267)`

where 0.004 / 0.0267 = 0.15

ETHamount / ETHBTCprice = BTCamount

a cool way to think about markets is as a fraction. so ETH/BTC is literally ET

[2019-07-06 09:27] kroitor commented on #5466
@lfzCarlosC Which language are you using, what's your version of CCXT?

[2019-07-06 09:30] frosty00 commented on #5466
working for me, @lfzCarlosC can you post the code so we can reproduce the error?

[2019-07-06 09:35] kroitor commented on #5464
Or, alternatively, https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params

@frodoe7

In general, because of [limits and precision](https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits), you won't be able to spend everything to a cent, some dust will always remain there, unless you're lucky enough to have amounts large enough to avoid the rounding entirely.
Let us know if t

[2019-07-06 09:35] #5464 closed

[2019-07-06 09:36] lfzCarlosC commented on #5466
version:

ccxt: 1.17.416
Python3

I think when runnig `get_historical_data` function it throws that error.

[2019-07-06 09:46] brandsimon commented on #5225
@kroitor Yes, I agree, but should we then provide hashes like in npm (pip install --require-hashes is forced when a hash is provided for a package)?

[2019-07-06 09:57] lfzCarlosC commented on #5466
version:

ccxt: 1.17.416
Python3

I think the root reason is that  I use `getattr(ccxt, 'gateio')({"enableRateLimit": True}).timeframes` and it throws exception
'gateio' object has no attribute 'timeframes'

[2019-07-06 09:57] lfzCarlosC commented on #5466
not sure if it is the right way to get data

[2019-07-06 10:01] kroitor commented on #5466
@lfzCarlosC it works for me:

[code]

Also, your CCXT version is very old, can you update to the most recent version and check that again?

[code]

Let us know if the above does not help.

[2019-07-06 10:01] #5466 closed

[2019-07-06 10:04] lfzCarlosC commented on #5466
thanks

[2019-07-06 10:12] CryTrExcom commented on #5417
anyone can help?
or where to add Crytrex to available exchange to test php code

thank you

[2019-07-06 10:31] kroitor commented on #5417
@CryTrExcom we will reply to your email ASAP.

[2019-07-06 10:44] lfzCarlosC opened #5468 "fetch_ohlcv returns incorrect data given a start date"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: linux
- Programming

[2019-07-06 10:55] frosty00 commented on #5461
#5467

[2019-07-06 10:56] #5468 closed

[2019-07-06 10:58] kroitor commented on #5468
@lfzCarlosC there was a bug in okex v1 fetchOHLCV. We recommend to switch to `okex3` (v3), because okex v1 is now deprecated. However, we fixed it and the plan is:

1. wait 15 minutes for the new version 1.18.899 to arrive.
2. update to the most recent version
3. try again:

[code]

or, better:

[code]

Let us know if that does not help.

[2019-07-06 11:07] lfzCarlosC commented on #5468
Thanks, @kroitor. 👍

[2019-07-06 11:11] lfzCarlosC commented on #5468
Oh, @kroitor, `gateio` also has this issue.

[2019-07-06 11:14] kroitor commented on #5468
Yes, but that one has always been there – it's a limitation on their side, you can easily see which URL it is querying and which response it is getting:

[code]

[code]

If you open this URL: https://data.gate.io/api2/1/candlestick2/btc_usdt?group_sec=86400 you will see that gateio does not return more than two candles for the `1d` timeframe.

[2019-07-06 11:15] CryTrExcom commented on #5417
ok Thanks

[2019-07-06 11:15] kroitor commented on #5468
@lfzCarlosC the limitation with `gateio` is explained in the Manual here:

- https://github.com/ccxt/ccxt/wiki/Manual#pagination
- https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-candlestick-charts

[2019-07-07 09:42] qwasko1212 opened #5471 "How to filter CCXT messages only with Python logging?"
Hello. I have several modules which are using logging feature. However I would like to see log messages from CCXT only. How can i do it?

 I tried this code and it does not work.
`import logging`
`logger = logging.getLogger('ccxt')`
`logger.setLevel(level=logging.DEBUG)`

Following code shows all logging msg from other modules.
`import logging`
`logging.basicConfig(level=logging.DEBUG)`

- OS: Lin

[2019-07-07 12:12] ngocpn57 opened #5472 "huobipro fetchMarkets: active is always true"
- OS: MacOS 10.14.5
- Programming Language version: Nodejs 10.15.3
- CCXT version: 1.18.902
- Exchange: huobipro
- Method: fetchMarkets / loadMarkets

Below is a part of what `loadMarkets()` gave me. The `active` key here should not be `true`. It should be determined from the original response whether `state` is `online `.

Official reference: https://huobiapi.github.io/docs/spot/v1/en/#get-all-su

[2019-07-07 12:17] frosty00 commented on #5471
you need to pass a logger to the exchange class like so:

[code]

[2019-07-07 12:24] #5471 closed

[2019-07-07 13:11] qwasko1212 commented on #5471
Unfortunately it does not work. Maybe because I am using ccxt.async_support?

My code:
`import ccxt.async_support as ccxt`
`import logging`
`logger = logging.getLogger('ccxt')`
`logger.setLevel(level=logging.DEBUG) ` - I have tried also without this line

`exchange = ccxt.bitmex({'apiKey': api_key,  'secret': api_secret,  'logger': logger})`

[2019-07-07 14:15] frosty00 commented on #5471
add this piece of code:

`logger.addHandler(logging.StreamHandler(sys.stdout))`

[2019-07-07 14:15] frosty00 commented on #5471
(you could also add a fileHandler)

[2019-07-07 18:05] qwasko1212 opened #5475 "Does Bitmex Bulk order require different parameters?"
I have successfully placed all necessary orders via exchange.create_order. Now i would like to optimize work with exchange and place one bulk order instead of sending orders separately.

Example of code for separate Stop order placement. It works
[code]

Code which i am trying to use for bulk order placement (Stop)

[code]

Data in orders list.
`<class 'dict'>: {'symbol': 'ETHUSD', 'type': 'Stop',

[2019-07-07 20:18] #5472 closed

[2019-07-07 23:23] MrCelticFox opened #5476 "Bibox fetch_balance returning 0 instead of balance"
- OS: Arch Linux
- Programming Language version: Python
- CCXT version: latest
- Exchange: bibox
- Method: fetch_balance

I went back to a project I started last year and wanted to check balances on my accounts, when I came to Bibox I noticed I was getting nothing, even though the other 3 were returning balances just fine. I logged on manually to check funds are still there (and they are) and rese

[2019-07-07 23:47] kroitor commented on #5476
@MrCelticFox it has been switched from Main wallet to Trading wallet recently (for the purpose of unification with the other exchanges), so what you see is your trading balance, which might be zero when your main balance is above zero.

Related issue: https://github.com/ccxt/ccxt/pull/5325

Let us know if that doesn't answer the question.

[2019-07-07 23:47] #5476 closed

[2019-07-08 06:56] brandsimon commented on #5394
@kroitor
Should we log a warning if SSL Certificates are disabled or overwritten, since this can result in stolen keys? MITM Attack and there are some exchanges using login-data like keys (for example dx.exchange).

[2019-07-08 07:28] nettemNvest opened #5478 "i need 24hr volume data for a currency pair from an exchange which method should i use to get it"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Programming Langua

[2019-07-08 07:30] nettemNvest commented on #5478
when i use fetchTicker its giving me
   info: {
      symbol: 'BCPTUSDC',
      priceChange: '0.00000000',
      priceChangePercent: '0.000',
      weightedAvgPrice: '0.05348000',
      prevClosePrice: '0.05292000',
      lastPrice: '0.05348000',
      lastQty: '330.70000000',
      bidPrice: '0.05391000',
      bidQty: '59577.40000000',
      askPrice: '0.05798000',
      askQty: '939.90000000',

[2019-07-08 07:34] frosty00 commented on #5478
Yes it is 24hr volume,

the `volume` is here is the _base_ volume, and the `quoteVolume` is the quote volume.

so the 24hr USDC  (quote) volume here is 17.6 USDC or approximately $17

use the unified fields to access volume of many exchanges

[2019-07-08 07:40] frosty00 commented on #5475
it seems to me that the issue is with `"price": None` - you are sending an undefined price is the parameters. for market orders you may want to avoid sending any price at all.

it is probably trying to validate the price as a number, which fails since the price you sent was `undefined`.

[2019-07-08 08:15] qwasko1212 commented on #5475
I have removed price but it returns same error.

I have tried to send bulk order for LimitIfTouched orders, but it returns same mistake as for simple Stop. However it works with single order placement. Maybe this information can help.

_Example of code for single placement LimitIfTouched order:_
[code]
**It works well.**

_Example of code for bulk LimitIfTouched order:_
[code]
**returns error -->{

[2019-07-08 09:08] kroitor commented on #5478
No. You're looking at the `info` raw substructure of the ticker – it is there for development purposes. If you want to use the ticker info – you don't have to bury into `info`, you should look outside of `info`. The ticker structure is as follows:

[code]

The ticker structure is described in the Manual here: https://github.com/ccxt/ccxt/wiki/Manual#ticker-structure

The difference between base an

[2019-07-08 09:08] #5478 closed

[2019-07-08 09:14] kroitor commented on #5475
@qwasko1212 why do you send `parameters` to bitmex? Their endpoint for placing orders does not support a parameter called `parameters` inside an order. Each order should be a plain dict without nested dicts, and the `stopPx` should be on the same level with `price`.

order = {
    "symbol": native_exchange_symbol,
    "type": "LimitIfTouched",
    "side": order_side,
    "orderQty": amount,"price"

[2019-07-08 09:15] kroitor commented on #5475
@qwasko1212 let us know if the above does not answer the question.

[2019-07-08 09:15] #5475 closed

[2019-07-08 09:50] brandsimon commented on #5475
Also, bitmex doesnt support bulk market orders.
https://blog.bitmex.com/api_announcement/update-to-bulk-order-request-functionality/

[2019-07-08 11:52] nettemNvest opened #5480 "I need to develop an API where i need to get the volume of the pair ( BTC/USD ) form al the available exchanges"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Programming Langua

[2019-07-08 11:52] nettemNvest commented on #5480
exchange_volume : async (req,res,next)=>{

           // let pair =  `${base}/${quote}` ;
            let pair = 'BTC/USD'
            let existing_exchanges = ['kraken','bitmex'] ;
            async function getVolume(exchangeId, pair){

                let exchangeClass = ccxt[exchangeId]
                let exchange = new exchangeClass({ enableRateLimit: true })
                if( exchange.has

[2019-07-08 11:53] kroitor commented on #5480
@nettemNvest please, see this example: https://github.com/ccxt/ccxt/blob/master/examples/js/exchanges-by-volume.js

Let us know if that does not answer the question.

Duplicate: https://github.com/ccxt/ccxt/issues/5462

[2019-07-08 11:53] #5480 closed

[2019-07-08 11:56] nettemNvest commented on #5480
i did sir....when they get the result they are logging the result and resolving  but what if we get the error they are not rejecting.... they are jsut loging the error ....
I am developing an API sir.....not just the code for logging

[2019-07-08 11:58] kroitor commented on #5480
[code]

[2019-07-08 12:05] nettemNvest commented on #5480
npm install web3 ethereumjs-util ethereumjs-abi bignumber.js --no-save
 sometimes iam geting this error

[2019-07-08 12:08] kroitor commented on #5480
That's not the only info in that error, it says:

[code]

You're instantiating `theocean` exchange (by instantiating all exchanges from CCXT). However, `theocean` is a DEX and it requires web3 code to run. If you don't want to have that exception, then:

1. either don't instantiate `theocean` if you're not using it
2. or add those dependencies if you want to fetch info from `theocean`

[2019-07-08 12:15] nettemNvest commented on #5480
const ccxt = require('ccxt');

(async () => {

    //     const exchanges = [
    //         'bittrex',
    //         'poloniex',
    //         'bitfinex'
    //     ]

    const exchanges = ccxt.exchanges

    const symbol = 'BTC/USDT'
    const tickers = {}
    const volumeField = 'baseVolume'

    console.log ('-----------------------------------------------------------')

    await Promise.a

[2019-07-08 12:15] nettemNvest commented on #5480
(node:19761) UnhandledPromiseRejectionWarning: undefined
(node:19761) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 14)

[2019-07-08 12:16] yurenji opened #5481 "help with okex v3 spot cancel_batch_orders"
- OS: mac/ubuntu 16.04
- Programming Language version: python
- CCXT version: latest
- Exchange: okex v3
- Method: spot_post_cancel_batch_orders

[code]
The above code gives me error:

[code]
 I am not sure am I using the api correctly, or there is a bug with the api. Can you help me a bit here?

[2019-07-08 12:16] kroitor commented on #5480
@nettemNvest of course, because you wanted it to reject, right? And if it rejects, then you have to catch it, in other words, that example posted above says:

[code]

↑ That line means you have to edit everything below that line. Otherwise it will reject → and you're not catching the rejection → you will get an unhandled rejected promise on your side.

[2019-07-08 12:17] yurenji commented on #5481
FYI, I was able to make it work for future orders:

[code]

[2019-07-08 12:18] kroitor commented on #5480
@nettemNvest

[code]

[2019-07-08 12:20] yurenji commented on #5481
![image](https://user-images.githubusercontent.com/5565266/60809589-9c9df800-a1bd-11e9-9b73-67f8bdcb0460.png)

Noticing the okex rest api accepts 'list' object in the body, I also tried:
[code]
It gives me another error:

[code]

[2019-07-08 12:52] synchronizing commented on #5394
Let me just add:

- `aiohttp` (`ccxt_async`) does not throw out SSL certificate warning.
- `requests` (`ccxt`) *does* throw SSL certificate warning through `urllib3`.

[2019-07-08 15:15] kroitor commented on #5394
@brandsimon in this particular case, the MITM attack is done deliberately by the owner. But in general, yes, I think it would be great to have a warning so that we keep people aware! )

@synchronizing thx for the hints!

[2019-07-08 15:18] frosty00 commented on #5481
you need to wrap the params in a list like so:

[code]

the format has to match exactly the format as specified by the api docs - https://www.okex.com/docs/en/#spot-repeal

[2019-07-08 15:20] kroitor commented on #5481
@frosty00 the problem is with lists in `implodeParams`:

[code]

[2019-07-08 18:22] npomfret opened #5484 "[cex] weird balances response not handled"
The following has no `used` or `total` fields for BSV:

[code]

[2019-07-08 19:44] #5481 closed

[2019-07-08 19:48] kroitor commented on #5481
@yurenji it was a bug with handling arrays in params, and it should be fixed as of 1.18.912 (the new build will arrive in 10 minutes). Tested it on my side – and now it reports a proper error:

Python:

[code]

[code]

JavaScript:

[code]

[code]

PHP:

[code]

[code]

Let us know if you still have difficulties with it after upgrading to 1.18.912. Thx for reporting!

[2019-07-08 20:23] kroitor commented on #5484
@npomfret which version of ccxt is it?

[2019-07-08 20:35] kroitor commented on #5484
@npomfret I cannot reproduce it on my side with the most recent version:

Injected it without `orders` inside fetchBalance:

[code]

BSV is present ↓

[code]

[2019-07-09 00:23] joao-jeronimo commented on #4518
Hello.
Is there a bounty for implementing this?
Thank you.

[2019-07-09 01:33] kroitor commented on #5415
Closing this for now until we have a followup. Feel free to reopen it if needed or just ask further questions if any.

[2019-07-09 01:33] #5415 closed

[2019-07-09 03:00] yurenji commented on #5481
I can confirm the fix works.

[2019-07-09 07:15] nettemNvest opened #5485 "geting quote volume as undefined in bitfinex"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Programming Langua

[2019-07-09 07:15] nettemNvest commented on #5485
{
  symbol: 'BTC/USD',
  timestamp: 1562656257886.8206,
  datetime: '2019-07-09T07:10:57.886Z',
  high: 12814.64784556,
  low: 11435,
  bid: 12645,
  bidVolume: undefined,
  ask: 12649,
  askVolume: undefined,
  vwap: undefined,
  open: undefined,
  close: 12645,
  last: 12645,
  previousClose: undefined,
  change: undefined,
  percentage: undefined,
  average: 12647,
  baseVolume: 22227.170770895

[2019-07-09 08:08] npomfret commented on #5484
Apologies, my code removed the undefined fields.

Still, I'm surprised that `BSV: undefined` in `total` for example is considered correct output.  I would have thought `0` to be the correct value. Can you explain?

[2019-07-09 10:22] KhalilMohammad opened #5486 "Request timeout for fetchbalance"
- OS: Windows 10
- Programming Language version: NodeJs
- CCXT version: 1.18.916
- Exchange: okex3
- Method: fetchBalance

Most other methods are working.
I tried Proxy VPN but it is not working. #5279

[2019-07-09 10:30] jackyxie opened #5487 "Exception class not found"
- OS: Linux
- Programming Language version: PHP
- CCXT version: 1.18.916
- Exchange: All Exchange
- Method: Exception Class not found

class AuthenticationError not found in file ccxt/php/Exchange.php on line 1314

[2019-07-09 10:52] kroitor commented on #5487
@jackyxie can you please paste a bit more info about it? Or your code to reproduce it? Also, need to know your version of PHP.

[2019-07-09 10:55] kroitor commented on #5485
That's right – we don't invent it, if the underlying exchanges does not provide it. If you look into the `info` structure which contains the raw unparsed response from the exchange – you will notice that there is no value for quote volume there.

[2019-07-09 10:55] #5485 closed

[2019-07-09 10:56] kroitor commented on #5486
@KhalilMohammad what's your version of Node? Can you paste a minimal snippet of code to reproduce it?

[2019-07-09 10:57] jackyxie commented on #5487
@kroitor my PHP version 7.2.1. and below is a snapshot of my code.

![code](https://user-images.githubusercontent.com/3347704/60882852-4f805b80-a27b-11e9-9639-c548761f2d85.png)

[2019-07-09 10:59] kroitor commented on #5487
@jackyxie can you make a minimal but a complete snippet in PHP with the bug? 10-20 lines so that I could copy it and test it on my side? Unfortunately, the screenshot above does not really help determine the cause of it.

[2019-07-09 11:09] jackyxie commented on #5487
@kroitor here is the complete snippet.

`php
<?php

require_once __DIR__ .'/vendor/autoload.php';

$url = 'https://www.mxc.com/open/api/v1/private/order';
$method = 'POST';
$headers = array (
    'Content-Type' => 'application/json',
);

$options = [
    'enableRateLimit' => false,
    'timeout' => '10000',
    'curl_options' => [
        CURLOPT_SSL_VERIFYPEER => false,
        CURLOPT_SSL_VERIFY

[2019-07-09 11:42] KhalilMohammad commented on #5486
NodeJs Version: v11.9.0

I just tried again, same code it is now working.

[code]

[2019-07-09 11:55] kroitor commented on #5486
It was a temporary RequestTimeout then. In general, you should expect connectivity errors and `ExchangeNotAvailable`, `RequestTimeout`, `NetworkError` and other exceptions occasionally. Unfortunately, the connectivity is not globally-ideal all the time. So, catching a NetworkError or a RequestTimeout occasionally due to network congestion or due to any other net errors is pretty much normal.

More

[2019-07-09 11:55] #5486 closed

[2019-07-09 12:08] #5487 closed

[2019-07-09 12:08] kroitor commented on #5487
@jackyxie thx! Fixed it, should be ok as of 1.18.917. Let us know if that does not help.

[2019-07-09 12:13] kroitor commented on #5484
In this case there is no value that defines the `used` amount.

Our formula is:

[code]

If `free` or `used` is undefined – `total` cannot be defined. The `total` can only be defined if both `free` and `used` are present. Otherwise there is not enough info to tell the `total` amount, just the `used` amount (corresponding to the `available` field in the balance response).

That would be the case, i

[2019-07-09 12:13] #5484 closed

[2019-07-09 12:29] npomfret commented on #5484
For this exchange I would think that assuming zero for `used` is safe.  They don't have any BSV markets as far as I can tell, which is probably why the field is missing.

[2019-07-09 12:39] KhalilMohammad commented on #5486
Thank you for your quick response.

[2019-07-09 13:04] marcuswin opened #5488 "Bitmarket shutdown"
Proof: https://www.reddit.com/r/Bitcoin/comments/casj8f/second_largest_polish_crypto_exchange_bitmarket/

[2019-07-09 13:26] marcuswin commented on #4782
@kroitor API redirect works but redirect on API docs and Coinbase Pro site not working. Check in supported exchanges list.

[2019-07-09 13:35] kroitor commented on #4782
@marcuswin yep, it is going to be delisted in a matter of a few days. Thx!

[2019-07-09 17:02] marcuswin opened #5489 "btctradeim now is baobi"

[2019-07-09 20:47] AadaEa commented on #56
The fact that CCXT Pro gets to interact with the exchanges directly, without intermediaries is all that matters in my view. access to the source code got me sold on this.

I wish the CCXT team would generate an higher income from the CCXT base library alone, I suspect CCXT is used by more and bigger users than we could think of, and I can only see it growing over the years with the crypto market.

[2019-07-09 22:06] kroitor commented on #56
@AadaEa

Yes. We are making them seamlessly compatible as much as we can, so, it may turn out that most of the Manual is already there ))

That is also possible, yes.

For PHP we're using some components of ratchet and some parts of reactphp.

Ideally, you would want a link to the CCXT Pro Manual instead of this comment – that would answer all your questions, of course ) However, I can't tell a lo

[2019-07-10 02:26] Modrx opened #5490 "How to get all Price Tickers for all Exchanges"
Hi,

I would like to get the Price Tickers for all exchanges using PHP, how can I do that?

Yobit, CoinMarketCap, and other exchanges are not providing all the Price Tickers, some are limited to 100.

What's the best way to get all the Price Tickers without checking each and every exchange if it's providing all the Price Tickers or not.

I can get the exchange list and process all exchanges no pro

[2019-07-10 03:00] kroitor commented on #5490
Hi!

Which particular price tickers for all exchanges do you want? Because a price ticker is tied to a market symbol, some exchanges may have a completely different set of tickers and symbols than other exchanges. Also, the exchanges will not allow you to fetch all data in one call – you gotta be ready to traverse it, depending on your needs. This is the limitation on the exchanges' side, as expla

[2019-07-10 03:00] #5490 closed

[2019-07-10 03:13] kroitor commented on #5441
Dupe: #5490

[2019-07-10 03:13] #5441 closed

[2019-07-10 03:21] Modrx commented on #5490
Can you please provide me the PHP code to get all (2264) CoinMarketCap Price Tickers when using the following code, instead of 100:

$exchange = new \ccxt\coinmarketcap (array (
    'apiKey' => 'YOUR_API_KEY', // ?------------ replace with your keys
    'secret' => 'YOUR_SECRET',
//    'verbose' => true,
));

if ($exchange->has['fetchTickers']) {
//var_dump ($exchange->fetch_tickers ()); // all ti

[2019-07-10 03:26] kroitor commented on #5490
It is not possible with the free CoinMarketCap v1 API that is integrated in CCXT, unfortunately, CMC will limit the results at 100 tickers. However, we are going to add suport for their new paid API which does allow to fetch all tickers at once, and as soon as we have it integrated – we will post the example here. Pardon for the inconvenience, but this is really against the will of the exchanges –

[2019-07-10 12:36] ah2020b commented on #4473
Could you update to the new domain?

https://api_v1.bitcointoyou.com/METHOD

More information here
https://pt.bitcointoyou.com/universo-bitcoin/api-b2u/

[2019-07-10 13:33] ibesora opened #5493 "Feature request: Add option to set logging method"
While using verbose mode it would be great if we could also set the logging function this way you could write the log to a file or send it somewhere else for example, not just printing it to system out.

Something like what you do to change the nounce function would be enough. I'm thinking something like this:
[code]

[2019-07-10 14:09] noel45 commented on #4839
Hi Kroitor,

I work around this issue however I still have it from time to time.
It concerns all the privateGetXXX or publicGetXXX.
I would like to understand deeper how it works :
Because actually when I hit the error "'bitmex' object has no attribute 'publicGetTradeBucketed'"
well it is actually true that this function does not exist.

So how the function resolution mechanism works ?

Thank you,

[2019-07-10 14:31] kroitor commented on #4839
Hi!

Can you make a complete short program (10-20 lines) that would reproduce the issue consistently? We could look into it then, otherwise we will be mostly guessing. We need it to be a complete short script, including instantiation, but without your keys of course. Please follow these guides literally and use markdown for readability:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#h

[2019-07-10 15:53] frosty00 commented on #5493
would this work

[code]

we will also have to change the args to `console.log` to be a string instead of multiple arguments.

maybe by using `this.isJsonEncodedObject` + `JSON.stringify`?

[2019-07-10 19:09] kroitor commented on #5493
That would work, however, it's for JS only... And we want to unify everything and make it portable as much as we can.

I don't think that we should join the args into a string – the logging function should be capable of handling variable number of arguments and should serialize each argument natively.

I suggest the following:

1. We name a method with a verb, so, I'd name it `this.log`, instead o

[2019-07-10 22:02] #5488 closed

[2019-07-11 06:28] ibesora commented on #5493
Sounds perfect for me.
+1 to not joining the args to a string.

[2019-07-11 08:13] selfrefresh opened #5496 "fetch_closed_orders since startTime"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Linux
- Programming

[2019-07-11 08:17] selfrefresh commented on #5496
@kroitor

[2019-07-11 08:25] selfrefresh commented on #5496
The same goes for python

[2019-07-11 10:36] nettemsarath commented on #248
could u please tell me how to instantiate all exchanges at once using Nodejs

[2019-07-11 10:55] nettemsarath opened #5497 "i need to get all the exchanges which provies orderBook data"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Programming Langua

[2019-07-11 10:55] nettemsarath commented on #5497
[code]

[2019-07-11 10:56] nettemsarath commented on #5497
[code]

[2019-07-11 10:56] nettemsarath commented on #5497
let existing_exchanges = ccxt.exchanges ;

        let orderBook_list = existing_exchanges.filter( (exchangeid)=>{
                    let exchangeClass = ccxt[exchangeid]
                    let exchange = new exchangeClass({ enableRateLimit: true })
                    if( exchange.has['fetchOrderBook'] ){
                        return exchange.id
                    }
                })

[2019-07-11 10:56] nettemsarath commented on #5497
but iam getting error...

[2019-07-11 11:14] #5497 closed

[2019-07-11 11:21] nettemsarath opened #5498 "how to get list of all exchanges which provides fetchOrberBook data"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the link, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Please make sure your local version of ccxt is up to date with this repo. You can check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Programming Langua

[2019-07-11 11:30] nettemsarath commented on #5498
let existing_exchanges = ccxt.exchanges ;

  let orderBook_list = existing_exchanges.filter( async(exchangeid)=>{

             let id = exchangeid ;
             const exchange =await new ccxt[id] ({ enableRateLimit: true })
             if( exchange.has['fetchOrderBook'] ){
                  return exchangeid
             }
          })
          console.log( existing_exchanges )

iam geting err

[2019-07-11 12:18] kroitor commented on #248
@nettemsarath https://github.com/ccxt/ccxt/blob/master/examples/js/instantiate-all-at-once.js

[2019-07-11 12:34] kroitor commented on #5498
@nettemsarath you don't have to await for the constructor – that's technically a mistake.
Also, see this answer: https://github.com/ccxt/ccxt/issues/5480#issuecomment-509198840

1. in your project folder: `npm i web3 ethereumjs-util ethereumjs-abi bignumber.js --no-save`
2. change your code:

[code]

Or, alternatively, if you don't want `theocean` with web3 deps, then do this:

1. change your code

[2019-07-11 12:34] #5498 closed

[2019-07-11 12:38] nettemsarath commented on #5498
well thank you sir...

[2019-07-11 16:23] FlickerBean opened #5500 "Bitfinex order history limit"
- OS: Linux
- Programming Language version: PHP
- CCXT version: 1.18.923
- Exchange: Bitfinex and Bitfinex2
- Method: fetchClosedOrders

Bitfinex has a parameter 'limit' (https://docs.bitfinex.com/reference#rest-auth-orders-history) which doesn't work when passing under params. This code only returns 93 orders... (there are def more than 93 orders on the exchange).

[code]

Bitfinex2 crashes out w

[2019-07-11 16:27] kroitor commented on #5500
@FlickerBean can you please post your verbose request/response for the v1 call?

[code]

?

[2019-07-11 17:26] turbojenks opened #5501 "New Exchange - Eterbase"
Hi is there any scope to getting this one on the list?

Eterbase is a European exchange that offers 100% negative trading fees for maker orders.

API reference= https://developers.eterbase.exchange/

- Programming Language version: Python
- CCXT version: 1.18.923
- Exchange: Eterbase
- Method: Rest    API/Sockets

[2019-07-11 18:37] dorian-coygo commented on #4848
@kroitor - Is this still valid? I can't find a YOYOW Binance's api or UI. Similar to BCC pairing with it.

https://github.com/ccxt/ccxt/blob/63f6d1219e09223a214068f95c8455f329f1421f/js/binance.js#L152

[2019-07-11 20:49] marcuswin opened #5502 "HADAX merged with Huobi Global"
Proof: https://huobiglobal.zendesk.com/hc/en-us/articles/360000172821-Announcement-on-the-HADAX-Migration-to-Huobi-Global

[2019-07-11 20:52] kroitor commented on #5502
@marcuswin thx for the updates! will delist it shortly

[2019-07-11 20:57] kroitor commented on #4848
@dorian-coygo yes it is still valid. You cannot find YOYOW on binance, because you're confusing market ids with market symbols, as explained here: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

Pay attention to the difference between `id` and `symbol` below:

[code]

[2019-07-11 21:06] marcuswin opened #5503 "BTCExchange shutdown"
BTCExchange now sells site. Proof: https://www.btcexchange.ph/

[2019-07-11 21:14] marcuswin opened #5504 "CHBTC is shutdown"
Proof: https://www.chbtc.com/i/blog?item=1812&type=proclamation

[2019-07-11 22:00] marcuswin opened #5506 "Huobi Pro now rebranded to Huobi Global"
Proof: https://twitter.com/huobi_pro
and also no mention in the media from about august 2018.

[2019-07-11 23:30] devsi commented on #40
Necro thread!

@kroitor I see many exchanges have implemented their custom endpoints to return withdrawal fees, but there is no unified way to retrieve these fees (from what I can see?)

I have had to write overriding classes for 9 exchanges in my project as each exchange handles retrieving the withdrawal fee differently. (trade fees are hardcoded so I can use them as most exchanges supply that).

[2019-07-11 23:31] #5504 closed

[2019-07-11 23:39] devsi commented on #40
Meep. Looks like SOME of the exchanges have `fetchFundingFee` implemented, but only half the ones I use do so I still have to write it myself for most.

`fetchFundingFee` confused me as I assumed it was purely a fee for crediting your account with a balance.

[2019-07-12 00:02] kroitor commented on #40
@devsi yep, this is a long story, and if you want to understand it to its full extent, please, go through these posts:

- https://github.com/ccxt/ccxt/pull/1793
- https://github.com/ccxt/ccxt/pull/1814#issuecomment-363827160
- https://github.com/ccxt/ccxt/pull/1669
- https://github.com/ccxt/ccxt/issues/4128

Let me know if you have questions after that.

In short, you're right, and funding fees ar

[2019-07-12 07:38] FlickerBean commented on #5500
Bitfinex2 not supporting fetchClosedOrders yet is fair enough. Do you think overriding its parent classes method to make this more apparent, may be a good idea?

Apologies for not posting the output I should know better by now :blush:

https://pastebin.com/dQ8pC5WS

[2019-07-12 08:07] kroitor commented on #5500
Yes, of course! Thanks for that! We will add an override that will throw a `NotSupported` exception with a meaningful description asap.

Ok, now, in the output, we immediately see that `limit` is

[code]

So, the exchange has received the `limit=500` request from you, and it replied with 100 orders exactly.
The exchange replied with just 100 orders because they have a max limit on the exchange whi

[2019-07-12 08:32] FlickerBean commented on #5500
Ahhh... that all makes sense... I thought 100 was the default due to their v2 documentation using the simiular UI but in v2 they put the default not the max there. See here: https://docs.bitfinex.com/v2/reference#orders-history

If I could contribute via php i'd be happy to implement `Bitfinex2::fetchClosedOrders` which supports up to 500.
Where can I get more information on how to contribute via

[2019-07-12 08:43] kroitor commented on #5500
@FlickerBean thx! We appreciate all PRs and contributions!

Here:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support

Well, technically, we accept JavaScript only, however, if you open the JavaScript fetchClosedOrders and the PHP fetchClosedOrders and compare them, you will immediate notice 0 differences:

<img width="1136" alt="Screen Shot 2019-07-12 at 11 38 57" sr

[2019-07-12 08:45] FlickerBean commented on #5500
This is exactly what I was looking for.

I'm comfortable enough with Javascript. If I get a spare few hours i'll look deeper into it all :)

Thanks for all your help.

[2019-07-12 08:45] #5500 closed

[2019-07-12 12:54] frosty00 commented on #5496
It is working for me in js/py, what version of ccxt are you using?

[2019-07-12 17:06] npomfret opened #5507 "[coinfloor] error handling could be improved"
Looks like Coinfloor is returning a plain text response for errors.  In my code I'm doing something like:

Here's an example

[code]

Looking into why this failed, because it shouldn't.  But the error wasn't trapped by ccxd.

[edit] ...actually sometimes, a plain text response is correct.  When cancel works (it's broken right now), you get the following:

[code]

[2019-07-12 17:09] npomfret opened #5508 "[coinfloor] cancel order doesn't work"
See: https://github.com/coinfloor/API/blob/master/BIST.md#cancel-order

The url generated is something like: `https://webapi.coinfloor.co.uk/bist/233123443/cancel_order/ `, where it should be `https://webapi.coinfloor.co.uk/bist/XBT/GBP/cancel_order/`.  And the body should contain the order id.

[2019-07-12 21:58] #5503 closed

[2019-07-12 22:18] kroitor commented on #5319
@npomfret they haven't changed their API response:

[code]

↑ Still reporting 2 price decimals for CZK...

[2019-07-12 22:19] kroitor commented on #5319
No mention of changes in precision here either: https://twitter.com/CoinmateBT/status/1149001554088943616.

Closing this for now.

[2019-07-12 22:19] #5319 closed

[2019-07-13 04:28] hroff-1902 commented on #5461
How is it goes?  #5467 was closed, is there other new PRs related to this issue?

[2019-07-13 04:39] kroitor commented on #5461
@hroff-1902

@frosty00 helped make significant progress in that direction, so, we're doing great, we're very close to resolving this issue.

Yep:

- https://github.com/ccxt/ccxt/pull/5470
- https://github.com/ccxt/ccxt/pull/5494
- ...

[2019-07-13 14:04] #5502 closed

[2019-07-13 16:29] AadaEa commented on #56
We had a different definition or I wasn't clear, what I call "server side" was in fact an hosted server running a copy of the CCXT library through php which gather data and runs a set of instructions with cron jobs, which can also be called a client from a different point of view :P Not seeing the use of a multiplexing proxy.

What I had trouble picturing was how CCXT would have a permanently open

[2019-07-13 16:52] eburnette commented on #56
I'm a developer, and I run a one person startup that does commercial trading bots, which of course use CCXT (in NodeJS). Up to now I've had to use other libraries for streaming, and there's a different one for each exchange. I'd like to be able to use CCXT streaming but it depends on the price. I have workarounds (the other libraries or writing it myself), but they have a cost also. I'm not oppose

[2019-07-13 20:33] kroitor commented on #2843
https://www.coindesk.com/japanese-exchange-bitpoint-hacked-by-32-million-worth-in-cryptocurrencies

[2019-07-13 21:17] #5292 closed

[2019-07-13 21:18] kroitor commented on #5292
This is now unified as of 1.18.935. Thx for your participation!

[2019-07-14 07:55] yangbai789 opened #5510 "New Exchange: BHEX"
please add: www.bhex.com

[2019-07-14 12:05] xmatthias opened #5512 "Transpiling leaves removed exchanges in php/python pile"
- OS: not relevant
- Programming Language version: n/a
- CCXT version: 1.18.939
- Exchange: huobi*

Unless i misunderstand how ccxt transpiling works, i think it leaves deleted / renamed files behind.

for JS (the transpiling source) - there are 2 files for Huobi, `huobipro.js` and `huobiru.js`.

![2019-07-14-140201_1214x147_scrot](https://user-images.githubusercontent.com/5024695/61183297-fda3510

[2019-07-14 12:09] kroitor commented on #5512
@xmatthias yep, looks like you're right, there are some stale files, we don't have a delete rule in the building sequence, so we `git rm` those files manually for now and we've missed a couple apparently. However, we are going to automate that as well.

[2019-07-14 15:12] #5512 closed

[2019-07-15 10:07] xCuri0 opened #5515 "Making request from CCXT gives incapsula request unsuccessful while it works with curl"
- OS: Arch Linux
- Programming Language version: Python 3.7
- CCXT version: latest from git
- Exchange: coinexchange
- Method: all private methods

I'm working on adding unofficial trading support for coinexchange in CCXT. When try to make a buy order request by adding support for that in CCXT I get ```Request unsuccessful. Incapsula incident ID: [redacted]```. But if I send the exact same request

[2019-07-15 11:49] SauravKanchan opened #5516 "Unable to fecth deposit address huobipro?"
- OS: Any
- Programming Language version: python3.6
- CCXT version: 1.18.817
- Exchange: huobipro
- Method: fetchDepositAddress

[code]
Methods working:
huobipro.loadAccounts()
huobipro.fetchBalance()

huobipro.fetchDepositAddress("XRP") is giving login-required error.

[2019-07-15 12:14] frosty00 commented on #5516
Please update CCXT, huobipro's `fetchDepositAddress` has been depreciated and they do not provide an API endpoint. The old code used an endpoint that was accessible from the browser but it now requires a session cookie (i.e. to be logged in).

[2019-07-15 12:18] frosty00 opened #5517 "last_response_headers, last_http_response, and last_json_response will be removed August 1st"
`last_response_headers`, `last_http_response`, and `last_json_response` are depreciated and will be removed on August 1st. #5513

This is because they do not work in an async context. Giving the community a friendly heads up so that they can update any code that relies on these properties!

[2019-07-15 12:55] SauravKanchan commented on #5516
Ok
Thanks for info

[2019-07-15 12:55] #5516 closed

[2019-07-15 13:03] kroitor commented on #5515
@xCuri0 have you tried comparing the headers? It is often due to one of the headers missing:

- `exchange.headers = { 'Accept': 'application/json' }` (or set it per request)
- `exchange.userAgent = exchange.userAgents['chrome']` (or set it with headers per request)

Does that help?

[2019-07-15 13:14] kroitor commented on #5517
Yep, removing them is the right thing to do. We will do our best to provide alternative ways of accessing raw response data and headers before we cut them out completely.

[2019-07-15 13:47] xCuri0 commented on #5515
@kroitor the headers and everything are exactly the same. it works fine in curl even if i use the python requests user agent

[2019-07-15 13:50] kroitor commented on #5515
@xCuri0 need something to reproduce it, can you post more details? A complete snippet of 10-20 lines with instantiation along with a curl sample – would definitely help shed light on it.

[2019-07-15 14:16] WoK-E opened #5518 "YoBit: fetchOrderBooks parameters are ignored"
- OS: Linux
- Programming Language version: PHP
- CCXT version: 1.18.941
- Exchange: YoBit
- Method: fetchORderBooks

v3 depth endpoint takes 2 optional parameters, namely limit and ignore_invalid.
These are ignored when $this->publicGetDepthPair (array_merge ($request, $params)) is called (yobit.php, line 316)

[2019-07-15 14:23] WoK-E opened #5519 "YoBit fetchTickers() & fetchOrderBooks() returning "empty pair list""
- CCXT version: 1.18.941
- Exchange: YoBit
- Method: fetchOrderBooks

YoBit accepts multiple pairs when accessing the depth endpoint, but the number of pairs accepted seems undefined. When calling fetchOrderBooks with up to 40 pairs, YoBit returns the orderbook with no problems. If requesting the orderbook for more than 40 pairs, the return is {"success":0,"error":"Empty pair list"} -- I've had su

[2019-07-15 16:18] frosty00 commented on #5508
yep, most of coinfloor is broken (including fetchBalance). We are working on fixing this...

[2019-07-15 20:16] synchronizing commented on #56
Hey @kroitor, myself and my colleague @Alescontrela are willing to help out on the development side of things. We are currently running a small framework with the intention of solving the exact problem CCXT Pro is being made for; [CryptoBook](https://github.com/Waultics/CryptoBook). We can diverge some of our efforts to CCXT Pro as devs and testers. 👍🏼

[2019-07-16 00:18] babjak opened #5522 "hitbtc2 fetch_tickers raises KeyError exception"
OS: Linux Debian 4.9.0-8-686-pae #1 SMP Debian 4.9.144-3.1 (2019-02-19) i686 GNU/Linux
Programming Language version: Python 2.7.13
CCXT version: 1.18.895
Exchange: HitBTC2
Method: fetch_tickers

About once a week or so fetch_tickers fails, for example, see the relevant part of the Traceback:
[code]
I received similar errors for BSVBTC, BCHETH, BCHDAI, BCHEURS, etc. I found a similar issue #2098 (h

[2019-07-16 00:23] shussekaido commented on #5149
This error still persists with Node 12 even with the user agent in the header. It goes away when using Node 11.

[code]

Error confirmed with:
Node 12.6.0 CCXT 1.18.941
Node 12.2.0 CCXT 1.18.633

[2019-07-16 00:51] CooleRnax opened #5523 "Bifinex wrong mapping VSY"
VSY is VSYS(V Systems)

- OS: Windows
- Programming Language version: python
- CCXT version: 1.18.919
- Exchange: Bitfinex