[2017-12-19 21:01] kroitor commented on #870
Making the transpiler happy can be really tricky and non-intuitive, it requires getting used to id, but I would add the edits if needed and would polish it anyway. Feel free to submit it as is, and I'll carry on from there. Thanks again for your help!

[2017-12-19 21:02] j-a-m-l commented on #788
I read that parts of the manual: it is very useful to have that documented. But my question was more about the policy about that. Shouldn't ccxt use the right kind of nonce generator?
If not, all users are forced to waste time investigating the same problem every time they try a new exchange.
Wouldn't it be better if is in the ccxt codebase? Contributors would help with it.

[2017-12-19 21:04] kroitor commented on #906
@gaardiolor i'm ok with it open, we are going to close it soon, anyway ;) Thx!

[2017-12-19 21:14] kroitor commented on #788
For GDAX the default nonce is 1-to-1 identical to your function:
- https://github.com/ccxt/ccxt/blob/master/js/base/Exchange.js#L236
- https://github.com/ccxt/ccxt/blob/master/js/base/Exchange.js#L82

If you could provide a code snippet to reproduce the problem + your verbose output of it according to this, that would help a lot: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-subm

[2017-12-19 22:08] fredfortier commented on #870
I was able to figure out the required style. Here are the IntelliJ code styles which seem match yours exactly. I was able to transpile successfully but it looks like I need to make some adjustments.
[ccxt-js-styles.xml.zip](https://github.com/ccxt/ccxt/files/1573418/ccxt-js-styles.xml.zip)

[2017-12-19 22:10] kroitor commented on #870
@fredfortier awesome! Thanks so much! Especially for the styles! Will add those to the contributing doc asap!

[2017-12-19 22:12] fredfortier commented on #870
Question: what would be a transpiler friendly alternative to this `Array.isArray (tickers)`?

[2017-12-19 22:16] kroitor commented on #870
@fredfortier i'd remove Array.isArray from there and would leave just the if (symbols), from the naming of that argument it's clear that it is a list (a non-assoc array). And that is also documented. So we can skip that check, and I will later add a rule to transpile Array.isArray constructs. This might need a base-class method to be cross-compatible. Anyway, you don't have to add too many checks,

[2017-12-19 22:21] fredfortier commented on #870
Well the issue is that tickers comes back as either an or object depending on whether the `symbol` parameter was provided. I could drop the logic which fetches a single ticker if only one symbol if provided. If there is a way to check if an object contains a specific attribute, I could do that instead (e.g. `if 'id' in tickers, it's an object, otherwise assume an array`).

[2017-12-19 22:26] kroitor commented on #870
Not without a pain... ) Without Array.isArray, something like the following would do the trick:

[code]

[2017-12-19 22:29] fredfortier commented on #870
Okay sounds good. I'll just remove this logic of handling a single symbol differently. That's what `fetchTicker` is for after all.

[2017-12-19 22:33] kroitor commented on #870
@fredfortier ok, thx! I'm sorry for the inconvenience with the transpiler, it's just that we don't have any better tool for the job for now... (aside from that we are also considering HAXE which seems to be transpileable to most languages via AST traversing, but we haven't decided on it yet).

[2017-12-19 22:36] fredfortier commented on #870
No issue. It's amazing that you can do this at all. I don't mind coding with limited features.

[2017-12-20 00:06] kroitor commented on #870
Fixed/merged in #907. Thank you!

[2017-12-20 00:09] #870 closed

[2017-12-20 00:41] scoshil commented on #882
@kroitor I can confirm I have the same output as @hexdump2002 for the requests code you provided

I also tried replacing my ssl certificates and it didn't change anything

[2017-12-20 00:42] scoshil commented on #882
@kroitor also just wanted to echo the thanks for sharing the lib! The work that's been done so far has been great!

[2017-12-20 10:28] spallesen opened #909 "examples/py/fetch-ohlcv-sequentially.py with GDAX does not work anymore"
Easy to replicate - just try it with [ccxt/examples/py/fetch-ohlcv-sequentially.py](https://github.com/ccxt/ccxt/blob/master/examples/py/fetch-ohlcv-sequentially.py) with Gdax as the exchange and from_datetime = '2017-12-01 00:00:00' (just to reduce the number of bars)

The bars are out of order with a wrong start date and ends with the error: IndexError: list index out of range.

3 days ago this

[2017-12-20 13:22] hexdump2002 commented on #882
Following up the "switching to requests library" suggestions you commented yesterday. Will this affect the cctx.async part of the library? I mean, requests is not compatible with async, so we will have sync calls whenever we use async or not. Could you give a bit of information about this?

[2017-12-20 15:00] aekramer opened #911 "[SSL: CERTIFICATE_VERIFY_FAILED]"
Hi,
I tried using your ccxt as it seems to be a nice library to use. However for some reason I can not get it to connect to any api.

- OS: Windows 10
- Language: Dutch
- CCXT version: 1.10.429
- Exchange: Binance
- Method: Anything I could find, I attempted using the proxy method you posted elsewhere, which does not provide me with the error. ALSO when making the API requests from the browser I a

[2017-12-20 15:21] kornrunner commented on #911
Possible duplicate of #882

[2017-12-20 16:12] kroitor commented on #911
Hi! This is indeed a duplicate, thank you for reporting, this issue will be fixed in the next few hours. In the meantime I'd suggest to move the discussion to #882 , if you don't mind. These are related. Thx!

[2017-12-20 16:12] #911 closed

[2017-12-20 16:17] kroitor commented on #911
P.S. Please do this short test: https://github.com/ccxt/ccxt/issues/882#issuecomment-352695882

[2017-12-20 16:19] aekramer commented on #911
@kroitor
This is the result (I believe the script works as should):
`C:\Users\Alex\AppData\Local\Programs\Python\Python36-32\python.exe C:/Users/Alex/PycharmProjects/Binance-Arbitrage/test.py
{"timezone":"UTC","serverTime":1513786695206,"rateLimits":[{"rateLimitType":"REQUESTS","interval":"MINUTE","limit":1200},{"rateLimitType":"ORDERS","interval":"SECOND","limit":10},{"rateLimitType":"ORDERS","in

[2017-12-20 16:19] kroitor commented on #911
@aekramer ok, this confirms that these issues are the same issue indeed. Will fix shortly and will let you know.

[2017-12-20 16:20] aekramer commented on #911
@kroitor Thank you.

[2017-12-20 17:28] kroitor commented on #882
@hexdump2002

Not, if you mean breaking the async version. But yes, if you mean switching the async to an async-compatible implementation of requests.

Yes, but we are not going to use the synchronous version of `requests` in our `async` subpackage, of course. We are going to integrate an async-aware implementation of requests, like `requests-futures`, or some other implementation that fits best f

[2017-12-20 17:39] hexdump2002 commented on #882
Yes, I understand what you mean. So, the new fix that will come for this bug (The SSL one) will fix both versions? sync and async? Or you are fixing only the synched part only first?

[2017-12-20 17:43] kroitor commented on #882
Yes, we will fix both of them, however, we are going to upload the sync-fix first, then the async-fix.

Yep, but there will little to no delay between the sync-fix and the consequent async-fix. We are determined to fix them both now, however, we can't fix them both simultaneously (different underlying implementations), therefore the sync version is expected first, and then the async, second.

[2017-12-20 18:27] msieg opened #912 "fetch_open_orders stopped working today for binance - returns blank"
It was working fine yesterday, now returns blank even while I have open orders.

- OS: Macbook
- Language: Python
- CCXT version:
- Exchange: Binance
- Method:

[code]

[code]

[2017-12-20 18:35] kroitor commented on #912
Can you please show **verbose** output ?

[code]

[2017-12-20 18:39] msieg commented on #912
Yes, here you go:

('https://api.binance.com/api/v3/openOrders?timestamp=1513795059899&symbol=XMRETH&signature=e51c7d22d457e30b94ffebcd29ded2606bfef50279890cf339fbab60644d8c41', 'GET', 'https://api.binance.com/api/v3/openOrders?timestamp=1513795059899&symbol=XMRETH&signature=e51c7d22d457e30b94ffebcd29ded2606bfef50279890cf339fbab60644d8c41', '\nRequest:', {'X-MBX-APIKEY': '<my_API>', 'Accept-Encodi

[2017-12-20 18:45] slideup-benni opened #913 "Support for exchange-specific types of orders"
Hello,
some exchanges offer conditional orders. It would be very nice when you could provide a method to create such orders. Is this possible?
I would be very thankful

[2017-12-20 18:46] Juanperezc opened #914 "PHP: RAM increases every time I call the methods"
Hello, I have a very serious problem. every time I execute one of the methods which at some point makes a file_get_contents. it is filling the ram memory until a putno to fill it in 1 hour if it is in a cycle running every so often.
Is there any way to avoid this ?

    OS: Windows 10
    Language: php
    CCXT version: 1.10
    Exchange: All
    Method: All

[2017-12-20 18:50] blak3r commented on #466
While coinbase isn't a traditional exchange, I think support should be added for fetchBalance and completedTrades... Use case: making a dashboard to show your current balance of crypto coins across all services.

[2017-12-20 18:53] kroitor commented on #912
Thanks!

From their chat it seems, they are having difficulties today. We didn't change anything in that part of their API, so if it did break all of a sudden – it's most likely on their side.

![binance-2017-12-20-001](https://user-images.githubusercontent.com/1294454/34223213-8c837392-e5cf-11e7-9c22-f247cf39a022.jpg)
![binance-2017-12-20-002](https://user-images.githubusercontent.com/1294454/342

[2017-12-20 18:57] kroitor commented on #914
Hi! Can you show a minimal snippet of code to reproduce the problem, please? Otherwise we will be guessing. We need something to work from. We are not doing any disk I/O in the library at all.

[2017-12-20 19:00] msieg commented on #912
Wow, I really appreciate your quick responses!

1. Yes I do

2. I could try fetchOrder, but I'm not sure how to find my order_id? How else can I get the order _id aside from fetch_open_orders?

3. Did not work

[2017-12-20 19:03] Juanperezc commented on #914
Hello, this code is executed by console and with a cycle that uses reactphp, what is executed is what is inside the function, it is as if it were a while. the problem is that every time I call loadMarkets () the ram increases the same with other methods
`
<?php
require dirname(__FILE__).'/../vendor/autoload.php';
include dirname(__FILE__) ."/../vendor/ccxt/ccxt/ccxt.php";

date_default_timezone_se

[2017-12-20 19:09] kroitor commented on #912
It depends on how you create them. If you create an order with ccxt, then you get the id in response from create\*order...

[code]

[2017-12-20 19:12] msieg commented on #912
Oh, that's great! Thank you!

[2017-12-20 21:16] kroitor commented on #913
Hello! You already have them ) CCXT supports all methods offered by all exchanges intrinsically.

- https://github.com/ccxt/ccxt/wiki/Manual#api-methods--endpoints
- https://github.com/ccxt/ccxt/wiki/Manual#api-method-naming-conventions

So, you just choose your method, your params and there you go. I'd recommend to read the entire Manual, there's a lot of useful info there ;)

Does this answer yo

[2017-12-20 21:42] kroitor commented on #914
There are multiple mistakes in your code. Unfortunately I can't really teach you the proper programming codeflow...

You are creating a new exchange every time you enter the loop, so after calling this function 1000 times, you will have 1000 exchanges, and that goes indefinitely, eating your RAM. Don't create unnecessary instances if you only need one.

Obviously it comes from invalid usage of the

[2017-12-20 22:05] kroitor commented on #912
@msieg would you mind if I close this for now, until we have a followup on this? I'm in contact with their team and, obviously, they are working to resolve the issue asap. I will keep you updated and will let you know when we hear from them.

[2017-12-20 22:06] msieg commented on #912
Sure!

[2017-12-20 22:21] kroitor commented on #912
Ok, feel free to reopen this if needed. We will keep an eye on it as well.

[2017-12-20 22:30] osnwt opened #915 "Allow fetchTrades() for non-specified (all) markets (where available)"
At the moment the unified API requires a market symbol to fetchTrades(symbol). Many exchanges (Poloniex and Cryptopia are examples) allow to fetch trades history for all markets by not specifying a particular symbol.

I use such feature for almost instant trade event notifications for exchanges without WebSocket API by polling the exchange, say, once per 5 seconds. Using separate calls per market

[2017-12-20 22:33] kroitor commented on #915
We will add support for that in near future. Thx!

[2017-12-20 22:42] #914 closed

[2017-12-20 22:43] kroitor commented on #914
I closed this for now, because, obviously, it is not related to ccxt directly. It is related to how you structure the other calls that are external to ccxt.

[2017-12-20 23:07] kroitor commented on #912
@msieg we have a reply from Binance team:

[code]

[2017-12-20 23:07] osnwt commented on #915
Correction: actually, I am interested in **fetchMyTrades()** for all markets, not fetchTrades().
Still, both could be supported.

[2017-12-20 23:14] kroitor commented on #915
@osnwt fetchMyTrades already supports that. So, Poloniex should work right away if you don't specify a symbol argument. The same is true for most markets, where supported, fetchMyTrades should be able to fetch all trades for all markets at once. As for Cryptopia, [from their docs](https://www.cryptopia.co.nz/Forum/Thread/256) it follows that they demand a symbol anyway. Dod you test their private

[2017-12-20 23:33] osnwt commented on #915
I did not test Poloniex, but tested Cryptopia right now. It works for all pairs too, read the API function description:

Returns a list of trade history for **all tradepairs** or specified tradepair

Their docs are not clear, they tell you must give either Market or TradePairId. But in reality you may send empty string or undefined (or nothing if it has any other parameters) and get all markets. A

[2017-12-20 23:38] kroitor commented on #915
Ok, Poloniex should work anyway, and for Cryptopia we will add an enhancement to support for that. Thx for a comprehensive report!

[2017-12-21 00:06] #915 closed

[2017-12-21 00:10] kroitor commented on #913
Let us know if we can help with anything else. Thx!

[2017-12-21 00:10] #913 closed

[2017-12-21 00:15] osnwt commented on #915
Works, thank you!

[2017-12-21 00:21] kroitor commented on #915
@osnwt thx for the feedback!

[2017-12-21 00:55] kroitor commented on #466
@blak3r we will consider adding support for Coinbase. Thx for the feedback!

[2017-12-21 03:55] #882 closed

[2017-12-21 03:55] #906 closed

[2017-12-21 04:04] Juanperezc commented on #914
I worked thank you very much

[2017-12-21 04:12] forzavortis opened #916 "Coincheck: parameters are not available"
Coincheck: parameters are not available.

- Language: python3
- CCXT version: newest
- Exchange: Coincheck

GET request with Parameters is not available in coincheck API.
[code]
and
[code]
and
[code]
return same results.

I think parameters are not handled correctly in GET request.

Please check it.

[2017-12-21 04:14] kroitor commented on #916
Can you show the output in verbose mode?

[code]

[2017-12-21 04:22] forzavortis commented on #916
Thank you for quick reply.

method='GET', params={'status':'open'})

https://coincheck.com/api/exchange/leverage/positions GET
https://coincheck.com/api/exchange/leverage/positions

Request: {'ACCESS-KEY': 'c9PKWI8xrGXeaz5g', 'Content-Type':
'application/x-www-form-urlencoded', 'ACCESS-SIGNATURE':
'1522f6654690440f37c586c8a87bac09d6340b869c9d315d61c1a7cacf72fb3d',
'Accept-Encoding': 'gzip, deflate

[2017-12-21 04:36] #916 closed

[2017-12-21 04:52] kroitor commented on #906
Python sync proxies support was added in version 1.10.436

From the [Install doc](https://github.com/ccxt/ccxt/wiki/Install#proxy):

### Python Proxies

The python version of the library uses the [python-requests](python-requests.org) package for underlying HTTP and supports all means of customization available in the `requests` package, including proxies.

You can configure proxies by setting the

[2017-12-21 04:53] kroitor commented on #916
This is fixed in version 1.10.436. Thx for reporting!

[2017-12-21 04:54] kroitor commented on #882
This is fixed in version 1.10.436. Can you guys test and verify this, please? We will be thankful for your reports!

[2017-12-21 04:54] forzavortis commented on #916
Thank you so much!

[2017-12-21 04:55] kroitor commented on #916
@forzavortis can you, please, confirm it works as seen on your side with the most recent version?

[2017-12-21 05:24] forzavortis commented on #916
Perfect work! Great!

[2017-12-21 05:40] #602 closed

[2017-12-21 05:50] kroitor commented on #909
Hi! Thank you for reporting! I will take a look into it soon and will get back to you with an update on this.

[2017-12-21 06:01] kroitor commented on #804
Hi!

- bitquick is forwarding me to localbitcoins, they don't have an orderbook, no usual means of conventional trading, requires a direct contact between the buyer and the seller, not an exchange in common sense
- coinhako is a wallet service, no API, not an exchange at all
- fold - I can't even find their site in google, it's an end-user application, not an exchange
- genesistrading – no API, ca

[2017-12-21 06:01] #804 closed

[2017-12-21 06:22] tandazhi opened #917 "create_order issue for huobipro"
PASTE_YOUR_TEXT_DESCRIPTION_HERE

- OS: ubuntu
- Language: python
- CCXT version: 1.10.357
- Exchange: huobipro
- Method: create_order

[code]

[code]
Seems there is a problem with the function amount_to_precision(symbol, amount), it can not create a integer number for amount.

[2017-12-21 06:23] kroitor commented on #917
Thank you for reporting this, will look into it and will fix it soon!

[2017-12-21 11:34] Tunafleur commented on #640
@kroitor yes i see the problem, we should contact the exchanges and ask them to deliver the mindest trade sizes for each market via the API but in the meantime i would do a quick & dirty solution and hardcode the values which are known

[2017-12-21 11:47] hexdump2002 commented on #882
Ok, it seems to work now. If you need me to do any test let me know. Thanks a lot. I will be fully happy when you fix the async version  too :D. Good Job!

Hopping to see it soon!

[2017-12-21 11:58] aekramer commented on #882
@kroitor I am from issue #911
For as far as I can tell the issue seems to be fixed :)
Now it's time for me to get familair with your code and create some basic scripts.

Thank you for the quick support, and the big library

[2017-12-21 18:08] lalas opened #919 "Can not install python module on OSX - command 'gcc' failed with exit status 1"
whenever i tried to install the module by:

pip install ccxt

I get

fatal error: stdarg.h: No such file or directory
....
error: command 'gcc' failed with exit status 1

  ----------------------------------------
  Failed building wheel for cchardet

- OS: OS 10.12.6 (Sierra)
- Language: Python
- CCXT version: 1.10.437
- Exchange:
- Method:

[code]

[code]

[2017-12-21 18:21] Banginpadr commented on #919
since python is easier to use and faster i think is way better for us if he make a video on setting this thing up.

[2017-12-21 18:47] gaardiolor opened #920 "Error fetching balance"
Error fetching balance

- OS: Windows & linux
- Language: Python 3.6 sync & async
- CCXT version: 1.10.437
- Exchange: cryptopia, bittrex, probably others
- Method: fetch_balance()
- With and without proxies

[code]

[code]

[2017-12-21 19:02] thijstriemstra opened #921 "Continuous Integration for Windows with Appveyor"
It would be useful to have an appveyor windows build so we can verify this stuff is also able to compile on windows (for people that prefer that operating system aka noobs). I can look into a PR.

[2017-12-21 19:07] kroitor commented on #920
Can you show your verbose output?

[code]

[2017-12-21 19:08] gaardiolor commented on #906
This works!

For anyone else who comes here wondering how to install a custom CA to python requests (which doesn't use the OS certificate store):
- install certifi
- add custom CA to lib/site-packages/certifi/cacert.pem

It doesn't look like there is a nicer way to do this (e.g. include your CA from a different file). Might need to add it again to lib/site-packages/certifi/cacert.pem after an upda

[2017-12-21 19:12] kroitor commented on #920
The cryptopia key has a '=' base64 terminator sign in the end of its string, make sure you are not losing/missing the last symbol when copy-pasting.

[2017-12-21 19:16] kroitor commented on #921
Thanks for your proposal! We think it would be awesome! Let us know if you need any assistance.

[2017-12-21 19:18] gaardiolor commented on #920
Sorry for wasting your time. The cryptopia api secret field is very small and doesn't show the whole key, I must have doubleclicked it to copy which doesn't select the '='. Hope this helps someone else :)

[2017-12-21 19:18] #920 closed

[2017-12-21 19:20] kroitor commented on #919
@lalas can you install LLVM on your Mac OS system and retry it again?

http://releases.llvm.org/download.html#5.0.1

[2017-12-21 19:26] thijstriemstra commented on #921
@kroitor can you enable appveyor for this repository?

[2017-12-21 19:30] kroitor commented on #919
@lalas: Mac OS X 10.7 is really old. It is a Lion distribution, that is 7-8 years old. You need to upgrade to Sierra (10.12) or High Sierra (10.13).

[2017-12-21 19:32] kroitor commented on #921
@thijstriemstra sure, will do! Have to read more about setting it up, but this should be easy, I believe. Will get back to you on this when I have it all set.

[2017-12-21 19:33] thijstriemstra commented on #921
yes, its same as enabling travis.

[2017-12-21 19:45] kroitor commented on #919
@lalas i would also suggest to uninstall miniconda3 and use the default system Python 3.6 from High Sierra. Sorry, I can't really help you with this, you will have to bring your stdlib headers into order, this is very setup/user-specific.

[2017-12-21 19:45] #919 closed

[2017-12-21 20:07] aekramer commented on #882
@kroitor Will you let us know here when the async version is fixed?

Also a small note, not sure if the SSL issue is related to every exchange, however when running the example async-gdax-fetch-order-book-continously.py it seems to work with GDAX, but not when I change it to binance

[2017-12-21 20:22] kroitor commented on #882
@aekramer

Sure, it is coming next.

Will look into it, thx for reporting.

[2017-12-21 21:11] kroitor commented on #921
https://ci.appveyor.com/project/ccxt/ccxt

[2017-12-21 21:11] #921 closed

[2017-12-21 22:33] hexdump2002 opened #927 "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed in async module"
Just to leave a reminder about this bug. I know you are aware of it but the other bug that was closed was for the sync module of ccxt.

- OS: OSX
- Language: Python
- CCXT version: 1.10.443
- Exchange:kraken, bitfinex
- Method: fetch_balance() (async version)

[code]

[code]

[2017-12-21 22:35] kroitor commented on #927
It is in progress.

[2017-12-21 22:50] hexdump2002 commented on #927
Will you close this when you fix it? I ask because I see you tagged it as duplicate. Just want a way to let me know that you fix it :). Thanks in advance.

[2017-12-21 23:15] gaardiolor commented on #522
Would realy like this to be implemented too, using float all my calculations go wrong. Now I have to cast al floats to decimals, and back to float again when trading...

[2017-12-21 23:29] kroitor commented on #927
@hexdump2002 will let you know when the fix is there.

[2017-12-22 00:57] kaysond opened #929 "Status of rate limiting"
What is the current status of the rate limiting implementation?

The manual says the "rateLimit" property is not used, but I noticed the initRestRateLimiter() function and the token bucket + throttle.js... And it seems that if you set enableRateLimit, fetch2() will wait on throttle()

Also I believe the rate limit for Gemini is incorrect. It's at 1500, but should probably be 1000. The actual limit

[2017-12-22 01:03] kroitor commented on #929
Works, but experimental.

The manual is slightly outdated. See the [examples](https://github.com/ccxt/ccxt/tree/master/examples/js). We will be thankful for your contributions to the docs and code. More about it here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

That is the safe default, you can set it to whatever you want upon instantiation...

[code]

We will reconsider and update t

[2017-12-22 01:16] kaysond commented on #929
@kroitor Thanks.
One more totally unrelated question - the base Exchange class initializes empty objects for some stuff:
[code]
Are these all supposed to be used? Currencies seems to get populated, but orderbooks and tickers dont

[2017-12-22 01:37] kroitor commented on #929
Not yet, you're supposed to used documented features + examples.

[2017-12-22 01:41] kaysond commented on #929
Might be nice to have the relevant methods populate those properties automatically.

Thank you for the fast answers

[2017-12-22 01:41] #929 closed

[2017-12-22 04:09] msieg opened #931 "Stop-limit orders on binance"
Hi, is there an API call to place a stop-limit order on binance (they do have this option) in python? I can only figure out how to place normal buys and sells. Thanks!

[2017-12-22 04:34] kroitor commented on #931
Hi!

Have you read this: https://github.com/ccxt/ccxt/wiki/Manual#custom-order-params ?

[2017-12-22 07:56] msieg commented on #931
Thanks!

[2017-12-22 07:58] msieg opened #932 "Tracking all order books simultaneously"
Is it possible to read the order book for every coin on binance simultaneously, or do I need to loop through to get each one?

- OS: Macook
- Language: Python
- CCXT version:
- Exchange: Binance
- Method:

[code]

[2017-12-22 08:20] #931 closed

[2017-12-22 08:23] kroitor commented on #932
It is not possible with REST, you need to loop through to get each one. With WS this may be possible, we are working on unifying WS right now. Let me know if this answers your question or not. Thx!

[2017-12-22 08:58] xgdgsc opened #933 "okex quarter contract data symbol?"
How to fetch okex btc quarter data ? Using symbol of `BTC/USD` seems return the `this_week` contract.

[2017-12-22 09:03] kroitor commented on #933
Pass `{'contract_type': 'quarter'}` in the additional params, like shown here: https://github.com/ccxt/ccxt/wiki/Manual#custom-order-params. Most methods support additional params which you can use to override the defaults. Does this help?

[2017-12-22 09:34] xgdgsc commented on #933
Thanks. That works.

[2017-12-22 09:34] #933 closed

[2017-12-22 11:53] Felipe-Mangueira opened #935 "fetch_open_order method not implemented yet in some exchanges"
Hey, @kroitor,

In order to manage my open orders, I tried to call the fetch_open_orders method in some exchanges I work, but in the most, this method was not implemented yet. I suppose you will implement it in each one of it, as a task in your Unified API. So, I would like to know when you plan to implement to Bitfinex, Mercado Bitcoin, BitBay and QuadrigaCX. Please, I know you have many requests

[2017-12-22 12:45] kroitor commented on #935
Hi! Did you consider contributing those implementations to ccxt? If you [follow this](https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code) literally you could do them all in one day, and, having some practice, you could do them all in one hour. I guess, this would be much more effective, than waiting for me to do it ) What do you think about it?

[2017-12-22 13:10] Felipe-Mangueira commented on #935
Agreed, it would be much more effective and I thinked about, but I suppose I'll take much more than one day to implement it, considering my programming skills. Anyway, I'll read the "How To Contribute Code" topic and see if I can do it by myself. Thanks!!

[2017-12-22 13:20] janeCMD opened #936 "Binance: Timestamp for this request is outside of the recvWindow"
I modified returned responses in Exchange.php to get more information. This is what i get:

[2017-12-22 16:41] itshakeel23 opened #937 "auto trading"
I am new to using the ccxt library and have a question.

Can we do automatic trading using ccxt?

[2017-12-22 17:12] adi90x opened #938 "Adding"
PASTE_YOUR_TEXT_DESCRIPTION_HERE

- OS:
- Programming Language:
- CCXT version:
- Exchange:
- Method:

[code]

[2017-12-22 17:38] msieg commented on #932
This does answer my question, thanks! Please let us know when WS is ready!

[2017-12-22 19:34] KrikriG opened #939 "Gdax timeout issue"
Hello,

Thx for your great library.

My bot make requests on Gdax exchange to get Orderbooks. Usually it works fine.
But sometimes the Gdax API seems to be offline.
In this case i expected to get an exception"ccxt.base.errors import NetworkError" like "RequestTimeout" but instead of, an error is printed on the console => Error: ExceptionRequestTimeout('gdax GET https://api.gdax.com/products reques

[2017-12-22 20:05] #939 closed

[2017-12-22 20:35] cklester commented on #937
Yes.

[2017-12-22 22:18] #938 closed

[2017-12-22 22:18] kroitor commented on #932
Sure!

[2017-12-22 22:18] #932 closed

[2017-12-22 22:19] kroitor commented on #937
Thanks, @cklester , for answering this question )

[2017-12-22 22:19] #937 closed

[2017-12-22 22:19] kroitor commented on #937
@itshakeel23 https://github.com/ccxt/ccxt/wiki

[2017-12-22 22:33] fredfortier commented on #56
@kroitor I haven't completed my EtherDelta implementation yet. Does this PR allow for websocket implementation with all basic operations? Is it complete enough for me to give a stab at it?

[2017-12-22 23:13] kroitor commented on #56
@fredfortier unfortunately, not yet... It is a first approach, and it is
- not unified (exchange-specific)
- not portable (language-specific)

We are still working on the unification of WS (this is the hardest part of it). If you want to dive deeper into the history of WS in ccxt, here's an overview of it (contains several other implementations in JS, that are closer to a unified state): https://g

[2017-12-22 23:29] RobsonIto opened #942 "New exchange: braziliex"
Please consider also https://braziliex.com/ to the exchange list please.
Here is the API reference: https://braziliex.com/exchange/api.php

Thanks.

[2017-12-22 23:30] kornrunner commented on #56
For PHP we can create a wrapper around some library, eg: https://github.com/amphp/websocket
Thing is, it would be available only for PHP 7+ (we can do it as a suggestion / optional thing)

[2017-12-22 23:48] kroitor commented on #936
Hi! Do you have internet time synchronization enabled in your system clock settings?

[2017-12-23 00:31] scoshil commented on #882
@kroitor tested fix and working as expected now! Thanks again!

[2017-12-23 01:06] paroxysm commented on #936
I'm also seeing this error on my end. I'm running on an ubuntu VM and yes, time sync is enabled.

[2017-12-23 03:27] skeller88 opened #943 "Has a library security audit ever been done?"
I'm really impressed by this library. What a great resource! I'd love to use it. I'm digging into the code.

Has any security audit been done of this library recently, or are there people using this library in public production systems who can vouch for the security of it? One component of an audit is a [source code analysis tool](https://www.owasp.org/index.php/Source_Code_Analysis_Tools). Anothe

[2017-12-23 06:49] jjhesk commented on #334
great! when its the repo ready? this is the api. https://www.deribit.com/main#/pages/docs/api

[2017-12-23 06:53] jjhesk commented on #782
@kroitor i think they have the api. http://docs.whaleclub.co/

[2017-12-23 07:38] shprink commented on #850
Running 1.10.445 and still have this issue

[2017-12-23 07:54] shprink commented on #936
MacOS here and I have the same problem. My time is sync as well

[2017-12-23 08:56] stonemonk opened #945 "Bittrex crash in parse_ohlcvs"
Very similar to the issue I reported about Poloniex, I get periodic crashes in Bittrex:

[code]

I haven't seen this at all the past month, but have gotten it twice in last 2 days on different symbols.

<img width="913" alt="screen shot 2017-12-23 at 3 53 22 pm" src="https://user-images.githubusercontent.com/5236934/34318408-7702020a-e7f9-11e7-8791-4bad692a47b0.png">

[2017-12-23 09:32] snowboardinsteve commented on #943
Personally, I read every line of the code before including it in my trading system, and deleted the code for exchanges I am not using. I also repeat that process for updating the library.

I didn't find anything malicious, or any obvious security issues (in the Python version) however I am not an expert.

Good idea. Maybe Kroitor can do an ICO-funded professional review :D

[2017-12-23 09:35] snowboardinsteve commented on #935
Duplicate of #71 I think

[2017-12-23 09:56] janeCMD commented on #936
Yes, my time is sync as well.

[2017-12-23 12:28] janeCMD commented on #945
I also have issues with this late days, before it didn't happen very often. I believe its problem on bittrex side, they also started to be laggy about placing or canceling orders, i had to add much more sophisticated checks, its sort of 'kraken-like' behavior if you know what i am talking about :)

[2017-12-23 13:47] kroitor commented on #782
@jjhesk if you take a closer look at it, you'll notice that is not a conventional exchange API, for example, they have no endpoint for order books. So, they give you their own price feed. Because of that, we cannot really integrate it the way it is. Let me know if I'm missing something.

[2017-12-23 15:05] lpfeup commented on #299
@kroitor any updates regarding the decision of distributing a pre-transpiled version? I am having the need to use babel just for transpiling the code both to node 6.x and to ES5 in different projects.

[2017-12-23 15:50] jimako1989 opened #948 "New Exchange : CoinEx"
Hi, I love this product ccxt.
Could you include this new exchange from HongKong?
Their API can be found here.
https://github.com/coinexcom/coinex_exchange_api/wiki

[2017-12-23 17:22] kroitor commented on #943
I am not assuming this, and, I guess, @snowboardinsteve does not assume that too. So, I can't agree that everyone assumes a proper review from someone else – I never trust anyone else for reviewing my security. I'd recommend you to stop assuming that and and start checking your sources anyway. This would solve the problem for you ;) And if you are concerned about the security of other people, then

[2017-12-23 17:26] kroitor commented on #299
@lpfeup did you try this suggestion by @xpl: https://github.com/ccxt/ccxt/issues/299#issuecomment-335504025 ?

[2017-12-23 17:28] kroitor commented on #334
@jjhesk almost there, hope to finish it in a couple of days.

[2017-12-23 17:31] skeller88 commented on #943
I personally am not trusting this code yet. That's why I brought up this issue. My hope is that this issue will prompt a useful discussion and an impromptu crowdsourced security audit :).

Oops on that typo! Thanks for correcting. Ironically, I searched for "ccxt" in the databases.

[2017-12-23 17:40] kroitor commented on #943
I'm all for it! Would love to take part in this, happy to assist with actions and answers, if someone decides to dive into it.

If I knew about them, I would be fixing them right now instead of writing this answer )
The single source of security is the implementation of the `sign()` method for each particular exchange. This is done in exact correspondence to their own rules for generating secure n

[2017-12-23 17:43] kroitor commented on #850
@shprink are you sure you have exactly the same issue? (the "1000ms ahead" one). Do you have time synch enabled on your system?

[2017-12-23 18:09] kroitor commented on #945
Thank you for reporting this, I will look into it and will get back to you with fixes.

[2017-12-23 18:15] kroitor commented on #935
@snowboardinsteve

I agree, Id suggest to move this discussion to #71.

@Felipe-Mangueira will let you know there, when this is available (hopefully, very soon).

[2017-12-23 18:15] #935 closed

[2017-12-23 18:21] kroitor commented on #936
Does this work for you, guys:

[code]

[code]

[code]

?

[2017-12-23 18:52] kroitor commented on #945
@stonemonk can you please paste the code you use to reproduce the problem?

[2017-12-23 18:57] paroxysm commented on #936
Yes this works. It's strange that you need such a huge window for their API. Something's strange going on there...

[2017-12-23 19:04] kroitor commented on #936
@paroxysm apparently, they have time synch issues with their server themselves. The code for Binance hasn't changed recently, so if they stopped working suddenly because of timing issues, it means their service is experiencing trouble.

I notified their team, they usually respond quickly. I guess, they are aware and are working on this already. If you don't mind, I would close this issue for now,

[2017-12-23 19:04] #936 closed

[2017-12-23 19:25] lpfeup commented on #299
@kroitor perhaps I should have asked this in another thread, since my issue is not directly related to this one. I need an ES5 version of this lib, which I am currently transpiling using babel. Just wanted to know if you were still considering distributing one.

Thanks

[2017-12-23 19:51] gaardiolor commented on #522
python module simplejson supports decimal import / exports. Easy workaround:
[code]
@kroitor this should be pretty easy to implement in ccxt (at least for python sync / async) ?
- use simplejson instead of json
- make use_decimal configurable

[2017-12-23 20:01] kroitor commented on #522
@gaardiolor if I do this without changing all the code that works with precision for order submission, withdrawal submission, not only the parsing, but also all other aspects of the library, this would mostly break it unusable. There isn't an "easy one-liner" to fix for this, otherwise I would have done it three times already. It requires a more thorough design, and this is the core code of the li

[2017-12-23 20:11] msieg opened #950 "Faster connections to binance"
Are there options for connecting to binance faster than the rate limit?

- OS: Macbook
- Programming Language: Python
- CCXT version:
- Exchange: Binance
- Method:

[2017-12-23 20:18] Felipe-Mangueira commented on #935
Ok, thanks!

[2017-12-23 20:23] kroitor commented on #950
@msieg:
- websockets
- proxies

[2017-12-23 20:24] msieg commented on #950
Thanks!

[2017-12-23 20:28] gaardiolor commented on #522
OK, totally trust your judgement of course, I'm pretty new to programming. Awesome piece of work this library.

[2017-12-23 20:32] #950 closed

[2017-12-23 20:37] thijstriemstra commented on #943
@kroitor would be really good if you can use pgp to sign your git commits.

[2017-12-23 20:38] osnwt commented on #884
Trying to support it, found that their API does not work for some methods (say, to get trade history). It returns API error even using their own web test page.

But worse, the whole site including API is protected by Cloudflare that is not set up properly. It performs browser check for scripting. I worked around it using some tricks, but still not all API functions work.

I'm trying to contact dev

[2017-12-23 20:44] kroitor commented on #884
Thanks for the notice!

Btw, it is sometimes possible to workaround Cloudflare with cookie scraping tools:
- https://github.com/codemanki/cloudscraper
- https://github.com/Anorov/cloudflare-scrape

[2017-12-23 20:49] osnwt commented on #884
Yes, I used cloudscraper for that. It works great, but whole protection setup is not good. Even via web interface it requires browser checks every hour or so, and even writing a ticket, after I clicked "Send", I've got browser check and "Page not found". I hope they fix it, or it makes no sense trying to overcome incorrect setup.

[2017-12-23 21:01] kroitor commented on #943
@thijstriemstra I will add a signature, thx!

[2017-12-23 21:42] kroitor commented on #299
@lpfeup it isn't our topmost priority now, yet we still hope to do it asap. We are thankful for all contributions, your pull requests are welcome!

[2017-12-23 21:43] ricardodinucci opened #951 "Cryptopia - fetch_order() OrderNotCached"
Hello,

I am trying to run 

$o = createLimitBuyOrder($m, $v, $p);

fetch_order($o['id'], $c);

Why you request the public function filter_by_since_limit() in Exchange.php line 1097?

After this call the result in fetch_orders() cryptopia.php line 509 lost the id and the fetch_order return throw new OrderNotCached ($this->id . ' order ' . $id . ' not found in cached .orders, fetchOrder requires .o

[2017-12-23 21:51] kroitor commented on #951
Hi!

It filters the orders by `since` and `limit` params, that were added not so long ago. The purpose of the filtering is consistency across all exchanges, even the ones that don't support output-limiting params.

This indicates a bug in the above logic, I will fix it and will let you know when it's there. Thank you for reporting this.

-` fetch_order`: fetch one order by id
- `fetch_orders`: fet

[2017-12-23 21:58] kroitor commented on #951
What is your value of $c ?

[2017-12-23 22:07] kroitor commented on #951
@ricardodinucci does this work:

[code]

?

[2017-12-23 22:47] gaardiolor opened #952 "cost not present in market limits"
in documentation is stated that in the `limits` section, there should also be a `cost` dict. But it's not there. Same problem with `load_markets()`

- OS: Linux, Windows
- Programming Language: Python 3.6 sync / async
- CCXT version: cctx-1.0.0-py2.py3-none-any.whl
- Exchange: bittrex, others
- Method: e.fetch_markets() , e.load_markets()

[code]
Output:
[code]

[2017-12-23 22:58] kroitor commented on #952
<img width="740" alt="screen shot 2017-12-24 at 01 57 40" src="https://user-images.githubusercontent.com/1294454/34323176-e3277326-e84d-11e7-8291-471a01838653.png">

Quick answer: it's under development, would you suggest to contribute this code or submit a PR? ;)

[2017-12-23 22:58] #952 closed

[2017-12-24 01:32] awhitehouse104 commented on #850
Same "1000ms ahead" for me today on 1.10.459

[2017-12-24 01:43] dmastylo opened #953 "I'm trying to contribute, but confused as to how self.privateGetOrdersId(...) works"
For example, in `gdax.py` the `fetch_order` method is implemented as follows:
[code]

Where is the declaration/implementation of the `self.privateGetOrdersId(...)` method?

[2017-12-24 02:08] kroitor commented on #953
See `define_rest_api`, explained here: https://github.com/ccxt/ccxt/issues/237#issuecomment-332354313

[2017-12-24 02:08] #953 closed

[2017-12-24 05:34] rxmg-joeldg opened #954 "A couple of exchange changes and PHP code notes"
Two ccxt large exchange changes:
1. Bitfinex is listed as a US exchange in ccxt and is terminating all relationships with US customers.
2. 1Broker has terminated it's BTC market and is shifting BTC buys/sells to 1Fox.com which apparently opens later today (12/24/2017)

For the PHP part of CCXT:
1.  It may be good to reorganize the 'Market Makers' (like 1broker and them) into their own set of class

[2017-12-24 09:22] kroitor commented on #850
From Binance:

[code]

- http://www.thewindowsclub.com/change-internet-time-update-interval-windows
- https://technet.microsoft.com/en-us/library/cc773263(WS.10).aspx
- https://www.opentechguides.com/how-to/article/windows-10/121/windows-10-internet-time.html

Guys, from the above, I guess, it follows, that you need to change the frequency of your time synch updates (set smaller intervals for time

[2017-12-24 09:22] kroitor commented on #936
From Binance:

[code]

- http://www.thewindowsclub.com/change-internet-time-update-interval-windows
- https://technet.microsoft.com/en-us/library/cc773263(WS.10).aspx
- https://www.opentechguides.com/how-to/article/windows-10/121/windows-10-internet-time.html

Guys, from the above, I guess, it follows, that you need to change the frequency of your time synch updates (set smaller intervals for time

[2017-12-24 09:36] kroitor commented on #954
Fixed for that.

Got it, will add edits to this as well, if necessary, thx!

Will consider this, thx for the proposal!

Five days ago it was exactly like that (exchange.php and exceptions in their own separate subfolder for base code), but then:

- https://github.com/ccxt/ccxt/pull/865
- https://github.com/ccxt/ccxt/pull/873
- https://github.com/ccxt/ccxt/pull/876
- https://github.com/ccxt/ccxt/pu

[2017-12-24 09:36] #954 closed

[2017-12-24 10:17] jjhesk commented on #948
looks like a promising ex

[2017-12-24 10:44] #945 closed

[2017-12-24 13:32] Bomper opened #955 "Refused to set unsafe header "origin""
I'm trying to use a CORS proxy to access BitMEX. https://crossorigin.me is down (I see the Cloudflare page), so I tried [the Node proxy](https://github.com/ccxt/ccxt/wiki/Install#nodejs-cors-proxy). I've verified that http://localhost:4080/https://www.bitmex.com/api/v1/instrument/activeAndIndices returns correct data in the browser.

The problems is that when I try `const markets = await bitmex.lo

[2017-12-24 13:36] #955 closed

[2017-12-24 14:03] kroitor commented on #955
Fixed in 1.10.467.

[2017-12-24 14:24] rxmg-joeldg commented on #954
Wait, did I read this right? You moved the files because of the namespace instead of just changing the namespace?
All you should have had to do is change
namespace ccxt;
to namespace ccxt\base;
Or am I missing something here?

[2017-12-24 14:40] kroitor commented on #954
No, I moved them because this change was in the above requests and from those requests I thought that merging them would be the right thing to do, at least, I had that impression. However, I'm not sure on this now that you've asked the question. I would propose to ask the same question here: https://github.com/ccxt/ccxt/pull/876... Would be interesting to read the arguments from all sides.

[2017-12-24 16:01] BohdanTkachenko commented on #943
I want to add that to be 100% sure that you can use this library you should not only check source code of this library, but also check all dependencies and basically the whole dependency tree. Attackers may add some malicious code to some small library in dependency tree and package manager will just fetch it because it can be just patch version change. So my point is that somebody can hack into t

[2017-12-24 16:09] BohdanTkachenko commented on #943
In addition, code in GitHub can be not the same as code in NPM, so basically you should install library with all dependencies somewhere in an isolated environment and check source code of actual installed dependency tree and only after that you can be sure that only this exact snapshot with all dependencies is secure.

[2017-12-24 16:10] kroitor commented on #943
@BohdanTkachenko true! Thanks for bringing this up!

[2017-12-24 21:30] gemini100 commented on #917
exch.create_limit_buy_order(symb,qut, prixce)
i wrote it like that, but if it could help
when debugger ask precision it must your 1 set it with format float to 8 x,xxxxxxxx  i think(1.00000000)
you must try and see

huobipro {"status":"error","err-code":"order-orderamount-precision-e           rror","err-msg":"order amount precision error, scale: `0`","data":null}

[2017-12-24 22:59] paroxysm commented on #936
ok

[2017-12-25 04:58] jjhesk commented on #334
@kroitor cant wait to see it done! a big thanks!

[2017-12-25 04:59] DaneEdwards opened #956 "fetch_ohlcv returning strange results"
*First of all i understand this is under development

i'm a little bit confused about how the fetch_ohlcv returns data.
I have an algo that i drip feed bars every day (or hour etc).
For example, every day i want to give a OHLCV daily bar to the algo to process, the algo stores a list of all previous daily candles.

So to clarify, i would have a timer that runs every day, pulls the last full closed

[2017-12-25 05:59] Bomper commented on #955
Thanks for the quick fix. I no longer get that error, but I get an empty response.

[code]

![image](https://user-images.githubusercontent.com/34669048/34333837-a9eb116e-e8f5-11e7-9eea-5f954c0c271a.png)

[2017-12-25 06:16] kroitor commented on #955
@Bomper , if this http://localhost:4080/https://www.bitmex.com/api/v1/instrument/activeAndIndices returns correct data in browser, then:

1. You should open the network tab in your Web Inspector:
![network-tab](https://user-images.githubusercontent.com/1294454/34334062-1474d5ca-e954-11e7-957c-6839e07dfdc2.jpg)

2. Then refresh the page to see the request getting sent in the network tab, then after

[2017-12-25 06:23] DaneEdwards commented on #956
Ok after a bit more digging around i'm going to make an assumption to save you time kroitor.

if i fetch the last 2 days (since= 2 days milliseconds) of 1 day bars, I think it returns 3  bars, 2 of those bars are full bars, and the 3rd bar is a bar in progress with the close price as the current close price.

[code]

[2017-12-25 06:30] kroitor commented on #956
You can control it with the following additional params:
[code]

The current price is only contained within the current bar in progress, so this requirement contradicts the previous one.

You should set `limit = 2` if you want two of three days.

Let me know if the above answers resolve your issue.

[2017-12-25 06:33] Bomper commented on #955
http://localhost:4080/https://www.bitmex.com/api/v1/instrument/activeAndIndices does return correct data. I've copied the request headers to `setHeaders` as follows:

[code]

When I run the client in the browser, I no longer get 403 forbidden, but get a different error, "Network request failed":

![image](https://user-images.githubusercontent.com/34669048/34334306-1e5916be-e8fa-11e7-8f7b-d1c5b54e4

[2017-12-25 07:01] ChenLi0830 opened #957 "quadrigacx fetchBalance error"
quadrigacx fetchBalance method error

- OS: MacOS
- Programming Language: Node 8.4.0
- CCXT version: 1.10.456
- Exchange: quadrigacx
- Method: fetchBalance

[code]

[2017-12-25 07:05] kroitor commented on #955
Not really, the point is that in the browser you can't set the Origin header at all. Bitmex does not support CORS at all. This is the reason for using the CORS proxy in the first place – we need to set some headers, but we can't do it in the browser (forbidden by the browser security settings), therefore we have to set those headers on the proxy.

With proper HTTPS tunneling via a CORS-proxy, it s

[2017-12-25 07:09] DaneEdwards commented on #956
I tried the last example and it is still fetching the last partial bar, do i need to get the latest build?
the last bar has a timestamp
[1514246400000, 14227.5, 14480, 13232, 14040.5, 315800080]
2017-12-26T00:00:00.000Z

[2017-12-25 07:10] kroitor commented on #957
How do you initialize it? Can you show the full snippet of your code to reproduce the problem, please?

[code]

[2017-12-25 07:17] kroitor commented on #956
What about the first one?

[code]

 ↑ are you sure you're doing it right? From the above it should be obvious.

[2017-12-25 07:19] DaneEdwards commented on #956
Thanks kroitor, this helps me understand how it works.

What i need to do is synch my algo with the server time and pull yesterdays bar in at 12:01am and do a sanity check to make sure i have the correct timestamp.

Thanks for your help and merry xmas / happy holidays.

Cheers!

[2017-12-25 07:20] #956 closed

[2017-12-25 12:17] mazertwo opened #958 "Ccxt last version cant get Poloniex ETH/BTC orderbook"
Hello ccxt team!

Last version cant get Poloniex ETH/BTC orderbook.
Just empty []

[2017-12-25 12:19] mazertwo commented on #958
ccxt-1.10.469

[2017-12-25 12:19] mazertwo commented on #958
I change to 1.9.230, working

[2017-12-25 12:24] #958 closed

[2017-12-25 12:48] kroitor commented on #957
Let us know if we can help with anything else. I'm closing this for now, if you don't mind.

[2017-12-25 12:48] #957 closed

[2017-12-25 12:55] #917 closed

[2017-12-25 14:13] WilhelmErasmus opened #959 "[Luno] Free and Balance are swapped"
[Luno] Free and Balance are swapped

- OS: Linux
- Programming Language: Node (JS)
- CCXT version: ccdfefd84636b4f3a2312f1a325195e803881905
- Exchange: Luno
- Method: FetchBalance()

I am currently testing a fix for this and I will submit it as soon as I am satisfied. I'm not including code because it is a very simple problem and any code that would reveal the problem would expose personal informa

[2017-12-25 15:29] gaardiolor opened #960 "createmarketsellorder expects a price"
create_market_sell_order seems to expect a price. Maybe this is work-in-progress, but not sure if this is on your radar.

Note:
- Below order is very small, it should raise an exception stating that this is below minimum order.
- I know market orders are dangerous, just testing.

- OS: Windows
- Programming Language: Python sync, asymc
- CCXT version: ccxt-1.10.475
- Exchange: cryptopia
- Method:

[2017-12-25 16:13] ChenLi0830 commented on #957
Hi there, you solved my problem, thank you! I missed the `uid` param when initiating `quadrigacx`. Is there an easy way to tell what is required when initiating the exchanges?

[2017-12-25 16:32] kroitor commented on #957
Yes. There's a `.requiredCredentials` property on each exchange, you can see what is required and what is not.

But, in fact, there's also the `.checkRequiredCredentials()` function. Those two things are parts of a mechanism that was implemented as a layer of protection against signing with empty credentials or against forgetting to set them properly, so, I don't really understand, how you managed

[2017-12-25 16:55] ChenLi0830 commented on #957
Hi @kroitor Thank you for the detailed answer! It turns out the error message I saw came from not handling a caught error properly as shown below.

[code]

I wasn't even thinking about this part, that's why I totally missed it and didn't paste it into the snippet. Anyway, I am really glad for your help. Merry Christmas!

[2017-12-25 17:28] kroitor commented on #960
Hi! They allow limit orders only (via API). Added a check for the order type + exception to handle this. Thank you for reporting!

[2017-12-25 17:28] #960 closed

[2017-12-25 22:06] leoplct opened #961 "Retry methods"
Retry methods by default

- OS: Unix
- Programming Language: JS
- CCXT version:
- Exchange: Bittrex, Gdax, Okcoinusd, bitfinex
- Method:

Quite often the methods stop working because of server issues (eg. timeouts, downtime etc..), so I have to retry the request. I can implement this using "async.retry" but it became quite messy, so would be great to have it by default to all methods..

[2017-12-25 22:51] hunsnowboarder opened #962 "Bittrex OHLCV fetching problems"
- OS: Win7
- Programming Language: Python 2.7
- CCXT version: 10.477
- Exchange: Bittrex
- Method: fetch_ohlcv()

First of all thank you so much for the work you are doing! It is an amazing tool you guys created!

My problem is that I cant fetch OHLCV data for only the last day. No matter if I use since (code below) or not I will still get 5760 length for the OHLCV.
Why am I getting always all the

[2017-12-26 00:23] skeller88 commented on #943
@snowboardinsteve that's a great idea. How do you keep the repo updated...do you maintain a separate repo fork and after applying the changes, delete the folders you don't use?

@kroitor How many admins are there for this repo? Are only admins allowed to approve PRs? I ask because the fewer people allowed to approve PRs, the more secure the repo should be. Within reason.

[2017-12-26 03:02] pmizel opened #963 "Bitstamp withdraw function"
Bitstamp exchnage don't implement a withdraw function.

when is ok, i will create a pr.

- OS: Win
- Programming Language: Node/JavaScript
- CCXT version: 1.10.477
- Exchange: Bitstamp
- Method: withdraw

[code]

[2017-12-26 03:36] Pmant commented on #951
related to #660 ?

[2017-12-26 03:37] DaneEdwards commented on #956
I'm new to github and i'm not sure if this is the right place to post this, but if anyone reads this and is interested in what i was trying to do.

This is a timer that runs every 5 mins and collects the latest 5 min bar just after close (this is when i feed to my algo), this is rough code without error catching etc.

[code]

[2017-12-26 04:19] kroitor commented on #943
@skeller88

3 admins.

Yes.

If you take a look here: https://github.com/ccxt/ccxt/pulls?q=is%3Apr+is%3Aclosed it should be obvious, I approved and merged most of pull requests myself )

[2017-12-26 04:21] kroitor commented on #951
@Pmant most likely, but it's hard to tell, from the posted code (too short).

[2017-12-26 04:22] #951 closed

[2017-12-26 04:23] kroitor commented on #961
Thanks for the proposal! We are going to add this feature, hopefully soon.

[2017-12-26 04:29] kroitor commented on #963
Hi!

Thanks for your contribution! Unfortunately, it break a few several rules from here:
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#derived-exchange-classes

If you could clean it up a bit to conform to those transpilation rules, you would make it much easier for me to merge it. Let me know, if you're going to give it a try. Thx again!

Also related/duplicate to: #777.

[2017-12-26 04:30] kroitor commented on #777
We got a followup on this in #963. Hope to merge very soon. I am closing this as a duplicate now, suggest moving our discussion to that post. Thank you!

[2017-12-26 04:30] #777 closed

[2017-12-26 04:59] kroitor commented on #956
@DaneEdwards thanks! We really appreciate it! I'm sure many people will find it useful! You might also want to take a look at our [examples/py](https://github.com/ccxt/ccxt/tree/master/examples/py).

[2017-12-26 05:43] kroitor commented on #962
This one looks strange, as if since and limit are None...

Here's what I have on Mac:

[code]
[code]

[2017-12-26 06:02] kroitor commented on #962
If you think of it carefully... 5760 * 5 minutes = 28800 minutes = 20 days. Whenever you fetch 5m-OHLCV from Bittrex, it will return last twenty days of history. This is why without any filtering you will see 2017-12-06 as the first date in the first candle (look at `.last_http_response` in my post above).

With filtering since last day (milliseconds - 86400000), you will see the first candle star

[2017-12-26 06:11] hunsnowboarder commented on #962
Thank you very much for your reply.

...so I have two questions now. :)
1) You wrote that the filtering is done a client side. So there is no other option to decrease the size on server side? I am asking this because I go through all of the coins searching for candle patterns. I am really looking for the last 5 candles, therefore I do no care about the data before... But going through all of the c

[2017-12-26 06:20] kroitor commented on #962
Not for Bittrex. They don't have an option for filtering, I'm afraid. They don't have OHLCV in their API at all, and we are using their v2 undocumented web API to fetch their OHLCV at least somehow. So, while most exchanges allow filtering on server side, Bittrex does not and we have to do it on client side.

There is an alternative: fetch trades for last 10 minutes and build OHLCV from trades (#7

[2017-12-26 11:40] #959 closed

[2017-12-26 14:38] janeCMD commented on #936
This helped me. i set sync to each 12 minutes, it work s now

[2017-12-26 16:35] janeCMD opened #969 "Binance: cancel order error (symbol malformed)"
When i provide symbol as required for binance cancel order, i get this error message:

Mandatory parameter 'symbol' was not sent, was empty\/null, or malformed.

When i use same symbol for fetchOrder, it works.

[2017-12-26 16:38] kroitor commented on #969
Yeah, but why didn't you write which particular symbol it is )

It works for me. But because you did not paste the code to reproduce the problem, it's hard to tell, why it didn't work for you.

Please, never paste one line of code. And don't paste more than 20. You should paste the minimal snippet that I can copy and launch without wasting too much time to recreate your setup. If you put a snippet

[2017-12-26 16:45] janeCMD commented on #969
$exchange->cancelOrder($myorder["co_exchange_id"],'PPC/BTC');

i also tried with XRP/BTC, same error message, tryed to debug if symbol is correct and it seems fully OK. I think more lines of code is irrelevant in this case.

[2017-12-26 16:48] janeCMD commented on #969
Now i switched verbose on and found out Market is empty array. That surely does cause the problem... i will investigate why, sorry for reporting too quickly

[2017-12-26 17:13] mazertwo opened #970 "Allcoin, wont work load_markets"
Hello, ccxt team!

Allcoin block some API commands, and now wont work load_markets().

[2017-12-26 17:24] kroitor commented on #970
Hi! Which version do you have? https://github.com/ccxt/ccxt/pull/966

[2017-12-26 17:41] hunsnowboarder opened #973 "New version bittrex not working"
I had a code running without any problems. I updated the bittrex.py file and now I get an error:

Traceback (most recent call last):
  File "C:/Lori/Adam/bitcoin/cryptoarb/rsi_bot.py", line 50, in <module>
    balance_btc = xchange.fetch_balance()['BTC']['total']
  File "C:\Python27\lib\site-packages\ccxt\bittrex.py", line 201, in fetch_balance
    response = self.accountGetBalances()
  File "C:\P

[2017-12-26 17:53] kroitor commented on #973
Does this work:

[code]
?

[2017-12-26 17:57] hunsnowboarder commented on #973
Yes, it solved my problem!

Thank you very much for your help!

[2017-12-26 17:58] #973 closed

[2017-12-26 17:59] kroitor commented on #973
@hunsnowboarder would be cool if you could reply to #962 ;)

[2017-12-26 18:51] hunsnowboarder commented on #973
Yes, I will now. Thank you!

[2017-12-26 19:56] mazertwo commented on #970
Thank you! New version working.

[2017-12-26 19:57] hunsnowboarder commented on #973
I dont understand. The code you just pasted here works with jupyter notebook, but it produces error with pycharm. They both use python2.7.

What could be the problem?

Thank you

[2017-12-26 20:04] kroitor commented on #973
@hunsnowboarder what's the version of ccxt in pycharm? ```ccxt.__version__``` = ?

[2017-12-26 20:05] kroitor commented on #970
@mazertwo thanks for reporting back as always! Happy holidays! )

[2017-12-26 20:05] #970 closed

[2017-12-26 20:25] hunsnowboarder commented on #962
Sorry for my late reply. I had very strange issues and finally figured out what the problem was. I did not update ccxt for a while now only some of the exchanges.

So I did a thorough update of everything and now it works like a charm. Thank you again for your continuous support and help! Have a happy new year!

[2017-12-26 20:26] kroitor commented on #962
@hunsnowboarder thanks for reporting back! Happy holidays!

[2017-12-26 20:26] #962 closed

[2017-12-26 20:26] hunsnowboarder commented on #973
Sorry for my late reply. I had very strange issues and finally figured out what the problem was. I did not update ccxt for a while now only some of the exchanges.

So I did a thorough update of everything and now it works like a charm. Thank you again for your continuous support and help! Have a happy new year!

[2017-12-26 20:27] kroitor commented on #953
@dmastylo let us know if you have any other questions.

[2017-12-26 20:35] dmastylo commented on #953
Makes sense to me, thanks

[2017-12-26 22:37] rasmustaarnby commented on #969
@janeCMD Following the link https://www.binance.com/api/v1/exchangeInfo to the exchange info in the verbose output, you can see that all the symbols are formatted without the forward slash. Hence, `PPC/BTC` should be `PPCBTC`.
Another thing though, are you sure it's `PPC` (peercoin) and not `PPT` (populoues) you're trying to fetch?

As far as I can see Peercoin is not on Binance. https://coinmarke

[2017-12-26 22:49] kroitor commented on #969
@rasmustaarnby you can see from his verbose results, that the symbol is properly formatted as XRPBTC without a slash:

![xrpbtc](https://user-images.githubusercontent.com/1294454/34366079-251b5c96-eaa8-11e7-8af6-7d1c11e8cc76.jpg)

↑ The Unified API of CCXT accounts for that, documented here: https://github.com/ccxt-dev/ccxt/wiki/Manual#symbols-and-market-ids

[2017-12-26 23:01] kroitor commented on #969
@janeCMD does this work:

[code]

?

[2017-12-26 23:03] rasmustaarnby opened #975 "Include raw response from exchange in raised errors"
It seems Binance requires a symbol param for the `openOrders`, `allOrders` and `myTrades` endpoints. This seems a little odd, given that you would have to try all symbols to make sure you'd actually got a complete list of your recent orders.

Info:
https://www.binance.com/restapipub.html#user-content-account-endpoints
https://www.reddit.com/r/binance/comments/768fw7/hows_the_api/?st=jbcd102s&sh=3d

[2017-12-26 23:08] kroitor commented on #975
If you want human errors and human API, use the Unified CCXT API:
- https://github.com/ccxt/ccxt/wiki/Manual#overview
- https://github.com/ccxt/ccxt/wiki/Manual#api-methods--endpoints

You will get adequate exceptions with proper readable messages, described here: https://github.com/ccxt/ccxt/wiki/Manual#error-handling

Basically, you need to get acquainted with the library, because you're not usi

[2017-12-26 23:09] rasmustaarnby commented on #969
@kroitor You're right, sorry. I missed that.

[2017-12-26 23:18] rasmustaarnby commented on #975
HA! Damn, Please excuse my stupidity. This is what I get for jumping in to fast, not paying attention.

Just tested and everything I need to know is right there in the error message `binance fetchOrders requires a $symbol param`

I'll let myself out.

[2017-12-26 23:18] #975 closed

[2017-12-26 23:20] kroitor commented on #975
@rasmustaarnby no worries ) Thanks for reporting back! Let us know if you have any questions after reading the Manual ) Cheers!

[2017-12-26 23:22] kroitor commented on #975
@rasmustaarnby also make sure to read on [Market Ids and Symbols](https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids), etc, I'd recommend to read it all, you would save yourself a lot of time.

[2017-12-26 23:30] rasmustaarnby commented on #975
@kroitor I most certainly will., thanks. I have sent a little something to your tip jar as a sort of penalty fee for asking questions for which I should have found the answers myself.

Happy new year.

[2017-12-26 23:40] kroitor commented on #975
@rasmustaarnby thank you, much appreciated! ) Happy holidays to you too! )

[2017-12-27 06:25] janeCMD commented on #969
@kroitor No, it does not work, i get exact same error.

[code]

[2017-12-27 06:48] #963 closed

[2017-12-27 06:52] kroitor commented on #969
@janeCMD does it work with any other symbols for you at all (except the ones that have XRP or PPC in them)?

[2017-12-27 07:00] kroitor commented on #969
@janeCMD also, are you sure you do have that order with that id on that market?

[2017-12-27 07:08] janeCMD commented on #969
@kroitor Yes, i got this idea also, but unfortunately order id is right. This is info i get from OpenOrders API:
[code]

[2017-12-27 07:17] janeCMD commented on #969
@kroitor I tested now BTC/USDT, LTC/BTC, same error. I already created support ticket on binance, wondering when and what they will reply, i will report back then...

[2017-12-27 08:47] osnwt opened #976 "Add a hook to work via cloudscraper"
In some cases it is necessary (see for instance #884). Would be great to have an option to replace request calls for particular exchange by cloudscraper.request or similar, like a proxy option.

[2017-12-27 08:51] #969 closed

[2017-12-27 09:11] kroitor commented on #969
@janeCMD can you update your ccxt to version 1.10.492 and retry the same code again? Added a few fixes to it... Thanks!

[2017-12-27 09:16] janeCMD commented on #969
@kroitor Yes, it works! I just removed the PUT line from exchange.php for now, because i have it modified for more clear error messages.

[2017-12-27 09:54] ericvrp opened #978 "Cryptopia fetchOrders requires a symbol param"
Is the following message the result of a bug or is there a suggested way to work around it? (it works for other exchanges like Poloniex and Bittrex)

(node:2040) UnhandledPromiseRejectionWarning: Error: cryptopia fetchOrders requires a symbol param

- OS: Linux
- Programming Language: JS
- CCXT version: 1.10.492
- Exchange: Cryptopia
- Method: fetchOrders

[code]

[2017-12-27 09:59] kroitor commented on #978
It is a requirement of the exchange (Cryptopia). Of all exchanges 50% require a symbol for most endpoints, even for canceling an order by a known id, the other 50% don't require a symbol. It's just the way it is and we have to **always pass a symbol**.

[2017-12-27 10:58] ericvrp commented on #978
Yes thank you. So to fetch all orders I have to iterate over all symbols and fetch per symbol.

[2017-12-27 11:00] kroitor commented on #978
@ericvrp if you want to do it universally for all exchanges - yes, but you can make a shortcut and use fetchOrder without a symbol to fetch them all at once. We will think of adding ways of detecting the capabilities of exchanges more precisely. Do you mind if I close this issue? Feel free to reopen it or just ask questions, if any.

[2017-12-27 11:00] #978 closed

[2017-12-27 11:04] ericvrp commented on #978
"use fetchOrder without a symbol to fetch them all at once". You mean fetchOrders ? Yes, closing is fine. Thanks for the very active developement BTW!! Having an easy way to see if an exchange is capable of this would be nice indeed. The same thing with the capability of market order .

[2017-12-27 11:05] kroitor commented on #978
Yes, of course, made a typo... my bad.

Working on it. ;)

[2017-12-27 14:35] davzucky commented on #799
@kroitor, I got exactly the same problem with Binance. However I'm running on Linux with Python 3.6 using ccxt (1.10.495)
I'm trying to create 4 orders, 3 are passing one is failing with this error. I cannot explain why as this is looking good. It is happening for other pair as well
[code]
I'm using as well amount_to_lots as per your information from another request that I opened last month with y

[2017-12-27 14:51] kroitor commented on #799
https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#lot_size

If you could show your code to reproduce the problem and **verbose** output, like described here, it would be much easier for us to help you:

- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Set `.verbose = Tru

[2017-12-27 19:02] digitccy commented on #927
Hello,

The issue you discussed in #882 is still here for me.

Just cloned the latest version (1.10.495) and still have the same SSL error.
My code is very simple:

[code]

I am running on python3 and macOS.

Anyone else still has the same issue?

I am not using Anaconda or anything else.

Thanks.

[2017-12-27 20:43] allenfrostline opened #980 "Bug found in Binance's fetch_tickers() method"
On line 390 of `binance.py`:

[code]

If symbols is passed as an array or list, instead of being kept `None`, there'll be a `ValueError` because you cannot check boolean value of an array-like variable without resorting to `all()` or `any()`. As an alternative, it should be

[code]

on line 398.

[2017-12-27 21:01] osnwt commented on #961
Let me also remind that would be good to have some control over rate limiting when retrying depending on the retry reason.

As I wrote, if we receive, say, "Nonce must be greater than..." message from Poloniex after few sequential requests (received by the exchange out of order due to TCP delays), there is no sense waiting for backoff, we should repeat the request ASAP and in 99% it will be succes

[2017-12-28 04:24] #980 closed

[2017-12-28 04:38] kroitor commented on #980
Fixed in 1.10.496. Thank you for reporting!

[2017-12-28 13:10] meskis opened #983 "Support for delisted markets"
Hey,

Just noticed, that you are only supporting current markets. Are you planing on supporting removed markets (like XRP/USD on Kraken)?

Thanks!

[2017-12-28 13:13] kroitor commented on #983
Hi!

No we are not planning to support them. However, we do support them, where possible. Take a look here: https://github.com/ccxt/ccxt/blob/master/js/kraken.js#L266. If you see some delisted market missing, and you think it is necessary (for historical trades or whatever), you can add contribute it by adding the missing symbol there.

Let me know if the above answers your question or not. Thx!

[2017-12-28 16:13] Iorek69 opened #984 "Binance fetch_ticker"
PASTE_YOUR_TEXT_DESCRIPTION_HERE

- OS: Windows 7
- Programming Language: Python
- CCXT version:  1.10.299
- Exchange: Binance
- Method: fetch_ticker()

[code]

[2017-12-28 16:18] kroitor commented on #984
This is fixed, update to most recent version, please.

[2017-12-28 16:18] #984 closed

[2017-12-28 16:30] Iorek69 commented on #984
thx

[2017-12-28 18:41] ksanderer opened #986 "Trades in fetch_trades should have unified order ASC or DESC"
Some exchanges (for example poloniex) returns trades history in the descending order and some others in ascending.

- Programming Language: Python
- CCXT version: 1.10.389
- Exchange: binance, poloniex
- Method: fetch_trades

[code]

I think there should be one unified order (ASC as for me).

This issue can be solved by checking first and last trade's timestamps and applying `reversed` iterator if

[2017-12-28 18:46] kroitor commented on #986
Hi! Thank you for reporting this! We will unify this aspect, hopefully, soon. Would you submit a pull request, btw? )

[2017-12-28 18:48] ksanderer commented on #986
Will try :)

[2017-12-28 19:15] ksanderer commented on #986
Kraken has since parameter in trades history api (https://www.kraken.com/help/api#get-recent-trades)

But it seems it's not implemented:

[code]

I will review big exchanges and try to fix such issues as well.

[2017-12-28 19:18] kroitor commented on #986
@ksanderer just wanted to ask, if you can, please, do them separately, I mean, one exchange = one pr. The smaller the finished edit, the better. That would make my life a little easier, merging all that )  Most of the time it's enough to copy an existing code, where implemented, and alter it. Should be pretty much straightforward. Let us know if you need any assistance. Thanks once again for your

[2017-12-28 19:20] ksanderer commented on #986
Btw. Kraken return assets in strange way:

[code]

[2017-12-28 19:20] kroitor commented on #986
What is strange?

[2017-12-28 19:28] ksanderer commented on #986
Updated.

[2017-12-28 19:29] kroitor commented on #986
Check this out:

- https://github.com/kroitor/ccxt/wiki/Manual#markets
- https://github.com/ccxt-dev/ccxt/wiki/Manual#symbols-and-market-ids
- https://github.com/ccxt/ccxt/blob/master/examples/py/symbols.py

Kraken has a so-called *darkpool*, where trades are going on in the "dark", so you can't "see" them. Therefore some markets have a corresponding `.d` in the symbol and have `.darkpool = True`.

[2017-12-28 19:30] kroitor commented on #986
The same output from an alternative JS script:

[code]

[2017-12-28 19:33] ksanderer commented on #986
Yeah. I get it. Thanks! So there is no trades history for that symbols..

[2017-12-28 19:34] kroitor commented on #986
@ksanderer exactly! Well, not that I know of, tried all combinations:
- https://api.kraken.com/0/public/Trades?since=1511896542&pair=XETHZEUR.d
- https://api.kraken.com/0/public/Trades?since=1511896542&pair=ETHEUR.d
...

[2017-12-28 19:53] jakemayeux opened #987 "Some exchanges do not implement fetchOHLCV properly"
The following exchanges do not use the 'since' parameter of fetchOHLCV. For example, bitlish always get data 30 days back, it should use the data passed in the since parameter instead.

[code]
should be changed to something like this
[code]
- OS: Arch Linux
- Programming Language: JavaScript
- CCXT version: 1.10.391
- Exchanges:
[code]

[2017-12-28 19:58] kroitor commented on #987
We also need to add `parse_ohlcvs()` calls where time ranges are not supported by the exchange to filter on client side. As you may know this library is under development, some aspects may still be missing or may be not unified yet. But we are working on it. Your help would be really appreciated!

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

Thanks for reporting

[2017-12-29 01:02] JosefJezek opened #988 "fetch_ticker() call 3 requests to API"
Why fetch_ticker() call 3 requests to API?

[code]

GET https://bittrex.com/api/v2.0/pub/Markets/GetMarketSummaries
GET https://bittrex.com/api/v1.1/public/getcurrencies
GET https://bittrex.com/api/v1.1/public/getmarketsummary?market=BTC-ETH

[2017-12-29 01:27] robertbelgrave opened #989 "crypto-watchdog shown in examples not included?"
Hi, I'd love to repurpose and use the 'crypto-watchdog' shown on the examples page and in the gif below.

https://user-images.githubusercontent.com/1294454/31798504-ca2af4cc-b53c-11e7-946c-620d744f6d16.gif

Is there any chance you can send me the javascript or include it in the examples folder?

Thanks

[2017-12-29 03:06] nickos556 opened #990 "Can't place order at btcmarkets (v1.10.503) HTTP 400 Bad Request"
I cannot place an order at btcmarkets. I am able to retrieve my position, therefore I assume that my private key is working, and that request signing is working too. Any ideas? Happy to contribute BTC to you if someone can find a fix :)

Many thanks
Nick

- OS: Fedora (Linux)
- Programming Language: Python
- CCXT version: 1.10.503
- Exchange: btcmarkets
- Method: create_order

[code]
Note that ccm

[2017-12-29 05:18] kiahmed opened #991 "Front end for ccxt"
could any one suggest any open source front end for ccxt out there that could be integrated with much less customization?

[2017-12-29 06:31] RowanReid opened #992 "New Exchange : Ice Cubed"
Thank you very much for this excellent library, I am making use of the PHP classes.

There are two licensed Bitcoin exchanges that serve the South African Market: *Luno* and *Ice Cubed*.  You have already got Luno covered.  Could I request that you look at incorporating *Ice Cubed*.

Their main site is: https://ice3x.co.za

Their API documentation is here: https://ice3x.co.za/ice-cubed-bitcoin-exc

[2017-12-29 06:35] Sarona93 opened #993 "Dealing with INSUFFICIENT_FUNDS/MIN_TRADE_REQUIREMENT_NOT_MET response"
Dear friends,

when I put orders in Bittrex:

-  I test placing orders with small amounts (less than minimum amount allowed in Bittrex), this cause Fatal Error " Uncaught ccxt\ExchangeError: bittrex {"success":false,"message":"**MIN_TRADE_REQUIREMENT_NOT_MET**","result":null} "

- Also , I test placing orders while my balance is not sufficient, this cause Fatal Error " Uncaught ccxt\ExchangeError:

[2017-12-29 08:07] kroitor commented on #988
https://github.com/ccxt/ccxt/wiki/Manual#loading-markets

[2017-12-29 08:07] #988 closed

[2017-12-29 08:13] kroitor commented on #990
[code]

[2017-12-29 08:22] kroitor commented on #993
You should update your ccxt version to most recent one (unofortunately, you did not include that information in you question) and you should catch the exceptions, like described here: https://github.com/ccxt/ccxt/wiki/Manual#error-handling. Let us know if we can help with anything else, or if you have difficulties with it, I'm closing this for now, if you don't mind.

[2017-12-29 08:22] #993 closed

[2017-12-29 08:30] nickos556 commented on #990
Hi I replaced 'Buy' with 'buy' and dropped the 'price=', and I still see the same error. Under the hood, the side 'buy' maps to 'Bid' as per the exchange documentation here https://github.com/BTCMarkets/API/wiki/Trading-API.
Are you able to get the API working? I was thinking maybe the exchange is broken.

[2017-12-29 08:39] #983 closed

[2017-12-29 08:51] kroitor commented on #990
@nickos556 can you update to v.1.10.506 and retry the same code once again, please? We will be happy if you report back, whether it works for you or not. Thx!

[2017-12-29 09:31] ksanderer commented on #986
1) **Question:**  Some exchanges have limitation on max since time. For example, when trying to iterate over exchanges list poloniex will return an undocumented error (can't return more than 1 month trade history). I think there should be an error or auto adjusting since parameter to maximal available.

2) **fetch_trades** reversed order (we already discussed earlier). Python `reversed` return an

[2017-12-29 09:57] kroitor commented on #986
I'd say we should adjust the `limit` param to be `since + 1month`, whatever the `since` is, and we should not adjust the `since` itself (keep the value that was passed by the user).

I think you're missing the fact that we should do it in a language-agnostic way, in such a syntax/codeflow construction that would work seamlessly in JS, Python and PHP at the very least (there's also Typescript, whic

[2017-12-29 10:09] kroitor commented on #991
Hi!

Currently, there is no such front-end, that we know of. However, you can look at these promising projects that integrate CCXT and offer end-user functionality:
- [GDAX Trading Toolkit](https://github.com/coinbase/gdax-tt)
- [Enigma Catalyst](https://blog.enigma.co/enigma-announces-catalyst-0-4-our-biggest-release-yet-fa31a5ffa4b1)
- [backtrader](https://www.backtrader.com)
- [zenbot](https://

[2017-12-29 10:09] #991 closed

[2017-12-29 10:28] 1hakr opened #994 "Poloniex is giving 403 for all methods"
Any method call on poloniex is not working

- OS: OSX
- Programming Language: JavaScript
- CCXT version: 1.10.503
- Exchange: Poloniex
- Method:fetchTicker

Just try this
[code]
[code]

[2017-12-29 10:33] kroitor commented on #994
Does this work for you? ↓

[code]

Have you tried this? ↓

https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2017-12-29 10:35] ksanderer commented on #986
So `poloniex` with request

`poloniex.fetch_trades(symbol, "2017-10-28")`

will be implicitly transformed to:

`poloniex.fetch_trades(symbol, since="2017-10-28", limit="2017-11-28")`

And return `[]` as if there are no orders at all?

[2017-12-29 10:40] kroitor commented on #986
@ksanderer
Well, this is the limitation of their API and we can't really know beforehand, how many trades there were in a certain time period, before we fetch them. In general the user should be aware, that all exchanges have limitations. However, we don't think limiting the `since` param to 1 month is a good idea. If we cannot workaround some limitation of an exchange, we would better leave it fo

[2017-12-29 11:00] ksanderer commented on #986
I think it's a bad idea too.

Probably I'm using ccxt in an unusual way, I'm trying to iterate over all available exchanges and fetch maximum available trade data. That's why I'm facing with such issues. If you use only a few APIs explicitly then definitely it's enough and you can adjust your code to fit API.

[2017-12-29 11:00] nickos556 commented on #990
I pulled from master, which is now on version 1.10.506. I ran the script listed above, and got the same error:

[code]

[2017-12-29 11:02] kroitor commented on #990
@nickos556 I'll dig into it further, it somehow passed the test... Will get back to you on this, hopefully, soon.

[2017-12-29 11:02] nickos556 commented on #990
Note I have replaced my apiKey with 'XXXXXX' in the info above, thats not my real key :)

[2017-12-29 11:02] nickos556 commented on #990
Thanks @kroitor :)

[2017-12-29 11:06] kroitor commented on #986
We are now in the process of developing and unifying the metainfo (a property of properties) for each exchange, that will allow a user to detect exchange capabilities programatically. Some of those are described in [the Manual](https://github.com/kroitor/ccxt/wiki/Manual#exchange-properties), the other are already present in code, but not documented yet.

The general pattern for that is not to rel

[2017-12-29 11:22] 1hakr commented on #994
@kroitor yes, thank you so much. Sorry for the trouble, I will double check next time before opening an issue.
👍🏽 great library mate!

[2017-12-29 11:24] #994 closed

[2017-12-29 11:26] Sarona93 commented on #993
Thank you for your response
I need to deal with the following two errors :
**MIN_TRADE_REQUIREMENT_NOT_MET**
and
**INSUFFICIENT_FUNDS**
both should belong to ExchangeError class which is defined in this php file
ccxt/php/ExchangeError.php
above class is empty !,
so I have to define my functions handling errors inside this class (or inside class extended from this)?
(simple question)

Thank you

[2017-12-29 11:28] kroitor commented on #993
Nope, you should copy error handling from this PHP example:
https://github.com/ccxt/ccxt/blob/master/examples/php/load-all-at-once.php

[2017-12-29 13:32] lnguyen opened #996 "Illegal characters found in parameter 'price'"
Illegal characters found in parameter 'price' for binance XVG - ETH. Not sure if api changed, this worked yesterday

Not getting this in BTC trades.
- OS: linux
- Programming Language: nodejs
- CCXT version: 1.10.508
- Exchange: binance
- Method:

[code]

[2017-12-29 13:38] marcusl33 opened #997 "Can't make POST requests for Kucoin"
Can't seem to make POST requests on Kucoin, it says that "Signature verification failed". All GET requests have worked fine so far.

- OS: Mac OS
- Programming Language: Python (ipynb format)
- CCXT version: 1.10
- Exchange: Kucoin
- Method: create_order

[code]

[2017-12-29 13:39] kroitor commented on #996
Can you show a minimal but a complete snippet of code to reproduce the problem and the **verbose** output (set .verbose = true on the exchange)?

[2017-12-29 13:45] gaardiolor commented on #997
Ha, you just beat me with creating this issue by one minute. Same problem here using latest version ccxt-1.10.508

[2017-12-29 13:46] lnguyen commented on #996
I'm using zenbot let me see if I can turn on verbose,

[code]

[2017-12-29 13:46] marcusl33 commented on #997
Hmm did you try playing around with the sign method? Let me know if you find some solution!

[2017-12-29 13:47] kroitor commented on #996
[code]

[2017-12-29 13:55] kroitor commented on #997
For some reason I can't access them now from wherever I try...

<img width="706" alt="screen shot 2017-12-29 at 16 54 41" src="https://user-images.githubusercontent.com/1294454/34438603-084b2cd2-ecb9-11e7-8712-595d31dce4dd.png">

[2017-12-29 13:58] gaardiolor commented on #997
Yeah, they're having load issues. Sometimes that page works, (it does for me at the moment).
Some more info when that page works:
[code]

[2017-12-29 14:01] kroitor commented on #997
@gaardiolor can you add the lines that are output upon sending the request? There should be an URL + headers (remove keys if necessary) + request body params...

[2017-12-29 14:03] gaardiolor commented on #997
[code]

[2017-12-29 14:13] lnguyen commented on #996
Interesting the post is getting a null value for price. Let me see if I can trace that down.

[2017-12-29 14:57] lnguyen commented on #996
Closing for now, I was running code that caused this issue and need to see what difference is between updated code and old code

[2017-12-29 14:57] #996 closed

[2017-12-29 15:00] #997 closed

[2017-12-29 15:03] marcusl33 commented on #997
@kroitor so what's the solution to this?

[2017-12-29 15:05] kroitor commented on #997
@marcusl33, This is fixed in version 1.10.510 (will be available in 5 minutes, i was going to update you on availability). Please retry the same code with it in 5-10 minutes. We will be happy if you report back whether it works for you normally or not. Tested it on our side. Thx!

[2017-12-29 15:09] kroitor commented on #997
Version 1.10.510 has arrived.

[2017-12-29 15:15] gaardiolor commented on #997
unfortunately still an error;
[code]

[2017-12-29 15:16] kroitor commented on #997
@gaardiolor please, verbose output, starting from URL + headers + body ;)

[2017-12-29 15:18] gaardiolor commented on #997
Yeah sorry,
[code]

[2017-12-29 15:18] gaardiolor commented on #997
my debugging proxy gets the following response:
[code]

[2017-12-29 15:19] kroitor commented on #997
Oh, no... %))) When I say starting from, I don't mean only URL + headers + body, I mean all of it, starting from URL + headers + body up to the breaking point %) Never mind, no worries, I'll do it on my side )

[2017-12-29 15:19] marcusl33 commented on #997
hmm @gaardiolor are GET requests working for you?

[2017-12-29 15:23] marcusl33 commented on #997
they're working for me now thanks @kroitor !

[2017-12-29 15:27] gaardiolor commented on #997
@marcusl33 yes get requests are working
@kroitor Hopefully my proxy message helps, full headers with snips:
[code]

[2017-12-29 15:34] kroitor commented on #997
@gaardiolor well, the problem consists of two parts:
1. There was a problem with detecting this error in Python and it is now fixed in the upcoming version 1.10.511. It will throw an InvalidOrder exception at you.
2. The amount you submit is 0.0005994. That is a precision of 7 decimal digits, whereas Kucoin wants 6. This aspect of precision should be handled in CCXT, but because of how Kucoin API

[2017-12-29 15:43] gaardiolor commented on #997
@kroitor ok, thanks!
Just upgraded to version 511, but I still get TypeError: argument of type 'NoneType' is not iterable . I'll go ahead and collect debugging and snip things.

[2017-12-29 15:44] kroitor commented on #997
@gaardiolor in order to debug it, I need to see their responses (your "proxy messages").

[2017-12-29 15:46] gaardiolor commented on #997
Yeah it's the same, I didn't change precision yet with exchange.truncate, I'm just testing the exception. So I'm expecting an exception, but not TypeError , it should be InvalidOrder.

[2017-12-29 15:51] gaardiolor commented on #997
ok, done snipping (would be really nice if you'd implement a debug option that leaves out things like sessions, cookies, fill json responses and API keys)

So this is just the error handling part, I'm getting the wrong exception when not using correct precision.
[code]

[2017-12-29 15:57] kroitor commented on #997
@gaardiolor, ok, both problem #1 and problem #2 should be fixed in Python as of version 1.10.513 (again, wait 5-10 minutes, then update). Tested the python case. It works now (throws an adequate exception + does not need the .truncate anymore). Let us know if it still doesn't work for you. Thx!

[2017-12-29 16:22] gaardiolor commented on #997
ok great! I think both problems are solved.

[2017-12-29 17:20] gaardiolor opened #998 "kucoin tradeprecision not reported correctly"
kucoin tradeprecision not reported correctly

- OS: Windows
- Programming Language: python sync
- CCXT version: 512
- Exchange: kucoin
- Method: load_markets

e.load_markets() does a GET /v1/market/open/coins . This URL returns:
[code]
So there we can see the trade precision is 4.

However e.markets['LEND/BTC'] says precision is 8.
[code]
full output:
[code]

[2017-12-29 17:22] kroitor commented on #998
@gaardiolor see `e.currencies['LEND']`, `e.currencies['BTC']`. Let me know if it helps.

[2017-12-29 17:25] gaardiolor commented on #998
nice! there it's reported correctly! So in 'markets' the precision is of the currency symbol (BTC in this case) ?

[2017-12-29 17:29] kroitor commented on #998
@gaardiolor not really, it is a default of 8 digits now. Does not get propagated to markets, but we are going to fix for that soon. Let me know if I can close this for now (we will notify you upon progress). Thx!

[2017-12-29 17:30] gaardiolor commented on #998
Yeah sure I'll close it! thanks!

[2017-12-29 17:30] #998 closed

[2017-12-29 18:01] JosefJezek commented on #988
@kroitor ok

Could you add an option for load only markets data, without currencies?

[2017-12-29 18:07] kroitor commented on #988
@JosefJezek sure, will do that soon, hopefully.

[2017-12-29 21:00] kroitor commented on #988
@JosefJezek until we add an option for it, a temporary solution for you would be to change the code like this:

[code]

[2017-12-29 21:15] gaardiolor opened #1000 "Kucoin fetch open orders doesn't seem to work"
Kucoin fetch open orders doesn't seem to work. I can't fetch them all at once, which I can deal with, but when fetching a specific symbol it doesn't work either.

- OS: Windows
- Programming Language: Python sync
- CCXT version: 512
- Exchange: Kucoin
- Method: fetchOpenOrders

[code]

[2017-12-29 21:16] kroitor commented on #1000
Will fix shortly, thx for a nice report ;)

[2017-12-29 21:24] #1000 closed

[2017-12-29 21:36] kroitor commented on #1000
This should work normally now in 514.

[2017-12-29 21:39] gaardiolor commented on #1000
Great, just wanted to tell you how I've fixed it but I see you did exactly the same. It works!

[2017-12-29 21:50] gaardiolor opened #1001 "Cloudflare anti-bot bypass"
It would be nice if ccxt could optionally wrap requests in https://github.com/Anorov/cloudflare-scrape to show cloudflare that we're a hard-working bot instead of a DDoS'er. It works quite nice, I've tested it without ccxt and am very happy with it.

Can imagine that this isn't very easy to implement cross-platform though.

[2017-12-29 22:18] 1hakr opened #1002 "Delisted market trades are breaking for Poloniex"
Delisted market Trades are breaking for Poliniex. So the reason seems SJCX has been delisted and i happen to have a trade for it.

- OS: OSX
- Programming Language: JavaScript
- CCXT version: 1.10.503
- Exchange:Poloniex
- Method:fetchMyTrades

[code]

[code]

The is the line https://github.com/ccxt/ccxt/blob/master/js/poloniex.js#L444 .

[2017-12-29 22:35] #990 closed

[2017-12-29 22:45] kroitor commented on #1001
If you're using Python 2, you can override the `.session` and `.headers = {'Cookie': 'YOUR_CFSCRAPED_COOKIE'}` right away (already supported in ccxt). Let me know, if it helps.

[2017-12-29 23:56] clarkmoody commented on #986
@ksanderer Poloniex has given me trouble with its "one month of history" policy, since it combines with its 50,000 trades max policy. So when you ask for trades over a one month period, you get the _most recent 50,000 trades_ over that time interval. That means you'll be missing the trades from your `start` time to the oldest returned trade.

[2017-12-30 00:04] gaardiolor opened #1003 "Typeerror with kucoin fetchopenorders"
Typeerror with kucoin fetchopenorders , maybe because kucoin.py:255 filled is None.
`            'cost': price * filled,`

- OS: Windows
- Programming Language: python
- CCXT version: 516
- Exchange: Kucoin
- Method: fetchOpenOrders

[code]

[2017-12-30 00:13] #1003 closed

[2017-12-30 00:45] gaardiolor commented on #1001
Ok great! I'll test it soon and reopen another issue if necessary.

[2017-12-30 00:45] #1001 closed

[2017-12-30 00:47] nickos556 commented on #990
Its now working -thank you very much! Have made a small donation to your BTC wallet... Keep up the good work :)

[2017-12-30 00:57] kroitor commented on #990
@nickos556 thank you so much! Let us know if you have any other questions! Happy holidays! )

[2017-12-30 00:59] jochem-brouwer commented on #927
Hey, I had a similiar issue, and fixed it by updating requests.

`pip install --upgrade requests`

[2017-12-30 01:01] kroitor commented on #927
@jochem-brouwer the problem is with the async version of it, the sync-version is already fixed and does not have that problem anymore. But thanks for the hint anyway! Appreciate your participation!

[2017-12-30 01:26] gaardiolor commented on #1003
unfortunately the fix introduced another bug;

[code]
When reverting that line back to `amount = self.safe_float(order, 'amount')` it works

[2017-12-30 02:04] #1002 closed

[2017-12-30 02:18] kroitor commented on #1003
@gaardiolor let me know if you have any more issues with it! Thx!

[2017-12-30 02:20] kroitor commented on #1002
This is fixed in v. 1.10.519. Thx!

[2017-12-30 02:22] 1hakr commented on #1002
👍

[2017-12-30 11:25] ksanderer commented on #986
After your comment, I've realized that poloniex has maximal 1 month time window but not the limit.

So you can set start = "2015-01-01" end = "2015-02-01" and then iterate with `start = max_order_timestamp` and `end = max_order_timestamp + one_month`:

https://poloniex.com/public?command=returnTradeHistory&currencyPair=BTC_NXT&start=1410158341&end=1410499372

[2017-12-30 12:07] kroitor commented on #989
Hi!

I did it briefly with a few small tools, and now I can't find it in my history, but it didn't take too long. It's mostly there, check out the following:
- https://github.com/ccxt/ccxt/blob/master/examples/js/basic-chart.js
- https://github.com/ccxt/ccxt/blob/master/examples/js/fetch-ohlcv-cex.js
- https://github.com/ccxt/ccxt/blob/master/examples/py/basic-chart.py
- https://github.com/ccxt/cc

[2017-12-30 12:24] icam0 commented on #919
@lalas , I had the same issue. This can be resolved by using conda forge: `conda install -c conda-forge cchardet`

[2017-12-30 12:25] kroitor commented on #919
@icam0 thanks for the hint!

[2017-12-30 15:41] #976 closed

[2017-12-30 15:42] kroitor commented on #976
Ok, this is commited to the master branch now, will be available in version 1.10.525 in 5-10 minutes. Use the `.fetchImplementation = yourFetchFunction` override to pass your custom fetch() to it.

[2017-12-30 15:42] #989 closed

[2017-12-30 15:51] gaardiolor opened #1009 "kucoin balance is incorrect when the coin has open orders"
When for example BTC has open orders, this amount on orders is deducted from the 'free' amount twice instead of only one time.

- OS: Windows
- Programming Language: Python
- CCXT version: 516
- Exchange: Kucoin
- Method: fetch_balance

[code]
So 'free' should be the 'balance' in the response. total should then be free + used.

[2017-12-30 15:53] kroitor commented on #1009
Thanks for reporting, will fix shortly!

[2017-12-30 15:54] #1009 closed

[2017-12-30 16:16] gaardiolor opened #1010 "Help with ExchangeError"
Hello,

Sometimes I get an ExchangeError that is retry'able because the exchange has problems. For example:

[code]
In other situations however, it's not retry'able because I just did something stupid. For example:
`ccxt.base.errors.ExchangeError: kucoin fetchOpenOrders requires a symbol param`

How can I differentiate between the two ? Now I'm retry'ing all ExchangeErrors, but in some cases this

[2017-12-30 16:25] kroitor commented on #1010
Hi!

In those cases you should get a NetworkError (another branch of errors, those you can recover from). The ExchangeError should stand for non-recoverable errors, like, when you missed a `symbol`.

However, because we are under active development, the process of unification, including the unified error handling, is not finished yet, as you may know. So, in some cases, like that of Kucoin you can

[2017-12-30 16:34] kroitor commented on #1010
P.S.You want to catch those cases specifically add this around your code:

[code]

[2017-12-30 16:35] osnwt commented on #884
After you added a custom fetch hook, I can try to implement this (if/when time permits). They have fixed the issue with TradeHistory. But the API still isn't reliable, today I saw missed history records while orders were closed properly - including the history on their web UI. And it still has broken Cloudflare setup.

Right now my own API interface implementation works for me (with very limited t

[2017-12-30 16:35] osnwt commented on #976
Great, thanks! Please read my last comment in #884.

[2017-12-30 16:36] gaardiolor commented on #1010
ok thanks! Of course I can get verbose output, but, isn't it better to handle it in a more generalized way and raise networkerror on all HTTP error codes (4xx, 5xx) ?

[2017-12-30 16:38] osnwt commented on #884
Also, assuming the worst case, if cloudscraper will be required, how do you recommend to reference it? I should 'require' it in the API class, but this will demand it on the upper level and not for javascript only. I can do private branch, but maybe you have other ideas?

[2017-12-30 16:40] kroitor commented on #1010
@gaardiolor

No, it isn't)

Exchanges report errors differently, and many of them report 429 for a NetworkError, for example... So, you can't distinguish by HTTP code, it will always be 4xx. We have to distinguish by their message/code. And for that we have to see it.

[2017-12-30 16:41] kroitor commented on #1010
I'm closing this for now. Feel free to reopen it or just ask questions here. Or add a new issue, if needed. Thx.

[2017-12-30 16:41] #1010 closed

[2017-12-30 16:44] vitoo opened #1011 "Binance don't give the "Average price" of order"
Hi,

When using fetch order, binance don't give us the average (real) price, but only the limit price requested.

So in binance.php the : 'cost' => $price * $amount, is wrong because the $price is not the average price.

Binance don't give us enough info about order

[2017-12-30 16:47] kroitor commented on #884
I would leave it outside of the library and would let the user decide ) Just need to add a proper usage example and that's it. No need to integrate it into the basecode, as far as I can tell. Let me know if you think differently, I may be missing something.

From a brief overview I can tell that it is a mix of Liqui (and other BTC-e clones, like wex, tidex) for the private part and Bittrex APIs fo

[2017-12-30 16:49] kroitor commented on #1011
Hello! Thanks for reporting! What would you suggest as a solution to this?

[2017-12-30 17:00] vitoo commented on #1011
Well, we should ask binance to add the average price in api response maybe

[2017-12-30 17:04] kroitor commented on #1011
Ok, I've sent them a message. Will report here upon getting a follow up on this. I'm closing this for now if you don't mind. Feel free to reopen it, or ask questions, if any. Thx!

[2017-12-30 17:04] #1011 closed

[2017-12-30 17:11] vitoo commented on #1011
I've asked them too, too add avg price, total cost, and fees

[2017-12-30 17:15] osnwt commented on #884
If I understand you right, the support for it should be added using base code, but provide an example of custom wrapper to use it in real life until they fix the issue with Cloudflare. Sounds good.

[2017-12-30 17:22] kroitor commented on #884
Just to clarify, what I was trying to say: we have the `.fetchImplementation` override now, and in Python we have `python-requests` sessions, so the task of supporting cloudflare-scrape is mostly solved as far as we would like to go for it in the library. So, from here we believe, we should not add anything cloudflare-related *into the library*, but we should add an example of how to attach a cfsc

[2017-12-30 17:24] osnwt commented on #884
I meant exactly that.

[2017-12-30 17:27] kroitor commented on #884
@osnwt ok, cool! Let me know if you have any other questions! Thx!

[2017-12-30 17:49] Philx0 opened #1012 "Bithumb create_order contains typo, doesn't work"
- OS:Win
- Programming Language:php/all
- CCXT version:1.10.528
- Exchange:Bithumb
- Method:create_order

There's a typo inside bithumb.php, create_order still doesn't work after fixing this.

[code]
I suppose there's something wrong with the construction of the method name in this method.
The request method works just fine.

[2017-12-30 17:51] #1012 closed

[2017-12-30 17:54] Philx0 commented on #1012
Why was this closed? "privatePostMarketSell not found" is still returned after fixing the typo.

[2017-12-30 17:55] kroitor commented on #1012
@Philx0 GitHub closes them automatically, if there's a word "fix" in the commit message. No worries, the privatePostMarketSell will be fixed as well.

[2017-12-30 20:13] awhitehouse104 commented on #850
Thanks, using `ntp` on ubuntu worked for me.

https://www.digitalocean.com/community/tutorials/how-to-set-up-time-synchronization-on-ubuntu-16-04

[2017-12-30 22:14] thijstriemstra commented on #943
@kroitor see https://help.github.com/articles/signing-commits-using-gpg/ ;)

[2017-12-30 22:15] kroitor commented on #943
@thijstriemstra yep, thx, i've read it immediately after your previous comment, will set it up shortly.

[2017-12-31 14:32] JosefJezek commented on #41
@kroitor CryptoCompare has great aggregation index for comparison.

Please add CryptoCompare. We have already CoinMarketCap. ;-)

[2017-12-31 16:24] kroitor commented on #41
@JosefJezek we will reconsider this, thx!

[2017-12-31 17:02] kroitor commented on #1011
An update on this:

[code]

[2018-01-01 09:39] MelbourneDeveloper commented on #773
There is certainly some kind of bug around this... I've tried everything.

Here's my code in C#. You will need to make some guesses about what it is doing:

            var currentDateTimeUTC = await APIHelpers.GetUtcDateTime();
            var queryString = $"api/v3/account?recvWindow=10000000&timestamp={currentDateTimeUTC.Ticks}";
            var uri = new Uri($"{RESTClient.BaseUri}{queryString}

[2018-01-01 09:56] MelbourneDeveloper commented on #773
Even when I get the time from the Binance server (and check that it is correct), I still get the error:

            var binanceTime = await RESTClient.GetAsync<BinanceTime>("/api/v1/time");
            var currentDateTimeUTC = new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc).AddMilliseconds(binanceTime.serverTime);
            System.Diagnostics.Debug.WriteLine("binance" + currentDateTimeUTC);

[2018-01-01 10:01] MelbourneDeveloper opened #1022 "Timestamp for this request was 1000ms ahead of the server's time"
Sorry for repeating a problem that has already been reported but this bug has not been fixed. At first I thought it was just because my clock was not synced but I've gone as far as getting the time from the Binance server first, and then sending the request but it still does not work.

Previous issues here and here:
https://github.com/ccxt/ccxt/issues/773
https://github.com/ccxt/ccxt/issues/850

-

[2018-01-01 10:09] MelbourneDeveloper opened #1023 "Implement oAuth"
Oops

- OS: Windows
- Programming Language: C#
- CCXT version: ?
- Exchange: All
- Method: GET / PUT

[code]

[2018-01-01 10:18] #1023 closed

[2018-01-01 12:41] kroitor commented on #1022
Do you have system clock syncrhonization enabled in Windows and do you have set it up to synchronize time over the internet once in 10 minutes or less?

[2018-01-01 16:38] kroitor commented on #927
Not very easy to find an adequate implementation of python-requests in an async environment...
But as a temporary workaround you can do the following:
1. Install certifi with `pip3 install certifi`
2. Get the path of the cert.pem CA file from certifi with `python -c "import certifi; print(certifi.where())"`
3. Get default system path for CA files: python -c "import ssl; print(ssl.get_default_verif

[2018-01-01 17:02] #927 closed

[2018-01-01 17:05] kroitor commented on #1022
@MelbourneDeveloper I suggest to move this discussion to #850 after you check 1, 2 and 3. Closing this as a duplicate for now.

[2018-01-01 17:05] #1022 closed

[2018-01-02 02:34] tandazhi opened #1024 "zb account can't be accessed with correct apiKey and secret"
PASTE_YOUR_TEXT_DESCRIPTION_HERE

- OS: ubuntu 16
- Programming Language: python
- CCXT version: 1.10.357
- Exchange: zb
- Method: fetchBalance()

[code]

[2018-01-02 03:29] arellano-gustavo opened #1025 "Error creating order in Bitso"
I get an error (_Disallowed Key Characters_) when i try to create an order with Bitso by using the REST API call from Java. This is the (silly, with code 200, OK) "error" response:

[code]

Of course, the order is not created.
And, this is the code:

[code]

Of course, I have tried using " and ' in my JSON string, but none have worked. You can see this in my line:

[code]

Thanks

[2018-01-02 03:31] kroitor commented on #1025
Hi! Sorry, but you're not using ccxt in your Java code. Can't help you with this particular issue until we add support for Java. Maybe this file will help you: https://github.com/ccxt/ccxt/blob/master/js/bitso.js. I'm closing this for now as it is mostly unrelated to the project.

[2018-01-02 03:31] #1025 closed

[2018-01-02 09:15] deltacat opened #1027 "Polling Binance fetchTickers every 5 seconds triggers a ban"
I tried use param {enableRateLimit: true} to handle rate limit.
A strange thing about 'binance': when I call fetchTickers() to polling tickers (e.g., every 5 seconds), it will throw an error
`{"code":-1003,"msg":"Way too many requests; IP banned until 1514883415037."}`
This should not happened, 5 seconds should not trigger limit. Is there some extra info to explain this? I tried find information f

[2018-01-02 12:25] kroitor commented on #1027
Hi!

Binance uses a Machine Learning rate-limiting algorithm that scores your requests against an *average user* and accounts for the *weight* of each call.

From Binance:

[code]

Next, if you go here: https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#24hr-ticker-price-change-statistics

You will notice that they have a special weight for the "all tickers" endp

[2018-01-02 12:47] deltacat commented on #1027
Thanks a lot. This answer is very clear.

But it means watching prices of binance would be a big problem. :(

[2018-01-02 12:49] kroitor commented on #1027
@deltacat yes, indeed. We can't really work around this on client side. I'm closing this for now, if you don't mind. Feel free to reopen it if needed, or just ask questions, if you have any. Thx!

[2018-01-02 12:49] #1027 closed

[2018-01-02 17:06] Felipe-Mangueira opened #1029 "New Exchange: Negociecoins"
Thank you very much for keeping this amazing library updated.

I would like to make a suggestion of a new exchange: Negociecoins. It's a brazilian exchange.

This is the main site: https://www.negociecoins.com.br/

This is the public API documentation site: https://www.negociecoins.com.br/documentacao-api
This is the private API documentation site: https://www.negociecoins.com.br/documentacao-trad

[2018-01-02 17:37] gaardiolor opened #1031 "How to get kucoin trade min amount for a specific coin"
How can we get Kucoin minimum trade amount ? For example when trading XLR, kucoin complains that the minimum amount is 1.0 :
`ccxt.base.errors.ExchangeError: kucoin {"success":false,"code":"ERROR","msg":"Min amount each order:1.0","timestamp":1514903440762,"data":null}`

method currencies incorrectly states that the min amount is 0.0001 .

- OS: Windows
- Programming Language: Python
- CCXT versio

[2018-01-02 17:46] kroitor commented on #1031
Hi! Unfortunately, there is no easy way to find that out except try-catch + make it a config option in your setup. They don't serve that from their API. The data in `limits` is based on `tradePrecision` as reported by themselves. So, I'm afraid, you will have to make a workaround for this in userland code until we find a better way to integrate it or until they add that into to their API. Does thi

[2018-01-02 18:00] gaardiolor commented on #1031
Yes thanks, it was what I was afraid of. Now I'm creating a very small buy order per currency that always fails but gives me the minimum amount to use in future trades.

[2018-01-02 18:00] #1031 closed

[2018-01-02 18:01] kroitor commented on #1031
@gaardiolor yes this is usually the way to go, but you have to update your info constantly (they can change their limits and we had that previously). My 2 cents.

[2018-01-02 18:07] Taylorlewis374 opened #1032 "just my suggestion"
PASTE_YOUR_TEXT_DESCRIPTION_HERE

- OS: Windows 10
- Programming Language:python
- CCXT version:
- Exchange:kroitor/BTC
- Method:

[code]

[2018-01-02 18:08] kroitor commented on #1032
?

[2018-01-02 18:25] gaardiolor commented on #1031
Yep I'm doing that, thanks. Also emailed support if they can add it to their api, but I think it will take a while. Will let you know when they add it!

[2018-01-02 18:32] pmizel opened #1033 "Support fetchOrderBooks for multiple symbols at once"
Like in #932 was asked,
there are some exchanges which support fetchOrderBook / Groups / Full / All
i try to create one pr.

- OS: win
- Programming Language: javascript
- CCXT version:
- Exchange: exmo, tidex, cryptopia, yobit, c-cx
- Method:

[code]

[2018-01-02 18:35] Taylorlewis374 commented on #1032
Can you teach me how to make some btc ?

On Jan 2, 2018 12:08 PM, "Igor Kroitor" <notifications@github.com> wrote:

[2018-01-02 18:36] kroitor commented on #1033
Hi! Thanks! It would be awesome to support those! However, I have one concern on keeping it readable, I'd suggest, let's not call it `hasFetchOrderBookGroup + fetchOrderBookGroup` and instead name it `hasFetchOrderBooks + fetchOrderBooks`. That would be consistent with other methods in the library. What do you think about it?

[2018-01-02 18:40] pmizel commented on #1033
thx, we keep it readable.

[2018-01-02 18:46] kroitor commented on #1032
@Taylorlewis374 but why don't you want to learn it yourself like I did and like everybody else does? ) You don't live in an info-vacuum, or do you? ) I'm sorry, but I don't have enough time to teach everyone individually. I'm putting everything in public so that you can use it, but I'm not going to put it info in your brain and I'm not going to do the reading/thinking effort for you. Even if I wan

[2018-01-02 18:46] #1032 closed

[2018-01-02 19:03] Pmant opened #1034 "priceToPrecision returns String"
Function priceToPrecision returns String-Type, should be Float.

- OS: Windows 10
- Programming Language: Node.js 8.9.3
- CCXT version: 1.1.544
- Exchange: Bittrex (all?)
- Method: priceToPrecision

[code]
output: 'string'

[2018-01-02 19:10] kroitor commented on #1034
No, it shouldn't ) We never said that.

Instead, it should return a value that is accepted by the exchange. That can be a float or a string, depending on the exchange. And because Bittrex accepts POST-params in `x-www-form-urlencoded` style, those string-values work well internally (as well as with many other exchanges).

If you want a float, you need to simply to this:

[code]

I'd close this iss

[2018-01-02 19:27] Pmant commented on #1034
In Javascript most of the times you can use floats are automatically converted to strings if necessary, which is not true the other way around. Internally I'm calculating trade price and amount in float precision but eventually I have to convert them to the precision of the exchange. Before actually executing the trade I'm doing some more calculations and checks where I use the values returned by

[2018-01-02 19:36] kroitor commented on #1034
[code]

↑ If you want it ;)

[2018-01-02 19:36] #1034 closed

[2018-01-02 19:40] Pmant commented on #1034
Yes that's what I'm doing in my code, I just suggested that it would be more intuitive if the values which are returned by priceToPrecision und amountToPrecision had the same type.
If it is actually intended the way it is you can close this issue.

[2018-01-02 19:49] kroitor commented on #1034
@Pmant

Currently, it is, but we are going to make it more convenient very soon, we are working on a much better support for arbitrary precision: https://github.com/ccxt/ccxt/issues/522.
Will keep you updated on our progress. Thx!

[2018-01-02 19:55] love2kite opened #1035 "Websocketssupport"
Great library, I'm new to it but exploring the JS code.

I'm interested in the WebSocket market data capabilities of some exchanges. I read that it was suggested before and was answered that the support will be ready on September 17.
Any update on the matter?

Thanks for every thing!

[2018-01-02 19:58] kroitor commented on #1035
Hi! The work on it going on here: https://github.com/ccxt/ccxt/issues/56#issuecomment-353688827 and there were some major improvements in that direction, but we don't have an ETA on that other than ASAP. I'm closing this as a duplicate if you don't mind. I suggest moving this discussion to the linked issue. Thx!

[2018-01-02 19:58] #1035 closed

[2018-01-02 21:39] DanielMartini opened #1036 "Question: Bitstamp placing limit orders"
- Programming Language: PHP
- CCXT version: 1.10.513
- Exchange: Bitstamp
- Method: createLimitBuyOrder

Hello,

I've been trying to place limit orders in bitstamp without success, the point is that im receiving an error that I don't have enough funds to place the order.

My formula for calculate the amount of coins I can buy with certain balance and price is the next:

```(balance / price) - ((ba

[2018-01-02 22:24] kroitor commented on #1036
You should make and run the tests:
1. Calculate expected fees on both sides
2. Place sell order, assert expected vs actual fees on both sides with respect to USD rate at the time of the filling trades
3. Place buy order, assert expected vs actual fees on both sides with respect to USD rate at the time of the filling trades
4. From there you can deduce their exact fee schedule arithmetics to calcul

[2018-01-02 22:24] #1036 closed

[2018-01-03 00:21] kroitor commented on #1033
@pmizel one more thing, I forgot to tell, please, only commit JS files in a pull request. Most other files are generated and your changes to .py files and tables in docs will be overwritten upon merge as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code.

[2018-01-03 00:41] kroitor commented on #927
This issue should be fixed in current version of ccxt. Let us know if you have any difficulties with Binance in Python async. Thx!

[2018-01-03 03:06] dbzalpha opened #1037 "kraken requires `apiKey`even with correct API keys"
Hi guys,
On Kraken, I manage to query my balance, but not to PUT order using create_limit_buy_order.
It seems I have an apiKey problem.
I checked that my credentials allow to put order, and I did override the nonce, in milliseconds.
Some ideas?
I'm very newbie, but with your lib, I'm learning/practicing Python and it's great!
Thanks

- OS: MacOS
- Programming Language: Python3
- CCXT version: 1.10

[2018-01-03 03:12] TimNZ commented on #56
I don't want to seem ungrateful or entitled because this is an awesome project, but you have been promising a WS enabled release for a while.

Perhaps you should create a Github project so it can be tracked more easily so others can contribute, and do a raw write up of simple documentation of the proposed API so we can comment on it for feedback when it is 'cheaper' to change?

I know very well pa

[2018-01-03 03:14] kroitor commented on #1037
**First of, NEVER EVER show your secret key in public if you don't want to lose it. This is a friendly advice.**

You're not using the correct Python language constructs for instantiating it properly...

[code]

Read the Manual and look at the examples for more info:
- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/tree/master/examples

Hope it helps. I'm closing this for now, if

[2018-01-03 03:14] #1037 closed

[2018-01-03 03:18] kroitor commented on #56
We are doing the core work on the base code to deliver it asap.

That is exactly as we think, we are going to release a subset of exchanges first, so that the community could pick up from there, but we need to have it passing our current tests at the very least, before we can release it. Hope for your understanding.

We would love to get the early feedback, that is the reason for doing the prepara

[2018-01-03 03:28] TimNZ commented on #56
Awesome!

Since you are talking about passing tests and I see some PR for WS, that must mean you have settled on an implementation, and the API for it and usage?

Perhaps it would be a good idea to quickly knock out a draft section in the Manual marked WIP so we can view and provide feedback on the API and usage (if needed)?

Better for us to tell you now if we think we see problems.

[2018-01-03 03:37] kroitor commented on #56
This is one of our topmost priorities now, along with a draft of the implementation itself. We are going to document it as soon as we have a draft layout (wip). Our team is very small, and we are doing our best to keep up with the support and with adding new functionality as well. WS is on the way, we just need a little more of your patience. Thx!

[2018-01-03 03:52] kroitor commented on #1024
@tandazhi thanks for reporting, I will look into it and will fix it asap.

[2018-01-03 04:10] goleary91 opened #1038 "out of the box error about ololog missing"
![image](https://user-images.githubusercontent.com/2343700/34508843-e3408a7a-eff8-11e7-90a3-1caaa258db98.png)

- OS: windows 10
- Programming Language: JS
- CCXT version: 1.10.545

[code]

[2018-01-03 04:11] #1038 closed

[2018-01-03 04:12] kroitor commented on #1038
@goleary91 that's a debug leftover, will be fixed in 5-10 minutes in the upcoming version 1.10.546. Thx for reporting.

[2018-01-03 04:40] TimNZ commented on #56
Cool, thanks.

Still suggest you look at using Github Projects.
Good for basic Roadmap management and visibility.

[2018-01-03 06:30] alexsith commented on #139
Hello. I found the same problem for gatecoin exchanger:
File "/Users/kas/Documents/Bitcoin/proj/ccxt/async/gatecoin.py", line 385, in request
    response = await self.fetch2(path, api, method, params, headers, body)
  File "/Users/kas/Documents/Bitcoin/proj/ccxt/async/base/exchange.py", line 84, in fetch2
    return await self.fetch(request['url'], request['method'], request['headers'], request['

[2018-01-03 06:31] kroitor commented on #139
@alexsith what's your version of ccxt?

[2018-01-03 06:35] alexsith commented on #139
Now I use 1.10.538.

[2018-01-03 06:56] alexsith opened #1040 "Asyncio issue after 1.10.538"
When I upgraded ccxt from 1.10.538 to 1.10.545 I have issue with aiohttp.

I have 2 threads with different asyncio event_loops

- OS: macOS 10.11.6
- Programming Language: python 3.6
- CCXT version: 1.10.545
- Exchange:
- Method: fetch_balance

[code]

[2018-01-03 06:56] kroitor commented on #139
@alexsith fixed in 1.10.549. Please update your version, the issue should be gone. We will be happy if you report back, whether it works normally after updating or not. Thx!

[2018-01-03 06:59] alexsith commented on #139
@kroitor Thank you very much. But I can't update ccxt right now I have a issue https://github.com/ccxt/ccxt/issues/1040

[2018-01-03 07:00] kroitor commented on #139
@alexsith will fix it in 5-10 minutes as well.

[2018-01-03 07:03] #1040 closed

[2018-01-03 07:10] alexsith commented on #1040
I guess you should pass loop to  aiohttp.TCPConnector(ssl_context=context)

    connector  = CccxtConnector(exchid,  self._results, self._dataReceiver._loop, config, redefined)
  File "/Users/kas/Documents/Bitcoin/proj/IExchangeConnector.py", line 105, in __init__
    self.__ccxtexchange = getattr(ccxt, id_exchange)(extraconfig)    #{'asyncio_loop':loop}
  File "/Users/kas/Documents/Bitcoin/proj/c

[2018-01-03 07:16] alexsith commented on #1040
Thank you so much!

[2018-01-03 07:20] kroitor commented on #1040
@alexsith thanks for reporting!

[2018-01-03 08:40] wangbill66 opened #1042 "withdraw() method for Kucoin"
Hi, was wondering if it's possible for the withdraw() function to be implemented in the Kucoin.py file?

I was also looking at perhaps implementing a withdraw function myself from the examples of other exchanges, however I couldn't find some of the methods that are used in the withdraw functions of other exchanges. For instance, for Binance, in the withdraw function we have the method:

self.wapiP

[2018-01-03 08:45] kroitor commented on #1042
Hi! )

Yes)

No ) It should be implemented in kucoin.js file, according to this: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

It is created in runtime when you instantiate the exchange, explained here:
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#implicit-api-methods

I'm closing this for now as a duplicate, if you don't mind mind. Let us know if you

[2018-01-03 08:45] #1042 closed

[2018-01-03 08:59] Deathamns opened #1043 "livecoin: currency issues"
1.) `USD`, `EUR`, `RUR` fiat currencies are not listed in [coinInfo](https://github.com/ccxt/ccxt/blob/master/js/livecoin.js#L131), so `exchange.currency(code)` will always throw, however `livecoin` has markets for these currencies.

2.) `livecoin` has both `BCH` (Bitcoin Cash) and `BCC` (BitConnect), but `BCC` is lost because of [commonCurrencyCode](https://github.com/ccxt/ccxt/blob/master/js/liv

[2018-01-03 09:06] kroitor commented on #1043
Thanks for reporting, will fix shortly.

[2018-01-03 09:36] wangbill66 commented on #1042
Thanks for the swift response!

So I see that withdraw is one of the private POST methods, but I'm not exactly sure how to call it.. (from the .js file?)

I'm playing around ccxt folder on my local machine and I tried adding a withdraw function with

response = self.privatePostAccountCoinWithdrawApply(self.extend({
            'coin': currency,
            'amount': amount,
            'address':

[2018-01-03 09:44] kroitor commented on #1042
@wangbill66 can you update ccxt to most recent version 1.10.552 and retry the same call to `privatePostAccountCoinWithdrawApply` once again?

[2018-01-03 10:40] wangbill66 commented on #1042
Ok, that seemed to have worked! Thanks so much for your help! :)

Just one quick question: sometimes when I get an error, the error msg is in hex form. Just wondering how to decode that?

Traceback (most recent call last):
  File "bot.py", line 76, in <module>
    ku_client.withdraw('BTC', 0.001, gdax_btc_address)
  File "/Users/Bill/anaconda3/lib/python3.5/site-packages/ccxt-1.10.552-py3.5.egg/cc

[2018-01-03 10:47] kroitor commented on #1042
[code]

[2018-01-03 11:56] mrdonthave opened #1046 "Mistake under "Usage Example"?"
should quoine and zaif better be flipped?
https://github.com/ccxt/ccxt#usage

[code]

[2018-01-03 12:05] Taylorlewis374 commented on #1046
Yup

On Jan 3, 2018 5:56 AM, "Christian Habenicht" <notifications@github.com>
wrote:

[2018-01-03 12:23] dbzalpha opened #1048 "Defining an exchange on the fly, for async use"
M. Kroitor,
Thanks for your quick last reply.

I think I have trouble defining the exchange on the fly, for asynchronous use, and pass on the API info to then PUT my order:
 exchange = getattr(ccxt, exchange_name)({'verbose': False})

Some hints?
Surely a super noob question, but you would help a lot!
Thanks

- OS: MacOs 10.12.6
- Programming Language: Python3
- CCXT version: 1.10.545
- Exchange:

[2018-01-03 12:34] wangbill66 commented on #1042
Cool thanks! :)

[2018-01-03 12:50] xgdgsc commented on #358
I want to use `fetch_ohlcv` with proxy in async. I have a use case that when setting both `exchange.proxy` and `exchange.aiohttp_proxy` it would raise errors regarding Invalid URL and doesn' t work. When I only set `exchange.aiohttp_proxy`  it works. It makes me wonder whether it is using the proxy or not. For example, the `exchange` could be `binance`.

[2018-01-03 15:13] kroitor commented on #1046
@mrdonthave thank you for pointing that out!

[2018-01-03 15:15] #1046 closed

[2018-01-03 15:20] kroitor commented on #1048
[code]

[2018-01-03 15:20] #1048 closed

[2018-01-03 15:26] kroitor commented on #358
@xgdgsc without seeing your instantiation code it's hard to tell the reason, but most likely you don't need to use both .proxy and .aiohttp_proxy. The `.proxy` is for CORS only, whereas the `.aiohttp_proxy` is for controlling the tunnelling agent (use with SOCKS and HTTP proxies). Hope it helps.

[2018-01-03 16:22] s5s opened #1051 "bitfinex2 - missing markets"
Hi, the command ccxt.bitfinex2().load_markets().keys() does not return all the current markets trading on bitfinex. For example, "YYW/USD" is a market available on bitfinex but not through ccxt.

At least the following coins are missing: YYW, SNT, QASH, GNT

- OS: Linux Mint 18.2 Sonya
- Programming Language: Python 3.6
- CCXT version: 1.10.556 (updated though python's pip a few minutes ago)
- Exc

[2018-01-03 16:35] alexsith opened #1052 "Bitbay async fetch_market issue"
I saw this bug in different exchangers, right now in bitbay.net

- OS:
- Programming Language:
- CCXT version: 1.10.551
- Exchange: bitbay
- Method:  load_markets

[code]

[2018-01-03 17:47] marcobazzani opened #1053 "the rock order book imcomplete"
The rock trading order book is incomplete:

- OS:
- Programming Language:
- CCXT version:
- Exchange:
- Method:

[code]

[2018-01-03 17:51] marcobazzani commented on #1053
Same happening for other pairs

[2018-01-03 17:58] allenfrostline opened #1054 "Binance create_market_sell_order: Illegal characters found in parameter 'quantity'"
Here is a simple example of this problem. `a` is created as a Binance exchange object and the markets are already fetched. However,

[code]

Can anybody explain or solve this?

[2018-01-03 18:02] kroitor commented on #1052
Thanks for reporting!

[2018-01-03 18:02] #1052 closed

[2018-01-03 18:03] kroitor commented on #1053
@marcobazzani can you clarify, please? What exactly is incomplete in that L2 orderbook?

[2018-01-03 18:06] marcobazzani commented on #1053
as you can see from the dump l2 order book returns ~10 Orders
While if you go on the website or call the API by CURL it returns 470 orders

[2018-01-03 18:12] kroitor commented on #1054
@allenfrostline it's a bug, will be fixed very soon.

[2018-01-03 18:13] allenfrostline commented on #1054
@kroitor Cool. I thought so :)

[2018-01-03 18:14] kroitor commented on #1053
That's right, because L2 is an aggregated orderbook, explained here: https://github.com/ccxt/ccxt/wiki/Manual#order-book--market-depth
If you want a non-aggregated orderbook, you need to call `fetch_order_book()` instead of `fetch_l2_order_book()`. Does it help?

[2018-01-03 18:14] marcobazzani commented on #1053
the reason looks like it's calling
BTCEURN
instead of BTCEUR

[2018-01-03 18:16] kroitor commented on #1053
@marcobazzani ok, now I see the reason, indeed there's a symbol inconsistency there. Thanks for pointing that out. Will fix very soon.

[2018-01-03 18:17] marcobazzani commented on #1053
They also added ETHEURN which could lead to the same problem

[2018-01-03 18:20] #1053 closed

[2018-01-03 18:22] kroitor commented on #1051
@s5s hi! Thank you for reporting, this will be fixed very soon.

[2018-01-03 18:23] kroitor commented on #1052
This should work normally as of 1.10.557. Thx again1

[2018-01-03 18:33] marcobazzani commented on #1053
Fix tested,
Awesome man!

[2018-01-03 18:34] kroitor commented on #1053
@marcobazzani thank you fo reporting this! Cheers!

[2018-01-03 21:04] s5s commented on #1051
This is not isolated to bitfinex, I don't think. I find similar issue on binance (is that the case?). Would the fix target the root cause for all exchanges or is it exchange particular?

[2018-01-03 21:05] kroitor commented on #1051
@s5s should be ok with Binance. So far this is a known case of Bitfinex2, because it has hardcoded symbols, but we are going to rework it shortly.

[2018-01-03 21:13] MichaelYusko commented on #1051
@kroitor Someone working on this ticket? if no, I can look into.

[2018-01-03 21:27] kroitor commented on #1051
@MichaelYusko Thanks! The task is to implement fetchMarkets() for Bitfinex2, I was going to do that, but if you can submit a pull-request on this you will save me some time for other tasks. That would be awesome! )

Main considerations:
- we have to follow these rules exactly/literally:
    - https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code
    - https://github.com/c

[2018-01-03 21:29] reteps opened #1055 "Master list of all exchanges [REQUEST]"
I would be willing to implement a function that returns a exchange object given a string.

[code]

It would just return the exchange from a dictionary and pass the config argument.

[2018-01-03 21:29] hunsnowboarder opened #1056 "What does edit order do"
Can someone please explain what does edit order do? And how does it work (an example)?

I did not find any information about it in the manual.

Thank you so much for this awesome tool!

[2018-01-03 21:29] JamesMcGuigan commented on #961
This issue is especially true at times of heavy server load, such as during bubbles and crashes, which may include cloudfare DDOS warnings and I have found it may take 5-10 retires in a try/catch loop before finally getting a successful response

[2018-01-03 21:34] kroitor commented on #1055
[code]
↑ This is documented in [the Manual](https://github.com/ccxt/ccxt/wiki/Manual). Do you think there is a need for such a function?
↓ Also
[code]

Let me know if you still have questions on this.

[2018-01-03 21:37] MichaelYusko commented on #1051
@kroitor Got it, but one little moment, I'll able to look into, and make a PR, since the next Thursday/Friday, if it works for you, I'll do it.

[2018-01-03 21:37] kroitor commented on #1056
Some exchanges support *canceling+placing a new order* in one call (poloniex). For other exchanges that don't support that, the editOrder call will emulate it in two separate calls (cancel, then place new), effectively replacing or *editing* the order. Let me know if this answers your question.

[2018-01-03 21:41] kroitor commented on #1051
@MichaelYusko no worries then, I hope to fix it in next few hours when I get to it, and will update you here, of course.

[2018-01-03 21:42] allenfrostline commented on #1054
Hi @kroitor, can you give me an ETA of this bug being fixed? I don't mean to urge it but I can focus on other stuff if it won't happen today.

[2018-01-03 21:42] hunsnowboarder commented on #1056
Wow, this is megacool!
Could you please just give an example because I am having hard time to understand what args*  mean? I am not sure about the order of the arguments, and also about the exact name of the arguments? (i mean something like "new_price" and "new_volume" or just "price" and "volume"?)
Thank you in advance.

[2018-01-03 21:46] kroitor commented on #1056
This is the default implementation:

[code]

As you can see, it accepts the id + all params from `create_order()` in the same order:
[code]

So the full ordered set of **positional** arguments for `edit_order()` is:
- id
- symbol
- type
- side
- amount
- price
- params

Does this help?

[2018-01-03 21:51] MichaelYusko commented on #1051
@kroitor Cool, so I'll look into issues, since the next Friday;) and will help you to solve an issue.

Happy holidays!

[2018-01-03 21:55] kroitor commented on #1051
@MichaelYusko happy holidays to you! Thx!

[2018-01-03 21:55] hunsnowboarder commented on #1056
Thank you so much! Of course it does. :)
Just a question out of curiosity. Why is the symbol a required parameter? The order id should definitely identify the order. I suppose this is an expectation from the exchange just for double checking the command.
Anyway thank you so much for you help! You can close this thread now!

[2018-01-03 21:58] kroitor commented on #1056
Because they have separate databases with unsynchronized ids between the databases, so you can't mix one id with the other database, if you don't know the symbol.

Only if all your orders in the engine use the same linear id space. But this is often not the case.

If you think in terms of scalability, this can make sense. Separate clusters for separate pairs and unrelated orders = no accidental in

[2018-01-03 22:00] hunsnowboarder commented on #1056
Thank you so much! Of course it does. :)
Just a question out of curiosity. Why is the symbol a required parameter? The order id should definitely identify the order. I suppose this is an expectation from the exchange just for double checking the command.
Anyway thank you so much for you help! You can close this thread now!

[2018-01-03 22:00] #1056 closed

[2018-01-03 22:01] hunsnowboarder commented on #1056
Yes it does make sense! Thank you so much! Proud to become one of your backers!

[2018-01-03 22:09] kroitor commented on #1054
@allenfrostline it will happen today, the ETA is 4-6 hours from now, I didn't get to it yet. But I will.

[2018-01-03 23:23] eMDi101 commented on #1027
Hi,
I just want to switch to this library and now I have the same error.
Before I used the python-binance library of sammchardy and I could call up tickers in 0.5 seconds without any problems.

https://github.com/sammchardy/python-binance/blob/master/binance/client.py#L358

Cheers

[2018-01-03 23:35] kroitor commented on #1027
Hi, @eMDi101 ! Thanks for the notice!
The thing is: we are talking of the `allBookTickers` endpoint.
The library of sammchardy uses the `allPrices` endpoint – that one does not return full info, it will output price info only, without 24h ohlcv.

Now, in ccxt we support both endpoints, the `allBookTickers` + the `allPrices` as well, but for the tickers we use `allBookTickers` by default beause it

[2018-01-03 23:36] shnhrrsn opened #1058 "Indicate whether unified methods require a symbol or not"
It’d be super helpful if there was a way to tell ahead of time of `fetchOrders`, `fetchMyTrades`, etc… require a symbol parameter or not.

Some exchanges seem to have hard coded errors thrown when it’s missing, while others throw an API error.

[2018-01-03 23:39] kroitor commented on #1058
@shnhrrsn we are working on adding that feature, as well as other flags for exchange capabilities. However, it might be much safer to design you logic in a way that would always pass a symbol. Have you considered this?

[2018-01-03 23:42] shnhrrsn commented on #1058
Unfortunately, I'm actually trying to do the opposite, get full trade history in a reliable way across multiple exchanges for any symbol traded.

In my case, if I don't need a symbol it's much faster since an exchange like GDAX will happily give the full history, where as when it's required I have to loop through the pairs one by one

[2018-01-03 23:43] kroitor commented on #1058
Got it, hope to add this feature very soon.

[2018-01-04 00:00] Franjey opened #1059 "[PHP] Timestamp for this request is outside of the recvWindow."
Hi everyone.

I am trying to run the following (PHP):
`$orders = $bac->getOpenOrders(['symbol' => 'XVGETH', 'timestamp' => time()]);`

getOpenOrders is a method of this class: https://larislackers.github.io/php-binance/class-Larislackers.BinanceApi.BinanceApiContainer.html

My internet is sync (I believe, using windows 10) with the server: time.nist.gov

![image](https://user-images.githubusercont

[2018-01-04 00:05] kroitor commented on #1059
@Franjey which version of ccxt? Please update to most recent version of it and retry. I'd suggest to move this discussion here: https://github.com/ccxt/ccxt/issues/936. Closing this as a duplicate for now, if you don't mind.

[2018-01-04 00:05] #1059 closed

[2018-01-04 00:56] ironexmaiden opened #1060 "MARKET_ORDERS_DISABLED bittrex"
- OS: Windows
- Programming Language: Python
- CCXT version:
- Exchange: Bittrex
- Method: create_market_sell_order

Hello everyone I try to execute the folowing command but I got an error

ccxt.base.errors.ExchangeError: bittrex {"success":false,"message":"MARKET_ORDERS_DISABLED","result":null}

I checked my api key and i have the trades on!
[code]
Has anyone any tip on this?

[2018-01-04 01:11] kroitor commented on #1060
Hi! Bittrex has disabled all market orders, they accept limit orders only for now. Does this answer your question?

[2018-01-04 01:46] #1060 closed

[2018-01-04 02:26] #1054 closed

[2018-01-04 02:36] kroitor commented on #1054
This issue is fixed in ccxt as of version 1.10.559. Let us know if you have any difficulties with it. Thx!

[2018-01-04 02:45] allenfrostline commented on #1054
Thanks. Will test it right away:)

[2018-01-04 05:19] #1043 closed

[2018-01-04 05:30] xgdgsc commented on #358
I just want to make sure when I set `exchange.aiohttp_proxy` , `exchange.fetch_ohlcv` would use that proxy.

[2018-01-04 05:31] kroitor commented on #358
@xgdgsc it should (we tested it earlier). Let us know if you have any difficulties with it.

[2018-01-04 05:39] xgdgsc commented on #358
OK. Thanks!

[2018-01-04 07:13] hippylover opened #1061 "Difference between fetchMyTrades and fetchClosedOrders and cloudflare errors?"
Some exchanges support fetchmytrades, other fetchclosedorders and some support fetchmytrades but only with a symbol but what is the difference?

I am also getting a bunch of cloudflare issues on liqui, kraken, etc but this is a separate issue. I wanted to suggest using cloudflare scraper which may help(im on  python).

I want to support a lot of exchanges but every other command doesn't work makin

[2018-01-04 09:25] ironexmaiden commented on #1060
Is there a corresponding ccxt function which I can use for limit sell order?

[2018-01-04 11:31] hippylover opened #1063 "poloniex nonce error. override doesn't work. fresh api key and secret."
Hi im using python. Newest ccxt from pip install ccxt(how can i get the one from github if i want the latest-latest?)

[code]
Iv'e tried without overriding, with microseconds, milliseconds and seconds and it used fresh apikey and secret... It was strange because i seem to remember having gotten it working once after i switched api keys but i might be mistaken because i tried a lot of exchanges. Wh

[2018-01-04 11:41] hippylover commented on #1061
Hmm. I see now it is possible to send through proxy but im wondering how safe it is to send to for example herokuapp my api key and secret or am i misunderstanding something?

Anyway, i still wonder what is the difference between the two calls.

[2018-01-04 12:20] slidenerd commented on #878
Have you ever wondered how exactly coinmarketcap works, they do get data from 170+ exchanges dont they, they surely dont store it in a database given how much data they would actually get per second, seems like they use redis, also i wonder how they calculate that aggregate price and volume of theirs, doesnt seem like they take all prices into account as prices with low volume often become outlier

[2018-01-04 13:15] mkutny commented on #1061
Trade is an effect of order execution so these are completely different entities.

A placed order not necessary leads to a trade.

At the same time it could be that your order had been executed several times before it got fulfilled ('closed' in ccxt terms), in this case you'll get several trades. Or it might be that your order was only partially executed, in this case, there is a trade but no clos

[2018-01-04 14:36] hippylover commented on #1061
Ok, i see. What happens if i put an order in order book but then remove it before it is filled? Will i get an entry in "closedOrders" then?

[2018-01-04 15:07] mkutny commented on #1061
First things first:

* ccxt classifies order statuses by 'open', 'closed' (e.g. fulfilled) and 'canceled' (mind american's single 'l')

* ccxt unified API provides `fetchOpenOrders` and `fetchClosedOrders` but not `fetchCanceledOrders`

(as a result, you may find classification is a bit misleading as one would expect 'closed' to mean both fulfilled and cancelled)

Given above you now might guess t

[2018-01-04 15:12] PolybitSol opened #1065 "Meteor Issue: invalid for/in left-hand side in older Firefox and Safari versions"
Hey,

This may not be a wholly CCXT issue, but I am developing a Meteor application that uses the CCXT library. Everything works perfectly fine on Chrome, but when I load it on Firefox or Safari, I get the following error:

```SyntaxError: invalid for/in left-hand side```

[code]

- OS: Linux, Firefox & Safari
- Programming Language: JS
- CCXT version: 1.10.521
- Exchange: N/A
- Method: N/A

I've

[2018-01-04 19:43] kroitor commented on #1061
@mkutny thank you for explaining this!

@hippylover do you still have questions or difficulties with the above methods?

[2018-01-04 20:01] kroitor commented on #1063
Hi!

No need for that ) You basically screwed your nonce number because you actually tried various scales for values, whereas you should only redefine it if you have a nonce problem with a fresh key.

Here's a snippet of code with my fresh API key and secret, does it work for you?

[code]

If the above does work for you, then it means that you were not careful when choosing you keys and redefining

[2018-01-04 20:06] kroitor commented on #1060
@ironexmaiden:
- https://github.com/kroitor/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/wiki/Manual#placing-orders
- https://github.com/ccxt/ccxt/wiki/Manual#limit-orders

[2018-01-04 20:08] allenfrostline opened #1067 "Any suggestion for 502 Server Errors?"
It happens rarely but indeed it is an issue that needs to be considered when wrapping this package into a trading bot. I'm thinking about delayed recursions in error handling but apparently that's quite brute a solution.

[2018-01-04 20:11] kroitor commented on #878
Yes, I have.

Yes, they do.

Redis **is a dabatabase** (or, equivalently, most often used as a database for storing data):

![redis](https://user-images.githubusercontent.com/1294454/34582240-525f0b46-f1a4-11e7-9e9a-def11596474a.jpg)

They average their price feeds, like most other aggregators do. Therefore the lags and outliers. It's a normal thing when you average the values and weigh it by tota

[2018-01-04 20:18] kroitor commented on #1067
A suggestion would be to recover from a NetworkError with a delayed retry with backoff, or to crash on ExchangeError. The retry mechanism is not built into the library, but we are working on it as well, [here](https://github.com/ccxt/ccxt/issues/961). Does this answer your question?

[2018-01-04 20:25] allenfrostline commented on #1067
Thanks that's exactly what I was thinking about :)

[2018-01-04 20:27] kroitor commented on #1067
Ok, cool. The error hierarchy is outlined here: https://github.com/ccxt/ccxt/wiki/Manual#error-handling. I would close this for now, if you don't mind. Let us know if you have more questions, feel free to reopen it if needed.

[2018-01-04 20:27] #1067 closed

[2018-01-04 20:29] kroitor commented on #1065
Hi! Thank you for reporting this issue! We will add a fix for the issue. I hope to get to it as soon as possible.

[2018-01-04 20:33] rasmustaarnby opened #1068 "Binance privatePostUserDataStream returns 404"
Hi,

It seems that Binance has yet to move their user data stream api to v3.

When posting to `https://api.binance.com/api/v3/userDataStream` using the method `privatePostUserDataStream` it returns a 404.

When posting to `https://api.binance.com/api/v1/userDataStream` I get a a different error, which I'm unsure is a ccxt or binance bug.

Error:
[code]

- Programming Language: PHP
- CCXT version:

[2018-01-04 20:35] kroitor commented on #1068
Hi! Thanks for reporting! I will take a look into it and will get back to you shortly.

[2018-01-04 20:46] caioaao opened #1069 "Poloniex breaking when placing orders"
In version `1.10.561`, here's what I get:

[code]

looks like this is the change that broke it: https://github.com/ccxt/ccxt/commit/b2163bb9f778d59dffb0b8406f6ec96a10c61463

[2018-01-04 20:53] kroitor commented on #1069
Thx! Fixing it now.

[2018-01-04 20:59] maltium opened #1070 "Cryptopia create_limit_buy_order failing with an exception"
When using the Python version of the library, create_limit_buy_order() fails with the following exception:

[code]

The issue is that the *precision* argument in Decimal.quantize(precision) should be of Decimal type rather than a float.

I'm not sure if this issue affects other exchanges, seeing that it is present in exchange.py.

[2018-01-04 21:00] maltium commented on #1070
I see that someone else has reported the same issue a few minutes ago.

[2018-01-04 21:38] maltium commented on #1070
Please note that the latest commit does not fix the issue. The cryptopia exchange uses the truncate(num, precision=0) method rather than truncate_to_string(num, precision=0).

[2018-01-04 21:39] kroitor commented on #1070
@maltium will fix for Cryptopia as well, thx for pointing that out.

[2018-01-04 21:41] kroitor commented on #1069
This is fixed in 1.10.564. Thx again!

[2018-01-04 21:41] #1069 closed

[2018-01-04 22:07] mmehrle commented on #145
Hey guys - just wondering what happened to the websocket support. Any updates?

[2018-01-04 22:07] kroitor commented on #145
@mmehrle hi! See here: https://github.com/ccxt/ccxt/issues/56

[2018-01-04 22:08] mmehrle commented on #145
Wow that was fast!! Thanks mate!

[2018-01-04 22:08] kroitor commented on #1070
@maltium which version of Python do you have?

[2018-01-04 22:11] #1070 closed

[2018-01-04 22:12] kroitor commented on #1070
Related to #1069

[2018-01-04 22:12] maltium commented on #1070
I'm using Python 3.6.2

[2018-01-04 22:37] maltium commented on #1070
I confirm that it works.

Thank you for the prompt fix.

[2018-01-04 22:43] kroitor commented on #1070
Awesome! Thx! Let us know if you have any other difficulties with it! Cheers!

[2018-01-05 00:55] Yayap13 opened #1071 "New Exchange: Etherdelta"
Thank you very much for this amazing library.

I would like to make a suggestion of a new exchange: Etherdelta. It's a decentralized trading platform for Ether and Ethereum-based tokens.

This is the website: https://etherdelta.com/

This is the API documentation site: https://github.com/etherdelta/etherdelta.github.io/blob/master/docs/API.md

Thank you!!

[2018-01-05 01:14] txtilde opened #1072 "Passing a since value to GDax::fetch_ohlcv results in an invalid endtime calculation"
Specifying a $since value to gdax throws an "Invalid interval" exception due to an error in the calculated endtime.

- OS: Linux
- Programming Language: PHP
- CCXT version: 1.10.544
- Exchange: gdax
- Method: fetch_ohlcv

[code]

[2018-01-05 01:42] kroitor commented on #1072
Hi!
This particular change was introduced not very long ago.
I suggest to move this discussion here: https://github.com/ccxt/ccxt/pull/949 (we are still going to fix it anyway). Thank you for reporting, hope you don't mind if I close this for now as a duplicate.

[2018-01-05 01:42] #1072 closed

[2018-01-05 01:45] phrazer opened #1073 "binance STOP_LOSS_LIMIT / STOP_LOSS throws ExchangeNotAvailable"
when you try to make order on binance with 'STOP_LOSS_LIMIT' OR 'STOP_LOSS' it gives you this error back:

timestamp=1515116484446&symbol=SUBBTC&quantity=10&type=STOP_LOSS_LIMIT&side=SELL&price=0.00019000&timeInForce=GTC&stopPrice=0.0001900&recvWindow=10000000&signature=3a.......

PHP Fatal error:  Uncaught ccxt\ExchangeNotAvailable: binance POST https://api.binance.com/api/v3/order **400 not acce

[2018-01-05 01:46] phrazer commented on #1073
strangly other variants are working. like TAKE_PROFIT_LIMIT and TAKE_PROFIT

[2018-01-05 02:02] mikenew opened #1074 "Bitfinex fetch_ohlcv() - since parameter not working"
I'm calling `fetch_ohlcv` on the Bitfinex exchange with a `since  1/Jan/2018` on `interval "1d" `

Every call it returns 88 rows of data which is back to 10/Oct/2017.

- OS: Mac
- Programming Language: Python
- CCXT version:
- Exchange: Bitfinex
- Method: fetch_ohlcv

**Example 1 - Working - since = 2010-01-01**
[code]

**Example 2 - NOT Working code - since = 2018-01-01**
[code]

[2018-01-05 03:30] mpainenz opened #1075 "Exchange: Independent Reserve, Error: AttributeError: 'independentreserve' object has no attribute 'PlaceLimitOrder'"
PASTE_YOUR_TEXT_DESCRIPTION_HERE

- OS:
- Programming Language:
- CCXT version:
- Exchange:
- Method:

[code]

[2018-01-05 03:30] #1075 closed

[2018-01-05 03:33] mpainenz opened #1076 "Exchange: Independent Reserve, Error: "AttributeError: 'independentreserve' object has no attribute 'PlaceLimitOrder'""
Unfortunately, it appears that the Independent Reserver API is broken in some way. I cannot place a limit buy order.

- OS: Windows 10
- Programming Language: Python 3.6.4
- CCXT version: 1.10.566
- Exchange: Independent Reserve
- Method: create_limit_buy_order()

[code]

The traceback is as follows:
[code]

Thanks,
Mark

[2018-01-05 03:48] kroitor commented on #1073
Can you post your code to reproduce the problem (the minimal executable script) ? Thx!

[2018-01-05 04:03] kroitor commented on #1074
1. The `since` is in milliseconds, not in seconds.

2.

[code]

3. You should be looking at their last candle:

[code]

Let me know if this answers your question or not. Thx!

[2018-01-05 04:06] kroitor commented on #1071
Duplicate:
- https://github.com/ccxt/ccxt/issues/715
- https://github.com/ccxt/ccxt/issues/404

[2018-01-05 04:10] #1076 closed

[2018-01-05 04:29] kroitor commented on #1076
This is fixed in version 1.10.567. Thanks for your feedback! We will be happy if you report back whether it works for you normally or not.

[2018-01-05 07:08] hippylover commented on #1061
No, i think i understand. It seems that fetchOrder is the one most supported in exchanges and i will use that one when i buy/sell through my program to check orderstatus and fetchmytrades(and fetchclosedorders when it is not supported) to get a history of stuff not bought/sold through my program.

I am still wondering if using cloudscraper is an idea. I think this is a way to avoid sending through

[2018-01-05 08:34] quorak commented on #692
hey guys, is there actually  some code, that makes the significantDigits rounding work?

[2018-01-05 08:40] quorak commented on #692
Ah, found it of course. Would be worth implementing. Took me some while to figure out why my logic was faulty.
`
    priceToPrecision (symbol, price) {
            return parseFloat (price).toPrecision (this.markets[symbol].precision.price)
    }
`

[2018-01-05 09:00] mkutny commented on #692
Beware that Number.toPrecision() rounds up but you might be fine with that.

[2018-01-05 09:58] phrazer commented on #1073
ofcourse...

is this enough?
  //$sell = array('type' => 'STOP_LOSS_LIMIT', 'stopPrice' => '0.0001900');
  //$binance->create_order('SUB/BTC', 'limit', 'sell', 10, 0.0001900, $sell);

this twostrangly work:
  //$buy = array('type' => 'TAKE_PROFIT_LIMIT', 'stopPrice' => '0.0000900');
  //$binance->create_order('SUB/BTC', 'limit', 'buy', 20, 0.0000800, $buy);

  //$sell = array('type' => 'TAKE_PROFI

[2018-01-05 16:19] brmn opened #1080 "Php serialize/__sleep/unserialize exchange error"
- OS: linux
- Programming Language: php
- CCXT version: 1.10.562
- Exchange:
- Method:

[code]
 it is because of Exchange::__sleep() that dont serialize dynamically created methods and resources

suggest 1: implement __wakeup method like this
[code]

suggest 2: move curl_init from __construct() to fetch()

[2018-01-05 18:47] hippylover commented on #1061
Well i tried setting up cors-anywhere on localhost, and passing exchanges['kraken'].proxy = 'https://0.0.0.0:8080/' but it fails with: ccxt.base.errors.ExchangeNotAvailable: kraken GET https://0.0.0.0:8080/https://api.kraken.com/0/public/AssetPairs <urlopen error [SSL: WRONG_VERSION_NUMBER] wrong version number (_ssl.c:777)>

When i tried setting proxy to http i got a cloudflare error.

Well there

[2018-01-05 18:59] kroitor commented on #1080
Related to #930

[2018-01-05 19:57] kroitor commented on #1061
Yes it is. We are working on it. But you can already use it right away if you can set the tunneling agent properly: https://github.com/ccxt/ccxt/pull/599. But this is a completely different issue that is not related to fetchMyTrades.

Why do you need it? It won't help you bypass the cloudflare protection. The CORS-proxy is only needed if you're using the JavaScript code in the browser. It won't wo

[2018-01-05 20:56] kroitor commented on #948
@Deathamns has uploaded the initial implementation of CoinEx in the above pull-request, If anyone would like to help us implement their private API – your contributions are welcome!

[2018-01-05 21:00] kroitor commented on #1063
@hippylover you can reopen it if needed. Thx!

[2018-01-05 21:00] #1063 closed

[2018-01-05 21:02] Tsuihao commented on #110
Hi,

Did any one know why 'LTC/EUR' or 'LTCEUR' both display error: [ 'Equery:Unkown asset pair' ]?

[2018-01-05 21:03] kroitor commented on #110
@Tsuihao without seeing your code, it's hard to tell. The correct symbol to use with the unified API is `'LTC/EUR'`.

[2018-01-05 21:09] Tsuihao commented on #110
Hi kroitor,

Here is the screen image.

![image](https://user-images.githubusercontent.com/16992390/34628564-0c613076-f265-11e7-868f-416baf58bb0b.png)

[2018-01-05 21:34] kroitor commented on #110
@Tsuihao you don't use ccxt in your code. You use some wrapper over the JS version of ccxt (don't know why would you do that instead of using the python version of ccxt directly). I'm sorry, but I can't help you on the usage of `pykrakenapi` package – I'm not the author of it. If you want to use ccxt for the same, check out this example: https://github.com/ccxt/ccxt/blob/master/examples/py/fetch-o

[2018-01-05 21:40] Tsuihao commented on #110
Hi Kroitor,

Thanks for your explanation. I am switching to ccxt now.
It works fine.

Regards,
Hao

[2018-01-05 22:51] gerardo15 opened #1082 "OKEX CancelOrder error 10000"
Hello.

Whenever i try to cancel order using

await plataforma.cancelOrder(row.uuid_buy, row.mercado)

i get an result false error 10000

Is anyone experience this? i can buy, fetch, but no cancel?

[2018-01-05 22:52] kroitor commented on #1082
Hi! Can you post your code and **verbose** output?

https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2018-01-05 22:53] gerardo15 commented on #1082
static async cancel(row){
        let plataforma = await this.authorize(row);
        let result = {};
        await plataforma.cancelOrder(row.uuid_buy, okex.fixmercado(row.mercado))
            .then(function(value) {
                console.log(value)
            }, function(reason) {
                console.log(reason)
            });
        return result;
    }

{ Error: okex {"error_code":1

[2018-01-05 22:57] kroitor commented on #1082
@gerardo15 this does not look like ccxt code. We don't have the `authorize()` method. Can you show how you instantiate it? When I say "show your code" I mean a minimal snippet that I can copy-paste to reproduce your problem. No need for your keys, we just need to see if you use any rate-limiting, because a cancelOrder can fail if you're hitting a rate limit after createOrder, so the sequence of ev

[2018-01-05 23:02] gerardo15 commented on #1082
static async authorize( row ){
        let plataforma = new ccxt.okex();
        plataforma.apiKey = row.apikey;
        plataforma.secret = row.apisecret;
        return plataforma;
    }

then i just call cancel(row)

im doing single calls just to test, i have binance and bittrex working with my code.

[2018-01-05 23:05] kroitor commented on #1082
[code]

↑ What do you see after adding the above changes?

[2018-01-05 23:09] gerardo15 commented on #1082
Oh i'm sorry.

okex POST https://www.okex.com/api/v1/cancel_order.do
Request:
 { 'Content-Type': 'application/x-www-form-urlencoded' } api_key=67581183-2f32-****-853f-************&order_id=65885448&sign=D1D8928499AC6B10BC7E7B0AA2A1D6E2
okex POST https://www.okex.com/api/v1/cancel_order.do 200 OK
Response:
{"error_code":10000,"result":false}
(node:11180) UnhandledPromiseRejectionWarning: Unhandled

[2018-01-05 23:16] kroitor commented on #1082
@gerardo15 add this:

[code]

What is the SELECTED MARKET in your case?

[2018-01-05 23:18] gerardo15 commented on #1082
The output is "SELECTED MARKET : DASH/BTC"

[2018-01-05 23:25] #1082 closed

[2018-01-05 23:25] kaysond opened #1083 "hitbtc incorrectly identifies quote symbol as USD"
It looks like hitbtc trades in USDT: https://hitbtc.com/BTC-to-USD

However, the API symbol comes back as "XXX/USD". This is probably because their API returns the quote currency as USD: https://api.hitbtc.com/api/2/public/symbol

In the interested of having a "unified" API, I think ccxt should convert it to the proper "USDT".

That way something like this can work on multiple exchanges that use U

[2018-01-05 23:31] kroitor commented on #1082
Ok, there was an issue with cancelOrder for the OK\* family, now fixed in current version of ccxt 1.10.571. Can you update your version and report back if it now works normally for you or not?

[2018-01-05 23:32] #1083 closed

[2018-01-05 23:39] kroitor commented on #1083
Fixed in 1.10.573. Thanks for reporting!

[2018-01-05 23:41] mpainenz commented on #1076
Hi there,

Thank you very much, especially for your prompt response, but also for this library in general. Are you the lead dev?

I have managed to get a successful limit buy order working. Once thing I notice is that the function call required my values as Strings, or it fails. For another exchange in CCXT (Bittrex), I can pass floating point values. What 'should' I be passing?

The code which ex

[2018-01-05 23:53] kroitor commented on #1076
@mpainenz hi!

Yes, I am on of the developers of this library. I'm a member of a very small CCXT Dev Team. That counts 3 people, including myself. But we have not leads in the team. Moreover, a lot of the work on the library is done by the community of users like you.

This is a bug that needs a workaround in the Independent Reserve implementation. We are going to fix it soon as well. As you may k

[2018-01-06 00:13] gerardo15 opened #1084 "How to know the real amount bought in OKEX?"
Hello, i know this is not related to a bug or anything in ccxt, but was wondering if you have a solution for this.

when i buy an order and then fetch it i get the following

[code]

But in OKEX the balance is -> READ balance : 379.34768099

Even if the fee is 0.1% as a taker.. i have no way to find out the real balance... how did 0.004% comission came in place?

[2018-01-06 00:27] kroitor commented on #1084
It's hard to tell without seeing your READ/BTC balance before and READ/BTC balance after. Can you show those values in verbose mode? This seems like rounding effects coming from the OKEX themselves...

[2018-01-06 00:32] #1074 closed

[2018-01-06 00:52] kroitor commented on #1084
Also, what does their website history say?

[2018-01-06 01:24] marcobazzani opened #1085 "Flip XRP on The rock"
How can I flip EUR/XRP to XRP/EUR on TheRock trading
- OS: any
- Programming Language: python
- CCXT version: latest master
- Exchange: Therock
- Method: fetch_l2_order_book

Could you suggest me a way to flip the order book to align it with other exchanges ?
actually therock publish data in EUR/XRP and BTC/XRP while the rest of the exchanges are in XRP/EUR do you have any strategy to flip the api

[2018-01-06 01:48] kroitor commented on #1085
You can't really do that, because EUR and XRP base/quote positions are not interchangeable, therefore the exchanges' policies for fees and tokens in general aren't "flippable" (can't reflect them, because this is not an ideal mirror, we have to account for conversion rates and liquidity, globally).

This is a way to flip the price quickly, without accounting for the above important aspects:

[code

[2018-01-06 02:56] mpainenz commented on #1076
Thanks @kroitor,

Well this library will save me a lot of time, I'm very thankful for you all to be making this public. I was half way through writing a few custom API clients before I came across it. I hope Markets will become more forthcoming linking to this Library in their Documentation pages.

 The implementation is great, the unified API idea is solid.

Hopefully I get to spend a bit of time

[2018-01-06 03:08] mpainenz commented on #1076
While I'm here @kroitor, could I please ask, do any Cryptocurrencies use precision other than 8?

Thanks,
Mark

[2018-01-06 03:29] ydkishore30 opened #1086 "New Exchange: Coinbase"

[2018-01-06 04:00] mikenew commented on #1074
Thanks Victor - that has fixed t - didn't pick the millisecond thing

[2018-01-06 04:20] kroitor commented on #1076
@mpainenz yes, you should check for `.markets['BTC/USD'].precision` and `.currencies['BTC'].precision`, however, this aspect is also a work in progress, so those properties may be missing with some exchanges, but we are making progress unifying them all.
This is documented briefly, here: https://github.com/ccxt/ccxt/wiki/Manual#market-structure

[2018-01-06 04:23] kroitor commented on #1086
Related to:
https://github.com/ccxt/ccxt/issues/466

[2018-01-06 05:21] hippylover commented on #1061
Ok. Cool that you are working on it. I still think it is strange though and am forced to conclude you are doing something in your script that forces these cloudflare issues. The reason i am saying that is because i have made scripts for about 6 exchanges to work with their api's before trying this library both in python and bash(of all things -- this was before i learnt python) and i don't recall

[2018-01-06 05:29] hippylover commented on #1061
Here's the error:

[code]

[2018-01-06 05:47] kroitor commented on #1061
@hippylover ok, a few questions:

1. is it repeating upon the next call?
2. if it is, can you set .userAgent = 'your_arbitrary_string' on the exchange instance, then retry and report here if the error is persistent?

[2018-01-06 06:26] kingofclubstroy opened #1087 "A way to check if you can withdraw a coin from an exchange"
I was wondering if there is anyway to check to see if a coin is able to be withdrawn from an exchange.
There has been quite a few instances where a coin is bought but is prevented from transferring exchanges for whatever reason, and so is left waiting till the issue is resolved, so it would be helpful to know this before a coin is bought

- Programming Language: Python

[2018-01-06 06:31] kroitor commented on #1087
You should check the `.currencies` property of the exchange in question. If a currency has `['active'] = False`, it means it is not withdrawable. You should check for that like shown below:

[code]

 However, be aware, that this library is still a work in progress and not everything has been unified yet, therefore those flags may be missing on some exchanges. We will be happy if you contribute to

[2018-01-06 06:33] hippylover commented on #1061
1. Yes i get the same error on next try.
2. I sat .userAgent to the literal 'your_arbitrary_string' and it worked. I don't think this kind of thing should be necessary though. As iv'e said, i don't do any such thing in my scripts and it still works, also it is tedious to do these things if the point is to support multiple exchanges with one script which is the reason i want to use this script.
3.

[2018-01-06 06:49] kroitor commented on #1061
I checked your scripts and you use command-line curl. Now, back to your answer:

cURL sets its own userAgent, and even if you think it is not necessary, curl does that for you. If you run it with `--verbose` flag added, you'll see it within your scripts:

[code]

Next, we used to set our own default user-agent, but this can actually lead to more significant problems, like identifying and throttlin

[2018-01-06 06:50] hippylover commented on #1061
I don't use curl in my python scripts.

[2018-01-06 06:50] DavidChen427 opened #1089 "Bithumb create order function is not working"
PASTE_YOUR_TEXT_DESCRIPTION_HERE

- OS:
- Programming Language:
- CCXT version:
- Exchange:
- Method:

[code]

[2018-01-06 06:55] kroitor commented on #1061
@hippylover then you can print out the request headers from your python scripts to see the default user-agent that is sent there and compare it to verbose output of ccxt to see if there's a difference.

[2018-01-06 06:58] kingofclubstroy commented on #1087
Thank you for answering, I believe you are answering my question correctly but what gets returned when i call .currencies doesn't have a active key for any of the currencies. I have tried with binance, bittrex and hitbtc and they all return something like this:
{u'SKIN': {'code': u'SKIN', 'id': u'SKIN'}, u'GNO': {'code': u'GNO', 'id': u'GNO'}
, u'STX': {'code': u'STX', 'id': u'STX'}, u'SMART': {'c

[2018-01-06 07:02] kingofclubstroy commented on #1087
I have noticed when calling .fetch_markets() there is a "active" key and i had assumed that was what I wanted, but I wasn't sure as it was referring to a market so i think that just refers to whether that market is trading right?

[2018-01-06 07:06] hippylover commented on #1061
I don't know how to print out the request headers, but this is how i create it(atleast on yobit script):

signature = hmac.new(self.secret.encode(), data.encode(), digestmod=hashlib.sha512)
            headers = {
                'Key' : self.key,
                'Sign': signature.hexdigest(),
                'Content-Type': 'application/x-www-form-urlencoded'
            }

and this i how output

[2018-01-06 07:09] kroitor commented on #1087
@kingofclubstroy

Right.

For the exchanges from your list we don't have the `fetchCurrencies()` method unified yet (more about it here: https://github.com/ccxt/ccxt/search?q=fetchCurrencies&type=Issues), but we are working on it, and, btw, you can help us by submitting a pull-request ;) More on how to contribute: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md. We hope to add it asap.

U

[2018-01-06 07:14] kroitor commented on #1061
@hippylover this may be the case, I suggest to try setting the 'Content-Type' with ccxt like so:

[code]

↑ Does it work like that? If it does, we will add that header to yobit implementation and elsewhere, if necessary.

[2018-01-06 07:20] hippylover commented on #1061
Nope. Can you tell me how to check what request headers im sending and i will test it.

[2018-01-06 07:22] xeno14 opened #1090 "KeyError due to type inconsistency at parse_order of qryptos/quoine in Python"
Could you help on this Python specific issue?

### Issue
`parse_order` of qryptos/quoine always raise `KeyError` therefore `create_order` currently not works.

[code]

[code]
### Cause
`fetch_markets` returns `id` as string, `marketsById` works for string keys. On the other hand, `privatePostOrders` returns `product_id` is integer -- `marketsById` does not accept it.

[code]
I have tested Javascri

[2018-01-06 07:23] kingofclubstroy commented on #1087
It helps tremendously, have managed to find the info I need for all but binance so far, it would be appreciated if you could point me in the right direction there, but as always you gone above and beyond to help and is very appreciated!

[2018-01-06 07:27] hippylover commented on #1061
Hmm. i think it is just .headers. Anyway, this is the response i got with my script:

{'Date': 'Sat, 06 Jan 2018 07:25:53 GMT', 'Content-Type': 'text/html; charset=utf8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Set-Cookie': '__cfduid=ichangedthisbecausecookiescanbeusedforstuffithink:); expires=Sun, 06-Jan-19 07:25:53 GMT; path=/; domain=.yobit.net; HttpOnly; Secure, locale=en;

[2018-01-06 07:41] kroitor commented on #1090
Hi!

Thanks for this comprehensive report!

You almost did it right! You just missed one symbol, violating the rules from here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#derived-exchange-classes. This particular rule: *every opening bracket like ( or { should have a space before it!*.

So the line should be

[code]

Unfortunately, the transpiler is very sensitive and we use the spac

[2018-01-06 07:50] xeno14 commented on #1090
Thank you very much for quick reply and correcting my code. I will submit a pull-request soon later!

[2018-01-06 07:52] kroitor commented on #1087
@kingofclubstroy unfortunately they don't serve that info from their [REST](https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md) API nor from their Withdraw [WAPI](https://github.com/binance-exchange/binance-official-api-docs/blob/master/wapi-api.md). The only thing they serve is the [status of a trading pair](https://github.com/binance-exchange/binance-official-a

[2018-01-06 08:02] #1090 closed

[2018-01-06 08:02] kroitor commented on #1090
Fixed in #1091

[2018-01-06 08:10] hippylover commented on #1061
Ok, got it working through logging(https://stackoverflow.com/questions/10588644/how-can-i-see-the-entire-http-request-thats-being-sent-by-my-python-application):

[code]

This is output with fake key and secret with content type sat. If i remove Content-Type': 'application/x-www-form-urlencoded' from my script i get: {'success': 0, 'error': 'invalid key, sign, method or nonce'} even with correct k

[2018-01-06 08:14] kroitor commented on #1061
Ok, I was about to post that snippet from stackoverflow for you here... Now, let's do the same with ccxt (add .verbose = True on the exchange) what do you see in request headers and what is the difference in there? Can you post it here the verbose output (headers should be there)?

[2018-01-06 08:20] hippylover commented on #1061
[code]

resp:
[code]

[2018-01-06 08:27] kroitor commented on #1061
@hippylover can you request this particular URL: https://yobit.net/api/3/info with your python script and again post the request headers here, as you did in one of the messages above? The problem is with the public endpoint, not the trading api... So we need to compare headers for that URL.

[2018-01-06 08:33] hippylover commented on #1061
[code]

[2018-01-06 08:42] hippylover commented on #1061
Hmm. It seems no matter which call i make through ccxt it wants to talk to: https://yobit.net/api/3/info ... Even if i make private api calls...

[2018-01-06 08:46] kroitor commented on #1061
That is because it will try to preload markets first (it does that once and then caches them, but that particular request fails). Preloading markets is [explained in the Manual](https://github.com/ccxt/ccxt/wiki/Manual#loading-markets).

Back to your previous post – again, we see `User-Agent: python-requests/2.18.4` there...

Now, does this snippet work for you?

[code]

[2018-01-06 08:52] hippylover commented on #1061
Nope.

[code]

[2018-01-06 09:01] hippylover commented on #1061
Well this works:

exchange = ccxt.yobit({
    'headers': {
        #'Content-Type': 'application/x-www-form-urlencoded',
        'User-Agent': 'random'
    },
})

exchange.apiKey = "sdfsdf"
exchange.secret = "dsfdsd"

exchange.verbose = True

resp = exchange.fetchBalance() # both work
resp = exchange.public_get_info({'foobar': 'blabla123456'})  #both work
But it's strange that my own script needs

[2018-01-06 09:13] hippylover commented on #1061
Ah, ok. I see the commit. Does this mean that it will "just werk" now? I have installed ccxt from pip. How can i install the latest version?

[2018-01-06 09:29] kroitor commented on #1061
Can you please update ccxt to version 1.10.577 with `pip install ccxt --upgrade`  and try this code, without headers, without user-agent and without verbose mode:

[code]

or

[code]

It should work normally now. We will be happy if you report back.

[2018-01-06 09:43] tauren opened #1092 "Gemini sandbox URLs"
- Programming Language: JS
- CCXT version: 1.10.394
- Exchange: gemini
- Method: urls

Would be nice to add a *gemini* test URL. The following urls are in the [gemini API docs](https://docs.gemini.com/rest-api/#sandbox-urls):

Website
https://exchange.sandbox.gemini.com

REST API
https://api.sandbox.gemini.com

WebSocket Feed
wss://api.sandbox.gemini.com

Documentation
https://docs.sandbox.gemini.

[2018-01-06 09:47] #1092 closed

[2018-01-06 09:47] hippylover commented on #1061
Working! Great stuff man! Thanks!

I will keep my eyes open and see if it works with other exchanges too.

[2018-01-06 09:48] kroitor commented on #1061
Ok, feel free to reopen this, or just ask questions if you have any other difficulties with it.

[2018-01-06 09:48] #1061 closed

[2018-01-06 10:09] kroitor commented on #1092
Added in 1.10.578. Thx!

[2018-01-06 10:34] gerardo15 commented on #1084
Hello.

In verbose it returns the same amount, and also in the website shows the same as the api, but it does not match the balance. keep in mind that is just a fresh opened acount with only 1 trade

https://imgur.com/lTc0G33

[2018-01-06 10:42] kroitor commented on #1084
@gerardo15 yeah, but if you look at average price, on their website it somehow differs from the value reported by their API...

![screen-shot-2018-01-06-at-13 37 22](https://user-images.githubusercontent.com/1294454/34638948-559eb8d0-f2e7-11e7-8686-7c2bd6c51b2b.jpg)

↑ This might be worth submitting in a ticket to their support.

[2018-01-06 11:18] kroitor commented on #1080
Fixed in #1093. Thanks to @kornrunner !

[2018-01-06 11:18] #1080 closed

[2018-01-06 11:51] Tsuihao commented on #110
Hi @kroitor ,

FYI:
The Kraken output log is in "time-increasing" order.
However, the GDAX output log is in "time-decreasing" order
![image](https://user-images.githubusercontent.com/16992390/34639409-2eb027ec-f2e0-11e7-9c7e-c7d3e481c7f4.png)

![image](https://user-images.githubusercontent.com/16992390/34639418-4d7875f8-f2e0-11e7-9ec3-496f7be26e8f.png)

[2018-01-06 11:52] kroitor commented on #110
Thanks for reporting, @Tsuihao ! We will fix this asap.

[2018-01-06 12:14] Nitrooo opened #1094 "Cancelling an asyncio task raises InvalidStateError when rate limit is enabled"
- OS: Windows
- Programming Language: Python 3
- CCXT version: 1.10.579
- Exchange: any
- Method: fetch() with rate limit enabled

[code]
Output:
[code]
When `enableRateLimit` is `False` (or even `True` but `await asyncio.sleep(1)` is uncommented), the exception is not raised.
I'm not familiar with the throttling code, but the most trivial fix that seems to solve the issue would be to add a check

[2018-01-06 14:01] mmehrle commented on #56
Hey guys - I'm pretty new here but have immersed myself in ccxt over the past two weeks. If I may offer a suggestion regarding the WIP and to satisfy some of the eager beavers here interested in getting our hands on some [untested/undocumented] functionality. Many of us think in code and in my humble experience throwing together a few simple test examples in an ipython notebook would do wonders to

[2018-01-06 15:41] marcobazzani commented on #1085
Yes I did the 1/price flip
Just wonder if could be convininent to flip the full API.
But I get your point

Can you just me explain a bit more in depth your statement:
"we have to account for conversion rates and liquidity, globally"

Thank you

[2018-01-06 20:17] dhensen commented on #948
Is this the same as https://www.coinexchange.io ?

[2018-01-06 20:50] speggos opened #1096 "Kucoin initialization"
This reeks of something really simple I'm missing, but can't seem to figure out why this isn't working. Here's the code:

ccxtKucoin = ccxt.kucoin({'apiKey': kucoinKey, 'secret': kucoinSecret})
ccxtKucoin.loadMarkets()

Same syntax as every other market I've tried which works. Any ideas?

- OS: MAC OSX El Captain
- Programming Language: Python
- CCXT version: 1.10.579
- Exchange: Kucoin
- Method:

[2018-01-06 20:59] kroitor commented on #1096
- What is the output of `pip list | grep ccxt`?
- What is your Python version?
- What is the value of ccxt.__version__ if you print it just before `ccxt.kucoin({...` ?
- How do you link against ccxt in apiCalls.py ?

[2018-01-06 21:01] ironexmaiden opened #1097 "How to determine if bittrex's specific wallet is offline or under maintainance"
Hello,
Is there a way to check if a wallet on bittrex is offline or under maintainance etc?

I used cctx.bittrex.load_markets() for ['FCT/BTC'] and returns "active":true even though the wallet is currently offline

[2018-01-06 21:07] kroitor commented on #1097
Hi!

[code]

[2018-01-06 21:07] #1097 closed

[2018-01-06 21:10] ironexmaiden commented on #1097
Thank you ! But why ['FCT/BTC'] active returns true?

[2018-01-06 21:11] kroitor commented on #1097
@ironexmaiden because it is allowed to trade.

[2018-01-06 21:13] ironexmaiden commented on #1097
ok my fault! sorry for the inconvience

[2018-01-06 21:17] kroitor commented on #1097
no worries)

[2018-01-06 21:18] ironexmaiden commented on #1097
are you the main developer of ccxt?

[2018-01-06 21:31] ericvrp commented on #660
This is closed but was it fixed? When I create a limit buy order like this
`const buyResult = await this.exchange.createLimitBuyOrder(symbol, amount, price)`
and after one minute do
`await this.exchange.fetchOrder(buyResult.id, symbol)`
I get
`(node:32533) UnhandledPromiseRejectionWarning: Error: cryptopia order 248825909 not found in cached .orders, fetchOrder requires .orders (de)serialization i

[2018-01-06 21:32] mpainenz commented on #1076
Is the difference in precision per market, or per currency?

Also, do the developers have a chat channel or other place to communicate I might be able to participate in? I notice for example Independent reserve does not have fetch_order() implemented in the unified API yet, and I was looking to add it. A little guidance might be a time saver for me, as some of the Python syntax is unfamiliar to me

[2018-01-06 21:36] kroitor commented on #660
Do you stop your program between step one and step two? I mean, is it running all the time, or do you relaunch it a minute later?

[2018-01-06 21:40] Pmant commented on #660
according to #951 the order id gets lost at some point when calling fetch_orders.

[2018-01-06 21:43] kroitor commented on #1076
Can be both in general.

Yes ([example](https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#filters))

Also possible.

Sure, here:

[![Gitter](https://badges.gitter.im/ccxt-dev/ccxt.svg)](https://gitter.im/ccxt-dev/ccxt?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

I don't promise to answer right away, but I hope to respond asap. You can ask library-re

[2018-01-06 21:52] chastel opened #1098 "Network Request Failed"
I just wanted to start using ccxt. I read the manual and wanted to test the provided code snippets.

When I try to get the list of markets, I get an issue. But the funny thing is that the request was successful. I don't get why this happens.

I used 'create-react-app' to start with this project and added the snippet - that was all.

- OS: macOS 10.12.6
- Programming Language: JavaScript
- CCXT ver

[2018-01-06 21:53] kroitor commented on #660
@ericvrp , @Pmant this is an effect of Cryptopia not having any means of fetching order history, therefore we have to cache them upon creation so that you could access them, but if you shudown your program, you have to save that data and reload (deserialize it literally as the exception tells you to do), so that orders don't get lost and will be reloaded from disk upon next restart to keep it all

[2018-01-06 21:58] kroitor commented on #1098
Hi!

This is documented here: https://github.com/ccxt/ccxt/wiki/Install#cors-access-control-allow-origin

I'd recommend to read the [Manual](https://github.com/ccxt/ccxt/wiki/Manual) first, and then check out the [examples](https://github.com/ccxt/ccxt/tree/master/examples)... Also search for CORS to find more answers on your issue in this repository. Closing this as a duplicate if you don't mind.

[2018-01-06 22:05] #1098 closed

[2018-01-06 22:14] mpainenz commented on #1076
Thanks again @kroitor, that was really helpful.

[2018-01-06 22:16] speggos commented on #1096
ccxt (1.10.263)
Python 2.7.10

When calling ccxt.version or ccxt.version() I get this response:

  File "main.py", line 30, in <module>
    import apiCalls as api
  File "/Users/spencercox/Documents/code/flipBot/apiCalls.py", line 45, in <module>
    print ccxt.version()
AttributeError: 'module' object has no attribute 'version'

I don't know what your final question is asking.

Other exchanges (h

[2018-01-06 22:18] kroitor commented on #1096
Too old. That version is a month old or maybe even older. We are under active development therefore we ask our user to update frequently. Kucoin was not implemented back then )) Just update your ccxt version and you will be fine.

[code]

↑ Not necessary anymore because the reason is now obvious.

[2018-01-06 22:19] speggos commented on #1096
As I expected it was a silly mistake on my part. You're the man!

[2018-01-06 22:20] speggos commented on #1096
How to update?

[2018-01-06 22:23] speggos commented on #1096
typing the following: "pip install ccxt --upgrade" I get the following response:

[code]

[2018-01-06 22:24] kroitor commented on #1096
@speggos `sudo pip install ccxt --upgrade` ?

[2018-01-06 22:26] speggos commented on #1096
Also does not work

[2018-01-06 22:28] kroitor commented on #1096
@speggos how did you install it?

[2018-01-06 22:40] chastel commented on #1098
Oh, I didn't fully read the install section. Thank you for your quick response.

[2018-01-06 23:13] ericvrp commented on #660
I'll have a look at those issues tomorrow. The program keeps running in between the two calls. P.S. It could be that a fetchOrders is called in between I think.

[2018-01-06 23:22] Tsuihao commented on #24
Hi everyone,

I have met the same problem as mentioned above from @marinsokol5 .

`HTTPError: 400 Client Error: Bad Request for url: `https://api.gdax.com/accounts`

`During handling of the above exception, another exception occurred:
`

**and**

`ExchangeError: gdax {"message":"Invalid Passphrase"}`

ps: I did add 'password'

**Exchange**: Gdax

[2018-01-06 23:43] kroitor commented on #24
@Tsuihao make sure you don't miss the last two symbols in the secret of GDAX (the base64 ending of `==` – that is also a part of the secret key). This is a common pitfall. Let me know, if this is not the case.

[2018-01-06 23:47] Tsuihao commented on #24
@kroitor,
== is there, same as Kraken. And Kraken works for `fetch_blance()`.

[2018-01-06 23:52] kroitor commented on #24
@Tsuihao does this work for you?

[code]

[2018-01-06 23:58] Tsuihao commented on #24
Hi @kroitor,

Yes this works for me.
However, when I switched with my own apiKey, secret, and password.

then `ExchangeError: gdax {"message":"Invalid Passphrase"}` showed

[2018-01-06 23:59] kroitor commented on #24
@Tsuihao did you try recreating a new keyset (just to make sure you're not using wrong credentials with it)?

[2018-01-07 00:09] Tsuihao commented on #24
@kroitor, It works!
I thought the '**password**' is my personal password, and it turned out to be the `Passphrase`.
I think the key name '**password**' is a bit misleading.
Thanks for the help :+1:

[2018-01-07 02:55] Pmant commented on #660
Its not only after a shutdown, it doesn't even work right after the trade. Look at my code [above](https://github.com/ccxt/ccxt/issues/660#issuecomment-351428262).

Btw. what id is cached for orders which don't return an id, as pointed out [here](https://github.com/ccxt/ccxt/issues/660#issue-276433250)?

[2018-01-07 03:15] evgen-y2k opened #1099 "CEX.IO fees"
Method fetch_open_orders(symbol) not return fees in the "cost" field.
- OS: Linux
- Programming Language: Python 2.7
- CCXT version: 1.10.579
- Exchange: cex.io
- Method: fetch_open_orders(symbol)

Below example of returned order

[code]

[2018-01-07 05:40] jjhesk commented on #1029
do you allow to make pull request? @kroitor. what is the steps needed to be taken in order to pass thru all the test cases? are there any documentation about this?

[2018-01-07 06:18] makelinux commented on #1001
need to set **cf_clearance** and **User-Agent**, example:
[code]

[2018-01-07 07:19] Deathamns commented on #1029
@jjhesk Have already started working on it? Because I kind of did, public API is mostly implemented.

[2018-01-07 07:21] Deathamns commented on #948
https://www.coinex.com/ Not likely.

[2018-01-07 07:21] Deathamns commented on #942
Working on it...

[2018-01-07 07:22] Deathamns commented on #885
Working on it... However their API seems to be quite experimental, property names changed while I was testing.

[2018-01-07 07:59] Pmant opened #1102 "amountToLots strange values"
Method amountToLots returns unexpected values. Depending on the input, it even changes input values, which are multiples of lot size.
Tested on hitbtc2 and cryptopia, other exchanges may be affected as well.

- OS: Windows 10
- Programming Language: Node.js
- CCXT version: 1.10.579
- Exchange: multiple
- Method: amountToLots

[code]

[2018-01-07 08:05] amitkot commented on #345
Hi,
I'm getting this error when running a single query:

[code]

Output:
[code]

The odd thing is that when I run the query directly without the try-except it works fine.

[2018-01-07 08:21] love2kite commented on #1001
how can the CF clearance can be done in Node.js?

[2018-01-07 09:39] ericvrp commented on #660
Indeed, I do get an order.id (248825909 in my example above) but when using that (without exiting the nodejs script) I get the error message
`(node:32533) UnhandledPromiseRejectionWarning: Error: cryptopia order 248825909 not found in cached .orders, fetchOrder requires .orders (de)serialization implemented for this method to work properly`
which I should only get (if I understand you correctly) w

[2018-01-07 11:13] ionabio opened #1104 "GDAX EUR order fetching return NoneType"
Whenever I try to fetch my orders /EUR from GDAX:

`print(exchange.fetch_orders("BTC/EUR"))
`
 I get the following error:

[code]

is there any solution / workaround?

- OS: OS X High Sierra
- Programming Language: python
- CCXT version: 1.10.579
- Exchange: GDAX
- Method: NA

[code]

[2018-01-07 11:28] #1104 closed

[2018-01-07 11:29] ionabio commented on #1104
It was a mistake from my side, I had to supply a status. fetch_order_book instead

[2018-01-07 13:05] kroitor commented on #1085
@marcobazzani what I wanted to say is that when you reverse the sides of the pair you can introduce some unwanted side-effects. For example, some exchanges have different fees on the buy and sell sides. Also, holding a value of M xrp worth of N euro is not the same as holding N euro in the first place – when flipping sides you have to account for added risks of holding this or that coin. Some exch

[2018-01-07 13:05] #1085 closed

[2018-01-07 13:07] miriti opened #1106 "Kucoin fetchOHLCV results into 'TypeError: Cannot convert undefined or null to object'"
Trying to get the OHLCV data from Kucoin results to

[code]

- OS: Arch Linux
- Programming Language: JavaScript
- CCXT version: 1.10.579
- Exchange: Kucoin
- Method: fetchOHLCV

[code]
Raw programm output is here https://pastebin.com/raw/88PAPYDq (I hope linking pastebin is apropriate because the output is too long to past it into the message)

[2018-01-07 13:10] kroitor commented on #1029
@jjhesk https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

[2018-01-07 13:14] kroitor commented on #1001
@love2kite https://github.com/codemanki/cloudscraper

[2018-01-07 13:27] kroitor commented on #345
@amitkot can you post a minimal, but a complete sample of code that can be copy-pasted and run to reproduce your problem?

[2018-01-07 14:31] kroitor commented on #1102
Hi! We are going to rework this soon for a much better support for arbitrary precision. In the meantime, if you don't mind, I'd suggest to move this discussion to #522 , as a duplicate of the same nature. Thanks for reporting!

[2018-01-07 14:31] #1102 closed

[2018-01-07 14:36] #1096 closed

[2018-01-07 14:39] kroitor commented on #1099
@evgen-y2k:
1. `cost` = order cost (filled * price)
2. order['fee']['cost'] = fee cost (undefined in the above case)
3. as you can see from the unparsed `info` (it contains the untouched reply from CEX) – they don't return any fee for a yet-unfilled order.

Hope this answers your issue. Let us know if you have any more questions with it.

[2018-01-07 14:39] #1099 closed

[2018-01-07 15:00] kroitor commented on #660
@ericvrp, @Pmant  looking into it now, will let you know when this is fixed, thx for reporting!

[2018-01-07 15:05] kroitor commented on #660
@Pmant

Cryptopia does not return an order id at all in that case, so you can't fetch that order later by an undefined id.

[2018-01-07 15:08] kroitor commented on #660
@ericvrp can you please paste a minimal but a complete script to reproduce your problem?

[2018-01-07 15:17] kroitor commented on #1106
Hi! Unfortunately, Kucoin does not have a working OHLCV endpoints, even though it's documented, we've been trying it in various ways and it does not work. They only offer TradeView format, which is not supported in ccxt yet (your contributions are welcome). More about it here: https://github.com/ccxt/ccxt/issues/602#issuecomment-351777727.

[2018-01-07 15:20] #1094 closed

[2018-01-07 15:21] #1087 closed

[2018-01-07 15:22] #1084 closed

[2018-01-07 15:25] SAMOKILLER opened #1108 "Full list of working APIs"
Could you create a list of fully working APIs to understand which exchanges are already fully supported, and which ones are still in the process of work?

[2018-01-07 15:31] kroitor commented on #1108
https://github.com/ccxt/ccxt/blob/master/examples/js/exchange-capabilities.js

<img width="1634" alt="screen shot 2018-01-07 at 18 29 28" src="https://user-images.githubusercontent.com/1294454/34650857-c316061a-f3d8-11e7-98e5-7682ef79c3d9.png">

More about it here: https://github.com/ccxt/ccxt/issues/71

[2018-01-07 15:31] #1108 closed

[2018-01-07 17:10] kroitor commented on #763
I mostly have their public API ready, working on the private part now. If anyone would like to offer help with this, let me know, I'll upload it. Thanks!

[2018-01-07 17:25] miriti commented on #1106
Oh I see. kucoin.hasFetchOHLCV is actually set to `false`. I should have checked this first...

I'll look into this TradingView format issue and PR you if I'll have any success :)

[2018-01-07 17:26] kroitor commented on #1106
That would be awesome! Make sure to read this:
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#derived-exchange-classes

Thank you!

[2018-01-07 17:27] kroitor commented on #1106
@miriti would you mind if I close this for now, as this is somewhat duplicate to that issue?

[2018-01-07 17:28] miriti commented on #1106
Sure! It was me too fast to create an issues :)

[2018-01-07 17:28] #1106 closed

[2018-01-07 17:43] kroitor commented on #1102
@Pmant added a workaround to it, it will pass your values "as is", untouched, to Cryptopia for now.

[2018-01-07 17:49] Evandar276 commented on #761
If your server is running on Linux, just execute this script - it will update system time

`sudo date -s "$(wget -qSO- --max-redirect=0 google.com 2>&1 | grep Date: | cut -d' ' -f5-8)Z"`

Binance API should run instantly after this.

[2018-01-07 17:51] kroitor commented on #761
@Evandar276 thanks for this hint as well! Noe, however, that system clock can actually go out of synch pretty quickly, in less than 15 minutes. So this command has to be run frequently enough, or it can be substituted for a time-synchronizing daemon like nptd or whatever. My 2 cents.

[2018-01-07 17:53] kroitor commented on #761
More about it:
- https://github.com/ccxt/ccxt/issues/936
- https://github.com/ccxt/ccxt/issues/850

[2018-01-07 18:18] Evandar276 commented on #761
I had this problem on server which is running several years :) It was two minutes back, but I agree, I will install nptd to automate this.

[2018-01-07 18:20] upggr opened #1111 "fetch_trades for cryptopia since parameter"
I am unable to set the variable $since in php for the fetch_trades for cryptopia. whatever I enter, just defaults to 24 hours.

- OS:
- Programming Language: PHP
- CCXT version: Latest
- Exchange: cryptopia
- Method: fetch_trades

[2018-01-07 18:23] kroitor commented on #1111
They don't support filtering based on dates on their server-side. We can't really workaround it. Or do you mean filtering within 24 hours?

[2018-01-07 18:24] upggr commented on #1111
they support filtering based on the last X hours, can we not add a calculation there to find how many hours are since the timestamp to produce the correct api call?

[2018-01-07 18:25] kroitor commented on #1111
@upggr can you show that in their docs?

[2018-01-07 18:26] upggr commented on #1111
https://www.cryptopia.co.nz/api/GetMarketHistory/400/48

https://www.cryptopia.co.nz/api/GetMarketHistory/400/72

[2018-01-07 18:27] upggr commented on #1111
I am really sorry, i meant fetch trades

[2018-01-07 18:32] haythamabutair opened #1112 "fetchOHLCV Limit on historical data"
Is there a way to only get the past n data points? The current .get_historical_data retrievals all datapoints ( imagine the time complexity when running it against 250 coins)

- OS: Windows
- Programming Language: Python 2.7
- CCXT version: 1.10.521
- Exchange: Bittrex
- Method: get_historical_data

[code]
  historical_data = self.exchange_interface.get_historical_data(
            market_pair=mar

[2018-01-07 18:37] #1111 closed

[2018-01-07 18:39] kroitor commented on #1112
- https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-candlestick-charts
- https://github.com/ccxt/ccxt/issues/987

[2018-01-07 18:39] #1112 closed

[2018-01-07 18:46] upggr commented on #1111
sorry, php too? :)

[2018-01-07 18:55] gaardiolor opened #1114 "bl3p error fetching balances with python async"
Error fetching balances with python async. It works in sync.

- OS: Windows
- Programming Language: Python sync
- CCXT version: 527
- Exchange: bl3p
- Method: fetch_balance()

[code]

[2018-01-07 19:04] kroitor commented on #1111
@upggr yes

[2018-01-07 19:05] kroitor commented on #1111
@upggr update to 1.10.588

[2018-01-07 19:42] upggr commented on #1111
excuse me if I am wrong, but you changed the js file in the commit, i still get the same error when i try to do a fetch_trades() in php for cryptopia.
Can you confirm if the since parameter is in unix timestamp milliseconds or something else?
for example fetch_trades('DOT/DOGE',1515181037) or fetch_trades('DOT/DOGE',1515181037000) or something else?

[2018-01-07 19:45] haythamabutair commented on #1112
@kroitor  - When following the candlestick logic, this still returns data from the beginning. It does not return the last N elements. Am I missing something? Like in the params, should we be passing something there?

[2018-01-07 19:50] kroitor commented on #1111
@upggr i changed the JS file and if you have updated to most recent version 1.10.588, that change should be propagated to your PHP source, because we transpile from JS to Python and PHP upon building. More about it here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

If you read [the Manual](https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-candlestick-charts) carefully all unified methods

[2018-01-07 19:52] upggr commented on #1111
thank you and sorry for all those comments

[2018-01-07 19:52] kroitor commented on #1111
no worries!

[2018-01-07 19:59] kroitor commented on #1112
@haythamabutair

I've linked to a [duplicate post](https://github.com/ccxt/ccxt/issues/987) regarding the problem with fetchOHLCV, I'd recomment to read it. This issue was closed because it's a duplicate to that issue.

Yes, you're missing the fact that this functionality is still under development. We will be happy for pull requests and contributions. Until we finish the unification process, ther

[2018-01-07 20:05] kroitor commented on #1111
@upggr sorry, the build has not arrived yet. The correct version is 1.10.589. Will be there in 5-10 minutes. My bad.

[2018-01-07 20:06] haythamabutair commented on #1112
@kroitor - Thanks for the explanation.

[2018-01-07 20:07] upggr commented on #1111
:) thank you :) I have been looking since, too embarrassed to ask again :)

[2018-01-07 20:17] upggr commented on #1111
I can confirm it works perfect now in php

[2018-01-07 20:17] kroitor commented on #1111
@upggr ok, it's there, please update and retry again. `$since` should work now in 1.10.589. Sorry for the inconvenience and thx for reporting!

[2018-01-07 20:21] #1114 closed

[2018-01-07 20:30] kroitor commented on #1114
Fixed in 1.10.590. Thank you!

[2018-01-07 20:49] orkenstein commented on #71
@kroitor, I've noticed, that some exchanges have a mandatory `symbol` field for `fetchOpenOrders`. What's the plan? Maybe it worth to have some function like `ordersRequireSymbol`, to know before you get an exception?

[2018-01-07 20:52] kroitor commented on #71
@orkenstein https://github.com/ccxt/ccxt/issues/1058