[2021-08-29 15:49] kicksomedust commented on #9891
Sorry. I missed that, but thanks for taking the trouble to let me know.

[2021-08-29 17:26] NicolasWent commented on #9854
Hello,

Thank you very much for your answer, I didn't know I was testing right during binance upgrade.

[2021-08-29 18:20] drsavant-pub opened #9893 "CDAX fetchDepositAddress() Reports '403 Forbidden'"
I use the same code to retrieve deposit addresses for all exchanges that have this function.

- OS: win 8.1
- Programming Language version: v14.15.4
- CCXT version: 1.55.56

**Code**
[code]

Results were too long for body.  File attached instead.
[cdax-403-forbidden.txt](https://github.com/ccxt/ccxt/files/7073009/cdax-403-forbidden.txt)

[2021-08-30 02:37] frosty00 commented on #9882
@drsavant-pub I've made some edits to the website now, you can checkout https://bpaybridge.com

We are currently researching the ability to add more exchanges

[2021-08-30 06:32] freegab commented on #8666
Using bybit, how can I close a short/long at market price? I've tried 'reduce_only': True and 'close_on_trigger': True but it doesn't close my open orders, it just keeps adding to the position

[2021-08-30 08:52] GoodyNick opened #9894 "kucoin load futures markets and open positions"
I can instantiate exchange class in python with kucoin futures api keys and pass, and I can get my account balance, but when I call exchange.load_markets(), the list returned just contains spot markets, i.e. it does not have symbols such as XBTUSDM,
besides, I can not open positions via create_order() function, Here is the sample code:

    exchange = ccxt.kucoin({
            'options':{

[2021-08-30 11:08] Ali-moradi-dev commented on #9894
@GoodyNick  hi ,
the future section in KUCOIN is a separate part you should get another apiKey from the future section
you have to implement them manually because CCXT does not contain futures methods
checkout this link:
[implicit-api-methods]( https://ccxt.readthedocs.io/en/latest/manual.html#implicit-api-methods)
you can search in ccxt/kucoin.py and see all of the methods you can implement
in de

[2021-08-30 11:32] Ali-moradi-dev commented on #9162
@AlexField26 hi Alex #9839 I prepare some examples of KUCOIN future trading in CCXT

[2021-08-30 11:45] DUK3135 commented on #9162
Thank you for your email i really appreciate it

On Mon, Aug 30, 2021, 6:33 AM Ali Moradi ***@***.***> wrote:

[2021-08-30 13:27] heeropunjabi commented on #9894
Suggest me idea to develop in the crypto space.
Getting bored from MNC work.
https://docs.google.com/spreadsheets/d/1j9TsMk9_ne-Rkq2LbBMAV5d6IJzR0i2Dr9_SjSMaC4s/edit?usp=sharing

[2021-08-30 13:31] Maxximiliann opened #9895 "[wavesexchange] RecursionError: maximum recursion depth exceeded while calling a Python object"
OS: Ubuntu 20.04.2 LTS
    Programming Language version: Python 3.9.6
    CCXT version: ccxt 1.55.12

[code]

[code]

[2021-08-30 13:43] NicolasWent opened #9896 "[OHLCV][Average] Get average price for a day"
Hello,

What I would like to get is the average price of a certain coin for the day.

In the documentation I found nothing about getting the average for OHLCV values, maybe it should be a great feature to add, for example if we want the data for a day, we get the average selling price of the day, same for a minute.

I saw that there is something similar for Tickers, but the equation is: (last + op

[2021-08-30 15:26] pietrodn commented on #9856
Ok, I remembered we trace each HTTP request and response, and by inspecting the logs I have a solid hypothesis on what happens.

Some context:
1. We loop on `watch_orders()` once per symbol (for 2 symbols), same for `watch_my_trades()`.
2. We are using the Binance Futures API with CCXT Pro.
3. The CCXT Pro Binance Futures client refreshes its own "listen key" for websockets every 20 minutes.

Here

[2021-08-30 15:49] GoodyNick commented on #9894
Thanks for your reply, your template works for me for opening a position in a specific futures market, but still it seems that the load_markets() method does not return list of fututes markets,
to be more precise, the marketId argument in create order is only taken from spot markets,
so for now, it seems there is no endpoint in [kucoin futures api](https://docs.kucoin.com/futures/#general) to load

[2021-08-30 15:51] gshpychka commented on #6602
It's disappointing that your solution to the underlying issue is to avoid estimates.

[2021-08-30 17:08] #9856 closed

[2021-08-30 17:12] kroitor commented on #9894
@GoodyNick you can still call the implicit futures API of KuCoin as documented in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api

[2021-08-30 20:16] irfansamdani opened #9901 "Volume returned from bittrex via fetch_tickers is None"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- OS: Linux
- Programming Language version: python 3.8.10
- CCXT version: 1.55.54

[code]

[code]
As you can see from the output above, the volume is None. Am I doing something wrong?

[2021-08-30 20:20] kroitor commented on #9901
Bittrex serves very little info for tickers. Let us know if that does not answer your question: https://bittrex.github.io/api/v1-1

[2021-08-30 20:20] #9901 closed

[2021-08-30 20:29] irfansamdani commented on #9901
Thanks for the quick reply kroitor! v1.1 still returns quite a bit of information for market summaries from bittrex (https://api.bittrex.com/api/v1.1/public/getmarketsummaries) that isn't captured in fetch_tickers. Perhaps the question I posed above stems from my lack of understanding of fetch_tickers. How does it gather the data in the background?

[2021-08-31 05:50] Ali-moradi-dev commented on #9894
@GoodyNick  check out this endpoint on kucoin [open-contract-list](https://docs.kucoin.com/futures/#get-open-contract-list )

to use it with CCXT :
[code]
there are 65 contracts in KUCOIN futures and you can see the details

[2021-08-31 06:55] atelietom opened #9902 "Fetch position takes too much time."
- OS: Centos 7 & windows
- Programming Language version: python3.6&3.9
- CCXT version:1.55.46

[code]

[code]

[2021-08-31 07:02] DUK3135 commented on #9894
Damn I really appreciate you if there is anything I can do

On Tue, Aug 31, 2021, 12:51 AM Ali Moradi ***@***.***> wrote:

[2021-08-31 08:31] Ali-moradi-dev opened #9903 "Need help to open an order in okex Future market"
- OS: Ubuntu 20.04.2 LTS
- Programming Language version: Python 3.8.10
- CCXT version: 1.55.59

hey , I'm trying to open an order in OKEX but I'm facing this error
`,"sMsg":"Order placement failed due to insufficient balance.`

here is my code
[code]

[code]
Response :
[code]
 call the implicit futures API of OKEx
[code]

and again :
[code]
 here I opened an order on okex UI so I have sufficient b

[2021-08-31 08:42] SreekanthAvala opened #9904 "binance {"code":-1130,"msg":"Data sent for parameter 'limit' is not valid."}"
- OS: Windows
- Programming Language version: python
- CCXT version: 1.55.15

Getting error when I add limit = more than 100
 ex:
     allTrades = self.exchange.fetch_my_trades(symbol=symbol,since=since,limit=200)

 error : binance {"code":-1130,"msg":"Data sent for parameter 'limit' is not valid."}

it's working when limit = 100

[2021-08-31 08:47] kroitor commented on #9904
@SreekanthAvala post your verbose output plz:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[code]

[2021-08-31 08:58] SreekanthAvala commented on #9904
Request: GET https://testnet.binancefuture.com/dapi/v1/userTrades?timestamp=1630400302088&recvWindow=5000&symbol=BTCUSD_PERP&startTime=1630002600000&limit=200&signature=5ae56f8b3b602dc328dc5f26283ac1811101833dad2c81450491d59e930476b4 {'X-MBX-APIKEY': 'd6d082bd735115eb2e9079d0abad783787db57d1465dd35d41858d46b0a93494', 'User-Agent': 'python-requests/2.25.1', 'Accept-Encoding': 'gzip, deflate'} None

[2021-08-31 08:59] Ali-moradi-dev commented on #9894
@DUK3135 your welcome .

[2021-08-31 09:19] kroitor commented on #9904
- https://binance-docs.github.io/apidocs/futures/en/#account-trade-list-user_data

Does it work like this for you ? ↓

[code]

[2021-08-31 09:33] Ali-moradi-dev commented on #9903
i solve it
[code]

[2021-08-31 09:33] #9903 closed

[2021-08-31 09:35] atelietom commented on #9902
it takes 5 seconds on the line:
account=getattr(self,method)(query)

[2021-08-31 10:01] SreekanthAvala commented on #9904
@kroitor  again I got the same error
[code]

Request: GET https://testnet.binancefuture.com/dapi/v1/userTrades?timestamp=1630403936667&recvWindow=5000&symbol=BTCUSD_PERP&startTime=1629657000000&limit=200&endTime=1630261800000&signature=298dbacc90fb127540f9b3baf436d9058a875d6a1e13ba6b045b4a47efbea029 {'X-MBX-APIKEY': 'd6d082bd735115eb2e9079d0abad783787db57d1465dd35d41858d46b0a93494', 'User-Agent':

[2021-08-31 10:05] GoodyNick commented on #9894
@Ali-moradi-dev , thank you a lot! I will definitely try that :)

[2021-08-31 10:09] #9902 closed

[2021-08-31 10:10] kroitor commented on #9902
Let us know if this does not answer your question:

- https://github.com/ccxt/ccxt/blob/master/examples/py/binance-poll-positions.py
- https://github.com/ccxt/ccxt/wiki/Manual#loading-markets
- https://github.com/ccxt/ccxt/wiki/Manual#notes-on-rate-limiter

[code]

[2021-08-31 10:11] #9162 closed

[2021-08-31 10:14] kroitor commented on #9901
@irfansamdani sorry, that was an old link, the proper doc is here: https://bittrex.github.io/api/v3

<img width="1608" alt="Screenshot 2021-08-31 at 13 13 04" src="https://user-images.githubusercontent.com/1294454/131485131-b3d4942a-cdb3-40e6-affb-8d21fb39ec8b.png">

Check the source code:

- https://github.com/ccxt/ccxt/blob/master/js/bittrex.js
- https://github.com/ccxt/ccxt/blob/master/python/c

[2021-08-31 10:37] #9894 closed

[2021-08-31 10:42] Seshasai-N commented on #9904
Hi Sreekanth i'm also getting same issue Please send solution @kroitor. @SreekanthAvala Please let me know if you got solution.
Thanks in advance.

[2021-08-31 11:43] imran300 opened #9905 "Installation Error"
Hello,
Installing via Composer gives error
See attachment

![1](https://user-images.githubusercontent.com/7050400/131496598-40da5e84-775e-47e2-838b-1f2b9c453241.PNG)

[2021-08-31 11:57] Ali-moradi-dev commented on #9873
dear @jaype0x, in OKEx we have [AlgoOrder](https://www.okex.com/docs-v5/en/#rest-api-trade-place-algo-order) to place a stop order or OCO orders
you can check out this link

you can see how to implement an [AlgoOrder](https://www.okex.com/docs-v5/en/#rest-api-trade-place-algo-order) in OKEx:
[code]

[2021-08-31 12:01] kroitor commented on #9873
@Ali-moradi-dev hey! Thanks a lot for your involvement and your help answering the questions! It would be great to get in contact with you! If possible, please, reach out to igor@ccxt.trade if/when you have the time. Thx again!

[2021-08-31 12:06] Kinzowa opened #9906 "Why fetchStatus with Binance requires API_KEY ?"
Hello,

I upgraded CCXT to the lastest version and notice that the method fetchStatus() requires API_KEY when Binance allow to query the endpoint  wo API_KEY.

Could you please tell me if there is a possibility to query wo API_KEY ?

This is the error I have wo the key:
[code]

Best,
Kinzowa

[2021-08-31 12:09] Kinzowa commented on #9906
And verbose output with the key:
[code]

[2021-08-31 12:13] kroitor commented on #9905
Hmm.. there's no extra trailing comma in composer.json on line 982 in composer.json in the master branch here: https://github.com/ccxt/ccxt/blob/master/composer.lock#L982

What is your version of composer? What is your version of PHP? Which sequence of commands do you run to install ccxt?

[2021-08-31 12:15] kroitor commented on #9905
[code]

[2021-08-31 12:56] Kinzowa opened #9907 "watch_order_book error with Binance : Connection closed by remote server, closing code 1008"
Hello,

I upgraded both CCXT and CCXT Pro to the latest version and I receive this error when I try to watch Binance order book for one spot symbol :
[code]

Error code1008 is not referenced in the Binance API.

What do you think is the reason for this issue and how can I fix it?

Thank you,

This is how I initiate the loop:

[code]

[2021-08-31 15:21] csidi90 opened #9908 "coinbase pro / kucoin margin trading using licenced ccxt pro?"
Im wondering how to do margin trading using ccxt.pro or even ccxt with the coinbasepro and kucoin instances. Should be possible since I can trade with margin on both exchanges but can not find any functions in terms of margin trading besides when using binance.

[2021-08-31 16:11] agubas commented on #8271
@blackjid is there a formal procedure to whitelist a personal IP? I do no represent a business or app, but I am interested in using the Buda API and I am currently not located in a country you serve.

[2021-08-31 17:42] pnama commented on #9845
I opened bitget.py to fix the issue mentioned above and I found 'stopPrice': None. Does this mean we cannot order stop-loss order at this point?

[2021-08-31 20:03] irfansamdani commented on #9901
Thanks for that @kroitor . That helps understand the flow. I have a follow-up question. I see the following in fetch_tickers method

[code]
Is there a specific reason that publicGetMarketsTickers was chosen over publicGetMarketsSummaries for bittrex? I see the data returned by the latter to be more inline with what other exchanges are reporting (at least the ones I've tried e.g. binance, kraken et

[2021-08-31 20:13] kroitor commented on #9901
You can call the latter endpoint like so:

[code]

- https://github.com/ccxt/ccxt/blob/master/python/ccxt/bittrex.py#L209

[2021-08-31 20:29] irfansamdani commented on #9901
Awesome. Exactly what I was looking for. Thanks @kroitor

[2021-08-31 21:34] alishah79 opened #9910 "Crypto exchages with futures api service with python sdk/module"
hi.I have the latest version of ccxt.

What are some crypto exchages with futures api service with python sdk/module? other than binance.

[2021-08-31 22:15] kroitor commented on #9910
FTX, OKEX, Deribit, Phemex, etc... There's a number of them, actually. We hope to add more soon. Let us know if that does not answer your question.

[2021-08-31 22:15] #9910 closed

[2021-09-01 00:31] DUK3135 opened #9911 "Work"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Progr

[2021-09-01 01:25] Ross-Li commented on #2442
Check out Shrimpy, maybe they have what you need.

[2021-09-01 02:02] drsavant-pub commented on #9911
Do you know one of these programming languages: Javascript, Node, PHP or Python?

If so, then you should be able to follow most, if not all, of the documentation, [click here](https://ccxt.readthedocs.io/en/latest/manual.html).

If not, you need to learn one of these languages first before you will be able to implement ccxt.  (There are simply too many variables to answer your question.)

**If all

[2021-09-01 02:17] drsavant-pub opened #9912 "Bitz Now Has getCoinAddress End Point"
You can see the Bitz documentation for getCoinAddress end point [here](https://apidoc.bitz.com/en/recharge-interface/Get-Coin-Address.html)

- OS: win 8.1
- Programming Language version:  node v14.15.4
- CCXT version:  1.55.61

**Code:**
[code]
**Result:**
[code]

[2021-09-01 02:27] drsavant-pub commented on #9912
Follow up:
I attempted to use the implicit function: tradePostGetCoinAddress() but I can't make it work.  Either I got the parameters wrong or it is simply not implemented into ccxt

[2021-09-01 04:07] imran300 commented on #9905
Composer 2.0.8
PHP 7.3

composer require ccxt/ccxt

this is what i run and gets an error

[2021-09-01 06:59] DUK3135 commented on #9905
Those are great questions that I could not even begin to tell you why nor
do I know I'm just really starting out and I am using cloud console I get
some of it but please bear with me

On Tue, Aug 31, 2021, 11:08 PM Mian Muhammad Imran Shah <
***@***.***> wrote:

[2021-09-01 09:10] kroitor commented on #9905
@imran300

In which folder do you run that command? You should run it in your own project, make sure that your project is initialized with composer properly. This set of commands should do a clean install if you follow it precisely to a letter: https://github.com/ccxt/ccxt/issues/9905#issuecomment-909182075
Hope that answers your question, let us know if not.

[2021-09-01 09:10] #9905 closed

[2021-09-01 10:12] imran300 commented on #9905
I already have fresh installation of laravel and i am running it in laravel root folder so it shoudl work..

[2021-09-01 12:25] AlexHladun commented on #1485
I have the same problem. javascript

[2021-09-01 12:34] kroitor commented on #1485
@AlexHladun

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

Please, paste your code (without your keys, but including the exchange instantiation) and your verbose output in this issue.

[2021-09-01 13:26] AlexHladun commented on #1485
`const privateRequest = async (data, endPoint, type) => {
    const baseUrl = huobiConfig.HOST_URL.slice(8) //api.huobi.pro
    const queryString = qs.stringify({
        AccessKeyId: huobiConfig.API_KEY,
        SignatureMethod: 'HmacSHA256',
        SignatureVersion: 2,
        Timestamp: createTimestamp(),
        ...data
    })
    const preSignedText = [type, baseUrl, endPoint, queryString].j

[2021-09-01 13:28] AlexHladun commented on #1485
`const privateRequest = async (data, endPoint, type) => {
    const baseUrl = huobiConfig.HOST_URL.slice(8) //api.huobi.pro
    const queryString = qs.stringify({
        AccessKeyId: huobiConfig.API_KEY,
        SignatureMethod: 'HmacSHA256',
        SignatureVersion: 2,
        Timestamp: createTimestamp(),
        ...data
    })
    const preSignedText = [type, baseUrl, endPoint, queryString].j

[2021-09-01 13:29] kroitor commented on #1485
@AlexHladun we can't consult you on your custom code, we can only help if you're using CCXT. With CCXT you can pretty much do everything you would do yourself, although it will help you save your time. Start here:

- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/wiki/Manual

[2021-09-01 13:59] kroitor commented on #9620
@hjastenger can you paste a minimal complete working snippet of code to reproduce it (without your keys but including the instantiation)?

[2021-09-01 16:14] criptoice opened #9915 "Open Leverage order in Binance Spot"
Hi, how are you? I need some help
Binance has a Spot market that allows you to set orders with or without leverage. I am not talking about futures contracts, I am talking about the Spot market. In CCXT there is a module to connect Binance Spot but I cannot find information to be able to issue orders with leverage in the Spot market. Binance has the Spot market and has two wallets, one for leverage

[2021-09-01 16:26] kroitor commented on #9915
Hi!

You cannot trade with leverage with the spot markets, but you can trade with leverage using Binance perpetuals or with Binance futures (either USDT-margined or coin-margined). You can either instantiate `ccxt.binance` for spot/margin trading or `ccxt.binancecoinm`/`ccxt.binanceusdm` for futures trading with leverage.

Hope that answers your question, let us know if not.

[2021-09-01 16:26] #9915 closed

[2021-09-01 17:28] criptoice commented on #9915
Thanks for anwering,
Binance gives you the possibility to trade en the Spot Margin Market, sus
puntos finales API se pueden encontrar aquí:
https://binance-docs.github.io/apidocs/spot/en/#margin-account-trade

El mié, 1 sept 2021 a las 18:26, Igor Kroitor ***@***.***>)
escribió:

--

[image: Imagen]
Criptoice ***@***.***>

[2021-09-01 17:46] kroitor commented on #9915
@criptoice right, with Binance margin trading, you don't control the leverage directly, it's a ratio of the free margin to the total margin. Check this example: https://github.com/ccxt/ccxt/blob/master/examples/py/async-binance-create-margin-order.py

[2021-09-01 18:20] AxelGUILLAUMET opened #9916 "BINANCE futures MARKET BUY and SELL order with LEVERAGE"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2021-09-02 03:44] pankracy40i4 commented on #9724
Hi @kroitor. Firstly thanks for all great work on the project. Could u please share when the fix may be addressed?

[2021-09-02 03:59] freegab opened #9917 "How to execute Bybit futures trades?"
I'm having trouble finding details on how to execute bybit futures trades. Can someone provide some examples of buying/selling longs and shorts on bybit?

I have this code to get into a long position with 'buy' and I can get into a short position using 'sell', but I don't know how to close the positions:
[code]

I've also tried adding the options for 'reduce_only' and 'close_on_trigger' but it won

[2021-09-02 04:04] DUK3135 commented on #9724
I'm hoping I'm doing the right thing Cuz I'm doing something wrong on my
end Cuz nobody wants to pay me nor have I got paid if someone help me with
some answers about this

On Wed, Sep 1, 2021, 10:45 PM pankracy40i4 ***@***.***> wrote:

[2021-09-02 04:05] DUK3135 commented on #9724
How would I go about doing this sir

[2021-09-02 11:02] Kinzowa commented on #9907
Hello,

Am'I the only one having this issue ? my trading bot is currently not working due to this problem.

Best,
Kinzowa

[2021-09-02 12:36] unster opened #9918 "Is there a way to fetch realized PNL per trade?"
Hi team,

I was trying to fetch my realized PNL per trade, so I could i.e. increase the position next time with this PNL. I tried to juggle a bit with this solution https://github.com/ccxt/ccxt/issues/9281 but it seems that there is no way to retrieve this data nor to calculate it. Am I right?

This is all I could fetch:
![scr2](https://user-images.githubusercontent.com/25437340/131844581-c83f7130

[2021-09-02 19:03] geethpw opened #9919 "Poloniex timestamp Issue in PHP"
- OS: Mac OS Catalina
- Programming Language version: PHP 7.3.26
- CCXT version: 1.40
- PHP Time zone: EST
- Server Time zone:  EST

Poloniex trade data timestamp converts to the timezone of the system instead of UTC. For example, look at the following array that represents a single trade
[code]

Poliniex reports the timestamp as :  "date" => "2021-02-26 05:11:05.000000"
This converted using `strt

[2021-09-02 19:36] kroitor commented on #9919
Hi! Do you set the default timezone to UTC at the start of your script? It is mentioned in CCXT's Manual: https://github.com/ccxt/ccxt/wiki/Manual#instantiation

[2021-09-02 21:01] NicolasWent opened #9920 "[Binance] Do a "sell all" like "buy all""
Hello,

I've seen this way in order to do a "buy all": https://github.com/ccxt/ccxt/issues/6391#issuecomment-576247330

What I mean by buy all, is to use all your crypto in the trade.

For example, here I convert all of my bitcoin to ethereum:

[code]

It works fine, all my bitcoin has been converted into ethereum

But now, I want to sell all my ethereum into bitcoin, doing the same by just replac

[2021-09-02 23:17] #9845 closed

[2021-09-02 23:44] DUK3135 commented on #9845
I'm not really sure bro all I know is you might have to put things even
more simplified more than you already are so if you bare with me and if I
can do any one a favor back I will make it happen o just know that i have
to owed actually I know I have payments coming or owed on top of that I
also know that its probably my fault or my significant inexperience on the
details of a lot of this stuff bu

[2021-09-03 00:02] pnama commented on #9845
I just switched back to Binance which has been working since the beginning. Everything is cool.

[2021-09-03 00:34] tredondo opened #9921 "Binance staking balance"
Hi, how can we request the staking balance for Binance? Staked coins are not returned from `fetchBalance()`.

I looked for similar examples:
- For Kraken, fetchBalance() returns coins with a `.S` at the end, e.g. `ATOM.S`.
- For HitBTC, a [`type` parameter need to be passed](https://github.com/ccxt/ccxt/issues/288#issuecomment-335549106) for the `trading` vs. main balance.

But in the [Binance API

[2021-09-03 05:22] frosty00 commented on #9921
you can try:

[code]

let me know if this helped or if you need something else.

this will return the total amount staked in the flexible and locked savings products only, not the other products they offer, such as dual staking and defi staking.

[2021-09-03 05:38] frosty00 commented on #9907
@Kinzowa replace this code

[code]

[code]

ccxt will handle the disconnects and reconnect automatically.

Let us know if this does not solve your problem and thanks for using ccxt pro!

[2021-09-03 06:53] sonofliberty opened #9922 "Bitfinex withdrawal not working"
The withdraw method of bitfinex2 calls an unknown method "getCurrencyName".

- OS: Ubuntu
- Programming Language version: PHP
- CCXT version: 1.53.65

[code]

[code]

[2021-09-03 07:49] NicolasWent commented on #9920
Hello,

So I already had the solution to my problem but it was not working on their test environment :'(

First of all, 'quoteOrderQty', only specify the amount of the 'left' coin, in my example, when I put 12 in my 'quoteOrderQty', it means that I want to sell bitcoin until I have 12 ETH (the reverse of what I want to do :-1: )

So the solution is simpler:

[code]

Using the code above in test en

[2021-09-03 07:49] #9920 closed

[2021-09-03 08:11] kalamengde commented on #7554
sub account  api log in  fail ,

exchange = ccxt.ftx ({
  "enableRateLimit": "true",
  "apiKey": "xxxx",
  "secret": "xxxxxxa",
  "headers": {'FTX-SUBACCOUNT': "my_subaccount_cake"},
})
print (exchange)

ftx_set_order=exchange.private_post_orders({'market': 'CAKE-perp', 'side': 'buy',  'price': 11,"size":"1"})

[2021-09-03 09:14] sungmin9939 opened #9923 "How to set leverage in Binance future??"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Window1

[2021-09-03 10:40] tredondo commented on #9921
Thanks @frosty00, that helped. The shape of the returned object is a bit different though. It looks like for `({ type: 'savings' })`, the library doesn't parse balances per coin.

Here is `data` from `binance.fetchBalance().then(data => console.log('just fetchBalance', data));`:

[code]

And here is `data` from `binance.fetchBalance({ type: 'savings' }).then(data => console.log('SAVINGS', data));`

[2021-09-03 10:50] bifot opened #9925 "How I can watch for breaking change releases? What's versioning system do you use?"
When you update minor version and when the patch? Also any list of breaking changes?

[2021-09-03 11:38] kadnan opened #9926 "How to fetch Deribit's Velocity Index data?"
Hi

I need to grab the data returned by the API endpoint `get_volatility_index_data` ([link](https://docs.deribit.com/#public-get_volatility_index_data)). How can I fetch it?

I am using the ccxt version `1.42.25` in Python.

[2021-09-03 11:43] phips28 commented on #9921
JFYI: Binance does not offer endpoints for balance of "Locked Staking" products.

[2021-09-03 14:06] tredondo commented on #9921
Unfortunately, @phips28 seems to be right. In the `binance.fetchBalance({ type: 'savings' })` results, those `{ asset: 'BTC', free: '0.00000000', locked: '0.00000000' }` entries don't match what I have staked. `locked` is 0 for a coin I have staked.

So there's no way to get the amount of staked coins via the Binance API?

[2021-09-03 14:07] geethpw commented on #9919
@kroitor that seemed to be the problem. The funny thing is it worked on Kucoin, FTX, etc. We only had the issue for this exchange. But UTC at the initiation fixed it.

Thanks

[2021-09-03 14:22] jamesbaber1 opened #9928 "Huobi Exchange parse ticker None type error"
- OS: ubuntu 18.04
- Programming Language version: Python 3.8
- CCXT version: 1.55.56

[code]

[code]

I have done some testing and this code doesnt repro the error, but I think technically should if run long enough.  I am running a bot that uses ccxt and will run it for a few days until it randomly fails.  The None type error comes from a case when the ticker value is None in the parse_ticker met

[2021-09-03 15:02] phips28 commented on #9921
Nope. They dont have an endpoint for that.

[2021-09-03 15:09] #9921 closed

[2021-09-03 15:40] kroitor commented on #9925
Let us know if this does not answer your question:

- https://github.com/ccxt/ccxt/issues/9758
- https://github.com/ccxt/ccxt/issues/9391
- https://github.com/ccxt/ccxt/issues/2483

[2021-09-03 15:40] #9925 closed

[2021-09-03 15:42] kroitor commented on #9923
@sungmin9939 you should instantiate binanceusdm instead of binance if you want to trade futures:

[code]

Let us know if that does not answer your question.

[2021-09-03 15:42] #9923 closed

[2021-09-03 15:44] bifot commented on #9925
Didn’t receive an answer about versioning, the referenced issue still open

[2021-09-03 15:59] kroitor commented on #9925
@bifot in short, we used to have a CHANGELOG, but since we are pushing new fixes and updates daily we cannot maintain such a changelog. You can see the commit log to this repo instead. If a change is breaking the backward-compatibility we usually announce it separately.

[2021-09-03 16:01] kroitor commented on #9920
@NicolasWent thanks for your feedback, we appreciate it!

[2021-09-03 16:34] #9919 closed

[2021-09-03 16:44] bifot commented on #9925
Where do you post announces?

[2021-09-03 16:47] kroitor commented on #9925
@bifot we usually post them here in the issues: https://github.com/ccxt/ccxt/issues?q=is%3Aissue+label%3Aannouncement+is%3Aclosed

[2021-09-03 19:07] me1029134 opened #9929 "CCXT Pro: 'fetchBalanceSnapshot': True on Binance, doesn't seem to be working like how I was expecting it to"
- OS: Windows
- Programming Language version: 3.8
- CCXT version: CCXT Pro version 0.8.29 (just updated)

Description:
Maybe I don't understand what 'fetchBalanceSnapshot' is doing, but I was expecting it to maintain an active full Balance of my coins locally.
If I set 'fetchBalanceSnapshot' to False. Then it does print my balance, but only the balance that the last trade was affecting (i.e. only

[2021-09-04 09:14] Kinzowa commented on #9907
Hi @frosty00 thanks for the answer.

I did the modification, unfortunnatly the error is thrown in loop until my IP is banned by the remote host. However I noticed that when there is only 4 markets stream to monitor there is no error. Any idea what could be the reason ?

With 5 markets:

[code]

With 4 markets:

[code]

What could be the reason for this ?

[2021-09-04 09:52] Kinzowa commented on #9907
Please find below a reproducible example:

[code]

[2021-09-04 15:48] wkamer opened #9931 "The CCXT fetch_balance is about 5/6 times slower than get_account on Binance"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: MacOS
-

[2021-09-04 16:03] #9931 closed

[2021-09-04 16:03] kroitor commented on #9931
This is explained in the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/wiki/Manual#notes-on-rate-limiter

Let us know if this example does not answer your question:

- https://github.com/ccxt/ccxt/blob/master/examples/py/binance-poll-balance.py

[code]

[2021-09-04 16:14] wkamer commented on #9931
Thank you for your reply, but I do not really understand what this does explain.

What does 'ccxt.binanceusdm' have to do with 'ccxt.binance'?

[2021-09-04 16:33] kroitor commented on #9931
@wkamer pardon, that was a copy-paste typo, i've edited the above reply, if you set your keys and run it on your side, you will see that ccxt works as fast as the other software.

[2021-09-05 02:24] sbeeve commented on #1972
Hello!

I am trying to purchase DUCKUSDT through the API.
I am getting a Min Notional Error
The min_notional says 10 when I use symbol_info
Therefore anywhere above 50 USDT + fees * 0.2 market price should meet this requirement.
I have tried to purchase various amounts worth of DUCK up to 80$ and am still getting this error!
Any help would be great

[2021-09-05 02:31] kroitor commented on #1972
@sbeeve hi! please, paste your code including the instantiation but without your keys and your verbose output (request + response with verbose mode enabled):

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help`
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2021-09-05 03:11] sbeeve commented on #1972
![FINANCES](https://user-images.githubusercontent.com/72493887/132113581-775cfdac-239f-4351-a262-278adf5492cd.jpg)
My Code is using binance client python library. Its very messy as this is my first draft. I am unsure how to print verbose response through the API.

[2021-09-05 14:43] kroitor commented on #1972
@sbeeve we can't support you outside of ccxt, unfortunately. In CCXT you can do it like so:

[code]

[2021-09-05 14:59] fl4p opened #9933 "exmo fetchOrderBooks bug"
See https://github.com/ccxt/ccxt/blob/master/js/exmo.js#L615
line
[code]

should be:
[code]

[2021-09-05 15:01] #9933 closed

[2021-09-05 16:10] omnigolp commented on #9602
How is the investigation going?

[2021-09-05 17:05] DavidXanatos opened #9934 "[New Language] Transpiled Go Lang port of CCXT"
We have created a transpiled version of CCXT for Go that’s working with 100+ exchanges: https://github.com/prompt-cash/ccxt-go

It’s all still very alpha, so no guarantees of any kind. Especially some rarely used helper functions are not implemented yet and just panic with a todo message. If you need these exchanges you will need to implement those.

We are aware others tried to do this before, bu

[2021-09-05 17:38] wkamer commented on #9931
Thanks, I tried the script your way and see it has good results by. Still a little slower, but around 500ms. I will have to look were my delay came from. I have also slower result (mostly above 1.4s)with my FastAPI app. Suggestions how to debug this?

[2021-09-05 19:37] kroitor commented on #9931
@wkamer

If you don't want any delays, you can disable the rate limiter entirely, at your risk (since if you disable the rate limiter, your requests may be too aggressive for the exchange API and they might ban you temporarily for too many requests).

[code]

Reuse the exchange instance instead – create it once at the start of your script. Then do a fetch_balance call. Then leave your script runni

[2021-09-05 22:02] kroitor commented on #9934
Hey!

First of all, thanks for your involvement! Great job!

It starts with automating the transpilation process within the build sequence (this is done on Travis CI for CCXT: https://app.travis-ci.com/github/ccxt/ccxt/). I took a quick overview of the ccxt-go repository. As far as I see, the repository contains the result of transpilation, but I could not find the transpiling code itself, can you

[2021-09-06 06:11] gshippee opened #9941 "javascript works for FTX us, but not python"
- OS: Microsoft Windows 10
- Programming Language version: Python3.8.1, Javascript
- CCXT version: 1.55

Hi, I've been trying to get the python version of the ftx api working with the following code.

[code]

And am receiving the following error:
[code]

If, however, I download ccxt with npm and run the following javascript code, using the same key and secret as in the code above, the command to f

[2021-09-06 09:29] monk-after-90s opened #9943 "gateio create_order ERROR"
ccxt==1.55.84

When call create_order, error raised

[code]

[2021-09-06 09:33] #9943 closed

[2021-09-06 10:07] jatsinstasis opened #9944 "New Exchange Request"
[code]

[2021-09-06 12:38] pickmone opened #9945 "Code Stuck"
Not sure how I can reproduce this. but once in a while, when I examine my code because it hasn't done anything in a while, I find that the code is stuck in a loop somewhere, but usually it would have something to do with watchorder or network errors. Not exactly sure where,

but is anyone else having this issue?

[2021-09-06 14:12] kroitor commented on #9941
@gshippee hi, do you have this issue in python with the most recent version of the lib?

[2021-09-06 14:14] kroitor commented on #9945
Hi! We need more info to be able to help:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

Please, check these duplicate issues (we suggest moving this discussion there for less duplication):

- https://github.com/ccxt/ccxt/issues/9602
- https://github.com/ccxt/ccxt/issues/8698
- https://github.com/ccxt/ccxt/issues/7858
- https://github.com/ccxt/ccxt/issues/7011

[2021-09-06 14:14] #9945 closed

[2021-09-06 17:39] gshippee commented on #9941
Hi kroitor, thank you for replying. I just performed an update to version 1.55.88 and am still running into the same issue.

[2021-09-06 17:44] kroitor commented on #9941
@gshippee

Let's try these two snippets and compare them:

Python:

[code]

JavaScript

[code]

[2021-09-06 17:52] gshippee commented on #9941
For Python:
[code]

For Javascript, interestingly enough this snippet doesn't seem to return the balances. The one I posted above still does (which was just a slight modification to one of the scripts in your examples directory), however.

[code]

[2021-09-06 17:56] kroitor commented on #9941
@gshippee how do you launch the javascript code? What is your version of node? Both snippets should output the verbose request+response for the fetch_balance call. The idea is to compare the keys in the output between the two snippets.

[2021-09-06 18:05] serteikas opened #9946 "Symbols not being universal"
Cannot place_order with symbol "ADAUSDT" on Binance Spot, "ADA/USDT" works though.
- CCXT version: 1.55.88

[code]

[2021-09-06 18:06] kroitor commented on #9946
Please, read the Manual: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[2021-09-06 18:06] #9946 closed

[2021-09-06 18:09] gshippee commented on #9941
I see. Yes, my apologies I'm not too familiar with running javascript code (just learned it to run this library), and you're correct, when I comment out the verbose line it is revealing that the command is going through ok, it was just being truncated before...
I was running it in visual studio code with the node.js debugger, and I think that's why the output was truncated.

Just ran the same snip

[2021-09-06 18:13] kroitor commented on #9941
@gshippee i don't have a windows system to test it rn, but will install on a virtual machine and will check on my side. Both snippets work for me on MacOS (basically, the same thing as Debian Linux).

[2021-09-06 18:14] gshippee commented on #9941
Ok, I will try to do the same with a linux system and let you know the results on my side. Thank you for your support in helping debug this.

[2021-09-06 20:08] gshippee commented on #9941
Hi Kroitor, just resolved the issue. Somehow my clock wasn't syncing correctly for python, so the timestamp was getting messed up. Thank you for your time and for helping me remove the other variables that could have potentially been an issue here from the list.

[2021-09-06 20:08] #9941 closed

[2021-09-06 20:22] greenfield-br opened #9948 "oceanex k-line api endpoint for missing fetchOHLCV"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Progr

[2021-09-06 20:26] kroitor commented on #9941
@gshippee thx for reporting back! Good to know you figured it out!

[2021-09-06 20:33] frosty00 commented on #9946
fixed in https://github.com/ccxt/ccxt/pull/9949

[2021-09-07 11:45] kroitor commented on #1952
Good news, everyone! There's significant progress on the support for Go in CCXT: [Transpiled Go Lang port of CCXT](https://github.com/ccxt/ccxt/issues/9934) –  https://github.com/ccxt/ccxt/issues/9934

[2021-09-07 11:59] Darkbladecr commented on #9934
Exciting stuff @DavidXanatos would be nice to see how you have built the transpiration process.

Will have a play around when I get some time later this week.

[2021-09-07 13:40] christyjoe opened #9953 "'string indices must be integers' error while parsing binance orders"
- OS: mac
- Programming Language version: Python 3.8.5
- CCXT version: 1.55.98

Unable to parse binance order response.
[code]

[code]

[2021-09-07 13:52] kroitor commented on #9953
@christyjoe the second argument to parse_order is a `market` structure, not a `symbol`.

[2021-09-07 13:52] #9953 closed

[2021-09-07 13:54] kroitor commented on #9953
[code]

[2021-09-07 18:03] MS8dark opened #9955 "Only stream delta of orderbook"
This is a queation for convenience functionality . There exists documentation for streaming the order book using ['exchange.watch_order_book'](https://github.com/ccxt/blob/master/examples/ccxt.pro/py/bitvavo-watch-order-book.py). This returns not the changes to the orderbook (relative), but the whole orderbook itself (absolute). Is there a convenience function that let`s one stream *public* orders

[2021-09-07 19:23] fvsgit commented on #9799
@frosty00 any news on this topic? Please let me know if I can help to test.

[2021-09-07 19:56] frosty00 commented on #9799
@fvsgit I don't think this is a memory, could just be a normal behaviour of the garbage collector. Moreover pls feel free to make a separate issue for this as it is not related to the original issue.

[2021-09-07 19:57] frosty00 commented on #9799
@fvsgit the issue is still there, working on it...

[2021-09-07 23:38] rxall opened #9957 "Occasionally calls to fetch_balance() cause a TypeError, occurring with multiple exchanges"
- OS: Ubuntu 20.04
- Programming Language version: PHP 8.0.10
- CCXT version: 1.55.92

[code]

[code]

[2021-09-07 23:41] kroitor commented on #9957
@rxall please, always provide your code, including the instantiation (but without your keys), and your verbose request+response output precisely as documented here:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[code]

[2021-09-07 23:54] bongkook opened #9958 "About Bitget Exchange's MIX API support plan"
Hello.
Bitget exchange's swap api will end on September 11th, and it is said that you need to use the mix api to use unified futures.
I wonder if there are plans to support the mix api.

[2021-09-08 06:09] SailorChina commented on #9234
同样的问题，我也连不上

[2021-09-08 10:57] phips28 opened #9960 "KuCoin: response sometimes not parsed as object"
I am having an odd issue. I fetch the ledgers from KuCoin, and one response is not getting parsed with `JSON.parse()`.
Page 1 working fine, but page 2 doesnt work anymore, and the response is of type `string`.

- OS: Linux
- Programming Language version: Node JS
- CCXT version: 1.55.99

[code]

## Page 1 working:
[code]

## Page 2 not working, as it is a string
[code]

I can reproduce this.
Where

[2021-09-08 11:50] phips28 commented on #9960
I found the parsing in Exchange.js

[code]

this prints:
[code]

Seems like the parse with `onJsonResponse` function fails, because the numbers in the sub-object "context" are wrapped inside quotes.

on position 38967:

![image](https://user-images.githubusercontent.com/3694800/132503979-811cc493-cbfb-4aa5-bd03-d5bc0c5684cf.png)
"context":"{\"createdAt\":"1550682255000",

---

I can turn off `quot

[2021-09-08 13:37] fasenderos opened #9961 "Bybit fetchPositions undefined result when market is inverse"
Hi, the response from `fetchPositions` when market type is `inverse` (Inverse Perpetual) returns `undefined`, because the bybit response is stringified, so you have to parse it.

https://github.com/ccxt/ccxt/blob/bea845ba3e13edc717e5dc3496cd32ed232128b7/js/bybit.js#L2339

For `linear` market there is no need to parse the response, i did not try the `inverseFuture`.

One more question, why did you

[2021-09-08 13:59] fvsgit commented on #9799
@frosty00 thanks for the update. In the meantime I switched to the python implimentation and running my orderbook services on that. Seems to be stable. However would like to also run it on node. Looking forward to the update.

[2021-09-08 14:03] Abyiss-Zach commented on #9907
Hello, I am having the same issue for BinanceUS with the watch_trades function in ccxtpro. I find that I can only connect to 4 markets before getting the same error.

[2021-09-08 16:08] kroitor commented on #9960
KuCoin sends json-encoded strings inside json-encoded strings, and we inject quotes for long numbers, that breaks the JSON-parsing, indeed. Will try to fix it.

[2021-09-08 16:23] #9960 closed

[2021-09-08 16:24] kroitor commented on #9960
I turned off quoteJsonNumbers for KuCoin until we find a better replacement for unified JSON-parsing with support for long numbers. Thx for reporting the issue!

[2021-09-08 17:00] phips28 commented on #9960
we turned it off before we call the ledger functions, and then turn it back on again. That works

[code]

Is it safe to turn `quoteJsonNumbers` off for KuCoin at all?

[2021-09-08 17:22] kroitor commented on #9960
Yes, I think that should be safe. If anything, welcome to our discord chat: https://discord.gg/dhzSKYU

[2021-09-08 17:33] Kinzowa commented on #9907
Hi @frosty00, any idea how we could investigate this issue ?

Thank you,
Kinzowa

[2021-09-08 17:35] Kinzowa commented on #9907
Hi, is your IP banned if you `continue` the while loop after 1008 errors ?

[2021-09-08 19:40] fasenderos commented on #9961
I can confirm that `fetchPositions` did not work also with the `inverseFuture` market, because the bybit response is stringified.

[2021-09-09 15:36] fqlx commented on #9907
I'm having the same issue +1

[2021-09-09 16:16] #9907 closed

[2021-09-09 17:46] nik4152 opened #9962 "Phemex how close position"
In Phemex market I create order
exchange.create_order()
and then don't know how close order\position?

exchange.cancel_order() cancel only Take Profit and Stop Loss order how general order cancel Limit\Market

[2021-09-09 18:41] Abyiss-Zach opened #9963 "CoinbasePro error on watchTrades"
Hello,
I upgraded both CCXT and CCXT Pro to the latest version and I receive this error at random times throughout the day when I watch Coinbasepro trades for multiple markets. Sometimes it takes a few minutes to happen; sometimes it takes a few hours. I noticed that a similar error used to happen with BinanceUS immediately when using more than 4 symbols. The [BinanceUS solution](https://github.co

[2021-09-09 22:29] thebottoken opened #9964 "Huobi marketorder cannot be created"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: linux
-

[2021-09-09 22:30] kroitor commented on #9964
@thebottoken please, paste your code and your request+response output with verbose mode enabled, including the exchange instantiation code, but without your keys:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2021-09-09 22:35] thebottoken commented on #9964
[code]

[2021-09-09 22:35] thebottoken commented on #9964
is it good enough?

[2021-09-09 23:06] kroitor commented on #9964
@thebottoken looks like you are passing an uppercase-side to `createMarketOrder()`. It must be lowercase, according to CCXT docs: https://github.com/ccxt/ccxt/wiki/Manual#placing-orders
Let us know if that does not answer your question or does not help.

[2021-09-09 23:06] #9964 closed

[2021-09-09 23:36] zsyh commented on #9934
It's a milestone!  It means transpiling to C++ is also possible.
I see the transpiler is at github.com/prompt-cash/js-transpiler, not yet open sourced.

[2021-09-10 06:08] DavidXanatos commented on #9934
Yes in fact a good portion of the transpiler I had initially written in C/C++ for an other project, and I have also a CVariant class that could be used here with C/C++ so no need to write a new one like in GO.

[2021-09-10 06:40] thebottoken commented on #9964
@kroitor  yes, i passed uppercase to createMarketOrder. The docs also requires uppercase, right?

I tried lowercase. I cannot fetch price or trade.

[2021-09-10 09:34] kroitor commented on #9964
@thebottoken

Nope. The docs say that the side must be in lower case:

- https://github.com/ccxt/ccxt/wiki/Manual#placing-orders

[2021-09-10 09:37] kroitor commented on #9964
[code]

[2021-09-10 10:20] unster commented on #6391
Hi there,

@kroitor question about your first answer:

how to solve the problem with buying expensive tokens while having small budget to spend? I.e. how to calculate the amount to buy for a token price of 41.237 with 50 USD? Math is simple, but how to define correct number of digits after the comma to provide to the function?

I.e. if you can buy min. 0,0001 pieces of given token, how can I deter

[2021-09-10 20:30] jskorlol opened #9967 "Coinone exchange fetch_deposit_addresses does not exist."
[code]

So I made it
I'm a beginner, so if you could make it a little more perfect and upload it
We worked as closely as possible with the existing form.

[2021-09-10 21:18] kroitor commented on #6391
@unster hi!

You can do that with basic arithmetic division, while applying precision from the markets:

- https://github.com/ccxt/ccxt/wiki/Manual#markets
- https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits
- https://github.com/ccxt/ccxt/wiki/Manual#placing-orders

Some exchange support that:

- https://github.com/ccxt/ccxt/wiki/Manual#market-buys
- https://github.com/ccxt/ccxt/issues

[2021-09-10 23:35] kroitor commented on #9963
@Abyiss-Zach thanks for your thorough report, we will investigate and will be back to you with a fix asap.

[2021-09-11 01:27] #9967 closed

[2021-09-11 04:46] steveharrison opened #9968 "Placing a stop-limit order on Gate.io"
I'm trying to use CCXT to place a stop-limit order on Gate.io using CCXT. I understand that I need to use the optional `params` object to pass in the Gate.io-specific parameters, but it doesn't seem to be working as I would expect. I've included in `params` what the [Gate.io docs](https://www.gate.io/docs/apiv4/en/#create-a-price-triggered-order) say to pass in as the body of the request. Instead,

[2021-09-11 04:48] kroitor commented on #9968
Can you please paste your verbose request+response output:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[code]

[2021-09-11 07:44] NeoSephiroth commented on #8504
having the same error right now

[2021-09-11 13:21] garry-1990 commented on #8504
I don't know, can not check this error now. If I get this error I will write you.

[2021-09-11 21:59] BHruska opened #9970 "Exchanges not supporting fetchOpenOrders, fetchClosedOrders"
Why do some top exchanges not support these functions?   fetchOpenOrders, fetchClosedOrders

Is it just their API doesn't support them?  Or CCXT hasn't implemented it?  Seems like basic functionality, as most do.  I've got some routines that can't accurately track my history without this, so its frustrating.

Is there any other way I get this info, like fetchXXXXXX something else?

Thanks,
Brian

[2021-09-12 00:35] thebottoken commented on #9964
Ok. Thanks. I thought it was the symbol which should be lowercased.

I just switched to lower case for `side`. it worked.

[2021-09-12 00:59] AxelGUILLAUMET commented on #9923
I tried and I get this error:

LeverageBuyOrder.py
CCXT version: 1.50.14
Traceback (most recent call last):
  File "Q:\Axxel\Fichiers\DropBox Local\Dropbox\Projets Actifs\Trading\BOTS\Experimentacion\Futures - Copy\BinanceFuturesLeverageBuyOrder.py", line 19, in <module>
    response = exchange1.set_leverage(2, 'ADA/USDT')
AttributeError: 'binanceusdm' object has no attribute 'set_leverage'

[2021-09-12 01:07] kroitor commented on #9923
@AxelGUILLAUMET your version of CCXT is too old, please, upgrade to 1.56+

[2021-09-12 01:07] kroitor commented on #9964
@thebottoken good to know you figured it out, thanks for the feedback!

[2021-09-12 01:08] AxelGUILLAUMET commented on #9923
How I cna do it? Because pip install ccxt not upgrade more...

[2021-09-12 01:28] AxelGUILLAUMET commented on #9923
I updated and the codes executes BUT I have no LEVERAGE change...

[code]

[2021-09-12 01:49] kroitor commented on #9923
You should do that using the `set_margin_mode` method: https://github.com/ccxt/ccxt/blob/master/python/ccxt/binance.py#L4007

[2021-09-12 02:24] #9970 closed

[2021-09-12 02:35] AxelGUILLAUMET commented on #9923
OK great thanks!

Now what about the leverage that doesn't work well, It can't SET to the value I want, always the default binance value...

[2021-09-12 02:39] kroitor commented on #9923
@AxelGUILLAUMET you have to first adjust the margin mode with set_margin_mode, then adjust the max leverage with set_leverage on the isolated position, then open your position and check the actual leverage (the actual leverage may be lower than the max leverage set, that will depend on your actual margin).

[2021-09-12 03:02] AxelGUILLAUMET commented on #9923
Here is the code I have:

[code]

Q:\Axxel\Fichiers\DropBox Local\Dropbox\Projets Actifs\Trading\BOTS\Experimentacion\Futures - Copy>python BinanceFuturesLeverageBuyOrder.py
CCXT version: 1.56.23
Traceback (most recent call last):
  File "C:\Program Files\Python39\lib\site-packages\ccxt\base\exchange.py", line 613, in fetch
    response.raise_for_status()
  File "C:\Program Files\Python39\lib\site

[2021-09-12 03:36] kroitor commented on #9970
[code]

Bitstamp has `fetchOpenOrders()`.

I've added some clarifications to the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#understanding-the-orders-api-design

Let us know if that does not answer your question.

[2021-09-12 04:31] #9961 closed

[2021-09-12 04:33] kroitor commented on #9961
Thanks for reporting, fixed in CCXT 1.56.27. Appreciate your feedback!

[2021-09-12 04:41] #9911 closed

[2021-09-12 04:53] mrsegen commented on #6337
For this to work, CCXT would need the keys of a wallet that holds the tokens that would be swapped. This isn't a knock against CCXT, but one should never put their wallet's keys anywhere other than a hardware wallet or equivalent.

However, perhaps there could be a mechanism to _generate_ keys for a single-purpose wallet, where tokens could be sent specifically for this sort of trading, and - cruc

[2021-09-12 07:06] fasenderos commented on #9961
Thanks @kroitor, but you’re missing to parse also the `inverseFutures`

[2021-09-12 07:10] kroitor commented on #9961
@fasenderos thx for pointing it out, will add that as well.

[2021-09-12 08:58] kroitor commented on #9923
@AxelGUILLAUMET

That error means that the margin mode for ADA/USDT is already set to ISOLATED.

[2021-09-12 09:40] AxelGUILLAUMET commented on #9923
OK, but whhen the code follows and place the order, unfortunately the leverage I choosed before is not respected, the order appears in binance with another leverage value. When I change the leverage manually, appears this popup to confirm the change of leverage:

![image](https://user-images.githubusercontent.com/47301337/132982621-3a885c19-bd5f-4f50-81fb-e351156aa350.png)

Is with the API this po

[2021-09-12 18:39] AxelGUILLAUMET commented on #9916
Need to cross this post with this post:

https://github.com/ccxt/ccxt/issues/9923

[2021-09-12 18:39] #9916 closed

[2021-09-12 19:36] GianniKoch opened #9971 "Node.js: Not all sent parameters were read; read '11' parameter(s) but was sent '13'"
Hi,
Thanks for this amazing lib!

I got this error and don't know what to do, is there something obvious that I missed?
Thank you in advance!

Kind Regards

- OS: Windows 10
- Programming Language version: Node.js v14.15.3
- CCXT version: 1.56.29

[code]

[code]

[2021-09-13 02:09] kroitor commented on #9971
Hi!

In your `params` you're passing `stop` and `stop_loss`. Binance does not support those. As noted in the CCXT Manual, params-overrides are mostly exchange-specific and must conform to the underlying exchanges' API docs:

- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params
- https://binance-docs.github.io/apidocs/spot/en/#margin-account-new-order-trade
- https://binance-doc

[2021-09-13 07:25] GianniKoch commented on #9971
Hi,
Thank you for your quick response :D

I'm fairly new with you lib so what I try to do is make a trade order like this with the target and stop.
What would be the correct setup for the function? I got the current setup from this issue: https://github.com/ccxt/ccxt/issues/1557

Thank you in advance!

![image](https://user-images.githubusercontent.com/36133967/133041067-c5c3bf5d-8ae7-403b-9430-1c

[2021-09-13 07:28] kroitor commented on #9971
To answer your question precisely, we need to know if you are trying to place a BTC/USDT margin order or a BTC/USDT perpetual order (USDT-margined) with Binance? Those are different types of orders.

[2021-09-13 07:31] GianniKoch commented on #9971
Hi,

I'm thinking of a margined order.

Thank you in advance!

[2021-09-13 07:38] MuhammadAqib1122 opened #9973 "gateio fetch_tickers() returning None value for 'open' for all cryptos."
Hi

The library is returning None for 'open' for all cryptos when trying to fetch_tickers() with the gateio. It is only happening when trying with the gateio API. I tried with Binance and Huobi API's and it was returning the correct value for 'open'.

- OS: Linux
- Programming Language version: Python 3.7.10
- CCXT version: 1.56.30

[code]

[code]

[2021-09-13 07:46] kroitor commented on #9971
@GianniKoch try the following example, edit it for your keys and amounts/prices, if it does not help, please, uncomment the verbose line and paste your verbose output here:

- https://github.com/ccxt/ccxt/blob/master/examples/js/binance-margin-stop-order.js

[code]

[2021-09-13 07:52] #9973 closed

[2021-09-13 08:40] BitgetLimited commented on #9871
@kroitor  hi, I want to ask how we are progressing on the spot and mix interfaces，Is there anything i can help

[2021-09-13 09:34] GianniKoch commented on #9971
Hi @kroitor ,

I'm getting an other error :(

Thank you in advance!

[code]
[code]

[2021-09-13 09:36] kroitor commented on #9971
@GianniKoch i've added some edits, do you have the same issue with this edited version of the snippet? ↓

[code]

[2021-09-13 10:17] GianniKoch commented on #9971
Hi @kroitor,
I now have an other error as shown below
Thanks in advance!

[code]
[code]

[2021-09-13 10:20] kroitor commented on #9971
@GianniKoch ok, so the code is correct, but now it looks like your `amount` is lower than the minimum:

- https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

[code]

[2021-09-13 10:21] MS8dark commented on #9955
Currently the following code creates diffs, but it is compute intensive because of the use of `Counter`.

[code]

Is there a way to reduce compute and network I/O by only downloading order book events instead of whole
snapshots of the order book? Thanks

[2021-09-13 10:22] GianniKoch commented on #9971
Oh, my bad, I see it now.
Well if it works now, thanks for your time and effort!
I appreciate it <3

[2021-09-13 10:23] #9971 closed

[2021-09-13 13:01] kroitor commented on #9957
@rxall the timeout itself is ok, i mean, getting them occasionally is ok, but it should not throw a TypeError of course,. It should throw a documented exception instead: https://github.com/ccxt/ccxt/wiki/Manual#error-handling. I will investigate and will be back to you asap.

[2021-09-13 17:53] GianniKoch commented on #9971
Hi @kroitor I didn't want to make a new issue but I have this issue where it throws an error "binance stop price would trigger immediately but... it shouldn't? I'm not that aware of how the limit-stop works though.

this is my function:

await this.client.createOrder('BTC/USDT', 'STOP_LOSS_LIMIT', 'buy', amount, limit, params)

where amount is X :p
limit = 44533 (1:1.75 risk)
and stop = 44458 (= c

[2021-09-13 20:34] ryancwalsh commented on #3117
This was helpful. Thank you!

I found at https://github.com/ccxt/ccxt/blob/82e17f71cf897704825013ff6471ff21e5ea36c9/js/coinbase.js#L160 that there is a 'vault' type of account supported but not enabled by default.

Then I learned at https://ccxt.readthedocs.io/en/latest/manual.html#overriding-exchange-properties-upon-instantiation that I could pass these options when instantiating the Coinbase exc

[2021-09-14 00:10] kroitor commented on #9971
@GianniKoch the _"Stop price would trigger immediately"_ is covered here:

- https://github.com/ccxt/ccxt/issues/8194
- https://github.com/ccxt/ccxt/issues/3097
- https://github.com/ccxt/ccxt/search?q=Stop+price+would+trigger+immediately&type=issues

[2021-09-14 10:17] phips28 commented on #9803
@kroitor is that something you are working on?

[2021-09-14 11:55] kroitor commented on #9803
Yes, we will add the missing parts asap!

[2021-09-14 13:53] Abyiss-Zach commented on #9963
I have a little update on what I think this could be. The error still only happens only on occasion. My logs have revealed that this only happens when I am at my computer, which my mode app runs runs on. Perhaps this could be the result of some sort of brief network/processor interrupt?

[2021-09-14 15:09] alesha1488 commented on #9149
[Exchange Error] bybit {"ret_code":10004,"ret_msg":"error sign! origin_string[api_key=R6ITMkjBpN9z3S87qC\u0026close_on_trigger=false\u0026order_type=Limit\u0026price=3290\u0026qty=0.089999999999999997\u0026recv_window=5000\u0026reduce_only=false\u0026side=Buy\u0026symbol=ETHUSDT\u0026time_in_force=GoodTillCancel\u0026timestamp=1631631843280]","ext_code":"","ext_info":"","result":null,"time_now":"1

[2021-09-14 15:51] monczga opened #9981 "New exchange: Egera"
Hi CCXT team, Can support for Egera exchange be added? - https://www.egera.com/en
API Details - https://docs.egera.com/
Ready code for cctx on: https://github.com/bitclude

[2021-09-14 20:09] kroitor commented on #8408
@naserkaka you price must be lower than 5 * 1.07 and higher than 0.2 * 1.07, and it should also satisfy the other price filters. All rules are combined here: https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

[code]

[2021-09-14 21:08] #9882 closed

[2021-09-15 03:37] Maxximiliann opened #9982 "[wavesexchange] ccxt.base.errors.BadSymbol: wavesexchange does not have market symbol BTC/USDC"
OS: Ubuntu 20.04.2 LTS
Programming Language version: Python 3.9.6
CCXT version: ccxt 1.55.12

![Screenshot20210914at212045WavesExchangeTheeasiestwatoaccessDeFi](https://user-images.githubusercontent.com/65361762/133366243-2b1f84da-95a6-46a8-a630-559cfa69c282.png)

[code]

[code]

[code]

Why is this issue occurring when BTC/USDC is a legitimate symbol on WAVES DEX?

[2021-09-15 09:31] Saahil-exe opened #9983 "How to add a stoploss and take profit param in your order in binance usdm?"
tried using a second limit order but it just closes the trade immediately,
need to add the stop loss as a parameter in the first order itself,
or maybe use the second order as a stop_market order, but how?

[2021-09-15 10:04] #9983 closed

[2021-09-15 10:19] Saahil-exe opened #9984 "How to override with params and place a stopmarket order"
How to override with params and place a stopmarket order instead of market order in binanceusdm?
need to use it as a stoploss, to place the position using a market buy order
the code below is not working

`params = {
        'type' = 'stop_market'
}

amount = int(float(data['amountusd'])) / int(float(data['close'
order = exchange.create_order(symbol, data['ordertype'], data['orderside'], amount)
o

[2021-09-15 10:37] kroitor commented on #9963
@Abyiss-Zach thank could be the cause, however, it's not easy to replicate and handle... Trying to catch it on my side.

[2021-09-15 13:26] iMichaelM opened #9985 "Intermittent Network Error"
Hey All, I stumbled across a weird issue which causes the below script to throw an error every so often, like every other day on average. I don't have a clue how to work around it and so I'll be forever grateful if somebody will be able to assist with this.
Please kindly note the script is being run 24/7 and dozens of instances similar to it are being run simultaneously. That seems to be relevant

[2021-09-15 13:47] BahramianArmin opened #9986 "Opening the Order(long) by Open of candle(Open by time)"
Hello to every one...
I want to excute  the position in ccxt based on time ( open the position by opening of candle & close that with right befor of candle's closing)
so how can i do that??
thanks for your attention!

[2021-09-15 14:18] DUK3135 commented on #9986
If anyone is directly talking to me or need me get at me with a direct message me

[2021-09-15 15:31] frosty00 commented on #9985
you need to wrap it in a try except like so

[code]

[2021-09-15 16:23] ungaratto93 commented on #9904
Hi,

Maybe can I help u.

I look this links
[binance-testnet-docs](https://binance-docs.github.io/apidocs/delivery_testnet/en/#account-trade-list-user_data )

[binance-delivery-docs](https://binance-docs.github.io/apidocs/delivery/en/#position-information-user_data)

endpoint: GET /dapi/v1/userTrades (HMAC SHA256)

And I search on docs the endpoint  that you are trying to get trades data, there sh

[2021-09-15 16:27] iMichaelM commented on #9985
Thank you, I'll try that. However, would it be possible to use something like a wildcard after the ohlcv bit?

[2021-09-15 23:57] kroitor commented on #9985
@iMichaelM you have to add the error handling as @frosty00 noted above.

The exchanges' APIs will not accept a wildcard parameter.

Closing it for now. Feel free to reopen it or just ask further questions if any.

[2021-09-16 00:01] kroitor commented on #9986
Can you elaborate on what exactly is not clear?
The usage of CCXT is explained in the Manual and in the examples:

- https://github.com/ccxt/ccxt/wiki/
- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/tree/master/examples

CCXT allows you to place orders, fetch the candles, etc. However, it will not manage your strategy, you have to code it using one of the supported progr

[2021-09-16 00:01] #9986 closed

[2021-09-16 01:34] Moogiid commented on #9803
I am looking forward to release updated one.

[2021-09-16 04:21] BahramianArmin commented on #9986
yes i can !
if i want to  place order with time maybe there is not enough volume for trade! at that second!(Just that)...
when we order position by price it is diffrent with ordering by time!
thank for your links...

[2021-09-16 06:13] #9984 closed

[2021-09-16 09:12] npomfret opened #9987 "[suggestion] new ExchangeError: MaxPositionExceeded"
For Binance this would be : `Error: -2027 - Exceeded the maximum allowable position at current leverage.`

[2021-09-16 12:35] pickmone opened #9989 "Question: API key and subprocesses"
Hi,

A general question. If we want to use different subprocesses for different market in the same account in the same exchange. would it be better to use a single API Key or create an API key for each process?

thanks,

[2021-09-16 15:32] Matoran commented on #9989
It won't work for most of the exchanges for handling correctly the rate limit. One or multiples keys have the same problem as the rate limit is by user and not by API Key (for most exchanges).

If you want multiple subprocesses you will need handling rate limit between them manually.

[2021-09-16 16:11] Matoran commented on #9982
Without a search it doesn't appear on waves website and the API doesn't return it. Problem isn't from ccxt.

[2021-09-16 16:58] Maxximiliann commented on #9982
https://matcher.waves.exchange/api-docs/index.html#/place/placeLimitOrder

Is this the API you're referring to?

[2021-09-16 18:03] Matoran commented on #9982
this one  https://waves.exchange/api/v1/forward/marketdata/api/v1/tickers which is used to retrieve available markets

[2021-09-16 18:26] iMichaelM commented on #9985
I'm sorry but I'm still quite new to this whole Python thing and I'm getting 'await' outside function or 'await outside async function' when I try to use this. How exactly am I supposed to wrap the code with it? Many thanks!

[2021-09-16 19:21] iMichaelM opened #9992 "Python In The Cloud"
Hey All, not sure if this is the best place to ask this but given that we're all working on some sort of algos here, I thought it'd only make sense to do so.
What would you recommend as the most budget & user-friendly option to run dozens of scripts 24/7 simultaneously in the cloud? Ideally, it's as simple as just taking my scripts and deploying them.

Appreciate any and all suggestions!

[2021-09-16 20:01] kroitor commented on #9992
@iMichaelM i'd recommend using google cloud + ccxt as explained in this video tutorial: https://www.youtube.com/watch?v=mtpA3vDg5js

[2021-09-16 20:01] #9992 closed

[2021-09-16 20:12] kroitor commented on #9989
@pickmone as @Matoran noted, you might run into rate-limiter problems attempting to access different APIs with the same keys simultaneously in parallel. Therefore, to handle it properly you will either need to manage the rate limits across your subprocesses, or use one API keypair per subprocess so that they don't conflict. The rate limiter is described here:

- https://github.com/ccxt/ccxt/wiki/M

[2021-09-16 20:12] #9989 closed

[2021-09-16 21:16] Maxximiliann commented on #9982
The issue appears to be that  https://waves.exchange/api/v1/forward/marketdata/api/v1/tickers only shows a tiny fraction of all available trade pairings, whereas https://matcher.waves.exchange/api-docs/index.html#/place/placeLimitOrder allows traders to enter orders for all available asset pairs.

[2021-09-17 01:12] pickmone commented on #9989
yes, thank you for the insights.

[2021-09-17 07:15] h0o0bA opened #9993 "Tradingview Webhook Symbol Issue"
- OS: MacOS
- Programming Language version: Python
- CCXT version: not sure

[code]
I get this error below
[code]

I understand that I can avoid this issue by defining a variable for each pair with a slash on the symbol such as         'BTCUSDT': 'BTC/USDT',
But there are hundreds of symbols on the exchanges and I need a solution for this since it will be a lot of work defining a variable for each

[2021-09-17 07:52] jdieks commented on #9993
There are only a couple of possible coins for the second part:
BTC
ETH
USD
USDT

maybe 10 more at most... just scan the symbols you receive for those
letters, figure out if they are in the first or the second part and place a
"/" in front of them when you know they are in the second part.

Op vr 17 sep. 2021 om 09:16 schreef Ihab Ali ***@***.***>:

[2021-09-17 10:56] xmatthias opened #9996 "Binance BLVT max position size"
- OS: linux
- Programming Language version: python
- CCXT version:
-
Based on the [binance anouncement](https://www.binance.com/en/support/announcement/6a1d2aedfd9c453591916c533fd26aeb), Binance now enfoces an upper position limit on leveraged coins (~5000$).

[code]

The data for max-position (in the below example for LTCUP) can be found in MAX_POSITION - and is 1145 LTCUP.

![2021-09-17-125130_3

[2021-09-17 11:26] frosty00 commented on #9996
`ccxt.binance` contains only information about spot markets, you will need to use `ccxt.binanceusdm` to loadMarkets of futures symbols

[2021-09-17 12:04] xmatthias commented on #9996
'LTCUP/USDT' is a spot-market (it's a leveraged pair - but it's trade on spot-markets, not futures/margin markets).

[2021-09-17 14:50] h0o0bA commented on #9993
How I could scan and do this logic?

[2021-09-17 15:58] jdieks commented on #9993
https://stackoverflow.com/questions/5319922/python-check-if-word-is-in-a-string

and if e.g. ETH is in the string, check if it's the first letters or the
last.

https://thispointer.com/python-how-to-get-first-n-characters-in-a-string/

line[-3] should be "E" [-2] should be "T" and [-1] should be H.

If that's correct you could e.g. split it on ETH, and then add "/ETH" to
what's left..

There is pr

[2021-09-17 20:41] kroitor commented on #9993
@h0o0bA the solution to this issue is described in CCXT Manual: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[2021-09-17 20:41] #9993 closed

[2021-09-17 21:28] ndubel commented on #9996
it's not the best solution because if you already have 500 LTCUP you can buy maximum 645 LTCUP. Because 1145 it's something like "max hold".  So I think that this way is preffered:

[2021-09-18 01:56] drsavant-pub opened #10005 "Good News! Ascendex Now Has API Withdraw Support"
Ascendex [API Docs say they now have API Withdraw support](https://ascendex.github.io/ascendex-pro-api/#wallet-withdrawal), however, it's still not public.  One has to contact support@ascendex.com to obtain the docs and/or whatever else is required.

Since they're already **CCXT Certified** perhaps you could contact their management, get the documentation, and add this functionality to ccxt.

I ha

[2021-09-18 05:09] deewalkman opened #10008 "How to get "Market Cap" ?"
I tried with fetch_ticker and look at info. but it was not there.

Can you tell me where to find it ?
Thanks.

[2021-09-18 06:07] xmatthias commented on #9996
yes i don't disagree - but i think both ways should be done (now i also think the reported "max-lot-size" from binance itself is wrong - as they declare a lot-size that can't be traded) - but that's beyond the scope of this issue i think.

[2021-09-18 10:53] shupcode opened #10010 "typescript definition of type Params should accommodate more types like string[]"
ccxt.d.ts:
[code]

typescript definition of Params is too narrow and should at least accommodate ``string[]``

for example, Gemini requires a ``options: [<arg>]`` array to pass order execution options:
https://docs.gemini.com/rest-api/#order-execution-options

[2021-09-18 10:59] #10010 closed

[2021-09-18 15:03] articobandurini commented on #6301
According to the docs:

It would be nice if this method actually return canceled orders as well, probably doing fetchOrders and filtering under the hood.

[2021-09-19 03:32] wiljohnston commented on #6490
I'm having the same issue now – has this bug re-emerged?

[2021-09-19 06:30] hig0or opened #10012 "Unable to login Binance api account"
- OS: Windows10
- Programming Language version: Python
- CCXT version: 15.6

It's been available for the last few months
but I reinstall my python and ccxt yesterday

and I can't login binance apikey and secret
if I don't use apikey I still load markets and fetch OHLCV

Code: None api

`

'endbaleRateLimit': True,
 'urls': {'api': {'wapi': 'https://www.binancezh.top/wapi/v3',
   ...... # the binan

[2021-09-19 06:39] hig0or opened #10013 "Unable to login Binance api account"
- OS: Windows10
- Programming Language version: Python
- CCXT version: 15.6

It's been available for the last few months
but I reinstall my python and ccxt yesterday

and I can't login binance apikey and secret
if I don't use apikey I still load markets and fetch OHLCV

Code: None api

`

'endbaleRateLimit': True,
 'urls': {'api': {'wapi': 'https://www.binancezh.top/wapi/v3',
   ...... # the binan

[2021-09-19 06:39] #10013 closed

[2021-09-19 08:42] DaniChimi opened #10014 "ccxt.base.errors.InvalidNonce: binance {"code":-1021,"msg":"Timestamp for this request was 1000ms ahead of the server's time."}"
hello, i need help.

i just started ccxt.
i have a problem with my code:

[code]

the console error:
[code]

you can halp me ??

thanks, Dani

[2021-09-19 08:44] kroitor commented on #10014
Hi! Let us know if this does not help:

- https://github.com/ccxt/ccxt/search?q=Timestamp+for+this+request+was+1000ms+ahead&type=issues

[2021-09-19 08:44] #10014 closed

[2021-09-19 19:59] 7menos0 opened #10016 "How to Withdraw USDT-TRC20 in EXMO?"
- OS: Linux
- Programming Language version: Python 3.8
- CCXT version: 1.56,60

I've tried using these parameters
[code]

[code]
Thanks,

[2021-09-19 20:09] #10016 closed

[2021-09-19 23:26] NicolasWent opened #10017 "[fetch_ohlcv] Question on closing price"
Hello,

I have a question:

When I do fetch_ohlcv("BTC/USDT", "1d"), I get a timestamp for example 1588896000000. Which is Fri May 08 2020 00:00:00. The closing price correspond to the last price of the day which occurs at Fri May 08 2020 23:59:59 or Fri May 08 2020 00:00:00 ?

Because if that is Fri May 08 2020 23:59:59 why does the closing price of the day is not equal to the opening price of th

[2021-09-19 23:33] NicolasWent commented on #10017
I think I got it:

When we work in days, the opening price is the first transaction of the day, and the closing price is the last. So it gets the price at May 08 2020 23:59:59 or even later but right before Sat 09 2020 00:00:00

Since the opening price is the first transaction of the day, then it can be slightly different from the last transaction of the last day.

Am I right, or I miss a concept?

[2021-09-20 00:09] kroitor commented on #10017
Yes, that is correct.

Yep, that is true.

You got it right.

[2021-09-20 00:09] #10017 closed

[2021-09-20 00:10] kroitor commented on #10012
What is your version of CCXT:

[code]

[2021-09-20 03:57] hig0or commented on #10012
thank you
version is - 1.56.59

[2021-09-20 13:34] robbielitebit opened #10021 "Kraken fetchOrder with ClientOrderId is not working"
The ccxt implementation currently is:

[code]

But Kraken requires a txid even with an `userref` https://docs.kraken.com/rest/#operation/getOrdersInfo

[2021-09-20 15:41] tentechit commented on #9926
I also need that one too.

[2021-09-20 18:44] drsavant-pub commented on #10016
You need to add these parameters:  {'transport': 'TRC20'}  [API Doc Link](https://documenter.getpostman.com/view/10287440/SzYXWKPi#97f1becd-7aad-4e0e-babe-7bbe09e33706) >> Search for the word 'transport' and you'll see a description.

[2021-09-21 12:20] amalysh commented on #6508
Hello guys,
is someone already on implementing it? I'm asking because we consider to start implementation for IBB.

[2021-09-21 15:31] mazzorm commented on #1764
same proble
![Schermata 2021-09-21 alle 17 30 23](https://user-images.githubusercontent.com/72458037/134200914-484bee9d-9afc-4e18-90d3-6a0cd30487a1.png)
m

[2021-09-21 15:36] kroitor commented on #1764
@mazzorm check the above solutions: https://github.com/ccxt/ccxt/issues/1764#issuecomment-420053314

[2021-09-22 00:24] ungaratto93 commented on #10021
Hi,

On https://github.com/ccxt/ccxt/blob/master/js/kraken.js#L1217 has a comment speaking about fetch orders by id.

And on the kraken docs, for requests order they are pass as argument on request nonce, txid and trades

[code]

[2021-09-22 06:58] robbielitebit commented on #10021
Hi,

Checked the Kraken docs and you can fetch open/closed order by `userref`. Created a new PR https://github.com/ccxt/ccxt/pull/10030

But still with `QueryOrders` a txid is required, so that ccxt implementation won't work.

[2021-09-22 10:17] kroitor commented on #10021
@robbielitebit thank you very much! Merged it!

[2021-09-22 10:17] #10021 closed

[2021-09-22 10:19] kroitor commented on #10012
@hig0or please, paste your output:

[code]

Please, paste your complete verbose request+response here. If it does not work, make sure that your Binance keys are correct. Alternatively, try a fresh new keypair.

[2021-09-22 14:26] alesha1488 opened #10033 "binance does not have a testnet/sandbox URL for sapi endpoints"
after updating to 1.56.24 and newer:

$binance->urls['api'] = $binance->urls['test'];

[Exchange Error] binance does not have a testnet/sandbox URL for sapi endpoints

#0 /ccxt/ccxt/php/Exchange.php(1425): ccxt\binance->sign('capital/config/...', 'sapi', 'GET', Array, NULL, NULL)
#1 /ccxt/ccxt/php/binance.php(4453): ccxt\Exchange->fetch2('capital/config/...', 'sapi', 'GET', Array, NULL, NULL, Arra

[2021-09-22 18:40] #9753 closed

[2021-09-23 08:02] Smilestate opened #10043 "API missing from Huobi documentation!"
In the latest version of ccxt, api--v2private--post--account/transfer is commented out in huobi.js. How can I transfer currency assets to usdt perpetual contract without using this api? ?
So why comment out the api?
Huobi official document usdt standard perpetual contract exists https://api.huobi.pro/v2/account/transfer!
Can I support this api in the follow-up?

[2021-09-23 08:06] Smilestate commented on #10043
How do you sign when you request the exchange's api? This is convenient for me to directly use your signature method to directly request the exchange's api! Thank you very much for your offer.

[2021-09-23 09:02] alesha1488 commented on #10033
<?php
date_default_timezone_set ('UTC');

echo "CCXT v." . \ccxt\Exchange::VERSION . "\n";

$exchange = new \ccxt\binance (array (
                'apiKey' => $API_key,
                'secret' => $API_secret,
                'timeout' => 30000,
                'enableRateLimit' => true,
                'options'=>array('defaultType'=>'future'),
                'verbose'=>true,
                ));

[2021-09-23 09:10] kroitor commented on #10033
Indeex, Binance does not have a sandbox testnet for SAPI-endpoints.
Try initializing your exchange like so:

[code]

↑ That should work, let us know if you still have issues with it.

[2021-09-23 09:30] alesha1488 commented on #10033
Thank you! Close issue

[2021-09-23 12:52] soumyadeeproy12 opened #10044 "Withdrawal from Binance to a specific network"
In binance, while withdrawing an amount, there is an option of selecting network ( ETH or BSC). Does CCXT offer the same with binance API?

[2021-09-23 13:01] kroitor commented on #10044
Yes:

[code]

[2021-09-23 13:01] #10044 closed

[2021-09-23 13:52] #10043 closed

[2021-09-23 13:53] kroitor commented on #10043
@Smilestate

Huobi's v2 swap/futures endpoints are not supported yet, we are working on adding those right now.

You can use the `fetch()` method to issue a v2-specific call.

- https://github.com/ccxt/ccxt/blob/master/js/base/Exchange.js#L528

[2021-09-23 14:05] corbinhudson commented on #9158
using CCXT 1.56.41 currently.

I am getting the wrong price from fetch_order. If I call fetch_my_trades  though, and filter by the same ID I get the correct price that matches on screen.

[2021-09-23 14:08] kroitor commented on #9158
@corbinhudson please, post your verbose log:
- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2021-09-23 14:25] corbinhudson commented on #9158
looks like priceEP is the same on each actually. but fetch_order is  not showing execPrice or price is null ... the most important field. Thanks for your help

fetch_order

Request: GET https://api.phemex.com/exchange/order?symbol=ETHUSD&orderID=6f1cc3c5-7c03-4f42-8abb-927e511e2d03 {'x-phemex-access-token': '2a6244de-f520-496d-a5c1-f724d2ed599b', 'x-phemex-request-expiry': '1632406877', 'x-phemex-

[2021-09-23 15:12] ShieldTrade opened #10045 "Bitmex rate limit fetch_order_book"
Hi @Kroitor,

- CCXT pro latest version ( the subscription expired last week, I reached your support when the subscription was still valid but I
did not get any answer. does not matter. When You read my mail I was probably already expired)
- Python 3.9
- Exchange: Bitmex
- Method: exchange.fetch_order_book

from https://www.bitmex.com/app/wsAPI#Rate-Limits
"BitMEX allows subscribing to real-time d

[2021-09-23 15:21] kroitor commented on #10045
@ShieldTrade you're violating this rule by creating the exchange instance over and over instead of reusing it:

- https://ccxt.readthedocs.io/en/latest/manual.html#notes-on-rate-limiter

Try this:

[code]

Let us know if that does not answer your question.

[2021-09-23 15:21] #10045 closed

[2021-09-23 15:33] ShieldTrade commented on #10045
I tried this code and I get 2 sec delay

CCXT Pro Version: 0.8.13
2021-09-23T15:31:19.710Z bitmex BTC/EUR [37406.0, 100.0] [37337.0, 7600.0]
2021-09-23T15:31:21.769Z bitmex BTC/EUR [37393.0, 100.0] [37337.0, 13000.0]
2021-09-23T15:31:23.815Z bitmex BTC/EUR [37393.0, 100.0] [37337.0, 13000.0]

[2021-09-23 15:36] kroitor commented on #10045
@ShieldTrade try this one:

[code]

[2021-09-23 15:42] ShieldTrade commented on #10045
I get the verbose answer but it s still 2 sec delayed

[2021-09-23 15:44] kroitor commented on #10045
@ShieldTrade only the first request is delayed, and the reason is covered in the Manual here:

- https://github.com/ccxt/ccxt/wiki/Manual#loading-markets
- https://ccxt.readthedocs.io/en/latest/manual.html#notes-on-rate-limiter

[2021-09-23 15:53] ShieldTrade commented on #10045
You are right. I was still using the fetch_order_book command. you changed it to watch_order_book.

I have to study your answer but **now I get the real time bitmex book as expected.**

I am still confused on when to use the different above command.
Can you tell me where I can find some info about fetch_order_book and watch_order_book difference?
I think I will have the same result for the testnet

[2021-09-23 15:56] kroitor commented on #10045
@ShieldTrade `fetch_order_book` is a RESTful API (not a WebSocket API), while `watch_order_book` is a WebSocket API (and works faster in general). The difference is covered here:

- https://github.com/ccxt/ccxt/wiki/ccxt.pro.manual#prerequisites

[2021-09-23 17:34] soumyadeeproy12 opened #10047 "Error: binanceus {"code":-4019,"msg":"The current currency is not open for withdrawal"} with binance withdraw"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: MacOs 1

[2021-09-23 17:37] kroitor commented on #10047
@soumyadeeproy12 do you have withdrawal address whitelisting enabled? Make sure that your whitelisted addresses correspond to the currencies and networks selected.

This message is coming from Binance directly. If the above does not help I would suggest asking their tech support or in this Binance API group: https://t.me/binance_api_english

[2021-09-23 20:34] ong4mes opened #10048 "[Kraken] Missing Orders"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:Windows

[2021-09-23 20:42] kroitor commented on #10048
This could explain it: https://support.kraken.com/hc/en-us/articles/360001185486-How-to-view-your-older-account-history

Very few exchanges will actually store the entire history of orders from the beginning of time.
You can fetch the alternative ledger history from Kraken with fetchLedger.
Also, I would suggest reaching out to Kraken's tech support for a confirmation of the above limitations on t

[2021-09-23 20:42] #10048 closed

[2021-09-23 21:42] imaxiking commented on #10048
Strangely I get an even later first order with fetchLedger. But I contacted kraken support

[2021-09-23 21:43] kroitor commented on #10048
@imaxiking we would appreciate if you could report back here when you hear from them.

[2021-09-24 05:51] rianbowgift commented on #5646
Are you done with huobi dm?

[2021-09-24 07:57] Smilestate opened #10049 "ccxt use fetch or request is the problem?"
When I use new ccxt.binance().request, the specific usage is as follows:
[code]
the result is out of As expected, Request with GET/HEAD method cannot have body.

When I use fetch to directly call the Huobi official interface, the signature verification fails, 403.
for eg：
[code]
Please check it out, maybe I am using the wrong way. Please provide an example, let me learn from it. Finally, thank you

[2021-09-24 15:19] ibmua opened #10050 "How to get Binance isolated margin to even find the symbol?"
- OS: Ubuntu
- Programming Language version: Python 3.7
- CCXT version: 1.56.86

Nothing I found anywhere in docs or issues related was able to get me past even finding a market for isolated CELO/USDT trading on Binance. How is isolated margin trading done via CCXT? If possible, please, illustrate on the example of CELO/USDT, as any of the other examples fail on that pair.

[2021-09-24 16:15] Ali-moradi-dev opened #10051 "There is a bug in Okex Fetch_position()"
- OS: Ubuntu 20.04.2 LTS
- Programming Language version: Python 3.9
- CCXT version: 1.55.9

[code]
in  fetch_position() , this line has a problem

[code]
I face this error
[code]

it happen when data = [ ] it means we don't have any open position on okex

[2021-09-24 16:36] kroitor commented on #10051
@Ali-moradi-dev hi! Please, paste your request+response with verbose mode enabled:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2021-09-25 00:39] frosty00 commented on #10049
https://ccxt.readthedocs.io/en/latest/manual.html#implicit-api

[2021-09-25 04:52] mablue opened #10055 "Coinex historical data download"
Any help for that?
https://github.com/freqtrade/freqtrade/issues/5610#issuecomment-926808632

[2021-09-25 04:57] Ali-moradi-dev commented on #10051
hi @kroitor,

my request :

[2021-09-25 05:20] elisy opened #10056 "Noncorresponding symbols YGG and MER"
- OS: Windows
- Programming Language version: JS
- CCXT version: 1.56.80

While analyzing arbitrage I see that the following symbols do not correspond to each other. The differences in the prices are too high.
1) Huobi YGG and Bitfinex YGG
2) Bittrex MER and Ftx MER

I think CommonCurrencies property should be changed

Thank you for your attention

[2021-09-25 05:52] xmatthias commented on #10055
I think i was clear in that issue ... so i don't understand what you try to accomplish with this issue.
open an issue with ccxt _once the API of coinex supports this_.

Ccxt will not be able to invent historic data their API is not providing.

[2021-09-25 06:32] Smilestate commented on #10049
I don't think you can solve my problem.

[2021-09-25 06:34] Smilestate commented on #10049
Because there is no mention of the use of fetch and request in the document, it gives me a headache!

[2021-09-25 08:41] drsavant-pub commented on #10005
@kroitor
I've been trying to track down the API docs for withdrawal, and I got this from Ascendex support on Telegram (@AscendEX_Official):

______________
AscendEX Support:
"At present, the API withdrawal permission is temporarily not open to ordinary users. If you are an institutional user, you can apply by email institution@ascendex.com"

Rex:
When will it be open to "ordinary users"?

AscendEX

[2021-09-25 11:07] mhasanjb opened #10057 "[Bug] exchange.fetch_ohlcv - Missing Outputs"
hey,
when you are using `exchange.fetch_ohlcv(symbol,interval,limit)`
the output is something like this:
[code]
but there is `close_time` too which is really necessary for some strategies.
i tried to add `[6]` one to the `exchange.py > def parse_ohlcv` but it is not working.
so my solution was to comment out `binance.py > return self.parse_ohlcvs(response, market, timeframe, since, limit)`
and add

[2021-09-25 13:06] nzahar opened #10058 "Should I enable rate limit if I use only watch_ticker method?"
Hello!

As far as I understand, there are no requests to the exchange if I use only the watch_ticker method. So there is no need to enable the rate limit, am I correct?

[2021-09-25 14:24] kroitor commented on #10058
@nzahar hi! Yes, that is correct, although, the rate limiting also takes place not only between the HTTP requests, but also between the WS subscription requests and WS connections. If your connection is lengthy in time and stable (you don't reconnect over and over) that should be fine. Other aspects of rate-limiting are explained here: https://github.com/ccxt/ccxt/wiki/Manual#notes-on-rate-limiter

[2021-09-25 14:24] #10058 closed

[2021-09-25 16:28] kroitor commented on #10055
@mablue the CoinEx's API does not support historical klines: https://github.com/coinexcom/coinex_exchange_api/wiki/024kline

Hope that answers your question.

[2021-09-25 16:28] #10055 closed

[2021-09-25 16:44] Ali-moradi-dev commented on #10057
hi @mhasanjb
yeah your right , but notice that just binance give you close_time and extra data
look at here is API documents of binance [kline-candlestick-data](https://binance-docs.github.io/apidocs/spot/en/#kline-candlestick-data)
and this is API documents of another exchange [okex-candlesticks-history](https://www.okex.com/docs-v5/en/?python#rest-api-market-data-get-candlesticks-history-top-cur

[2021-09-25 16:48] #10057 closed

[2021-09-25 16:48] kroitor commented on #10057
You don't have to change the code at all! The close time reported from Binance is always next opening time - 1.

You can simply calculate that by hand, if necessary:

- https://github.com/ccxt/ccxt/tree/master/examples/py/binance-fetch-ohlcv-closing-time-1.py

[code]

Alternatively, you can override `parse_ohlcv` and use the closing time as shown below:

- https://github.com/ccxt/ccxt/blob/master/

[2021-09-25 16:52] kroitor commented on #10051
@Ali-moradi-dev we would suggest returning an `undefined` response from there if OKEX replies with an empty response, what do you say?

[2021-09-25 16:53] #10047 closed

[2021-09-25 16:54] #10012 closed

[2021-09-25 16:54] kroitor commented on #10005
@drsavant-pub thx for your feedback!

[2021-09-25 17:10] Ali-moradi-dev commented on #10051
@kroitor what do you mean `undefined` response? give me a sample

[2021-09-25 17:12] kroitor commented on #10051
@Ali-moradi-dev i mean `None` in Python:

[code]

[2021-09-25 20:29] mablue commented on #10055
Yes i tried to find if other way is possible. but yes if there is no the possibility in api than no one can do anything...thanks and sorry for my Unreasonable issue

[2021-09-25 20:30] mablue commented on #10055
Ok Thanks for fast support.i need to talk with coinex first

[2021-09-26 12:45] #10051 closed

[2021-09-26 14:41] kroitor commented on #9163
BHEX is closing: https://support.hbtc.co/hc/en-us/articles/4406992059417

[2021-09-26 14:41] #9163 closed

[2021-09-26 15:02] #10056 closed

[2021-09-27 04:28] wkamer opened #10065 "The result of function amount_to_pricision is not as expected?"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: MacOS
-

[2021-09-27 05:48] SreekanthAvala opened #10066 "How to create order with BTC instead of Contracts in Binance COIN-M ?"
Hi ,
I would l like to create order with my available BTC
let say if i have 3 BTC in my account, How can i create limit order with 3 BTC instead of  contracts ( Binance Delivery Type -COIN_M ) ?

[2021-09-27 07:18] smyth64 commented on #9690
I have the same problem. I ended up getting the positions directly from Binance API. I cannot tolerate this error because it's making my bot unreliable.

[2021-09-27 18:06] avatar-lavventura commented on #761
The way was able to solve it:

[code]

-----

Or adding following line into `crontab -e` :

[code]

Where `/path/to/your/script.sh` contains line from https://github.com/ccxt/ccxt/issues/761#issuecomment-355839537, which will be run every 15 minutes like @kroitor suggested.

[2021-09-27 18:16] kroitor commented on #761
@avatar-lavventura thx for your feedback!

[2021-09-27 19:52] #9690 closed

[2021-09-27 20:14] smyth64 commented on #9690
Wow that was fixed quickly! Thanks man @kroitor

[2021-09-27 20:15] kroitor commented on #9690
@smyth64 all thanks to @frosty00

[2021-09-28 02:54] samgermain opened #10069 "Fetch historical mark and index price klines data"
To obtain historical Mark and Index Prices by passing the (key, value) pair `price: 'mark'` (or index) as params to `fetchOHLCV`

## JS

[code]

Replace `params={price: 'mark'}` with `params={price: 'index'}` for the historical index price.
Use `"defaultType": "delivery"` for coinm markets

---

There are also convenience methods `fetchMarkOHLCV` and `fetchIndexOHLCV`

[code]

## Python

[code]

[2021-09-28 02:56] samgermain commented on #10069
If you want to calculate the funding fee after this, these are the formulas for binance and FTX

## Binance

[code]

Currently binance does not have a method of obtaining the bid and ask price history, substituting impact_ask_price and impact_bid_price with the regular historical futures price may be a substitute

## FTX

funding_fee = (contract_size * mark_price) / 24

[2021-09-28 03:02] kroitor commented on #10066
Binance COIN-margined futures and perpetuals API does not support that, you should specify the amount of contracts.

- https://binance-docs.github.io/apidocs/delivery/en/#new-order-trade

Let us know if that does not answer your question.

[2021-09-28 03:02] #10066 closed

[2021-09-28 03:05] kroitor commented on #10050
P.S. You can also place isolated margin orders with the unified `createOrder` method using the `isIsolated` param override:

- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params
- https://binance-docs.github.io/apidocs/spot/en/#margin-account-new-order-trade

[2021-09-28 09:49] javadnikbakht opened #10072 "New Exchange: Mazdax"
Official Website:
https://mazdax.com

Official API:
https://api.mazdax.com/

API Documents:
https://api.mazdax.com/docs/

[2021-09-28 14:13] adamrg73 opened #10073 "Best way to edit existing order to add stop loss or trailing stop loss - phemex"
what the best quickest way to edit an existing order/position?

[2021-09-29 03:29] gudangjackpot opened #10075 "<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ccxt@1.57.10/dist/ccxt.browser.js"></script>"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Progr

[2021-09-29 06:38] Utha-Tymbrimi opened #10078 "Binance OCO order for margin?"
Hi,

Does anyone know the correct syntax for posting an OCO cross-margin order on Binance?

If I attempt the following with sufficient BTC in my cross-margin account:

    result = exchange.private_post_order_oco({
        'symbol': 'BTCUSDT',
        'side': 'sell',
        'quantity': '0.0003',
        'price': '45000',
        'stopPrice': '40000',
        'stopLimitPrice': '39000',
        'st

[2021-09-29 07:46] Utha-Tymbrimi commented on #10078
OK it looks like I need an Implicit API call to do this.  How should I format it?  The API call I'm trying to execute is (from the Binance API documentation):

POST /sapi/v1/margin/order/oco (HMAC SHA256)

As far as I can tell, it should be formatted like this:

result = exchange.sapi_post_margin_order_oco({
    'symbol': 'BTCUSDT',
    'side': 'sell',
    'quantity': '0.0003',
    'price': '45000

[2021-09-29 07:53] kroitor commented on #10078
@Utha-Tymbrimi make sure that your version of CCXT is up to date, sapi_post_margin_order_oco should work:

[code]

[code]

[2021-09-29 08:02] kroitor commented on #10078
https://github.com/ccxt/ccxt/blob/master/examples/py/binance-create-oco-order-with-implicit-methods.py

[2021-09-29 08:08] Utha-Tymbrimi commented on #10078
Dammit, of course!  I'm running this in a VM, freshly cloned from a template that hasn't been updated in months...

Yep, I was using 1.52

And of course Binance is undergoing maintenance, so now I have to wait a couple of hours to test it!

Forest for the trees... thanks kroitor, much appreciated!

[2021-09-29 08:09] #10078 closed

[2021-09-29 08:10] kroitor commented on #10078
Let us know if you don't get it working when they're back online.

[2021-09-29 09:33] gochendong opened #10080 "FTX default timeInForce is None, cannot set by users"
'timeInForce': None,

Users should be able to set this manually.

[2021-09-29 09:48] kroitor commented on #10080
You are already able to set this and this is covered in the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params
- https://docs.ftx.com/#place-order

[code]

[2021-09-29 09:48] #10080 closed

[2021-09-29 14:15] ndubel opened #10081 "Bitcoin.com rebranding to FMFW.io"
https://support.bitcoin.com/en/articles/5556195-rebranding-faq

[2021-09-29 14:52] ndubel opened #10082 "no response on bibox v2 request"
- Programming Language version: JS
- CCXT version: latest

https://biboxcom.github.io/en/rest_api_transfer.html#%E9%92%B1%E5%8C%85%E8%B4%A6%E6%88%B7%E5%88%92%E8%BD%AC%E5%88%B0%E5%B8%81%E5%B8%81%E8%B4%A6%E6%88%B7

I try to transfer funds using v2 request on Bibox:
[code]

The request is successful, transfer is ok but when I try to console.log response body, I get only `undefined`. It's all ok with

[2021-09-30 14:36] ShieldTrade opened #10089 "Order History, including canceled orders, on Bitmex"
- OS:
- Programming Language version: Python 3.9
- CCXT version: CCXT Pro Version: 0.8.13
Exchange Bitmex

I am trying  to get my entire order history on bitmex using

fetchOpenOrders() – fetches a list of open orders.
fetchClosedOrders() – fetches a list of closed (or canceled) orders.

**my problem is that I cannot get canceled orders using fetchClosedOrders()**

Reading your manual
If the under

[2021-09-30 18:50] srisi opened #10090 "Support fetchDepositAddress for Gemini"
Gemini on ccxt currently does not support `fetchDepositAddress`: https://github.com/ccxt/ccxt/blob/master/python/ccxt/gemini.py#L50

However, Gemini has an endpoint to fetch deposit addresses (`POST https://api.gemini.com/v1/addresses/:network`, https://docs.gemini.com/rest-api/#get-deposit-addresses) in addition to the endpoint to create deposit addresses.

Is it possible to either support `fetch

[2021-10-01 01:36] Maxximiliann opened #10091 "[wavesexchange] ccxt/wavesexchange.py", line 810 - Error: "unsupported operand type(s) for +: 'int' and 'NoneType'""
- OS: Ubuntu 20.04.3 LTS
- Programming Language version: Python 3.9.6
- CCXT version: 1.55.12

[code]

[code]

[2021-10-01 01:38] kroitor commented on #10091
This issue has been addressed in CCXT 1.57, do you have this issue with the most recent version 1.57.23?

[2021-10-01 01:57] Maxximiliann commented on #10091
Issue persists even after replacing 1.55.12 with 1.57.23:

[code]

[2021-10-01 03:18] kroitor commented on #10091
@Maxximiliann will get this resolved tonight, thx for reporting.

[2021-10-01 03:20] kroitor commented on #10082
The Content-Type` is `text/plain`, cause Bibox API is shit. Will add a workaround.

[2021-10-01 05:23] joomong commented on #9917
Did you solve this problem?

[2021-10-01 07:12] #10091 closed

[2021-10-01 09:18] docek opened #10099 "Phemex testnet - token decryption failed error at fetch_deposits"
When trying to fetch deposits at Phemex testnet, I get an error: "token decryption failed". The error is only on testnet, on production it works fine.

- OS: Linux at ChromeOS
- Programming Language version: Python 3.9
- CCXT version: 1.57.28

[code]

[code]

[2021-10-01 13:06] belqit commented on #8238
entryPrice = entryPrice - (realizedPnl / size)

[2021-10-01 14:22] Bitexbot opened #10100 "Typescript error for Balance on 1.57.28"
As per title, after upgrading to `1.57.28` I get the following error

[code]

[2021-10-01 14:43] Matoran commented on #10049
Why do you want to use fetch or request ? Implicit api is easier to use

[code]

[2021-10-01 15:11] ShieldTrade opened #10101 "Cancel bulk order on bitmex"
- OS:Windows 10
- Programming Language version: Python 3.7
- CCXT version: CCXT version: CCXT Pro Version: 0.8.13

reading bitmex api:
Cancel order(s). Send multiple order IDs to cancel in bulk.

from CCXT:
the only private method supported for bitmex are:
privatePostOrder
privatePutOrder

if I want to accomplish a bulk cancel how can I add multiple IDs to
cancel_order(self, id, symbol=None, param

[2021-10-01 15:24] joomong commented on #9917
add params `'side':Sell `

[2021-10-01 15:50] BHruska opened #10102 "kraken fetchTrades"
I can't seem to get KRAKEN to return all my trades for a position.  The first trade was 10 months ago, and there are about 60 buys since.  So nowhere near the 1000 with page limitations I saw some comments about.

Their app shows all of my trades, so I know the data exists.

Can't seem to get them all to be return  no matter what I attempt to pass in for the SINCE parameter, or none at all.

Frust

[2021-10-01 16:22] #10100 closed

[2021-10-01 16:58] ShieldTrade commented on #10101
Got it.  just make a list with your order Id

for other learning as myself
if you have 2  open orders with:

exchange = ccxtpro.bitmex
exchange.cancel_order(['afb58c10-595d-41ae-94c5-5e2703458375', 'ef2b4642-570d-4b3b-b9d0-3163ce4ef67c']) is a bulk cancel order

If Kroitor confirms the above we can consider this question closed.

[2021-10-01 17:10] steebchen opened #10103 "Is there a way to get a trade cost with fetchLedger?"
It seems that fetching trades using `fetchLedger` (which is required for some exchanges) won't return cost information, just the amount. This is unfortunate as it seems there is no way to figure out at what cost the amount was bought or sold. Am I missing something?

Couldn't the `cost` field just be added to ledger results of `type: 'trade'` in addition to `amount`, as the exchanges usually retur

[2021-10-02 12:02] kroitor commented on #10099
I think the testnet does not implement the notion of a deposit, hence the error. It is pretty normal a sandbox, though. Let me know if that does not answer the question.

[2021-10-02 12:02] #10099 closed

[2021-10-02 12:13] LukasUlrych opened #10107 "Poloniex - InvalidNonce error"
Hi,

my ccxt version is 1.57.34, My Python version is 3.9.5.

There is an issue with Poloniex nonce function. For some reason standard API calls (fetch_balance, fetch_open_orders etc .. ) return InvalidNonce error specifying that provided nonce is too small. Changing self.nonce function inside poloniex.py to return microseconds (instead of current milliseconds) solves the problem.

I am however no

[2021-10-02 12:14] kroitor commented on #10107
@LukasUlrych have you tried with a fresh new API keypair? Your nonce may be screwed if you have used this key with some other software before.

- https://github.com/ccxt/ccxt/wiki/Manual#authentication
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2021-10-02 12:17] kroitor commented on #10107
Let us know if the above does not help.

[2021-10-02 12:17] #10107 closed

[2021-10-02 12:23] LukasUlrych commented on #10107
Hi @kroitor, thanks for the advice, it did help.

[2021-10-02 13:41] BHruska commented on #10102
Any sample code on how to get all Trades from Kraken?  What I've got works for all other exchanges.

[2021-10-02 21:05] eanism opened #10109 "All exchanges.has['fetchTickers'] set to False ?"
Apologies for what is probably a dumb question. I'm just starting to get familiar with ccxt (amazing project btw, thank you) and when attempting to call the fetchTickers method, I notice that there don't appear to be any exchanges that support it (at least by default). Is this by design? Is there something that is intended to be overridden or modified? Looking through issues on the repo, there are

[2021-10-03 02:12] reason211 commented on #936
WINDOWS 11 synchronizes every 1 minute, but occasionally reports errors

[2021-10-03 04:55] yudaiharis commented on #9790
I have confirmed that the feature 'swap_post_trace_closetrackorder' is enabled in CCXT Version: 1.57.36.
I appreciate it very much.

[2021-10-03 10:05] steebchen opened #10110 "Question: best practice to fetch all transactions/ledgers"
I just have a general question of whether there are any best practices for fetching all transactions/ledger items for a given account. Exchanges like Binance have a lot of currencies so going through all of those for an account seems overkill and slow. I was thinking about fetching the account's balances and then just fetching transactions/ledger entries for those returned currency codes, but that

[2021-10-03 11:14] kroitor commented on #10109
You are missing the exchange constructor call in your code.

Let us know if this does not answer your question:

[code]

[code]

<img width="5306" alt="Screenshot 2021-10-03 at 14 13 09" src="https://user-images.githubusercontent.com/1294454/135751138-876997f6-dda4-44a4-9b30-523ec1a04520.png">

[2021-10-03 11:14] #10109 closed

[2021-10-03 11:47] xmatthias opened #10111 "Gate.io ratelimit seems to be wrongly applied"
- OS: linux
- Programming Language version: python
- CCXT version: 1.57.3

something seems off with gateio's ratelimiting.

With the code below (rateLimit of 500ms), i'd expect ~2 calls per second - so the below code (doing 4 requests) should take roughly 2 seconds.

This code however runs for more than 2 minutes (i got bored by then and aborted ...).

[code]

Running the same  code against binanc

[2021-10-03 11:50] kroitor commented on #10111
@xmatthias we have started adding the burst support to the built-in rate limiter, which is why the rate limit for gate.io (and a few other exchanges) is defined as: https://github.com/ccxt/ccxt/blob/master/js/gateio.js#L15

[2021-10-03 11:54] xmatthias commented on #10111
@kroitor does this in term mean that the unit of `rateLimit` changed to "requests per second", instead of the "ms" that was used before?
I'm not agianst such a change - but i think this should use a different attribute ("rateLimitBurst"?) to avoid breaking existing behaviour...

[2021-10-03 11:57] kroitor commented on #10111
@xmatthias it is supposed to work in a non-breaking manner, investigating...

[2021-10-03 12:03] kroitor commented on #10111
Will fix this shortly.

[2021-10-03 12:05] #10111 closed

[2021-10-03 17:14] xmatthias commented on #10111
Can confirm, new version fixes this :+1: Thanks a lot for the prompt response

[2021-10-03 17:21] kroitor commented on #10111
@xmatthias thx for reporting!

[2021-10-03 17:48] ShieldTrade opened #10112 "cancel bulk order using clOrdID on bitmex"
- OS:Windows 10
- Programming Language version: Python 3.7
- CCXT version: CCXT version: CCXT Pro Version: 0.8.13
- Exchange bitmex

reading bitmex [api](https://www.bitmex.com/api/explorer/#!/Order/Order_cancel):
Cancel order(s). Send multiple order IDs to cancel in bulk.
Implementation Notes
Either an orderID or a clOrdID must be provided.

In [7086 ](https://github.com/ccxt/ccxt/issues/7086)you

[2021-10-03 17:58] frosty00 commented on #10111
Please revert this

[2021-10-03 18:07] frosty00 commented on #10111
please test code before merging it also

[2021-10-03 18:12] frosty00 commented on #10111
@xmatthias this is normal behaviour for exchanges with defined costs, now @kroitor has broken gateio

[2021-10-03 18:32] Salz0 commented on #9166
Guys, anything here? Having the same issue
@kroitor ?
@frosty00 ?

[2021-10-03 18:36] frosty00 commented on #9166
check the leverage you have set for that pair is enough, secondly check the the order of the args is

[code]

make sure amount and price are in the correct order

make sure you have a balance on ftx, and that it is not used in any other orders or positions

[2021-10-03 19:14] xmatthias commented on #10111
@frosty00 so inconsistent behaviour within ccxt is expected behaviour?

Which exchanges use which unit for rateLimit? Where is the documentation part for this?
please reopen this issue - as it's now no longer closed.

[2021-10-03 19:18] frosty00 commented on #10111
@xmatthias basically we now have costs for the rateLimits, which means you cannot change the `rateLimit` property for exchanges which have this implemented such as binance, huobi, okex etc, since the rateLimit will not be applied directly, instead the cost * rateLimit will be applied which is very your script for gateio stalled.

I've made a PR to fix this issue

[2021-10-03 19:18] frosty00 commented on #10111
the trouble is the @kroitor did a stupid fix, which wasn't a fix at all since he didn't test the code

[2021-10-03 19:20] xmatthias commented on #10111
The fix works for the provided sample, which is aligned to the documentation as far as i can see (which states that rateLimit is in ms).
It's intransparent which exchanges are using ms as unit, and which "something" else (which is not documented) at the moment.

[2021-10-03 19:28] frosty00 commented on #10111
@xmatthias yeah I'm testing it and it seems to be working. I'm pretty sure when I wrote it before it was giving me DDoSProtection errors when using the public api with super fast ratelimits. Maybe they changed it...

[2021-10-03 19:31] frosty00 commented on #10111
although there still remains the issue of letting users change the ratelimit while not breaking with the costs  which is why your original code breaks

[code]

currently at least this functionality is undefined if you change the rateLimit. i've submitted a PR to try to solve this

[2021-10-03 19:45] xmatthias commented on #10111
having accurate rateLimits defined by ccxt would be great, so the cost-based ratelimit will for sure be great (assuming set limits are accurate).

Previous rate-limits were sometimes too high (sometimes too low like for Kraken) - so setting them manually was our only option (and was also suggested in some older issues).

As mentioned above - if you introduce a new option (`rateLimitcosts`?) to def

[2021-10-03 19:51] frosty00 commented on #10111
@xmatthias I've already fixed it in #10113 which basically says

* if the rateLimiter is defined by ccxt then apply the costs
* otherwise apply a constant rateLimit as defined by the user

unfortunately we didn't consider what would happen for the users who modified the rateLimit in their code when we added support for dynamic rateLimits

[2021-10-03 21:17] kroitor commented on #9166
@Salz0 you can see what exactly is going on in `verbose` mode as documented here:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2021-10-04 00:55] kroitor commented on #10111
@xmatthias we have discussed this within the team and, as was mentioned above, the rateLimit property still operates in terms of milliseconds and will behave very close to the way it worked before, as explained in the documented Manual. In other words, there is (there will be) no inconsistency in regard of that. Most of the exchanges in the current master are not directly affected by this change,

[2021-10-04 06:36] givinkwon opened #10120 "I think a description of the bounce delivery stop loss should be added."
binance는 futures 선물이 delivery / futures로 분류되어 있다. 그러나, 코드 주석에는 futures에 대한 내용만 설명되어 있다. delivery에 속한 xxx/coin (ex) EOS/USD)는 STOP/LOSS 명령을 걸 때 에러 메세지를 결과로 내보냅니다

![image](https://user-images.githubusercontent.com/22470975/135804409-654066c9-8dee-46f1-b5cb-5bc77390a5f1.png)

[2021-10-04 06:39] leebh12 opened #10121 "deprecated endpoint: transition from Wapi to Sapi"
- OS:Windows 10 Pro
- Programming Language version: Python 3.8
- CCXT version: 1.46.35

ExchangeNotAvailable: binance POST https://api.binance.com/wapi/v3/withdraw.html?timestamp=1633328084000&recvWindow=5000&asset=BTT&address=TDYciuoDpJ8M6bh1TmVWqehG2WRcFYda4Y&amount=457943.832&name=TDYciuoDpJ8M6bh1TmVW&addressTag=&signature=ca2a15ab3cbbb7b96d97b6df0a69be0422c86e3e9c3f37ec0f65b109903af804 503 Thi

[2021-10-04 06:44] kroitor commented on #10121
Please, upgrade to the most recent version 1.57.40+ and use the unified withdraw method:

- https://github.com/ccxt/ccxt/wiki/Manual#withdraw
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

Let us know if the above does not answer your question.

[2021-10-04 06:44] #10121 closed

[2021-10-04 06:49] givinkwon opened #10122 "I suggest additional functions for binance delivery transaction api."
In the case of finance delivery (coin market) transactions, the transaction is not made according to the quantity desired by the user. Because of this, the ccxt function seems to have an error. For example, if you trade 1BTC by creating a BTC/USD order in ccxt, figures according to the binance formula of 0.5BTC or less are traded. This is because of the special formula that works when trading futu

[2021-10-04 06:54] givinkwon commented on #10120
If you look at the binance documentation, the order_type of coin market classified as delivery is
LIMIT
MARKET
STOP
STOP_MARKET
TAKE_PROFIT
TAKE_PROFIT_MARKET
TRAILING_STOP_MARKET
It seems that.

[2021-10-04 06:58] givinkwon commented on #10120
I used this codes

params = {'stopPrice' : round(float(price) * 1.2, 3)}
    order = binance.createOrder('EOS/USD', 'TAKE_PROFIT', 'sell', 2, round(float(price) * 1.1, 3), params)

[2021-10-04 07:05] #10120 closed

[2021-10-04 07:06] kroitor commented on #10120
@givinkwon you should upgrade to the most recent version of CCXT 1.57.40+ and use `ccxt.binancecoinm()` instead of `ccxt.binance()`. Also, you are missing the price argument for the create_order call.

- https://github.com/ccxt/ccxt/blob/master/examples/py/binance-coin-margined-take-profit.py

[code]

Let us know if that does not answer your question.

[2021-10-04 07:11] kroitor commented on #10122
@givinkwon please, always paste your request+response output with verbose mode enabled in text, using Github Markdown for text formatting and readability (do not paste the text as screenshots or images). Read these instructions very carefully and follow them precisely:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help
-https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2021-10-04 07:50] givinkwon commented on #10122
Sorry, I was not good at creating issues. If there's anything you need to improve, please tell me.

[2021-10-04 08:21] kroitor commented on #10122
@givinkwon I'm not sure I fully understand the question. We need to see the requests that are being sent, you've pasted just the response part. Can you plz paste the request? It will be obvious from there most likely.

See the limits and precision settings for Binance COIN-M EOS/USD:

[code]

Limits and precision are documented in the Manual here:

- https://github.com/ccxt/ccxt/wiki/Manual#precis

[2021-10-04 11:25] docek commented on #10099
Until last week it worked fine, but they probably changed something.
Thanks.

[2021-10-04 17:24] xmatthias commented on #10111
Seeing the approach you're taking now (#10113 , ...) seems to be a good way :+1:

I must admit, i've completely missed the change on how you handle rateLimits now - it seems to work just great (currently testing for binance, but i assume it'll work similarily great for other pairs).

[2021-10-04 22:49] kroitor commented on #10111
@xmatthias thx for your feedback!

[2021-10-04 23:04] kroitor commented on #10099
@docek

Will investigate, thx for reporting!

[2021-10-05 00:34] Bomper opened #10130 "Binance: "Fee charged in different currencies" for SOL/BTC"
I was running the example I submitted long time ago at #1079. For the SOL/BTC pair, it returned the following error:

[code]

I've seen Binance charge the fee in BNB for pairs such as SOL/BUSD.

But the error is not clear. Was the fee charged in more than one currency? "different currencies" from what? The base or the quote? Why not "in a different currency" (singular)?

- OS: Linux
- Programming

[2021-10-05 00:42] kroitor commented on #10130
@Bomper

That message is not from CCXT, though, it is from the example – some orders may have fees in varying currencies, since orders can be filled partially. It depends on your settings with Binance. If you have enabled paying fees in BNB, then, if you have BNB on your account, the fees will get paid in BNB (usually, at a discount). If you run out of BNB, the fees will be paid in the currency yo

[2021-10-05 00:52] Bomper commented on #10130
Duh, I should have checked my own code. Sorry for being an idiot :smile:

I've fixed the example to only roll up trades within the same order if the fee currency was the same. I could update it happily but I see there was not much interest in that example since 2018.

[2021-10-05 00:52] #10130 closed

[2021-10-05 02:56] articobandurini opened #10131 "HitBTC "Price is not a valid number""
I'm trying to create a Stop Limit order with HitBTC and get this error for some reason: "Price is not a valid number".

- OS: OSX 11.6
- Programming Language version: Node.js v14.15.3
- CCXT version: 1.54.72

First of all, this is my amount, price and params object that are passed to createOrder call:

[code]

Verbose output:

[code]

I see that there is no `price` parameter in the request, it's m

[2021-10-05 02:59] kroitor commented on #10131
@articobandurini does this snippet work for you (with `type` = `'limit'`)?

[code]
[code]

[2021-10-05 03:01] kroitor commented on #10131
HitBTC has upgraded the API to v3. the integration in CCXT is for v2.
We will add the support for HitBTC v3 as soon as we can.

[2021-10-05 03:06] articobandurini commented on #10131
When I set type to `limit`, I get the following:

[code]

Params seem to be passed ccorrectly, but their names are for v2 probably...
What can be done right now to make it work before you push an upgrade?

[2021-10-05 03:08] kroitor commented on #10131
Replace your params with camelCase:

[code]

Let us know if it works for you.

[2021-10-05 03:19] articobandurini commented on #10131
The thing is that I have to retain original order type, so I try to replace it with a `type: limit` property inside params, but it doesn't work. Is that correct behaviour?

[2021-10-05 03:48] kroitor commented on #10131
@articobandurini it should be the other way around, the `type` argument must be set to `limit` and the `type` param must be `stopLimit`.

[2021-10-05 04:36] articobandurini commented on #10131
Yes it works! Thank you for such a quick help!
Could you please send a note to this thread when you push update for v3.

[2021-10-05 08:17] docek commented on #10099
And same result with

e.fetch_closed_orders('BTC/USD')

[2021-10-05 09:59] kroitor commented on #10131
@articobandurini yes, will do, as soon as it arrives.

[2021-10-05 09:59] #10131 closed

[2021-10-05 10:00] kroitor commented on #10099
@docek looking into it, thank you!

[2021-10-05 10:39] Salz0 commented on #9166
Thank you very much, @kroitor & @frosty00 .
Concise and on point

[2021-10-05 11:00] #9917 closed

[2021-10-05 16:26] #10081 closed

[2021-10-05 18:14] iMichaelM opened #10141 "Long/Short Multiple Symbols Single Script"
- OS: Windows 10
- Programming Language version: Python 3.9
- CCXT version: 1.56.63

Perhaps this is a little weird/simple but I'm just starting out with all of this and wanted to reach out to you guys to ask two things, please.

1. How should I go about converting this script so that I can replace 'BTC/USDT' with x other symbols, instead of having to run multiple scripts with same code, just diff

[2021-10-05 18:44] iMichaelM opened #10142 "RaspberryPi Error When Windows 10 Working"
- OS: RaspberryPi - latest raspbian
- Programming Language version: 3.7
- CCXT version: 1.56.63

Hey guys, could you please kindly help me out here? I've been running the below code on a Windows PC for a week straight, no issues but when I switched to a RaspberryPi, all of a sudden, I'm getting this long error msessage. Not right away either, sometimes after a few mins, sometimes a few hours...

M

[2021-10-05 19:46] frosty00 commented on #10142
@iMichaelM you need to handle the error like so

[code]

[2021-10-05 19:59] yohaieival opened #10146 "reduce_fees_by_currency() missing 1 required positional argument: 'string'"
Hello,
When I use the function:

     exchange.create_limit_sell_order (symbol, amount = coin_balance, price = price)

In Gate.io and OKex I get the following error message:

"reduce_fees_by_currency () missing 1 required positional argument: 'string' "

[2021-10-05 20:07] iMichaelM commented on #10142
Maybe it's simple but how do you suggest it I wrap the code with it, given it currently runs as per below? In other words, where exactly should I put it?

try:
    schedule.every(1).minute.at(":00").do(algo)

    while True:
        schedule.run_pending()
        time.sleep(0.1)

[2021-10-05 20:14] frosty00 commented on #10146
thanks for reporting, i've uploaded the fix

[2021-10-05 20:14] frosty00 commented on #10146
it should arrive within an hour or so

[2021-10-05 20:29] #10146 closed, assigned to kroitor

[2021-10-05 20:30] kroitor commented on #10146
This bug is fixed in CCXT 1.57.57+ (the new build will arrive in 20 minutes). Thanks for reporting!

[2021-10-05 20:57] Shuhari-Zap commented on #10146
Thanks for reporting. Must have slipped in just recently? Had the same issue suddenly in production. I quickly worked around it by setting "reduceFees": False when I create my Exchange object. I tried looking for the parameter in the documentation, but could not find anything.
@kroitor can you let us know what this setting actually does? Thanks!

[2021-10-05 21:41] lsheynova commented on #5227
Using the Binance API I can fetch the klines data with a time range, in exchange.fetch_ohlcv(symbol, '1d'), there is no timerange, so how do I select time range?

[2021-10-05 21:51] lsheynova opened #10148 "Historical Klines CCXT Binance"
- OS: Windows 10
- Programming Language version: Python
- CCXT version: 1.57.43

In the Binanace API I can use the function
``` klines = client.get_historical_klines("ETHBTC", Client.KLINE_INTERVAL_30MINUTE, "1 Dec, 2017", "1 Jan, 2018")```
to get klines from a specific time frame, so how would I implement this in CCXT.

This is my code, it can currently fetch 500 candles, but I have no way of set

[2021-10-05 23:36] kroitor commented on #10148
Let us know if this does not answer your question:

[code]

[code]

[2021-10-05 23:36] #10148 closed

[2021-10-05 23:36] kroitor commented on #10148
- https://github.com/ccxt/ccxt/blob/master/wiki/Manual.md#ohlcv-candlestick-charts
- https://github.com/ccxt/ccxt/wiki/Manual#pagination

[2021-10-05 23:39] kroitor commented on #5227
@lsheynova the `1d` string – is the timeframe:
- https://github.com/ccxt/ccxt/issues/10148
- https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-candlestick-charts

[2021-10-05 23:50] lsheynova commented on #10148
I am not sure if this answer my question, I was hoping to pull historical data like I can with the Binance API, It means I have to use both the Binance API and the CCTX API to pull historical data. I can pull datafrom 1 day ago using CCTX but I want to get data from inception, or 2018.

[2021-10-05 23:56] kroitor commented on #10148
@lsheynova you should apply some pagination as explained in the Manual and shown in the examples:

- https://github.com/ccxt/ccxt/wiki/Manual#pagination
- https://github.com/ccxt/ccxt/tree/master/examples/py

[2021-10-06 01:00] MrMechanical opened #10150 "Best way to substitute missing information (bid/ask or volume) from Bittrex and Lbank? (missing from fetch_tickers()))"
I am really enjoying the ccxt library, it is definitely one of the most useful libraries in the crypto space and I really appreciate its existence.

I am curious what is the best way to substitute missing ask/bid from Lbank ticker or quoteVolume/baseVolume (either would suffice) from Bittrex ticker (using fetch_tickers()).

Thank you greatly for your help,

MrMechanical

- OS: macOS 10.15.4
- Prog

[2021-10-06 01:06] lsheynova commented on #9425
The fee goes to the developers of CCXT?

[2021-10-06 01:10] kroitor commented on #10150
[code]

Lbank does not have it, use fetch_order_book() to obtain bids and asks from there.

- https://github.com/ccxt/ccxt/wiki/Manual#order-book
- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/wiki/

[2021-10-06 01:10] MrMechanical opened #10152 "New exchange: Coinbene"
Website: https://www.coinbene.com/
Github for API and documentation: https://github.com/Coinbene

Thank you for reading my suggestion.
Kind regards,
MrMechanical

[2021-10-06 01:11] kroitor commented on #9425
@lsheynova part of the fee goes to the users as a discount, and the exchanges share the rest of it with the developers of CCXT.

[2021-10-06 01:13] #10152 closed, assigned to kroitor

[2021-10-06 01:24] MrMechanical commented on #10150
@kroitor Thank you greatly for the quick response.

If I want both bid/ask and volume from Bittrex tickers should I have 2 instances of Bittrex exchange (one set for bid/ask and another set for qouteVolume/baseVolume with publicGetMarketsSummaries) since publicGetMarketsSummaries doesn't have bid/ask? What is the best method to get both bid/ask and qouteVolume/baseVolume while still being protecte

[2021-10-06 07:50] MrMechanical commented on #10150
I found it is possible to call fetch_tickers() with publicGetMarketsSummaries enabled and again with publicGetMarketsTickers enabled and then combining the information using the same bittrex exchange instance.

`bittrex.options['fetchTickers']['method'] = 'publicGetMarketsSummaries'

bittrex.options['fetchTickers']['method'] = 'publicGetMarketsTickers'`

[2021-10-06 07:57] gshpychka commented on #6602
Hi, is Deribit Pro still being worked on?

[2021-10-06 09:40] ShieldTrade opened #10153 "Measure latency and Exchange time differencies on bitmex testnet"
- OS: windows 10
- Programming Language version: Python 3.9
- CCXT version: CCXT Pro Version 0.8.13
- exchange: bitmex

First of all I appreciate a lot your assistance service.  So far very good and very fast answers.

reading issue [7931](https://github.com/ccxt/ccxt/issues/7931)

i modified a bit the code
1)  print exchange time before create order       2021-10-06T09:23:07.126Z
2) fetch open or

[2021-10-06 10:21] ShieldTrade opened #10155 "[bitmex] watch_order_book general question"
- OS: windows 10
- Programming Language version: Python 3.9
- CCXT version: CCXT Pro Version 0.8.13
- exchange: bitmex

Reading bitmex api:
"If you wish to get real-time order book data, we recommend you use the orderBookL2_25 subscription. orderBook10 pushes the top 10 levels on every tick, but transmits much more data. orderBookL2 pushes the full L2 order book, but the payload can get very large

[2021-10-06 10:34] Kinzowa opened #10156 "Problem installing CCXT Pro"
Hello,

I'm trying to install CCXT Pro with SSH (pub key added into my Github profile) but I get an error :

[code]

How could I solve this issue ?

Best,
Kinzowa

[2021-10-06 11:59] bitlocusDev opened #10158 "New Exchange: Bitlocus"
Hey,

we would like to add our exchange api to the ccxt library.

Website:
https://app.bitlocus.com

API documentation:
https://api.bitlocus.com

What would be the next step?

[2021-10-06 12:21] Kinzowa commented on #10156
Thanks Igor

[2021-10-06 12:21] #10156 closed

[2021-10-06 21:57] krychla1 opened #10160 "binance.safeOrder2 problem at binance.reduceFeesByCurrency"
Hi kroitor,
sorry I don't have time to dig deep now, I just pulled last version with binance.safeOrder2 and found below problem in my logs when creating order. I think you are providing numbers from Exchange.js: 1567 to Precise.stringAdd in Exchange.js:1561.
Please double check.
Thanks.

- OS:linux
- Programming Language version:nodejs
- CCXT version:1.57.59

[code]

[2021-10-07 02:35] fengyeall111 opened #10162 "function params is not known"
this project is so powerful,but there are some spots.
when I use function ,such as fetchOLHCV,the api is no explains about its inputs and outputs..especilly function params.
so I must use "debug debug debug"  to find how it works and decide function argument.
swagger is prefect to it.

[2021-10-07 05:42] booleandigit opened #10163 "FTX CCXT Trailing Stop Order Errors"
Hi There,
i am dynamically calculating my variables. e.g. (variables get following values)
symbol = SAND/USD;
coin_balance: 375.0;
coin_price: 0.7822
atr: 0.0158 (i am making sure ATR is accurate to same decimal places as price.)

`symbol = 'SAND/USD'`
`trailvalue = -(atr*1.5)` #making it negative value for Sell order
`amount = coin_balance`

[code]
when placing order I am getting following errors

[2021-10-07 06:22] #10160 closed, assigned to kroitor

[2021-10-07 06:26] kroitor commented on #10162
@fengyeall111 the arguments of fetchOHLCV are documented in the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-candlestick-charts

The fields inside the `params` argument are exchange-specific and this is also noted in the Manual here:

- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params

So, if you are wondering which exchange-specific params are supported for this

[2021-10-07 06:26] #10162 closed

[2021-10-07 06:32] christophe-hall opened #10165 "Using accountsByType in general.."
I'm trying to automate balance queries for every available account type of any given exchange. It seemed like a good idea to use exchange.options.accountsByType to get a list of the exchange account types but the application of this property seems to vary between different exchange classes.

Is there a recommended approach to achieve my goal?

TIA.

[2021-10-07 09:11] avatar-lavventura opened #10169 "Would it be possible to transfer USDT in between spot and futures balances in binance?"
- OS: macOS
- Programming Language version: python 3.7
- CCXT version: 1.57.52

----------

[python-binance](https://github.com/sammchardy/python-binance) allows us to transfer USDT in between `spot` and `futures` accounts.

Example usage in `python-binance`:

[code]
Would it be possible to achieve this using `ccxt`?

[2021-10-07 09:14] #10169 closed

[2021-10-07 16:40] 0x11111111 opened #10170 "In the exchange LBank, market buy order still needs param 'amount' even if it has been provided."
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2021-10-07 17:20] kroitor commented on #10170
Ok, this is a misleading error message from the Lbank's docs.
As you can see from your own output above, the `amount` is correctly passed to Lbank in the request:

[code]

I think, what they actually want is a price for a market-buy order to calculate the cost of the order. This is explained here:

- https://github.com/ccxt/ccxt/wiki/Manual#market-buys

Please, paste your output if this does not h

[2021-10-07 17:25] 0x11111111 commented on #10170
It seems still not work out.
Other setup remains unchanged.
Code:
[code]
Error:
[code]

[2021-10-07 17:54] iMichaelM commented on #10142
Anybody, please?

[2021-10-07 17:54] iMichaelM commented on #10141
Anybody, please?

[2021-10-07 18:16] steebchen opened #10172 "bitfinex2 throws currency: invalid on fetchTransactions"
- OS: MacOS
- Programming Language version: node v16.8.0
- CCXT version: ccxt@1.57.68

Basically `bitfinex2` fetchTransactions does not seem to work.

[code]

Throws this, e.g. with parameter AAVE or BTC or really any currency code:

[code]

I'm using `bitfinex2` as it seems that the opposite behaviour applies to `bitfinex` as I can fetch the transactions but not the trades. Is this a known issue?

[2021-10-07 19:02] #10170 closed, assigned to kroitor

[2021-10-07 19:04] kroitor commented on #10172
[code]

[2021-10-07 19:05] 0x11111111 commented on #10170
Thanks for your patience in helping me out. I'd like to assist if you need translation of the Chinese documents.

[2021-10-07 19:37] kroitor commented on #10082
I cannot reproduce this issue anymore using the most recent version of the lib:

[code]

Do you still have this problem?

[2021-10-07 21:50] kroitor commented on #10082
I mean, i've just tested the v1 requests via the unified methods, as well as that specific implicit v2-endpoint with the code snippet above. My version of Node.js is 14.15.4.... Still can't reproduce it though – getting a proper response (parsed from JSON into a native JS object).

[code]

Will try upgrading to 14.16 to see if it makes any difference.

[2021-10-07 22:03] ndubel commented on #10082
I try your code now without changes (only api key) and still the same. Also I have unchanged ccxt.

But for v1 method it work as usual:

[code]

[code]

[2021-10-07 22:14] ndubel commented on #10082
npm start working and I updated to 1.57.68 - > 1.57.70 and it work properly, thank you!

maybe at that moment you had 1.57.69?

[2021-10-07 22:15] #10082 closed

[2021-10-07 22:51] ahernandez30 opened #10174 "Can't install CCXTPro using pip3"
Hello, I'm receiving an error when trying to install the ccxt pro pip package on my project. Could you help me with that?

MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date.

[2021-10-07 22:55] kroitor commented on #10174
@ahernandez30 hi! Have you configured and tested your SSH authentication with GitHub? It is required for the `git+ssh` scheme/

- https://docs.github.com/en/authentication/connecting-to-github-with-ssh

Alternatively, you can use the `git+https` scheme as described in the CCXT Pro Install Manual here:

- https://github.com/ccxt/ccxt/wiki/ccxt.pro.install#python

So, you could use the following com

[2021-10-08 12:42] phips28 commented on #1001
Have you tried https://www.npmjs.com/package/cloudflare-scraper ?

[2021-10-08 14:01] cabanossi opened #10179 "okex update fetchClosedOrders()"
Hello!

At the moment, the fetchClosedOrders function in the okex.js take the method ``privateGetTradeOrdersHistory`` (Line 1806).

Can this change to the ``privateGetTradeOrdersHistoryArchive`` method?

The costs a little bit higher, but you become the records for 3 months and not only for 7 days. :-)

https://www.okex.com/docs-v5/en/?java#rest-api-trade-get-order-history-last-7-days
Rate Limit:

[2021-10-08 14:04] kroitor commented on #10179
It is already supported, just instantiate the exchange like this:

[code]

Or set that option in runtime before the call to `fetchClosedOrders`:

[code]

Let us know if that does not answer your question.

[2021-10-08 14:20] cabanossi commented on #10179
just tried. Unfortunately does not work.

In the Line 1780 ``const options = this.safeString (this.options, 'fetchClosedOrders', {});`` i can see the variable in the safeString-function:
![image](https://user-images.githubusercontent.com/16591195/136573080-42fcdc18-6069-49f5-b229-be37cf502b5e.png)

but in Line 1806 ``const method = this.safeString (options, 'method', 'privateGetTradeOrdersHistory'

[2021-10-08 14:27] #10179 closed, assigned to kroitor

[2021-10-08 16:44] dawadam opened #10181 "Binance sub-account future transfer to main spot"
Hello,
Is it possible to make a transfer from a sub-account "future" to the main account "spot" on Binance ?

The API seems to allow:

https://binance-docs.github.io/apidocs/spot/en/#sub-account-futures-asset-transfer-for-master-account

[2021-10-08 17:50] #10181 closed

[2021-10-08 19:05] dawadam commented on #10181
Note that the transfer takes place from the future part of sub-account to arrive at the future part of main account.
I imagine that we have to make another API request to switch from the future part of the main account to the spot part.

[2021-10-09 09:08] kroitor commented on #10163
@booleandigit hi! What is the type and value of `trail_value` in your case?

[code]

[2021-10-09 12:49] booleandigit commented on #10163
@kroitor, thank you for looking into this.
[code]
output:
`-0.00921 <class 'float'> 375.0 <class 'float'> -0.013815 <class 'float'>`

[2021-10-09 13:08] #9233 closed

[2021-10-09 13:08] #9543 closed

[2021-10-10 05:04] noHomoRey opened #10187 "'ndax' object has no attribute 'login'"
- OS: Windows 10
- Programming Language version: Python 3.8.5
- CCXT version: 1.57.82

[code]

[code]

[2021-10-10 07:20] xmatthias opened #10188 "Kucoin restricted market order response not properly parsed"
- OS: linux
- Programming Language version:  python 3.9
- CCXT version:

Original issue:
https://github.com/freqtrade/freqtrade/issues/5624

It seems like when creating an order on kucoin on a Restricted market (basically from a US IP, against a market like `QRDO/USDT`) - the response from ccxt is `{}`.

As the order is rejected, i'd expect this to raise an exception (probably `InvalidOrderExcepti

[2021-10-10 09:21] diazidabagus opened #10189 "Add Tokocrypto Exchange"
Hi is it possible to add Tokocrypto in CCTX?

[2021-10-10 09:22] Tomas-MP opened #10190 "FTX unable to retrieve funding income"
- OS: Windows 10
- Programming Language version:  3.8.11
- CCXT version: 1.57.82

[code]

[code]

It seems that the error appears in the parse_incomes() method, nevertheless I am not sure how to fix it.

[2021-10-10 10:16] kroitor commented on #10188
@xmatthias thx for reporting, will push a fix shortly. I think it matches a `PermissionDenied` exception type ? Or do you think it should be `InvalidOrder` ?

[2021-10-10 10:20] kroitor commented on #10189
Hi!

Yes, we will add it as soon as possible:

- https://github.com/ccxt/ccxt/issues/9413
- https://github.com/ccxt/ccxt/wiki/FAQ

[2021-10-10 10:20] #10189 closed, assigned to kroitor

[2021-10-10 11:14] #10188 closed, assigned to kroitor

[2021-10-10 11:42] kroitor commented on #10188
I've added it under `PermissionDenied` exception type, if you think `BadSymbol` or `InvalidOrder` would work better – please, let us know.

[2021-10-10 13:06] kroitor commented on #10188
@xmatthias ok, i think i'll change it to BadSymbol, cause PermissionDenied is related to the read/write permissions on the keypair.

[2021-10-10 13:20] #10187 closed

[2021-10-10 23:02] MrMechanical opened #10191 "When to use fetchDepositAddress or createDepositAddress? (question)"
Hello I have a question:

When should I use fetchDepositAddress or createDepositAddress? How do I know if the address is already created or not?

Thank you so much for your help,
I am really enjoying ccxt.
MrMechanical

[2021-10-10 23:32] memory942 opened #10192 "fapiPrivate_post_leverage not working"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: win10
-

[2021-10-10 23:52] kroitor commented on #10192
@memory942 do not override the `rateLimit`. If you have the most recent version, this should work with a fresh keypair:

[code]

Let us know if the above does not help.

[2021-10-10 23:55] kroitor commented on #10191
If `fetchDepositAddress` throws an `InvalidAddress` exception at you or returns an empty/None response – that might indicate that you have to call `createDepositAddress` first or create your addresses for your wallet on the exchange website.

Let us know if that does not answer your question.

[2021-10-10 23:55] #10191 closed

[2021-10-10 23:57] memory942 commented on #10192
nvm, checked out your link and resynced my time, it works fine again. I don't know why the time desynced.

[2021-10-10 23:59] kroitor commented on #10192
@memory942 thanks for your feedback, good to know you have it resolved.

Windows is notoriously bad at time synching with default settings – make sure to read more of the above links.

[2021-10-11 02:58] #10190 closed

[2021-10-11 03:50] Cinux-Chosan opened #10194 "The initial value of properties of `has` should be false in base/Exchange.js"
Gate.io Does not implement method `createMarketOrder`, nor, rewrite it's `has.createMarketOrder` property to `false`. But the result of `Gate.io#has.createMarketOrder` is true due to the deep extension from `base/Exchange`. This may be a mistake of Gate.io, but I think it's better that properties of `base/Exchange.has` should be false, any exchange who implement it can rewirte its own to true.

[2021-10-11 04:07] kroitor commented on #10194
@Cinux-Chosan most of the missing methods are either `undefined` (if we don't know for use if a corresponding endpoint is available from the exchange, or it is not implemented yet) or `false` (if we know for sure that the exchange does not have it).

This is covered here:

- https://github.com/ccxt/ccxt/wiki/Manual#exchange-metadata

I've pushed a fix for gateio: https://github.com/ccxt/ccxt/commi

[2021-10-11 04:07] #10194 closed

[2021-10-11 04:51] Cinux-Chosan commented on #10194
Very efficient!

[2021-10-11 06:42] art1313 opened #10195 "Create subaccount support kucoin python"
Hi,

It appears that python library for Kucoin do not support creation of subaccounts. Is this something that is going to be added in the near future?

Thanks.

[2021-10-11 08:28] homily opened #10196 "How Can I Use The OKEX Demo Trading,Now it"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- OS:win10
- Programming Language version: Python 3.9
- CCXT version:    ccxt-1.57.94

Hi,

Now i want to change okex V3 to okex V5 api,
but ,some code wants debug. when i try it.
i see the v5 Demo Trading not change rest url

Demo Trading  use  the Rest Url "https://www.okex.com" too,
but just

[2021-10-11 11:26] kuppusamyT opened #10198 "Issues is with connecting binance with python"
Im able to fetch the balance from live binance account, but when placing order im getting below error

INFO :: Getting Binance trade size...
2021-10-11 16:32:00,546 INFO :: Binance current BUSD balance = 0.0435638, trade size = 0.0
2021-10-11 16:32:00,546 INFO :: Long signal on ADABUSD 1m
2021-10-11 16:32:01,193 ERROR :: Error while making POST request to /api/v3/order: {'code': -2015, 'msg': 'Inv

[2021-10-11 11:58] kroitor commented on #10198
@kuppusamyT make sure that your API Key is correct and the permissions on the API keypair allows trading.

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

Hope that helps.

[2021-10-11 11:58] #10198 closed, assigned to kroitor

[2021-10-11 12:15] kuppusamyT commented on #10198
Okay!  Thank you so much for reply. I will try out

[2021-10-11 14:45] fizzyfuzzle opened #10199 "Bitvavo: It seems the last commit to parse the order result with safe_order2 is broken:"
https://github.com/ccxt/ccxt/blob/3fb0675670f0d9456a25de979e940553a7c8df0e/python/ccxt/async_support/bitvavo.py#L1135

CCXT version: 1.57.67

[code]

It seems in the last commit on this Bitvavo.py the change to parse the order result with **self.safe_order2** is broken.

[code]

But it is missing the 'market' argument.
https://github.com/ccxt/ccxt/blob/3fb0675670f0d9456a25de979e940553a7c8df0e/pyth

[2021-10-11 15:28] #10199 closed, assigned to kroitor, frosty00

[2021-10-11 21:17] mablue commented on #4685
me too :))
this exchange have 3 defferent password :|

[2021-10-11 22:12] yazeed opened #10201 "Bug in __construct of Exchange.php on line 1218"
Sorry for  not contributing directly, but maybe someone else could.

I found a bug on Exchange.php on [Line 1218](https://github.com/ccxt/ccxt/blob/b474444f79595f82a3acfa7376bd11094fb3d05a/php/Exchange.php#1218) of version 1.57.96 …

[code]

should be:

[code]

[2021-10-11 22:50] #10201 closed, assigned to kroitor

[2021-10-11 23:53] kroitor commented on #10201
@yazeed let us know if you find more! Thx again!

[2021-10-12 07:24] reon777 opened #10204 "New exchange: Decurret"
Hi, could you add this change https://www.decurret.com/
Thanks!

[2021-10-12 07:43] pietrodn opened #10207 "Implement fetchOrders() for OKEx"
The `fetchOrders()` method for the `okex` exchange (v5 API) is not implemented and returns a `NotSupported` exceptions.

It is possible to implement it? For now we'll work around it by using the implicit APIs, but it would really nice to have it within CCXT. Thanks 🙏🏼

[2021-10-12 10:48] jalapenopuzzle commented on #10163
I found the problem.
order = ftx.create_order(symbol,'trailingStop','sell',coin_balance,params={'trailValue':trailvalue,'reduceOnly':True})
Note that price is not set in the argument list to create_order.
The default value for price is None.
However, at the line
            request['trailValue'] = float(self.price_to_precision(symbol, price))  # negative for "sell", positive for "buy"
price is use

[2021-10-12 11:14] Tomas-MP opened #10208 "FTX fetch_funding_history() bug"
- OS: Windows 10
- Programming Language version: Python 3.8.10
- CCXT version: 1.57.98

[code]

[code]

I already posted a bug (#10190) before and I also mentioned this issue by commenting on the previously mentioned bug. It seems that the FTX API does not return a timestamp or that it is not referred to correctly. Hence, it does not return the correct time interval, instead, it gives an error.

[2021-10-12 11:28] belqit opened #10209 "request hangs forever"
sometimes "createOrder" function for FTX on node.js hangs forever

[2021-10-12 12:42] pietrodn opened #10210 "CCXT Pro does not handle OKEx WebSocket order update messages"
- OS: macOS 11.6
- Programming Language version: Python 3.9.7
- CCXT version: ccxt 1.57.94, ccxt-pro 0.8.89

CCXT Pro allows to subscribe to order updates of the OKEx exchange via the `watch_orders()` method, but the resulting order messages coming from the server are not handled in the `handle_message()` method.

Indeed, `handle_message()` only handles:
- order book updates
- tickers
- trades
- b

[2021-10-12 12:45] Tomas-MP opened #10211 "FTX client.fetch_positions() not showing recentPnl when 'showAvgPrice':True"
- OS: Windows 10
- Programming Language version: Python 3.8.10
- CCXT version: 1.57.98

[code]

[code]
In the older versions (1.56.41) it still works so I am not sure what causes this problem.

[2021-10-12 13:56] andrewchchu opened #10212 "Unsubscribing websocket"
Is there a way to unsubscribe from specific or all websockect channels?

Purpose of doing that is the save resource by stop streaming data not needed in the background.

Many thanks

[2021-10-12 13:56] #10212 closed

[2021-10-12 14:44] belqit commented on #10209
version: 1.57.43

I can't give you an example because it happens only sometimes

[2021-10-12 14:59] #10209 closed, assigned to kroitor

[2021-10-12 15:23] #10153 closed

[2021-10-12 15:41] booleandigit commented on #10163
### it's working!!!
@jalapenopuzzle So, i made changes based on feedback provided by you and took a trade with trailing stop loss via code, and then compared this with taking a trade on website.

the variable "price" is trigger price which is difference of market price and atr. (i.e. Trigger Price = Market Price - ATR)
this is as same as from website.

[code]
output:
[code]
the code is working as

[2021-10-12 18:23] frosty00 commented on #10211
closed in #10213

[2021-10-12 18:27] Mazon7 commented on #7394
@frosty00 @kroitor  yes, I just mixed these two settings which was my stupid fault)
Anyways, having such helpful community means a lot! 💪🏻

[2021-10-12 19:37] kroitor commented on #10211
@Tomas-MP we have switched back to FTX's positions endpoint in CCXT 1.57.99+
However, since the response of `fetch_positions` will return the unified structure to you, you want to either adjust the lookup to dive into the exchange-specific `info` for each position, or just switch to the implicit method called `privateGetPositions` and that will return the same response as it did in your older vers

[2021-10-12 19:38] Tomas-MP commented on #10211
@kroitor I'll figure it out, thank you for fixing it!

[2021-10-12 23:29] #10208 closed, assigned to kroitor, frosty00

[2021-10-13 01:01] booleandigit commented on #10163
@jalapenopuzzle, alright! while alternate solution works for me. I will leave this issue/question open for ccxt experts (@kroitor) to provide the fix as general expectation of trail-stop order is to work without providing any price parameter. Cheers guys!

[2021-10-13 08:27] janeCMD opened #10215 "CCXT Pro: Unsubscribe from particular channel ?"
We are developing application based on ccxt pro, which is keeping local orderbooks of many markets at once (few hundred).

The problem i run into is, **how to unsubscribe particular channel (watch_orderbook particularly)** when i no longer need to receive updates ? Obvious easy patch is just to ignore updates and process only needed orderbooks. But this approach might run into difficulty, that sys

[2021-10-13 23:18] alvoz opened #10217 "When trying to fetch_positions i get this error: ZeroDivisionError: integer division or modulo by zero."
[code]

[code]

Code was working fine and then all of a sudden stopped.

[2021-10-13 23:36] alvoz commented on #10217
Hi thanks for the reply

[code]

[2021-10-13 23:37] kroitor commented on #10217
@alvoz can you please add the verbose switch before the failing call? (as shown in my previous comment here: https://github.com/ccxt/ccxt/issues/10217#issuecomment-942792231)

[2021-10-14 00:31] #10217 closed

[2021-10-14 09:14] wunderb1t opened #10223 "watchOrders returns data for different Binance APIs from one account"
On the Binance Spot on one account we have two APIs.
When `watchOrder` is starting for first API, both (first and second API) receives updates.

Is it possible to receive updates only for one API which is subscribed via `watchOrder`

- OS: Debian (Docker)
- Programming Language version: JavaScript
- CCXT version: ccxt.pro 0.6.82

This code reproduce that updates for order created on one of APIs, w

[2021-10-14 09:15] kroitor commented on #10223
@wunderb1t you can use one exchange instance per keypair and run them in parallel, as shown in the examples:
- https://github.com/ccxt/ccxt/tree/master/examples
Let us know if that does not answer your question.

[2021-10-14 09:15] #10223 closed, assigned to kroitor

[2021-10-14 10:34] kroitor commented on #10223
@wunderb1t do you create those API keys using the same account? Cause then both of them will be mirroring each other. All API keys and all WS updates belong to the same account.

[2021-10-15 01:57] gregschwartz commented on #9085
I'm running into this too, thank you @willrandship for the solution, I'll try that!

@kroitor  would definitely appreciate having that guard in place, I've been trying to debug this for a while.

[2021-10-15 05:33] gregschwartz opened #10228 "Gemini: not correctly translating currency pair names"
I believe Gemini is supposed to correctly translate symbol names, right?

If so, it's not working correctly for Gemini :(

- OS: Mac
- Programming Language version: PHP 8.0.11 (cli) (built: Sep 26 2021 20:58:36) ( NTS )
- CCXT version: 1.58.17

[code]

Produces:
[code]

Changing the pair to lowercase without the slash, works though.
[code]

Seems like symbol names are working correctly on most mar

[2021-10-15 05:35] kroitor commented on #10228
Let us know if this example does not answer your question:

[code]

You can also use the `cli.php` example to get the same output.

[2021-10-15 08:22] dnld23 opened #10229 "watchOHLCV doesnt work without await"
The purpose i want to achieve is to be subscribed to many markets [right now at binance] at once and have current OHLCV data without need to fetchOHLCV each time and for each pair. Understand lets say 200 or 300 markets within 1 websocket application instance.

But we are getting into issue with watchOHLCV. If used without await, it will show warning and data will never load. If we use await, it w

[2021-10-15 10:29] janeCMD commented on #10229
@kroitor Thank you very much ! I will rework my code completely and try to do it according to given examples.

[2021-10-15 10:58] kroitor commented on #5923
@qqmastercom we are working on it right now and will hopefully deliver huobi's contract api this month!

[2021-10-15 11:41] serteikas opened #10232 "Best (unified) way to find if API keys have sufficient permissions for placing orders?"
Is there a unified call that I can make to test if the user has sufficient permissions assigned to his API keys for placing orders (be it SPOT or FUTURES)? Ideally, this should be without actual trading.

[2021-10-15 11:52] #10232 closed

[2021-10-15 15:09] avatar-lavventura opened #10234 "Would it be possible to fetch aggregated liquidation data for cryptocurrencies from Binance?"
- OS: linux
- Programming Language version: Python 3.7
- CCXT version: `ccxt==1.57.52`

---------

On these sites (https://coinalyze.net/ethereum-classic/liquidations/, [BTC/USDT][1]), I am able to add following indications into grpah [`Liquidations`, `Long Liquidations`, `Short Liquidations`, `Aggregated Liquidations COIN-margined Contracts`, `Aggregated Liquidations STABLECOIN-margined Contracts

[2021-10-15 15:15] #10234 closed, assigned to kroitor

[2021-10-15 15:25] #10229 closed, assigned to kroitor

[2021-10-15 15:33] #10207 closed, assigned to kroitor

[2021-10-15 15:56] kroitor opened #10235 "MEXC Global Integrated and Certified!"
Hello, dear CCXT users!

We are happy to announce the **[MEXC Global](https://m.mexc.com/auth/signup?inviteCode=1FQ1G)** API Integration and Certification with CCXT.
MEXC Global API is now fully integrated with CCXT as of version 1.58.12+ and this is official!

Related requests and issues:

- https://github.com/ccxt/ccxt/issues/4823
- https://github.com/ccxt/ccxt/pull/8144
- https://github.com/ccx

[2021-10-15 23:08] kroitor commented on #10228
It's this problem again:

[2021-10-15 23:08] #10228 closed

[2021-10-16 00:28] gambitov commented on #6391
Hello @kroitor, if I make a market order using:
`exchange.create_order(symbol, 'market', 'buy', amount, price)`
doesn't price matter? I mean, the order is selled at market price, isn't it?

[2021-10-16 01:11] kroitor commented on #6391
@gambitov hi! Binance supports quote currency amounts for "how much to spend for buying or selling", and that can be calculated from amount and price (if you submit a price with a market order), that is explained in-depth here: https://github.com/ccxt/ccxt/wiki/Manual#market-buys

[2021-10-16 01:12] kroitor commented on #6391
@gambitov also, if you don't submit a price it will be a regular market order.

[2021-10-16 10:05] franklee00 opened #10242 "Wrong by : invalid number (contains an illegal character 'N')"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: mac
- P

[2021-10-16 11:03] liangliang opened #10243 "Function privateGetInfo should be v1PrivateGetInfo"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: MAC
- P

[2021-10-16 13:34] jkim-96 opened #10245 "Binance cancel_order does not work"
- OS: windows
- Programming Language version: python 3.8.8
- CCXT version: ccxt 1.58.25

[code]

in most case, this 'cancelopen' code does work and it normally cancel open order. however sometimes, this 'cancleopen' code does not work and makes unnecessary trade. I'm a high frequency trader, so I often use cancleopen code very quickly. Is there any possibility that retrieving an open order is not

[2021-10-16 19:08] #10243 closed

[2021-10-16 19:11] alvoz commented on #10217
Hi @kroitor this error seems to have reoccurred for me when trying to `fetch_positions`

[2021-10-16 19:11] kroitor commented on #10242
@franklee00 afaik, mexc does not support market orders with the spot API at this time – the price is required according to their docs: https://mxcdevelop.github.io/APIDoc/
So, you have to supply a price for an order making it a limit order by default. That is the reason why `mexc.has['createMarketOrder']` metainfo is set to `false`:

- https://github.com/ccxt/ccxt/wiki/Manual#exchange-metadata

Ho

[2021-10-16 19:14] kroitor commented on #10245
Can you elaborate on that please? What is the verbose output of the failing call? Please, enable the verbose mode switch on the exchange instance and copy-paste your request+response body of the cancel_order call.

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

You're missing the error handling in your code, you have to wrap it with try/except clauses:
- https://github.com/c

[2021-10-16 19:50] alvoz opened #10246 "fetch_positions causing ZeroDivisionError."
I was having this same issue a few days ago [(thread here)](https://github.com/ccxt/ccxt/issues/10217), it was patched and then has started reoccurring, what's strange is I have two accounts running separate API keys and only one of them is affected.

It's invariably caused by using `exchange.fetch_positions`.
[code]

[2021-10-16 21:47] #10246 closed

[2021-10-16 21:48] kroitor commented on #10246
@alvoz thanks for reporting back, good to know you have figured it out!

[2021-10-17 00:07] #9085 closed

[2021-10-17 02:06] jkim-96 commented on #10245
답변
As I was just manipulating the code, I realized the most essential problem with my code. It was because I wrote the code wrong. It seems that it was not the problem of cancel open order, but that the position search was not repeated in the infinite loop code made with while. The situation in which the short position off is to enter the long position as much as the margin entered in the short po

[2021-10-17 02:14] #10245 closed

[2021-10-17 12:55] kroitor commented on #10234
@avatar-lavventura thanks for the feedback!

[2021-10-17 17:09] diazidabagus opened #10248 "[EXCHANGE REQUEST] Tokocrypto Exchange"
**Hi is it possible to add Tokocrypto exchange in CCXT**

Here is their documentation:
https://www.tokocrypto.com/apidocs/#api-document-description

[2021-10-18 02:54] #10248 closed

[2021-10-18 09:55] #10210 closed, assigned to kroitor

[2021-10-18 11:26] viper7882 opened #10249 "ByBit fetch_orders inverse symbol causing "Param validation for 'symbol' failed on the 'linear_symbol'" error"
- OS: Windows 11
- Programming Language version: Python 3.9
- CCXT version: 1.58.49
- Exchange: ByBit

[code]

[code]
The issue is that despite ETHUSD is Inverse symbol, the error message suggested that it failed validation for "linear_symbol".

I've traced the code @ https://github.com/ccxt/ccxt/blob/master/python/ccxt/bybit.py and highly suspect the problematic area is as following:
[code]
where

[2021-10-18 15:35] viper7882 opened #10255 "fetch_open_orders at ByBit does not return real-time limit order information but much delayed"
- OS: Windows 11
- Programming Language version: Python 3.9
- CCXT version: 1.58.49 + workaround stated at https://github.com/ccxt/ccxt/issues/10249
- Exchange: ByBit
- IDE: PyCharm 2021.2.2 (Community Edition) Build #PC-212.5284.44, built on September 15, 2021

Script:
[code]

Output log:
[code]

As shown in the logs, the ByBit provided Order_query Python API @ https://bybit-exchange.github.io/do

[2021-10-18 15:36] npomfret opened #10256 "[okex] incorrect error mapping"
`BadSymbol: okex5 {"code":"1","data":[{"clOrdId":"ddd","ordId":"","sCode":"51030","sMsg":"Funding fee is being settled.","tag":""}],"msg":""}`

When placing a futures order during the settlement period I see the following error.  I don't think BadSymbol is quite right, though I'm sure sure exactly what the error should be.  Perhaps a subclass of OnMaintennance?

[2021-10-18 20:34] pietrodn commented on #10210
Oh, my fault. I updated CCXT and it now works perfectly. Great job! 👏🏼

[2021-10-19 04:11] sunset1234321 opened #10261 "Feature inquiry"
I know it supports making transaction orders.

But Does this also support retrieve market state information(including quote information, etc) from each change?

[2021-10-19 04:13] steveharrison commented on #9968
Sure, I've created a repository with this issue and another issue, and have included the Terminal output plus screenshots of what happens on the Gate.io side: https://github.com/steveharrison/ccxt-gateio-issues/tree/master/Output%20on%20my%20machine.

[2021-10-19 04:14] #10261 closed

[2021-10-19 04:15] kroitor commented on #9968
@steveharrison thank you! Will investigate and will be back to you asap!

[2021-10-19 04:15] steveharrison opened #10262 "Will CCXT simulate market orders if not supported by the exchange?"
I'm currently getting an error if I try to use CCXT to do a market order on Gate.io. Is this supported by CCXT? Gate.io doesn't support market orders natively, but I was wondering whether CCXT provided a wrapper on top for this?

Source code: https://github.com/steveharrison/ccxt-gateio-issues
Error: https://github.com/steveharrison/ccxt-gateio-issues/blob/master/Output%20on%20my%20machine/Issue%2

[2021-10-19 04:17] #10262 closed

[2021-10-19 06:23] kroitor commented on #10255
@viper7882 are you testing the sandbox API or the production API ?

[2021-10-19 07:29] MrChenGG commented on #9234
我也遇到这个问题 有人解决这个问题了吗？

[2021-10-19 13:16] viper7882 commented on #10255
Hi @kroitor,

Thanks for your prompt response.

I'm using sandbox as captured in the above script. In fact, both client.Order.Order_query and exchange.fetch_open_orders are called using sandbox API. Logically both should be having similar performance. I could understand CCXT might take a little bit longer due to extra processing it requires, but I didn't expect the delay to be in range of 14 to 24

[2021-10-19 16:13] mablue opened #10265 "Some none on kucoin ticker"
`
 {'symbol': 'CTSI/USDT', 'timestamp': 1634659886833, 'datetime': '2021-10-19T16:11:26.833Z', 'high': 0.7686, 'low': 0.6552, 'bid': 0.7107, 'bidVolume': None, 'ask': 0.7122, 'askVolume': None, 'vwap': 0.7359226141198828, 'open': None, 'close': 0.7121, 'last': 0.7121, 'previousClose': None, 'change': -0.0075, 'percentage': -1.04, 'average': 0.73590243, 'baseVolume': 566536.76398785, 'quoteVolume':

[2021-10-19 16:29] kroitor commented on #10265
@mablue which specific fields do you mean?

[2021-10-19 17:22] ErlkoenigDerErste opened #10267 "Symbol is unknown but it definitely exists"
- OS: Windows 10
- Programming Language version: python
- CCXT version: ccxt-1.58.64

Good evening,

when I try to fetch OHLC data from poloniex, I receive an error that the symbol 'ETH/USDT' does not exist, but it definitely does.
Receiving ETH/USDT's ticker works fine.
Can anybody help me out please, this drives me crazy.

Regards, Marcel

[code]

[code]

[2021-10-19 17:41] #10267 closed, assigned to kroitor

[2021-10-19 18:50] ErlkoenigDerErste commented on #10267
Just in case that somebody tries to get 1 minute candles aswell. It's not possible. A 5min timeframe is the smallest possible for poloniex.

_poloniex.py:_
`'timeframes': {
                '5m': 300,
                '15m': 900,
                '30m': 1800,
                '2h': 7200,
                '4h': 14400,
                '1d': 86400,
            }`

[2021-10-19 20:24] kroitor commented on #10265
@mablue

Will add that, thanks for pointing it out!

Those are missing in the exchange's API response, as you see in the `info`. When the exchange does not provide that info, we cannot invent out of this air.

[2021-10-19 20:30] #10265 closed, assigned to kroitor

[2021-10-20 04:56] freegab commented on #9917
I tested buying with:
`exchange.create_order('BTC/USDT', 'market', 'buy', 0.05)`
This created a long position, then I tried to sell the long:
`params = {
        'reduce_only': True,
        'close_on_trigger': True,
        'time_in_force': 'GTC',
        'side': 'Sell'
}
exchange.create_order('BTC/USDT', 'market', 'buy', 0.05, params)`

This added to my long position...

[2021-10-20 05:44] freegab commented on #9917
turning on verbose shows some odd  things also:
`
params = {
        'reduce_only': True,
        'close_on_trigger': True,
        'time_in_force': 'GTC',
        'side': 'Sell'
}
exchange.create_order('BTC/USDT', 'market', 'buy', 0.01, params)
`
Running this shows in the logging the params are not being submitted correctly for reduce_only and close_on_trigger:
`
Request: POST https://api-testnet

[2021-10-20 09:15] elabunsky opened #10271 "Q: EXMO, Bybit websocket support"
Hello,

Does ccxt pro support exmo and bybit websocket fully now?

Regards,
Eugene.

[2021-10-20 14:58] mablue opened #10273 "Kucoin Too Many Requests"
I used:
[code]
On one line one core run of fetch_olhcv  loop
But still have:
[code]

[2021-10-20 15:04] #10271 closed, assigned to kroitor

[2021-10-20 22:59] kroitor commented on #9957
@rxall pardon for the delay on my side, will do my best to get to it this week.

[2021-10-21 04:17] dompaks10 opened #10276 "How to get Kucoin Sub-accounts list and balances?"
Hi, I use ccxt to fetch balance on kucoin, but the one showing is only for the main account, how can I fetch sub-accounts list and balances?

[2021-10-21 04:20] mathchq opened #10277 "TypeError: catching classes that do not inherit from BaseException is not allowed"
[code]

Exception ignored in: <function Exchange.__del__ at 0x7f96f9af93a0>
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.8/site-packages/ccxt/base/exchange.py", line 399, in __del__
  File "/opt/anaconda3/lib/python3.8/site-packages/requests/sessions.py", line 747, in close
  File "/opt/anaconda3/lib/python3.8/site-packages/requests/adapters.py", line 327, in close
  File

[2021-10-21 04:25] mathchq commented on #10277
python 3.8.8
ccxt 1.58.74

[2021-10-21 07:49] krychla1 commented on #10273
Please log your kucoin requests and you will find out that the rate limiting in ccxt works well.

This is cloudflare error on the part of kucoin, which has nothing to do with your own actual requests rate, rather with their overall system health.  You should contact them to find out more.

[2021-10-21 08:40] krychla1 opened #10278 "Huobi - currencies info missing"
- OS: linux
- Programming Language version: nodejs
- CCXT version: 1.58.75 (guilty 1.58.20)

Fetch currencies got wrong for huobi in 1.58.20 and later:

expected:
![image](https://user-images.githubusercontent.com/33096727/138242158-b52d1b9a-cee1-4665-ae85-06f8fdbe80f4.png)

actual:
![image](https://user-images.githubusercontent.com/33096727/138242388-cf953a14-5e3b-4cfd-8830-e5786b3a6555.png)

Ple

[2021-10-21 08:41] kroitor commented on #10278
@krychla1 hi! Sorry, can you specify what exactly is wrong with the new update?

[2021-10-21 09:30] frosty00 commented on #10278
I think for cases where there is just one network we will also duplicate some info into the top level for users

[2021-10-21 11:22] 4ext opened #10280 "ccxt.pro: Huobi: watch doesn't retry to subscribe after error"
- OS: Linux 5.10
- Programming Language version: NodeJS v14.17
- CCXT.PRO version: 0.9.5

Hello,

When I was trying out ccxt.pro with huobi I noticed that after a subscription (watchOHLCV) failed the first time, it seemed to be impossible to retry, unless I'm misunderstanding something.

After watchOHLCV threw the error (in this case it happened immediately, because the market was down temporarily

[2021-10-21 12:20] yoobi opened #10282 "Use USDT amount for Binance futures"
- OS: linux
- Programming Language version: python 3.9
- CCXT version: '1.58.75'

[code]

Is it possible to create an order for **futures** with the amountQuote (USDT) instead of amountBase (ETH) ?
I've seen that `params={'quoteOrderQty':amount}` but `quoteOrderQty`doesn't work for futures.

Referring to the code above, I'd like to buy 200$ of ETH at a limit price of 4200$ with a leverage of 5.

S

[2021-10-21 12:58] #10282 closed, assigned to kroitor

[2021-10-21 13:02] wunderb1t opened #10283 "watchTicker hangs on at non-existed pair"
When `watchTicker` is called passing non-existed pair it hangs on. Is it possible to set timeout for `watchTicker` or interrupt subscribing attempt?

- OS: Debian (Docker)
- Programming Language version: JavaScript
- CCXT version: ccxt.pro 0.6.82

[code]

[2021-10-21 13:13] #10278 closed, assigned to kroitor

[2021-10-22 04:20] gregschwartz opened #10284 "FetchDepositAddress suddenly producing errors"
- OS: Mac OS v11.6
- Programming Language version: PHP 8.0.11 (cli) (built: Sep 26 2021 20:58:36) ( NTS )
    with Xdebug v3.1.0, Copyright (c) 2002-2021, by Derick Rethans
    with Zend OPcache v8.0.11, Copyright (c), by Zend Technologies
- CCXT version: 1.58.76

I have a deposit address created for BTC, and Kraken says it supports fetching that: has says `[fetchDepositAddress] => 1`. Yet I'm get

[2021-10-22 04:20] gregschwartz commented on #10284
Same thing happens if it run it for ANKR, which I don't have a deposit address created for.

[2021-10-22 08:42] npomfret opened #10289 "[ftx] timeout error mapping?"
I'm using a slightly old version so not sure if this is a real issue - apologies if not.

I got a timeout from FTX today, but the error wasn't `RequestTimeout`, instead I got:

`ExchangeNotAvailable: ftx POST https://ftx.com/api/orders request-timeout network timeout at: https://ftx.com/api/orders`

[2021-10-22 15:04] bifot opened #10296 "Huobi misses `price` parameter when creating stop limit order"
Failed to create stop limit order when calling:

[code]

How it works for me:

[code]

[2021-10-22 15:21] #10296 closed, assigned to kroitor

[2021-10-22 15:31] rsta79 opened #10297 "[Binance] timeInForce in binance.parse_order() is not formatted"
- OS: WINDOWS10
- Programming Language version: python 3.8
- CCXT version:  1.58.82

File binance.py Line 2235

timeInForce does not follow the Order Structure format

https://ccxt.readthedocs.io/en/latest/manual.html#order-structure
timeInForce in order structure must be 'GTC', 'IOC', 'FOK', 'PO'
timeInForce "GTX" should be formatted to "PO"

[2021-10-22 15:35] #10297 closed, assigned to kroitor

[2021-10-22 22:25] gregschwartz opened #10298 "OkCoin: bug with error about missing fee"
OS: Mac OS v11.6
Programming Language version: PHP 8.0.11 (cli) (built: Sep 26 2021 20:58:36) ( NTS )
with Xdebug v3.1.0, Copyright (c) 2002-2021, by Derick Rethans
with Zend OPcache v8.0.11, Copyright (c), by Zend Technologies
CCXT version: 1.58.84

[code]

[code]

The error message has weird missing bits: `okcoin withdraw() requires a `` string parameter, network transaction  must be ≥ 0. Withdr

[2021-10-22 22:30] #10298 closed, assigned to kroitor

[2021-10-23 13:25] ShieldTrade opened #10301 "Bitmex. Remaining is different from leavesQty for partially filled order"
OS:Windows 10
Programming Language version: Python 3.7
CCXT version: CCXT version: CCXT Pro Version: 0.8.13

Reading on ccxt documents:
'remaining':          // remaining amount to fill
reading on bitmex API:
"leavesQty":  // The quantity remaining to be filled in the order associated with this execution.  leavesQty = orderQty - cumQty

I expect the 2 values to be the same.
This is what I get with

[2021-10-23 14:24] robertwh opened #10302 "Kucoin fetch_ledgers is deprecated"
Looking at the code for fetch_ledger for the Kucoin exchange, it appears as the deprecated version is being used instead of the updated version.

[2021-10-24 08:29] iFitch opened #10306 "Poloniex api is out of date. Impossible to post orders"
Current implementation of the **create_order** method doesn't work for Poloniex exchange
[code]
[code]
According to API  orders plases by **sell** and **buy** methods

- OS: Win 10
- Programming Language version: Python 3.10
- CCXT version: 1.58.95

[2021-10-24 10:15] #10306 closed, assigned to kroitor

[2021-10-24 13:25] gigioambro opened #10309 "Deribit fetch_positions() not working with Currency = ETH"
- OS: Windows 10
- Programming Language version: Python 3.8.8
- CCXT version: 1.58.96

For some reason despite I specifically pass currency = ETH as params, the Request to the exchange contains currency=BTC. Therefore I can't read my ETH positions.

Any idea why?

[code]

[code]

[2021-10-24 20:20] kozmotr opened #10311 "paribu support"
please add support for paribu turkish market.
It's the second biggest market after btcturk.
regards;
https://www.paribu.com/

[2021-10-24 20:23] #10311 closed, assigned to kroitor

[2021-10-25 16:18] kleninmaxim opened #10317 "Does not give precision and limit for the fetch_markets method for the kuna exchange"
- OS: Linux
- Programming Language version: Php
- CCXT version: 1.59.4

[code]

[code]
Why precision and limits are empty when I call that method for exchange kuna?

When I try to do it on another exchange - it is okay.

This is a bug I think in ccxt itself.

[2021-10-25 19:30] #10309 closed, assigned to kroitor, frosty00

[2021-10-25 20:57] #10317 closed, assigned to kroitor

[2021-10-26 06:38] zhaheng opened #10324 "okex3 fetch_ohlcv() only the current day can be obtained"
- OS: win10
- Programming Language version: python3.7.1
- CCXT version: 1.59.2

[code]

I want to get a historical data，no matter how you set "since", The fetch_ohlcv function returned data is the current day

[2021-10-26 07:54] #10324 closed, assigned to nobody

[2021-10-26 14:24] #9877 closed, assigned to frosty00

[2021-10-26 20:08] StevenProhashing opened #10330 "CoinbasePro order status "done_reason" issue."
I think I found a bug related to parse_order / parse_order_status in CCXT's CoinbasePro.php. CoinbasePro's API can return a "status"=>"done", but have "done_reason"=>"canceled". I have an example below. This order was not filled at all on CoinbasePro and is reporting "done_reason"=>"canceled", but CCXT is reporting the order's status as "closed" instead of "canceled". I belive the "done_reason" fi

[2021-10-26 21:21] #10330 closed, assigned to DoctorSlimm

[2021-10-27 03:08] ngugcx opened #10334 "One future symbol may have both 'long' and 'short' positions"
https://github.com/ccxt/ccxt/blob/5f257f7222edf0a054b78884fe38e87d8c27176f/python/ccxt/okex.py#L2610

'fetch_position' should handle this situation.

[2021-10-27 19:34] Tayozhniy opened #10350 "Bug in module yobit.py"
- OS: Android
- Programming Language version: Python
- CCXT version: ccxt 1.59.22

[code]

[code]

fixing:
in module 'yobit.py' in line 396 replace
result[symbol] = self.parse_order_book(response[id])
with
result[symbol] = self.parse_order_book(response[id], id)

[2021-10-28 09:52] #10350 closed, assigned to kroitor, DoctorSlimm

[2021-10-28 10:36] codemonkeyno1 opened #10365 "Indodax create order issue"
I am trying to send buy order for "SHIB/USDT" using ccxt for Indodax.  I get error:

`ccxt.base.errors.InvalidOrder: indodax {"success":0,"error":"Minimum price 0.00000001 USDT"}`

The price I am trying to send is over that amount:
`exchange.create_order(symbol='SHIB/USDT',type='limit',side='buy',amount=50000, price=7e-05)`

What explains the error?

[2021-10-28 13:03] wunderb1t opened #10366 "FTX watchOrders returns only 'closed' orders"
Why FTX `watchOrders` returns only orders with status `closed`, skipping `open` orders? For Binance work fine.

- OS: Debian (Docker)
- Programming Language version: JS
- CCXT version: Pro 0.7.25

[code]

[2021-10-28 13:05] pietrodn opened #10367 "[okex] Support `watchMyTrades()` in OKEx client"
This is a feature request to implement the `watchMyTrades()` API in CCXT Pro for the `okex` client.

OKEx API v5 exposes trade data via WebSocket in the [order channel](https://www.okex.com/docs-v5/en/#websocket-api-private-channel-order-channel) (the same already listened to by `watchOrders`).

A possible implementation idea would be to do exactly how it's done in CCXT Pro for `binance`: on every

[2021-10-28 14:20] andrewklau opened #10368 "Get active_price and callback_rate from Binance"
When retrieving orders from Binance active_price and  callback_rate are missing from CCXT's data

This is used for Binance for trailing stop orders. Is there any way to get this data included in the order query?

- OS: Linux
- Programming Language version: Javascript/NodeJS
- CCXT version: CCXT Pro v0.9.9

[2021-10-28 16:11] svax974 opened #10371 "fetch_open_orders problem on Ascendex"
Hello,

I have a problem with Ascendex and fetch_open_orders which cause "TypeError: '>=' not supported between instances of 'NoneType' and 'int'" error in ccxt/base/exchange.py line 1943 (full output below) and I'm lost with that one.

The exact same code does work with Binance and Gate.io.
I tried different values for the "since" parameter (0, 86400000 , 1000000000, ...) but it gives the same re

[2021-10-29 11:58] dec0dOS opened #10380 "OKEX buy token behavior has changed"
Hello, the OKEX buying behavior has changed when the `createMarketBuyOrderRequiresPrice` is set to `false`. Instead of buying for the desired USD amount (as it was on version v1.58.1), the ccxt pleases the order with the amount of token to buy.
Huobi works as expected on v1.58.1 and v1.59.54.

- OS: macOS
- Programming Language version: JS
- CCXT version: 1.59.54

[code]

[code]

[2021-10-29 17:39] #10380 closed, assigned to kroitor

[2021-10-29 21:56] mbwmbw1337 opened #10384 "CCXT.PRO - Bittrex - Enabling watchBalance, watchOrders, watchMyTrades break WS"
When using the following WS methods [watchBalance, watchOrders, watchMyTrades] on Bittrex, the WS no longer works and does not produce any other output. Expected output would include the book/trades.

Uncomment the lines below to reproduce the error:
[code]

**Sample Code:**
[code]

[code]

[2021-10-29 22:06] mbwmbw1337 commented on #10384
**Problem Solved**
Bittrex for some example does not allow or like a blank dictionary {} being passed to its watch functions. Other exchanges do not seem to have an issue with this and ignore the output. This seems to break the Bittrex webservice.

[2021-10-29 22:21] mbwmbw1337 commented on #10384
My solution was incorrect - that did not solve the problem. Keen to hear your thoughts.

[2021-10-29 22:56] caleb4599 opened #10386 "Java"

[2021-10-30 02:03] kroitor commented on #10386
https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2021-10-30 02:03] #10386 closed

[2021-10-30 02:26] #9822 closed

[2021-10-30 04:13] glexiasvc commented on #10384
We've localised the issue. If these three methods run alone there is no issue:

- watchBalance
- watchOrders
- watchMyTrades

However, if they are run in conjunction with another method, such as watch_order_book, the WebSocket fails. See sample code below. Uncomment the following lines to show the issue:
`
# order_book = exchange.watch_order_book('BTC/USDT')
# await asyncio.gather(balance, order_b

[2021-10-30 07:43] neothegod75 opened #10387 "Symbols data not available for Binance Exchange"
Below symbols are not available from Binance. These are perpetual future contracts. Please add support for them.

DEFIUSDT
SANDUSDT
1000SHIBUSDT
BTCDOMUSDT
1000XECUSDT

- OS: Windows 10
- Programming Language version: Python 3.9.6. 64 bit
- CCXT version: 1.59.61

[code]

[2021-10-30 10:26] dec0dOS commented on #10380
Hello, @kroitor.
Thanks for such a detailed explanation!

[2021-10-30 10:37] kroitor commented on #10387
[code]

- https://github.com/ccxt/ccxt/wiki/
- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/wiki/Manual#loading-markets

Hope that answers your question. Let us know if not.

[2021-10-30 10:37] #10387 closed

[2021-10-30 13:53] p2828 commented on #9407
Same question. Any updates on this anyone?

[2021-10-30 13:55] kroitor commented on #9407
@p2828 @ohhagi we are upgrading the Bybit integration right now, will post a working here asap.

[2021-10-30 13:58] qkum commented on #10273
Nope, the same problem from my VM in Germany and from my own home pc in another EU country,

[2021-10-30 14:02] p2828 commented on #9407
@kroitor waiting for the upgrade. tnx for your efforts bro.

[2021-10-30 14:07] qkum commented on #10273
This is how my error looks like:

`2021-10-30 13:03:54,919 - freqtrade.exchange.common - WARNING - _async_get_candle_history() returned exception: "kucoin GET https://openapi-v2.kucoin.com/api/v1/market/candles?symbol=FKX-USDT&type=1hour&startAt=1633799034&endAt=1635599034 429 Too Many Requests {"code":"429000","msg":"Too Many Requests"}"`

I get it all the time with KuCoin, but not on Binance.

R

[2021-10-30 14:09] qkum commented on #10273
And that is in rate limit terms? 4000 instead of standard 200?

[2021-10-30 14:39] #10302 closed

[2021-10-30 17:01] #9478 closed

[2021-10-30 17:02] #7887 closed

[2021-10-30 17:16] michaelmmw opened #10392 "Deribit"
Hey,

It seems that there is no way to switch the deribit API to testnet.
Did I miss something and there is a way to switch to the testnet?

Thanks a lot.

[2021-10-30 17:33] kroitor commented on #10392
@michaelmmw hi! What have you tried to this point?

- https://github.com/ccxt/ccxt/wiki/Manual#testnets-and-sandbox-environments

[2021-10-30 18:19] kroitor commented on #10392
@michaelmmw you can do that with the `set_sandbox_mode(True)` method, as described in the CCXT Manual:

[code]

- https://github.com/ccxt/ccxt/wiki/
- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/wiki/Manual#testnets-and-sandbox-environments

We would highly recommend reading the entire Manual from top to bottom – it will save your time.

Hope that helps, let us know if

[2021-10-30 18:19] #10392 closed

[2021-10-30 21:27] frosty00 commented on #10273
@qkum the default rate limit for kucoin is 333 (three reqs/sec), have you tried using that instead?

[2021-10-30 21:29] qkum commented on #10273
Thanks for the answer.

I tried with 4000 and it did not change anything.

I will try with 300 then.

[2021-10-30 21:44] michaelmmw commented on #10392
Thanks a lot, really appreciate it. I was looking at the source code instead of reading the manual. I will read it.

[2021-10-30 22:20] qkum commented on #10273
Rate limit 300 changes nothing.

I think I will try with 100.

But their API seems to bug in more than one way.

Also like this:
[code]
Running a 5 min strategy and 1 or 2 of the 25 pairs not beeing updated with new price data for 17 min is really bad.

When i run a 1hour stategy it does the same with 1 or 2 pairs...not updated for 133 minutes like lol.

If i run a manuel price data download for t

[2021-10-31 05:36] distantrainbow opened #10396 "Fetching more than 'limit' Klines"
Hello,

It's not an issue in the meaning of a bug, but a feature request:
Binance enables to fetch ohlc data from start to end date. This approach enables in a loop to retrieve a '1m' candles data for the last week, for example, each iteration retrieving 'limit=1000' samples.
From the other hand, CCXT has only the 'since' argument, which enables using only the start_date until current time. With s

[2021-10-31 05:39] kroitor commented on #10396
Hi!

It is in fact very possible. You just shift the `since` argument going over time.

Please, check these links:

- https://github.com/ccxt/ccxt/wiki/Manual#pagination
- https://github.com/ccxt/ccxt/blob/master/examples/py/binance-fetch-ohlcv-to-csv.py
- https://github.com/ccxt/ccxt/blob/master/examples/py/fetch-ohlcv-sequentially.py
- https://github.com/ccxt/ccxt/tree/master/examples/py
- https

[2021-10-31 05:39] #10396 closed

[2021-10-31 06:33] distantrainbow commented on #10396
Hmm.. you totally right. Thanks.

[2021-10-31 11:22] climber2002 commented on #9445
This seems not a duplicate, the error code is different. I also got `ret_code` as 130021

[2021-10-31 12:01] 9808us commented on #9272
Hey! I'm waiting too!! Any update?

[2021-10-31 12:24] npomfret commented on #10289
FTX said that's not one of their errors

[2021-10-31 17:40] kroitor commented on #9445
@clibmer2002 we are reworking the Bybit integration right now, hope to get it fixed before the end of next week.

[2021-10-31 18:00] YuriyTigiev opened #10400 "CCXT Basic example for the browser, Nginx proxy, Cloudflare and CORS"
Hello,

Can you share your experience and knowledge on how to correctly configure Nginx website, proxy, and Cloudflare to avoid issues with CORS for the frontend JavaScript?  Investigation and finding solutions take a lot of time.
I'm asking solution for a case when web site contains only one simple HTML page which loads the Javascript library from the internet and doesn't use nodejs.

Below the c

[2021-10-31 18:53] crossx4real opened #10401 "how to fetchbalance for specific symbol"
- OS: Win10
- Programming Language version: javascript
- CCXT version: 10.16.3

Hello is there a way to fetch the free balance of a specific symbol for example USDT without having to pull your entire balance list? thanks.

[2021-10-31 18:59] crossx4real commented on #10401
would this work?

var sym = "USDT"
let myBalance = await exchange.fetchBalance({ symbol: sym });
symBal = myBalance.free[sym]

[2021-10-31 19:54] qkum commented on #10273
I found the solution.

`Outdated history for pair KONO/USDT. Last tick is 17 minutes old` is in reality a bad wording for `there have been no trades on this pair for 17 min`

I asked the people behind the freqtrade bot to change the wording because it is not logical what it means.

The bot is getting candle data and trading even when it spams what seems like a warning tell you it is missing data.

[2021-10-31 20:05] crossx4real commented on #10401
I guess you have to pull all balances and select what you want, see my solution below if it helps others

let myBalance = await exchange.fetchBalance();
var symBal = myBalance[sym].free;

[2021-10-31 20:05] #10401 closed

[2021-10-31 23:15] boskiv opened #10402 "binance positionRisk does not have a value in mapping"
ccxt/php version: 1.59.75
[code]
[code]

[2021-10-31 23:23] boskiv commented on #10402
1.59.58 worked. Looking for particular version that it was broken

[2021-10-31 23:34] frosty00 commented on #10402
yep uploaded a fix

[2021-11-01 00:46] #10402 closed

[2021-11-01 03:46] climber2002 commented on #9445
Thanks @kroitor . Currently I tried ccxt on bybit testnet account, the get balance always returns 0 even though I can get the correct balance when using `postman`. Thanks for your effort!

[2021-11-01 03:47] kroitor commented on #9445
@climber2002 if possible, please enable verbose mode before the fetch_balance call and paste your request+response here.

- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2021-11-01 09:22] climber2002 commented on #9445
@kroitor I used ccxt `1.58.76`, seems the problem is v2 API of bybit. When I turn on verbose mode and call get balance API, it gave me following log

[code]

The Postman uses endpoint `/spot/v1/account`, as following screenshot,
![Screenshot from 2021-11-01 20-21-42](https://user-images.githubusercontent.com/634687/139650266-255b9b61-db2f-4688-85ea-314973e0838e.png)

[2021-11-01 14:33] drixie opened #10415 "Poloniex fetch_ohlcv does not work when you set a period"
Works fine for the other exchanges I tried (Binance and Kucoin)

- OS: MacOS Big Sur
- Programming Language version: Python 3
- CCXT version:     print (ccxt.version)
AttributeError: module 'ccxt' has no attribute 'version'

[code]

[code]

[2021-11-01 16:16] 1key commented on #7914
+1 voor Huobi (pro) Derivates.
Any update on the ETA?

[2021-11-01 16:20] Tomas-MP opened #10418 "Kucoin transfers to subaccount"
- OS: Windows 10
- Programming Language version: Python 3.8.10
- CCXT version: 1.58.25

I have a question rather than a problem, is it possible to transfer assets from my main account on Kucoin to one of my subaccounts by using CCXT? I looked at the transfer method but it only seems to work for internal transfers within your account. When I looked at the Kucoin API documentation they seem to have

[2021-11-01 16:22] 1key commented on #5646
+1 for Huobi (pro) Derivates.
Any update on the ETA?

[2021-11-01 16:43] npomfret commented on #10289
They did ask why the HTTP status code was.  Can we get ccxt to always report this in the error?

[2021-11-01 18:24] pietrodn commented on #10366
Try specifying `newUpdates: true` in the client initialization options, or alternatively check the whole returned array, not just the first element.
If you don't use `newUpdates`, `watchOrders()` will return the whole cached list of orders every time. See the [manual](https://ccxt.readthedocs.io/en/latest/ccxt.pro.manual.html#newupdates-mode) for details.

On our systems, with `newUpdates`, `watch

[2021-11-01 21:03] kroitor commented on #5646
@1key @rianbowgift we hope to deliver the support for Huobi derivatives within a week or so. Thanks for your patience!

[2021-11-01 21:38] kroitor commented on #10415
Poloniex API docs don't have the `1h` timeframe. The have this:

- https://github.com/ccxt/ccxt/blob/master/python/ccxt/poloniex.py#L65

You can see the list of available timeframes here:

- https://docs.poloniex.com/#returnchartdata

[code]

Hope that answers your question.

[2021-11-01 21:38] #10415 closed

[2021-11-01 23:53] kroitor commented on #10289
@npomfret it is usually printed in verbose mode.

The question is, which part of _"request-timeout network timeout"_ comes from your own code, and which part of it comes from the underlying networking library? Search it on the internet, there are no other mentions of the exact same wording literally, except your own issue here (this issue): https://www.google.com/search?q=%22request-timeout+networ

[2021-11-02 00:32] vilorel opened #10426 "Binance US - Signature for this request is not valid"
- OS: Ubuntu 20.04.3 LTS
- Programming Language version: NodeJS v16.13.0
- CCXT version: 1.59.87

[code]

[code]

I don't know if it makes any difference, but the code I used successfully to compute the signature is the following:
[code]

Worth pointing out is also that I use ccxt.pro as a proxy to instanciate the ccxt BinanceUS client. The code was working just fine until a few days ago (last tes

[2021-11-02 00:47] kroitor commented on #10426
@vilorel what is your output for this:

[code]

[2021-11-02 01:05] vilorel commented on #10426
@kroitor They're a match.

[2021-11-02 01:08] vilorel commented on #10426
OK just checked again because this didn't make sense and traced the problem (it's on my end). Very very sorry to bug you with this.

[2021-11-02 01:08] #10426 closed

[2021-11-02 01:08] kroitor commented on #10426
@vilorel thanks for your feedback, good to know you figured it out.

[2021-11-02 04:19] frosty00 opened #10428 "gateio fetchOHLCV edit style"
i would refactor this code:

instead of

[code]

you can do

[code]

_Originally posted by @frosty00 in https://github.com/ccxt/ccxt/pull/10407#discussion_r740052464_

[2021-11-02 04:21] kroitor commented on #10428
I refactored it before merging.

[2021-11-02 04:21] #10428 closed

[2021-11-02 12:27] mhd-adam opened #10439 "ByBit Close Position"
- OS: MacOs
- Programming Language version: Python 3.9.4
- CCXT version: 1.60.9

[code]

The above snippet buys 1 SOL against USDT. When I try to close the position by placing a sell order, I see that ByBit placed another Short position on SOL without closing the Long one (2 positions appear in the console)

How do I close a current open position on ByBit using ccxt?

[2021-11-02 14:16] wunderb1t commented on #10366
@pietrodn Thank you for your contribution! Unfortunately solution with `newUpdates` not working for us. It is very strange that  it works for you.  Inside of `ftx.js` code I have put  log in `handleMessage` (from socket) method and there is no still  order with status `open` - only `closed`.

Additionally, in FTX docs there are no examples with status `open`. You  for sure receive that status?

[2021-11-02 15:55] gshpychka commented on #6602
@kroitor has Deribit Pro been abandoned?

[2021-11-02 16:20] pietrodn commented on #10366
Yes, we have an integration test specifically to test `watch_orders()` and we receive confirmations of `OPEN` limit orders when trading in production.

[2021-11-02 16:28] pietrodn commented on #10366
I just tried this script:
[code]

And tried opening and canceling a limit order. This is the output

[code]

[2021-11-02 16:34] Sewake opened #10441 "Bitrue `fetch_order` => ValueError: could not convert string to float"
- OS: Ubuntu 20.04.1 LTS
- Programming Language version: Python 3.7.9
- CCXT version: 1.60.10

My code:
[code]

Output:
[code]

The error occurs when calling omit_zero with `stopPriceString`. `stopPriceString` value is an empty string, which is why `float(string_number)` trigger a `ValueError`. One solution might be to add before that condition (in `omit_zero`):
[code]

or, replace empty strings w

[2021-11-02 17:16] wunderb1t commented on #10366
The situation is cleared up, FTX returns the last order status in it's system, i.e. for the market and the limit order, which is instantly executed, the last status will be `closed`.

Binance for example always returns `open` status even on market order.

[2021-11-02 17:16] #10366 closed

[2021-11-02 18:36] elitwilliams commented on #10439
You need to set the `reduce_only` param to `True` to place a closing order on Bybit. To my knowledge there is unfortunately no way to set this as the default behavior on Bybit, and you will need to track your position on your end or use a try/except to catch and re-place an order as opening if a closing order attempt fails, but of course this will count as 2 API requests.

[code]

[2021-11-02 18:45] josipbudzaki commented on #6805
I had the same troubles with `{'code': 400, 'msg': None}` - In the end, I just had to convert all `int` and `float` params to `str`.

[2021-11-02 20:49] #10441 closed

[2021-11-02 22:12] mhd-adam commented on #10439
It worked for me! Thank you!

[2021-11-02 22:12] #10439 closed

[2021-11-03 15:20] #6197 closed

[2021-11-03 17:13] npomfret commented on #10289
It would be great to have the status code returned in the standard error (or as a property on the standard error)

issues like this I can't use verbose mode as they happen too infrequently in real life and I've no idea how to generate them artificially.

[2021-11-03 17:15] kroitor commented on #10289
@npomfret we have a branch that covers exactly that, however, it's not fully tested yet: https://github.com/ccxt/ccxt/pull/5348/files Will get back to it asap.