[2017-10-10 21:27] s5s opened #306 "fetchOHLCV for Gemini, CEX, Bitstamp..."
Hi,

At present, there are a number of large exchanges for whitch fetch_ohlcv() does not seem to be supported in python (see below). As far as I can see (I've looked at Gemini), this is not an exchange limitation but a ccxt limitation? Assuming I haven't made a mistake so far with my assumptions above, is adding this functionality in the near-term horizon? Is there a development guide on adding a

[2017-10-10 21:37] kroitor commented on #306
Hi, @s5s!

Thanks for opening this issue!

You are absolutely correct, we don't have all methods unified. The library consists of two distinct parts:
- custom API (public and private) - all methods are already implemented and working.
- unified API (public and private) - most, but not all methods are implemented yet.

The Unified API is in progress, but all underlying endpoint methods are already

[2017-10-10 21:46] PhinixPhire commented on #288
@kroitor - I'm not sure if I'm doing something wrong. I'm trying to accomplish this:

[code]

But this part breaks:

`print hitbtc.fetch_balance({'type': 'payment'})`

With the following Traceback:

[code]

[2017-10-10 21:47] PhinixPhire commented on #288
I should mention, I upgraded to 1.9.100:
[code]

[2017-10-10 21:48] kroitor commented on #288
@PhinixPhire i must have left something over... I'll take a look and get back to you.

[2017-10-10 21:50] s5s commented on #306
Thanks, let me have a read through this. My immediate question is: in the frontpage, it is mentioned that the python code is generated from JS implementation. Does that mean I need to write JS and then machine-generate the python code?

I feel there is an answer to this question somewhere in the documentation so I feel guilty asking it. Thanks for the amazingly prompt response.

[2017-10-10 22:00] kroitor commented on #306
Well, no, it doesn't ) First, it is generated automatically upon each build. So it's usually enough to edit the JS only. But don't panic just yet, you don't need to know JS to be able to contribute ))

If you take a closer look at how the code for the exchanges is styled and structured, you will immediately notice, that it's mostly the same style and structure in all three languages (actually it p

[2017-10-10 22:14] kroitor commented on #288
Well, I think I nailed it at last ) Sorry for the inconvenience. Please update once more (1.9.101) and retry. It must work now! %) Thx!

[2017-10-10 22:29] PhinixPhire commented on #288
You nailed it!
The following code is working great:

[code]

Thanks so much. Great work!

[2017-10-10 23:08] sib-wolf commented on #299
Sorry, didn't have a chance to test it until now. Made a copy of the working directory, ran npm eject in it, and do not have that issue anymore.

Thank you both for your help! I'll be on the lookout for the version that comes out which doesn't require the "npm eject".

[2017-10-10 23:21] kroitor commented on #299
@sib-wolf do you mind if I close it now? We will keep you updated on ES5 anyways. Thx!

[2017-10-10 23:22] #299 closed

[2017-10-10 23:23] sib-wolf commented on #299
nope, please do. thank you!

[2017-10-11 03:49] 86chenjie opened #307 "okex createMarketBuyOrder error_code 10000"
Request:

[code]

code snippet:

[code]

fetchBalance works, createMarketBuyOrder fail.

[2017-10-11 04:15] kroitor commented on #307
@86chenjie hi!

See this thread: for https://github.com/ccxt-dev/ccxt/pull/138

There's a special case for market buy on OKCoin/OKEX. They don't accept an amount there...
You should use the total cost, and pass it in the last param like so:

[code]

We thought of passing the cost inside the *amount* param for marketBuyOrder, but that would add confusion, so we decided to pass cost in the last para

[2017-10-11 04:22] kroitor commented on #307
Actually, I think of rewriting this for the following syntax for more compatibility:
[code]

[2017-10-11 04:29] 86chenjie commented on #307
thanks, but in this way, i can't control the transaction amount, so i 'll just try to use limit order.

[2017-10-11 04:31] kroitor commented on #307
Ok, I changed that implementation a little for more convenience, so the proper syntax is shown in the last example of this thread. Please update to v1.9.104+ in approx 5 minutes if you want to use it.
Unfortunately, for OK* market buys we can't control the amount, only the cost (which is equivalent to limit orders indeed), they just don't allow to set the amount for those types of orders. Sorry.

[2017-10-11 04:32] 86chenjie commented on #307
👍

[2017-10-11 04:32] #307 closed

[2017-10-11 11:44] 86chenjie opened #308 "okex fetchOrder error_code 10000"
22351619 'LTC/BTC'
okex POST https://www.okex.com/api/v1/order_info.do
Request:
 { 'User-Agent': 'ccxt/1.9.103 (+https://github.com/kroitor/ccxt) Node.js/8.5.0 (JavaScript)',
  'Content-Type': 'application/x-www-form-urlencoded' } api_key=aa8740d4-fb38-4ca3-a1fc-2c7a3daca79c&symbol=ltc_btc&sign=FCAA67DF4F452419FE27D3FE6CA78CAE
okex POST https://www.okex.com/api/v1/order_info.do
Response:
{"error_c

[2017-10-11 13:45] Nitrooo opened #309 "Python - aggregate function issues"
1) Bitfinex v2 API returns book items in [price, volume, timestamp] format, while aggregate function expects [price, volume] format.

`order_book = ccxt.bitfinex2().fetch_l2_order_book('BTC/USD')`

---

2) ordered.iteritems() should be changed to ordered.items(), as iteritems() has been removed in Python 3.

`order_book = ccxt.cex().fetch_l2_order_book('BTC/USD')`

[2017-10-11 13:59] Nitrooo commented on #302
Also in binance class USD is referred as "USDT". Shouldn't it be "USD", for consistency?

[2017-10-11 16:04] mazertwo opened #310 "Yobit concrete order cancel"
How to cancel Yobit limit order?
How to get order ID after buying?

fetch_open_orders() wont work

ccxt.errors.NotSupported: yobit fetch_open_orders() not implemented yet

Thank you!

[2017-10-11 16:23] kroitor commented on #310
Hi, @mazertwo !

Hmm... How about calling `.cancelOrder()` or `.cancel_order()`, just like you would do with any other exchange?

Read the Manual once and for all? ;)
https://github.com/ccxt-dev/ccxt/wiki/Manual#placing-orders

Orders API is in progress, not all unified order methods are implemented yet, this point is a duplicate of #71. We will implement it soon or you can submit your implementat

[2017-10-11 16:46] munrocket opened #311 "How to install this library with IronPython?"
I am trying to use this library in C# with IronPython.

I ran cmd as administrator, opened directory c:\Program Files (x86)\IronPython 2.7 and executed this lines
[code]
But it seems like ccxt installed not globally. `ipy -X:Frames -m pip install ccxt` not working too.

Also i tryed to download source and execute in ccxt folder
[code]

But nothing helps. When i am trying to install it through VS20

[2017-10-11 16:46] mazertwo commented on #310
Kroitor, but how i get order id after buying on the YoBit? Sorry for newbie question.

[2017-10-11 16:57] kroitor commented on #310
@mazertwo did you read the Manual? Because it's written there:

[code]

[2017-10-11 17:00] kroitor commented on #311
Hi! Can you try this: https://github.com/IronLanguages/ironpython2/issues/232#issuecomment-325657801 ?

[2017-10-11 17:01] mazertwo commented on #310
Ohhh, shure, thank you so much! Today i'm done with programming :))))

[2017-10-11 17:05] munrocket commented on #311
After two hours of solving this problem i finally get supported exchanges from ccxt with this source.
[code]
As i understand i am install ccxt locally. But it works! Thanks!

[2017-10-11 17:05] kroitor commented on #310
@mazertwo no problem ) Is it ok if I close this now?

[2017-10-11 17:08] kroitor commented on #311
@munrocket well, pip installed it globally, and didn't install that into python2.7, as you see, it installed into 3.6. That's why you had to add the path to 3.6 to your imports. But if you have it working already, then, I guess, this issue is solved for now?

[2017-10-11 17:14] kroitor commented on #309
Hi, @Nitrooo !

Thx for opening this issue!

I fixed the bitfinex2 order book, should work normally now.

We support both Python 2 and Python 3 – so, my question is: is there a way to write that line so that I could execute it seamlessly in both 2 and 3 ?

Thanks again!

[2017-10-11 17:23] munrocket commented on #311
Your solution was nice. Maybe i will catch this annoying again, but for now i solved this for 3.6.

[2017-10-11 17:23] #311 closed

[2017-10-11 17:25] #310 closed

[2017-10-11 17:30] Nitrooo commented on #309
I'm no Python expert at all, maybe this link could help: https://stackoverflow.com/questions/10458437/what-is-the-difference-between-dict-items-and-dict-iteritems
Maybe `dict.viewitems()` is what we're looking for.

[2017-10-11 17:46] kroitor commented on #309
Ok, I fixed both of these issues, please update to v.1.9.108+ and try it, should work normally now.  I'm closing it for now, if you don't mind, feel free to reopen it or ask your questions, if any. Thx for your feedback!

[2017-10-11 17:46] #309 closed

[2017-10-11 17:56] kroitor commented on #302
@Nitrooo , see here:
- #182
- https://github.com/ccxt-dev/ccxt/issues/298#issuecomment-335349884

We would be very happy if you help us with USD ←→ USDT consistency.

[2017-10-11 17:58] kroitor commented on #302
@Nitrooo in other words, I could not find it stated clearly anywhere on the internet, and we can't just go ahead and make that substitution until someone guarantees that USD = USDT, universally.

[2017-10-11 18:02] Nitrooo commented on #309
I found an official guide about porting dictionary iteration from Python 2 to 3 and common subset.
http://legacy.python.org/dev/peps/pep-0469/
As noted on stackoverflow:

[2017-10-11 18:03] kroitor commented on #309
@Nitrooo there's a better way without six:

[code]

[2017-10-11 18:04] kroitor commented on #309
More to it: http://python-future.org/compatible_idioms.html

[2017-10-11 18:11] Nitrooo commented on #309
[code]

But that soultion is marked as inefficient! 😃

[2017-10-11 18:14] kroitor commented on #309
@Nitrooo that is not critical in our case, because:

1. efficiency matters, if you are going to aggregate tons of order books every second, which isn't the case for most of trading applications
2. this is only done once upon fetching the orderbook
3. you can't possibly fetch so many orderbooks in a limited amount of time so that the efficiency of converting 'items()' to a list becomes critical
4.

[2017-10-11 18:18] Nitrooo commented on #302
Whoops, USDT is actually not US Dollar, but Tether USD, a cryptocurrency. At least on Binance:
[https://support.binance.com/hc/en-us/articles/115001093991-Tether-USD-USDT-]()

[2017-10-11 18:21] munrocket commented on #311
Two versions of the python in one OS are always trying to confuse you.
I wonder how i launched 3.6 project in 2.7 enviroment without error.

It seems that right installation for IronPython 2.7 is execute this lines in ccxt folder
[code]

And than use it with source like this
[code]

[2017-10-11 18:25] kroitor commented on #302
@Nitrooo the problem is: some exchanges say that they trade UST, while actually trading USDT. They are all inconsistent and their docs are not very supportive in that sense. This is what we have to deal with. So for every exchange where those currencies are present, we need to find out the true meaning behind USD and USDT.

[2017-10-11 18:27] kroitor commented on #311
@munrocket thank you very much for this follow up! I'm sure it will be helpful to other users that might run into the same problem with Python on Windows! Your feedback is really appreciated! Cheers!

[2017-10-11 18:53] kroitor commented on #308
Hi, @86chenjie ! Thank you again for your helpful feedback! This issue is now fixed in 1.9.109+. Let us know if you experience any difficulty with it, I tested it and it should work normally. Cheers!

[2017-10-11 18:53] #308 closed

[2017-10-11 18:59] Nitrooo commented on #309
fetch_order_book() doesn't work anymore with Bitfinex v2 on ccxt v.1.9.107+. It works fine on v.1.9.106.
I have not much time to investigate right now, but you get the timestamp in place of the price, for example.

[2017-10-11 19:02] kroitor commented on #309
Oh, sorry, my bad, will fix it right away

[2017-10-11 19:17] kroitor commented on #309
Ok, now it's fixed (1.9.110+). Thx!

[2017-10-11 19:34] Nitrooo commented on #309
Thank you!

[2017-10-11 20:07] dservais commented on #71
Good evening, any chance to have the fetchorder familly functions for GDAX soon ?
Best regards

[2017-10-11 20:52] kroitor commented on #71
@dservais hi! Yep, should be available in a day or two, hopefully.

[2017-10-11 22:26] kroitor commented on #71
@dservais we uploaded fetchOrder + fetchOpenOrders for GDAX, should be available in approx 5 minutes in version 1.9.111+. Let us know if you have any questions or difficulties.

[2017-10-11 22:42] dservais commented on #71
Many thanks ! your 1 or 2 days reduced to 3 hours ! impressive as usual.
Best regards

[2017-10-11 22:58] dservais commented on #71
I have a problem : it works fine for some keys like 'price', 'side', or 'id' but there is an error with 'size', 'product_id' or some others

pair='ETH/BTC'
myorder = gdax.fetchOpenOrders()
print (len(myorder))
print(myorder)
print (myorder[0]['price'])
print (myorder[0]['side'])
print (myorder[0]['id'])
print (myorder[0]['size'])

Results:
42
[{'id': 'cc43f1aa-6991-42a1-9f20-f2f3e4373d85', 'info':

[2017-10-11 23:00] kroitor commented on #71
@dservais the unified order structure is [described here](https://github.com/ccxt-dev/ccxt/wiki/Manual#order-structure). There's no `size` field in it ;)

[2017-10-12 00:32] 86chenjie commented on #308
work now. thanks

[2017-10-12 00:54] 86chenjie opened #312 "is Order Structure's average field always available?"
[code]
that's order info from okex.
'average' field not mentioned in doc https://github.com/ccxt-dev/ccxt/wiki/Manual#order-structure
for me, i don't care about the 'price' field, which i guess is the price i create order for.
instead i need to know the average transaction price.

[2017-10-12 01:08] kroitor commented on #312
Hey again ) Currently, the average is not guaranteed → therefore it's not documented, but we are going to export it as well (where available). We currently guarantee `cost` which is usually equal to the actual traded price / filled, so if filled is > 0 and you divide the cost by filled, you can get the average price. But that is, again, not always the case, because the exchanges themselves are not

[2017-10-12 01:24] #312 closed

[2017-10-12 01:25] kroitor commented on #312
I've added the missing cost field to OK*, and I think I'm going to add the average to all other exchanges as well. Thx!

[2017-10-12 01:25] 86chenjie commented on #312
thanks 👍

[2017-10-12 02:09] 86chenjie commented on #312
@kroitor  btw, do you find a way to get average price for market order in binance?
i checked the fetchOrder api result, price field is zero.

[2017-10-12 02:24] kroitor commented on #312
@86chenjie if you fetch orders, they indeed return zeroes for market orders, so this is not something we can fix in the fetchOrder method. Here's the example structure of a market order returned from Binance:

[code]

But you can find out the actual market price that was used to fill the order from your private trades (Binance has a unified `fetchMyTrades()` method for that, like many other exchan

[2017-10-12 02:30] kroitor commented on #312
@86chenjie ↑ this is because an order can be filled in more than one trade (partial fill), but, I guess, you know that.

[2017-10-12 02:34] kroitor commented on #312
@86chenjie I also fixed the cost field for it, so you can now do:

[code]

[2017-10-12 02:46] 86chenjie commented on #312
@kroitor   totalCost / orderTrades.length
orderTrades.length         not make sense to me :)

[2017-10-12 02:46] kroitor commented on #312
@86chenjie yep, I edited it a little, so now it should make sense ;) See the updated version above.

[2017-10-12 03:23] kroitor commented on #312
Let me know if you have other questions left ) Cheers!

[2017-10-12 06:59] 86chenjie commented on #312
@kroitor  okex fetchOrders  api not work, but in okex api doc, there is a api to query orders.
https://www.okex.com/rest_api.html

# Request
POST https://www.okex.com/api/v1/orders_info.do
# Response
{
	"result":true,
	"orders":[
		{
			"order_id":15088,
			"status":0,

[2017-10-12 07:02] kroitor commented on #312
@86chenjie is fetchOrders the only method that does not work?

[2017-10-12 07:10] kroitor commented on #312
@86chenjie yep, looks like they need multiple order ids for that method... And we should call order_history instead, but it's only available for spot market. What do you think about it?

[2017-10-12 07:15] kroitor commented on #312
@86chenjie you can actually use their fetchOrders right away by doing something like this:
[code]

[2017-10-12 07:17] kroitor commented on #312
Let me know what you think we should do:
1. rewrite fetchOrders to use order_history.do
2. leave fetchOrders as is
3. rewrite fetchOrders to use orders_info.do and if order_id is not supplied to fallback to order_history.do
?

[2017-10-12 07:27] 86chenjie commented on #312
1 is what i need. thanks

[2017-10-12 07:30] kroitor commented on #312
@86chenjie, ok, we'll upload that.

[2017-10-12 11:56] zNoobs opened #313 "Warning: Declaration of ccxt\{exchangeId}::fetch_tickers() should be compatible with ccxt\Exchange::fetch_tickers($symbols, $params = Array)"
Hello,
I got this error for many exchanges when I'm using the ccxt php library (here the errors of the  'include "build/ccxt.php";'):
[code]

Do I have to change all declarations?

Best regards.

[2017-10-12 12:21] zNoobs commented on #313
Thanks, fast!
Another declaration problem, should change the line 14195 to:
    public function parse_ticker ($ticker, $market = null) {

And it works!

Best regards.

[2017-10-12 12:23] zNoobs commented on #313
Should I commit this change?

[2017-10-12 12:27] kroitor commented on #313
Hi, @zNoobs! )

This issue should be fixed now, thx for your help and your feedback! Let us know if you experience any other difficulties with it. Cheers!

[2017-10-12 12:27] #313 closed

[2017-10-12 12:31] kroitor commented on #313
Oh, forgot to say: your contributions are welcome! We will be happy if you submit a PR ) Just make sure to first read these two very carefully:

- https://github.com/ccxt-dev/ccxt/wiki
- https://github.com/ccxt-dev/ccxt/blob/master/CONTRIBUTING.md

Thx again!

[2017-10-12 18:27] Fcl69 opened #314 "HitBTC buy/sell order fails"
Hi,

here is my code:

[code]
ccxt fails...

PS Key & nonce is fine, I can pull balance data, for example.

[2017-10-12 22:56] kroitor commented on #314
Hi, @Fcl69!
I've uploaded a slightly edited version of it... can you please try it again and report? It should work now.
Cheers!

[2017-10-12 23:18] Fcl69 commented on #314
It did work! Thank you!

[2017-10-12 23:19] #314 closed

[2017-10-12 23:34] kroitor commented on #314
@Fcl69 ok, but, please, be aware, that there's a little more to it:

1. HitBTC has a `timeInForce` order parameter, that is a setting that controls the execution of the order (how HitBTC should treat and fill the order):

[code]

2. The default execution type for limit orders the default in HitBTC and ccxt is GTC.

3. For market orders HitBTC allows IOC or FOK only. The default in HitBTC and ccxt

[2017-10-13 01:06] 86chenjie commented on #312
@kroitor  how's this change going?

[2017-10-13 01:39] kroitor commented on #312
@86chenjie we uploaded that (should be there in 5 mins), but there's more to OKCoin fetchOrders, looks like they require to specify an open or closed status when querying, so there are three unified methods:
1. fetchOpenOrders (...)
2. fetchClosedOrders (...)
3. fetchOrders that requires either an order_id param or a status/type param

[2017-10-13 01:39] 86chenjie commented on #312
that's fine. thanks! 👍

[2017-10-13 01:41] kroitor commented on #312
@86chenjie ok, we'll be happy if you report back, as always. It worked for me, but there still may be some caveats. If you have an error with it, we'll need to see the verbose output. Thx!

[2017-10-13 01:53] kroitor commented on #312
@86chenjie v1.9.128

[2017-10-13 01:56] 86chenjie commented on #312
@kroitor
console.log(await ex0.fetchClosedOrders(info.symbol));
 TypeError: this.fetchOrdersByStatus is not a function

not work

[2017-10-13 01:57] kroitor commented on #312
@86chenjie sorry, a left over. Just a sec.

[2017-10-13 02:15] kroitor commented on #312
@86chenjie ok, v. 19.129 now %)

![giphy-downsized](https://user-images.githubusercontent.com/1294454/31527393-880b5b0c-afd5-11e7-8a7d-76fc03f53f75.gif)

[2017-10-13 02:16] 86chenjie commented on #312
👍  works

[2017-10-13 05:13] kroitor commented on #312
Reference: #71

[2017-10-13 06:32] kroitor commented on #306
Hi again, @s5s!

----------------------------

#### Bitstamp

Unfortunately, they don't offer an OHLCV endpoint ( So, it's not a ccxt problem , but it's a problem with the exchange. On their webpage they draw candlesticks with their custom Tradeview web interface which is:
- not documented anywhere
- not guaranteed to be consistent or up to date anywhere
- only accessible with their internal authe

[2017-10-13 06:32] #306 closed

[2017-10-13 11:18] vinaykashyap1206 opened #315 "fetch_ticker giving error"
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/home/arajguru/work/CCPlatform_Private/ccplatform/contrib/live_data_feeders/websocket_thread.py", line 10, in run
    self.wsinstance.connect()
  File "contrib/live_data_feeders/bter_data_feeder.py", line 54, in connect
    temp=self.bter.fetch_ticker(tradepair)
  File

[2017-10-13 11:20] kroitor commented on #315
Hi!

1. Can you paste a minimal code snippet demonstrating the problem?
2. What symbol are you using for fetch_tickers with Bter?
3. Did you check all available symbols with Bter to see if your symbol is present there?

[2017-10-13 11:50] vinaykashyap1206 commented on #315
Hi,
1) Okay so when I initialize my ccxt object :
self.bter=ccxt.bter()
self.bter.load_markets()
and then when I try to fetch the ticket data:
temp=self.bter.fetch_ticker(tradepair)
 This is where it throws this error:
==================================
  File "contrib/live_data_feeders/bter_data_feeder.py", line 55, in connect
    temp=self.bter.fetch_ticker(tradepair)
  File "/home/arajguru/work

[2017-10-13 11:51] kroitor commented on #315
https://github.com/ccxt-dev/ccxt/wiki
https://github.com/ccxt-dev/ccxt/wiki/Manual#markets
https://github.com/ccxt-dev/ccxt/blob/master/examples/py/symbols.py
https://github.com/ccxt-dev/ccxt/wiki/Manual#troubleshooting
https://github.com/ccxt-dev/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2017-10-13 11:52] PhinixPhire opened #316 "(hitbtc) order amount should be evenly divisible"
[code]

I know what this error means, and I know how it fix it, but my question is... how can I tell which precision level HitBTC prefers for each coin? Is that information available anywhere in ccxt, or will I need to construct a database table for tracking these requirements of each exchange?

Thanks so much!

[2017-10-13 11:53] kroitor commented on #315
[code]

[2017-10-13 11:54] kroitor commented on #315
<img width="642" alt="screen shot 2017-10-13 at 14 54 18" src="https://user-images.githubusercontent.com/1294454/31545057-6b7f95ce-b026-11e7-9c2e-01ea49c795c1.png">

[2017-10-13 11:55] kroitor commented on #315
You should use the `symbol` from the above table as written in the Manual.

[2017-10-13 11:55] #315 closed

[2017-10-13 11:56] vinaykashyap1206 commented on #315
Great!! Its working now. Thanks a ton!!

[2017-10-13 12:00] kroitor commented on #316
Hi!

Yep ;)

You can tell that from the `lot` property of each particular market:

[code]

![hitbtc-lot](https://user-images.githubusercontent.com/1294454/31545176-fe2c676c-b026-11e7-86cb-2aff6579e572.jpg)

[2017-10-13 12:01] PhinixPhire commented on #316
You're my hero, @kroitor
Thanks so much! That's absolutely perfect for my needs.

[2017-10-13 12:01] kroitor commented on #315
@vinaykashyap1206 thanks for reporting back! I'd recommend to read entire Manual to avoid the very basic questions with it. You got all necessary links above ;) Let us know if you have other questions or difficulties with it. Cheers!

[2017-10-13 12:03] kroitor commented on #316
@PhinixPhire you're welcome! )

[2017-10-13 12:03] #316 closed

[2017-10-13 16:54] mazertwo opened #317 "Add some interesting exchanges"
Bit-Z  $11,008,293 (24h turnover) https://coinmarketcap.com/exchanges/bit-z/
Allcoin $5,414,265 https://coinmarketcap.com/exchanges/allcoin/
LocalTrade $1,574,955 https://coinmarketcap.com/exchanges/localtrade/

[2017-10-13 17:27] kroitor commented on #317
Hi, @mazertwo !

Thanks for your suggestion!

After a brief review:

1. Bit-Z – I can't find any private (trading) API on their website, can you?
2. Allcoin – will integrate
3. LocalTrade – can't find any API docs at all, can you?

[2017-10-13 17:34] mazertwo commented on #317
Ahahah, exchanges without API. Bit-Z doesnt have trading part API. Wow, it is not "wild west", it's more interesting phenomenon :) Thank you for fast answer, as usual!

[2017-10-13 23:00] kroitor commented on #317
Ok, so, of three exchanges suggested, two have no adequate API, and the third one has been integrated. So, I guess, I can close this issue now. Let us know if you have any questions with it. Cheers!

[2017-10-13 23:00] #317 closed

[2017-10-14 10:12] mazertwo opened #318 "How i can fetch Poloniex margin balance and made margin order?"
Hello, great ccxt team!

How can i fetch Poloniex margin balance and made margin order?

In Bitfinex margin a add {'type': 'limit'}

Thank you!

[2017-10-14 13:16] mazertwo commented on #318
{'type': 'margin'} :)

[2017-10-14 14:07] kroitor commented on #318
Hi!

Have you tried doing what's written in the Manual? Do you see margin trading methods are there?

[code]

CCXT implements all of their endpoint methods out of the box, including those for margin trading. You just need to read the Manual once and for all. If you follow it carefully, you will be able to find all answers to your questions pretty quickly. This is what learning is about: read, try,

[2017-10-14 14:57] mazertwo commented on #318
Bitfinex margin trading works with just adding one parameter {'type': 'limit'}.
I tihnk, its wery usefull.

Can you write example, how can i get margin position? poloniex.__getattribute__('private_post_getmarginposition')?
how can i put margin order to Poloniex?  'privatePostMarginBuy'?

[2017-10-14 15:10] kroitor commented on #318
From Poloniex:

So, to fetch all your margin position, you need to do the following:

[code]

Does the above answer your question?

[2017-10-14 15:13] mazertwo commented on #318
Yes, thank you for all what you do!

[2017-10-14 15:44] kroitor commented on #318
Ok, let us know if you have any other difficulties with it, i'm closing this for now if you don't mind. Cheers!

[2017-10-14 15:44] #318 closed

[2017-10-14 17:28] mazertwo opened #319 "Poloniex Nonce error"
This small code:

import ccxt
poloniex = ccxt.poloniex()
poloniex.apiKey = 'xxxxxxxxxxxxxxxxxxxxxxxxx'
poloniex.secret = 'xxxxxxxxxxxxxxxxxxxxxxxxxx'
print(poloniex.private_post_getmarginposition({'currencyPair': 'BTC_XMR'}))
print(poloniex.private_post_returnmarginaccountsummary())
marginbalance = poloniex.private_post_returnmarginaccountsummary()
print(marginbalance['totalValue'])

produce stran

[2017-10-14 17:30] kroitor commented on #319
It's not strange. Please read either of the following:
- the Manual (it's written there)
- or this: https://github.com/ccxt-dev/ccxt/issues/274

Sorry, but I'm closing this issue as a duplicate.

[2017-10-14 17:30] #319 closed

[2017-10-14 17:31] dservais commented on #71
Good evening Igor, many thanks again for the GDAX orders familly. It is very usefull.
On the fetchClosedOrders function, it seems that only the last 100 orders are coming back, is there a way to get all Closed Orders ?

Best regards

[2017-10-14 17:32] mazertwo commented on #319
I made new keypair, but still same. May be (here[https://github.com/rferro/plnx/issues/2](url)) same trouble?

[2017-10-14 17:34] kroitor commented on #319
@mazertwo: the problem is not your keypair, but the frequency of your requests. There should be a pause between them. Poloniex, as well as all other exchanges, won't let you send your requests to quickly, all in a split second. You should make a delay to stay below rate limit, otherwise you'll get banned by the exchange. If you want ccxt to make a pause for you, do this:

[code]

[2017-10-14 17:44] kroitor commented on #319
There's a ton of info on this in the Manual, in other posts linked to this issue above, and in the examples as well.

[2017-10-14 17:46] mazertwo commented on #319
poloniex.enableRateLimit = True
and
sleep (1)
after every order helps me.

Thank you!

[2017-10-14 17:49] kroitor commented on #319
`sleep (1)` is not needed, the first line does the same inside. You should choose either `enableRateLimit` or `sleep`, otherwise you are making a double-delay (getting slower than you could).

[2017-10-14 17:51] mazertwo commented on #319
I set sleep (2). Witout sleep or with sleep (1) works not stable.

[2017-10-14 17:54] kroitor commented on #319
@mazertwo then there may be a bug inside the internal rate limiter, I'll take a deeper look into it. Thx for reporting!

[2017-10-14 18:04] kroitor commented on #71
@dservais I guess, this is their default behaviour. Actually, no exchange will give you full history "for all time since the beginning", because this is against their DDoS Protection. So, all of them will limit their output to a reasonably-small amount of orders. If you want to have older history – you will have to maintain it on your end. Does this answer your question?

[2017-10-14 18:39] kroitor commented on #71
Current overview:

<img width="1163" alt="screen shot 2017-10-14 at 21 39 20" src="https://user-images.githubusercontent.com/1294454/31578351-2cf3b1e8-b128-11e7-9f60-a20263ce34e7.png">

[2017-10-14 20:32] dservais commented on #71
Yes it answers to my question. Many thanks.

[2017-10-14 20:52] mazertwo commented on #319
Anyway, enableRateLimit and sleep with any secconds doesnt help. I get nonce error with Poloniex at 70% cases.

[2017-10-14 20:53] kroitor commented on #319
@mazertwo ok, then paste your code to reproduce the error please, and we'll see what's going on.

[2017-10-14 21:09] kroitor commented on #319
Btw, I just noticed, that you have two subsequent calls to the same method `poloniex.private_post_returnmarginaccountsummary()`... Why would you do that?

This is how it should look like:
[code]

This code works for me and does not break in 100% cases.

[2017-10-14 21:12] kroitor commented on #319
We'll be waiting to see a snippet that you have a problem with, after enabling the rate limit.

[2017-10-14 21:19] mazertwo commented on #319
`from time import sleep
import ccxt

poloniex = ccxt.poloniex()
poloniex.enableRateLimit = True
poloniex.apiKey = 'xxxxxxxxx'
poloniex.secret = 'xxxxxxxxxx'

while True:

 exch1 = poloniex

 pairs = ['ETH/BTC','XRP/BTC','LTC/BTC','XMR/BTC','STR/BTC','DASH/BTC','BTS/BTC','DOGE/BTC','FCT/BTC','MAID/BTC']

 gap = 0.10
 timeframe_sec = 1800

 buyorders=[]
 sellorders=[]

 for pair in pairs:

  orderbo

[2017-10-14 21:21] mazertwo commented on #319
Just simple gap catcher :)

[2017-10-14 21:21] kroitor commented on #319
Three backticks ) 3 of them... &#96;&#96;&#96; ... )

[2017-10-14 21:23] mazertwo commented on #319
[code]

[2017-10-14 21:31] kroitor commented on #319
Yay! That's much better! ) And much easier to read )
Next time don't forget to add a Python word ) For highlighting and readability )

&#96;&#96;&#96;Python

your_code

&#96;&#96;&#96;

So, you're getting the nonce error with that code? Are you sure it's a nonce error, not any other error? Also, are you sure the code above actually works? I'm asking, because...
[code]
This ↑ line looks like it's i

[2017-10-14 21:35] mazertwo commented on #319
yes, it my timeframe, 30 mins. Ccxt updated yesterday. All work, but in 70% cases a get Nonce error.

[2017-10-14 21:37] kroitor commented on #319
Ok, try this:

[code]

[2017-10-14 21:40] mazertwo commented on #319
Does i need to delete other Sleep (5)?

[2017-10-14 21:41] kroitor commented on #319
Nope, leave them all where they are. Just add one more there, and you can delete the `load_markets()` (unnecessary after a fetch_order_book, it's only needed in the beginning, otherwise markets are loaded by fetch_order_book, inside the lib).

[2017-10-14 21:47] kroitor commented on #319
Also, your order of requests does not seem to be correct.

You fetch the orderbooks. Then you fetch the balance. By the time you get the balance, the orderbook on Poloniex could have changed. So you need to fetch the balance first, then fetch the orderbook, because your balance cannot change suddenly, the balance can only change due to your actions, whereas the orderbook can change between calls (

[2017-10-14 21:56] mazertwo commented on #319
Igor, you great man!  I add sleep (1) before every order operation, and ta da... work correctly :)
Будешь в Питере, напиши. Угощу Ж)
Отдельное спасибо за советы по вызову сначала баланса, потом ордеров, я все понял.

[2017-10-14 22:00] kroitor commented on #319
Hooray, good to know you figured it out ) Let us know if you have other difficulties with it. Cheers )
Спасибо ;)

[2017-10-14 22:15] kroitor commented on #319
P.S.

1. Rate limit on Poloniex is 6 times per second = 1000 / 6 ≈ 170 milliseconds.
2. if you update to latest version of ccxt (as of today), you can set a minimal sleep of `sleep (1000.0/6.0)` ;) This is somewhat more efficient, than waiting 1 second.

[2017-10-14 23:01] mazertwo commented on #319
After update, work without sleep(). Brilliance work and support! Thank you!

[2017-10-14 23:01] kroitor commented on #319
@mazertwo awesome! Cheers!

[2017-10-15 03:23] Fcl69 opened #320 "Binance withdraw()"
Hello!

I have an issue with withdraw function. Is it not supported for all the exchanges? For example, binance:

[code]

result:

[2017-10-15 03:31] kroitor commented on #320
@Fcl69 hi!

First, on Binance they don't have such an option, there is no such endpoint. They don't have withdrawals in their API on Binance. So, you have to do it manually until they implement a programmatic withdrawal endpoint. We can't workaround that, unfortunately.

Second, yes, it's not completely unified in ccxt yet, so we don't have all withdraw() methods implemented yet for some of those

[2017-10-15 04:29] Fcl69 commented on #320
Yeah... I guess it does. A bit disappointing though, that the process can't be fully automated, but I get you, it's not the ccxt problem. Thanks for clarifying though!

[2017-10-15 04:34] kroitor commented on #320
@Fcl69 hey, but what if we organize a usermass large enough and push on Binance a little by sending a massive amount of requests of the same withdraw feature so that they finally implement that endpoint? )

[2017-10-15 04:36] Fcl69 commented on #320
I'm all for it! ;) Tell where to sign or when to send a ticket request!

[2017-10-15 04:39] kroitor commented on #320
@Fcl also, this process still can be automated, if you hold a buffer of money there, large enough to sustain your trading operation for a week or a month...
I suggest, let's plan it thoroughly, we need a statement text first, that we will be sending, I'll write one and I will post it here. And then we will open a new issue for other users to read and join us )

[2017-10-15 04:51] Fcl69 commented on #320
I didn't get you, could you please be more specific?

#2 - sounds good!

[2017-10-15 04:55] kroitor commented on #320
Well, you hold a balance there. And when it gets low, you send a notification to refill it ← this part of funding can be automated by simply sending to Binance deposit address. When it gets too high, you send a notification to withdraw ← that can be automated by simulating user activity on their website and doing a few "clicks".

[2017-10-15 21:00] evgen-y2k opened #321 "buy/sell operation, Error: Place order error: Insufficient funds."
Hi.
Periodically for SELL/BUY operations I see this error:
`
ExchangeError ('cex {"error":"Error: Place order error: Insufficient funds."}',)
`

Very strange because balanse is enough for operation.
If I restart script, error not repeat.
P.S. CEX.IO market

[2017-10-15 21:39] kroitor commented on #321
Hi, @evgen-y2k ! Can you paste a minimal code snippet to reproduce the problem?

[2017-10-15 22:04] evgen-y2k commented on #321
I can not reproduce this yet. I'm trying to determine the cause of the error. Today 9 hours the script worked without errors. During the last hour the error appeared 3 times.

[2017-10-15 22:07] kroitor commented on #321
@evgen-y2k do you have funds on open orders? And how do you check the balance? In order to determine the free amounts, you need to look at 'free' balances. Unfortunately, it's impossible to help until we see some code...

[2017-10-15 22:26] evgen-y2k commented on #321
Yes, I fully understand how it work! I describe situation:
- My script place 5-7 BUY orders. Work correct
- If price go up, my script make cancellation of all orders and place new 5-7 orders with new price. At this time can be error for BUY operation. For 5-7 orders script use only 20% of my deposit.  There is always a supply of money.

[2017-10-15 22:34] evgen-y2k commented on #321
I think that the possible cause of the error is the limitation on the number of CEX.IO requests (600 requests for 10 minutes maximum). Now I inserted more delay between all operations with orders and started script again. I wait errors ...

[2017-10-15 22:37] kroitor commented on #321
@evgen-y2k currently, it's impossible to tell from your text description where the error is. Unfortunately, we can't debug your trading logic for you, so you need to make a minimalistic test to reproduce the bug. Most likely, you have an error with evaluating free and used balances at some stage. I am closing this until you're able to reproduce it. Feel free to reopen it or just continue asking yo

[2017-10-15 22:37] #321 closed

[2017-10-15 22:39] kroitor commented on #321
P.S. and this: https://github.com/ccxt-dev/ccxt/issues/319

[2017-10-15 22:53] evgen-y2k commented on #321
Ok. When I found cause of this error and will can reproduce, I will open new ticket with full description and code example. About your links abowe: I checked this possible cause before opening ticket and all right. I use override nonce in my script (work fine), rate limit my script take from market and use it for check (`
MIN_LOT_SIZE = float(cex.load_markets()['%s/%s' % (CUR1,CUR2)]['info']['minL

[2017-10-16 00:23] kroitor commented on #321
@evgen-y2k

You can simply reopen this issue, so to keep it simple. We'll stand by for more info from you to reproduce it.

[2017-10-16 01:15] evgen-y2k commented on #321
Ok, I found mistake! It is problem with rounding on CEX.IO. In the Rounds Policy described:

Nothing about ETH, but for ETH/USD pair it is not correct. For this pair CEX rounds to 6 digit after separator and to down! Not know why. ETH/EUR pair have normal rounds to 8 digits.

[2017-10-16 01:17] kroitor commented on #321
@evgen-y2k ok, so, do we need to change something in ccxt?

[2017-10-16 10:35] vinaykashyap1206 opened #322 "BTCC ticker and order book giving error"
Hi,
I'm trying to fetch ticker and order book data from BTCC and getting the below error:

This is how I initialized my ccxt btcc object:
[code]

This error is for order book data:
[code]

And this is the error for ticker data:
[code]

[2017-10-16 10:39] kroitor commented on #322
Hi!

![btcchinaannouncement](https://user-images.githubusercontent.com/1294454/31608027-6599291a-b277-11e7-97e7-80051840c66e.jpg)

[2017-10-16 10:40] kroitor commented on #322
https://github.com/ccxt-dev/ccxt/wiki/Manual#troubleshooting

[2017-10-16 10:40] #322 closed

[2017-10-16 11:54] wendelmaques opened #323 "Exchanges with short enabled"
Hello everyone, first off thank's for this library, it has a lot of potential.

I wonder if it's possible to add an extra column in exchange-capabilities.js to indicate whether a exchange allows SHORT orders or not.

I believe that if ccxt can indicate if a exchange allows SHORT orders is big differential in relation to others libraries, because this info does not exist in other libraries and take

[2017-10-16 11:58] kroitor commented on #323
Hi, @wendelmaques ! Thanks for your feedback and for the proposal! I totally agree with you and we will add that indicator shortly. Will let you know as soon as it's available. Hopefully, soon. If that answers your question, I would close this issue for now if you don't mind. Stay tuned for updates )

[2017-10-16 12:22] wendelmaques commented on #323
Thank you Igor, you answered my question, very quickly, as usual.

[2017-10-16 12:23] #323 closed

[2017-10-16 16:06] Helmi commented on #56
As this issue is still open and I had a hard time finding anything else about it (except issue #145 which is linked here in closed): Is there anything new on the whole WebSocket topic?

[2017-10-16 16:10] kroitor commented on #56
@Helmi hi! This issue is still open, we are working on it and hope to deliver it soon. We are closing in to v2, as you may see from our versioning, where we will be introducing a major refactoring and many new features ) But our WS implementation will not only stream balances, but also fills, orders, and all that stuff, where available. Stay tuned for more updates! )

[2017-10-16 16:45] Helmi commented on #56
Thanks for the quick headsup. That sounds awesome. Go for it 👍

[2017-10-17 00:12] D-Nice opened #325 "fetchTrades returns GMT as localized timestamp in JS"
Only tested with Poloniex and fetchTrades, but the converted timestamp is wrong. The library appears to assume that the time Poloniex is returning is my local timezone, and not GMT. The time fetched (which is already GMT) is converted to GMT, and makes orders appear as though they happened in the future.

[2017-10-17 00:32] kroitor commented on #325
Hi, @D-Nice! What's your programming language version of ccxt?

[2017-10-17 00:37] kroitor commented on #325
Please note, that all timestamps and datetimes are UTC!

[code]

The little python test above should show your system's UTC time, and will show the UTC datetime of the last trade on Poloniex, so they should be very close to each other.

[code]

[2017-10-17 01:08] valentinbora opened #326 "Ledgers query"
Hi.

How can I run a ledger query for Kraken for example?

Thanks!

[2017-10-17 01:35] kroitor commented on #326
Hi, @valentinbora !

CCXT does not unify those methods, because they are very Kraken-specific, but the good news is that CCXT still implements all methods for Kraken, including those for querying ledger infos. So you can use their custom non-unified API for Kraken which is available in CCXT.

Afaik, you're using PHP, so, it would look like this:

[code]

I added the above example to [examples/php/

[2017-10-17 01:35] #326 closed

[2017-10-17 02:13] D-Nice commented on #325
I'm using node. I did try your test, but the python version appears to have issues working at all. Regardless, node is my personal preference anyways.

I've cloned your test script for node 8+:

[code]

here's the output

[code]

And the issue I am talking about.

Thanks for your time and help!

[2017-10-17 02:35] kroitor commented on #325
@D-Nice thx a lot for the snippet!

Can you please try the same for Bitfinex now?

[code]

Looks like a Polo issue to me... A difference of 3 hours, where the same functions return no difference for Bitfinex UTC time... For Kraken it seems to be 1 hour. If that is the case, we will have to add some corrections for that. Should be UTC, really. Or there may be a bug inside the library, will test for

[2017-10-17 02:43] kroitor commented on #325
Ok, I did a few more tests and it looks like a bug in parse8601 in js, but I'll fix it quickly. Thx for your report!

[2017-10-17 02:55] #325 closed

[2017-10-17 03:17] kroitor commented on #325
Ok, this issue has been fixed as of CCXT version 1.9.156+. Thx for your feedback once again! Let us know if you find any other inconsistencies! Cheers!

[2017-10-17 03:24] anandanand84 opened #327 "Bittrex fetchOpenOrders is missing the price field"
As you can see in the attached image the limit price is available in the info. But not available in the price field.

![image](https://user-images.githubusercontent.com/5538452/31645238-9dcb3c8a-b2c0-11e7-86c3-f429569a1281.png)

[2017-10-17 03:30] kroitor commented on #327
Hi, @anandanand84 ! Thx for reporting, we will fix that (soon)!

[2017-10-17 03:40] kroitor commented on #327
@anandanand84 actually... which version of ccxt library do you have?

[2017-10-17 08:31] gavin369 opened #328 "Huobi PRO empty fetchBalance return"
I'm a beginner. I want to be a bot. I want to ask you something! I don't show my account balance with console.log (await huobipro.fetchBalance ()),
![image](https://user-images.githubusercontent.com/26453791/31654646-338c082e-b359-11e7-8d5d-33f743c8c22e.png)

![image](https://user-images.githubusercontent.com/26453791/31654328-5317d156-b358-11e7-8557-6dfa7be0285c.png)

but actually there is a bala

[2017-10-17 08:38] kroitor commented on #328
Hi, @gavin369 ! Can you add the following line please to see what huobi actually returned to ccxt?

[code]

Paste the output here, please. Use triple backticks for pasting code like for more readability:

&#96&#96&#96
code
&#96&#96&#96

[2017-10-17 08:42] gavin369 commented on #328
&#96&#96&#96
'use strict';
var ccxt = require ('ccxt');
var async = require('async');
console.log ('添加交易所名称',ccxt.exchanges[56] )
console.log ('添加交易所个数',ccxt.exchanges.length)
var start = async function () {
    // 在这里使用起来就像同步代码那样直观
    let huobipro = new ccxt.huobipro ({
        apiKey: 'key',
        secret: 'secret',
    })
    while (true){
        ticker = (await huobipro.fetchTicker('LTC/BTC

[2017-10-17 08:45] kroitor commented on #328
You should not put &#96 there, use the backtick (&#96;) on your keyboard 3 times in the beginning and 3 times in the end ) That's not a problem, just letting you know for future use ;)

The code is ok, but please paste the verbose output as in my previous post. We need you to add that `verbose: true` line and run your code again, then paste the output here.

[2017-10-17 08:51] gavin369 commented on #328
Okay, I got it. First contact with GitHub. sorry！

[2017-10-17 08:52] kroitor commented on #328
@gavin369 no problem at all ) Welcome ) We will stand by to see your verbose output.

[2017-10-17 09:57] kroitor commented on #328
@gavin369 did you manage to get verbose output? We will be waiting to see your output in verbose mode, like written above.

[2017-10-17 10:02] kroitor commented on #328
@gavin369 alternatively, after you fetch the balance you can simply do:
[code]
... and paste the output here.

[2017-10-17 10:07] gavin369 commented on #328
Now I'm not using console.log, but it's also printing information!

[code]
![image](https://user-images.githubusercontent.com/26453791/31659238-05a9068e-b366-11e7-97e9-0f8e7cf5fd2b.png)

[2017-10-17 10:17] kroitor commented on #328
@gavin369 ok, thank you for the info! I will now debug it a little and will get back to you shortly.

[2017-10-17 10:48] #328 closed

[2017-10-17 10:55] kroitor commented on #328
@gavin369 ok, this was a bug in balance parsing, but now it's fixed and Huobi should be working normally. Please don't forget to update the ccxt library to version 1.9.163+ (`npm update ccxt` in your package folder) and retry again. We will be happy if you report whether it works for you or not. Thx again for your participation!

P.S. Next time don't paste text in images and screenshots, paste cod

[2017-10-17 11:04] gavin369 commented on #328
Okay，i know！ Thank you very much.

[2017-10-17 12:46] anandanand84 commented on #327
@kroitor, Doesn't seem to have this issue with the latest version. Thanks!

[2017-10-17 12:46] #327 closed

[2017-10-17 12:47] kroitor commented on #327
@anandanand84 Cheers! Thx for reporting back! ;)

[2017-10-17 13:31] md0101 opened #329 "Yobit fetch_balance()"
Hi,
with this code

[code]
I am seeing this KeyError
[code]

[2017-10-17 13:33] kroitor commented on #329
Hi! Thanks a lot for this very high quality report! I will look into it and get back to you shortly!

[2017-10-17 13:45] #329 closed

[2017-10-17 15:06] PhinixPhire opened #331 "Python 2.7: ccxt.[exchange]() call error (ver 1.9.163)"
I just updated to the latest ccxt (1.9.163) and now I'm getting errors such as this whenever I try to initialize an exchange:

Code:
[code]
Result:
[code]

[2017-10-17 15:10] PhinixPhire opened #332 "southxchange.hasWithdraw False, but API supports withdrawals"
Sorry to submit multiple issues at once. When I initialize southxchange from an older version of ccxt (since I'm experiencing the issue described in [#331](https://github.com/ccxt-dev/ccxt/issues/331)), I'm seeing that southxchange.hasWithdraw == False

But southxchange API seems to support withdraw:
https://www.southxchange.com/Home/Api#withdraw

Can we get the unified method implemented for sout

[2017-10-17 16:13] kroitor commented on #331
This is a bug due to one of recent commits, it will be fixed right away! Thx for reporting!

[2017-10-17 16:18] PhinixPhire commented on #331
Thanks, Igor!
I'll be sure to include the Python version in my Issue titles moving forward for you too. :)

[2017-10-17 16:22] kroitor commented on #331
@PhinixPhire I can see it from the output, no worries ) Fixing it.

[2017-10-17 16:26] whtwhtwht53 opened #333 "Bithumb fetch_balance() Error(ver 1.9.153)"
Code:
[code]
Result:
[code]
I have checked the doc , maybe the reason is that the function privatePostInfoBalance miss a params "currency"

[2017-10-17 16:28] kroitor commented on #333
@whtwhtwht53 hi! I'll take a look into it and will get back to you soon! Thx for your report!

[2017-10-17 16:31] whtwhtwht53 commented on #333
Thank you,Igor!

[2017-10-17 16:32] kroitor commented on #331
I've uploaded the fix for it, but GitHub and Travis now say:

<img width="576" alt="screen shot 2017-10-17 at 19 32 04" src="https://user-images.githubusercontent.com/1294454/31676958-ed2792ae-b371-11e7-826d-9db522ca76f9.png">

Have to wait a little (

[2017-10-17 16:36] kroitor commented on #332
Sure, will add it shortly. As you may know, we don't have them all unified, so there may be hasWithdraw = false, where it is not implemented yet. But we will implement it quickly.

[2017-10-17 16:37] #331 closed

[2017-10-17 16:44] kroitor commented on #329
Ok, this is fixed in version 1.9.165+. Please update and retry the same code, it should work normally. That was an easy bug leftover due to recent unification of BTC-e clones' APIs inside ccxt.

Thx again for your involvement, really appreciate the format of your issue! Most issues can be closed in seconds if they are reported in such a clean and understandable way. Let us know if you have any oth

[2017-10-17 16:45] kroitor commented on #331
Ok, this is fixed in version 1.9.165+. Sorry for the inconvenience. It was a leftover minor bug. Thanks for your patience! Let us know if you have any other questions or difficulties. Best wishes!

[2017-10-17 16:57] kroitor commented on #333
@whtwhtwht53 can I ask you to paste your verbose output plz? Run this:

[code]

And copy the output here (enclosed in triple backticks). Thx!

[2017-10-17 16:57] PhinixPhire commented on #331
No problem at all. I appreciate the quick response, sir!

[2017-10-17 17:01] kroitor commented on #332
Here's a quick overview of the current state:

<img width="1478" alt="screen shot 2017-10-17 at 20 01 01" src="https://user-images.githubusercontent.com/1294454/31678162-ed415b7c-b375-11e7-980b-501d4906d2b9.png">

[2017-10-17 17:02] whtwhtwht53 commented on #333
Result
[code]

[2017-10-17 17:07] whtwhtwht53 commented on #333
I succeed in getting account by bithumb‘s demo，its endPoint is
[code]

[2017-10-17 17:09] PhinixPhire commented on #332
Beautiful! That image is very helpful.

I'm going to be going through each and every exchange today determining viability for my project. I'll be noting which ones do not have withdrawal set up in ccxt while their withdrawal capability _is_, in fact, available through their API.

I think I'd like to try and learn how I can contribute Pull requests to implement some of these if I find myself capabl

[2017-10-17 17:16] kroitor commented on #332
That info itself would be really helpful in our work ;)

And I think it would be awesome to see some PRs from you! )

Sure, no problem, feel free to ask, we actually welcome all pull requests, and any help is appreciated! If you feel like going for it, read previous pull requests and issues by other people, there's a lot of useful info you may find interesting for understanding the inner workings

[2017-10-17 17:28] PhinixPhire commented on #332
Thanks, Igor! I'll read up and get back to you. I'd appreciate the addition of southxchange in the meantime, and I'll let you know if I have any difficulties.

One question before I get started... does it matter that I only know Python 2.7? Can I submit a fix in just the one language and still be helpful?

[2017-10-17 17:29] kroitor commented on #332
We actually thought on answering that question beforehand, in the CONTRIBUTING doc ;)

https://github.com/ccxt-dev/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support

[2017-10-17 17:36] kroitor commented on #333
@whtwhtwht53 can you please update to latest version 1.9.166+ and retry the same code of yours:

[code]

What do you see now having the latest version?

[2017-10-17 17:49] md0101 commented on #329
hey @kroitor , happy to be involved with such a great and useful project!
unfortunately i am still getting an error after updating to 1.9.166

[code]

[2017-10-17 17:51] kroitor commented on #329
Oh, my bad, another one left there. One sec.

[2017-10-17 18:02] md0101 opened #334 "New exchange: Deribit"
Hi, could you include this derivatives exchange?
Their API can be found here
https://www.deribit.com/main#/help?scrollTo=api&page=api

[2017-10-17 18:04] kroitor commented on #334
Hi, sure! Thx for your proposal! We'll take a deep look into it and will integrate hopefully, soon!

[2017-10-17 18:05] kroitor commented on #329
Can you please retry the same code once again?

[2017-10-17 18:07] md0101 commented on #329
Perfect it works. Thank you!

[2017-10-17 18:08] kroitor commented on #329
@md0101 thx!

[2017-10-17 19:20] kroitor commented on #332
The support for withdraw has been added to SouthXchange implementation in ccxt as of version 1.9.168+. Please report if you have any difficulties with it, though, it should work normally. Thx again!

[2017-10-18 00:12] kroitor commented on #332
I would close this issue for now, if you don't mind. The implemented should work anyway. Let us know, please, whether it does or does not work for you. Thx again! Feel free to reopen this if needed or just ask questions, if any. Cheers!

[2017-10-18 00:12] #332 closed

[2017-10-18 00:44] kroitor commented on #215
![ccxt-kraken-1m](https://user-images.githubusercontent.com/1294454/31695982-aeb38f7e-b3b6-11e7-8792-d61abccf5a6d.gif)

[2017-10-18 05:08] md0101 commented on #329
@kroitor whilst the code throws no errors, it seems there is an inconsistency with the output.

I have no bids, offers or open trades in my account, just a balance in BTC and ETH

BTC shows the correct 'free' balance and 0.0 for 'used' but 0.0 for 'total'
ETH shows the correct 'total' balance and 0.0 for 'used'  but 0.0 for 'free'

'funds' and 'funds_incl_orders' is reporting correctly

[code]

[2017-10-18 05:10] kroitor commented on #329
@md0101 ok, thx for reporting, I'll debug it further. Sorry for the inconvenience. Will be fixed, hopefully, soon. Stay tuned, please.

[2017-10-18 05:34] kroitor commented on #329
Ok, must be fixed for sure now. Please update once again and retry. Should be totally consistent. Thx for your participation!

[2017-10-18 06:02] md0101 commented on #329
@kroitor yep that did it, thanks as always

[2017-10-18 07:12] 86chenjie opened #336 "okex cancel order url not correct"
result = await ex.cancelOrder(result.id, null, {symbol: ccxtSymbol})

2017-10-18 15:07:44.513: okex POST https://www.okex.com/api/v1/future_cancel.do
4|crypto-m | Request:
4|crypto-m |  { 'User-Agent': 'ccxt/1.9.149 (+https://github.com/ccxt-dev/ccxt) Node.js/8.6.0 (JavaScript)',
4|crypto-m |   'Content-Type': 'application/x-www-form-urlencoded' } api_key=aa8740d4-fb38-4ca3-a1fc-2c7a3daca79c&order

[2017-10-18 07:20] Veniamin opened #337 "Fee field is missing in Historical Trades request"
Most crypto exchanges are returning Fee field in Historical Trades request, but there is no such field in library. Will it appear in the future or it's done specifically for some reason?

[2017-10-18 07:24] kroitor commented on #337
@Veniamin, that part of the unified private API is under heavy development right now, and we will add fees, of course (we are actually adding that already here and there)! If that answers your question I would close this issue if you don't mind as being somewhat duplicate of #71. Feel free to reopen it or just ask questions if any. Stay tuned for more updates! ;)

[2017-10-18 07:25] #337 closed

[2017-10-18 07:25] Veniamin commented on #337
Ok, thank you

[2017-10-18 08:45] kroitor commented on #336
Hi, @86chenjie !

Are you sure about that? I mean:

<img width="813" alt="screen shot 2017-10-18 at 11 44 46" src="https://user-images.githubusercontent.com/1294454/31709161-d12f859c-b3f9-11e7-8aee-35efb7584763.png">

[2017-10-18 08:46] kroitor commented on #336
Oh, I see... that is the future/spot conflict. Got it, will fix now!

[2017-10-18 08:55] #336 closed

[2017-10-18 09:01] kroitor commented on #336
Ok, this is fixed as v.1.9.174+. Please update and try it again. We will be happy if you report back, as always. Also, note that I made the second (symbol) param mandatory for OK*, so now you can use a shorter form of it:

[code]

Thx again for your help!

[2017-10-18 09:52] PhinixPhire opened #341 "southxchange & bleutrade fetch_balance error (ccxt v. 1.9.174, Python 2.7)"
The fetch_balance() function in southxchange and bleutrade seems to result in this error:
[code]

I have bittrex, anxpro and hitbtc working with the same code.

[2017-10-18 10:01] 86chenjie commented on #336
@kroitor  works. thanks

[2017-10-18 10:13] 86chenjie commented on #336
btw https://www.okex.com/rest_api.html
this api https://www.okex.com/api/v1/batch_trade.do

let result = await ex.privatePostBatchTrade({
        symbol: ccxtSymbol,
        orders_data: `[{price:${g.depth.bidPrice * 0.98},amount:${amount},type:'buy'},{price:${g.depth.askPrice * 1.02},amount:${amount},type:'sell'}]`
      })

4|crypto-m | 2017-10-18 18:11:00.961: okex POST https://www.okex.com/api

[2017-10-18 10:17] kroitor commented on #341
@PhinixPhire got it, will fix it... Unfortunately, Python is very sensitive... No problem, just a sec.

[2017-10-18 10:31] #341 closed

[2017-10-18 10:32] kroitor commented on #341
I did a fix for bleutrade, should be ready soon. In the meantime, can you please paste verbose output for the error you were getting with southxchange?

[2017-10-18 10:40] PhinixPhire commented on #341
[code]

[2017-10-18 10:45] kroitor commented on #341
@PhinixPhire sorry, but `File "C:\Python27\lib\site-packages\ccxt\exchanges.py", line 5500, in fetch_balance` is the location of bleutrade, not southxchange... I can't find any problem with southxchange currently... In fact their calls should look completely different, so your output does not seem to be the output for southxchange... Are you sure that your code calls from southxchange  correspond

[2017-10-18 10:53] kroitor commented on #336
@86chenjie try adding `.json(...)` around the `orders_data`:

[code]

Let me know if it helps or not. Really appreciate your feedback! )

P.S. For readability, paste code and verbose output in text enclosed with 3 backticks (&#96;&#96;&#96;) for all text information, like so:

-----------------

&#96;&#96;&#96;JavaScript // ← this line adds js syntax color highlighting for readability
your code
&#

[2017-10-18 10:58] kroitor commented on #341
Oh, now I see. No problem, that happens. My advice is: put an explicit line "empty balance" there instead of nothing, when the balance is empty, following that rule for all undefined variables will save you hours of debugging, really. ;)

So, I guess, the only problem is bleutrade and it should be fixed by the upcoming build in 5 minutes, right? Let me know if it works for you or not, please. )

[2017-10-18 10:59] PhinixPhire commented on #341
Yep, that should be it. I'll confirm if working as soon as the update comes through. Thank You so much!

[2017-10-18 11:03] 86chenjie commented on #336
@kroitor  are you sure?
from the doc,  orders_data is string like this:
[code]

[2017-10-18 11:05] kroitor commented on #336
@86chenjie yes, in the same docs they say that it should a JSON string (means JSON-encoded, though, I agree, they are not very clear in their docs).

<img width="840" alt="screen shot 2017-10-18 at 14 04 44" src="https://user-images.githubusercontent.com/1294454/31715630-52e33d64-b40d-11e7-9d2e-e0ded90febc0.png">

[2017-10-18 11:07] kroitor commented on #336
So, yes, I'm sure, you can add the `ex.json(...)` and go for it ;)

[2017-10-18 11:07] 86chenjie commented on #336
[code]
not work

[2017-10-18 11:08] kroitor commented on #341
It's there, will stand by to hear from you.

[2017-10-18 11:10] kroitor commented on #336
@86chenjie ok, i'll debug it more and will get back to you as soon as possible with a solution to that.

[2017-10-18 11:10] PhinixPhire commented on #341
Working great! I appreciate the help, as always.

[2017-10-18 11:13] 86chenjie commented on #336
thanks 👍

[2017-10-18 11:32] kroitor commented on #336
I think I see where the problem is... Can you try this:

[code]

If it doesn't help, please try it the second time with `ex.json ()` added:

[code]

We would be happy if you actually tried both versions anyway...

If that doesn't help either, I'll debug it further...

[2017-10-18 11:44] jgordor opened #342 "Help implementing bitstamp fetchOrders"
Hi,

I'm trying to implement fetchOrder/s for bitstamp:

Added:
[code]

Do you know what could be the problem?

Thanks!

[2017-10-18 12:13] kroitor commented on #342
Hi, @jgordor !

There's no such endpoint for private orders, named `transactions/` nor `transactions/pair/`. Those two are for public fills (trades). The two corresponding methods are called **public**GetTransactionsPairs and **public**GetTransactions. Moreover, both of them are already implemented.

If you want to implement fetchMyTrades, you should call privatePost**User**Transactions  (bitstamp

[2017-10-18 12:16] 86chenjie commented on #336
[code]

[code]

both not work

[2017-10-18 12:18] kroitor commented on #336
@86chenjie can you show the verbose output of the first once again?

[2017-10-18 12:21] kroitor commented on #336
No, never mind, verbose output not needed.

[2017-10-18 12:23] 86chenjie commented on #336
[code]

[code]

[2017-10-18 13:27] kroitor commented on #336
@86chenjie ok, looks like I found the problem now... Can you please update ccxt to 1.9.171+ and retry code snippet version 1 once more? Sorry for bothering you with this. Looks like OKEX doesn't like urlencoded-strings... But it should work now. If it doesn't, I'll go on with fixing this nasty bug...

![homer](https://user-images.githubusercontent.com/1294454/31720971-bc560a8e-b420-11e7-9816-ca03f

[2017-10-18 13:32] 86chenjie commented on #336
@kroitor  version 1 code works. 👍

[2017-10-18 13:34] kroitor commented on #336
@86chenjie ok, please let me know if you experience any other difficulties with it. Thx a lot for your collaboration!

[2017-10-18 14:11] whtwhtwht53 commented on #333
I'sorry that I still cannot get balance,
Result
[code]

[2017-10-18 14:13] kroitor commented on #333
@whtwhtwht53 ok, thx for reporting back, I'm going to debug it further and will get back to you asap with a fix for it. Hold on, please!

[2017-10-18 14:18] whtwhtwht53 commented on #333
I check demo's Post is 'endpoint=......' not  ' Endpoint=......'  , does it matter?

[2017-10-18 14:24] kroitor commented on #333
@whtwhtwht53 they actually have it different in various demos %)) I'll upload the lowercase "endpoint" and we'll try again, it may be the cause of the problem, yes. Just a second.

[2017-10-18 14:25] kroitor commented on #333
<img width="410" alt="screen shot 2017-10-18 at 17 23 25" src="https://user-images.githubusercontent.com/1294454/31724030-3e7eccdc-b429-11e7-9afd-04f111281d24.png">

<img width="270" alt="screen shot 2017-10-18 at 17 23 01" src="https://user-images.githubusercontent.com/1294454/31724033-4072c020-b429-11e7-9b1d-b4be47cb590e.png">

<img width="306" alt="screen shot 2017-10-18 at 17 22 50" src="https

[2017-10-18 14:45] whtwhtwht53 commented on #333
I fix in my own code
[code]
but it still does not work
[code]

[2017-10-18 14:52] whtwhtwht53 commented on #333
I update to 1.9.178, It still not works

[2017-10-18 14:54] kroitor commented on #333
@whtwhtwht53 just a second, I think I found the problem... I'll update you very shortly.

[2017-10-18 15:06] whtwhtwht53 commented on #333
OK,and I find demo's code has
[code]

It decode api_sign to utf-8 , but the Result
[code]
does it matter

[2017-10-18 15:11] kroitor commented on #333
@whtwhtwht53 we'll see, i'll upload first version of the fix in a few minutes and if it doesn't work, we'll try it with decode as well. One moment, please.

[2017-10-18 15:12] kroitor commented on #333
@whtwhtwht53 can you please try it with v.19.180 now? It will either work or it will complain about `str vs bytes` in Python. If it complains, I'll do another quick fix and it should work after that. Waiting for your reply now.

[2017-10-18 15:15] whtwhtwht53 commented on #333
I use pip in ubuntu ,but the version I can get is  1.9.179,not 180

[2017-10-18 15:15] kroitor commented on #333
@whtwhtwht53 sorry, it was a typo, the correct number is 1.9.179

[2017-10-18 15:17] whtwhtwht53 commented on #333
Result
[code]

[2017-10-18 15:17] kroitor commented on #333
Alright! We're almost there. I'll upload another now and it should finally work. Just one more minute please.

[2017-10-18 15:25] kroitor commented on #333
Ok, let's update to 1.9.180 now and try it once again... Sorry for bothering you, I just have to defeat this bug.

[2017-10-18 15:29] whtwhtwht53 commented on #333
you don't bother me,I have to defeat this bug ,too :)
it still the same error,;(
[code]

[2017-10-18 15:45] kroitor commented on #333
That's one nasty bug!

Can you please update now to 1.9.181 and try it. We will eventually find the correct signature encoding, we already made it half through.

[2017-10-18 15:48] whtwhtwht53 commented on #333
It works!!!!!
Result
[code]

[2017-10-18 15:49] whtwhtwht53 commented on #333
Thank you for your hard working!! This project is amazing!

[2017-10-18 15:50] kroitor commented on #333
Alright! We made it! ) Your help was awesome! Thx for your ivolvement, it really means a lot to us and many other users. Let us know if you have any other difficulties with the library. Cheers!

[2017-10-18 15:50] #333 closed

[2017-10-18 15:53] whtwhtwht53 commented on #333
OK.If I have other difficulties,I will contact you:) thx for your brilliant work again ~~

[2017-10-18 18:01] munrocket commented on #40
What about withdrawl fee? Are JS library more fresh than python?
I not digged deep, but as I understand only binance have withdrawal fees in python.

[2017-10-18 18:03] kroitor commented on #40
@munrocket this is currently under heavy development, namely trading and funding fees + orders API, deposits and withdrawals. Hope to deliver soon. Your PRs are welcome!

[2017-10-18 18:10] munrocket commented on #40
@kroitor Can I just PR in python project or I need to change JS file?

[2017-10-18 18:13] kroitor commented on #40
@munrocket please, make sure to read this first: https://github.com/ccxt-dev/ccxt/blob/master/CONTRIBUTING.md. Thx!

[2017-10-19 01:19] PhinixPhire opened #344 "bleutrade, anxpro and southxchange withdraw() with Python 2.7 ccxt 1.9.175"
It looks like the withdraw method for bleutrade is calling an unsupported dictionary key (uuid). Am I understanding correctly that it's mostly mirroring bittrex with a few exceptions?

When I directly run this code:
[code]

I get this result:
`{u'message': u'Your withdraw has been successfully scheduled.', u'result': [], u'success': u'true'}`

It looks like bleutrade doesn't provide a transaction

[2017-10-19 01:21] PhinixPhire commented on #344
Here's the error from using withdraw() instead:

[code]

Sorry for the omission!

[2017-10-19 01:30] PhinixPhire commented on #344
While we're at it... anxpro also has a similar issue. It's output is:
`{u'data': {u'transactionId': u'cfdf2b21-1830-4cdf-a3b2-8ae0ceef2dbb'}, u'result': u'success'}`

So perhaps it should be changed to look like this on line 1620 of exchanges?:
[code]

Am I assuming correctly?

[2017-10-19 01:36] PhinixPhire commented on #344
FYI, I tried changing my exchanges.py for anxpro as described above and it is working as I intended. Would love to get the change up to GitHub if acceptable to you.

[2017-10-19 02:07] PhinixPhire commented on #344
Got another one for you...
[code]

Results in:
[code]

I haven't been able to figure that one out... the withdrawal still executes, but doesn't return data.

[2017-10-19 04:55] kroitor commented on #344
Hi, @PhinixPhire ! Thx for opening this issue! I see, you're making good progress in understanding the inner workings of the library. That's very helpful!

Yes, I guess, a message is better than nothing...

We welcome your pull requests! )

Yes, and if it works, then it's a perfect candidate for including into your PR.

That's very strange of them to return empty responses, but, I guess, we will h

[2017-10-19 05:20] dhmk815 opened #345 "Python3 ccxt.async RuntimeError"
Hello.
I am using ccxt.async library for fetching bittrex orderbooks.
Here is my code.

[code]
Until several times when I run this code, there is no error.
But, after several running, I always encounter this RuntimeError message.

[code]

I don't know what's wrong with it. Could help me to figure it out?

[2017-10-19 05:59] kroitor commented on #345
Your `markets` variable seems incorrect. You're using market ids as they are on Bittrex, but in ccxt we use unified symbols. To get the list of symbols available with Bittrex do:

[code]

[2017-10-19 06:11] kroitor commented on #345
Can you please try this example: https://github.com/ccxt-dev/ccxt/blob/master/examples/py/async-bittrex-orderbook.py ? Does it work stable for you?

[2017-10-19 06:12] dhmk815 commented on #345
Thanks for your reply.
However, I think it doesn't matter of `markets` variable. I have already tested before. It works. I know I can use symbols in ccxt.
The thing is that when I run this code at first several times. No error happen.
But, after several consequent running, sometimes I got that error message.

[2017-10-19 06:18] kroitor commented on #345
It looks like you're trying to call all orderbooks simultaneously in asynchronous mode, whereas Bittrex can actually rate-limit your requests to 1 per second... We need to see if continuous fetching of one order book works stable for you, and then we will move on to multiple order books.

[2017-10-19 06:18] dhmk815 commented on #345
Yes, your example above works stable. I've just checked it.

[2017-10-19 06:19] kroitor commented on #345
@dhmk815 ok, then this is most likely due to an attempt to fetch them all at once in a split second. Bittrex won't allow that (in fact no exchange likes that). Can you fetch them sequentially?

[2017-10-19 06:21] dhmk815 commented on #345
Yes, I can. But, I am trying to fetch all of them at once. This is what I want to do.

[2017-10-19 06:22] kroitor commented on #345
But most exchanges won't allow that... They force you to do that sequentially.

[2017-10-19 06:23] dhmk815 commented on #345
Is there a possibility of problem in socket buffer size? There is an error message `n = self._sock.send(data)`.

[2017-10-19 06:24] kroitor commented on #345
@dhmk815 that error message basically tells you, that an SSL connection to Bittrex has malfunctioned, and that can be caused by Bittrex closing your connections if there are making too many of them at once.

[2017-10-19 06:26] dhmk815 commented on #345
@kroitor I see. I think I have to split many requests.

[2017-10-19 06:28] dhmk815 commented on #345
@kroitor Thank you for your help. I am closing this issue.

[2017-10-19 06:28] #345 closed

[2017-10-19 06:28] kroitor commented on #345
Yes, because, as you see it yourself, if you do it sequentially, it works stable. See this example on how to fetch multiple symbols sequentially (it's for tickers, but orderbooks are the same): https://github.com/ccxt-dev/ccxt/blob/master/examples/py/async-generator-multiple-tickers.py

Hope it helps.

[2017-10-19 07:06] PhinixPhire commented on #344
Is it a better practice to leave a return as None than to populate a default response?

[2017-10-19 07:10] kroitor commented on #344
@PhinixPhire yes, because it indicates a *"no response"* explicitly to the user so that he can decide on what to do with otherwise, many users will be confused if they expect an id there, and they will treat the message as being an id, thus, all ids will be the same (not unique) → that can lead to very unexpected errors elsewhere. So, I think it's always better to catch None instead of a default.

[2017-10-19 07:15] jgordor commented on #342
Sure, thanks!

[2017-10-19 07:15] #342 closed

[2017-10-19 08:00] PhinixPhire commented on #344
Cool. I will be happy to work within that paradigm then. I'm sure I can patch a workaround for my local scripts.

[2017-10-19 08:50] PhinixPhire opened #347 "cryptopia privatePostGetDepositAddress Python 2.7 ccxt 1.9.189"
Hey, Igor. I'm going to keep you busy today, okay? In all seriousness, I can't thank you enough for your work. I'm not sure how to fix this one... I've been fiddling around with the exchanges.py to see if I can trace the issue, but I'm getting lost.

This is my code:
[code]
This is the result:
[code]

I'm at a loss as to the cause. Let me know if you need verbose output.

Thanks so much!

[2017-10-19 08:59] kroitor commented on #347
Yep, I think I do.

Let' try this:

[code]

[2017-10-19 09:14] kroitor commented on #334
Almost there ;)

[2017-10-19 09:14] PhinixPhire commented on #347
Okay, I got it... the method did not like the way I was stacking the dictionary keys, I guess. Once I formatted it like this, all is well:

[code]

It facilitates both non-paymentid/memo addresses as well as those including the field.

Thanks for your quidance, again.

[2017-10-19 09:17] kroitor commented on #347
@PhinixPhire it accepts positional args `({})`, just one argument without a name, not keyword args aka *kwargs* as in `(params={})`. Python is sensitive to that, as it turned out. Cheers!

[2017-10-19 09:17] #347 closed

[2017-10-19 09:32] mazertwo opened #348 "BTM is Bytom (HitBtc) and not Bitmark (Poloniex)"
Ahahah, coinmarketcap have both and one ticker for all :)

[2017-10-19 09:33] kroitor commented on #348
Lol... What we gonna do? Any ideas? )

[2017-10-19 09:34] mondeja opened #349 "OHLCV for Poloniex"
Bittrex in the V2 version [has this feature](https://bittrex.com/Api/v2.0/pub/market/GetTicks?marketName=BTC-ETH&tickInterval=fiveMin), [here are](https://github.com/mondeja/bittrex_v2/blob/master/bittrex_v2/bittrex.py#L264) valid tickIntervals. In poloniex is the command `returnChartData`, you can see it in the [API documentation](https://poloniex.com/support/api/). I would include it but my PC r

[2017-10-19 09:34] kroitor commented on #348
![highlander](https://user-images.githubusercontent.com/1294454/31764449-e58efb50-b4c9-11e7-9633-94ef270a7859.jpg)

[2017-10-19 09:39] kroitor commented on #349
@mondeja hi, sorry, but we actually already have OHLCV implemented for Bittrex based on their web data. Or did I miss somethign? As for the Poloniex - it is on the way.

[2017-10-19 10:01] kroitor commented on #347
I added a unified deposit method to Cryptopia, in case you need it further ;) Should be available as of next version.

[2017-10-19 10:02] PhinixPhire commented on #347
Nice! Cryptopia looks like an awesome exchange. I just discovered it yesterday.

[2017-10-19 10:05] mazertwo opened #350 "Some other incompatible tickers with YoBit"
ICN is ICONOMI (kraken), not iCoin (yobit) - coinmarketcap have BOTH!!! as one ticker
AIR is AirToken (hitbtc, cmc), not AirCoin (yobit)
ANT is Aragon (hitbtc, cmc), not Ants Coin (yobit)
ATM is ATMChain (hitbtc, cmc), not Autumncoin (yobit)
DCT is Decent (hitbtc, cmc), not Discount (yobit)
DGD is DigixDAO (hitbtc, cmc), not DarkGoldCoin (yobit)
LUN is Lunyr (hitbtc, cmc), not LunarCoin (yobit)

[2017-10-19 10:07] mazertwo commented on #348
All what we have from Yobit, we need to add x (or more xxx :))))

[2017-10-19 10:09] mazertwo commented on #348
Really shit exchange, hold CLAM on my balance. You can buy cryptocurrencies, but you cant withdraw. And you know about it only after buying...

[2017-10-19 10:12] mazertwo commented on #350
All what we have from Yobit, we need to add x (or more xxx :))))

Really shit exchange, hold CLAM on my balance. With YoBit you can buy cryptocurrencies, but you cant withdraw. And you know about it only after buying... Криптогопота, короче :)

[2017-10-19 10:12] mazertwo commented on #348
may be add x, or more - xxx :))

[2017-10-19 10:15] kroitor commented on #350
@mazertwo ok, i'm going to bring them back to consistency with YoBit...
P.S. «Биткоины есть? А если найду?» %)

[2017-10-19 10:19] kroitor commented on #348
The one with higher market cap wins! ) Bytom remains BTM and Bitmark will be renamed BTM → Bitmark on Poloniex.

[2017-10-19 10:26] #348 closed

[2017-10-19 10:41] #350 closed

[2017-10-19 12:13] PhinixPhire commented on #344
Here's what I did, in case it's helpful to future readers... this way the script at least carries _something_ through to describe what may have happened with the withdrawal when reviewing the ledger (I log trxid to a database for historical reference)

[code]

[2017-10-19 13:11] mazertwo opened #353 "New exchange: Gate.io"
Can you add Gate.io exchange?
API here: https://gate.io/api2

[2017-10-19 13:37] mazertwo opened #354 "Add ETP/USD, ETP/BTC, ETP/ETH pairs in Bitfinex"
Please, add ETP/USD, ETP/BTC, ETP/ETH pairs in Bitfinex

[2017-10-19 13:40] kroitor commented on #354
[code]

Sorry, but they seem to be there already.

[2017-10-19 13:41] mazertwo commented on #354
And add AVT/USD, AVT/BTC, AVT/ETH

[2017-10-19 13:41] mazertwo commented on #354
Ahh, see now! Thank you! I need to update ccxt :)

[2017-10-19 13:43] kroitor commented on #354
@mazertwo

No you don't need to update ccxt, because those pairs are not hardcoded, they are taken from Bitfinex upon your calls to it. Should be up to date ALWAYS, FOREVER.

[2017-10-19 13:46] mazertwo commented on #354
But if i call ETP/USD, i get error now. 400 bad Request

[2017-10-19 13:48] mazertwo commented on #354
I have problems, coz Bitfinex doesnt have margin trading with ETP

[2017-10-19 13:48] kroitor commented on #354
@mazertwo , do you get the error with this:

[code]
?

They may have some limitations on a particular pair.

[2017-10-19 13:49] mazertwo commented on #354
Yep. No margin with ETP and AVT :) Thank you!

[2017-10-19 13:50] kroitor commented on #354
Margin trading can be switched off for some of the pairs... Though it's not documented anywhere and the API says it's on for ETP:

[code]

[2017-10-19 13:50] #354 closed

[2017-10-19 13:51] kroitor commented on #354
Maybe you're not reaching minimum margin level?

[2017-10-19 13:53] mazertwo commented on #354
No, if you swith ETP/USD or ETP/BTC to "margin" at Bitfinex, you get error "... is not currently available for leverage trading."

[2017-10-19 13:54] kroitor commented on #354
Oh, I see. Thx for reporting back!

[2017-10-19 13:56] mazertwo commented on #354
A....nd, Bitfinex go down now :) I hope, its not due to me :)

[2017-10-19 13:57] kroitor commented on #354
Lol, you should not have touched it. The margin trading call triggered a self-destruction sequence...

[2017-10-19 14:10] kroitor commented on #353
@mazertwo, looks like we can ;)

[2017-10-19 14:11] kroitor commented on #354
@mazertwo by the way, did you succeed to margin-trade with at least some pairs on Bitfinex?

[2017-10-19 15:05] mazertwo commented on #353
Bter recommend to withdraw all funds from them to gate.io with same login and pass. I think, gate.io is the new bter :)

[2017-10-19 15:08] kroitor commented on #353
@mazertwo they do it all the time.. In fact it's so often, that I'm going to send them a suggestion to create an API for migrating the API next time...

[2017-10-19 17:07] #353 closed

[2017-10-19 18:08] kroitor commented on #353
Done! ;)

[2017-10-19 19:34] mkutny opened #355 "can exchanges override error handling?"
Let's say I've got the following exception from Kuna:
`[Exchange Not Available Error] kuna POST https://kuna.io/api/v2/orders 400 Bad Request {"error":{"code":2002,"message":"Failed to create order. Reason: cannot lock funds (amount: 0.000138)"}} (possible reasons: invalid API keys, bad or old nonce, exchange is down or offline, on maintenance, DDoS protection, rate-limiting)`

The issue is that m

[2017-10-19 20:12] kroitor commented on #355
That's a very good question, and we're actually having the same issues with them.

So, yes, there's clearly a difference in their messaging, that's why for Kuna it failed to detect the InsufficientFunds case (it has no better way to do it other than by string search/comparison)... So, it looks like we need to redefine the request() method for Kuna to be able to catch InsufficientFund, just like it

[2017-10-19 20:16] kroitor commented on #355
I'm thinking about having handleResponseErrors defined for each exchange...

[2017-10-19 21:02] #349 closed

[2017-10-19 21:10] kroitor commented on #349
Good news: Poloniex has fetchOHLCV as of version 1.9.204+! Please update and feel free to ask your questions if you have difficulties using it. Should be straightforward from examples. Cheers!

[2017-10-19 21:52] evgen-y2k commented on #321
I think no. It is problem of CEX.

[2017-10-19 21:53] kroitor commented on #321
@evgen-y2k ok, let me know if you have any other difficulties with the library. Thx!

[2017-10-20 00:36] #344 closed

[2017-10-20 06:49] mkutny commented on #355
I'm not fluent in JavaScript (I came here a month ago from typed languages world) so please, don't treat me rough if you find my suggestions stupid.

The following is based on assumption that error handling is done by `handleRestErrors()` method of the base class.

I think of empty `handleErrors(response)` method in the base class which exchange implementations could override. This `handleErrors()

[2017-10-20 07:09] kroitor commented on #355
Thx, @mkutny , your answer is actually very close to what we were going to implement! The base class handler will handle low-level connectivity errors, while the derived handler will be dealing with exchange-specific stuff. We also think of extending the base error class in all three languages by adding cross-portable properties, like method name, args, error message(s), error code(s), http code,

[2017-10-20 07:25] kroitor commented on #344
The southxchange error should be gone as of 1.9.210+! Thx for reporting!

[2017-10-20 07:51] mkutny opened #356 "fetchTicker() is no longer available since 1.9.207"
[code]

[2017-10-20 07:55] kroitor commented on #356
Yep, looks like it's broken somehow. Looking into it now. Sorry for the inconvenience. Don't know how it managed to go through Travis.

[2017-10-20 07:55] PhinixPhire opened #357 "FCN Acronym on Cryptopia / HitBTC"
Good morning,

Cryptopia uses FCN for "FacileCoin"
HitBTC uses FCN for "FantomCoin"

FacileCoin is the lesser coin between the two, I think. FacileCoin doesn't even appear in the CoinMarketCap at all. Suggest we make another acronym for FacileCoin in cryptopia's so as to not cross over to FantomCoin.

How would you like to handle this?

[2017-10-20 08:02] mkutny commented on #356
It looks like it does work when instantiating an exchange with parameters.

So if you authenticate then it works. And if you don't then public methods are not available.

If this is true then my wild guess is that you run your testcases after authentication.

[2017-10-20 08:12] #356 closed

[2017-10-20 08:13] kroitor commented on #356
@mkutny thx for your help, the fixed build is on the way.

[2017-10-20 08:20] #357 closed

[2017-10-20 08:22] kroitor commented on #357
Hi! Thx again for your involvement, I added a mapping for it and it should work as of next version 1.9.211 in approx 5 minutes. Cheers!

[2017-10-20 08:28] PhinixPhire commented on #357
FCN is already FacileCoin on cryptopia. Sorry if I was unclear. My concern is that it can be mistaken as FantomCoin, as CoinMarketCap and all exchanges I've seen use FCN for FantomCoin...

Should we change FacileCoin to FACN, maybe?

Cryptopia has so very many coins. I'm sure there are others I'll come across that need adjustment. But I figure I should probably report, suggest and discuss before d

[2017-10-20 08:30] kroitor commented on #356
Should work now as of 1.9.211+. Sorry again, missed it somehow. And thx once more for the notice. Hope to cover it all with tests asap.

[2017-10-20 08:37] mkutny commented on #356
What a nasty bug )
Still present in 1.9.212.

[2017-10-20 08:40] kroitor commented on #357
@PhinixPhire let me explain, to remove the ambiguity of FCN there is literally only one way, and you correctly determined the prevailing FantomCoin. So together we decide that FCN should stand for FantomCoin as it does for most of exchanges. Whereas on Cryptopia it should be renamed to something very clear and explicit. The first thing that comes to my mind is to use full name of the coin, so we d

[2017-10-20 08:42] PhinixPhire commented on #357
Perfect!
You're right, I was misinterpreting. Thanks so much!

[2017-10-20 08:42] kroitor commented on #356
@mkutny are you sure? I can't repeat it anymore, thought I fixed it completely... Nope?

[2017-10-20 08:46] kroitor commented on #356
No matter what I do with 1.9.212, can't repeat it. Though, I may be misinterpreting your answer, because the last few commits were not fixes, but more like tweaks, and it should actually work as of 1.9.211. Isn't it the case for you?

[2017-10-20 08:47] mkutny commented on #356
It was fixed in 1.9.211.

But then reintroduced in a89a0a6.

Let me doublecheck.

[2017-10-20 08:54] kroitor commented on #356
If you find a bug reappearing in 1.9.212, I'll surely revert back to 1.9.211, standing by for more info from you.

[2017-10-20 08:57] mkutny commented on #356
Ok, let's see.

[code]

[2017-10-20 08:58] PhinixPhire commented on #332
Yes, it's fine to close. So sorry for the delay... I've been swimming in other tasks trying to get this automation functional. Right now the Ethereum I sent to test southxchange withdraw with is stuck in limbo. It's on the blockchain, but I can't use it yet. Will report back soon.

[2017-10-20 09:03] kroitor commented on #356
Look like Yarn is wrong somehow... I just tried it with NPM and it worked :\
What I suggest is, maybe we retrigger the same to build 1.9.213 and see what's installed with yarn on your side. If it still does the same, I guess, I'll revert then. What do you think of it? I'm running a no-change build now ;)

[2017-10-20 09:07] kroitor commented on #356
Actually, I don't want to bother you, so I'll revert to 1.9.211 anyway now.

[2017-10-20 09:10] kroitor commented on #332
Thx!

[2017-10-20 09:16] mkutny commented on #356
First I pulled 1.9.212 with git. The bug was there.
Only then I fell back to `yarn` - just in case I somehow messed with merging.

And finally, how about the next line from the output?

[code]

Maybe you still pass some parameters to class during your test? Could you try the same three lines?
[code]

[2017-10-20 09:16] dhmk815 opened #358 "aiohttp request with proxy params in ccxt.async"
Hello.
I want to fetch orderbooks from bittrex using `ccxt.async` through my proxy server.
I know that `fetch_order_book` uses `aiohttp` module in it, and I want to pass my proxy address to `aiohttp.ClientSession().get()` as a parameter, as shown below.
[code]

So, I think I need to override `fetch_order_book()`.
How do I get through this?

[2017-10-20 09:19] mkutny commented on #356
Just made a fresh install into a clean directory with `npm`. The same.

I'm positive these three lines will fail in your setup as well.

[2017-10-20 09:20] rubobaquero opened #359 "Declaration of ccxt\kuna::fetch_open_orders($symbol, $params = Array) should be compatible with ccxt\Exchange::fetch_open_orders($symbol = NULL, $params = Array)"
I am receiving this warning (version 1.9.212):

[code]
It seems that the only difference between both declarations is that " = NULL" is missing on the kuna class.

[2017-10-20 09:35] kroitor commented on #358
Hi! Thx for opening this issue! I'll support for passing the existing proxy property to the session in a few minutes.

[2017-10-20 09:37] kroitor commented on #359
Thx! Missed it somehow. The fix is on the way!

[2017-10-20 09:39] #359 closed

[2017-10-20 09:39] kroitor commented on #356
Restored back to the working version 1.9.211. Let me know if you have difficulties with it. Sorry once again. Best wishes.

[2017-10-20 09:45] mkutny commented on #356
1.9.213 fixed the issue.

Thanks!

[2017-10-20 10:04] kroitor commented on #358
This feature is available as of 1.9.214+. Cheers!

[2017-10-20 10:04] #358 closed

[2017-10-20 10:05] kroitor commented on #359
The fix is there in version 1.9.214. Thanks again!

[2017-10-20 10:21] dhmk815 commented on #358
Thank you very much. If you don't mind, could you show me how to use it?

[2017-10-20 10:25] kroitor commented on #358
Just like you would do with any other property of a class instance:

[code]

[2017-10-20 11:05] AnujDutt2701 opened #360 "Exchange logo on exchanges endpoint"
Hi, as the title says, is it possible to include exchange logos into the response objects?

[2017-10-20 11:10] kroitor commented on #360
Hi! Sorry, didn't quite understand what you mean... If "ex" is your exchange, than in most cases you can use `ex.urls['logo']`. This is a property of each exchange that is already available from the library and it is used to draw exchange logos on the main GitHub page of this project.

[2017-10-20 11:10] dhmk815 commented on #358
@kroitor Thank you :)

[2017-10-20 11:19] kroitor commented on #357
Your PRs are welcome! I highly recommend reading the [CONTRIBUTING](https://github.com/ccxt-dev/ccxt/blob/master/CONTRIBUTING.md) guidelines first ;)

[2017-10-20 12:18] dhmk815 commented on #358
@kroitor I think non-async ccxt module doesn't support proxy too. When I try it, it doesn't work... Can you check it please?

[2017-10-20 12:21] kroitor commented on #358
@dhmk815 the non-async module currently only supports CORS proxies, which are URLs that are prepended to the target URL of the exchange, more about it [here](https://github.com/ccxt-dev/ccxt/wiki/Install#proxy). Let me know if this answers your question.

[2017-10-20 12:33] dhmk815 commented on #358
@kroitor I got it. I didn't know about the concept of CORS proxies. When I try it using non-async module, I got an error message from bittrex, saying some reasons like DDos Protection or rate-limiting.
Do you have a plan to support other proxy concept to avoid it?

[2017-10-20 12:37] kroitor commented on #358
Yes, see [here](https://github.com/ccxt-dev/ccxt/blob/master/CONTRIBUTING.md#pending-tasks) ;) Basically, all your questions most likely have already been answered somewhere nearby ;) Also, I'd recommend reading the [Manual](https://github.com/ccxt-dev/ccxt/wiki) and browsing through [examples](https://github.com/ccxt-dev/ccxt/tree/master/examples). I would close this issue if you don't mind, unti

[2017-10-20 12:42] kiwina opened #361 "ccxt.php kuna throws exception"
Declaration of ccxt\kuna::fetch_open_orders($symbol, $params = Array)
should be compatible with ccxt\Exchange::fetch_open_orders($symbol = NULL, $params = Array)

[2017-10-20 12:44] kroitor commented on #361
Hi! What's your version? Please update to the latest one. This issue was just fixed here: https://github.com/ccxt-dev/ccxt/issues/359. I'm closing this as a duplicate.
If still persists with the latest version for you, let us know. Thx!

[2017-10-20 12:44] #361 closed

[2017-10-20 12:47] dhmk815 commented on #358
@kroitor Thank you. I always appreciate your effort.

[2017-10-21 07:51] 86chenjie commented on #336
@kroitor  i have a question not related to ccxt:
fetchTrades() this api return dealed trade list, which contain a 'side' property,
'side':      'buy',                     // direction of the trade, 'buy' or 'sell'

i'm curious about how this 'side' is determined.
For me, there must be 1 buy order & 1 sell order for each trade, so how this field is determined?
thanks!

[2017-10-21 10:11] kroitor commented on #336
@86chenjie hi!

Are you familiar with the concept of "maker" and "taker" ? You're absolutely correct, for each trade there should be 1 buy order and 1 sell order, and those 2 orders should match each other. But when 2 orders are matched only one trade is created for each matched pair of orders.

It goes like this: let's say, we put an order for buying and that order does not match any other order

[2017-10-21 10:21] kroitor commented on #336
P.S. Market-maker trading fees are usually much lower than market-taker fees. So it's more profitable to be a maker. Some exchanges don't even take a fee from the maker, and some of them are even ready to pay you a rebate or "a reward". You get some part of the fee added to your balance when you are a maker (they pay you for adding the liquidity).

[2017-10-21 11:46] dhmk815 opened #365 "Inconsistent name of keyword argument of fetchOrderBook() between exchanges in Python version"
Hello, I found something inconsistent in the name of keyword argument of `fetchOrderBook()`.

[code]

As shown in above code, in bithumb exchange, the keyword for `fetchOrderBook()` is `symbol`.
But, in other exchanges, it's `market`.
Of course, it's not a big deal if I don't put keyword when calling the function.

[2017-10-21 11:50] kroitor commented on #365
Hi, @dhmk815 ! Thanks for pointing that out, we will bring it into order, will upload the edits asap!

[2017-10-21 12:09] dhmk815 opened #366 "New coin market (QTUM/KRW) and its API service has been launched in Bithumb exchange"
Hello, thank you for your fast reply.
This is another issue.
A few days ago, [bithumb exchage](https://www.bithumb.com/u1/US127) has opened new coin market, qtum/krw, and now its api service is available.
Could you add this market into both ccxt and ccxt.async in python?

[2017-10-21 12:10] dhmk815 commented on #365
Hi, @kroitor ! Thank you for your reply.

[2017-10-21 12:23] #365 closed

[2017-10-21 12:24] kroitor commented on #366
Sure!

[2017-10-21 12:50] 86chenjie commented on #336
@kroitor   thanks for your detailed explanation. totally make sense. 👍

[2017-10-21 13:14] kroitor commented on #365
This issue is fixed as of version 1.9.223+. Thx again for your feedback!

[2017-10-21 16:10] KIC opened #367 "Seems that lumens are not recognised and fall back to undefined"
I use kraken exchange and I query the ordery by using ```fetchMyTrades```. It seems that Lumens (XLM) are not supported by the generalized API.

[code]

[2017-10-21 16:28] #366 closed

[2017-10-21 16:30] kroitor commented on #367
Hi! Thanks for reporting, i'll take a look into it and will get back to you asap!

[2017-10-21 16:35] #367 closed

[2017-10-21 16:43] kroitor commented on #366
The QTUM/KRW was added to bithumb as of 1.9.224. Thx again!

[2017-10-21 16:44] kroitor commented on #367
This issue should be fixed in version 1.9.224+. Can you please update the library and retry the same code again? We will be thankful if you report back whether it works for you or not (it should). Thx, standing by for your reply.

[2017-10-21 17:04] kroitor commented on #320
Good news for you! Binance is implementing the `withdraw()` method in their API and we will unify it in ccxt as well, very soon! Cheers!

[2017-10-21 17:21] dhmk815 commented on #366
Thank you @kroitor . You are the best.

[2017-10-21 18:52] #360 closed

[2017-10-21 21:16] 280wz0gz7fq1 opened #368 "bitmex limit order error"
My code is

[code]
error
[code]

Help me, please.

[2017-10-22 02:14] kroitor commented on #368
Hi! Sorry, but your issue is a duplicate. It has been described in the and answered multiple times:

- https://github.com/ccxt-dev/ccxt/issues/147
- https://github.com/ccxt-dev/ccxt/search?q=nonce&type=Issues&utf8=%E2%9C%93
- https://github.com/ccxt-dev/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt-dev/ccxt/wiki/Manual#authentication
- https://github.com/ccxt-dev/ccxt/wiki/Manual#over

[2017-10-22 02:14] #368 closed

[2017-10-22 04:04] Fcl69 commented on #320
It's a good news indeed. Thank you so much for the update!!

[2017-10-22 07:10] luigikitten opened #369 "How to enable sandbox?"
Hi,
  newbie here :) How can I force the usage of the exchange sandbox? I would like to test a bit before trading with real cryptomoney..

Thanks!
Luigi

[2017-10-22 07:21] kroitor commented on #369
Hi, Luigi!

Most often you should just change the url of the exchange to sandbox url, like shown in the example bellow:

[code]

The caveat here is that the test URLs are not fully covered in ccxt yet, so you will have to put correct URLs there. But if you feel like you want to help us to unify that functionality and you want contribute by adding the test URLs where they are missing – we will be h

[2017-10-22 08:55] luigikitten opened #370 "Error installing python version on debian"
Hi,
    see below:

[code]

my system:
[code]
anyhow, after this error, the basic functionality works as expected.... Maybe an issue with async only?

[2017-10-22 08:58] kroitor commented on #370
The async version can only work with Python 3.5+, so it's complaining about that. We will look into it. But its py2 version has been successfully installed on your system for your Python and you can use it anyway. Thanks for pointing that out!

[2017-10-22 08:58] #370 closed

[2017-10-22 08:58] luigikitten commented on #369
Thanks! I will try

[2017-10-22 08:59] kroitor commented on #369
I'm closing this for now, let us know if you have difficulties with it, feel free to reopen this if needed, or just ask your questions! Cheers!

[2017-10-22 08:59] #369 closed

[2017-10-22 09:30] KIC commented on #367
Thanks for your really fast reaction. Sadly I still have an undefined symbol on the following transaction

[code]

I have upgraded to 1.9.227

[code]

[2017-10-22 09:37] kroitor commented on #367
@KIC

You're looking at unparsed 'info' substructure, you should look into fetchMyTrades parsed return for symbol should be there. Try this:

[code]

[2017-10-22 09:39] KIC commented on #367
this is what I do:

[code]
the result is still undefined:
],
11:25:25 AM:   "undefined": Array [
11:25:25 AM:     Object {
11:25:25 AM:       "amount": 000000,
11:25:25 AM:       "price": 0.015805,
11:25:25 AM:       "symbol": undefined,
11:25:25 AM:     },
11:25:25 AM:   ],

[2017-10-22 09:41] kroitor commented on #367
Try this:

[code]

[2017-10-22 09:44] KIC commented on #367
I don't see how this should be different but here we go:

[code]

[2017-10-22 09:48] KIC commented on #367
or `kraken.fetchMyTrades().then(ob => { ob.forEach (trade => console.log (trade.symbol, trade.info.pair))})          `

results in:
11:47:50 AM: undefined XXLMZEUR

[2017-10-22 09:58] kroitor commented on #367
The problem is indeed caused by the Kraken not returning market info for XLM/EUR anymore. We can't add it to the list of active markets, because users will be confused and will try trading it. I will add a workaround for that, so that it will be defined in trades and orders.

[2017-10-22 12:42] kroitor commented on #367
@KIC ok, can you please update to 1.9.228+ and try the same code again? XLM/EUR should be recognized and parsed correctly now. Let us know if it works for you or not. Thx!

[2017-10-22 15:46] aking7 opened #371 "bitfinex or bitfinex2?"
Hi, I'm trying to add the Bitfinex `price_precision` endpoint into the fetch_markets() method but I'm a bit confused about the `bitfinex` vs `bitfinex2` classes.

It appears `bitfinex2` inherits the methods from `bitfinex`, so I wanted to add the `price_precision` endpoint to `bitfinex`, but it gets overridden by `markets` in `bitfinex2`. Is there a reason why `markets` are hard coded for `bitfine

[2017-10-22 16:10] kroitor commented on #371
Hi, @aking7!

Yep, that's how it is.

Sure! The Bitfinex v2 API is still a beta-version, and they don't have a REST endpoint for fetching a list of all markets from v2, therefore we had to hardcode them for now, but we are thinking of actually falling back to v1 for fetchMarkets method in our v2 implementation. You can do it yourself, we will be happy if you submit a PR, take a look how bitstamp a

[2017-10-22 16:10] #371 closed

[2017-10-22 16:36] aking7 commented on #371
Ah I see. I'll look into it if I find some time :)

[2017-10-22 16:42] kroitor commented on #371
@aking7 that would be awesome! But don't bother if you're occupied, we will do it anyway, hopefully very soon (it usually takes less than few days).

[2017-10-22 17:09] aking7 commented on #371
@kroitor I tried to run `node run-tests --js` for my implementation in `bitfinex` but am getting an error.
[code]
I'm kind of new to this so maybe I'm missing something.

[2017-10-22 17:13] kroitor commented on #371
What's your node version? You need to update your node version to 7.6+ to run the tests.

[2017-10-22 17:20] aking7 commented on #371
Ah my bad! I just downloaded but grabbed the wrong version.

[2017-10-22 17:58] aking7 commented on #371
@kroitor I'm getting closer but now I have this error for `npm run build`:
[code]
Am I missing some node module? Hopefully I can contribute more if I get this sorted :)

[2017-10-22 18:02] kroitor commented on #371
Are there any other messages in your output besides before the one you posted?

We will get through it ;)

[2017-10-22 18:11] aking7 commented on #371
[code]
Let me know if you need the log files but I didn't see anything of interest in them.

[2017-10-22 18:17] kroitor commented on #371
Can you please upload the README.rst that was generated by the build scripts somewhere? A gist will do, thx! Also, please do the following: `pandoc -v` in your command line... which version is it?

[2017-10-22 18:22] aking7 commented on #371
`pandoc 1.19.2.1`

[https://gist.github.com/aking7/3828acb7dc380f0898d4d236f632800f](url)

[2017-10-22 18:27] aking7 commented on #371
Okay, I don't know why the link doesn't work...

[2017-10-22 18:36] kroitor commented on #371
@aking7 no problem, I got it: https://gist.githubusercontent.com/aking7/3828acb7dc380f0898d4d236f632800f/raw/d26e04cb2a2143c90077a0179afab8f8276bcab3/README.rst

[2017-10-22 18:57] kroitor commented on #371
@aking7 that's strange, when I do it on my side with your file, the update-badges.js script works smoothly... Did you do any edits to the sources or files in the repo before running npm run build?

[2017-10-22 19:00] kroitor commented on #371
Oh, I think I got it. You should run npm build from inside DIR where ccxt is :)

[2017-10-22 19:10] aking7 commented on #371
Nope, no edits. And I'm in my ccxt DIR. The transpiling is successful, it's just when preparing for PyPI.

[2017-10-22 19:13] kroitor commented on #371
@aking7 well, you can skip it anyway because it doesn't do anything except updating the exchange count in the docs, so... It does not affect the build. You actually have it built now. So you can run npm run tests and go on with your plan.

[2017-10-22 19:17] kroitor commented on #371
@aking7 btw, can you please show file permissions inside DIR ? Do `ls -alh` please. Thx!

[2017-10-22 19:28] aking7 commented on #371
I'm on Windows but `DIR\ccxt>dir /a` gives me:
[code]

[2017-10-22 19:35] kroitor commented on #371
@aking7 just a sec, I'll upload a quickfix for the update-badges.js script and we'll try again to make it run without a problem. Will get back to you in a couple of minutes.

[2017-10-22 19:36] aking7 commented on #371
Also `node run-tests --js` is fine except for some Exchange Not Available and Request Timeout warnings, but running `node run-tests` gives:
[code]
I have both Python 2 and 3 as far as I can tell. Thanks for all the help!

[2017-10-22 19:45] kroitor commented on #371
@aking7

Yes, your setup is fine, it's just that we had to put python2 to launch the version 2 on Travis. You can run node run-tests --python3 (it's the same as with python2). We will also fix for that as well, thx for pointing that out.

Can you please update the repo with `git pull` and try `npm run build` again?

[2017-10-22 19:56] aking7 commented on #371
@kroitor Still getting the same error :/

[2017-10-22 21:11] aking7 commented on #371
@kroitor I've also noticed that during the build the `build\ccxt.php` file gets some of the `)` changed to `}` improperly. I need to call it a night, but I will make a pull request of my changes for you to try. It's just a couple lines for the `price_precision` in `bitfinex` so I imagine it will work fine on your end.

[2017-10-23 06:14] kroitor commented on #371
@aking7 I'm going to debug the build further to find the reason and to make it build on windows. Will get back to you hopefully soon! Thx for the PR!

[2017-10-23 09:37] s5s opened #374 "Bitfinex Ohlcv incorrect order"
Hi, bitfinex2 exchange rest api unfortunately returns data in ochlv order. When I call ccxt.bitfinex2.fetch_ohlcv() I get the data in what appears to be oChlv order. My assumption is that the caller of ccxt.bitfinex2.fetch_ohlcv() should expect this function to return the data in ohlcv order in which case we have a bug in ccxt.bitfinex2.fetch_ohlcv().

[2017-10-23 09:38] s5s commented on #374
Reference: https://docs.bitfinex.com/v2/reference#rest-public-candles

[2017-10-23 09:38] kroitor commented on #374
@s5s hi! Thanks a lot for opening this issue! I'll fix it right away. Should be there in 10 minutes.

[2017-10-23 09:39] s5s commented on #374
Thanks!

[2017-10-23 10:12] kroitor commented on #374
@s5s there it is ↑ GitHub prints it out automatically, when i reference `#374` in the commit message:

[code]

[2017-10-23 15:12] ahoola opened #376 "Exchanges' APIs endpoint method definitions: publicGetTickerCurrency"
python: where is this function defined ? I can't find it's definitions anywhere

[2017-10-23 15:15] kroitor commented on #376
Hi, @ahoola ! The answer is here: https://github.com/ccxt-dev/ccxt/issues/237. I'm closing this issue as a duplicate if you don't mind. Thx!

[2017-10-23 15:47] #376 closed

[2017-10-23 16:17] mazertwo opened #378 "How to get withdrawal fee (txFee) for any supported cryptocurrency?"
For Polo i use: public_get_returncurrencies()

Does ccxt have universal method?

[2017-10-23 16:19] kroitor commented on #378
Hi, @mazertwo! Sorry, but this issue is a duplicate of this: https://github.com/ccxt-dev/ccxt/issues/40. I suggest let's move our discussion there, if you have questions after reading what's already there ;)

[2017-10-23 16:19] #378 closed

[2017-10-23 20:25] werewere opened #379 "fetch_ohlcv since problem"
Hi, I'm not sure if this is a bug or a feature; the following code won't work:

[code]
It is needed to do the following:
[code]
I found this because checking the ccxt source code, I saw that (in Poloniex at least) the start time was calculated doing:

`'start': int(since / 1000),`

May be this is due to an old problem in Poloniex (I'm just guessing) and then Poloniex fixed the problem but the ccxt

[2017-10-23 20:30] kroitor commented on #379
Hi, @werewere ! Nope, it's not a bug, the library works with all timestamps as milliseconds, everywhere. So, yes, you can just do `ohlc=polo.fetch_ohlcv("ETH/BTC", '5m', since * 1000)`. If that answers your question, please, close this issue. Thx!

[2017-10-23 20:34] #379 closed

[2017-10-23 20:59] kroitor commented on #355
This issue was closed here: https://github.com/ccxt-dev/ccxt/pull/375 in v1.9.236. Exchanges can now override default error handling in all languages. Thx for your feedback and for your amazing help! It is really important to us!

[2017-10-23 20:59] #355 closed

[2017-10-23 21:19] werewere commented on #379
Yeah, I use also Bitfinex but as it is not fully supported yet for OHLCV, I was doing tests with Poloniex.

Anyway, understood, thanks! :)

[2017-10-23 21:21] kroitor commented on #379
@werewere bitfinex v2 already supports OHLCV btw ;) And, hopefully, both of them will support it soon ;)

[2017-10-23 21:41] werewere commented on #379
Oh, it is true! I didn't realized that I should use bitfinex2, indeed it has OHLCV!  You made my day :)

[2017-10-23 22:17] kroitor commented on #379
@werewere as of version 1.9.237 you can use Bitfinex v1 to fetch_ohlcv() as well ;) Cheers!

[2017-10-24 01:17] anandanand84 opened #380 "Add additional fields in orders response"
It would be good if we add additional fields to the order response, like order validity, stop price, stop limit, post only. I know few exchange may lack few fields like post only which will be only available for maker taker exchanges. But fields like order validity and stops are common across all exchanges.

Here is an example from GDAX.
[code]

[2017-10-24 08:19] kroitor commented on #380
Hi, @anandanand84 !

We are not unifying leveraged or margin trading orders for now, because the APIs are very different in that part.

As for the validity, can you please explain what it is? Because we don't see it anywhere in the order replies from various exchanges.

[2017-10-24 10:13] ralondo opened #382 "Different OHLC Result from exchanges"
The fetch_ohlcv delivers different data for different exchanges. I tried it with kraken and bitfinex V2.
From kraken I get:
timestamp,open,high,low,close,volume
and from bitfinex:
timestamp,open,close,high,low,volume

I think it would be better if this would be always the same no matter which exchange, e.g. timestamp,open,high,low,close,volume.

Is this a bug or do you "just" deliver the data as i

[2017-10-24 10:24] kroitor commented on #382
Hi, @ralondo ! What's your version of ccxt? This issue has been addresses here: https://github.com/ccxt-dev/ccxt/issues/374 and it was fixed yesterday. Can you verify that you are still getting inconsistent data with the most up to date version of the library?

[2017-10-24 10:28] ralondo commented on #382
OK, got me ;) I'm still using the version I downloaded yesterday morning. I'll get the newest one and will report back.

[2017-10-24 10:30] kroitor commented on #382
@ralondo yeah, as you may know, we are still under heavy development, so, fixes and edits are added daily. Therefore we ask our users to update frequently until we settle it fully unified. We will be happy if you report back if it works for you or not. Thx!

[2017-10-24 10:35] kroitor commented on #382
@ralondo BTW, as of yesterday you can now fetch OHLCV with bitfinex v1 as well ;)

[2017-10-24 10:39] ralondo commented on #382
OK, looks good! Guys, you're doing a fantastic job here, absolutly stunning work! Exactly the kind of exchange interface wrapper I need at the moment. Already started to write my own until I saw this here yesterday.
From now on I will daily check for updates.

[2017-10-24 10:43] #382 closed

[2017-10-24 11:10] ralondo opened #384 "Bitstamp fetch_trades returns wrong timestamp"
As the title says, the returned timestamp I get from bitstamp V2 fetch_trades is wrong. According to your docs it should always be milliseconds (like it is for example with bitfinex) but it returns seconds. I know bitstamp API returns seconds and not milliseconds so please let your wrapper correct this.

Thanks for the fix!

[2017-10-24 11:11] anandanand84 commented on #380
@kroitor Validity is the time in force "time_in_force": "GTC", yes it is possible for an exchange to be invalid after a certain period of time, here is an example in gdax the valid values are good till cancelled, good till specified time( 1min, 1hour), immediate or cancel or fill or kill

[2017-10-24 11:17] kroitor commented on #380
@anandanand84 oh, that validity... I got you. We will think of adding this as well, hopefully, soon.

[2017-10-24 11:32] rubobaquero opened #385 "Undefined index(es) in coinmarketcap->fetch_tickers()"
[code]
I receive lot of warnings of this kind:

Notice: Undefined index: paccoin/ in /XXXXX/ccxt.php on line 12099
PHP Notice:  Undefined index: 24h_volume_ in /XXXXX/ccxt.php on line 12055

Notice: Undefined index: 24h_volume_ in /XXXXX/ccxt.php on line 12055
PHP Notice:  Undefined index: dutch-coin/ in /XXXXX/ccxt.php on line 12099

[2017-10-24 11:35] kroitor commented on #385
Thx for reporting! I'll take a look into it and get back to you asap.

[2017-10-24 11:36] rubobaquero opened #386 "Warning loading tickers from kuna"
[code]

publicGetTickers not foundPHP Warning:  array_keys() expects parameter 1 to be array, null given in /Applications/XAMPP/xamppfiles/htdocs/cryptosignals/ccxt.php on line 2009

Thanks in advance!

[2017-10-24 11:42] kroitor commented on #386
@rubobaquero, but Kuna doesn't have this endpoint, if you `var_dump($exchange->hasFetchTickers);` property, you'll see it's false. No `fetch_tickers()` method for Kuna. You can only fetch single tickers per pair with `fetchTicker()`. Does this answer your question?

[2017-10-24 11:44] kroitor commented on #386
@rubobaquero current overview (work in progress):

<img width="1572" alt="screen shot 2017-10-24 at 14 44 07" src="https://user-images.githubusercontent.com/1294454/31941246-d8d05ac2-b8c9-11e7-89c3-5234012f8425.png">

[2017-10-24 11:45] #384 closed

[2017-10-24 12:01] kroitor commented on #384
This should be fixed as of version 1.9.241+. Let us know if you still have any difficulties with it. Thx!

[2017-10-24 12:08] #385 closed

[2017-10-24 12:15] kroitor commented on #385
The `Undefined index: 24h_volume_ ` should be fixed as of v.1.9.242+.

As for the `Undefined index: dutch-coin/` and so on, those are caused by an improper first argument to CMC fetch_tickers. Being a unique aggregator API, It accepts a single currency in its first argument, so you should call like so:

```$exchange->fetch_tickers('USD'); // or whatever quote/base currency from CMC you need```

Le

[2017-10-24 12:30] ralondo commented on #384
Works like charm, thanks!

[2017-10-24 12:34] #386 closed

[2017-10-24 13:55] rubobaquero commented on #385
Thanks kroitor. I just iterated through Exchange:$exchanges and saw the errors. Didn't know that Coinmarketcap isn't a exchange. Now I fully understand what you mean. Great job!!

[2017-10-24 14:07] ralondo opened #387 "Enhancement: Add cryptowat.ch"
Could you add cryptowat.ch? It's not an exchange by itself but it has an API to get some data that some exchanges are missing like 3m OHLC data and more. It's a nice fallback if an exchange isn't working.

[2017-10-24 14:52] anandanand84 opened #388 "Invalid status for GDAX order response"
Below response shows the status as partial when original response status is open. What does partial mean in this case?

[code]

[2017-10-24 14:55] kroitor commented on #388
Hi, again! I'll take a look, should be open, will fix and get back to you
asap. Thx for reporting, appreciate your feedback!

On Tue, 24 Oct 2017 at 17:53, Anand Aravindan <notifications@github.com>
wrote:

[2017-10-24 15:01] rubobaquero opened #389 "Seems that bid/ask prices are swapped in wex exchange"
It seems that bid and ask prices are swapped in wex->fetch_ticker() response. For example:

[code]

Returns a bid price (272.384) higher than the ask price (270.70566).

[code]

[2017-10-24 15:08] kroitor commented on #389
Hi! Good catch! Thx for your report! Will fix shortly and get back to you!

On Tue, 24 Oct 2017 at 18:01, rubobaquero <notifications@github.com> wrote:

[2017-10-24 15:09] anandanand84 commented on #380
@kroitor The more time I spend testing for the unified fields I feel like there needs to be more fields in the unified api, see for example below response from GDAX, even though stops are not supported the type of order comes as stop. I understand that comes from the upstream GDAX, but for an user who relies on ccxt may not expect stop at the type field since stops are not supported, in this case

[2017-10-24 15:27] rubobaquero opened #390 "Some inconsistent market symbols"
Hi again :-),

I have found some incredible arbitrages. I am sure that all or most of them are due to assigning different coins for the same symbol on different exchanges. I paste them below:

[code]

I want to thank you once again for the great job. This library is really incredible.

[2017-10-24 15:31] kroitor commented on #390
Hi! Thx for reporting this! As you may know, our goal is to unify symbols for consistency, and we will fix those inconsistencies you posted.

More here:
https://github.com/ccxt-dev/ccxt/wiki/Manual#naming-consistency
or here, for example: https://github.com/ccxt-dev/ccxt/issues?utf8=%E2%9C%93&q=yobit%20symbol%20

We will eliminate all of them in the end with your help. I'll update you as soon, as

[2017-10-24 15:42] kroitor commented on #380
@anandanand84

I would say, stops are supported but not unified just yet ;)
We thought it's better to leave the non-limit or non-market types as is for the user to decide what to do with it if he trades with GDAX in particular. Remapping those orders to "market" is not a vey good idea, because that would confuse the market orders with stop orders.

Yep, but what if I told you that the "stop" featu

[2017-10-24 15:42] #380 closed

[2017-10-24 15:46] kroitor commented on #388
References: https://github.com/ccxt-dev/ccxt/issues/380

[2017-10-24 15:49] kroitor commented on #387
@ralondo I'll take a look into it as soon as I get through urgent issues. Thx for your proposal. Unfortunately, we had trouble unifying aggregators previously (very specific APIs), so we are trying to be careful and to not promise that right away. Thx for your understanding. I'll let you know on the progress of this issue, closing it for now.

[2017-10-24 15:49] #387 closed

[2017-10-24 15:53] KIC commented on #367
yes thats it! thx!

[2017-10-24 16:16] #389 closed

[2017-10-24 16:25] kroitor commented on #389
This issue is fixed as of 1.9.243+. WEX bid/asks are now set properly. Thx again! Let us know if you have any other questions or difficulties. Cheers!

[2017-10-24 17:20] kroitor commented on #390
bx.in.th had reversed pairs in symbols, that is fixed in 1.9.244+

Bter has been shutdown by PBoC:

![screen shot 2017-10-24 at 20 19 09](https://user-images.githubusercontent.com/1294454/31957868-b708be5a-b8f8-11e7-997e-8475581b55b1.png)

[2017-10-24 17:43] kroitor commented on #390
FUEL looks like an IOU token market at HitBTC with no real currency traded yet (that's a presale).

[2017-10-24 18:02] kroitor commented on #390
This issue has been fixed as of version 1.9.245+. See the list of introduced changes above (or in commit history).

Also, these currencies were not changed:
FUEL, XID, MTL, QTUM. The discrepancies are real and if you take a closer look at them, you'll find out, that those are caused not by symbols being messed up, but by a lack of traded volumes, limitations of all sorts, ICO presale rules, etc.

[2017-10-24 18:02] #390 closed

[2017-10-24 19:15] D-Code opened #391 "Kraken fetch_my_trades 50 entries limit"
It seems not possible to get more than 50 entries from fetch_my_trades. Is there a way to specify a limit higher than 50 entries?

Here is some example code and output:
[code]

One interesting thing is the count value from private_post_tradeshistory, which is the exact number of trades that is specified when logging in to Kraken and navigating to History->Trades.

If it's not possible to specify t

[2017-10-24 19:35] kroitor commented on #391
Hi, D-Code!

Ready? Here you go:

[code]

The count is the total count of trades, but the max output is 50. Does this help?

[2017-10-24 19:44] D-Code commented on #391
Yes! Looks really good! :-D
Thank you for your swift and accurate response! Closing this. :-)

[2017-10-24 19:44] #391 closed

[2017-10-24 20:17] #388 closed

[2017-10-24 21:06] kroitor commented on #388
This issue was fixed as of v.1.9.249. Thx for reporting!

[2017-10-24 22:46] trm313 commented on #299
Hello - I wanted to add some additional information to this issue, since I'm experiencing it as well, but have a few extra observations.

Create-react-app build script fails with error:

What's interesting, however, is that it didn't fail before. When I first installed the ccxt package ("ccxt": "^1.9.154") it was building fine, I even deployed it to heroku, and it's still live here: https://crypto

[2017-10-24 23:11] werewere commented on #268
To implement strategies, I suggest to @noahka to use pandas and ta-lib. Both are very useful.

[2017-10-24 23:23] kroitor commented on #268
Also: https://community.backtrader.com/topic/623/anyone-use-backtrader-to-do-live-trading-on-bitcoin-exchange/14

https://www.backtrader.com/

[2017-10-24 23:28] kroitor commented on #299
@trm313 thx for reporting and for making the reason even more clear. We're still in doubt whether we should restore the ES5-version, or should we just wait for the migration to complete... 98% of browsers support ES6 by now, so we expect all those frameworks to obtain support for new syntax features as well. You see, the longer we support for outdated ES5-frameworks, the longer they exist outdated

[2017-10-24 23:38] werewere opened #392 "How to get OHLCV until a date"
Hi, I'm trying to get data not only with a starting date, but also with a finish date. I mean, something like this:
[code]
I know that fetch_ohlcv doesn't allow "until" parameter, and I wonder if its planned to be implemented, or what would be the suggested way to get a range. I wouldn't want to get a full range, from some date until today, but I'd want to get data for specific moments in time, li

[2017-10-25 00:28] kroitor commented on #392
Hi!

The fetchOHLCV method doesn't have an "until" argument, but it has a "limit" argument instead, that is the number of candles you want back. The "limit" argument is more common than "until", because most of exchanges accept a number of candles, not the end date of the range.

So, let's say, you are fetching 2 days of 5m timeframe:

[code]

Therefore we need a limit of 576 candles. As of ccxt v

[2017-10-25 06:39] mkutny opened #393 "liqui: rounding in amountToPrecision() leads to InsufficientFunds exception"
Basically, `createLimitSellOrder('BTC/USDT', 0.00206404549, 10000)` results in `InsufficientFunds` exception as `amountToPrecision` rounds amount up to 0.00206405.

The following in the base class fixes the issue:
[code]

At the same time I'm a bit unsure to submit a PR because I'm bothered with the following questions:

- I see several places in code where `feeToPrecision()` and `costToPrecision(

[2017-10-25 08:06] hogehogemon opened #394 "Errors to "fetch_balance" on bitflyer and quadrigacx"
By ccxt-1.9.255, fetching balance from nine exchanges but bitflyer and quadrigacx returned error.
bitflyer
[code]
quadrigacx
[code]
I would like to know any workaround or fix ;-)
Thank you,

[2017-10-25 08:56] kroitor commented on #394
Hi, @hogehogemon !

Can you post your code please? The error says, that you didn't set the `uid` property for authenticating with QuadrigaCX.

[2017-10-25 09:18] kroitor commented on #393
Hi, @mkutny !

Thx for opening this issue!

In general, we need proper values for these entities:
- price
- amount
- cost
- fee

Unfortunately, some exchanges round these values and some exchanges truncate them inside their engines. So, any of those values upon any stage of fee calculation can be either truncated or rounded by the exchange. And we don't know beforehand what exchange does, because

[2017-10-25 09:28] #394 closed

[2017-10-25 09:33] kroitor commented on #394
@hogehogemon , the bitflyer issue was fixed as of version 1.9.256+. Please update the library and try it again with your code. As for QuadrigaCX - it should work if you supply a `uid` authenticaion param along with `apiKey` and `secret`in constructor (that is your QuadrigaCX user id), as the error says it.

Let us know if you have any questions left or still have difficulties with it after upgradi

[2017-10-25 09:50] kroitor commented on #393
The source of the test is:

[code]

The above code snippet may be missing some non-copied methods, but the general structure of should be clear. Standing by to hear more from you on this.

[2017-10-25 10:49] mkutny commented on #393
Hmm, that's quite elaborate, it took me some time to read (and ccxt code) it thoughtfully.

(Just a side note: it might be just more convenient to calculate mid spread as `(bid + ask) / 2`).

Now I see that the problem is actually more complex than I previously thought so if you could elaborate a bit more on it that would be greatly appreciated:

1) I'm not sure you actually test `amountToPrecisio

[2017-10-25 11:13] kroitor commented on #393
Because we had a fixed order amount of 0.03 ETH there, we were sure that we will avoid amount precision problems in the test.

After reviewing the above code I can actually see now, that you are totally correct. So, I guess, we can switch to amount truncation, I don't foresee any problems with that with respect to arithmetics.

Actually, I think we'll be fine with truncation, and if it turns out t

[2017-10-25 11:34] #393 closed

[2017-10-25 11:34] #392 closed

[2017-10-25 11:36] kroitor commented on #393
I know my code above isn't very clean %)) Your formula is much shorter, of course )

[2017-10-25 12:16] ralondo opened #397 "EMERGENCY: code error in V 1.9.258"
Your forgot a closing ";" in your code, on line 10261

[2017-10-25 12:19] #397 closed

[2017-10-25 12:20] kroitor commented on #397
Thx for reporting, and my apologies for the inconvenience. It slipped through the tests, we'll add more checks for that. The fixed new version will arrive in 5 minutes. Thx once again!

[2017-10-25 12:27] kroitor commented on #397
Fixed in 1.9.259+. Thx a lot!

[2017-10-25 12:57] ralondo opened #399 "bitfinex v2 fetch_ohlcv empty / null response handling"
It seems, that bitfinex v2 fetch_ohlcv sometimes returns empty / null responses. I guess some problems on bitfinexs side. I get these warnings in my errorlog:
PHP Warning:  array_key_exists() expects parameter 2 to be array, null given in /srv/www/htdocs/crypt/includes/classes/ccxt.php on line 4772
PHP Warning:  array_values() expects parameter 1 to be array, null given in /srv/www/htdocs/crypt/in

[2017-10-25 13:09] Felipe-Mangueira opened #400 "Mercado Bitcoin BCH/BTC market missing"
Hey,

I noticed the BCH/BTC market is missing in the Mercado Bitcoin exchange. Could you implement this routine to make trading in this market possible?

[2017-10-25 13:12] kroitor commented on #399
@ralondo hi! Thanks for reporting! I'll take a look into it. In the meantime, can you show your code, please? These symptoms may indicate that you are hitting their rate limit... Do you actually throttle your requests?

[2017-10-25 13:17] kroitor commented on #400
Hi, @Felipe-Mangueira ! Sure! Looks like they upgraded their public API at last, and now we can rewrite it a little. Will be there in very short time.

[2017-10-25 13:24] hogehogemon commented on #394
Super!!
I confirmed version: 1.9.257 fixed issue of bitflyer, and supplying uid solved my QuadrigaCX problem, too.
Thank you,

[2017-10-25 13:29] ralondo commented on #399
What code do you need? How can I check with ccxt if I hit the rate limit? Anyway, I do throttle my requests by having my own scheduler, in average only one call every 12 seconds to bitfinex. According to their API-docs the the rate limit on the REST-API is 10-90 calls per minute, so I could make at least 1 call every 6 seconds.
The warning doesn't always come, only every few minutes. I lowered my

[2017-10-25 13:31] kroitor commented on #399
@ralondo ok, no need for the code... Unfortunately, they state it clear, v2 is beta. We will add more checks to handle for empty responses. Thx!

[2017-10-25 13:32] kroitor commented on #394
@hogehogemon awesome, thx for reporting back!

[2017-10-25 13:36] #400 closed

[2017-10-25 14:07] ralondo commented on #399
No problem. I just changed the code for me a bit to get rid of those annoying warnings:
`        if (!is_array($response)) {
        	logtext($response." BODY:".$body." PATH:".$path." PARAMS:".print_r($params,true));
        	$response = array();
				} else {
	        if (array_key_exists ('message', $response)) {
	            if (mb_strpos ($response['message'], 'not enough exchange balance') !==

[2017-10-25 14:18] kroitor commented on #400
@Felipe-Mangueira This issue has been solved in v.1.9.260. Don't forget to update. Cheers!

[2017-10-25 14:35] kroitor commented on #399
With [examples/php/bitfinex2-fetch-ohlcv.php](https://github.com/ccxt-dev/ccxt/blob/master/examples/php/bitfinex2-fetch-ohlcv.php) I'm also having some errors from Bitfinex v2:

[code]

So, yes, I am adding the handling for it now.

[2017-10-25 14:43] #399 closed

[2017-10-25 14:56] kroitor commented on #399
This issue was addressed and fixed in 1.9.262. Thx again for your feedback! Really appreciate it!

[2017-10-25 15:16] Felipe-Mangueira commented on #400
Thank you so much @kroitor. Sure, I'll report as soon as possible.

[2017-10-25 15:33] werewere commented on #392
If I use the first example it gives me the correct candles, but the second example (the one for earlier versions of ccxt) wasn't working and it gave me candles since the date until today.

But anyway, the first example works perfectly so I'm fine with that :)

thanks!!

(by the way, do you sleep some day?? The speed of answering questions and development of this project is insane!)

[2017-10-25 15:38] kroitor commented on #392
![giphy-downsized-it](https://user-images.githubusercontent.com/1294454/32007964-b0103be4-b9b3-11e7-829e-3f03d4c29e78.gif)

[2017-10-25 15:44] uvidusvermis opened #401 "Duplicate pairs in exchanges"
It seems, that some exchanges in `.markets` have duplicated (but reversed) pairs.
I checked only exchanges, that allow market loading without private keys.
Tested with python ccxt v.1.9.260:
[code]
Output:
[code]

[2017-10-25 15:47] kroitor commented on #401
@uvidusvermis well, if the exchange has it, then, why wouldn't we keep it? Or should we do something about it? Can you elaborate on this issue a little?

[2017-10-25 15:56] kroitor commented on #401
@uvidusvermis btw, you're not comparing them correctly, because you're using their ids for comparison which get reversed where necessary to reflect the actual trade that is going on the actual exchange market (some exchanges have reversed ids, like btc_eth, but trade ETH/BTC if you look at the price ticker and compare it to other exchanges). This whole thing is described in the Manual, here:
https

[2017-10-25 16:06] uvidusvermis commented on #401
OK, checked some sites:
livecoin : RUR/USD - not exists, USD/RUR - ok
tidex : eth_waves - ok, waves_eth - not exists
But they exists in their API!
So, sorry for disturbing, issue closed.

[2017-10-25 16:06] #401 closed

[2017-10-25 18:32] kroitor commented on #401
I added the [examples/php/arbitrage-pairs.php](https://github.com/ccxt-dev/ccxt/blob/master/examples/php/arbitrage-pairs.php).
See the [examples/php] on how to run them.
It needs a few ids for exchanges in question and it generated a cross-table of arbitrage pairs for you, like this one:

[code]

The script also contains a `$min_exchanges` setting of how many the pair should cover to be listed out

[2017-10-26 00:12] guopengliang opened #402 "BCC (Bitcoin Cash) symbol in Binance exchange should be BCH"
In fact, most Chinese exchanges use BCC for Bitcoin Cash. It's better if we correct this in CCXT to make it less confusing.

[2017-10-26 00:51] kroitor commented on #402
Hi, thx for opening this issue! I will correct that right away, very soon.

References:

https://github.com/ccxt-dev/ccxt/wiki/Manual#naming-consistency
https://github.com/ccxt-dev/ccxt/issues/83
https://github.com/ccxt-dev/ccxt/issues/129

[2017-10-26 00:52] #402 closed

[2017-10-26 00:58] kroitor commented on #402
This issue has been fixed in 1.9.267+. Thx again for your feedback!

[2017-10-26 02:17] Fcl69 commented on #320
Please let me know if it's been implemented yet.
Or where I could check the status, so I don't poke you in vain.
Thanks,

[2017-10-26 02:44] kroitor commented on #320
@Fcl69 It has been implemented in 1.9.268. Let us know if you have any difficulties with it. Thx!

[2017-10-26 03:34] Fcl69 commented on #320
Will do! Thank you!

[2017-10-26 05:55] Fcl69 commented on #320
Looks like it's not perfect yet:

Result:
{'info': {'msg': '{"code":-1105,"msg":"Parameter \'payload\' was was empty."}', 'success': False}, 'id': None}

[2017-10-26 06:40] guopengliang opened #404 "New exchange EtherDelta"
There's an emerging exchange called EtherDelta. API available here:
https://github.com/etherdelta/etherdelta.github.io/blob/master/docs/API.md
https://etherdelta.com

It would be awesome if we could support this exchange.
Thanks!

[2017-10-26 12:05] Felipe-Mangueira commented on #400
Hey @kroitor ,
Sorry for disturbing you again.
The functions of the class I usually use are fully functional, except the "fetch_balance ()" function, which is not returning the balance dictionary. Could you fix this issue for me, please?
Thanks again.

[2017-10-26 12:21] kroitor commented on #400
@Felipe-Mangueira ,  can you please paste your code + verbose output (without the keys) ?

[2017-10-26 12:44] kroitor commented on #320
@Fcl69 ok, but, can you please paste **verbose** output? Need it for debugging (hope you understand). Remove your keys from it if you want.

[code]

[2017-10-26 12:52] Felipe-Mangueira commented on #400
Sure, @kroitor . Sorry for did not share it before.
That's a section of the code, like example:

mercado = ccxt.mercado({'nonce': lambda: int(time.time() * 1000)})
mercado.uid = 'MY USERID'
mercado.apiKey = 'MY APIKEY'
mercado.secret = 'MY SECRET'
mercado.password = 'MY PASSWORD'

x = mercado.fetch_balance()

This code returns something like that:

Traceback (most recent call last):
  File "C:/Use

[2017-10-26 12:55] kroitor commented on #320
Nope, never mind, don't the verbose output.

<img width="717" alt="screen shot 2017-10-26 at 15 52 09" src="https://user-images.githubusercontent.com/1294454/32054028-b93894de-ba65-11e7-8dc7-b81f4fc3186d.png">

.
.
.

<img width="717" alt="screen shot 2017-10-26 at 15 52 39" src="https://user-images.githubusercontent.com/1294454/32054041-c182bc3c-ba65-11e7-8eee-4e2c139751e2.png">

As you see, othe

[2017-10-26 13:21] Felipe-Mangueira commented on #400
Sorry again, @kroitor

It follows the response:

[code]

[2017-10-26 13:23] kroitor commented on #400
@Felipe-Mangueira ok, no problem, now i see the cause of it, I will fix it right away and will get back to you shortly.

[2017-10-26 13:33] kroitor commented on #400
Ok, this should be completely fixed in 1.9.269. Can you please update and report if it works normally for you now? I tested it on my side and it should. Standing by for your reply. Thx!

[2017-10-26 13:33] Felipe-Mangueira commented on #400
Thank you, @kroitor !! Waiting.

[2017-10-26 13:52] kroitor commented on #404
Currently, it's a websocket-only API, no REST, so we are going to implement it later this autumn, when we announce WS support (it is in on the way now). Therefore I'm closing this for now, but we will update you on this further down the road. Thx!

[2017-10-26 13:52] #404 closed

[2017-10-26 13:58] kroitor commented on #400
@Felipe-Mangueira it's there, does it work for you? Let us know, plz.

[2017-10-26 14:23] kroitor commented on #400
@Felipe-Mangueira cool! Thx! Sure, feel free to ask your questions or open issues if you have any difficulties with it. Your feedback is very welcome! Thx again!

[2017-10-26 14:34] stefandeml opened #405 "GDAX returns strings => cast to float"
Using with GDAX results in the following error: `"must be real number, not str`
Need to cast string to float to make math operations work

[code]

[2017-10-26 14:46] kroitor commented on #405
Oh, ok... I'll fix it right away!

![fix](https://user-images.githubusercontent.com/1294454/32059679-844fda74-ba75-11e7-84fd-9e5d4490aa64.jpg)

[2017-10-26 14:49] #405 closed

[2017-10-26 14:51] stefandeml commented on #405
thanks a ton.
any chance for the future to create a fix myself? (enable branches on the repo?)

[2017-10-26 14:57] kroitor commented on #405
@stefandeml you're welcome!  If you feel like you want to contribute then go ahead, plz, feel free to submit PRs like other people do ;) No time for branches :)) Just make sure to read the [CONTRIBUTING](https://github.com/ccxt-dev/ccxt/blob/master/CONTRIBUTING.md) doc before actually making the changes. Also, so you can see from the edits introduced by the above commit, it's a pretty straightforw

[2017-10-26 15:36] kroitor commented on #285
Good news, @mazertwo! The cause of the problem was finally found and fixed in 1.9.271+. So, Livecoin limit orders should work normally now. Plz, let us know if you still have problems with after upgrading. Thx!

[2017-10-26 18:13] kroitor commented on #285
One more minor fix added in 1.9.273. So, this issue should be resolved completely now.

[2017-10-26 20:19] DeeDab commented on #285
Now, that's all. I hope it will be useful and my help was useful to you @kroitor )

[2017-10-26 20:21] kroitor commented on #285
@DeeDab it was, indeed! Thx a lot for your involvement!

[2017-10-26 21:28] Fcl69 opened #406 "HitBTC: transfer between accounts using unified API"
Hello,

I'm having hard times figuring out how to use unified API params to transfer between accounts. For example, I want to move assets between main&trading accounts on hitbtc using this endpoints: /api/1/payment/transfer_to_trading and /api/1/payment/transfer_to_main (https://hitbtc.com/api#transfer)

How does my ccxt call should look like? Could you please provide a python example?

Thank you,

[2017-10-26 21:31] kroitor commented on #406
Hi, @Fcl69!

Ready? Here you go:

[code]

↑ from here: https://github.com/ccxt-dev/ccxt/issues/286#issuecomment-334932900

[2017-10-26 21:48] kroitor commented on #406
Also, please note, that the transferring API is not unified yet, because most of exchanges don't have it. We will consider unifying it later, when we have the order API unified.

[2017-10-26 21:54] Fcl69 commented on #406
It was easy. I've tested it, and it seems to work fine.

On a side note, where is it possible to see a list of all the methods?
Since, for example, hitbtc calls "transfer_to_trading", but ccxt calls "payment_post_transfer_to_trading"
One would never know. Having a list could help it.

Thanks,

[2017-10-26 21:58] kroitor commented on #406
Here:

https://github.com/ccxt-dev/ccxt/wiki/Manual#api-method-naming-conventions

[code]

![api_methods](https://user-images.githubusercontent.com/1294454/32079059-e11f5a36-bab1-11e7-89bf-5820b913cf48.jpg)

[2017-10-26 22:00] Fcl69 commented on #406
My bad. Missed it when read manual. Thanks again for your prompt reply!

[2017-10-26 22:03] kroitor commented on #406
![no-problemo](https://user-images.githubusercontent.com/1294454/32079231-93a78872-bab2-11e7-8a44-a6908a7ec82d.jpg)

[2017-10-27 03:38] guopengliang opened #407 "New exchange Coinsbank"
Hi, please add support to the UK-based exchange [Coinsbank](https://coinsbank.com):
https://github.com/coinsbank/coinsbank-php-sdk

[2017-10-27 03:50] kroitor commented on #407
Hi! Unfortunately, they don't have a normal exchange API, namely, no orderbooks endpoint, no tickers endpoint, no trades... And no docs... Sorry for that, but I don't think we can integrate them until they offer at least a decent set of methods + docs (I can't even find anything about the API on their website, except that GitHub link to their merchant API in PHP, which isn't an exchange API at all

[2017-10-27 03:50] #407 closed

[2017-10-27 03:54] guopengliang commented on #407
Oooops, I guess we have to wait until they have better API docs and supports. Thanks!

[2017-10-27 17:05] LRonHubs opened #410 "Regarding buysells ("side") in Unified trade history"
Kroitor  you are an impressive human. i have been writing a similar lib for only 6 exchanges over the past 3 months and would love to help with the websocket stuff in the future if you'd like that. One thing I've found is that it's useful to have both orderbooks, trades, and "orderbook changes" (add, updates, removes), errors, and resets, as available endpoints.

I was wondering what you thought o

[2017-10-27 17:15] LRonHubs commented on #410
rather than reading API docs, I suppose a simple way to test which exchanges were oddities this would be run a GET request ruing a period of relative stability to the Unified Trade API. You'd find out the average price for "sells" and the average price for "buys".

If the average price for "sells" is lower, this indicates "sells" are a downtick on this exchange, similar to Gemini.  If the average

[2017-10-27 17:17] kroitor commented on #410
Hi! Thx for the feedback!

This is currently a work in progress and we think that the side of the trade should indicate the taker order side. So, pay attention to that, because we don't have it unified completely yet, namely, the order API (including the trades) is still under development. There may be bugs and inconsistencies here and there, because, yes, those little differences are overwhelming

[2017-10-27 17:28] LRonHubs commented on #410
Okay I may do that. In case I don't get to it here's my test code for someone in the future:
Buy are uptick [ 'poloniex', 'bittrex', 'bitstamp' ]
Sells are uptick [ 'gdax', 'bitfinex' ]

[code]

[2017-10-27 17:38] LRonHubs commented on #410
Thanks. It appears Gdax is the exception to the 6 exchanges I'm looking at.

[2017-10-27 17:38] #410 closed

[2017-10-27 17:39] kroitor commented on #410
@LRonHubs I'll fix it very soon and update you on this. Thx again for your help!

[2017-10-27 18:13] kroitor commented on #410
It was fixed for GDAX in 1.9.278, don't forget to update. Thx for your participation once again! Cheers!

![dicaprio](https://user-images.githubusercontent.com/1294454/32118782-9c23374a-bb5b-11e7-9b8e-ff23e61fbb1c.gif)

[2017-10-28 10:19] Newar417 opened #412 "Possible to show if Withdraw enabled?"
In the overview table, is it possible to show whether withdrawal is possible via API?

[2017-10-28 10:23] kroitor commented on #412
Did you mean this table?

<img width="1574" alt="screen shot 2017-10-28 at 13 20 51" src="https://user-images.githubusercontent.com/1294454/32133546-e125c592-bbe2-11e7-82fa-f324ac0ba157.png">

See the rightmost column ↑

Each exchange has a 'hasWithdraw' flag, which is either true (green on the above image), or false (dim red on the above image). True means it's implemented, False means it's eithe

[2017-10-28 11:36] Newar417 commented on #412
That is cool! I meant the table on https://github.com/ccxt/ccxt , but this will do just fine. Thank you!

[2017-10-28 11:37] #412 closed

[2017-10-28 11:41] Newar417 opened #413 "Gate.io has now API to withdraw"
_(Thanks to https://github.com/ccxt/ccxt/issues/412)_

Gate.io API has now API capabilities.

API URL: https://api.gate.io/api2/1/private/withdraw

[2017-10-28 11:48] kroitor commented on #413
Thx for the info, though, we know that is has an API to withdraw, because it is inherited from Bter. The unified withdraw for bter/gate is not implemented in ccxt yet, we will be happy for your contributions. In the meantime, I'm closing this, if you don't mind, we will update you upon implementing the unified withdraw for Gate.io.

[2017-10-28 11:48] #413 closed

[2017-10-28 12:03] kroitor commented on #413
It has been unified in ccxt v.1.9.282+. Don't forget to update.

[2017-10-28 15:24] werewere opened #414 "problem with exchange.parse8601()"
Hi, this problem happens randomly so I'm not sure if it has something to do with ccxt itself or if it may be a race condition in my threaded program. From time to time, not always, when I call exchange.parse8601(), it shows the following exception:

[code]

My code is as follows (I'm using relativedelta to extract the last 100 candles since the last time):

[code]

[2017-10-28 15:34] kroitor commented on #414
Hi, @werewere !

Why do you use parse8601 there at all? You don't need to convert a number (a time value) to to string just to parse it back to a number. Try this:

[code]

[2017-10-28 17:14] kroitor commented on #414
Can you paste the shortest possible snippet that is short enough for posting, but works (can be launched) and reproduces/demonstrates the problematic case or the error?

[2017-10-28 17:51] werewere commented on #414
Yep, you're right. I was doing it more complicated than needed! Your solution is much more elegant.

Regarding the shortest snippet, here goes it (well, its not the shortest-shortest, but I wanted to keep some info). I'm keeping my (bad) number->string->number design to keep it real. It fails about 1/10 times (anyway I just removed the parse8601 method thanks to your solution, so I'm putting it he

[2017-10-29 05:19] kroitor commented on #414
@werewere no matter what I do, I can't get an error from this:

[code]

This is the same snippet as yours, but there are a few differences:

1. In your original example you loop through candles= [ '5m', '15m', '1d' ] (← no 1m interval here), whereas in your if/else you check for 1m, 5m, 1h, 1d (← no 15m interval here)...

2. time.sleep was 5 seconds, which is an overkill, you don't need to sleep t

[2017-10-29 08:32] flavioespinoza opened #415 "GDAX, how to return error from try catch"
Hi, all!
I have this async function to place orders on GDAX, but how do I return the error message to the client?

[code]

[2017-10-29 08:45] kroitor commented on #415
Hi, @flavioespinoza !

Currently the error message may contain too much technical info, that will not be very useful to your client, so you can use the .message as shown in your code, but most of the time it is recommended to write human-readable short messages:

[code]

CCXT currently distinguishes between [some types of errors](https://github.com/ccxt/ccxt/wiki/Manual#error-handling) but not all

[2017-10-29 08:57] flavioespinoza commented on #415
Thanks for the quick response!

Great advice.  I'll definitely do that, but how do I handle the promise returned from gdax

[code]

[2017-10-29 09:05] kroitor commented on #415
[code]

Does this help?

[2017-10-29 09:46] flavioespinoza commented on #415
I think this solves it.  I will try in the morning, as I have been coding
all day.

Thanks, Igor!! +_+

On Sun, Oct 29, 2017 at 2:05 AM, Igor Kroitor <notifications@github.com>
wrote:

[2017-10-29 09:48] kroitor commented on #415
Ok, I'm closing this for now, feel free to reopen it or ask questions if you still have difficulties with it. Thx!

[2017-10-29 09:48] #415 closed

[2017-10-29 14:32] hogehogemon opened #416 "Possible to fetch coincheck margin balance as bitfinex2?"
Thanks to #394
It would be great if coincheck "fetch_balance" can fetch Leverage Balance like bitfinex2 can return.
https://coincheck.com/documents/exchange/api#account-leverage-balance
Thank you,

[2017-10-29 14:37] kroitor commented on #416
Hi, we will look into adding that to unified fetchBalance API, in the meantime, you can already do that with ccxt custom API for coincheck, like so:

[code]

Does this answer your question?

[2017-10-29 14:49] hogehogemon commented on #416
I confirmed that worked! and well answered my question. Thank you!

[2017-10-29 14:50] #416 closed

[2017-10-29 15:24] kroitor commented on #414
If you don't mind, I am closing this issue for now as being somewhat beyond the scope of the library. Feel free to reopen it if needed or just continue posting here, we will try to help as much as we can.

[2017-10-29 15:24] #414 closed

[2017-10-29 15:27] Fcl69 commented on #320
@Ninj0r the binance login slider gives me "Net Err. Please refresh, or feedback" very often
is there something i can do about that?

https://github.com/sammchardy/python-binance

[2017-10-29 15:47] kroitor commented on #320
@Fcl69 thx! We will fix for that in ccxt as well (asap).

[2017-10-29 15:56] werewere commented on #414
Yep, I tested the problem only with the code I pasted. I'm not sure why it happen though.. Well, I can workaround it with your first solution, so everything is fine :)

[2017-10-29 18:06] vonpupp opened #417 "fetch_trades reply structure across exchanges"
Hi again Kroitor,

I have noticed that when calling the `fetch_trades` method the result doesn't have the same structure across exchanges:

[code]

When I switch the exchange I am having an exception due to the different hashes (camelcase vs. lowercase). Is this intentional? I guess ccxt does not process the response, but return it in raw, right?

[2017-10-29 18:10] kroitor commented on #417
Hi, @vonpupp! Thanks for opening this issue. Looks like GDAX is not parsing the trade result. It will be fixed in 5-10 minutes. Stay tuned!

[2017-10-29 18:17] #417 closed

[2017-10-29 18:21] vonpupp commented on #417
Cool, thank you very much for being so responsive. That is just awesome! Kudos.

[2017-10-29 18:35] kroitor commented on #417
It was fixed in 1.9.284+. Don't forget to update it. Thx!

[2017-10-29 18:53] vonpupp commented on #417
Great, thanks a lot! I will give it a try and if needed provide some feedback. If you are into algo-trading/bots I would love to share some ideas with you in the future and keep in touch. We are apparently into similar stuff :)

[2017-10-29 20:09] vonpupp commented on #417
Is it ok for the data within the `info` hash section to be different between exchanges, right?

[2017-10-29 20:10] kroitor commented on #417
@vonpupp , yes, the info contains a raw response from the exchange, untouched, unparsed, unconverted, as is. The other fields contain the same info, but parsed into a common format.

[2017-10-29 20:14] vonpupp commented on #417
Great. Thanks!

[2017-10-29 20:16] kroitor commented on #417
The format and fields recognized for trades are described here: https://github.com/ccxt/ccxt/wiki/Manual#trades-orders-executions-transactions

[2017-10-29 20:39] vonpupp commented on #417
Awesome, I saw that a while ago and forgot about it. That helped me out thanks!

[2017-10-30 07:43] Newar417 opened #419 "PHP async"
The manual mentions that for PHP all API methods are synchronous. Are you aware of http://docs.guzzlephp.org/en/stable/ ? Would this be useful?

[...]
Can send both synchronous and asynchronous requests using the same interface.

[2017-10-30 08:09] kroitor commented on #419
@Newar417 we know of existing PHP libs for async networking, and we are going to integrate something like that into ccxt as well, so, the answer to your questions is: yes, thanks for the hint, we will take a look into it soon ;)

[2017-10-30 08:17] #419 closed

[2017-10-30 11:23] qraftec opened #420 "hitbtc seems removed at async version"
I have version 1.9.268 and hitbtc was supported.
But now at 1.9.284, it seems that hitbtc is not supported.
Can somebody check this?

[2017-10-30 15:31] kroitor commented on #420
Hi, @qraftec ! We're working on it, will be fixed very soon.

[2017-10-30 15:45] #420 closed

[2017-10-30 16:56] kroitor commented on #420
This is fixed in 1.9.285. Let us know if it's working normally for you or not. Thx again!

[2017-10-30 22:05] aking7 opened #422 "Exchange timeframes"
Is there a reason `exchange.timeframes` are stored as a `dict` of `str`? It seems they would be more useful as `int` values for the timeframe in minutes. I can of course convert... just curious.

[2017-10-30 22:11] kroitor commented on #422
Hi, @aking7 ! Yes, the reason for having string-based keys is because for higher timeframes like 1w, 1mo, 1y these numbers will be too large. But we will look into adding the possibility to put ints there as well, hopefully soon, after we resolve current pending issues. Let me know if it answers your question or not. Thx!

[2017-10-30 22:20] aking7 commented on #422
@kroitor The keys as strings make sense! I'm curious why the values are also stored as strings.

[2017-10-30 22:25] kroitor commented on #422
@aking7 just because for the moment we found "1d", "1y" more readable than "86400" and "31536000". There's also some ambiguity on seconds + leap years, so to keep it simple, we thought it would be better to have readable string-based keys, not numeric strings.

[2017-10-30 22:29] aking7 commented on #422
@kroitor No, sorry I must not be clear. I'm good with the keys as "1d", "1w" and think they should be kept like that :) But if I call `exchange.timeframes['1d']` it would be nice to get an integer value (in minutes or seconds for example) to use for program logic elsewhere. Right now, this outputs something different for each exchange.

[2017-10-30 22:33] kroitor commented on #422
@aking7 oh, so you're asking of values, not the keys. The values are there to map from common key abbreviations (1m, 5m, 30m, 1h, 12h, 1d, 1M, 1y) to values accepted by the exchange engine, so those are mappings for the API. The timeframe values are for internal use, not for external applications, because values are not unified (unique for each exchange, depending on which OHLCV timeframes are sup

[2017-10-30 22:35] kroitor commented on #422
We thought making a function to map from unified abbreviations to numbers of seconds, is not a big deal, therefore we didn't include it in the lib. But we can actually make it up here.

[2017-10-30 22:47] aking7 commented on #422
@kroitor Ah, I see! I was trying to piggyback off them for my own use ;) And yes, good point on the ambiguities for larger timeframes. It's probably best I find another solution.

[2017-10-30 22:47] #422 closed

[2017-10-31 02:25] kroitor commented on #422
@aking7, most of the time:
1. you need to find a common subset of timeframes (keys) across your target exchanges
2. you can compute higher timeframes from lower timeframes
My 2 cents...

[2017-10-31 16:07] anandanand84 opened #427 "GDAX price too precise"
Below error is thrown as Network error, but actual error should be Invalid Order.

gdax POST https://api.gdax.com/orders 400 Bad Request {\"message\":\"price too precise (309.9557461094684)\"} (possible reasons: invalid API keys, bad or old nonce, exchange is down or offline, on maintenance, DDoS protection, rate-limiting)"

Also currently there is no way to parse the exchange response, make sure

[2017-10-31 17:49] kroitor commented on #427
Hi, @anandanand84 ! Thank you for opening this issue! I will take a look into it asap.

[2017-10-31 17:56] kroitor commented on #427
@anandanand84

This isn't really wrong, because whenever we encounter 400, it means we had a HTTP error, which is a Network Error, not any other type of logic error. What other type of error would you suggest for HTTP 400?

[2017-10-31 18:28] Felipe-Mangueira commented on #400
Hi, @kroitor,

Sorry for disturbing you again with this issue, but I think there is still something wrong with the BCH/BTC market, because all my limit orders (with the function ccxt.mercado.create_order(args)) in this market are not being placed, regardless the amount or the price or the side. Could you please take a look in your code?

Thank you again for your patience.

This is the verbose outp

[2017-10-31 18:31] kroitor commented on #400
@Felipe-Mangueira sure, I'll take a look into it asap.

[2017-10-31 18:36] Felipe-Mangueira commented on #400
Thank you! I'll be waiting for your reply.

[2017-10-31 18:39] anandanand84 commented on #427
@kroitor Anything above 3XX is errors and 4XX errors are basically client errors and in particular 400 is consider an bad request data from the client and it doesn't necessarily mean it is a network error and it is definitely not caused by the information in possible reasons invalid API keys, bad or old nonce, exchange is down or offline, on maintenance, DDoS protection, rate-limiting. I would say

[2017-10-31 18:41] #427 closed

[2017-10-31 18:41] kroitor commented on #233
This issue has been finally fixed in 1.9.291. Thx for all your patience!

[2017-10-31 18:41] #233 closed

[2017-10-31 18:44] kroitor commented on #427
@anandanand84

In the terms of the library, there's no Bad Request error, so, of the errors left, we aligned the NetworkError to stand for any error that is related to a bad HTTP status code. In other words, if I asked you, what other type of error should we assign to it, what should it be (of currently existing types, without adding a new one)?

[2017-10-31 18:46] anandanand84 commented on #427
InvalidOrder

[2017-10-31 18:46] kroitor commented on #427
@anandanand84 for all 400 codes? Or for GDAX only?

[2017-10-31 18:48] anandanand84 commented on #427
@kroitor I mean it depends right, if 400 comes from exchange during openOrders request then you cannot say it as InvalidOrder, it is invalidrequest for open orders.

[2017-10-31 18:53] kroitor commented on #400
@Felipe-Mangueira this should be completely fixed in 1.9.292

[2017-10-31 18:56] anandanand84 commented on #427
I would recommend https://github.com/ccxt/ccxt/commit/b124f5799f81a34aa949190501b2ff5808da186e#diff-9453f5a8dee427abd6a1b4a0aed6a819R458 fix. Because there is a whole bunch of errors here is another one for instance "size must be greater than zero (0.00000000)", May be I am wrong when you ask what 400 corresponds to you in your scenario it should be ExchangeError and let the user handle the exchan

[2017-10-31 18:56] Felipe-Mangueira commented on #400
Thx again, @kroitor!

[2017-10-31 19:06] aking7 opened #428 "Release tags"
I'd like to suggest annotating your release tags with a short description of the changes for that version. This is useful when running `git tag -n`. Right now they all show `[ci skip]`, which makes it difficult to navigate to a previous version if needed.

[2017-10-31 19:14] kroitor commented on #428
@aking7 we actually have releasing tagging by version number. Or did you mean something different? It's actually very hard to make up a short description different from the commit message, because we sometimes do hundreds of releases daily. Most of the time you can checkout a specific version by its version tag. Does this answer your question?

[2017-10-31 19:16] kroitor commented on #428
<img width="320" alt="screen shot 2017-10-31 at 22 16 14" src="https://user-images.githubusercontent.com/1294454/32244301-2cf9dd70-be89-11e7-988f-13d10f961f59.png">

[2017-10-31 19:27] kroitor commented on #427
@anandanand84 the GDAX should now return InvalidOrder for that error starting from 1.9.293.

See: https://github.com/ccxt/ccxt/commit/bcaebcdfc7fc1433787ffeaba80a28384629e7af
We have a special method for error handling since recently.

As for the other exchanges and cases – we're still unifying it (in progress). Let us know if you have any other questions or difficulties with it. Thx again for you

[2017-10-31 19:31] kroitor commented on #427
@anandanand84 sorry, there's a small problem on Travis uploading to PyPI, it will be there shortly.

[2017-10-31 19:49] aking7 commented on #428
Yes, the releases by version number are good :) It's just good practice to add a description of the changes as well using `git tag -a v1.0.0 -m "Description of version"`. By default, this description is the commit message (this is the case now). Unfortunately Travis-ci makes it's own commit for each version, where the commit message is simply `[ci skip]`, which tells us nothing of what was changed

[2017-10-31 19:55] kroitor commented on #428
@aking7 we will add the message as well, thx!

[2017-10-31 20:23] kroitor commented on #400
@Felipe-Mangueira sorry, we're having an issue with publishing to PyPI, the new version will be there right away. Thx!

[2017-10-31 21:46] aking7 opened #430 "Python build not working"
The python build is not working. Last stable version is 1.9.289

[2017-10-31 21:46] #428 closed

[2017-10-31 21:49] kroitor commented on #430
This should be resolved now (working on it).

[2017-10-31 21:49] #430 closed

[2017-10-31 21:53] kroitor commented on #430
Looks like there's still an issue with async, fixing it as well.

[2017-10-31 21:56] aking7 commented on #430
Thank you!! Love your fast response time. I was trying to investigate it myself but to no avail. I might suggest making a development branch for merging major changes before pushing to the master branch. Perhaps just have meaningful 1.x versions on master ;)

[2017-10-31 22:17] kroitor commented on #428
It has been finally fixed, thx again for your feedback!

[2017-10-31 22:24] Felipe-Mangueira commented on #400
Ok @kroitor. Sorry for late reply. I noticed you have uploaded the updated version of ccxt library and I already have installed the package. Thanks for your concern.

[2017-10-31 22:37] cklester opened #431 "Let CCXT Read from a credentials.js file"
I would like to enable CCXT to read from a credentials.js file when needing exchange credentials instead of having to put the credentials inside the source.

For example, instead of (this is from the instantiate-all-at-once.js example):

[code]

we could do something like:

[code]

[2017-10-31 22:40] kroitor commented on #431
Hi, @cklester !

See how we do exactly that here:
https://github.com/ccxt/ccxt/blob/master/test/test.js#L46

Let us know if it answers your question or not. Thx!

[2017-10-31 22:46] kroitor commented on #431
[code]

[2017-10-31 23:04] cklester commented on #431
Thanks, @kroitor !

I don't see the `keys.json` file.

[2017-10-31 23:07] #431 closed

[2017-10-31 23:07] kroitor commented on #431
It's in the [root of the repo](https://github.com/ccxt/ccxt): [https://github.com/ccxt/ccxt/blob/master/keys.json](https://github.com/ccxt/ccxt/blob/master/keys.json) ← those are temporary keys for testing only...

The format of the file is very simple:
{
    "kraken": { "apiKey": "...", "secret": "...", "someOtherOptionOfYourChoice": "..." },
    "gdax": { "apiKey": "...", "secret": "..." },

[2017-10-31 23:11] cklester opened #432 "Add Example "instantiate-all-at-once.js" Using JSON Credentials File"
Can you update or provide separately an example script using the JSON import of credentials?

Ultimately, it would be great to update all examples to utilize this method, so all examples could be easily run with our own set of credentials.

[2017-10-31 23:15] xpl commented on #431
@cklester Actually, you can use `require` to load JSON:

[code]

[2017-10-31 23:25] #432 closed

[2017-10-31 23:26] kroitor commented on #432
https://github.com/ccxt/ccxt/blob/master/examples/js/instantiate-all-from-json.js

[2017-11-01 01:12] Fcl69 opened #433 "websocket API"
Gents,

May I wonder about WebSocket API status for exchanges that support it? I read somewhere that it's in your plans. I'd be happy to be a tester for it. Is it possible to provide some very raw (quick&dirty) doc or few python examples how to use? Providing its implemented in ccxt for some exchanges, I'd be happy to test it out!

Please let me know. Thank you in advance,

[2017-11-01 01:20] kroitor commented on #433
@Fcl69 yes we are going to add support for WS APIs, but it is not ready yet, we are working on it and hope to deliver soon. If you don't mind, i'm closing this issue as being duplicate of #56 . I suggest to continue there if you have further questions. We will update you upon availability of WS in CCXT anyway. Thx!

[2017-11-01 01:20] #433 closed

[2017-11-01 02:19] hrtshu opened #434 "OKCoinUSD's fetchTrades function returns integer id"
I found that fetchTrades function of OKCoinUSD returns integer id.
According to the documentation, this function must return string id.

Python: https://github.com/ccxt/ccxt/blob/cf675184f57e79449b00e23d020ad55f1990e952/python/ccxt/okcoinusd.py#L191
JavaScript: https://github.com/ccxt/ccxt/blob/cf675184f57e79449b00e23d020ad55f1990e952/js/okcoinusd.js#L200
PHP: https://github.com/ccxt/ccxt/blob/cf6

[2017-11-01 02:24] #434 closed

[2017-11-01 02:49] kroitor commented on #434
This issue was fixed in 1.9.305. Thx!

[2017-11-01 03:34] Fcl69 commented on #433
Thank you for a reply, I'll keep an eye on #56

[2017-11-01 04:33] cklester commented on #432
@kroitor Thank you!

[2017-11-01 04:34] cklester commented on #431
That seems to be the way to go... right? 🥇

[2017-11-01 07:08] hzmbeyond80 opened #436 "gemini create order not working"
i was able to query the balance successfully, which means the API key is working.  The API key has trading priority as well.   here is the code snippet

[code]

[2017-11-01 07:09] kroitor commented on #436
@hzmbeyond80 can you post verbose output, plz?

[2017-11-01 07:20] hzmbeyond80 commented on #436
[code]

[2017-11-01 07:24] kroitor commented on #436
@hzmbeyond80 thx! I'll take a look into it and will get back to you asap!

[2017-11-01 10:01] janeCMD opened #440 "CEX order status codes do not return expected values."
UPDATE: It seems whole response for fetchOrder(id) in CEX exchange returns original api reply, not unified results. This should normally be included in 'info'.

Status codes should be returned in unified way, but status codes for CEX exchange are returned in original form as from CEX ('c' for cancelled, 'd' for closed etc). I suppose this is a bug, not expected behavior (?)

[2017-11-01 10:11] kroitor commented on #440
Hi! This is not an expected behaviour, nor it is a bug. We don't have all order APIs unified yet. Your PRs and contributions will be appreciated! We hope to deliver it soon. If you don't mind I will close this issue as a duplicate of #71 . Thx for your feedback. Stay tuned for updates, we deliver new functionality daily.

[2017-11-01 10:11] #440 closed

[2017-11-01 10:12] kroitor commented on #440
Here's an overview:

<img width="1554" alt="screen shot 2017-11-01 at 13 12 26" src="https://user-images.githubusercontent.com/1294454/32270288-56289434-bf06-11e7-9af1-dfa313668b63.png">

[2017-11-01 10:52] Vyllonder opened #441 "Bitfinex: UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b"
Hi, Im trying to just make a order in Bitfinex.

The code is this

[code]

Im running Python 3.6
Lot of thanks for this incredible API

[2017-11-01 10:57] kroitor commented on #441
Hi! Thanks for reporting! Will take a look into it asap!

[2017-11-01 10:59] kroitor commented on #441
@Vyllonder what's your version of ccxt?

[2017-11-01 11:07] Vyllonder commented on #441
1.9.304

Thanks!

[2017-11-01 11:31] kroitor commented on #441
Can you please update to version 1.9.318+ and report with verbose mode enabled? We added some better error logging, so we should now see the reason why it complains...
Just put `bitfinex.verbose = True` before the `create_order` call and post your output here.

When posting use triple backticks to enclose your output for readability like so:

&#96;&#96;&#96;
your output
&#96;&#96;&#96;

[2017-11-01 11:42] Vyllonder commented on #441
[code]

[2017-11-01 11:48] kroitor commented on #441
Ok, thx! The error is likely here:
[code]

[2017-11-01 11:54] Vyllonder commented on #441
[code]

Still continues. By the way, lot of thanks for yout attention!

[2017-11-01 12:16] kroitor commented on #441
We can't reproduce it on our side because it's unique to your particular situation, so we added more logging and we have to ask you to update to version 1.9.320 and repost the verbose output again. We have to dig for the reason until we find and fix the bug.

[2017-11-01 12:26] Vyllonder commented on #441
[code]

Keys are correct, Im getting the wallet via Rest

[2017-11-01 12:26] kroitor commented on #441
@Vyllonder you reposted with 1.9.318, not 1.9.320. Sorry for annoying.

[2017-11-01 12:40] Vyllonder commented on #441
[code]

[2017-11-01 13:15] kroitor commented on #441
@Vyllonder thx for your help! Really appreciate it! We're going to investigate further, will update on on this asap and deliver the fix very soon.

[2017-11-01 13:20] Vyllonder commented on #441
Perfect. Lot of thanks!!

[2017-11-01 18:02] zlstt opened #444 "huobi pro issue"
2 Problems:
1. the balance fetched still is 0, in fact the knc coin count is 999.
2. when I create an order, it returns the err message (login required):

[code]

[2017-11-01 20:57] aking7 opened #445 "npm run build on Windows"
I'm getting errors on Windows 10 when trying to `npm run build` and `node run-tests`.

From `npm run build` in `update-badges`:
[code]

From `node run-tests`:
[code]

[2017-11-01 21:03] munrocket commented on #445
I have same problem with this regular expression in update-badges.js by processing README.rst.
In previous version of ccxt all was ok.

[2017-11-01 21:07] kroitor commented on #445
Thx for reporting, now looking into it.

[2017-11-01 21:11] kroitor commented on #445
Can you please paste the full sequence of commands that you use to build it?

I just did this:
[code]

And it worked for me (I have pandoc, Python2 and 3 and all requirements from the CONTRIBUTING doc). Can you show full list of your commands + the output, plz?

[2017-11-01 21:14] kroitor commented on #445
Also, can you please paste your version of pandoc?

[code]

It should sat 1.19, not 1.12.

[2017-11-01 21:24] kroitor commented on #444
@zlstt I'll take a look and will fix them asap. Thx for reporting!

[2017-11-01 21:48] #444 closed

[2017-11-01 21:58] kroitor commented on #444
@zlstt
1. Please update to version 1.2.328+, the balance issue should be fixed.
2. They require an `account-id` extra param, so you need to pass it along with other arguments to createOrder or preload your accounts. To find your account id, await huobipro.loadAccounts() before doing other calls to huobi.

The modified call to createOrder should look like this:
[code]

Let us know if it helped you

[2017-11-01 22:20] aking7 commented on #445
I'm running the same series of commands as you with the current pandoc.

[code]

[2017-11-01 22:21] kroitor commented on #445
@aking7 ok, can you please paste the python/README.rst file (somewhere) that it should have generated ?

[2017-11-01 22:23] kroitor commented on #445
@aking7 also, can you please post the full build log of the above sequence of commands?

[2017-11-01 22:25] aking7 commented on #445
README is here: https://gist.github.com/aking7/7af2dc965a9fc432e77648cab6a83225

[2017-11-01 22:28] aking7 commented on #445
[code]

[2017-11-01 22:39] hzmbeyond80 commented on #436
*i found the cause.  all you need to do is changing the line marked with ####*

def create_order(self, symbol, type, side, amount, price=None, params={}):
    self.load_markets()
    if type == 'market':
        raise ExchangeError(self.id + ' allows limit orders only')
    order = {
        'client_order_id': str(self.nonce()),  #### add str()
        'symbol': self.market_id(symbol),
        'am

[2017-11-01 22:40] kroitor commented on #445
Ok, I will install windows 10 to see why update-badges complains...

As for the node run-tests, it says python2 is missing on your system. You should either run js+python3 tests only:

[code]

or you should install python2 on your system to run with --python as well.

[2017-11-01 22:42] kroitor commented on #436
@hzmbeyond80 awesome! Thanks for your help! I am going to upload the fix for it now!

[2017-11-01 22:43] #436 closed

[2017-11-01 22:49] aking7 commented on #445
I have both Python 2 & 3 installed :/

[code]

[2017-11-01 22:54] kroitor commented on #445
@aking7 can you launch `python2` or `python3` from your command line?

[2017-11-01 22:55] kroitor commented on #436
@hzmbeyond80 this was fixed in 1.9.329. Thx to you!

[2017-11-01 22:59] aking7 commented on #445
Yes, but I am using Anaconda. Perhaps that has something to do with it?
[code]
[code]

[2017-11-01 23:01] kroitor commented on #445
No, I mean, literally, `python2` command or `python3` command. The run-tests.js launches them like that. So, if you don't have `python2` or `python3` on your system, it won't find the Anaconda, because it switches the version of `python` binary. We will have to fix for that in order to make Windows builds pass. Thx, will get back to you on this soon!

[2017-11-01 23:03] kroitor commented on #445
@aking7 you can also launch the run-tests without python at all, like so `node run-tests --js`  ← does this work for you?

[2017-11-01 23:12] kroitor commented on #445
I uploaded a few minor fixes for it, can you please update the repo with `git pull` and try launching:

[code]

?

[2017-11-01 23:20] aking7 commented on #445
Some exchange errors but `node run-tests --js --python` is all good now! Still no luck with `npm run build`.

[2017-11-01 23:22] kroitor commented on #445
@aking7 cool, thx for your responsiveness and for the assistance! I'm digging into the windows build now.

[2017-11-01 23:40] kroitor commented on #445
@aking7 can you tell your Node version?

[2017-11-01 23:43] aking7 commented on #445
[code]

[2017-11-02 00:28] kroitor commented on #441
@Vyllonder ok, we have uploaded a new version which should report the reason for bitfinex error clearly. We are going to ask you to update to version 1.9.332 and report verbose output with it again, please. Standing by for more info from you! Thx!

[2017-11-02 02:30] zlstt commented on #444
Hi,
Thanks for your info. I pull the latest code
1. balance is OK
2. still get the error : Login required

[2017-11-02 02:49] kroitor commented on #444
@zlstt hi! Ok, I'll look into the remaining error and will get back to you as soon as I find the cause and fix it.

[2017-11-02 03:07] kroitor commented on #444
@zlstt

1. Can you check if your key pair has a trade permission set on it?
2. Also, [from their docs](https://github.com/huobiapi/API_Docs_en/wiki/REST_Reference#%E4%BA%A4%E6%98%93api) it looks like they only trade ETH/BTC, LTC/BTC, ETC/BTC, BCC/BTC with their api.huobi.pro API... Can you try one of those pairs to check if it works? We need to check all possible causes, because their docs are not

[2017-11-02 03:58] kroitor commented on #445
@aking7 when you installed git for Windows, which of these options did you choose?

<img width="494" alt="screen shot 2017-11-02 at 06 54 56" src="https://user-images.githubusercontent.com/1294454/32309227-288b33ac-bf9b-11e7-945a-7f59e8470d3d.png">

[2017-11-02 04:23] kroitor commented on #445
I was able to reproduce the bug with the first option from the above screen selected on a Windows virtual machine. So, I guess it's a `CRLF vs regex [\n]` conflict of Windows vs. the rest of the world... But don't worry, if this is the case, I'll fix it shortly.

[2017-11-02 04:58] #445 closed

[2017-11-02 05:20] kroitor commented on #445
This issue was fixed in 1.9.335. Thx to you, @aking7 and @munrocket !

[2017-11-02 06:45] munrocket commented on #445
Lol, thanks.

[2017-11-02 08:04] kroitor commented on #297
Ok, this issue was resolved in version 1.9.336. Thx for your patience!
Usage examples were added as well:

- [examples/py/async-basic-rate-limiter.py](https://github.com/ccxt/ccxt/blob/master/examples/py/async-basic-rate-limiter.py)
- [examples/py/async-tickers.py](https://github.com/ccxt/ccxt/blob/master/examples/py/async-tickers.py)

It is currently not configured for all exchanges and it mimics

[2017-11-02 08:04] #297 closed

[2017-11-02 08:08] kroitor commented on #297
P.S. current implementation is [here](https://github.com/ccxt/ccxt/blob/master/python/ccxt/async/base/throttle.py), your contributions are welcome!

[2017-11-02 08:57] aking7 commented on #445
You're great @kroitor ! Working like a charm now. Oh the beauty of cross-platform projects :)

[2017-11-02 09:10] aking7 commented on #445
@kroitor Seems there's one more issue. `npm run build` is fine but `node run-tests --python` does not pass:
[code]

[2017-11-02 09:12] kroitor commented on #445
@aking7 yeah, must be a minor leftover in another script. Will fix it as well shortly. Thx!

[2017-11-02 10:37] kroitor commented on #445
Ok, check out master again, this should be fixed completely now. Thx again for reporting!

[2017-11-02 10:47] aking7 commented on #445
@kroitor Looks good! Always impressed by how quick you are!!

[2017-11-02 11:23] zlstt commented on #444
Hi,
I have checked your questions, not that case.
Look into the log, seems that we didn't pass some parameters such as signature, access key ?
By the way, can you tell me where the doc of huobipro you are refering

Request:
 { 'Content-Type': 'application/json' } {"account-id":96000,"amount":"0.3000000000","symbol":"ltcbtc","type":"buy-limit","price":"0.0000014000"}
huobipro POST https://api.huobi

[2017-11-02 11:29] kroitor commented on #444
@zlstt yeah, it's in my previous post, above, here it is again: https://github.com/huobiapi/API_Docs_en/wiki/REST_Reference#%E4%BA%A4%E6%98%93api
I'll check for params, thx...

[2017-11-02 11:35] kroitor commented on #320
@Fcl69 hi again! Can you please try 1.9.338? I uploaded the fixes and tested locally, worked for me. Let us know if it works for you or not, please. Thx!

[2017-11-02 11:42] kroitor commented on #444
Ok, it's here, can you please retry it again with 1.9.339? This is the correct new number. Thx!

[2017-11-02 12:02] Ninj0r commented on #320
That should work. I pinned a post in the API chat a while back:
[code]

(The @ from the comment a few days ago put me on the thread.)

[2017-11-02 12:11] zlstt commented on #444
Great! It is OK now.
Some minor errors (order price precision error):

if (type == 'limit')
            order['price'] = price.toFixed (10);

[2017-11-02 12:12] kroitor commented on #444
@zlstt will parse the precision from their markets as well (soon). Thx!

[2017-11-02 12:47] lidancheng opened #447 "hitbtc and hitbtc2 market BCH is converted to BCC"
hi, I found a bug in version '1.9.321'.
the hitbtc.com has BCH and BCC, in the moudle loadMarkets, automatic convert the BCC to BCH, so I can't get the BCH ticker forever.
If it's a bug, please fix it.
thanks for your bset work!

[2017-11-02 12:50] kroitor commented on #447
Hi! Sorry, can you please post your code?
Use triple backticks for readability:

&#96;&#96;&#96;
your code
&#96;&#96;&#96;

[2017-11-02 13:00] kroitor commented on #444
@zlstt ok, I fixed for precision as well in 1.9.340. Would be happy if you report back whether it now works for you normally or not. Thx!

[2017-11-02 13:12] kroitor commented on #447
If you mean this: https://blog.hitbtc.com/alert-on-bitcoin-cash-ticker-change/
I'll fix for it shortly. Thx!

[2017-11-02 13:13] #447 closed

[2017-11-02 13:20] Deathamns opened #448 "Error-classes are not defined / unnecessary defined in some exchanges"
Examples:
_1broker.js, bitfinex.js, bitfinex2.js, bithumb.js, bitlish.js, bitstamp.js, bitstamp1.js, btcchina.js, cex.js, coincheck.js, coinmate.js, coinspot.js, cryptopia.js, flowbtc.js, gatecoin.js, kuna.js, quadrigacx.js, xbtce.js

For instance, [`AuthenticationError`](https://github.com/ccxt/ccxt/blob/master/js/_1broker.js#L245) is thrown in `_1broker.js`, but its definition is [missing](https

[2017-11-02 13:20] kroitor commented on #447
This is fixed in 1.9.341+. Both BCH and BCC tickers are available since they renamed Bitcoin Cash to BCH (as the majority of exchanges call it). Let us know if it works for you or not (it should). Thx again!

[2017-11-02 13:28] kroitor commented on #448
@Deathamns thanks for reporting! As you may know, this library is under heavy development. There may be bugs here and there, because unification isn't an easy process. We know of those issues and we are dealing with them *just in time*, so we are going to fix them all with your help. Some bugs may have been introduced by the recent source split into separate derived classes, for example... But new

[2017-11-02 14:16] kroitor commented on #448
We imported those imports so you can now import your imports importly (since version 1.9.345+)

![imported](https://user-images.githubusercontent.com/1294454/32330578-9cc6c672-bff1-11e7-9800-ce2233691eb4.jpg)

[2017-11-02 14:21] #448 closed

[2017-11-02 16:50] Fcl69 commented on #320
Thank you for implementing it!
I'll be able to give a try in a day or so. Will comment here soon.

[2017-11-02 18:14] Fcl69 opened #449 "exchange.market() recently updated? Stopped working as usual"
So recently exch.market() started to return a different value, which I assume was a part of the bugfix. Since it works as expected now. But I missed that bugfix, which made my code working incorrectly. So I guess no question here, just a memo, that output has changed.

[code]

[2017-11-02 18:14] Fcl69 commented on #449
Code:

import ccxt

[code]

Result:

[2017-11-02 18:17] Vyllonder commented on #441
[code]

Thanks to you to all working you are doing!!

[2017-11-02 18:28] Fcl69 commented on #449
So this one would work:

[code]

I wonder if this fix was a part of a bug fix or anything

[2017-11-02 18:33] #449 closed

[2017-11-02 18:35] Deathamns commented on #448
I wanted to send a pull request, but I couldn't decide what should I do. Only add the missing variables (since I saw that you usually included a few but didn't used them), add them all, or add only the ones that are used? So, I left the decision to you instead...

But, I see you left the variables that are actually used, so [here](https://github.com/ccxt/ccxt/pull/450) you go (you also missed bitf

[2017-11-02 19:57] mazertwo opened #451 "Allcoin does not have market symbol ETH/BTC"
With ccxt version 1.9.346 i get error "ccxt.base.errors.ExchangeError: allcoin does not have market symbol ETH/BTC"

Same for ZEC/BTC pair.

But if i install older version (1.9.230), all fine.

[2017-11-02 19:59] mazertwo opened #452 "Binance, certificate verify failed (_ssl.c:777)"
If i get info from Binance, i have error:
[code]

[2017-11-02 20:04] mazertwo opened #453 "Kraken, zero balance"
Kraken dont send 0 (zero), if balance 0. This is for all cryptocurrencies.
Ccxt gets None and make error.

[2017-11-02 21:10] kroitor commented on #452
Hi! Which version are you using? Sync? Async?

[2017-11-02 21:16] vonpupp opened #454 "Just in case you are interested: Binance API Coding Competition"
Hi @kroitor,

I wanted to let you know in case you might be interested. Binance is hosting a [competition] rewarding for integrations on their API. It could be a reward for your work :).

Unfortunately I saw that late, submissions are by Nov 4th.

Best regards.

[competition]: https://support.binance.com/hc/en-us/articles/115001909972

[2017-11-02 21:40] kroitor commented on #454
@vonpupp hi, @vonpupp ! Thx for the notice. I've submitted the ccxt twice a couple of weeks ago, but got no answer, I guess it means "no". Thx anyway. Respect!

[2017-11-02 21:40] #454 closed

[2017-11-02 21:54] kroitor commented on #451
@mazertwo thx! I'll take a look into it and will get back to you asap.

[2017-11-02 21:58] kroitor commented on #441
@Vyllonder ok, so, now we see that Bitfinex says "Nonce is too small". So, that's a nonce problem. Did you use the keypair anywhere else before? If you did, the software might have screwed the nonce number too high on that keypair, so you can simply create a new one. And the problem will be gone. Or you can redefine the nonce. See here how to do it:
https://github.com/kroitor/ccxt/wiki/Manual#trou

[2017-11-02 22:01] kroitor commented on #320
@Fcl69 I am closing this issue if you don't mind, will stand by to hear from you. We will be happy if you report back, whether it does work normally for you or not. Feel free to reopen it if needed. Thx!

[2017-11-02 22:01] Fcl69 commented on #320
Hm... I got this reply:
 {'id': None, 'info': {'success': False, 'msg': '{"code":-1022,"msg":"Signature for this request is not valid."}'}}

[2017-11-02 22:02] kroitor commented on #320
@Fcl69 can you please show verbose output?

[2017-11-02 22:08] Fcl69 commented on #320
https://www.binance.com/api/v1/account?timestamp=1509660410464&signature=xxx GET https://ww
w.binance.com/api/v1/account?timestamp=1509660410464&signature=xxxx
Request: {'Accept-Encoding': 'gzip, deflate', 'X-MBX-APIKEY': 'key', 'User-Agent': 'ccxt/1.9.346 (+https://github.com/ccxt-dev/
ccxt) Python/3.5.2'} None
GET https://www.binance.com/api/v1/account?timestamp=1509660410464&signature=xxxx
Resp

[2017-11-02 22:10] kroitor commented on #320
@Fcl69 no, it's not the withdraw call. Can you show your actual code and output (you can delete the keys if you want)?

[2017-11-02 22:14] Fcl69 commented on #320
Excuse me, I copy-pasted the wrong peace of the log. Here is a correct one. [I still can provide code if needed]:

[2017-11-02 22:26] kroitor commented on #320
Ok, I see, will get back to you shortly with another fix. Thx for your responses!

[2017-11-02 22:32] kroitor commented on #453
Thx! Will fix it very soon!

[2017-11-02 22:46] kroitor commented on #449
Thank you for pointing that out!

[2017-11-02 22:49] #451 closed

[2017-11-02 23:02] kroitor commented on #451
This was fixed in 1.9.349. It was a minor bug introduced by the recent source split. Thx for reporting! Respect!

[2017-11-02 23:08] Fcl69 opened #455 "hitbtc balance for "Main Account""
How do I get balance for hitbtc main account?

fetch_balance() returns it for trading account only.

[2017-11-02 23:09] kroitor commented on #455
Hi!

See here: https://github.com/ccxt/ccxt/issues/288#issuecomment-335549106

[2017-11-02 23:09] #455 closed

[2017-11-03 01:31] kroitor commented on #453
Can you please post the output?

[2017-11-03 04:34] Fcl69 opened #456 "Bitfinex fiat (USD) withdraw()"
code:

[code]

output:

[2017-11-03 05:12] kroitor commented on #456
Hi! Basically, it tells you the reason:

What it is saying is that if you want to do fiat withdrawals (USD), then they require SWIFT bank code, as long as several other params, described here: https://bitfinex.readme.io/v1/reference#rest-auth-transfer-between-wallets

<img width="1013" alt="screen shot 2017-11-03 at 08 00 00" src="https://user-images.githubusercontent.com/1294454/32361193-96165e46

[2017-11-03 05:18] Fcl69 commented on #456
Hm... Yes, you're right. I thought it was USDT. I guess, they're using another symbol for that.

[2017-11-03 06:23] #456 closed

[2017-11-03 06:31] mazertwo commented on #452
Sync.
Ccxt 1.9.230

[2017-11-03 08:23] mazertwo commented on #452
Code is simple:

import ccxt
binance=ccxt.binance()
orderbook1 = binance.fetch_order_book('ETH/BTC')

Error:

C:\Python\python.exe C:/Users/1/Desktop/test1.py
Traceback (most recent call last):
  File "C:\Python\lib\urllib\request.py", line 1318, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "C:\Python\lib\http\client.py", line 1239, in request
    self._send_request(me

[2017-11-03 08:25] mazertwo commented on #453
I need to post output after update ccxt? Last version?

[2017-11-03 08:27] kroitor commented on #452
Can you try it with a proxy?

[code]

or

[code]
?

[2017-11-03 08:28] kroitor commented on #453
@mazertwo any version you have difficulties with. But, yes, possibly, the last one. Though this functionality has not changed for a long time.

[2017-11-03 08:28] mazertwo commented on #451
Last version work correctly. Thank you! Brilliance work and support!

[2017-11-03 08:38] mazertwo commented on #453
With last version:

import ccxt

kraken = ccxt.kraken()
kraken.apiKey = 'xxxxxxxxxxxxxxxxxxxxx'
kraken.secret = 'xxxxxxxxxxxxxxxxxxxxx'
kraken.enableRateLimit = True

exch1balance = kraken.fetch_balance()
print(exch1balance)
print(exch1balance['LTC']['free'])

Error:

C:\Python\python.exe C:/Users/1/Desktop/test1.py
{'info': {'XXBT': '0.0000000000', 'XETH': '0.0000000000', 'XZEC': '0.0000082500'},

[2017-11-03 08:40] mazertwo commented on #453
It happen, if you never deposit LTC or any other cruptocurrency to Kraken.
Kraken get nothing in this case. (See all fetch balance output)

[2017-11-03 08:42] mazertwo commented on #452
I have two work stations with same IP address.
On first work fine, but on second have 777 error only with binance.
Python versions and OS versions same.
Wery strange problem.

[2017-11-03 08:43] kroitor commented on #452
@mazertwo and same ccxt versions?

[2017-11-03 08:48] kroitor commented on #453
@mazertwo but... this is not an error... from [the Manual](https://github.com/ccxt/ccxt/wiki/Manual#querying-account-balance):

Basically, a missing LTC tells the user that this balance was never used before, so we can't override it or set it explicitly with any other value if Kraken does not return it. So you need to check it when you access it:

[code]

Does this answer your question?

[2017-11-03 08:48] mazertwo commented on #452
Yep.

[2017-11-03 08:51] kroitor commented on #452
@mazertwo this may be caused by their routing settings... Very strange indeed. Does any of two examples posted above work on the "problematic" station?

[2017-11-03 08:57] mazertwo commented on #452
At "probleatic" station work with herokuapp and not work with crossorigin.

[2017-11-03 09:04] mazertwo commented on #453
Yes. Thank you!
But, my opinion, better if ccxt gets 0 (zero) in cases like this (if requested cryptocurrency is supported by exchange). Its standartise ccxt fetch balance.

[2017-11-03 09:12] kroitor commented on #453
@mazertwo we had a big discussion on this...
Initially, it was not set by default, if it was missing.
Then @achievement008 came with this: https://github.com/ccxt/ccxt/issues/166
We made it 0 by default.
After that @mkutny cam with this: https://github.com/ccxt/ccxt/issues/235
We agreed and reverted it back to how it was initially (not setting it by default)...
Now we are in this post, discussing

[2017-11-03 09:15] #453 closed

[2017-11-03 09:31] mazertwo commented on #453
Ok, shure, better if balance can have 3 states: 0, !=0, and "undefined"

[2017-11-03 09:44] kroitor commented on #452
Well... It is most likely related to the way your network is set up, or Binance may be rejecting to verify their SSL certificate if you are sending your requests from two stations simultaneously. It may also depend on your router... Don't know if we can help here without actually debugging the network for you, because this is somewhat beyond the scope of the library.

Basically, this error is sayi

[2017-11-03 09:44] #452 closed

[2017-11-03 09:47] #441 closed

[2017-11-03 10:00] mazertwo commented on #452
Thank you!

[2017-11-03 14:50] zlstt commented on #444
It works! Thanks

[2017-11-03 16:05] Felipe-Mangueira opened #457 "Error with BCH withdrawal from Bitfinex"
Hi, @kroitor.

I tried to make a BCH withdrawal from Bitfinex using ccxt library, but unsuccessfully. Then I made manually on my account and it worked fine. I don't know what is happening. May you take a look at this restriction, please?

This is the verbose output from raised error:

[code]

[2017-11-03 16:29] kroitor commented on #457
Hi, @Felipe-Mangueira ! Looks like they don't support BCH withdrawals at all. Here's a list of currencies you can withdraw:

[code]

[2017-11-03 16:35] kroitor commented on #457
I'll try to add it now, we'll see if it works.

[2017-11-03 16:38] Felipe-Mangueira commented on #457
Ok, thank you @kroitor.

[2017-11-03 16:43] kroitor commented on #457
@Felipe-Mangueira can you please update to version 1.9.355 and retry the same code with BCH now? Standing by for your reply.

[2017-11-03 16:48] Felipe-Mangueira commented on #457
Sure, I'll do it and I'll reply you soon. Thanks again, @kroitor.

[2017-11-03 16:50] Fcl69 commented on #456
F$%^ Bitfinex won't do "USDT", nor "tether"
Do you happen to know which symbol I should specify for tethers?

[2017-11-03 16:59] kroitor commented on #456
@Fcl69 yeah, just one sec we will try adding USDT support. I'll get back to you with an update in 5 minutes.

[2017-11-03 17:08] kroitor commented on #456
@Fcl69 can you please try it with version 1.9.356 and `USDT`?

[2017-11-03 17:28] Fcl69 commented on #456
Hello!

Looks like it accepted the symbol:

[2017-11-03 17:31] kroitor commented on #456
@Fcl69 Yes it did, but it requires >100USD. I guess you can carry on from here. Thx!

[2017-11-03 17:54] Fcl69 commented on #320
Should I give it a try yet?

[2017-11-03 17:57] kroitor commented on #320
@Fcl69 not yet, I'll let you know soon. Still have to test it on our side. Thx for your patience!

[2017-11-03 17:58] Fcl69 commented on #320
no problem! thanks

[2017-11-03 18:22] Felipe-Mangueira commented on #457
It worked, @kroitor. Thx again.

[2017-11-03 18:22] #457 closed

[2017-11-03 18:57] Fcl69 commented on #456
I've tested the full cycle, and it worked. Thanks again!

[2017-11-03 23:46] #320 closed

[2017-11-04 00:34] kroitor commented on #320
@Fcl69 it was added in 1.9.359. Please let us know if it works for you or not (it should, we tested it locally). Thx!

[2017-11-04 05:34] Fcl69 commented on #320
I've installed .359, but it fucks up my current code in some other place: ;)

I'll try to work on it later. Will keep you posted. If you know what's up with fetch_balance() let me know, please.

[2017-11-04 05:36] kroitor commented on #320
@Fcl69 try 1.9.360. Need to see your code / verbose output to be able to tell the cause.

[2017-11-04 05:37] kroitor commented on #320
@Fcl69 does your original example from the initial post work with 1.9.360 ?

[2017-11-04 05:53] Fcl69 commented on #320
Hm....

Current code:
[code]
Result:

PS Will check withdraw() in a bit.

[2017-11-04 06:12] Fcl69 commented on #320
...had to revert back to (1.9.338) to make it work as previously.

[2017-11-04 06:39] kroitor commented on #320
Ok, it was a minor left over. Can you please update once again to 1.9.361 and retry? Both methods (`fetch_balance` and `withdraw`) should work now. Standing by to hear from you. Thx!

[2017-11-04 07:08] Ninj0r commented on #320
I would recommend you remove all the `/api/v1` signing logic. `/wapi/v1` signed endpoints use the `/api/v3` signing logic so you can remove the need the for both signing methodologies if you switch your signed calls from `/api/v1` to `/api/v3`.

Signed `/api/v1` endpoints should be considered deprecated and will be removed at some (yet to be determined) time in the future so please always use the

[2017-11-04 07:10] kroitor commented on #320
@Ninj0r thx, will migrate to v3!

[2017-11-04 10:05] nmiculinic opened #460 "HitBTCv2 async open order issue"
[code]

ccxt==1.9.341

[2017-11-04 10:07] nmiculinic opened #461 "Poloniex async Type error"
[code]

ccxt==1.9.341

[2017-11-04 11:59] nmiculinic commented on #460
issue persists in newest version

[2017-11-04 15:07] Fcl69 commented on #320
updated to .361, both method works. Withdraw successfully submitted. Thank you!

[2017-11-04 16:42] kroitor commented on #461
Hi! Poloniex fetchOpenOrders requires a symbol (it is also true for many other exchanges as well). So, in a generic case, we need to pass the symbol to that method.

[2017-11-04 16:44] #461 closed

[2017-11-04 16:46] kroitor commented on #320
@Fcl69 woohooo! )

[2017-11-04 16:47] kroitor commented on #460
Thank you for reporting this! Will fix right away!

[2017-11-04 16:58] kroitor commented on #461
Fixed in 1.9.362+. Thx again!

[2017-11-04 22:50] flesler opened #464 "Streaming/Real-time public APIs"
Are you by chance considering doing the same thing for the streaming/real-time public APIs? Namely the websockets and sockets APIs. Maybe as a different project.

There's probably less re-utilized code because it's not all HTTP but the APIs are usually just `Trades` and `OrderBook`

[2017-11-05 00:09] kroitor commented on #464
Yes, we are doing the same thing for streaming, see here:

https://github.com/ccxt/ccxt/issues/56
https://github.com/ccxt/ccxt/search?q=websocket&type=Issues&utf8=%E2%9C%93

I would close this issue as a duplicate, if you don't mind. Feel free to reopen it or ask your questions, if any. Thx!

[2017-11-05 00:09] #464 closed

[2017-11-05 00:36] #460 closed

[2017-11-05 02:21] akiyoko opened #465 "create_limit_sell_order() at YoBit returns invalid id."
ccxt (1.9.284)

In case of YoBit, create_limit_sell_order() returns invalid id like '240006290265529'.
So, the succeeding fetch_order() raises TypeError.

[code]

[code]

On the other hand, Bittrex works well.

[code]

[2017-11-05 02:24] kroitor commented on #465
Hi, @akiyoko ! Unfortunately, removed the `info` field from the output and that is important to resolve this issue, can you please paste it entirely?

[2017-11-05 03:03] kroitor commented on #465
Please turn on verbose mode and paste the output. Set `.verbose = True` on your exchange. You can remove the keys from it if you want, but apart from that please paste it unedited. More on verbose mode here: https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2017-11-05 05:30] akiyoko commented on #465
Hi, @kroitor.
Thank you for the quick response and sorry for taking up your time.
Here is a whole output.
(To be safe, keys are kept secret.)

[code]

Note: I removed some elements after ```{"server_time":1509858730,"pairs":{"ltc_btc":{...``` because of GitHub limitation...

[2017-11-05 05:32] kroitor commented on #465
@akiyoko thx! I'll fix it very soon!

[2017-11-05 07:33] #465 closed

[2017-11-05 07:40] kroitor commented on #465
This was fixed in 1.9.378. Let us know if it works for you or not, plz. Thx!

[2017-11-05 07:51] akiyoko commented on #465
ccxt (1.9.378)

Works well.
Thanks, great!!!

[2017-11-05 12:26] CptanPanic opened #466 "New Exchange: Coinbase"
Not a exhange per-se, but you can buy/sell cryptos, and  api seems similar to the GDAX one.  https://developers.coinbase.com/api/v2#introduction

Thanks.

[2017-11-05 12:31] vonpupp commented on #454
Sorry to hear that. Don't worry anyway man, ccxt rocks and we know it :)

[2017-11-05 12:38] kroitor commented on #466
Hi, @CptanPanic ! Coinbase owns GDAX. Your link points to their merchant API, which, as you noted yourself isn't an exchange in common sense. I guess, you should trade with GDAX if you want a trading service from Coinbase... Or do I miss something?

[2017-11-05 19:23] dservais opened #467 "Livecoin: BID > ASK on ETH/BTC"
Good evening,

I think there is an error on ETH/BTC pair on the livecoin market. BID offer should be lower than ASK offer

'livecoin': [0.04041, 0.03884, -0.0016]

Best regards

[2017-11-05 22:46] munrocket opened #469 "Error while building python version from source"
solved in last version.

[2017-11-05 23:10] #469 closed

[2017-11-06 05:01] kroitor commented on #467
Hi, @dservais!

After taking a deeper look into it, the problem with livecoin is a little more complicated...

[code]

There's a clear intersection in their BTC/USD orderbook as you can see from the above reply (you can check that link yourself) and from the image below...

<img width="644" alt="screen shot 2017-11-06 at 07 59 00" src="https://user-images.githubusercontent.com/1294454/32426022-600

[2017-11-06 06:48] kroitor opened #470 "Announcement: changes in fetchTrades, fetchMyTrades, fetchOrders, fetchClosedOrders, fetchOpenOrders"
Hi, everyone!

The above methods have been changed and their signatures were transformed from

[code]

to

[code]

New `since` and `limit` params were added. These params are mostly obvious but we will soon document them in the Manual as well. These new params were just added so they may not work here and there right away, but we will debug all related issues anyway. Feel free to report if you hav