[2018-01-08 01:30] Bomper commented on #466
@blak3r: I'm working on such a dashboard. Have you seen existing work?

[2018-01-08 01:34] Bomper opened #1120 "How to get all your trades on Binance fast"
Does anyone know if there's a way to get all your trades on Binance, given that [their API forces you to get those trades *by symbol*](https://github.com/binance-exchange/binance-official-api-docs/pull/6)? What if you don't remember all the symbols you've traded? Do you have to do a for loop for all the symbols? That's what I'm doing in [my Binance fetchMyTrades](https://github.com/ccxt/ccxt/pull/

[2018-01-08 01:42] blak3r commented on #466
@Bomper see https://github.com/blak3r/crypto-balance it does a bit more than the README example shows.  It pulls transactions from coinbase to calculate your investment amount and get coin balance using the coinbase api.

[2018-01-08 07:16] kroitor commented on #1120
Unfortunately, there isn't such a way... Binance is limiting "wide/big queries", because their goal is to reduce loads, of course. Most exchanges will sacrifice convenience for speed. We have to adjust to that.

You can filter by non-zero balances, or by changed/unchanged balances. But that requires keeping track of balances in the first place.

If you don't keep track of them, then, yes, you have

[2018-01-08 07:22] Bomper commented on #1120
I have a few trades now and it's taking a long while, but for others who have many trades, it could take longer? Anyway, looks like the sample I wrote is the best that can be done with Binance, CC @blak3r

[2018-01-08 07:22] #1120 closed

[2018-01-08 09:27] Tsuihao commented on #456
Hi all,

Just wanna ask, I faced problem when I trying to withdraw at "Kraken".
I obtained the following message
`Kraken requires 'key' to withdraw`.

Is this 'key' referring to: **1**. 2-factor authentication **2**. apiKey or **3**. secretKey
I have checked [Manual](https://github.com/ccxt/ccxt/wiki/Manual#withdraw)
However, there is no clearly state which information do the 'key' referring to.

[2018-01-08 09:48] kroitor commented on #456
@Tsuihao can you show the code and verbose output? (set .verbose = true on the exchange, then call withdraw)

[2018-01-08 09:53] Tsuihao commented on #456
@kroitor,

verbose set.
And here is the output

![image](https://user-images.githubusercontent.com/16992390/34665882-2bb84a6e-f462-11e7-97d7-5c2bd710c942.png)

[2018-01-08 10:09] kroitor commented on #456
@Tsuihao this is either your withdrawal address name or withdrawal address (often set to the same value):

![kraken-withdraw](https://user-images.githubusercontent.com/1294454/34666379-1e894c18-f475-11e7-8282-6bcdc67a7201.jpg)

[2018-01-08 10:10] Tsuihao commented on #456
@kroitor, Thanks for the info.
I will test and report to you.

[2018-01-08 11:16] nmiculinic opened #1123 "Bitfinex returns negative balance"
Biftinex returns negative balance.

- OS: Linux protagonist 4.14.5-1-ARCH #1 SMP PREEMPT Sun Dec 10 14:50:30 UTC 2017 x86_64 GNU/Linux
- Programming Language: python
- CCXT version: 1.10.593
- Exchange: Bitfinex
- Method: fetch_balance

Reproduction requires private API keys.

From info field:
[code]

which goes to
[code]

after ccxt mangling.

This is definitely a bug on Bitfinex side...I'm not s

[2018-01-08 11:18] kroitor commented on #1123
More questions than comments ) Do you margin-trade there?

[2018-01-08 11:19] nmiculinic commented on #1123
Nope

[2018-01-08 11:20] kroitor commented on #1123
@nmiculinic is here any chance to check if the tradelog sums to a negative total on that asset? Or it would be too hard at this point?

[2018-01-08 11:22] nmiculinic commented on #1123
It's a bit too hard since there was a lot of trades, and ccxt doesn't do history pagination yet (plus bitfinex is stingy with limits).

[2018-01-08 11:25] kroitor commented on #1123
@nmiculinic ok, we will investigate into this as far as we can, will try to get a negative on our balance ))

[2018-01-08 12:17] dmitriz commented on #773
I also had this issue and here is what I found that might be helpful to others coming here:

- The reason was the wrong timezone. I was traveling but did not change the timezone. After the change it worked.

- The other proposed solution to add `{'recvWindow': 10000000}` did not solve the problem for me. According to the Binance API logic described in  https://github.com/binance-exchange/binance-o

[2018-01-08 13:09] amitkot commented on #345
@kroitor Complete snippet:
[code]

Why not close the default aio loop at the end of the program?

Thanks!

[2018-01-08 13:27] mkutny commented on #1123
Some time ago I've got a similar issue. I saw a negative amount via their UI but haven't come up with an idea to check what would ccxt return.

I'm not sure we need to `max(0, amount)` though. The balance *is* negative. We need to reflect the reality to users even if we don't like it.

[2018-01-08 15:03] ulkas opened #1124 "New Exchange: Bit-Z"
please consider adding this exchange:
https://www.bit-z.com/

api : https://www.bit-z.com/api.html

[2018-01-08 15:04] #1124 closed

[2018-01-08 15:04] ulkas commented on #1124
https://github.com/ccxt/ccxt/issues/860

[2018-01-08 16:01] Deathamns commented on #860
Started working on it.

[2018-01-08 16:01] Deathamns commented on #677
Started working on it.

[2018-01-08 18:07] fferri commented on #878
Anyway, is there some exchange offering historical data for market cap? What is the API for that?

[2018-01-08 19:52] kroitor commented on #860
@Deathamns respect!

[2018-01-08 20:27] TJett commented on #1024
I'm having the same issue with GDAX when filling in the key/secret/password in some of the examples.

[2018-01-08 20:54] serul opened #1128 "3 new exchanges (Yobit, coinexchange, bibox)"
Amazing project guys!!!
Please consider the following (very hot and upcoming, but also established) exchanges:

https://github.com/Biboxcom/api_reference/wiki/home_en
http://coinexchangeio.github.io/slate/
https://www.yobit.net/en/api/

[2018-01-08 22:58] kroitor commented on #773
- https://github.com/ccxt/ccxt/issues/936#issuecomment-353774479
- https://github.com/ccxt/ccxt/issues/850#issuecomment-353774447

[2018-01-08 23:02] Kamtsa opened #1130 "Bithumb 'easy trade' feature (specify amounts in quote currency)"
This is not a bug, but either an enhancement request, or soliciting ideas for a work-around with current code. Some of the technical information should come from the exchange (Bithumb), but I hope someone here already knows. I could possibly ask Bithumb support for a minimal working example (like a curl snippet) if that would help, but unsure they'll understand.

The current function _create_marke

[2018-01-08 23:03] kroitor commented on #1128
Hi, @serul!

- yobit is already supported )
- coinexchangeio is also almost there: https://github.com/ccxt/ccxt/pull/1125
- will look at biboxcom, but it does not look like an exchange at all

Thx!

[2018-01-08 23:03] #1128 closed

[2018-01-08 23:07] kroitor commented on #1123
I would agree with @mkutny here, it's obviously coming from their API, and we would not want to change values implicitly. I would suggest to account for that in logic, as we most likely cannot workaround this in the lib, better leave it for the user to decide. Closing this for now, until we have some followup on this. Feel free to reopen it if needed, or just continue posting here, we will be happ

[2018-01-08 23:07] #1123 closed

[2018-01-08 23:54] kroitor commented on #1024
@TJett you should be using the passphrase used for creating the keys, not the user password. More about it here: https://github.com/ccxt/ccxt/issues/24#issuecomment-355785724

[2018-01-09 01:24] evgen-y2k commented on #1099
Hello.
Yes, you right. No more questions.
Thank you for the replay.

[2018-01-09 03:22] danricho commented on #1086
+1

[2018-01-09 05:35] kroitor commented on #942
Merged in 1.10.598. Thank you!

[2018-01-09 05:35] #942 closed

[2018-01-09 06:13] speggos opened #1131 "Hitbtc getDepositAddress and createDepositAddress in python error & fix"
In your python library, file hitbtc2.py, in methods fetch_deposit_address and create_deposit_address you called a function that doesn't exist.

You wanted to call this function:
currencyId = self.common_currency_code(currency)

Instead you called:
currencyId = self.currencyId(currency)

Very small fix, don't know how to fix this myself (except locally) but it's a 2 line fix. Works fine once you ch

[2018-01-09 06:18] #1131 closed

[2018-01-09 07:10] kroitor commented on #1131
Fixed in 1.10.599, thank you!

[2018-01-09 08:21] cointime opened #1132 "Missing method fetch_order in huobipro"
fetch_order() is not implemented yet for exchange huobipro. We need this method to track the order status. huobipro exchange does support this method: GET /v1/order/orders/{order-id}.
Can you implement this method in the next release?

- OS: Win10
- Programming Language: python
- CCXT version: 1.10.599
- Exchange: huobipro
- Method: fetch_order

[code]

[2018-01-09 10:56] jjhesk opened #1134 "New Exchange: Bisq"
api doc: https://markets.bisq.network/api/

address: N/A
company: bisq foundation
type: decentralised ex

note: I think sooner or later. this platform will coming more popular as people tend to use decentralize exchange platforms. Currently working with the api and its doc followed by [this conversations](https://bisq.community/t/is-there-a-any-restful-api/4350/3). This project is under beta testi

[2018-01-09 11:06] kroitor commented on #1134
Yes, we will integrate it.

[2018-01-09 11:07] jjhesk commented on #1134
yes, so this is the answer. I think bisq itself should have a new struct or an interface for it because more poeple will run its own on their machine.

[2018-01-09 11:07] kroitor commented on #1132
Yes, we can, however, we've got a lot of tasks already, so, your contributions are welcome!
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

[2018-01-09 11:37] mkutny commented on #961
Having that enabled for all methods might be dangerous. Consider your `await createOrder()` is hanging for a while (it might be hours) because ccxt makes retries internally. Market conditions may change. You probably will not want it.

And this one is a good idea!

[2018-01-09 11:42] kroitor commented on #961
This is a very significant argument against a retry on mission-critical calls. Very true.

[2018-01-09 11:58] kroitor commented on #1132
@cointime in the meantime you can use the Huobi's custom API which is implemented in ccxt, by doing this:

[code]

Hope it helps.

[2018-01-09 11:58] #1132 closed

[2018-01-09 13:10] itexname opened #1136 "TypeError: unsupported operand type(s) for /: 'str' and 'int' in"
Сории, что пишу на русском. При запросе сделок на бирже Йобит, а может и еще где, возвращается ответ, в котором ответ timestamp в кавычках, соотвественно это строковый тип.
В файле liqui.py, в методе parse_trade(), timestamp = trade['timestamp'] * 1000.
Соотвественно строка увеличивается в тысячу строк и дальше в неправильно обрабатиывается в различных функциях.
Временно решил явным преобразование

[2018-01-09 13:15] cointime commented on #1132
Thanks!

[2018-01-09 13:22] #1136 closed

[2018-01-09 14:01] kroitor commented on #1136
Спасибо за репорт, исправлено в версии 1.10.612.

[2018-01-09 14:08] jjhesk opened #1138 "method for simple summary of the market"
is there a simple method call for the current BTC/USD price averaging from all platforms? i think it is quite important.

[2018-01-09 14:09] mmehrle opened #1139 "CEX in Python 2 [SSL: TLSV1_ALERT_PROTOCOL_VERSION]"
- OS: OS.X 10.11.4
- Programming Language: python
- CCXT version: 1.10.503
- Exchange: cex
- Method: exchange.load_markets()

[code]

Error: ccxt.base.errors.ExchangeNotAvailable: cex GET https://cex.io/api/currency_limits/ HTTPSConnectionPool(host='cex.io', port=443): Max retries exceeded with url: /api/currency_limits/ (Caused by SSLError(SSLError(1, u'[SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 a

[2018-01-09 14:12] kroitor commented on #1139
This is fixed in most current version of CCXT, please update and retry once again. Feel free to reopen it or just ask questions if you still have difficulties with it after that. Thx!

[2018-01-09 14:14] kroitor commented on #1138
Currently, there is no such method. All methods are described here: https://github.com/kroitor/ccxt/wiki/Manual

It is, but implementing it would require a trading platform + db + a serious infrastructure. This is beyond the scope of this library and we let the user decide on that. Hope it answers your question. Thx!

[2018-01-09 14:14] #1138 closed

[2018-01-09 14:15] jjhesk commented on #1138
ok. its a fair answer.

[2018-01-09 14:17] mmehrle commented on #1139
Sorry about that! Thanks again for the almost instant response 👍

[2018-01-09 14:19] kroitor commented on #1139
@mmehrle we will be happy if you report back whether it works normally for you or not. Thx!

[2018-01-09 14:23] mmehrle commented on #1139
Hey guys - sorry for being the bearer of bad news but I'm still getting the same error:
`
CCXT version: 1.10.614
market id: cex
Traceback (most recent call last):
  File "/Users/xxx/crypto_dev/ccxt_query_exchange.py", line 100, in <module>
    sys.exit(main(sys.argv))
  File "/Users/xxx/crypto_dev/ccxt_query_exchange.py", line 24, in main
    print_market_overview(argv)
  File "/Users/xxx/crypto_d

[2018-01-09 14:30] kroitor commented on #1139
Ok, we will look into it and will get back to you with an update on this. Thx!

[2018-01-09 14:37] kroitor commented on #1139
Can you report your version of OpenSSL ? `python -c "import ssl; print(ssl.OPENSSL_VERSION)"` ?

[2018-01-09 14:57] TJett commented on #1024
I’m using the generated passphrase. My api key works with gdax’s example python code, but not with the example/py code from ccxt.
I getting an invalid api key error, not the exact same error @tandazhi is reporting (but similar, because his error roughly translates to "Verification does not pass")
Since my issue is with gdax, should I open a different issue/question? I don't want to hijack an issue

[2018-01-09 15:04] kroitor commented on #1024
@TJett yes, if you can, please open a new one, but make sure to include your code (so that I could copypaste it) and verbose output, as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-01-09 15:16] TJett commented on #1024
I apologize, I didn't realize I needed to create a separate sandbox account/keys to be able to use the api similarly to the examples. Everything works fine on the main platform.

[2018-01-09 15:17] kroitor commented on #1024
@TJett ok, no worries, glad you figured it out. Thx for reporting back!

[2018-01-09 15:58] flesler opened #1143 "Kucoin module present but not imported into the ccxt module"
Hi, I'm checking the current version and I see there's a kucoin js module but is not included. Is that because it's still unstable or just a slip up?

[2018-01-09 15:59] kroitor commented on #1143
Not included? https://github.com/ccxt/ccxt/blob/master/ccxt.js#L111

[2018-01-09 17:59] MarkLuds opened #1147 "load markets for poloniex returns the base BTM as bitmark"
Hi,

This is a really well put together library. I love it. So first of all thanks for that, will definitely be doing some sort of supporting/backing this.
So...
This method is currently returning bitmark as the name not the code i.e:
[Bitmark/BTC]
the base is also returned as Bitmark

- OS:
- Programming Language: PHP
- CCXT version:  Not sure where to find this. downloaded around 01/01/2018
- Ex

[2018-01-09 18:14] flesler commented on #1143
My bad! Had a repo with mixed files, sorry!

[2018-01-09 18:14] #1143 closed

[2018-01-09 19:11] mmehrle commented on #1139
Hey kroitor - good idea but I seem to be sufficiently secure shelled ;-)

OpenSSL 1.0.2k  26 Jan 2017

[2018-01-09 21:14] agroszer opened #1150 "bitstamp: rather use v2/xrp_withdrawal for XRP withdrawal"
ripple_withdrawal craps out with
[code]
[code]

- OS: ubuntu
- Programming Language: python 2.7
- CCXT version: 1.10.621
- Exchange: bitstamp
- Method: withdraw

[2018-01-09 21:47] mmehrle commented on #1139
Actually that was it - I added it to my script which was run out of PyCharm and got this:

CCXT version: 1.10.614
SSL versionOpenSSL 0.9.8zh 14 Jan 2016

For some strange reason I'm unable to upgrade to a higher version. Right out of the virtual env directory I'm using for my PyCharm project:

/Users/xxx/quant-2.7/bin
MBP:bin xxx$ ./python -c "import ssl; print(ssl.OPENSSL_VERSION)"
OpenSSL 0.9.8z

[2018-01-09 22:30] mohammadwillwin opened #1152 "UUID_INVALID (PHP & Bittrex)"
Trying to get my orders from Bittrex. Tried creating a fresh new API key with the required permissions enabled, but I still get UUIID_INVALID. Tried even changing the symbols to none, ETH/BTC and BTC/ETH but still no luck.

I hid my secret key from the code, by the way.

- OS: Windows 10
- Programming Language: PHP
- CCXT version: 1.10.621
- Exchange: Bittrex
- Method: fetch_order

[code]

[2018-01-09 22:34] mmehrle commented on #1139
Okay, problem solved and ignore the above. I was using one of PyCharms 2.7.10 virtual environments which I had a hard time upgrading. Linked it with a virtual env based on 2.7.13 which runs ssl 1.0.2l - works like a charm now.

[2018-01-09 22:34] #1139 closed

[2018-01-09 22:35] kroitor commented on #1152
Use fetchOpenOrders, fetchClosedOrders instead of fetchOrder. The fetchOrder method, that you are calling is for fetching a single order by id.

https://github.com/ccxt/ccxt/wiki/Manual#querying-orders

[2018-01-09 22:35] #1152 closed

[2018-01-09 22:38] kroitor commented on #1147
Hi!

BTM is the code for Bytom (HitBTC and coinmarketcap). Poloniex has a different token under that same standard code. BTM on Poloniex is Bitmark.

- https://github.com/ccxt/ccxt/issues/348 ← explained here
- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids
- https://github.com/ccxt/ccxt/wiki/Manual#naming-consistency

Hope it helps.

[2018-01-09 22:38] #1147 closed

[2018-01-09 22:40] kroitor commented on #1150
It's is fixed in one of the pull-requests, and we are going to merge it soon: https://github.com/ccxt/ccxt/pull/1041

[2018-01-09 22:40] #1150 closed

[2018-01-09 22:42] mohammadwillwin commented on #1152
Thank you.

For some reason, it doesn't get my full order for a coin?

This is my code:
`print_r($bittrex->fetchClosedOrders('ADA/BTC'));`

result:
`Array
(
)
`

Bittrex order history of that coin:
https://i.imgur.com/vynjMr2.png

[2018-01-09 22:42] mohammadwillwin commented on #1152
It did get my current open order on that coin with fetchOpenOrders though, nothing else.

[2018-01-09 22:46] kroitor commented on #1152
`fetchOpenOrders()` does not return a single order it returns multiple order**s**, all of your currently open orders (many of them). There is no such thing as "full order" there.

[2018-01-09 22:47] mohammadwillwin commented on #1152
Yes but fetchClosedOrders doesn't return anything, why?

[2018-01-09 22:48] kroitor commented on #1152
@mohammadwillwin because you don't have closed orders?

[2018-01-09 22:48] mohammadwillwin commented on #1152
Hmm, what about finished orders?

[2018-01-09 22:49] kroitor commented on #1152
@mohammadwillwin closed == filled == finished. Just read the Manual first in order to understand it.

[2018-01-09 22:53] mohammadwillwin commented on #1152
uh alright. I'll re-read it, thank you.

[2018-01-10 01:30] kroitor commented on #1139
@mmehrle thanks for reporting back!

[2018-01-10 07:30] agroszer commented on #1150
thanks!

[2018-01-10 07:56] eduluz1976 opened #1157 "Typo on Quadrigacx.php (line 62)"
Hi everyone,
I've noted that have an typo on **quadrigacx.php**:

- OS: CentOS
- Programming Language: PHP
- CCXT version: 1.10.627
- Exchange: quadrigacx
- Method: describe

Instead

[code]

should be:

[code]

[2018-01-10 07:59] #1157 closed

[2018-01-10 08:07] kroitor commented on #1157
Hi! Good catch! Thank you for reporting it! This is now fixed in version 1.10.628.

[2018-01-10 08:30] haozi3156666 opened #1159 "New Exchange: Big.one"
big.one is a new cryptocurrency exchange created by li xiaolai who is the richest man in bitcoin, Its predecessor was the yunbi.com, can you add it to this library. here is the official link: [big.one](https://big.one/), and it's developer documentation is [documentation](https://developer.big.one/).

thanks

[2018-01-10 08:37] Deathamns opened #1160 "precision defaults"
I run into exchanges that fail to execute `exchange.{price,amount,cost}ToPrecision` methods, because they don't have precision values set (bitbay, bitfinex2...). Would it be sensible to provide default values for the precision object in the base class (8 seems to be common), or maybe better, adding a new argument for these methods for default precision?

[2018-01-10 08:59] Deathamns opened #1161 "currency() when there's no fetchCurrencies"
`exchange.currency(code)['id']` returns incorrect id for exchanges that don't have `fetchCurrencies` implementation and have ambiguous currency names.

[code]

[2018-01-10 09:03] kroitor commented on #1161
Are you sure you're not confusing the purpose of those functions?

- `currencyId()` is for fetching the currency *id* by currency *code* (your second line)
- `commonCurrencyCode()` is for converting exchange-specific currency *code* to a common currency *code* (it does not return ids at all).

Does this answer your question? )

[2018-01-10 09:06] Deathamns commented on #1161
Probably I wasn't clear enough.

[code]
The id there should be `BCC`.

[2018-01-10 09:10] #1161 closed

[2018-01-10 09:26] kroitor commented on #1161
As always, thanks for your help, fixed in 1.10.629.

[2018-01-10 12:04] mkutny commented on #1160
A lot of people will appreciate if you submit PRs with explicit precisions for the exchanges you have issues with )

[2018-01-10 12:17] Deathamns commented on #1160
Well, I'm also a member of those "lot of people", so you're PRs are welcome as well.
But, I was doing something that didn't require precise calculations looping through all exchanges, and some defaults could have been saner option in that case, than going to every exchange and hunting precision numbers.

@kroitor
Anyway, as a workaround, I filled the `precision` property for the exchanges which di

[2018-01-10 12:28] mkutny commented on #1160
I've just seen you contributed to this library a lot, that's why my comment. Didn't want want to insult you in any way, sorry for that!

[2018-01-10 12:36] Deathamns commented on #1160
@mkutny Relax, I was smiling while writing my first sentence. I just don't use emoticons, so it may seem a bit raw.

[2018-01-10 12:43] Kamtsa commented on #1130
To give some more background on this: I'm using a poor work around by 'predicting' the amount in BTC to buy, in order to end up (close to) the amount of KRW originally intended. This is much less accurate than the manual web interface, that allows to enter the desired amount up to the Won (1 KRW ca 0.001 USD!).

The problem in using ccxt to access Bithumb' API is the rounding applied to the BTC no

[2018-01-10 12:55] HiddenFox opened #1167 "[Python][Kucoin] Got an exception while calling fetch_balance of kucoin."
- OS: win7
- Programming Language: python
- CCXT version: 1.10.631
- Exchange: Kucoin
- Method: fetch_balance

[code]
Traceback (most recent call last):
  File "E:/workspace/python/crypto-arbitrage/check_balance.py", line 15, in <module>
    balance = kucoin.fetch_balance()
  File "E:\workspace\python\envs\py2env\lib\site-packages\ccxt\kucoin.py", line 261, in fetch_balance
    }, params))
  File

[2018-01-10 13:41] mmehrle opened #1168 "BitFlyer prints strange symbols"
PASTE_YOUR_TEXT_DESCRIPTION_HERE

- OS: iOS
- Programming Language: python
- CCXT version: 1.10.621
- Exchange: bitflyer
- Method:

[code]

[2018-01-10 15:23] vtllr opened #1169 "Get full orders history for Binance, Bittrex and Bitfinex"
Hi guys,

I'm trying to get all past orders of my accounts on Binance, Bittrex and Bitfinex but I failed to have a clean and simple solution.
- Bittrex: I have only 10 trades from bittrex.accountGetOrderhistory but I have way more from my account. (fetchOrders gives me an infinite loop ...)
- Binance / Bitfinex: fetchOrders not working without a symbol but I want all of them.

Am I doing something

[2018-01-10 16:20] dpreilan opened #1170 "php nonce override - help"
Poloniex and nonce issues

- OS: centos
- Programming Language: php
- CCXT version: latest
- Exchange: poloniex
- Method: all

seeing issues with poloniex that i couldn't reproduce with other php library. I narrowed it down to nonce() and if I replace poloniex's nonce with something that uses usecs, the resolves the problem.

Now, how to fix w/o hacking ccxt code. My app uses exchanges generically

[2018-01-10 16:51] slideup-benni opened #1171 "Bitcoin Gold and Nimiq on Coinmarketcap not found"
Hello,

i have a problem, when i try to get the current price for bitcoin gold and nimiq.
When i call `fetch_ticker` i get Bitgem and NetCoin. It seems this is the same problem as https://github.com/ccxt/ccxt/issues/348 , https://github.com/ccxt/ccxt/issues/1147 and
https://github.com/ccxt/ccxt/issues/867

At this moment there are 1398 currencys listed on coinmarketcap. I think name overlappings a

[2018-01-10 17:41] mohammadwillwin opened #1172 "Error fetching orders from Cryptopia"
Tried to get my order history from Cryptopia on a symbol that existed on their website "XVG/BTC". Getting my available balance works, but fetching orders don't. It only works when I fetch orders on a market I never did eg. XRP/BTC.

I hid my API & secret key from the code,.

- OS: Windows 10
- Programming Language: PHP
- CCXT version: 1.10.621
- Exchange: Cryptopia
- Method: fetchOrders

[code]

[

[2018-01-10 17:46] mohammadwillwin commented on #1172
Just tried again and this time the error didn't show, but it only showed an empty array.

Tried again then the same error came.

[2018-01-10 18:45] thiagodl commented on #1086
Thanks a lot.

[2018-01-10 21:48] kroitor commented on #1167
https://github.com/ccxt/ccxt/wiki#troubleshooting

[2018-01-10 21:48] #1167 closed

[2018-01-10 21:50] kroitor commented on #1168
Nothing strange about them, some symbols can stand for futures and options. Hope it answers your question.

[2018-01-10 21:50] #1168 closed

[2018-01-10 21:54] kroitor commented on #1169
Can you show a short but a complete snippet of code with fetchOrders that I can copypaste to reproduce your problem?

- Bitfinex does not have fetchOrders. It has fetchClosedOrders and fetchOpenOrders, both should work if you omit the symbol argument.
- Binance won't allow to fetch them all at once, you have to iterate over your symbols

Without seeing your code it's hard to tell.

[2018-01-10 22:45] kroitor commented on #1170
Have you tried creating a new key and then call poloniex without a nonce override?

[2018-01-10 22:48] #1170 closed

[2018-01-10 23:04] #943 closed

[2018-01-11 00:05] holographix commented on #1011
Hi @kroitor,
Thx for your stellar job on this amazing lib.
I'm facing the same issue like @vitoo, so I was wondering if you have any workaround to fetch the price of the symbol at the time of the order, when you bought market?
Because atm if I place a market buy, I don't have any way to know what is the real price to which the symbol has been bought.

[2018-01-11 00:08] kroitor commented on #1011
@holographix hi!

You should call `fetchMyTrades()` to find the actual filling price for a market order (it can be filled with multiple trades each having its own price due to price/volume distributions in the order book). You can consider this not a *workaround*, but a *generic way* to fetch your historical prices. I hope it answers your question.

[2018-01-11 00:15] vitoo commented on #1011
As a workaround i use the last price as average price (just after i set my order)

[code]

[2018-01-11 00:18] holographix commented on #1011
hey thanks to both of you. I think I'll stick to the fetchMyTrades() solution, since I really need to get the exact price of the transaction, since I gotta make some calculations on top of it, but thank you so much for your superquick reply.

[2018-01-11 00:18] kroitor commented on #1011
@vitoo it's a very risky workaround, you risk getting a foreign order price (not yours).

[2018-01-11 00:24] holographix commented on #1011
I can confirm that this works, and solves my problem.
Nevertheless it would be way more convenient if Binance could give this data in the callback of the buy method.
Hope they implement it in the near future, until then, this is my way to go!

Thanks again.

[2018-01-11 00:25] vitoo commented on #1011
But if there is many trades for 1 order, you have to filter them with order id so

[2018-01-11 02:19] jlheidecker opened #1174 "publicGetExchangeInfo() method not defined"
I see "publicGetExchangeInfo()" called in several files, including binance.php. But I don't see that method defined anywhere...
how is this call supposed to work without it being defined anywhere?

[code]

[2018-01-11 02:21] kroitor commented on #1174
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#implicit-api-methods

[2018-01-11 02:21] #1174 closed

[2018-01-11 03:55] fredfortier opened #1175 "fetch_order() order from Binance gives the limit price instead of the executed price"
I noticed this discrepancy in context of this issue: https://github.com/enigmampc/catalyst/issues/151.

Basically, I'm doing a fetch_order() on a filled order to determine the avg executed price. However, the `price` attribute corresponds to the limit price. I don't see this data in the `info` dict either. Let me know if you are already aware of this. If not, I'll do a PR to fix it.
![screenshot 2

[2018-01-11 05:33] kroitor commented on #1175
Hi! Thanks for opening this issue. Let me explain...

You can't really do it consistently. Approx 60% of exchanges will return the filling price or average price from order APIs, but the other exchanges, including some major ones like (Binance and HitBTC) won't return the filling info (cost and fee) for the order. Some of them (a significant count, like Cryptopia) don't have neither fetchOrder, no

[2018-01-11 07:21] HiddenFox commented on #1167
1. I tried binance.fetch_balance(). It works well.
2. I regenerated another kucoin API key pair. It does not work.
3. I run the python script on another win7 pc. It works well.
4. I tried ccxt 1.10.637 in both python 2.7 and python 3 environments. None of them work.
5. I debuged the program. When the program request the url "https://api.kucoin.com/v1/account/balance?limit=20&page=1 ", the response

[2018-01-11 07:34] kroitor commented on #1167
I've created a new testing key and tried fetching the balance (which is zero on that account), report if it works for you or not with that key:

[code]

Does this exact code work for you?

[2018-01-11 07:37] HiddenFox commented on #1167
Got the same error on both python 2.7 and 3.5

[2018-01-11 07:40] kroitor commented on #1167
@HiddenFox ok, this is most likely due to clock unsynchronization or a different timezone. Can you set your system clock to UTC and synchronize it with an online timeserver, then retry again?

[2018-01-11 07:40] HiddenFox commented on #1167
I realized it could be the time setting of my computer. Then I synced the system time. It works.
Thanks for your help kroitor!

[2018-01-11 07:40] kroitor commented on #1167
Yep, wrote that simultaneously )

[2018-01-11 08:25] any1one opened #1177 "Binance fetch_tickers now using /BookTicker"
Hi,
In this commit :
https://github.com/ccxt/ccxt/commit/d16430ab452fe46cf3b4d1a8b2c13173d5bb52fa#diff-fca6a36dd2b907e9a5d03ff5598659b9

A change has been made to use /BookTicker instead of /24hr for fetching tickers.
Is there a specific reason ? Because /BookTicker returns a lot less informations, it doesn't even returns the last price.

So now if i wan't to fetch all the last prices for all tick

[2018-01-11 08:49] any1one commented on #1177
After reading the binance docs, i get the reason.
but still, if we could have a way to force the use of /24hr in order to get all the data, it could be useful, at least it makes sense to me :)
Thx.

[2018-01-11 08:56] kroitor commented on #1177
Hi!

No you don't, all endpoints still work:

[code]

Let me know if this helps.

[2018-01-11 09:04] any1one commented on #1177
My comment wasn't clear i think. There's no problem fetching all the data, your sample is a good exemple.
What's bugging me is that my goal was to make a unified method to get all data from different exchanges with the same method, but with this change i have to make a specific logic for binance.

My suggestion would have been to introduce a parameter like forceFullData to fetch_tickers, would tha

[2018-01-11 09:08] #1171 closed

[2018-01-11 09:09] rannirabadi commented on #1084
Hi,

Did you work this out? I was about to start trading with okex.

[2018-01-11 09:22] kroitor commented on #1177
@any1one do you think adding that flag to the method signature would be necessary for all exchanges, even though this particular issue is specific to Binance? I would rather add an exchange-specific flag like `binance = ccxt.binance ({'fetchFullTickers': True})`. It would enable the other endpoint for Binance's fetchTickers, and for the rest of exchanges it would do nothing. How does that sound?

[2018-01-11 09:34] any1one commented on #1177
The exchange-specific flag is a good idea, but i don't know if this is specific to binance. The same issue could happen for another exchange. It's still a better option that mine :)

In my case, either the exchange-specific flag or the `fetchFullTickers` would work for me, as i can make it generic enough to reuse my code across all exchanges.

[2018-01-11 09:52] bakman2 commented on #1170
@kroitor could you perhaps add an example for PHP in the manual ? I am confused how to call nonce defined in the extended class. I have the same issue for poloniex.

[2018-01-11 09:52] kroitor commented on #1170
@bakman2 it's already there: https://github.com/ccxt/ccxt/wiki/Manual#overriding-the-nonce

[2018-01-11 10:02] bakman2 commented on #1170
I see you don't have to call it, just extend it, makes sense. (still didn't work though ;))

I previous used an PHP API example for Poloniex that did:
[code]
Which worked. I will try to get this in the extend.

[2018-01-11 10:06] kroitor commented on #1170
I would not recommend this. I would recommend to create a new key and don't redefine the nonce at all.

[2018-01-11 10:09] bakman2 commented on #1170
You are right, a new key works. This is weird. Poloniex remember the first API call or how does this work ?

[2018-01-11 10:13] kroitor commented on #1170
They remember the nonce.
- https://github.com/ccxt/ccxt/wiki/Manual#authentication
If you already used your key with a nonce, the next nonce should be greater than the previous. If you used your key with some other script, your nonce will be set by that script. With a new key you have the nonce reset. Therefore there is no conflict. In ccxt the nonce for poloniex is the UTC timestamp in millisecon

[2018-01-11 10:31] neuhaus opened #1179 "Unified "active" attribute not documented"
Is loadMarkets() considered to be part of the unified API?

I noticed that there is no standard attribute for the status of a currency pair, there's only the information in the results' `info` property which varies (I've seen `status`, `disabled`, `active`, ...).

It would be handy to have a unified status attribute that shows if the currency pair can currently be traded.

[2018-01-11 10:47] kroitor commented on #1179
Yes: https://github.com/kroitor/ccxt/wiki/Manual#markets

1. We have this standard:
  - `exchange.markets[symbol]['active'] = true/false`  // can or cannot trade
  - `exchange.currencies[code]['active'] = true/false`  // can or cannot deposit and withdraw

2. If you don't find any of these ↑ – that is because the library is a work in progress, some of that info might still be missing, we are worki

[2018-01-11 11:26] neuhaus commented on #1179
It does, thanks for the great response.
But it raises another issue: The "active" flag is not documented in the manual.
I'm changing the headline of this issue to the documentation issue.

[2018-01-11 11:29] kroitor commented on #1179
The documentation is also under development. The source of all docs is in the wiki folder of this repo. Those are also editable, you can change them and add missing info where you think it is necessary. Your contributions to the docs (based on your experience using the library) are welcome as well ;) I would close this issue for now, if you don't mind.

[2018-01-11 11:47] slideup-benni commented on #1171
Thank you very much 😄

[2018-01-11 11:48] kroitor commented on #1171
@slideup-benni thank you for reporting!

[2018-01-11 11:52] mkutny commented on #1177
My 2 cents, if you care )

From the unification perspective, I'd say it should be quite opposite. As binance has lighter and faster alternative for full-fledged ticker as we know it, I'd rather create `fetchLightTicker()` (or `fetchBidAsk()`) for it.

Also, as I understand them, tickers are not for real-time trading, they are for general market discovery, something similar to what coinmarketcap pr

[2018-01-11 11:55] kroitor commented on #1177
@mkutny added fetchFullTickers() method in 1.10.641 %) We might add fetchPrices later as well, however, there's a slight difference between the `'last'` price of a ticker (last trade) and `'bid/ask'` prices. This seems very Binance-specific for now, but we can still consider changing it if we encounter more exchanges with those limitations in future. I would close this for now. Thanks! )

[2018-01-11 11:55] #1177 closed

[2018-01-11 12:14] #1179 closed

[2018-01-11 12:17] vitoo commented on #1011
Simple solution to get the average price
[code]

[2018-01-11 12:18] kroitor commented on #1011
@vitoo thank you! I'm sure this snippet will be of help to the community!

[2018-01-11 12:19] kroitor commented on #1175
A snippet on the same issue: https://github.com/ccxt/ccxt/issues/1011#issuecomment-356917809

[2018-01-11 12:29] mkutny commented on #1177
That's true... Now see, how counter-intuitive this approach of handling this outlier.

- was (consistent naming): `fetchTickers` <=> `fetchTicker`(except binance)
- now (inconsistent naming): `fetchFullTickers` <=> `fetchTicker`

Now I have a logic like that in my code:
[code]

Now I have to switch it to
[code]
so it's a bit breaking change. Moreover, this change now requires adding `hasFullTicker

[2018-01-11 12:42] kroitor commented on #1177
Do you really have to? ) I mean, if you were ok with that code, you can still use it as is, the added change should not break it. It was not a replacement, more like an addition to the standard set if you like (the goal is to be as light on rate-limit as possible).

However, if you prefer the full info, then in fact you have the point, but then this also boils down to a *break old fetchTickers for

[2018-01-11 14:33] lechengyu commented on #1024
Using nodejs and facing the same issue,  I checked the code in ZB.js, found that something wrong with the code in it , I will try to fix it and make a pull request later.

[2018-01-11 14:49] kroitor commented on #1024
@lechengyu thx! make sure to read this: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

[2018-01-11 14:52] g666nz opened #1191 "JavaScript heap out of memory"
So whenever i update to the latest ccxt i receive the following error below. But if i revert back to v 1.7.7, this error does not show then.

I'm currently using node v8.9.4.

<--- Last few GCs --->

[4564:0x25c2a60]   309756 ms: Mark-sweep 1412.6 (1816.7) -> 1412.6 (1794.2) MB, 1095.7 / 0.0 ms  (+ 0.0 ms in 0 steps since start of marking, biggest step 0.0 ms, walltime since start of marking 1158

[2018-01-11 14:53] kroitor commented on #1191
Update to most recent version 1.10.649. Your version 1.7.7 is several months old.

[2018-01-11 14:54] kroitor commented on #1191
@g666nz do you have the same symptoms with node 9+?

[2018-01-11 14:54] bypassfuture opened #1192 "Huobi PRO create_limit_sell_order return 'order amount precision error'"
Hi sir,

My ENV is MacOS python 2.7.10,

code
[code]
when i run limit_sell/limit_buy on huobipro , the following error message showed

I dont understand what "**order-orderamount-precision-error**" means ?
But the same code runs OK on binance and other exchange,  can you help me sir ?
Really thanks!

[2018-01-11 15:01] davidpodrebarac opened #1193 "Liqui fetch_orders does not require a symbol"
As the title says, liqui's method private_post_active_orders can be called without given symbol and in that case it would return all open orders.

I am using version ccxt-1.10.647, python async

[2018-01-11 15:05] g666nz commented on #1191
haven't tried it with 9+

[2018-01-11 15:40] #1193 closed

[2018-01-11 15:48] kroitor commented on #1193
Works as of 1.10.651. Thx!

[2018-01-11 15:55] StnadardUsre opened #1195 "Yobit fetch_order_book bug"
- OS: Win 10
- Programming Language: Python 3.6
- CCXT version: last
- Exchange: Yobit
- Method: fetch_order_book

Hi,
trying get order book from yobit:
`print(ccxt.yobit().fetch_order_book('BTC/USD', {'depth': 1}))`

but it returns full order book, disregarding depth parameter. I sniffed http request CCXT sends to yobit, it seems to be :

instead of:

[2018-01-11 15:55] kroitor commented on #1191
@g666nz can you post a short but a complete snippet of code that I could copypaste to reproduce you problem?

[2018-01-11 16:01] kroitor commented on #1195
Hi, have you tried: `print(ccxt.yobit().fetch_order_book('BTC/USD', {'limit': 1}))` instead?

[2018-01-11 16:03] StnadardUsre commented on #1195
Works like a charm, thanks )

[2018-01-11 16:05] #1195 closed

[2018-01-11 16:05] rhrahul opened #1196 "API Private Call Error : Angular 4"
Issue with Angular 4 Private API Methods of Binance and Gemini.

![ss](https://user-images.githubusercontent.com/35340981/34834181-56da29a8-f717-11e7-97f7-bbaed6ae5ffa.jpg)

Failed to load https://api.gemini.com/v1/balances: Response for preflight has invalid HTTP status code 405

- OS: Windows 10 (64)
- Programming Language: JS, Angular 4
- CCXT version: latest
- Exchange: Binance and Gemini
- Me

[2018-01-11 16:11] rhrahul commented on #1196
Thanks @kroitor , it did Work 👍

[2018-01-11 16:14] kroitor commented on #1196
@rhrahul if you are going to use it from the browser, I would recommend you to set up your own local CORS proxy, as written here: https://github.com/ccxt/ccxt/wiki/Install#cors-access-control-allow-origin. This would ensure that your keys are totally safe. Don't use public proxies with your actual money.

[2018-01-11 16:15] #1196 closed

[2018-01-11 16:15] rhrahul commented on #1196
Ok, @kroitor , I'll take care of that.
Thanks

[2018-01-11 18:52] slideup-benni commented on #1171
No Problem
Unfortunately, i found an other one just now: BAT for Basic Attention Token, but it returns BatCoin.

[2018-01-11 21:34] fredfortier commented on #1175
Yes, that makes sense. We'll work with `fetchMyTrades()` to get this info.

[2018-01-11 22:17] vitoo commented on #1011
Hi again @kroitor
Binance doesnt return the volume in fetch_tickers

I used to sort all instrument by volume in one request, look's like its not possible with binance

[2018-01-12 00:16] digitalchaotics commented on #773
I cured the problem here by setting the Win10 Internet Time Settings as noted by @kroitor , making sure to use "time.nist.gov", and NOT "time.windows.com"

[2018-01-12 01:57] mcintirejohn4 opened #1203 "How do I run the program?"
Newbie question here.
How do I run the program? I've installed it and done pip install ccxt (using python) but don't know where to add my API keys or what to do to start the program. Is there a guide elsewhere? I've tried to figure it out in the manual but it wasn't much help.

[2018-01-12 02:10] #1175 closed

[2018-01-12 02:14] kroitor commented on #1203
This is not a standalone tool for end-user trading, it's a library that is used to code the trading, but it doesn't offer an end-user interface on its own, it only has programmatic and command-line interfaces for developers and coders.

See end-user programs based on ccxt here: https://github.com/ccxt/ccxt/network/dependents

[2018-01-12 02:14] #1203 closed

[2018-01-12 02:31] mcintirejohn4 commented on #1203
Looked there and I don't see one for binance. In the issues however, I see a lot of questions about the exchange. Do you know where a dependency for it would be?

[2018-01-12 03:02] kroitor commented on #1203
@mcintirejohn4 sorry, I can't really consult you on 3rd-party end-user projects, we're only responsible for the library for programmers.

[2018-01-12 03:19] jlheidecker opened #1204 "Multiple trade best practices?"
Does ccxt support chaining multiple trades? For example, converting USDT to BTC to ETH, but you need the second trade to happen after the first?

I'm currently inserting sleep() states between trades in PHP. Is there another recommendation?

[2018-01-12 03:23] mcintirejohn4 commented on #1203
Alright.

On Thu, Jan 11, 2018 at 7:03 PM, Igor Kroitor <notifications@github.com>
wrote:

[2018-01-12 03:25] kroitor commented on #1204
Yes, there is, check it here: https://github.com/ccxt/ccxt/blob/master/examples/php/built-in-rate-limiting-poller.php

Set `$exchange->enableRaeLimit = true;` on the exchange instance, after that you can call your methods sequentially and they should be properly rate-limited. Using the `sleep()` is not a very good idea as it makes the delays in between your requests uniform, but `sleep()` does not

[2018-01-12 04:19] nngocit opened #1206 "How to run"
How to run

[2018-01-12 04:20] kroitor commented on #1206
https://github.com/ccxt/ccxt/issues/1203

[2018-01-12 04:20] #1206 closed

[2018-01-12 05:57] fedecaccia opened #1207 "Margin trading"
Hi, I would like to know how can I implement a simple "create_order" in margin trading platform of bitfinex. I tried with:

result = bitfinex.create_order(symbol="XRP/BTC", type = "market", side = "sell", amount = 100)

In the documentation of the API: https://docs.bitfinex.com/v1/reference#rest-auth-new-order
they say that if we choose order type: "market" "limit" or others are margin trading ord

[2018-01-12 06:28] kroitor commented on #1207
Hi!

1. Bitfinex has several types of accounts, including an *exchange* account and a *margin* account.

2. By default ccxt will create an `exchange market` or `exchange limit` type of orders, that involves the *exchange* account. The *exchange* prefix means that an order is not a margin order, but more like a spot order, immediate. Also, it will query the *exchange* balance with fetchBalance () b

[2018-01-12 06:39] jlheidecker commented on #1204
Yes thank you so much!

[2018-01-12 06:39] #1204 closed

[2018-01-12 06:46] RyanDelap opened #1208 "Documentation over the custom request?"
The overview of this project claims to have several builtin functions to create Custom API calls (Custom Exchange API)
https://github.com/ccxt/ccxt/wiki/Manual#overview
However there doesn't seem to be any documentation over how to actually do it. I've looked through examples and the manual several times and I'm not seeing it.

I apologize in advance for my ignorance if I'm missing it. 😃

[2018-01-12 06:50] kroitor commented on #1208
- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods
- https://github.com/ccxt/ccxt/wiki/Manual#publicprivate-api
- https://github.com/ccxt/ccxt/wiki/Manual#passing-parameters-to-api-methods
- https://github.com/ccxt/ccxt/wiki/Manual#api-method-naming-conventions

[code]

[code]

[2018-01-12 06:50] #1208 closed

[2018-01-12 07:17] fedecaccia commented on #1207
Your answer is very useful, thanks!

[2018-01-12 07:17] #1207 closed

[2018-01-12 08:14] jjhesk opened #1209 "New Exchange: CoinOne"
api doc: https://doc.coinone.co.kr/
url: https://coinone.co.kr
fee: https://coinone.co.kr/guide/
volume: https://coinmarketcap.com/exchanges/coinone/
address: 19F, Three IFC, 10 Gukjegeumyung-ro, Yeongdeungpo-gu, Seoul
company info: Coinone Inc.  CEO Myunghun Cha | Business Registration 261-81-07437E-Commerce Registration 2016-서울영등포-1289호
based country: korea
priority: high
note:  ranked top : 6

[2018-01-12 08:53] kevyu opened #1210 "balance total should use marginBalance in bitmex"
In bitmex, fetchBalance method should use marginBalance as total  rather than amount.

Margin Balance = Wallet Balance + Unrealised PnL,

--------------------
- OS: Windows
- Programming Language version: JS
- CCXT version: 1.10.634
- Exchange: Bitmex
- Method: fetchBalance

[2018-01-12 09:10] #1210 closed

[2018-01-12 09:31] kroitor commented on #1210
Fixed in 1.10.665. Thank you!

[2018-01-12 09:32] jjhesk opened #1212 "New Exchange: KORBIT"
This exchange is came from Korea and it is a legitimate registered company,. API https://apidocs.korbit.co.kr/  this is urgent as this one of the large exchanges in the crypto world.
I think personal API is good enough.
fee: https://support.korbit.co.kr/customer/en/portal/articles/2745022

Korbit, Inc.376 Gangnam-daero 5th Fl., Gangnam-gu, Seoul, Korea  |  CEO Tony Lyu
Business Registration 220-88

[2018-01-12 09:36] jjhesk opened #1213 "New Exchange: Coinnest"
api doc: https://www.coinnest.co.kr/doc/intro.html
url: https://www.coinnest.co.kr
volume: https://coinmarketcap.com/exchanges/coinnest/
address: Yeongdeungpo-gu, Seoul, with 57 Sinsong Center Bldg., 13th floor.
company info:  coinnest | | Representative Kim Ik-hwan | The business license 451-88-00680 |
country: Korea
priority: medium
note:

[2018-01-12 09:39] jjhesk opened #1214 "New Exchange: EXX"
This exchange is came from China and it is a legitimate registered company in Hong Kong. api: https://www.exx.com/help/restApi
ranked global No. 25
fee: https://www.exx.com/help/rate

Exx Group Limited

[2018-01-12 09:44] jjhesk opened #1215 "New Exchange: Coinegg"
api doc: https://www.coinegg.com/explain.api.html
fee: https://www.coinegg.com/fee.html?lang=en_US
url: https://www.coinegg.com
volume: https://coinmarketcap.com/exchanges/exx/
address: 英国 邮编B17 8TA,伯明翰市,亨斯坦顿大道38号 38 Hunstanton Avenue, Birmingham, B17 8TA, United Kingdom
company info: CoinEgg Limited, (HK)
priority: medium
note:

[2018-01-12 09:55] CopurOnur opened #1216 "hitbtc2 money transfer from main account to trading account"
@kroitor
Hello Igor,
I wonder how can i transfer my money from main account to trading account in hitbtc2. Is there a way to do it with ccxt.

- Programming Language version: python 3.6
- CCXT version:1.10.666
- Exchange:hitbtc2

[2018-01-12 09:57] kroitor commented on #1216
- #406

[code]

[2018-01-12 09:57] #1216 closed

[2018-01-12 10:33] CopurOnur commented on #1216
thanks a lot

[2018-01-12 10:45] qiangxs opened #1217 "kucoin can't cancel_orders"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2018-01-12 10:48] qiangxs commented on #1217
kucoin_sell_order=kucoin.create_limit_sell_order ('LTC/USDT', 0.1, 300)
kucoin_cancel_sellorder=kucoin.cancel_order (kucoin_sell_order['id'],'BTC/USDT',{"type": 'SELL'})

THE error is " raise ExchangeError(self.id + ' ' + self.json(response))
ccxt.base.errors.ExchangeError: kucoin {"code":"ERROR","msg":"Order has been was dealed","success":false,"data":null,"timestamp":1515754059945}"

How can i c

[2018-01-12 10:49] qiangxs commented on #1217
i can not cancel orders.

[2018-01-12 10:58] davidpodrebarac commented on #1193
Thanks, it does fetch all open orders now, but there is still one little bug.
Data is parse incorrectly, returned amount is None, while remaining amount is correct.

[2018-01-12 11:02] davidpodrebarac commented on #1193
For example:
[code]

[2018-01-12 11:04] kroitor commented on #1193
@davidpodrebarac can you please post the same output but keep the info field and other fields there? Need to check on that.

[2018-01-12 11:08] kroitor commented on #1217
The order that you are trying to cancel was already filled (closed). You cannot cancel an order, after it was already traded.

- You need to handle exceptions properly: https://github.com/ccxt/ccxt/wiki/Manual#error-handling
CCXT tells you that, but you're not caching the exception and do not react correctly.
- See the [examples](https://github.com/ccxt/ccxt/tree/master/examples) as well on how to

[2018-01-12 11:08] #1217 closed

[2018-01-12 11:09] davidpodrebarac commented on #1193
Updated above... I just left out order id and timestamp

[2018-01-12 11:26] #1169 closed

[2018-01-12 11:32] qiangxs commented on #1217
Thanks for your reply. but the order i made has not completed. I don't know  why i can't cancel it. It's different from other exchanges, when canceling  an order, a param is needed besides id and symbol. I don't  know  how to set it even try many times.

Hoping your  reply.
Thanks.

[2018-01-12 11:39] kroitor commented on #1217
1. You are creating an order for LTC/USDT:

[code]

2. But then you're trying to cancel the order for BTC/USDT, which is a different symbol!

[code]

Should be the same LTC/USDT there. Let us know if it helps or not.

[2018-01-12 14:02] janeCMD opened #1218 "HitBTC v2 fetchOrders not implemented"
Hi, i am getting fetchOrders not implemented. Searched here if it was not done since my last update but doesnt look like that.

fetchClosedOrders works like fetchOrders should. It does return me list of closed and also open orders. Is it possible to do something about it ?

THanks

[2018-01-12 14:04] kroitor commented on #1193
Ok, here's the explanation:

1. If you create the order ccxt will remember the order amount in the order cache, so if then call fetchOpenOrders **without restarting your program** – the amounts will be set correctly. However, the cache does not survive the restart unless you save it and restore it manually from a file or a database. The order cache is stored in the `.orders` property of the exchan

[2018-01-12 14:15] kroitor commented on #1218
Hi!

Can you please show verbose output when fetchClosedOrders returns open orders mixed with closed orders? We would fix this particular aspect then and it will return just the closed orders for less confusion.

fetchOrders should not work like fetchClosedOrders does now, because fetchClosedOrders uses the order history endpoint from HitBTC which lags behind their open orders list.

fetchOrders f

[2018-01-12 14:31] hippylover commented on #1027
Hi, just read this thread. It would be nice if you had the same data returned for every call so it's easier for a user to know what a call returns. If that is not possible or comes with limitations on one exchange you can have a function, eg:
`ccxt.quirks()
...
 binance, fetchTickers: Due to rate-limits in binance it's only possible to call this every 234 seconds, if you only need price data you c

[2018-01-12 14:35] kroitor commented on #1027
Thanks a lot, I'll definitely take that into consideration, of course, however, the problem is not that I don't know what to do, but that I don't have enough time to do it all on my own, you see ;)

[2018-01-12 14:35] janeCMD commented on #1218
Thanks for reply. According to what you say and saw on hitbtc, i think, if you merge active orders with orders history, it should contain complete list, no ? Do you have any idea of how much delayed is order history ?

[2018-01-12 14:37] hippylover commented on #1027
Haha. I know your pain. Trust me. It's an insanely ambitious project(please just focus on python support wink wink nudge nudge).

I might help you out in the future but only with python stuff because that's the only language i know XD.

[2018-01-12 14:39] kroitor commented on #1218
That will require two requests and we don't do more than one request per call in the library. Otherwise it would be a complete mess, believe me ;)

Can't tell exactly, but the delay is significant enough. Seconds.

[2018-01-12 14:41] FritzH321 opened #1219 "fetchTickers() properties undefined."
- OS: Windows 7
- Programming Language version: Javascript (Node version 8.5.0 & 9)
- CCXT version: 1.10.668
- Exchange: Binance
- Method: fetchTickers()

The fetchTickers() function returns numerous undefined properties. I've encountered this problem in the new version. Previous local version on my machine was 1.10.561

Result (v1.10.668):
`  'RLC/BNB':
   { symbol: 'RLC/BNB',
     timestamp: 151

[2018-01-12 14:42] hippylover commented on #1027
Anyway, i hope i made my point clear(sometimes i think i can't express myself clearly enough). What i mean is that function x should always return output y so a programmer writing code for multiple exchanges know what to expect.

If that can't be supported with exchange r, then mention their way of doing things as a note in quirks.

[2018-01-12 14:47] kroitor commented on #1027
@hippylover yeah, that's clear, thx. We are already adding the so-called *"metainfo"* for that. That includes such exchange properties as `.has`, `.requires`, and some other... And we are expanding the set of descriptive properties as well.

Btw, if you read and try what's written here, literally:
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support
↑ you'll be surprised

[2018-01-12 14:48] hippylover commented on #1027
Haha, i'll take a look.

[2018-01-12 14:49] kroitor commented on #1219
- https://github.com/ccxt/ccxt/issues/1177

[2018-01-12 14:49] #1219 closed

[2018-01-12 15:31] fedecaccia commented on #663
Hi, I have a question regarding to this:
I have an amount N of assets I would like to trade at the same time at two different exchanges:
In bittrex I don't have problem, but in binance I get this "400 Bad Request: {"code":-1013,"msg":"Filter failure: LOT_SIZE"} ". I think it's because of N precision.

How can I implement a function that, given N and the platforms I am using, returns me a new amoun

[2018-01-12 15:37] kroitor commented on #663
@fedecaccia it depends on how you create the order. If you're using the unified ccxt API, that will be handled for you automatically. Otherwise, if you're using their custom API from ccxt, for Binance you should call `exchange.amount_to_string (symbol, amount)` – that will return a string value that is ok to pass to Binance. If you want to make your own function, then you should truncate the strin

[2018-01-12 15:57] fedecaccia commented on #663
Thanks for your answer. I am using "create_order":

N = ...
binance.create_order(symbol="XMR/BTC", type = "market", side = "sell", amount = N)

where N is a float. Should I do...:

M = binance.amount_to_string("XMR/BTC", N)
M = float(M)
binance.create_order(symbol="XMR/BTC", type = "market", side = "sell", amount = M)
?

I need to know M because I need to place another order with the same amount.

[2018-01-12 16:02] kroitor commented on #663
Nope, if you can, please do this and post the verbose output here:

[code]

↑ ccxt should truncate YOUR_FLOAT_AMOUNT automatically, and if this is not the case, we will need to debug that a little. Can you post your output, please? Your keys are safe, but you can delete them from the output if you want.

[2018-01-12 16:38] vtllr commented on #1169
Thanks for your reply @kroitor!

### Bittrex
[code]

### Bittrex
I will check ```fetchClosedOrders``` today

### Binance

I will add symbols on my front end so.

Thanks a lot for your help! You have already done an amazing job.

[2018-01-12 16:41] fedecaccia commented on #663
Ok, I test your code with market and limit order types. I have the error using limit type order:

import ccxt

exchange = ccxt.binance({
    'apiKey': api_key,
    'secret': api_secret,
    'verbose': True, # ← add this line to see which values get sent to Binance
})
N = 4.9652
price = 0.0003680

exchange.create_order('EDO/BTC', 'limit', 'buy', N, price)

Output:

GET https://api.binance.com/api/v

[2018-01-12 16:50] trainerbill opened #1223 "Binance fetchTickers vs fetchFullTickers"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: JS
- Programming Language version: Browser
- CCXT version: latest
- Exchange: Binance
- Method: fetchTickers

The binance bookTicker api doesn't return much data, specifically volume.  I think we should switch fetchTickers to the fetchFullTickers, and then

[2018-01-12 17:18] agroszer opened #1224 "any chance to enable bl3p LTCEUR market?"

[2018-01-12 17:45] fedecaccia commented on #663
Yes that helps me. (But I don't understand why the same order by with "market" type is excuted successfully).
Your answers are very usefull. Using the functions you showed me, I'm going to implement functions that check for min for all the platforms I am using, and then I am going to select de "max" of them, in order to be sure that the order is going to be excecuted in all platforms. Thanks!

[2018-01-12 17:55] kroitor commented on #1224
Last time I checked, it didn't work... have they enabled it already? Will check again and get back to you soon.

[2018-01-12 18:11] fedecaccia commented on #663
Excellent!

[2018-01-12 19:16] allenfrostline commented on #799
Confirm that this issue still exists in the most up-to-date version. Also... no idea how it happens. It happens really rarely.

[2018-01-12 19:22] kroitor commented on #799
@allenfrostline this is [answered here](https://github.com/ccxt/ccxt/issues/663#issuecomment-357278220) (read from the linked comment to the end, please).

[2018-01-12 19:22] kroitor commented on #663
Related issue: #799

[2018-01-12 19:31] allenfrostline commented on #799
@kroitor Thanks for the reference. That should answer my question. However, actually I've been using `.market(symbol)['limit']['amount']['min']` to control my minimum order size, not `.market(symbol)['limit']['cost']['min']`. Therefore, it seems that using only the minimum amounts is not enough to guarantee a valid order without further checking the minimum costs. Is that right?

[2018-01-12 19:39] kroitor commented on #799
@allenfrostline that's right, exactly. The full set of Binance's filers is described in their official docs:

https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#filters

- PRICE_FILTER (min / max / precision) – this one is to filter invalid prices
- LOT_SIZE (min, max, precision) – this one is to filter invalid amounts
- MIN_NOTIONAL (min, max) – this one is for

[2018-01-12 19:41] kroitor commented on #1209
@jjhesk unfortunately, I don't have an implementation for CoinOne yet, not even the public one. Hope to make a quick draft of it asap.

[2018-01-12 19:50] allenfrostline commented on #799
I see. So I guess the true minimum amount should be something like `max(limit['amount']['min'], limit['cost']['min'] / ticker(symbol)['last'])`? Sounds I'm making things more complicated...

[2018-01-12 21:10] orkenstein commented on #694
@kroitor, returning to maker/taker fees again: I can see `fetch_fees` and `calculate_fee` for different exchanges. So, which one is winning now?

[2018-01-12 21:37] gaardiolor opened #1226 "Bluetrade create_limit_sell_order error"
- OS: Windows
- Programming Language version: Python 3.6
- CCXT version: 671
- Exchange: Bleutrade
- Method: create_limit_sell_order

- Gererates an TypeError: TypeError: list indices must be integers or slices, not str
- Does stuff with bittrex.py ?
- The order seems to go through successfully despite this error (hence the 'insufficient funds' message. But I got the same error the first time)

[c

[2018-01-12 22:08] gaardiolor opened #1228 "BL3P proxies not working"
- OS: Windows
- Programming Language version: Python 3.6 sync & async
- CCXT version: 671
- Exchange: BL3P
- Method: load_markets()

With BL3P the proxies and aiohttp_proxy settings have no effect. No proxies are being used. With other exchanges that I've tested it works fine.

Also the verbose option does not seem to work, so there's not much debugging I can provide.

Sync:
[code]

Async:
[code]

[2018-01-12 22:17] gaardiolor commented on #1226
create_market_sell_order also doesn't work, maybe related? Also references of bittrex.py.

[code]

[2018-01-12 22:37] gaardiolor commented on #1226
So I've copied create_order from bittrex.py and changed
`'id': response['result']['uuid'],`
to
`'id': response['result']['orderid'],`

that seems to fix it

[2018-01-13 00:02] fredfortier commented on #961
A retry feature may be useful, but I find it much more important to have the right kind of error messages (e.g. the distinction between `ExchangeError` and `NetworkError` is critical). This gives me the ability to categorize errors and deciding when to retry. I much prefer this to automated retries.

[2018-01-13 02:35] xunixxx commented on #1192
@kroitor @bypassfuture
I have this error on the two exchanges I use (binance and gdax) and ran few tests (python 3):

ON BINANCE:

Let's say my program wants to BUY 190.24285165 BAT with BNB  (pair BAT/BNB), the order is correctly created with the amount rounded to 190.24 with the function amount_precision() as the precision of amount is 2 in the market dataset for the pair of symbols BAT/BNB.

No

[2018-01-13 02:35] kroitor commented on #799
Nope, not really. It is close, but not exact. The correct ruleset is as follows:

- the true minimum amount is: `['limits']['amount']['min']`
- the true minimum price is `['limits']['price']['min']`
- the true minimum cost is `['limits']['cost']['min']`

Your goal is not to guess it with some error by dividing it over the last price. Instead, your goal is to be precise, therefore you have to copy

[2018-01-13 02:38] xunixxx commented on #1192
@kroitor @bypassfuture
I have this error on the two exchanges I use (binance and gdax) and ran few tests (python 3):

ON BINANCE:

Let's say my program wants to BUY 190.24285165 BAT with BNB  (pair BAT/BNB), the order is correctly created with the amount rounded to 190.24 with the function amount_precision() as the precision of amount is 2 in the market dataset for the pair of symbols BAT/BNB.

No

[2018-01-13 03:21] #1218 closed

[2018-01-13 03:30] kroitor commented on #1226
Fixed in 1.10.674. Thank you for reporting!
Be aware: both Bittrex and Bleutrade support **limit orders only**.

[2018-01-13 03:30] #1226 closed

[2018-01-13 03:32] kroitor commented on #1228
1. Have you tried it without proxies?
2. Can you please provide some input and output as seen on the proxy side (add debugging there or enable debug logging in the proxy) ? Otherwise it would be really hard to debug it.

[2018-01-13 03:38] mitchmindtree opened #1229 "Clarifying Understanding of `baseVolume` and `quoteVolume`"
I've been reading through the manual and just wanted to check that my understanding of base/quote volumes is correct!

In a given market FOO/BAR, `baseVolume` indicates the total amount of FOO that has been bought and sold in this market in the past 24hrs, while `quoteVolume` is the total amount of BAR that has been bought and sold in this market in the past 24hrs. Is this correct?

If so, I have

[2018-01-13 03:53] kroitor commented on #1229
Exactly!

No, unfortunately, most of exchanges will not return that info segregated. And you cannot deduce exact values of one from another. Most often exchanges will return just the baseVolume or just the quoteVolume.

One more note: when you buy FOO on the FOO/BAR market, you are buying it for BAR, right?  So, when you buy FOO for BAR, that means, you are actually selling BAR for FOO.

- buy FOO

[2018-01-13 03:57] jjhesk commented on #1209
@kroitor sorry i dont wanna rush you. I hope you can speed up the progress faster with some research info. many thanks

[2018-01-13 04:06] mitchmindtree commented on #1229
Perfect, thank you for such a quick and detailed response!

[2018-01-13 04:06] #1229 closed

[2018-01-13 08:15] agroszer commented on #1224
public seems to work:

https://api.bl3p.eu/1/LTCEUR/ticker

https://api.bl3p.eu/1/LTCEUR/orderbook

https://api.bl3p.eu/1/LTCEUR/trades

[2018-01-13 08:17] wannesdemaeght opened #1231 "Bitstamp withdrawal"
Hi,

in the exchange properties for Bitstamp, has.withdraw is set to false, for both v1 and v2.
according to bitstamp api docs, both v1 and v2 ARE supporting withdrawals though...
https://www.bitstamp.net/api/

Any chance of adding this?

[2018-01-13 08:44] kroitor commented on #1231
Hi!

Already in the library (added recently), the `has.withdraw` property is still unchanged though, because the library is under active development. We will update the metainfo for bitstamp. You can call withdraw() right away (with current version). Let me know if answers your question or not. Thx!

[2018-01-13 08:44] wannesdemaeght commented on #1231
oh great, thanks!

[2018-01-13 08:44] #1231 closed

[2018-01-13 10:08] mohammadwillwin commented on #1172
Updated ccxt and it's still not working. Any reason?

[2018-01-13 10:08] #1192 closed

[2018-01-13 10:13] kroitor commented on #1172
Hi!

This is a duplicate issue with the order cache. In short, cryptopia will only return open orders if you restarted your program after you created them. If they were closed and you restarted your program, we don't have any means for fetching those closed orders from Cryptopia, just the trades.

The inner workings of order cache are partially explained here:
- https://github.com/ccxt/ccxt/issues

[2018-01-13 10:13] #1172 closed

[2018-01-13 10:16] wannesdemaeght opened #1232 "kucoin precision"
After fiddling around some more,

I found a fault:

[code]

This lists all kucoin pairs and the precision.

Output:

...

This is wrong, the amount is capped for some coins.
I really don't have a clue which, but it's in their API.

For instance: both LTC and ETH amounts are capped at 6 digits.

[2018-01-13 10:22] kroitor commented on #1232
Thanks for the info, but we are aware of this, and this is documented as a work in progress. Your contributions would be appreciated.

Does this work for you?

[code]

[2018-01-13 10:27] wannesdemaeght commented on #1232
yes, the .currencies gives me the correct info.

question though:
Will this work for all exchanges?
I am trying to write a for loop, getting all the info from all the exchanges I am interested in.
A different call to only kucoin would ofcourse not work in that loop.

Also,
I only need precision info when posting an order.
Does ccxt automagically convert a number to the correct precision, or do I n

[2018-01-13 10:32] kroitor commented on #1232
As I said, it is a work in progress, so this will work for all exchanges, but it may fail to with this or that exchange, we are still adding that info.

If you want to make money, you will have to be flexible, really.

The goal is to convert them automagically, and for major exchanges this should work, but, again, this is a work in progress, so some info might still be missing. I would not recomme

[2018-01-13 10:43] gaardiolor commented on #1228
Sorry, by proxies not working I mean that they're not being used. So I tested everything works - but via a direct connection, despite the proxies settings being there. Also the verbose option doesn't seem to do anything..

[2018-01-13 11:02] gaardiolor commented on #1228
Private API calls don't seem to have this problem by the way. For example `fetch_balance()` _does_ work via proxies, also `verbose` works in that case, I'm getting verbose output.

So I only see this problem with public API calls.

[2018-01-13 11:43] gaardiolor opened #1233 "multiple issues in bleutrade fetch_open_orders"
- OS: Windows
- Programming Language version: Python 3.6
- CCXT version: 671
- Exchange: Bleutrade
- Method: fetch_open_orders

Multiple KeyErrrors (OrderType, Closed, Timestamp, OrderUuid)

[code]

Seems to work by copying parse_order from bittrex and modifying it:

[code]
diff:
[code]

[2018-01-13 11:51] gaardiolor opened #1234 "Bleutrade cancel_order issue"
- OS: Windows
- Programming Language version: Python
- CCXT version: 671
- Exchange: Bleutrade
- Method: cancel_order

- The parameter seems to be incorrect (uuid instead of orderid)
- Also, shouldn't this raise an Exception ? success is false.

[code]

[2018-01-13 11:54] marcobazzani opened #1235 "kraken orderbook wrong"
fetch_l2_orderbook broken for kraken

During ETH/EUR request a different order book is returned
here a dump of kraken.py fetch_order_book market variable

[code]

[2018-01-13 11:56] gaardiolor commented on #1234
Issue #1 fixed by copying `cancel_order` from bittrex.py to bleutrade.py and changing `uuid` to `orderid`

Not sure why it didn't raise an exception though.

[2018-01-13 11:58] #1234 closed

[2018-01-13 11:59] kroitor commented on #1235
It's the same thing %)

Read this carefully: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[2018-01-13 11:59] #1235 closed

[2018-01-13 11:59] marcobazzani commented on #1235
Description updated BTC/EUR is ok
It's ETH/EUR wrong

[2018-01-13 11:59] kroitor commented on #1235
@marcobazzani sorry? can you please clarify?

[2018-01-13 12:00] marcobazzani commented on #1235
Actually ETH/EUR is listed using ccxt

[2018-01-13 12:04] kroitor commented on #1235
@marcobazzani I'm still not getting, what exactly is wrong with it?

[2018-01-13 12:06] gaardiolor commented on #1228
Hmm.. some public API calls like `fetch_ticker`, `fetch_order_book` do work with verbose / proxy. Maybe this problem is only with the methods not present in bl3p.py .

[2018-01-13 12:08] gaardiolor commented on #1234
@kroitor any idea why it didn't raise an exception ?

[2018-01-13 12:08] marcobazzani commented on #1235
The price is absurdly high, I can't access kraken via web browser but I'm pretty much sure the price on the exachange is 10 time lower

[2018-01-13 12:11] kroitor commented on #1234
@gaardiolor response['success'] is a string value of 'false' that is coerced to true when you do a non-strict comparison, so it thought success == true, and missed it. Will fix for that as well, working on your second issue.

[2018-01-13 12:13] marcobazzani commented on #1235
probably something broken on kraken
I can't find anything wrong in the stacktrace

[2018-01-13 12:20] kroitor commented on #1235
Looks like they return those prices... Not our fault:

https://api.kraken.com/0/public/Depth?pair=XETHZEUR

[code]

Sell the ETH, there, quick! ))

[2018-01-13 12:32] gaardiolor commented on #1235
https://status.kraken.com/

Jan 13, 11:54 UTC

[2018-01-13 13:28] #1233 closed

[2018-01-13 13:44] jvandenaardweg opened #1236 "Bittrex: Cannot read property 'quote' of undefined"
Hi!

Since today i'm getting an error when fetching my order history from Bittrex. It was working great last night, but when I woke up I got an error:

[code]

I did not change anything code wise during that period, so my guess is Bittrex has changed something in the order response. But i can't figure out what.

The problem lies here:

`/node_modules/ccxt/js/bittrex.js`

[code]

The last `market`

[2018-01-13 13:49] kroitor commented on #1236
- Which market is it?
- What was your previous version?

[2018-01-13 13:51] jvandenaardweg commented on #1236
@kroitor all info is in the first post :)

Market: Bittrex
Previous version: `1.10.549`. But i'm having the same error in the latest version `1.10.682`

[2018-01-13 13:52] kroitor commented on #1236
Bittrex is not a market. It is an exchange. I mean the symbol that you're trying to trade.

[2018-01-13 13:52] jvandenaardweg commented on #1236
Yeh, sorry. I eddited my post. It's BTC, my bad.

[2018-01-13 13:53] kroitor commented on #1236
BTC against what? You have to be specific )
Also, can you post your code that fails to work? Need it to copypaste and reproduce the problem (if you can, please make it a short but a complete snippet).

[2018-01-13 13:55] kroitor commented on #1233
This should work as of 1.10.683. Can you please verify this? Thx

[2018-01-13 13:57] jvandenaardweg commented on #1236
Well, BTC against a lot of other ones. I've attached a screenshot of my order history at Bittrex.

My code:

[code]

So the `result = await exchange.fetchOrders()` fails

<img width="847" alt="screenshot 2018-01-13 14 55 06" src="https://user-images.githubusercontent.com/5155373/34906650-d5e28f50-f871-11e7-8ac1-84ae50608888.png">

[2018-01-13 14:01] bizl commented on #773
I#m using "time.windows.com" and using getting timestamp as shown in the amended code below and it works. However I've got internet time syncing every 5 minutes. I'll disable and holler if it bugs out in future.

[code]

[2018-01-13 14:07] kroitor commented on #1236
Can you shoe verbose output, please?

[code]

[2018-01-13 14:12] jvandenaardweg commented on #1236
Sure!

I've replaced the api related things with XXXXX

[code]

[2018-01-13 14:22] mohammadwillwin opened #1237 "How to hide errors from my users?"
On my website, I let my users import their orders. But some of them write the wrong API key, so then it shows ccxt's huge long error, including my website's system username in the directory of the PHP file that the error came from.

This is a security issue for my website. How can I hide these ccxt errors?

[2018-01-13 14:49] kroitor commented on #1237
Catch them?

[2018-01-13 14:56] kroitor commented on #1237
- https://www.youtube.com/watch?v=sPHuhQOxisg
- https://www.w3schools.com/php/php_exception.asp
- https://code.tutsplus.com/tutorials/php-exceptions--net-22274
- https://www.google.ru/search?q=php+exceptions+tutorial

Hope it helps.

[2018-01-13 14:56] #1237 closed

[2018-01-13 15:10] kilimchoi opened #1238 "Any plans for supporting ruby?"
Is there a plan to support ruby?

[2018-01-13 15:13] kroitor commented on #1238
Oh yeah! ) It's on our roadmap! ) However, we're not ready to tell any ETA yet. Would really love your help on adding it.

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

[2018-01-13 15:16] kroitor commented on #1236
Ok, thanks for reporting! Can you please update to version 1.10.684 and retry again with your usual code? Let us know if it works for you or not, please. Standing by for your reply.

[2018-01-13 15:17] jvandenaardweg commented on #1236
Awesome man, it's working again! Hero :)

[2018-01-13 16:00] #1236 closed

[2018-01-13 16:12] vladanm commented on #1238
Lets say you have business logic / backend in Ruby On Rails. What would be the best way to integrate ccxt in to application at the moment, any ideas?

[2018-01-13 16:17] ohld opened #1240 "Kucoin fetch_closed_orders() KeyError"
Code snippet:

[code]

Gives the error:

[code]

- OS: OSX
- Programming Language version: python 3.5
- CCXT version: last one
- Exchange: Kucoin
- Method: fetch_closed_orders

[2018-01-13 17:09] #1224 closed

[2018-01-13 17:28] vladanm commented on #1238
@kroitor You mean wrapping ccxt functions in REST api, and then call ccxt functions over api from Ruby or any other language. Im not very familiar with ccxt, but would this take a lot of time to wrap everything in API calls ?

[2018-01-13 19:12] kroitor commented on #1238
@vladanm yep, I mean exactly that.

It should not take too much of your time, for example this command line client took less than a day of my time: https://github.com/ccxt/ccxt/blob/master/examples/js/cli.js

The entire unified API is described here: https://github.com/ccxt/ccxt/wiki/Manual#overview
That is a set of 20-30 compact methods. Should not be hard. Moreover, if you look here: https://git

[2018-01-13 19:19] vladanm commented on #1238
@kroitor Thank you for all the info, i will take a look

[2018-01-13 20:19] kroitor commented on #1240
Can you please post verbose output of it?

[code]

?

[2018-01-13 20:27] ohld commented on #1240
[code]

[2018-01-13 20:41] gaardiolor commented on #1233
@kroitor unfortunately it doesn't work, still getting a KeyError.

[code]

[2018-01-13 20:44] #1240 closed

[2018-01-13 20:51] gaardiolor commented on #1233
you could fix it like this ?

Current:
[code]
Fixed:
[code]

[2018-01-13 20:52] kroitor commented on #1233
@gaardiolor yep, I am uploading it now.

[2018-01-13 20:53] slideup-benni commented on #1128
BiBox is an Exchange: https://www.bibox.com on CMC https://coinmarketcap.com/exchanges/bibox/

[2018-01-13 20:53] kroitor commented on #1128
@slideup-benni it was added to ccxt today ;)

[2018-01-13 20:54] slideup-benni commented on #1128
Sorry :smile: I knew you are fast :+1:

[2018-01-13 20:56] kroitor commented on #1128
@slideup-benni it wasn't me, thank @kornrunner for it, he did a very good job integrating it, here: https://github.com/ccxt/ccxt/pull/1221 )

[2018-01-13 21:01] ohld commented on #1240
[code]

[2018-01-13 21:02] kroitor commented on #1233
@gaardiolor alright, looks like fixed completely now, can you retry again and report, please? Thx!

[2018-01-13 21:08] gaardiolor commented on #1233
Yes you're right it works! Thanks :)

[2018-01-13 21:08] kroitor commented on #1233
@gaardiolor thanks for reporting, as always.

[2018-01-13 21:11] amitkot commented on #345
@kroitor Could you reopen this issue, or should I create a new one?

Thanks!

[2018-01-13 21:14] kroitor commented on #345
@amitkot try this:

[code]

Does it crash this way?

[2018-01-13 21:33] ohld commented on #1240
```[{'info': {'coinType': 'DRGN', 'createdAt': 1515673814000, 'amount': 74.3766, 'dealValue': 0.26106187, 'fee': 0.0743766, 'dealDirection': 'SELL', 'coinTypePair': 'ETH', 'oid': '5a5758d659797d08f61f11de', 'dealPrice': 0.00351, 'orderOid': '5a5752a559797d09b5adadc7', 'feeRate': 0.001, 'direction': 'BUY'}, 'id': '5a5758d659797d08f61f11de', 'timestamp': 1515673814000, 'datetime': '2018-01-11T12:30:

[2018-01-13 21:35] ohld commented on #1240
Also that exchange class doesn't have the `fetch_orders` method implemented yet. But I think this is an another Issue.

[2018-01-13 21:52] hippylover opened #1242 "Getting 123/456 in binance.symbols"
Ok so this is a bit of a weird one. When im doing this:
`exchanges['binance'].loadMarkets()
availMarkets = exchanges['binance'].symbols
print("symbols")
pprint.pprint(availMarkets)
`
Everything is cool, i get the right pairs. However when i do the exact same code in a qt prog that launches that code when you change a combobox it adds 123/456 ontop into the list.
I see something in the binance code

[2018-01-13 22:00] hippylover commented on #1242
eh. sorry for being lazy. here's an example:

`from PyQt5 import QtCore, QtGui, QtWidgets
import ccxt
import pprint

exchange = ccxt.binance()

class Ui_MainWindow(object):
    def setupUi(self, MainWindow):
        def lel():
            exchange.loadMarkets()
            availMarkets = exchange.symbols
            print("symbols")
            pprint.pprint(availMarkets)
        MainWindow.setObj

[2018-01-13 23:15] #1242 closed

[2018-01-13 23:37] kroitor commented on #1240
Will fix for that as well shortly.

[2018-01-14 00:40] hansvanzutphen opened #1243 "Cancel order causes all future commands to fail, for gdax and binance"
For both gdax and binance, sending a limit buy/sell cancel causes all future calls (even non-API calls such as GetOrderBook) to fail.

I don't see this issue on hitbtc, yobit and wex. It's been a while since I tested Cryptopia but I didn't see it there either back then.

In both cases, the cancel itself succeeds, but after that every call fails.

In Binance, I get errors like this one:

Interestin

[2018-01-14 01:11] pursehouse commented on #56
Is there any organized list of the websocket work that is in progress so that others can attempt to help with it?

[2018-01-14 02:08] thijstriemstra commented on #1242
I'm curious, what was this thing in binance, they have a 'special' market called `123/456`?

[2018-01-14 02:15] hippylover commented on #1242
I wonder that too :D I don't think you can trade it.

[2018-01-14 02:43] scottie opened #1244 "bittrex no market orders"
bittrex has no market orders anymore, only limit, make fix that uses limit as market or just remove it for its confusing to have the functionality still in CCXT when it dont exist,

[2018-01-14 05:14] kroitor commented on #1242
@thijstriemstra , @hippylover yes, they have a special market 123/456, for testing, added filtering for it.

[2018-01-14 05:25] kroitor commented on #1244
Bittrex disabled their market orders along ago, but we're not going to remove anything and we're not going to implicitly emulate market orders with limit orders. An unexpected implicit behaviour is much worse than an implicit exception. It will confuse the unaware users even more. We're now adding metainfo flags (`.has*`, `.has.*`) for detecting exchange capabilities programmatically. Hope it answ

[2018-01-14 05:25] #1244 closed

[2018-01-14 05:29] kroitor commented on #1243
Can you please paste a minimal but a complete snippet of code, for me to copypaste it and to reproduce the problem? We need to see it from initialization up to the point of failure. Also, please set `$exchange->verbose = true;` on the exchange instance for verbose logging.

[2018-01-14 06:38] TomAshley303 opened #1245 "Uncaught ccxt\RequestTimeout"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu 16.04
- Programming Language version: PHP 7.0
- CCXT version: 1.10.1 2017-11-06
- Exchange: BINANCE
- Method: fetch_ticker()

Simple `fetch_ticker` requests do this as what seems like (But of course probably isn't) random:

[code]

Code is like this:

[2018-01-14 06:41] TomAshley303 commented on #1245
Updated with codes.

[2018-01-14 06:43] TomAshley303 commented on #1245
Updated code to show that I'm using `fetch_ticker()` multiple times in a loop similar to as shown.

[2018-01-14 06:46] jhanstra opened #1246 "How to stop a JS Interval?"
- OS: Mac 10.13.1
- Programming Language version: Node 8.0
- CCXT version: 1.10.694
- Exchange: Binance
- Method: createMarketBuyOrder

Hello, really appreciate this library. I started implementing my own API for Binance, and was relieved to find this and use it instead.

I am attempting to write a bot that awaits certain events and trades once a thing occurs. I am using the [forever](https://gith

[2018-01-14 06:48] kroitor commented on #1245
1. Increase the `$binance->timeout`
2. Add exception handling: https://github.com/kroitor/ccxt/wiki/Manual#error-handling
3. Try a public CORS proxy, `$binance->proxy = 'https://cors-anywhere.herokuapp.com/'`
4. Try setting `$binance->userAgent = 'YOUR_STRING'` to see if it makes a difference

[code]

[2018-01-14 07:14] kroitor commented on #1246
Hi!

I'm not getting what you want: you're launching an infinite loop by doing setInterval, and it's a problem for you? ) Well, if it is, maybe, you should not launch the infinite loop in the first place? )

1. You can't cancel a market order, because it is executed immediately, therefore the *market* type. You can only cancel limit orders that weren't closed previously.

2. This will run the loop

[2018-01-14 07:14] #1246 closed

[2018-01-14 08:05] #1068 closed

[2018-01-14 09:50] ohld commented on #1240
Works fine but still error:
Kucoin class doesn't have the `fetch_orders` method implemented yet. `fetch_closed_orders` works fine

[2018-01-14 09:52] kroitor commented on #1240
@ohld you should check `.hasFetchOrders`, `.hasFetchOpenOrders`, `.hasFetchClosedOrders` before accessing those methods. Does this help?

[2018-01-14 10:06] Bomper commented on #1086
This issue should be closed as a dupe of #466, which has [better information](https://github.com/ccxt/ccxt/issues/466#issuecomment-353149953) and should be reopened. I'm interested in implementing `fetchBalance()` on Coinbase.

[2018-01-14 10:36] kroitor commented on #466
Reopened due to https://github.com/ccxt/ccxt/issues/1086#issuecomment-357500816

[2018-01-14 10:36] #1086 closed

[2018-01-14 10:37] #1232 closed

[2018-01-14 12:23] Bomper commented on #288
Note that to [get the main account balance](https://github.com/ccxt/ccxt/issues/288#issuecomment-335549106) on HitBTC, your API key needs to have the "Payment information" permission, not just the "Order book, History, **Trading balance**" permission. Blame [the Chinese](https://www.reddit.com/r/Monero/comments/7jn790/how_do_you_send_monero_to_binance/).

[2018-01-14 12:24] kroitor commented on #288
@Bomper thanks for the helpful hint, very true.

[2018-01-14 12:53] zlq4863947 opened #1252 "Is it possible to support bitbankcc？ - https://bitbank.cc/app/trade"
api: https://docs.bitbank.cc/

[2018-01-14 13:04] pmizel commented on #1216
Hi Igor,

what do you think about an aggrigation of both types?

hitbtc.fetch_balance({'type':'trading'})
hitbtc.fetch_balance({'type':'account'})

when can ccxt call twice and aggrigate balances.
and transfer all to trading in the same step.

when you try to create a withdraw then you transfer to account.

when is not transparent you need to implement specials fot hitbtc :-( thats not nice.

[2018-01-14 13:08] kroitor commented on #1216
@pmizel Hi! Good to hear again from you! Unfortunately, we can't really do multiple requests per call, for rate-limiter reasons, partially explained in this comment: https://github.com/ccxt/ccxt/issues/1175#issuecomment-356831009. Hope it answers your question.

[2018-01-14 13:33] hippylover commented on #1242
cool!

[2018-01-14 14:31] dpacmittal commented on #850
How do make sure time is synced on an android device? I'm using this library in an android app which I'm distributing and the users are getting time sync errors. I'm using react native and JS version of the library.

[2018-01-14 14:49] brent79 opened #1255 "Incorrect Country for HitBTC - should be UK"
- OS: N/A
- Programming Language version: N/A
- CCXT version: 1.10.705
- Exchange: HitBTC
- Method: N/A

According to Wikipedia, HitBTC is based in London, not Hong Kong.
https://en.wikipedia.org/wiki/HitBTC

[2018-01-14 14:51] #1255 closed

[2018-01-14 16:03] moe70 opened #1256 "packagist.org/packages/ccxt/ccxt HTTP 500"
Any idea why https://packagist.org/packages/ccxt/ccxt is not working? packagist.org seems to be working for other packages just not CCXT

[2018-01-14 16:11] kroitor commented on #1256
It is most likely an technical outage on their side. We've sent them a message on this. Waiting for their response. Thank you!

[2018-01-14 16:33] kroitor commented on #1245
I hope the above answer helps you debug it, closing it for now, if you don't mind, feel free to reopen if needed, or just ask questions, if any. Thx!

[2018-01-14 16:33] #1245 closed

[2018-01-14 17:00] aReigoto opened #1257 "Binance fetch_tickers ['last'] is empty"
- OS: osx 10.11.6
- Programming Language version: Python 2.7.11
- CCXT version: 1.10.706
- Exchange: binance
- Method: ccxt.binance().fetch_tickers()

Just notice that this key ['last'] is empty and not only for BTC/USDT:
[code]

and here there is no problem:
[code]
on CCXT version:1.10.567 both methods returned the same value

[2018-01-14 17:04] kroitor commented on #1257
https://github.com/ccxt/ccxt/issues/1177

[2018-01-14 17:04] #1257 closed

[2018-01-14 17:08] aReigoto commented on #1257
Thanks that was quick !!!

[2018-01-14 17:13] kroitor commented on #1257
@aReigoto you're welcome. Please, note, that we are likely to rework it again very soon, as described [here](https://github.com/ccxt/ccxt/issues/1177#issuecomment-356976015), and we will restore the old behaviour of fetchTickers for Binance in one of upcoming commits.

[2018-01-14 17:21] gaardiolor opened #1258 "Kucoin errorhandling"
Is this enough info to convert these errors from ExchangeError to NetworkError ? Sorry I don't have verbose logging this time, hopefully the stacktraces give enough info.
[code]

- The 502 'Gateway Timeout' seems obvious.. It should be NetworkError by default imo. If exchanges use this error correctly, you can always recover from it by waiting a little (or a lot) and retry. Surely there are some e

[2018-01-14 17:30] kroitor commented on #1258
Yes, this error is usually temporary. In fact it is already handled as a recoverable NetworkError. However, the Kucoin handler redefines it, I'll fix it shortly.

No, this is most likely a permanent error (endpoint renamed, API upgraded, etc).

[2018-01-14 17:34] gaardiolor commented on #1258
Yeah, with most websites it's a permanent error. But with Kucoin it isn't, really.. It just happens randomly at peak hours.

[2018-01-14 17:37] Deathamns commented on #1214
Anyone working on this?

[2018-01-14 17:38] Deathamns commented on #1215
Anyone working on this?

[2018-01-14 17:38] Deathamns commented on #1252
Anyone working on this?

[2018-01-14 17:38] Deathamns commented on #1159
Anyone working on this?

[2018-01-14 17:39] kroitor commented on #1214
@Deathamns not yet )

[2018-01-14 17:39] kroitor commented on #1252
@Deathamns not yet ))

[2018-01-14 17:40] kroitor commented on #1215
@Deathamns would be great if you can submit it )

[2018-01-14 17:41] kroitor commented on #1159
@Deathamns I'm mostly occupied with previous requests now.

[2018-01-14 17:41] hippylover commented on #986
Any progress on this? (i got scared kroitor, you didnt tell me i had to write javascript :P)

[2018-01-14 17:45] serul commented on #1128
Awesome, thanks guys!

Norman Dilthey
M: +49 175 1082 487
E: ndilthey@gmail.com

2018-01-13 21:56 GMT+01:00 Igor Kroitor <notifications@github.com>:

[2018-01-14 17:47] kroitor commented on #986
@hippylover

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support

↑ This particular text paragraph explains exactly the opposite: you don't have to know JavaScript, but in fact, you can write in it, easily ;) You just never did, for some reason )

In fact, you don't have to know anything else apart from your "native" programming language. The only thing you really **have

[2018-01-14 17:51] Deathamns commented on #1159
OK, I'll engage with this one.
And probably the other ones too if no one will reply...

[2018-01-14 17:52] kroitor commented on #1159
@Deathamns thanks, man! This is really helpful! I'm merging the ones you've submitted earlier in the meantime.

[2018-01-14 17:58] kroitor commented on #1258
Fixed in 1.10.707. Thx!

[2018-01-14 17:58] #1258 closed

[2018-01-14 18:01] gaardiolor commented on #1258
Cool! Both the 502 and 404 ?

[2018-01-14 18:01] kroitor commented on #1258
@gaardiolor yes

[2018-01-14 18:14] bimble1 opened #1260 "quoine qryptos php create_order and Uncaught exception Issues"
- OS: Linux CentOS
- Programming Language version: PHP
- CCXT version: 1.10.658
- Exchange: quoine
- Method: create_order

create_order path is being sent incorrectly comes up as
https://api.quoine.com/limitArray1ArraysellArray1.01Array20000

I have bypassed this test further and found there is also an issue with the error handling - this is for InsufficientFunds
`<b>Fatal error</b>:  Uncaught exc

[2018-01-14 18:17] kroitor commented on #1260
https://github.com/ccxt/ccxt/issues/1237#issuecomment-357441152

[2018-01-14 18:17] #1260 closed

[2018-01-14 18:42] pursehouse opened #1262 "PHP custom object types instead of arrays"
There are already central methods to return the same format for orders/trades/etc.
It would be nice if these could be instances of a class ( struct ) instead of just an array. This would cause compatibility issues with existing projects using the system, but is a much more functional way to use PHP code.
This allows for hinting of field names in our IDE's and ideally utilize PHPDoc instructions an

[2018-01-14 18:50] kroitor commented on #1262
Your arguments are absolutely clear, and we agree with that.

We had plans for adding an option that would:
- be portable
- be backward compatible
- support both the oop-way and the plain json-struct style in all languages

More about it here:
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-s

[2018-01-14 18:52] jhanstra commented on #1246
Hey @kroitor, thanks for the quick response. It seems to be an issue (or a misunderstanding) with using the forever package. I know how setInterval works, but that's not what was causing the continuous market orders. The setInterval was set for 10 seconds, but it was placing orders multiple times per second. There must have been a forever process still spinning, even though listing the processes s

[2018-01-14 18:54] hansvanzutphen commented on #1243
`<?php

  include "ccxt2/ccxt/ccxt.php";

  $sub = '\\ccxt\\binance';
  $exchange = new $sub();
  $exchange->apiKey = "KEY";
  $exchange->secret = "SECRET";
  $exchange->verbose = true;

  $raw_result = $exchange->fetch_order_book("NEO/BTC", array (($sub == "\\ccxt\\binance" ? 'limit' : 'count') => 100, ));
  var_dump($raw_result);
  sleep(1);

  $raw_result = $exchange->create_limit_buy_order("NE

[2018-01-14 18:54] kroitor commented on #1246
Well, yes, they are executed immediately or canceled (dropped), that is the usual pattern of a market order. No backlogging. We want a market price – it means now, not later.

[2018-01-14 18:58] hansvanzutphen commented on #1243
And this is the output, with the var_dump()'s removed to keep it a bit shorter:

`\php\php test_binance_gdax.php

Request:
Array
(
    [0] => GET
    [1] => https://api.binance.com/api/v1/exchangeInfo
    [2] => Array
        (
        )

    [3] =>
)

Request:
Array
(
    [0] => GET
    [1] => https://api.binance.com/api/v1/depth?symbol=NEOBTC&limit=100
    [2] => Array
        (
        )

    [

[2018-01-14 18:59] hansvanzutphen commented on #1243
By the way, if I create a new Exchange object after calling Cancel everything works fine. So I can do that as a workaround for the time being.

[2018-01-14 19:15] kroitor commented on #1243
To be honest, I don't really understand how you missed this: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

I've tried to put a link to it is everywhere around... When someone submits an issue, it is in the body with a big **ATTENTION** word, and still you missed it somehow.

![screen-shot-2018-01-14-at-22 09 55](https://user-images.githubusercontent.com/1294454/3

[2018-01-14 19:15] #1243 closed

[2018-01-14 19:31] hansvanzutphen commented on #1243
Sorry about missing those things - it's the latest ccxt (I mentioned that somewhere) but I did indeed forget the rest:

- OS: Windows 10
- PHP 7.0 and 7.1 (I tried both)
- CCXT version: 1.10.709, but it also failed in older versions (I ran git pull 2 or 3 days ago to see if it would fix it, previous version was from late December).
- Exchange: Binance and GDAX

Anyway, adding rate limiting doesn't

[2018-01-14 19:32] Deathamns opened #1263 "fetchOrderBook sorting"
The wiki says that `The bids array is sorted by price in descending order.` and `The asks array is sorted by price in ascending order.`
I see that [fetchL2OrderBook](https://github.com/ccxt/ccxt/blob/master/js/base/Exchange.js#L669) is sorted properly, but the casual `fetchOrderBook` doesn't seem to be.
The data should be sorted inside individual exchanges, or it's a mistake in the base exchange?

[2018-01-14 19:34] kroitor commented on #1243
Ok, I will look into it, sounds like we should clear some cache in curl... will get back to you with a fix, hopefully, soon.

[2018-01-14 19:59] gaardiolor opened #1264 "yobit fetch_tickers URI too large"
- OS: windows
- Programming Language version: python
- CCXT version: 708
- Exchange: Yobit
- Method: fetch_tickers()

The URI fetch_tickers() (without symbol param) generates is too large. I've tested in making it smaller:
- At first you get a cloudflare error
- After making it smaller Yobit generates a 403
- After making it even smaller Yobit says {"success":0,"error":"Empty pair list"}
- After r

[2018-01-14 20:05] #1263 closed

[2018-01-14 20:31] #1264 closed

[2018-01-14 20:38] bimble1 commented on #1260
Thanks, that doesn't cover the first error:
create_order path is being sent incorrectly comes up as
https://api.quoine.com/limitArray1ArraysellArray1.01Array20000
it seams to be sending the array as the path.
all other functions seams to be ok, just a problem on create_order

[2018-01-14 20:39] kroitor commented on #1264
This issue is fixed in version 1.10.711.

We have a policy on the amount of requests: one call = one request. Explained here: https://github.com/ccxt/ccxt/issues/1175#issuecomment-356831009

[2018-01-14 20:40] kroitor commented on #1260
@bimble1 without seeing your code, it's hard to tell, can you please post it [according to this](https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue) ?

[2018-01-14 20:41] #1262 closed

[2018-01-14 20:56] gaardiolor commented on #1264
Yeah I understand, I'll do it in my script. Thanks!

[2018-01-14 20:57] gaardiolor commented on #1264
@kroitor I think you need to fix the exception though.

[code]

[2018-01-14 21:04] bimble1 commented on #1260
OS: Linux CentOS
Programming Language version: PHP
CCXT version: 1.10.658
Exchange: quoine
Method: create_order

`$api->create_order('BTC/USD','limit','sell','1.01','20000');`
then sends the following array to function sign .. the path is being sent as the array rather than /orders.  I've made a work around but its too much of a hack to submit replacement code, so I'm reporting the error.
`Array
-

[2018-01-14 21:04] hansvanzutphen commented on #1243
Great, No rush for me, I have it working now with creating a new exchange class after each cancel, so far it looks like it works without issues now.

[2018-01-14 21:04] Deathamns commented on #1263
Now it does an unnecessary sort in `fetchL2OrderBook`, since that goes through the regular `fetchOrderBook`.

[2018-01-14 21:48] kizbitz opened #1265 "TypeError: unsupported operand type(s) for -: 'NoneType' and 'float'"
- OS: On MacOS Sierra 10.12.6 (Running CCXT in a Docker container using Debian GNU/Linux 8) (jessie) as base
- Programming Language version: Python 3.6.4
- CCXT version: ccxt==1.10.693
- Exchange: GDAX
- Method: fetch_orders()

---

[code]

[2018-01-14 21:53] kizbitz commented on #1265
After testing the other order functions the problem may be with *closed* orders. Fetching open orders works fine. `fetch_closed_orders()` returns the same error.

[2018-01-14 22:27] wannesdemaeght commented on #1232
Hi,

I'm sorry if I came over too forward, English is not my native tongue.

What I was trying to get at is the following:
I would like to have a dynamic list of exchanges to use, so that I can just update an array with exchange names, and all functions would work in accordance to said array.

This is working now, but in some cases ( eg this one), I can not get the correct info 100% of the time us

[2018-01-15 00:52] mikenew opened #1266 "Bitfinex createMarketBuyOrder ..... error "bitfinex2 createOrder not implemented yet""
***Environment***
- OS: Mac
- Programming Language version: python 3.6.3
- CCXT version:
- Exchange: Bitfinex
- Method: CreateOrder and CreateMarketBuyOrder

***Error Description***
Calling `CreateOrder` or `CreateMarketBuyOrder` results in an error: `error "bitfinex2 createOrder not implemented yet"`

***Note***
The bitfinex exchange object contents:
          `.....  'has': {  .....    'createOr

[2018-01-15 01:01] gerardo15 opened #1267 "Binance Api Broken?"
Hello.

10 Hours ago Binance released a new API

Well.. first my robots all got banned.. lol..

not sure if the new api rate limits are per IP or per APIKEY.

Also i think autorization method now changed because i keep getting "Invalid API KEY or IP" message

https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md

[2018-01-15 02:35] chsivateja opened #1268 "Please add Indian exchanges like zebpay, unicoin"
Please add Indian exchanges like zebpay, unicoin
__
[EDIT] removed: _koinex([deprecated](https://medium.com/koinex-crunch/koinex-shutdown-announcement-termination-of-exchange-services-bea4a472ea79))_, coinome(_deprecated_), coinbase(_integrated_), coindelta([_deprecated_](https://coindelta.com))

[2018-01-15 02:36] BigBull90 commented on #1268
Please add Indian exchanges like koinex, zebpay, coinome, coinbase, unicoin, coindelta. They are missed out completely now.

[2018-01-15 05:10] scottie commented on #1244
so just use useless code in there .....
the right thing to do would be emulate the market order and leave the call in.
just seems to me like you have no clue at all, thanks anyway ill make the required changes to local copy.

[2018-01-15 05:12] scottie commented on #1244
You have made it clear there is no point responding. I wont bother with merge request.

[2018-01-15 06:38] jjhesk commented on #1268
@BigBull90 please list them one by one. its the best to provide each exchange with their API guide URL and its company background information for each ticket. so that people can follow one by one.

[2018-01-15 06:40] jjhesk commented on #1029
@Deathamns no i have not touched any code for implementing this exchange api.

[2018-01-15 06:51] jjhesk commented on #1024
@kroitor @Deathamns please consider the new update implementations from the official guide https://github.com/zb2017/api

[2018-01-15 06:53] kroitor commented on #1267
It was published several weeks ago and current version of CCXT integrates it.

Without any versions info or code from you it's hard to tell. Try updating the library first and recreating the keys.

This should be covered by the most recent version of CCXT.

Hope it answers your questions, let us know if not.

[2018-01-15 06:53] #1267 closed

[2018-01-15 06:58] kroitor commented on #1232
You're are already there. This is such a place. So, all issues, are in the Issues section: https://github.com/ccxt/ccxt/issues

We hope, yes.

[2018-01-15 06:59] jjhesk opened #1269 "ZB Exchange API updates (zb.com)"
Followed by the latest doc and announcement, the new update implementations from the official guide https://github.com/zb2017/api

the previous talk #1024, #622
https://www.zb.com/i/developer/websocketApi#config

@kroitor @Deathamns

ZB WebSocket address：wss://api.zb.com:9999/websocket
The english translated api guide instruction
https://translate.google.com/translate?hl=en&sl=zh-CN&tl=en&u=https%

[2018-01-15 07:05] kroitor commented on #1024
Moved to #1269

[2018-01-15 07:05] #1024 closed

[2018-01-15 07:11] kroitor commented on #1266
For bitfinex2 – this is their experimental Bitfinex API v2 (it's raw and they don't guarantee that it works), and v2 does not offer an endpoint for creating orders at all. This is not because we can't implement it, it's just because their v2 does not offer that yet. So, for trading with Bitfinex, use v1 (the stable version of it).

Does this answer your question?

[2018-01-15 07:16] kroitor commented on #1265
@kizbitz can you please post verbose output?

[code]

?

[2018-01-15 07:34] g666nz commented on #1191
I'm simply calling the orderBook every three seconds.

[2018-01-15 07:37] kroitor commented on #1191
@g666nz right, but this can be done in a multitude of ways (rate-limiting, error handling, etc), so we still need to see your code + verbose output, otherwise we can't help. So, can you paste it?

[2018-01-15 07:56] kroitor commented on #1268
Didn't know Coinbase is an Indian exchange )

[2018-01-15 08:26] jjhesk opened #1270 "New Exchange: btctradeim"
url: https://www.btctrade.im
api: https://www.btctrade.im/help.api.html
company: COINCLOUD (HK) TECHNOLOGY CO.,LIMITED
country based: China
company registered: hong kong

[2018-01-15 08:28] kroitor commented on #1270
When I go here, they say, no API docs yet, unfortunately :(

<img width="1208" alt="screen shot 2018-01-15 at 11 27 18" src="https://user-images.githubusercontent.com/1294454/34933232-1a47137a-f9e7-11e7-8eae-e5a2c28130ee.png">

[2018-01-15 08:29] jjhesk opened #1271 "New Exchange: LBank"
url: https://www.lbank.info/
api doc: https://www.lbank.info/api/api-overview
api doc english: https://translate.google.com/translate?hl=en&sl=auto&tl=en&u=https%3A%2F%2Fwww.lbank.info%2Fapi%2Fapi-overview
based country: china
registered company: hong kong
detail: UNIT 04,7/F,BRIGHT WAY TOWER,NO.33 MONG KOK ROAD,KOWLOON HK.
telegram: https://t.me/LBankinfo

[2018-01-15 08:30] jjhesk commented on #1270
lets make it to the pending api list. once its ready, this thread can put back to the development flow

[2018-01-15 08:34] kroitor commented on #1270
@jjhesk as you say ) I've subscribed to their changes... If you are tracking that exchange, please, let us know if you have any news or updates on it.

[2018-01-15 08:36] jjhesk opened #1272 "New Exchange: CoolCoin"
api doc: https://www.coolcoin.com/help.api.html
website: https://www.coolcoin.com/?lang=en_US
company based: china
registered: hong kong
telegram: https://t.me/ImCoolCoin

[2018-01-15 08:37] jjhesk commented on #1270
@kroitor will update you in realtime!

[2018-01-15 08:41] jjhesk opened #1273 "New Exchange: bitsane"
api doc: https://bitsane.com/info-api
web url: https://bitsane.com/
priority: low
avg volume: https://coinmarketcap.com/exchanges/bitsane/

[2018-01-15 08:41] jjhesk commented on #1273
this exchange is in the list but its not too important as it doesnt have major volume in this exchange

[2018-01-15 08:54] jjhesk opened #1274 "New Exchange: rightbtc"
api doc:
volume: https://coinmarketcap.com/exchanges/rightbtc/
ip tracking: https://tools.keycdn.com/geo?host=54.215.240.91
telegram: https://t.me/RightbtcExchange
priority: low

[2018-01-15 09:00] jjhesk commented on #1274
note: there is an api settings from the user profile security but the api doc url is not found from the research.

[2018-01-15 09:06] jjhesk opened #1275 "New exchange: Paxful"
api doc: https://paxful.com/developers#trades
web: https://paxful.com
github: https://github.com/paxful/api-docs
company: Paxful Inc

priority: low
background: Paxful Inc. has no relation to MoneyGram, Western Union, Paxum, Paypal, Amazon, OkPay, Payza, Walmart, Reloadit, Perfect Money, WebMoney, Google Wallet, BlueBird, Serve, Square Cash, NetSpend, Chase QuickPay, Skrill, Vanilla, MyVanilla, One

[2018-01-15 09:12] jjhesk opened #1277 "New Exchange: bitgrail"
api doc: https://bitgrail.com/api-documentation
volume: https://coinmarketcap.com/exchanges/bitgrail/
company info: BitGrail S.r.l., P.IVA: IT06791600486
based country: italy
priority: low
address: We use industry-standard data encryption technology and have implemented restrictions related to the storage of and the ability to access your personal information. Currently, BitGrail/WEBCOIN SOLUTIONS

[2018-01-15 09:16] jjhesk opened #1279 "New Exchange: Mr. Exchange"
api doc:
url: https://mr-ripple.com/ja, https://mr.exchange/en-JP
volume: https://coinmarketcap.com/exchanges/mr-exchange/
address: 株式会社 Mr. Exchange, Inc. 〒812-0011 福岡県福岡市博多区博多駅前4丁目-2番20号 C-9ビル8階-C, 10am-6pm (Monday-Friday) 8F Hakataekimae C-9 Bill, 4-2-20 Hakataekimae Hakata-ku, Fukuoka 812-0011, Japan
company info: Mr. Exchange, Inc. https://mr.exchange/en-JP/about
based country: japan
priority

[2018-01-15 09:30] Deathamns commented on #1270
It seems that is has the same engine as CoinEgg #1215.

[2018-01-15 09:32] jjhesk opened #1280 "New Exchange: DMM"
api doc:
url: https://bitcoin.dmm.com/en
volume: https://coinmarketcap.com/exchanges/dmm/
address: 東京都港区六本木三丁目2番1号 住友不動産六本木グランドタワー24階
company info: 株式会社DMM.com（コーポレートサイト） https://terms.dmm.com/profile/
based country: japan
priority: low
note: expecting the api will issue soon as its is a huge retail company with large japanese local market.

[2018-01-15 09:35] Deathamns commented on #1272
Same engine as CoinEgg #1215.

[2018-01-15 09:38] jjhesk commented on #1280
news: https://news.bitcoin.com/japans-dmm-bitcoin-exchange-opens-for-business-cryptocurrencies/

[2018-01-15 09:46] jjhesk opened #1281 "New Exchange: abucoins"
api doc: https://docs.abucoins.com/#introduction, https://github.com/timmolter/XChange/blob/develop/xchange-abucoins/api-specification.txt
url: https://abucoins.com/
volume: https://coinmarketcap.com/exchanges/abucoins/
address: Rybaki 19/22 61-884 Poznań, Poland
company info: Abucoins Sp. z o.o. | REGON: 367914649 | VAT-ID: 7831762644 | KRS: 0000689296
based country: Poland
priority: low
note:

[2018-01-15 09:50] jjhesk opened #1282 "New Exchange: bitinka"
api doc: https://www.bitinka.com/bitinka/api_documentation
url: https://www.bitinka.com
volume: https://coinmarketcap.com/exchanges/bitinka/
address: Rybaki 19/22 61-884 Poznań, Poland
company info: Abucoins Sp. z o.o. | REGON: 367914649 | VAT-ID: 7831762644 | KRS: 0000689296
based country: Poland
priority: low
note:

[2018-01-15 09:51] jjhesk commented on #1270
@Deathamns can you verify?

[2018-01-15 09:52] Deathamns commented on #1281
Similar to gdax API.

[2018-01-15 09:55] jjhesk opened #1283 "New Exchange: mercatox"
api doc: https://mercatox.com/docs, https://mercatox.com/public
url: https://mercatox.com/
volume: https://coinmarketcap.com/exchanges/mercatox/
address: UK
company info: MERCATOX  LTD, UK
based country: UK
priority: low
note:

[2018-01-15 09:55] Deathamns commented on #1270
No, that's why I said it seems. But, most probably it's the same.

[2018-01-15 10:07] kevyu opened #1284 "ExchangeError is thrown for status code 429 in bitmex"
In bitmex, ExchangeError is thrown for status code 429, it should throw DDoSProtection.

I think it is caused by handleErrors in bitmex.

------------

- OS: Windows
- Programming Language version: Javascript
- CCXT version: 1.10.713
- Exchange: Bitmex
- Method: fetchTicker

[2018-01-15 10:10] jjhesk opened #1285 "New Exchange: BTC-Alpha"
api doc: https://btc-alpha.github.io/api-docs/
url: https://btc-alpha.com/exchange/
volume: https://coinmarketcap.com/exchanges/btc-alpha/
address: US based
company info: BTC-Alpha LTD
priority: medium
note:

[2018-01-15 10:52] jjhesk commented on #1268
@BigBull90 the above exchanges are not trading with high volume in the market and it will put into low priority to support it.

[2018-01-15 10:57] kroitor commented on #1284
Will fix this asap. Thx for reporting!

[2018-01-15 11:01] kroitor commented on #1256
[code]

[2018-01-15 11:01] #1256 closed

[2018-01-15 11:18] kizbitz commented on #788
Adding a note for anyone else that might be searching for a resolution in the future.

Check your system time. If it's off by a minute you'll get this error. - See: https://github.com/coinbase/coinbase-php/issues/65#issuecomment-147353697

[2018-01-15 11:23] hippylover commented on #986
okok.

[2018-01-15 11:46] kizbitz commented on #1265
After further digging and troubleshooting other method calls - I believe this was caused by my system timestamp being off more than a minute than the GDAX servers. I can't reproduce now so I'll go ahead and close.

If anyone runs across this issue in the future. Check for `ccxt.base.errors.ExchangeError: gdax {"message":"request timestamp expired"}` in the output logs and then confirm your system

[2018-01-15 11:46] #1265 closed

[2018-01-15 11:48] kroitor commented on #1265
@kizbitz ok, thanks for reporting back! One more hint: you really want to set up not just basic time synch, but a **very** frequent timesynch, like once every 10 minutes. This will save you a lot of time with other exchanges. Let us know if you have any other difficulties with it. Cheers!

[2018-01-15 11:51] kroitor commented on #788
Related: #1265

[2018-01-15 12:03] kornrunner opened #1287 "bibox: json issue with PHP"
- OS: archlinux
- Programming Language version: PHP
- CCXT version: 1.10.717
- Exchange: bibox
- Method: any

There's an issue with Bibox and `Exchange->json` due to second parameter `JSON_FORCE_OBJECT` passed to `json_encode`.

Bibox expects JSON request to look like:
[code]

However, with given parameter in PHP it looks like:
[code]

And that causes all requests fail with response:
[code]

 I be

[2018-01-15 12:10] kroitor commented on #1287
Yep, we can't, however, you see, I was too lazy to comment it properly, so now I have to remember, why I added it there in the first place, but I recall there was a problem with an exchange that wanted assoc arrays instead of plain lists. Let me get back to you on this after reviewing it.

I would get rid of it, but let's make sure not to break anything first. I hope to be quick on this.

[2018-01-15 12:10] jamespfarrell opened #1288 "Error running app - SyntaxError: Unexpected identifier"
Guys, I'm on linux, and can't get this running on my local machine.

I have cloned from git.

[code]
I get the following errros.

![image](https://user-images.githubusercontent.com/10499048/34941741-54a99c28-f9f5-11e7-9b00-e1dcb84ca410.png)

My node version is:
v7.8.0

Am I doing something wrong, I'm just trying have a first look at the project and I'm really excited about it, but my wheels are sp

[2018-01-15 12:22] kroitor commented on #1288
Hi!

![screen-shot-2018-01-15-at-15 18 06](https://user-images.githubusercontent.com/1294454/34942183-b4420488-fa07-11e7-9e06-dc5799c3574c.jpg)

Unfortunately, it isn't for *running*. It is for *programming*.

Explained here:
- https://github.com/ccxt/ccxt/issues/900
- https://github.com/ccxt/ccxt/issues/1203
- https://github.com/ccxt/ccxt/issues/1206

The `example.js` script that you're trying to

[2018-01-15 12:22] #1288 closed

[2018-01-15 12:26] kornrunner commented on #1287
It seems it has been there from the very beginning:
https://github.com/ccxt/ccxt/commit/35ad58a8e49e2c27298a2a9e089a51e1f48f2cfe#diff-420ef125a6adce3355f82c1909e40d0aR478

[2018-01-15 12:40] kroitor commented on #1287
Well, that isn't the beginning, it's the beginning of ccxt.php, and before that everything was in one file + it was moved from folder to folder in recent months, so, it's quite hard to find the reason now ) But, if you're ok to wait a little, I'll come up with a reason for that. In other words, I would not add "just in case", I would only add it to fix a bug – that's what I'm sure of.

[2018-01-15 13:50] valentinbora opened #1289 "HuobiPro API call for load_markets() blocked by CloudFlare"
Tried running `ccxt/examples/py/symbols.py huobipro` and got an HTML result back from the API saying "The owner of this website (api.huobi.pro) has banned your access based on your browser's signature".

The API request `GET` `https://api.huobi.pro/v1/common/symbols` works in a regular Chrome browser without issue, but not from ccxt/CLI.

- OS: Mac OS X
- Programming Language version: Python 3.6.3

[2018-01-15 13:52] HydroMining opened #1290 "Huobipro: Withdrawl attribute missing"
Hi,

for Huobipro, the withdraw attribute/method is missing - Can you check?

Thanks for you great software & regards,

Hydro

- OS: All
- Programming Language version: Python 3.6
- CCXT version: 1.10.717
- Exchange: Huobipro
- Method: withdraw

[2018-01-15 13:59] sharmaparas4444 commented on #192
H,
I am getting {"Success":false,"Error":"Invalid authorization header."} error while i ma hitting "Getbalance"  API in python.
I am following a github example, here is the github link "https://github.com/crypto-crew-tech/cryptopia-api-python". This is happening for private api call.

Can you please suggest a solution?
Thanks.

[2018-01-15 14:11] kroitor commented on #192
@sharmaparas4444 on a foreign project, I can't really comment, so my suggestion would be to not use `cryptopia-api-python` and use `ccxt` instead, like so:

[code]

Sorry, but your question is like walking into the office of Microsoft and asking if they could help you with your iPhone.

[2018-01-15 14:19] kroitor commented on #1290
Sorry, but is not implemented yet, yet still you can use their custom API from ccxt to withdraw funds right away, until we unify that. The usage of custom methods is described here: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods (I'd recommend to read the entire manual). Closing this for now. Feel free to reopen it if needed or just ask questions. Your contributions are welcome!

[2018-01-15 14:19] #1290 closed

[2018-01-15 15:03] stevengroot82 opened #1293 "fetch ohlvc issue with $since on GDAX"
- OS: Linux on Synology DSM
- Programming Language version: PHP 5.6
- CCXT version: 1.10.646
- Exchange: GDAX
- Method: fetch_ohlcv

Yesterday I've tested the fetch_ohlvc function on the GDAX api with start and end times.
Aparently the API cannot handle iso8601-formats including timezones and milliseconds (although this is mentioned in their documentation)
CCXT delivers: `2018-01-01T00:00:00+01:00

[2018-01-15 15:08] j0e1in opened #1294 "Bitfinex parse_order handle 'None' fields"
- OS: Ubuntu 16.04
- Programming Language version: Python 3.6.3
- CCXT version: ccxt-1.10.719
- Exchange: Bitfinex
- Issue: Bitfinex parse_order raises TypeError

I don't know why, but Bitfinex returns an history order which price is None.
I can make a pull request if needed.

Error message:
[code]

One of my closed orders: (returned by privatePostOrdersHist)
[code]

Code:
[code]

[2018-01-15 15:20] kroitor commented on #1294
Hi! Thanks for reporting!

I've uploaded a fix for it, please wait for the release of next version 1.10.721 (should be available in 5-10 minutes).

We welcome all contributions, but make sure to read this first: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

Let us know if you have any other difficulties with it after updating to 1.10.721. We will be happy if you

[2018-01-15 15:32] kevyu commented on #1284
thanks,  it seems the same problem in binance.

[2018-01-15 15:33] #1294 closed

[2018-01-15 15:36] kevyu commented on #1284
by the way, is it possible to use exchange response headers for rate limit ?
for example, bitmex includes headers below
[code]
so I can use the header info to detemine the time to retry.

[2018-01-15 15:37] kroitor commented on #1284
Will add that as well.

[2018-01-15 15:45] #1284 closed

[2018-01-15 16:39] gaardiolor commented on #1258
@kroitor unfortunately the 404 is still raised as ExchangeError in v707. Can you please take a look ?

[code]

[2018-01-15 17:15] kroitor commented on #1258
Ok, refixed it once again in 1.10.726. Let us know if you have further difficulties with it.

[2018-01-15 17:29] hippylover opened #1295 "kucoin only returns 6 asks and 6 bids and 10 trades"
kucoin only returns 6 asks and bids(separately) and 10 trades even if i provide depth parameter.

[code]

Should be 150 according to api doc atleast: https://liqui.io/api

[2018-01-15 17:48] gaardiolor commented on #1295
You can pass params to fetchOrderbook: `{'limit': 100}` gets 100 orders. Kucoin API by default returns 6.

Not sure if ccxt should do this by default though.

[2018-01-15 18:19] gaardiolor commented on #1258
@kroitor I've seen now that sometimes Kucoin returns a 404 on for example `create_limit_sell_order`, but did execute the order in the background. So we cannot safely retry in this case. Not sure what to do here. Maybe leave it like this and in my script I need to fix that for all orders, regardless of the exception, always check if it was executed or not. What do you think ?

[2018-01-15 18:24] kroitor commented on #1258
I would say you're moving in the right direction, in general, you're not guaranteed any result right away from create_order (can be a http error, a net quirk, exchange outage, your local connection problem, a lightning just hit the house, anything...), so, upon an error you have to check the result of execution to make sure. An network error from create_order means literally: *the order may be exe

[2018-01-15 18:29] kroitor commented on #1295
@hippylover

For **Kucoin**:

[code]

For **Liqui**:
[code]

[2018-01-15 18:29] #1295 closed

[2018-01-15 18:30] gaardiolor commented on #1258
Yes exactly, I agree. I'll fix it in my script. Thanks!

[2018-01-15 19:04] hippylover commented on #1295
Oh yeah im mixing. Pretty sure the api docs say one is supposed to use the {} for exchange specific settings but i didnt realise the words would be unified too as with liqui.

[2018-01-15 19:06] kroitor commented on #1295
It's the opposite, they're not unified yet, you just used a wrong parameter name `depth` instead of `limit`. It just so happens, that both Kucoin and Liqui have the same name for that `limit` parameter.

[2018-01-15 19:08] hippylover commented on #1295
oh XD. I just looked at the "method depth" name. Goddamit!

[2018-01-15 21:18] mikenew commented on #1266
OK thanks that's clear!

Would be good to change the `'createOrder': True,` flag on the Bitfinex v2 exchange object to `False`

Again thanks for your help ...

[2018-01-15 21:35] wannesdemaeght opened #1297 "enhancement: "success"parameter"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows Server
- Programming Language version: Node JS
- CCXT version: latest
- Exchange: all
- Method: Withdrawal, createOrder

Looking at these statements from the manual, depicting the response to a new order and a withdrawal:

I was wondering if it migh

[2018-01-15 21:36] gaardiolor opened #1298 "Kucoin order failure"
- OS: Windows, Linux
- Programming Language version: Python sync, async
- CCXT version: 727. It worked in 712.
- Exchange: Kucoin
- Method: create_limit_buy_order

create_limit_buy_order fails, see below. It worked in version 712.
[code]

So what I'm expecting (to grab the min order amount) is:
[code]

[2018-01-15 21:49] gaardiolor commented on #1298
ccxt-1.10.724: Latest version where this works
ccxt-1.10.725: doesn't seem to exist (pip is unable to find it)
ccxt-1.10.726: not working
ccxt-1.10.727: not working

[2018-01-15 21:52] hippylover commented on #1295
I just remembered. I don't know if it's a bug or not but this only results in 10 trades. Iv'e tried looking at their API but can't find any settings that will make it possible to get more(although i couldnt find where trades where supposed to be...)

[code]

[2018-01-15 22:41] #1298 closed

[2018-01-15 22:47] kroitor commented on #1297
Hi! Thx for your suggestion! ) I have a few questions to you, however:
- What behaviour would you expect in case of failure?
- Can you, please, name several examples of how it could fail?
Standing by for your reply )

[2018-01-15 23:32] wannesdemaeght commented on #1297
success: false, with perhaps a short reason why.
This would be for things that wouldn't result in an error.

errr...

come to think of it, I can see where you're going with this one.

Whenever the promise is resolved, we can asume that everything went ok, so there's no need to state it again with a success flag.

All the stuff I can think of (balance too low, order not going through, ...) would co

[2018-01-15 23:32] wannesdemaeght commented on #1297
Still stuck in the callback era I guess :-)

[2018-01-15 23:34] kroitor commented on #1297
@wannesdemaeght so, from here you should just catch them like described in the manual:
- https://github.com/ccxt/ccxt/wiki/Manual#error-handling

Otherwise, if there was no exception, it's a success, right? ) So, you're thinking in the right direction. Would you mind if I close this now? Or do you still have questions?

[2018-01-15 23:38] wannesdemaeght commented on #1297
No man, you rock.
Thanks again for the fast reply, and making me smarter. Great support!

[2018-01-15 23:38] #1297 closed

[2018-01-16 01:01] kevyu commented on #1284
The fix is not correct, I enable verbose and got the response as below:
[code]

It still return ```ExchangeError``` in method ```handleErrors``` of bitmex

[2018-01-16 01:12] kilimchoi commented on #1238
@vladanm were you able to integrate it?

[2018-01-16 04:32] fedecaccia commented on #663
Hi, I have another issue with binance and I would like to know if you had it.
I place a market order like this:
binance.create_order(symbol="BCG/BTC", type = "market", side = "sell", amount = 0.36, price = None)
And when I check, the order has been successfully executed, but for an amount of only 0.36.

I have check the limits:
{'amount': {'max': 10000000.0, 'min': 0.01},
 'cost': {'max': None, 'm

[2018-01-16 05:01] jjhesk opened #1301 "balance format unify account address"
i think we need to fetch and parse properly when the account wallet address is available.  Also noticed that this is under progress.

ref: https://github.com/ccxt/ccxt/wiki/Manual#querying-account-balance

[2018-01-16 05:21] jjhesk opened #1302 "reward system for this github fork"
it is just a suggest for better development for this fork repo. The situation is that you are taking all the work to support all exchanges api and it has slow progress and it seems to be a bottle neck issue. Lets think of a way that the development support can be scalable for every developer with measurable reward.

[2018-01-16 05:54] jjhesk commented on #1302
Suggested by the latest avocation. There is a IBO to manage the growth of a project with a self-driven ego system. check out https://cointelegraph.com/explained/how-initial-bounty-offering-can-help-the-unbanked-explained

[2018-01-16 06:32] jjhesk commented on #1302
I think this "rating feature that network will able to guide and lower their transactional risk for every single trade." should be discussed with another open discussion for the development roadmap.

[2018-01-16 06:44] jjhesk commented on #1302
developer enrolment procedure: should be qualified with 3 initial and successful merges to the main chain will be qualified for reward system to gain future PRs. (requirements: compiled successfully with the test runner and has been all the functions api implemented to the file for the new exchange)

manager enrolment procedures: should be qualified with 3 initial voted contributions or initiative

[2018-01-16 06:59] claytondukes opened #1303 "bleutrade tries to use bittrex"
- OS: osx
- Programming Language version: Python 2.7.12
- CCXT version: 1.10.730
- Exchange: Bleutrade
- Method: fetch_balance

Getting Bleutrade balance is referencing bittrex:

I'm thinking that #1234 may be causing this?

[code]
[code]

[2018-01-16 07:25] Deathamns opened #1304 "Get currency by its id"
There's currently an `exchange.currency()` method, I would like to have a `currencyById` map or function or something for getting currencies by their id.

[2018-01-16 07:26] gaardiolor commented on #1303
At first I thought it was weird too - then I figured out that this happens because bleutrade inherets some methods from bittrex, because they are similar. I think this is by-design.

[2018-01-16 08:07] claytondukes commented on #1303
Er, ok - but it's borked somehow I guess - I can't fetch balance :)

[2018-01-16 08:09] jjhesk commented on #317
backing up some allcoin info:
Di Deng, Chief Executive Officer | Telephone No.: 604‐639‐1285 | Cascadia Consumer Electronics Corp. (the “Company”) | Suite 1552, 701 West Georgia Street Vancouver, British Columbia V7Y 1C6

[2018-01-16 09:13] stephensilber commented on #1245
I have also seen the Gemini API time out even though the request technically succeeds on the Gemini side of things. For example, we will call withdraw via a Gemini API call, and our response looks like this even though the withdraw is completed:

[code]

It seems like our issues could be related?

[2018-01-16 09:21] jackel27 opened #1308 "Request Timed Out (10000 ms) Node/Nginx"
<hr>

<hr>
First off, Great Job! I'm loving it! <3

Locally all of this works. I have a proxy set up, (as defined in the CCXT manual/installation) to avoid CORS issues. During my development - it work flawless.

I have now moved to host it on a digital ocean droplet, but experiencing issues with CORS (or related?).

I am thinking it may be an NGINX related setup as during page load I get timeouts

[2018-01-16 09:39] jjhesk opened #1310 "New Exchange: Radar Relay"
api doc: https://radarrelay.com/standard-relayer-api/
url: https://radarrelay.com
volume: N/A
address: 824 South College Avenue, Fort Collins, CO 80524, United States
company info: Radar Relay, LLC, https://www.bloomberg.com/profiles/companies/1567056D:US-radar-relay-llc, http://www.whogotfunded.com/companies/265914-radar-relay-llc, https://www.linkedin.com/company/radar-relay/
based country: USA

[2018-01-16 09:48] jjhesk opened #1312 "New Exchange: Waves"
api doc: https://github.com/wavesplatform/Waves/wiki/Waves-Node-REST-API
url: https://wavesplatform.com/product
volume: N/A
address: Suite 1, 5 Percy Street, Fitzrovia, London, United Kingdom, W1T 1DG
company info: Radar Relay, LLC, https://www.linkedin.com/company/waves-platform-ltd/, https://en.wikipedia.org/wiki/Waves_platform, https://beta.companieshouse.gov.uk/company/10348537, https://wavesp

[2018-01-16 10:32] kroitor commented on #1301
Hi! This is mostly covered by [fetchDepositAddress()](https://github.com/ccxt/ccxt/pull/653). We are going to add address parsing to balance structures as well, working on it. Your contributions are welcome. Let me know if you have more questions and details on this.

[2018-01-16 11:13] kroitor commented on #1302
Oh, wow! Thx for the proposal! Sounds very cool! )

One question though: who pays for it? )

During last 6 months our users have sent approximately $200 worth of crypto donations in total. It isn't a secret and you can see the transaction history on those addresses. The question is: how do you develop a system for the IBO with initial funding close to zero? )

In other words, your proposal sounds

[2018-01-16 11:24] kroitor commented on #1303
@claytondukes show verbose output, please (always).

[code]

[2018-01-16 11:26] kroitor commented on #1304
Will add that property as well! Thank you!

[2018-01-16 11:28] kroitor commented on #1308
Hi! One question: why do you need nginx in the first place?

[2018-01-16 11:29] #1266 closed

[2018-01-16 11:36] kornrunner opened #1313 "A unified address tag for withdrawing XRP, XMR, XLM, etc"
I've got a question about withdrawal API for currencies that require `memo`/`message`/`tag`/`paymentId` or variations for deposit/withdrawal.

Here's a short list of affected currencies (likely there are more):
- AEON
- BTS
- GXS
- NXT
- SBD
- STEEM
- STR
- XEM
- XLM
- XMR
- XRP

As far as I've seen, for fetch/create deposit addres API (where available/implemented) for most of the exchanges aren't

[2018-01-16 12:21] kroitor commented on #663
@fedecaccia check out the `lot` size (not only limits) – Binance amount should be evenly divisible by the lot size. So, when your lot size is 0.01, and the amount is 0.3699 it will be truncated to the closes amount that is evenly divisible by 0.01 – that is 0.36. Does this answer your question?

[2018-01-16 12:24] jjhesk commented on #1302
1. i think we should talk to the exchanges for the funding. Thats my first thought. They are normally cash cow from the market. They will totally support this kind of project because it helps them to reach bigger market goal.

[2018-01-16 12:32] kroitor commented on #1302
Are you sure about this? Check this out: https://gist.github.com/kroitor/67cf3fd9b607d1bb2cbcc7b35b49faa6
Looks like not all of them want it at all. Mostly the smaller exchanges want to be added to the library, but they don't want to pay anything for it, they just want a free chance to compete with the giants. And the giants don't seem to care at all...

[2018-01-16 12:37] jjhesk commented on #1302
for smaller exchanges should have lower priority for the api to be added. there should a fine line that cover when the api should be added for free and when its not. they will need to try hard from their own marketing in order to get the volume running. also we can be the watch dog among all exchanges, this valuable because this many trader will need this information for their funding direction in

[2018-01-16 12:39] kroitor commented on #1302
@jjhesk lower priorities are ok, but have you checked out that link above? It's about BitMEX, that is the 5th topmost exchange, not a small one.

[2018-01-16 12:41] jjhesk commented on #1302
yes, im expecting that the likelyhood to collect the fee from the exchange will happen in the future as these kind of exchanges will be disrupted by the descentralized exchanges.

[2018-01-16 12:41] kroitor commented on #1302
BTW, most of them don't even bother to reply. And it's a problem. We have established pretty good connections with some exchanges and their support/tech teams and no connections with others, because they never reply at all.

[2018-01-16 12:45] jjhesk commented on #1302
yes, this is why we need to create an incentive for the exchanges to come to us because our position is to holding the longest history of exchange api records. We should able to develop an eco self check system for the health of these exchanges and their integrity. For this point itself creates the business model. funding will be easy to acquire.

[2018-01-16 12:50] jjhesk commented on #1301
@kroitor it is great. i have working on implementations of this library and i also working to source more developer to work on this project.

[2018-01-16 13:00] kroitor commented on #1301
@jjhesk would you mind if I close this issue temporarily? We will update you on progress anyway.

[2018-01-16 13:09] kroitor commented on #1302
Alright, but who pays for the initial development work? ) That's a request of a serious infrastructure, that would require a fews months of dedicated work, how do you fund it **now** ?

[2018-01-16 13:14] ydkishore30 opened #1314 "Unable to call exchange methods with "new CCXT[id]" declaration"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:Windows
- Programming Language version:Node Js
- CCXT version:latest
- Exchange:
- Method:loadmarkets()

I am not able to call exchange methods with below declarations.
[code]

[2018-01-16 13:20] kroitor commented on #1314
1. There is no such method as **loadmarkets**, the proper name is `loadMarkets` or `load_markets`. If you want to make any use of this library, you will have to start paying all of your attention to each symbol literally.
2. The method itself is asynchronous, it returns a JS Promise (google for it), so you can't call it like you did in your snippet. The proper code would look like the following:

[2018-01-16 13:20] #1314 closed

[2018-01-16 13:28] kroitor commented on #1314
- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/tree/master/examples

[2018-01-16 13:30] jjhesk commented on #1302
no worry, funding should be quickly and sent to the team. i go find them funding.

[2018-01-16 13:33] kroitor commented on #1302
@jjhesk

You're amazing! ) Thank you so much, I really wish it will help us continue this whole effort! )

[2018-01-16 13:43] jjhesk commented on #1302
this is the plan for mine maybe, sending out email for marketing. having these guy to talk about the team. once you have done some of these the fund will come knock on the door.
1. dimitar@thenextweb.com / https://thenextweb.com/author/dimitarmihov/
2. https://www.crunchbase.com/person/natasha-lomas / https://techcrunch.com/author/natasha-lomas/

[2018-01-16 13:48] ydkishore30 commented on #1314
Thanks for Quick reply Igor!! :)

On Tue, Jan 16, 2018 at 6:58 PM, Igor Kroitor <notifications@github.com>
wrote:

[2018-01-16 14:04] kroitor commented on #1302
Sounds like a plan indeed! )

Sure, we will! We actually hope to build a bigger team from our community. We won't forget anything, believe me )

Thank you!

[2018-01-16 14:29] #1301 closed

[2018-01-16 15:10] fedecaccia commented on #663
Yes I have checked this:
res = exchange.loadMarkets()["BTG/BTC"]['lot']
and the answer is: res=0.01

This is why I previously used round(N, 2):
N=0.3699
N=round(N,2)
so the amount changed from N=0.3699 to N=0.37

The fact is that creating an order with new N, the amount executed is 0.36, and not 0.37

[2018-01-16 16:03] kroitor commented on #1268
As you wish ) We welcome all contributions, but, please, make sure to read this first: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

Thx! )

[2018-01-16 16:16] #1071 closed

[2018-01-16 16:20] kroitor commented on #1313
Looks like we should add that `message=undefined` parameter even though it would be a BC-break. Most active users would still migrate quickly. So, yes, I totally agree with what you say.

So, the proposal is to change from this:

[code]

To this:

[code]

And I'm all for it! ) Will add the necessary things and will make the announcement )

[2018-01-16 16:27] kornrunner commented on #1313
Thank you very much!

Here are some of my own findings:
poloniex: `paymentId` for XMR
binance: `addressTag` (for any currency, optional)
hitbtc: `paymentId` IF `payoutIsPaymentId` in currencies call (for given currency)
cryptopia: `PaymentId` (for CryptoNote coins - maybe for others)

Waiting to hear from yobit if they will start returning it in API call (for XEM)

[2018-01-16 16:37] kornrunner commented on #1313
In XRP world it's called Tag. Other coins have their own names for that (thus memo, message, paymentId). As it differs per currency, I'd put something generic.
 `addressTag` that `binance` is fine, `tag` is also fine by me...

[2018-01-16 16:37] frosty00 commented on #715
So I have been running a bot [trading there](https://medium.com/@carlorevelli/how-to-make-your-own-trading-bot-83b5c6e35036) for quite a while now. It has recently gotten a lot worse, the API barely responds and the people running the site seem quite dodgy. Also the volume has dropped loads - maybe people are using other exchanges?

Perhaps it would be better to focus on adding better centralised

[2018-01-16 16:42] kroitor commented on #715
Thanks for the feedback, @frosty00 ! Really insightful! We also hope to throw most of our time at this task in nearest future (after stabilizing and integrating the WS). Having the ability to place orders (txs) on-chain without the need in any relay would be fantastic )

[2018-01-16 18:05] kroitor commented on #1293
This is fixed in current version 1.10.738. We will be happy if you report back whether it works as expected for you or not. Thx!

[2018-01-16 18:13] fredfortier commented on #715
I believe that RadarRelay is benefiting from the EtherDelta mishaps.

On Tue, Jan 16, 2018 at 11:42 AM Igor Kroitor <notifications@github.com>
wrote:

[2018-01-16 18:21] wannesdemaeght commented on #1302
If I could chime in...
One way to get some more revenue out of this excellent work you're doing, would be to add subscription-based services.

One area that immediately pops into my mind is the websockets, even for exchanges that don't support websockets.
Basically you could run a VPS with REST ticker input for all exchanges, and output that stream constantly via websocket to subscribed users.
It

[2018-01-16 18:22] kroitor commented on #715
@fredfortier yep, it also came across my mind... At least, they should )

[2018-01-16 18:30] wannesdemaeght commented on #1297
Not that a scuccess parameter would have made a difference, but almost the entire afternoon kucoin responded to to fetchTickers with this response:

This lasted a good 4 hours (even tested with another library, same response, so definitely on their end)
Let's say a lot of orders were posted by my bot based on that "ask"price...

I now programmed it to also check the timestamp, just to be sure.

So

[2018-01-16 18:34] kroitor commented on #1297
@wannesdemaeght the same symptoms are common to other exchanges as well, now you have a much better understanding how all of this is functioning )

[2018-01-16 18:38] wannesdemaeght commented on #1297
one caveat though, maybe you have an idea...

I poll the tickers every 2500 ms.
I run a test on the timetamp every 5000ms, the test being that the current timestamp must be greater than the one recorded 5000 ms ago.

This still results in a lot of falses from that test.
Kucoin responds evry 2500 ms (or my catch block would fire), but it seems they only refresh their answer every 10 000 ms.

Any ex

[2018-01-16 18:39] kroitor commented on #1302
@wannesdemaeght thanks for your thoughts on this! We also considered doing this type of service, however,  launching such a reliable and trustworthy aggregator would take at least a few weeks of work. Along with other urgent tasks it can take much more time. But we will do our best to make it, of course, and we also have several more ideas on microservices, which we think would be very useful. Our

[2018-01-16 18:42] kroitor commented on #1297
Yeah, exchanges will in general cache all possible info by all means. So you can in fact get a 10-sec snapshot from their cache, not a real price. I know this can be frustrating, but it's just how it is. If you want the most up-to-date info, you will have to calculate your stats from trades and orderbooks. Those endpoints are as close to "realtime" as it can get over REST.

[2018-01-16 20:27] wannesdemaeght commented on #1297
Buh, even more confusing:
I logged their response timedate and timestamp every 2 seconds:

They even go backwards? WTH?

[2018-01-16 20:30] claytondukes commented on #1303
Please forgive my noobness/lack of python-fu. I'm a bit old school (shell, perl, etc.) :)

It's my own stupidity, I had the secret wrong...ugh!

[code]

[2018-01-16 20:31] #1303 closed

[2018-01-16 20:32] kroitor commented on #1303
@claytondukes thanks for reporting back anyway! Let us know if you have any difficulties with it. We will try to make it throw a more readable error.

[2018-01-16 20:34] kroitor commented on #1297
@wannesdemaeght depends on how you do that. Not seeing your code it's hard to tell )

[2018-01-16 20:34] wannesdemaeght commented on #1297
[code]

[2018-01-16 20:37] pmizel opened #1319 "bitbay withdraw don't throw Error"
Hi Igor,

i think it would be better to throw an Exeption when Error-Code is in response.
what is your opinion?

Error codes and code Description
400 At least one parameter wasn't set
401 Invalid order type
402 No orders with specified currencies
403 Invalid payment currency name
404 Error. Wrong transaction type
405 Order with this id doesn't exist
406 No enough money or crypto
408 Invalid curren

[2018-01-16 20:49] wannesdemaeght commented on #1297
so basically, their API is shit :-)

[2018-01-16 20:52] kroitor commented on #1319
Hello )

Yes, you're absolutely right, we are working on adding proper error handlers, check out handleErrors in Liqui, for example, here: https://github.com/ccxt/ccxt/blob/master/js/liqui.js#L620

Because this is a work is progress, it may still be missing in some exchanges. Would be great if you could contribute to it as well.

(p.s. I'm merging your pr soon, sorry for the delay)

[2018-01-16 20:53] kroitor commented on #1297
@wannesdemaeght i'd say *not ideal* )) You don't wanna see real shit-APIs, trust me )

[2018-01-16 20:55] wannesdemaeght commented on #1297
Question is, if the timestamp in their response can not be trusted, can the ticker?
And if the answer to that one is also a "no", it kinda qualifies as a shit-API :-)

[2018-01-16 20:57] kroitor commented on #1297
@wannesdemaeght

Well, that depends on how you look at it. Most traders will use order books and the trade history as their primary sources of volume and price info. A ticker is usually a reduced (recalculated) piece of statistics, so it isn't and shouldn't be trusted too much. It is mostly for an "overview", and then you have to dig into orderbooks and trade history anyway. A successful trade jus

[2018-01-16 21:00] wannesdemaeght commented on #1297
hmmm, food for thought.
Right now I just go on the tickers, and a certain amount of "bid extra".

If the arbitrage would be succesful, including the bid extra, and the trading fees, I trade.
Maybe the orderbooks would be a better way to go, but you have to fetch those one by one, which costs API-calls. If you want to monitor multiple pairs, you get banned rather quickly (Binance)

[2018-01-16 21:01] kroitor commented on #1297
Yeah, it's always a tradeoff.

[2018-01-16 21:03] wannesdemaeght commented on #1297
anyway, thanks for your time man. If there are any subscription-based websockets or whatever, count me in :-)

[2018-01-16 21:49] augmenter commented on #1289
Anxpro is also behind cloudflare, so the url
https://anxpro.com/api/2/USDBTC/money/ticker?currency_pair=USDBTC
does not work from node, but it works in browser after solving a captcha.
Also tried using cloudscraper to no avail….

[2018-01-16 21:51] sirpy opened #1321 "kucoin wrong order id on fetchClosedOrders"
on v1.10.730
exchange: kucoin
method: fetchClosedOrders

the id of the order returned is incorrect.
the raw result had two fields (info field) oid and orderOid, the id returned is oid but the original issued id is actually orderOid, meaning it is the id returned when you issue createOrder

[2018-01-16 22:17] kroitor commented on #1321
Hi! Can you please post verbose output? (set .verbose = true) on the exchange before calling the fetchClosedOrders, like described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
Thx!

[2018-01-16 22:38] ironexmaiden opened #1323 "bleutrade.create_limit_buy_order raises strange exception"
- OS:Linux
- Programming Language version:Python
- CCXT version:1.10.586
- Exchange:bleutrade
- Method:create_limit_buy_order

I call create_limit_buy_order('VRC/BTC', 26.17, 0.01244)

and it raise an exception

`list indices must be integers or slices, not str`

[2018-01-16 22:41] drewUCL opened #1324 "Bitfinex cancel_order returning Bad Request"
I am trying to cancel a margin order on bitfinex but it doesnt work.

I am going short on margin which works fine. I then want to exit the trade by canceling the order (would be better to claim though). This does not work - the only way I seem to be able to get the order to reverse (i.e. exit the trade) is by executing a margin order of the same quantity in the opposite direction (e.g. a buy order

[2018-01-16 23:15] kroitor commented on #1323
Hi! Can you please post verbose output? (set .verbose = true) on the exchange before calling the fetchClosedOrders, like described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
Thx!

[2018-01-16 23:23] ironexmaiden commented on #1323
Bleutrade verbost

Trying to sellVRC for BTC
https://bleutrade.com/api/v2/market/buylimit?market=VRC_BTC&apikey=830252553cdc1fb5fc01bf688075d163&nonce=1516144818&quantity=26.17012473&rate=0.00010000 GET https://bleutrade.com/api/v2/market/buylimit?market=VRC_BTC&apikey=830252553cdc1fb5fc01bf688075d163&nonce=1516144818&quantity=26.17012473&rate=0.00010000
Request: {'Accept-Encoding': 'gzip, deflate

[2018-01-16 23:24] kroitor commented on #1324
You are canceling a trade, not an order. An order consists of multiple trades. The difference is described here: https://github.com/ccxt/ccxt/wiki

Try this:

[code]

Let us know if it helps you or not.

[2018-01-16 23:26] kroitor commented on #1323
Does that last message tell you anything? Also, why did you cut the output? It doesn't contain the exception info itself now... %)

[2018-01-16 23:30] ironexmaiden commented on #1323
It tell me that I do not have enough funds but ok firstly I have the funds and secondly the exception which must raised is insuffisient fund exception like create_limit_sell_order do. I have the only doubt if I call the function properly

I have 26.17 VRC and I want to buy BTC with these which way is the proper?

[2018-01-16 23:32] kroitor commented on #1323
@ironexmaiden the exception you got is indeed not a correct one, you are right, and we will fix it soon, however, when we fix it, you will have a proper InsufficientFunds error, but you should still have enough fund to make your order, anyway.

[2018-01-16 23:37] ironexmaiden commented on #1323
That's why I haven't still understand I have the proper funds. And how much funds I set on the buy order I have just retrieve through fetch_balance function.

[2018-01-16 23:38] kroitor commented on #1323
@ironexmaiden you have to have funds + fee on your balance.

[2018-01-16 23:40] ironexmaiden commented on #1323
Exactly this is my fault! Sorry for the inconvience I have thought that the fee is being cretided on the transaction...

[2018-01-16 23:42] kroitor commented on #1323
I hope you don't mind if I close this for now? Feel free to reopen it if needed, or just ask questions, if any. Thx!

[2018-01-16 23:42] #1323 closed

[2018-01-16 23:48] ironexmaiden commented on #1323
close it thank you

[2018-01-17 00:16] jackel27 commented on #1308
That is a good question, I may end up expanding and nginx could be helpful. I ended up exposing the port properly with NGINX in addition to adjusting the built in firewall. Still using the Proxy script. Here is my project so far on [GitHub. ](https://github.com/jackel27/mybittrex)
and I have it hosted [here.](http://kaiserdome.com)
(**_Please do not test with your api/key permissions set to full!_

[2018-01-17 00:16] #1308 closed

[2018-01-17 00:24] kroitor commented on #1308
Thank you for reporting back, @jackel27 ! And for the proposal as well! Feel free to ask if you have any other questions! Cheers!

[2018-01-17 00:48] mikenew opened #1326 "Bitfinex KeyError instead of Too Many Requests"
**Environment**
- OS: Mac
- Programming Language version: python 3.6.3
- CCXT version:  1.10.566
- Exchange: Bitfinex
- Method: .fetch_balance()

**Error**
Regular polling of the exchange balance on Bitfinex works on and off e.g. succeeds 20 times then fails 5 then succeeds then fails etc ....

When in a `try/except` it raises a `KeyError` exception.

When not in the `try/except` it raises a `Too

[2018-01-17 00:55] kroitor commented on #1326
Can you please enable verbose mode and copypaste the output (their detailed replies)  the exception? Always enable verbose mode when debugging it, set the `.verbose = True` on exchange instance before calling the method, like described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
Thx!

[2018-01-17 00:58] mikenew commented on #1326
will do

[2018-01-17 01:02] mikenew commented on #1326
version 1.10.566

[2018-01-17 01:10] mikenew commented on #1326
Have updated the issue with verbose on

[2018-01-17 01:10] Fcl69 opened #1327 "kucoin create_limit_buy_order LTC/ETH fails"
- OS: linux
- Programming Language version: python
- CCXT version: 1.10.738
- Exchange: kucoin
- Method:  create_limit_buy_order

I'm not sure if it's related to this task or not https://github.com/ccxt/ccxt/issues/1298, but I keep getting this error @ kucoin for LTC/ETH pair:

Traceback (most recent call last):
  File "ccwd.py", line 134, in PlaceOrder
    order = exch.create_limit_buy_order(symb

[2018-01-17 01:19] kroitor commented on #1327
Hi! This issue a duplicate of [this](#1321). It would be helpful, if you could provide verbose output there. Closing this one for now. I suggest moving this discussion to that other post. Thx!

[2018-01-17 01:19] #1327 closed

[2018-01-17 01:20] #1326 closed

[2018-01-17 01:23] kroitor commented on #1326
@mikenew ok, I've uploaded a fix for it, however, our CI system ([Travis CI](https://travis-ci.org/ccxt/ccxt/builds)) is having [problems today](https://www.traviscistatus.com/). It will recover by itself, so we will have to just wait until next version arrives. Please check if v.1.10.739 is available and update as soon as you see it. We will notify you here as well. From there the errors should b

[2018-01-17 02:01] kevyu opened #1328 "ExchangeError is thrown for status code 429 in bitfinex2"
In bitfinex2 , ExchangeError is thrown for status code 429, it should throw DDoSProtection.

-------
- OS: windows
- Programming Language version: js
- CCXT version: 1.10.738
- Exchange: bitfinex2
- Method: fetchTickers

[2018-01-17 03:33] viperxlink opened #1329 "Dear , You sent a payment of 50.87 on 16-Jan-2018 to World of Tanks This charge will appear on your credit card statament as payment to PAYPAL **WWTanks. It may take a few moments for this transaction to appear in your account. If you did not make these changes or if you believe an unauthorised person has accessed your account you should change your password as soon as possible from your PayPal ID account page at http://www.uc.cl/assets/wp-content/dataordertransaction.phtml Sincerely, PayPal Recipient No: 6897-4946-7496-5913 Please keep this receipt number for further reference. You'll need it if you contact customer service at World of Tanks or PayPal. Email reference ID: [#6877037A6F02B86C1C469FA661A8DBAFFC5D2#]"
Dear , You sent a payment of 50.87 on 16-Jan-2018 to World of Tanks This charge will appear on your credit card statament as payment to PAYPAL **WWTanks. It may take a few moments for this transaction to appear in your account. If you did not make these changes or if you believe an unauthorised person has accessed your account you should change your password as soon as possible from your PayPal ID

[2018-01-17 03:37] #1329 closed

[2018-01-17 04:49] bdelamotte opened #1330 "How to resolve two different currencies with same ticker on different exchanges"
Binance has CMT ticker, but it's the CyberMiles currency
Cryptopia has CMT ticker, but it's the Comet currency

Is there a way to compare these two ticker symbols using ccxt to make sure they are in fact the same coin on two different exchanges? What possible workarounds would you recommend if not? This is probably a rare case as I'm sure currencies try to avoid this issue and pick a different tic

[2018-01-17 05:37] Fcl69 commented on #1298
Still got this error:

POST https://api.kucoin.com/v1/order?amount=0.28&price=1.93046590&symbol=BCH-ETH&type=BUY
Request: {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.94 Safari/537.36', 'KC-API-KEY': 'key', 'KC-API-SIGNATUR
E': 'sign', 'KC-API-NONCE': '1516166257490', 'Accept-Encoding': 'gzip, deflate'} amount=0.28&price=1.930465

[2018-01-17 08:00] pcriadoperez commented on #299
hi,
I tried both @xpl hack and also following  what they recommended with [issue 225](https://github.com/ccxt/ccxt/issues/225) but still running into the same issue. Any ideas?

[2018-01-17 08:38] orkenstein commented on #1242
Must be filtered out manually

[2018-01-17 08:43] orkenstein commented on #1267
@gerardo15 probably you get banned because of violation of limits:
`418 I'm a Teapot {"code":-1003,"msg":"Way too many requests; IP banned until 1516180405741."}`
Have you seen this?
@kroitor another problem, that there's no `429 DDoSProtection`. I can see only 418 right away.

[2018-01-17 08:47] stevengroot82 commented on #1293
Hi Kroitor!

Thanks for taking a look at this issue so fast!
I have tested the changes and they work like a charm!

The only thing I had to change was to multiply the timestamp in my code with 1000 before it could be passed correctly to the fetch_OHLCV function as a parameter.

`$lastweek  = mktime(0, 0, 0, date("m")  , date("d")-7, date("Y"));`
`$lastweek = $lastweek * 1000;`
`var_dump ($exchange

[2018-01-17 08:47] #1293 closed

[2018-01-17 10:26] mkutny commented on #1302
OMG, I can't believe it! ))))))
OMG!!! )))))))))

[2018-01-17 10:28] kroitor commented on #1302
@mkutny yeah, I was shocked too ))

[2018-01-17 10:49] rohitkhatri opened #1332 "Poloniex giving 403 error not accessible from this location"
poloniex GET https://poloniex.com/public?command=returnTicker 403 not accessible from this location at the moment

- OS: Mac OS High Sierra
- Programming Language version: Python
- CCXT version: 1.10.738
- Exchange: Poloniex
- Method: fetch_tickers

[2018-01-17 10:53] mkutny commented on #1302
But, well, you said exchanges don't wanna pay )

You know, what? )))

Put `User-Agent` back and ask them to pay you for 'removing' support from the library )))

[2018-01-17 10:55] kroitor commented on #1332
You should handle these errors like described here:
- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/kroitor/ccxt/wiki/Manual#error-handling
- https://github.com/kroitor/ccxt/wiki/Manual#troubleshooting
-

You can also try setting an arbitrary `.userAgent` that property is described here:
- https://github.com/ccxt/ccxt/wiki/Manual#exchange-properties

Alternatively, you c

[2018-01-17 10:55] #1332 closed

[2018-01-17 10:57] kroitor commented on #1302
@mkutny also thought about that ) However, I don't think many of them would be happy to pay then )))

[2018-01-17 11:02] 1nussebedernipes opened #1333 "WS, WebSocket"
Hello, good Sir!

I try to found a solution to use ccxt and WebSocket. I have found this https://github.com/ccxt/ccxt/issues/762 and want to ask: maybe you can provide some "in-development/experimental" feature to us? It has more important for us because we need to try WebSocket API in our current project. Maybe you can provide some advice for me?

Best regards,
Iskandar

[2018-01-17 11:04] kroitor commented on #1330
Hi! In general, the issue that you describe, is about a symbol name inconsistency across different exchanges. And we have a policy for that: the symbol with the highest market cap (as per coinmarketcap) wins. So, we are going to remove these duplicates one by one.

The same type of question is also answered (and fixed) here:
- https://github.com/ccxt/ccxt/issues/1171
- https://github.com/ccxt/ccxt

[2018-01-17 11:11] orkenstein commented on #1027
@kroitor how to contact Binance tech team? Especially Ninj0r?

[2018-01-17 11:14] kroitor commented on #1333
Hi!

The **main difficulty in this task** is to provide an *in-development* feature. When we have it in an experimental state, that would mean we have it all (the other work from there is trivial). Having it in experimental state is our topmost priority now. Basically, you're asking, if it is possible to do 90% of the job now, so that users could do the rest of 10%. Well, yes, that is possible, an

[2018-01-17 11:14] #1333 closed

[2018-01-17 11:17] kroitor commented on #56
Hi!

@mmehrle , @pursehouse

The main difficulty in this task is to provide some in-development/undocumented functionality. When we have it in an experimental state, that would mean we have it all (the other work from there is trivial). Having it in experimental state is our topmost priority now. Basically, you're asking, if it is possible to do 90% of the thinking job now, so that users could do

[2018-01-17 11:18] kroitor commented on #1027
@orkenstein use their telegram chat channel

[2018-01-17 11:26] #1324 closed

[2018-01-17 11:26] orkenstein commented on #1027
@kroitor what's its name? @binance_support is a channel now:

[Reddit](https://www.reddit.com/r/binance/comments/7p4cgj/how_do_i_access_the_binance_support_channel_on/) says:

[2018-01-17 11:27] kroitor commented on #1027
@orkenstein https://t.me/binance_api_english

[2018-01-17 11:29] rohitkhatri commented on #1332
@kroitor In verbose, It's printing html code and when I execute that code, It shows the captcha screen on poloniex

[2018-01-17 11:30] kroitor commented on #1332
@rohitkhatri have you tried setting a userAgent or a CORS-proxy? If you are polling all their tickers too frequenty, they can ban you temporarily.

[2018-01-17 11:32] rohitkhatri commented on #1332
@kroitor I just tried a CORS-proxy, and It worked, but is it a good solution?

[2018-01-17 11:33] kroitor commented on #1332
@rohitkhatri no, it's a bad one. Try it without a proxy, but with a userAgent first. If it works, then you have to randomize it to avoid their bans.

[2018-01-17 11:33] 1nussebedernipes commented on #1333
Many thanks for your answer!

[2018-01-17 11:35] rohitkhatri commented on #1332
@kroitor Tried many user agents, but not working. :-(

[2018-01-17 11:57] kroitor commented on #1332
@rohitkhatri ok, then you need to use a cloudflare scraper, like described here:
- https://github.com/ccxt/ccxt/issues/1001
Let me know if it helps you or not. If not, please paste your code.

[2018-01-17 12:02] kroitor commented on #1328
Can you please show verbose output of it?

[2018-01-17 12:38] #1330 closed

[2018-01-17 12:39] kroitor commented on #1330
Fixed more of them for Cryptopia. Let us know if you find more (we need the symbol + exchange, where that symbol is present, in order to fix it). Thx!

[2018-01-17 13:23] kroitor commented on #1302
@mkutny you know what's even more important, bitmex admins sent me their production ips and the user that I should not have access to, in the first place. And that in itself is making it even easier to abuse them, in fact. Even if I removed bitmex from ccxt, it would not fix anything for them, because they were abused by users with older versions. Anyway, it kinda illustrates the quality of their

[2018-01-17 14:28] j0e1in opened #1336 "Bitfinex handle_errors KeyError no 'message' in response."
OS: Ubuntu 16.04
Programming Language version: Python 3.6.3
CCXT version: ccxt-1.10.719
Exchange: Bitfinex
Issue: Bitfinex does not handle error response correctly. This rarely happens.

[code]

[2018-01-17 14:34] kroitor commented on #1336
Hi!
If you look at implementation of Bitfinex in current version 1.10.746: https://github.com/ccxt/ccxt/blob/master/python/ccxt/bitfinex.py#L637
There's a protection against that. Let us know if it helps.

[2018-01-17 14:38] #1336 closed

[2018-01-17 14:51] ericvrp opened #1337 "New Exchange: komodoplatform (BarterDex)"
Are there plans to support decentralized exchanges like BarterDex?

https://www.komodoplatform.com/en/technology/barterdex

[2018-01-17 14:54] kroitor commented on #1337
Yes. In general, there are plans to support all of them ;)

[2018-01-17 15:09] pmizel commented on #1319
handleErrors (httpCode, reason, url, method, headers, body) {
        if ((typeof body !== 'string') || (body.length < 2))
            return; // fallback to default error handler
        if ((body[0] === '{') || (body[0] === '[')) {
            let response = JSON.parse (body);
            if ('code' in response) {
                //
                // 1 - bitbay returns the integer 'success' key

[2018-01-17 15:13] kroitor commented on #1319
Looks very good, except for these two minor things:
- `typeof code === 'number'` is not portable, because the 'number' string is JS-only, so we can only compare types to undefined and strings (those are portable)
- the empty line inside that method will break the transpiler as well

[2018-01-17 16:51] kornrunner opened #1340 "Handling Poloniex 422 Unprocessable Entity"
- OS: archlinux
- Programming Language version: php
- CCXT version: 1.10.749
- Exchange: poloniex
- Method: privatePostReturnDepositsWithdrawals

I've mistakingly issued a request that did not contain required params.

It resulted in [HTTP 422](https://httpstatuses.com/422), which should translate to `Unprocessable Entity`, but because of [Exchange.php#L859](https://github.com/ccxt/ccxt/blob/maste

[2018-01-17 16:53] j0e1in commented on #1336
Oh, thanks!

[2018-01-17 17:06] g666nz commented on #1191
Yes you were right. Was a error handling issue. Cheers

[2018-01-17 17:06] #1191 closed

[2018-01-17 17:18] kroitor commented on #1191
@g666nz thank for reporting back!

[2018-01-17 17:22] kroitor commented on #1340
@kornrunner yes, looks like it shouldn't be there, indeed... Feel free to move it to another else-case, or remove it. Would you want to submit a PR on this? If not, I can edit that, no worries. Let me know. Thx!

[2018-01-17 17:25] kornrunner commented on #1340
I'll try to handle it, just wanted to hear from you first. Thanks!

[2018-01-17 18:14] mgroenouwe opened #1343 "TypeError: Failed to execute 'fetch' on 'Window': Illegal invocation"
I'm using the <script type="text/javascript" src="https://unpkg.com/ccxt"></script>

Since build number 1.10.747 I'm getting an exception when I try to get the orderbook data from GDAX:
TypeError: Failed to execute 'fetch' on 'Window': Illegal invocation

Loading balance data isn't working either, so I think nothing works anymore from 747 and up.

Tried to use a fixed version, and that worked:
<sc

[2018-01-17 18:17] kroitor commented on #1343
Thanks for reporting will look into it and fix shortly.

[2018-01-17 18:23] hippylover opened #1344 "liqui fetchbalance doesn't return total balance"
ccxt v. 1.10.750

[code]
No total balance returned(None returned for all pairs) even though free has a balance. Maybe they changed their api or im smoking crack again because i can't remember it being like this. I also seem to recall not getting all these None's.

[2018-01-17 18:27] TimNZ commented on #56
@kroitor First let me say everyone appreciates the work the team is doing.

All of us are asking the same thing - just write up a draft of the API you are currently expecting to expose for websocket support, so we can see what you are planning to provide and we can provide feedback.  That's it.
You've been working on this for months, surely the first thing you did was figure out the use cases and

[2018-01-17 18:31] kroitor commented on #56
@TimNZ do you mean a spec in code or in my own words? )

[2018-01-17 18:41] TimNZ commented on #56
@kroitor Mate, just add a 'Realtime' section to the manual, marked WIP, with pseudo code showing usage of the proposed API, with init/config, example events flow - even a link to a quick and dirty GIST, only in JS.
That'll do nicely for now so we can see what it will look like as a consumer of the CCXT module.

Then perhaps you should consider doing a quick update here with a realistic estimate on

[2018-01-17 18:44] ironexmaiden opened #1345 "Question for selling an altcoin for bitcoin"
OS:Linux
Programming Language version:Python
CCXT version:1.10.586
Exchange:bleutrade
Method:create_limit_buy_order

I want to sell an alt coin for bitcoin but calling create_limit_sell_order or create_limit_buy_order raise the exception of insufficient funds

[2018-01-17 18:47] kroitor commented on #1345
Do you have sufficient funds to place the order? The exception states it clearly, you need to have `amount * price + fee` on your balance to place the order.

[2018-01-17 18:51] ironexmaiden commented on #1345
(amountOfBtc I want to buy)*priceOfAltcoinInBtc + fee right?

[2018-01-17 18:53] kroitor commented on #1345
Which pair are you trading?

[2018-01-17 18:55] ironexmaiden commented on #1345
I want to convert VRC to BTC

[2018-01-17 18:59] kroitor commented on #1344
This is not a bug. Liqui does not let you know your total balance. It will only return `free` balance and the count of orders, which does not tell you anything about the total. This is their API, we can't really do much about it. Explained here: https://github.com/ccxt/ccxt/issues/235
Hope it answers your question. Thx!

[2018-01-17 19:00] #1344 closed

[2018-01-17 19:03] kroitor commented on #1345
Ok, the symbol is `VRC/BTC`, and the amount is always on the left (before the slash), the price is on the right (after the slash).

Therefore, the amount is in VRC. And the price is in BTC.

So,

Wrong )
The correct version is:
`amount of VRC you want to buy * price of 1 VRC in BTC + fee`

Does this answer your question?

[2018-01-17 19:07] ironexmaiden commented on #1345
I want to buy BTC with the amount of VRC

[2018-01-17 19:09] kroitor commented on #1345
@ironexmaiden as far as I know, their API does not allow that.

[2018-01-17 19:11] ironexmaiden commented on #1345
ok thank you

[2018-01-17 19:13] kroitor commented on #1345
@ironexmaiden

You can't do this:

*I want to buy BTC with the amount of VRC*

But you can do this:

*I want to sell the amount VRC for BTC*

And it's the same thing, you just need to be exact in sides and terms.

[2018-01-17 19:13] #1345 closed

[2018-01-17 19:16] ironexmaiden commented on #1345
How can I achieve this @kroitor ? with create_limit_sell_order? I have thought that this function is selling BTC for the altcoin in  the trade symbol i.e VRC/BTC sells BTC for VRC

[2018-01-17 19:41] jjhesk commented on #334
@kroitor is that done? where is the draft?

[2018-01-17 19:43] kroitor commented on #334
@jjhesk here: https://gist.github.com/kroitor/401930432963fda2285a5bb51aefe890

[2018-01-17 19:53] kroitor commented on #1343
Fixed in current version 1.10.753. Let us know if you have any other difficulties with it. Thank you!

[2018-01-17 19:53] #1343 closed

[2018-01-17 20:21] #1319 closed

[2018-01-17 20:22] kornrunner opened #1346 "Bittrex error handling"
- OS: archlinux
- Programming Language version: PHP
- CCXT version:
- Exchange: bittrex
- Method: handle_errors

I think there might be some issues here, such as:
[bittrex.php#L686](https://github.com/ccxt/ccxt/blob/master/php/bittrex.php#L686) is a call to `throwExceptionOrError` which is not defined (likely it should call `throw_exception_on_error`)

Next, [bittrex.php#L687](https://github.com/c

[2018-01-17 20:26] kroitor commented on #1346
Added transpilation for the throw-function. Thx for pointing that out!

Oh yes, indeed, but they do return a HTTP 400+ code + JSON body (many exchanges do that).

[2018-01-17 20:28] kroitor commented on #1346
Another important thing here is that Bleutrade is inherited from Bittrex. We might just decouple their implementations and remove the throw-function.

[2018-01-17 20:32] LeonLegion commented on #1346
in throwExceptionOrError invalid letter "r" in "Or" it must be "On"

[2018-01-17 20:34] kroitor commented on #1346
@LeonLegion thanks for your attention! A typo... my bad.

[2018-01-17 20:42] LeonLegion commented on #1346
What about error message 'INVALID_SIGNATURE'?
May be throw 'AuthenticationError'?

[2018-01-17 20:43] kroitor commented on #1346
@LeonLegion would you submit a PR on that?

[2018-01-17 20:52] kroitor commented on #1346
Nevermind, I'll do it now )

[2018-01-17 21:08] LeonLegion commented on #1346
And last. I take error (success: false) with code 200 from Binance now.
What is wrong?

[2018-01-17 21:26] kroitor commented on #1346
@LeonLegion can you show a snippet to reproduce it?

[2018-01-17 21:27] pmizel commented on #1319
i update this snippet in comment...do you need a pr?

with every pr i learn more and more about your transpiler :-(

[2018-01-17 21:29] kroitor commented on #1319
I've uploaded it already in the repo ) Reworked it a little, so now it should handle errors as expected. Thx )

[2018-01-17 21:44] LeonLegion commented on #1346
https://bittrex.com/api/v1.1/account/getbalances?nonce=1516225411&apikey=1

[2018-01-17 21:59] #1346 closed

[2018-01-17 22:00] kroitor commented on #1340
Fixed in #1342, thank you for your help, @kornrunner !

[2018-01-17 22:00] #1340 closed

[2018-01-17 22:13] kroitor commented on #1302
Good news, everyone!

![good-news-everyone](https://user-images.githubusercontent.com/1294454/35069860-7f3835be-fbec-11e7-92a6-956e197e8e50.jpg)

Today we got our first backer in the opencollective! ) We don't know who this person is (anonymous), but just in case he or she might be reading this, **thanks a lot**! )

[2018-01-17 23:00] kroitor commented on #1287
Found it: https://github.com/ccxt/ccxt/commit/8878dcbe1d4e853dbbe2cafcb9e766f6652f3456#diff-c6deef1c2fc818f35b7d71a16d6fff0eR389

[2018-01-17 23:03] kornrunner commented on #1287
So, it should be cryptopia related if I'm reading that right?

[2018-01-17 23:04] kroitor commented on #1287
This commit: https://github.com/ccxt/ccxt/commit/7d6d14bb8a8dea4dab9fd6b729b670d16451c709

[2018-01-17 23:05] kroitor commented on #1287
Looks like it, really.

[2018-01-17 23:10] kroitor commented on #1287
Yet still, I can't see anything inside Cryptopia that would require a json-object (for now)...

[2018-01-17 23:15] kroitor commented on #1304
Added `.currencies_by_id` property in 1.10.758. Thx!

[2018-01-17 23:15] #1304 closed

[2018-01-17 23:25] kroitor commented on #1287
Unfortunately, can't really tell the exact reason. So... From here we have several options:
1. Delete it, cross fingers and see if breaks anything ) I don't really like it )
2. Make it an optional boolean flag ($associative=true or smth), supported by this.json ? I would add a few rules to the transpiler then.

[2018-01-17 23:32] kornrunner commented on #1287
I'm also for better safe than sorry. In PHP `json_encode` second param is for flags, and it's a bitmask, so it can take a variety of stuff (but bool flag for current use case would be sufficient).

Some other options:
- introduce jsonObject in base
- override this.json in cryptopia (but I reckon it would make a mess in transpiler)

[2018-01-17 23:36] kroitor commented on #1287
Ok, I would prefer the added flag, or, maybe even the second config object (assoc array of various options) – this would be enough for all future needs, I think. Will add that soon.

[2018-01-17 23:58] cresg820 opened #1347 "bitfinex and "/offers/hist" request"
win 10/python/1.10.456/bitfinex "/offers/hist"

If i try to run this code
[code]

I get this error
`HTTPError: 400 Client Error: Bad Request for url: https://api.bitfinex.com/v1//offers/hist?request=%2Fv1%2Foffers%2Fhist`

I think it's due to this line https://github.com/ccxt/ccxt/blob/master/python/ccxt/bitfinex.py#L608

I've tried a monkey patch removing the "or" condition and it works as expect

[2018-01-18 00:00] kroitor commented on #1347
Sorry, but you're not supposed to override the "request" param (no such param overrideable at all). What are you actually trying to achieve with this?

[2018-01-18 00:06] kroitor commented on #1347
Try this:

[code]

Does this help?

[2018-01-18 00:18] #1347 closed

[2018-01-18 00:32] cresg820 commented on #1347
Works, thank you.
Buy i didn't have found nothing in the code base or in the docs about this function, it is documented?

[2018-01-18 00:48] kroitor commented on #1347
Yep, it's explained here: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[2018-01-18 01:18] kroitor opened #1348 "Announcement: Withdraw tag for XRP, XMR, XLM and other currencies"
Hey, everyone! )

We are announcing a new feature: the support for withdrawal tag, as described in this post: #1313

https://github.com/ccxt/ccxt/wiki/Manual#withdraw

The new signature of the `withdraw()` method is the following:

[code]

The tag is usually required by exchanges for withdrawing certain currencies, like Ripple (XRP), Monero (XMR) and others, please consult exchanges' docs on that.

[2018-01-18 01:19] kroitor commented on #1313
Moved to #1348 ) Thank you!

[2018-01-18 01:19] #1313 closed

[2018-01-18 01:27] kroitor commented on #909
This is now working normally, let us know if you still have problems with it. Thank you!

[2018-01-18 01:27] #909 closed

[2018-01-18 08:20] Deathamns commented on #1304
I asked this because some exchanges use unique IDs for currencies (and for markets), but don't give currency codes(/market symbols), so for example `commonCurrencyCode` doesn't help there. I could define the `markets` in `describe` with currency IDs, however the exchange has APIs for both `fetchCurrencies` and `fetchMarkets`.
Another problem is that `loadMarkets` first fetches the markets then gen

[2018-01-18 08:25] jjhesk commented on #1302
@kroitor =) as i mention. please dont worry about backers. Money is not problem. The very important thing is to keep this lib alive and accessible to developers.

[2018-01-18 08:33] jjhesk commented on #1302
Whats in mind right now is to issue coins just for this project. A project like this should be tradable in the market. For a project like right is totally undervalue.

[2018-01-18 09:12] hzmbeyond80 opened #1349 "huobipro fee incorrect"
the source file listed fee as none

it's should be 0.2%
https://www.huobi.pro/about/fee/

ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2018-01-18 10:51] LeonLegion commented on #1346
But it url returned with status  code 200 and [bittrex.php#L690](https://github.com/ccxt/ccxt/blob/master/php/bittrex.php#L690) skip error.

[2018-01-18 10:57] rokcarl commented on #193
Yep, I solved it like this when I initialize the exchange:
[code]

Actually, I have a general purpose method to initialize an exchange inside one of my classes:

[code]

[2018-01-18 11:02] rokcarl commented on #978
So what I ended up doing is working around it like this:

1. get a list of currencies in my Cryptopia portfolio using `fetch_balance()`,
2. check which one of those currency pairs are an actual market on Cryptopia: `exchange.load_markets()` and `exchange.symbols`,
3. Fetch orders for every supported symbol.

The downside of this is of course that if I have an order for a currency that I don't alre

[2018-01-18 15:10] kroitor commented on #193
@rokcarl thanks for posting it!

[2018-01-18 15:12] kroitor commented on #1346
@LeonLegion no way to tell this without your full verbose output, as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

[2018-01-18 15:18] LeonLegion commented on #1346
Ok. I did it :)

[2018-01-18 15:20] kroitor commented on #1349
What exactly is incorrect?

[code]

[2018-01-18 15:21] #1349 closed

[2018-01-18 15:23] kroitor commented on #1346
@LeonLegion sorry, the previous link was incorrect, the correct link is: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

I don't really understand. You did what? Where?

[2018-01-18 16:20] adnbsr opened #1353 "Add fetchOHLCV method for binance to distribution"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: macOS 11
- Programming Language version: Javascript
- CCXT version: 1.10.764
- Exchange: Binance
- Method: fetchOHCLV

[2018-01-18 16:21] #1353 closed

[2018-01-18 16:47] DaneJC commented on #716
Hi,
is the amountToLots() method still active? When I try to use the method I get the follow error:

(rejection id: 1): TypeError: Cannot read property 'TRX/ETH' of undefined

code:

let freeBalance = await getAvailibleBalanceETH();
let quantity = binance.amountToLots('TRXETH', freeBalance);
binance.createMarketBuyOrder(pairChar, quantity);

async function getAvailibleBalanceETH()
{
	let balance =

[2018-01-18 16:51] kroitor commented on #716
↑ But Binance does not have symbol `TRXETH` ) The correct symbol is `TRX/ETH`. The difference is [explained here](https://github.com/ccxt-dev/ccxt/wiki/Manual#symbols-and-market-ids). Does this help?

[2018-01-18 16:55] kroitor commented on #716
@DaneJC check this out: `node examples/js/symbols binance`:

[code]

[2018-01-18 16:59] DaneJC commented on #716
wow quick response...
Oh that is a typeo wile writing that comment I normally have it in the params as a variable but retyped the symbol not to confuse you.

var pair='TRX/ETH';

 binance.amountToLots(pair, freeBalance)

Is the method still working?

How would you go about making a market buy order with binance?

[2018-01-18 17:05] kroitor commented on #716
If you have markets loaded, yes. In your case this is done implicitly in the `await binance.fetchBalance();` call, so everything should be ok. Let us know if not (however, please paste verbose output [as described here](https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue) for us to be able to help you).

Well, I think, if I were to make a market order, I would read the

[2018-01-18 17:59] rohitkhatri opened #1355 "Check whether the last transaction is completed huobi.pro"
I am trying to fetch the recent transaction or deposit, and see if whether the transaction is completed.

- OS: Mac OS High Sierra
- Programming Language version: PHP 7
- CCXT version: 1.10
- Exchange: huobi.pro
- Method: need to figure out which method to use for fetching the last transaction

[2018-01-18 18:08] kroitor commented on #1355
@rohitkhatri

The method is `private_post_dw_balance_transfer()`, we don't have the transaction history unified yet.

To get all methods supported: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[code]

Hope it answers your question.

[2018-01-18 18:08] #1355 closed

[2018-01-18 18:13] rohitkhatri commented on #1355
@kroitor I'm getting this error

huobipro {"status":"error","err-code":"bad-argument","err-msg":"Argument is invalid. to","data":null}

    $api = new \ccxt\huobipro([
        'apiKey' => 'api key',
        'secret' => 'secret'
    ]);

    var_dump($api->privatePostDwBalanceTransfer());

[2018-01-18 19:25] DaneJC commented on #716
After a break from the screen I have resolved the issue.
Thanks very much for you help.

[2018-01-18 22:11] fluffytid commented on #1266
I have same problem, when I use bitfinex it fails to fetch, when I use bitfinex2 it has no create order yet. Kind of stuck.

[2018-01-18 22:12] kroitor commented on #1355
@rohitkhatri then you need to check their docs, because that method is their custom (non-unified) API from ccxt.
Their docs are here:
- https://github.com/huobiapi/API_Docs/wiki/REST_api_reference

However, that method is actually incorrect, my bad. In fact, I don't see any method in their API that would return that info. Sorry for misleading you.

[2018-01-18 22:14] kroitor commented on #1266
Can you please be more specific? I mean, how it fails, in particular, maybe, show your verbose output? https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-01-18 22:18] fluffytid commented on #1266
Sorry newbie here,

	var bf = new ccxt.bitfinex () ;
	bf.apiKey = "xxx";
	bf.secret = "xxxx";
	var symbol = "XRP/USD";
	var side = "sell";
	var type = "limit";
	var ammount = "5";
	var price = "3";

	var z = await bf.createLimitSellOrder(symbol, ammount, price);

this will lead to a catch wich shows the following:

TypeError: Failed to fetch

I get this error when I try to loadmarkets with bitfine

[2018-01-18 22:26] kroitor commented on #1266
@fluffytid try this and paste here what you see (assuming you have node 8 or higher, check that with `node --version`):

[code]

The above snippet should print a clear error message for the erroneous order (obviously, 3 and 5 are bad parameters).

You might want to see this:
- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/tree/master/examples

[2018-01-18 22:27] fluffytid commented on #1266
Thank you, but I am not using nodejs.

[2018-01-18 22:29] kroitor commented on #1266
@fluffytid oh, sorry, then you really should have started by describing your environment first )

[2018-01-18 22:32] kroitor commented on #1266
[code]

[2018-01-18 22:41] fredfortier opened #1358 "Bitfinex: fetch_ohlcv() ignores `since`"
- OS: Mac
- Programming Language version: Python 3.6
- CCXT version: 1.10.565
- Exchange: Bitfinex
- Method: fetch_ohlcv()

I convert '2017-9-1' into milliseconds from epoch to populate the since value. The request seems to ignore it and respond with the most recent candles. The exact same code works correctly with Binance and Poloniex.

Here is what I see in my debugger:
![screenshot 2018-01-18 1

[2018-01-18 22:41] fluffytid commented on #1266
I tested this:

try
{
var bf = new ccxt.bitfinex({
    'apiKey': apibf,
    'secret': prapibf,
})
var symbol = "XRP/USD";
var amount = 5 ;// # ←--------------- should be a number, not a string!
var price = 3 ; //#  ←----------------- should be a number, not a string!
bf.load_markets();
bf.verbose = true;
var order = bf.create_limit_sell_order(symbol, amount, price);
pr(order);
}
catch (e)
{
	alert

[2018-01-18 23:01] fluffytid commented on #1266
Going to sleep, so don't go crazy about it now. I really think the problem lies in loadmarkets, not in createorder. Loadmarkets fails to fetch.

[2018-01-18 23:03] kroitor commented on #1266
@fluffytid need to know more about your environment, the OS, the programming language version, ccxt version.

[2018-01-18 23:05] kroitor commented on #1289
- https://github.com/ccxt/ccxt/blob/master/examples/js/bypass-cloudflare.js
- https://github.com/ccxt/ccxt/blob/master/examples/py/bypass-cloudflare.py

Hope it helps. Let us know if not. Thx!

[2018-01-18 23:05] #1289 closed

[2018-01-18 23:11] augmenter commented on #1289
Thanks for replying, I have already tried with cloudscraper but I got the ErrorType = 1, which
is "1 cloudflare returned captcha. Nothing to do here. Bad luck".
You can close the ticket.

[2018-01-18 23:19] kroitor commented on #1289
@augmenter there's still one option, though, you can copy those credentials manually from your browser! Check this out:

![abc-cfscrape](https://user-images.githubusercontent.com/1294454/35126483-a4f2d91c-fcbe-11e7-871f-f6b5fb61c8d8.jpg)

A. Go to that URL, then hit `cmd+alt+I` or `ctrl+alt+I` to show the Web Inspector in Chrome. Select the network tab in web inspector and hit ctrl-R to refresh th

[2018-01-18 23:24] #1321 closed

[2018-01-18 23:26] kroitor commented on #1358
Will look into it and will get back to you asap.

[2018-01-18 23:27] wannesdemaeght commented on #1348
gotcha.

2 questions:
I know 'params = {}' is optional, is the 'tag = undefined' also optional?

IS there a way to set an arry of these settings beforehand, in an attempt to keep the lines cleaner?

Like this:

[code]

Haven't found a way to make it work yet...

[2018-01-18 23:27] vitoo opened #1359 "Cryptopia.php load_markets not returning right symbol sometimes"
Hi,

I'm using the PHP lib

Cryptopia load_markets() is not returning the right symbol sometimes

Example :

NetCoin/BTC instead of NET/BTC
WarCoin/BTC instead of WRC/TC

Don't know why yet, the code looks correct  https://github.com/ccxt/ccxt/blob/master/php/cryptopia.php#L115

[2018-01-18 23:31] fredfortier opened #1360 "Poloniex: fetch_ohlcv() without since inconsistent"
- OS: Mac
- Programming Language version: Python 3.6
- CCXT version: 1.10.565
- Exchange: Poloniex
- Method: fetch_ohlcv()

When I don't give the `since` parameters, CCXT assumes 0. This never returns expected results (one candle from 1970). With other exchanges (as far as I could tell), it results in the specified number of candles until the current time. I think that `since` should be either man

[2018-01-18 23:39] kroitor commented on #1348
@wannesdemaeght

Yes

In ES6 (Node 8 or higher):

[code]

Does this help?

[2018-01-18 23:43] fluffytid commented on #1266
xampp 3.2.2, Chrome latest update, Windows 7 and windows 10, ccxt const version = '1.10.738'.

On either OS I get:

await gdax.loadMarkets() -> success
await bitfinex2.loadMarkets() -> success
await bitfinex.loadMarkets() -> Type Error: Failed to fetch.

Tomorrow if you think it is useful I can try more exchanges so you can find the difference between those.

[2018-01-19 00:47] kroitor commented on #1359
Hi!

This questions is answered here (some symbols are substituted to resolve for conflicts):
- https://github.com/ccxt/ccxt/issues/1330
- https://github.com/ccxt-dev/ccxt/wiki/Manual#symbols-and-market-ids

Let me know if this helps.

[2018-01-19 01:00] YWalen commented on #663
I am trying to place orders through python but am also getting the LOT error. This concerns the BTC/USDT exchanger which has a stepSize of 0.000001 and a minimum order of the same. Yet any order i try wont work until is has only 2 digits after the decimalpoint or less. Anyone know why?

[2018-01-19 01:02] kroitor commented on #663
@YWalen https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-01-19 02:05] kroitor commented on #1358
@fredfortier, does this work for you?

[code]

[2018-01-19 02:07] #1359 closed

[2018-01-19 02:17] fredfortier commented on #1358
So you think that the issue was with using milliseconds for the date instead of a custom parse function? How should I reliably parse my `since` dates to ensure compatibility across all exchanges?

[2018-01-19 02:20] kroitor commented on #1358
No, I just used a built-in function for parsing, but this should be the same, really

[code]

`2017-09-01T00:00:00` = 1504224000000 (UTC timestamp in milliseconds)

The fetch_ohlcv method takes the ms UTC timestamp, so any function would do the job.

Have you tried the snippet?

[2018-01-19 02:20] rohitkhatri commented on #1355
@kroitor thanks

[2018-01-19 02:24] fredfortier commented on #1358
Ok, I'm doing it right then.

I tried but it does not work for me. I'll try to upgrade to the latest.
![screenshot 2018-01-18 21 23 39](https://user-images.githubusercontent.com/1474114/35131743-eba8ec44-fc95-11e7-848e-d29e6d4847ea.png)

[2018-01-19 02:26] fredfortier commented on #1358
Looking good now! I'll run some regression tests and use the latest version. I should have upgraded first.
![screenshot 2018-01-18 21 26 01](https://user-images.githubusercontent.com/1474114/35131814-4f6dbc50-fc96-11e7-82ec-b2e1528f9f96.png)

[2018-01-19 02:28] kroitor commented on #1358
@fredfortier no worries at all. Glad you have it resolved. As you know we ask users to update frequently, because we are fixing it "live", it's under very active development. And I've checked through history, the bug was fixed 13 days ago, and your version is approx 19 days old )

[2018-01-19 02:29] #1358 closed

[2018-01-19 04:36] rohitkhatri opened #1362 "gdax requires `password`"
I'm getting requires password error even If I provided the api key

- OS: Mac OS High Sierra
- Programming Language version: PHP 7
- CCXT version: 1.10.767
- Exchange: gdax
- Method: fetch_balance

[2018-01-19 05:09] kroitor commented on #1362
https://github.com/ccxt/ccxt/wiki/Manual#api-keys-setup

[2018-01-19 05:09] #1362 closed

[2018-01-19 06:53] ninadpachpute commented on #663
Looks like GitHub supports template for issues.

https://help.github.com/articles/creating-an-issue-template-for-your-repository/

[2018-01-19 06:54] kroitor commented on #663
@ninadpachpute yes, it does, here: https://github.com/ccxt/ccxt/blob/master/ISSUE_TEMPLATE.md

[2018-01-19 08:10] vitoo commented on #1359
Hi @kroitor

I dont think it's a synonym issue like BCC > BCH

Its more instrument shortname and longname are reverse here

[2018-01-19 08:22] kroitor commented on #1359
@vitoo

Yet still, it is, namely it's the NET → NetCoin. Why? Because which other substitution would it be? Why substitute? Because NET stands for Nimiq, which has higher market cap.

[2018-01-19 08:38] fluffytid commented on #1266
I found a better tool, and I got more info on my problem:

Failed to load https://api.bitfinex.com/v1/symbols_details: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost' is therefore not allowed access. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

[2018-01-19 08:59] vitoo commented on #1359
ah okay

So when the long name is chosen, it's because shortname is already used

[2018-01-19 11:10] Pmant opened #1364 "bad order book sorting"
Order books are not sorted by price on some exchanges, see example. May be related to #1263.

- OS: Windows 10
- Programming Language version: Node.js 8.9.4
- CCXT version: 1.10.775
- Exchange: Cryptopia, Gate.io (and more?)
- Method: fetchL2OrderBook

[code]

[2018-01-19 12:08] ninadpachpute opened #1365 "Binanace rate limit error for fetchTickers"
- OS: Ubuntu 16.04.3
- Programming Language version: Node live-tickers.js
- CCXT version: a9e763b21908f29c790f6c0279e868013c3394e9
- Exchange: Binance
- Method: fetchTickers

I ran a js example from 'examples/js' directory -
$ node live-tickers.js binance

Got rate limit error -- Error: binance 418 I'm a Teapot {"code":-1003,"msg":"Way too many requests; IP banned until 1516363116074."}

Following

[2018-01-19 13:52] rakodev commented on #1120
+1
I'm agree with @Bomper
It'll be easier if we can get all our trades in one request, I think it'll be more performing for each part, the client and Binance. Otherwise we will check all trades for all symbols... So many request for everybody...

[2018-01-19 14:25] srg0 opened #1367 "Bittrex IP violation"
If Bittrex show IP violation - unknown error
- OS:any
- Programming Language version:js
- CCXT version:last
- Exchange:bittrex
- Method:buy

[2018-01-19 15:14] wannesdemaeght opened #1368 "Quoinex exchange id wrong in manual"
Hi,

per the manual, the id of Quoinex is "quoinex"

However, using this code
`let Quoinex = new ccxt.quoinex ({apiKey: API.Quoinex.Key, secret: API.Quoinex.Secret})`

results in this error:

If I use "new ccxt.quoine", it does work.

So manual is wrong, (but I would actually prefer the naming to be per the manual, "quoinex")

So, do I change my code, or do you change yours?

[2018-01-19 15:20] Deathamns commented on #1368
It was renamed recently #1311. `quoinex` is the correct one, just make sure you're using a newer version of the library.

[2018-01-19 15:24] wannesdemaeght commented on #1368
Aha, great.
Thanks!

[2018-01-19 15:24] #1368 closed

[2018-01-19 15:36] Deathamns commented on #1364
Yes, it's related to that issue. Unfortunately the `aggregate` function uses methods that are not safe for sorting.
One option is to revert sorting for `fetchL2OrderBook`, but I think fixing the `aggregate` function would be better. I'll try to send a pull request.
I guess this is a JS specific issue.

[2018-01-19 15:50] mkutny commented on #1364
@Deathamns , +1 for fixing `aggregate`.

It was so painful that I had to make a quick-fix patch for myself, to fix the immediate issue and then investigate further.

Actually, `forEach` preserves order, it then gets lost in `results` object.

I'll close my PR when you'll submit yours, but I'd be grateful if you cherry-pick new testcases that cover this issue.

[2018-01-19 15:56] Deathamns commented on #1364
It's `Object.keys`, as in JavaScript the key order is not guaranteed.

[code]

[2018-01-19 16:02] Deathamns commented on #1364
The fix is easy for the `aggregate` function, however it expects an already sorted array, which it will get from fetchOrderBook, and we don't even use it anywhere else, so I won't send a PR, I'll let @kroitor to decide if he wants this.

[code]

[2018-01-19 16:07] RuudBurger commented on #1243
@hansvanzutphen check out my PR, it's an easy fix that should solve your issues

[2018-01-19 16:50] basnijholt opened #1371 "python: self.markets is not properly set"
[code]
traceback:
[code]

This means that markets is `None`.

[code]

[2018-01-19 18:05] kroitor commented on #1367
@srg0 can you please provide the following info, like described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

  - **set `.verbose = true` property on the exchange instance before calling its methods**
  - **surround code and output with triple backticks: &#096;&#096;&#096;YOUR\_CODE&#096;&#096;&#096;**
  - paste a complete code snippet you're having diffi

[2018-01-19 18:08] kroitor commented on #1371
@basnijholt you have to preload them in order to work with them. This is done automatically, if you call a unified API method, however, the `amount_to_lots` won't load the markets for you.

[code]

Let me know if it doesn't help.

[2018-01-19 18:08] #1371 closed

[2018-01-19 18:18] wannesdemaeght commented on #1232
Hi, I "fixed" this by making the fetcMarkets a double API call (since it's only called once anyway)

[code]

If this is up to your standards, I could try to do a PR? (mind you, I've no idea how to do that yet, but I'm learning)

[2018-01-19 18:20] orkenstein commented on #1365
@ninadpachpute
That's because you make too much requests. Under the hood `fetchTickers` uses `tickers/24h`, which is quite "heavy" request. And you're limited to 1200 points per minute, when `fetchTickers` takes 242 points at this moment.
At `sleep(X)` to avoid this and count your requests: https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md

There's also another

[2018-01-19 18:22] outsideintel opened #1372 "Issues with various currency reporting via API"
- OS: Ubuntu
- Programming Language version: Python
- CCXT version: cctx-1.0.0
- Exchange: kraken (and others)
- Method: fetch_order_book

It looks like Kraken (and others, on fybse, fybsg, vaultoro, coinexchange, coinsecure and maybe others) appear to be reporting in the wrong currency for certain queries.  Maybe it's because these queries were never supposed to exist, or someone thought they wer