[2019-03-19 13:27] kroitor commented on #4855
It requires a symbol argument (first positional argument to fetchOrders), more about it here: https://github.com/ccxt/ccxt/wiki/Manual#querying-orders

[2019-03-19 13:30] alexeymarunin commented on #4857
@kroitor All work correct, thanks!

[2019-03-19 13:30] kroitor commented on #4856
@y-clps thanks to you too, let us know if you find out anything. We will also post here, will probably have to reach out to their tech support and ask them to add that to their docs...

[2019-03-19 13:44] MarcelBeining opened #4858 "Wrong price limits on kucoin"
- OS: Windows 10 64 bit
- Programming Language version: Python 3.6
- CCXT version: 1.18.375
- Exchange: kucoin
- Method: loadMarkets

When I load the market for KCS/USDT, ccxt gives me this:
[code]

telling me that the min KCS/USDT price has to be `5.0`. However this is wrong, as the current price is at 0.96 and I have no problems in creating a order with this price and longer. Thus it seems somet

[2019-03-19 13:47] alexeymarunin commented on #4856
@kroitor I think base url is `https://www.huobi.co.jp/-/x/pro/`
See #4672 also

[2019-03-19 13:49] kroitor commented on #4767
@aloysius-pgast your comments on this issue are very welcome: https://github.com/ccxt/ccxt/issues/4858 ;)

[2019-03-19 13:52] kroitor commented on #4856
@alexeymarunin i don't think it is, because:

![Screen-Shot-2019-03-19-at-16 50 15](https://user-images.githubusercontent.com/1294454/54611094-60585780-4a67-11e9-949b-d35ce1a89b73.jpg)

[2019-03-19 13:58] #4858 closed

[2019-03-19 14:28] kroitor commented on #4858
Fixed in 1.18.380, let us know if you still have issues with it. Thx for your help!

[2019-03-19 19:20] aloysius-pgast commented on #4767
Hi @kroitor. I agree it would make more sense to not use `Math.max` and use `quoteIncrement` directly. After re-reading Kucoin's documentation, I see that it says

There is no way to satisfy all conditions (rate, cost & quantity) at the same time anyway. With the fix for #4858, we would have the following :

* *min(amount)* = `baseMinSize` = `0.01`
* *min(price)* = `quoteIncrement` = `0.00001`
* *

[2019-03-19 21:25] aloysius-pgast commented on #4767
One more thing ;) Base on previous doc extract

My understanding was that `priceIncrement` is for the order price (ie: `cost` in *ccxt*), not for the rate (ie: `price` in *ccxt*). So I think we should use `quoteIncrement` for `price.min`, not `priceIncrement`.

I might be wrong though (Kucoin's doc is not clear enough imho and only them could provide a better understanding). Anyway, using `quoteIn

[2019-03-20 03:18] tregismoreira commented on #2889
@kroitor do you think it's already possible to create conditional orders via API for Bittrex? Look at the Order schema definition in their [api v1.1](https://bittrex.github.io/api/v1-1). There's a `conditional` parameter.

[2019-03-20 03:21] kroitor commented on #2889
@tregismoreira i don't see any mentions of how to place a conditional order in that doc... It's in the definition of historical data, but there's no such param in any method for creating orders. So, I don't know of such a possibility at the moment.

[2019-03-20 03:30] tregismoreira commented on #2889
@kroitor what would be a good approach to bypass this limitation? Listen the ticker through websocket then, once the price hits, place the sell order (at market price)?

[2019-03-20 09:02] soloviofff opened #4860 "Bibox .fetchOHLCV() return wrong schema"
- OS: macOS 10.12.4 (16E195)
- Programming Language version: node v8.14.0
- CCXT version: 1.18.384
- Exchange: bibox
- Method: .fetchOHLCV()

fetchOHLCV returns wrong schema:
[code]
[By documentation](https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-structure) I expected numbers instead of strings.

[2019-03-20 09:06] #4860 closed

[2019-03-20 09:14] MarcelBeining commented on #4814
Hi @kroitor , I guess you're quite busy with a lot of stuff but can you give an estimate on when the changes will be released? Need the history for my current tax report and would try to find a workaround if it will take longer than a week. Thanks!

[2019-03-20 09:17] kroitor commented on #4814
@MarcelBeining i really hope to get to it practically any day, probably even today, and i'm sure i'll close this issue before the end of the week. Pardon for the delay again, i know the wait is frustrating. Will do my best to resolve this soon, it's high among my priorities.

[2019-03-20 10:24] lampardlb commented on #4834
Thank you for the useful information @kroitor

[2019-03-20 11:01] Gennttii commented on #4114
![2019-03-20](https://user-images.githubusercontent.com/3110966/54679400-7584c300-4b07-11e9-8f8f-0c24a0110596.png)
Just to confirm, look at this, some trades at 7 AM all of size 116.00, then after 3 hours some trades at 10 AM, and the clock now is 11:56 AM, the volume for last 24H says 2 M, it can't be...
In Binance you have 3 or 4 M 24H volume for the same pair, but there you have trades every se

[2019-03-20 11:04] kroitor commented on #4114
@Gennttii have you reached out to their support with that question?

[2019-03-20 11:35] silert commented on #4114
The true trading volume on DigiFinex is only 1% from reported volume according to https://www.blockchaintransparency.org/

[2019-03-20 12:01] Gennttii commented on #4114
Yes that should be true, 99 % from API, when did Digifinex start? I believe all exchanges faked volumes in their start..

[2019-03-20 14:04] Darkbladecr commented on #1952
Where is development being focused on for the go version of CCXT? Or has focus been on turning it into a REST client?

I would be quite keen to make it a first class citizen as are javascript, python and php. I appreciate there have been some issues with the strong typing, but surely we look to improve the base code and thus make the other languages better as well? Shall we build a branch off of C

[2019-03-20 14:13] kroitor commented on #1952
@Darkbladecr that's a great idea! Really appreciate your involvement!

Oh yeah!

I'd suggest that we just do this within your fork on the main branch, just to keep the efforts in synch. We can just organize it all in parallel folders in the same the repo because of how our [Multilanguage support](https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support) works. So, we just nee

[2019-03-20 14:27] kroitor commented on #2889
@tregismoreira to be honest, i don't think you can emulate it on the user side as well as it can be done by the exchange engine itself, because there will be price slippages due to networking latencies regardless of the underlying protocols, be it rest or ws. But if you can tolerate some errors, you can then listen to a ws orderbook deltas and act when the depth is good for you.

[2019-03-20 14:42] tregismoreira commented on #2889
@kroitor yes, I know the risks. In fact I've been trying to find the most safe/guaranteed way to do this for awhile. This is the closest I could get to it. If you have any other suggestion, I appreciate. Thanks for your feedback.

[2019-03-20 15:08] Sach97 opened #4861 "Support Dart"
Hi guys,
Great project I'm currently using it with async python support. But I was thinking why not ccxt in dart ? Main advantage over other strong typed languages :
- transpile natively to js with [dart2js](https://webdev.dartlang.org/tools/dart2js)
- comes with [flutter](https://flutter.dev/) for developing cross platform apps (ios, android, desktop and soon web with [Hummingbird](https://medium

[2019-03-20 15:23] kroitor commented on #4861
Hey)

Well, the reason and the answer to "why not" questions is always the same: it would be great and the suggestion is also good, so, it's not because we don't want to, but mostly because there's very few of us and a very wide range of tasks, so everything requires time.

On the list:

This is of course a very strong advantage (the infrastructure that comes along with it, i mean), but we should

[2019-03-20 15:47] Sach97 commented on #4861
Thank's for the feedback @kroitor. I'll finish polishing the base class and some types and make some exchanges (maybe the certified ones) and keep you updated.

My plan to tackled this would be to find the most used implementation per methods (with few transformations I mean) across every exchange class and implement it in the abstract class. So that way I only have to override a few methods.

I h

[2019-03-20 17:37] PuNkYsHuNgRy commented on #2150
Any word on if TradeOgre will be added?

[2019-03-20 17:45] kroitor commented on #4805
https://www.coindesk.com/cryptopia-exchange-resumes-crypto-trading-amid-banking-issues

[2019-03-20 17:47] npomfret opened #4862 "question about meaning of precision"
Apologies if this is a duplicate.

Regarding the `precision` values.  The docs say '_number of decimal digits "after the dot"_'.  But my understanding of the precision of a number was that it's another of way of saying how many significant figures there are.  In javascript, the `toFixed` function sets the number of decimal digits after the dot, and `toPrecision` sets the number to n significant di

[2019-03-20 19:46] MarcelBeining commented on #4805
Yep, same for me...

[2019-03-21 06:59] xpl commented on #4862
@npomfret Our library supports both the modes you've just described, they are called `DECIMAL_PLACES` and `SIGNIFICANT_DIGITS`. See the `decimalToPrecision` function usage:

https://github.com/ccxt/ccxt/blob/master/js/test/base/functions/test.number.js

In the bitfinex implementation, we specify the precision mode in that line:

https://github.com/ccxt/ccxt/blob/master/js/bitfinex.js#L306

[code]

[2019-03-21 07:40] kroitor commented on #4862
@npomfret let us know if the above does not answer your question )

[2019-03-21 07:40] #4862 closed

[2019-03-21 09:28] 0xecute opened #4863 "Precision problem with partial order"
Hello,

I am using the following:
- OS: Linux
- Programming Language version: Python
- CCXT version: 1.18.385
- Exchange: Bitfinex
- Method: fetchOrder

When I place a limit order on bitfinex, for example ETCUSD which has a precision of 4 digits, for an amount of 9.3054, it works.
But then, if the order is hit partially and I fetch the order, the "filled" and "remaining" fields have the following

[2019-03-21 09:38] kroitor commented on #4863
Hi!

In order to help we need your **verbose request/response** otherwise we will be mostly guessing.

I suggest that you read this very carefully:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

We need you to add `.verbose = True` before fetching the order:

[code]

↑ And post the output here.

[2019-03-21 09:50] 0xecute commented on #4863
Thank you for your fast reply.

Actually I don't think it is a ccxt issue because on the Bitfinex interface, I can see the details:
![Screenshot 2019-03-21 at 10 46 13](https://user-images.githubusercontent.com/15121936/54744192-9102d300-4bc6-11e9-90a1-842eda6b5865.png)

So the units that ccxt gives are correct. But I thought I am not the only one having this problem, so maybe I am missing somethi

[2019-03-21 10:06] 0xecute commented on #4863
Okay, I found more details. Actually, on the web interface of Bitfinex we can place an order of 5.70564199 and it works.
Apparently, it may be a problem of the way ccxt fetch or define the precision amount ( or maybe how I understood it :)
For example in bitfinex, calling:
`bitfinex.publicGetSymbolsDetails()` it will return for ETC/USDT:
`{'pair': 'etcusd', 'price_precision': 5, 'initial_margin':

[2019-03-21 10:09] kroitor commented on #4863
No, because you should've posted just the last request and the last response. You should really follow the guides by that link **exactly** (literally to a word). But, anyways, no worries, I don't think it will help in this case.

To clarify, if the exchange reports those values – it would be incorrect for ccxt to cut them in `fetchOrder`. However, to be precise, the exchange will allow you to spen

[2019-03-21 10:09] #4863 closed

[2019-03-21 10:32] 0xecute commented on #4863
Thank you for the help.
I understand the difference and your solution, but for ETC the minimum amount is 2 unit.
So I could send an order of 5.1 but then the order of 0.023456 is rejected.

Thank you again for your help.

[2019-03-21 10:36] kroitor commented on #4863
Yeah, that's the effect of a different rule, the limits (along with the precision), so it turns out that you can't really spend everything to a penny. At least, we can't really overcome the exchange trading rules in the lib, for obvious reasons. But in most cases users can tolerate that and will have a "buffer". Not being able to go down to the absolute zero – can still be ok when the minimal amou

[2019-03-21 16:10] npomfret commented on #4862
I see, thank you.

[2019-03-21 16:36] aviad21 commented on #56
Hi @kroitor,
Following @maayank's [comment](https://github.com/ccxt/ccxt/issues/56#issuecomment-473930158), It seems that zero-value-amount order updates are not being removed from the orderbook.

Possibly, the python origin of this was introduced in the following added condition:
https://github.com/ccxt/ccxt/blob/45febed9b792ab33c9454626e468e8e9672dad37/python/ccxt/base/exchange.py#L1233 ...where

[2019-03-21 19:36] fedecaccia opened #4865 "Binance Margin Trading"
Just to notify (in case you haven't seen it..)

https://cointelegraph.com/news/binance-api-seemingly-reveals-ongoing-margin-trading-implementation

Sorry for the spam, just eager to use binance margin trading!

[2019-03-21 19:42] ndubel opened #4866 "CoinFalcon fetchOpenOrders()"
- Programming Language version: JS
- CCXT version: latest
- Exchange: CoinFalcon
- Method: fetchOpenOrders

When I try to call fetchOpenOrders() without market argument - it works ok, but when i try to call it for specific pair: fetchOpenOrders('DASC/BTC'), I catch {"error":"Signature 2187*****b7df is incorrect."), so some promlems with sign.

[2019-03-21 20:36] kroitor commented on #4865
I suggest to move this discussion here: #4834

[2019-03-21 20:36] #4865 closed

[2019-03-22 06:37] bnskumar opened #4868 "okex {"result":false,"error_code":20024}"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

---code:

exchange = ccxt.okex({
'apiKey': '***',
'secret': '***',
'enableRateLimit': True,
})

instrument='BTC/USD'
ord_qty=0.002

exchange.create_limit_buy_order(instrument,{'amount':o

[2019-03-22 12:58] MarcelBeining opened #4870 "KuCoin Matching Engine Upgrade"
FYI
See here:
https://www.kucoin.com/news/en-kucoin-matching-engine-and-trading-system-upgrading

[2019-03-22 13:43] kroitor commented on #4868
Hi!

This is a bit of a duplicate issue:

- https://github.com/ccxt/ccxt/issues/4206
- #4063  ← I suggest to move this discussion here.

[2019-03-22 13:43] #4868 closed

[2019-03-22 13:51] sergethompson opened #4871 "New Exchange: StellarX"
StellarX has [zero trading fees](https://stellarx.zendesk.com/hc/en-us/articles/360006190074-Are-there-fees-), decent volume, decentralized and would love to see on ccxt.
https://www.stellarx.com/

Some quick start info I gathered is in the following urls:
https://www.stellar.org/developers/horizon/reference/endpoints/assets-all.html

base url for stellarx is "https://horizon-stellarx.stellar.org"

[2019-03-22 14:21] kroitor commented on #4871
Duplicate: https://github.com/ccxt/ccxt/issues/1376

[2019-03-22 14:21] #4871 closed

[2019-03-23 18:23] jackpotcityco opened #4874 "Question about: active, cost min, amount min, precision amount"
OS: Windows 10
Programming Language version: Node.js
CCXT version: #465
Exchange: All Exchanges
Node.js 11.9.0 installed
Method: active, cost min, amount min, precision amount

Hello!

I have a question when looking at for example the below 2 JSON responses as an example:

**southexchange**
**"MLM/BTC":{"tierBased":false,"percentage":true,"taker":0.002,"maker":0.002,"id":"MLM/BTC","symbol":"MLM/BT

[2019-03-23 19:55] kroitor commented on #4874
Hi!

Your first question about the `active` flag was answered here:

- https://github.com/ccxt/ccxt/issues/4075
- https://github.com/ccxt/ccxt/pull/4573

It's active, if the `active` flag isn't explicitly set to `false`. If it's missing or `true` then it's true. If it's `undefined`, then it's most likely true, but not 100% )

[code]

It should. If you find a case when it doesn't reflect that scena

[2019-03-23 19:55] #4874 closed

[2019-03-23 20:18] lampardlb opened #4876 "KuCoin market buy order types"
- OS: Windows
- Programming Language version: python
- CCXT version: 3.18.387
- Exchange: Kucoin
- Method: create market buy order

Kucoin's API allows two types of market orders ([link here](https://docs.kucoin.com/#place-a-new-order)) by specify either one of the two (not both):
1. specify 'size' = base currency amount, e.g. how much BTC one wants to buy in the BTC/USDT pair;
2. specify 'funds'

[2019-03-23 20:24] jackpotcityco commented on #4874
Thank you, then I understand better about the "active" status for the symbol how to think there.
I did also wonder about the below fields, how to think when those are missing when it comes to create an order, in order to:
Send minimum amount, precision amount, cost minimum to prevent an order to be rejected. Like below all of that is undefined or missing?:
[code]
_(Yes I will put JSON in markdown

[2019-03-23 21:23] jackpotcityco opened #4877 "Thank you, then I understand better about the "active" status for the symbol how to think there."
Thank you, then I understand better about the "active" status for the symbol how to think there.

I did also wonder about the below fields, how to think when those are missing when it comes to create an order, when it comes to:
Send minimum amount, precision amount, cost minimum correctly, to prevent an order to be rejected. Like below all of those are undefined or missing?:
[code]
_(Yes I will pu

[2019-03-23 21:24] kroitor commented on #4877
I suggest that we keep this discussion in the original post here: https://github.com/ccxt/ccxt/issues/4874#issuecomment-475901786

[2019-03-23 21:24] #4877 closed

[2019-03-23 21:24] jackpotcityco commented on #4877
(Yes, sorry, I did by mistake create a new issue)

[2019-03-23 21:25] kroitor commented on #4874
That looks like a strange structure to me (if all of it is empty), can you post the code you used to obtain it? Which exchange/method is it?

[2019-03-23 21:34] jackpotcityco commented on #4874
I did just copy your info from your post there. I was not sure if you refered to my question there.

But the code and response I get is the below then. It is for the southexchange in this case:
[code]
The response is this:
[code]

[2019-03-23 21:35] kroitor commented on #4874
If you mean `southxchange`, then the above structure is expected, because the `sountexchange` API does not provide the indication whether the market is active or not and does not specify precision or limits. So you could stick to a default of precision 8 for amount and price and if your values are somehow out of limits, the exchange should throw an exception, which you will then be able to catch a

[2019-03-23 21:40] jackpotcityco commented on #4874
Then I understand, I was not sure about it so thought it was good to ask to know how to do with those scenarios. I will try to use precision 8 for amount and price as a default then and create a catch error log for realtime use to see what scenarios that could happen there.

Thank you very much for this help!

[2019-03-23 21:41] kroitor commented on #4876
@lampardlb yep, this is how we approach these types:

- https://github.com/ccxt/ccxt/blob/master/js/huobipro.js#L796
- https://github.com/ccxt/ccxt/blob/master/js/cex.js#L329

Also, covered here:

- https://github.com/ccxt/ccxt/issues/3460
- https://github.com/ccxt/ccxt/issues/3427

Your help with that would me much appreciated, otherwise I will get to it after fixing #4814.

[2019-03-23 22:04] lampardlb commented on #4876
@kroitor Thanks for your reply - you should take some rest in the weekend mate!
I'm a bit embarrassed to say that I do not know how to run github properly, and do not know js... I've modified the python codes in kucoin.py (by just removing 'size' out of 'request' initialisation to allow 'funds' in params), hope these can somehow help a little:

[code]

[2019-03-23 22:07] kroitor commented on #4876
@lampardlb no worries, will resolve it anyway, thx for your reports, really appreciate your reporting!

[2019-03-24 01:42] #4814 closed

[2019-03-24 01:53] #4835 closed

[2019-03-24 02:18] #4838 closed

[2019-03-24 06:42] #4851 closed

[2019-03-24 06:58] #4866 closed

[2019-03-24 08:14] YukiCrisp opened #4878 "New Exchange: coindcx.com"
Coindcx.com has good liquidity.

Website: https://coindcx.com/
API: https://api.coindcx.com
API Docs: https://coindcx-official.github.io/rest-api/

[2019-03-24 09:16] MarcelBeining opened #4879 "kucoin fetchDeposits error with historical transactions"
- OS: Windows 10 64bit
- Programming Language version: Python 3.6
- CCXT version: 1.18.395
- Exchange: kucoin
- Method: fetchDeposits

First thanks a lot for historical data implementation on kucoin!
However currently I get an error when using the fetchDeposits with a `since` parameter of `0`:
[code]

Could it be that kucoin reward transactions don't have a txid and thus this fails?
Best
Marcel

[2019-03-24 09:22] MarcelBeining opened #4880 "Implement fetchLedger on kucoin"
- CCXT version: 1.18.395
- Exchange: kucoin
- Method: fetchLedger

Just saw that kucoin now also has an endpoint for getting the ledger entries which is much more convenient than fetching trades/withdrawals/deposits separately. As some of your other exchange implementations (e.g. kraken) already have the fetchLedger method, might be supercool if you could also implement it for kucoin :-)

[2019-03-24 12:29] kobej1 opened #4881 "Orderbook Tickers"
For binance it's possible to get the first bid and ask entry in the order book for all markets. I've searched in the user manual but didn't find this functionality. Is this functionality available in the ccxt library or not?

[2019-03-24 12:48] kroitor commented on #4881
That's right.

Yes, just use the `fetchBidsAsks` method.

Duplicates:

- https://github.com/ccxt/ccxt/issues/1177
- https://github.com/ccxt/ccxt/issues/1855
- https://github.com/ccxt/ccxt/issues/2893

Let us know if that doesn't answer the question.

[2019-03-24 12:48] #4881 closed

[2019-03-24 12:51] #4879 closed

[2019-03-24 13:37] kroitor commented on #4836
- `249.36 / 0.04982417 = 5004.799879255389503` (with fees subtracted from cost first)
- `250.00 / 0.04982417 = 5017.645050584886813` (without accounting for fees)

[2019-03-24 14:16] kroitor commented on #4836
They don't even mention `amount2` anywhere in the docs, heh...

<img width="761" alt="Screen Shot 2019-03-24 at 17 14 22" src="https://user-images.githubusercontent.com/1294454/54880682-54e6a100-4e58-11e9-806a-c9a6b2483d3b.png">

[2019-03-25 00:34] ahmedbodi opened #4884 "Exchanges which fail to loadMarkets"
- OS: Ubuntu 18
- Programming Language version: PHP 7.3
- CCXT version: Latest
- Exchange: N/A
- Method: loadMarkets

Calling LoadMarkets on the following exchanges fails to load:

allcoin - Warning: Illegal string offset 'marketCoins'
bcex - GET https://www.bcex.top/Api_Market/getPriceList 404
buda - GET https://www.buda.com/api/v2/currencies 28 Operation timed out after 10001 milliseconds with 0

[2019-03-25 03:12] chrouzz opened #4885 "javascript lib kucoin call issues promise error and CORB"
- OS: Mac OSX
- Programming Language version: javascript web browser (chrome)
- CCXT version: 1.18.387
- Exchange: Kucoin
- Method: fetchBalance, fetchTrades

I get this original error with a  promise call, here is the error stack.

kucoin.js:259 Uncaught (in promise) TypeError: Cannot read property 'length' of undefined
    at kucoin2.fetchCurrencies (kucoin.js:259)
    at async kucoin2.loadMarke

[2019-03-25 09:14] chrouzz commented on #4885
regarding my understand, all come from the CORB issue which at the origin is a protection that google do one receives a response.
In this case CORB policy will set the return data to null. So the javascript lib can't continue.
I am working from my computer and testing using chrome with a dev web server at localhost:9000

[2019-03-25 09:33] kroitor commented on #4885
Please, read here on how to bypass CORS issues:

- https://github.com/ccxt/ccxt/wiki/Install#cors-access-control-allow-origin
- https://github.com/ccxt/ccxt/search?q=cors&type=Issues

Let us know if that doesn't answer your questions. Feel free to ask, if you have more.

[2019-03-25 09:33] #4885 closed

[2019-03-25 10:05] MarcelBeining opened #4886 "Implement fetchLedger on Coinbase"
As of now it seems this has not been implemented on Coinbase (not Pro).
This feature is documented here:
https://developers.coinbase.com/api/v2#list-transactions
a bit confusing that they call it list-transactions, because when I understand it correctly this is what other exchanges call `ledger entries `(history of buys, sells, withdrawals, deposits etc)

[2019-03-25 10:08] kroitor commented on #4886
The work on it is going on here: https://github.com/ccxt/ccxt/pull/4179 (i suggest to move this discussion to that PR, if you don't mind).

[2019-03-25 10:08] #4886 closed

[2019-03-25 10:24] MarcelBeining opened #4887 "Implement binance dust conversion history in fetchMyTrades"
- CCXT version: 1.18.397
- Exchange: binance
- Method: fetchMyTrades

I just wondered why in my ccxt trade history I could sell some BNB that I did not have bought before and found out that this BNB came from a `dust-to-BNB` conversion, which ccxt does not fetch during fetchMyTrades.
There is an endpoint to get these conversion data from binance:
https://github.com/binance-exchange/binance-officia

[2019-03-25 10:26] chrouzz commented on #4885
This is not CORS issues, this is CORB issue, that's not a typo from me.
I know how to solve CORS issue.
I give up to use the javascript lib within a webapplication. Too much issues, I will try a different approach.
PS: I only had issue with kucoin, bibox was fine.

[2019-03-25 10:32] kroitor commented on #4885
@chrouzz the workaround for CORB is exactly the same as a workaround for CORS, because it involves a CORS proxy. The Install docs describes how to set up a CORS proxy to avoid CORS/CORB issues.

[2019-03-25 10:35] kroitor commented on #4887
We will most likely not add the second call to `fetchMyTrades`, because it will break the pagination. So we will think of how to add a unified method for dust logs instead.

[2019-03-25 10:37] kroitor commented on #4887
In the meantime, you can use the private endpoint wapi_get_userAssetDribbletLog to fetch them manually as described here: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[2019-03-25 10:37] MarcelBeining commented on #4887
Ok maybe you leave a note in here if you implemented it in some way

[2019-03-25 11:20] chrouzz commented on #4885
I spent a whole day trying to fix that issue.
I am usually solving CORS issue with a chrome plugin.
According to chrome itself it's a different problem.
 https://www.chromestatus.com/feature/5629709824032768
CORB is a security embedded within the browser, to protect from some kind of attack.
I am tired, don't want to give it another shoot, I will use python.

[2019-03-25 17:36] kroitor commented on #4884
Duplicates:

They changed their API and the support for allcoin is currently broken:

- https://github.com/ccxt/ccxt/search?q=allcoin&type=Issues
- https://github.com/ccxt/ccxt/issues/2962
- https://github.com/ccxt/ccxt/issues/2702

Have shutdown the exchange due to a hack. They resumed the operation later but haven't completely restored it yet:

- https://github.com/ccxt/ccxt/search?q=cryptopia&t

[2019-03-25 17:36] #4884 closed

[2019-03-25 22:24] texxxo commented on #2052
Do we need this npm package to get Cors working? https://www.npmjs.com/package/cors-anywhere

[2019-03-25 22:35] kroitor commented on #2052
@texxxo there's a few options:
- use a publicly available CORS server (can be slow and unreliable) `https://cors-anywhere.herokuapp.com/`
- run your own on `http://localhost:1337/` – for that you need any CORS proxy package, the `cors-anywhere` might do the job, depends on your particular tasks, but, i can't recommend any package in particular, because to me they're all the same mostly.

[2019-03-25 22:52] texxxo commented on #2052
@kroitor  Thanks maybe you have your favorite package that you use in production and is ok, what would that be?

[2019-03-25 23:00] kroitor commented on #2052
I'd say `cors-anywhere` npm package is ok.

The question itself isn't really correct. In general, when you use a CORS proxy, the information goes this way and back:

Your "localhost" ←→ CORS proxy ←→ internet ←→ exchange.

So, when you use `https://cors-anywhere.herokuapp.com/`, you're using someone's public CORS proxy server (not the same as `cors-anywhere` npm package).

Basically `https://cors-

[2019-03-25 23:03] kroitor commented on #2052
In order to use `http://localhost:1337/` you have to do a very certain procedure of several steps (to setup a CORS proxy on your localhost) – did you do that procedure precisely? Because if you haven't done anything but just `const proxy = 'http://localhost:1337/';` – that won't work. The procedures are described here: https://github.com/ccxt/ccxt/wiki/Install#cors-access-control-allow-origin

[2019-03-26 01:12] mrktmr opened #4889 "bitmex.fetchOHLCV"
I am not able to get OHLCV data from https://bitmex.com. It works fine with https://testnet.bitmex.com. I have successfully downloaded the entire OHLCV data from the testnet several times, but can't get a single good response from the main net??? Here is the troubled code:

base_url='https://bitmex.com'
bitmex = ccxt.bitmex({'verbose': True, 'enableRateLimit': True, 'apiKey':apiKey, 'secret':apiSe

[2019-03-26 01:19] kroitor commented on #4889
Can you please show your verbose request/response exactly as described here:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
- https://github.com/ccxt/ccxt/wiki/FAQ#im-trying-to-run-the-code-but-its-not-working-how-do-i-fix-it

?

(and use the markup to format it for readability:

[code]

[2019-03-26 01:43] mrktmr commented on #4889
The code is the same as before with loop so

[code]
response
[code]

[2019-03-26 01:58] kroitor commented on #4889
@mrktmr for some reason the url that is being called is

- https://bitmex.com/api/v1/trade/bucketed?symbol=XBTUSD&binSize=1h&partial=True&count=750&startTime=2015-09-26+00%3A00%3A00

↑ which doesn't work... whereas the proper URL should be:

- https://www.bitmex.com/api/v1/trade/bucketed?symbol=XBTUSD&binSize=1h&partial=True&count=750&startTime=2015-09-26+00%3A00%3A00

↑ which works.

How do you i

[2019-03-26 02:03] kroitor commented on #4889
So, the answer is: Don't expect anything from `https://bitmex.com` at all. It's not the correct URL to be used with BitMEX.

Either use `https://www.bitmex.com` or just use the default URL as is from CCXT (don't override it at all in the exchange constructor). Let us know if that doesn't answer the question.

[2019-03-26 02:03] #4889 closed

[2019-03-26 02:29] mrktmr commented on #4889
Yes that is the problem, many thanks for review the issue. I should have seen that!

[2019-03-26 04:08] texxxo commented on #2052
**This is the original lines in my app**
`const port = process.env.PORT || "1337";
app.listen(port, () => console.log(`Server listening on port ${port}`));

**This is how I rewrite it to use with cors-anywhere package**
`const port = (process.env.PORT.length > 2) ? parseInt(process.env[2]) : 1337;
require('cors-anywhere').app.listen(port, () => console.log(`Server listening on port ${port}`));`

*

[2019-03-26 05:51] yazhou8 commented on #2801
还没有改从gateio交易所api获取OHLCV数据！现在ccxt中的fetch_ohlcv函数还是模拟出来的!作者可以更改一下吗？

[2019-03-26 18:08] brandsimon opened #4891 "DX Exchange Implementation"
Hello,

I'd like to implement the dx exchange for ccxt.
The exchange is not using HMAC, it uses an authentication token (sent as HTTP-Header), therefore it also needs a login method executed before the first request (and after timeout expired).
Also the method is provided as json parameter and not in the url.
https://apidocs.dx.exchange/#99e1780b-c222-4e60-a788-ad7e8f522529

If I create a pull req

[2019-03-26 20:07] Arrmlet opened #4892 "fetch_ohlcv candle size"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- Ubuntu:
- Python:
- 1.18.400:
- Bitmex:
- fetch_ohlcv:

Hi why I can't fetch OHLCV data for 15m 30m, 4h, candles?
My code:
[code]
I get the error which look like this
[code]

[2019-03-26 20:43] kroitor commented on #4892
Hi!

[code]

- https://github.com/ccxt/ccxt/wiki/Manual#exchange-properties

Let us know if that doesn't answer the question.

[2019-03-26 20:43] #4892 closed

[2019-03-26 20:56] Arrmlet commented on #4892
Hi, thank you for fast response, I have one more question why fetch_ohlcv() returns only 100 datapoints. Thanks

[2019-03-26 21:02] kroitor commented on #4892
@Arrmlet

This question is answered here:

- https://github.com/ccxt/ccxt/wiki/Manual#pagination
- https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-candlestick-charts

In general, there's a limit of data that the exchanges will return, so you should fetch it iteratively.

[2019-03-26 21:32] Arrmlet commented on #4892
@kroitor
Thanks, Its looks too complicated, I cant imagine how to get for example 2000 '5m' ohlcv datapoints :(

[2019-03-26 21:37] kroitor commented on #4892
@Arrmlet see the examples here: https://github.com/ccxt/ccxt/tree/master/examples

[2019-03-26 21:38] Arrmlet commented on #4892
@kroitor
Wow, thank you very much:))

[2019-03-26 22:32] jackpotcityco opened #4893 "Question about cancelOrder"
OS: Windows 10
Programming Language version: Node.js
CCXT version: #465
Exchange: All Exchanges
Node.js 11.9.0 installed
Method: await cancelOrder()

Hello!

I have a question about the cancelOrder call. I will ask about the below that I find in the manual:
It says that when cancel the order, one should **retry** to call cancelOrder again to let the cache to not fall out of sync.

I think I unders

[2019-03-26 22:39] lampardlb opened #4894 "Gate.io load market error"
- OS: windows/linux
- Programming Language version: python 3.6
- CCXT version:0.18.387
- Exchange: Gate.io
- Method: load_markets()

when trying to load market, this error emerges:

Traceback (most recent call last):
    gateio.load_markets()
  File "Python\Python37-32\lib\site-packages\ccxt\base\exchange.py", line 1082, in load_markets
    markets = self.fetch_markets(params)
  File "Python\Pytho

[2019-03-26 22:51] kroitor commented on #4893
Do one still need to retry the call once more even that we know that it was cancelled(Is there any extra mechanics in the cache to Anyway retry the cancelOrder call to let everything be in sync)?

In short: **no**.

All of the above is written for a situation when multiple conditions meet:
- the exchange is using the `.orders` cache (does not have `fetchOrder` or `fetchOrders`, `fetchClosedOrders`

[2019-03-26 22:51] #4893 closed

[2019-03-26 22:53] kroitor commented on #4894
Oh... I guess, they've introduced a currency with an underscore in its code...

[2019-03-26 22:55] lampardlb commented on #4894
Thanks man. Yes I guess so - these exchanges always give headaches...

[2019-03-26 23:00] kroitor commented on #4894
What the fuck. Seriously...

- https://data.gate.io/api2/1/marketinfo

[2019-03-26 23:00] kroitor commented on #4894
<img width="1121" alt="Screen Shot 2019-03-27 at 01 59 48" src="https://user-images.githubusercontent.com/1294454/55039127-10aff800-5034-11e9-807e-6a4e472e63d8.png">

[2019-03-26 23:01] Arrmlet commented on #4892
[code]
Maybe its will be useful for someone.

[2019-03-26 23:02] kroitor commented on #4892
@Arrmlet thx for the feedback, I'm sure it will help!

[2019-03-26 23:06] #4894 closed

[2019-03-26 23:12] lampardlb commented on #4894
Probably gate.io can't afford half-decent developers...

[2019-03-26 23:15] jackpotcityco commented on #4893
Thank you very much for that detailed answer. That really explains good.
Now I understand when to retry a cancelOrder call.

[2019-03-26 23:18] kroitor commented on #4894
Yeah, but at the same time, they can afford taking decent fees from users of their API, can they?... The two facts somehow disagree in my head.

Anyways, I've uploaded a workaround for it. So, we should be ok as of 1.18.402 (401 has a minor mistake).

[2019-03-26 23:49] kroitor commented on #2052
Not really. You need two things:

1. Get the CORS proxy script from the Install page running on your localhost without editing it at all: https://github.com/ccxt/ccxt/wiki/Install#nodejs-cors-proxy

2. Edit your CCXT code to instantiate the exchange like so:

[code]

Let me know if that clarifies it or not. Feel free to ask further questions, if you have more.

[2019-03-27 00:23] kroitor commented on #4891
Hello!

Thanks for reaching out to us, good questions!

Yes, it happens.

Yep. But we won't be able to certify it, unless they do something about their auth scheme.

It is different from most exchanges, but not really unique... There's more of them, like, `bitlish`, `btctradeua`... They have a `signIn` method for that matter as well. Most of them belong to smaller exchanges, though. In other words

[2019-03-27 00:23] #4891 closed

[2019-03-27 03:13] XavierXIEXIN commented on #4114
Fake vol or not, 99% of the crypto exchanges are wash trading now to maintain their rank and draw more attention, the report just pointed out the most obvious ones. From what I observed, the digifinex exchange was just not wash trading constantly like others, the USDT/TUSD pair for instance, discontinuous tradings with several occasionally trades of relatively large amount could make the suspiciou

[2019-03-27 04:51] bnskumar commented on #4063
If V3 updated.

I keep getting this error:

ccxt.base.errors.ExchangeError: okex {"result":false,"error_code":20024}

--**Code**:

exchange = ccxt.okex({
'apiKey': '***',
'secret': '***',
'enableRateLimit': True,
})

instrument='BTC/USD'
ord_qty=0.002

exchange.create_limit_buy_order(instrument,{'amount':ord_qty, 'price':3950, 'contract_type': 'next_week'})

[2019-03-27 07:55] DylanKojiCheslin opened #4896 "Documentation should include instructions on vulnerability reporting"
I may have found a vulnerability, and I don't think that announcing it in the pubic issues is a good idea.

The contributing guide or readme should give direction on what to do in this situation.

[2019-03-27 08:00] #4896 closed

[2019-03-27 08:01] kroitor commented on #4896
Added the instructions here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#reporting-vulnerabilities-and-critical-issues. Feel free to contact us at info@ccxt.trade. Thanks for your help in advance!

[2019-03-27 08:13] #4870 closed

[2019-03-27 08:14] kroitor commented on #2909
The exchange website is down by now. Sorry.

[2019-03-27 08:14] #2909 closed

[2019-03-27 12:03] aibric1407 opened #4898 "Deribit - Fetch My Trades error invalid_or_unsupported_instrument"
- OS: Ubuntu 16.04
- Programming Language version: node v8.15.0
- CCXT version: 1.18.323
- Exchange: Deribit
- Method: fetchMyTrades

Code
[code]
Output:
[code]
Fetch open orders accepts BTC-PERPETUAL as instrument and returns empty array, but fetch trade history returns invalid_or_unsupported_instrument.

I have played with https://www.deribit.com/static/console/index.html and noticed that this e

[2019-03-27 12:59] kroitor commented on #1609
The exchange is shutdown on 15 May 2019 - July 2019: https://www.cryptonit.net/en/about

[2019-03-27 12:59] #1609 closed

[2019-03-27 17:23] jackpotcityco opened #4899 "Question about "cost" in different orders"
OS: Windows 10
Programming Language version: Node.js
CCXT version: #465
Exchange: All Exchanges
Node.js 11.9.0 installed
Method: createOrder, cancelOrder, fetchOrder, fetchClosedOrders

Hello!

I have a general question about the below methods when implementing correct mathematics:
[code]
The question is about the "cost" response like below:
[code]
As seen in above example, it shows: "0.076094524"

[2019-03-27 18:17] Arrmlet opened #4900 "Leverage Order bitmex"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- Ubuntu:
- Python3:
- 1.18.400:
- Bitmex:
- idk:

Hi there, I have a trouble with placing orders with leverage on bitmex.

Lets say I have avaible 0.1 XBT on my bitmex account, and I want to place a market buy order with 50 leverage, how I can do it?

I'm try to

[2019-03-27 20:08] jackpotcityco opened #4901 "How to actually catch Error Handling with code"
OS: Windows 10
Programming Language version: Node.js
CCXT version: #465
Exchange: All Exchanges
Node.js 11.9.0 installed
Method: Error Handling

Hello!

I am looking at the Error Handling in the Manual.
https://github.com/ccxt/ccxt/wiki/Manual#error-handling

I might wonder how you actually create code to catch the error in practic. I beleive it is a code question. If we have this cancelOrder like

[2019-03-27 22:53] Arrmlet commented on #4900
I'm trying to run this but its opened a position with margin 50x. I'm don't know where I can set up leverage. How I can create a order for 5% of my balance with margin(leverage) 5
[code]

[2019-03-28 02:41] #4901 closed

[2019-03-28 02:45] kroitor commented on #4901
Hi!

I've added a small section to the Manual showing how to catch the exceptions:

- https://github.com/ccxt/ccxt/blob/master/wiki/Manual.md#error-handling (will be on the main wiki shortly)

And I've added an example in JS here:

- https://github.com/ccxt/ccxt/blob/master/examples/js/error-handling.js

Unfortunately, exception handling is a topic too wide to be explained briefly and is mostly be

[2019-03-28 10:09] eugenek1492 opened #4902 "[BITMEX]: Cost of the traded shares calculated incorrectly when avg_px of the fill is different from the limit price of the order"
- OS: Ubuntu, 18.04.1 LTS (Bionic Beaver)"
- Programming Language version: Python 3.6
- CCXT version: 1.18.347
- Exchange: BitMEX
- Method: create_limit_buy_order, create_limit_sell_order

sending aggressively priced Limit order to BitMex:
* BUY, 1397 contracts of  'XRPH19' @ 0.00007633
* Order was fully filled @ 0.00007614 ---
   ** this is shown in the info: {'avg_px': 7.614e-05}
   ** I confirm

[2019-03-28 10:23] texxxo commented on #2052
Thanks @kroitor now more clear for me how it works! But with React it is a lil bit more tricky because I select the exchange dynamically from an drop-down menu and then it shows up on the browser what I need..I have now the cors-anywhere running on my PORT and also added
 `const proxy = 'http://localhost:1337/'` into my component

This is how the section where the exchange selected in the drop-dow

[2019-03-28 10:31] kroitor commented on #2052
@texxxo ok, however, from your comment it is not clear if you now have it working or is there still a problem with it?

[2019-03-28 10:54] texxxo commented on #2052
@kroitor Sorry for being unclear. The problem is now solved I had to run the app like it was on port 1337 and the cors-anywhere separately on 8080. Now it works, Thank you so much!

[2019-03-28 10:56] kroitor commented on #2052
The two numbers should be the same, however. I mean:
- your `const proxy = 'http://localhost:1337/` should be `const proxy = 'http://localhost:8080/` if your CORS proxy is running on port 8080
- your `const proxy = 'http://localhost:1337/` should be `const proxy = 'http://localhost:1337/` if your CORS proxy is running on port 1337

[2019-03-28 11:06] texxxo commented on #2052
Yes that was exactly what fixed my problem. Thanks man! :)

[2019-03-28 11:47] jackpotcityco commented on #4901
Thank you very much that was perfect, the example in the manual you added:
https://github.com/ccxt/ccxt/blob/master/wiki/Manual.md#error-handling

I am used to use try{}catch{} blocks to catch errors but the example you added to the manual was very good showing the below for example to distinguish the errors.
[code]
Thank you :)

[2019-03-28 13:56] #4902 closed

[2019-03-28 15:31] cenyG opened #4903 "Hitbtc fetch_markets do not return all markets"
Hi, I'm trying to figure out why when I fetch markets from **HitBTC** using CCXT it doesn't return me all markets.
This question is actually about `BCHABCBTC`, `BCHABCUSD`, `BCHSVBTC`, `BCHSVUSD` and other `BCH`. CCXT returns only `BCHABC` pairs and named them as `BCH`.
Why it is working in this way?

[2019-03-28 15:34] abchzw commented on #1392
hi,can you help me ,I a upbit api to test,it is very import ,thank you.

[2019-03-28 18:19] npomfret commented on #56
Where does the timestamp come from in the gdax/coinbase pro order book feed?  I ask because I'm getting updates with very old (more than 10 seconds) timestamps from time to time.

[2019-03-28 23:18] devsi opened #4905 "Bitstamp undefined index: date"
- OS: OS X 10.14.3
- Programming Language version: PHP 7.2
- CCXT version: 1.18.x
- Exchange: Bitstamp
- Method: fetchOrder

See below for verbose output. I get ErrorException `undefined index: date` on bitstamp.php line 394 without fail every time I try and fetchOrder

I have a new instance of bitstamp() with correct credentials (createOrder works without Exception, fetchOrder works but it still

[2019-03-28 23:24] devsi commented on #4905
I feel like bitstamp.php line 394 should be looking for `datetime` instead of `date`? It looks like it's trying to get the value of $trade['date'] without checking if date exists first and the response from bitstamp is `datetime`. I can also see a few lines before that it is looking for `datetime` so assume that maybe this is an error?

[2019-03-28 23:31] devsi commented on #4905
Can confirm changing `$trade['date']` to `$trade['datetime']` fixes the issue. If nobody else get's there first, will fix this first thing tomorrow in a PR.

[2019-03-29 00:31] kroitor commented on #4903
Hi!

This question has been answered here, they're all accessible under corresponding names, and the naming schema is explained here:

- https://github.com/ccxt/ccxt/wiki/Manual#naming-consistency
- https://github.com/ccxt/ccxt/wiki/Manual#notes-on-naming-consistency
- https://github.com/ccxt/ccxt/issues/4311
- https://github.com/ccxt/ccxt/blob/master/js/hitbtc.js#L487

[code]

↑ Let us know if th

[2019-03-29 00:31] #4903 closed

[2019-03-29 05:46] #4905 closed

[2019-03-29 09:26] auloff opened #4907 "[BCEX] Inability to get balances"
- OS: Windows
- Programming Language version: Python 3.6.6
- CCXT version: 1.18.410
- Exchange: BCEX
- Method: "/fetchBalance"
**Description:** "GET 404 Client Error: Not Found for url: https://www.bcex.top/Api_Market/getPriceList"

[2019-03-29 09:27] kroitor commented on #4907
Duplicate: https://github.com/ccxt/ccxt/issues/4365

[2019-03-29 09:27] #4907 closed

[2019-03-29 15:57] mykolasmith commented on #4239
@dandare71UK @kroitor I've opened a PR ^

[2019-03-29 16:57] #4239 closed

[2019-03-29 17:30] odemolliens opened #4911 "binance {"code":-1013,"msg":"Invalid price."}"
- OS: macosx
- Programming Language version: python
- CCXT version: 1.18.412
- Exchange: binance
- Method: create_limit_sell_order

Cxxt is working **very well** (limit buy/sell orders) on many pairs (with different price precisions) but I have issues with some pairs like BTT/BTC SC/BTC.

So I tried to harcode the price I provide to ccxt in order to see where this {"code":-1013,"msg":"Invalid pric

[2019-03-30 00:57] jackpotcityco opened #4914 "Question about minimum amount in createOrder"
OS: Windows 10
Programming Language version: Node.js
CCXT version: #465
Exchange: Coinegg
Node.js 11.9.0 installed
Method: createOrder

Hello!

I am trying to createOrder on exchange coinegg for ETH/BTC with below code:
[code]
The error I get when executing the code is:
[code]

When looking at the JSON response for coinegg (coinegg.load_markets). This can be seen in the minimum limit:
**amount":{"

[2019-03-30 02:07] kroitor commented on #4911
Hi!

Unfortunately, your link points not to the CCXT repository, but to your own copy, which looks outdated.

If you look into current CCXT code, there's no such lines there anymore in that place:

- https://github.com/ccxt/ccxt/blob/master/python/ccxt/binance.py#L785

You should update your fork by merging the main CCXT repo into it. Or just use the main repo, not your own fork, to stay in synch.

[2019-03-30 02:07] #4911 closed

[2019-03-30 02:46] kroitor commented on #4914
Hi!

First of, when posting an issue, please ALWAYS include your **verbose request/response** as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue. Otherwise we will ask it in our first response anyway. It isn't required for resolving this issue, however, it is still required in most cases (just the error message is not enough!). Otherwise it's hard to

[2019-03-30 02:46] #4914 closed

[2019-03-30 07:55] yazhou8 opened #4915 "gateio no fech_ohlcv!for gateio is emulated"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:
In ccxt, endpoint fetch_ohlcv() for gateio is emulated, which requests /api2/1/tradeHistory/. Weird thing is that in its Chinese version API docs, it does provide an OHLCV API, which is m

[2019-03-30 08:14] kroitor commented on #4915
Duplicate: https://github.com/ccxt/ccxt/issues/2801

(We will add the missing method as soon as possible).

[2019-03-30 08:14] #4915 closed

[2019-03-30 09:09] abhishekgahlot commented on #4878
@kroitor I am actually working on this and should raise a PR soon.

[2019-03-30 09:13] kroitor commented on #4878
@abhishekgahlot cool! Let me know if you have any questions. Please make sure to read the following, if you haven't already:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUT

[2019-03-30 09:23] Queeq commented on #4798
I have the same issue. Just normal Python 3.7 venv without conda. MacOS 10.14.3 Mojave.

[2019-03-30 09:25] kroitor commented on #4798
@fuzunspm

No, you should try reinstalling the packages according to the posts above. Or post more info here.

[2019-03-30 09:28] kroitor commented on #4798
@Queeq

Need more info, an install log or something to see the issue or to be able to reproduce it. Just the version numbers doesn't tell much. Or describe the steps you've tried already to resolve it. Have you tried updating XCode Dev Tools, for example?

[2019-03-30 09:31] Queeq commented on #4798
Found this solution: https://github.com/saghul/aiodns/issues/55#issuecomment-456330612

Had to force uninstall as there are other dependables (e.g. Wireshark): `brew uninstall --ignore-dependencies c-ares` and it solved the issue. Wireshark still works though :)

[2019-03-30 09:41] #2801 closed

[2019-03-30 09:41] kroitor commented on #4798
@Queeq thanks for the feedback, it will be very helpful to others!

[2019-03-30 10:10] kroitor commented on #4915
@yazhou8 We have added it in CCXT 1.18.416. Note that it doesn't support the `since` argument. Let us know if you have any questions.

[2019-03-30 10:10] kroitor commented on #2801
@whchen8  We have added it in CCXT 1.18.416. Note that it doesn't support the `since` argument. Let us know if you have any questions.

[2019-03-30 11:28] lampardlb commented on #4900
Hi,
  You need to post leverage first and separately before you create buy order. The code should be something like:

[code]
 This structure works for me, hope these help you.

[2019-03-30 12:12] yazhou8 commented on #4915
Thank you! The OHLCV value obtained by fetch_ohlcv seems to be within 24 hours! Https://data.gateio.co/api2/1/candlestick2/btc_usdt?group_sec=60&range_hour=1, the official api parameter range_hour is how many hours! Equivalent to the ccxt since parameter

[2019-03-30 12:16] kroitor commented on #4915
It's not equivalent to `since`, it's equivalent to `limit` because they will not give you more than 1001 candles, so you can't get minute history for a year ago.

[2019-03-30 12:22] yazhou8 commented on #4915
I understand! Then I got 15 days of 1d 16 sets of data is no way to get through fetch_ohlcv?

[2019-03-30 12:28] yazhou8 commented on #4915
I can convert 2019-03-15 00:00:00 into a timestamp, which will satisfy the multiples of the gateio api within 24 hours to get the data.

[2019-03-30 12:30] kroitor commented on #4915
@yazhou8

Yeah, unfortunately, it is the limit on the exchange side, we can't workaround it, and they don't accept anything close to `since`. In other words, you don't need to specify `since` at all, if you want to get 15 days of 1d candles, you just call it like `exchange.fetch_ohlcv ('ETH/BTC', '1d', None, 1001)`. That's the gateio maximum.

[2019-03-30 12:35] yazhou8 commented on #4915
I understand! thank you

[2019-03-30 13:14] eburnette opened #4916 "New exchange: Bitmax"
Exchange home: bitmax.io
Api doc: https://github.com/bitmax-exchange/api-doc
Endpoint: https://bitmax.io/1/api/v1

Relatively new exchange, has cash and margin trading.

[2019-03-30 13:14] MarcelBeining opened #4917 "kucoin NEO withdrawal raises invalid address error via API but not via website"
- CCXT version: '1.18.400'
- Exchange: kucoin
- Method: withdraw

When I want to withdraw 1 NEO from kucoin with this code:
`client.withdraw('NEO', 1.0, 'AFtKSGZhxKt8bY9VSwGr4FcgGkBERcMrta', '1553951507')`

I get the following error:

[code]

However, the address is correct and working when I perform the same withdrawal on the kucoin website. Any idea what the problem is? Has it something to do wi

[2019-03-30 13:21] kroitor commented on #4917
Does it work this way:

[code]

? (If it does, then we will add an edit to the `withdraw()` implementation quickly, otherwise we will have to reach out to the KuCoin team to resolve this)

[2019-03-30 13:24] kroitor commented on #4917
@MarcelBeining you're specifying the `tag` argument, but is it required for `NEO` ? (sorry, don't know much about it)

[2019-03-30 13:38] MarcelBeining commented on #4917
Hi @kroitor
I just talked to the kucoin support (recomendation: always talk to them via telegram kucoin group, there they are very much faster!) and when I do the withdraw without the tag it works!
However this is a kucoin API bug then because does not make sense to raise a address error! Also I thought a transaction can always have a tag/data/whatever entry.

[2019-03-30 13:41] MarcelBeining commented on #4917
Your suggested code also raises `ArgumentsRequired: kucoin Incorrect withdrawal address`

[2019-03-30 13:50] kroitor commented on #4917
Not really. The `tag` is a special addressing bit that identifies you from other users when using currencies that share the common base address for all users of an exchange (XRP, XLM, etc). So the `tag` is not your arbitrary "comment for the transaction" and you can't use it in that way. That is all described here: https://github.com/ccxt/ccxt/wiki/Manual#address-structure

So, it's not an API bug

[2019-03-30 14:10] MarcelBeining commented on #4917
Ok did not know, thanks!

[2019-03-30 14:10] #4917 closed

[2019-03-30 17:14] jackpotcityco commented on #4914
Yes, that is true. I will do that next time ofcourse. Thank you.

I thought so also that it could have been that. I was not entirely sure if the error message was from ccxt or the exchange itself. But then I understand. They do not as you mentioned not provide the minimum cost in the JSON response.

It was a good idéa to for this kind of scenario create a function that tries to send a very small o

[2019-03-30 17:17] odemolliens commented on #4911
Hello @kroitor,

You right my fork was not up to date. This is now the case, I tried again without my fix and this is what I get (as proof, I added a printed value "test_416 in my fork to check that I'm using the last version"):

`2019-03-30 18:12:56,736 - BOT - INFO - API call: Sell amount 8312.0 at price 0.00000020.
test_416`

`Request: POST https://api.binance.com/api/v3/order {'X-MBX-APIKEY':

[2019-03-30 18:29] kroitor commented on #4911
Hi @odemolliens !

Not really... There was also another bug in CCXT related to #4286. And I've uploaded one more fix for it. So, to make your code work, please, update to version 1.18.417 and retry again (with default code from the repo – it should work without your edit). Let me know if you still have difficulties with 1.18.417. Will be happy if you report whether it solved the issue or not. Thx!

[2019-03-30 19:30] hollylh commented on #2412
Hello, I realize this thread is a year old..but who did you wind up hiring?  I'm having the same issue!  Thanks.

[2019-03-30 19:36] hollylh commented on #2412
I know this thread is very old, but is there anyone in particular you could recommend?  I'm having problems finding people..  Thank you

[2019-03-30 20:11] odemolliens commented on #4911
Issue still present for me in **1.18.417**

API call: Sell amount 3571.0 at price 0.00000020

[code]

[code]

[2019-03-31 01:22] kroitor commented on #4911
@odemolliens are you sure that

1. you've removed the `.format` (your edits don't overwrite the lib files now)?
2. and that your version is 1.18.417 ?

Let's check this:

[code]

↑ Is it up to date on your system now?

[2019-03-31 01:30] kroitor commented on #4911
@odemolliens looks like you're still using your old file: https://github.com/0slab/ccxt/blob/master/python/ccxt/binance.py#L799. You should replace the entire repo with the new one, otherwise your code will still call the outdated versions. `Test_416` doesn't show your real version, because it's a hardcoded string. To show your actual version, use `print(ccxt.__version__)`. Should be 1.18.417.

[2019-03-31 03:53] TensorTom opened #4918 "Exchange Request: Deribit"
Exchange: Derbit
Site: [deribit.com](https://deribit.com)
API Docs: [Deribit API](https://docs.deribit.com/)

[2019-03-31 04:11] TensorTom commented on #4918
Issue was posted in error due to typo of exchange name. deribit exists in ccxt!

[2019-03-31 04:11] #4918 closed

[2019-03-31 04:19] TensorTom commented on #4833
Bump to this. Very much need v2 api because v1 can't do $1 contracts. I'd contribute but this sort of javascript isn't really my bag.

[2019-03-31 09:29] odemolliens commented on #4911
Hello @kroitor,

`2019-03-31 11:28:00,684 - BOT - INFO - Using Exchange "Binance" with ccxt version:"1.18.417"`

I'm not using my fork. My fork is just to show my trouble and what is my hotfix to have a working bot.

[2019-03-31 09:39] kroitor commented on #4911
@odemolliens let's run this short test:

[code]

My results are:

[code]

If your results are different with version 1.18.417 – then it means something is wrong with the version setup, or some other files have been changed and left outdated since then. Let's make sure that you have the same output first.

[2019-03-31 10:03] odemolliens commented on #4911
On my side, If I execute your code at the start of my bot I get this:
**1.18.417**
**Formatted price 0.0000002**

If I execute your code later, when I trying to sell my positions
**1.18.417**
**Formatted price 0**

[2019-03-31 10:08] kroitor commented on #4911
I'm not sure how does that code relate to your positions at all. I mean, the snippet I posted above does not involve any positions whatsoever, it's a complete program that doesn't have any hidden parts in it, so, if you launch it once or twice, the result should be consistent (same result each time). If it differs, that you're either not running my code (running some other code) or some other kind

[2019-03-31 10:43] odemolliens commented on #4911
When I init my Exchange object

[code]

Console:
[code]

Later in my code

[code]

Console:
[code]

🤷‍♂️

[2019-03-31 10:48] kroitor commented on #4911
I suggest to compare the bytesize of files then:

Do this in your repo root:

[code]

My results:

[code]

Also, what's your version of Python ? How do you install CCXT? How do you switch between your repo version and your the original version?

[2019-03-31 11:19] odemolliens commented on #4911
[code]

[code]

I install CCXT using pip3 through requirement.txt file

I don't really use my repo. I just pushed my local change in your library, located in `/usr/local/lib/python3.6/site-packages`

Each time I want to come back to your repo, I just delete ccxt folder in `/usr/local/lib/python3.6/site-packages` and execute again `pip3.6 install -r requirements.txt`

[2019-03-31 11:26] kroitor commented on #4911
@odemolliens ok, can you show the contents of `requirements.txt` ? Also, does my code (if you run it in a separate file) always shows consistent results on your side?

[2019-03-31 11:35] odemolliens commented on #4911
[code]

`ccxt_test.py` contains your sample code

[code]

Console:
[code]

[2019-03-31 11:35] kroitor commented on #4911
Let's add a bit more to my code snippet and do the following:

[code]

Can you run this at the start of your bot and also run this like you did before – within your code as well, and paste the results here?.. If you're running the same module, those filenames should be consistent at the very least...

[2019-03-31 11:41] odemolliens commented on #4911
[code]

[code]

[2019-03-31 11:45] kroitor commented on #4911
@odemolliens can you make a snippet in 10-20 lines to reproduce it? I mean, can you start reducing the code (by just cutting away big junks of it temporarily in a tmp copy folder) – so that we could reproduce it on our side without having to dig through your business logic (you probably wouldn't want to disclose it anyway) ? Because we don't know what happens between STEP1.1 and STEP2 – we can onl

[2019-03-31 11:52] odemolliens commented on #4911
@kroitor ok but I will take me some time to create this snippet.

Anyway, we recreate a fresh ccxt object at each print in the console so...

Is their any debug log when you instantiated CCXT ? Maybe I can compare the two instances

[2019-03-31 11:57] kroitor commented on #4911
Right, but we don't see how ccxt is imported just from that code alone, so we need to make it a short but a complete program that we would be able to run without editing, or at least something close to that. That isn't really our requirement, it is needed in order to be able to help you, because, otherwise it will be much harder, obviously...

Apart from what you've already seen – nope, there's no

[2019-03-31 12:10] odemolliens commented on #4911
[code]

I added a log in `base/exchange.py` and looks like your internal parameters are always good
`price_to_precision: 0,0000002   ROUND: 1    market 8      precision: 2`

[code]

I will work on the snippet in coming days, it require some works ;)

[2019-03-31 12:24] kroitor commented on #4911
@odemolliens ok, looking forward to hear from you!

[2019-03-31 16:57] minaseem opened #4919 "Please fix symbol collision for BitTorrent (BTT) and Blocktrade Token(BTT)"
- OS: All
- Programming Language version:Nodejs
- CCXT version:1.18.265

[2019-03-31 17:00] minaseem opened #4920 "Fix symbol collision for cryptaur (CPT) on HitBTC and Content Protocol Token (CPT) on UpBit"
- OS:All
- Programming Language version:Nodejs
- CCXT version:1.18.265

[2019-03-31 21:40] ErnstDinkelmann opened #4921 "multiprocessing.Process fetch_trade: 'luno' object has no attribute 'publicGetTickers'"
Hi
I'm trying to spawn a process for each of a number of exchanges, and testing with a single one for now, just to get the Multiprocessing working. However, it is failing.
[code]
fails with
[code]
Any way to fix this?
If not, any alternatives?

Environment info:
- OS: Win 10, 64 bit
- Programming Language version: Python 3.7.2
- CCXT version: 1.18.398
- Exchange: luno
- Method: fetch_trades(), via

[2019-04-01 02:41] Tehsurfer commented on #3617
Just wanted to add that I have done another set up using Ubuntu 18.04 LTS and using `pip install ccxt` installed successfully there.

[2019-04-01 11:11] hlongvu opened #4922 "kucoin - fetchMarkets return a map"
- Programming Language version: Nodejs v10.15.3
- CCXT version: 1.18.409
- Exchange: kucoin
- Method: fetchMarkets

The method currently return a map instead of a list as other exchanges.

[2019-04-01 11:13] #4922 closed

[2019-04-01 11:23] kroitor commented on #4922
Fixed in 1.18.420. Thx!

[2019-04-01 12:25] fccoelho commented on #549
Checked on latest version as of today. and currencies only returns this:
[code]
bf is the exchange instance.

[2019-04-01 12:29] kroitor commented on #549
Which exchange?

[2019-04-01 14:01] fccoelho commented on #549
yes, `bitfinex2`

[2019-04-01 14:02] fccoelho commented on #549
Ah... ok. thanks I'll try to pull from some other exchange, then.

[2019-04-01 15:40] Arrmlet commented on #4900
@lampardlb  Thank you a lot.

[2019-04-01 15:47] #4900 closed

[2019-04-01 15:50] kroitor commented on #4919
@minaseem can you help list out the conflicting exchanges? We will be able to resolve this quicker then. Thx!

[2019-04-01 15:53] #4920 closed

[2019-04-01 16:30] minaseem commented on #4919
This is not about conflicting symbol across exchanges. Here is my scenario:

I am getting the list of currencies from coinmarketcap and fetching markets for those currencies (using symbol) from different exchanges. Since BitTorrent and BlockTrade Token have same symbol (BTT), I am not sure which how can prevent exchanges from getting confused between these symbols since I am passing BTT in both sc

[2019-04-01 16:42] #4919 closed

[2019-04-01 17:14] kroitor commented on #4919
@minaseem

I've added a mapping for Blocktrade Token to `coinmarketcap`, it is available in 1.18.422. I highly recommend to update to it.

You should use the `'Blocktrade Token'` currency literal. This is explained here: https://github.com/ccxt/ccxt/wiki/Manual#notes-on-naming-consistency

Let us know if that doesn't help.

[2019-04-01 17:23] odemolliens commented on #4911
Looks like the issue is coming due to the fact i'm using this:

[code]

[2019-04-01 18:09] minaseem commented on #4919
Thanks @kroitor !

Proposed solution works when I want to fetch something for a particular currency.

My scenario is a bit different. I have the list of all the markets from an exchange and I want to filter out all the markets for BitTorrent and BlockTrade Token separately. Is there a way I can do this?

[2019-04-01 20:52] CryptoGnome commented on #4833
I am also bumping, excited to see v2 get added. Thank you to everyone contributing!

[2019-04-01 22:32] guiscaranse opened #4924 "Unable to create order on NegocieCoins"
- OS: Windows 10
- Programming Language version: Python 3.7
- CCXT version: 1.18.422
- Exchange: NegocieCoins
- Method: createMarketSellOrder()

I am unable to create a sell order into NegocieCoins, I am keeping getting this exception: `decimal.InvalidOperation: [<class 'decimal.ConversionSyntax'>]`

I think there is a problem in [using price_to_precision method](https://github.com/ccxt/ccxt/blob/

[2019-04-02 04:55] kroitor commented on #4919
Yes, it is explained here:

- https://github.com/ccxt/ccxt/wiki/Manual#notes-on-naming-consistency
- https://github.com/ccxt/ccxt/blob/master/examples/js/search-all-exchanges.js
- https://github.com/ccxt/ccxt/tree/master/examples/js/symbols.js

[code]

It doesn't break, your base currency will be equal to either `BTT` (for bittorent) or `Blocktrade Token` (for blocktrade token), depending on which

[2019-04-02 04:59] #4924 closed

[2019-04-02 05:01] kroitor commented on #4924
@guiscaranse `negociecoins` does not support `market` orders (only `limit` orders are supported), and for a `limit` order a price is required. I've added the missing metainfo flag to negociecoins:

- https://github.com/ccxt/ccxt/wiki/Manual#exchange-metadata
- https://github.com/ccxt/ccxt/wiki/Manual#market-orders

Let us know if that doesn't answer the question.

[2019-04-02 05:14] jooddang opened #4926 "TypeError on Bitmex when price is null"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: macOS
- Programming Language version: Python 3.7.2
- CCXT version: 1.18.167
- Exchange: Bitmex
- Method: fetch_l2_order_book()

[code]

[2019-04-02 05:21] kroitor commented on #4911
@odemolliens You probably don't want to do `getcontext().prec = 8` when working with exchanges (most of them require values up to 64 bits), otherwise you will start losing precision, and that's exactly what is happening.

[2019-04-02 05:22] kroitor commented on #4926
@jooddang

1. Do you have the same issue with the most recent version 1.18.422?
2. Can you post a short snippet of your code to reproduce the issue?

[code]

[2019-04-02 05:42] jooddang commented on #4926
@kroitor Thanks for quick response.
I just updated to 1.18.422, and I will keep you posted if I see the same log. It happens sporadically only when Bitmex returns with `price: null` (you can see from the log above).
[code]
This is current version of `sort_by`.
And in that case, `price: null` will be interpreted to `price = None` and `price` becomes a null string `""` and  It's obvious `TypeError:

[2019-04-02 05:59] kroitor commented on #4926
@jooddang got it! Let me know if you still have difficulties with it.

To me it sounds like a bug on the exchange side, I mean, how can an order in the orderbook have a `null` price, really? It should not be there in the first place, right? Anyways, if it happens again, let me know, I will add a workaround for this. Thx!

Closing this for now, if you don't mind, feel free to reopen it, or just pos

[2019-04-02 05:59] #4926 closed

[2019-04-02 13:02] jackpotcityco opened #4928 "Is it possible to use a Proxy IP Address and Port on fetchTickers"
OS: Windows 10
Programming Language version: Node.js
CCXT version: #465
Exchange: All Exchanges
Node.js 11.9.0 installed
Method: fetchTicker()/fetchTickers()

Hello!

I wonder if it is possible to use a proxy IP Address and Port number when calling the below methods: **fetchTicker() and fetchTickers()** ?
I have seen in the manual that there is a proxy in the exchange class but the example shows a

[2019-04-02 13:09] guiscaranse commented on #4924
Oh, I see. But `negociecoins.has['createMarketOrder']` returns True.
![Hyper_xb9BT967vX](https://user-images.githubusercontent.com/4432205/55404905-576b8980-552f-11e9-8f9e-ce0e4d2c74be.png)

[2019-04-02 13:26] kroitor commented on #4924
@guiscaranse if you update to version 1.18.423, then i will return false:

[code]

Let us know if that doesn't help.

[2019-04-02 13:55] kroitor commented on #4928
Hi!

Yes:

- https://github.com/ccxt/ccxt/issues/2480
- https://github.com/ccxt/ccxt/wiki/Install#javascript-proxies

[2019-04-02 13:55] #4928 closed

[2019-04-02 16:13] minaseem opened #4929 "Please fix Hydro Protocol (HOT) symbol inconsistency for huobipro."
Please add Hydro Protocol into commoncurrencies list for huobipro.
Ideally market for hydro protocol on huobipro should be `Hydro Protocol/BTC` ,  `Hydro Protocol/ETH`. It is coming has `HOT/BTC` , `HOT/ETH`

[2019-04-02 16:22] minaseem commented on #4919
Thanks for making it more clear to me. You rock!

[2019-04-02 16:36] guiscaranse opened #4931 "Problems with the NegocieCoins exchange class"
- OS: Windows 10
- Programming Language version: Python 3.7
- CCXT version: 1.18.425
- Exchange: NegocieCoins
- Method: sign

I've first created #4924 but then noticied some other problems with the Exchange class (negociecoins.py) around NegocieCoins.

1. `requests.exceptions.InvalidHeader: Value for header {Content-Length: 71} must be of type str or bytes, not <class 'int'>`
The origin of this er

[2019-04-02 20:40] jackpotcityco commented on #4928
Thank you!

So the below code should be able to work. I might have one question there:
[code]
The question is for the below line. There is an "OR ||" where the first argument is: "process.env.http_proxy" I am not sure what that means?
At the same time, if I have this Proxy: "168.63.76.32:3128". Do I need to put the first argument there before the || ?
[code]

[2019-04-03 09:48] JelleAdan opened #4932 "Bittrex DUST_TRADE_DISALLLOWED_MIN_VALUE"
- OS: Windows 10
- Programming Language version: Python 3
- CCXT version: 1.18.406
- Exchange: Bittrex
- Method: createLimitSellOrder

When the amount is too low and I attempt to submit a sell limit order, this returns an ExchangeError with message from Bittrex "DUST_TRADE_DISALLOWED_MIN_VALUE".

In this code (bittrex.py line 993) it says:

if message == 'DUST_TRADE_DISALLOWED_MIN_VALUE_50K_SAT':

[2019-04-03 09:51] #4932 closed

[2019-04-03 10:01] MarcelBeining commented on #4880
Actually this would also be very good to implement soon because the other endpoints do not provide information on the received airdrops/bonuses etc

[2019-04-03 10:02] kroitor commented on #4921
I can't reproduce it on MacOS Mojave 10.14.4:

[code]

↑ works as a standalone script as well:

[code]

[code]

Can someone confirm it?
Will need some time to test it on Windows...

[2019-04-03 10:03] #4929 closed

[2019-04-03 10:31] ErnstDinkelmann commented on #4921
Just tested on my Ubuntu 18.04.1 LTS and it works.

Not sure if this gives any clue, but I use pycharm and when I ctrl+click on the "fetch_trades" function, a dropdown is presented listing the function within the different exchanges. I choose the luno one. Then when I ctrl+click on the "publicGetTickers", to navigate to it, it does not even underline it and no action is performed - not "clickable"

[2019-04-03 10:32] MarcelBeining opened #4933 "kucoin fetch_my_trade fails with recent timestamps"
- OS: Windows 10 64 bit
- Programming Language version: Python 3.6
- CCXT version: 1.18.430
- Exchange: kucoin
- Method: fetchMyTrades

When I do fetchMyTrades without a since parameter (just `kucoin.fetchMyTrades( )` ) I get my trades from after 2019-02-18 (last recent one was today).
However, when I give a timestamp that is inbetween 2019-02-18 and now, e.g.
`exchange.fetchMyTrades(since=1551448

[2019-04-03 10:50] kroitor commented on #4933
@MarcelBeining can you post your verbose request/response, pls?

[2019-04-03 11:03] kroitor commented on #4921
↑ This is by design and it's explained here:

- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#implicit-api-methods

So, you cannot inspect those methods, because they are generated in runtime – that's ok.

However, the Windows error is a mystery. One question: is it an Anaconda Python or not on your Windows machine?

[2019-04-03 13:25] MarcelBeining commented on #4933
Request: GET https://openapi-v2.kucoin.com/api/v1/fills?startAt=1550448000000&currentPage=1 {'KC-API-KEY': 'XXXXXXXX', 'KC-API-TIMESTAMP': '1554297811451', 'KC-API-PASSPHRASE': 'XXXXXXXXXXX', 'KC-API-SIGN': 'XXXXXXXXXX', 'User-Agent': 'python-requests/2.19.0', 'Accept-Encoding': 'gzip, deflate'} None

Response: GET https://openapi-v2.kucoin.com/api/v1/fills?startAt=1550448000000&currentPage=1 200

[2019-04-03 13:38] MarcelBeining commented on #4933
I am a bit confused that ccxt uses some the kucoin endpoint "fills" which sounds to me like it is an endpoint for general non user-specific fills (https://docs.kucoin.com/#list-fills)
There's another endpoint https://docs.kucoin.com/#list-orders which seems to be more similar to the historical order endpoint

[2019-04-03 14:05] ErnstDinkelmann commented on #4921
OK, makes sens.

Yes, it's a miniconda install - both Windows and Ubuntu.

I tried on another windows 10 machine => same error.
I also installed a clean python, non-anaconda based, changed interpreter to it => same error.

[2019-04-03 14:18] kroitor commented on #4933
@MarcelBeining

Are you confusing `fetchMyTrades` with `fetchClosedOrders` ? The difference is explained here:

- https://github.com/ccxt/ccxt/wiki/Manual#how-orders-are-related-to-trades

It is a list of user-specific fills (the `fills` endpoint requires authentication).

Yes, and it is used for `fetchClosedOrders` / `fetchOpenOrders` (for a different purpose). A historical order is not the same

[2019-04-03 14:22] kroitor commented on #4921
@ErnstDinkelmann ok, I got you... I will have to run it on a virtual machine with Windows to test it, and will get back to you with my results, if you find out something before that – let us know, don't hesitate, if anything.

[2019-04-03 14:24] MarcelBeining commented on #4933
Oh sorry, seems I forgot to remove the params which had the page argument in it.
However, still if I do

`exchange.fetchMyTrades(since=1551448000000 )`
I get:

Request: GET https://openapi-v2.kucoin.com/api/v1/fills?startAt=1551448000000 {'KC-API-KEY': '5c6acdc538300c74d1d743d1', 'KC-API-TIMESTAMP': '1554301377611', 'KC-API-PASSPHRASE': 'Kaskucoin.com666!', 'KC-API-SIGN': 'kDmxRb6kNQu2LD0vpmLfNDC2

[2019-04-03 14:25] MarcelBeining commented on #4933
Hm sorry, forgot the params parameter with the page argument..
Still, if I do `exchange.fetchMyTrades(since=1551448000000 )`
I get
Request: GET https://openapi-v2.kucoin.com/api/v1/fills?startAt=1551448000000 {'KC-API-KEY': 'XXXXX', 'KC-API-TIMESTAMP': '1554301377611', 'KC-API-PASSPHRASE': 'XXXXXX', 'KC-API-SIGN': 'XXXXXX', 'User-Agent': 'python-requests/2.19.0', 'Accept-Encoding': 'gzip, deflate'

[2019-04-03 14:27] kroitor commented on #4933
@MarcelBeining 1551448000000 corresponds to 2019-03-01T13:46:40.000Z – do you have trades after that date?

[2019-04-03 14:30] kroitor commented on #4933
@MarcelBeining here's what KuCoin doc says about the arguments:

Looks like the request is ok and it should return the trades, right?

[2019-04-03 14:35] kroitor commented on #4933
@MarcelBeining actually, the `currentPage` is also supported by the `fills` endpoint, it is documented in a different section of the API doc. But anyways, from your words, it doesn't make a difference... I will try to reach out to KuCoin to check if this is an issue on the exchange side.

[2019-04-03 14:43] MarcelBeining commented on #4933
Ok thank you. This data time range is weird, why don't they just use paging as for any other endpoint? =/
Your ccxt class already implements going through all the weeks one after the other?

[2019-04-03 15:06] kroitor commented on #4933
@MarcelBeining a quick question, do you have trades within a week after 2019-03-01T13:46:40.000Z? Because if you don't the empty result is expected and documented, no?

[2019-04-03 15:18] MarcelBeining commented on #4933
Indeed, between 12th Feb and 19th March I had no trades....
But the way kucoin returned results was very different a few weeks (or days??) ago and usually how the ccxt "since" works is that it provides everything since this time point until a limit from which on you have to do paging, right?? This here unfortunately is totally different =(

[2019-04-03 15:21] kroitor commented on #4933
Yeah, we will add a warning to inform the users about that, it will be acknowledgeable and you will be able to suppress it. I guess, at this point, we can consider this issue closed?

[2019-04-03 15:25] MarcelBeining commented on #4933
Yes I'll close. I will start complaining @ kucoin as long as they do not make this as simple as the other endpoint paginations :-D

[2019-04-03 15:25] #4933 closed

[2019-04-03 17:03] kroitor commented on #4928
It means: *take the first value before `||` and if it is `undefined` take the second value after `||`.

The first value is `process.env.http_proxy` – it is an environment variable that can be passed into your program by your shell. It sometimes helps to have the variables configurable from outside of the program, rather than hardcoding the value inside the program. That helps reconfigure the progr

[2019-04-03 17:27] jackpotcityco commented on #4928
Thank you, then I understand the difference. I can just use the 'http://168.63.76.32:3128' proxy in this scenario then as the other parameter before OR || most likely is undefined in my case.

Thank you for your help!

[2019-04-03 18:41] hroff-1902 opened #4934 "Make Exchange.parse_timeframe() a staticmethod"
- Programming Language version: python
- Exchange: base/exchange
- Method: parse_timeframe

Proposal: Make this method a staticmethod. It has nothing to do with an exchange class instance or exchange class itself.

This will simplify its usage outside of the ccxt library for parsing timeframe values in the app using ccxt.

[2019-04-03 19:09] #4934 closed

[2019-04-03 23:23] alexeymarunin opened #4935 "[Binance] Incorrect trade's side detection"
- OS: macOS 10.14.4
- Programming Language version: Node.js
- CCXT version: 1.18.230
- Exchange: Binance
- Method: parseTrade

[code]
Field `m` appears only in [aggTrades](https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#compressedaggregate-trades-list) endpoint.

I think if trade['m'] is true side should be 'buy', not 'sell'

Sample (real) trade
[code]
The sid

[2019-04-04 00:01] kroitor commented on #4935
Can you, please, clarify why it's incorrect?

Please, see duplicate issues and answers here:

- https://github.com/ccxt/ccxt/issues/4618#issuecomment-461157777
- https://github.com/ccxt/ccxt/pull/538

Let us know if those ↑ posts don't resolve the issue. Feel free to reopen it if needed, or just ask further questions, if any.

[2019-04-04 00:01] #4935 closed

[2019-04-04 00:42] florent8000 opened #4936 "Binance - fetch_my_trades - binance requires `apiKey`"
- OS: Mac OS
- Programming Language version: Python 3.6
- CCXT version: latest
- Exchange: Binance
- Method: fetch_my_trades

Hi there,

I'm getting a "binance requires `apiKey`" authentification error each time I try to use fetch_my_trade on Binance. Please see log trace below:

Traceback (most recent call last):
  File "/Users/florent/PycharmProjects/light/exchanges/binance.py", line 94, in fetc

[2019-04-04 00:45] kroitor commented on #4936
Make sure you have no typos in the names of the options (should be `apiKey`, not `apikey` nor `api_key`):

[code]

- https://github.com/ccxt/ccxt/wiki/Manual#authentication

Let us know if that doesn't help.

[2019-04-04 00:45] #4936 closed

[2019-04-04 01:03] florent8000 commented on #4936
I double checked but "apiKey" is correctly typed.

My code is already using private methods (like cancel_order or create_limit_buy_order) before using fetch_my_trade, so it sounds like it's specific to that method but can't figure out why...

Thanks

[2019-04-04 02:20] kroitor commented on #4936
@florent8000 can you show any code to reproduce it? (without your actual keys, of course)

[2019-04-04 02:23] kroitor commented on #4936
[code]

↑ What does it say for `apiKey` and `secret` before the call to `fetch_my_trades`? Are they None or defined?

[2019-04-04 03:07] florent8000 commented on #4936
Hi Kroitor,

See below:

if self.should_login:
        binance = ccxt.binance({
                    ‘apiKey’: self.settings.get(‘auth’).get(‘pubKey’),
                    ‘secret’: self.settings.get(‘auth’).get(‘privKey’),
                     })
And this is how I call the ccxt function:

    def fetch_my_trades(self, symbol, period_seconds, retry_count=0):
        if self.ccxt is None:

[2019-04-04 03:08] florent8000 commented on #4936
Providing more details on the login part:

    def set_exchange_object(self):
        """
            Login to binance exchange, set binance attr
        """
        super().get_settings(self.exchange_name)
        self.settings = self.get_settings(self.exchange_name)
        if self.should_login:
            binance = ccxt.binance({
                'apiKey': self.settings.get('auth').get('pubKey'

[2019-04-04 06:52] devsi opened #4937 "Bitstamp : Not handing errors properly"
When Bitstamp throws an error, it often returns it like so:

[code]

Currently in `handleErrors()` Bitstamp errors are accessed like this:
[code]

This is bad, as the errors aren't strings (maybe sometimes if they're inconsistent?)

This most likely needs to be changed to:
[code]

Happy to make this change for you guys in the morning if you don't get to it first.

[2019-04-04 06:57] devsi commented on #4937
Infact, looks like the whole function is pretty wrong to me. It's checking to see if the exception exists in an array of exceptions that doesn't cover all the available messages from Bitstamp. Additionally, if it's not found it assumes a "status" is set to "error" which is not true either, and so will still just exit the `handleErrors()` function without throwing an Exception

[2019-04-04 07:34] MarcelBeining opened #4938 "kucoin - Implement getting withdraw fees on"
- CCXT version: 1.18.430
- Exchange: kucoin
- Method: loadFees

There is an endpoint to get the withdrawal fee of currencies on kucoin which can be accesses with ccxt via `privateGetWithdrawalsQuotas(params={'currency':'SOMECOIN'})` or via `fetchFundingFee('SOMECOIN')`.
So far it seems this is not implemented in the loadFees structure, because even after executing loadFees, the dictionary at kucoi

[2019-04-04 09:41] MarcelBeining opened #4939 "Responses of fetchWithdrawals have type 'deposit' on kucoin"
ATTENTION!!!
- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: 1.18.430
- Exchange: kucoin
- Method: fetchWithdrawals

The type of the withdrawals that you get via fetchWithdrawals have falsely  the type 'deposit'.
When I do
`[val['type']  for val in exchange.fetchWithdrawals(since=1550448000000)]`
I get
[code]
The since parameter can also be left out. When I retrieve old

[2019-04-04 09:48] kroitor commented on #4936
@florent8000 please, do this: https://github.com/ccxt/ccxt/issues/4936#issuecomment-479725159 to check your credentials before `fetch_my_trades`.

[2019-04-04 10:04] kroitor commented on #4937
I'll do my best to get to it asap. Your contributions are welcome )

[2019-04-04 10:06] kroitor commented on #4939
@MarcelBeining can you please show the response format in verbose mode?

[2019-04-04 10:30] MarcelBeining commented on #4939
` [val['type'] for val in exchange.getSuper('fetch_withdrawals')()]
`
Request: GET https://openapi-v2.kucoin.com/api/v1/withdrawals {'KC-API-KEY': 'XXXXX', 'KC-API-TIMESTAMP': '1554373742633', 'KC-API-PASSPHRASE': 'XXXXX', 'KC-API-SIGN': 'XXXXXX', 'User-Agent': 'python-requests/2.19.0', 'Accept-Encoding': 'gzip, deflate'} None

Response: GET https://openapi-v2.kucoin.com/api/v1/withdrawals 200 {'D

[2019-04-04 11:12] kroitor commented on #4939
@MarcelBeining thx so much! Will fix shortly.

[2019-04-04 11:35] #4939 closed

[2019-04-04 11:40] kroitor commented on #4938
Will add this and #4880 asap, hopefully, this week.

[2019-04-04 13:35] alexeymarunin commented on #4618
When executes limit-order, trade side is detected incorrect

Sorry, I'm not good in English, so just real examples

**Case 1.**
I created limit-order for sell

This is trade parsed by parseTrade() called in fetchTrades()
[code]

BWT, `fetchTradesMethod` option is `publicGetTrades`. If I set it to `publicGetAggTrades` - the trade disappears at all, so if you need get _real_ trade list, you have to

[2019-04-04 13:52] alexeymarunin commented on #4618
Case 3

Limit-order for sell executed immediately

fetchMyTrades()
[code]

fetchTrades() with `fetchTradesMethod: 'publicGetTrades'`
[code]

fetchTrades() with `fetchTradesMethod: 'publicGetAggTrades'`
[code]

[2019-04-04 13:57] alexeymarunin commented on #4935
I answered in https://github.com/ccxt/ccxt/issues/4618#issuecomment-479899265

[2019-04-04 13:59] alexeymarunin commented on #4618
Seems for market orders trade's `side` is detected correctly and for limit orders isn't

[2019-04-04 15:09] ErnstDinkelmann commented on #4921
@kroitor I found a solution. It turns out multiprocessing is handled differently between WINDOWS and *NIX.

In short, as I understand it, in windows, child processes will not inherit variables created in its parent. It starts a new process from scratch, hence any objects created in the ```if __name__ == '__main__'``` is unknown to the child process, because when it imports the module for the child

[2019-04-04 15:37] alexeymarunin commented on #4618
Limit order for buy

fetchTrades() with fetchTradesMethod: 'publicGetTrades'
[code]

fetchTrades() with fetchTradesMethod: 'publicGetAggTrades'
[code]

fetchMyTrades()
[code]

[2019-04-04 15:44] alexeymarunin commented on #4618
Market order for sell

fetchMyTrades()
[code]

fetchTrades() with fetchTradesMethod: 'publicGetAggTrades'
[code]

fetchTrades() with fetchTradesMethod: 'publicGetTrades'
[code]

[2019-04-04 16:35] iquirino commented on #3653
Hi guys!

I am here because i'm searching on google for "How to floor numbers by precision digits count".

My solution is:

[code]

I think this information can help someone, so we can add this on the wiki?
Ccxt already has a function to do this?

Thank you!

[2019-04-04 16:41] kroitor commented on #3653
@iquirino hi!

Yep, this has been generalized and described here:

- https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits
- JS: https://github.com/ccxt/ccxt/blob/master/js/test/base/functions/test.number.js
- Python: https://github.com/ccxt/ccxt/blob/master/python/test/test_decimal_to_precision.py
- PHP: https://github.com/ccxt/ccxt/blob/master/php/test/decimal_to_precision.php
- https://

[2019-04-04 16:52] iquirino commented on #3653
Hi!

Thank you by your answer!

The article did not explain how to do this precision using "decimalToPrecision" or "decimal_to_precision".
https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

Thank you!

[2019-04-04 17:11] frosty00 commented on #4938
`loadFees` only checks for `fetchFundingFees`. Unfortunately it is pretty difficult to implement this unless we use `asyncio.gather`. We could write some code that batches requests to attempt to solve this. We also have some `fetchFundingFees` that should be `fetchFundingFee`. WIll get back to you...

[2019-04-04 17:12] frosty00 commented on #4938
https://github.com/ccxt/ccxt/pull/4691#discussion_r257815563

[2019-04-04 17:38] frosty00 commented on #4921
We suggest to use a https://en.wikipedia.org/wiki/Singleton_pattern when interacting with CCXT exchanges. That is, you only want to instantiate one of each exchange because rate-limiting is done on a per exchange basis, not on the class level.

[2019-04-04 19:04] brandsimon commented on #4891
The transpiling works now for Python.

[2019-04-04 19:13] brandsimon commented on #4891
The transpiling works now for python. In PHP there is one problem left:
The exchange wants the params to be an object (Associative array). In PHP the functions has: `$params = array ()` as parameter. So if there is nothing in it, it will be sent as normal array in JSon.
So in PHP the exchange is throwing an error.

I can think of two solutions:
- Instead of `params = {}`, do `params = { '__associa

[2019-04-04 20:35] ErnstDinkelmann commented on #4921
@frosty00
My original intent was to iterate over a number of exchange_idS (strings), say in a list, creating one exchange instance of each, and then creating a process for each to say retrieve trades.

The way it seems, this is is only possible in Windows if one now creates a (say) list of exchange instances, ie the actual instantiated classes within a list, then iterate over that list within the

[2019-04-04 20:41] kroitor commented on #4921
The above code doesn't use the rate-limiter, it is off by default and has to be enabled as described in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#rate-limit

If you're creating one process per exchange, i'd suggest that you rather pass the exchange name to the process, and create the exchange instance inside the child process:

[code]

Does that work for you?

[2019-04-04 21:12] ErnstDinkelmann commented on #4921
Yes, aware of default being false, sorry, just removed that code in the example.

I'm happy with the solution provided.

I guess some further thinking would be required if one wants to fetch trade data with multiple processes, and at the same time execute trades on one or more of the exchanges. I guess this would require rate-limiting to be implemented in the application to be safe.

You are welco

[2019-04-04 21:24] #4921 closed

[2019-04-04 23:34] florent8000 commented on #4936
Thanks, I ran the code and got this error:

2019-04-05 07:12:26,372 - INFO - odin - Risk - Order '136525300' has been partially filled
2019-04-05 07:12:26,372 - ERROR - binance - Error fetching my trades! XRP/BTC 'binance' object is not subscriptable
2019-04-05 07:12:26,428 - ERROR - binance - Error fetching my trades! XRP/BTC 'binance' object is not subscriptable
2019-04-05 07:12:26,489 - ERROR -

[2019-04-05 01:51] kroitor commented on #4936
@florent8000 sorry there's a typo in it, can you please redo this slightly changed test again? ↓

[code]

[2019-04-05 02:04] kroitor commented on #4938
In general, I consider propagating the fees to the `.fees` property  – a design flaw.

We probably should not support that codepath and should rather drop it. I believe, the `.fee` should be a property of a market or a property of a currency, but not a property of an entire exchange.

If the lib encourages the user to work with fees accurately (not in a bunch, but per-market and per-currency speci

[2019-04-05 03:37] florent8000 commented on #4936
I've ran again with the edit and you're right the keys are None:

2019-04-05 11:35:02,407 - INFO - odin - Risk - Order '136593644' has been fully filled
apiKey:
secret:
2019-04-05 11:35:02,408 - ERROR - binance - Error fetching my trades! XRP/BTC binance requires `apiKey`
apiKey:
secret:
2019-04-05 11:35:02,459 - ERROR - binance - Error fetching my trades! XRP/BTC binance requires `apiKey`
apiKey:

[2019-04-05 03:44] kroitor commented on #4936
Yes this has something to do with the way you initialize and reinitialize the exchange. In other words, some part of your code is either redefining the values in runtime, but it's hard to tell without actually diving into your code... If you can make a short snippet of 10-20 lines to reproduce the issue (a short but a complete program) – i'd be able to tell the exact cause and fix...

[2019-04-05 04:03] florent8000 commented on #4936
ok will look into this and post the solution here when found. Thanks the help!

[2019-04-05 04:17] 317459062 commented on #56
how can i use websocket in huobipro and zb for 'ob' and trade?
can u take a detail steps?
thx

[2019-04-05 08:18] firepol commented on #56
Hi, as I answered in the other issue you opened in the wrong repository, here a link to my repository, where I tried to create a practical example on how to use lfern's work: https://github.com/firepol/ccxt-websockets-db-updater

You can easily see it in action. Follow the instructions in the readme to get started, then run in example this command:

`python ob_tester.py -e huobipro -s BTC/USDT --d

[2019-04-05 10:41] brandsimon commented on #4891
I asked the same questions in my PR #4942

[2019-04-05 14:23] kroitor commented on #4891
@brandsimon replied there ) thank you!

[2019-04-05 17:49] frosty00 commented on #4938
I think the issue resides in there being two separate endpoints to fetch the currencies and the fees. So if you want to store fees inside the `.currency` property then you either need to make two calls to in `fetchCurrencies`, or you have to reload them into `.currencies` from the old `.currencies` each time it is refreshed.

The issue is that we have bidirectional  propagation right now, from `.m

[2019-04-05 19:24] baotaizhang opened #4945 "creating order issue for bitsane"
- OS: window
- Programming Language version: python 3.6.4
- CCXT 1.18.433:
- Exchange: bitsane
- Method: create_order,create_limit_sell_order

Now  I am using  2 kinds of function for creating order to bitsane, but I received the same error message.
This is my sample code in python
[code]
[code]

[2019-04-05 19:26] kroitor commented on #4945
@baotaizhang is that a new API key? Have you used it before with any other software?

[2019-04-05 19:29] baotaizhang commented on #4945
Yeah, this is new key for me.
And I never used this key with another software.

[2019-04-05 19:35] kroitor commented on #4945
Does this work for you:

[code]

?

[2019-04-05 19:43] baotaizhang commented on #4945
No , this code return this error
a. in case using create_limit_sell_order fucntion

File "t.py", line 27, in <module>
    main()
  File "t.py", line 26, in main
    exchange.create_limit_sell_order('BTC/USD', 0.001, 4900)
  File "C:\Users\baota\AppData\Local\Programs\Python\Python36\lib\site-packages\ccxt\base\exchange.py", line 1549, in create_limit_sell_order
    return self.create_order(symbol,

[2019-04-05 19:56] kroitor commented on #4945
@baotaizhang ok, i've uploaded some fixes for that, can you please update to the most recent version of CCXT 1.18.434 and retry with the same code (keep the `milliseconds` line) – does that resolve the issue?

[2019-04-05 20:00] baotaizhang commented on #4945
I will update the ccxt version. Thanks so much for you.

[2019-04-05 20:00] #4945 closed

[2019-04-05 20:00] #4937 closed

[2019-04-05 20:01] kroitor commented on #4945
@baotaizhang let us know if that doesn't help.

[2019-04-06 08:56] hansen7 opened #4946 "Query Products from BitMEX"
Thanks for developing this module, I am particularly in the BitMEX exchanges due to its products of futures and high fluidity.

However, I do find the API of BitMEX is slightly different from the others.

- OS: MacOS 10.14.4 (18E226)
- Programming Language version: Python 3.7
- CCXT version: .118.433
- Exchange: BitMEX
- Method: fetch_orderbook()

[2019-04-06 10:11] kroitor commented on #4946
@hansen7 hi! Do you have a question or an issue with it?

[2019-04-06 17:11] #3879 closed

[2019-04-06 17:11] kroitor commented on #3879
I've added a more friendly warning about the apiKeys and fetchCurrencies according to your comment, so, if you update to version 1.18.437+, and set `has['fetchCurrencies'] = False`, it will skip loading the currency details and won't ask for authentication.

[2019-04-06 17:19] frosty00 commented on #4946
```ccxt.bitmex().fetch_order_book('BTC/USD')```

[2019-04-06 18:22] #4946 closed

[2019-04-06 18:23] bread9 opened #4947 "New v3 for Bleutrade API"
Api v2 will be discontinued soon. When will v3 be available for Bleutrade exchange?

https://app.swaggerhub.com/apis-docs/bleu/white-label/3.0.0

[2019-04-06 19:01] kroitor commented on #4947
https://github.com/ccxt/ccxt/wiki/FAQ#when-will-you-add-feature-foo-for-exchange-bar--whats-the-estimated-time-when-should-we-expect-this

[2019-04-06 22:05] florent8000 commented on #4936
The issue was really specific to my code, I have a middleware layer that connects to the exchange and the fetch_my_trade function wasn't called via the middleware...

Sorry for wasting your time and thanks a lot for the help!

[2019-04-06 22:26] kroitor commented on #4936
@florent8000 no worries, let us know if you notice anything suspicious! Thx for reporting back, appreciate that!

[2019-04-07 02:31] kroitor commented on #4446
@sgtStrom @hroff-1902 apologies for the delays with my answer on this. Will hopefully get to it and will close this within before the end of next week.

[2019-04-07 03:21] frosty00 commented on #4938
#4948

[2019-04-07 07:55] aviad21 commented on #56
Hi @lfern, there appears to be a bug in Kraken's _transpiled_ python code: Orderbook 'bids' updates are not always handled.

From time to time, Kraken will send an orderbook update that contains both 'asks' and 'bids', in a single message e.g.:
[code]
The relevant _transpiled_ code in ```ccxt\async_support\kraken.py``` seems to handle data only from first item of ```msg```:
[code]
Please let me kn

[2019-04-07 11:49] jaggedsoft commented on #3483
👍

[2019-04-07 13:57] rfortiz opened #4949 "Kucoin api doesn't return recent trades if 'since' is more than a week ago"
When using the argument 'since', trades only up to a week from since are returned. --> If since is more than a week old, recent trades are not returned.

This is documented in their API: https://docs.kucoin.com/#list-fills --> "Data time range". IMO there are at least 3 ways to go around it, but in any case, it would be nice to get some form of warning.

1) Issue a warning/error when 'since' is mo

[2019-04-07 14:17] kroitor commented on #4949
@rfortiz I suggest that we move this discussion here if you don't mind: https://github.com/ccxt/ccxt/issues/4814

[2019-04-07 14:17] #4949 closed

[2019-04-07 17:53] DmitryVil opened #4950 "EXMO: Method load_markets() doesn't work"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: python
- CCXT version: 1.18.437
- Exchange: Exmo
- Method: load_markets(), load_fees()

Method load_markets() don't work for exchange exmo in version 1.18.437.
In previous versions (for example in version 1.18.406)

[2019-04-07 18:22] kroitor commented on #4950
They have two website domains:

- exmo.me
- exmo.com

One of them accessible from one part of the world, the other one from the rest of the world. The problem is that they don't have an API endpoint for fees, and to fetch them we have to load a webpage from their website and parse the fees from there. However, when accessing it from different locations, one of the domains may be inaccessible, so,

[2019-04-07 18:22] #4950 closed

[2019-04-07 19:41] DmitryVil commented on #4950
First advice doesn't work:
![ccxt](https://user-images.githubusercontent.com/35109659/55688828-d8ca7e00-596c-11e9-8802-3ec3d25e566e.PNG)

Second advice: in any case method load_markets() **doesn't work**

[2019-04-07 19:50] kroitor commented on #4950
@DmitryVil can you show the error with the second option here? Please, don't post screenshots, paste text and use markup for readability as described here:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
- https://guides.github.com/features/mastering-markdown/

[2019-04-07 19:52] kroitor commented on #4950
@DmitryVil also, i've just noticed, there's a slight typo in the first option (my bad), should be like so:

1.

[code]

2.

[code]

↑ Can you retry both and paste your results here in text?

[2019-04-07 19:54] DmitryVil commented on #4950
Kroitor,
the main problem is load_markets() method unavailable.

Absentness of load_fees() method is not critical.

[2019-04-07 20:04] kroitor commented on #4950
@DmitryVil you're not understanding the callchain (loadMarkets calls loadFees in this scenario) – the loadMarkets will work if you just follow precisely what i'm telling you )

This error:

↑ was due to a typo. I've posted a corrected version of it with my previous reply. Have you retried it?

[2019-04-07 20:09] DmitryVil commented on #4950
You are right: first advice is workable. But, to be frank, is very unuseful.
This problem raised today after updating ccxt library version

[2019-04-07 20:11] kroitor commented on #4950
Use the second one, basically, same thing.

Actually, the problem is raised by EXMO after blocking their website for different regions of the world. We've been looking into a solution, but they are making it hard to use their system intentionally. Before blocking the fees page, they could provide an API endpoint for it. We will keep looking for a better workaround.

[2019-04-07 20:15] DmitryVil commented on #4950
Kroitor, sorry,
what I just got from anynchronius part of library:

**Mistake in main module: RequestTimeout('exmo GET https://exmo.com/en/docs/fees '), exmo exmo RequestTimeout('exmo GET https://exmo.com/en/docs/fees ')**

[2019-04-07 20:17] DmitryVil commented on #4950
I launch my code with Great Britain IP address

[2019-04-07 20:22] kroitor commented on #4950
@DmitryVil have you tried the second option? What does it say?

[2019-04-07 20:30] DmitryVil commented on #4950
Finally, it launched but with warnings:

**exmo requires to release all resources with an explicit call to the .close() coroutine. If you are creating the exchange instance from within your async coroutine, add exchange.close() to your code into a place when you're done with the exchange and don't need the exchange instance anymore (at the end of your async coroutine).
Unclosed client session
clie

[2019-04-07 20:35] kroitor commented on #4950
This is a completely different thing, related to `async_support` and to resolve this you just need to follow precisely what the message from the error is telling you.

↑ I guess, from this it should be clear what to do. See the async examples on how to work with async sessions properly:

- https://github.com/ccxt/ccxt/blob/master/examples/py/async-basic.py
- https://github.com/ccxt/ccxt/blob/maste

[2019-04-07 20:58] DmitryVil commented on #4950
Kroitor,
To create the exchange instance I use exactly what you suggest as an example in ccxt.
Moreover, I create in the program one after another instances for some exchanges in the loop.
But this message I got only for **exmo** and only after using code you adviced:
exchange = ccxt.exmo ({
    'enableRateLimit': True,
    'options': {
        'useWebapiForFetchingFees': False,
    },
})

[2019-04-07 21:01] kroitor commented on #4950
@DmitryVil can you make a short but complete snippet of 10-20 lines to reproduce the issue? I mean, starting from the `import` clause and up to the point of breaking.

Because if I run this:

[code]

↑ it works on my side, so, obviously, the cause in the other code around. Need to see it, otherwise we will mostly be guessing...

[2019-04-07 21:09] kroitor commented on #4950
@DmitryVil here's an example of a proper program that works with EXMO in async mode correctly and doesn't fail:

[code]

↑ Does it work for you if you save it to a py-file and launch it with your Python3?

[2019-04-07 22:00] DmitryVil commented on #4950
I initiate the instances with code like this:
#####################################################################
    def flrFetching(flr):
        ####### Request of exchange market  ########
        markets = asyncio.get_event_loop().run_until_complete(flr.loadMarkets(reload=True))
        return markets

    flrs = ['bitfinex', 'okex', 'exmo']

    for flrID in flrs:
        flr = getattr(ccx

[2019-04-07 22:03] kroitor commented on #4950
The reason is that you're not working with asyncio instances as described in the warning you're getting and in the examples above ) You don't close the session anywhere in your code.

[2019-04-07 22:13] kroitor commented on #4950
@DmitryVil the proper code could be done in many different ways, depends on the flow of your application and the design of it, for example:

[code]

↑ I'm not saying that this is the way to do it, it is just one of the examples that shows loading markets... See other examples here: https://github.com/ccxt/ccxt/tree/master/examples/py

[2019-04-07 22:20] kroitor commented on #4950
P.S. To format your code here properly, you should surround it with triple backticks (&#096;&#096;&#096;). Do not confuse backticks (&#096;&#096;&#096;) with single quotes (\'\'\'). Add the language after the first three backtics for highlighting.

Example:

&#096;&#096;&#096;Python
import ccxt
your code...
&#096;&#096;&#096;

[2019-04-08 03:05] sgtStrom commented on #4446
@kroitor thanks for your answer!
I found out that timestamp in BitMEX candlesticks data is open, not closed. Which way are you going to resolve the issue? I need to know this to prevent any issues after upgrading ccxt.

[2019-04-08 09:12] DmitryVil commented on #4950
Could you please explain:
after ```await exchange.close()```, may I return as a result of the method an exchange instance to the upper level?
I mean ```return exchange```

[2019-04-08 10:04] kroitor commented on #4950
Yes, however, because it's closed, you can't call the methods on the closed instance from there. So, if you don't want to close it and want to keep it further, you can do this:

- https://github.com/ccxt/ccxt/blob/master/examples/py/async-basic-callchain.py

[code]

[2019-04-08 16:53] DmitryVil commented on #4950
What happens after using await ```exchange.close()```?
Is instance exchange disappearing?

[2019-04-08 17:00] kroitor commented on #4950
Here's the source code of that methods it's less than 5 lines ))

- https://github.com/ccxt/ccxt/blob/master/python/ccxt/async_support/base/exchange.py#L84

No, the exchange class instance continues to exist, but the `.close()` method shuts down the internal asyncio session that is opened automatically upon creating the exchange instance. Having that asyncio session and the corresponding call to t

[2019-04-08 18:34] alexazevedo commented on #4931
hey guys, any news on this?!

[2019-04-08 21:03] DmitryVil opened #4954 "kucoin2: fetchOrder() return zero result of price and cost of a order"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: python
- CCXT version: 1.18.437
- Exchange: kucoin2
- Method: fetchOrder()

fetchOrder() method returns, as a result:
{"id": "5cab45ea054b46124e0761ea", "symbol": "ETH/USDT", "type": "market", "side": "buy", "amoun

[2019-04-08 21:48] BarnumD opened #4955 "Failing to set proper base & quote currencies"
- Docker on windows, Node:11 image as a base.
- NodeJS 11
- CCXT version:1.18.430
- Exchange: bittrex
- Method:loadMarkets

Here's my code.  It just gets the market data from bittrex.  It outputs ZEC/USDT as an example.
[code]
However, the result seems to have the 'base' and the 'quote' all mixed up from what I see in the 'info'.  As you can see in the following output, the info.BaseCurrency is `U

[2019-04-09 05:43] MarcelBeining commented on #4954
This was a market order and for market orders the price and cost always returns zero because you could have filled different prices with your market order. Use fetchMyTrades to find the prices and costs for your executed market order and build the average of it.

[2019-04-09 07:11] MarcelBeining commented on #4880
any news on that?

[2019-04-09 07:21] creslinux commented on #906
@gaardiolor @kroitor
An old thread - but should any others find useful if willing to trust your own proxy IP address I found below to be a simpler method to forgo adding the company CA cert into each  CCXT install.
[code]

[2019-04-09 08:20] DmitryVil commented on #4954
I think you are wrong. Please look at the results of the same method for binance exchange:

{"info": {"symbol": "ETHUSDT", "orderId": 226599064, "clientOrderId": "16bfZiwAlehp8m4ioCyT0W", "price": "0.00000000", "origQty": "0.16667000", "executedQty": "0.16667000", "cummulativeQuoteQty": "29.62559250", "status": "FILLED", "timeInForce": "GTC", "type": "MARKET", "side": "BUY", "stopPrice": "0.000000

[2019-04-09 08:35] xpl commented on #4954
Seems that for Binance we rebuild the price from the reported cost:

https://github.com/ccxt/ccxt/blob/master/js/binance.js#L741

[code]

@frosty00 What do you think, can we do the same for Kucoin? Seems that in the `info` there is a sufficient data to do that:

[code]

[2019-04-09 10:16] kroitor commented on #4955
Hi!

No, this has been answered in the Manual here: https://github.com/ccxt/ccxt/wiki/Manual#consistency-of-base-and-quote-currencies

Most of things are explained there:

- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/wiki/Manual#loading-markets
- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[2019-04-09 10:16] kroitor commented on #4955
Let us know if that doesn't answer the question. Feel free to reopen this or just ask further questions if any. Use the "search in issues" feature to your advantage.

[2019-04-09 10:16] #4955 closed

[2019-04-09 11:17] MarcelBeining opened #4957 "kucoin withdraw raises internal ccxt error"
- Programming Language version: Python 3.6
- CCXT version: 1.18.444
- Exchange: kucoin
- Method: withdraw

Since today I get that error roughly every second attempt:
[code]

[2019-04-09 11:24] kroitor commented on #4957
@MarcelBeining can you please post your verbose request/response?

[2019-04-09 12:31] Kinzowa opened #4958 "Error while fetching Bitz tickers"
- OS: Linux Ubuntu 18.04.2 LTS
- Programming Language version: Python 3.6.4
- CCXT version: 1.18.443
- Exchange: Bitz
- Method: fetch_tickers()

Hello,

I'm facing an error with Bitz where it works just fine with other exchanges:

[code]

What could be the reason?

Thank you,

[2019-04-09 13:17] kroitor commented on #4958
Hi! Without enough information from you it will be hard to help you:

- https://github.com/ccxt/ccxt/wiki/FAQ#im-trying-to-run-the-code-but-its-not-working-how-do-i-fix-it
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

We need to see the error and your verbose request/response as described there ↑

[2019-04-09 13:22] Kinzowa commented on #4958
Hi Igor,

Please find the verbose output :+1:
[code]

[2019-04-09 13:27] #4958 closed, assigned to kroitor

[2019-04-09 14:30] lxj034000 opened #4960 "Increase Number of Closed Order History"
- OS: Windows
- Programming Language version: Python
- CCXT version: Latest
- Exchange: Indodax
- Method: fetchClosedOrders

When I used the following codes, I got only 99 orders:
exchanges.fetchClosedOrders(symbol = 'XRP/BTC')

When I used the following codes, I got only 1000 orders:
exchanges.fetchClosedOrders(symbol = 'XRP/BTC', params = {'count': 9999})

The Indodax user guide says the default

[2019-04-09 14:35] #4960 closed, assigned to kroitor

[2019-04-09 15:16] mostar opened #4961 "PHP Parse error: syntax error, unexpected '*' in ccxt/php/Exchange.php on line 2224"
- OS:
Ubuntu 14.04

- Programming Language version:
php -v

- CCXT version:

Last

Running php fail on:
`PHP Parse error:  syntax error, unexpected '*' in ccxt/php/Exchange.php on line 2224`

For example:
php examples/php/cli.php vaultoro createLimitBuyOrder BTC/GLD 1 100

`PHP Parse error:  syntax error, unexpected '*' in ccxt/php/Exchange.php on line 2224`

Here is the fix in ccxt/php/Exchange.p

[2019-04-09 15:21] #4961 closed, assigned to kroitor

[2019-04-09 15:43] mostar opened #4962 "Vaultoro exchange stop work after ccxt upgrade"
OS:
Ubuntu 14.04

Programming Language version:
php -v

PHP 5.5.9-1ubuntu4.27 (cli) (built: Mar 5 2019 18:56:49)
Copyright (c) 1997-2014 The PHP Group
Zend Engine v2.5.0, Copyright (c) 1998-2014 Zend Technologies
with Zend OPcache v7.0.3, Copyright (c) 1999-2014, by Zend Technologies

CCXT version:
Last

I'm using old version on ccxt 1.11.171. Upgrade ccxt break Vaultoro exchange on:

`ccxt\Exchan

[2019-04-09 15:49] kroitor commented on #4962
Does this work for you:

[code]

[2019-04-09 15:59] #4962 closed

[2019-04-09 15:59] kroitor commented on #4962
Oh, pardon, there was a unification change in Vaultoro GLD, because it conflicts with the GLD token.
The edit was here: https://github.com/ccxt/ccxt/pull/2602

So, GLD is now renamed to `Gold` with vaultoro.

I've uploaded another fix for it, because it currently shows the markets reversed. If you update to version 1.18.448 in 10 minutes – everything should work ok from there. And you will be able

[2019-04-09 16:01] kroitor commented on #3028
Reversed back: https://github.com/ccxt/ccxt/issues/4962

[2019-04-09 17:55] #4954 closed

[2019-04-09 18:09] xpl commented on #4954
@DmitryVil The fix should be already there. Let us know if that doesn't help.

[2019-04-09 20:17] kroitor commented on #4445
Fixed by the author: https://github.com/ccxt/ccxt/pull/4965. Thx @ndubel !

[2019-04-09 20:17] #4445 closed

[2019-04-09 20:19] kroitor commented on #4805
Finally, it works )

[2019-04-09 20:19] #4805 closed

[2019-04-09 20:29] BarnumD commented on #4955
I'm sorry i missed that section of the help when I first looked.  I also have a better understanding of base & quote now.  I did also search for issues but didn't find that one.  I believe you can leave this closed.

[2019-04-09 20:32] kroitor commented on #4955
@BarnumD thx for reporting back, really appreciate that! Let us know if you notice anything suspicious, there's still plenty of inconsistencies to fix. Don't hesitate if anything )

[2019-04-09 20:43] #4957 closed

[2019-04-09 21:03] kroitor commented on #906
@creslinux awesome! Thx so much! I'm sure it will be helpful to others!

[2019-04-09 21:03] kroitor commented on #4880
@MarcelBeining yep, will get to it this week.

[2019-04-09 21:06] DmitryVil commented on #4954
Thank you very much, Vitaliy

[2019-04-09 22:36] kroitor commented on #4931
Sorry for the delay, will get to it asap.

[2019-04-10 01:00] kroitor commented on #2859
Let us know if you still experience this issue, need the code to reproduce it. Closing this for now. Thx!

[2019-04-10 01:00] #2859 closed

[2019-04-10 07:56] MarcelBeining commented on #4957
sorry for late response, but it seems you found the reason :-)

[2019-04-10 10:38] Darkbladecr commented on #1952
I have started working on the Golang implementation of CCXT off of the great work that @rkjdid has done. I have referenced the PR above #4967 . In order to get the basic API methods off the ground as per Exchange.js `this.defineRestApi()` I have needed to extract the exchange's definition into a JSON file (ExchangeInfo). Here is an example of BitMEX:

https://github.com/Darkbladecr/ccxt/blob/go/go

[2019-04-10 12:38] xpl commented on #4825
@npomfret Sorry for not responding for too long. Just curious — did you figure how to solve the issue?

We suggest to use Docker for building/testing/developing CCXT, to avoid the need of installing all the dependencies to your dev machine — which can be really troublesome in some cases.

If you're using OSX it is easy:

1. Install Docker for Mac: https://download.docker.com/mac/stable/Docker.dmg

[2019-04-10 17:25] Darkbladecr commented on #1952
To get more out of the template engine I have converted the config.json API Key to be an object instead of an array (map[string]string). This way the keys reference the API endpoint and the values can be used to feed into the engine for the resulting data type from the API request. Example:

[code]

This fits quite nicely with exchanges that have a swagger.json file where we can automatically crea

[2019-04-10 19:05] kroitor commented on #1952
@Darkbladecr thank you so much for the effort!

Yeah, unfortunately, pre-hardcoding return types will not work with some exchanges, for example, the ones that have a single endpoint for all public requests and a single endpoint for all private requests. In that case the response varies in type depending on a query parameter. So, I would suggest that we try not hardcoding the return types (use the

[2019-04-10 21:31] Darkbladecr commented on #1952
So I originally coded with an abstract `interface{}` type with the hope we could use the (reflect package)[https://blog.golang.org/laws-of-reflection] to bring these return values to some use, but unfortunately it makes the library extremely tedious to use with go, since you can't call the keys of the json object directly. The end user will need to define the structure themself. You will need to t

[2019-04-10 22:32] kroitor commented on #1952
I'll try to explain, but I don't know much about Go (didn't have the time to dive deeper into it yet, i'm originally from cpp and have backgrounds in js, py, php, objc), so, If i'm saying some nonsense in terms of Go, let me know )

Well, you still can access those keys... If the built-in type for JSON objects in Go doesn't allow to access the keys directly, then, we could provide an abstract `ccx

[2019-04-10 22:45] tankakatan commented on #4899
@jackpotcityco first, let me please correct your formulation to prevent a possible confusion. When we talk about exchange orders/trades, we assume that we want to buy or sell an `amount` (that may or may not be `filled`) of base asset (i.e. ETH in your case) at `price` (and for `cost`) of the quote asset (i.e. BTC in your case).

It means that in your example 0.076094524 is the value of BTC that y

[2019-04-11 01:02] dimytr opened #4969 "[Kucoin] AuthenticationError: kucoin Invalid request ip"
- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: 1.18.416
- Exchange: Kucoin
- Method: fetch_total_balance

During a private method call I get an error.
'''HTTPError: 403 Client Error:  for url: https://openapi-v2.kucoin.com/api/v1/accounts?type=trade'''

[2019-04-11 01:05] kroitor commented on #4969
That endpoint requires the "General" permission. Do you have it set on that keypair?

[2019-04-11 01:06] frosty00 commented on #4969
working on my end

[2019-04-11 01:07] kroitor commented on #4969
@frosty00 works on my side in py/js as well...

[2019-04-11 01:08] kroitor commented on #4969
@dimytr Looks like you've tied your apiKey to a wrong IP address...

[2019-04-11 01:17] kroitor commented on #4969
@dimytr let us know if the above does not help... Feel free to reopen this or just ask further questions if any.

[2019-04-11 01:17] #4969 closed

[2019-04-11 03:02] dimytr commented on #4969
Thanks for taking part in the solution of my problem. Strange but everything already works. I changed nothing. All as before.

[2019-04-11 03:04] kroitor commented on #4969
@dimytr it could also be a result of a temporary block, if you're don't stay below request rate limits: https://github.com/ccxt/ccxt/wiki/Manual#rate-limit. Thx for reporting back anyways!

[2019-04-11 04:59] markerdmann opened #4970 "itBit is missing some market pairs"
- OS: ubuntu 18
- Programming Language version: node 10
- CCXT version: 1.18.192
- Exchange: itbit
- Method: symbols()

This is what I'm seeing in ccxt:
[code]

It's missing some market pairs. For example, this API URL fetches ticker data for the ETHUSD market pair:

https://api.itbit.com/v1/markets/ETHUSD/ticker

[2019-04-11 05:03] #4970 closed

[2019-04-11 05:05] kroitor commented on #4970
@markerdmann thx for reporting! They're missing not just the markets, but the entire API endpoint to serve the list of their markets, that's the root of the problem in the first place – when they add new pairs there's no other option to automatically react to that via the API apart from scraping the list of markets from their webpage... I've added the missing ETH pairs, so, if you update to versio

[2019-04-11 05:36] Kinzowa commented on #4958
Hi Igor, I confirm `apiv2.bitz.com` has connection issue from time to time but I've found several API servers for Bitz and some others are responding better :

[code]

[2019-04-11 05:38] kroitor commented on #4958
@Kinzowa we will test those as well, thx so much for the feedback!

[2019-04-11 08:19] Darkbladecr commented on #1952
Thank you for the post @kroitor ! I primarily come from a JS background and do have some experience with python so I completely understand the differences from the strong typed and dynamic languages.

I guess it is best that I show you the [two different ways of accessing objects in go](https://play.golang.org/p/lQJ30hLjnWi). So if the type is defined it can be incorporated at buildtime and allows

[2019-04-11 08:24] furryboffin commented on #3782
does anyone have a fix for this?

[2019-04-11 09:01] furryboffin commented on #3782
I made a simple script to get a know order id.

the verbose messaged returned is
I'm simply calling fetchOrder(id) with a known order id. I'm using Python.

Request: GET https://www.deribit.com/api/v1/private/orderstate {'x-deribit-sig': '5XoCJgbkVDiYL.1554972954071.8Tl2bZa3EzaQLhgeQhExBNH2HmrVYwm2jtg3BDTjiXY=', 'Accept-Encoding': 'gzip, deflate'} None

it looks to me as if the query string is not

[2019-04-11 09:25] rkjdid commented on #1952
@Darkbladecr thanks for your work and for going one step further on this project. I like the approach of mapping endpoint to concrete types and templating code from a meta file. Overall I don't have much more to comment on, once again we stumble uppon the typing difficulties and the question of the source language, all of this being quite daunting from my perspective. I'll be watching the progress

[2019-04-11 13:10] firepol opened #4971 "bitfinex2 'has': 'fetchMyTrades' shold be true"
Hi,

I noticed that the bitfinex2 api (bitfinex v2) has the `has` property of `fetchMyTrades` set to false, but the method is implemented, so it should be true.

Or is the method still incomplete? It looks good from a quick check...

[2019-04-11 13:48] furryboffin commented on #3782
So, I debugged it myself and I found the problem... here is a snapshot of the change I made to the code. The problem was that the sign() method did not handle the case when you have a GET request with a query param on the url.  This may not be completely fantastic, but it works for me.

 def sign(self, path, api='public', method='GET', params={}, headers=None, body=None):
        query = '/' + 'ap

[2019-04-11 13:52] kroitor commented on #3782
@furryboffin thx so much for reporting back! Really appreciate your help! Your PRs and contributions are welcome! https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

[2019-04-11 16:21] iuvbio opened #4972 "Kraken advanced orders"
- OS: Linux
- Programming Language version: Python 3.7.2
- CCXT version: 1.18.456
- Exchange: Kraken
- Method: create_order

I'm trying to create a stoploss limit order, but I get the following error: `ExchangeError: kraken {"error":["EGeneral:Invalid arguments:ordertype"]}`

This is my setup:
[code]

Market and limit orders work fine, just like "normal" `stop-loss` orders. Any idea why this could

[2019-04-11 18:12] markerdmann commented on #4970
@kroitor Thanks for the quick update!

[2019-04-11 18:49] baotaizhang opened #4973 "Getting order history issue for bittrex, bitsane, okex,yobit"
Now i am building a python script for auto trading bot between bittrex, bitsane, okex, yobit by using ccxt.
By the way, I faced the following problems.
I am trying to get order history from yobit, okex, bitsane and bittrex with ccxt.
I have used fetchClosedOrders (), fetchOpenOrders (), and fetch_orders () functions, but I am receiving unsupported  error message.
So I looked at the api documentati

[2019-04-11 19:12] romanbolshakov opened #4974 "Getting canceled orders for Bittrex"
- OS: Ubuntu
- Programming Language version: javascript
- CCXT version: 1.18.345
- Exchange: Bittrex
- Method: fetchOrders

Hello. Please tell me how can I get my canceled orders? I try to do this for Bittrex.
fetchOrders not supported yet. (I'm getting error: "Error: bittrex fetchOrders not supported yet")
fetchOpenOrders and fetchClosedOrders doesnt contain cancled orders.
Any solutions?

Thnx .

[2019-04-11 20:08] kroitor commented on #4973
Yes, just update to the most recent version of CCXT and use the exchange metadata as described in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#exchange-properties

Let us know if that doesn't answer your question.

I'd recommend to read the entire Manual from top to bottom to help save your time. If you have any difficulties, feel free to ask, however, make sure to follow these guidelines

[2019-04-11 20:08] #4973 closed

[2019-04-11 20:25] kroitor commented on #4974
That is by design, and that corresponds to the principles described in this section of the Manual: https://github.com/ccxt/ccxt/wiki/Manual#exchange-properties – not all exchanges have all the methods, but the exchanges have an indication of what is available with their API in the `has` property.

Bittrex doesn't have means for fetching canceled orders. In general, Bittrex does not differentiate c

[2019-04-11 20:26] #4974 closed

[2019-04-11 20:41] kroitor commented on #4971
The documented pagination for v2 doesn't work – it will not react to `start` or `end` endpoint params and will always return the most recent trades (or no trades) without pagination, despite that the params are documented in the v2 docs. Bitfinex says that v2 is unstable. Therefore v2 `fetchMyTrades` has to be `false` until this is fixed in the API. If you think we should still enable it, let us k

[2019-04-11 20:41] #4971 closed

[2019-04-11 20:43] kroitor commented on #4972
Can you please show your verbose request/response? https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[code]

[2019-04-11 20:58] kroitor commented on #4899
@jackpotcityco let us know if you have further questions.

[2019-04-11 20:58] #4899 closed

[2019-04-11 22:40] iuvbio commented on #4972
Thanks for getting back to me kroitor.

Here's the verbose output:
[code]

[2019-04-11 23:24] kroitor commented on #4972
This is very interesting, indeed. It complains about the ordertype despite that it is documented )

However, I think, here's the timeline of the story:

- Aug 2017: https://blog.kraken.com/post/1234/announcement-delisting-pairs-and-temporary-suspension-of-advanced-order-types/

- Feb 2018: https://blog.kraken.com/post/1494/kraken-enables-advanced-orders-and-adds-10-currency-pairs/

So, despite tha

[2019-04-12 08:17] denarioresearch opened #4975 "exmo.me domain is unreachable"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu
- Programming Language version: Node.js v11
- CCXT version: 1.18.459
- Exchange: exmo
- Method: loadMarkets

https://exmo.me/en/docs/fees and https://exmo.me/ctrl/feesAndLimits do not work because exmo.me is unreachable. Can we use https://exmo.com/e

[2019-04-12 08:26] xpl commented on #4975
You can override the domain this way:

[code]

If that doesn't help, you can switch to hard-coded fees (those may be outdated though), that will suppress requests to the `/en/docs/fees` endpoint:

[code]

We had to implement that `useWebapiForFetchingFees` flag because Exmo has recently started to ban programmatic requests to their WWW front-end, so switching domains didn't work. Maybe something h

[2019-04-12 09:08] denarioresearch commented on #4975
thanks, I was not aware of requests ban. Switching to exmo.com did not help, but useWebapiForFetchingFees: false fixed problem. Now I need to check fees/limits accuracy.

[2019-04-12 10:30] xpl commented on #4975
@denarioresearch If you spot any inaccuracies please let us know, we will fix those in the library itself.

[2019-04-12 10:30] #4975 closed

[2019-04-12 11:22] firepol commented on #4971
This answers the question, however a comment in the code would help me (or other people looking at it) understanding the issue, maybe you can add a comment and a link pointing to this issue? Just in case... thx

[2019-04-12 12:01] hems commented on #3761
I'm not user what is the status on this but we have moved to ZeroEx v2 so things are a little different and perhaps a little bit simpler now...

[2019-04-12 12:28] npomfret opened #4977 "issue with gateio min order size."
The mi order size for AT/USDT is...

[code]

When placing a small test order for 1 AE i get this error:

`{"result":"false","message":"Your order size is too small. The minimum is 1 USDT","code":20}`

The `marketinfo` api call shows this:

`{"ae_usdt":{"decimal_places":4,"min_amount":0.0001,"min_amount_a":0.0001,"min_amount_b":1,"fee":0.2,"trade_disabled":0}}`

... looks like `min_amount_b` gives

[2019-04-12 13:40] xpl commented on #4977
@npomfret `min_amount_b` is the minimal order _cost_, which is 1 USDT, which is what their error message tells about (`The minimum is 1 USDT`).

It looks like that we have the correct value in the market info:

[code]

Try placing an order that is 1 USDT in cost, not 1 AE. For example, if the current AE/USDT price is $0.5, then it should be at least 2 AE (2*0.5 = 1).

[2019-04-12 13:52] kroitor commented on #4975
Here's a similar dupe issue: https://github.com/ccxt/ccxt/issues/4950

@xpl

Just in case they change their fees... But that doesn't make too much sense, probably.

[2019-04-12 13:56] kroitor commented on #4977
Yeah, exchanges often call the total cost you *"order size"*. So this is a warning about min cost. We should handle this as described in the Manual here: https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

@npomfret let us know if that doesn't help.

[2019-04-12 13:56] #4977 closed

[2019-04-12 14:04] smallio opened #4979 "Bitmex fetch ticker not working / noob question / js"
Language - JS

Hi guys,

Quite new to this so sorry for the nooby question!

I simply want to fetch prices of things & console log them out for a little bit of practice. Not sure what to put in params or if I even need to but I'm getting these errors:

<img width="493" alt="Screen Shot 2019-04-12 at 15 04 12" src="https://user-images.githubusercontent.com/32819971/56043010-42170c00-5d34-11e9-8187-

[2019-04-12 14:17] kroitor commented on #4979
Hi!

First, a question to you: are you trying to launch it in a browser or in Node.js ?

If this is your JavaScript code that you want to run in a browser, then, i'm afraid, it won't work with BitMEX and this is a BitMEX-specific issue. They do not allow proxied CORS requests via public proxies.

If you're working from a browser, then you could try any other exchange instead of BitMEX to check if

[2019-04-12 14:22] smallio commented on #4979
@kroitor Wow thank you for the lightning fast response.

Thank you so much for the help. Yup running in the browser, I thought this might be able to get around the pesky bitmex UI but I guess I have to go the node.js route!

Do you know of or have included in the documentation any working examples of node.js with ccxt? It would be cool to see some working examples before I delve in the deep end!

[2019-04-12 14:26] kroitor commented on #4979
Sure, just check this out:

- https://github.com/ccxt/ccxt/wiki/
- https://github.com/ccxt/ccxt/tree/master/examples

Here's your code that will work in Node.js:

[code]

↑ Same as the browser, but without having to define the proxy... If you want more on Node.js in general, get started here: https://nodejs.org/es/docs/guides/getting-started-guide/

[2019-04-12 14:33] smallio commented on #4979
@kroitor Fabulous. You are one helpful person, that's for sure!

I've been reading through the wiki & finding it very helpful.

So last question running my own CORS proxy I can do with just  a webpack/npm setup & then the server will technically be through node.js I can still use it in the browser?

Planning on making this a long project to understand crypto APIs & eventually use. I'm a huge bitme

[2019-04-12 14:42] kroitor commented on #4979
Yep, exactly! This is how it is expected to work - your browser requests will go through your local node.js. There may still be bugs with some exchange-specifics, but now you know how to check against that – just try a different exchange name to see if it makes a difference.

Developers will only want to send exchange-requests from the browser if they don't have an option to run a full-scale Node.

[2019-04-12 14:46] smallio commented on #4979
@kroitor

Thank you endlessly for the kind & detailed responses. This is why the coding community is so incredible. Can't wait to get good with ccxt & for what it's worth (from a noob) the code is awesome & clean.

I'll give all of that a shot & read the whole manual, although I may be back once or twice to ask a question or two. ;)

Have a great weekend man!

[2019-04-12 14:54] kroitor commented on #4979
Feel free to ask if anything, however, if you want a precise and quick answer, i suggest that you don't post screenshots of text in the future ) It's hard to work with text on images, can't copy it and it doesn't get indexed by search engines, so other people won't find this issue if they search for a similar thing.

So, when asking a question, make sure to follow these guides as precisely as you

[2019-04-12 15:16] scottie opened #4980 "Deribit authorization_required no createOrder"
Hi guys,

I get "authorization_required" on only
`deribit.createOrder.`
deribit.create_limit_sell_order works fine.

Thoughts?
I have tried no resolve and just calling createOrder, etc, still same issue.
![image](https://user-images.githubusercontent.com/94546/56047895-c2b42780-5d89-11e9-8d65-bc1eeb8f12e6.png)

[2019-04-12 15:20] kroitor commented on #4980
Hi! Good to hear from you! )

Unfortunately, since they have changed their API, it's currently broken:

- https://github.com/ccxt/ccxt/issues/4833
- https://github.com/ccxt/ccxt/issues/4898
- https://github.com/ccxt/ccxt/issues/3782

We will do our best to fix it as soon as we can. Let us know if that doesn't answer the question. Your help and contributions are welcome: https://github.com/ccxt/ccx

[2019-04-12 15:20] #4980 closed

[2019-04-12 16:57] npomfret commented on #4977
I thought in limits the `cost.min` was simply the minimum order size expressed in the quote currency, and the `amount.min` was the same but in the base currency.

Am I right in thinking that it's not as simple as this and we are required to do per-exchange logic to figure out what a min order size is?  Some exchanges may express the min always in base, or always in quote, some may specify it based

[2019-04-12 16:59] kroitor commented on #4977
This is how it's meant to work. So, the above is correct.

No, the min limits should reflect the truth, if the exchange in question provides them via API. So, it should be that simple – `cost.min` is the minimum order cost in quote currency.

[2019-04-12 17:01] npomfret opened #4981 "gateio and okex both have symbol AE (AE/USDT), but for different things"
Looks like OKEx is referring to the ERC20 token and gateio is referring the the mainnet currency.

https://coinmarketcap.com/currencies/aeternity/

Perhaps we should rename the symbol on OKEx to AET?

[2019-04-12 17:10] kroitor commented on #4981
References:

- https://support.okex.com/hc/en-us/articles/360025353231-Aeternity-AE-Mainnet-Swap-Depositing-and-Withdrawal-Suspension

<img width="1194" alt="Screen Shot 2019-04-12 at 20 08 53" src="https://user-images.githubusercontent.com/1294454/56054207-de560880-5d5e-11e9-99e5-b12d85b5ae1c.png">

Thx for reporting!

[2019-04-12 17:11] smallio commented on #4979
@kroitor Awesome I'll treat that like a bible 👍

One more question to get me started, if that's ok? What's the best way to display what the ticker has fetched to the html updating constantly?

I was thinking something like this, but no cigar as of yet:

[code]
Any idea why that does not work?

[2019-04-12 17:11] kroitor commented on #4981
@npomfret can you plz provide your sources or links for this:

?

[2019-04-12 17:13] #4981 closed

[2019-04-12 17:15] npomfret commented on #4981
Because it says "token deposit" on their site.  And when I tried moving some AE from gateio to okex I got the error message "Please use AE mainnet address but not ERC20".

Additionally, the price is about 6% different, so it makes sense that they aren't the same thing.

[2019-04-12 17:17] npomfret commented on #4977
Do you mean `limits.amount.min` and `limits.cost.min`?...

[code]

[2019-04-12 17:33] npomfret commented on #4977
Sorry if I'm being stupid, but I can't quite get this correct.  I tried placing a small sell order (for 1 AE/USDT) on gateio (and got the same error _Your order size is too small. The minimum is 1 USDT_).  Now the min order `amount` is 0.0001, so my 1AE should be well over this limit.

It looks to me like the cost is the only limit that  I should be taking into account on this exchange.

Perhaps w

[2019-04-12 17:37] kroitor commented on #4977
This is not a complete picture ) You should always account for **ALL** limits with **ANY** exchange. So you should make sure that both all values are within limits: amount is within limits.min.amount and cost within limits.min.cost.

That's right. Always account for all limits.

That's correct and you also have to account for limits.min.price as well! And that is all documented in the Manual here:

[2019-04-12 17:49] kroitor commented on #4981
@npomfret thx again! Appreciate your help!

[2019-04-12 18:11] npomfret commented on #4977
Yes, thank you again.

[2019-04-12 19:41] iuvbio commented on #4972
Damn, seems like you're right. I was only going off the Kraken docs, assuming they were correct..

Will do that..

[2019-04-12 21:05] kroitor commented on #4972
@iuvbio ok, i'd close this for now, if you don't mind, feel free to reopen it if needed, or just ask further questions if any. We'll be happy if you followup with your findings here )

[2019-04-12 21:05] #4972 closed

[2019-04-12 22:17] #4979 closed

[2019-04-12 22:18] kroitor commented on #4979
Depends which environment you're using...

If it's a web browser, then see this example:

- https://github.com/ccxt/ccxt/blob/master/examples/html/basic-poller.html

If it is Node.js, then see *"polling"* examples here:

- https://github.com/ccxt/ccxt/blob/master/examples/js

If it's a React environment in a browser, then see this example:

- https://codesandbox.io/s/zknjq18w13

Hope that answer t

[2019-04-13 05:24] boppleton commented on #4979
@smallio for a local CORS proxy you can have this saved to a file in your project:

`let port = (process.argv.length > 2) ? parseInt (process.argv[2]) : 8080; // default`
`require ('cors-anywhere').createServer ().listen (port, 'localhost')`

run with `node cors.js` and then your proxy is `http://localhost:8080/`

[2019-04-14 03:07] babjak opened #4982 "timestamp issue on 32 bit systems"
- OS: Linux Debian 4.9.0-8-686-pae #1 SMP Debian 4.9.144-3.1 (2019-02-19) i686 GNU/Linux
- Programming Language version: Python 2.7.13
- CCXT version: 1.18.466
- Exchange: NA
- Method: iso8601

On 32 bit systems the timestamp in milliseconds is NOT an int but a long, so I propose the following modification in base/exchange.py line 835. Instead of:
[code]

The code should read:
[code]

I've not loo

[2019-04-14 03:09] kroitor commented on #4982
Your contributions are welcome! https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

[2019-04-14 08:58] dmitriano opened #4983 "Russian ruble can be both 'RUB' and 'rur' on Yobit."
- OS: ubuntu 16.04
- Programming Language version: nodejs v8.12.0
- CCXT version: ccxt@1.18.395
- Exchange: yobit
- Method: exchange.markets

exchange.markets contains this:

BTC/RUB  ->  btc / rur

where BTC/RUB is the key, 'btc' is exchange.markets['BTC/RUB'].baseId and 'rur' is exchange.markets['BTC/RUB'].quoteId.

Is this a normal behaviour?

Why the key is 'RUB' but quoteId is 'rur'?

[2019-04-14 09:02] kroitor commented on #4983
Yes:

- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

Because of symbol unification as explained in the Manual.

Let us know if that doesn't answer the question.

[2019-04-14 09:02] #4983 closed

[2019-04-14 22:14] #4982 closed

[2019-04-15 08:23] npomfret commented on #4981
The other thing is that on gateio the wallet has the currency name instead of the symbol and it says _AE Aeternity_ (and doesn't mention token).  I'm 100% sure these assists aren't fungible.  I believe one must be the currency and the other the token.

[2019-04-15 13:56] enriquepiatti opened #4986 "Download JS browser CCXT with only selected exchanges"
This is more a feature request than an issue.
Is possible to download CCXT for JS browser with only some selected exchanges? not the full list which is huge and maybe we need only two or three?

[2019-04-15 16:17] frosty00 commented on #4986
If you've ever downloaded an image or watched a video online then you probably have enough bandwidth / space on your computer.

https://arve0.github.io/npm-download-size/#ccxt

[2019-04-15 21:11] alexeymarunin opened #4987 "[Binance] wapiGetSystemStatus does not require credentials"
- OS: macOS 10.14.1
- Programming Language version: Node.js
- CCXT version: 1.18.468
- Exchange: Binance
- Method: wapiGetSystemStatus

When I try make [system status request](https://github.com/binance-exchange/binance-official-api-docs/blob/master/wapi-api.md#system-status-system) I got error:
[code]

But it does not require apiKey/secret - you can test that https://api.binance.com/wapi/v3/syste

[2019-04-15 23:44] CooleRnax opened #4989 "Bitfinex BCH BAB fetch_balance bug"
- OS: Windows
- Programming Language version: Python
- CCXT version: 1.18.468
- Exchange: bitfinex
- Method: fetch_balance

I have some balance in BAB in trading account, ccxt shows zero BCH balance

[code]

[2019-04-16 00:26] #4987 closed

[2019-04-16 00:31] kroitor commented on #4986
Hi @enriquepiatti !

We don't serve custom builds yet, but you can make your own custom build with just the exchanges you need:

- https://github.com/ccxt/ccxt/blob/master/exchanges.cfg
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#what-you-need-to-have

We will create an online configuration tool for that same purpose as soon as we can.

[2019-04-16 00:45] Gennttii commented on #3549
Will wss be supported soon? Cause I am getting banned by binance .. Hope you will add it soon, it will be great !

[2019-04-16 01:27] #4989 closed

[2019-04-16 01:41] kroitor commented on #3549
https://github.com/ccxt/ccxt/wiki/FAQ#when-will-you-add-feature-foo-for-exchange-bar--whats-the-estimated-time-when-should-we-expect-this

If you're getting bans with Binance, it means that you're not respecting their rate limits... you're probably trying to poll `fetchTickers`, which has known issues with Binance, as described here:

- https://github.com/ccxt/ccxt/issues/3120
- https://github.com

[2019-04-16 10:07] kroitor commented on #4981
@npomfret

Pardon, can you plz elaborate on this? Did I miss something? Not sure that I completely got this one.

[2019-04-16 10:47] npomfret opened #4990 "request to rename fetch2 method"
I was digging around in the ccxt internals looks for a way to intercept all exchange requests.  I found what I think is the best point (for my requirements) and that is the `fetch2` method.  It seems to me that this guy is super important.  Could we perhaps rename it to something like `signAndSendRequest`?

[2019-04-16 10:49] kroitor commented on #4990
Yep! It was created upon detaching the signing from sending, but at that time we didn't come up with any more meaningful name for it, so it was always more like a temporary name meant to be changed later for a better one.

[2019-04-16 12:38] npomfret commented on #4981
I believe Aeternity had a token before their mainnet launch.  The token is trading on okex and the main currency is traded on gateio.  I think!

I don't believe that the token and the currency are interchangeable.  When I tried to move my AE from gateio to okex I got ab error message saying _Please use AE mainnet address but not ERC20_

So I believe the okex AE markets are actually the token (whic

[2019-04-16 12:41] kroitor commented on #4981
Ok, so, just to confirm, from your words it follows that the existing mapping in the main branch is correct, right?

[2019-04-16 18:29] azharuniverse opened #4991 "Precision error in coinbasepro"
Order Description:
LIMIT BUY, VOLUME=41.68273866, PRICE=0.00006222,
ERROR =

Order gets successfully placed if I use only VOLUME=41
This issue is present with other pairs also.

Coinbasepro product description API returns this

[code]

`And markets[XRP/BTC].precision.volume = 8 `

But placing an order with that precision causes error

- OS: WINDOWS 10
- Programming Language version: JS
- CCXT vers

[2019-04-17 08:36] npomfret opened #4994 "request: make nonce method async"
Hi

I'm in the process of putting a distributed ccxt instance in the cloud.  The problem I'm running into is that I'm getting invalid nonce errors (presumably because I'm reusing them in 2 quick successive api calls).

I want to replace the `nonce` call with one of my own (to a centralised nonce service that won't dish out duplicates).  But in order to do this the nonce method needs to be async.

[2019-04-17 08:49] kroitor commented on #4994
Hi!

In general, yes, however...

... in order to do that right, we will have to make `sign` async as well, so it may be a little more involved.

I suggest that we move this discussion here: https://github.com/ccxt/ccxt/issues/3315 if you don't mind. Closing this for now as a duplicate, looking forward to proceeding in #3315.

[2019-04-17 08:49] #4994 closed

[2019-04-17 08:52] npomfret commented on #4994
Thanks, I've figure out a way to do it without the change but it would be cleaner.

[2019-04-17 08:55] kroitor commented on #4994
@npomfret we don't want a change to break the old code, so let's think on how to make it backward-compatible, shouldn't be a problem, really.

[2019-04-17 09:39] npomfret commented on #3315
I'm attempting the same thing.  I've managed to do it by replacing the `fetch2` method with one of my own inside of which it replaces the call to `sign` with once that makes an asnc call to my server.  The server handles the nonce de-duplication issue and returns a signed request.

It works, but in reality I have a distributed system and sometimes it looks like the signed requests hit the exchange

[2019-04-17 09:48] kroitor commented on #3315
In general, a centralized server will help resolve many nonce conflicts, but not all of them, so you will have to add a retry-logic to make the system redundant. As you properly noted, a centralized nonce doesn't protect you from the very nature of the underlying REST-over-HTTP communication – it will still be out of order occasionally. The only way to overcome this entirely is to have just one "t

[2019-04-17 10:05] npomfret opened #4995 "DSX does not throw InvalidNonce when it should"
Instead I see an `ExchangeError` with `{"success":0,"error":"Parameter: nonce is invalid"}`

[2019-04-17 10:43] azharuniverse commented on #4991
Above commit(https://github.com/ccxt/ccxt/commit/54a8c6f301d7879623da1a7565a6622f30ac8dc3) is certainly not a solution of this problem.

I was already using both the precisionFunctions before placing the order.

and even after using amountToPrecision() it doesn't solve the issue.

I just took this latest pull and verified that its still not working.

[2019-04-17 10:50] kroitor commented on #4991
@azharuniverse can you please post your verbose request/response for the order in question?

[2019-04-17 11:02] kroitor commented on #4991
@azharuniverse nevermind, I've reproduced it:

[code]

[2019-04-17 11:10] kroitor commented on #4991
@azharuniverse

https://docs.pro.coinbase.com/#products

↑ Nothing about `base_increment` here, so we can't guess the amount precision before actually getting the error message from them. What would you suggest to resolve this?

To be clear from their docs it follows that `base_min_size` has nothing to do with precision, but it is about min limit on the volume of the order, so, it won't work if de

[2019-04-17 11:12] kroitor commented on #4995
This exchange doesn't have a properly implemented `handleErrors` with `exact` and `strict` matching, it is considered broken since they changed their API to v2. Let me know if you're willing to fix it.

[2019-04-17 12:15] azharuniverse commented on #4991
I can't see any accurate solution to this. Its third iteration of coinbase after gdax. they should have done better job.

For now I think I will go forward with `base_min_size` precision. I will lose a small amount in each trade like < $0.2 (evaluated from several tests on random coins. not all cases) .
But at least orders will go through successfully.

[2019-04-17 13:00] sumiti commented on #320
Hello everyone,
I am facing an issue while calling the withdraw API for Binance.
Here is my request:
https://www.binance.com/wapi/v3/withdraw.html?asset=BTC&address=bc1qm0rc9dvm63v8d2ehayzcem7th82z8je0qe66km&amount=1&recvWindow=5000&name=addressName&timestamp=1510903211000&signature=CqTEOjSQS6GCqXzGXypP54Onb9ayic0OvE1DdZGEBlfzUAPea3jb4UAizmSxxZQz'

The result response is:
{
    "msg": "You don't h

[2019-04-17 13:03] kroitor commented on #320
@sumiti can you show your CCXT code to reproduce it or your verbose request/response? If it says that you don't have a permission, then it means that your `apiKey` doesn't have the necessary withdrawal permission enabled.

[2019-04-17 13:04] kroitor commented on #4991
@azharuniverse ok, at this point i don't see a reasonable solution either, so, closing this for now, let us know if anything, feel free to reopen it if needed.

[2019-04-17 13:04] #4991 closed

[2019-04-17 13:17] sumiti commented on #320
@kroitor I got your point the setting is not enabled.
Thanks!!

[2019-04-17 13:38] npomfret commented on #4981
No, the main branch has (what I think) the correct mapping commented out in okex:

            'commonCurrencies': {
                // 'AE': 'AET', // https://github.com/ccxt/ccxt/issues/4981

[2019-04-17 13:40] npomfret commented on #4995
Ok, I will take a look.

[2019-04-17 13:49] kroitor commented on #4995
@npomfret thx! see `liqui` or `bitfinex` for reference.

[2019-04-17 14:30] azharuniverse commented on #4991
Since its not possible to use coinbasepro without fixing this so I am pasting a dirty hack if someone wish to go ahead anyhow.

[code]

Here userExchange is the context of ccxt
`let userExchange = new ccxt[context.id](ccxtOptions);`

Use it like this before placing an order
`formatedOrderParams = adjustVolumePrecision(userExchange, orderParams)`

**Warning:** This function truncates precision whic

[2019-04-17 17:02] azharuniverse opened #4996 "Hitbtc order history issue"
Request:
[code]

Response :
[code]

- OS: Windows 10
- Programming Language version: JS
- CCXT version:  "^1.18.472"
- Exchange: HITBTC
- Method: fetchClosedOrders()

[2019-04-17 17:09] kroitor commented on #4996
↑ Looks like it's the crippled exchange response that is a problem in this case, so, I suggest to switch to `hitbtc2`, because their v1 API is deprecated and we will drop it shortly. Let us know if that doesn't help.

[2019-04-18 08:07] MarcelBeining opened #4998 "Implement switcheo exchange?"
Any plans to implement switcheo?
They trade eth and neo tokens using smart contracts and have API and websocket

https://docs.switcheo.network

[2019-04-18 09:21] kroitor commented on #4998
Duplicate: https://github.com/ccxt/ccxt/pull/4822

[2019-04-18 09:21] #4998 closed

[2019-04-18 11:00] sumiti commented on #320
Hi,
I added my system ip and have provided the withdrawal permissions on my API key also.
Even though If I am hitting the withdrawal API it is giving me "Invalid IP address" error.
Please help!

[2019-04-18 11:09] kroitor commented on #320
@sumiti

If it says "Invalid IP Address", then you should make sure that your address entered in the apiKey settings on Binance website is correct. Google for `what is my ip address` to find it.

[2019-04-18 11:23] npomfret opened #4999 "poloniex fetchMyTrades id – globalTradeID vs tradeID"
https://docs.poloniex.com/#returntradehistory-private

Looks like poloniex trades inexplicably have 2 ids:

ccxt uses `tradeID`.  I'm wondering what the reason was to choose this one over the globally unique one.

[2019-04-18 11:26] kroitor commented on #4999
The `globalTradeID` was missing in the old docs when it was implemented initially. We can most likely switch to `globalTradeID`, if we are sure that it works seamlessly across pairs and different timeranges. If you could help investigate that – we'll be very thankful.

[2019-04-18 11:45] #4898 closed

[2019-04-18 11:47] tankakatan commented on #4898
@aibric1407 Please confirm that the problem is fixed now. If it is not, please let me know.

[2019-04-18 12:10] Darkbladecr commented on #1952
So the Go PR #4967 has come to a maturity where it has implemented all the BitMEX Public/Private methods and I have started to see how we can utilize the templates I have built for other languages.

I have started work on a TS implementation #5000 that has all the BitMEX Public/Private methods implemented as well. The exchange is fully built from the same template files.

I would like to discuss t

[2019-04-18 13:29] Gennttii commented on #2851
Hi guys,

I am trying to trade USDT/USD OR UST/USD

With nodejs, in windows it works with USDT/USD and gives error if I use UST:
`bitfinex does not have market symbol UST/USD`

But in my raspberry, Debian OS it says:
`bitfinex does not have market symbol USDT/USD` , but it works with UST/USD

I was confused about this, maybe you can fix this, to make same in Windows and Linux...

[2019-04-18 13:40] Gennttii commented on #2851
Hi guys,

I am trying to trade USDT/USD OR UST/USD

With nodejs, in windows it works with USDT/USD and gives error if I use UST:
bitfinex does not have market symbol UST/USD

But in my raspberry, Debian OS it says:
bitfinex does not have market symbol USDT/USD , but it works with UST/USD

I was confused about this, I didn't have the same version, but now I have same version of nodejs in both devic

[2019-04-18 14:01] Gennttii commented on #2851
Hi guys,

I am trying to trade USDT/USD OR UST/USD

With nodejs, in windows it works with USDT/USD and gives error if I use UST:
`bitfinex does not have market symbol UST/USD`

But in my raspberry, Debian OS it says:
`bitfinex does not have market symbol USDT/USD`
 but it works with UST/USD

I was confused about this, I didn't have the same version, but now I have same version of nodejs in both de

[2019-04-18 14:11] kroitor commented on #2851
1. Make sure your version is up to date (1.18.473+) with the system you're testing with.
2. Use the proper `USDT/USD` symbol.

[code]
[code]

[2019-04-18 15:07] Gennttii commented on #2851
I have latest version, and ratelimit
1.18.475
2019-04-18T14:57:50.976Z ExchangeError bitfinex does not have market symbol USDT/USD

I am using the symbol like this :
let symbol = 'USDT/USD' ;
let ticker = await bitfinex.fetchTicker ( symbol )

So I have same code in Windows 10 and Raspberry, but as I said, in Windows works with USDT/USD and in Raspberry works with UST/USD. All same code, all same

[2019-04-18 15:08] kroitor commented on #2851
@Gennttii can you show your verbose request/response sequence from the Raspberry system?

[2019-04-18 15:10] alinaKava commented on #4365
@kroitor what's the status of issue?

[2019-04-18 15:13] kroitor commented on #4365
@alinaKava it's still open, will get to it asap.

[2019-04-18 15:21] Gennttii commented on #2851
Its working now man, sorry for bothering you, I didn't reload pm2 last time I changed the code  ..! Its working in both with USDT ..

[2019-04-18 15:28] kroitor commented on #2851
@Gennttii glad to know you've nailed it, thx for reporting back.

[2019-04-18 15:45] npomfret opened #5001 "poloniex fetchOpenOrder fails"
Calling `exchange.fetchOpenOrder(trade.order)` results in:

[code]

[2019-04-18 15:47] npomfret commented on #4999
There's no way to _interact_ with the exchange using the trade id as far as I can see.  So I don't see any reason that switching could cause a problem.

As a use of ccxt, having a unique trade id (within an exchange) is very useful.

[2019-04-18 15:49] #5001 closed

[2019-04-18 15:51] kroitor commented on #4999
@npomfret the only thing is that we might break the old history, if we just substitute one for another, so, maybe, we should make this an option, defaulting to the old behaviour? Lmk what you think.

[2019-04-18 16:07] npomfret commented on #5001
@kroitor not sure what's going on here.  I've updated and got the new code with _returnOrderStatus_ added to the list of API calls, but I'm still getting the same error.  I've looked at my node_modules dir and the poloniex file looks correct with the new endpoint in the private list.

[2019-04-18 16:29] npomfret opened #5002 "poloniex deposits and withdrawals missing id field"
Suggest using the `info.withdrawalNumber` or `info.depositNumber` fields for the id.

[2019-04-18 16:41] npomfret commented on #5002
https://github.com/ccxt/ccxt/pull/5003

Withdrawal id was already done.  Have fixed deposit id.

[2019-04-18 17:01] npomfret commented on #4999
Personally I wouldn't bother.  Or if you did then the default would be the new way.

I appreciate this is _kind of_ a breaking change, and if people have their own records of exchange ids they might see double the number of trades.

However, I always think with APIs that the number of people affected in the future will be great than the number of people affected in the past.  What I mean by that i

[2019-04-18 17:04] kroitor commented on #4999
Yep, we have `announcements` for that.

[2019-04-18 17:05] #5002 closed

[2019-04-18 17:05] #4996 closed

[2019-04-19 05:58] Jens1989 commented on #3604
Programming Language version: Python 3.6.4
CCXT version: 1.18.437
Exchange: Binance
Method: create_order

I keep on having the same error, whichever amount I'm using.
according to https://support.binance.com/hc/en-us/articles/115000594711-Trading-Rule
the minimum lotsize should be 0.001 so I'm not sure why I keep on getting the error.
Hopefully I'm posting this here correctly as I'm all quite new

[2019-04-19 06:03] kroitor commented on #3604
@Jens1989 hi! You should respect their precision and limits, as described here:

https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

[code]

[2019-04-19 07:40] Sach97 commented on #1952
Hi @Darkbladecr thank's for your contribution, I've already started [some dart types](https://github.com/Sach97/ccxt.dart/blob/master/lib/src/ccxt_base.dart), and I have some experience with golang, I'll contribute and give some feedback as soon I found some time to read your code.

[2019-04-19 07:59] kroitor commented on #4999
This has been changed in 1.18.490 – CCXT will now default to `globalTradeID`.

[2019-04-19 09:26] Darkbladecr commented on #1952
@Sach97 thank you, I can see you have done a lot of work on the dart types. The current way types are defined in my PR are through the `template/text` package:

[code]

`codeLang` is a custom validator that keeps the code if it matches the language enum. (0 = go, 1 = TS)
`typeInit` creates a struct (go) or interface (TS) based on the given string name.
`typeMethod` takes two strings and creates a

[2019-04-19 12:31] Pmant opened #5005 "loadTradingLimits() results lost after loadMarkets(true)"
- OS: Windows/Linux
- Programming Language version: node.js 10
- CCXT version: latest
- Exchange: all / huobipro
- Method: loadTradingLimits

After using loadMarkets(true) all trading limits that were fetched by loadTradingLimits() are lost until you call loadTradingLimits(symbols, **true**) to force update them again. I think it would be better to cache the results of loadTradingLimits() after fi

[2019-04-19 13:08] kroitor commented on #5005
Totally agree with you! I'm working on the architecture for loaded and hardcoded fees, limits and all that, need to resolve a few differences across exchanges, hope to come with a proposal on this soon.

[2019-04-19 16:36] lampardlb opened #5007 "Bitttrex API v3 beta is out"
https://bittrex.zendesk.com/hc/en-us/articles/360027160871-Changelist-04-19-2019

https://bittrex.github.io/api/v3

[2019-04-19 18:07] joshuaeitan opened #5008 "OKex market not found"
- OS: AWS Linux
- Programming Language version: Python 3.7.1
- CCXT version: whatever pip installs by default
- Exchange: OKex
- Method: Ticker/Orderbook

When I attempt to load the AE/ETH or AE/BTC ticker or orderbook from OKex through CCXT on my AWS instance I get the error message that the market does not exist. However, when I load the ticker manually using requests on the AWS instance, or usi

[2019-04-19 18:08] kroitor commented on #5008
@joshuaeitan just use `AET`, see this issue by @npomfret : https://github.com/ccxt/ccxt/issues/4981

[2019-04-19 18:09] #5008 closed

[2019-04-19 18:13] joshuaeitan commented on #5008
Oh ok, thanks for the quick reply. Appreciate all of your hard work!

[2019-04-19 20:24] guiscaranse commented on #4931
After talking with NegocieCoins about their API, they told me that the trading endpoints are not working at the moment, so that is the reason why I was getting so many errors in CCXT. It is not a CCXT problem so this issue should be closed.

[2019-04-19 20:24] #4931 closed

[2019-04-19 20:57] kroitor commented on #4931
@guiscaranse thx for reporting back, really appreciate it!

[2019-04-20 10:02] npomfret commented on #5008
@joshuaeitan we spotted a symbol mapping error, the token and the mainnet currency were both using AE so we changed okex to AET

[2019-04-20 10:07] #4887 closed

[2019-04-20 13:25] franz-see opened #5009 "Bitso: fetchOrder works but has.fetchOrder is set to false"
- OS: macOS mojave OSX 10.14.4
- Programming Language version: node v10.15.1
- CCXT version: 1.18.481
- Exchange: bitso
- Method: fetchOrder

**Issue**
`bitos.has.fetchOrder` is set to `false` but it actually works as long as you provide both orderId and symbol. _Note: providing just the orderId fails._

**Test script**

_Note: I set the environment variables `BITSO_APIKEY` and `BITSO_SECRET` to m

[2019-04-20 13:27] franz-see commented on #5009
PR : https://github.com/ccxt/ccxt/pull/5010

[2019-04-20 13:48] kroitor commented on #5009
We currently don't run private tests on Travis CI, because we do them locally, that is until we resolve the apikey storage/encryption issues on our side. In the meantime, you can check out the ad-hoc tests here:

- https://github.com/ccxt/ccxt/tree/master/js/test
- https://github.com/ccxt/ccxt/tree/master/python/test
- https://github.com/ccxt/ccxt/tree/master/php/test

↑ Some of those are transpil

[2019-04-20 14:39] Jens1989 commented on #3604
thanks a lot for your quick reply.

I've now tried

amount = 0.00100000

but I'm still getting the same errors. I tried a couple different amounts but it's always the same error.

I must be missing something

[2019-04-20 14:41] kroitor commented on #3604
@Jens1989 the minimal amount for XRP/BTC pair is 1 XMR, and you can't buy or sell 0.001 XMR – that's below minimum. You can only buy or sell amounts of 1 or larger.

[2019-04-20 14:42] #5009 closed

[2019-04-20 14:57] Jens1989 commented on #3604
yes, I was trying that too. I tried 1.00000000 or 1 but that still gives me the same error

[2019-04-20 15:06] kroitor commented on #3604
↑ this is a very different error from this ↓

The `MIN_NOTIONAL` says that your order cost is below minimum.
The `Invalid quantity` says that your order amount is below minumum.

So, you have now passed the minimum amount test. However, there's more to it. You have to respect the minimum cost as well. So, you have to read the Manual very carefully to understand the rules:

- https://github.com/ccx

[2019-04-20 17:12] ekfn opened #5011 "CEX cancelOrder"
- OS: `ubuntu 16`
- Programming Language version: `node v11.6.0`
- CCXT version: `1.18.482`
- Exchange: `cex`
- Method: `cancelOrder`

[code]

[2019-04-20 17:48] kroitor commented on #5011
@ekfn can you please post your verbose request/response? https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2019-04-20 18:42] 47898077 opened #5012 "How can I get the information about the swap contract(perpetual contract)"
OS: Ubuntu 18.10
Programming Language version: Python 3.7
CCXT version: Last
Exchange: Okex
Method: private_post_positions() and filter_by(positions, 'symbol', currency)
Could you please tell me how  I can get the information about the swap contract(perpetual contract) with ccxt?
In addition，is it possible to further optimize the symbol format？
Because every time I get information about futures wi

[2019-04-20 19:56] tezeug opened #5013 "Fetch orderID"
OS Kubuntu 19.04
Python3.7
CCXT 1.18.482

Hello.
How can I fetch an order ID of an submitted order (to work with the order later)?
Something like:

order1 = binance.create_order(...)
ord1id = order1.fetch_orderID

[2019-04-20 20:07] kroitor commented on #5013
Hi!

The order `id` is contained inside the structure returned by the `create_order` method.

[code]

Please read the Manual in order to understand how to work with this lib efficiently: https://github.com/ccxt/ccxt/wiki/Manual

Hope that answers your question.

[2019-04-20 20:07] #5013 closed

[2019-04-20 20:10] tezeug commented on #5013
Thank you a lot, it helped.

[2019-04-21 00:45] hanyoonLDA commented on #4916
Patiently waiting :) This exchange is 🔥 right now.

[2019-04-21 01:59] kroitor commented on #5012
Hi, this is in progress, here: https://github.com/ccxt/ccxt/pull/4636 ← you can clone this PR and help test it, we'd be happy for all help. Let us know if that doesn't answer the question.

[2019-04-21 01:59] #5012 closed

[2019-04-21 10:11] ekfn commented on #5011
Sorry I didn't do it right away.

[2019-04-21 12:10] tezeug opened #5015 "Fetch an order status"
- OS: Kubuntu 19.04
- Programming Language version: Python3.7
- CCXT version: 1.18.482
- Exchange: BitMEX
- Method: unknown

Hello.
How can I fetch the order status by the order ID?
Something like:

if(BitMEX.fetch_order_status(id = orderid) == 'filled'):
   ...

I've found only parse_order_status inside and do not understand this. Thanks.

[2019-04-21 12:14] ekfn commented on #5011
[code]

Problem is that `response` in this case is string "true" and not boolean `true`

[2019-04-21 12:24] #5011 closed

[2019-04-21 21:32] kroitor commented on #5015
Hi!

You can do it like so:

[code]

Also, please, read this: https://github.com/ccxt/ccxt/wiki/Manual#querying-orders

And check the examples here:

- https://github.com/ccxt/ccxt/tree/master/examples
- https://github.com/ccxt/ccxt/tree/master/examples/py

Let us know if that doesn't answer your question.

[2019-04-21 21:32] #5015 closed

[2019-04-21 22:56] DaKingof commented on #4627
@kroitor when I use this last bit of code you posted I get this error and have been getting it since trying to implement it. This happens even when I restart the kernel and clear it all from memory on python 3.7.

Relevant Errors from JupyterLab:

![Opera Snapshot_2019-04-21_185606_localhost](https://user-images.githubusercontent.com/31186364/56476519-2e238680-6467-11e9-86fb-9583881f3e64.png)
:

[2019-04-21 23:05] tezeug commented on #5015
Fixed. + I have to and definitely will check the readMe and the documentation further too. Thanks.

[2019-04-21 23:54] slix88 opened #5016 "Kucoin async cancel_order() not working"
- OS: Windows 10 (Using PyCharm IDE)
- Programming Language version: Python 3.6
- CCXT version: 1.18.484
- Exchange: KuCoin
- Method: async def cancel_order()

Hi

The asynchronous function for Kucoin's cancel order (async def cancel_order) is returning me the following error: "RuntimeWarning: coroutine 'Exchange.fetch2' was never awaited"

I'm running the following code:

    async def test():

[2019-04-21 23:54] tezeug opened #5017 "fetchOpenOrders - get orderID"
- OS: Kubuntu 19.04
- Programming Language version: Python3.7
- CCXT version: 1.18.482
- Exchange: BitMEX
- Method: fetch_open_orders and orderID

Hello again.
I am sure this is not as much a CCXT problem as "Python's" but still I would like to ask you about that. I am trying to fetch the orderID of the currently opened orders but have this problem.
Have a look:

        trd = str(BitMEX.fetch_ope

[2019-04-22 07:33] kroitor commented on #4627
@DaKingof can you post a complete code snippet to reproduce it? I don't have that message with the last snippet above. If you're having issues with that snippet – make sure the code is identical (that snippet is a complete program, if your code contains something else – that might interfere).

[2019-04-22 08:23] kroitor commented on #5017
It looks like you really need to practice Python first...

[code]

Hope this answers the question.

[2019-04-22 08:23] #5017 closed

[2019-04-22 09:50] carels opened #5018 "hitbtc - fetch_open_orders does not filter market correctly"
In PHP version (current build as on 2019-04-22):

Exchange: hitbtc

Calling fetch_open_orders results are not filtered by market correctly, e.g.

$hitbtc->fetch_open_orders('KBC/BTC'), results in:

Array
  | (
  | [0] => Array
  | (
  | [id] => ******************
  | [info] => Array
  | (
  | [orderId] => ******************
  | [orderStatus] => new
  | [lastTimestamp] => 1553858735358
  | [orderPr

[2019-04-22 09:57] kroitor commented on #5016
Hi!

Can you paste the full error stack, plz?

[2019-04-22 09:58] kroitor commented on #5018
HitBTC v1 is deprecated, please use HitBTC v2 API instead, just change `$e = \ccxt\hitbtc()` to `$e = \ccxt\hitbtc2()` in your code. Let us know if that doesn't help.

Duplicates:

- https://github.com/ccxt/ccxt/issues/4996#issuecomment-484179389
- https://github.com/ccxt/ccxt/issues/4840#issuecomment-473710082

[2019-04-22 09:58] #5018 closed

[2019-04-22 10:28] cod3gen commented on #5018
There have been many questions around this @kroitor, obviously the v1 api is deprecated - why not remove it? I compared the two, and it seems that v2 can be a dropin replacement for v1. v2 states `'fetchOrderTrades': false, // not implemented yet` which seems to be incorrect, there is  a function fetchOrderTrades. I could create a pull request if needed.

[2019-04-22 10:37] slix88 commented on #5016
Hi @kroitor

I have included the full error below. Please note that I am able to successfully run the cancel method for Binance without errors (except for the unclosed client session errors which shouldn't be a problem)

Thanks

`C:/scratch_46.py:74: RuntimeWarning: coroutine 'Exchange.fetch2' was never awaited
  await kucoin.cancel_order(last_order_ID_kucoin, symbol)
binance requires to release a

[2019-04-22 11:10] tezeug commented on #5017
Would you recommend me any good sources where to "professionally" start?

[2019-04-22 11:38] #5016 closed

[2019-04-22 11:40] kroitor commented on #5016
@slix88 ok, I've added a fix for this, so, if you update your ccxt version to 1.18.485+ it should work from there, let us know if not. The new build will arrive in 5-10 minutes. Thx for reporting!

[2019-04-22 11:47] kroitor commented on #5017
@tezeug i'd suggest to check read the articles and watch video courses in the examples section here: https://github.com/ccxt/ccxt/tree/master/examples#see-also ) Also, browse the code examples here: https://github.com/ccxt/ccxt/tree/master/examples/py And read the Manual, here: https://github.com/ccxt/ccxt/wiki/Manual... If something is not clear there – google for the term, search for `python tut

[2019-04-22 11:53] kroitor commented on #5018
@cod3gen

We will remove it in one of nearest builds.

Your help is always welcome, thx! )

[2019-04-22 12:10] tezeug commented on #5017
I need a little help with one more thing. I would like to make this condition:

if (BitMEX.fetch_open_orders() = None):
   ...

Just call some function when there are none opened orders but this does not work.

[2019-04-22 12:28] carels opened #5019 "hitbtc2 - paging issue (php)"
hitbtc2 seems to have some paging issues:

According to API Docs: https://api.hitbtc.com/#trading-history

"from | Datetime or Number | Interval initial value (optional parameter) If sorting by timestamp is used, then Datetime, otherwise Number of index value."

It seems when $since is set the default is to return orders in descending order which means a lot of fun when trying to get a full list (

[2019-04-22 12:30] carels commented on #5019
btw, the ccxt documentation (Date-based pagination section) is wrong:

// PHP
if ($exchange->has['fetchMyTrades']) {
    $since = exchange->milliseconds () - 86400000; // -1 day from now
    // alternatively, fetch from a certain starting datetime
    // $since = $exchange->parse8601 ('2018-01-01T00:00:00Z') . <- missing semicolon
    $all_trades = array ();
    while (since < exchange->millisecon

[2019-04-22 12:42] carels commented on #5019
fetch_closed_orders has the same issue, but doesn't look like hitbtc v2 api supports paging by date/time?

[2019-04-22 12:46] kroitor commented on #5019
@carels

First of, if you mean the unified `fetchMyTrades` method – it sorts the results by timestamp in ascending order, and the sorting is done on the client side after receiving the exchange response. This is the default with all unified paginated method throughout the entire lib, so changing this to a different order for one specific method with one specific exchange isn't what we want to do.

[2019-04-22 12:51] kroitor commented on #5017
@tezeug

[code]
or
[code]
or
[code]

\+ a million other ways, if you know Python. Which is beyond the scope of CCXT )

[2019-04-22 13:07] carels commented on #5019
@kroitor, fetchMyTrades didn't provide the info I was looking for (basically looking for complete order history on my account) and fetchMyTrades seems to only return the trades (/api/2/history/trades call) instead of the orders (/api/2/history/order).

I couldn't get pagination by using timestamps to work on hitbtc2 with the fetch_closed_orders call, but it does work with offsetting so that solved

[2019-04-22 13:09] kroitor commented on #5019
Yeah, for that we have a family of `fetch_*_orders`... See here: https://github.com/ccxt/ccxt/wiki/Manual#querying-orders

Ok, i'd close this for now then, let us know if you have further questions, feel free to reopen this if needed.

[2019-04-22 13:09] #5019 closed

[2019-04-22 15:10] fccoelho commented on #3784
Such as `{'test': False}`?

[2019-04-22 16:19] carels opened #5020 "yobit returns does not parse fetchClosedOrders correctly (returns no orders)"
@kroitor hopefully I get this one submitted correctly :)

sample code:
`$orders = $exchange->fetchClosedOrders('KBC/BTC');
`
returns:
[code]

Verbose mode indicates the json string is returned:
[code]

- OS: linux
- Programming Language version: php7.1
- CCXT version: current
- Exchange: yobit
- Method: fetch_open_orders

Couple of side notes:
- yobit seems to return that annoying "nonce already u

[2019-04-22 17:33] carels commented on #5020
It appears the wrong api call is being made. From the yobit API:

[code]
what I can see in liqui.php line 820:

`$orders = $this->fetch_orders($symbol, $since, $limit, $params);`

This returns all the open orders, not closed orders, hence when `return $this->filter_by($orders, 'status', 'closed');` is called an empty array is returned.

I've played with using `fetch_my_trades` instead of `fetch_or

[2019-04-22 18:02] carels commented on #5020
I have made a patch for yobit.php:

[code]

This includes:
- reduced rateLimit to 1005ms (1.005 seconds) which seems to be the safest and lowest number to avoid nonce duplication errors
- added fetch_closed_orders function to yobit.php which uses fetch_my_trades and builds closed orders from there. !! Contains some untested code !! Should probably also warn you I'm not a coder by trade ;)

I'm not

[2019-04-23 06:27] saurabBajgain commented on #4063
can i still use:- (1) https://www.okex.com/api/v1/userinfo.do  ?
will it work???
in my case i am getting :-{"result":false,"error_code":10007} as a responce.
(2) https://www.okex.com/v2/spot/markets/products :- this one works for me with responce of 628 data.

[2019-04-23 08:55] sumiti commented on #320
I did that I entered the same shown by the google and my system ip only.
Even though it is showing me the same error.

[2019-04-23 13:31] webparadoxer opened #5021 "Wrong high low values from fetchTickers"
- OS: ubuntu 16.04
- Programming Language version: php, js
- CCXT version: 1.18.486
- Exchange: binance
- Method: fetchTickers

I request data once a minute. Only for these parameters(high low), the data may not change long enough.
But if the data is requested by another fetchOHLCV method, I see everything in the history correctly.

[2019-04-23 13:34] kroitor commented on #5021
Can you elaborate, please? Not sure what your issue is and what exactly is wrong... https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2019-04-23 13:44] kroitor commented on #5020
Hi @carels !

Have you read this: https://github.com/ccxt/ccxt/wiki/Manual#orders-cache ?

We should not do the above, we don't invent methods if they are missing in the exchange API, instead we designate the presence of those methods with the exchange metainfo as described here: https://github.com/ccxt/ccxt/wiki/Manual#exchange-properties.
The reasoning behind this is also partially explained her

[2019-04-23 13:45] webparadoxer commented on #5021
node examples/js/cli binance fetchTicker ETH/USDT
execute one per minute - 10 times
and node examples/js/cli binance fetchOHLCV ETH/USDT

[2019-04-23 13:49] kroitor commented on #5021
@webparadoxer we need the code to reproduce it, otherwise we will be mostly guessing.

[2019-04-23 13:51] esrefozturk opened #5022 "OKEX BTC/USD Sudden Volume Drop on Every Friday 08:00 UTC"
Hi,

I was using ccxt to fetch daily volumes of okex exchange. Today, I realized that every Friday at 08:00 UTC, the volume of BTC/USD is dropping suddenly. I have checked BTC/USDT; there is not a sudden decrease in it.

You can see two examples here:

- 19th April 08:00 UTC
![1](https://user-images.githubusercontent.com/30148014/56585770-2985dc00-65e7-11e9-9d93-300a9658b6d1.png)

- 12th April 08:

[2019-04-23 14:02] kroitor commented on #5022
As you might have guessed, we don't alter the response of `fetch_tickers` based on datetime, we don't alter it at all in the lib, so the response you get is practically the response from the exchange as is, moreover, in each and every response you get from the lib – you also get the `info` subfield, that contains the raw response from the exchange untouched, so that you could compare it to the res

[2019-04-23 15:03] domainbank opened #5023 "Signature does not match for CoinEgg"
The issues is that:
import ccxt
coinegg   = ccxt.coinegg({
    'apiKey': 'my_api_key_from_CoinEgg',
    'secret': 'my_secret_from_CoinEgg',
})
coinegg.create_limit_sell_order('XRP/ETH',1, 0.0001)

Error:
ccxt.base.errors.AuthenticationError: coinegg Signature does not match
<img width="659" alt="Snipaste_2019-04-23_23-00-38" src="https://user-images.githubusercontent.com/19573010/56591639-ab8ff800

[2019-04-23 15:52] kroitor commented on #5023
@domainbank does `fetch_balance` work for you?

[2019-04-23 15:55] kroitor commented on #5023
@domainbank it looks like you're not using the rate-limiter...

[code]

↑ Does this work ?

[2019-04-23 15:58] carels commented on #5020
Hi @kroitor,

Yes, it makes a lot of sense as to why we're not getting closed orders on yobit. I need data across sessions and different scripts which covers almost every shortcoming on the cache :)

This function was present in hitbtc2.php which is why I used that particular function, but I get what you're saying about not "inventing methods".

gotcha

I see neither are set in yobit.php. Are you

[2019-04-23 16:43] webparadoxer commented on #5021
https://api.binance.com/api/v1/klines?symbol=ETHUSDT&interval=1m
[1556037780000,"172.93000000","172.95000000","172.90000000","172.90000000","24.79601000",1556037839999,"4288.22568720",8,"20.40743000","3529.31465200","0"]]

node examples/js/cli binance fetchTicker ETH/USDT
binance.fetchTicker (ETH/USDT)
{        symbol:   "ETH/USDT",
      timestamp:    1556037777001,
       datetime:   "2019-04-23

[2019-04-23 16:45] webparadoxer commented on #5021
stored data from fetchTickers
![image](https://user-images.githubusercontent.com/5503366/56599922-437fe880-6600-11e9-99c7-4ccc546c0c36.png)

[2019-04-23 17:33] webparadoxer commented on #5021
https://api.binance.com//api/v1/ticker/24hr?symbol=BTCUSDT and here.
I think this is a bug api of the exchange itself. For quite a while high and low don't change

[2019-04-23 18:44] #5021 closed

[2019-04-23 19:32] kroitor commented on #5023
@domainbank it means that your apikeys are wrong. Does this work:

[code]

↑ This works on my side with Python 2.7. Should work for you as well. If this works, and your keypair doesn't – check your keypair. Will be happy if you report back whether it worked for you or not.

[2019-04-24 03:28] kroitor commented on #5020
No worries)) Appreciate your involvement anyway ) We will add the edits to the proper place and they're propagated to the PHP files from there.

Nope, that was more of my attempt to explain it, less of a suggestion )) You don't see those constants set in the `yobit.php` file, because `yobit` is derived from `liqui`, which in its turn `.has` every constant defined. Upon instantiation, your `yobit`

[2019-04-24 03:39] zlstt opened #5025 "Support AEX exchange"
AEX, origianl named btc38, used to be the largest altercoin exchange in China.
It is now still one of the most safe exchange. Please help support this exchange.
Thanks a lot.

https://www.aex.plus

[2019-04-24 03:39] kroitor commented on #5025
Duplicate: https://github.com/ccxt/ccxt/issues/1564

[2019-04-24 03:39] #5025 closed

[2019-04-24 03:40] kroitor commented on #5023
Let us know if the above does not help.

[2019-04-24 03:40] #5023 closed

[2019-04-24 12:05] esrefozturk commented on #5022
While checking  my usage, I have seen strange behavior:
[code]

As you can see, when we fetch markets from okex, we see `BTC/USD` but when we fetch all tickers we do not get `BTC/USD` ticker. However, when we try to get only `BTC/USD` ticker, we get some values.

I was using `fetch_ticker` method on my code, it seems that's why I am getting BTC/USD ticker values.

I think there is a bug here. Coul

[2019-04-24 12:22] domainbank commented on #5023
Thank you. I tried with a new key and add 'enableRateLimit".
Now It's working. Thanks

[2019-04-24 12:26] esrefozturk commented on #5022
I have checked the OKEX website. There is not `BTC/USD` trading on their system.

I have checked which API calls are ccxt making:

When I call `ccxt.okex().fetch_tickers()` requests are made to these 2 APIs:

- `www.okex.com/v2/spot/markets/products`
- `www.okex.com/api/v1/tickers.do`

When I call `ccxt.okex().fetch_ticker('BTC/USD')` requests are made to these 2 APIs:

- `www.okex.com/api/v1/futu

[2019-04-24 22:00] devcon14 commented on #5022
@esrefozturk
You probably want to call fetch_ticker('BTC/USDT') in order to retrieve spot market stats.
If I remember correctly fetch_ticker('BTC/USD') retrieves the weekly futures contract by default.
What I believe you are noticing is that every Friday at 08:00 UTC the Okex weekly contracts expire and roll over to a new contract after which the volume will reset to 0.

@kroitor It might be wishf

[2019-04-24 22:09] kroitor commented on #5022
Currently, we allow to override that via `params`:

[code]

We also have a market type to differentiate `spot` from `futures` markets:

[code]

But, yeah, the argument is not unified, the futures trading is not unified completely yet: https://github.com/ccxt/ccxt/issues/4834 ← I suggest to continue there on this subject ) Your thoughts and considerations are always welcome! )

@esrefozturk I belie

[2019-04-24 22:09] #5022 closed

[2019-04-24 22:29] firepol opened #5026 "binance ohlcv 15m candles of 2019-03-12 missing from 02:00 until 08:00"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Linux
- Programming Language version: Python 3.7
- CCXT version: 1.18.489
- Exchange: binance
- Method: fetch_ohlcv

Code snippet to reproduce:

[code]

Result:

![image](https://user-images.githubusercontent.com/1702718/56697933-7a352c00-66f0-11e9-98d6-71a

[2019-04-24 22:32] kroitor commented on #5026
They had a downtime due to a system upgrade. It was announced here:

- https://support.binance.com/hc/en-us/articles/360024825992-System-Upgrade-Notice

And this is documented in our Manual – some candles can be missing ) You're not guaranteed to get a continuous timeline. Every exchange will have a downtime at some point. That's just how it is. Sorry, if that contradicts your expectations, but, u

[2019-04-24 22:32] #5026 closed

[2019-04-24 22:38] firepol commented on #5026
Thanks for the answer, now I can sleep in peace :D

I was quite puzzled because the data in tradingview shows up:

![image](https://user-images.githubusercontent.com/1702718/56698419-2a576480-66f2-11e9-8dc5-4b69f979e08d.png)

So if they had a downtime, how come TV doesn't show a "hole" in their charts? TV is faking it?
Anyway, if it was downtime I don't expect to get magic data. Really good to kno

[2019-04-24 22:46] kroitor commented on #5026
That's interesting, of course, however i don't know much about their inner workings... Have you tried asking them? )

[2019-04-24 23:08] DaKingof commented on #4627
@kroitor I got it worked out. Sorry for the late reply! It was some code before this, thank you.

[2019-04-24 23:14] kroitor commented on #4627
@DaKingof no worries, thx for reporting back!

[2019-04-25 12:21] FlickerBean opened #5027 "Feature Request: Backtesting Exchange implementation"
This would make switching between backtesting and live trading super simple.

To be more clear: the feature is this:
A `BacktestingExchange` that implements the `Exchange` interface which can be given an array of OHLC data for one or more pairs and can act as a fake/local exchange.

One could write any trading algorithm and very quickly switch between live and backtesting simply by switching betwe

[2019-04-25 12:26] nwocykra opened #5028 "1M gives 1m results"
Looks like 1M (monthly timeframes according to docs) gives the minutely interval (1m).
The demonstration below is done in the node command line and as you can see, the resulting OHLCV data is only 1 minute apart.

- OS: OSX
- Programming Language version: NodeJS v10.15.3
- CCXT version: 1.18.489
- Exchange: kraken
- Method: fetch_ohlcv()

[code]

[2019-04-25 17:20] kroitor commented on #5028
@nwocykra kraken does not support the `1M` timeframe:

[code]

[2019-04-25 17:21] #5028 closed

[2019-04-25 18:37] nwocykra commented on #5028
Understood thank you! Yes a warning or simply no data would be nice to my taste.
But I will take my precautions in my end.

Thanks!

[2019-04-25 22:45] kkaiser0 commented on #3139
If you are looking for another option, check out Signal.

Our trading tool is fast, secure, and easy to use.

Some key features include:
- Setting a stop loss and up to 5 take profits at the same time
- Trailing stop loss
- Laddered buys
- SMS alerts

Sign up at:
https://signalgroups.com/

[2019-04-25 22:46] kkaiser0 commented on #3139
If you are looking for another option, check out Signal.

Our trading tool is fast, secure, and easy to use.

Some key features include:
- Setting a stop loss and up to 5 take profits at the same time
- Trailing stop loss
- Laddered buys
- SMS alerts

Sign up at

[2019-04-26 04:03] CooleRnax opened #5030 "Bitfinex wrong order amount"
- OS: Windows
- Programming Language version: Python
- CCXT version: 1.18.486
- Exchange: Bitfinex
- Method: create_order

When I send order

type market
side sell
LTC/USD
amount 0.84847429

actual executed order amount is 0.84847
same problem accrues in all markets

[2019-04-26 08:47] npomfret opened #5031 "New Exchange: coincorner"
https://api.coincorner.com

[2019-04-26 10:21] FlickerBean commented on #5027
Just an FYI, after submitting this ticket I began working on my own implementation of this in php.

What I have so far can be found here: https://github.com/FlickerBean/ccxt-backtest

It's totally untested and I have no doubt currently full of bugs, but the very core functionality is mostly there.

[2019-04-26 11:14] kroitor commented on #5027
@FlickerBean before you dive into the PHP too deep, please, check out this section: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support. The idea is great, however, and I'm totally for it, will post my views here shortly on how we could tie it with CCXT.

[2019-04-26 15:11] mjzarrin opened #5032 "Bitforex returns wrong maker and taker fee"
- OS: macOS High Sierra
- Programming Language version: Python
- CCXT version: 1.18.471
- Exchange: Bitforex
- Method: load_markets()

the load_markets return all makers fee equal to zero and takers fee are 0.0005 but as it says in below link the real value for both makers and takers are 0.001 .

https://support.bitforex.com/hc/en-us/articles/360006824872-Trading-Fees

[2019-04-26 15:12] denarioresearch opened #5033 "Check change wallet status before making deposit"
As I understand _fetchCurrencies_ active property provides wallet status. But some exchanges (bitfinex, binance, hitbtc, bitstamp, okex, yobit, gateio) do not support this method. Is there any other way to check wallet status on these exchanges?

[2019-04-26 17:59] denarioresearch opened #5034 "[CoinDCX] new exchange request"
https://coindcx-official.github.io/rest-api/

[2019-04-26 18:00] denarioresearch opened #5035 "New Exchange: WazirX"
https://github.com/WazirX/wazirx-api

[2019-04-26 18:05] kroitor commented on #5034
Duplicate: https://github.com/ccxt/ccxt/issues/4878

[2019-04-26 18:06] #5034 closed

[2019-04-26 18:08] #5032 closed

[2019-04-26 20:04] kroitor commented on #5032
@mjzarrin thx for reporting! Fixed in 1.18.492+.

[2019-04-27 10:53] tezeug opened #5036 "FetchOpenOrders - Side"
- OS: Kubuntu 19.04 64-bit
- Programming Language version: Python 3.7
- CCXT version: 1.18.492
- Exchange: BitMEX
- Method: fetch_open_orders(symbol = 'BTC/USD', params={'side':'sell'})

Hello, why does not this code work (check the method)? I've tried it but it always just print the orders and does not matter whether it is BUY or SELL.
Thank you.

[2019-04-27 14:45] tezeug commented on #5036
Whole tomorrow I will be reading and learning everything in the manual but so far I could not find anything about this there. When I tried to put there (side = ‘buy’) I got an error.

[2019-04-27 15:07] Jens1989 opened #5037 "Is there an easy way to generate a PNL graph?"
Programming Language version: Python 3.6.4
CCXT version: 1.18.437
Exchange: Binance

Hi,

I was wondering if there is an easy way to generate a PNL graph from the trade history? I've looked through the documentation and I can't find anything. It's possible I might have to create something myself but I wanted to double check in case I missed it.

thanks

[2019-04-29 01:52] #5030 closed

[2019-04-29 04:34] ofstiker opened #5039 "New exchange: Huobi Korea"
Another Huobi-based exchange in Korea please.

API Doc: https://github.com/alphaex-api/BAPI_Docs_ko/wiki
URL: https://www.huobi.co.kr
Fee: https://support.huobi.co.kr/hc/ko/articles/360002213031-%EC%88%98%EC%88%98%EB%A3%8C-%EC%95%88%EB%82%B4
Volume: https://coinmarketcap.com/exchanges/huobi-korea/
Address: 1F/2F Metlife Tower, 316, Teheran-ro, Gangnam-gu, Seoul, Republic of Korea.
Registration: 42

[2019-04-29 07:46] FlickerBean commented on #5027
@kroitor Thanks for the tip. Although a cursory read of that document generates more questions than answers for me xD

This is great, but unless I'm missing something the document doesn't explain how this can be done. Can the PHP be transpiled to JS, which is then used to transpile back to PHP to be committed?

Do any of these files exist?

I can code JS, and I can get by in Python, but I'm much m

[2019-04-29 08:20] orikalinski opened #5040 "_ssl.c:629: The handshake operation timed out"
Hello,
When i'm trying to use a proxy, I'm starting to get the following exceptions after a while (approximately 10-20 minutes)
Just want to clarify that when I'm getting those errors, I'm getting them on almost half of the requests.

- OS: Ubuntu 16.04
- Programming Language version: Python 3.5.2
- CCXT version: 1.17.60
- Exchange: Binance
- Method: Not something in particular

The full ccxt trac

[2019-04-29 09:02] tezeug commented on #5040
You’ve exceeded the max. amount of retries (usually order placements). Just wait or change your bot’s code to send less calls, I guess but @kroitor is the professional.

[2019-04-29 09:44] justinchou opened #5041 "JS setSandboxMode UnhandledPromiseRejectionWarning: Error: bitmex GET [object Object]/api/v1/XXX only absolute urls are supported"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Linux And MacOS
- Programming Language version: JS
- CCXT version: ccxt@1.18.439
- Exchange: bitmex
- Method: setSandboxMode

After I Use `setSandboxMode` to set the sanbox mode, the process crashed, and throw out the following message：

[code]

I check the

[2019-04-29 09:50] orikalinski commented on #5040
Thanks for the response,
I forgot to mention that I'm not having that without proxies with the same amount of traffic

[2019-04-29 10:00] DmitryVil opened #5043 ""ERR_RATE_LIMIT" with bitfinex"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: python
- CCXT version: 1.18.466
- Exchange: bitfinex
- Method: fetch_order_book()

Good morning,

Exchange bitfinex has a rateLimit = 1500.
In the same time, when I keeping this restriction, I receive the error: "E

[2019-04-29 10:04] tezeug commented on #5036
@kroitor Update
I’ve looked into the source code and fixed it with that.

bit = BitMEX.fetch_orders(symbol=S1, params = {"filter": {"open":True, "side":"buy"}})

[2019-04-29 11:59] tezeug opened #5044 "fetch_my_trades Error"
OS: Kubuntu 19.04 64-bit
Programming Language version: Python 3.7
CCXT version: 1.18.494
Exchange: BitMEX
Method: fetch_my_trades(symbol = "BTC/USD", params = {"filter": {"open":True}})

I am trying to fetch currently opened trades / positions but get this error. It works with orders but not trades. Thanks

Traceback (most recent call last):
  File "FInBot.py", line 33, in <module>
    FT = BitMEX

[2019-04-29 12:05] tezeug commented on #5044
I have also tried "ordStatus":"open" but it prints just [] although there is an open BUY position (trade).

[2019-04-29 12:08] tezeug commented on #5043
Just do this:

try:
   ***your code, e. g. place an order***
except ccxt.errors.rateLimit:
   print ("rate limit error")

Here you can put what to do then when the error occurs. Hope this helps you.

[2019-04-29 13:44] npomfret opened #5045 "[liquid] possible symbol mapping error for HOT / ETH"
Looking at the price on some other exchanges this market on liquid seems to be priced oddly. (see https://snowmonkey.co.uk/market/HOT/ETH/compare)

[code]

[code]

[2019-04-29 14:05] wesleysiqueira commented on #3534
it's true

[2019-04-29 14:42] npomfret opened #5046 "[anybits] trade fees look wrong"
https://anybits.com/help/fees

Taker should be 0.2% (instead of 0.25%)
Market should be 0.1% (instead of 0.15%)

[2019-04-29 19:08] yaystuff opened #5048 "Asyncio issue in while loop"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: windows
- Programming Language version:  python 3.7
- CCXT version: newest
- Exchange: binance
- Method: async

Hi there, i'm trying since some hours but i cant find the solution:
My main intention is to get the exchange ticker every second and refresh the

[2019-04-30 00:10] kroitor commented on #5041
Hi! Thanks for reporting! Answered on your PR here: https://github.com/ccxt/ccxt/pull/5042#issuecomment-487785550

[2019-04-30 00:10] #5041 closed

[2019-04-30 00:14] kroitor commented on #5043
@DmitryVil hi! This is a known feature of Bitfinex – their rate-limits are defined per endpoint, so it will depend on not only the frequency, but also on the destination of your requests. See the following answers for more explanations:

- https://github.com/ccxt/ccxt/issues/3738#issuecomment-415999336
- https://github.com/ccxt/ccxt/issues/2700
- https://github.com/ccxt/ccxt/issues/2166#issuecomme