[2018-09-28 22:27] kroitor commented on #3914
https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[2018-09-28 22:27] #3914 closed

[2018-09-28 22:30] terrorizers commented on #3914
thanks now it works in real mode! :D

how can I use in testnet? (feedback: in the error maybe you could link that one, I was like 100% symbols were the ones used by bitmex, but actually it's better like so)

[2018-09-28 22:36] kroitor commented on #3914
Like so: https://github.com/ccxt/ccxt/issues/2096#issuecomment-370186689

[2018-09-28 22:41] terrorizers commented on #3914
wow thanks a lot you are awesome! super fast and perfect answers!

[2018-09-29 00:14] kroitor commented on #3906
Sure, withdraw methods should also follow precision rules, the reason here is that withdraw methods and funding precision is still a work in progress, as you may know this library is still under development. We will unify that aspect with withdraw as well, hopefully very soon.

[2018-09-29 03:03] xCuri0 commented on #3887
Verbose mode can print all requests

[2018-09-29 03:09] kroitor commented on #3887
@abhishekgahlot that function is documented in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids.

Also, if you want to intercept the URL itself, you will have to look into and/or override one of the following methods: `request()`, `fetch()` or `sign()`, see how those are implemented in most of exchanges.

Let us know if the above does not answer your question.

[2018-09-29 03:09] #3887 closed

[2018-09-29 08:53] jorijnsmit commented on #3578
Ran into this problem as well! @kroitor you are right in blaming `gcc`! Trying to install it with brew however gave me the following result:
[code]
Running `xcode-select --install` does the trick! I suspect this was needed for me because I upgrade to macOS Mojave but not sure.

[2018-09-29 09:00] zizou86 opened #3917 "can't install ccxt MacOs"
- OS: MacOs High Sierra 10.13.6
- Programming Language version: node v8.12.0, npm v6.4.1
- CCXT version:
- Exchange:
- Method:

Please, i need your help.
I try to install ccxt but i have an issue about scrypt

npm WARN deprecated tar.gz@1.0.7: ⚠️  WARNING ⚠️ tar.gz module has been deprecated and your application is vulnerable. Please use tar module instead: https://npmjs.com/tar

  SOLINK_MODULE(t

[2018-09-29 10:04] zizou86 commented on #3917
i noticed that path not exist

i find /Applications/MAMP/htdocs/twirexTests/node_modules/scryptsy

[2018-09-29 10:10] jorijnsmit commented on #2937
Bleutrade returns the same error for all of its markets when using `fetchOHLCV()`: `bleutrade {"success":false,"message":"INVALID_MARKET","result":null,"explanation":null}`

[2018-09-29 13:03] kroitor commented on #3578
@jorijnsmit thx for the feedback!

[2018-09-29 13:16] gokuflashdev commented on #3901
First of all i hadto uninstall node with node-gyp, next I install node with node-gyp again and then finnally when i type node-gyp -v i get version: 3.8.0

I find this file and do this:

[ERROR:vcvarsall.bat] Error in script usage. The correct usage is:
Syntax:
    vcvarsall.bat [arch] [platform_type] [winsdk_version] [-vcvars_ver=vc_version]
where :
    [arch]: x86 | amd64 | x86_amd64 | x86_arm |

[2018-09-29 14:22] rg687 opened #3918 "data missing in minutes candle?"
- OS: Linux debian
- Programming Language version: pyhton
- CCXT version: 1.17.359
- Exchange: binance
- Method:

import ccxt
timestamp_ms_start = 1504713600000
''' datetime.datetime.fromtimestamp(1504713600)
 datetime.datetime(2017, 9, 6, 12, 0) '''

binance = ccxt.binance()
data = binance.fetch_ohlcv('LTC/BTC', '1m', since=timestamp_start)

data[0][0]-timestamp_start
25200000

seems like some da

[2018-09-29 14:35] karlandoh commented on #2494
Would like to raise this issue, as it is still prevalent. Using the latest version of ccxt.

[code]
Thanks.

[2018-09-29 14:40] karlandoh opened #3919 "Coinegg: 503 Server Error: Service Temporarily Unavailable"
- OS: Puppy Linux
- Programming Language version: Python 3.7
- CCXT version: Lastest
- Exchange: Coinegg
- Method: All of them. Will be using fetchTicker() as an example.

[code]

[2018-09-29 14:42] karlandoh commented on #3919
Would like to note that obtaining an API from my google Chrome browser was fine. Not sure if it helps or not but using the link ```https://api.coinegg.im/api/v1/depth/region/btc?coin=eth``` from google chrome obtained:

```{"asks":[["10000","0.007"],["243.59","0.0489"],["7","0.0189"],["1","0.51"],["0.57005","1.521"],["0.5","0.0078"],["0.4","0.786"],["0.31415927","0.01"],["0.2","0.4239"],["0.197593

[2018-09-29 14:59] xCuri0 commented on #3913
@kroitor I'm getting ```decimal.InvalidOperation: [<class 'decimal.ConversionSyntax'>]``` sometimes now

[2018-09-29 21:55] Kalltech opened #3920 "No market symbol XBTUSD"
- OS:Linux
- Programming Language version:Python 2.7
- CCXT version: exchange.py '1.17.132'
- Exchange:bitmex
- Method:create_order
Hi,
I'm sure it's something I'm doing wrong but I tried a lot of things
order = exchange.create_order("XBTUSD", type, side, amount, price, params)
I got the error: bitmex No market symbol XBTUSD
I tried with another API and it works.
Someboby can help me?
Thanks

[2018-09-29 22:08] kroitor commented on #3920
- https://github.com/ccxt/ccxt/issues/3914
- https://github.com/ccxt/ccxt/issues?utf8=%E2%9C%93&q=No+market+symbol+XBTUSD
- https://github.com/ccxt/ccxt/search?q=No+market+symbol+XBTUSD&type=Issues

[2018-09-29 22:08] #3920 closed

[2018-09-30 12:12] munrocket opened #3921 "Heaviest object in the universe?"
CCXT bundle become ridiculusly heavy. It's bigger than angular+react+vue+ember combined in 2 times!

I suggest deleting these lines from wiki. Also to split library in two parts one for centralized exchanges without web3/ethereumjs and another for decentralized exchanges like babel-core and babel-stuff. It's clear that we need modularity and save minimalistic design. Main target audience of this l

[2018-09-30 18:39] sirks opened #3922 "async load_fees"
- OS: any
- Programming Language version: python
- CCXT version: 1.17.360
- Exchange: any
- Method: load_fees

in python async support load_fees method calls synchronous fetch_fees, should have async version of fetch_fees method

[2018-09-30 21:42] #3922 closed

[2018-09-30 21:50] kroitor commented on #3917
@zizou86 Have you tried any options that come up when googling for *"LIBTOOL-STATIC Release/scrypt_wrapper.a* ? Does any of the following solutions resolve the issue for you?

- https://github.com/barrysteyn/node-scrypt/issues/113
- https://github.com/barrysteyn/node-scrypt/issues/83

[2018-09-30 22:01] kroitor commented on #3918
1. Exchanges go offline, for maintenance and for other reasons from time to time, so you should not expect that you will have **continuous** fine-grained (1m) history – it will have gaps whether they want it or not and you have to be prepared for it. In other words, treat missing candles as if there were no trades during that period or as if the history is unknown. Missing candles are absolutely l

[2018-09-30 22:01] #3918 closed

[2018-09-30 22:04] kroitor commented on #3919
This is most likely a cloudflare issue, have you tried bypass-cloudflare from examples?

[2018-09-30 22:07] karlandoh commented on #3919
Problem is now fixed. Thanks.

[2018-09-30 22:07] kroitor commented on #2494
@karlandoh thx, i'll look into it asap.

[2018-09-30 22:14] karlandoh commented on #2494
No problem. Was probably a maintenance issue. The problem has not appeared all day today.

[2018-09-30 22:21] #3919 closed, assigned to kroitor

[2018-10-01 00:43] alexgpark opened #3923 "Having trouble installing CCXT"
- OS: Ubuntu NodeJS 6.12.3 on 16.04
- Programming Language version: Javascript
- CCXT version: 1.17.361
- Exchange: N/A
- Method: N/A

Here is the error:

[code]

[2018-10-01 00:48] kroitor commented on #3923
@alexgpark

Do you have a `make` command on your system? Most Linux systems come with `make` preinstalled.
Try `whereis make` or use the `find` command to locate it on your system. If you do not have it, you should install it and make sure it's accessible from your PATH env variable. See instructions on how to install packages for your distribution. Let us know if the issue persists after installi

[2018-10-01 00:48] #3923 closed

[2018-10-01 00:50] kroitor commented on #3923
See also:

- https://stackoverflow.com/questions/14772508/npm-failed-to-install-time-with-make-not-found-error
- https://www.google.ru/search?q=ubuntu+gyp+ERR!+stack+Error%3A+not+found%3A+make

[2018-10-01 01:28] kroitor commented on #3901
@gokuflashdev

I actually said that you should be in the same window, but you **should go to a working dir or to a temporary folder**, instead you stayed in the same folder... You should pay more attention, because you seem to be in a kind of a hurry and don't focus on what is written above in the output and... it actually has a lot of clues that you're missing.

This is correct. However, the rest

[2018-10-01 01:28] #3901 closed

[2018-10-01 09:12] tomcatren2018 opened #3924 "create_order no working sometimes"
ATTENTION!!!

ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version:  pathon 3.5
- CCXT version: ccxt  1.17.134
- Exchange: hitbtc
- Method: create_order

I called "create_order" like below:
           pprint(secondPair)
            doExchange.create_order(symbol=secon

[2018-10-01 09:13] #3924 closed

[2018-10-01 09:14] tomcatren2018 opened #3925 "create_order no working sometimes"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version:  pathon 3.5
- CCXT version: ccxt  1.17.134
- Exchange: hitbtc
- Method: create_order

I called "create_order" like below:
           pprint(secondPair)
           pprint(chooseVolum)
            doExchange.create_o

[2018-10-01 09:29] KeeZEE opened #3926 "New Exchange - Coin Asset Exchange"
Please support to add Coin Asset Exchange. We're exchange with operations in Bangkok, Thailand.

Website: https://coinasset.co.th/
API Doc: https://coinasset.co.th/api

Thanks you :)

[2018-10-01 09:29] rg687 commented on #3918
oops i had rewrite the code on the fly and timestamp_start is timestamp_ms_start but you're right its probably just binance which had close his trading engine at the time.
thanks

[2018-10-01 09:31] kroitor commented on #3925
`pprint('rrr')`

↑this does not make sense ↓

The print result for `pprint('rrr')` is `rrr`.

Because you don't report the issue and don't follow the guides on reporting, it's very hard to help you.

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

↑ Please read this carefully and always follow those guides very precisely (literally).

What's your value of `choose

[2018-10-01 11:11] tomcatren2018 commented on #3925
flow your way, pprint(result)  is
'ACAT/USDT'
5280.0

Request: GET http://api.hitbtc.com/api/1/public/ACTUSD/orderbook {'User-Agent': 'python-requests/2.19.1', 'Accept-Encoding': 'gzip, deflate'} None

Response: GET http://api.hitbtc.com/api/1/public/ACTUSD/orderbook 200 {'Transfer-Encoding': 'chunked', 'Content-Encoding': 'gzip', 'Content-Type': 'application/json; charset=utf-8', 'Date': 'Mon, 01

[2018-10-01 11:27] kroitor commented on #3925
Once again, you're not paying attention, please follow the guides **precisely**, it's written there how to post your code for readability, and for some reason you completely ignored those instructions.

From this:

It looks like you're doing tons of calls prior to the problematic place and you don't show those calls anywhere in your code, which makes it impossible to guess what's happening on your

[2018-10-01 16:04] npomfret opened #3927 "cannot get quoinex (liqui) private api working"
Hi

Using version _1.17.363_ I'm unable to get my balances from quoinex.  Can someone confirm that the current implementation is working?  Maybe I have done something wrong.

The error is get is ` {"success":0,"code":0,"error":"invalid api key"}`.  I've tried the same api key in my personal project and it does work.  I then looked at the ccxt code and it looks quite different to mine which impleme

[2018-10-01 16:58] kroitor commented on #3927
Hi! They moved to liquid.com... you're a bit late )

- https://github.com/ccxt/ccxt/pull/3876
- https://github.com/ccxt/ccxt/issues/3809

The exchange can drop all old keys or just turn off old domains and api servers, can change signing procedures if they want to switch to a different engine or whatever, you should at least be grateful to them for not dropping all accounts and all your funds, lol

[2018-10-01 16:58] #3927 closed

[2018-10-01 17:48] npomfret commented on #3927
Hey, thanks @kroitor.  I did search but I didn't see what I was looking for.  The present of the quoinex exchange confused me. It's doesn't work at all it seems, I wonder if there's any reason to keep it around?

Perhaps we could at least comment out of date exchanges.  It's not always obvious which to use.

[2018-10-01 18:48] kroitor commented on #3927
You're right, no reason to keep them, will drop them in one of the upcoming releases. Thx!

[2018-10-01 19:19] npomfret opened #3928 "liquid min order sizes missing"
Just tried placing my first order using the min order amount, but it looks like liquid exchange doesn't have the metadata for most markets. In fact only markets with base icy of BTC or ETH are covered.  I found the following which could help fill in the missing ones:

https://quoine.zendesk.com/hc/en-us/articles/360004828252-Minimum-withdrawal-amount-Minimum-order-quantity

Will look at implementi

[2018-10-01 22:17] mrzinger opened #3929 "Kuna. Fetch order book method is not optimal"
Currently Kuna class fetch_order_book method uses  "https://kuna.io/api/v2/order_book.json" endpoint that is not actual anymore. According to their recent API documentation they recommend to use "https://kuna.io/api/v2/depth" instead which is actually the same as in ACX class that is base for Kuna.
If you simply remove fetch_order_book method from Kuna class you will automatically get up to date f

[2018-10-01 22:20] mrzinger commented on #3929
The "new method" is more effective since server returns less data and it doesn't require extra parsing that is in the current method implementation.

[2018-10-02 02:11] tomcatren2018 commented on #3925
well,i have made stupid mistake

' hitbtc = ccxt.hitbtc2(...)', but i have write 'hitbtc = ccxt.hitbtc(...)  ',

ccxt.hitbtc() is wrong,so can't get order sometimes,thank you.

[2018-10-02 04:28] karlandoh opened #3930 "Potential Issues with Kucoin"
This issue arises when I fetch balances, deposit addresses, initiate trades, etc.

- OS: Puppy Linux
- Programming Language version: Python
- CCXT version: Latest
- Exchange: Kucoin
- Method: All Private Methods (Will use fetch balance as an example).

[code]
Thanks.

[2018-10-02 04:33] #3930 closed

[2018-10-02 04:33] karlandoh commented on #3930
This problem was solved on its own. Save yourself some time. Take care.

[2018-10-02 05:34] alexgpark commented on #3923
Thanks very much and sorry for the duplicate issue!

https://stackoverflow.com/questions/14772508/npm-failed-to-install-time-with-make-not-found-error

^ That did the trick

[2018-10-02 10:10] npomfret opened #3932 "contributing issues with tox"
I'm having some trouble running `npm run build`, speficially with the python stuff.  The guide says i need to have _Python 3.5.3+ and Python 2.7+_.  I think OS X has 2.7 pre-installed, and I manually downloaded and installed the latest version from the link supplied:

[code]

Running the build I get an error about `tox` being missing (`sh: tox: command not found
`).

Are there some additional step

[2018-10-02 10:44] gokuflashdev commented on #3901
Its impossible to follow very precisely after this issue. There is not available any of VS 2015 include Technical Preview. All of links to VS2015 (including this ones from TEAM BLOG) try to install VS community 2017. VS community 2017 have to be install with Windows SDK 10.0

IDK that it should work with community 2017 and windows SDK 10. I install one more time community 2017 with C++/CLI  compon

[2018-10-02 13:17] npomfret commented on #3666
@ahmohamed I've bene contacted by the BTCMarkets team recently to let me know that the API has been updated again.  Looks like you can get all open orders now in a single call:

https://github.com/BTCMarkets/API/wiki/Trading-API#open-orders-1

[2018-10-02 14:18] AoDev commented on #3921
@munrocket I have a partial solution for my own project. It is a Webpack loader and thus works only if you use JS / Webpack. In my case, I managed to reduce ccxt weight to 15% of its original weight. (it depends on what you load)

https://github.com/Cryptovista/ccxt-exchanges-loader

[2018-10-02 14:56] munrocket commented on #3921
@AoDev Yep we already implemented [custom bundle](https://github.com/ccxt/ccxt/blob/dfc5d3b7b914a30bd8bbcd075ba278ab09616be2/exchanges.cfg) compiler in official repository. But I think it's become more serious problem and just shrink number of stock exchanges not helps now. Sometimes we need to get rid of heavy dependencies.

[2018-10-02 15:58] mrHaiker opened #3933 "Getting more than one pair using the Order Book method"
I need to get more that one currency pair, and for that I shoud send:
Array of pairs for EXMO: `https://api.exmo.com/v1/order_book/?pair=${pairs}`
Key 'all' for Poloniex: `https://poloniex.com/public?command=returnOrderBook&currencyPair=all`
etc.
But I can't do that by provided methods

- OS: Windows 10
- Programming Language version: JavaScript
- CCXT version: 1.15.38
- Exchange: all
- Method: fe

[2018-10-02 17:26] terrorizers opened #3934 "bifinex KeyError: 'BTC/USD'"
- OS: ubuntu
- Programming Language version: python3
- CCXT version: 1.17.356
- Exchange: bifinex
- Method: create order

[code]

[code]

oh oh https://github.com/ccxt/ccxt/issues/3914 this time seems it's not working XD

[2018-10-02 19:00] kroitor commented on #3934
Answered here:

- https://github.com/ccxt/ccxt/issues/2851

Have you tried launching the symbols example to see the full list of bitfinex market ids and symbols yourself? Because if you did, you would get the answer right away.

- https://github.com/ccxt/ccxt/blob/master/examples/py/symbols.py

[code]

[2018-10-02 19:00] #3934 closed

[2018-10-02 19:02] kroitor commented on #3921
We will make most of those heavy dependencies optional very soon.

[2018-10-02 19:04] #3925 closed

[2018-10-02 19:08] terrorizers commented on #3934
I dont know of that, I will try to pull request a modification of the error like `KeyError: 'BTC/USD, reference: symbols.py'

but anyway doesn't works:

[code]

[2018-10-02 19:18] AoDev commented on #3921
One thing I noted is that in my app, and probably other people as well, I share some dependencies with ccxt.

`bignumber.js, web3, crypto-js`

But the dependencies in ccxt are locked. So it means that for most people, these libraries (dependencies) will be duplicated. You could consider using semver ranges if possible. I know locking deps is more robust but usually it's recommended to do that at a

[2018-10-02 19:35] #3932 closed

[2018-10-02 19:38] kroitor commented on #3934
First, if you read the Manual carefully, there's no `Market` type of order, it's `market`.

[2018-10-02 19:43] kroitor commented on #3934
In other words, if you do the above two edits to your call, it should look like this:

[code]

[2018-10-02 20:04] kroitor commented on #3923
@alexgpark thx for reporting back!

[2018-10-02 21:39] terrorizers commented on #3934
mmmm, ok then this is not in line with BitMEX: https://github.com/ccxt/ccxt/commit/f50942bd1af6dd6b2488cdbf0634bd465b18a751 also others are all Capitalized ('Stop' or 'StopLimit') so it feels right capitalized as it works for BitMEX, anyway you choose, and thanks a lot! But how can I run strategy on margin account? (Promise last question :D, I hope XD)

[2018-10-02 22:16] kroitor commented on #3934
First of, you should really stick to the Manual. In short, the Manual says something like: *we support either `market` or `limit` because we have unified spot trading, but for other types of trading like margin trading it may require exchange-specific overrides (positional trading is not unified yet)*.

From it you should carry the following: the two values `market` and `limit` work everywhere, ot

[2018-10-02 22:20] terrorizers commented on #3934
Sorry bro I get your feeling, problem is I come here just to avoid read manuals XD but I know I should and I'll do now!

[2018-10-03 06:51] rhythem opened #3936 "coinfalcon.py seems broken for me in version .365"
- OS: Amazon Linux - RHEL
- Programming Language version: Python 2.7.14
- CCXT version: ccxt==1.17.365
- Exchange: coinfalcon
- Method: fetchTickers.
[code]

[2018-10-03 07:11] aav80 opened #3937 "BitMEX privateDeleteOrderAll - fiters seem do not work correclty"
When I try to use filters in bulk order cancelation, exchange anyway cancels all orders, filter doesn't matter.
Is it ccxt mistake issue?

Code is below.
All executes correctly, no errors, but cancels all.

[code]
- OS: Windows 10
- Programming Language version: Node JS v.8.10.0
- CCXT version: 1.10.1 2017-11-06
- Exchange: BitMEX
- Method: privateDeleteOrderAll

[2018-10-03 09:03] mkang1234 opened #3938 "Bibox function fetch_tickers not working correctly"
- OS: Windows 7
- Programming Language version:  Python 3.6
- CCXT version: 1.17.365
- Exchange: Bibox
- Method: fetch_tickers

fetch_tickers function is not returning ask and bid prices and qty.

[2018-10-03 09:05] calbertuk commented on #3643
After checking with Bibox team on telegram, it would appear that their API does support withdrawals.
The only thing they answered for now is below but I will dig further. @kroitor
[code]

[2018-10-03 12:16] gokuflashdev commented on #3901
Ok I finnaly resole this issue. .NET framework 4.5.1 is too old and .NET framework 4.7.2 is "too new"...
When I uninstall .net 4.7.2 and install .net 4.6.0 and going to a separate folder to install in empty folder ccxt, its end successfull on visual studio community 2017.
Now I have the same problem with scrypt but scrypt need windows sdk 7.1 and visualStudio 2010 so... Get some melisa, nervosol,

[2018-10-03 12:52] sanyam199 opened #3939 "Invalid Nonce on Bitstamp"
- OS: Ubuntu 14.04.5 LTS
- Programming Language version: Python 2.7
- CCXT version: 1.17.327
- Exchange: Bitstamp
- Method: fetch_balance, create_order, fetch_order

I have integrated ccxt in my system, and although everything works fine mostly, I encounter the "Invalid Nonce" error frequently on the above-mentioned methods.

[2018-10-03 12:53] kroitor commented on #3939
Are you using the built-in rate limiting?

[2018-10-03 12:56] kroitor commented on #3938
Some fields may be missing and this is expected according to the Manual – not all exchanges will return all fields, so we just use what's available. I guess, you should forward this question to developers of Bibox API.

[2018-10-03 12:56] #3938 closed

[2018-10-03 12:58] kroitor commented on #3933
Why not? Use implicit methods + unified param overrides:

- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params
- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

Let us know if that does not answer your question.

[2018-10-03 12:58] #3933 closed

[2018-10-03 13:02] #3936 closed

[2018-10-03 13:05] kroitor commented on #3937
Nope, it's yours. You're using an implicit API method `privateDeleteOrderAll` and, according to the Manual, all implicit methods have the same signature and accept just one params argument, so you can't pass `BTC/USD` and `{"side": "Sell"}` to that method. It has to be just one object.

- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

Let us know if that does not answer your questi

[2018-10-03 13:05] #3937 closed

[2018-10-03 13:06] kroitor commented on #3901
@gokuflashdev Thx for reporting back! We got some good news for you as well... We're actually going to make most of those dependencies optional shortly... More about it here: https://github.com/ccxt/ccxt/issues/3921

[2018-10-03 13:44] kroitor commented on #3939
- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/wiki/Manual#error-handling
- https://github.com/ccxt/ccxt/wiki/Manual#invalidnonce

I highly recommend to read the entire Manual from top to bottom first in order to be able to work with this library efficiently. Let us know if that does not answer your question.

[2018-10-03 13:44] #3939 closed

[2018-10-04 03:35] #3921 closed

[2018-10-04 03:36] #3917 closed

[2018-10-04 05:43] munrocket commented on #3901
This happens because web3 have an one outdated dependency https://github.com/ethereum/web3.js/issues/1908

[2018-10-04 05:44] munrocket commented on #3901
Node-gyp is outdated and works only with Python 2.

[2018-10-04 06:00] munrocket commented on #3901
If you still have a problem with ccxt installation, try googling "node-gyp windows install"

[2018-10-04 08:40] giv13 opened #3945 "[Livecoin] partially filled and cancelled orders"
- OS: Windows 8
- Programming Language version: php 7.1
- CCXT version: 1.17.229
- Exchange: Livecoin
- Methods: parse_order_status

Just a question about row `'PARTIALLY_FILLED_AND_CANCELLED' => 'canceled',` in method `parse_order_status`. Is it right to assume that partially filled and cancelled orders are cancelled (not closed)? Livecoin considers these orders closed and I agree with it)

[2018-10-04 09:38] femelo opened #3946 "Poloniex returning wrong hardcoded transaction fees"
- OS: Ubuntu 16.04
- Programming Language version: Python 2.7
- CCXT version: 1.17.368
- Exchange: Poloniex
- Method: load_markets()

Issue:
The code below returns a taker fee of 0.0025 and a maker fee of 0.0015 (they should be 0.002 and 0.001)

import ccxt
exch = ccxt.poloniex()
exch.load_markets()
market = exch.markets['BTC/USDT']
print market['taker'], market['maker']

Where are these fees hard

[2018-10-04 09:43] kroitor commented on #3946
In my case it returns proper values:

[code]

Let's check your actual ccxt version first. What does the code below say?

[code]

?

[2018-10-04 10:44] femelo commented on #3946
It says 1.14.71

[2018-10-04 10:52] femelo commented on #3946
That is odd. Running exactly the same command as you run, I get:

{'active': True,
 'base': u'BTC',
 'fee_loaded': False,
 'id': u'USDT_BTC',
 'info': {u'baseVolume': u'4105585.15822753',
          u'high24hr': u'6642.00000000',
          u'highestBid': u'6581.03304324',
          u'id': 121,
          u'isFrozen': u'0',
          u'last': u'6581.01652162',
          u'low24hr': u'6455.00000000',

[2018-10-04 10:55] femelo commented on #3946
I am using Python 2.7.14 :: Anaconda custom (64-bit)

[2018-10-04 10:59] femelo commented on #3946
It is ok. I see now, I had a ccxt installed via pip. Thank you for your answer. It is solved now

[2018-10-04 10:59] #3946 closed

[2018-10-04 11:27] gokuflashdev commented on #3901
Now I fight with scrypt who also use node-gyp. It`s some dependency for ccxt or web3:>

[2018-10-04 11:36] murcialito opened #3947 "Bitsane - Price is required field for market orders"
OS: macOS High Sierra
Programming Language version: node 10.1.0
CCXT version: 1.17.367
Exchange: Bitsane
Methods: createOrder

Hi,

I am using bitsane.js to insert new orders in Bitsane exchange. I was facing an issue inserting market orders, error message was "price is a required field".

When I removed the if condition (pasted below) from the createOrder method in bitsane.js in ccxt code it star

[2018-10-04 12:02] kroitor commented on #3947
That if-conditional literally says: *"set price only if type is **not** market"*... Not sure if I get the question...

[2018-10-04 12:03] kroitor commented on #3901
@gokuflashdev if you're not using DEXes, then you can just `pip install ccxt` from... The most recent version of it does not require web3 (it's optional, required for DEXes only).

[2018-10-04 12:04] murcialito commented on #3947
Sure, but the exchange requires the field even for market orders.

[2018-10-04 12:08] kroitor commented on #3947
@murcialito oh, I see... We'll fix it then... however, to fix it properly, we need your help with the following quick question: does the actual filling price for that order match the market price indeed after the settlement? In other words, which values do you use for the price of your market orders?

[2018-10-04 12:09] kroitor commented on #3946
Yep, that's a known issue with anaconda python – it has it's own package installer / package management. Thx for reporting back anyways!

[2018-10-04 15:07] npomfret opened #3948 "help understanding fetchBalance logic"
Hi

I'm trying to use ccxt for private account operation for the first time.  My chosen exchange is Liquid and I've had a couple of problems, the latest of which is understanding the how balances are handled.

I know that Liquid does not return the _free_ v's _used_ balance information in it's API, it only gives the total.  When I call the `fetchBalance` method, my `used` fields have a value of _0

[2018-10-04 15:43] schuma7 opened #3949 "Bibox fetchTickers returns Array instead of Object"
When invoking the fetchTickers method on Bibox ccxt currently returns an array containing all the tickers, instead of an object indexed by symbol.

Sample result from Bibox:
[code]

Sample result from other exchanges:
[code]

- OS: Mac OS 10.13.6
- Programming Language version: Node.js v10.5.0
- CCXT version: 1.17.352
- Exchange: Bibox
- Method: fetchTickers

[2018-10-05 08:20] rhythem commented on #3936
@kroitor  i am still facing an issue, different this time though.
OS: Amazon Linux - RHEL
Programming Language version: Python 2.7.14
CCXT version: ccxt==1.17.369
Exchange: coinfalcon
Method: fetchTickers.
[code]

[2018-10-05 08:42] kroitor commented on #3947
Ok, got it, thx for reporting... will see if they do support market orders at all

[2018-10-05 09:22] npomfret opened #3950 "Liquid: various fixes"
I believe the `fetchMyTrades` method in Liquid could be improved.  It is currently calling the [/executions/me](https://developers.quoine.com/#get-your-executions) endpoint, but this doesn't provide the order id - it's just a list of fills.

The [/orders](https://developers.quoine.com/#get-orders) call will return the fills for each order in the `executions` element.  Additionally, this call does

[2018-10-05 11:00] gokuflashdev commented on #3901
But this is python module so if I install ccxt like this I have to use some node module to allow me to communicate with python library, something like python.node?

[2018-10-05 11:02] kroitor commented on #3901
@gokuflashdev nope, I mean, `npm install ccxt` in your case, of course... We ship 3 flavors of it, python, php and javascript, all of them are independent of each other. So, no, you don't have to install any python software if you're using npm, node and javascript.

[2018-10-05 11:04] kroitor commented on #3936
@rhythem got it, i'll check it and will get back to you with a fix for it, shortly.

[2018-10-05 14:37] creslinux commented on #2740
Hi - I recently did just this.
Here is my script to fetch the first 1m candle timestamp  for all markets on binance
It finds the week, then day, then minute

outputs as:
[code]
Script:
[code]

[2018-10-05 14:39] kroitor commented on #2740
Thx, @creslinux !

[2018-10-05 14:55] IMikhelson opened #3951 "Coinbasepro request timestamp expired"
- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: 1.17.369
- Exchange: Coinbase Pro
- Method: fetch_balance()

When I set the "nonce" property in the client declaration to "ccxt.Exchange.milliseconds" for Coinbase Pro, private calls fail with the error "request timestamp expired".  If I don't set it, everything works fine.  For comparison, this works fine with Binance.  T

[2018-10-05 15:27] gokuflashdev commented on #3901
U mean 1.17.365 version?
But this version have support for TheOcean and this exchange is Decentralized Exchange (DEX) am I right?

[2018-10-05 16:59] kroitor commented on #3901
I mean the current, 1.17.369 or higher. However, if you want DEXes, then you will still need web3, so there's no workaround for that, unfortunately.

[2018-10-05 17:01] schuma7 opened #3953 "Liqui fetchTickers throws error due to exceeded max URL length"
Executing the following code:

[code]

throws the following error:

[code]
- OS: Mac OS 10.13.6
- Programming Language version: Node.js v10.5.0
- CCXT version: 1.17.352
- Exchange: Liqui
- Method: fetchTickers

[2018-10-05 17:05] kroitor commented on #3953
Yep, this is by design, and to overcome it you need to do what it says... or... which part of that message is not clear to you? %)

[2018-10-05 17:33] #3949 closed

[2018-10-05 17:42] schuma7 commented on #3953
I was following the manual and that didn't specify that this method takes any parameters, so I assumed it's an internal library error.

Since other methods such as loadMarketData also pull in all the information at once, I assumed that the library takes care of the data loading for fetchTickers as well. It might help to emphasise this behaviour in the manual.

[2018-10-05 18:38] #3953 closed

[2018-10-05 19:19] npomfret commented on #3950
Ignore this. The existing api call has the order id - it's just being ignored.  Maybe because it's not documented properly.

[2018-10-05 19:46] kroitor commented on #3950
Would you want to submit a PR for it? Or do you want us to upload it? (asking just to sync the effort properly)

[2018-10-05 19:48] npomfret commented on #3950
I can do it.  But what about my other PR?  Shall I roll back the changes?  (Don't have the mental  bandwidth to deal with more than one branch right now).

[2018-10-05 19:53] kroitor commented on #3950
That's great to hear! )

Nope, because this edit is basically a one-liner, I guess it would be easier if you can just push one more commit to the same branch and i'll merge the edits all together in your PR very soon. Thanks so much for the report and for your help, your activity is really appreciated!

[2018-10-06 00:26] brucetus opened #3954 "Can't pass optional parameter on Kraken"
- OS: Debian 9 Stretch
- Programming Language version: Javascript
- CCXT version: Latest
- Exchange: Kraken
- Method: createOrder

Hi, I'm getting this error when trying to enter in the optional parameter 'leverage' when creating an order on Kraken.

This is the code I use:
[code]
And I get this error here:
<img width="836" alt="screen shot 2018-10-05 at 5 11 58 pm" src="https://user-images.github

[2018-10-06 07:29] amit2103 commented on #56
@kroitor  Thanks for the awesome project. Is there any example showing how to get trades via websocket?
And which exchanges are supported till date

[2018-10-06 08:33] kroitor commented on #3954
1. Kraken does not have a BTC-USD symbol: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids
2. Your screenshot shows XMR-USD, which kinda makes me think you're not posting the code that corresponds to your screenshot (don't report text bugs in screenshots)
3. Because you don't post your verbose request/response it's hard to help you, we need you to follow this precisely:

  - https:/

[2018-10-06 09:13] allback122 opened #3955 "BitMex fetch_trades giving old trades?"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

Hello! I'm tryin to use CCXT to get a stream of the trades happening on Bitmex every second, i'm using fetch_trades for it but it looks like i'm getting trades from August 28 instead of

[2018-10-06 13:16] npomfret commented on #3950
https://github.com/ccxt/ccxt/pull/3931/commits/032efcddbc09235f4b66e8179146abc925ec0fa4

[2018-10-06 14:16] elanpang commented on #3679
It reproduced in RN 0.57.1, I reported it to Web3       T.T

[2018-10-06 15:02] npomfret commented on #3950
Also, the  fee currency in orders is _undefined_.  From my data it looks like the currency is always expressed in the quote currency (example below).  I've checked around 100 of my own orders covering buys, sells, fiat pairs, crypto only pairs, partially and fully executed orders.

eg:

[code]

The [website](https://news.quoinex.com/fees/) says:

So for this _ETHBTC_ trade I make:
_amountInQuoteCc

[2018-10-06 15:10] npomfret commented on #3950
https://github.com/npomfret/ccxt/commit/8409cc25b47960b7b9fd897b09c00e630dd3bdab

[2018-10-06 15:34] terrorizers commented on #2764
nor `bitfinex.private_post_position_close({'position_id': 17733587021}` nor `bitfinex.privatePostPositionClose({'position_id': 17733587021})` works, what to do?

[2018-10-06 18:07] brucetus commented on #3954
My apologizes, I didn't realize XMR didn't offer a leverage of 5 and that was what was causing this issue. I can confirm it is working now. Thank you.

[2018-10-06 18:07] #3954 closed

[2018-10-06 20:02] ourarash opened #3956 "How can I use a customized http request function to solve CORS issue for Cordova/Ionic?"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: iOS
- Programming Language version: nodejs
- CCXT version:latest
- Exchange: binance
- Method: fetchMyTrades

I'm using Cordova, which allows [native http calls](https://github.com/silkimen/cordova-plugin-advanced-http) that don't have CORS issue. I would l

[2018-10-06 20:27] npomfret commented on #3950
@kroitor have also added a private get /transactions endpoint.  It's undocumented, but can be used to get deposits and withdrawals... will implement soon

[2018-10-07 11:58] Showgofar opened #3957 "hitbtc2 fetchclosedorders ignore symbol"
- OS: debian
- Programming Language version: php
- CCXT version: latest
- Exchange: HitBtc v2
- Method: fetchclosedorders

Fetch Closed Orders ignore symbol and returns all closed orders but replaces original symbol

[code]

[2018-10-07 16:17] gokuflashdev commented on #3901
On ubuntu works fine ccxt will install without errors. But on windows I get errors :>

Targets\Microsoft.CppCommon.targets(423,5): error MSB6006: Polecenie "CL.exe" z
akończone przez kod -1073741701. [G:\node_modules\keccak\build\keccak.vcxproj]
gyp ERR! build error
gyp ERR! stack Error: `msbuild` failed with exit code: 1

IDK why 3 days ago I installed it but its not work anyway cos was problem w

[2018-10-07 18:47] AadaEa opened #3958 "Okex does not have market symbol OCP/BTC"
Hi

- OS: Linux
- Programming Language version: PHP 7
- CCXT version: 1.17.369
- Exchange: Okex

OCP/BTC exists on Okex : https://www.okex.com/market?product=ocp_btc
OCP/BTC is getting successfully fetched by CCXT when using fetchTickers()
OCP is not subject to any name change in CCXT https://github.com/ccxt/ccxt/search?q=ocp&unscoped_q=ocp

OCP/BTC returns an error when trying to get market info

[2018-10-07 19:58] SavosRU opened #3959 "Bitmex (Javascript for browser) Error [Invalid stopPx for ordType]"
- OS: Mac OS 10.13.6 High Sierra
- Programming Language version: Javascript, Google Chrome 69.0.3497.100 (64-bit)
- CCXT version: '1.17.369' (ccxt.browser.js)
- Exchange: Bitmex
- Method: create_order (for Stop and StopLimit)

Можно по-русски? Вроде тут кто-то писал...
Проблемы с созданием СТОП-ордеров. С маркетными и лимитными нет.
Суть такова.
1)
Имеем код для создания Стоп-Маркет-Ордера:
[code]

[2018-10-07 20:15] thezoug opened #3960 "BitMex Testnet API Keys Not Working?"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: latest
- Exchange: Bitmex
- Method:

I am trying to connect to the BitMex TestNet account, but the API keys do not appear to be working. I have tried to create new keys, copying and pasti

[2018-10-07 22:02] SavosRU commented on #3959
Похоже, разница между API Expolrer и CCXT кроется именно в генерируемом URL для запроса.

Вижу на эксплорере такой адрес:
`curl -X POST --header 'Content-Type: application/x-www-form-urlencoded' --header 'Accept: application/json' --header 'X-Requested-With: XMLHttpRequest' -d 'symbol=XBTUSD&side=Sell&orderQty=20&stopPx=6510&ordType=Stop' 'https://testnet.bitmex.com/api/v1/order'`

И тут тот самый

[2018-10-07 22:18] SavosRU commented on #3959
Сам спросил - сам же и отвечаю!

меняем
`var params = new Array({'stopPx': stop_price});
`
на
`var params = JSON.parse('{"stopPx": '+ stop_price + '}');
`
И ВСЁ ЗАРАБОТАЛО!!!

С стоп-лимитами аналогично

[2018-10-07 22:18] #3959 closed

[2018-10-08 02:29] kroitor commented on #3960
You can't use mainnet API keys for testnet and vice versa, those aren't interchangeable. You should use testnet keys with testnet, mainnet keys with the mainnet.

https://github.com/ccxt/ccxt/issues/2649#issuecomment-418241249

[2018-10-08 02:29] #3960 closed

[2018-10-08 04:33] kroitor commented on #3959
Your initial problem was not in the way the library works, but in the way you understand JavaScript arrays. And this is most likely due to the fact that you're coming from PHP world and you kinda extrapolate your expectations to other languages from your previous PHP experience. In PHP indexed arrays and associative arrays are the same, so in PHP this syntax is absolutely ok:

[code]

In JavaScrip

[2018-10-08 07:29] kroitor commented on #3958
For some reason `OCP` not listed here: https://www.okcoin.com/v2/spot/markets/products. In other words, they do return `OCP` tickers, but they don't return `OCP` market descriptions anywhere. Can't find `OCP/BTC` here either: https://www.okex.com/marketList#market=btc. Until we resolve this, you should not really submit a symbol to `fetchOrderBook` that was not received from `fetchMarkets` or `loa

[2018-10-08 08:30] SavosRU commented on #3959
Big thanks for your answer to my request!

You are right - my previous experience on PHP make me bad service in JS-development.
But I'm learning and getting some results ;-)

Nice job, perfect project!
Good luck!

[2018-10-08 08:42] xcvb74 opened #3964 "Implement stop loss on not supported exchanges"
Hi,

This is more about a question than an issue.
I'm trying to implement stop losses orders (or take profits/trailing) on exchanges that don't support it natively (for example on Kucoin).
I was thinking that I'll create a function to continuously monitore (every 30s/1min to not get API limit or IP ban) a ticker with :
[code]
This function would run in the background of my Python script and as soo

[2018-10-08 11:27] Showgofar opened #3966 "Cobinhood fetch order price"
hello)

- OS: debian
- Programming Language version: php
- CCXT version: latest
- Exchange:Cobinhood
- Method: fetch order

Could you please fix
$price = $this->safe_float($order, 'eq_price');
if eq_price is zero or undefined

price should be set from info->price

[code]

[2018-10-08 11:33] kroitor commented on #3966
https://github.com/ccxt/ccxt/blob/master/php/cobinhood.php#L460

↑ This is the current latest version... From your code it looks like your version is not the latest, despite that you wrote that it is the latest. So, I wonder what's your version of CCXT ?

[2018-10-08 11:37] kroitor commented on #3960
https://github.com/ccxt/ccxt/wiki/FAQ#i-am-calling-a-method-and-i-get-an-error-what-am-i-doing-wrong

Which permissions have you used to create the testnet key? And which method are you trying to call? If you could follow issue opening guides precisely, that would help resolving it quicker...

If you're trying to create an order and you created your API keys with wrong permissions, you will get au

[2018-10-08 11:45] kroitor commented on #2640
[code]

https://docs.bitfinex.com/v1/reference#close-position

<img width="1176" alt="screen shot 2018-10-08 at 14 44 00" src="https://user-images.githubusercontent.com/1294454/46607176-a7c9d780-cb08-11e8-9b92-25bb7b3ddbf7.png">

[2018-10-08 11:58] terrorizers commented on #2640
I have tried exactly that https://github.com/ccxt/ccxt/issues/2764#issuecomment-427583232 but doesn't works, even if I do `params = { 'type': 'market' }` and `bitfinex.private_post_position_close({'position_id': 1779}, params` or even `bitfinex.private_post_position_close({'position_id': 17798, 'type': 'market'})` since it is a margin order...

[2018-10-08 12:04] AadaEa commented on #3958
You're right, if an exchange provides data with `fetchTickers` and not with `fetchOrderBook` then it means that we can't trust the exchange totally. The problem appears to come from Okex so I don't think we should count this as an issue.

I contacted Okex customer support and they said that they don't have the OCP/BTC market available, then they said that they'll make the api team aware of the pro

[2018-10-08 12:10] kroitor commented on #3958
We basically do that check upon your call to fetchOrderBook and throw an exception in case you're supplying an unrecognized symbol like this one. So, the check is already there, you just want to add proper exception handling for that case, or just skip that symbol entirely like you did in your snippet above. We will add additional clarifications to the Manual. Closing this for now if you don't min

[2018-10-08 12:10] #3958 closed

[2018-10-08 12:12] kroitor commented on #2640
@terrorizers do you have an open position for closing in the first place?

[2018-10-08 12:21] kroitor commented on #3966
[code]

[2018-10-08 12:23] #3966 closed, assigned to kroitor

[2018-10-08 12:31] terrorizers commented on #2640
is this a new kind way of insulting?

[code]

[2018-10-08 12:32] ChTejaswini commented on #1310
how u added language switching in this project

[2018-10-08 13:04] kroitor commented on #2640
Not really, it's a way of solving issues quickly saving time for everyone. That's mostly your time, by the way, but mine as well.

Having your code and verbose output, it's clear that what you're trying to do is not in line with how exchanges actually work. You can't open a market order and close it. Market orders cannot be closed in the first place, because they don't stay open. They are closed i

[2018-10-08 13:16] terrorizers commented on #2640
ok yes i confuse badly, but I don't see a close_open_positions there, nor a fetch_open_positions to get id, my problem is that I try to close an open position doing a new one with the opposite side and same amount but that doesn't works because the amount is less cause fee, so I'm looking for the right way to close a position, and I don't find it there.

yes, sorry you are not insulting, is that t

[2018-10-08 13:32] kroitor commented on #2640
Have you tried actually doing this?

[code]

Because, it's there:

[code]

There's just three methods that have the word "position" in them, and all of them are listed there. So, to get an id of an open position, you need to use `private_post_positions`:

[code]

That will return your active (open) margin positions, if any.

[2018-10-08 13:34] terrorizers commented on #2640
ok, seems I need to sleep way more! :/ thanks XD

[2018-10-08 13:38] kroitor commented on #3960
@thezoug does my previous comment solve the issue for you?

[2018-10-08 13:49] DevAza opened #3967 "The API returns the tag address even if it does not exist."
Greetings
I attach screenshots:
1) /public/getcurrencies
/account/getdepositaddress
![2018-10-08_15-19-49](https://user-images.githubusercontent.com/26380555/46612538-86251c00-cb19-11e8-975d-bdca19acfa5e.png)
2) Screenshot Deposit LSK
![2018-10-08_15-20-04](https://user-images.githubusercontent.com/26380555/46612539-86251c00-cb19-11e8-93d1-a12c5387c77a.png)
3) Screenshot Deposit XRP
![2018-10-08_1

[2018-10-08 13:58] kroitor commented on #3967
Which exchange is it?

[2018-10-08 14:02] DevAza commented on #3967
This not exchange. This is withdraw

[2018-10-08 14:09] #3967 closed

[2018-10-08 14:10] kroitor commented on #3967
This is an exchange. The Bittrex exchange to be precise. Didn't see it, as it was only mentioned on one of the screenshots with very little grey letters...

Anyways, the proper way would be to:

1. update to version 1.17.374.
2. use `fetchDepositAddress` according to the Manual:

Let us know if that does not answer your question.

P.S.

Don't post screenshots next time please, follow these guides

[2018-10-08 14:56] SavosRU opened #3968 "Bitmex and JavaScript (browser) - Can't fetch orders"
- OS:  Mac OS 10.13.6 High Sierra
- Programming Language version:   Javascript, Google Chrome 69.0.3497.100 (64-bit)
- CCXT version:   '1.17.369' (ccxt.browser.js)
- Exchange:   Bitmex
- Method: fetch_orders() and fetchOrders()

Hi!
I can't get any orders via fetch_orders() or fetchOrders(). My code is:
[code]
And result is BAD:
![image](https://user-images.githubusercontent.com/6779356/46615911-1

[2018-10-08 15:09] kroitor commented on #3968
I can't get any orders via fetch_orders() or fetchOrders(). My code is:

[code]

See the declaration of fetchOrders in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#querying-orders it has 4 arguments, not 2, and `params` is the last one (4th argument).

Yep, but that was just by a lucky coincidence.

[2018-10-08 15:10] #3968 closed

[2018-10-08 16:58] SavosRU commented on #3968
omg! My mistake - you are right!

![image](https://user-images.githubusercontent.com/6779356/46622816-7109b680-cb34-11e8-9bd2-6df6cabbb0b8.png)

Thanks again

[2018-10-08 17:09] kroitor commented on #3957
Hi! Which version of CCXT is it?

[2018-10-08 18:24] ourarash commented on #3956
In case somebody else run into this problem, here is the solution that worked for me:

`let exchange = new ccxt["poloniex"]({
      enableRateLimit: true,
      apiKey: options.apiKeySecret.apiKey,
      secret: options.apiKeySecret.secret,
      fetchImplementation:ccxtFetchImplementation //Overloaded function that uses Native http calls
    });
`

And:

`ccxtFetchImplementation(url, options) {

[2018-10-08 18:35] #3956 closed

[2018-10-08 23:12] calbertuk opened #3971 "Random endpoint error in Kucoin https://api.kucoin.com/v1/market/open/coins 502"
Programming language: NodeJS
CCXT Latest version

When trying to fetch an order on Kucoin, I get this error:

`Error: kucoin GET https://api.kucoin.com/v1/market/open/coins 502 api.kucoin.com | 502: Bad gateway not accessible from this location at the moment
`

Nowhere in my code am I referencing that endpoint (I'm only calling cancelOrder, fetchOrder, createLimitSellOrder), can you just confirm t

[2018-10-09 05:51] kroitor commented on #3956
@ourarash thx for reporting back, appreciate that!

[2018-10-09 07:16] jackyxie opened #3972 "okex param http_build_query &current_page meet a weird symbol"
- OS: Linux
- Programming Language version: PHP
- CCXT version: latest
- Exchange:OKEx
- Method: sign

In OKEx and okcoinusd, param $body use http_build_query(), “&curren” substring of "&current_page" would be turns into weird symbol  "¤t_page"

Problem:
https://stackoverflow.com/questions/41335786/php-curren-string-turns-into-weird-symbol

[2018-10-09 12:45] Showgofar commented on #3966
version was
$version = '1.17.369';

[2018-10-09 12:49] Showgofar commented on #3957
$version = '1.17.369';
just checked the same situation at
$version = '1.17.375';

[2018-10-09 16:46] kroitor commented on #3957
@Showgofar, basically, in my previous answer I tried to show that current version does not have the issue that you're referring to. So, at this point, I think it would be reasonable to make sure that your actual runtime version is up to date like so:

[code]

↑ What does this code snippet say when you run it in your PHP?

[2018-10-09 18:44] kroitor commented on #3966
Nope, I don't want you to look up that variable in the Exchange.php file. I want to actually execute that code to make sure that no other installation of a previous version of the library is interfering with your actual runtime environment, therefore you have to run the above script in your php, include ccxt and print_r the version as shown above. Let us know which number it is.

[2018-10-09 18:58] kroitor commented on #3972
@jackyxie this is not how we format it, this is how your environment is rendering that sequence of characters. The same is told in the link you posted, so I don't see this as an issue with the library, more like an issue with your understanding PHP output rendering in a browser-like environment. When you print logs into a html page – that page will render with `¤` despite that the output itself is

[2018-10-09 18:58] #3972 closed

[2018-10-09 18:58] kroitor commented on #3972
[code]

[2018-10-09 19:58] xcvb74 commented on #3964
Okay so I'm progressing little by little on this. How would you modify this code to replace fetch_ticker by fetch_order_book and combine with the above to retrieve bid, ask & spread?
[code]
And add a condition event to trigger an alert when bid reaches a specific value?
Thanks for any help

[2018-10-09 20:58] kroitor commented on #3964
[code]

[2018-10-10 06:40] is0initial commented on #2968
@kroitor, Thanks for the awesome work. [4]

[2018-10-10 06:40] is0initial commented on #2968
+0.24 ltc - it's me.

[2018-10-10 08:58] ExchangeAssets opened #3975 "New exchange - https://exchange-assets.com"
Please support to add ExchangeAssets

Website: https://exchange-assets.com/
API Doc: https://exchange-assets.com/en/?api_public

Thanks!

[2018-10-10 11:48] Showgofar commented on #3966
Here is my mistake... i see that in version from 4th of October it was fixed..
seems that exactly that working script wasnt restarted after update.

[2018-10-10 11:49] Showgofar commented on #3957
this code returns
1.17.375

[2018-10-10 16:38] SavosRU opened #3976 "Bitmex Bulk EDIT of orders (JavaScript)"
- OS:    Mac OS 10.13.6 High Sierra
- Programming Language version:    Javascript, Google Chrome 69.0.3497.100 (64-bit)
- CCXT version:    '1.17.369' (ccxt.browser.js)
- Exchange:    Bitmex
- Method:    Bulk Orders Upate (edit)

Hi!
When I'm using in my code on Bitmex (JavaScript for browser) such function like
**exchange.private_post_order_bulk(params)** for Bulk Order Creation - all ok!
I'm read

[2018-10-10 17:07] AlexeyZelenin commented on #56
https://github.com/lfern/ccxt/blob/feature/websockets-multiple/examples/js/websocket-orderbook.js

https://github.com/lfern/ccxt/tree/feature/websockets-multiple#supported-cryptocurrency-exchange-markets

[2018-10-10 17:34] SavosRU commented on #3976
Hm...
I try to find this function via code:
[code]
And can see in log this situation:
![image](https://user-images.githubusercontent.com/6779356/46754513-51f15d00-cccb-11e8-8901-60a6e4650f05.png)

But when I use my custom function
[code]
I see Exception like
**ReferenceError: private_put_order_bulk is not defined**

[2018-10-10 17:52] SavosRU commented on #3976
OMG! my mistake again... sorry!

[2018-10-10 17:52] #3976 closed

[2018-10-10 18:40] xcvb74 commented on #3964
Thanks, it is working!

[2018-10-10 18:40] #3964 closed

[2018-10-11 01:05] speedmax commented on #2975
+1

Here is the API documentation provided by the exchange

https://github.com/coinsuperapi/API_docs_en

[2018-10-11 05:34] scoshil opened #3978 "BTC Markets now has an all symbols endpoint for fetchOpenOrders and fetchOrders"
As described above, and here: [https://github.com/BTCMarkets/API/wiki/Trading-API#open-orders-1](url)
Please update when you get a chance!

[2018-10-11 06:27] ZGTOP opened #3979 "New exchange - https://www.zg.top"
Please support to add Exchange

Website: https://www.zg.top
API Doc: https://www.zg.top/api

Thanks!

[2018-10-11 09:26] so2liu opened #3980 "How can I give a stop market order in bitmex?"
- OS: Ubuntu
- Programming Language version: Python 3
- CCXT version: newest
- Exchange: Bitmex
- Method:

How can I give a stop market order in Bitmex? Because of overloading probability, stop market order is better than watching and giving order in time.

Thank you very much.

[2018-10-11 12:56] leodu0926 opened #3981 "Issue with bitfinex trailing stop"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: windows 10
- Programming Language version: python 3.6
- CCXT version: 1.17.314
- Exchange: bitfinex
- API: V1
- Method: private_post_order_new

hi, I'd like to creat 'trailing stop' orders,but it seems there can not find a way.

I tried this:

order_info =

[2018-10-11 13:08] #3981 closed

[2018-10-11 15:17] rfcarvalho opened #3982 "New Pair - Mercado Bitcoin - BRL/XRP"
Hello, @kroitor!

I've been using your library, especifically the Mercado Bitcoin class . So, I would like to try another altcoin that not was included in you library. It´s the pair BRL/XRP. Could you add this pair please?

Thanks,
Regards.

[2018-10-11 16:57] 4knahs opened #3984 "Wrong datetime for exchanges for hitbtc2 & coinbase"
- OS: Ubuntu 17.04
- Programming Language version: Py
- CCXT version: 1.17.113
- Exchange: hitbtc2 and coinbase
- Method: fetch_tickers

Basically the datetime field for these two exchanges is incorrect. For coinbase the timestamp is seconds and thus its miscalculated as the conversion assumes milliseconds. In the case of hitbtc2, the timestamp is 0 and thus the date time gets reported as 1970.

E

[2018-10-11 22:02] adrianchifor opened #3985 "Binance: TypeError when fetching deposits"
Just updated to `1.17.376` and `fetch_deposits()` stopped working on Binance. Getting the following stack trace:
[code]

Worked ok on `1.17.355`.

- OS: Linux
- Programming Language version: Python 3.7
- CCXT version: 1.17.376
- Exchange: Binance
- Method: `fetch_deposits()` and maybe `fetch_withdrawals()`

[2018-10-12 07:43] Showgofar opened #3986 "Poloniex Precision"
- OS:debian
- Programming Language version: php
- CCXT version: 1.17.375
- Exchange: Poloniex
- Method: all

Hi
Could you please check what happens with poloniex amount precision (why its capped?)
            $precision = array (
                'amount' => 6,
                'price' => 8,
            );

Poloniex support 8 digits in amount precision
Thank you

[2018-10-12 08:03] lliypuk opened #3987 "Bitmex 403 error"
- OS: Ubuntu 16.04
- Programming Language version: PHP 7.2
- CCXT version: 1.14.62
- Exchange: Bitmex
- Method: fetch_balance

Hi! I have problem with Bitmex, I think, maybe they have made Ban IP address server, becouse when I make request on local machine it's working fine. I wrote to support and they asked me, that a error I get and I don't know, how I can explain situation

This my code:

`$api

[2018-10-12 08:34] npomfret opened #3988 "some advice on error handling in JS"
Could you add some examples to the manual that show how to detect what the cause of an exception is?

I'm seeing some errors being thrown and in the stack i see things like `[Function: OrderNotFound]` and `[Function: RequestTimeout]`.  It would be nice to be able to trap these in order to respond to them appropriately.  How do you do this in javascript?

[2018-10-12 09:14] amit2103 commented on #56
Hey that seems to be a lot of exchanges...Are all of them supported via WS ?

[2018-10-12 09:47] lliypuk commented on #3987
Here is the support answer about error 403:
Yes, however if you implement generic error handling, it will help you understand why you receive this error.

[2018-10-12 12:47] TechupBusiness commented on #3951
I have the same issue... maybe the nonce control should be implemented for each exchange individually (allowing more than 1 call per sec :-) ).

[2018-10-12 13:18] 4knahs commented on #3984
Actually the hitbtc2 has its timestamp set to 0.

[2018-10-12 14:47] IMikhelson commented on #3951
This is not a duplicate (if you are referring to issue #788).  There, the problem was potentially the system clock, and further the user was not using CCXT.  My issue is not with creating a custom nonce, but rather that it would be nice if the same command could translate to all exchanges, or if it didn't, then to include a list of the ones that have to be created manually.

[2018-10-12 16:55] adi90x commented on #3847
Any update on this issue ?

[2018-10-12 17:43] TechupBusiness commented on #3951
I totally agree with you. But according to https://github.com/ccxt/ccxt/issues/788 seconds should work. I would suggest to mention this issue with some exchanges and milliseconds at least in the docs (there it sounds like milliseconds is the best solution to have more than 1 call per second, for coinbasepro this "rule" doesn't apply - see below).

I couldn't find any information in the docs regard

[2018-10-13 13:09] #3985 closed

[2018-10-13 13:14] kroitor commented on #3984
@4knahs can you post your verbose output for the above call?

[code]

? Because I'm not seeing the above symptoms with the most recent version 1.17.378 when I do this:

[code]

All datetimes are within 2018:

<img width="461" alt="screen shot 2018-10-13 at 16 13 42" src="https://user-images.githubusercontent.com/1294454/46905902-02957180-cf03-11e8-9943-c7b829608771.png">

[2018-10-13 13:34] kroitor commented on #3980
https://github.com/ccxt/ccxt/blob/master/examples/py/bitmex-create-order.py

[2018-10-13 13:34] #3980 closed

[2018-10-13 13:37] npomfret commented on #3988
@kroitor perfect, thanks

[2018-10-13 17:26] TechupBusiness opened #3989 "Gdax / CoinbasePro throws error "ExchangeError" instead of "OrderNotFound""
- CCXT version: 1.17.379
- Exchange: gdax / coinbasepro
- Method: cancelOrder

Hi there, unfortunately coinbase is throwing the wrong error according to the message which is "coinbasepro order not found".

Code piece (with debugger information in gray)
![image](https://user-images.githubusercontent.com/38460054/46908060-0e8e2d00-cf1d-11e8-954c-1baea5840eef.png)

Please see exception object details

[2018-10-13 19:54] kosmodromov opened #3990 "Base field doesn't match with baseid"
- OS: MacOS 10.13
- Programming Language version: Python 3.6.4
- CCXT version: 1.17.379
- Exchange: Yobit
- Method: fetch_markets()

fetch_market returns incorrect base field for PUTIN coin :)

[code]

However fetch_ticker returns correct value

[code]

[2018-10-14 02:26] #3989 closed, assigned to kroitor

[2018-10-14 08:52] angyvolin opened #3992 "Kuna. Fix fetchMarkets() baseId/quoteId parsing issues"
- OS: OS X
- Programming Language version: php@7.2
- CCXT version: 1.17.381
- Exchange: Kuna
- Method: fetchMarkets()

Current implementation of `kuna::fetchMarkets()` has some parsing issues such as invalid **EURS/URS** market and *null* symbol in *ETH/BTC* market:
[code]

Fixed in #3991.

[2018-10-14 10:14] TechupBusiness commented on #3989
Thanks! That was fast :+1:

[2018-10-14 13:11] vicxyz1 commented on #3986
Same issue discovered.
Trying to sell max available, I still remain with some useless amount in balances as it truncates the units to sell.

[2018-10-14 19:58] bitnom opened #3994 "How to share rate limit between multiple scripts?"
Versions not really relevant. This could be a feature request except that I'm not asking for that. I want some input on how this might be done. The rate limiter in CCXT is good but what if I have multiple scripts using CCXT? They need to share the same rate limit. Where in the code should I look to make a cache or constant? How would you do it?

[2018-10-14 21:35] TensorTom opened #3995 "Bitmex Rate Limiter Not Working Good I think"
- OS: Centos 7
- Programming Language version: PHP 7.2
- CCXT version: 1.17.379
- Exchange: Bitmex
- Method: $exchange->fetch_balance();

I keep getting banned from the Bitmex API. I run fetch_balance in a loop once every 10 minutes for each of my users with a saved API key. `enableRateLimit` is set to `true`

[2018-10-14 21:40] TensorTom commented on #3994
I come across this error when trying to submit a new order using `create_order()`. Verbose output:

`Request: Array ( [0] => GET [1] => https://www.bitmex.com/api/v1/instrument/activeAndIndices [2] => Array ( ) [3] => ) Response: Array ( [0] => GET [1] => https://www.bitmex.com/api/v1/instrument/activeAndIndices [2] => 403 [3] => [4] => Array ( [server] => Array ( [0] => awselb/2.0 ) [date] => Arr

[2018-10-14 21:41] TensorTom commented on #3995
I come across this error when trying to submit a new order using `create_order()`. Verbose output:

`Request: Array ( [0] => GET [1] => https://www.bitmex.com/api/v1/instrument/activeAndIndices [2] => Array ( ) [3] => ) Response: Array ( [0] => GET [1] => https://www.bitmex.com/api/v1/instrument/activeAndIndices [2] => 403 [3] => [4] => Array ( [server] => Array ( [0] => awselb/2.0 ) [date] => Arr

[2018-10-14 21:49] #3984 closed

[2018-10-14 21:53] kroitor commented on #3957
That's weird, I don't really see any of the symptoms you described above. Are you sure that the PHP environment you used for running the version snippet is the same PHP environment that does the order fetching?

[2018-10-15 04:10] dingyaguang117 opened #3996 "Python fetchOrderBook memory leak"
- OS: MacOS/Ubuntu
- Programming Language version: Python 2.7.10
- CCXT version: 1.17.373
- Exchange: All
- Method: fetchOrderBook

Memory increase so fast, and seem never be recycled

[2018-10-15 04:32] dingyaguang117 commented on #3996
this is the objects increase after each invoke(by pympler)
[code]

[2018-10-15 05:06] dingyaguang117 commented on #3996
seem load markets used many memory

[2018-10-15 14:37] TensorTom opened #3997 "How to catch Bitmex server overloaded error?"
- OS: Linux
- Programming Language version: PHP 7.2 or Python 3
- CCXT version: latest
- Exchange: Bitmex
- Method: place order

Can someone please show me how to catch the Bitmex server overloaded error? I haven't encountered it to see the error yet but I know it happens and that I need to account for it in my code and do retries.

Thank you

[2018-10-15 15:46] Showgofar commented on #3957
absolutely
more over there is no exchange specific code.
Exchange name is parameter
this works fine except hitbtc

[2018-10-15 17:04] TechupBusiness opened #3998 "GDAX / CoinbasePro: cancelOrder throws ExchangeError 'Order already done'"
- OS:
- Programming Language version:
- CCXT version: 1.17.383
- Exchange: gdax/coinbase
- Method: cancelOrder

If an order is executed successfully already, cancelOrder throws an ExchangeError  'coinbasepro Order already done'

![image](https://user-images.githubusercontent.com/38460054/46966095-049b3400-d0ad-11e8-9cf8-5c5be1eaf06b.png)

![image](https://user-images.githubusercontent.com/38460054

[2018-10-15 17:12] TechupBusiness opened #3999 "GDAX/ Coinbasepro: cancelOrder on open order throws exception "undefined""
- CCXT version: 1.17.383
- Exchange: gdax/coinbasepro
- Method: cancelOrder

When I create an order and cancel it right after, an exception `undefined` is thrown. But the order is getting deleted (checked it in the webinterface).

Notes: the exception occurs when running the line for `test3`. It's value is `undefined`.
![image](https://user-images.githubusercontent.com/38460054/46966334-bb97af80-d

[2018-10-15 17:24] TechupBusiness opened #4000 "Bitstamp: Order status 'canceled' is 'Canceled' (uppercase)"
- CCXT version: 1.17.383
- Exchange: bitstamp
- Method: fetchOrder

Issue: Order status 'canceled' is 'Canceled' (uppercase)

While checking the bitstamp.js of the ccxt project:
[code]

I guess the status is simply missing .toLowerCase()

[code]

[2018-10-15 23:44] abletaz opened #4001 "HitBTC order symbol + price + quantity mapping wrong in results from fetchOpenOrders"
For example - see how in the raw data, the symbol is EOSETH, yet ccxt maps it to BTC/USDT, etc:

[code]

- OS: Windows
- Programming Language version: Node JS
- CCXT version: 1.14.289 (just ran npm update on it)
- Exchange: hitbtc2
- Method: fetchOpenOrders

[2018-10-16 00:42] abletaz commented on #4001
my mistake ... closing.

[2018-10-16 00:42] #4001 closed

[2018-10-16 05:06] #3998 closed

[2018-10-16 05:13] mohit-lala opened #4003 "kucoin fetchOrderStatus not wotking"
Previous:
  async fetchOrderStatus (id, market = undefined,) {
        let order = await this.fetchOrder (id, market);
        return order['status'];
    }

Some exchanges require type of the order also to find its status.
    async fetchOrderStatus (id, market = undefined,params={}) {
        let order = await this.fetchOrder (id, market,params);
        return order['status'];
    }

[2018-10-16 05:18] #4000 closed

[2018-10-16 05:18] #4003 closed

[2018-10-16 05:59] kroitor commented on #3997
1. Update to CCXT 1.17.386
2. Do this:

[code]

[2018-10-16 08:40] siberianguy opened #4005 "bitfinex2 implementation misses /order/id/trades endpoint"
It looks like Bitfinex v2 implementation lacks an [order trades endpoint ](https://docs.bitfinex.com/v2/reference#rest-auth-order-trades). Or am I missing something?

[2018-10-16 09:27] itsmemittal opened #4006 "Version Diff between 1.11.147 and 1.17.388."
- OS: Windows
- Programming Language version: JS
- CCXT version: 1.11.147
- Exchange: Poloniex, Bitfinex
- Method: CreateOrder,fetchMarkets

I am comparing the methods between 1.11.147 and 1.17.388 and found difference would you please help why it is done?

Bitfinex-
CreateOrder Method
PriceToPrecision and AmountToPrecision is commented in 1.11.147 but uncommented in 1.17.388

Poloniex -
FetchMark

[2018-10-16 10:36] djoffrey commented on #56
@lfern hi，could you please add an example of binance websocket fetch orderbook ?

[2018-10-16 12:37] kroitor commented on #4005
Nope, it doesn't look like that:

- https://github.com/ccxt/ccxt/blob/master/js/bitfinex2.js#L101
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/bitfinex2.py#L106
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/async_support/bitfinex2.py#L106
- https://github.com/ccxt/ccxt/blob/master/php/bitfinex2.php#L102

The Manual, I guess: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-

[2018-10-16 12:37] #4005 closed

[2018-10-16 14:38] mrmetech commented on #3899
Right forcing them to pay for the data i think coingecko or coinlib are a better solution just my opinion though

[2018-10-16 14:39] mrmetech commented on #3899
The free tier doesn't give shit imo and ya

[2018-10-16 14:55] kroitor commented on #4006
We've switched to a new method for precision formatting, namely, `decimalToPrecision / decimal_to_precision`:

- https://github.com/ccxt/ccxt/search?q=decimal_to_precision&type=Issues

- https://github.com/ccxt/ccxt/issues/3986
- https://github.com/ccxt/ccxt/issues/3706
- https://github.com/ccxt/ccxt/issues/3688
- https://github.com/ccxt/ccxt/issues/2706

Same reason as for Bitfinex.

[2018-10-16 14:55] #4006 closed

[2018-10-16 14:58] TechupBusiness commented on #3899
To be honest: I dont understand the pro free tier... is it missing even the current crypto prices?

Indeed there are anyway good alternatives. I knew CryptoCompare, thanks for the other two. So we have:
- https://www.cryptocompare.com/api
- https://www.coingecko.com/api/docs/v3
- https://coinlib.io/api/docs

[2018-10-16 15:01] kroitor commented on #3899
@mrmetech , @TechupBusiness your help with testing https://github.com/ccxt/ccxt/pull/3565 is really appreciated! )

More about it:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-build--run-tests-on-your-local-machine

[2018-10-16 16:21] mrmetech commented on #3899
Ya am working on a site like coinmarketcap i will be sure i add it when am done it

[2018-10-16 16:25] semihyesilyurt opened #4007 "Btcturk Return Html Content"
Btcturk giving 403

- OS: Win10
- Programming Language version: 3.7
- CCXT version: last
- Exchange: btcturk
- Method: get_balance()

[2018-10-16 17:07] kroitor commented on #4007
Can you please follow [these guides]() and post your verbose request/response?

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Also, what exactly from the Manual have you tried already to workaround this issue? CORS ? Proxies? VPN? Basically, in order to help you we need much more detail.

[2018-10-16 17:08] kroitor commented on #4007
https://github.com/ccxt/ccxt/wiki#troubleshooting

[2018-10-16 22:58] npomfret opened #4008 "how do i get my PR merged?"

[2018-10-16 23:06] kroitor commented on #4008
https://github.com/ccxt/ccxt/pull/3965

It requires a parser for https://quoine.zendesk.com/hc/en-us/articles/360004828252-Minimum-withdrawal-amount-Minimum-order-quantity to be rewritten as we've deprecated hardcoding. Hope to rewrite it asap.

[2018-10-16 23:06] #4008 closed

[2018-10-17 02:59] dingyaguang117 commented on #3996
Thank you very much!
My program fetch a lot of different exchanges' order. so I have to create a lot of exchange instances.

can you try the code below, just create exchange every time. the memory increase even I delete the instance immediately

[code]

this is the result
[code]

[2018-10-17 07:51] TechupBusiness commented on #3999
I've just debugged once so far such a strange behavior... but this one tops it...
First breakpoints that must hit didn't (sometimes). Second after a while and lots of iterations the bug started to disappear (and reappear). So I tried to catch it with console output because sometimes it made a difference. But no success... I will close this issue and catch it in my own code in case it happens again

[2018-10-17 07:51] #3999 closed

[2018-10-17 07:52] lfern commented on #56
Hi @djoffrey  , in `examples/js/websocket-orderbook.js` you can find an example to fetch orderbook. Execute it with these parameters and you could fetch and get events from orderbook info:

[code]
First parameter is the exchange id, second/third are api-key/secret (not required by binance), fourth is the number of bids/asks to get and fifth and following are the symbol to get.

[2018-10-17 08:58] npomfret commented on #4008
@kroitor thanks for the response.

There were already hard coded values in there for min order sizes which were incorrect.  I have fixed them and added more.

I appreciate you would prefer to parse the web page, but can this not be done as a future enhancement?

There are lots of other fixes in here.  I needed to make them as the implementation was too buggy for me to use to trade with.  I think t

[2018-10-17 09:05] 7013145 commented on #3994
It will depend on what exactly you are trying to achieve. Almost definitely, the solution is not extending ccxt library functionality.

Maybe you can thread your scripts and use a global variable to hold last request timestamps, then everytime you make a request in your code (any script) you lock the variable so other scripts cannot proceed with queries before the lock is released from the first c

[2018-10-17 10:10] kroitor commented on #4008
@npomfret thx to you for your involvement! I'll do my best to merge it in a day or two.

[2018-10-17 10:29] Matoran opened #4011 "fetch_tickers use inactive markets"
Hi,

when we use fetch_tickers we have some inactive markets (like HSRBTC in binance). Is it wanted ? Otherwise i could fix it by using self.markets to filter each ticker.

[2018-10-17 10:43] kroitor commented on #4011
Hi!

Yes, this is by design, because the library should not decide what they user might or might not need. Therefore we don't filter those results, unless this is absolutely necessary. In other words, we tend to return as much as possible from the exchange. We believe whatever filtering is necessary – should be applied in userland after receiving the result. Hope this answers your question. But st

[2018-10-17 10:43] #4011 closed

[2018-10-17 12:15] asyade commented on #2709
I just started a re-implementation of CCXT, you can follow my advancement from my fork asyade/ccxt, all help and suggestion are welcome (i'm at the very beginning of the project)

[2018-10-17 12:38] TechupBusiness commented on #56
Hey guys, and how about FIX API ? CoinbasePro supports it and it would open the doors to classical (stock/...) trading exchanges. http://en.wikipedia.org/wiki/Financial_Information_eXchange Dont know which other Crypto-Exchanges support this standard.

[2018-10-17 13:47] czonghui opened #4012 "how to get future ohlcv data in exchange okex?"
how to get future ohlcv data in exchange okex?

[2018-10-17 18:25] colman-mbuya opened #4013 "OKEX Futures: Allow configuration of match_price when creating futures orders"
Currently, it's not possible to match best counter party price when placing futures orders on OKEx. `match_price` is hard-coded to 0.  Is it possible to allow this to be specified when creating an order, for example through the params dict in python? Thanks for the awesome work btw!

[2018-10-17 18:26] #4013 closed, assigned to kroitor

[2018-10-17 18:29] kroitor commented on #1592
@fedecaccia it is covered briefly here: https://github.com/ccxt/ccxt/wiki/Manual#exchange-properties

And here: https://github.com/ccxt/ccxt/wiki/Manual#requesttimeout

[2018-10-17 18:37] fedecaccia commented on #1592
@kroitor txs!

[2018-10-17 22:51] Arrmlet opened #4014 "Bitfinex longs and shorts"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2018-10-17 22:51] #4014 closed

[2018-10-17 22:57] Arrmlet opened #4015 "Longs and shorts on bitfinex"
- Ubuntu 16.04:
-Python 3.6
- newest :
- Bitfinex:
- fetchTicker:

Hi everyone, I have question which can’t give me sleep. How I can count longs and shorts on bitfinex like on tradingview BTCUSDLONGS(or others) charts. I have tried all methods with ccxt library, but can’t find the answer.
Thank you for attention:)

[2018-10-18 06:30] ngugcx opened #4016 "It would be nice to introduce an optional key/value cache into ccxt"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

The key/value cache layer can be used to cache token/currency/market info or other stuff.
It would be nice if we can pass a redis or memcache instance to CCXT. The js/py/php base classes

[2018-10-18 14:04] kroitor commented on #4015
@Arrmlet have you tried implicit methods? https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[2018-10-18 14:09] presence35 opened #4018 "HitBTC order not found"
- OS: linux
- Programming Language version: php
- CCXT version:  1.17.393
- Exchange: HitBTC
- Method: fetchOrder

Hey. Thanks for your work. I'm getting  "order not found" even tho the order exists. In the verbose mode it spits out the orders at the bottom of the log.  I've tried looking thru some other examples but I can't figure out what is wrong. The has['FetchOrder'] returns true. Any help wo

[2018-10-18 15:28] presence35 commented on #4018
How do I change ccxt to check v2 of Hit api?

[2018-10-18 15:35] kroitor commented on #4018
[code]

↓

[code]

[2018-10-18 15:41] presence35 commented on #4018
Awesome.  That worked!  Thx man.

[2018-10-18 15:44] #4018 closed

[2018-10-18 16:12] Arrmlet commented on #4015
@kroitor  I can't find this info in implicit methods

[2018-10-19 01:41] kroitor commented on #4015
@Arrmlet that section of the Manual has an example showing how to list all implicit methods for an exchange instance – have you tried running that snippet of code and looking for the method you want in the output?

[code]

You're looking for the following methods:

[code]

See the arguments for them here: https://docs.bitfinex.com/v2/reference#rest-public-stats (you should read it)

The Manual als

[2018-10-19 01:41] #4015 closed

[2018-10-19 03:51] ramoslin02 opened #4019 "the gateio exchange has provided the candlestick/kline api"
Hi, the gateio exchange has provide the kline api for users, but it seems that the ccxt does not implemented this function. Thanks

- OS: macOX
- Programming Language version: Python
- CCXT version: 1.17.213
- Exchange:gateio
- Method:fetch_ohlcv

[2018-10-19 04:13] Arrmlet commented on #4015
@kroitor Thank you very match:)

[2018-10-19 05:04] #4019 closed

[2018-10-19 05:05] ramoslin02 commented on #4019
I see the function has implemented.

[2018-10-19 05:41] Ethernext opened #4020 "Pip fails to install (anaconda)"
- OS: Mac High Sierra
- Programming Language version: Python(Anaconda)
- CCXT version: -//-
- Exchange: -//-
- Method: pip install ccxt

I've checked all the listed tickets, but still experience the problem.

I've updated pip, gcc, everything that could possible upgrade...

[code]

[2018-10-19 07:24] czonghui opened #4021 "How to get funding rate data on bitmex"
- OS: win10
- Programming Language version: py 2.7 on anaconda 5.2 32bit
- CCXT version: 1.17.371
- Exchange: bitmex
- Method: fetch_fees()

Code

import ccxt
mktBitmex = ccxt.bitmex()
ww=mktBitmex.fetch_fees()
dfww=pd.DataFrame(ww)
dfww.to_csv('mktBitmex_fee_CCXT.csv', sep=',', encoding='utf-8')

Result

I run the above code and get empty csv file.  After debugging I find the code runs to  the fo

[2018-10-19 08:22] DmitryVil opened #4022 "Binance exhange instance all markets have 'active' flag marked False"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows server 2016
- Programming Language version: Python
- CCXT version: 1.17.394
- Exchange: Binance
- Method: binance.loadMarkets()

Good morning,

All markets in binance exchange have flag 'active' = False.

![image](https://user-images.githubuserconte

[2018-10-19 11:26] #4022 closed, assigned to kroitor

[2018-10-20 13:27] gryffus opened #4025 "Wrong sell price for cheap currencies on Binance via freqtrade"
- OS: Linux (tested on Centos and SUSE)
- Programming Language version: Python 3.6.3 and Python 3.6.5
- CCXT version: ccxt==1.17.363 and ccxt==1.17.376
- Exchange: Binance
- Method: create_limit_sell_order()

I am using freqtrade and i hit stoploss, but the bot tries to sell at a price higher than current price.

    Price of the bid posted on market was 4e-06
    Price of the bid posted on market

[2018-10-20 14:01] kroitor commented on #4025
@gryffus in order to help we need your verbose request/response and the code to reproduce the issue. Unfortunately, we're not responsible for freqtrade, but we can help with CCXT though. Anyways, to be able to help you,  we need you to follow these guides literally: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-10-20 14:03] kroitor commented on #4021
You cannot – they don't serve that info from their API and don't have those limits documented anywhere in their docs, so you will have to hardcode those limits by trying manually on their website for currencies you need and use minimal values from there. Hope this answers your question.

[2018-10-20 14:03] #4021 closed

[2018-10-20 14:06] kroitor commented on #4020
Why using the anaconda python, not the default one that is built-into macos ? Anaconda is known for screwing your paths with python installations.

<img width="797" alt="screen shot 2018-10-20 at 17 05 32" src="https://user-images.githubusercontent.com/1294454/47256515-6501eb00-d48a-11e8-98a6-cea7bbbbf545.png">

https://www.google.ru/search?q=anaconda%2Flib%2Fgcc%2Fx86_64-apple-darwin11.4.2%2F4.8.

[2018-10-20 14:06] #4020 closed

[2018-10-20 15:50] gryffus commented on #4025
@kroitor request/response was provided, but i was not able to reproduce this so far with a test case

[2018-10-20 16:40] kroitor commented on #4025
@gryffus you're trying to sell 5549.445 POE for a price of 0.0000177 POE/BTC.

If you take the info on market precision into consideration https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits and run the following example, then it should show the following:

[code]
[code]

So, that particular POE/BTC market has the following limits and precision:

[code]

Note, that the limit on amount is

[2018-10-20 16:48] gryffus commented on #4025
I have actually already tried this:

Python 3.6.5 (default, Mar 31 2018, 19:45:04) [GCC] on linux
Type "help", "copyright", "credits" or "license" for more information.

...             'secret': ''
...                   })

5555

...     if ct.markets[pair]['precision']['price']:
...         symbol_prec = ct.markets[pair]['precision']['price']
...         big_price = price * pow(10, symbol_prec)

[2018-10-20 16:51] kroitor commented on #4025
No you haven't... We need your verbose request/response which is not shown in the above message. From the request it should be clear which particular values got sent towards Binance and which particular values they replied with – that in turn would show where the the issue is – either on CCXT side or Binance side.

[2018-10-20 16:54] kroitor commented on #4025
Basically, we need you to simply add this line to the above code in the instantiation section in the very beginning of it:

[code]

Keep the rest of the above snippet unchanged and rerun it again and dump the output here (without your keys of course).

[2018-10-20 16:56] kroitor commented on #4025
Sorry, I have misread your response, I thought you said the opposite, please ignore my two previous comments.

[2018-10-20 16:57] kroitor commented on #4025
Your output actually shows no issue to me now: we asked for 5555 @ 0.00000178 and we got 5555 for that price in both cases (buy and sell).

[2018-10-20 16:59] gryffus commented on #4025
My code actually created orders with correct price, that's the point... It only happens in the snippet in description.

[2018-10-20 17:01] kroitor commented on #4025
Right. Sorry again, I've misinterpreted your answer, ignore my two comments above.

As for you question:

This is explained here: https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits.
Truncation is applied to amounts, rounding is applied to prices. This is true for all exchanges, most of them have at least some limits on amount/price values and precisions.

So, if that snippet above creat

[2018-10-20 17:04] gryffus commented on #4025
How can i get current runtime precision for a price of a market?
Is it possible to overwrite this, or is it always fetched live from market?

[2018-10-20 17:06] kroitor commented on #4025
[code]

Yes, just set those values to what you want after loading the markets.

And yes )

Let me know if that answers your question.

[2018-10-20 17:09] kroitor commented on #4022
Right: https://support.binance.com/hc/en-us/articles/360018425891

[2018-10-20 17:16] xmatthias commented on #4025
i'm looking at this puzzled ...
running sample code does work - but real code produces odd results.

amount is expected to change (that's part of how binance applies fees) - but the price should not.
i've tried to run `ct.price_to_precision(pair, price)` in any combination i could immagine (for the pair/price in question) - but i can't figure out what's causing this.

what's the expected type for

[2018-10-20 17:33] gryffus commented on #4025
I have added this:
[code]

But still getting this:

[code]

[2018-10-20 17:49] kroitor commented on #4025
CCXT works normally with those values on my side with the examples/py/cli.py:

[code]

However, in your request we see:

[code]

If verbose output shows that, then it means that a value of 0.000004 or very close to 0.000004 was actually submitted to the createLimitSellOrder call.

To me it looks like an issue with how the values get submitted from freqtrade, because you did show above that with pr

[2018-10-20 17:52] xmatthias commented on #4025
I do agree - however struggle to see where freqtrade submits something wrong - as @gryffus added debug-statements to the variable right before the ccxt call - my only suspicion is on the data-type passed in - but float should work just fine - as the "independent" script does prove.

without beeing able to recreate the issue independently i agree that's it's not a problem in ccxt...

[2018-10-20 18:04] kroitor commented on #4025
Here's an isolated test:

[code]

To me it looks like something has happened:

[code]

[code]

[2018-10-20 19:07] gryffus commented on #4025
What exactly  "precision = min(context.prec - 2, precision)" in https://github.com/ccxt/ccxt/blob/5a3fa3961472d80a5eb24e8a54a57f877d5cae78/python/ccxt/base/decimal_to_precision.py#L37 is supposed to do?

[2018-10-20 19:31] gryffus commented on #4025
I seem to be able to reproduce this.
Is it possible that decimal.getcontext().prec can be set to 8? If yes, then following code, will show the issue (it is made from https://github.com/ccxt/ccxt/blob/master/python/ccxt/base/decimal_to_precision.py ) :

[code]

This produces result: '0.000002'

[2018-10-20 19:42] gryffus commented on #4025
Confirmed by @xmatthias , the issue is caused by changing context precision in freqtrade persistence api.

Thanks @kroitor and @xmatthias for help

[2018-10-20 19:42] #4025 closed

[2018-10-20 20:32] kroitor commented on #4025
@gryffus thx for reporting back!

[2018-10-20 22:47] DevAza opened #4026 "fetchDepositAddress in php"
Hi!
Help me please use fetchDepositAddress in php.

This construct not work:
$exchange->fetchDepositAddress('BTC')

It returns:
Uncaught ccxt\ExchangeError: fetchDepositAddress method not found, try underscore_notation instead of camelCase for the method being called in ...

Thank you!

[2018-10-20 22:47] DevAza commented on #4026
This function in manual:
https://github.com/ccxt/ccxt/wiki/Manual#deposit

[2018-10-21 04:59] #4026 closed

[2018-10-21 17:15] punisher-fusion opened #4027 "Por favor me ajudem!"
2018-10-21T17:12:15.987976+00:00 heroku[gamebot.1]: State changed from crashed to starting
2018-10-21T17:12:20.918508+00:00 heroku[gamebot.1]: Starting process with command `python "gamebot.py"`
2018-10-21T17:12:21.742967+00:00 heroku[gamebot.1]: State changed from starting to up
2018-10-21T17:12:25.858857+00:00 heroku[gamebot.1]: Process exited with status 0
2018-10-21T17:12:25.950931+00:00 herok

[2018-10-21 17:15] punisher-fusion commented on #4027
Alguém sabe o motivo desse erro?

[2018-10-21 17:18] punisher-fusion commented on #4027
Por favor!!!

[2018-10-21 17:19] kroitor commented on #4027
@punisher-fusion sorry, but this is not related to CCXT. The unclosed client session error is due to forgetting to close the aiohttp session before deleting the instance. https://www.google.ru/search?q=Unclosed+client+session

[2018-10-21 17:19] #4027 closed

[2018-10-21 17:38] punisher-fusion commented on #4027
How i make this?

[2018-10-21 17:38] punisher-fusion commented on #4027
kroitor

[2018-10-21 17:55] kroitor commented on #4027
@punisher-fusion i've posted a link to google on how to do that.

[2018-10-21 17:59] radeone opened #4028 "tradeogre api integration?"
https://tradeogre.com/help/api just wondering if there is any idea on integrating this exchange into ccxt libs :P

[2018-10-21 18:00] kroitor commented on #4028
https://github.com/ccxt/ccxt/issues/2150

[2018-10-21 18:00] #4028 closed

[2018-10-21 20:58] AadaEa opened #4029 "Okex fetchBalance returns 0 and v3 api"
Hi,
Using the okex class. okex always returns 0 as balance (including inside the `info` fields). The request seems to work but it returns 0 while it should return the right amount.

I tried to get the data through url but couldn't make it work for some reason : https://www.okex.com/api/v1/userinfo.do?api_key=XXXXX&sign=XXXXX

using a valid api key and secret returns the same message.

Maybe it has

[2018-10-21 21:05] kroitor commented on #4029
Answered here: https://github.com/ccxt/ccxt/pull/3911#issuecomment-425209458

[2018-10-21 21:05] #4029 closed

[2018-10-21 23:17] wushenshen opened #4030 "Fix typo in manual.md"
Fix small typo in "How Orders Are Related To Trades" section of manual.md

[2018-10-22 10:25] gamebak opened #4031 "Error: cryptopia Signature does not match request parameters."
The issue is that I can't send the api key and secret in cryptopia for a private
[code]
[code]

**Error:**
[code]
- OS: MacOs
- Programming Language version:
- CCXT version: 1.17.368
- Exchange: Cryptopia
- Method: new ccxt.cryptopia

[2018-10-22 11:54] gamebak opened #4032 "Signature does not match request parameters for cryptopia"
The issue is that I can't send the api key and secret in cryptopia for a private
[code]
[code]

**Error:**
[code]
- OS: MacOs
- Programming Language version:
- CCXT version: 1.17.368
- Exchange: Cryptopia
- Method: new ccxt.cryptopia

[2018-10-22 19:19] kroitor commented on #4032
Have you tried the troubleshooting sequence from the Manual?

- https://github.com/ccxt/ccxt/wiki#troubleshooting

Also, make sure that your apiKey is 32 characters and secret is 44 characters. The secret may have an equality sign at the end of it (`=`) and can contain slashes, therefore copy-pasting by double-clicking is a common pitfall. The other common pitfall is trying to use keys that have a

[2018-10-22 19:20] kroitor commented on #4031
Duplicate: #4032

[2018-10-22 19:20] #4031 closed

[2018-10-22 21:31] gamebak commented on #4032
You were right, checking the secret, it had 40 characters instead of 44 and that fixed the issue.

[2018-10-22 21:31] gamebak commented on #4032
You were right, checking the secret, it had 40 characters instead of 44 and that fixed the issue.

[2018-10-22 21:31] #4032 closed

[2018-10-22 21:46] kroitor commented on #4032
@gamebak thx for reporting back, appreciate it!

[2018-10-22 22:24] npomfret opened #4034 "Liquid exchange does not correctly report average execution price"
The `average_price` field on my orders is not always correct.  It sometimes has the value _0.0_ when the order has traded (see below).  This can be fixed by parsing the `executions` array which contains the trade data.  (I'll try to fix)

[code]

[2018-10-22 22:28] kroitor commented on #4034
That's great! Your help is really welcome! For examples, see how parsing order trades is done with `parseTrade` in other exchanges as well:

- https://github.com/ccxt/ccxt/blob/master/js/poloniex.js#L553
- https://github.com/ccxt/ccxt/blob/master/js/kucoin.js#L688
- ...

[2018-10-23 14:18] moader808 opened #4035 "get OHLCV exchange historic data"
- OS: Windows 10 Professional x64 bit
- Programming Language version: Python x64 bit v3.6
- CCXT version: Updated ~3 days prior
- Exchange: Binance
- Method: fetch_OHLCV

I am rather new to this ccxt library as well as python, so please be patient with me... I made some additions to the python example code listed in the library to fetch historic candle data. I am trying to get the candles to print

[2018-10-23 14:31] npomfret commented on #4034
@kroitor the trade fees on Liquid only appear on the order.  It would be nice if they were proportially attributed to each trade.  Are per-trade fees allowed in the ccxt model?

[2018-10-23 15:52] kroitor commented on #4034
@npomfret yes, the fee is present in the trade structure as well. In fact, by pure logic, the order fee is the sum of trade fees of all trades inside that order. )

https://github.com/ccxt/ccxt/wiki/Manual#trade-structure

[2018-10-23 16:05] moader808 commented on #4035
^misclick

[2018-10-23 16:28] shzxd commented on #2572
@kroitor it work for me,thanks!

[2018-10-23 16:42] kroitor commented on #4035
@moader808 let's do this:

[code]

↑
The above code should effectively prove that fetching from a certain `since` value works for you:
↓

[code]

So, I guess, the problem is somewhere in the logic of your code?

Here's more:

[code]

Output:

[code]

[2018-10-23 16:44] kroitor commented on #4035
P.S.

Also, this is a bad approach:

[code]

or

[code]

This is a much better way:

[code]

[2018-10-23 16:48] kroitor commented on #4035
@moader808 the issue you have is with `from_timestamp`. You're fetching BTC/USDT trades since 2017-01-01, there were no trades then... because the first candle on that market appeared in August 2017... you then add 500*60000 to that timestamp in January (which is still in January) and fetch again from January and again get the first 500 candles from August.

[2018-10-23 16:48] #4035 closed

[2018-10-23 16:52] kroitor commented on #4035
Proof:

[code]

[2018-10-23 17:01] kroitor commented on #4035
Feel free to reopen it if the above does not answer your question.

[2018-10-23 17:29] #3476 closed

[2018-10-23 19:39] npomfret commented on #4034
I'll hold off on attributing the fees to the orders for now.  I'm concerned that there might be different fees for taker / maker trades which I'm not currently sure how to model.

[2018-10-23 19:42] michaelwaldman opened #4038 "fetch_ohlcv has varying responses for OHLCV when called with a fixed time that coinpair/market may not be listed for"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: OS X Mojave
- Programming Language version: Python 3
- CCXT version: 1.17.405
- Exchange:  ACX and Binance, but generally all
- Method: fetch_ohlcv

I've reviewed all similar posted issues and did not find any that matched, but my apologies if I missed anyt

[2018-10-24 02:47] kroitor commented on #3543
@Kinzowa Looks like CMC is going to add some radical changes to their API access: https://github.com/ccxt/ccxt/issues/3899

[2018-10-24 03:02] kroitor commented on #3978
Duplicate: https://github.com/ccxt/ccxt/issues/3666

[2018-10-24 03:02] #3978 closed

[2018-10-24 03:05] #3992 closed

[2018-10-24 03:05] #3929 closed

[2018-10-24 03:55] kroitor commented on #3030
Qryptos is now Liquid: https://github.com/ccxt/ccxt/issues/3809

[2018-10-24 03:55] #3030 closed

[2018-10-24 03:57] kroitor commented on #3666
https://github.com/ccxt/ccxt/pull/3705

[2018-10-24 05:12] #4034 closed

[2018-10-24 06:54] ngugcx commented on #3996
+1
I hit the same issue with ccxt.cryptopia. So it seems it's not about some specific exchange.

[2018-10-24 10:10] hems commented on #3761
We have implemented a POST request to `https://api.ethfinex.com/trustless/v1/r/get/conf` which now returns the aforementioned json.

[2018-10-24 11:46] ngugcx commented on #3996
The result of ccxt.coinex with the same code as dingyaguang117:
('2018-10-24T11:40:13.243Z', 40615936)
('2018-10-24T11:40:17.770Z', 43634688)
('2018-10-24T11:40:19.904Z', 46333952)
('2018-10-24T11:40:22.009Z', 49303552)
('2018-10-24T11:40:24.143Z', 52277248)
('2018-10-24T11:40:26.281Z', 54980608)
('2018-10-24T11:40:28.417Z', 57954304)
('2018-10-24T11:40:30.531Z', 60956672)
('2018-10-24T11:40:32.63

[2018-10-24 12:24] ShoresOfNowhere opened #4039 "Making loadMarkets/fetchMarkets accept a marketid as a parameter, to speed things up"
Can the loadmarkets/fetchmarkets function be modified as to accept a parameter indicating what market are we interested in? It could even be left as an optional parameter, which if omitted would simply make the functions behave as they do now and get all the markets.

This is an efficiency feature, as there are big exchanges which do have HUNDREDS of markets, and reading all of them when you just

[2018-10-24 12:31] munrocket commented on #3764
https://gist.github.com/jtrefry/fd0ea70a89e2c3b7779c

[2018-10-24 12:31] kroitor commented on #4039
@ShoresOfNowhere in most cases loading 600 markets takes exactly the same amount of https requests as loading just one market. That is because all of them are reported from the endpoint responsible for the list of markets, and you can't really choose or specify that in a cross-compatible. You can only load them first, then filter them to just one, which makes very little sense if you're trying to

[2018-10-24 12:31] #4039 closed

[2018-10-24 13:08] munrocket commented on #3764
On Windows
Option 1
Install all the required tools and configurations using Microsoft's windows-build-tools using npm install --global --production windows-build-tools from an elevated PowerShell or CMD.exe (run as Administrator).

Option 2
Install tools and configuration manually:

Install Visual C++ Build Environment: Visual Studio Build Tools (using "Visual C++ build tools" workload) or Visual

[2018-10-24 13:42] ngugcx commented on #3996
@kroitor , I guess the problem is that the base class defines __del__.
We may need to remove the usage of requests session.

[2018-10-24 14:22] exzib opened #4041 "Withdraw / Deposit History?"
Is there any way to see which exchanges on ccxt supports fetchMyWithdrawals?

Or is there any way to see which exchanges supports fetching withdraws and deposits in general?

[2018-10-24 14:38] kroitor commented on #4041
Yes:

- https://github.com/ccxt/ccxt/wiki/Manual#exchange-metadata
- https://github.com/ccxt/ccxt/blob/master/examples/js/exchange-capabilities.js

<img width="1505" alt="screen shot 2018-10-24 at 17 36 58" src="https://user-images.githubusercontent.com/1294454/47438649-8da02280-d7b3-11e8-9412-7e3f2902a645.png">

[2018-10-24 14:38] #4041 closed

[2018-10-24 15:47] rfcarvalho commented on #3982
Hi Igor,

Thank you very much for the update.

I've just made some tests and I am having some problems with some functions, because the id of the market added is set as XRPBCH, I guess. it should be BRLXRP, shouldn't? Therefore, it's impossible to place orders for now, at this market.

Besides, I can't make any transfer of XRP from my wallet because the withdraw function does not require any tag e

[2018-10-24 21:47] avatar-lavventura commented on #22
@kroitor : I have having following error:

[code]

----------

[code]

[2018-10-25 09:19] ne0c0de opened #4043 "Use ccxt in NodeJS with promise"
Hello,

I seaarch my question in both issues on here and also on google but couldn't find an example.

Is it possible to use ccxt nodejs library with Promise?

I know that it's working with await syntax but i wish to use it with promise library (actually i wish to use with regular callbacks but i couldn't)

Is someone here that's using ccxt with promise?

[2018-10-25 09:48] npomfret opened #4044 "new Liquid edit order functionality throwing wrong type of error (I think)"
The error message _'Can not update partially filled order'_ results in an `OrderNotFound`.  But I don't think this makes sense.  What would be a more suitable error though?

[2018-10-25 10:03] npomfret commented on #3988
@kroitor FYI using `if (e instanceof ccxt.OrderNotFound)` does not work (at least in node 8).  I had to use `e.constructor.name === 'OrderNotFound'`.

[2018-10-25 13:22] SandersAlex opened #4045 "Dictionary & Object dynamic type conversion error IronPython"
- OS: Win 10
- Programming Language version: IronPython 2.7, Python 2.7, C# 4.7.2
- CCXT version: 1.17.392
- Exchange: All, Base Functional - exchange.py
- Method: **to_array**
[code]

An exception was thrown: "IronPython.Runtime.Exceptions.TypeErrorException" in Microsoft.Dynamic.dll
An unhandled exception of type "IronPython.Runtime.Exceptions.TypeErrorException" in Microsoft.Dynamic.dll
Additio

[2018-10-25 13:49] kroitor commented on #4043
JSYI, `async` syntax is just a syntax sugar over promises (`async` uses promises under the hood).

Async:

[code]

Promise:

[code]

[2018-10-25 13:49] #4043 closed

[2018-10-25 13:50] kroitor commented on #4044
InvalidOrder ?

[2018-10-25 13:53] kroitor commented on #3996
@ngugc to me this looks like memory leaking somewhere from web3 deps, going to debug it asap. Thx for your help!

[2018-10-25 13:57] kroitor commented on #3988
@npomfret that's interesting, https://node.green/ says it should work with node8 as well... because `instanceof` clause is a part of es2015 standard... Will look into it further.

[2018-10-25 14:08] kroitor commented on #4045
@SandersAlex can you please post the error callstack for that exception? We would then be able to fix it quickly.

[2018-10-25 14:48] SandersAlex commented on #4045
This all info: :(
An exception was thrown: "IronPython.Runtime.Exceptions.TypeErrorException" in Microsoft.Dynamic.dll
An unhandled exception of type "IronPython.Runtime.Exceptions.TypeErrorException" in Microsoft.Dynamic.dll
Additional information: expected string, got str Type

[http://pichost.org/image/TxFT7](url)

[2018-10-25 14:53] kroitor commented on #4045
You should not really call `fetch_markets` directly, the much better approach is to load markets as described in the Manual and then use the `.markets` and `.currencies` on the exchange instance.

https://github.com/ccxt/ccxt/wiki/Manual#loading-markets

Does that solve the issue for you?

[2018-10-25 15:00] SandersAlex commented on #4045
[http://pichost.org/image/TxOAQ](http://pichost.org/image/TxOAQ)

[2018-10-25 15:03] kroitor commented on #4045
Can you copy those details by clicking "Копировать подробности" and paste them here? Is it the same text as well? If it is, then, I think I will have to install IronPython on a windows vm to test it...

[2018-10-25 15:05] kroitor commented on #4045
Also, just for the sake of experiment, let's try this:

[code]

↑ This is a complete program for launching in IronPython, make sure no other code is interfering with it. Does it throw the same exception as well?

[2018-10-25 15:08] kroitor commented on #22
@avatar-lavventura what's your version of CCXT? Does that happen with the most recent version of it?

[code]

?

[2018-10-25 15:11] SandersAlex commented on #4045
[http://pichost.org/image/TxezL](http://pichost.org/image/TxezL)
Вызвано исключение: "IronPython.Runtime.Exceptions.TypeErrorException" в Microsoft.Dynamic.dll
Дополнительные сведения: converting to unicode: need string, got bytes, произошло

[2018-10-25 15:12] lampardlb opened #4047 "ccxt python, hitbtc market order error"
- OS: windows
- Programming Language version: python
- CCXT version: 1.17.412
- Exchange: hitbtc
- Method: order = hitbtc.createMarketSellOrder()

whenever I execute the command, the order itself is executed, but the parsing order info process encounters an error:

File "\Python\Python37-32\lib\site-packages\ccxt\hitbtc.py", line 792, in parse_order
    cost = price * filled
TypeError: unsupported

[2018-10-25 15:15] lampardlb commented on #4047
sorry t

[2018-10-25 15:16] lampardlb commented on #4047
Sorry this works okay by using hitbtc2 instead of hitbtc. Thanks.

[2018-10-25 15:18] kroitor commented on #4045
@SandersAlex ok, I see... I was just trying to understand which particular line in CCXT caused the exception. Will have to install IronPython to do some testing...

[2018-10-25 15:20] SandersAlex commented on #4045
Ok. I wait you decision :)

[2018-10-25 15:40] #3950 closed

[2018-10-25 15:42] npomfret commented on #3988
I couldn't understand why it wasn't working, but I'm no JS expert.  I was trying to cancel already closed orders - which I think (according to the code) should result in the OrderNotFound error.  But the catch implemented suggested didn't catch it.

[2018-10-25 15:47] npomfret commented on #4044
https://github.com/ccxt/ccxt/pull/4048

[2018-10-25 15:48] #4044 closed

[2018-10-25 15:49] kroitor commented on #4044
@npomfret thank you!

[2018-10-25 16:04] lampardlb commented on #4047
Thanks for the fix. To follow up: I found that by using hitbtc2:
1. the returned order info is not unified as Binance's, specifically, the order['price'] is always None;
1. It does not have the function of moving funds between main and trading accounts, like hitbtc does, which would be a worthwhile addition imho.

[2018-10-25 16:14] kroitor commented on #4047
If you can paste the verbose output of it, we can probably add a workaround for this quickly. They don't always return the price for market orders. Or there may be some issue with the parser.

See this section: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[2018-10-25 16:15] kroitor commented on #4047
@lampardlb to paste `verbose` output: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-10-25 16:19] lampardlb commented on #4047
I tried to run the verbose output but every time it kills the python IDLE (sorry I'm not a serious coder...)

[2018-10-25 16:29] kroitor commented on #4047
[code]

Feel free to reopen it if the above does not answer your question.

[2018-10-25 16:29] #4047 closed

[2018-10-25 16:32] lampardlb commented on #4047
it does return, but in hitbtc orders, its contained in: order['info']['tradesReport'][0]['price'] as a string, where as in binance orders, it's in order['price'], as a float. So what I meant was whether the output format could be unified.

[2018-10-25 16:36] kroitor commented on #4047
It could, if you could post your verbose output, that's the whole point of posting the above snippet ) It means: you run it and paste your output here, and we fix it ) This is an open-source collaboration )

[2018-10-25 16:39] lampardlb commented on #4047
Thanks, yes I understood. I'm really sorry that I could not run the verbose for some reason, but I ran the same sell orders on binance and hitbtc, the outputs are below. Hope this could help. I really appreciate the help and am deeply grateful for this project.

Binance:
{'info': {'symbol': 'XRPUSDT', 'orderId': 35447199, 'clientOrderId': 'whUhQRXN1G7TWTWCThGjqC', 'transactTime': 1540485334243, 'p

[2018-10-25 16:44] lampardlb commented on #4047
I've now done the verbose output as well. Thanks very much again.
hitbtc:

Request: POST https://api.hitbtc.com/api/2/order {'Authorization': 'Basic NmJlNDMyYWZjMzBkNDJlNGQxYWVkMzUwZjU4MGY1ODY6MGQyM2YyNjUzYmVkOTRiZWE4ZjdjNTcwNDQxNjlkNzM=', 'Content-Type': 'application/json', 'User-Agent': 'python-requests/2.19.1', 'Accept-Encoding': 'gzip, deflate'} {"clientOrderId":"fe36aa5e190149bf9985fb673bbb2e

[2018-10-25 16:46] kroitor commented on #4047
Oh... please, when someone posts a link to answer your question, you should first go read that link VERY-VERY CAREFULLY. Don't ever post your api keys again (i've edited your snippet above), please, go and reset that key (delete it and create a new one for your own safety and always remove your keys from the output, as described in that doc that you should've read in the first place).

[2018-10-25 16:49] kroitor commented on #4047
Thx for the output and for your involvement anyways, we'll add a workaround for HitBTC shortly.

[2018-10-25 16:51] lampardlb commented on #4047
Sorry for the hustle caused, I'm an idiot... Thanks for your help.

[2018-10-25 16:53] kroitor commented on #4047
@lampardlb np, but you should learn to be careful when dealing with crypto ) It's easy to lose money on the internet and crypto makes it even easier. Hopefully, you don't make that mistake again ) It's your money after all )

[2018-10-25 16:54] lampardlb commented on #4047
Yes, lesson learnt. Thanks.

[2018-10-25 17:40] #3982 closed

[2018-10-25 18:10] kroitor commented on #4030
Closing this if you don't mind, until we have a followup...

[2018-10-25 18:10] #4030 closed

[2018-10-25 18:56] kroitor commented on #3988
@npomfret can you show a bit more code, plz? I gotta fix it, if it doesn't work, but I need something to work with, initially, for that, we have to ensure no errors on the client-side first.

[2018-10-25 20:16] npomfret commented on #3988
Some more info:

I'm trying to edit a partially filled order and catching the error with the following code:

[code]
The output is this:

`528710636 cannot be updated: ExchangeError false false`

[2018-10-25 20:44] kroitor commented on #3988
Yeah, but with most other exchanges, canceling an already-closed order is an error, so we throw an exception, but I made it optional for liquid, see `liquid.options['cancelOrderException']`. Also fixed the error handler, so you should see those errors properly handled now. These modifications will be available in 5-10 minutes starting from 1.17.418. Let me know if you still have issues with it aft

[2018-10-25 21:39] kroitor commented on #4047
Nope, that's my bad, a minor leftover in the `parseTrade()` method. My apologies. If you update once again to 1.17.419 (5-10 minutes for the build to arrive) – that will be fixed as well. Apart from that, we don't expect any more issues, but still will be very thankful if you report back, whether it works for you or not.

[2018-10-25 21:53] npomfret commented on #3988
ok, i'll try it.  Does this also fix the problem that the InvalidOrder is not being thrown when you get a 429 by trying to edit a partially filled order?

[2018-10-25 22:05] kroitor commented on #3988
Yep, it does.

[2018-10-25 22:08] lampardlb commented on #4047
Yes it's working like a charm, thank you so much!

[2018-10-26 07:18] is0initial commented on #2968
+0.24 ltc - it's me.

[2018-10-26 07:28] WoK-E opened #4050 "bittrex fetchDeposits returns no timestamp and datetime"
- OS: Linux
- Programming Language version: PHP
- CCXT version: 1.17.421
- Exchange: bittrex
- Method: fetchDeposit

The only timestamp returned from the exchnage for withdrawals is in the 'LastUpdated' field. This should probably be used for the timestamp and datetime. The 'Opened' field that is used for Withdrawals is not available when fetching deposits

[2018-10-26 07:37] kroitor commented on #4050
Nope, unfortunately, we can't set that timestamp there, because it literally means the last updated timestamp, therefore it is in the transaction structure, in the `updated` field. We don't invent values where the exchange in question does not provide them. You can add that logic to your code in userland on client-side, namely, *"consider updated timestamp for Bittrex deposits a timestamp"*. But,

[2018-10-26 07:50] WoK-E commented on #4050
Yes, it does answer the question, and I understand the reasoning. I will; be closing the issue.

The reason I use 'LastUpdated' is because this is when the exchange gets enough confirmations, in order to consider the deposit valid, and stops updating the record. The other (selfish) reason is because I want to minimize the ccxt classes I extend in order to provide such extra logic and functionality

[2018-10-26 07:50] #4050 closed

[2018-10-26 08:05] Steejayy opened #4051 "fetchBalance failing when all the balances are 0 on binance"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

- OS: linux
- Programming Language version: nodejs v10.0.6
- CCXT version: 1.17.388
- Exchange: binance
- Method: fetchBalance

Hello this is not really an issue, but I noticed, when the balances are complety empty, binance doesnt return an array of balances to ccxt and therefore we have a message of  `exchange not replying`

Wich technically

[2018-10-26 08:09] kroitor commented on #4051
That message is definitely not coming from anywhere inside CCXT. In other words, it is a message from some other part of your system. We merely return an empty object in that case and that's it (and we think it should be this way). So, I guess, you're using some kind of wrapper or 3rd-party software that uses CCXT, and you should probably address the question to the developer of that software? )

[2018-10-26 08:16] Steejayy commented on #4051
{ makerCommission: 10,
     takerCommission: 10,
     buyerCommission: 0,
     sellerCommission: 0,
     canTrade: true,
     canWithdraw: true,
     canDeposit: true,
     updateTime: 1540459659303,
     balances:
      [ ]
}

Does this like an ccxt object ?

[2018-10-26 08:36] kroitor commented on #4051
[code]

↑ This should not throw anything similar to `exchange not replying`, so, if you get that message, it's not coming from those lines.

Depends on how you import ccxt, though, you don't show that, unfortunately...

[2018-10-26 09:07] npomfret commented on #3988
@kroitor Some more below data using the new code.  In summary the `instanceof` technique isn't working still (on node v8.11.3).

Editing what I believe is a partially filled order, with the following catch block:

[code]

I get this output:

[code]

[2018-10-26 09:52] ardialamwijaya opened #4052 "[ASK]Transfer coin from binance to indodax"
- OS: Win 10
- Programming Language version: PHP
- CCXT version: 1.17
- Exchange: Binance and Indodax

Hi Kroitor,
I would like to know, is it possible to transfer BTC from Binance to Indodax?

Thx.

[2018-10-26 14:55] xCuri0 opened #4053 "EOS transfer from cobinhood to poloniex ?"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: elementary OS Juno
- Programming Language version: Python 3.6
- CCXT version: Latest from pip
- Exchange: cobinhood/poloniex
- Method: fetchDepositAddress/withdraw

[code]

[code]

[2018-10-26 17:09] kroitor commented on #4052
Hi!

Sure! You can do that with the `withdraw` method of Binance, more about it in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#withdraw. I'd recommend to read it from top to bottom, as it has all the explanations and quite a lot of useful info that will save you a ton of time (trust me).

Hope this answers your questions, feel free to reopen it if not )

[2018-10-26 17:09] #4052 closed

[2018-10-26 19:33] kroitor commented on #3988
@npomfret also, can you make it a short, but complete snippet (without your keys) ? Need to see the entire code, plz, cut it to 10-20 lines, and post it here plz, so that we could see the instantiation, imports, all that... in other words, something like that:

[code]

[2018-10-27 02:31] xCuri0 commented on #4053
@kroitor poloniex seems to return an incorrect deposit ```'currency': 'EOS', 'address': 'dce9d30102dec67f', 'tag': None,```. The memo should be in tag and the address (poloniexeos1) should be in address

[2018-10-27 05:35] kroitor commented on #4053
@xCuri0 can you paste your verbose output of the fetchDepositAddress call? Just to make sure we do proper parser edits.

[2018-10-27 05:37] xCuri0 commented on #4053
@kroitor
[code]

[2018-10-27 05:38] kroitor commented on #2968
@is0initial my apologies for the long wait for this one, I was again a bit overloaded with maintenance tasks, but I'm going to launch the work on Crex24 very soon, hopefully.

[2018-10-27 06:11] xCuri0 commented on #4053
@kroitor tried withdraw using the function to poloniex. but transaction didn't go and it shows as invalid
![error](https://user-images.githubusercontent.com/29529557/47600327-44cbb200-d9dd-11e8-820e-073b8b8f54e1.png)

[2018-10-27 06:19] kroitor commented on #4053
@xCuri0 however, the address and the memo are both ok, is there any other info available on the actual reason of failure? Cobinhood requires 2fa and a standalone call to an implicit method for confirming the transaction, have you sent the request to it? Was it successful?

- https://cobinhood.github.io/api-public/#create-withdrawal

[2018-10-27 06:28] kroitor commented on #4053
@xCuri0 can you reach out to cobinhood tech support for them to explain the confirmation process? They don't have it documented, unfortunately. The general approach is to take their totp token and use it to generate the JWT with a signature inside it and submit that to their account/confirm_two_factor_authentication endpoint. However, because it's not documented it's hard to tell at this point how

[2018-10-27 06:30] xCuri0 commented on #4053
@kroiter I will try

[2018-10-27 06:32] kroitor commented on #4053
@xCuri0 the reverse-engineering can be done if you use web-inspector against their website to see how the twofa is submitted in XHR.

[2018-10-27 07:18] AadaEa opened #4056 "Missing methods for some global data on Poloniex and Huobipro"
Hi,

1. just letting you know that you can fetch all order books at once with poloniex :
   https://poloniex.com/public?command=returnOrderBook&currencyPair=all

   `fetchOrderBooks` for Poloniex is null currently. It's rare for exchanges to provide this but this is one
   exception.

2. Also a word on `FetchTickers` on Huobipro:
`FetchTickers` for Huobipro is null currently and CCXT can't get all

[2018-10-27 18:35] #4056 closed

[2018-10-27 19:31] kroitor commented on #3990
PutinCoin's "official" token symbol is `PUT`, according to CoinMarketCap: https://coinmarketcap.com/currencies/putincoin/ and the Manual: https://github.com/ccxt/ccxt/wiki/Manual#notes-on-naming-consistency

So, we use PUT everywhere, and if you attempt to fetch PUTIN/BTC ticker from yobit it should complain with an error:

[code]

If, however, you use `PUT/BTC`, then it's all fine and consistent:

[2018-10-27 19:31] #3990 closed

[2018-10-27 20:18] WoK-E opened #4057 "buda missing from php files"
buda.php is missing

[2018-10-27 21:54] lampardlb commented on #4047
@kroitor sorry to bother you again, but could you kindly fix the same issue for huobipro please? The verbose is below. I'm posting here because it's the same issue , but please let me know if I should open a new thread. Many thanks again in advance!

Request: GET https://api.huobi.pro/v1/account/accounts? {'Content-Type': 'application/x-www-form-urlencoded', 'User-Agent': 'Mozilla/5.0 (Windows NT

[2018-10-27 22:32] scottie commented on #2968
would be great to see

[2018-10-28 00:41] XhrCkYsSgZokJL commented on #4057
Can confirm. ^

[2018-10-28 02:19] #4057 closed

[2018-10-28 03:01] kroitor commented on #4047
Yes, will do that shortly.

We can keep it within this thread, I do receive and read every message on CCXT GitHub whether the issue is closed or still open, so, no need for a new thread, I think. ) Will let you know, once it's there...

[2018-10-29 00:07] usmankhanic opened #4058 "Exchange.class returns an array as opposed to JSON object"
In ccxt/js/base/Exchange.js

line 960
return [price, amount]

This is an array. If downstream systems are trying to resolve this into an Object, they would have to convert to an array and fetch the values via an Index, which is in-efficient and wont help from an Object typing perspective either.

Suggest fix

return {price, amount}

This returns a JSON object that can be easily converted to a type

[2018-10-29 02:31] xCuri0 commented on #4053
@kroitor I could but I can't currently as the transaction shows as invalid and the b

[2018-10-29 08:15] usmankhanic commented on #4058
It’s directly below the line highlighted

    parseBidAsk (bidask, priceKey = 0, amountKey = 1) {
        let price = parseFloat (bidask[priceKey])
        let amount = parseFloat (bidask[amountKey])
        return [ price, amount ]
    }

See the return [price, amount]

Should not that be {price, amount}

?

I’m on the latest ccxt release and I understand the data structures well.

Thank you

[2018-10-29 08:55] kroitor commented on #4058
No, for several reasons:
- this is how it's documented in our Manual
- the majority of exchanges will return arrays, not objects, which is still a perfectly legal JSON, therefore conversion from arrays to objects will take more time than it takes to parse the orderbook response now
- if we use objects for bidasks, then each bidask will have to duplicate keynames (`price`, `amount`), which will eff

[2018-10-29 11:34] centdix opened #4059 "New exhange : COSS"
Hi, please add support for COSS.

Website : https://www.coss.io/
API doc : https://api.coss.io/v1/spec

[2018-10-29 11:54] Showgofar commented on #3986
thank you

[2018-10-29 11:54] #3986 closed

[2018-10-29 12:02] presence35 opened #4060 "Rate limit on Binance's OpenOrders"
Hi.  I'm getting the warning about $symbols being empty. Even when I turn on rate limiting it won't work. If I manually call the native /v3/openOrders function using cUrl I get the orders 100% of the time....even if I call it more than once very 200 seconds.  Am I missing something? Thanks.

- OS: linux
- Programming Language version: PHP
- CCXT version: 2 weeks old
- Exchange: binance
- Method: f

[2018-10-29 15:29] kroitor commented on #4059
Duplicate: https://github.com/ccxt/ccxt/issues/2122

[2018-10-29 15:29] #4059 closed

[2018-10-29 15:54] WoK-E opened #4061 "buda.php syntax error"
- OS: all
- Programming Language version: php
- CCXT version: 1.17.432
- Exchange: Buda
- Method: parse_ticker

PHP Notice:  A non well formed numeric value encountered in ...../php/buda.php on line 308

Please change
$average = ($last . $open) / 2;
to
$average = ($last + $open) / 2;

[2018-10-29 15:56] #4061 closed

[2018-10-29 19:25] kroitor commented on #4060
Can you please post your code to reproduce it (make it a short but a complete snippet) and your verbose request/response (without your keys, of course) according to this: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

https://github.com/ccxt/ccxt/wiki/Manual#loading-markets

Markets (and symbols) should have been preloaded automatically, so, if they are empty in y

[2018-10-29 21:53] usmankhanic commented on #4058
Thanks for the reply - but there is a discrepancy.

The L2Update entity has an array of L2Point. the documentation states that the schema for snapshots and updates is meant to be the same.

Yet, when snapshotting, as per my point above, you are no longer returning an array of L2Point compatible values. Rather you are returning an array of arrays, which is very different.

No one has said to use ke

[2018-10-29 21:56] usmankhanic commented on #4058
Also - in the fetchOrderBook method, you are indeed returning an object with keys - "price" and "amount". Where is an an L2update, it's price and size -- > again, inconsistent.. right?

[2018-10-29 22:50] lampardlb opened #4062 "Kucoin - withdraw command ignore tag input"
- OS: Windows
- Programming Language version: python
- CCXT version: 1.17.419
- Exchange: Kucoin
- Method: withdraw

I've used kucoin.withdraw to withdraw a small amount of XLM with tag input, but found that the input ignores the tag and leave it blank. I then looked into the source code and found that the withdraw function in kucoin.py does not have 'if tag' command. This could potentially cause

[2018-10-30 00:40] kroitor commented on #4058
@usmankhanic

No, we're not returning object with keys from fetchOrderBook, unless there's a bug with some particular exchange. But with the base Exchange class, your above statement isn't true. Proof:

[code]

Not really sure what is an L2 update, but we return the same format from fetchL2OrderBook:

[code]

So, from the above it follows that we return [ price, amount ] everywhere, so I'm not rea

[2018-10-30 01:30] #4062 closed

[2018-10-30 01:35] kroitor commented on #4062
@lampardlb the problem is that they don't document the usage of tag or memo anywhere in their docs:

https://kucoinapidocs.docs.apiary.io/#reference/0/assets-operation/create-withdrawal-apply

We've found this reddit post: https://www.reddit.com/r/kucoin/comments/93o92b/withdraw_of_xlm_through_api/ and added the support for `tag` by gluing it with a `@` sign to the address, however, we're not sure

[2018-10-30 07:12] pkoukk opened #4063 "OKEX v3 update"
okex update api version to V3,here is new api doc
 https://www.okex.com/docs/en/

[2018-10-30 07:58] npomfret commented on #3988
Looks good now. Using your code above with the latest ccxt code:

[code]

[2018-10-30 07:59] npomfret commented on #3988
What's harder to test is editing an open order that's partially filled.  If it happens ill do my best to capture the output.

[2018-10-30 08:17] WoK-E opened #4064 "okcoinusd, allcoin: usage of null array in for loop"
- OS: all
- Programming Language version: php
- CCXT version: 1.17.433
- Exchange: ~~okcoinusd~~, allcoin
- Method: fetch_markets()

~~PHP Warning:  count(): Parameter must be an array or an object that implements Countable in ...../php/okcoinusd.php on line 334~~
PHP Warning:  count(): Parameter must be an array or an object that implements Countable in ...../php/allcoin.php on line 66

When the

[2018-10-30 09:33] npomfret commented on #3988
Ok, my system tried to edit a partially filled order just now.  I had your logging in place:
[code]

[2018-10-30 09:37] kroitor commented on #3988
@npomfret That doesn't seem to be an issue with the handler though... We will need to see your imports for ccxt and need to see your actual runtime version of ccxt as well:

[code]

Basically, at this point, the method for debugging such a case is to start stripping parts of code from your system until you're left with just 10-20 lines that reproduce the issue in essence, we need the bug to manife

[2018-10-30 09:49] kroitor commented on #3988
@npomfret just in case, adding these lines before the call to `editOrder` might help figure this out or shed some light on this at the very least:

[code]

[2018-10-30 09:55] ychaim commented on #2380
I will pay to add this wallet asap

[2018-10-30 09:57] kroitor commented on #2380
@ychaim yep, we got your email, please expect a reply shortly.

[2018-10-30 10:06] lampardlb commented on #4062
I've now tested and can confirm it works perfectly, thank you very much!

[2018-10-30 10:06] kroitor commented on #4062
@lampardlb thanks for reporting and for your feedback! Appreciate it!

[2018-10-30 10:07] lampardlb commented on #4047
May I kindly enquire about the huobipro fix please? Thanks.

[2018-10-30 10:08] kroitor commented on #4047
@lampardlb will add a workaround for it as well, hopefully, today.

[2018-10-30 10:15] lampardlb commented on #4062
I really appreciate all the work you and your fellow admins of the ccxt project have done, you're absolutely amazing!

[2018-10-30 10:16] bramvbilsen commented on #56
I hate to be that guy, but any progress on this? Do not get me wrong, I think it is amazing that you are giving away such an amazing project for free, but the websocket implementation was supposingly almost done over a year ago.
Simply using a HTTP request in a loop as in some examples is not a good solution for my project.
So is there any ETA for this?
Once again, thanks for the great project :)

[2018-10-30 10:45] TechupBusiness commented on #56
@bramvbilsen Maybe you need to start implementing it in ccxt. I guess @kroitor and all other developers would be happy if you can draft how you would like it to implement with ccxt (giving callback function to call instead of returning a promise I guess). As soon as I get to the FixAPI (have also lots of other tasks on my list) I will probably start on this. But like the "one year ago" issue, it w

[2018-10-30 10:46] WoK-E opened #4065 "ccex markets_by_id not populated correctly"
- OS: all
- Programming Language version: php
- CCXT version: 1.17.436
- Exchange: ccex
- Method: fetch_order_books

The problem is not produced by this method, but becomes evident there.
The orderbook returned is not indexed by the standard ccxt ids (e.g. BTC/USD), but instead by the pair ids of the exchange (e.g. USD-BTC)

[2018-10-30 10:49] bramvbilsen commented on #56
@TechupBusiness Do not get me wrong, I would not mind doing it. But the reason I was looking at ccxt is because I do not have a lot of time at all unfortunately.

[2018-10-30 10:52] presence35 commented on #4060
//I use this as a way to check when orders have filled. I get the open orders, save it to a file, and the next time I run the function if anything has changed I process it.

$exchange = new \ccxt\binance (array (
				'apiKey' => xx,
				'secret' => yy,
				'enableRateLimit' => false (even when true it fails),
			));

			//Get orders from the file that was saved during previous call
			$orders = js

[2018-10-30 10:55] TechupBusiness commented on #56
@bramvbilsen Thats probably the reason why most of us landed here: Saving time as its the most scarce resource. :)

[2018-10-30 10:56] bramvbilsen commented on #56
@TechupBusiness Exactly!

[2018-10-30 11:13] presence35 commented on #4060
Anyway, please don't spent more than a few seconds on this, it's not a huge priority.  Thanks for your efforts so far.

[2018-10-30 16:28] soliveira-vouga commented on #56
If your project needs this and the exchange(s) have websocket support, then why not write your own wrapper. It's a lot easier than writing something that fits within a unified abstraction layer which the folks at ccxt are trying to do. There are plenty of implementations already for popular exchanges like binance, bitfinex, bitstamp, etc. There's no reason why you should be looping over HTTP reque

[2018-10-30 18:40] bramvbilsen commented on #56
@soliveira-vouga I am not doing that, I am currently using the websocket implementations of different exchanges. But I thought I saw that that is what the examples in this repo do to get "live" data.

[2018-10-30 23:11] JacobM903 opened #4067 "Bittrex fetch_deposits/withdrawals since a datetime causes TypeError"
- OS: Debian
- Programming Language version: Python 3.7
- CCXT version: ccxt==1.17.436
- Exchange: Bittrex
- Method: fetch_deposits

Bittrex doesn't provide a datetime for deposits/withdrawals just a LastUpdated, so if I try fetch deposits or withdrawals since a datetime I get an error here

'''
/ccxt/base/exchange.py", line 1337, in filter_by_value_since_limit
    array = [entry for entry in arra

[2018-10-31 01:14] stevexiong77 opened #4068 "ACX no fetch_orders function in Python"
OS: Windows 10 pro 64bit
Programming Language version: Python v3.7
CCXT version: 1.17.436
Exchange: ACX
Method: fetch_orders

Currently, there is no fetch_orders private function for ACX in Python. Can you get it implemented so that I can get list of open/closed/cancelled orders? Assume returned result include Order ID, which I can use to call function e.g. cancel_order.

ACX API v2 does support G

[2018-10-31 02:14] ThatsMRDavid commented on #4067
I need assistance

[2018-10-31 02:49] kroitor commented on #4068
@stevexiong77

Yes, we can, as answered here: https://github.com/ccxt/ccxt/wiki/FAQ#can-you-implement-feature-foo-in-exchange-bar
In the meantime, your contributions are welcome, please read this doc carefully, if you want to give it a try:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-sup

[2018-10-31 02:50] #4068 closed

[2018-10-31 02:50] kroitor commented on #4068
Feel free to reopen it if needed, we will add the unified wrappers to it hopefully soon.

[2018-10-31 03:32] #4065 closed

[2018-10-31 03:44] kroitor commented on #3948
Hi! Sorry for a long wait for the answer.

Yes, that's correct, however, orders cache is only used with a few particular exchanges (Liqui (not Liquid), Poloniex and some others).

Will review that and, hopefully, bring it back to order

This is for historical reasons mostly, but yes, that code does not belong there for now, and we're going to move it to Liqui.

I guess, the Manual isn't very clear

[2018-10-31 03:44] #3948 closed

[2018-10-31 05:12] stevexiong77 commented on #4068
Having trouble to use the privateGetOrders method.

import ccxt

exchange = ccxt.acx ({
  'enableRateLimit': True,
  'apiKey': '[API key]',
  'secret': '[Secret key]',
})

orders = exchange.privateGetOrders()
print(orders)

**Get the following error:**

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "CCXT_ACX_Test.py", line 115, in <m

[2018-10-31 05:16] stevexiong77 commented on #4068
Also, tried the following code:

import ccxt

exchange = ccxt.acx ({
  'enableRateLimit': True,
  'apiKey': '[API key]',
  'secret': '[Secret key]',
})

symbol = 'BTC/AUD'
orders = exchange.privateGetOrders(symbol)
print(orders)

**Get the following error:**

Traceback (most recent call last):
  File "CCXT_ACX_Test.py", line 115, in <module>
    orders = exchange.privateGetOrders(symbol)
  File "C

[2018-10-31 05:20] stevexiong77 opened #4069 "ACX privateGetOrders method in Python"
OS: Windows 10 pro 64bit
Programming Language version: Python v3.7
CCXT version: 1.17.436
Exchange: ACX
Method: privateGetOrders

Having trouble to use the privateGetOrders method.

import ccxt

exchange = ccxt.acx ({
'enableRateLimit': True,
'apiKey': '[API key]',
'secret': '[Secret key]',
})

orders = exchange.privateGetOrders()
print(orders)

**Get the following error:**

During handling of the

[2018-10-31 05:28] kroitor commented on #4069
Answered and explained here: https://github.com/ccxt/ccxt/issues/4068#issuecomment-434565157

[2018-10-31 05:28] #4069 closed

[2018-10-31 05:51] stevexiong77 commented on #4068
Thanks again, I figured out params for privateGetOrders method.

Below is my working code;

params = {
    'market':'xrpaud',
}
orders = exchange.privateGetOrders(params)
pprint(orders)

[2018-10-31 06:06] kroitor commented on #4047
@lampardlb after looking closely into it, the issue with huobipro is that they don't return any price for ф market order immediately from their createOrder endpoint (`order/orders/place`), so, in order to get the actual executed price, you will have to fetch that order by id https://github.com/ccxt/ccxt/wiki/Manual#querying-orders

Let me know if I missed something.

[2018-10-31 07:37] aimdreamboy opened #4070 "request timed out"
ATTENTION!!!

code:
 let huobi = new ccxt.huobipro({
        verbose: true,
        proxy: 'https://crossorigin.me/'
    })

- Exchange:huobipro\bitfinex\OKEX...

problem：

(node:3246) UnhandledPromiseRejectionWarning: Error: huobipro GET https://crossorigin.me/https://api.huobi.pro/v1/common/symbols request timed out (10000 ms)
    at timeout.catch.e (@/node_modules/ccxt/js/base/Exchange.js:436:2

[2018-10-31 07:39] kroitor commented on #4070
I guess you should forward this question to the CORS proxy server that you use (crossorigin.me). Either don't use it or check your connectivity with it, if you're going to keep it. Hope this answers your question.

[2018-10-31 07:39] #4070 closed

[2018-10-31 10:23] aimdreamboy commented on #4070
use code:
let huobi = new ccxt.huobipro({
verbose: true,
})

Exchange:huobipro\bitfinex\OKEX...

the same err

[2018-10-31 10:38] kroitor commented on #4070
@aimdreamboy

[code]

https://github.com/ccxt/ccxt/tree/master/examples

[2018-10-31 12:37] aimdreamboy commented on #4070
Thanks for your reply

run equest timed out

Could not load markets
RequestTimeout
{ Error: huobipro GET https://api.huobi.pro/v1/common/symbols request timed out (10000 ms)
    at timeout.catch.e (@/node_modules/ccxt/js/base/Exchange.js:436:27) constructor: [Function: RequestTimeout] }

I can open  https://api.huobi.pro/v1/common/symbols  with a browser

[2018-10-31 12:47] aimdreamboy commented on #4070
node -v --> v11.0.0

ccxt version  -->1.17.437

[2018-10-31 14:10] lampardlb commented on #4047
@kroitor Thank you so much for your time. I see, I'll update my codes accordingly. Cheers.

[2018-10-31 14:15] IMikhelson opened #4071 "Authentication Exception Standardization"
- OS: Windows 10 Pro
- Programming Language version: Python 3.6
- CCXT version: 1.17.439
- Exchange: Binance, Coinbase Pro, others?
- Method: any private method

When I call a private method with an incorrect API key, secret, or passphrase, I get different behavior on different exchanges.  So far, I have tested Binance and Coinbase Pro.  My findings are below:

**Coinbase Pro**
wrong key: Authenti

[2018-10-31 14:18] Matoran commented on #3277
btcexchange has not been removed do you want a pull request ?

[2018-10-31 14:35] #4071 closed

[2018-10-31 14:42] Matoran opened #4072 "coinsecure and _1broker are down"
Hi,

coinsecure has been hacked and will not come back https://coinsecure.in/

_1broker has been seized by FBI https://1broker.com/

Can we remove them from manual and base code ? From the init file or totally ?

I can do a pull request

[2018-10-31 14:55] IMikhelson commented on #4071
Is there a chance that the string responses will get standardized, or is that too much overhead?
Thanks!

[2018-10-31 15:41] Matoran commented on #4072
btcx too https://web.archive.org/web/*/https://btc-x.is

[2018-10-31 15:42] kroitor commented on #4071
We differentiate exception types by message instead, so, if you thought of parsing that text and determining your reaction, depending on the text – that isn't really how we would like this library to be used. We think it's way better if you differentiate by exception type.

In other words, instead of doing this:

[code]

We would like you to do something similar to this:

[code]

In the latter cas

[2018-10-31 16:14] npomfret opened #4074 "question: how to model fees"
I understand that ccxt models fees as a positive value.  Can I then assume that rebates are (or should be) modelled as a negative fee?  Or are rebates modelled separately?

[2018-10-31 16:15] Matoran opened #4075 "when symbol haven't active property, they are active ?"
Hi,

some exchanges do not have active property for each symbol. It's mean that all symbols return by the API are active ? Or we don't know :D ? Sorry if the answer is somewhere (wiki or code) but i don't find it :X.

Thanks in advance for the help.

[2018-10-31 16:29] IMikhelson commented on #4071
Thank you for the detailed response.  In my application, I would like to be able to tell between an authentication error caused by an invalid key vs. an invalid secret (vs. an invalid passphrase).  Since they are all authentication errors, there is not currently a way to distinguish them.  Is this something that may get done in the future?

[2018-10-31 16:34] kroitor commented on #4071
Yes, for sure! We will add subclasses of AuthenticationError, namely, like you want them exactly:
ExchangeError → AuthenticationError → InvalidApiKey
ExchangeError → AuthenticationError → InvalidSecret

We just didn't have a chance to get our hands on that aspect ;)

Your contributions are welcome, by the way: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code )

[2018-10-31 16:35] kroitor commented on #4071
@IMikhelson jfyi, errors are declared here:

- https://github.com/ccxt/ccxt/blob/master/js/base/errors.js
- https://github.com/ccxt/ccxt/tree/master/php
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/base/errors.py

[2018-10-31 16:42] kroitor commented on #4075
It means, we don't know, because either the exchange in question does not report that, or we don't have proper parsing for that particular field, as it was added later along the way, so, some implementation may be missing that flag even in cases when exchanges do provide it. This is still under development, and if you can list those exchanges that miss that flag, we will add fixes, where necessary

[2018-10-31 16:42] #4075 closed

[2018-10-31 16:44] Matoran opened #4076 "dsx ExchangeError unknown"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Linux mint 19 (4.15.0-36-generic)
- Programming Language version: Python
- CCXT version: 1.17.439
- Exchange: dsx
- Method: try to fetch tickers

[code]
The error:
[code]

[2018-10-31 16:51] IMikhelson commented on #4071
Thank you!  I don't know if it's helpful, but I ran the following script, and got the results below.

[code]

_1broker: couldn't load markets
_1broker: General Error
_1btcxe: General Error
acx: Auth Error
allcoin: couldn't load markets
allcoin: General Error
anxpro: General Error
anybits: Auth Error
bcex: Auth Error
bibox: couldn't load markets
bibox: Auth Error
bigone: General Error
binance: Auth

[2018-10-31 17:37] gj315 opened #4077 "Unable to place stop limit order on hitbtc api thorough ccxt"
{ exchange: 'HitBTC',
  symbol: 'XRP/BTC',
  type: 'stopLimit',
  side: 'sell',
  amount: '85.76591382197805',
  price: '0.00006389',
  stopPrice: '[stopPrice: xxxx, 'stop': 'loss']' }

I am getting this as error
hitbtc2 {"error":{"code":10001,"message":"\"price\" is required","description" }}

[2018-10-31 17:42] kroitor commented on #4077
@gj315 can you follow these guides precisely: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue (literally, to each particular word) ? We need your code to reproduce the issue and your verbose request/response without the keys. Follow those guides to make it all readable, plz. Standing by for a followup from you.

[2018-10-31 17:45] kroitor commented on #4074
- https://github.com/ccxt/ccxt/blob/master/js/hitbtc2.js#L110

[code]

[code]

↑ Let me know if that does not answer the question ;)

[2018-10-31 17:45] #4074 closed

[2018-10-31 17:51] kroitor commented on #4071
@IMikhelson yep, thanks for the info, we will proceed adding those handlers where missing... As you can see, there's still plenty of room for development and unification, we welcome all PRs and contributions )

[2018-10-31 18:11] #4077 closed

[2018-10-31 20:17] #2968 closed

[2018-10-31 23:12] npomfret commented on #4074
Sorry, my question was unclear.  I mean in when downloading a users trades and orders - how do we model rebates there?

[2018-10-31 23:12] chovy opened #4078 "How do I add api keys?"
I want to get a list of my trades from a few apis I have api keys for, but I don't see in the readme how to authenticate with an api given an api key.

Is this method and how to pass keys documented somewhere?

[2018-11-01 00:40] kroitor commented on #4078
Yes, and the link to it is placed in multiple places on our GitHub page, not really sure how you could miss it, but here it is again:

- https://github.com/ccxt/ccxt/wiki/Manual#authentication
- https://github.com/ccxt/ccxt/wiki/Manual#api-keys-setup

I really recommend to read the entire Manual from top to bottom, it will help save you a ton of time, trust me: https://github.com/ccxt/ccxt/wiki/

[2018-11-01 00:40] #4078 closed

[2018-11-01 03:20] araa47 opened #4079 "Hitbtc Fetch Trades (List Index out of Range)"
- OS: MacOs Mojave
- Programming Language version: python 3.6.4
- CCXT version: 1.17.444
- Exchange: hitbtc
- Method: fetch_trades()

Code

[code]

Exception

[code]

[2018-11-01 03:38] #4079 closed

[2018-11-01 03:39] kroitor commented on #4079
The reported issue is fixed as of version 1.17.445. Please, update your CCXT and retry (the new build will be available for downloading in 10-15 minutes).

Please, note, however, their v1 api is deprecated, use `hitbtc2` instead:

[code]

Hope this answers your question.

[2018-11-01 05:37] araa47 commented on #4079
Thanks for the instant fix @kroitor , my boss Evgeni says if you are ever in Hong Kong he will take you out for drinks

[2018-11-01 08:18] kroitor commented on #4079
@araa47 that's awesome! Please let Evgeni know if he is ever in Moscow we'd take him out as well, but better stay inside during the winter here ))) We don't really drink a lot, despite the stereotypes, but we're still friendly and open ) Cheers!

[2018-11-01 10:31] #4076 closed

[2018-11-01 10:59] fonzmeister opened #4080 "Kraken has wrong base for Tezos in loadMarkets: TZ instead of XTZ"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: windows
- Programming Language version: python 3.4
- CCXT version: 1.17.445
- Exchange: kraken
- Method: Loadmarkets

[code]
x['XTZ/BTC'] gives keyerror

x['TZ/BTC'] works gives output:
[code]

[2018-11-01 11:08] #4080 closed

[2018-11-01 11:18] AoDev opened #4081 "[Bitmex] open orders amount is relative to the quote instead of the base (maybe any order type)"
- OS: **OSX**
- Programming Language version: **javascript**
- CCXT version: **1.17.439**
- Exchange: **Bitmex**
- Method: **fetchOpenOrders**

Comparing Bitmex with let's say Binance or Kraken, orders amount are usually corresponding to the `base` of the market symbol.

Eg: Binance open order

[code]
Which translates to "selling 4545 ZIL at a price of 0.00000668 BTC".

Now, with Bitmex:

[code]
W

[2018-11-01 11:32] kroitor commented on #4081
The mapping may be wrong, indeed. From their docs it's not very clear, basically... The order parser is right here: https://github.com/ccxt/ccxt/blob/master/js/bitmex.js#L437

Yep, it most likely has mistakes – with `cumQty`←→`filled/cost`, the amount and probably some others fields. Feel free to add edits to it for a better mapping, we appreciate all help, your PRs are welcome )

Also, this may b

[2018-11-01 11:36] AoDev commented on #4081
Ok, I will first check their API response and make a "report" about what we have and what we don't have.

[2018-11-01 11:55] fonzmeister commented on #4080
I think this fix broke the function. I now get the following output

[code]

and verbose output

[code]

[2018-11-01 11:58] kroitor commented on #4080
@fonzmeister pardon, that was a small transpiler issue, tested it in js, but didn't pay necessary attention to generated py, my bad, added a refix to it, so it should be ok in 10 minutes.

[2018-11-01 12:26] siedi opened #4082 "Bitmex: regression in parsing order status"
- OS: Linux
- Programming Language version: python (and I guess others as well)
- CCXT version: > 1.17.268
- Exchange: bitmex
- Method: parse_order / parse_order_status

With the change in 1.17.268, the 'status' field is no longer changed to lower case. Bitmex returns the status with a first upper letter / capitalized, thus the match doesn't work anymore and the original value from Bitmex ist retu

[2018-11-01 12:37] AoDev commented on #4081
So thinking out loud, please share your thoughts on this.

From an isolated order point of view, we could simply divide the amount of contracts ["BCT/USD"] by the price ["USD"] to get the actual amount of base ["BTC"].

Example with `BTC/USD`
Open order from Bitmex API:

[code]
This translates roughly to "Sell `4400/6050` BTC @ price of 6050 USD

So, could be mapped to:

[code]

Note that orders l

[2018-11-01 12:59] kroitor commented on #4081
@AoDev one likely issue with the above is that it may only be true for BTC/USD and not the rest of their contracts, I'm afraid. Have you tried any other pair? That is explained in the linked post above, we might have to bring `tickSize`, `lotSize` and `multiplier` into this calculation.

Also, because of how order matching works with precision and rounding, we can't really divide the cost by price

[2018-11-01 13:07] #4082 closed

[2018-11-01 13:29] AoDev commented on #4081
I didn't check with the other contracts, you are right, I'll see.

That's something I had in mind, and wanted to ask, more a thing for the future. We definitely need a structure for margin trading. (Note in Bitmex docs, they refer to [some standard ](https://www.onixs.biz/fix-dictionary/5.0.SP2/msgType_D_68.html).

On the other hand, maybe a concept of "extrapolated" could be introduced (not sure

[2018-11-01 14:28] ccnccy opened #4083 "liquid response is too slow"
- OS:CentOS 6.9
- Programming Language version:PHP
- CCXT version:1.17.449
- Exchange:liquid
- Method: ALL Method

____________________________________________________________________________________________________
i use the following code, response only 1 seconds
use the ccxt , response need 5-8 seconds,maybe have some bug
[code]

[2018-11-01 14:31] kroitor commented on #4083
Sorry, but that isn't an issue with the CCXT library. I'd recommend to forward it to Liquid support. We don't have control over their system.

[2018-11-01 14:31] #4083 closed

[2018-11-01 15:24] Andi1990 opened #4084 "[Bitfinex] Closing Position doesn't work"
When trying to close an open short position with
`        data = self.exchange.private_post_position_close({'position_id': positionid})
`
I get the following Error message:

[code]

The error is quite new. A few days ago, this method worked fine. So from my point of view there might be some changes on Bitfinex api?

- Programming Language version: python 3.6.6
- CCXT version: 1.17.449
- Exchange:

[2018-11-01 15:33] kroitor commented on #4084
@Andi1990 can you post your code to reproduce the issue? (without your keys, according to the following guides precisely: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[2018-11-01 16:08] fedecaccia opened #4085 "Is there some websocket example to request orderbooks?"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2018-11-01 17:14] robertwilliamallen opened #4086 "Kraken: XDG/BTC to DOGE/BTC"
- OS: macOS High Sierra
- Programming Language version: Python 3
- CCXT version: 1.17.439
- Exchange: Kraken
- Method: load_markets()

DOGE currency has not been abstracted for Kraken. Symbol `XDG/BTC` exists but should be `DOGE/BTC` for consistency with the rest of CCXT exchanges.

[2018-11-01 17:19] robertwilliamallen opened #4087 "hitbtc2 missing PermissionDenied exception"
- OS: macOS High Sierra
- Programming Language version: Python 3
- CCXT version: 1.17.439
- Exchange: Kraken
- Method: load_markets()

hitbtc2 is missing `PermissionDenied` exception for the following error:

Traceback (most recent call last):
  File "/exapi/exchange.py", line 106, in _ccxt_query
    return call(*args)
  File "/opt/conda/lib/python3.6/site-packages/ccxt/hitbtc2.py", line 879, in c

[2018-11-01 18:33] milesalex opened #4088 "Workflow to add exchange functions to integration"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: MacOS
- Programming Language version: 8.11.1
- CCXT version: 1.17.449
- Exchange: Coinbase
- Method: `fetchMyTrades`

---

Hello,

I'm trying to add `fetchMyTrades` to the coinbase integration but I can't seem to get the tests to run and or figure out the w

[2018-11-01 18:38] soliveira-vouga opened #4089 "Bitstamp CreateOrder doesn't return expected structure"
I'm submitting orders using the createMarketBuyOrder method and the structure of an order expected is described as the following:

[code]

This is what I get from Bitstamp:

[code]

I don't expect the structure to match exactly as the first, considering the exchange may not return all the information required for the library to transform the data, however there is some information in the info obje

[2018-11-01 19:16] buddylindsey commented on #4088
@milesalex TBH I didn't run unit tests for coinbase. I haven't dug into the tests in ccxt as to how they work. I just call the API directly and change code until it all works as expected. All the exchange API's I have worked with never work fully as documented so I don't try to dev much based solely on the docs then agaist the API. I just write some stuff and call the API from the first time I run

[2018-11-01 19:18] ashbeats opened #4090 "fetchDepositAddress method not found (Binance, PHP)"
- OS: win 10
- Programming Language version: php 7.2.2
- CCXT version:  1.17.445
- Exchange: binance
- Method: fetchDepositAddress

Issue:
fetchDepositAddress  is not implemented in the php library.

Binance does support the action though.

https://github.com/binance-exchange/binance-official-api-docs/blob/master/wapi-api.md#deposit-address-user_data

Is there a reason for this?

[2018-11-01 19:21] #4090 closed

[2018-11-01 20:04] milesalex commented on #4088
hahah yeah, I just figured that out and did the same via the examples folder. It would be nice if we could run unit tests for each function.

[code]

[2018-11-01 20:48] milesalex opened #4091 "Implementing coinbase fetchMyTrades"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Mac
- Programming Language version: Node 8
- CCXT version: Latest
- Exchange: Coinbase
- Method: fetchMyTrades

----

I'm starting to implement `fetchMyTrades` for coinbase but it's rather challenging because the api is quite different from the ccxt api. A

[2018-11-01 20:51] milesalex commented on #4091
#4092

[2018-11-01 20:52] #4088 closed

[2018-11-01 21:51] kobej1 opened #4093 "Trying to connect to bitmex in the browser"
Hello,

Hello I try to connect to the api from bitmex but I get this error (see below). I've enabled the CORS with an extension for chrome so this isn't normally the problem.

`(async function () {
    let bitmex    = new ccxt.bitmex ()

    console.log (bitmex.id, await bitmex.loadMarkets ())

}) ();`

- Programming language: JavaScript (for use with the <script> tag)
- CCXT version: 1.17.449
- E

[2018-11-01 22:29] adrianog commented on #56
Can the feature/websockets-multiple branch be used from python?

[2018-11-02 04:13] kroitor commented on #4084
@Andi1990 let us know if this does not answer your question:

- https://github.com/ccxt/ccxt/issues/2640
- https://github.com/ccxt/ccxt/issues/2640#issuecomment-427824309
- https://github.com/ccxt/ccxt/issues/2640#issuecomment-427834252

Feel free to reopen this or just ask further questions, if any.

[2018-11-02 04:13] #4084 closed

[2018-11-02 04:16] #4087 closed

[2018-11-02 04:20] #4086 closed

[2018-11-02 04:53] kroitor commented on #4088
@milesalex thx! We do have some tests here:

- https://github.com/ccxt/ccxt/tree/master/js/test
- https://github.com/ccxt/ccxt/tree/master/python/test
- https://github.com/ccxt/ccxt/tree/master/php/test

Yet we agree, that may be an incomplete set, as we're still working on them... The most developed part of the tests is in JS, but it doesn't make any significant difference, because of our multila

[2018-11-02 05:46] kroitor commented on #4089
Fixed in CCXT 1.17.451. Thx for reporting!

Related: https://github.com/ccxt/ccxt/issues/94

[2018-11-02 06:13] kroitor commented on #4091
Hi!

Thanks for your participation, you're absolutely right, the whole point of this lib is to unify those differences in a convenient and standardized API.

We'd rather keep one http call per one method call, therefore, if a method requires some piece of data from another endpoint, those should be two separate methods in most cases, and the user should supply the return of the first one in the ar

[2018-11-02 06:13] #4091 closed

[2018-11-02 06:55] kroitor commented on #1407
@MarcelBeining I apologize for the wait, I know it's a terribly long delay, but, hey, we have some good news, if you can provide us with sample output of the following URLs, we think we could integrate their API this week (change for your key below):

- https://bitcoinapi.de/v1/YOUR_API_KEY/trades.json
- https://bitcoinapi.de/v1/YOUR_API_KEY/orderbook.json
- https://bitcoinapi.de/v1/YOUR_API_KEY/r

[2018-11-02 08:02] kroitor commented on #1407
This sucks, by the way:

<img width="1116" alt="screen shot 2018-11-02 at 10 51 48" src="https://user-images.githubusercontent.com/1294454/47900274-5f92a080-de8d-11e8-8e57-90e260df20c1.png">

Restricting access to the API itself is understandable, but restricting access to API docs is a poor policy, we think. Developers have to rely on 3rd party info instead of having it from first hands, that is,

[2018-11-02 08:04] kroitor commented on #3833
Related PR: https://github.com/ccxt/ccxt/pull/3963

[2018-11-02 10:10] tercel commented on #552
nonce issue;  we can use 'new Date().getTime()' in javascript instead of usecTime function

[2018-11-02 10:12] kroitor commented on #552
@tercel https://github.com/ccxt/ccxt/wiki/Manual#working-with-datetimes-and-timestamps

[2018-11-02 11:37] ceaser1996 opened #4094 "Margin Call and Liquidation for Kraken"
How to Calculate Margin Call and Liquidation for Kraken or any exchange which supports shorting? Is there any formula or any specific method is available?
- OS: Ubuntu
- Programming Language version: PHP 7.1
- CCXT version: 1.13
- Exchange: Kraken

[2018-11-02 12:31] MarcelBeining commented on #1407
Hi @kroitor ,
nice to hear from you! Ok I'll check the results, however as far as I could see, the way the requests are made is different. E.g. the orderbook is checked by making a request to https://api.bitcoin.de/v2/orders (or v1) with fields: type and optional fields: amount ,price,order_requirements_fullfilled ,only_kyc_full , only_express_orders , only_same_bankgroup ,only_same_bic ,seat_of_b

[2018-11-02 12:41] kroitor commented on #1407
Hi, @MarcelBeining !

Yes, that would help a lot! If you can, please, post it here or send me a link or an archive to igor@ccxt.trade.

Yep, we also found https://www.npmjs.com/package/bitcoinde-api and some other implementations, just wanted to make sure that we are in line with their official docs...

Thx for your involvement!

[2018-11-02 13:42] soliveira-vouga commented on #4089
Oof, I didn't realize that response was a hardcoded one! Thx for fixing

[2018-11-02 13:45] kroitor commented on #4089
@soliveira-vouga

Sorry for the inconvenience, noticed it too late. Let us know if you have issues with it and thx for your help!

[2018-11-02 16:43] suril10 commented on #2022
I know this thread is closed but I am getting the same error but with exchange.withdraw() function for withdrawing litecoin from livecoin to bitstamp.

[2018-11-02 16:46] kroitor commented on #2022
@suril10 follow these guides:

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-11-02 16:47] suril10 commented on #2022
I know this thread is closed but I am getting the same error but with exchange.withdraw() function for withdrawing litecoin from livecoin to bitstamp.

[2018-11-02 16:57] suril10 opened #4095 "TypeError: unhashable type: 'dict'"
- OS: Windows 10
- Programming Language version: 3.7.0
- CCXT version: version 1.17.455
- Exchange: livecoin
- Method: exchange.withdraw()

I am trying to use the exchange.withdraw method and getting the unhashable type: 'dict' error.

code:

import ccxt

b = getattr(ccxt, 'livecoin')({'uid': 'user id',
                         'api_key': 'user api key',
                         'secret': 'secret

[2018-11-02 17:08] #4095 closed

[2018-11-02 17:19] suril10 commented on #4095
I am still getting the error.

[2018-11-02 17:22] kroitor commented on #4095
@suril10 right, we have to wait till this build passes and update to CCXT 1.17.456 (should arrive in 5-10 minutes).

[2018-11-02 17:32] kroitor commented on #4095
Ok, it's there, please retry with the updated version. Let us know if you have further difficulties with it. Thx for reporting!

[2018-11-02 18:43] suril10 commented on #4095
print(b.withdraw('LTC', 0.15, 'MGanpgm7sg2Ttw7R25GyNj81RYwMvYjjRR'))

c:\users\thake\appdata\local\programs\python\python37\lib\site-packages\ccxt\livecoin.py in withdraw(self, code, amount, address, tag, params)

TypeError: unhashable type: 'dict'

[2018-11-02 18:56] kroitor commented on #4095
First of, there's a typo in the code you posted above:

[code]

Second, let's make sure that your version of ccxt is up to date:

[code]

↑ What does it say?

[2018-11-02 19:19] suril10 commented on #4095
import ccxt
# pip list might show a different version number than this line,
# so we print the actual runtime version of ccxt here
print(ccxt.__version__)

output:
1.17.449

I changed the api_key to apiKey but still the same thing.

[2018-11-02 20:05] kroitor commented on #4095
Looks like an old version to me. How about you? )

[2018-11-02 20:11] robertwilliamallen opened #4098 "Bitfinex missing PermissionDenied exception"
- OS: macOS High Sierra
- Programming Language version: Python 3
- CCXT version: 1.17.439
- Exchange: Bitfinex
- Method: create_order()

Missing: "This API key does not have permission for this action"

See below:
[2018-11-02 20:01:32,134] ERROR in app: Exception on /Bitfinex/orders [POST]
Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/ccxt/base/exchange.py", lin

[2018-11-02 20:45] suril10 commented on #4095
Sorry my mistake! I read it as 1.17.449! I updated it again and its working!! Sorry for the silly error. Thanks for all the help! You guys are doing a great job!

[2018-11-02 20:49] #4098 closed

[2018-11-03 08:20] asocanari opened #4100 "find out if exchange supports IOC trades ?"
Hi there,

more or less a question, does one have a chance to find out before setting a trade if an exchange supports IOC trades ? If it supports, all find, if not and an exchange only supports f.e. GTC , one would have to cancel the trade immediately if you want to achieve a similar behaviour, right ?

Thanks for this great thing by the way ! You are doing a great job, also the way of supporting

[2018-11-03 18:31] davemg3 opened #4101 "BCEX incomplete candles"
- Programming Language version: PHP
- CCXT version: 1.17.459
- Exchange: bcex
- Method: FetchOHLCV

Hi, https://github.com/ccxt/ccxt/issues/1577
On CMC :
for example, BTC/CKUSD  is around 33M$ for 24hvolume
![image](https://user-images.githubusercontent.com/32598581/47955831-fd759080-df9d-11e8-93e2-c1b74af9c1ee.png)

On CCXT:
BTC/CKUSD 1h candles will provide less than 24k$/1h-> less than 0.5M$ fo

[2018-11-03 19:44] kroitor commented on #4101
Hi!

It's basically due to the same reason as explained here: https://github.com/ccxt/ccxt/issues/3178#issuecomment-410272004

We will think of adding such an indication.

[2018-11-03 19:44] #4101 closed

[2018-11-03 19:46] davemg3 opened #4102 "CoinTiger received volume based on quote units and not base units"
- OS:
- Programming Language version: PHP
- CCXT version:1.17.459
- Exchange: CoinTiger
- Method: FetchOHLCV

When comparing CMC 24h volume
![image](https://user-images.githubusercontent.com/32598581/47956687-a45f2a00-dfa8-11e8-98ae-55262cda6a02.png)

with received 1h kline volume
![image](https://user-images.githubusercontent.com/32598581/47956702-eb4d1f80-dfa8-11e8-89f2-02a6df1589c8.png)

We see

[2018-11-03 20:21] kobej1 opened #4104 "Error: binance GET request timed out (10000 ms)"
Hello,

I sync my local time every minute with the software "Dimension 4" but after an hour of 2 I have still the error "binance GET request timed out (10000 ms)". This time it got this error when calling after my KEY balance. Do anyone know how to fix this problem? This was my output:

![image](https://user-images.githubusercontent.com/42657049/47956973-46cddc00-dfae-11e8-9f2c-f7dbd3047835.png)

[2018-11-04 06:05] mekalz opened #4106 "bigone.fetch_order api format changes"
The format of response data of fetch_order api has been changed, was wrapped as a sub-object with a key of "data"

there should be a convertion:
[code]

- OS: macOs
- Programming Language version: 2.7.15
- CCXT version: 1.17.424
- Exchange: BigONE
- Method: fetch_order

[2018-11-04 10:34] #4102 closed

[2018-11-04 10:37] kroitor commented on #4100
Hello!

Currently, this aspect isn't unified, but, hey, we got a few related pull-requests here (check them for more details):

- https://github.com/ccxt/ccxt/pull/1894
- https://github.com/ccxt/ccxt/pull/1865

We are going to unify this aspect in one of the upcoming versions.

Not really, because even if you cancel immediately, that still takes time, and it does not prevent the exchange to fill y

[2018-11-04 10:42] asocanari commented on #288
HI there, is this functionality maybe broken ? I am trying to do

`
        let ex = await exchange.getExchangeObject('hitbtc2');
        balances = await ex.fetchBalance({'type': 'trading'});
`
which works fine so far, but

`
        let ex = await exchange.getExchangeObject('hitbtc2');
        balances = await ex.fetchBalance({'type': 'payment'});
`
returns

(node:28915) UnhandledPromiseRejectio

[2018-11-04 10:45] kroitor commented on #4104
From your screenshot it looks like you're fetching the ticker (not the balance). Anyways, that's a common pitfall if you forget to apply rate limiting as required by the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/issues/1855
- https://github.com/ccxt/ccxt/issues/1027
- https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-

[2018-11-04 10:45] #4104 closed

[2018-11-04 10:52] asocanari commented on #4100
Hi there, thanks for your reply ! Thats right of course, but its more or less to get the trade done, or unblock the amount that would otherwise remain in that trade until it would be executed. Like this, the trade will be done, or in 1-2-3 seconds later it would be canceled, which is fine for my purpose for now.

Thanks, best regards, Simon

[2018-11-04 10:57] asocanari opened #4108 "hitbtc balance main broken ?"
Hi, it was referenced here already how to get the main balance from hitbtc, but it seems broken maybe ?

https://github.com/ccxt/ccxt/issues/288#issuecomment-335549106

is this functionality maybe broken ? I am trying to do

[code]
which works fine so far, but

[code]
returns
[code]

On version ccxt: '1.17.461'

Have any hint whats going wrong here ? Or do I use it wrong ?

best regards, Simon

_O

[2018-11-04 11:06] kroitor commented on #4108
Hi!

Nope, the above examples were for hitbtc v1 (which is deprecated).

And in your case, you're using hitbtc2 (v2).

With v2, this should be done in the following way:

[code]

Hope this answers your question.

[2018-11-04 11:06] #4108 closed

[2018-11-04 11:53] asocanari commented on #4108
Thats awesome ! Thanks a lot !

best regards, Simon

[2018-11-04 11:54] kobej1 commented on #4104
Yeah sorry I apologize, I meant fetching the ticker of the coin KEY. But I get the "binance GET request timed out (10000 ms)" error after an hour of two for a random method I want to execute. I sync my local time every minute and added **'enableRateLimit': true** when adding my api keys. But is there a way to solve this issue?

[2018-11-04 12:05] kroitor commented on #4104
Ok, however, note, that you can't really fetch a ticker for a *coin*, you can fetch a ticker for a pair of traded coins, that is a *symbol*, as decribed in the Manual (market *symbols* are not the same as coin or token *codes*).

- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

That doesn't really make a significant difference to your main question, just make sure that you use th

[2018-11-04 13:33] andyesi opened #4110 "ccxt-1.17.464 okex RequestTimeout"
- OS: macOS MoJave 10.14
- Programming Language version: Python
- CCXT version: ccxt-1.17.464
- Exchange: Okex

error:
ccxt.base.errors.RequestTimeout: okex GET https://www.okex.com/v2/spot/markets/products HTTPSConnectionPool(host='www.okex.com', port=443): Max retries exceeded with url: /v2/spot/markets/products (Caused by ConnectTimeoutError(<urllib3.connection.VerifiedHTTPSConnection object at

[2018-11-04 13:45] kroitor commented on #4110
Same question answered here https://github.com/ccxt/ccxt/issues/4104#issuecomment-435659141
Also, check if you can access it from a different location/under vpn/using proxy or CORS, as described in the Manual.
Hope this helps.

[2018-11-04 13:46] #4110 closed

[2018-11-04 18:13] milesalex opened #4111 "Implement `fetchClosedOrders` for Liqui"
Will submit PR. Using for tracking purposes.

[2018-11-04 18:14] milesalex opened #4112 "Implement `fetchClosedOrders` for Coinbase"
Will submit PR. Using for tracking purposes.

[2018-11-04 18:14] milesalex opened #4113 "Implement `fetchClosedOrders` for Gemini"
Will submit PR. Using for tracking purposes.

[2018-11-05 01:02] #3309 closed

[2018-11-05 08:32] phuaky commented on #1087
im trying
`(async () => {
  let exchange = new ccxt.bithumb()

  await exchange.loadMarkets()

  Object.keys(exchange.markets).map((key, value) => {
    console.log(key, exchange.markets[key]['active']);
  })

})()`

it is returning me 'true' for STEEM/KRW, but when i log in to the online portal and check, i am not able to deposit or withdraw.

any other ways i can do this?

[2018-11-05 09:30] davemg3 commented on #4064
- On 1.17.465 Php version, i got successul response from okcoinusd, maybe u should give it a try again
- About AllCoin, seems they have new endpoint since July : https://www.allcoin.ca/Api_Order/ticker?symbol=ltc2btc ( even still some availibility issue)

[2018-11-05 13:47] davemg3 opened #4114 "New Exchanges : DobiTrade"
Hi,

These 2 high volume exchanges got some API docs :

DIGIFINEX (BTC volume > 162Millions/24h)
 https://github.com/DigiFinex/api

DobiTrade (BTC volume > 285Millions/24h)
 https://api.dobitrade.com/#api_block

---addition:
IDAX( CMC BTC volume > 124Millions/24h)
https://github.com/idax-exchange/idax-official-api-docs/blob/master/open-api_en.md

[2018-11-05 15:40] suril10 opened #4115 "Bitstamp authentication and nonce error."
- OS: Windows 10
- Programming Language version: Python 3.7.0
- CCXT version: 1.17.457
- Exchange: Bitstamp
- Method: fetch_deposit_address(); fetchTransactions()

I am just trying to access the transactions and also the deposit address and I am getting the authentication error and nonce error as well. This started happening for the past week. I also added rate limiter. It was working fine previou

[2018-11-05 16:08] kroitor commented on #4115
@suril10 have you tried the same snippet with a new API keypair?

[2018-11-05 16:19] suril10 commented on #4115
So do I need to generate new apis?

[2018-11-05 16:21] fedecaccia opened #4116 "Bitstamp create order limit instead of market"
- OS: Ubuntu 16
- Programming Language version: Python3
- CCXT version: Last
- Exchange: Bitstamp
- Method: create_order

Using
[code]

returns

{'info': {'datetime': '2018-11-05 16:16:39.532897', 'price': '0.45701', 'id': '2344851866', 'amount': '205.33880000', 'type': '0'}, 'id': '2344851866'}

when real market prices are between 0.485 and 0.486

[2018-11-05 16:29] karlandoh opened #4117 "API sends, however returns error regardless."
Puppy Linux
Python 3.7.0
Using the latest CCXT.
BTCAlpha
btcalpha.fetchOpenOrders(any currency)

I've noticed with these commands. Will use the first as an example. API information is accurate.
[code]
[code]
As you can see, the command executes. However, it still raises a KeyError which shuts down my code. Seems like a pretty simple fix.

Thanks for your time.

[2018-11-05 16:34] kroitor commented on #4115
Yes, and you should read this: https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2018-11-05 16:35] #4117 closed

[2018-11-05 16:40] kroitor commented on #4116
@fedecaccia need to see the verbose request/response for that call, without your keys. Basically, for market orders it should be a different endpoint, we need to make sure that it sends a proper call...

[code]

[2018-11-05 16:44] GenesisGupta opened #4118 "How to cancel all pending orders in Okex via ccxt ?"
okex.privateDeleteOrderAll() does not work

okex.privatePostOrderCancelAll() does not work

ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: python 3.6
- CCXT version: 1.17.394
- Exchange: Okex
- Method: Cancelorder

[2018-11-05 16:46] fedecaccia commented on #4116
[code]

[2018-11-05 16:46] fedecaccia commented on #4116
To read it easier:

Request: GET https://www.bitstamp.net/api/v2/trading-pairs-info/ {'User-Agent': 'python-requests/2.18.4', 'Accept-Encoding': 'gzip, deflate'} None

Response: GET https://www.bitstamp.net/api/v2/trading-pairs-info/ 200 {'Last-Modified': 'Mon, 05 Nov 2018 16:43:42 GMT', 'Cache-Control': 'max-age=0', 'Vary': 'Authorization,Accept-Language', 'Content-Type': 'application/json', 'Set

[2018-11-05 16:47] kroitor commented on #1087
@phuaky unfortunately, Bithumb API does not provide that info from any of their endpoints, so, it's true by default, but it may actually be false, like in your case. In other words that is due to limitations of the underlying API, but we'll see if we can add any workarounds with web scraping or something like that...

[2018-11-05 16:48] kroitor commented on #4118
https://github.com/ccxt/ccxt/wiki/FAQ#im-trying-to-run-the-code-but-its-not-working-how-do-i-fix-it

[2018-11-05 16:55] fedecaccia commented on #4116
I don't even understand why it is setting that lower price

[2018-11-05 17:00] kroitor commented on #4116
What's interesting, here we see that is does supply a market order to the proper endpoint without specifying the price:

- Request: POST https://www.bitstamp.net/api/v2/buy/market/xrpusd/
- signature=...&nonce=1541436222&amount=205.3388&key=XXXXXXXXXXXXXXX

... and we receive back the execution price 0.45701, while their website is showing XRP/USD 0.48313...

I'd say Bitstamp support should be abl

[2018-11-05 17:04] fedecaccia commented on #4116
There is a little bit more explanation in the Buy/Sell section on their exchagne front end:
_When you place an instant order, we add an order at the current bid or ask price (depending on the type of the order). If there is not enough XRP available at that price, our trading engine will then reposition your order every second to the current order book offer._

But for me neither it's not clear at

[2018-11-05 17:08] suril10 commented on #4115
I had a mistake. I had written enableRateLimiter instead of enableRateLimit. Sorry and thanks for the help.Keep up the good work.

[2018-11-05 17:11] kroitor commented on #4116
Cool. I guess, they're saying that your order will be closed for best price available filling the orderbook top-down... That filling procedure is partially covered here as well:

- https://github.com/ccxt/ccxt/wiki/Manual#how-orders-are-related-to-trades

In other words, that is how a *"market"* order is expected to behave (at least, to my understanding).
And if they call that an *"instant"* order

[2018-11-05 17:13] kroitor commented on #4115
@suril10 thx for reporting back!

[2018-11-05 17:13] #4115 closed

[2018-11-06 01:01] gj315 opened #4119 "Unable to place stop limit prder on hitbtc exchange"
Hi,
I am unable to place stop limit order for buy or sell on hitbtc through ccxt.

- OS: ubuntu 16
- Programming Language version: Node.js (10.13.0)
- CCXT version:1.17.458
- Exchange:hitbtc
- Method:createOrder

my call is this like -
req.exchange.createOrder(req.query.symbol, 'stopLimit', req.query.side, parseFloat(req.query.amount), limitPrice, { 'stopPrice': parseFloat(req.query.stopPrice) });

[2018-11-06 05:30] tye002 commented on #3057
I have encountered the same problem, what is the solution?

[2018-11-06 05:40] JSRossiter opened #4120 "QuadrigaCX fetchMyTrades not finding market in python"
- Programming Language version: python3.6
- CCXT version: 1.17.473
- Exchange: quadrigacx
- Method: fetchMyTrades

Python output
[code]

JS
[code]

Thanks for finishing this up for me! I had a look at this and couldn't see why it wasn't working in python but all the empty fields are a result of not getting the market, fetchOrder seems to be working fine

[2018-11-06 07:56] kroitor commented on #3057
@tye002

https://github.com/ccxt/ccxt/issues/3057#issuecomment-395089022

[2018-11-06 07:57] kroitor commented on #3057
@tye002 also, check that your the names for params that you're using for credentials are exactly `apiKey` (uppercase `K`, other letters lowercase), and `secret` (all letters lowercase).

[2018-11-06 08:01] tye002 commented on #3057
@kroitor  Thanks, I found the problem, it's about something related to the time mismatch. I tried this code, now it's working.
ccxt.binance({ 'options':{ 'adjustForTimeDifference':True}})

[2018-11-06 08:13] kroitor commented on #3057
@tye002 thx for reporting back!

However, you said you have the **same** problem and the error message discussed in this issue: `{"code":-2014,"msg":"API-key format invalid."}` does not correspond to errors with time difference. It must have been a **different** error, like a signature error, a nonce error or timestamp-related error message.

[2018-11-06 08:17] tye002 commented on #3057
@kroitor  Correct, there were two errors, the other one is about the timestamp. I thought this one :{"code":-2014,"msg":"API-key format invalid."} is the root problem. Thanks

[2018-11-06 08:57] jjhesk opened #4121 "New Exchanges: bitget"
main: https://bitget.com
api: https://github.com/BitgetLimited/API_DOC/wiki

[2018-11-06 11:45] kroitor commented on #4118
They have added an endpoint for canceling all orders in v3, the work on it is currently in progress: https://github.com/ccxt/ccxt/issues/4063

[2018-11-06 11:45] #4118 closed

[2018-11-06 13:20] JSRossiter opened #4122 "Quadriga parseTrade bug"
In python:
[code]
This was also setting all trades as sells in js.

quadrigacx.js:351 should use `baseId` instead of `base`

[2018-11-06 13:21] npomfret opened #4123 "Liquid: incorrect rate limit error?"
Liquid exchange returns a 429 when you exceed the rate limit.  Currently the error message thrown reads:

[code]

[2018-11-06 16:51] 7013145 opened #4125 "no trades attribute despite order fills"
- OS: Ubuntu Linux 32-bit
- Programming Language version: Python3
- CCXT version:
- Exchange: Yobit
- Method: order_info

A fill has occurred but there is no `trades` attribute when i query order_info. The `remaining` and `filled` attributes does reflect the fill, but I was hoping I could rely only on the `trades` attribute to monitor progress since using the filled/remaining might result in inacc

[2018-11-06 17:00] kroitor commented on #4125
If you query for their private `OrderInfo` endpoint with implicit methods, then you get the response from the exchange as is, and it's missing the fills – we won't make them up out of thin air, if the exchange does not provide that information. If, on the other hand, you do the call to `fetchOrder` then and the missing bits are there, but not parsed correctly in CCXT, it's a different story, and s

[2018-11-06 17:04] #4123 closed

[2018-11-06 17:15] robertwilliamallen opened #4126 "Bitfinex missing PermissionDenied Exception"
- OS: macOS High Sierra
- Programming Language version: Python 3
- CCXT version: 1.17.439
- Exchange: Kraken
- Method: create_order

Missing: "This API key does not have permission for this action"

Traceback (most recent call last):
  File "/opt/conda/lib/python3.6/site-packages/ccxt/base/exchange.py", line 434, in fetch
    response.raise_for_status()
  File "/opt/conda/lib/python3.6/site-packag

[2018-11-06 17:17] kroitor commented on #4126
@robertwilliamallen fixed it here: https://github.com/ccxt/ccxt/issues/4098, you just need to update to most recent version and that's it. Let us know if that does not help ;)

[2018-11-06 17:17] #4126 closed

[2018-11-06 17:42] 7013145 commented on #4125
I see that you are correct, I am using the `fetch_order` call from `ccxt.yobit`.

The thing is, usually the `trades` attribute works correctly. I could hope it's a one-off, or turn verbose on until the scenario occurs again.

My code is simple, I just make the above call and then handle the resulting `order` object, which probably have been working correctly 299/300 times.

I thought maybe if the

[2018-11-06 21:57] firepol opened #4127 "bitfinex fetchFundingFees result contains 'HOT' and 'Hydro Protocol' (full name & duplicate)"
I just called the method in question, and the response was:

`{'info': {'withdraw': {'BTC': '0.0004', 'LTC': '0.001', 'ETH': '0.0018', 'ETC': '0.01', 'ZEC': '0.001', 'XMR': '0.0001', 'DSH': '0.01', 'XRP': '0.02', 'IOT': '0.5', 'EOS': 0, 'SAN': '0.71147', 'OMG': '0.11971', 'BCH': '0.0001', 'NEO': 0, 'ETP': '0.01', 'QTM': '0.01', 'AVT': '0.92308', 'EDO': '0.26144', 'BTG': 0, 'DAT': '8.2767', 'QSH':

[2018-11-06 22:17] firepol opened #4128 "Proposal: unify fetchTransactionFees"
I've seen in the binance class, and others, huge hardcoded list of funding fees, not up to date.

I see that some exchanges support the method fetchTransactionFees.

Similarly to `fetchMarkets` and `fetchCurrencies`, I think that fees should not be hardcoded but loaded on demand (like markets & currencies).

Some exchanges also specify:
- minimum withdrawal amount
- deposit fee or small deposit fe

[2018-11-07 04:20] gj315 commented on #4119
@kroitor  Thanks a lot for your answer, yes it's working for me now.

[2018-11-07 07:07] gudlc commented on #4063
I apparently can't authenticate on OKEx through ccxt and I don't know why, it raises this exception:
ccxt.base.errors.AuthenticationError: okex {"result":false,"error_code":10007}
Is it due to the API update ? My keys are new ones.

[2018-11-07 11:00] kroitor commented on #4063
@gudlc

Nope, it's not.

In order to tell the exact reason, we need the following:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
- https://github.com/ccxt/ccxt/wiki/FAQ

[2018-11-07 11:03] satowallet opened #4129 "New exchange - https://satowallet.com"
Please support to add Exchange

Website: https://satowallet.com
API Doc: https://satowallet.com/?__wallets_exchange_action=get_market_summaries

Thanks!

[2018-11-07 11:15] helldragonx opened #4130 "how to set proxies when using shadowsocks"
- OS:
    Mac OS
- Programming Language version:
   Python 3.6
- CCXT version:
   1.17.469
- Exchange:
   Bitmex
- Method:
   exchange.load_markets()

 I'm using shadowsockes in the connection to bitmex and OKEX, the visit to the two exchanges using web browser or app(OKEX) are good, but my python code failed, maybe the proxy setting is not right.
Followings are my codes:

import ccxt
exchange = c

[2018-11-07 14:47] maayank opened #4132 "load_markets/fetch_markets optional parameters"
Some exchanges have optional parameters that may be of interest to their load_markets counterpart (e.g. 'expired' get parameter for 'getinstruments' at Deribit). Is there a way to pass the parameter to the request?

Assuming not (I'm not seeing a way thru the ccxt source code):
1. Is it possible to open a feature request? :)
2. I **may** implement it myself and send a patch (python) - what would b

[2018-11-07 15:14] xCuri0 opened #4133 ""AttributeError: 'NoneType' object has no attribute 'post'" when creating order on Cryptopia with async support"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: elementary OS Juno
- Programming Language version: Python 3.7
- CCXT version: latest from pip
- Exchange: cryptopia
- Method: create_order

[2018-11-07 18:15] mw130 opened #4136 "fetchOHLCV requires a since argument to be supplied along with the limit argument"
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: OS X Mojave
- Programming Language version: python 3
- CCXT version: 1.17.480
- Exchange: All
- Method: fetchOHLCV
I was using fetchOHLCV to get some exchange historical data, and now even when passing it with a 'since' argument, I get the error `    raise ExchangeError(self.id + ' fetchOHLCV requires a since ar

[2018-11-07 19:02] Arrmlet opened #4137 "DDoSProtection: binance 429 Too Many Requests only on server"
- Ubuntu:
- Python 3.6:
- CCXT version newest:
- Exchange: binance:
- Method: fetch_order_book:

Hello everyone, I have a problem when I start my bot on Amazon Instance I'm getting this error:
[code]
 What interesting when I start my script on my PC, this error is not occur.
A couple of my code:

[code]

[2018-11-07 20:18] kroitor commented on #4137
@Arrmlet Hi! Can you show your code for instantiating the exchange class? The most common pitfall is not using the rate-limiter properly, as described in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#rate-limit. Need to see how you create the exchange object, to resolve it.

[2018-11-07 20:22] kroitor commented on #4136
@mw130 can you make a short, but a complete snippet (including the instantiation code and the call) to reproduce the issue?

[code]

[2018-11-07 20:36] kroitor commented on #4132
As you know from the Manual, practically all methods have a way to pass those extra params/overrides, as described here: https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params. However, load_markets/fetch_markets is currently the only method that does not conform to that rule – that is mostly due to historical reasons. But we can add `params = {}` to its arguments as we do for most

[2018-11-07 20:44] jaredtkatz commented on #1914
Would anyone happen to know which exchanges support _trading_ via websockets? OKEx is the only one I've found so far.

[2018-11-07 21:19] Arrmlet commented on #4137
@kroitor  Thx for fast request , I created my exchange object like this:
[code]

[2018-11-07 21:21] kroitor commented on #4137
@Arrmlet looks like you missed it: https://github.com/ccxt/ccxt/wiki/Manual#rate-limit

See examples by that link. That should solve the issue. Let us know if not. Closing it for now, if you don't mind.

[2018-11-07 21:21] #4137 closed

[2018-11-07 21:33] kroitor commented on #4137
Yep.

[2018-11-07 21:47] Arrmlet commented on #4137
@kroitor Its help thank you :) Спасибо большое

[2018-11-07 23:41] clu8 opened #4138 "Bittrex International"
Requesting support for Bittrex International - should be a simple change to Bittrex, but using international.bittrex.com for endpoints, e.g. https://international.bittrex.com/api/v2.0/auth/balance/GetBalances

More info: https://support.bittrex.com/hc/en-us/articles/360001426066-FAQs-Bittrex-International-Trading-Platform-

[2018-11-08 03:26] #4130 closed, assigned to kroitor

[2018-11-08 05:01] xCuri0 commented on #4133
@kroitor
[code]
[code]

[2018-11-08 08:59] mesyakim commented on #1392
@kroitor How's it going? Is there a problem?

[2018-11-08 09:31] MarcelBeining opened #4139 "Kucoin order limit issue"
- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: 1.17.480
- Exchange: kucoin
- Method: fetchClosedOrders

When I give a limit greater than 20 to fetchClosedOrders the length of the returned array is always 12, instead of the limit number.

[code]

By the way, there is something I do not understand:
According to https://kucoinapidocs.docs.apiary.io/#reference/0/trading/li

[2018-11-08 10:19] lampardlb opened #4140 "How to get currency names and exchanges by volume from CoinMarketCap?"
- OS: Windows
- Programming Language version: python
- CCXT version: 1.17.480
- Exchange:
- Method: coinmarketcap

Hi,
  Sorry this is a question rather than an issue, but i could not find the answer from the relevant manuals. What I'm wondering is for a given full name of a currency (e.g. 'Bitcoin'), how I can obtain information for the following from ccxt.coinmarketcap():
  1. the short name of

[2018-11-08 10:29] npomfret commented on #4140
This is documented [here](https://github.com/ccxt/ccxt/wiki/Manual#notes-on-naming-consistency) in the manual I believe.  To map from symbols to names you can construct a `coinmarketcap` instance of ccxt and call it's `fetchCurrencies` method - the resulting data has both the name and id.

[2018-11-08 10:49] lampardlb commented on #4140
@npomfret Thank you very much for your reply Nick. I've tried the fetchCurrencies method, but it seems to load all the currencies on coinmarketcap, which is obviously a lot of data and it freezes python entirely. Is there a 'lite' way just to load the currency of interest please?

Here're the codes I used:
import ccxt
cmc = ccxt.coinmarketcap()
cmc.fetchCurrencies()

[2018-11-08 11:08] npomfret commented on #4140
That's odd that it takes so long.  I'm not using python unfortunately but the js call takes only 199ms.

You could make the call and then cache the data perhaps?  But in answer to your question I don't know another way to get a mapping of currency name to symbol / id.

[2018-11-08 11:13] lampardlb commented on #4140
@npomfret yes I'm planning to cache the data. I'll try to find out why it takes long. Thanks for your help!

[2018-11-08 11:30] larsCrypto commented on #4138
Yup, currently attempting to trade on certain coins such as ZIL gives the error "does not have market symbol" because there's no option to trade using the international APIs

[2018-11-08 12:08] kroitor commented on #4133
If self.session doesn't have a `post` method anymore, then, it is either an already-closed session or something related to the session object... I'd start with a reduced snippet, like this one:

[code]

Does it break with the same exception on your side?

[2018-11-08 12:48] ychaim commented on #2380
Hi Kroitor,

They just called me 5.000 usd to add ? I offered a partnership both win win.
Would you think about it ?

Best Regards,

ytz

[2018-11-08 13:36] ychaim commented on #2380
Just replied to your email ...

[2018-11-08 14:08] kroitor commented on #4128
Hi!

Yep, we were initially against hardcoding those (and we still are, as you can see from numerous comments around those values):
- https://github.com/ccxt/ccxt/blob/2fc5c5bd09da6e7452b27829f9a3435cbb11b7f5/python/ccxt/async_support/rightbtc.py#L97
- https://github.com/ccxt/ccxt/blob/ce8bb0465877fe1a83fa873d53ef7e3a8bebdae4/php/bigone.php#L74
- https://github.com/ccxt/ccxt/blob/ad89fc81b11840371

[2018-11-08 14:33] koltsovml opened #4141 "Exchange: Coinbase - full methods support"
Hello ccxt team!
I'm going to use your library and I'm particularly interested in Coinbase exchange. As I've found out, it doesn't have the create_order method. DO you have any plans in regards to implementing full Coinbase support in the nearest time, perhaps you're already working on it?
Looking forward to hearing from you soon!

- OS: Windows 10
- Programming Language version: PHP 7.2
- CCXT ve

[2018-11-08 14:35] kroitor commented on #4141
Hi!

Let's clarify: are you asking about Coinbase (which isn't an exchange, more like a wallet service) or Coinbase Pro (which is an exchange, formerly known as GDAX) ?

[2018-11-08 14:56] koltsovml commented on #4141
To my knowledge Coinbase is a simplified version of Coinbase Pro, am I right?

[2018-11-08 15:02] chrisensus opened #4142 "New Exchange: CBX"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange: https://www.cbx.one/
- Method:

[2018-11-08 15:03] kroitor commented on #4141
Well, it's not really guaranteed that your orders with Coinbase will be executed via Coinbase Pro orderbooks, so, to me these are separate systems. Anyways, we will do our best to add `create_order` to Coinbase as well.

[2018-11-08 15:09] kroitor commented on #4114
@davemg3 IDAX is here: https://github.com/ccxt/ccxt/issues/3406 (we usually open one request per exchange to keep discussions on their aspects apart).

[2018-11-08 16:30] firepol commented on #4128
Thx for your reply @kroitor

but would it make sense if I have some spare time, to try to code something, as suggested in the other discussions you mentioned?

First priority try to implement this method for a few exchanges that actually include the info in some api, I just have to find out on each exchange, where is it hidden, as you said sometimes it's in the markets, sometimes in currencies etc

[2018-11-08 17:35] mw130 commented on #4136
My apologies @kroitor , this is for bitz exchange only, not the others. As a side  note, to note open a new issue, do you know if the fact that you can't fetch historical data on Kraken a ccxt issue or an issue on their side? If you call 1m data from 2016, instead of returning 1m data from then until the limit of datapoints, it will return the earliest it can until present (which is about a day)

[2018-11-08 17:43] mw130 opened #4143 "Any way to get the rate limit for each public API on ccxt?"
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: mojave
- Programming Language version: python 3
- CCXT version: latest (as of 11/8/18)
- Exchange: all
- Method: get rate limit
Is there some method for getting the rate limit without manually looking it up for each exchange?

[2018-11-08 19:39] kroitor commented on #4143
[code]

Let us know if that does not answer the question )

[2018-11-08 19:39] #4143 closed

[2018-11-08 19:57] #4136 closed

[2018-11-08 20:00] kroitor commented on #4136
Oh... The warning isn't quite clear, you should read it as: *"For bitz, fetchOHLCV requires a limit argument if the since argument is specified."* I've changed the phrasing, so it should be clear from now.

Yes, and, as long as it's documented, it isn't an issue on either side ) You should read the Manual really carefully: https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-candlestick-charts as it's e

[2018-11-08 20:12] mw130 commented on #4136
@kroitor

Does this mean that you can't scrape 1m historical data on exchanges?

[2018-11-08 20:22] mw130 commented on #4136
@kroitor sorry, just to follow up, if this is the case, is there a list of which exchanges will allow querying 1/5m historical data and which will just return empty lists?

[2018-11-08 20:31] kroitor commented on #4136
It means, you can only scrape the entire history from very few exchanges, and most of them will serve a limited version of it anyways. So, yes, if you're looking for a generalized solution, I'm afraid you will have to start gathering that data or obtain it from whatever paid or free resources and services you can find online... That is a limitation coming from exchanges' side, obviously, we don't

[2018-11-08 20:55] mw130 commented on #4136
I see. The last thing I would ask then is, do you know which exchanges do allow most of the history? Do you know how places like Cryptotick.com can get the data? Your help is much appreciated.

[2018-11-08 22:43] nerfherder1 opened #4145 "Show order response create_market_buy_order"
Trying to see the response from create_market_buy_order but I am not sure how.  I have tried a print | pprint | and custom logging.  I do not want to turn on verbose for all http.  Id like to get just the response from this query.  I have tried with and without params.  My code appears to skip over the "market_buy" when trying to get output from it. Other logging | pprint and print statements work

[2018-11-08 22:52] kroitor commented on #4145
One of possible ways:

[code]

That isn't the only way to achieve the same, though... So it depends on the purpose of saving it in the first place. Let us know if that does not answer your question.

[2018-11-08 23:06] #4145 closed

[2018-11-09 01:57] kroitor commented on #4141
@koltsovml btw, in the meantime, you can still place orders there with CCXT with https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods ;)

[2018-11-09 10:47] ndubel opened #4146 "Tidex loadMarkets() error"
- Programming Language: JS
- CCXT version: 1.17.449
- Exchange: Tidex
- Method: loadMarkets()

When I try to create instance of tidex i catch an error:

[code]

There is no anything about web.tidex.com in tidex api https://tidex.com/exchange/public-api, but in works fine until yesterday

[2018-11-09 15:22] npomfret opened #4147 "inhibit nonce generation?"
I've just noticed that bleutrade have made it optional to use a nonce in their API:

This is particularly interesting because they don't allow multiple api keys, so it's very difficult having more than one app running.

https://classic.bleutrade.com/help/API

It there a way to inhibit the inclusion of a nonce in the API calls?

[2018-11-09 17:45] kroitor commented on #2937
@mw130 there's been some progress and some exchanges from the above list are already fixed, however, it's hard to resolve this entire issue at once, sorry, this is the reason why we keep them separate... I'll take a look into Bleutrade as soon as I can...

[2018-11-09 19:35] kroitor commented on #4146
Right, but there was *something* about web.tidex.com on their website, until they decided to redesign their domain structure, so, it has been renamed to gate.tidex.com and it is a bit broken since. We'll add a fix for it shortly.

We had to use their web endpoints (as opposed to API endpoints) because upon the moment of integration, their API/docs didn't have enough info on currencies and markets,

[2018-11-09 19:41] kroitor commented on #4146
Nope, looks like I was wrong, this endpoint: https://api.tidex.com/api/3/info does not have any info on currencies, just the markets... So, i guess, we will have to simply migrate from `web.tidex.com` to `gate.tidex.com`.

[2018-11-09 19:42] kroitor commented on #4146
https://gate.tidex.com/api/trade-data/ ← this "non-official" endpoint has the full info, but, if they decide to change it again, it will break again...

[2018-11-09 19:46] #4146 closed