[2018-02-21 22:28] kroitor commented on #2009
Sorry, but I don't "see", here's what I do (and it works normally):

[code]

[2018-02-21 22:31] kroitor commented on #2009
So, the code is:

[code]

↑ And it works...

[2018-02-21 22:32] artbred commented on #2009
I got the problem. So im looking for id and its lowercased code)))Thats why when i write 1ST it doesnt match to 1st sorry for wasting time

[2018-02-21 22:33] kroitor commented on #2009
@artbred ok, thanks for reporting back! No worries! Would you mind if I close this now?

[2018-02-21 22:34] artbred commented on #2009
yeah of course,thanks for help)

[2018-02-21 22:34] #2009 closed

[2018-02-22 05:25] mkutny commented on #2010
I think that library might benefit from unified poller helper. I don't know what PHP and Pythons guys doing but in JS we (users) end up with `setTimeout` which is renewed after callback is complete. Not that it's hard to do but it's not just one line of code, it usually requires few tweaks before it gets stable, and everybody has to reimplement it in userland.

If we had it users would build any s

[2018-02-22 05:27] mkutny commented on #2010
Something like:
[code]

[2018-02-22 08:37] xsyfrost opened #2013 "cryptopia sell order 500 error prices not found"
- OS: Mac os X
- Programming Language version: PHP
- CCXT version: 1.10.1173
- Exchange: cryptopia
- Method: createLimitSellOrder

There is something strange when pushing a sell order.
I get "prices not found" 500 error on /ccxt/ccxt/php/Exchange.php", "line": 1548
But the parameters are good and the transaction is fullfiled
[
	'info' => [
		'Success' => true,
		'Error' => null,
		'Data' => [
			'

[2018-02-22 09:14] dinhnv commented on #1914
@ardabeyazoglu Did you use websocket for listening to a single ticker or multiple tickers? Can we implement a function for listening on many tickers for one exchange?

[2018-02-22 09:31] ardabeyazoglu commented on #1914
@dinhnv I've been using websocket for listening ticker updates for multiple coins in each exchange. Let's say, i have 4 different node scripts. Each of them is listening a different exchange's ticker updates for multiple coins. And yes in one function.

For bittrex, binance and poloniex there are already some node libraries that can do this easily. For hitbtc version2 api, there is none yet. Howev

[2018-02-22 11:13] mkutny commented on #1988
Hi, @mostar , thanks for the report!

You know, I see from the code that the encrypted string is set to the header:
https://github.com/ccxt/ccxt/blob/76fda1a35ac91d9bc03c43bcaed09b58578aefb3/js/vaultoro.js#L204-L207

You can also check it the other way if you run this command line swiss knife in verbose mode:
[code]

So we expect it to work but indeed, I can confirm that they return `401 Unauthori

[2018-02-22 14:00] xuanricheng opened #2015 "okex withdraw error"
It's execute well in 7 days ago!
withdraw always return the error like below:
okex {"result":false,"error_code":10012}
`exchange.password = '********'`
`params = {'chargefee': 0.1}`
`result = exchange.withdraw(“ETC",0.5, address, params=params)`

console output:
Exception in thread Thread-97211:
Traceback (most recent call last):
File "/home/xuanricheng/tools/anaconda2/envs/py3/lib/python3.6/threa

[2018-02-22 14:16] triosphere opened #2016 "CCXT Charts"
- OS:  Debian 9
- Programming Language version:  Python 2.7.13
- CCXT version:  1.10.1178
- Exchange:  n/a
- Method:

I realize this question isn't code-specific, so feel free to delete it if this not the proper place for it.  Basically I have ccxt scripts working, specifically candlestick chart data code outputting on my console.  Can someone point me to documentation on how to turn this data int

[2018-02-22 16:09] 2l1k commented on #2004
require is not defined

[2018-02-22 16:53] kroitor commented on #2004
@2l1k do you use it in a browser? If so, then `require` wont work, you need to check these examples: https://github.com/ccxt/ccxt/tree/master/examples/html

[2018-02-22 16:56] kroitor commented on #2016
@triosphere have you seen the *See also* section in the examples? )

https://github.com/ccxt/ccxt/tree/master/examples#see-also

There's more than several hundreds of examples there, including various charting apps and articles ;) Let me know if it does not help  )

[2018-02-22 20:14] kroitor commented on #2015
@xuanricheng can you please post a minimal but a complete snippet of code to reproduce your problem (avoid one-liners)? I don't really understand how you call the method, need to see it in a context, please post just the necessary things to reproduce it, remove all irrelevant code to rule out other causes. Please follow these instructions literally: https://github.com/ccxt/ccxt/blob/master/CONTRIB

[2018-02-22 20:36] #1988 closed

[2018-02-22 20:36] kroitor commented on #1988
@mkutny you're using my public key, which was screwed long ago by some newb user who tried to use my key with some micro-giga-seconds-nonce or something, so the nonce is screwed on that key, therefore Unauthorized...

I've created a new key, and it works:

[code]

[code]

https://github.com/ccxt/ccxt/blob/master/examples/php/vaultoro-fetch-balance.php

@mostar ↑ that snippet should work normally,

[2018-02-22 20:38] #2016 closed

[2018-02-22 20:56] kroitor commented on #1931
See #2014 (to be merged soon).

[2018-02-22 21:21] alt3rmann opened #2019 "Binance: createMarketBuyOrder does not return price"
I completed the buy by createMarketBuyOrder.
I want to know at what price I made a purchase, but createMarketBuyOrder does not return price I bought.
I tried to use fetchOrder, fetchOrders, fetchClosedOrders, but it's does not return price.

For example:

[code]

[2018-02-22 21:43] kroitor commented on #2019
@alt3rmann

But you haven't tried fetchMyTrades after a market order? )

https://github.com/ccxt/ccxt/wiki/Manual#personal-trades

Let us know if this does not help )

[2018-02-22 21:43] #2019 closed

[2018-02-22 22:08] pedrito87 opened #2022 "Bit-Z unhashable type: 'dict'"
- OS: Windows 10
- Programming Language version: Python 3.6.4
- CCXT version: 1.10.1133
- Exchange: Bit-Z
- Method: create_limit_sell_order

Hi,
I am using ccxt for some time and it works great on most exchanges. Incredible work!
However today I tried out Bit-Z exchange and I am running into an error. I tried to figure it out myself but gave up. So consider such a simple code:

[code]
And it produ

[2018-02-22 22:12] miracle2k commented on #1970
Seems to work for me. Thank you so much!

[2018-02-22 22:13] kroitor commented on #1970
@miracle2k thx for letting us know ) Cheers! )

[2018-02-22 22:50] #2022 closed

[2018-02-22 23:07] aeroreyna opened #2023 "HitBtc2 fetchClosedOrders do not filter for status closed"
- OS: Windows
- Programming Language version: Node.js
- CCXT version:
- Exchange: HitBtc2
- Method: fetchClosedOrders

fetchClosedOrders return open and canceled orders.

requires

`this.filterBy (orders, 'status', 'closed');`

before returning the orders.

[2018-02-23 00:05] pedrito87 commented on #2022
Thank you very much for a very fast and accurate answer! 👍
So in Python code looks like this:

        self.load_markets()
        market = self.market(symbol)
        request = {
            'coin': market['id'],
            'type': side,
            'price': self.price_to_precision(symbol, price),
            'number': self.amount_to_string(symbol, amount),
            'tradepwd': self.password,

[2018-02-23 00:08] kroitor commented on #2022
@pedrito87 you just need to update ccxt to 1.10.1185 )

https://github.com/ccxt/ccxt/blob/master/python/ccxt/bitz.py#L275

[2018-02-23 01:32] xuanricheng commented on #2015
I see that okex API said: symbol parameter must be like this:
 btc_usd:比特币    ltc_usd :莱特币    eth_usd :以太坊     etc_usd :以太经典    bch_usd :比特现金

but ccxt in version 1.10.1178, set this parameter as "etc" or "btc"

[2018-02-23 03:12] #2015 closed

[2018-02-23 04:23] sergeijust commented on #1451
I have the same problem with binance exchange. I use python. Any value for `since` is ignored
Even this return all orders: `exchange.fetch_orders(symbol, since=time.time())`

[2018-02-23 04:30] sergeijust opened #2025 "fetch_orders is ignoring `since` argument"
- OS: Windows 10 x64
- Programming Language version: Python
- CCXT version: 1.10.1185
- Exchange: Binance
- Method: fetch_orders

Any value for `since` in `fetch_orders` is ignoring. Even this return all orders: `exchange.fetch_orders(symbol, since=time.time())`

[2018-02-23 04:56] PhlipPhlops opened #2026 "Market-buy request to CEX is sending a completely different 'amount' value than what was passed in !"
My deets:
- OS: Ubuntu 16.04
- Programming Language version: Node.js v7.10.1
- CCXT version: 1.10.1185
- Exchange: CEX
- Method: createOrder()

My code:
[code]

My Error:
[code]

My.. verbosity?:
[code]

As you can see, the `amount` value that's actually sent in the http request object doesn't at all seem related to the value that I passed into the `createOrder()` method. The `Invalid amount` erro

[2018-02-23 06:50] mostar commented on #1988
Thank you it working.

[2018-02-23 07:41] mkutny commented on #2026
Indeed it does related because of:
https://github.com/ccxt/ccxt/blob/b479862a8a82bcbe3ce979cdbd72ac543325446d/js/cex.js#L314

Basically, *their* amount is *ours* `amount * price` (which should result in `0.06345` but not in `0.541875` as verbose output showed... so I believe you mangled with your inputs somewhere, BTW).

[2018-02-23 09:17] pvm255 commented on #825
@kroitor having the same issue with poloniex

python version 3.6
ccxt version 1.10.1123

I followed all the above steps and here is my last error

HTTPError                                 Traceback (most recent call last)
<ipython-input-19-9c5c220a3e26> in <module>()
      2 import ccxt as cx
      3
----> 4 cookie_value, user_agent = cfscrape.get_cookie_string("https://poloniex.com/public?comman

[2018-02-23 09:23] mkutny commented on #1978
An order consumes roughly 300 bytes of memory, so 10k orders would consume roughly 3Mb. Forecasting further if you create/cancel orders with 1 sec ratelimit you'll end up with roughly 45k orders per day or 15Mb/day increase.

It does not imply it's impossible for the cache to exhaust your memory, just curious if you really have any memory issues. Because if you do but your order management strateg

[2018-02-23 10:47] Cleric334 opened #2029 "Bibox fetchOrderBook, fetchL2OrderBook return zero array"
Hello!

- OS: Windows
- Programming Language version: Javascript
- CCXT version: 1.10.713
- Exchange: Bibox
- Method: fetchOrderBook, fetchL2OrderBook

Requests to fetchOrderBook, fetchL2OrderBook return zero array.
Bibox API function in CCXT fetch_order_book returns same zero array.

Guess this problem cause bibox change fetch_order_book to depth.

Please help to fix. Thanks!

[2018-02-23 11:42] Cleric334 commented on #2029
Hello!

Thank you for a swift reply.

I have downloaded the recent version, but the problem still remains.
Looks like there is something odd with Bibox in ccxt, as it doesn't work the same way other exchanges do.

Could you please take a look?

Thank you in advance.

[2018-02-23 12:20] rdbr commented on #1978
One order per second (most exchanges allow for more api calls per second or editOrder) results in 86400 orders. This causes the memory to grow, assuming 300 bytes per order, 25MB per day per exchange.
Orders also store the server result in the `info` property, so order sizes can vary between exchanges.

If the use case is an algorithm that runs 24/7 even with this simple example, a 4GB memory woul

[2018-02-23 12:32] mkutny commented on #2029
[code]

[2018-02-23 12:38] kroitor commented on #2025
@sergeijust they don't allow any filtering since date, and for client side filtering, we are going to add that shortly, though, this doesn't make a very big difference, practically. You still have to filter on client side anyway. More about it here: https://github.com/ccxt/ccxt/issues/470.

Let us know if it does not answer your question. Thx!

[2018-02-23 12:40] kroitor commented on #1978
I'm going to add some info to the Manual on how to purge outdated entries from cache, will update you here asap.

[2018-02-23 12:45] kroitor commented on #825
@pvm255 your version of ccxt is too old, please update to the most recent version. Also, you have to add at least some basic exception handling when using cloudscraper functions.

[2018-02-23 22:03] kroitor commented on #2026
@PhlipPhlops the answer of @mkutny is correct, hope it helps, let us know if you still have difficulties with it.

[2018-02-23 22:03] #2026 closed

[2018-02-23 22:59] Burtonium opened #2034 "net::ERR_CONTENT_LENGTH_MISMATCH while updating tickers with bittrex"
I got ERR_CONTENT_LENGTH_MISMATCH while trying to fetch tickers for the second time using bittrex. Anyone know what's causing it and how to fix it?

- OS: Windows 10
- Programming Language version: JS
- CCXT version: 1.10.1021
- Exchange: Bittrex
- Method:

[2018-02-23 23:02] kroitor commented on #2034
Hard to tell without your code and verbose output. Can show a minimal (but a complete) snippet of code to reproduce the problem? Remove everything that is not absolutely necessary, to rule out other causes, and please copypaste your code and verbose output following these steps: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Standing by for more info from you.

[2018-02-23 23:28] Burtonium commented on #2034
Here's an example I was able to reproduce using VueJS

`import { bittrex } from 'ccxt';

const b = new bittrex();
b.proxy = process.env.CORS_PROXY_URL;

export default {
  data() {
    return {
      interval: null,
      index: 1
    };
  },
  mounted() {
    this.interval = setInterval(async () => {
      console.log(`Calling API ${this.index++} time`);
      await b.fetchTickers();
    }, 5000)

[2018-02-23 23:35] Burtonium commented on #2034
Here is the verbose output, as requested
[code]

[2018-02-23 23:38] kroitor commented on #2034
[code]

↑ Does it work this way?

[2018-02-23 23:45] Burtonium commented on #2034
It doesn't. It failed on the 19th fetch. It seems rather intermittent.
Here's a sample of the 18th and 19th calls.

[code]

[2018-02-24 00:22] kroitor commented on #2034
@Burtonium in fact, it should not have failed at all, I mean, it should resume after a failure, did it continue polling?

[2018-02-24 00:24] kroitor commented on #2034
Also, what does the proxy say?

[2018-02-24 00:50] Burtonium commented on #2034
It continued polling, yes, sorry for the misunderstanding. I was just curious about the error and how to stop it from happening.

[2018-02-24 00:51] Burtonium commented on #2034
Digging in the proxy atm to find more info. No errors are shown. I'm using cors-anywhere@0.4.1

[2018-02-24 00:52] Burtonium commented on #2034
It's quite interesting that this seems to be limited to bittrex, also, if your initial suspicions are true.

[2018-02-24 01:09] kroitor commented on #2034
First, you can't really stop it from happening, as sooner or later another error of a different type will happen, and in general, you don't "avoid" errors, you are prepared to "handle" them, namely, have some to handle the errors...

To me it now looks like Bittrex has a lower rate limit on fetchTickers. The higher the rateLimit, the more requests go through until you hit the exchange's limit. So,

[2018-02-24 06:53] mostar opened #2035 "How to debuge the POST url"
Hi,

My php version is 5.5.9.
ccxt is up to date I "git pull" in now before running.

I'm tryng to compare the URL and the post parameter ccxt use, in order to comper them to the exchange documentation.  Verbose don't display this information, How can I do it?

Failing on

`php  examples/php/cli.php vaultoro createLimitBuyOrder  gld 1 100 --verbose`

According to the exchange documentation it need

[2018-02-24 07:21] UlisesTJ opened #2036 "I would like to collaborate as a translator to Spanish"
... which is my native language could translate the readme, contributing and any other text document as a license among others.

[2018-02-24 08:38] sergeijust commented on #2025
Filtering method `filter_by_since_limit` already exist in `exchange.py`, but for some reason it does not work correctly

[2018-02-24 11:10] kasnitski opened #2037 "fetch_closed_orders haven't order price"
Price == 0.0 for fetch_closed_orders on the Binance.

Return example:
`
[{'info': {'symbol': 'TRXBTC', 'orderId': 30522566, 'clientOrderId': '0dblJ6QDXUJx8UomweCthB', 'price': '0.00000000', 'origQty': '162.00000000', 'executedQty': '162.00000000', 'status': 'FILLED', 'timeInForce': 'GTC', 'type': 'MARKET', 'side': 'SELL', 'stopPrice': '0.00000000', 'icebergQty': '0.00000000', 'time': 1519426276647

[2018-02-24 11:14] knz commented on #2036
@UlisesTJ https://github.com/cockroachdb/cockroach/issues/23038#issuecomment-368220870

[2018-02-24 12:59] kroitor commented on #2037
@kasnitski you are most likely trying to fetch a market order, this has been answered here: https://github.com/ccxt/ccxt/issues/2019 )
Basically, you can get the price(s) of the trades that filled your market order:
https://github.com/ccxt/ccxt/wiki/Manual#personal-trades
Let me know if it does not help. Thx!

[2018-02-24 12:59] #2037 closed

[2018-02-24 13:03] kroitor commented on #2035
Hi! Your question is answered here: https://github.com/ccxt/ccxt/wiki/Manual#placing-orders

This error is telling you that you are not using symbols properly:

https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[code]

This is incorrect, the first argument of a call to createOrder is a symbol (a pair). BTC/GLD, for example.

Hope it helps.

[2018-02-24 13:03] #2035 closed

[2018-02-24 13:28] 2l1k commented on #2004
exchange.cancelOrder (id, symbol)
Uncaught (in promise) Object.assign: binance {"code":-2011,"msg":"UNKNOWN_ORDER"}

[2018-02-24 13:51] AlexN93 commented on #1392
Yes an orderbook will help a lot.

[2018-02-24 14:25] kroitor commented on #2015
Fixed in ccxt 1.10.1189. Thx for reporting!

[2018-02-24 14:26] kroitor commented on #2004
https://github.com/ccxt/ccxt/wiki/Manual#error-handling

[2018-02-24 14:41] Shafayat opened #2038 "Poloniex limit buy order is not placed"
- MacOS 10.13.3
- NodeJS v9.4.0
- CCXT version: 1.10.1189
- Exchange: Poloniex
- Method: createLimitBuyOrder

i have placed a limitBuy order which returns this response:

[code]

immediately i check for open orders which returns empty array and my full balance also there.

Code i used

[code]

[2018-02-24 14:55] AhmMontasser opened #2039 "verbose = False ignored"
Hello,

I am using ccxt with the following information and it looks likeccxt is ignoring the verbose = False flag

self.market=ccxt.poloniex({'apiKey':'','secret':'','verbose': False,'nonce': ccxt.Exchange.microseconds})
the terminal is floaded with http requests output

i also tried using
logging.getLogger("requests").setLevel(logging.CRITICAL)
logging.getLogger("urllib3").setLevel(logging.CRITIC

[2018-02-24 15:16] UlisesTJ commented on #2036
??

[2018-02-24 16:36] AlfredoBB opened #2040 "kucoin fetchOrder requires parameter type=["BUY"|"SELL"]"
- OS: Ubuntu 17.10 i386
- Programming Language version: JSnode 9.5.0
- CCXT version: latest
- Exchange: Kucoin
- Method: fetchOrder, cancelOrder
- Code: Code is the following:

m1.fetchOrder (id=global.lastId,symbol=marketToMake,type = 'limit',side=action,params={'type':action=='buy'?"BUY":"SELL"})
m3.cancelOrder(id=global.lastId,symbol=marketToMake,type = 'limit',side=action,params={'type':action

[2018-02-24 20:18] PhlipPhlops commented on #2026
Yeah he was absolutely correct ! Thanks for the help I definitely appreciate it.

[2018-02-24 21:12] kroitor commented on #2038
Hi! You issue is covered here:
- https://github.com/ccxt/ccxt/wiki/Manual#querying-orders
- https://github.com/ccxt/ccxt/wiki/Manual#orders-cache
- https://github.com/ccxt/ccxt/wiki/Manual#error-handling

You then have to check if the order is closed successfully. Unfortunately, we don't see the code for checking the order, you only posted the code for order placement. If you then check your order

[2018-02-24 21:12] #2038 closed

[2018-02-24 21:13] kroitor commented on #2036
@UlisesTJ your help would be really appreciated! Let us know if you need anything to start. Thank you!

[2018-02-24 22:38] wheward commented on #139
hi @kroitor I seem to be getting this issue with version 1.10.1189 and python 3.6, code attached. Sorry, noob here, so let me know if I should open a separate issue.
[async issue.txt](https://github.com/ccxt/ccxt/files/1755383/async.issue.txt)

Thanks!

[2018-02-24 22:40] Junaga commented on #139
If think you misclicked in chat^^

On Sat, Feb 24, 2018 at 11:38 PM, wheward <notifications@github.com> wrote:

--
June, junaga.18@gmail.com

also on:
http://steamcommunity.com/id/Junaga/
https://www.reddit.com/user/junaga/comments/

[2018-02-24 22:40] O4karitO opened #2041 "fetchTicker() rate limit. Binance"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Centos
- Programming Language version:
- CCXT version: latest
- Exchange: Binance
- Method: fetchticker()

A single fetchticker every second is causing a "too many requests error".

[code]

it's requested once per second. Which is just 60 requests per minut

[2018-02-24 22:47] kroitor commented on #139
@wheward hi! Can you please show your verbose output from that script following these steps: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[2018-02-25 00:48] wheward commented on #139
thanks for responding @kroitor here is the verbose output, I cut back the amount of data requested to shorten the file.
[async issue verbose response.txt](https://github.com/ccxt/ccxt/files/1755496/async.issue.verbose.response.txt)

[2018-02-25 02:46] #1931 closed

[2018-02-25 02:56] kroitor commented on #2025
@sergeijust

There's a mistake in your code: `exchange.fetch_orders(symbol, since=time.time())`
The call to `time.time()` returns a timestamp in seconds. And `since` should be in milliseconds.
Otherwise, any order with a milliseconds timestamp would be greater than a seconds-since, therefore they all get through. This will work: `exchange.fetch_orders(symbol, since=int(time.time()*1000))`.

Please

[2018-02-25 02:56] #2025 closed

[2018-02-25 03:15] kroitor commented on #139
@wheward

ok, thx, however, i'm now a little confused:

Because there were many issues mentioned in this post, can you please clarify which particular issue do you mean? Is it the "unclosed client session" issue?

[2018-02-25 03:42] kroitor commented on #2040
I think you're using fetchOrder incorrectly )

[code]

Please, read the Manual very carefully:
- https://github.com/ccxt/ccxt/wiki/Manual#querying-orders
- https://github.com/ccxt/ccxt/wiki/Manual#canceling-orders

Let us know if it does not help.

[2018-02-25 03:42] #2040 closed

[2018-02-25 03:53] wheward commented on #139
@kroitor
that's right, it's the unclosed client session issue.
awesome 👍 thanks for the quick response and update!

[2018-02-25 04:02] kroitor commented on #139
@wheward ok, so you have to call `await exchange.close()` on the exchange instance, before the program exits, as the warning message says. Let us know if you still have difficulties with it. Thx!

[2018-02-25 04:51] wheward commented on #139
@kroitor all good, works perfectly now, thanks again!

[2018-02-25 08:30] ABO3 opened #2043 "futures with different contracts"
When fetching the ticker or order book of BTC/USD (exchange: okex), I can only get the weekly futures contract. How can I get biweekly and quarterly contract? Or it is currently impossible in ccxt api?

Thx.

[2018-02-25 09:09] lenak25 opened #2044 "Binance receiving error code -2015 while using API keys"
Hi,

I have created a new Binance account and set its API keys (read info, enable trading, IP access unrestricted).
While trying to connect to my account programmaticly using CCXT, I get the following authorization error: `ccxt.base.errors.ExchangeError: binance: unknown error code: {"code":-2015,"msg":"Invalid API-key, IP, or permissions for action."}`
OS: Ubuntu 16 (happens on windows as well)
P

[2018-02-25 09:58] mkutny commented on #2044
Try the following:

[code]

[2018-02-25 11:22] lenak25 commented on #2044
Thanks @mkutny, it works for this account.
I have another Binance account (which was opened a while ago) and I had no problems to connect to it with my original code. Any reason why for some accounts the API key and secret should be swapped, while for others not? Will there be a common solution for all?
Thanks,
Lena

[2018-02-25 11:30] artbred opened #2046 "Withdraw adress"
Hello im working on JS.I faced problem with deposit addresses.So if i want to deposit coin for the first time (if i write bittrex.fetchdepositadress()) return empty address. But in bittrex api documentation there is a https://bittrex.com/api/v1.1/account/getdepositaddress?apikey=API_KEY&currency=VTC . Can you please help me and tell if its possible to generate new address using ccxt,thank you

[2018-02-25 11:56] #2046 closed

[2018-02-25 12:56] mkutny commented on #2044
They should NEVER be swapped. You just happened to mix them in your `binance_auth.json`.

Your `python-binance` won't work with that pair.

[2018-02-25 13:36] lenak25 commented on #2044
You are correct, my mistake.
Thanks, closing this.

[2018-02-25 13:36] #2044 closed

[2018-02-25 15:54] kroitor commented on #2043
It is possible:

[code]

Use the `contract_type` extra parameter. Let us know if it does not help.

[2018-02-25 15:54] #2043 closed

[2018-02-25 15:56] kroitor commented on #2046
@artbred have you resolved it on your own? We would be happy if you report back for other users to make use of it as well. Thx! )

[2018-02-25 15:57] ABO3 commented on #2043
thx, that's helpful

[2018-02-25 15:59] kroitor commented on #2043
@ABO3 sorry, there was a typo in my previous answer, I've corrected it, with fetchOrderBook, it's the third argument, the second argument is the order book depth limit (can set to None/undefined if not needed).

[2018-02-25 16:35] kroitor commented on #2041
I'd say, you think that it's requested once per second. But it's not. You're creating an exchange instance everytime you fetch the ticker, which isn't the proper way to work with an exchange instance...

To work with it properly, you need to instantiate the exchange once with enabled built-in rate limiter, and then launch a fetchTicker loop on the same instance, without recreating it upon each cal

[2018-02-25 16:35] #2041 closed

[2018-02-25 16:46] #2036 closed

[2018-02-25 16:48] kroitor commented on #1916
I'm closing it until we have a follow-up, if you don't mind. Feel free to reopen it if needed, or just ask questions, if you still have them. Thx!

[2018-02-25 16:48] #1916 closed

[2018-02-25 18:49] jamespfarrell commented on #466
How would i go about implementing this? Do it in JS, then it's transpiled to Python and PHP? Or I need to implement it in 3 languages?

[2018-02-25 18:51] kroitor commented on #466
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

Yep )

Nope )

[2018-02-26 00:37] TomAshley303 opened #2049 "Python Bitmex Candle Values Wrong"
[code]

produces similar to:

[[1483228800000, 968.29, 968.29, 968.29, 968.29, 0], [1483228860000, 968.29, 968.76, 968.49, 968.7, 12993], [1483228920000, 968.7, 968.7, 967.2, 968.43, 73800], [1483228980000, 968.43, 968, 967.21, 967.21, 3500], [1483229040000, 967.21, 967.21, 966.74, 966.97, 15969], [1483229100000, 966.97, 966.97, 966.97, 966.97, 300], [1483229160000, 966.97, 967, 967, 967, 13231],

[2018-02-26 00:41] TomAshley303 opened #2050 "Error in basic-chart.py"
I tried to run https://github.com/ccxt/ccxt/blob/master/examples/py/basic-chart.py which gave the error:

Kraken BTC/USD 1h chart:
Traceback (most recent call last):
  File "basic-chart.py", line 46, in <module>
    last = print_chart(kraken, 'BTC/USD', '1h')
  File "basic-chart.py", line 40, in print_chart
    print("\n" + asciichart.plot(series[-120:], {'height': 20}))  # print the chart
Attribu

[2018-02-26 00:50] kroitor commented on #2050
Make sure there's the `asciichart.py` nearby that script: https://github.com/ccxt/ccxt/blob/master/examples/py/asciichart.py
Not from the `asciichart` pip package.
Let me know if it does not help.

[2018-02-26 00:58] #2050 closed

[2018-02-26 01:08] TomAshley303 opened #2051 "Example PY Page Links To Erroneous Code"
The page https://github.com/ccxt/ccxt/tree/master/examples/py links to the file https://github.com/co3k/co3k-crypto-currency-note/blob/master/Untitled.ipynb under "See Also." The code in that file no longer works and has been deprecated.

An issue for that has been posted here: https://github.com/co3k/co3k-crypto-currency-note/issues/1

[2018-02-26 01:11] kroitor commented on #2049
Bitmex fetch_ohlcv requires a `since` argument to work properly. Unfortunately, there isn't a readable message warning about it anywhere yet, but we will add that shortly.

[code]

Let us know if the above does not help. Thx!

[2018-02-26 01:11] #2049 closed

[2018-02-26 01:17] kroitor commented on #2051
https://github.com/ccxt/ccxt/commit/d205572eb0c6d6f77fe771b16fc9d6d166dc33a3

[2018-02-26 01:17] #2051 closed

[2018-02-26 01:19] TomAshley303 commented on #1914
A while back, I had a heck of a time getting a decent websocket client going in PHP. I wound up getting it working though. The simplest way I found to do it was the composer library `textalk/websocket`

[2018-02-26 01:21] #1633 closed

[2018-02-26 01:26] kroitor commented on #1540
This issue should be fixed by recent fixes to Liqui and derived exchanges and to their .orders cache inner workings.

https://github.com/ccxt/ccxt/pull/1830

Documented here: https://github.com/ccxt/ccxt/wiki/Manual#orders-cache

Let us know if you still have any difficulties with it. Closing it for now, feel free to reopen it if needed, or just ask questions, if any. Thx!

[2018-02-26 01:26] #1540 closed

[2018-02-26 01:30] kroitor commented on #71
An updated overview as of 2018-02-26:

<img width="1718" alt="screen shot 2018-02-26 at 04 29 14" src="https://user-images.githubusercontent.com/1294454/36649372-a4d32b32-1aad-11e8-9502-6b3fe9236f6a.png">

[2018-02-26 03:42] #637 closed

[2018-02-26 05:11] GopiAnnan opened #2052 "How to set up a CORS proxy?"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:
`  let ex = new ccxt.kraken();
    ex.proxy = 'https://crossorigin.me/';
    console.log(ex.loadMarkets());`

![connection refused](https://user-images.githubusercontent.com/20523260/3665

[2018-02-26 05:26] kroitor commented on #2052
1. `https://crossorigin.me/` never worked for me, I test with `https://cors-anywhere.herokuapp.com/`
2. For `localhost:8081` you have to make sure you're running a node CORS proxy on that port...
3. The easiest way is to learn from this example: https://github.com/ccxt/ccxt/blob/master/examples/html/basic-cors-proxy.html

[code]

Let us know if the above does not help.

[2018-02-26 05:26] #2052 closed

[2018-02-26 07:46] #1978 closed

[2018-02-26 07:58] kroitor commented on #1978
Ok, we have added a non-automatic `purgeCachedOrders(before) / purge_cached_orders(before)` method. The user is responsible for calling it from time to time to purge older orders history. A call to that method will delete from `.orders` cache where `(order['timestamp'] <= before) && (order['status'] != 'open')`. Documented here: https://github.com/ccxt/ccxt/wiki/Manual#purging-cached-orders

Later

[2018-02-26 08:05] kroitor commented on #1557
Hi!

Sorry for a long wait.

For these params:
[code]

The correct call would be:

[code]

The extra params usage is covered in the Manual, here: https://github.com/ccxt/ccxt/wiki/Manual#custom-order-params

Let us know if it does not help. Thx!

[2018-02-26 08:05] #1557 closed

[2018-02-26 08:17] #1490 closed

[2018-02-26 11:38] rdbr commented on #1978
Great solution, thanks!

[2018-02-26 12:09] markbell2410 opened #2054 "Problem with docs"
In OHLV Candlestick charts section. It seems some JS code has been mixed into the PHP example

// PHP
if ($exchange->has['fetchOHLCV'])
    foreach ($exchange->markets as $symbol => $market) {
        usleep ($exchange.rateLimit * 1000); // usleep wants microseconds
        var_dump ($exchange->fetch_ohlcv ($symbol, '1M')); // one month
    }

Should be

// PHP

if ($exchange->has['fetchOHLCV'])

[2018-02-26 16:00] gaardiolor commented on #71
Question; Is someone working on / any ETA on the availability of the following methods for exchange Gatecoin:
[code]
If not, no problem, I know you're working hard!

[2018-02-26 16:40] miracle2k opened #2057 "Python deps should not be locked to a particular version."
This is broken since https://github.com/ccxt/ccxt/commit/9a3fb891c6e990659801cbdb26352244595f2f4d#diff-8cf6167d58ce775a08acafcfe6f40966

What is the reason for this change? As a library, ccxt should not be fixed to particular versions of it's dependencies. If there is a certain minimum version requirement, it can specify a `foo>2`, but should not be stricter than that.

[2018-02-26 16:41] miracle2k commented on #2057
Pinging @kovalevvlad as the author of the change.

[2018-02-26 18:04] piotrekkaminski opened #2059 "Binance: fetch_balance does not throw exception but generates PHP error when api permission issue is reported"
- OS: MacOS
- Programming Language version: PHP 5.6 or later
- CCXT version: 1.10.1
- Exchange: binance
- Method: fetch_balance()

If API keys in binance are setup for withdrawal, they have to be tied to IP address. When you try then to use method fetch_balance() on another IP, you get the following:

PHP Notice:  Undefined index: balances in ccxt/php/binance.php on line 389

what gets returned fr

[2018-02-26 19:04] kroitor commented on #2057
Nope, it really should have a fixed list and there are strong reasons for that )

This is a decision based on security considerations. When a library like this is used by so many people to trade thousands of dollars, security plays a much more important role than, say, convenience. Explained here: #943

Let us know if it does not answer your question. Thx!

[2018-02-26 19:04] #2057 closed

[2018-02-26 19:05] Oshawk opened #2060 "Question about timestamps..."
Hello,

Sorry for not filling in any of the details but my question is not platform specific.

Is it possible to get the timestamp of when a order was closed. I am aware that the order structure has a timestamp property but I am confused on what it represents (I assume when it was placed).

Thanks,
Joseph.

[2018-02-26 19:05] kroitor commented on #2039
I'm closing this, until we have a follow up further, if you don't mind. Feel free to reopen it if needed, or just ask questions if any. Thx!

[2018-02-26 19:05] #2039 closed

[2018-02-26 19:41] miracle2k commented on #2057
I appreciate the very, very real problem of ensuring that third party code is trustworthy, in particular for ccxt. We all pull in dependencies all over the place in our projects, and each one is indeed an attack vector.

I do question the approach taken here. While it is admirable that the authors of ccxt would want to audit the third party dependencies before upgrading them and locking them to ne

[2018-02-26 20:02] kroitor commented on #2057
Yep, it uses an old one... And for some reason it restrict the aiohttp version to <3.0.0. I don't think we should really change the version number of aiohttp in ccxt for `sanic-sentry`. It is the `sanic-sentry` who is a bad citizen in this case. And apart from aiohttp, I don't know of any other install conflicts. We may relax the version of aiohttp, because it's a known issue...

It depends on how

[2018-02-26 20:26] kroitor commented on #2057
I'm still keeping the fixed aiohttp version for now, but we will watch it closely, and if too many users report the same problem, we will think of addressing it differently, then. Sorry.

[2018-02-26 20:30] kroitor commented on #2057
@miracle2k I would suggest to move this discussion to #943 to, maybe, find a reasonable solution that would satisfy everyone. I think it would be interesting to know opinions of other users on the subject as well.

[2018-02-26 20:53] kroitor commented on #2060
Hi!

That is correct, the timestamp represents the moment when the order was placed (created). We don't have a closing timestamp yet. However, as you may know, this library is under active development and we are going to address this aspect as well.

Sometimes, it is. But most exchanges will not return that data, unfortunately. The fail-proof way of getting the closing timestamp is checking order

[2018-02-26 20:53] #2060 closed

[2018-02-26 21:04] kroitor commented on #2054
No, it shouldn't ) Because the section on loading markets is covering that much earlier.
The user is required to load markets before accessing them, so, in the following examples we do not add `load_markets` everywhere, because it should be clear from the Loading Markets section.

https://github.com/ccxt/ccxt/wiki/Manual#loading-markets

Instead the code in that snippet should be:

[code]

This is

[2018-02-26 21:04] #2054 closed

[2018-02-26 21:08] kroitor commented on #2059
@piotrekkaminski please update your version of ccxt to the most recent one 1.10.1223.

This issue has already been addressed here, yesterday:

- https://github.com/ccxt/ccxt/pull/2045
- https://github.com/ccxt/ccxt/issues/2044

As you may know the library is under active development, therefore we ask users to update frequently to stay up-to-date.

Let us know if it does not help. Thx!

[2018-02-26 21:08] #2059 closed

[2018-02-26 21:25] kroitor commented on #71
@gaardiolor i'm mostly focused on fixing existing methods before adding new ones. The help of community would be really appreciated! Thx!

[2018-02-26 21:27] kroitor commented on #71
@gaardiolor

These two are already there. They are wrapping create_order, which is already done for Gatecoin.

This one is missing

This one is also already available.

[2018-02-26 21:30] kovalevvlad commented on #2057
It does seem like we should relax the constraints a bit (aiohttp and requests have looser constraints on their requirements).

At the same time, I don't think that doing so would guarantee a situation where no requirement conflicts occur, it would merely reduce the probability of such scenario. You should be able to deal with requirement conflicts in one way or another (a few good example here - h

[2018-02-26 21:40] kroitor commented on #2057
@kovalevvlad in this particular case, the problem is that `sanic-sentry` indeed requires a different major version of aiohttp < 3.0.0. I don't really think we should do the same in ccxt.

[2018-02-26 22:04] gaardiolor commented on #71
Ah sorry, my bad! fetch_open_orders , any eta on that one ? Or are you busy with other things at the moment ?

[2018-02-26 22:23] tbrent opened #2061 "GDAX FetchOrder Exceptions"
- OS: macOS 10.13.1
- Programming Language version: Python 2.7
- CCXT version: 1.10.1224
- Exchange: GDAX
- Method: fetchOrder

Hi All,

I've noticed a new behavior for GDAX introduced sometime between ccxt 1.10.1138 and 1.10.1224. It used to be that if you called `fetchOrder` on an order that no longer exists, `ccxt` raised an `OrderNotFound` exception, or at the bare minimum an `ExchangeError` (

[2018-02-26 22:26] #2061 closed

[2018-02-26 22:28] tbrent commented on #2061
Thanks!

[2018-02-26 22:28] miracle2k commented on #2057
The sanic-sentry case is a bit of a special case; the whole mess happend because the sentry library for aiohttp does not work with aiohttp>3 (for now).

I'll try to fix my problem a different way, and we'll see when other versioning conflicts happen. I do expect them :)

[2018-02-26 22:38] kroitor commented on #2057
@miracle2k ok, i'd say the `sanic-sentry` is a minor conflict... Let us know if you have any other difficulties or major conflicts further, we can reconsider this issue once again if we find more. Thank you!

[2018-02-26 22:39] kroitor commented on #2061
@tbrent thx for reporting! Let us know if you have any other difficulties with it.

[2018-02-26 23:17] ChenLi0830 opened #2062 "'since' parameter doesn't seem to be working for 'fetchOHLCV' in okex."
- OS: MacOS
- Programming Language version: node 8.4
- CCXT version: "ccxt": "^1.10.1226",
- Exchange: Okex
- Method: fetchOHLCV

Problem: the 'since' parameter doesn't seem to be working for 'fetchOHLCV' in okex.
For example, the `since` param in the code below corresponds to 2014, yet the returned data starts from Feb, 2018.
[code]

[2018-02-27 00:53] kroitor opened #2063 "A switch to new `has` metainfo property for exchanges"
Hey, everyone! )

We are announcing a switch to a new format of `has` metainfo property for the exchanges.

Previously, in earlier versions of ccxt, every exchange exposed the info about itself in a set of properties like hasCORS, hasFetchOrder, etc...

From now all those properties are placed under the `has` associative array, and they don't have the `has` prefix in their names anymore: `CORS`, `

[2018-02-27 01:21] #2062 closed

[2018-02-27 01:32] kroitor commented on #759
Unfortunately, Luno does not have any means or docs on precisions and limits yet. We pass the incoming args to it as is. So, you're free to choose whatever limit for your values you want. We will keep an eye on their docs and will update accordingly. Closing it for now, if you don't mind.

[2018-02-27 01:32] #759 closed

[2018-02-27 02:50] sergeijust opened #2064 "Binance fetch_order method: origClientOrderId instead orderId"
- Programming Language version: Python
- CCXT version: 1.10.1230
- Exchange: Binance
- Method: fetch_order

`orderId` not mandatory for query order from Binance.
https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#query-order-user_data

So how I can use `origClientOrderId` instead `orderId` in `fetch_order` method?

[2018-02-27 04:21] ChenLi0830 commented on #2062
@kroitor Got it, thank!

[2018-02-27 04:48] #2064 closed

[2018-02-27 04:56] kroitor commented on #2064
The support for that option was added in most recent version.

1. Update to ccxt 1.10.1231
2. Add `origClientOrderId` to `params`:

[code]

Let us know if it does not help. Thx!

[2018-02-27 04:58] TotallyKyle opened #2065 "Plans to standardize currency and balance props in info for fetchBalance"
Currently I am getting back this in the info field when doing a fetchBalance from gdax and bittrex:

Bittrex:
info: {[
Available: 0
Balance: 0
CryptoAddress :null
Currency: "1ST"
Pending: 0
]},

Gdax:
info: {[
available: "0.000000000"
balance: "0.000000000"
currency: "BTC"
hold: "0.0000000000000000"
id: "XXXXXXXXXXXXXX"
profile_id: "XXXXXXXXXXXXXX"
]}

As you can see they have different props and

[2018-02-27 05:07] kroitor commented on #2065
https://github.com/ccxt/ccxt/wiki/Manual#querying-account-balance

![querying-balance](https://user-images.githubusercontent.com/1294454/36711595-3ab62838-1b95-11e8-99bc-2e7b5e1b2b85.jpg)

Read the Manual ) https://github.com/ccxt/ccxt/wiki/Manual

[2018-02-27 05:07] #2065 closed

[2018-02-27 07:05] kroitor commented on #1269
This is fixed in #1300 and #1717.

Related duplicate: #1269

Please don't forget to update ccxt to version 1.10.1234.

Thanks for reporting!

[2018-02-27 07:05] #1269 closed

[2018-02-27 07:05] kroitor commented on #1681
This is fixed in #1300 and #1717.

Duplicate: #1269

Please don't forget to update ccxt to version 1.10.1234.

Thanks for reporting!

[2018-02-27 07:05] #1681 closed

[2018-02-27 08:43] opiy-org opened #2066 "A non well formed numeric value encountered"
A non well formed numeric value encountered vendor\ccxt\ccxt\php\huobipro.php 183
`     $average = ($open . $close) / 2;`
should be
`     $average = ($open + $close) / 2;`

- OS: win 7
- Programming Language version: php 7.2, laravel
- CCXT version: 1.10.1235
- Exchange: huobipro
- Method: parse_ticker

[2018-02-27 08:50] #2066 closed

[2018-02-27 09:58] alexsith opened #2067 "bitz fees issue"
- Programming Language version: python
- CCXT version: __version__ = '1.10.1189'
- Exchange: bitz

Hello. Some of structures in bitz have wrong format:
 'funding': {
                    'withdraw': {
                        'BTC': '0.5%',
                        'DKKT': '0.5%',
                        'ETH': 0.01,
....

it must be float, not str

Thank you

[2018-02-27 10:03] alexsith commented on #2067
Oh.. I see it's just because they really have percent-based fee for withdrawal.. The first exchange with percent-based fee..

[2018-02-27 10:05] alexsith commented on #2067
For my structures about fiat withdraw fee I used list [percentfee,  fixedfee]. I don't know if it helps in this case.

[2018-02-27 13:00] alexsith opened #2070 "kuna issue"
Hello.

- Programming Language version: python
- CCXT version: '1.10.1189'
- Exchange: kuna
- Method: load_markets(reload=True)

  File "/Users/user/Documents/Bitcoin/proj/IExchangeConnector.py", line 243, in p_allMarket
    return await self.__ccxtexchange.load_markets(reload=True)
  File "/Users/user/Documents/Bitcoin/proj/ccxt/async/base/exchange.py", line 143, in load_markets
    markets = awa

[2018-02-27 13:19] alexsith opened #2072 "Wrong Exception type"
Hi again. Sometimes I catch this exceptions in different excnagers and I think it should be NetworkError, not a ExchangeError. I think so, because in case of NetworkError you can just re-request later, but if it ExchangeError, you have to investigate problem. If you think other way, just close this issue. Thank you

  File "/usr/local/lib/python3.6/site-packages/aiohttp/connector.py", line 819, in

[2018-02-27 14:58] rspadim opened #2073 "new exchange how to create api"
hi guys, does anyone have a guide of what should be implemented to start a new exchange integration? i read some exchanges but some doubts persists

[2018-02-27 15:43] theolux opened #2074 "AttributeError: 'virwox' object has no attribute 'symbol'"
OS: W10
    Programming Language version: Python 3.6.4
    CCXT version: 1.10.1237
    Exchange: Virwox
    Method: createLimitBuyOrder(symbol, amount, price)

Getting AttributeError: 'virwox' object has no attribute 'symbol' when trying to place an order.

[2018-02-27 16:33] gaardiolor opened #2075 "changing aiohttp_proxy after the first request has no effect"
- OS: Windows
- Programming Language version: Python async
- CCXT version: 1201

Changing aiohttp_proxy after the first request has no effect. If it's set after the first (for example) `await e.load_markets()`, it will not be used. If it's set before the first `await e.load_markets()` , it will keep going to that proxy server, also if you change aiohttp_proxy to another proxy server later on.

Wha

[2018-02-27 18:01] rthomas6 commented on #2007
This is not at all clear to me. [CMC shows it as NANO](https://coinmarketcap.com/currencies/nano/#markets)?

[2018-02-27 18:32] Oshawk commented on #2060
Thanks, this answers my question. I will have to find another way around my issue.

[2018-02-27 19:45] artbred commented on #2046
I have no idea how i solved that. If i have these problem for second time gonna report

[2018-02-27 21:52] kroitor commented on #2060
@Oshawk you can look into the `info` field, as it contains all data returned from the exchange, as is. From there you can deduce the closing time, if the exchange in question does provide it. Hope it helps.

[2018-02-27 22:04] kroitor commented on #2007
@rthomas6 yes, but it is outdated, throughout ccxt we use the newer name `XRB` everywhere, including CMC.

[2018-02-27 22:19] kroitor commented on #2067
@alexsith looks like you've figured it out. Let me know if we can help with anything else here. Closing it for now, if you don't mind... Feel free to reopen it if needed, or just ask questions, if any. Thx!

[2018-02-27 22:19] #2067 closed

[2018-02-27 22:24] #2070 closed

[2018-02-27 22:37] kroitor commented on #2070
Fixed in 1.10.1241, thx for reporting!

[2018-02-27 22:44] kroitor commented on #2074
@theolux can you please paste the entire error message, following these steps: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
?

[2018-02-27 22:45] kroitor commented on #2073
@rspadim hi! I'm going to upload a skeleton for a new exchange in a day or two. Please, hold on )

[2018-02-27 23:31] gaardiolor commented on #2075
Apparently proxy works per TCP connection. If it isn't closed, previous proxies are being used. If I add
`headers['Connection'] = 'close'` to the fetch method in the base exchange class (for async), proxy rotation works as expected because the TCP connection is closed after the first request. When that header is not added, the TCP connection to the previous proxy stays open and aiohttp reuses that

[2018-02-27 23:36] kroitor commented on #2075
Add `exchange.headers = {'Connection': 'close'}` before issuing the call or right after creating the exchange instance:

[code]

Let us know if it does not help. Thx!

[2018-02-27 23:36] #2075 closed

[2018-02-27 23:40] gaardiolor opened #2077 "gatecoin fetchOpenOrders"
This seems to work for me, npm run build also succeeds. Maybe you can have a look and add it if it looks ok.

[code]

[2018-02-27 23:41] forexhill opened #2078 "PHP Notice: A non well formed numeric value encountered in /home/{user}/ccxt/php/poloniex.php on line 269"
PHP Notice:  A non well formed numeric value encountered in /home/{user}/ccxt/php/poloniex.php on line 269

- OS: Linux Ubuntu 17.10
- Programming Language version: PHP 7.1.11-0ubuntu0.17.10.1
- CCXT version: Version 1.10.1 2017-11-06
- Exchange: Poloniex
- Method: standard retrieval of ask, bid, basevol, quotevol

[2018-02-27 23:45] gaardiolor commented on #2075
Seems to work, thx!

[2018-02-28 00:02] forexhill opened #2079 "Coin Mappings for HMC, MAG"
HMC on okex.com ("Hi Mutual Society") is not HMC on coinexchange.io (HarmonyCoin)
https://support.okex.com/hc/en-us/articles/360000439412-Hi-Mutual-Society-HMC-Now-Available
https://www.coinexchange.io/market/HMC/BTC

MAG on okex.com (Maggie) is not MAG on coinexchange.io (Magnet)
https://support.okex.com/hc/en-us/articles/115003874432-OKEx-Launches-SHOW-VIB-MOT-UTK-MAG
https://www.coinexchange.io

[2018-02-28 00:13] kroitor commented on #2079
Will fix both shortly. Thx for reporting!

[2018-02-28 00:15] #2074 closed

[2018-02-28 00:15] #2078 closed

[2018-02-28 00:41] kroitor commented on #2078
Fixed in 1.10.1243. Thx for reporting!

[2018-02-28 00:41] kroitor commented on #2074
Fixed in 1.10.1243. Thx for reporting!

[2018-02-28 02:02] #2072 closed

[2018-02-28 02:26] roni-castro opened #2080 "Update Flowbtc base api url"
FlowBtc updated it's base url according to it's api https://www.flowbtc.com.br/api/. Now the port is 8405 instead of 8400. So it's currently throwing a timeout error.

- OS: Amazon Linux AMI release 2017.09
- Programming Language version: Javascript
- CCXT version:  1.10.1244
- Exchange: Flowbtc
- Method: fetchTicker

[2018-02-28 02:35] #2079 closed

[2018-02-28 02:35] #2080 closed

[2018-02-28 02:47] dmcdo1221 commented on #2079
I was trying to learn how the p2p pool worked. Then it threw me back into github.com that i had hard time mining with instructions on here. Apologies. I'm only familiar with buying not mining.  I want to learn how to mine in a pool.

[2018-02-28 02:49] dmcdo1221 commented on #2079
Can tell me exactly what to do instead of ruining people's code.  Or do we have to write our own codes?

[2018-02-28 03:12] #2077 closed

[2018-02-28 03:13] #2063 closed

[2018-02-28 03:32] kroitor commented on #2080
Fixed in 1.10.1247. Thx!

[2018-02-28 03:44] theolux commented on #2074
Thanks, however I'm now getting a "NO_SUCH_INSTRUMENT" error from the exchange. It seems CCXT is converting the symbols into numbers (for ex. if I write BTC/SLL it sends 11 as instrument) while the exchange requires the actual symbol as instrument I believe.

[2018-02-28 03:46] kroitor commented on #2074
@theolux can you please post your verbose output according to https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
?

[2018-02-28 03:47] alexsith opened #2082 "yobit ddos exception"
Hello. I guess it also should be NetworkError

- OS:
- Programming Language version:
- CCXT version:
- Exchange: yobit
- Method:

    return await self.__ccxtexchange.fetch_order_book(symbol)
  File "/home/kas/kasarb/ccxt/async/liqui.py", line 219, in fetch_order_book
    response = await self.publicGetDepthPair(self.extend(request, params))
  File "/home/kas/kasarb/ccxt/async/yobit.py", line 183,

[2018-02-28 03:54] theolux commented on #2074
The method:
`virwox.createLimitBuyOrder ('BTC/SLL', AMOUNT, PRICE)`
The output:
[code]

[2018-02-28 04:35] #1670 closed

[2018-02-28 04:56] #1215 closed

[2018-02-28 04:56] #1270 closed

[2018-02-28 04:56] #1272 closed

[2018-02-28 04:57] kroitor commented on #1670
@LaurentIsRunning please update ccxt to version 1.10.1251 and retry your code. If the issue persists, we will need you to provide **your minimal snippet of code to reproduce the problem and your verbose output** precisely as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Hope it helps. Let us know if it doesn't.

[2018-02-28 05:09] theolux commented on #2074
Now getting this:
[code]

[2018-02-28 05:26] forexhill commented on #2079
@dmcdo1221 this is quite unrelated to ccxt and to this ticket. You may have to ask on another forum like bitcointalk!

[2018-02-28 05:27] forexhill opened #2083 "Coin Mapping for BCS, MDT"
BCS on okex (=BIP91) vs BCS on Yobit (=BitcoinStake, as can be seen from HTML source)
https://blog.okex.com/2017/07/23/okex-will-support-bitcoin-forksbcc0-fees-of-spot-trading/

MDT on okex (=Measurable Data Token) vs MDT on Yobit (=Midnight, as can be seen from HTML source)
https://support.okex.com/hc/en-us/articles/115003734171-OKEx-Launches-MDT-World-Premiere-

[2018-02-28 05:27] forexhill commented on #2079
Thank you @kroitor for the great quick fix.

[2018-02-28 05:28] forexhill commented on #2079
Another one in 2083

[2018-02-28 05:32] PyPatel commented on #1891
I can add Python Support for this API. I will do that this Weekend. @kroitor

[2018-02-28 05:37] forexhill commented on #2083
These are fun to do, and will help a lot with trading down the road. Expect more to come :) 👍

[2018-02-28 05:40] forexhill commented on #2083
Added MDT

[2018-02-28 06:08] kroitor commented on #1891
@PyPatel please, read this first: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

[2018-02-28 06:28] #2083 closed

[2018-02-28 08:13] forexhill opened #2085 "PHP Notice: Undefined index: WRC/BTC in /home/{user}/ccxt/php/liqui.php on line 317"
PHP Notice:  Undefined index: WRC/BTC in /home/{user}/ccxt/php/liqui.php on line 317

Interestingly, the values for WRC/BTC still came through. Note this is Yobit retrieval.

    OS: Linux Ubuntu 17.10
    Programming Language version: PHP 7.1.11-0ubuntu0.17.10.1
    CCXT version: Version 1.10.1253 (trunk)
    Exchange: **YoBit**
    Method: standard retrieval of ask, bid, basevol, quotevol

[2018-02-28 08:16] kroitor commented on #2085
@forexhill can you please show your full verbose output according to this: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ? That would be very helpful, I would be able to solve it quickly then. Don't edit it, if possible, just remove your keys from there, if any. Thx!

[2018-02-28 08:30] UnitNote opened #2086 "Python async: Bitfinex connector returns empty order book, others work fine"
Consider the following mini-program:
[code]
Running get_data_directly with either `bitfinex` or `poloniex` should print the order book. But that's not what happens.
Running it with `poloniex` works fine:

[code]
_(poloniex orderbook truncated for display purposes)_

However running it with `bitfinex` results in an empty order book:
[code]

- OS: MacOS
- Programming Language version: Python 3.6.2 (

[2018-02-28 08:34] #2086 closed

[2018-02-28 08:41] UnitNote commented on #2086
Wow that was fast.

[2018-02-28 08:42] kroitor commented on #2086
@UnitNote thanks for your thorough report! Try ccxt 1.10.1254 – should work now. Let us know if you still have difficulties with it. Thx again!

[2018-02-28 08:45] UnitNote commented on #2086
No problem. Confirmed working with the latest version.

[2018-02-28 09:00] kroitor commented on #2085
@forexhill also, you really-really-really want to update your version of ccxt, as 1.10.1 is very old ;)

[2018-02-28 09:33] Deusing opened #2087 "Binance withdraw function PHP throws an error"
- OS: Ubuntu
- Programming Language version: PHP
- CCXT version: latest
- Exchange: Binance
- Method: withdraw

I get:
In binance.php line 809:

  Cannot use object of type Proxies\__CG__\App\Entity\Currency as array

[2018-02-28 09:37] kroitor commented on #2087
@Deusing can you please paste a minimal but complete snippet of your code to reproduce the problem and your verbose output according, following these steps: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[2018-02-28 09:39] #2087 closed

[2018-02-28 09:42] stabilus opened #2088 "bitstamp - fetchTrades: does not load type and side parameters"
- OS: Win 7
- Programming Language version: Python 3.6
- CCXT version: 1.10.1255
- Exchange: bitstamp
- Method: fetchTrades(symbol)

The result returned from the method is:

[{'id': '56709258', 'info': {'date': '1519810392', 'tid': '56709258', 'price': '10549.96', 'type': '0', 'amount': '0.00562569'}, 'timestamp': 1519810392000, 'datetime': '2018-02-28T09:33:12.000Z', 'symbol': 'BTC/USD', 'order':

[2018-02-28 09:54] #2088 closed

[2018-02-28 09:55] kroitor commented on #2087
Fixed in ccxt 1.10.1256.

[2018-02-28 10:08] forexhill commented on #2085
@kroitor thanks. I just did git clone - I assume trunk is latest version? CHANGELOG shows this 1.10.1 - what is a better method for seeing latest revision ?

[2018-02-28 10:08] forexhill commented on #2085
I'll see if I can reduce the testcase

[2018-02-28 10:10] kroitor commented on #2085
If you did `git pull` after that – you can check your current version in `package.json` file in the root of the repo. The CHANGELOG is a little outdated, honestly.

[2018-02-28 10:16] forexhill commented on #2085
Git clone was of today, after the fixes made, so no `git pull` required.

package.json - 1.10.1253

[2018-02-28 10:17] kroitor commented on #2085
@forexhill got it, should be ok then. Still need your code and verbose output to get further. Standing by for more info from you.

[2018-02-28 15:16] 2l1k opened #2090 "Catch errors"
How can I catch errors from the API and display them on the site page?

[2018-02-28 15:44] 2l1k commented on #2090
try..catch dont working

[2018-02-28 16:05] rthomas6 commented on #2007
[NANO is the new name](https://hackernoon.com/nano-rebrand-announcement-9101528a7b76), and XRB is the old name. Nano used to be called Raiblocks with symbol XRB, and they rebranded to Nano, with symbol NANO.

It's not a big deal either way as long as it's consistent, just wanted you to have the info.

Thanks for maintaining this awesome library.

[2018-02-28 18:23] fedecaccia commented on #255
Hello! How can I get the trade balance? I'm using private_post_trade_balance() but I get this error:
raise ExchangeError(self.id + ' ' + self.json(response))
ccxt.base.errors.ExchangeError: kraken {"error":["EGeneral:Internal error"]}

[2018-02-28 19:59] sthanh commented on #1238
I vouch for the rails version of CCXT. Let me know how it goes.

[2018-02-28 20:08] LaurentIsRunning commented on #1670
Thank you very much,
I'll do that ASAP!

[2018-02-28 22:01] kroitor commented on #255
@fedecaccia, please, post a minimal, but a complete snippet of code that I could copypaste into my python to reproduce it (without the keys), without seeing the code it's hard to tell.

[2018-02-28 22:28] x1rubinho1x opened #2092 "Python asyncio example returns error"
I'm trying the python asyncio example as described in the [documentation](https://github.com/ccxt/ccxt/wiki/Manual#synchronous-vs-asynchronous-calls):
[code]
I call this from my main:
[code]
This runs once successfully and prints price info but then returns an error:
[code]
This also happens using binance as the exchange.

I added an exchange.close() call which is commented out above.  When this i

[2018-02-28 22:32] kroitor commented on #2092
Have you tried closing it, as it says in the first line of that message? For some reason, your last line is commented out...

[code]

↑ Does this work?

[2018-02-28 22:37] #2090 closed

[2018-02-28 22:38] kroitor commented on #2090
Here's an example: https://github.com/ccxt/ccxt/blob/master/examples/html/basic.html

Unfortunately, teaching the basics of HTML is beyond the scope of this library, you need to google for "JavaScript exceptions tutorial" (tons of those on the internet).

Hope it helps.

[2018-02-28 22:42] gaardiolor opened #2093 "Gatecoin price precision"
Hello,

This updated function adds price precision to markets data. Maybe you can have a look and update it in gatecoin.js if it looks ok. npm run build succeeds.

[code]

[2018-02-28 23:10] #2092 closed

[2018-02-28 23:37] x1rubinho1x commented on #2092
I tried the close line (it's not there at all in the documentation).  When it's executed the error message isn't produced but print_poloniex_ethbtc_ticker() only gets called once before exiting.  I'm expecting it to be called every time a new ticker comes in from the exchange until told otherwise.

[2018-02-28 23:43] kroitor commented on #2092
@x1rubinho1x

You have put there the code to do it just once, so there's no reason to expect that it will do it continuously, unless you specifically tell it to do so.

See these examples on how this is done asynchronously with async generators in python or in basic synchronous modes:

- https://github.com/ccxt/ccxt/blob/master/examples/py/async-generator-ticker-poller.py
- https://github.com/ccxt

[2018-02-28 23:49] x1rubinho1x commented on #2092
@kroitor OK this is the first time I've used the asyncio model so I must have made an incorrect assumption.  Thanks for your suggestions of where to look next.

[2018-02-28 23:55] kroitor commented on #2092
@x1rubinho1x

I've added an example of continuous polling that does just what you want: https://github.com/ccxt/ccxt/blob/master/examples/py/async-generator-basic.py

[2018-03-01 02:24] TomAshley303 opened #2094 "A first step for Websockets"
Let's go ahead and implement websockets for Bitmex. They already have a python and node wrapper:

https://github.com/BitMEX/api-connectors/tree/master/official-ws

[2018-03-01 02:30] kroitor commented on #2094
Yep, we know of it, of course. The thing is knowing all exchange-specific wrappers does not help.

I suggest to move this discussion here: https://github.com/ccxt/ccxt/issues/56#issuecomment-358274362

Yep, feel free to submit your PRs and commits. Thx!

Please, make sure to follow these guides:

- https://gist.github.com/kroitor/aabecc346a5bded6ead7a82205d8ffc1
- https://github.com/ccxt/ccxt/blob

[2018-03-01 02:30] #2094 closed

[2018-03-01 04:02] forexhill commented on #2083
@kroitor I see that the first array (common_currency_code) has been updated with these changes but not the second array (currency_id). An oversight?

[2018-03-01 04:11] forexhill opened #2095 "Beacon?"
What is https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct ?

[2018-03-01 04:12] kroitor commented on #2095
Can you elaborate on the question a little?

[2018-03-01 04:15] forexhill commented on #2095
It is seen inside the POST array;

  Array
  (
      [0] => POST
      [1] => https://yobit.net/tapi
      [2] =>
      [3] =>
      [4] => Array
          (
  ...
  [expect-ct] => Array
                  (
                      [0] => max-age=604800, report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon    /expect-ct"
                  )

[2018-03-01 04:17] kroitor commented on #2095
@forexhill that's one of cloudflare-specific headers...

The Cloudflare protection is mentioned in the Manual, here: https://github.com/ccxt/ccxt/wiki/Manual#rate-limit

If you want more info on what that particular URL means in terms of Cloudflare systems, you probably want to ask Cloudflare directly? )

[2018-03-01 04:22] forexhill commented on #2083
@kroitor thanks! Is this also applicable for #2079 ?

[2018-03-01 04:24] kroitor commented on #2083
@forexhill nope, it's yobit-specific. Thx for reporting and for your attention!

[2018-03-01 04:26] forexhill commented on #2083
Thank you for ultra fast patches, very appreciated!

[2018-03-01 04:29] forexhill commented on #2095
Thank you!

[2018-03-01 05:39] qiangxs commented on #1215
When coinegg API can be used please?

发自我的 iPhone

[2018-03-01 05:41] kroitor commented on #1215
@qiangxs it's already merged, though, still may require some testing. Don't forget to update ccxt to version 1.10.1265.

[2018-03-01 05:43] qiangxs commented on #1215
Do you mean that I can use it after upgrading ccxt?

发自我的 iPhone

[2018-03-01 05:46] kroitor commented on #1215
@qiangxs yes, but be cautious, use it at your own risk. There may still be issues, as this library is under development. Let us know if you have any difficulties with it (if you do, please follow this: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue).

[2018-03-01 06:04] forexhill commented on #2085
@kroitor btw just made $50 donation for you. Thank you again. Perhaps more later.

[2018-03-01 06:04] sheunaluko commented on #850
For those on ubuntu thanks to awhitehouse104

His post also worked for me.. follow the link and install the ntp package as it says!
heres his message
- --- - -

Thanks, using ntp on ubuntu worked for me.https://www.digitalocean.com/community/tutorials/how-to-set-up-time-synchronization-on-ubuntu-16-04

[2018-03-01 06:05] forexhill commented on #2085
Going to try and get testcase now

[2018-03-01 07:14] forexhill commented on #2085
Ok, I have established that the issue is sporadic. It happens on different pairs at different times.

`PHP Notice:  Undefined index: BLAZR/BTC in /home/{user}/ccxt/php/liqui.php on line 317`

It must be a particular situation that is not caught yet by ccxt.

[2018-03-01 07:53] kroitor commented on #2085
Looks like you're hitting a rate-limit, really.

First, you're not using any rate-limiting at all, which is very risky and may produce side-effects like those you see. To enable rate-limiting, you need to follow the Manual and examples:

- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/blob/master/examples/php/built-in-rate-limiting-poller.php

Add `array('enabl

[2018-03-01 09:49] forexhill commented on #2085
Wow, what a detailed reply. Thank you and understood.

Btw, as most of the code (but not the one you highlighted) is from the arbitrage php example in examples/php, it may be good to add the `enableRateLimit` to that one too.

[2018-03-01 09:49] #2085 closed

[2018-03-01 09:50] forexhill commented on #2085
@kroitor side question - is it possible to get the details for several coins at the same time? Yobit v3 API allows this - up to 61 pairs per combined call.

[2018-03-01 09:55] kroitor commented on #2085
@forexhill yes, you need to use another method of the unified family: fetchTickers instead of fetchTicker (note the difference in plural "s" ending). The fetchTickers method accepts an array of symbols you want to fetch from Yobit and it will return an array of requested tickers by symbol.

[code]

More about it:

- https://github.com/ccxt/ccxt/wiki/Manual#all-at-once
- https://github.com/ccxt/ccx

[2018-03-01 10:38] kk3nny opened #2096 "Invalid API Key Bitmex"
- OS: Windows 10
- Programming Language version: Python 2.7.14
- CCXT version: 1.10.1265
- Exchange: Bitmex
- Method: Authentication error

[code]
I'm getting this error, I deleted the old api and generated a new one but still the same error.
The code is below :
[code]

[2018-03-01 10:42] kroitor commented on #2096
Are you sure that you're not misplacing the API credentials? Also, did you make sure to copy all symbols of the secret precisely?

[2018-03-01 10:44] kk3nny commented on #2096
Yes I'm sure that the API and the secret both are absolutely accurate.

[2018-03-01 12:01] authenticfake opened #2097 "Failed to load https://api.binance.com/api/v1/exchangeInfo: No 'Access-Control-Allow-Origin' header is present on the requested resource."
Hi,
- OS: MacOS High Sierra
- Programming Language version: node.js, javascript
- CCXT version: 1.10.1265
- Exchange: binance
- Method: withdraw, all method behind authentication

Maybe this issue is due my low knowledge on node, js and ui building.
Let me explain the scenario.
I built a web application based on node.js, socket.io and html/js for managing all my accounts/ wallets via unique portal

[2018-03-01 12:07] kroitor commented on #2096
@kk3nny and you didn't bind it to a CIDR subnet, right? (just trying to rule out possible reasons).

[2018-03-01 12:10] kk3nny commented on #2096
No it's not binded, any IP is allowed.

[2018-03-01 12:10] kroitor commented on #2097
- Does fetchBalance produce the same result?
- Have you read this: https://github.com/ccxt/ccxt/wiki/Install#cors-access-control-allow-origin
- Are you sure you're setting up a CORS-proxy properly? Can you post your html-code to reproduce the problem (without the keys), or share a link to a repo maybe?
- Does it happen with any other exchange that `has['CORS'] == true` ?

[2018-03-01 15:00] authenticfake commented on #2097
Hi,

Yes for all API invoked via JS (https://unpkg.com/ccxt) without CORS set as proxy in the exchange istance.

yes sure, thanks for all documentation you provided so far. I attached my cors node application

I hope yes. I set CORS proxy in the following way:
`const exchange =  exchanges["binance"];
//exchange.proxy =exchange.has['CORS']?'http://localhost:8080/':undefined
exchange.proxy ='http://

[2018-03-01 15:13] Raytlty opened #2098 "Bitfinex2 fetch_tickers raise KeyError"
- OS: MacOS and Ubuntu
- Programming Language version: Python3
- CCXT version: 1.10.1256
- Exchange: Bitfinex2
- Method: fetch_tickers

[code]

I diff 1.10.1056 find out 1.10.1256 missing **markets**, here is short example.
[code]

1.10.1256 source code in bitfinex2 fetch_tickers is

[code]

And I think should be simple fix like this:

[code]

Look forward your response, thx.

[2018-03-01 15:16] Esc4pism opened #2099 "btcturk missing marketsymbol"
the markets in BTCTurk are hardcoded, and contain only BTC/TRY, ETH/TRY and ETH/BTC, but their tickers return 1 more (maybe new?) market: XRPTRY

taking from their docs, i believe that https://www.btcturk.com/api/ticker "should" always return all of their markets, since they also return 24 hour volumes, low/high, and show an example in the docs with 0 volumes and prices. So perhaps this could be u

[2018-03-01 16:51] frosty00 opened #2101 "Congragulations on 100 exchanges 🎉 🎉 🎉"
A big thanks to @kroitor and all the ccxt contributors that made this possible. We've come a very long way in less than a year. This library is one of kind - nothing else even comes close in terms of code  thoroughness and I have never seen transpillation of the like built from only basic regexes.

We will continue to develop over this next year, and if I am successful with my trading endevours I

[2018-03-01 16:57] wntsang4 opened #2102 "Bit-Z Limit buy order became sell order"
- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: 1.10.1266
- Exchange: Bit-Z
- Method: create_limit_buy_order

Limit buy order became sell order

[2018-03-01 17:06] wntsang4 commented on #2102
Problem solved

[2018-03-01 18:09] kmhcool opened #2103 "Bx.in.th Incorrect 2FA Code when create order"
- OS: Ubuntu 16.04.3 LTS
- Programming Language version: Python 3.5.2
- CCXT version: 1.10.1266
- Exchange: Bx.in.th
- Method: create_limit_buy_order, create_limit_buy_order

I use this code

[code]

 I want to use 2fa in my account and use the api at the same time. Then, I got this error

and as I try to execute
`print(trading_client.create_limit_sell_order(symbol,amount,float(price)+price_interv

[2018-03-01 18:17] fedecaccia commented on #255
Hi, thanks for your responde. While I was writng the code, I recognize that I was using type="maker" instead of type="market". Thanks!

[2018-03-01 18:23] JT102 commented on #2101
Supporting!!! Are there any announcements on new exchanges?

[2018-03-01 20:18] wheward opened #2104 "Quoinex pagination issue"
Hi All,

Has anyone had trouble with Quoinex pagination when getting executions from the public API? I think there may be an issue with their API, so I've contacted them as well. I would expect the second call (see below) to error since there is only 1 page of trades to return. Apparently Quoinex's API expects the client to check whether each subsequent call has started receiving duplicate data. I

[2018-03-02 00:58] #2098 closed

[2018-03-02 01:00] kroitor commented on #2102
@wntsang4 can you please paste your code and verbose output, following these steps: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

Without more info from you, it's very hard to help.

[2018-03-02 01:08] wntsang4 commented on #2102
buy_order = bitz.create_limit_buy_order('SPHTX/BTC', 5, 0.000052)

Request: POST https://www.bit-z.com/api_v1/tradeAdd {'Content-type': 'application/x-www-form-urlencoded', 'User-Agent': 'python-requests/2.18.4', 'Accept-Encoding': 'gzip, deflate'} api_key=240b02sdxxxxxef976&coin=sphtx_btc&nonce=694066&number=5.0&price=0.00005150&timestamp=1519952694&tradepwd=xxxxxxx&type=buy&sign=dbc6a0xxxxx2583f

[2018-03-02 01:12] kroitor commented on #255
@fedecaccia thx for reporting back!

[2018-03-02 01:13] kroitor commented on #2099
Fixed in @2100. Thx for reporting!

[2018-03-02 01:28] kroitor commented on #2102
What do you mean "it will become"? When, where? From your output it cannot be seen anywhere, the output itself looks normal (type=buy indeed). So, if you say "the order will become a sell order", please, elaborate how do you detect it.

[2018-03-02 01:32] wntsang4 commented on #2102
I saw a sell order in Bit-Z website.

[2018-03-02 01:33] kroitor commented on #2102
@wntsang4 saw it in the order book on the sell side? Or in the trades/orders history?

[2018-03-02 01:34] wntsang4 commented on #2102
![sellorder](https://user-images.githubusercontent.com/24471946/36879067-e0f567ea-1dfc-11e8-9bc6-eb54840b83cb.jpg)

[2018-03-02 01:36] wntsang4 commented on #2102
The sell order appeared in the order book and I canceled it manually.

[2018-03-02 01:44] #2102 closed

[2018-03-02 01:55] kroitor commented on #2102
@wntsang4 should be ok now. Please, update to ccxt 1.10.1269 and retry the same code. We will be happy if you report back, whether it now works normally for you, or not.

[2018-03-02 02:14] kroitor commented on #2101
Thx so much to you, @frosty00! I'd like to say my personal thanks to all users who patiently reported bugs and issues, to all contributors who have helped build this project up, and to all backers who have donated to the development of this library. There's even more to come and it's going to be a very exciting year )

[2018-03-02 02:15] #2099 closed

[2018-03-02 02:22] kroitor commented on #2098
Fixed in ccxt 1.10.1269. Thx for reporting!

[2018-03-02 08:27] kroitor commented on #2103
@kmhcool hi! Does it also throw the same error if you fill the 2FA-code by hand? In other words, have you verified that the code itself corresponds to the code shown on the linked device?

[2018-03-02 09:38] Esc4pism opened #2105 "hardcoded markets in Kuna"
Kuna has hardcoded markets with 1 market (rmcbtc) throwing errors when fetching, seems no longer listed by them.

Although its not documented in their api docs (which are really poorly documented lol), https://kuna.io/api/v2/tickers returns all tickers (i assume), and also lists 5 new markets which are missing in ccxt. With this, hasFetchTickers could be supported for Kuna as well.

[2018-03-02 11:03] celosotomaior opened #2106 "Historical Data"
Hello there,

I'm trying to get the n historical data from Bittrex, Binance, Poloniex, Bitstamp, and Kraken. Does CCXT support this already?

If so, could you please post the link to get this information?

Thanks a lot!

Marcelo

[2018-03-02 12:02] x1rubinho1x commented on #2092
@kroitor Yes that works well, thanks very much for your help!

[2018-03-02 12:10] kpgarrod opened #2107 "ES6 export"
- OS: Linux
- Programming Language version: Javascript ES6(2015)/Typescript
- CCXT version: 1.10.1265
- Exchange: N/A
- Method: exchanges

I am trying to create a webcomponent using the ccxt library. The code snippet below uses Ionic Stencil but I get similar problems with Polymer. I've tried importing the browser version of the code (`import *  as ccxt from 'ccxt/build/ccxt.browser.js'`)  with a

[2018-03-02 13:11] hippylover opened #2108 "kucoin missing price and cost when doing fetchOrder again."
kucoin missing price and cost(0.0) when doing fetchOrder. It might work if it's already in cache this i haven't tested. Nevertheless it's possible to get both numbers as they are in native fetchOrder API.

I think this should work: https://github.com/ccxt/ccxt/commit/b38b719a320619f543d84d5f97236d13ef3a9531
 but this doesn't: https://github.com/ccxt/ccxt/commit/db6bc5239eca565d2d4c94f4cf2b2b11c2d8

[2018-03-02 18:14] kmhcool commented on #2103
I think I got it now. The problem is I try to use the 2FA code that I used before. It's an One Time Password and I forgot that. So, the old 2FA code that got used won't work (of course it won't). I think we can closed this issue now. Thank you so much.

By the way, the story is that I don't provide enough code for this problem myself too

`tmp_fetch_open_orders = trading_client.fetchOpenOrders(sym

[2018-03-02 20:12] kroitor commented on #2103
@kmhcool ok, thanks for reporting back anyway! I'm sure this will be helpful to other users as well. Let us know if you have any other difficulties with it. Closing it for now. Thx again.

[2018-03-02 20:12] #2103 closed

[2018-03-02 20:14] kroitor commented on #2106
Hi!

Have you read the Manual? )

It's here: https://github.com/ccxt/ccxt/wiki

Also, there's a lot of examples, here: https://github.com/ccxt/ccxt/tree/master/examples

Let us know if it does not answer your question ) Thx!

[2018-03-02 20:14] #2106 closed

[2018-03-02 22:05] AoDev opened #2111 "Problem of API authentication with Okex"
## Context

- OS: __OSX__
- Programming Language version: __javascript (ES6 Babel in Chrome Browser)__
- CCXT version: __1.10.1124__
- Exchange: __Okex__
- Method: __fetchBalance()__

## Problem: unauthorized as reponse

Trying to fetch account info (fetchBalance) with okex. I get `{result: false, error_code: 10017}`
which means [API authentication error](https://www.okex.com/rest_request.html).

[2018-03-02 22:30] hippylover opened #2112 "kucoin fetchOrder always returns 'open' even if order is canceled."
I don't know if there is a good fix though. Seems there's no way to know through kucoin api if an order is actually canceled or not and when you do for example:
```exchange['kucoin'].cancelOrder('5a99b4a4c0f6334473a40077', 'ACT/BCH', {'type':'BUY'})``` it always returns this output:

[code]

No matter if you input a fake orderid or it's already been canceled or whatever. It seems this is consisten

[2018-03-03 02:28] wheward commented on #2104
Ok, I've arrived at a solution, though I'm not sure I've come up with the best solution. Feedback appreciated!

I learned 2 things:
1: pagination is apparently disabled on the Quionex API when you provide the timestamp parameter, as the API expects you to increment your timestamp to the last one returned instead of incrementing a page parameter.
2: the Quoinex API expects timestamps in your local

[2018-03-03 02:33] mkutny commented on #2111
Thanks for the elaborate explanation, they are rare these days )

I can confirm that signature is ok as fetching balance works for me for okex.

which means API authentication error.

Actually, they say this is authorization error, not authentication error. And if their statement is correct it has to do with permissions, not with the signature. If a key/secret is wrong they return 10005/10007.

Tr

[2018-03-03 04:06] #2104 closed

[2018-03-03 06:09] kroitor commented on #2111
@AoDev the answer of @mkutny is correct, you most likely have a problem with key permissions, and in that case, try creating a new key with full permissions, then try switching off the unwanted permissions one by one and see how it affects the authorization, whether the error appears or not. Let us know if it does not help. Feel free to reopen this issue or just ask questions, if any. Thx!

[2018-03-03 06:09] #2111 closed

[2018-03-03 06:25] jdimstrnate commented on #1244
This may be outdated looking at previous tickets for this and twitter posts bittrex disabled it sometime ago however the documentation is back with market order and there is a flag under account -> api settings to enable it.  By default market orders are disabled.

https://bittrex.com/home/api
Trade Market - This allows the API key to place MARKET buy and sell orders - WARNING: Do no enable this u

[2018-03-03 06:31] kroitor commented on #1244
@jdimstrnate this page: https://bittrex.com/Home/Api hasn't changed for a long time, and they still have just the "selllimit" and "buylimit" endpoints, no endpoints for market orders. You can emulate market orders with Bittrex as [described here](https://github.com/ccxt/ccxt/issues/1664#issuecomment-361933241), but they will not allow you to place a "market-type" order, even if you enable that per

[2018-03-03 06:32] jdimstrnate commented on #1244
Thanks for the feedback.  Will look into other post.

[2018-03-03 08:00] alexsith opened #2113 "Southxchange withdraw issue"
Hello.
  There is missed tag in withdraw function, it doesn't pass to API

- OS:
- Programming Language version: python
- CCXT version:
- Exchange:
- Method: withdraw

[2018-03-03 08:11] #2113 closed

[2018-03-03 08:23] kroitor commented on #1399
@Codewyvern

Yep.

Nope. You should either do it manually, or enable and use the built-in rate-limiting in the library, but not both.

[2018-03-03 08:29] kroitor commented on #1214
@lyn716 see this: https://github.com/ccxt/ccxt/pull/1410

[2018-03-03 08:32] lyn716 commented on #1214
@kroitor I saw this before but our code should be integrated with Python module.

[2018-03-03 08:33] kroitor commented on #1214
@lyn716 in this library the python code is generated automatically from JS:
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

[2018-03-03 08:35] lyn716 commented on #1214
@kroitor  That will be very nice.

[2018-03-03 08:40] kroitor commented on #1214
@lyn716

Here are generated python versions from the implementation, kindly submitted by @Deathamns:

- https://gist.github.com/kroitor/5748bbafe7cac02c0c367c2a00ac78eb (sync)
- https://gist.github.com/kroitor/01532681a65dd3e4a49e5fa10bfc9375 (async)

You should be able to generate and use the same code for testing if you follow the docs literally (precisely):

1. check out #1410
2. build it
3. in

[2018-03-03 08:42] #2101 closed

[2018-03-03 08:49] lyn716 commented on #1214
I got it and I will try to do this testing work ASAP by your step.
Best wishes with ccxt, it helps our coding process too much:（

[2018-03-03 09:01] kroitor commented on #1214
@lyn716 thanks!

[2018-03-03 09:10] #2093 closed

[2018-03-03 09:31] amtf opened #2114 "Bit-Z "ask queue" ordering incorrect"
- OS: Linux
- Programming Language version: javascript
- CCXT version: 1.10.1273
- Exchange: bit-z
- Method: fetchOrderBook

The "bid queue" ordering is correct, but the "ask queue" ordering is in reverse order.

Ask queue:
0.00547186 |   9.99000000
0.00550000 |   7.51830000
0.00560000 |   3.70130000
0.00600000 |   1.89280000
0.00887592 |  50.00000000
0.02000000 |   1.99800000
0.04000000 | 121.683

[2018-03-03 09:35] kroitor commented on #2114
@amtf can you please provide a snippet of code to reproduce the problem and your verbose output?

I don't see it with ETH/BTC:

<img width="539" alt="screen shot 2018-03-03 at 12 34 13" src="https://user-images.githubusercontent.com/1294454/36932769-46f942f4-1edf-11e8-975b-2d0f2ba51821.png">

https://github.com/ccxt/ccxt/blob/master/examples/js/live-orderbook.js

[2018-03-03 09:41] kroitor commented on #2114
I think you're misinterpreting the order of asks. It isn't reversed in fact. It is correct, the first element in the ask array is the best market price, the second element is the price after it, and so on...

So it, isn't reversed. It is documented here: https://github.com/ccxt/ccxt/wiki/Manual#order-book

Let us know if it does not answer your question.

[2018-03-03 09:41] #2114 closed

[2018-03-03 09:42] kroitor commented on #2113
Fixed in 1.10.1274. Thx for reporting!

[2018-03-03 09:43] kroitor commented on #2093
Added in 1.10.1274. Thx for reporting!

[2018-03-03 09:43] kroitor commented on #2088
This issue is fixed in the most recent version of ccxt. Thx!

[2018-03-03 10:12] amtf commented on #2114
![image](https://user-images.githubusercontent.com/4770880/36933080-4fe40e88-1f0e-11e8-9552-f901939f4912.png)

This is the exchange problem?

[2018-03-03 10:17] kroitor commented on #2114
@amtf are you sure you're running the version 1.10.1273? Also, for some reason, the date formatting is different on our systems...

[2018-03-03 10:37] kroitor commented on #2096
@kk3nny do you have a problem with this key:

[code]
?

It does work for me with Python 2.7.

Are you sure your code does not mistakenly override the keys somewhere?

[2018-03-03 12:46] alexsith commented on #2113
+        if (typeof tag !== 'undefined')
+            request['currency'] = address + '|' + tag;

I guess, it suppose to be
              request['address'] = address + '|' + tag;

[2018-03-03 12:51] alexsith commented on #2113
And where did you get information about paymentID? Cause I can't find it in their documentation on site.

[2018-03-03 13:04] kroitor commented on #2113
@alexsith

Reverse-engineered it from createDepositAddress ('XMR')

[2018-03-03 16:19] kk3nny commented on #2096
Thank you for looking into my issue and yes this key worked. I think the problem was that I was using a key generated from testnet.bitmex.com so that I would be able to use testnet bitcoins. I generated keys from bitmex.com this time which worked fine for me. Is there a way that I can run the testnet keys?

[2018-03-03 22:58] kroitor commented on #2096
@kk3nny

Yes, there is:

[code]

Let us know if this does not help. Closing it for now, if you don't mind. Feel free to reopen it or just ask questions if you have any. Thx!

[2018-03-03 22:58] #2096 closed

[2018-03-03 23:00] kroitor commented on #2073
@rspadim sorry for a long wait, working on the skeleton to upload asap. Will update you when it's there. Thx for your patience!

[2018-03-03 23:50] kevaundray opened #2116 "Cross exchange Documentation"
What is meant by the normalised data for cross exchange?

This is a feature that i believe I urgently need, however I could not find the documentation on it, so cannot be 100% certain

[2018-03-04 09:53] valourus commented on #466
Any progress on this topic?

Im interested because on gdax the minimun order is 10usd and on coinbase its 2 usd. Thats a big difference :)

[2018-03-04 11:39] kroitor opened #2118 "Back to versioning"
Hey, everyone! )

This time it's a very short announcement )
We are restoring the versioning rules as requested by many of our users.

Starting from ccxt v.1.11.1 we will follow these rules:

[code]

1. The patch version will be bumped upon every build (as it is now).
2. The minor version will be bumped upon a backward-incompatible (breaking) change.
3. The major version will be bumped upon integr

[2018-03-04 11:57] kroitor commented on #2116
It means, that the exchanges are not uniform and don't have a common standard or format, therefore this library exists, which wraps their non-compatible data in a uniform way in a common format that is very convenient for a user. In general the exchanges themselves (as is any technology) aren't ideal. So, *normalised* means "ordered and nicely structured" data, that is easy to work with, despite a

[2018-03-04 11:57] #2116 closed

[2018-03-04 12:27] kevaundray commented on #2116
Thank you for the response. I looked around at the manual before asking my question.

I was confused as the page said optional normalisation, so I was wondering where exactly in the documentation does it reference the parameter that needs to be set for it. Again, I may have missed it while looking.

Thanks

[2018-03-04 12:31] kroitor commented on #2116
@kevaundray ok, then, the entire Manual is a description of how each particular piece of data is normalised or unified (the manual basically tells you which unified method return which unified format and how to use exchange-specific methods and formats as well).

[2018-03-04 13:01] spig0t opened #2119 "Supporting some DEXes (the future!)"
Some of the biggest+growing DEXes are for example IDEX and Bancor (both hovering around #60 in the top 100 exchanges), and it'd be really useful for CCXT to support them. Imho, DEXes are the future. While integrating them may require more dependencies (i.e. interacting directly with the Ethereum contracts using ethers.js or web3), it would be really useful for CCXT to do this, and going forward th

[2018-03-04 13:13] AoDev commented on #2111
@mkutny @kroitor Thank you. I was able to get the data by enabling the "trade" permission.

That said I've written to Okex, asking if there could be a way to provide "read-only" permission like in other exchanges. Mainly because I want to enable certain monitoring features while not focusing on credential storage security yet.

I face the same problem on my side 😄

[2018-03-04 15:55] wntsang4 commented on #2102
The program throws **KeyError ('type',) Error** when calling
buy_order = bitz.create_limit_buy_order('SPHTX/BTC', 5, 0.000047)

[2018-03-04 16:13] kroitor commented on #2102
@wntsang4 ok, fixed it in 1.11.4, tested it, works on my side, please, update and retry again. Let us know if you still have difficulties with it. Thx for reporting!

[2018-03-04 17:06] kroitor commented on #2119
As for your proposal, we would love to have support for distributed exchanges, of course, your contributions and pull requests are welcome: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

So, yes, we are all for it )

We already have plans for integrating some DEXes, here, for example: https://github.com/ccxt/ccxt/issues/715 (EtherDelta) and some other as well ) If

[2018-03-04 17:06] #2119 closed

[2018-03-04 19:41] andrewnaem commented on #713
i think  -1.0 in linspace must be 1.0 in positive to add more weight to recent data not old data

[2018-03-04 22:26] Walodja1987 opened #2122 "New Exchange: COSS"
Hi,

can we add COSS exchange please? https://coss.io/

Best,
Wladi

[2018-03-05 00:43] qdztxc opened #2123 "poloniex load_markets API fail"
self.p = ccxt.poloniex({'verbose': True})
        self.p_market = self.p.load_markets()
poloniex load_markets API fails with
'403 Client Error: Forbidden for url: https://poloniex.com/public?command=returnTicker'
The other exchanges work well.

I think it may be caused by identifying code check newly added in poloniex.

- OS:  windows 7 64 bit
- Programming Language version: python 2.7
- CCXT vers

[2018-03-05 01:08] kroitor commented on #2123
@qdztxc can you, please, post the complete verbose output of that snippet?

[2018-03-05 01:14] qdztxc commented on #2123
![ccxt](https://user-images.githubusercontent.com/36831344/36953432-a810b802-2055-11e8-9e0f-ca03c14a1bc3.png)

[2018-03-05 01:18] kroitor commented on #2123
@qdztxc no, I mean the full text output, literally, the screenshot cuts all strings... Anyway, are you able to reach that page with your browser? https://poloniex.com/public?command=returnTicker

[2018-03-05 01:20] kroitor commented on #2123
@qdztxc also, have you tried the steps from the Troubleshooting section of the Manual https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting ?

[2018-03-05 01:23] qdztxc commented on #2123
I think it caused by poloniex add identifying code check for IP from some countries.
![ccxt2](https://user-images.githubusercontent.com/36831344/36953554-b2a451b0-2056-11e8-9c4b-354a2c4706cf.png)

I think it could be bypassed by proxy.

[2018-03-05 01:39] vvinni opened #2124 "EXMO - Creating Order - Problem with the parameters when using unified API"
- OS: Windows 7
- Programming Language version: Python 3.6
- CCXT version: 1..11.10
- Exchange: EXMO
- Method: create_limit_buy_order()

Hi!

I don´t know if I´m doing something wrong or the API is behaving in an unpredictable way.

I´m trying to open a market order like this:

`buy = self.conn.create_limit_buy_order(PAIR, volume)`

and I got this error:,

Verbose True return this:

[2018-03-05 02:05] kroitor commented on #2124
@vvinni for a limit buy order you need to supply at least the symbol, the amount and the price (three arguments to create_limit_buy_order: `buy = self.conn.create_limit_buy_order(PAIR, volume, price)`.

https://github.com/ccxt/ccxt/wiki

Let us know if it does not answer your question.

[2018-03-05 02:05] #2124 closed

[2018-03-05 02:08] kroitor commented on #2123
Ok, see this example script on how to bypass cloudflare:

https://github.com/ccxt/ccxt/blob/master/examples/py/bypass-cloudflare.py.

It may not always work, then you need to use a proxy, indeed, or copy the cloudflare cookie by hand from your browser (solve the captcha in your browser, then use the web inspector to get the cloudflare cookie from browser headers to your python code).

Closing this

[2018-03-05 02:08] #2123 closed

[2018-03-05 02:33] vvinni commented on #2124
Sorry man!

What I need is a market order!

It's time to stop coding! I need some rest!

Thank you for your reply!

[2018-03-05 06:55] philipperemy opened #2125 "Bitflyer order status"
This feature does not seem to work properly with 1.11.10:

[code]

Can somebody advice?

Thanks in advance

[2018-03-05 10:13] kroitor commented on #2125
Can you elaborate, please? What exactly is wrong? Can you post your complete snippet and your verbose output according to these steps (without the keys):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

Without a proper description of the problem it's very hard to guess and help, unfortunately... Standing by for more info from you.

[2018-03-05 12:22] #2118 closed

[2018-03-05 12:53] philipperemy commented on #2125
@kroitor ,

Thanks for helping out. Version is `ccxt (1.11.10)`.

Here is the snippet that is not working:

[code]

[code]

[code]

[2018-03-05 13:07] #2125 closed

[2018-03-05 13:11] philipperemy commented on #2125
@kroitor it's in python, not JS.

Why did you close this issue?

Error 1 is still there and it does not solve error 2...

[code]

[2018-03-05 13:15] kroitor commented on #2125
In ccxt Python is generated from JS...  More about it here (if you're interested): https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support

Because I fixed it and the build is on the way, it means "please, be patient, I'll let you know shortly..."

---

Now, the answers and fixes:

1. Update to ccxt v.1.11.1

2. On Error 1: you're need to use rate limiting, otherwise bitflye

[2018-03-05 13:16] philipperemy commented on #2125
@kroitor great I'll proceed that way, thanks for the support! Much appreciated!

[2018-03-05 13:17] kroitor commented on #2125
@philipperemy let us know, if you still have difficulties with it, feel free to reopen this issue or just ask questions, if any.

[2018-03-05 13:18] philipperemy commented on #2125
@kroitor thank you very much! I will!

[2018-03-05 13:29] kroitor commented on #2125
@philipperemy P.S. you don't need to fetch order status after fetching the entire order...

[code]

You definitely need to read the Manual and to learn more basic Python, also see the examples linked above. That's my strong recommendation to you, it will save you tons of time, really.

[2018-03-05 13:39] philipperemy commented on #2125
@kroitor yes correct. I just wanted to show the errors. That's why I did that.

[2018-03-05 14:36] jjhesk commented on #1302
@kroitor i think we can introduce https://gitcoin.co/ to start. See what we can do with this program.

[2018-03-05 17:03] kroitor commented on #2108
@hippylover can you, please, post a full verbose output of the second fetchOrder return? Thx!

[2018-03-05 17:24] #2105 closed

[2018-03-05 17:43] #2023 closed

[2018-03-05 17:51] #1594 closed

[2018-03-05 17:59] kroitor commented on #1948
Related: #987

[2018-03-05 18:00] kroitor commented on #1948
I'd suggest to move this discussion to #987, if you don't mind. Thanks for the proposal, we will definitely take it into consideration when we will be fixing it (hopefully soon). Closing this for now as a duplicate. Thx!

[2018-03-05 18:00] #1948 closed

[2018-03-05 18:08] #2082 closed

[2018-03-05 18:45] fluxwise commented on #875
Took me quite some time to realise, the example code from @kroitor should be :

`var_dump($bittrex->fetchOrderBook('CVC/BTC', '', array('type' => 'buy')));`

The extra params are the third argument, not the second!

[2018-03-05 18:47] kroitor commented on #1874
@ojali sorry for a long wait... can you, please, post the smallest possible snippet of your code (but still, a complete one) to reproduce the problem (without your keys) ? I mean, the lines that you've copied don't tell me too much, need to see more code and verbose output, as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Thx, standing by for more

[2018-03-05 18:51] kroitor commented on #875
@fluxwise indeed, the signature of fetchOrderBook has changed since then, and a new argument was added: https://github.com/ccxt/ccxt/issues/1758 (added in ccxt version 1.10.987).

So, the correct code with current version 1.11.15 is:

[code]

[2018-03-05 20:36] AnCh7 opened #2126 "parse_timeframe doesn't support WEEKLY timeframes"
[code]

Code:
[code]
returns 60.

Was tested on the Kraken exchange.

[2018-03-05 20:41] #2126 closed

[2018-03-05 21:44] AnCh7 commented on #2126
Really sorry guys for the late addition, but YEAR timeframe ('y') is missed too.

[2018-03-05 21:45] kroitor commented on #2126
@AnCh7 yep, thx, will add it as well, very shortly.

[2018-03-05 22:11] dexter369 opened #2131 "Multiple coins with symbol BLZ"
Hi,

Bluzelle and BlazeCoin both have the symbol BLZ across different exchanges.

Bluezelle : Binance, Huobi
BlazeCoin : Cryptopia

[2018-03-05 22:25] #2131 closed

[2018-03-05 23:05] c006 commented on #1948
Hi. I read through the other post and I would not consider it a duplicate.

This only has to do with formatting, not time back.

Anyways, it looks like you are slammed with requests.
The code is ready to go it you choose to add it in.

Regards

[2018-03-06 01:03] vvinni opened #2132 "EXMO - create_market_buy_order() parameters problem"
OS: Windows 7
Programming Language version: Python 3.6
CCXT version: 1..11.10
Exchange: EXMO
Method: create_market_buy_order()

@kroitor Unfortunately I was too tired to understand what happened.

In my bot, if the last price is below some point, I open a market order if it is above that point and below another reference I use a limit order...

Yesterday, I copied the wrong method when I created t

[2018-03-06 06:44] nerdDan opened #2133 "cobinhood has wrong lot size"
https://github.com/ccxt/ccxt/blob/master/python/ccxt/cobinhood.py#L177

[code]

The `lot` field of Cobinhood market structure was assigned as `quote_increment` field of http response. However, they have different semantic meaning. `lot` field is an amount w.r.t. base currency; while `quote_increment` field is an amount w.r.t. quote currency (https://cobinhood.github.io/api-public/).

For example,

[2018-03-06 07:20] ws2367 opened #2134 "inconsistent timeframes format"
The issue is that the format of the exchange property timeframes is NOT consistent.
[code]

The above code prints out some examples in the following:
[code]

`timeframes` is a hash and the values of it do not follow a format across exchanges. For example, some are like '1m' or '5m' that are no different from the keys. Some others are the actual duration in seconds which arguably is the desired for

[2018-03-06 07:31] mkutny commented on #2133
- Looking at their trades it indeed looks like their `price` precision is 0.1 which is consistent with their `quote_increment`.
- I don't see they provide `amount` precision too.
- A side note: `lot` is deprecated, these values should go into `market.precision` property.

If you have happened to have some funds on cobinhood could you try to create an order which violates their presumed amount prec

[2018-03-06 08:05] #2132 closed

[2018-03-06 08:07] kroitor commented on #2132
@vvinni unfortunately, Exmo requires a price argument for all orders, even for market orders. So, it should be `compra = self.conn.create_market_buy_order(PAR, volume, price)`
I've added a warning message stating that. Please, don't forget to update ccxt to version 1.11.24 (in 5-10 minutes).
Hope it helps. Thx!

[2018-03-06 08:13] kroitor commented on #2134
`timeframes` is a hash, where keys are unified and values are exchange-specific, so, I don't see any inconsistencies there. You should not rely on the values under the keys and their formats, as they are exchange-specific. The keys are exchange-agnostic and unified and can be safely used across exchanges, namely, the "1m", "5m", "15m", "1h", and so on – those are standardized. So, I don't see an i

[2018-03-06 08:13] #2134 closed

[2018-03-06 08:25] kroitor commented on #2132
@vvinni sorry, my previous answer is a mistake, after doing some testing, i turns out that they will accept market orders without a price, thus, you need to update to 1.11.25 (in 5-10 minutes, again), and use your old code, it should work now. Let us know if you have difficulties with it. Thank you!

[2018-03-06 08:30] kpgarrod commented on #2107
I think the issue is more specifically related to Rollup (which is being used to bundle the webcomponent) rather than webcomponents per se.

[2018-03-06 09:26] jed057 opened #2136 "Coinegg exchange USC quote/trade interface problem"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange: Coinegg
- Method: ticker/depth, etc.

In the official API doc, it looks no description about how to determine the coin's region, i.e., BTC or USC. However by reviewing the code, ccxt is using 'quot

[2018-03-06 09:37] jed057 commented on #2136
may I know this is duplicated with which # and what is the state of it? thanks :)

[2018-03-06 09:44] kroitor commented on #2136
This is documented in the Manual:

- https://github.com/ccxt-dev/ccxt/wiki/Manual#symbols-and-market-ids
- https://github.com/ccxt/ccxt/wiki/Manual#order-book
- https://github.com/ccxt/ccxt/wiki/Manual#price-tickers

Basically, you need to read the entire Manual to understand the terminology behind the base/quote and how it relates to markets, symbols, ids, currency codes, etc... From there, it sh

[2018-03-06 09:44] #2136 closed

[2018-03-06 09:46] bruceharrod commented on #1087
Are you able to check if you can withdraw from huobi? I've looked through their docs but can't seem to find anything relating to this.

[2018-03-06 09:47] kroitor commented on #2136
More info on this:
[code]

[2018-03-06 09:50] jed057 commented on #2136
hey sir, thanks for your quick reply!!

actually you can see the problem here. when we are fetching the ETH/USC quotes, it returns the ETH/BTC quotes.. you can try ETH/BTC, will get exactly same results.

[2018-03-06 09:51] jed057 commented on #2136
how can ETH be that cheap? 0.07xx US dollor.. :P

[2018-03-06 09:52] kroitor commented on #1087
@bruceharrod this is so common among exchanges, even the major ones...

[2018-03-06 09:53] kroitor commented on #2136
@jed057 have you tried this link: https://api.coinegg.com/api/v1/ticker/usc?coin=eth ? It's what they report.

[2018-03-06 09:54] kroitor commented on #2136
I guess, you should forward this question to Coinegg support? ) We don't change their data and give it to you as is, first hand, untouched.

[2018-03-06 09:58] kroitor commented on #2136
Related to #1215 #1412

[2018-03-06 09:59] jed057 commented on #2136
oh yes. I have done that couple of days before, not get any help from them though.

like i said i can't find any description about this in their api doc, but i see you are using the */{quote} format, so i thought you have some idea on this, so..

[2018-03-06 10:04] kroitor commented on #2136
@jed057 I'll look into it and will get back to you on this matter.

[2018-03-06 10:04] #2133 closed

[2018-03-06 10:33] celosotomaior commented on #2106
Thanks for replying.

I filtered the ohlcv data and was able to get the past data. However, I'd like to get a from-to date, not only a single date. For example, the historical price of BTC/USD from 26/02/2017 until 26/05/2017.
How do I put these parameters in the code below?

Now I have another problem to solve. When I use console.log(ohlcv.length), it gives me a random number of ohlcv lines for 1

[2018-03-06 10:50] rdbr opened #2137 "Bittrex error handling"
When calling an API function and there is an error, `throwExceptionOnError` gets called in the `request` function. If the error is unknown, no exception is thrown and the `request` function returns nothing, so response will be undefined.

I suggest to throw `ExchangeError` after the `throwExceptionOnError` returns, just like in `handleErrors`.

[2018-03-06 10:54] kroitor commented on #2137
We can't do that unfortunately, because most often it's a recoverable ExchangeNotAvailable error... In order to fix it somehow, we need to see your verbose output and the code to reproduce it. We might add some handling for a yet-unknown error, if you could show it to us, Bittrex docs are very poor.

Hope it answers your question.

[2018-03-06 10:54] #2137 closed

[2018-03-06 11:42] rdbr commented on #2137
The problem is that nothing is returned on unknown errors, I can only check if the return value is undefined.

My error is not really that important, because it is about the future unknown errors, but here is such an error when nothing is returned or thrown, while status is 200:
`{"success":false,"message":"INVALID_CURRENCY","result":null}`

I think it is better to at least throw some kind of erro

[2018-03-06 12:04] vvinni commented on #2132
@kroitor no man... my mistake... I asked the wrong question with the wrong method.

Thank you very much for the rapid reply!

Today when I got home I will update the lib and try again... I let you know...

Thank you!

Awesome work!

[2018-03-06 13:05] jed057 commented on #2136
thanks! but I guess this is a common issue in coinegg, not only tickers. Need to understand how to set between BTC and USC in coinegg, now looks like by default it's always BTC.

[2018-03-06 13:06] kroitor commented on #2136
@jed057 yep, we might switch to their web apis, will look into ways of fixing it...

[2018-03-06 13:15] jed057 commented on #2136
@kroitor right, for quotes that could be a solution but how about the trade related apis?

[2018-03-06 13:17] kroitor commented on #2136
@jed057 can't tell before I investigate, really, I mean, hold on, be patient, I'll get back to you on this )

[2018-03-06 13:18] alexsith opened #2141 "bitz fetch_balance issue"
Hello. In last commit you missed this, so there is exception
 'fetchBalance': False,  # so far the only exchange that has createOrder but not fetchBalance %)

    return await self.__ccxtexchange.fetch_balance()
AttributeError: 'bitz' object has no attribute 'fetch_balance'

[2018-03-06 13:20] jed057 commented on #2136
@kroitor sure sir.. i will take a look as well, thanks for your help :)

[2018-03-06 13:22] alexsith commented on #2141
sorry, my mistake

[2018-03-06 13:22] #2141 closed

[2018-03-06 13:34] jed057 opened #2142 "BIT-Z fetch balance interface"
- OS:
- Programming Language version:
- CCXT version:1.11.4
- Exchange: bit-z
- Method: fetch_balance()

bit-z does not claim a api to fetch user balance in official website, i guess that's why there's no fetch_balance implementation in bitz.py. However it does have a way (by private post 'balances'). Dont ask me how I know that, I just tried it out.

[2018-03-06 14:00] kroitor commented on #2142
@jed057 can you please help us debug it? We need to do the following:
1. update ccxt to version 1.11.28 (just added the "balances" endpoint)
2. run this code and copy the complete verbose output here (without your keys):

[code]

?

I'm having difficulty with their confirmation emails not coming through to my address right now, can't really recreate the API key to test it. Your help would be reall

[2018-03-06 14:47] jed057 commented on #2142
('\nRequest:', 'POST', 'https://www.bit-z.com/api_v1/balances', {'Content-type': 'application/x-www-form-urlencoded', 'Accept-Encoding': 'gzip, deflate', 'User-Agent': 'python-requests/2.18.4'}, 'api_key=48e5e01ca50cc6ac722b6502d3cd938e&nonce=559120&timestamp=1520347559&sign=8231afab1bcbbb80a513d52ae3a0c7ad')
('\nResponse:', 'POST', 'https://www.bit-z.com/api_v1/balances', '200', "{'X-Powered-By':

[2018-03-06 16:15] #2142 closed

[2018-03-06 17:08] #2112 closed

[2018-03-06 18:34] nerdDan commented on #2133
after commit https://github.com/ccxt/ccxt/commit/4babadb9633752dad2c14c1b7879d80bff149608 , I can not create any orders.

[code]

[2018-03-06 19:10] mdejavue opened #2146 "Cobinhood fetchTickers uses wrong endpoint"
This should definately use `/v1/market/tickers/` without a symbol defined.

Currently it points to `/v1/market/stats` which is a nightmare..

[2018-03-06 20:17] kroitor commented on #2133
@nerdDan can you, please, post verbose output of the request-response, as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[2018-03-06 21:02] artbred opened #2147 "fetchdepositaddress js"
Hello, i have a problem, actually im not 100% sure that its ccxt problem but however
async function candep(stock,id){
    let market = eval(stock)
    let info = await market.fetchDepositAddress(id)
    if(info.info.success == true){
        return 1
    }
    else{
        return 0
    }
}
Thats my code, stock and id are strings.Js says that market.fetch... is not a function BUT i have already us

[2018-03-06 21:37] kroitor commented on #2147
Can you reduce the error case to a minimal but a complete snippet of code that I can copypaste to reproduce your problem?

The lines that you've copied don't really tell me anything.

It's really hard to help you without seeing the code and your verbose output as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Can you, please, provide more info and

[2018-03-06 23:15] kroitor commented on #2142
@jed057 the fetchBalance implementation for bitz was added in the most recent version of ccxt 1.11.34, thx to you so much!

[2018-03-07 01:21] hippylover commented on #2108
Ok, newest ccxt from git, hope this is the one you meant:

[code]

[2018-03-07 02:49] dice2019 opened #2149 "parse_bid_ask need use double instead of float"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2018-03-07 02:53] kroitor commented on #2149
Hi! See this: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code Thx!

[2018-03-07 02:53] #2149 closed

[2018-03-07 02:59] amtf opened #2150 "New Exchange: TradeOgre"
### Exchange Name

TradeOgre

### URL of the Exchange

https://tradeogre.com/

### URL of the Exchange's API docs

https://tradeogre.com/help/api

### Why should this exchange be implemented?

This exchange usually contains low-cap coins and newly introduced Proof-of-Work coins. It would be great for the Proof-of-Work community.

[2018-03-07 04:30] scoshil opened #2151 "BTC Markets create_order function corner case handling"
in the btcmarkets.py create_order function there is:

order['price'] = int(price * multiplier)

However due to python's non-exact ints + BTCM's handling of prices/volumes (using a multiplier) this results in certain order prices being invalid

For example, inserting a buy order with a price of 1.12 is fine, but inserting a buy of 1.13 gives an "invalid amount" error. I dug into this and it appears

[2018-03-07 04:36] kroitor commented on #2151
Hi!

Thanks for the suggestion!

Your question is covered here:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support ← this doc explains why we can't really use python-specific code
- https://github.com/ccxt/ccxt/pull/2121 ←  this pull request addresses the above issue and it will be merged soon... having it merged will solve this particular issue for all languages and

[2018-03-07 04:36] #2151 closed

[2018-03-07 04:48] scoshil commented on #2151
@kroitor thanks for the quick reply!
Any idea how long until it's merged?

[2018-03-07 05:02] kroitor commented on #2151
@scoshil a couple of days, I think...

[2018-03-07 06:07] atjason commented on #866
@kroitor @tandazhi  Seems this feature still not be implemented. Suggest to reopen this issue.

[2018-03-07 06:38] alexsith opened #2152 "kuna withdraw issue"
return await self.__ccxtexchange.withdraw(currency, volume, address, tag, params)
File "/usr/home/vmuser/proj/ccxt/async/acx.py", line 318, in withdraw
    result = await self.privatePostWithdraw(self.extend({
AttributeError: 'kuna' object has no attribute 'privatePostWithdraw'

[2018-03-07 09:17] nerdDan commented on #2133
@kroitor Thank you for your patience.

[code]

[2018-03-07 09:26] artbred commented on #2147
Sorry, will do it little bit later, i have a problem with ccxt.sleep(), you use it in your code examples but it seems to be not working, can you help with that please

[2018-03-07 09:32] kroitor commented on #2147
@artbred sure, I can, but my answer remains the same: need to see a minimal code snippet to reproduce the problem (now with `sleep`) and verbose output of it... So whatever the problem is, I need at least some info from you.

[2018-03-07 09:36] forexhill opened #2153 "Invalid nonce (has already been used)"
Hi @kroitor! Any reason I would get an invalid nonce (already used) error? The php program is single threaded, and just does a few trades ($exchange->create_order) in close succession, then pauses for a while to ratelimit. Also, any way to set the nonce manually before a transaction?

- OS: Ubuntu 17
- Programming Language version: PHP 7.1
- CCXT version: very latest (fresh trunk pull from few hou

[2018-03-07 09:38] #2152 closed

[2018-03-07 09:42] kroitor commented on #2153
@forexhill hi! Can you please post a minimal snippet of code to reproduce the problem and your verbose output of it? https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
Need a small, but a complete snippet from you, so that I could copy it and run in my environment... I mean, the entire program, not a line or two of it, but, please, remove everything that isn't absolute

[2018-03-07 09:42] kroitor commented on #2153
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/wiki/Manual#error-handling

[2018-03-07 09:45] jjhesk commented on #1266
hi, for now i have all calls using bitfinex2 is that possible to kick back into v1 when making call for `createOrder` ?

[2018-03-07 09:59] forexhill commented on #2153
Hmm. Just had it again
PHP Fatal error:  Uncaught ccxt\ExchangeError: yobit unknown "error" value => {"success":0,"error":"invalid nonce (has already been used)"} in /home/{user}/ccxt/php/liqui.php:736

Is the nonce build on unix timestamp and as such if two trx are in one second it can fail?

[2018-03-07 10:03] forexhill commented on #2153
I cannot sent code for this one sorry.

[2018-03-07 10:05] forexhill commented on #2153
It also seems to happen with the $exchange->create_order (a few directly in a row) only whereas it have not seen it happen yet with $exchange->fetchTicker (also a few directly in a row)

[2018-03-07 10:07] forexhill commented on #2153
Think it is this; when there are multiple calls in the same second (is second resolution used for nonce?). If so, then perhaps we can add a suffix from a nanosecond timer or something?

[2018-03-07 10:07] forexhill commented on #2153
Another idea is to read it from a file or variable

[2018-03-07 10:12] kroitor commented on #2153
@forexhill

Yes, by default, however...

First, we already have a way of overriding the nonce: https://github.com/ccxt/ccxt/wiki/Manual#overriding-the-nonce. Second, the nonce for yobit is defined in milliseconds by default. So, you should just enable the rate limiting (add `array('enableRateLimit' => true)` as shown in this example: https://github.com/ccxt/ccxt/blob/master/examples/php/built-in-r

[2018-03-07 10:12] #2153 closed

[2018-03-07 10:17] kroitor commented on #1266
@jjhesk yeah, that is what we were going to do actually ) Will let you know, of course) Thx!

[2018-03-07 10:34] forexhill commented on #2153
@kroitor so I already had the ratelimiter enabled, had set the ratelimit to 605ms (which should stay just under the 100 requests/min max for Yobit) AND was inserting another usleep($exchange->rateLimit*1000); after each exchange call. So, 1) from the example it would seem there is no need to do the usleep? 2) so how can we possibly have these nonce failures at all?

[2018-03-07 10:36] forexhill commented on #2153
Also, https://github.com/ccxt/ccxt/wiki/Manual still has usleep as well in example code, FYI

[2018-03-07 10:37] kroitor commented on #2153
Yep, no need for usleep.

It's very hard to tell without seeing your actual code, I mean, it is obviously due to an error in the logic of the script you're running, but I can't guess what it might be, without actually seeing it... If you could do some homework and reduce the error case to the small sample, you will most likely find the error yourself (think: I wouldn't ask otherwise).

Yes, it doe

[2018-03-07 10:40] forexhill commented on #2153
Oh I trust that you would not ask unless it was needed, sorry. It's just that it would be very hard to reduce this to a simple script and even more so because it involves actual trading functions (the rest works fine). It would seem it is a regression. I think I can prove that too by running with an older version of ccxt and seeing if it happens again.

[2018-03-07 10:43] kroitor commented on #2153
This is the key – you just stated it yourself. Yes, it will be hard, and **that's the whole point of doing it!** I mean, if it would be easy, I would answer right away. So, debugging is what makes programming hard. But you have to get used to to do it willingly and frequently, otherwise you'll spend months solving problems, which is not something you want, obviously. So, whenever you need to debug

[2018-03-07 10:52] forexhill commented on #2153
Thank you :)

[2018-03-07 11:03] kroitor commented on #2153
@forexhill i'm really sorry for not being able to help you more with this... hope for your understanding, without seeing at least some code from you and being able to tweak it myself, I'm practically blind and I don't have any option better than... uhm... a blind guess.

[2018-03-07 11:54] stabilus opened #2155 "Cryptopia: canceled order reported as closed"
- OS: Win 7
- Programming Language version: python 3.6
- CCXT version: 1.11.38
- Exchange: cryptopia
- Method: fetchOrder

When an order is cancelled, fetchOrder should return 'status':'canceled', but in context with cryptopia, it returns 'status':'closed'

Example:
After I placed an order:
exchange.fetchOrder(428161051,symbol)
{'id': '428161051', 'info': {'OrderId': 428161051, 'TradePairId': 5634

[2018-03-07 12:15] atjason opened #2156 "Feature Request: Implement market order for HuobiPro"
Hi,
As [HuobiPro API Document](https://github.com/huobiapi/API_Docs/wiki/REST_api_reference) shows, it supports market order, which type is `buy-market` and `sell-market`.

I test and find current ccxt doesn't support market order. Please consider to support it for HuobiPro, thanks in advance. Let me know if more information is needed.

BR,
Jason

[2018-03-07 12:28] kroitor commented on #2156
Hi!

Can you please post a minimal snippet of code to reproduce it and your verbose output as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[2018-03-07 12:32] atjason commented on #2156
Hi @kroitor
Thanks for your quick response.

As you can see the [source file of huobipro](https://github.com/ccxt/ccxt/blob/master/js/huobipro.js), there's no `createMarketOrder` in the `has` list, and there's no `createMarketOrder` function in the file.

![](https://user-images.githubusercontent.com/803199/37092322-66b19a28-2246-11e8-8b41-76bebab1b83e.jpg)

Do I still need to provide code snippet

[2018-03-07 12:35] kroitor commented on #2156
As you can see from [this base source file](https://github.com/ccxt/ccxt/blob/master/js/base/Exchange.js), the `createMarketOrder` method is implemented in the base class and inherited from there, and the `has['createMarketOrder']` is `true` by default for the same reason.

[2018-03-07 12:36] atjason commented on #2156
Get it, I will provide code snippet.

[2018-03-07 12:38] kroitor commented on #2156
@atjason thx, standing by for more info from you ) Please, don't forget to supply your verbose output as well (remove your keys from it as we don't need them, of course).

[2018-03-07 12:44] nerdDan commented on #2133
@kroitor I made a mistake. It should be `amountToString`.

When I post the output in my last comment, the ccxt in my woking directory contains `amountToString`, which is correct, but it imported code from pip library, which contains wrong code `amountToPrecision`.

[2018-03-07 12:50] kroitor commented on #2133
@nerdDan your last comment is a little confusing, does it mean that your issue is solved, or is there still a problem with it?

[2018-03-07 12:53] nerdDan commented on #2133
I am very sorry I failed explained myself. It is not solved.
Please change it back from `amountToPrecision` to `amountToString`.

[2018-03-07 13:10] nerdDan commented on #2133
thank you very much! it is working now!

[2018-03-07 13:47] Codewyvern opened #2158 "Cryptopia: fetchTrades sometimes returns empty json"
- OS: Windows 7
- Programming Language version: Javascript
- CCXT version: Latest
- Exchange: Cryptopia
- Method: fetchTrades

Something leads me to believe the rateLimits are not set up correctly, even though I don't get any ddosprotection exceptions, I still sometimes get an empty json as a result.

Quick look into it, it could be because ccxt ratelimit is like this:  'rateLimit': 1500,
And the

[2018-03-07 13:58] kroitor commented on #2158
1500 is a much more graceful delay, with 1000 it would hit the rate limit even faster... So you're actually saying to make it worse )) I don't really think you want that )

This is not a rate-limit issue, though, from my experience they will throw a null response at you whatever rate limit you choose. So, to me it seems more like a bug of the exchange and their caching midlayer, these bugs are com

[2018-03-07 13:58] #2158 closed

[2018-03-07 14:01] kroitor commented on #2156
One of possible reasons (a blind guess): you're probably calling `createOrder` from ccxt with type = `buy-market` or `sell-market`, which is wrong.

You have to follow the Manual precisely: https://github.com/ccxt/ccxt/wiki/Manual#placing-orders. You need to pay attention to each symbol literally, notice that ccxt does support two unified types of orders (`market` or `limit`) and two sides (`buy`

[2018-03-07 14:22] atjason commented on #2156
@kroitor Sorry, but after I upgrade ccxt to latest version, huobipro could create market order.

Sorry for disturbing you.

[2018-03-07 14:22] #2156 closed

[2018-03-07 14:29] kroitor commented on #2155
Do you reinitialize the exchange class instance between the two actions, namely, do you create a new instance of cryptopia after creating the order and before canceling it?

[2018-03-07 16:24] morzyns opened #2159 "Unexpected identifier 'params' in Exchange.js - TypeScript.."
Hello everyone,
Just found an error in
**ccxt/js/base/Exchange.js:353:26: JS ERROR SyntaxError: Unexpected identifier 'params'. Expected ';' after variable declaration.**

- OS: macOs Sierra
- Programming Language version: Typescript 2.7.2
- CCXT version: ^1.11.41
- Exchange: binance
- Method:
this.binance = new ccxt.binance();
console.log(this.binance);

[2018-03-07 16:32] stabilus commented on #2155
no, placing and canceling of order happens right after eachother, no reinitialization, no new instance,

this produces the error after initializing the exchange):

symbol='BTC/USDT'
amount=0.005
price=10000
result=exchange.createLimitBuyOrder(symbol,amount,price)
time.sleep(5)
print(exchange.fetchOrder(result['id'],symbol))
time.sleep(5)
exchange.cancelOrder(result['id'],symbol)
time.sleep(5)
prin

[2018-03-07 20:16] #2108 closed

[2018-03-07 21:30] kroitor commented on #2108
This should now be fixed in 1.11.44, we will be happy if you report back with verbose output in case of any problems. Thx, as always!

[2018-03-07 22:24] gaardiolor opened #2161 "SouthXchange fetch_balances not reporting 0 balances"
- OS: Windows
- Programming Language version: python
- CCXT version: 1258
- Exchange: southxchange
- Method: fetch_balances

Southxchange `fetch_balances()` is not reporting 0 balances. It's not in the response of the API call to Southxchange. IMO it would be nice if ccxt would report 0 balances nontheless, to unify this behaviour with other exchanges. Now for example, when I want to sell ETH for

[2018-03-07 23:43] forexhill commented on #2153
It is I who should have done more :)

[2018-03-08 00:02] kroitor commented on #2132
@vvinni you would make it a little easier for me to help you, if you copied the entire verbose output as described here https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue (without your keys, of course)

[2018-03-08 00:06] kroitor commented on #2132
Add this line just before the call to self.conn.create_limit_buy_order:

[code]

Then post the output here without your keys )

[2018-03-08 00:11] kroitor commented on #1600
@cristoforo hi )

and has['createLimitOrder'].

Thx! )

Whatever is more convenient to you, we can continue here or move to a new one, totally up to you.

[2018-03-08 00:11] vvinni commented on #2132
@kroitor sorry man!

Here we go:

[2018-03-08 00:39] arielorvits opened #2162 "New Exchange: Coinbene"
BTW - great framework!!

http://www.coinbene.com/#/

great work! (sent 0.2 LTC fot tip :) )

10x!!

[2018-03-08 02:17] vvinni commented on #2132
@kroitor thank you very much!

Things are working properly here!

Excelent work!

Thank you!

[2018-03-08 05:16] forexhill opened #2163 "Question about duplicate nonce"
A question. I continue to try and make a custom nonce, because even when ratelimit is enabled, it regularly produces a duplicate nonce error.

If the Yobit exchange default ratelimit nonce is defined in milliseconds by default as we discussed in #2153, then I do not understand how this could happen in any case - even programmer error.

In any case, I tried to fix it by using this;

[code]

As well

[2018-03-08 05:18] alexgpark opened #2164 "SyntaxError: Unexpected identifier - let partial = async params => this[methodName] (path, type, uppercaseMethod, params || {})"
[code]

My JS code file (which interacts with CCXT) works fine locally and on one of my DigitalOcean servers but gives the above error only when I run it on a second, identical DigitalOcean server - which leads me to believe there is no issue with the application code and that the issue is within CCXT package?

So I tried deleting > reinstalling CCXT and updating the package version - did not fix

[2018-03-08 05:29] jed057 opened #2165 "BITZ nonce issue"
- OS:
- Programming Language version: Python
- CCXT version: latest
- Exchange: BIT-Z
- Method: nonce()

In my application I need to periodically query balances and open orders in a relatively high frequency. Then I got an error with 'nonce must be a 6 dig string' or something after several minutes.. it is a 100% reproducible issue.

When I doing some logging I found the generated nonce was an inc

[2018-03-08 05:55] nerdDan opened #2166 "bitfinex ERR_RATE_LIMIT"
error `ERR_RATE_LIMIT` keeps popping up when fetching order book continuously.

test code
[code]

output
[code]

[2018-03-08 05:57] mkutny commented on #2163
And still...

Fixing something that you don't really understand will cause you a lot of pain ) While this strategy surely can bring you positive results if you persistent enough I wouldn't call it the most optimal one.

Yeah, the Manual is outdated in this regard. I also see examples in it don't use `enableRateLimit` (yet).

So if you use milliseconds your nonce is obviously bigger than that numbe

[2018-03-08 06:08] jed057 opened #2167 "BIT-Z trade password issue"
- OS:
- Programming Language version: Python
- CCXT version: latest
- Exchange: BIT-Z
- Method: create_order()

BITZ requires a trade password when trading. Accordingly, there's an member self.tradepwd in bitz.py, but no interface to set it.

[2018-03-08 06:24] mkutny commented on #2166
Their rate limit varies depending on their load so it happens from time to time. The suggestion is to increase `rateLimit` when you start seeing this.

[2018-03-08 06:26] mkutny commented on #2167
Did you try to read the Manual?

https://github.com/ccxt/ccxt/wiki/Manual#exchange-structure

[2018-03-08 06:58] forexhill commented on #2163
- I did not start from `1` - in fact tried many different numbers which would not have been used yet.
- There is no additional verbose output than the one given above (and an irrelevant call stack).
- I understand quite well what is happening, but do not understand how the error could happen if what @kroitor mentioned in the other issue is correct; that ccxt\Yobit already uses milliseconds if rate

[2018-03-08 07:09] mkutny commented on #2164
So you have three components: an application, a server and `ccxt`. From what I read I assume that all three components are identical (correct me, if I'm wrong).

Still, you somehow managed to believe that the problem is necessarily in `ccxt`. While I don't intend to say that your conclusion is incorrect I still curious what train of thought led you to this believe as it's not apparently obvious.

[2018-03-08 07:10] jed057 commented on #2167
you mean the password when create the exchange instance? but this is trade password, not login password i mean.. pls let me know if i missed anything.

[2018-03-08 07:20] mkutny commented on #2163
Ok, there is a hypothesis that yobit uses milliseconds for nonce but you have some doubts that it's valid.

The hypothesis could be easily tested by looking at the code, or by logging nonce (running exchange in `verbose` mode). That `max 2147483646` from Exception should also ring a bell.

[2018-03-08 07:35] mkutny commented on #2167
So look up in the source code how `self.tradepwd` is set.

[2018-03-08 07:36] jed057 commented on #2165
not really sure, what i can provide is the response with the 203 code and msg content : u"Nonce must be a 6 bit string"

[2018-03-08 07:47] jed057 commented on #2167
ok, problem solved now.. sorry, pls help to close this one. :)

[2018-03-08 07:50] mkutny commented on #2165
Ok, as a temporary fix you may want to change the following line to seconds (or its equivalent in async version):
https://github.com/ccxt/ccxt/blob/ecf82f3fd9f225ebb7f3772c4ca45f4406a7d070/python/ccxt/bitz.py#L342

[2018-03-08 07:52] mkutny commented on #2167
I'm not a project owner so can't close... Don't you see a 'Close' button below the comment box?

[2018-03-08 07:53] #2167 closed

[2018-03-08 07:53] philipperemy commented on #2125
@kroitor With ccxt latest version
[code]

[code]

I have two exceptions:

`print(ex.fetch_order(id=order['id'], symbol=ticker))`

Triggers:

[code]

[code]

Triggers:

[code]

[2018-03-08 08:08] nerdDan commented on #2166
@mkutny
I have been running this script for weeks, and the `ERR_RATE_LIMIT` error occurs all the time, not time to time, and it only occurs to bitfinex, other exchanges are fine. I wonder how does other users handle bitfinex. Is `rateLimit` necessary for bitfinex?

[2018-03-08 08:12] wntsang4 opened #2168 "Bit-Z : Incorrect sorting of OrderBook"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: Python
- CCXT version: 1.11.35
- Exchange: Bit-Z
- Method: fetch_order_book

{'bids': [[3.658e-05, 920.6384], [3.657e-05, 2732.251], [3.65e-05, 190.9632], [3.604e-05, 2000.0], [3.603e-05, 2189.8655], [3.512e-05, 97

[2018-03-08 08:18] philipperemy commented on #2125
Just for info the problem comes from adding the body in the request.

`self.fetch(request['url'], request['method'], request['headers'], None)`
instead of
``self.fetch(request['url'], request['method'], request['headers'], request['body'])`

Cf. https://github.com/ccxt/ccxt/issues/1911

Can you propose a fix?

Thanks

[2018-03-08 08:21] mkutny commented on #2166
That's because bitfinex has floating rate limit, they adjust it depending on their load.

They increase `rateLimit` when they start seeing `DDoSProtection`.

[2018-03-08 08:26] nerdDan commented on #2166
Could this trick possibly be a part of ccxt?

[2018-03-08 08:33] wntsang4 commented on #2165
I got this error too. "Nonce must be a 6 bit string"

[2018-03-08 08:33] #2166 closed

[2018-03-08 08:38] mkutny commented on #2166
Yeah, I think so... Still, not obvious what part of such back off algo should be integrated. You may do it yourself and see if it's possible to make a PR from that.

[2018-03-08 08:43] kroitor commented on #2164
@alexgpark Node.js ver. 6 does not support the modern async-await syntax of ES6, therefore it complains... You will have to upgrade Node.js to at least version 7+ (9+ is even better). Let us know if it does not help. Closing it for now as a duplicate, if you don't mind.

- https://github.com/ccxt/ccxt/issues/1921#issuecomment-366225152
- https://github.com/ccxt/ccxt/issues/222

[2018-03-08 08:43] #2164 closed

[2018-03-08 09:30] kmaillet-arcane opened #2169 "Bitstamp fetch_order unsupported operand type(s) for +=: 'float' and 'NoneType'"
- OS:
- Programming Language version: Python 3.5.3
- CCXT version: 1.11.45
- Exchange: Bitstamp
- Method: fetch_order

Hi I received the following error while calling the fetch_order method. I know it has been solved in the past, but it seems it came back...

[2018-03-08 09:57] forexhill commented on #2163
Yes it did, hence the question. I will have a look into verbose when possible. Thanks.

[2018-03-08 10:06] mkutny commented on #2168
Is this problem consistent? Can't reproduce on my side.

[2018-03-08 10:13] wntsang4 commented on #2168
Yes, it is consistent.

[2018-03-08 10:20] tehfink opened #2170 "1btcxe could support has['createDepositAddress']"
As of ccxt-1.11.45, `_1btcxe.has['createDepositAddress']: False`, but from their API docs:
https://1btcxe.com/api-docs.php#Get_New_Bitcoin_Deposit_Addresses

Get a new Bitcoin deposit address for the account.
`POST https://1btcxe.com/api/btc-deposit-address/new`
Response:
address (string) - The address for depositing Bitcoin.

By the way, I'm eagerly awaiting: #2073 !

[2018-03-08 10:22] #2170 closed

[2018-03-08 11:13] mkutny commented on #2168
Oops... Indeed. It's python related.

Curious how happened that no-one encountered it before.

[2018-03-08 12:12] morzyns commented on #2159
It came out the issue is related with NativeScript iOS implementation that doesn't support async|await yet.

[2018-03-08 12:12] #2159 closed

[2018-03-08 14:03] zhoujinhai opened #2173 "client_session: <aiohttp.client.ClientSession object at 0x000001B7CD7F9B70>"
I can get the ticker when I use the first code, but when I use async , the code run wrong, how to slove it ! can you help me? I am use python 3.6 on windows 10 .

the first code:
[code]
![image](https://user-images.githubusercontent.com/20365125/37154806-2486f3a6-231c-11e8-8f90-b1a64cd706be.png)

the sencond code:
[code]

[code]

[2018-03-08 14:14] frosty00 commented on #2173
You're running an old version of ccxt. Do a git pull or git clone and then run python3 setup.py or pip3

[2018-03-08 14:24] frosty00 opened #2175 "Explain Error Handling"
Hi @kroitor and @xpl and all the developers of ccxt.

I'm have a few questions about error handling in ccxt. So there are ~two~ *three* main methods that are in the source of most exchanges for handling errors:

* `handleErrors`
* `throwErrorOnException`
* *`request`*

I gather that handleErrors called in fetch and throwErrorOnException is called pretty much anywhere. However I  also see some erro

[2018-03-08 14:32] zhoujinhai commented on #2173
thanks！ I can run the second code yestoday， and I have pip install the ccxt , it still show the same mistake

[2018-03-08 14:34] frosty00 commented on #2173
Try again, this has been fixed already. I litterally just ran the second code you posted. What is the output of ccxt.__version__

[2018-03-08 14:40] WesamMikhail commented on #773
@kroitor The question I have is: why doesn't this bug happen in the browser when using binance's website? if the system clock is out of sync, then the website shouldn't work either as the same would apply there...

The following code piece is in their site's source, but it doesn't say much as even using this piece of code via a script still generates the "1000 ahead of time" error.

`var start=new

[2018-03-08 14:40] zhoujinhai commented on #2173
![image](https://user-images.githubusercontent.com/20365125/37156666-b08780d2-2321-11e8-9f90-6b314b606d00.png)

[2018-03-08 14:59] frosty00 commented on #2173
Oh sorry I didn't see the error log carefully

I was reading

    Unclosed client session
client_session: <aiohttp.client.ClientSession object at 0x000001AE4AB39B00>

instead of

    ccxt.base.errors.RequestTimeout: binance GET https://api.binance.com/api/v1/exchangeInfo

strange that the garbage collection doesn't work properly on windows tho.

Anyhow this basically means that the problem is on b

[2018-03-08 15:08] zhoujinhai commented on #2173
thanks your help !
when I try this exchange: huobipro bitflyer bitfinex...  the code have show the same error

[2018-03-08 15:27] Japsus opened #2177 "FUNCTION fetchOrder for BIT-Z"
Good afternoon,

Please, I urgently need the fetchOrder for this exchange.
Could you tell me how I can obtain this information or if you are going to take a long time to publish this function?

I await your response, thank you very much and greetings.

[2018-03-08 15:50] artbred opened #2179 "Question about fetchdepaddress"
I am using js and my goal is to check if its possible to deposit token. So the problem is that only few of stocks can create deposit addresses using api. For example if i write poloniex.fetchDepositAddress for a currency that i have never deposited before i will get btc address and my target is to check if its possible to deposit specific tokens without creating it(if its possible).By the way polo

[2018-03-08 16:11] mkutny commented on #2175
- `throwErrorOnException` I'm not able to find at all... maybe you made a typo.
- error handling in `request` is obsolete, we're in the process of migration from `request` to `handleErrors`. once it's finished all `request`s could be removed.

Ok, let's recap how the request call chain looks like: `someNativeMethod` -> `request` -> `fetch2` -> `fetch` -> `executeRestRequest` -> `handleRestResponse

[2018-03-08 18:21] alexgpark commented on #2164
thank you very much @kroitor - you were exactly right!
somehow, I had two different Node versions on the 2 servers running.
after i updated, it began to work.

[2018-03-08 19:19] Astran opened #2180 "unrecognized symbol NECUSDS in fetchTickers from bitfinex"
I cannot provide you with a REQUIRED verbose output because I don't want to run with this flag on all the time and the error does not occur often:

It's a simple error:

`  File "/home/toon/.local/lib/python3.5/site-packages/ccxt/async/bitfinex.py", line 391, in fetch_tickers
    raise ExchangeError(self.id + ' fetchTickers() failed to recognize symbol ' + id + ' ' + self.json(ticker))
ccxt.base.e

[2018-03-08 19:53] kroitor commented on #2159
@morzyns thx for reporting back!

[2018-03-08 19:58] gaardiolor commented on #2161
This works for me (npm run build succeeds)

[code]

[2018-03-08 19:59] kroitor commented on #2177
Hi!

Bit-z doesn't have means for fetching a single order at all, they offer fetchOpenOrders (all open orders at once). The rest of methods will be emulated via the `.orders` cache soon.

https://github.com/ccxt/ccxt/wiki/Manual#querying-orders

Let us know if it does not answer your question. Thx!

[2018-03-08 19:59] #2177 closed

[2018-03-08 20:01] kroitor commented on #2179
We have both fetchDepositAddress (get only) and createDepositAddress (create and get) for poloniex implemented already. You can use whatever function you need right away with current version of ccxt.

https://github.com/ccxt/ccxt/wiki/Manual#funding-your-account

Let us know if it does not answer your question. Thx!

[2018-03-08 20:01] #2179 closed

[2018-03-08 20:28] forexhill commented on #2163
@kroitor I checked with verbose on. By default it looks like Yobit does not use milliseconds but seconds;

` [3] => nonce=1520540448&method=getInfo^M`

So this would make the assertion given in #2153 inaccurate. So, to fix the nonce, a custom nonce would have to be used (which is fine), but it seems that none of the given methods work for changing it, as described above. Using milliseconds would g

[2018-03-08 20:29] forexhill commented on #2153
Also see #2163

[2018-03-08 20:32] markono1990 opened #2181 "New deposit address generation - not available for all exchanges?"
Is it possible to generate new deposit addresses on each exchange? In [Public/Private API ](https://github.com/ccxt/ccxt/wiki/Manual#publicprivate-api) section it is written that Private API is used to create deposit addresses. I looked in the source, particularly for Binance, but found only a method to fetch existing address and didn't find any info how to create new address. As far as I understa

[2018-03-08 20:53] forexhill commented on #2163
Okay, generated new keys on Yobit and it works now with custom procedure. I have no idea how all the nonce values (tried 1,10000,30000,50000,1000000,10000000 etc.) could have been used on the other key (it's only ~2 weeks old). Still, got it working. Thank you @mkutny @kroitor for all the help.

Final action; make pull request for manual update (I can do this)

[2018-03-08 20:54] forexhill commented on #2163
@kroitor btw, I am experienced with github etc. and would be happy to contribute where possible.

[2018-03-08 21:01] forexhill commented on #2163
For anyone wanting to reading/storing nonce from a nonce.dat file (can be created with text editor);

[code]
[...]
`$exchange=new _yobit(array('apiKey'=>'{yourkey}','secret'=>'{yoursecret}','enableRateLimit'=>true,'rateLimit'=>1000,'timeout'=>20000,));  `

[2018-03-08 21:11] kroitor commented on #2163
@forexhill you don't really need a custom procedure with a new key. You can just remove the overrided procedure and use the default nonce as is with a new key...

Now, as for your questions:

I would agree with @mkutny , whenever you find yourself in such a situation, the best way is to make sure to fully understand the nature of the bug, before trying to fix anything.

Right, and this is somethin

[2018-03-08 21:11] #2163 closed

[2018-03-08 21:15] kroitor commented on #2163
@forexhill your contributions are welcome!) Just make sure to read this doc: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

Thanks so much!

[2018-03-08 21:34] kroitor commented on #773
@WesamMikhail

Well, you've answered your question yourself ) A decent question usually contains the answer itself ))

First, their website uses a different API, afaik, Binance isn't a single engineer, they have separate teams working on different parts of their system, and the trading API is separated from the Web API or withdraw API – all of those are run by different teams. And the web internal

[2018-03-08 21:37] kroitor commented on #2165
6 bit is a range of 0-64, that is ridiculous for a nonce value )) I guess they really mean 6 digits... which is still a pretty restrictive upper limit... It might demand changing the key once in a quarter...

Anyway, @wntsang4 , @jed057 I'll look into it and will figure a way to make it work smoothly. Hold on, plz.

[2018-03-08 21:50] kroitor commented on #2181
To put it shortly, no, it is not possible on **each** exchange. Many exchanges will not allow you to actually do anything with the addresses and will hold control over the addresses themselves.

Binance does not allow that (yet) with their funding API: https://github.com/binance-exchange/binance-official-api-docs/blob/master/wapi-api.md

However, some exchanges do offer ways of creating new deposi

[2018-03-08 21:50] #2181 closed

[2018-03-08 22:01] kroitor commented on #2125
@philipperemy I've uploaded a fix, it should arrive in version 1.11.49 in 5-10 minutes. We will be happy if you report back whether you still have a difficulty with it or not. Thank you!

[2018-03-08 22:07] #2168 closed

[2018-03-08 22:16] WesamMikhail commented on #773
Thanks for the reply.

I noticed that they are using a different private api for the web version. But yea, I thought it would return the same value as the public api and should be treated identically, hence my confusion. Turns out after closer examination that this might not be the case at all.

Anyway, the half cycle adjustment works sometimes actually but in a lot of cases (ex. when I am on mobi

[2018-03-08 22:21] kroitor commented on #773
@WesamMikhail you might really want to also read through https://github.com/ccxt/ccxt/issues/850 as these issues are of the same nature actually, and that second post also has some clues and possible solutions. Hope it helps.

[2018-03-08 23:03] kroitor commented on #2161
Hi!

First of all, thanks for a thorough report and for the fix proposal as well! The solution is perfectly fine and you can use it in a subclass from southxchange if you want unused balances to be reported with 0.

An alternative solution documented in the Manual is to check for currencies' keys in the returned balance first before accessing them.

However, we cannot add the fix as is inside the

[2018-03-08 23:03] #2161 closed

[2018-03-08 23:29] kroitor commented on #2169
@kmaillet-arcane hi!

Can you please do this:

[code]

And post your verbose output here (without the keys) ?

[2018-03-09 01:12] philipperemy commented on #2125
@kroitor Almost there,

[code]

The call to Bitflyer API is successful but the `def parse_order(self, order, market=None)` returns an error at line 255. `market` is a string and the library tries to `market['symbol']`, which failed.

![image](https://user-images.githubusercontent.com/4516927/37185112-2241261e-2382-11e8-9296-f488e8b53b5e.png)

[2018-03-09 01:33] philipperemy commented on #2125
@kroitor I've upgraded to `1.11.51` but the line of code and the error are still there.

[2018-03-09 01:41] kroitor commented on #2125
@philipperemy sorry for the inconvenience, forgot one missing detail, one more fix upcoming...

[2018-03-09 01:44] philipperemy commented on #2125
Thanks a lot! Just for information, same error `market['symbol']` happens after in `exchange.py` `parse_orders(self, orders, market=None, since=None, limit=None)` line 1096.

Same check should be applied here.

![image](https://user-images.githubusercontent.com/4516927/37186053-caef7744-2386-11e8-934b-b999a5e542d4.png)

[2018-03-09 01:46] kroitor commented on #2125
@philipperemy yeah, this should be fixed in 1.11.53 in 5-10 minutes.

[2018-03-09 01:56] philipperemy commented on #2125
@kroitor ok it works! Thanks for the great help!

[2018-03-09 01:58] kroitor commented on #2125
@philipperemy thx to you for reporting as well ) let us know if you have any other difficulties with it.

[2018-03-09 02:42] philipperemy commented on #2125
I will thanks )

[2018-03-09 02:44] aototo opened #2182 "REST BASE URL：https://www.okex.com/api/v1"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: ....
- Programming Language version: node v9.2.1
- CCXT version: ccxt@^1.10.1266
- Exchange: okex
- Method: REST BASE URL：https://www.okex.com/api/v1

[2018-03-09 03:43] Jackzhangpan commented on #2173
## sync can do ,but ccxt.async can't work .huobipro ,oken,binance ,etc.. @kroitor

[2018-03-09 03:56] jed057 opened #2183 "HUOBIPRO ('Connection aborted.', BadStatusLine("''",))"
- OS:
- Programming Language version: Python
- CCXT version: latest
- Exchange: HUOBIPRO
- Method: fetch()

actually i am not sure if this is an ccxt issue, but let me try. In my application it's continuously querying account balance in a 1s pace manner, but it will always get an error after a random time, several minutes to couple of hours.

the error is as follow raised by base fetch method:
('C

[2018-03-09 05:43] daniyalnagori opened #2184 "When i am getting private data like fetchMyTrades for bitfinex i am getting same data with keys and without keys so how i can get my private data with keys"
const exchangeBitfinex = new ccxt.bitfinex({
      apiKey: '123',
      secret: '123'
    })
    exchangeBitfinex['adjustForTimeDifference'] = true;
    exchangeBitfinex['useServerTime'] = true;
    exchangeBitfinex.verbose = true;
    exchangeBitfinex.createOrder = true;
    exchangeBitfinex['isNode'] = true;
      exchangeBitfinex.loadMarkets()
      console.log(exchangeBitfinex.loadMarkets());

[2018-03-09 06:43] yurenji opened #2185 "how does ccxt handle the describe() info update"
I noticed ccxt provides an easy way to get exchange's default inforamtion via ccxt.exchange_name.describe(). But these info is hardcoded and I wonder what happens if there is update about those info. Can I rely on this method or do I need to keep track of update by myself?
[code]

[2018-03-09 08:14] kmaillet-arcane commented on #2169
Thanks for your response @kroitor  !

Request: GET https://www.bitstamp.net/api/v2/trading-pairs-info/ {'User-Agent': 'python-requests/2.18.4', 'Accept-Encoding': 'gzip, deflate'} None

Response: GET https://www.bitstamp.net/api/v2/trading-pairs-info/ 200 {'Date': 'Fri, 09 Mar 2018 08:08:38 GMT', 'Access-Control-Allow-Headers': 'x-requested-with, Content-Type, origin, accept, cache-control', 'Acce

[2018-03-09 09:25] sharmine opened #2189 "Gate.io: fetchOrder not implemented."
- OS: windows
- Programming Language version: Nodejs
- CCXT version: 1.11.53
- Exchange: gateio
- Method: fetchOrder

This method is not emplemented yet; who can help me or if I can fix this issue and commit .
the api is https://api.gate.io/api2/1/private/getOrder

[2018-03-09 09:49] markono1990 opened #2190 "Withdrawal of exchanged assets to end address"
Let's say, I want to exchange BTC to ETH and then withdraw received ETH to my cold wallet (CW) where the CW's ETH address is changed regularly. Can I programmatically withdraw the received ETH to my CW? If yes, where should I store my ETH CW's address? Or maybe there is an example already?

Please don't ban my question, I'm new here. If I'm doing something wrong just let me know and I will fix eve

[2018-03-09 10:31] tonymrakovcic opened #2191 "Cryptopia -> fetchTrades "since" is in hours and floored instead of ceiled"
Cryptopia has a mechanism for ```since``` in their API
However, it uses hours for ```since``` instead of timestamp values when you want new trades
As far as I can see, this hour functionality is implemented in ```cryptopia``` class in the ```fetchTrades``` method, however it rounds to the lower int, and this is not in sync with the "timestamp" semantically since if you set the timestamp of 90 minu

[2018-03-09 11:23] alexsith commented on #2072
Hello. I have new issue, almost the same:

File "/home/user/.local/lib/python3.6/site-packages/aiohttp/connector.py", line 823, in _create_direct_connection
    raise ClientConnectorError(req.connection_key, exc) from exc
aiohttp.client_exceptions.ClientConnectorError: Cannot connect to host api.bibox.com:443 ssl:True [Temporary failure in name resolution]

During handling of the above exception,

[2018-03-09 11:33] blackice999 opened #2192 "Bitfinex v1 and v2 incorrect timestamp for candles"
Hello,

I want to return the one minute candles using the Bitfinex class. The problem is that in the case of BTC/USD pair, the timestamp, if converted, indicates the year 2013. april 1 I didn't have any luck with other pairs either, for example, EOS/BTC returns the year 2017, july 1.
The tests have been runned just now, but still, 1 year and 5 years are a lot of time, considering that the bitfinex

[2018-03-09 13:04] kroitor commented on #2182
Sorry?

[2018-03-09 13:26] kroitor commented on #2173
@Jackzhangpan can you post your code and verbose output according to these rules: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[2018-03-09 13:52] Jackzhangpan commented on #2173
### The problem is the same as the one upstairs。async can't be used today.  include: binance, huobipro ,okex,.....
![image](https://user-images.githubusercontent.com/22291614/37210104-7bb32c82-23e2-11e8-9b5c-905a6f87f629.png)

[2018-03-09 14:35] alexsith commented on #2185
Yes, that's a good question for me too. For example, binance class contains incorrect withdraw fees information now (correct one is here: https://www.binance.com/fees.html). Do you parse it periodically or how it works?
Thank you

[2018-03-09 15:01] flaeshi opened #2193 "bibox SSL3_GET_SERVER_CERTIFICATE:certificate verify failed"
Hi,

I am getting a SSL error for the bibox exchange

- OS: Linux Mint
- Programming Language version: Python 2.7.6
- CCXT version: 1.11.53
- Exchange: bibox
- Method: fetch_order_book()
- Based in Germany

Is there a solution to this?

Input:
[code]

Output:

[code]

[2018-03-09 15:20] flaeshi commented on #2193
I fixed the error by updating to python 2.7.14

[2018-03-09 15:20] #2193 closed

[2018-03-09 15:41] tatianamc opened #2194 "Exmo- fetch_balance Python"
Hello,
I have an issue to fetch balance at Exmo. All is OK with other exchanges. Also, it works with official Exmo API .

- OS: MAC 10.12.6
- Programming Language version: Python 3.6
- CCXT version: 1.11.46
- Exchange: Exmo
- Method:fetch_balance

import ccxt
exmo   = ccxt.exmo({
    'apiKey': 'xxxxx',
    'secret': 'xxxxx',
})
print(exmo.fetch_balance())

I get:
Traceback (most recent call last):

[2018-03-09 16:32] gaardiolor commented on #2161
OK. And good you will unify it in the end! I'm not sure about the use-case of having to know which coins were funded though.

- Most exchanges I've tried do report all balances.. no way to know which coins were funded
- Qryptos has a similar problem but even stranger, it does report some 0 balances (also coins I've never bought / funded), but not all of them.
- If you really want to know if a coin

[2018-03-09 16:34] artbred commented on #2179
So i should write poloniex.createDepositAddress ? If its true i dont have this method. I have the newest version of ccxt

[2018-03-09 16:36] ws2367 commented on #2134
makes sense. Thanks!

[2018-03-09 16:44] gaardiolor opened #2195 "qryptos fetch_balance() not reporting used"
- OS: Windows
- Programming Language version: Python
- CCXT version: 1237
- Exchange: Qryptos
- Method: fetch_balance()

`fetch_balance()` does a GET to https://api.qryptos.com/accounts/balance . In the response is only one kind of balance, the 'total'. The 'used' balance (when you have open orders) is not reported back. Snippet of the response:
`[{"currency":"HERO","balance":"0.0"},{"currency":"E

[2018-03-09 17:46] kroitor commented on #2179
@artbred

yep, you do have to call `poloniex.createDepositAddress(...)`

Actually, you do have this method, here it is: https://github.com/ccxt/ccxt/blob/master/js/poloniex.js#L734

[2018-03-09 17:56] kroitor commented on #2194
Have you tried a new key? You should try a new key first, as your previous nonce is screwed by the *"official"* client (they set it to milliseconds by default)...

- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/wiki/Manual#error-handling
- https://github.com/ccxt/ccxt/wiki/Manual#overriding-the-nonce
- https://github.com/ccxt/ccxt/blob/master/wiki/Manual.

[2018-03-09 17:56] #2194 closed

[2018-03-09 17:58] kroitor commented on #2191
Thanks for a comprehensive report! Your contributions are welcome, all help is appreciated. The issue you reported indeed seems like an existing issue with Cryptopia, we will be happy if you submit a pull-request. Just make sure to read this first: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

Let us know if you're going to target this bug. Thx!

[2018-03-09 18:34] kroitor commented on #2189
Your contributions are welcome, we appreciate all help, just make sure to read this doc carefully: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

Let us know if you have any questions or if you need any assistance with it. Thank you so much!

[2018-03-09 18:34] fedecaccia opened #2198 "ohlcv on bitfinex"
- OS: ubuntu 16.04
- Programming Language version: python
- CCXT version: update at 10/03/18
- Exchange: bitfinex
- Method: fetch_ohlcv

Using:
bitfinex = ccxt.bitfinex()
bitfinex.fetch_ohlcv("BTC/USD", "1m")
I get prices for 2013

same issue that https://github.com/ccxt/ccxt/issues/2192

[2018-03-09 18:39] fedecaccia commented on #2198
I have found the answer here: https://github.com/ccxt/ccxt/issues/2049

[2018-03-09 18:39] fedecaccia commented on #2192
ANS: https://github.com/ccxt/ccxt/issues/2049

[2018-03-09 18:39] #2198 closed

[2018-03-09 18:46] kroitor commented on #2097
@authenticfake sorry for a long wait, i'm a little overloaded recently...

From your description is looks like you should either:
- not bind to the IP at all when using binance via a CORS proxy
- bind to the IP of the CORS proxy, not yours...
- use your own CORS-proxy locally on your machine with a key bound to your IP, more about it here: https://github.com/ccxt/ccxt/wiki/Install#cors-access-cont

[2018-03-09 18:54] kroitor commented on #2190
In your centralized database (which can be as simple as a local text file). Most often when some information or some resource is changing regularly, a better approach is not to store it, but to fetch it upon launch from a centralized database (online or locally) and keep it in memory from there. Sorry, this question itself is a little beyond the scope of the library itself, though it allows you to

[2018-03-09 18:54] #2190 closed

[2018-03-09 19:06] fredfortier opened #2199 "Bitfinex WS"
Bitfinex has gone overly defensive on rate limits to the point where it's no longer usable to collect data.

I'm planning to use their WebSocket api but I wanted to first check if you had any experimental implementation of this in a separate branch.

[2018-03-09 19:09] fedecaccia opened #2200 "volume requested on bitfinex seems to be incomplete"
- OS: ubuntu 16.04
- Programming Language version: python
- CCXT version: last
- Exchange: bitfinex
- Method: fetch_ohlcv

Requesting candles on bitfinex I get different values that I can see online on bitfinex platform. For example, I'm getting this candle:
2018-03-09 15:56:00    8869.000000  8869.100000  8862.000000  8862.100000 2.721108
which can be read as (open, high, low, close, volume)
but

[2018-03-09 19:13] kroitor commented on #2199
Hi!

I have it for JS here, but it... could be better, honestly: https://gist.github.com/kroitor/4d4638c0f6e89602105c6438f5acd057

And for Python we have a draft implementation submitted by @samholt here:

- - https://github.com/ccxt/ccxt/pull/751
- https://github.com/ccxt/ccxt/pull/751/files#diff-a2d1059e79e4c1e2ad72d61229712de6
- https://github.com/ccxt/ccxt/pull/751/files#diff-46b65e72169bab627

[2018-03-09 19:13] #2199 closed

[2018-03-09 19:19] fedecaccia commented on #2200
@kroitor don't worry, it's because 15:56 is the last minute. Data is just incomplete.

[2018-03-09 19:22] kroitor commented on #2200
@fedecaccia i'll add that to the Manual for less confusion, thx!

[2018-03-09 19:24] fedecaccia commented on #2200
Thanks to repply, but I don't understant  what means the "close" value? Is that just the "last"?

[2018-03-09 19:26] kroitor commented on #2200
@fedecaccia

ohlc = prices (quote currency), v = volume (base currency).

[2018-03-09 19:31] fedecaccia commented on #2200
I get it, but what I don't understand is why, if the last "volume" is incomplete, we get the "close" value.

[2018-03-09 19:32] kroitor commented on #2200
@fedecaccia because the last volume is the total volume of all trades in that candle, thus, it accumulates over time, while the last price is the price of just one closing trade in that candle, it just jumps from one last price to the next and so on... Does this answer your question?

[2018-03-09 19:45] fedecaccia commented on #2200
Suppose we are requesting the last candle, for example, 16:41 candle. Right now it is 16:40:45 so that last candle is incomplete. We get (open, high1, low1, close1, volume1). Except for the "open" value, all the other values can be modified in future (I mean, in the next 15 secs). Suppose we request that candle one minute later, we get: (open, high2, low2, close2, volume2). So, I think that "close

[2018-03-09 21:57] #2200 closed

[2018-03-09 21:57] kroitor commented on #2193
@flaeshi thx for reporting back!

[2018-03-09 22:07] kroitor commented on #2184
@daniyalnagori can you post you verbose output please?

I'm not able to reproduce your issue:

code:

[code]

-----

Output:

[code]

As you see from the above output, it returns an error for a bad key, as it should. I get the same output with your code. Which version of ccxt do you use?

[2018-03-10 01:28] kroitor commented on #2195
Yes, we actually have a paragraph on [balance inference](https://github.com/ccxt/ccxt/wiki/Manual#balance-inference) in the Manual. This feature is already implemented for some exchanges (liqui, for example), but still, not all of them, obviously. We are working on it. We are not going to force `fetchOpenOrders`, instead we will use the [`.orders` cache](https://github.com/ccxt/ccxt/wiki/Manual#or

[2018-03-10 01:28] #2195 closed

[2018-03-10 03:56] kroitor commented on #2147
@artbred hey ) Do you have a follow-up on this? I'd close this for now if you don't mind ) Feel free to reopen it if needed or just ask questions if any, we will be happy to help. Thx!

[2018-03-10 03:56] #2147 closed

[2018-03-10 03:57] #2182 closed

[2018-03-10 03:57] cryptonic203 opened #2202 "Using macro substitution PHP"
Hello.
I copied and tried to execute your code from Manual. There is an error on the second line of your code. What am I doing wrong?

//--PHP--
require_once 'ccxt/ccxt.php';

$id = 'huobi';
$huobi = new \ccxt\$id ();             //-Error: unexpected '$id' (T_VARIABLE), expecting identifier (T_STRING)
$markets = $huobi.load_markets ();
var_dump ($huobi->id, $markets);

I use a lot of exchanges, so

[2018-03-10 04:01] kroitor commented on #2202
Hi!

It's a typo in the Manual, see the [examples folder](https://github.com/ccxt/ccxt/tree/master/examples/php) on how to instantiate by `$id` properly, I'll update the Manual shortly. Let us know if it does not answer your question. Thx!

[2018-03-10 04:04] #2202 closed

[2018-03-10 04:07] #2097 closed

[2018-03-10 04:31] forexhill opened #2203 "Bibox exchange does not support fetchTickers"
Bibox exchange does not support fetchTickers as can be seen from https://github.com/Biboxcom/api_reference/wiki/api_reference as well as by testing (an empty array is returned whereas fetchTicker works fine). Thus;

`'fetchTickers' => true,` to be changed to `'fetchTickers' => false,` in ccxt/php/bibox.php

Thank you

[2018-03-10 04:35] kroitor commented on #2203
[code]

It does work normally for me. Try it yourself with the script above ([examples/php/cli.php](https://github.com/ccxt/ccxt/blob/master/examples/php/cli.php)). Let us know if it does not help. Thx!

[2018-03-10 04:35] #2203 closed

[2018-03-10 04:38] #2189 closed

[2018-03-10 04:51] forexhill commented on #2203
Hey @kroitor - I sent you an email at your gmail, please check.

[2018-03-10 04:57] #2169 closed

[2018-03-10 05:46] forexhill commented on #2203
```$ticker=$exchange->fetchTickers(array('BTC/USDT','BTC/LTC'));var_dump($ticker)``` should work correctly - right? It is this one that returns an empty array. The CLI example works, but seems to fetch all tickers. The code suggest that $symbol can be passed (as an array).

[2018-03-10 06:33] kroitor commented on #2203
Right, however...

There are two errors:

1. There was a bug in ccxt that I fixed in version 1.11.62, please update it to make it work properly with BTC/USDT
2. There's a bug in your code as well, as Bibox does not have a "BTC/LTC" symbol, it has "LTC/BTC".

So, if you update and run

[code]

It should show just one symbol (the one of the two that is a proper one, namely BTC/USDT):

[code]

... an

[2018-03-10 11:12] FiV0 opened #2206 "Current minute timestamp different for exchanges"
It seems that some exchanges take the ending minute as timestamp and some exchanges the beginning of the minute (imho the standard). The following little script illustrates the issue:

[code]

So for example with binance (`python script.py`) the timestamp is the beginning of the current minute and with bitmex (`python script.py bitmex BTC/USD`) the timestamp is in the future, i.e. the ending of th

[2018-03-10 12:37] gaardiolor commented on #2195
@kroitor OK Great! Sorry for missing that.

If there are open orders in the cache, the cache needs to refresh on each `fetch_balance()`, right ? Because the order might be filled in the meanwhile. Will that happen automatically or should I do so manually running `fetch_open_orders()` before each `fetch_balance()` ?

If it happens automatically it might be good to add that to the manual (second par

[2018-03-10 13:11] atjason opened #2207 "CoinEgg supports 'fetchTickers' but 'hasFetchTickers' is false."
Hi,
CoinEgg supports `fetchTickers` (as could be found in [coinegg.js](https://github.com/ccxt/ccxt/blob/master/js/coinegg.js)). I test and find it could correctly get prices of all the symbols.

But `exchange.hasFetchTickers` is false. Please help to check. Thanks in advance.

Let me know if I need to provide demo code or other information.

[2018-03-10 16:57] alexsith opened #2209 "livecoin withdraw tag missed"
Hello.
There is missed tag in withdraw method

- OS:
- Programming Language version: python
- CCXT version:
- Exchange: livecoin
- Method: withdraw

[2018-03-10 18:10] kroitor commented on #2195
In the first initial implementation of it you will have to do it manually, but we will add more caching and will improve it further for more automation. And will document it of course. Will let you know asap. In the meantime you can emulate the same approach by just doing `fetch_open_orders()` + `fetch_balance()` in pairs sequentially. Let us know if you have more questions on this. Thx!

[2018-03-10 18:36] #2207 closed

[2018-03-10 18:38] kroitor commented on #2207
@atjason the `.hasFetchTickers` was deprecated, use `.has['fetchTickers']` instead as well as other fields in the `.has` assoc array. Thx for reporting!

[2018-03-10 20:57] tehfink commented on #1576
Thanks for this. I've been receiving an error with this exchange on Python 3.6.4; the http calls seem to be successful, but perhaps there's an issue with the shared coinegg code?

[code]

[2018-03-10 21:02] kroitor commented on #1576
@tehfink btctrade.im is not related to btctrde.com, I'd suggest to move your issue here: #1270 . Thx!

[2018-03-10 21:02] tehfink opened #2211 "ExchangeError: btctradeimError"
Thanks for this project!
I've been receiving an error with this exchange on Python 3.6.4; the http calls seem to be successful, but perhaps there's an issue with the shared coinegg code?

[code]

[2018-03-11 01:38] slix88 opened #2212 "KeyError: 'dealOrders'"
Hi

I am running a diagnostic on the Kucoin exchange and upon running the following code, I am getting a new error described as "KeyError: 'dealOrders'".

I am basically running the following code:
orders_kucoin = kucoin.fetch_closed_orders(symbol='NEO/BTC')
print(orders_kucoin)

...and I am getting the following error message:
Traceback (most recent call last):
  File "C:/.../CCXT_Binance_Kucoin_

[2018-03-11 01:41] kroitor commented on #2212
Hi!

Can you please show your verbose output?

[code]

Just copypaste the printout here (without your keys, of course). Thx!

[2018-03-11 01:50] slix88 commented on #2212
Hi Kroitor,

Many thanks for the quick reply! I have produced an output for POWR as an example (fewer transactions)

`('\nRequest:', 'GET', 'https://api.kucoin.com/v1/order/dealt?limit=20&symbol=POWR-BTC', {'KC-API-SIGNATURE': 'XXX', 'KC-API-KEY': 'XXX', 'KC-API-NONCE': 'XXX', 'Accept-Encoding': 'gzip, deflate', 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, li

[2018-03-11 01:57] Tehsurfer opened #2213 "ACX changed api. 'fetch_order_book' changed from accepting limit=None to limit=100"
Hi there, I am attempting to update the 'fetch_order_book' method of acx.py

All that needs to be changed is the default parameter for the 'limit' variable.

- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: 1.11.68
- Exchange: ACX
- Method: fetch_order_book(self, symbol, limit=None, params={}):

**acx.py line 138**
from:
`def fetch_order_book(self, symbol, limit=None, pa

[2018-03-11 01:59] kroitor commented on #2213
@Tehsurfer hi, please read the beginning of `acx.py` and this: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code
Thx! )

[2018-03-11 01:59] #2213 closed

[2018-03-11 02:01] kroitor commented on #2213
P.S. ACX didn't change their API we just don't want to fetch 1000 trades if the user has omitted that argument, and use the exchange default (which is 300 according to their docs).

<img width="1242" alt="screen shot 2018-03-11 at 05 00 52" src="https://user-images.githubusercontent.com/1294454/37248668-4d4487da-24e9-11e8-81cd-3dbd78d38e0c.png">

[2018-03-11 02:05] #2212 closed

[2018-03-11 02:12] #2209 closed

[2018-03-11 02:12] slix88 commented on #2212
Thanks for updating!

I was originally experiencing the issue in the python code. Could you please also commit to the kucoin.py code as well please?

[2018-03-11 02:12] #2184 closed

[2018-03-11 02:13] kroitor commented on #2212
@slix88 it is auto-generated from JS as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support

It will arrive in version 1.11.69 in 5-10 minutes. You just need to update your version of ccxt and it should work from there. We will be happy if you report back whether it works normally for you or not. Thx!

[2018-03-11 02:15] Tehsurfer commented on #2213
Oops sorry kriotor, that makes sense. I derped and forgot that I could just change the 'limit' variable on my side. Thank you so much for you help 😄

[2018-03-11 02:16] kroitor commented on #2213
@Tehsurfer no worries, let us know if you have any difficulties. See [examples](https://github.com/ccxt/ccxt/tree/master/examples) and [wiki](https://github.com/ccxt/ccxt/wiki) if you want more )

[2018-03-11 02:20] kroitor commented on #2212
The build has arrived just about now )

[2018-03-11 02:21] kroitor commented on #2209
Fixed in 1.11.69. Thx!

[2018-03-11 02:21] and-rewsmith commented on #215
@kroitor What is the point of fetching the data sequentially if kraken always returns 720 candles and that is the MAXIMUM number of candles in the past available?

If I have a misconception please correct me.

Here is a quote from you that explains the basis for my question:

[2018-03-11 02:28] kroitor commented on #215
@and-rewsmith

That was an example showing a general approach for sequential fetching + kraken has updated their limits since then. So, a straight answer to your question is: you're getting it correctly, there's no point in fetching sequentially, when the max history length is limited to 720 candles in the past. However, with other exchanges there's no such limit, so the example is ok, just need t

[2018-03-11 02:48] atjason commented on #2207
@kroitor Thanks for your reply. Sorry but when I test, coinegg's `.has['fetchTickers']` is `false` either, while in fact it could correctly call function `fetchTickers`. Please help to check, thanks.

[2018-03-11 02:49] kroitor commented on #2207
@atjason have you updated ccxt to the most recent version?

[2018-03-11 02:51] atjason commented on #2207
@kroitor I just update ccxt from `1.11.58` to `1.11.69`. Now it's `true`. Thanks for your help and swift reply.

[2018-03-11 03:13] and-rewsmith commented on #215
@kroitor Thanks for the response. Do you know what exchanges have no limit to their candle fetching?

[2018-03-11 06:06] nerdDan commented on #274
I am having the same error stack.

I guess it is because I am running two python script `fetch_orderbook_and_balance.py` and `place_order.py`, and two scripts create their own `ccxt.async` objects with same api keys.

I tried write exchange objects into shared memory so two scripts could share exchange objects, but failed.

Maybe I am not supposed to ask here, but I can't solve this on my own.

[2018-03-11 09:55] tehfink commented on #1576
@kroitor Thanks :) It was a late night, and I realized the same immediately after posting

[2018-03-11 11:27] flaeshi opened #2214 "Bibox fetch_deposit_address(coin) returns wrong info"
Calling the function fetch_deposit_address(coin) does not return the deposit address of the coin, but rather withdrawal information.

Input:

[code]

Output:
[code]

**Proposed solution:**
If you change the command in the fetch_deposit_address() function (line 473) in bibox.py from "transferOutInfo" to "transferIn", the correct deposit address will be fetched:

[code]

Output:
[code]

If you chang

[2018-03-11 12:25] slix88 commented on #2212
Apologies!

I have a couple more queries and wasn't sure if it needed to be posted as a "new issue". Both are in respect of **kucoin.py**.

First one is that "**fetch_closed_orders"** is no longer producing an error (which is the fix above). However, it's not returning anything. I have included an example below:

_Running code:_
[code]

_Produces:_
[code]
Note: The "[]" in the last line is produci

[2018-03-11 12:56] Dave-Vallance opened #2216 "Bitmex: Parse order TypeError with stop loss order"
- OS: Mac
- Programming Language version: Python 3.6
- CCXT version: 1.11.62
- Exchange: Bitmex
- Method: Parse_Order

Hi!
  If I pass a stop loss order for bitmex to the parse_order method, a `TypeError` is raised.

[code]

I guess this is because a stop loss is created without a `price` parameter set. Instead,  we need to use the `params` dict to specify a `stopPx` level.

Perhaps, the line:

``

[2018-03-11 16:02] akel94 opened #2218 "fetchTrades params argument"
Is the params argument in fetchTrades still under experimental stage?

I'm quite having a hard time in fetching trades for a specific exchange but only getting the sell or buy side.

I'm currently using

exhange.fetchTrades(symbol,params={'side':'sell'})

but it always says
 {"msg":"Not all sent parameters were read; read '1' parameter(s) but was sent '2'.","code":-1104}

[2018-03-11 17:42] and-rewsmith commented on #215
For anyone reading this: bitfinix.

[2018-03-11 20:00] wannesdemaeght opened #2219 "reload markets"
Let's say I have a very long running script, and each day I want to reload markets.
(eg; to make sure that all fees are up to date)

Start of script uses loadMarkets(), can I use the same command again?
As far as I understand, loadMarkets only works when they weren't previously loaded.

[2018-03-11 20:10] wannesdemaeght commented on #2219
loadMarkets(true) reloads markets.

[2018-03-11 20:10] #2219 closed

[2018-03-11 21:35] tonymrakovcic commented on #2191
I think you might of closed the wrong issue?
I don't see these changes affecting this problem :)

[2018-03-11 21:38] kroitor commented on #2191
@tonymrakovcic yep, closed accidentally, will fix this one as well, shortly. Thx!

[2018-03-11 21:47] ZohaibAhmed commented on #1896
@kroitor Is there a proposal on this implementation?

[2018-03-11 21:59] kroitor commented on #1896
@ZohaibAhmed not yet, but we think it should be pretty much similar to the unified trades api...

Here it is:

[code]

A transaction would look similar to a trade:

[code]

From the above it follows that there are still questions to be discussed. Your proposals and suggestions are welcome.

[2018-03-11 22:44] #2216 closed

[2018-03-11 22:47] wmturner opened #2220 "Gemini exchange lacking features"
I was wondering if there is a reason the Gemini exchange is so lacking in features in comparison to most others in CCXT?

https://github.com/ccxt/ccxt/blob/master/python/ccxt/gemini.py

Reviewing the API documentation shows much more is supported than what is currently present.

[2018-03-11 22:56] kroitor commented on #2218
No, it isn't. It is supported and should be working and should be used for overriding exchange-specific params of a http request.

This is because you are misunderstanding the purpose of `params`. It is for **exchange-specific** params, unique for each specific exchange, and you can't just make up any param you want, like `{'side':'sell'}`, because there's no such exchange-specific parameter as `s

[2018-03-11 22:56] #2218 closed

[2018-03-11 23:01] forexhill opened #2221 "Bibox: error code 3024 on create_order"
- OS: Linux Ubuntu 17.10
- Programming Language version: PHP 7.1.11-0ubuntu0.17.10.1
- CCXT version: trunk, pulled few hours ago
- Exchange: Bibox
- Method: create_order('LTC/BTC', 'limit', 'sell', 0.00149841, 0.01965457)

Private auth to bibox works fine (can see balances), however, create_order (with varied symbols and input) always gives;

[code]

I tried finding a solution, reviewing past issu

[2018-03-11 23:06] kroitor commented on #2220
Yes, there is ) Most of my time goes answering this type of questions instead of actually adding the missing features. I mean, c'mon, you could've thought about it a little more and could've come up with an answer yourself, as it is obvious: the only possible reason for any such thing is not our unwillingness, but a simple lack of time, of course. It's that simple ))) No offence )

Now, having sai

[2018-03-11 23:06] #2220 closed

[2018-03-11 23:22] kroitor commented on #2221
Hi!

Can you, please show the full verbose output of the above call?

[code]
(without the keys)? This would help me solve it a little quicker, thx.

[2018-03-11 23:46] wmturner commented on #2220
Thanks for the feedback, I did not intend for my request to come off that way, just wanted to make sure.  I believe there was a period of time where Gemini's API was impacted and certain functionality disabled, and was wondering if this was related was all.

I need this functionality and will be adding.  I'm not the best JS programmer, but will do my best to add per docs and contribute back via PR

[2018-03-11 23:47] forexhill commented on #2221
Aha, translating the chinese response gave me a clue of what was wrong;
```{"error":{"code":"3024","msg":"apikey权限不足"}}```
iow;
```Insufficient apikey permissions```
And indeed, after adding trade abilities to the key, it works

Is there a way to equate 3024 with this error in the code?

[2018-03-11 23:49] kroitor commented on #2221
Nope, looks like you've figured it out. We will add handling for the above error code shortly. Thx for reporting!

[2018-03-11 23:56] kroitor commented on #2220
@wmturner I didn't mean to scare you away ) Sorry if it was a little too straight )) We're still friendly and open to all suggestions and proposals. Thx again! We will be happy to see a PR from you.

[2018-03-12 00:38] #2191 closed

[2018-03-12 00:45] #2221 closed

[2018-03-12 00:53] #2214 closed

[2018-03-12 01:00] kroitor commented on #2214
Yes, it's as easy as calling this:

[code]

This issue is fixed now. Let us know if you still have difficulties with it after updating ccxt to version 1.11.75. Thanks for reporting!

[2018-03-12 01:20] kroitor commented on #274
It is exactly because of that. You can't use the same key within two processes that don't communicate, they have to share their nonce among them, and for that you will need to set up a common nonce source for both of your processes that would help eliminate the conflicts (well, mostly).

[2018-03-12 02:00] nerdDan commented on #274
@kroitor thank you for replying! I found another solution: put all coroutines into one single thread.

May I ask another question? I only create one event loop in one thread. Why do I see multiple process with different pids?

[2018-03-12 05:01] akel94 commented on #2218
My apologies. Python is the language.

That's what I'm actually doing right now. I'm fetching all the trades and I let my program filter the buy and sell. I just wondered if it is possible to obtain a specific side per fetchTrade query, to save computing times. Because that would save me half of the computing time. Anyways, you've answered my question. Thanks a bunch!

[2018-03-12 09:27] viacheslavvbogdanov opened #2223 "bleutrade tickers bid / ask possible swapped"
Possible swapped bid and ask fields. Please check.

- OS: fedora 23
- Programming Language version: Node 9.6.1
- CCXT version: 1.11.78
- Exchange: bleutrade
- Method: exchange.fetchTickers()

[2018-03-12 09:49] authenticfake commented on #2097
thanks @kroitor for the clarification. Yes you answered to my question...great man;)

[2018-03-12 14:05] tehfink opened #2225 "Intermittent `AttributeError` when fetching Coinegg markets in python 3.6.4"
Example of the error:
[code]

Example of a successful loading:
[code]

Should this be an `ExchangeError` or `NetworkError`?

[2018-03-12 14:52] barthr commented on #1952
@kroitor @kachan1208 I just want to let you know that I'm currently not able to work on this. Got a lot of other projects going on and I can't find enough time to also work on this.

[2018-03-12 16:00] jjhesk opened #2226 "New Exchange: tidebit"
api doc: https://www.tidebit.com/swagger
api doc: https://www.tidebit.com/documents/api/guide
url: https://www.tidebit.com
src: https://gist.github.com/hpyhacking/b13fb1aa4ceb4d0a70371a963673482c#file-trade_data_example-json

[2018-03-12 16:12] frosty00 commented on #2175
@mkutny I meant to say throwExceptionOnError, and why is kucoin the only exchange that has implemented this method? Surely it would make sense to move the logic to `handleErrors` for consistency?

Thanks for clarifying. I'll look into relocating some of this code tomorrow.

Sorry if I'm being naive but why is

[code]

all this additional logic required? Wouldn't a simple

[code]

suffice?

[2018-03-12 16:20] kroitor commented on #1952
@barthr thx for the feedback!

[2018-03-12 18:31] wmturner commented on #2220
No worries, I understand how it goes.  I have my fork plugged into Travis,
and will be working on adding a few methods.  I've been looking a bit into
various WebSocket API's for a few exchanges and can give that a shot as
well.

Thanks for all the hard work!

On Sun, Mar 11, 2018 at 4:56 PM, Igor Kroitor <notifications@github.com>
wrote:

[2018-03-12 18:32] JT102 opened #2228 "xbtce create_order not working in PHP"
- OS: Linux
- Programming Language version: PHP
- CCXT version: 1.11.80
- Exchange: xbtce
- Method: create_order

Doesn't create order and returns an exception: _[Exchange Error] tapiPostTrade not found (ignoring)_, no other verbose output.
This is at line 285 in xbtce.php and there is no such function really.
Is it not implemented or what?

[2018-03-12 18:33] kroitor commented on #2220
@wmturner

various WebSocket API's for a few exchanges and can give that a shot as
well.

You might want to check these two links on WS then:

- #56
- https://gist.github.com/kroitor/aabecc346a5bded6ead7a82205d8ffc1

Let us know if you have any questions with it! Thx!

[2018-03-12 18:38] kroitor commented on #2223
Can you clarify, please?

You can check it on your side as well:

[code]

Can we help with anything else here?

[2018-03-12 18:39] wmturner commented on #2220
Good read, I think I agree with most of your points.  Will be in touch.
Thnx!

On Mon, Mar 12, 2018 at 11:34 AM, Igor Kroitor <notifications@github.com>
wrote:

[2018-03-12 18:53] mkutny commented on #2175
It's called by `handleErrors` anyway. Feel free to move it, although it either won't be as concise or will parse json twice.

Because sometimes we expect json (and we should throw if json is not received) and sometimes we expect plaintext (and should proceed if json is not received). Alternatively, it could be something like:
[code]

[2018-03-12 20:11] gaardiolor commented on #2212
@kroitor
not too sure what happens, but the open_order info doesn't make it past `array = [entry for entry in array if (key in entry) and (entry[key] is not None)]` in `group_by()` in the exchange base class.

The info going in that list comprehension:
[code]
{'amount': 0.09305361000000001,
   'cost': 0.42571436351597997,
   'datetime': '2018-03-10T17:24:10.000Z',
   'fee': {'cost': None, 'currenc

[2018-03-12 20:16] kroitor commented on #2212
Sorry, but this description does not really help without knowing the `key` value (the field name) from there... It would be much easier for me if you could paste code + verbose output as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue, I would then be able to fix it quicker.

[2018-03-12 20:23] kroitor commented on #2212
@gaardiolor thx anyway, no worries, will fix it soon )

[2018-03-12 20:32] gaardiolor commented on #2212
Yeah, slix88 already pasted the verbose stuff.

Not sure if it is wat you want (probably not :) ), but this works for me:
[code]

[2018-03-12 20:48] micahschaefer opened #2230 "Inconsistent Ticker API"
I am using the Python library and am not a very good programmer ...

I have noticed that the ticker returns inconsistent results for different exchanges, such as one exchange will return a askVolume while another does not. This may hold true for other methods as well.

In order to write programs based off this library, I recommend implementing a normalized data structure where ALL API methods retu

[2018-03-12 21:09] kroitor commented on #2212
This particular issue is now fixed in ccxt 1.11.81, so, `fetch_closed_orders` will return an adequate response now.

Working on through remaining issues here.

[2018-03-12 21:13] kroitor commented on #2230
This library is a work in progress. The `bidVolume`/`askVolume` were added by request from our users recently, and the docs may not be very clear, but the two fields are both optional (may be missing in the ticker). Apart from those two, other fields should be pretty much consistent with the Manual.

I'll update the Manual on that for less confusion, as it is somewhat behind the code.

You are get

[2018-03-12 21:17] #2230 closed

[2018-03-12 21:30] gaardiolor commented on #2212
ah, the original issue was about fetch_closed_orders, sorry, missed that :( Hopefully it's related, otherwise I'd feel guilty for not creating a new issue!

[2018-03-12 21:32] micahschaefer commented on #2230
Thanks for the response ! I look forward to the future of this project.

[2018-03-13 02:32] wangjun92 opened #2232 "how could i get the return when the deal is done after sending the orders with the function create_limit_sell_order or create_limit_buy_order"
- OS: windows
- Programming Language version:  python 3.6.3
- CCXT version: 1.11.77
- Exchange: binance huobipro
- Method: create_limit_sell_order or create_limit_buy_order

[2018-03-13 02:33] wangjun92 commented on #2232
how to get the return with the deal done

[2018-03-13 02:38] kroitor commented on #2232
Hi!

The orders API is documented here: https://github.com/ccxt/ccxt/wiki/Manual#orders

[code]

Let us know if it does not help. Thx!

[2018-03-13 02:38] #2232 closed

[2018-03-13 02:46] wangjun92 commented on #2232
shoud I call the the following function all the time until I get the return  if the deal is done?
order = exchange.fetch_order(order['id'])
print('fetch_order result:', order)

[2018-03-13 02:50] wangjun92 commented on #2232
@kroitor
shoud I call the the following function all the time until I get the return if the deal is done?
order = exchange.fetch_order(order['id'])
print('fetch_order result:', order)

[2018-03-13 02:53] kroitor commented on #2232
@wangjun92 I'd recommend to read the entire Manual as you have to be careful and there's a lot of important info there, you cannot do that as frequently as you would want, unfortunately, or the exchange will ban you. So, you have to limit the rate of your requests or use a built-in rate-limiter. But this is a very wide topic to be explained in a single issue, for that the docs and examples are wri

[2018-03-13 04:20] kroitor commented on #2185
Previously we used to hardcode them, but, obviously, this is a bad approach, so, you shouldn't really trust the funding fee info until this aspect is unified and documented in the Manual. As for the order/trade fees, that is under active development now and the work is going on with your help.

So, in general, there are certain *"magic numbers"* you may find there. You **should not blindly trust**

[2018-03-13 04:20] #2185 closed

[2018-03-13 04:28] jjhesk opened #2234 "how to test a single exchange"
@kroitor would you add more doc for how to speed up the development time with `run-tests` to test against a single exchange in the folder of js.

i tried
`node run-tests --js --myexchange` but it doesnt work.

[2018-03-13 04:29] kroitor commented on #2234
@jjhesk

Yep, will add some more clarifications on that shortly.

You should try `node run-tests --js myexchange` (the exchange id without `--`). Hope it helps. Let us know if not. Thx!

[2018-03-13 04:29] #2234 closed

[2018-03-13 04:32] jjhesk commented on #2234
@kroitor is there a way that i can turn on a watch mode to test against one exchange in realtime? so that people can create exchange with light speed =)

[2018-03-13 04:34] kroitor commented on #2234
@jjhesk 👍 well, not yet (unfortunately), but mocha can run some tests in "watch mode" and relaunch them upon any change. We hope to migrate to mocha testing soon, after solving the arbitrary precision tasks, probably together with the other pending work. The idea is great, of course, we just didn't have enough time to set up all proper testing settings yet, most of tests are still in progress as w

[2018-03-13 04:35] jjhesk opened #2235 "test with --watch mode"
from the topic #2234. There should be a watch mode to allow devs to test develop the api with realtime. features should allow the script to clear up the console and reprint the test detail in the console screen.

 - [ ] mocha integrations
 - [ ] integrations with extra options
 - [ ] cls abilities

[2018-03-13 04:36] jjhesk commented on #2235
- [ ] mocha integrations
 - [ ] integrations with extra options

[2018-03-13 06:58] jjhesk commented on #2226
<img width="215" alt="2018-03-13 2 57 34" src="https://user-images.githubusercontent.com/629338/37326862-f836f4de-26ce-11e8-93ac-7003b3e8a280.png">

[2018-03-13 08:54] wangjun92 opened #2239 "Coinegg: TypeError: Unicode-objects must be encoded before hashing"
- OS:windows
- Programming Language version:python3.6
- CCXT version:1.11.77
- Exchange: Coinegg
- Method: fetchBalance()

    coinegg = ccxt.coinegg({
        'apiKey': 'uzky3-2c1hj-4ru5r--------',
        'secret': '3HV44-mc]8p-H*VX)-X5Fri-}rLS%-----',
            })
    coinegg.fetchBalance()

TypeError: Unicode-objects must be encoded before hashing.

[2018-03-13 09:08] kmaillet-arcane commented on #2169
Thanks @kroitor !!
Works like a charm

[2018-03-13 10:08] kroitor commented on #2239
Can you please post your verbose output according to these instructions: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[code]

Also, is it a new key?

[2018-03-13 10:09] kroitor commented on #2169
@kmaillet-arcane thx for reporting back! Let us know if you have any difficulties with it, however, next time, please begin with your verbose output first, now you know how )

[2018-03-13 10:16] wangjun92 commented on #2239
@kroitor the key is applied about 5 hours before. It is new enouth.

[2018-03-13 10:17] kroitor commented on #2239
@wangjun92 I mean, have you used it with any different software or script before ccxt? Also, what about your verbose output?

[2018-03-13 10:27] kmaillet-arcane commented on #2169
will do ;)

On Tue, Mar 13, 2018 at 11:09 AM Igor Kroitor <notifications@github.com>
wrote:

--

*Kevin Maillet*  ● Product Manager

06 50 83 64 06
● kmaillet@arcane.run

22 rue Chapon, 75003 Paris
arcane.run

[2018-03-13 10:41] wangjun92 commented on #2239
@kroitor The key is not used before ccxt. And the verbose output like the folling:

`Traceback (most recent call last):

  File "<ipython-input-95-4c16b4d75567>", line 6, in <module>
    coinegg.fetchBalance()

  File "C:\ProgramData\Anaconda3\lib\site-packages\ccxt\coinegg.py", line 301, in fetch_balance
    balances = self.privateGetBalance(params)

  File "C:\ProgramData\Anaconda3\lib\site-pack

[2018-03-13 10:43] #2239 closed

[2018-03-13 11:16] frosty00 opened #2241 "Kucoin precision"
So it seems that kucoin has a hardcoded precision of 8. However I think the relevant precision should be the 'tradePrecision' of the quote currency, in this case eth. Unfortunately this is hard to load into the market at runtime until we have the `loadX` methods in place as `fetchMarkets` is called before `fetchCurrencies`

[code]

[code]

**'tradePrecision': 7,**

[code]

[2018-03-13 11:44] spig0t commented on #2119
I would just suggest to aim at the biggest DEXes at the moment and in the future - EtherDelta seems rather dying/dead now (though ForkDelta may have some future, but it's not got much volume at the moment), so it doesn't seem a particularly great candidate for integrating ...

The bigger DEXes by volume now, which are also growing fast at the moment, are IDEX and Bancor .... so these would seem th

[2018-03-13 11:46] kroitor commented on #2119
@spig0t thx for sharing your considerations!

[2018-03-13 12:26] Esc4pism opened #2242 "bleutrade: RangeError"
bleutrade is throwing 'RangeErrors' in fetchTickers. the api call returns mostly valid data, but the last 2 rows in the result array have an empty TimeStamp attribute, see screenshot:

![image](https://user-images.githubusercontent.com/30901436/37341524-f7fea596-26c1-11e8-9347-c9c221f4f168.png)

full stack:

RangeError: Invalid time value
    at Date.toISOString (<anonymous>)
    at bleutrade.Exch

[2018-03-13 12:40] August-Ghost opened #2243 "symbols of the exchange vary between Windows 7 and CentOS/Ubuntu"
- OS: Windows 7 PS1, CentOS 7/Ubuntu
- Programming Language version: Python 3.6.4
- CCXT version: 1.11.84
- Exchange: Binance, Bitfinex. May be more
- Method: exchange.symbols

I am suffering from a strange behavior of ccxt: I get different tradepairs from the same exchange under Windows 7 and CentOS/Ubuntu. Some tradepairs only appear under Windows 7 and some only appear under CentOS 7/Ubuntu. Wh

[2018-03-13 12:42] viacheslavvbogdanov commented on #2223
Looks like my mistake.

[2018-03-13 12:42] #2223 closed

[2018-03-13 12:45] TrejGun opened #2244 "bitcoin.co.id is changing its name to indodax.com"
according to official letter

[code]

so may be you should do some changes

[2018-03-13 13:42] Esc4pism opened #2246 "ccex missing markets/pairs"
loadMarkets in ccex uses this call: https://c-cex.com/t/api_pub.html?a=getmarkets, but this doesnt return all trading pairs supported by ccex. I looked around and found https://c-cex.com/t/prices.json (which also doesnt return all pairs, even though the documentation says so for both of those calls), but instead https://c-cex.com/t/pairs.json seems to return a plain array with all supported pairs.

[2018-03-13 15:17] ws2367 opened #2248 "Error in `gdax.fetch_closed_orders`"
I have encountered a problem in fetching closed orders from GDAX. See below for error message. This error did not happen for fetching closed orders from Binance.

[code]

It looks like _market_ orders returned from gdax has no key `size`. However limit orders do have key `size`.

OS:
OSX 10.13.3

Programming Language version:
Python 3.6.4

CCXT version:
1.10.760

Exchange:
binance
gdax

Method:
`f

[2018-03-13 15:32] lucasgadams opened #2250 "Bitfinex fetchTickers failed to recognize NECUSD"
- OS: Ubuntu 16.04
- Programming Language version: python 3.5.2
- CCXT version:  ccxt==1.10.1242
- Exchange: bitfinex
- Method: fetchTickers

Every once in a while I receive the following error using bitfinex fetchTickers :
  File "/home/ubuntu/env/lib/python3.5/site-packages/ccxt/bitfinex.py", line 387, in fetch_tickers
    raise ExchangeError(self.id + ' fetchTickers() failed to recognize symbol

[2018-03-13 16:28] stabilus opened #2252 "How to observe RateLimit across threads"
- OS: Win 7
- Programming Language version: Python 3.6
- CCXT version: 1.11.84
- Exchange: binance
- Method: any

This is a question:

I would like to run several threads involving various symbols within the same exchange and various symbols on different exchanges. I would like to run each unique combination of exchange and symbol in one separate thread (python 3.6: _thread).

In the case where I

[2018-03-13 18:41] wannesdemaeght opened #2253 "filter errors"
How can I filter if an error is a timeout?

I log all errors to file, but would like to exclude request timeouts.

[2018-03-13 19:06] sportokua commented on #997
@gaardiolor
@marcusl33
@kroitor
Hi, guys.
I work with Java, use api from KuCoin's websit. And I have same problem.
I can't make POST requests with two or more parameters on Kucoin (eg. symbol=KCS-BTC&fav=1), it says that "Signature verification failed". All GET requests work fine.
Are your POST requests on Kucoin work corectly now?
I will appreciate for any information from you.

[2018-03-13 21:07] kroitor commented on #2253
@wannesdemaeght can you show a minimal snippet of your logging code?

[2018-03-13 21:10] #2242 closed

[2018-03-13 21:27] kroitor commented on #997
@sportokua hi! Is it a new API key or did you use it earlier with any other software?