[2018-08-17 11:06] proeng opened #3671 "How to properly get/calculate current price for trading bot to buy or sell at."
- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: 1.17.73
- Exchange: BitMex
- Method: fetch_ticker

I am not sure if this is proper place to ask, but it is related to a closed issue, that i did not feel answered the question to my problem.
https://github.com/ccxt/ccxt/issues/3337
I am building a trading bot and i have a problem with bitmex returning None on bid+ask, as y

[2018-08-17 13:28] Showgofar opened #3672 "Huobi fee currency"
Hi
Could you please correct fee for Huobi
[code]

if "filled-points" != 0
then
fee->cost="filled-points"
and
fee->currency="huobipoints"

Thank you

[2018-08-17 18:17] ilman opened #3675 "Binance get all order history"
- OS: Windows 10
- Programming Language version: PHP 7.1.11
- CCXT version: 1.13.78
- Exchange: Binance

Hi, first of all, thanks for this wonderful repo!

Though I am wondering whats the best way to get all my recent orders, or all my previous orders using ccxt.

I tried using fetch_closed_orders and fetch_my_trades, but both only work if the symbol specified. Is there any method similiar as fetc

[2018-08-17 20:34] alvaroyanes commented on #3675
Hi ilman!

You can try:

`exchange.options["warnOnFetchOpenOrdersWithoutSymbol"] = false;`

Then will be possible to call  `fetch_open_orders` without specifying the symbol.

[2018-08-18 05:29] ongkhua commented on #2842
Dear Devs, pls change the get_order_id_key to return "order_id" instead of "orderId".  This will fix this issue.

[2018-08-18 06:09] ongkhua commented on #2842
Dear devs,  I notice when calling create_order, the returned array orderId key is "order_id" instead of "orderId" as stated in their documentation.
Below is the actual returned array I got when calling create_order:

Array
(
    [info] => Array
        (
            [success] => 1
            [return] => Array
                (
                    [received] => 0
                    [remains] => 0

[2018-08-18 06:14] ongkhua opened #3677 "DSX orderId key name wrong"
- OS: Win10
- PHP: 5.6.34
- CCXT version: 1.17.132
- Exchange: DSX
- Method: create_order

Dear devs,  I notice when calling create_order, the returned array orderId key is "order_id" instead of "orderId" as stated in their documentation.
Below is the actual returned array I got when calling create_order:

    [info] => Array
        (
            [success] => 1
            [return] => Array

[2018-08-18 08:52] Piterden commented on #3647
[code]

Is this what you want?

[2018-08-18 09:00] Piterden commented on #3647
[code]

[2018-08-18 10:05] kroitor commented on #3675
No. Half of the exchanges will require a symbol for those calls. You will have to remember which orders you have placed, and then you have to check those particular symbols for updates in the orders with `fetch`-methods. In other words, you will have to fetch them one-by-one for all symbols of your interest, therefore you will either fetch the data for all binance symbols sequentially, or filter a

[2018-08-18 10:05] #3675 closed

[2018-08-18 11:55] ongkhua commented on #2842
DSX class does not have private-post-OrderInfo defined in the api array.  I cannot find DSX v1 api documents anymore, in v2 the end-point is /tapi/v2/order/status , but I can't add this endpoint as ccxt still uses v1 endpoints.  Anyone implementing v2 api for DSX ?

[2018-08-18 13:04] kroitor commented on #2842
@ongkhua yeah, DSX support is currently broken, because we don't have v2 yet. Afaik, nobody is working on it yet.

[2018-08-18 16:11] elanpang opened #3679 "can't find module assert or crypto on react native"
- OS:MacOs
- Programming Language version: React Native 0.56-iOS
- CCXT version:1.17.140
- Exchange:N/A
- Method:N/A

Before I used ccxt with react native(old version is 1.15.9), it works well, but recently after I updated ccxt to the last version(1.17.140), a issue happened that I can't use it in React Native anymore.
It reported can't find module 'assert' or module 'crypto' , I tried all the ste

[2018-08-18 16:37] elanpang commented on #3679
add more info:

I tried to create a new react native project in different macbook, the issue still happened.

[2018-08-18 17:47] elanpang commented on #3679
It seems I found a solution,

First I tried to install 'assert' by npm i assert -s,
then it report module 'crypto' issue, but install 'crypto' not work, I think the module 'crypto' is not the real need.

Then I found this link:
[web3.js crypto` from `node_modules/web3-eth-accounts/src/index.js`: Module does not exist in the module map](https://github.com/ethereum/web3.js/issues/1095)

It seems the

[2018-08-18 17:49] kroitor commented on #3679
@elanpang thx so much for reporting back!

[2018-08-18 17:50] #3679 closed

[2018-08-18 19:03] #3672 closed

[2018-08-19 00:42] DmitryVil opened #3680 "Fiat currencies in OKEX markets - maybe mistakable"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: python 3.7.0
- CCXT version: 1.17.132
- Exchange: okex
- Method: load_markets()

Good evening,
Could you please help with an unclear situation:

when I trying to load markets for okex by:

okexE = ccxt.okex()
okexM

[2018-08-19 04:36] yikeshu1 opened #3681 "The fetchOrder function of the coinex exchange is wrong."
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:
Traceback (most recent call last):
  File "C:\lianghua\triangle-arbitrage_con\marketHelper.py", line 481, in <module>
    print coinex.fetchOrder('1343876803')
  File "C:\Anaconda2\lib\si

[2018-08-19 04:41] #3681 closed

[2018-08-19 08:12] daygle opened #3682 "New Exchange - TheCoin.pw"
Hi,

Could you please add the following new exchange.

URL: https://trade.thecoin.pw
API: https://trade.thecoin.pw/API

[2018-08-19 10:33] daygle commented on #3682
Well not https://trade.multicoins.org/ - that's another exchange, rather https://trade.thecoin.pw.

[2018-08-19 14:54] Nathapon8899 commented on #3501
#3501

[2018-08-19 17:19] AoDev opened #3684 "[JS] [Okex] [tickers] undefined ticker for cac_eth"
- OS: OSX
- Programming Language version: JS
- CCXT version: `1.17.148` (I spotted the issue in `1.17.132` and first tried to update ccxt)
- Exchange: Okex
- Method: fetchTickers

For some reason there is a ticker with undefined symbol and key. (cac_eth)
See the screenshot.

![screen shot 2018-08-19 at 19 14 22](https://user-images.githubusercontent.com/1526150/44311282-bb986d80-a3e4-11e8-9496-210

[2018-08-19 17:29] #3684 closed

[2018-08-20 08:39] JeanChai opened #3688 "Poloniex minimun amount"
- OS: Win10
- Programming Language version: python 3.6
- CCXT version: 1.16.89
- Exchange: Poloniex  ETH/USDT
- Method: create_order

Amount is equal to minimun limit of ETH/USDT : 0.00000001
Price is 296.71716899303
Total = amount * price = 2.96e-06
But I get the following error: {"error":"Amount must be at least 0.000001."}. Obviously my total is larger than 1e-6.

[2018-08-20 09:15] kroitor commented on #3688
Dupes:

- https://github.com/ccxt/ccxt/pull/3029
- https://github.com/ccxt/ccxt/issues/2706#issuecomment-385627433

Let us know if this isn't resolved after upgrading to most recent version of CCXT.

[2018-08-20 09:15] #3688 closed

[2018-08-20 10:50] DmitryVil commented on #3680
Thank you very much, Igor

[2018-08-20 10:51] kroitor commented on #3680
@DmitryVil thx to @viktorius007 for explaining this ) I'd close this as a duplicate for now until we upload a cleaner workaround for OKEX markets (this should be soon). Will let you know, of course.

[2018-08-20 10:51] #3680 closed

[2018-08-20 13:35] nstoichkov7 opened #3690 "Yobit - fetch_markets method do not return complete list of all tickers"
Hello,
First I want to congratulate ccxt team for the good work. You are the best dudes!

I just found that when I try to fetch all markets from yobit exchange I do not receive all tickers in the response. There are a couple of missing tickers I will illustrate the issue with one of them "BTS "

This is the code that I run:
In [1]: import ccxt
In [2]: yobit = ccxt.yobit()
In [3]: mkts = yobit.fetc

[2018-08-20 13:48] kroitor commented on #3690
Hi!

With yobit BTS is not a true BTS symbol, it actually stands for Bitshares2, which has `Bitshares2` symbol with Yobit, as described in the following duplicate issue, as well as in the Manual:

- https://github.com/ccxt/ccxt/issues/302
- https://github.com/ccxt/ccxt/search?q=yobit+bts&type=Issues
- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids
- https://github.com/ccxt/ccxt/wi

[2018-08-20 13:48] #3690 closed

[2018-08-20 13:54] Zyn0423 opened #3691 "Can you update bitz api ？"
bitz api update：https://apidoc.bit-z.pro/en/Demo/Python.html
Thank you very much～

[2018-08-20 13:57] kroitor commented on #3691
- https://github.com/ccxt/ccxt/wiki/FAQ#can-you-implement-feature-foo-in-exchange-bar
- https://github.com/ccxt/ccxt/issues/3650 ← duplicate

[2018-08-20 13:57] #3691 closed

[2018-08-20 15:23] npomfret opened #3692 "anxpro v2 metadata does not have min order sizes but they are available via the v3 api"
The min order sizes for anxpro markets are available: https://anxpro.com/api/3/currencyStatic. This data comes from the v3 api, but it is valid for the current v2 implementation.

It has 2 sections.  The first bit looks like this:

[code]

You can infer the min order sizes for each market, they differ for bid and ask orders.  In the example shown, for the LTCBTC, the min bid size is 0.1LTC, and th

[2018-08-20 15:40] npomfret opened #3693 "question about symbol mapping"
As I understand it we are using coinmarketcap as  arbiter for sorting out which coin owns which 3/4 letter symbol.  The one with the highest market cap wins, the other uses its name as its symbol.

My concern is that a coin that is competing for a symbol with another, may at some point rise up the coinmarketcap ranks forcing the ccxt code to swap symbols around.  Worse still, if they have a simila

[2018-08-20 15:42] npomfret opened #3694 "stupid question - how do I PR the WIKI?"
Ugh, feeling stupid. How do I contribute to the wiki?  I found a typo but couldn't figure out how to submit a PR for it.

`const deposits = await exchange.fetchWithdrawals (code, since, limit, params)`

should be:

`const withdrawals = await exchange.fetchWithdrawals (code, since, limit, params)`

... in all 3 code examples.

[2018-08-20 15:47] kroitor commented on #3694
All here: https://github.com/ccxt/ccxt/tree/master/wiki )

[2018-08-20 15:47] #3694 closed

[2018-08-20 17:16] npomfret commented on #3694
But how do I edit/contribute to the wiki?  If I clone this repo I don't get the wiki content.  I can't figure out how to fork the project wiki (the github fork button forks the main repo)

[2018-08-20 18:33] kroitor commented on #3694
If you fork this repo – do you see a "wiki" folder inside it? You can push your edits to it, and those will be uploaded to GitHub wiki by our build system automatically. So we have the "source of all truth for docs" in the wiki folder, and we never change anything in the docs outside of the wiki folder – all our edits go there, and those are propagated from there to GitHub wiki, RTD, etc... did I

[2018-08-20 20:24] Stock84-dev opened #3695 "Inconsistency for fetch_markets between normal ccxt and async"
- OS: Windows 7
- Programming Language version: python 3.7
- CCXT version: 1.17.154.
- Exchange: anxpro
- Method: fetch_markets

In normal ccxt all objects that are returned are lists while with async support some are list and some are dictionary. This happens with a lot of exchanges.

[2018-08-20 20:27] kroitor commented on #3695
@Stock84-dev can you make the shortest possible snippet (but a complete one, including the instantiation) to reproduce the issue?

[2018-08-21 02:26] Zyn0423 commented on #3650
The API failed on March 31

[2018-08-21 02:26] Zyn0423 commented on #3650
The API lapsed on August 31 @kroitor

[2018-08-21 02:31] Zyn0423 commented on #3650
The new API request is invalid
![image](https://user-images.githubusercontent.com/39515741/44376885-07562e80-a52d-11e8-8b20-1006425dd8a7.png)

![image](https://user-images.githubusercontent.com/39515741/44376920-37053680-a52d-11e8-9bd3-ee782265c4fe.png)
![image](https://user-images.githubusercontent.com/39515741/44376929-497f7000-a52d-11e8-9e0e-1ce74298378b.png)

[2018-08-21 04:04] Zyn0423 commented on #3447
thank you

[2018-08-21 07:41] kroitor commented on #3693
Right.

We have had a couple of these issues earlier. However, this is still a pretty rare occasion when two coins have the same token and the market cap switch takes place (effectively making one of the CMC tokens overtake the unified symbol).

Never had this before with duplicate symbols. The situation is still possible, theoretically. But, practically, it rarely occurs, if ever. We haven't seen

[2018-08-21 07:41] #3693 closed

[2018-08-21 07:51] npomfret commented on #3693
Thanks @kroitor

[2018-08-21 08:27] Stock84-dev commented on #3695
[code]
Output:

[2018-08-21 10:10] Mandelbr0t opened #3697 "ccxt.async_support with aiocfscrape"
How can we use ```aiocfscrape``` with ```ccxt.async_support``` ?

Like so:

[code]

aiocfscrape does not implement a ```create_scraper()``` method.
An example like in https://github.com/ccxt/ccxt/blob/master/examples/py/bypass-cloudflare.py would help alot.

Best, Mandelbr0t

- OS: Mac Os Yosemite
- Programming Language version: Python 3.6
- CCXT version: 1.17.125
- Exchange: all
- Method: getattr

[2018-08-21 10:35] ZigaTokens opened #3698 "Add tokens.net exchange"
URL: https://www.tokens.net
API documentation: https://www.tokens.net/api/

[2018-08-21 10:41] miracle2k opened #3699 "In Python, truncate_to_string() rounds up, truncate() does not"
In Python the behaviour of those two methods is different:

[code]

This is regularly a problem for me with binance, which has these very large lot sizes. I want to sell my whole balance, which might be `1.4973`. But when I call `create_limit_sell_order` with that amount, binance calls `amount_to_string -> truncate_to_string`, and then actually submits an order for `1.5`, which binance sensibly re

[2018-08-21 10:42] kroitor commented on #3695
Fixed in 1.17.156. Thx for reporting!

[2018-08-21 10:42] #3695 closed

[2018-08-21 10:48] kroitor commented on #3699
@miracle2k both `truncate` and `truncate_to_string` are deprecated due to the bugs you described (those are known), we are aware of them and we now migrate to `decimal_to_precision` everywhere.

BTW, `amount_to_lots` was deprecated for the same reason and has been removed a couple of weeks ago.

See this PR: https://github.com/ccxt/ccxt/pull/3663 by @frosty00

Basically, you shouldn't rely on thos

[2018-08-21 10:48] #3699 closed

[2018-08-21 10:57] miracle2k commented on #3699
Thanks. So I'll just be waiting for #3663 to be merged - then my particular problem with binance would be fixed as well, it seems.

[2018-08-21 11:13] #3697 closed

[2018-08-21 11:14] kroitor commented on #3697
Let us know if this does not help:

https://github.com/ccxt/ccxt/blob/master/examples/py/bypass-cloudflare-with-aiocfscrape.py

[code]

[2018-08-21 11:17] Mandelbr0t commented on #3671
1. You cant calculate the current price out of OHLCV data, because the current price reflects the market at a specific moment and OHLCV is applied to a range in time.
2. However, you can catch the orderbook and use limit orders at the bid/ask prices, but you have to look at the volume that is available at the current bid/ask price.
3. If you run out of allowed requests for that exchange, you could

[2018-08-21 11:34] npomfret commented on #3694
Sorry, must have had a filter hiding the files on or something.  All sorted.

[2018-08-21 11:35] kroitor commented on #3697
@Mandelbr0t do you have certifi installed or py packages containing `ssl` in `pip3 list` ? This is now a different issue with your local SSL setup.

[2018-08-21 11:45] Mandelbr0t commented on #3697
@kroitor certifi 2018.4.16 is installed and idna-ssl 1.1.0
It was working up until yesterday.

[2018-08-21 11:51] kroitor commented on #3697
@Mandelbr0t

With aiohttp?

Can you try deinstalling idna-ssl 1.1.0 and/or certifi to see if makes a difference? Also, would be great if you could post your system openssl version number.

Most often this is somewhere beyond CCXT, see these issues as well:
- https://github.com/ccxt/ccxt/search?q=CERTIFICATE_VERIFY_FAILED&type=Issues
- https://www.google.com/search?q=python+CERTIFICATE_VERIFY_FAILE

[2018-08-21 11:54] Mandelbr0t commented on #3697
@kroitor  ok seems like my ssl certificates were messed up somehow between yesterday and today. I reinstalled them with ```open /Applications/Python\ 3.6/Install\ Certificates.command```
Thank you for the help!

[2018-08-21 11:55] kroitor commented on #3697
@Mandelbr0t so, the ssl issue is resolved now and everything works again, right?

[2018-08-21 11:58] Mandelbr0t commented on #3697
yep

[2018-08-21 16:12] Stock84-dev opened #3702 "Inconsistency in fetch_currencies"
- OS: Windows 7
- Programming Language version: Python 3.7
- CCXT version: 1.17.156.
- Exchange: anybits, bitsane...
- Method: fetch_currencies

Async function always returns dictionary (#3695), exchange.currencies always returns dictionary, but non async function returns a mix of list and dictionary (mainly lists). This happens with bunch of exchanges.

[code]
Output:

[2018-08-21 16:34] #3702 closed

[2018-08-21 17:39] kroitor commented on #3671
Thx, @Mandelbr0t!

@proeng hope it answers your questions, let us know if not. I'd also recommend to read the entire Manual from the very beginning to the very end, this can save you a ton of time, really: https://github.com/ccxt/ccxt/wiki. Closing this for now if you don't mind. Feel free to reopen it if needed.

[2018-08-21 17:39] #3671 closed

[2018-08-21 17:40] thomas-leeee opened #3703 "Async all order books from multiple exchanges"
Hi I need some help regarding how to approach this issue. I am looking for an implementation that is as fast as possible.

Input: list of exchange name
Output: all order books

So I thought here is a good way:
- async coroutines for instantiating exchanges from list
- for each exchange async coroutines for all symbols

Is this the right way do do things based on the api and organization of ccxt?

[2018-08-21 17:49] kroitor commented on #3703
Hi! Let us know if this does not answer your question: https://github.com/ccxt/ccxt/blob/master/examples/py/async-orderbooks-from-multiple-exchanges-at-once.py ;)

[2018-08-21 17:49] #3703 closed

[2018-08-21 18:35] kroitor commented on #3313
Merged in #3634 thx and respect to @JoshVarty ! )

[2018-08-21 18:35] #3313 closed

[2018-08-22 07:42] JeanChai opened #3706 "Poloniex min amount"
- OS:Win10
- Programming Language version: python 3.6
- CCXT version: 1.17.164
- Exchange: Poloniex ETH/USDT
- Method: create_order

Amount is equal to minimun limit of ETH/USDT : 0.00000001
Price is 296.71716899303
Total = amount * price = 2.96e-06
But I get the following error: {"error":"Amount must be at least 0.000001."}. Obviously my total is larger than 1e-6.

I asked this question in #3688

[2018-08-22 07:44] npomfret opened #3707 "exmo metadata"
Found this uri which is used to populate the exmo fees and limits web page: https://exmo.com/ctrl/feesAndLimits

[2018-08-22 08:04] Esc4pism opened #3708 "yobit CommonCurrency"
GOT on yobit is Giotto Coin, all other Exchanges use this symbol for GoNetwork.

https://coinlib.io/coin/GOT/Giotto+Coin (they have it wrong here)
https://coinlib.io/coin/GOT3/GoNetwork

[2018-08-22 08:10] DmitryPogodaev opened #3709 "Binance fetchFundingFees returning 404 error"
- OS: not importnant
- Programming Language version: not importnant
- CCXT version: not importnant
- Exchange: Binance
- Method: fetchFundingFees

From yesterday REST API seems to be changed without backward compatibility.

https://api.binance.com/wapi/v3/withdrawFee.html - this endpoint returning 404

I see this endpoint in the docs with withdrawal fees:
https://api.binance.com/wapi/v3/assetDetai

[2018-08-22 08:13] DmitryPogodaev commented on #3709
CCXT version: 1.17.164

[2018-08-22 09:07] Fransenson opened #3710 "Cannot pip install ccxt on MacOS X Mojave 10.14 Beta 18A365a"
- OS: macOS Mojave (10.14 Public Beta Build 18A365a)
- Programming Language version: Python 3.6.5

When trying to `pip install ccxt` I get the following error:

`    gcc -fno-strict-aliasing -Wsign-compare -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch i386 -arch x86_64 -g -Isrc/ext/uchardet/src -I/Library/Frameworks/Python.framework/Versions/3.6/include/python3.6m -c src/cchardet/_cchar

[2018-08-22 09:59] kroitor commented on #3710
[code]

↑ It says, it can't find libstdc++ on your system, and most likely this is because your MacOS version is quite old... It wants at least OSX 10.9 or proper paths to libstdc++ with the linker.

[2018-08-22 10:13] Fransenson commented on #3710
Hey there! I cannot follow you with the quite old thing...Mojave is the latest release and I am on the latest public beta of it.

[2018-08-22 10:25] kroitor commented on #3710
@Fransenson oh, sorry... Yep, indeed, it's not an old OS, however, for some reason I can't reproduce it on my High Sierra. Basic googling suggests that this may be an issue with XCode setup/paths or something related: https://www.google.ru/search?q=macos+lstdc+not+found... I will need some time to install the Mojave beta and to test it extensively.

[2018-08-22 11:10] abrarum opened #3711 "Windows + CCXT + React Native + Android"
Hi,

I had to use ccxt for my React Native project and for this I tried the so-called "npm install ccxt", but as much as it seems a piece of cake, it has become a mission impossible for me! I've tried every solution from following the ccxt instructions for windows including downloading windows tools by "npm install -g web3 --unsafe-perm=true --allow-root".

I also followed instructions in "https:/

[2018-08-22 15:02] Fransenson commented on #3710
@kroitor thank you for trying. I am eager to test CCXT with my application, so I am really looking forward to sorting this out.

[2018-08-22 15:44] kroitor commented on #3710
@Fransenson actually, you can help resolve it as well ) Do you have XCode Command Line Tools installed?

[2018-08-22 16:35] Fransenson commented on #3710
@kroitor yes I have. :)

[2018-08-22 18:39] Nathapon8899 commented on #3708
#3708

[2018-08-22 20:55] kroitor commented on #3710
@Fransenson ok, can you show the contents of your PATH env variable?

[code]

[2018-08-22 21:02] Fransenson commented on #3710
@kroitor Sure, here you are:

`PATH=/Library/Frameworks/Python.framework/Versions/3.6/bin:/Library/Frameworks/Python.framework/Versions/2.7/bin:/Library/Frameworks/Python.framework/Versions/3.6/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin`

[2018-08-22 21:07] Fransenson commented on #3710
Just as additional information: I updated to the latest public beta release published yesterday (18A371a) and the issue did not change.

[2018-08-22 21:47] kroitor commented on #3710
@Fransenson have you tried a standalone `pip install cchardet`, `pip install uchardet` ? Also, have you tried doing anything about the linker and libstdc++ vs libc++ conflict?

[2018-08-23 08:35] scottie commented on #1562
ah i see you have deal with THE OCEAN to not ever add any other DEX so its safe to say cryptobridge will never be added.... sell outs.

[2018-08-23 08:36] Fransenson commented on #3710
@kroitor Sorry, went to sleep. I just tried the things above:

`pip install cchardet`
brought up the same issue as stated above

`pip install uchardet`
brought the following:
` Could not find a version that satisfies the requirement uchardet (from versions: )
No matching distribution found for uchardet`

I have not done enaything about the libstdc++ vs libc++ thing as I don't know exactly where th

[2018-08-23 08:48] coding8282 commented on #3643
I spent a lot of time so much... Finally, Bibox does NOT support withdraw.

[2018-08-23 09:51] npomfret commented on #1562
@scottie I'm sorry that this free software isn't good enough for your needs.  You could of course choose to contribute if you would like access to a feature or exchange that isn't integrated yet.

[2018-08-23 09:53] scottie commented on #1562
stuff that contribute so you can sell out to THE OCEAN.... hahahah ya right champ

[2018-08-23 12:01] abrarum commented on #3711
Thanks.

[2018-08-23 12:01] #3711 closed

[2018-08-23 12:03] kroitor commented on #1562
Hi, @scottie !

First of, the answer to your question, is in the FAQ, here:

- https://github.com/ccxt/ccxt/wiki/FAQ#when-will-you-add-feature-foo-for-exchange-bar--whats-the-estimated-time-when-should-we-expect-this
- https://github.com/ccxt/ccxt/wiki/FAQ#whats-your-progress-on-adding-the-feature-foo-that-was-requested-earlier-how-do-you-do-implementing-exchange-bar

Second, we **will add** crypt

[2018-08-23 13:38] jackyxie opened #3716 "new Exchange BitMart"
- Exchange: BitMart
- URL: https://www.bitmart.com
-API: https://github.com/bitmartexchange/api-docs

[2018-08-23 14:21] npomfret opened #3717 "question about hitbtc withdrawal fees"
@kroitor @adi90x I notice you both have updated the hitbtc deposit fees.  I see that 2 currencies (ETH and BTC) have deposit fees.  Where did you get this info from?  Is it available from some sort of API call.

Also, I see that all deposit and withdrawal fees are coded into the exchange implementations.  I think the withdrawal fee's are available via [this](url
https://api.hitbtc.com/api/2/public

[2018-08-23 14:29] kroitor commented on #3717
Personally, I'm against hardcoding ) We have deprecated this approach.

Most often it's coming from their withdrawal dialogs from their website.

Yep, for some exchanges they are hardcoded now. Having them like that is a bad idea. And we have to do something about it.

https://api.hitbtc.com/api/2/public/currency) api call - perhaps we could remove the hard coded ones?

Yep, we already use that in

[2018-08-23 14:29] #3717 closed

[2018-08-23 16:36] devcon14 opened #3719 "deribit create order exception"
- OS: Ubuntu 16.04.2 LTS
- Programming Language version: Python 3.6.1
- CCXT version: 1.17.154
- Exchange: deribit
- Method: create_order

[code]

[code]

It looks like deribit might have changed some response fields.
tstamp is no longer present in the response for parseOrder.
Let me know if you need more of the log output and I'll double check that I can scrub the keys.
I can also work on a pull

[2018-08-23 16:46] kroitor commented on #3719
Hi! Thx for a comprehensive report! You're right, there might a bug with the parser in current version.

The `tstamp` may be there because we're using the same `parseOrder` for open orders, closed orders, all orders. In other words, `parseOrder` parses them whatever the endpoint is. But yeah, they might have changed their API format as well.

That would be awesome! Your help is very much appreciat

[2018-08-24 01:41] ElanJM opened #3721 "Binance return '0.000000' in 'price' when trying to fetchOrders"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Parrot OS (Linux)
- Programming Language version: Python 3.6
- CCXT version: 1.17.174
- Exchange: Binance
- Method: fetchOrders

So what i want is to get the last Buy Order Price because i need it for my algorithm, and im trying to find the way by using fet

[2018-08-24 01:51] ishell opened #3722 "Bitmex make order take to time(vs the official bitmex pip)."
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Debian
- Programming Language version: Python
- CCXT version: 1.17.132
- Exchange: bitmex
- Method: create_market_buy_order

Hello, I use ccxt make bitmex order , it seems take long time to finish.
First ping from my vps to bitmex:
[code]
And here is my tes

[2018-08-24 02:03] gyjoo commented on #1392
@kroitor Hey I'm a heavy user of ccxt. I can send you keys if you still want it.

[2018-08-24 03:23] viktorius007 opened #3723 "Alternate wallet address compatibility"
- OS: Linux Debian Bionic
- Programming Language version: PHP 7.2.8
- CCXT version: 1.17.174
- Exchange: QuadrigaCX
- Method: fetch_deposit_address

This is a feature request to make ccxt identify standard & alternate wallet address formats.  The specific example/problem occurs when requesting a deposit address for BCH from QuadrigaCX, which returns an address in the new format 'bitcoincash:qcohbv

[2018-08-24 04:04] ishell commented on #3722
Above test is run on my pc, here is my test result on my vps
[code]

[2018-08-24 07:50] abrarum commented on #3711
I tried to implement the steps but it failed. I've a workaround:

Go for a Nodejs environment - I installed Nodejs-mobile-react-native library that helped me run ccxt.

[2018-08-24 08:12] imhazige opened #3724 "New Exchange: ooobtc"
need these exchange api
ooobtc
https://docs.api.ooobtc.com/

Coinbene
https://github.com/Coinbene/API-Documents/wiki/0.0.0-Coinbene-API-documents

[2018-08-24 09:01] Stock84-dev opened #3725 "Gatecoin.fetch_ohlcv close value is always null"
- OS: Windows 7
- Programming Language version: Python 3.7
- CCXT version: 1.17.174.
- Exchange: gatecoin
- Method: fetch_ohlcv

[code]
Response:

Output:

[2018-08-24 09:32] Stock84-dev opened #3726 "Unhandled exception in rightbtc.load_markets"
- OS: Windows 7
- Programming Language version: Python 3.7
- CCXT version: 1.17.174
- Exchange: rigthbtc
- Method: load_markets

Throws TypeError("argument of type 'int' is not iterable").
[code]
Output:

 GET
 https://www.rightbtc.com/api/public/trading_pairs
 {'User-Agent': 'python-requests/2.19.1', 'Accept-Encoding': 'gzip, deflate'}
 None
Response:
 GET
 https://www.rightbtc.com/api/public/tra

[2018-08-24 09:47] Stock84-dev opened #3727 "Unhandled exception in bitfinex2.fetchOHLCV"
- OS: Windows 7
- Programming Language version: Python 3.7
- CCXT version: 1.17.174
- Exchange: bitfinex2
- Method: fetchOHLCV

[code]

Output:

 GET
 https://api.bitfinex.com/v1/symbols_details
 {'User-Agent': 'python-requests/2.19.1', 'Accept-Encoding': 'gzip, deflate'}
 None
Response:
 GET
 https://api.bitfinex.com/v1/symbols_details
 200
{'Date': 'Fri, 24 Aug 2018 09:43:56 GMT', 'Content-Type'

[2018-08-24 11:14] kroitor commented on #3722
Yes – markets:

- https://github.com/ccxt/ccxt/wiki/Manual#loading-markets

You can see what it is doing by enabling the verbose mode, as documented in the Manual. You will see that for your first request it will load markets first, then the open orders.

This is not recommended, you really want to keep the rate-limiter enabled (`enableRateLimit: true`) and to tweak the `rateLimit` value instead,

[2018-08-24 11:26] #3725 closed

[2018-08-24 11:52] #3727 closed

[2018-08-24 13:25] Stock84-dev opened #3730 "Unhandled exception in fetchL2OrderBook"
- OS: Windows 7
- Programming Language version: Python 3.7
- CCXT version: 1.17.174
- Exchange: anybits, bigone, bitsane
- Method: fetchL2OrderBook

TypeError('fetch_order_book() takes from 2 to 3 positional arguments but 4 were given')

[code]

[2018-08-24 13:33] #3730 closed

[2018-08-24 14:46] thezoug commented on #3578
I have installed MSVC but beyond that I am having some trouble determining the clear and distinct steps to solve this issue. Beyond installing Visual Studio, can someone please provide explicit steps of what to do...you know...for the noobs out there...

[2018-08-24 16:56] kroitor commented on #3578
@thezoug after installing the MSVC build tools you should have a bat-script that would load the env variables, you should launch it and then try installing ccxt from within that window...

https://msdn.microsoft.com/en-us/library/f35ctcxw.aspx

Let us know if that does not help.

[2018-08-25 03:03] #3708 closed

[2018-08-25 03:29] #3726 closed

[2018-08-25 06:01] Labradors opened #3733 "bitforex post private api error, key: expected bytes or bytearray, but got 'str'"
[code]
[code]
version: ccxt==1.17.183

[2018-08-25 06:54] ElanJM commented on #3721
I don't want to get market last buy order price, i wanna get my last buy order price, that's why i use fetchOrders

[2018-08-25 08:42] xCuri0 commented on #2603
@kroitor there isn't any documentation there

[2018-08-25 08:47] abrarum opened #3734 "Error: dlopen failed.. Scrypt.node has bad ELF Magic [React-Native][Node.js][CCXT]"
- OS: Windows 10
- Programming Language version: Javascript (React Native)
- CCXT version: Latest to date
- Exchange: -
- Method: importing ccxt library

I'm integrating CCXT library in my React Native app. I've also setup the Node.js environment via "Nodejs-mobile-react-native". Now, upon importing ccxt library, my app crashes without warning. Upon looking at adb logcat, I found this hidden error

[2018-08-25 08:49] xCuri0 opened #3735 "fetchOrder price is 0.0 cobinhood"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu 16.04
- Programming Language version: Python 3.5.2
- CCXT version: master
- Exchange: cobinhood
- Method: fetchOrder

When using fetchOrder on cobinhood the price key is 0.0 instead of the price the order was placed at

[2018-08-25 09:30] firepol commented on #1896
Hi kroitor,

In python, `type` is the name of a built-in, so I think it's a good idea not to use that name that overrides the build-in and stick to `side`. This should not be a problem if you use it inside a json as it seem to be the current usage, but it can be confusing as all methods will use "side" and in the json it's not side but type. Also people are used to side for buy/sell, so why not al

[2018-08-25 14:32] kroitor commented on #3703
It is written in the Manual that exchanges won't allow you  to fetch all the market data in too many simultaneous code. So, if the exchange has 1000 symbols and you're trying to fetch 1000 orderbooks at once – this won't work due to rate limits: https://github.com/ccxt/ccxt/wiki/Manual#rate-limit. So, they might ban you if you're too aggressive on their API – let's first make sure that you do unde

[2018-08-25 14:34] kroitor commented on #3703
Second, there's a syntax error here:

[code]

[2018-08-25 14:42] kroitor commented on #3734
Looks like you've built the CCXT library for the host system, and trying to link it with the android, therefore it fails. This is a common issue with wrong compilation settings, however, it is outside of the scope of the library.

A quick googling of the subject yields quite a lot of similar results, that indicates that this isn't the issue with the library itself, it is more an issue with your pr

[2018-08-25 14:42] #3734 closed

[2018-08-25 14:44] thomas-leeee commented on #3703
Yes I am aware of this limitation coming from exchange. But the i am trying to get the fastest rate possible: let say exchange give me 1200 calls per minute and has 1200 coins I should be able to fetch all in about a minute???

Currently my async method with the for loop is not really async if you know what I mean.

But in any case, rate limiting issue should be handled by ccxt and not by me. And

[2018-08-25 14:47] #3733 closed

[2018-08-25 14:54] kroitor commented on #3703
Yes.

It is handled either by CCXT or by you – the choice for it is optional and also up to you. The built-in rate-limiter in CCXT works as described in the docs. Moreover, the same Manual describes controls for the built-in rate limiter that does that handling for you, like `enableRateLimit`, `rateLimit` options and even `tokenBucket`. However, without a proper configuration for rate-limiter sett

[2018-08-25 15:02] kroitor commented on #3721
@ElanJM can you please show verbose output of that order, as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[code]

And dump the order here, without your credentials (we don't need them).

[2018-08-25 15:03] kroitor commented on #3721
@ElanJM can you please show verbose output of that order, as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[code]

↑ ... and dump the order here, without your credentials (we don't need them).

[2018-08-25 15:17] kroitor commented on #1896
because

)

[2018-08-25 15:50] kroitor commented on #1896
P.S. Of course, the `type` field itself is also used with orders (`limit`, `market`), so it's not the best name for it either. We were also thinking of calling it `direction`, however, we ended up with `type` for now as we think it would be semantically close to what exchanges themselves reply with.

[2018-08-25 15:52] ElanJM commented on #3721
`exchange = getattr(ccxt, exchange_used)({
        'apiKey': api_key,
        'secret': api_secret,
        'enableRateLimit': True,
    })

    exchange.verbose = True

    orders = exchange.fetchOrders(symbol = market_symbol)
    print (orders)

    time.sleep(2)`

this is what i get in the info section

`[{'info': {'symbol': 'XLMBTC', 'orderId': 45913361, 'clientOrderId': 'Ek6n1Nrkn3O2pxWLSYsAI

[2018-08-25 15:58] kroitor commented on #3721
@ElanJM ok, as you see from the `info` (it contains the reply from the exchange as is, untouched by us), Binance will not report the price for a market order. If you think more of it, you can't really get the price for a market order, you can only get the average filling price, which is not reported by binance either – you will have to fetch your personal trades or to fetch the order trades if you

[2018-08-25 16:15] kroitor commented on #3721
@ElanJM i've added a workaround for it, so if you update to version 1.17.186 you will be able to access the price for your market orders with Binance. Let me know if that does not help.

[2018-08-25 18:24] Cleric334 opened #3737 "Newer versions of ccxt on x86"
Hello.

I have been having troubles recently running newer versions of ccxt on a x86 (win 7) machine.
Using a JS version, running node.js

What could be the case here? Maybe ccxt uses a newer version of node, which is not supported on x86 architecture anymore?

Is there a way I still can run ccxt on x86?

Thanks in advance.

[2018-08-25 21:36] fedecaccia opened #3738 "Bitfinex DDOS protection using client.rateLimit"
- OS: Linux
- Programming Language version: Python
- CCXT version: last
- Exchange: Bitfinex
- Method: rateLimit

I always pause my algorithm for client.rateLimit before fetch orderbooks.
Using that with bitfnex is not working, since I get Error by DDOS Protection.

[2018-08-25 21:38] kroitor commented on #3738
Bitfinex has varying rate limits that depend on the endpoints in question. Which particular methods do you use? Any code to reproduce the issue?

Also, have you read this?

- https://github.com/ccxt/ccxt/issues/3175
- https://github.com/ccxt/ccxt/issues/3175#issuecomment-398205651

[2018-08-25 21:57] fedecaccia commented on #3738
The method I'm using is fetchOrderBook("XXX/YYY"). Thanks!

[2018-08-25 22:01] kroitor commented on #3738
@fedecaccia have you seen their docs on that?

![bitfinex-orderbook-ratelimit](https://user-images.githubusercontent.com/1294454/44622946-82239e80-a8cb-11e8-9541-dfe316531396.jpg)

Can you post a short but a complete snippet of code to reproduce the issue?

[2018-08-26 00:15] fedecaccia commented on #3738
I'm also having this error (with the same code):

ccxt.base.errors.RequestTimeout: bitfinex GET https://api.bitfinex.com/v1/book/BATBTC HTTPSConnectionPool(host='api.bitfinex.com', port=443): Read timed out. (read timeout=10)

[2018-08-26 03:14] Labradors commented on #3733
can you help me ? the error happen there.
[code]
the secret must bytes or bytearray, but when i convert str to bytes, it show must encode hash before.

[2018-08-26 17:02] arielorvits opened #3740 "bitforex fetchBalance() missing "free", "used" and "total" properties."

[2018-08-26 17:17] #3740 closed

[2018-08-27 00:29] ElanJM commented on #3721
i use fetchMyTrades() and it give me good results

[2018-08-27 01:09] ElanJM commented on #3721
what i'm having trouble now is to just call the 'price'only. can you help me?

[2018-08-27 01:13] arielorvits opened #3742 "new exchange: uex"
API: https://download.uex.com/doc/UEX-API-English-1.0.3.pdf
URL: https://www.uex.com/index.html

[2018-08-27 01:25] arielorvits commented on #3742
oops... sorry

[2018-08-27 01:34] ElanJM commented on #3721
Thankyou so much for your help sir

[2018-08-27 03:10] #3735 closed

[2018-08-27 03:55] #3738 closed

[2018-08-27 03:56] kroitor commented on #3738
You have seen that recently... and...? ) Ok, let's clarify this ) When I ask "have you read that?" I actually mean "you should go and read that link carefully and try what's written there", so what I really expect from you is "yes, I have tried that and here are my results: ...".

Once again, actual Bitfinex rate limits don't correspond to their documented rate limits. Most often their actual rate

[2018-08-27 04:54] #3719 closed

[2018-08-27 07:35] xCuri0 opened #3744 "Multiple URLs on the website used for API"
Hi I'm trying to add unofficial trading support for CoinExchange. I have found out the trade API is at https://coinexchange.io/ like (https://www.coinexchange.io/delete/market/order) while the public API is at https://www.coinexchange.io/api/v1/ (like https://www.coinexchange.io/api/v1/getorderbook?market_id=1).

What should I do like this as I need to support both in my unofficial implementation

[2018-08-27 09:50] npomfret opened #3746 "bitflyer markets are missing baseId and quoteId fields"
For example:

[code]

[EDIT] ... I now see that they are missing missing from most implementations.  Is that expected?

[2018-08-27 14:36] fedecaccia commented on #3738
Sorry, I haven't explained myself. Yes, I searched that documentation and I tested the rate limits they published for two or three different methods. I haven't put all in the example code above to the sake of simplicity (I just used the rateLimit property of the client). The thing is that, after a while, I always get a DDOS Protection error. I'm going to try with a rateLimit = 3000 ms. Thanks!

[2018-08-27 15:02] AlekFranco opened #3747 "New Exchange: https://pro.coins.asia"
Exchange: Coins Pro Ph
URL: https://exchange.coins.asia   or   https://pro.coins.asia/

it's the only local crypto exchange currently operating in the philippines. including it in your great api would help a lot of developers in the country.

much appreciated.

[2018-08-27 15:35] steeply opened #3748 "install error ENOGIT"
- OS:  Windows
- Programming Language version: node.Js 10.9
- CCXT version: 1.17.*

Installation error appeared

[code]
In version 1.16.*, this was not

[2018-08-27 18:06] kroitor commented on #3748
You will need `git` installed: https://www.google.ru/search?q=npm+enogit, basically, the question is answered on Google a gazillion times. )

[2018-08-27 18:06] #3748 closed

[2018-08-27 21:58] Fransenson commented on #3710
Still nothing. Some tries to google the libstdc++ issue did not yield results for me. Any more ideas?

[2018-08-27 22:33] kroitor commented on #3744
Hi! See these examples and links on combining official APIs with unofficial web endpoints:

- https://github.com/ccxt/ccxt/blob/master/js/binance.js#L52
- https://github.com/ccxt/ccxt/blob/master/js/binance.js#L68
- https://github.com/ccxt/ccxt/blob/master/js/kraken.js#L47
- https://github.com/ccxt/ccxt/blob/master/js/kraken.js#L141
- https://github.com/ccxt/ccxt/blob/master/js/bittrex.js#L42
- ht

[2018-08-27 22:44] kroitor commented on #3746
Mostly, yes, because we've started adding baseId and quoteId not very long ago. You should not rely on the fields that aren't documented in the Manual, really. We hope to add them throughout the entire library, everywhere, if possible. Added them to bitflyer as well. Let us know if that does not answer the question.

[2018-08-27 22:44] #3746 closed

[2018-08-27 23:08] #3710 closed

[2018-08-27 23:16] kroitor commented on #3710
@Fransenson i suggest to first try installing it without `cchardet` to see if it works for you. I've uploaded version 1.17.198 without that dependency. If you retry `pip install ccxt` it should run normally now (make sure the version it is trying to install is indeed 1.17.198).

Let me know if that does not solve the issue for you. We'll be happy if you report back anyways, whether it did work or

[2018-08-27 23:25] #3744 closed

[2018-08-28 01:59] JacobM903 opened #3749 "bitstamp.parse_trade not parsing trades correctly"
- Programming Language version: Python 3.6
- CCXT version: 1.17.197
- Exchange: Bitstamp
- Method: bitstamp.parse_trade isn't handling the trades correctly

Using fetchMyTrades with Bitstamp doesn't return values consistent with other trades. Bitstamp API returns includes deposits in the endpoint that ccxt posts to to request trades. e.g. we might receive a value from Bitstamp that looks like

[co

[2018-08-28 05:18] Labradors opened #3750 "How to get all orders for huobipro one day?"
[code]
but the order num only 100.

[2018-08-28 05:51] kroitor commented on #3750
All timestamps are in **milliseconds**! Please read the Manual from the very beginning to the very end carefully, all of that is written there:

- https://github.com/ccxt/ccxt/wiki/Manual#pagination
- https://github.com/ccxt/ccxt/wiki/Manual#working-with-datetimes-and-timestamps
- https://github.com/ccxt/ccxt/wiki/Manual#date-based-pagination

[code]

↑ this is pseudocode, it might require some ed

[2018-08-28 05:51] #3750 closed

[2018-08-28 09:47] npomfret commented on #3746
Thank you

[2018-08-28 10:58] josemejiasji commented on #2968
+1

[2018-08-28 11:18] ongkhua opened #3751 "DSX exchange using NodeJS 8.x raises SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure error"
- OS: Windows 10
- Programming Language version: JS
- CCXT version: 1.17.199
- Exchange: DSX
- Method: run-test.js

When using nodejs version 8.9 , 8.10, 8.11 (LTS), running run-test.js on dsx will raise "SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure" error.  This error does not happen when using the latest version 10.x of nodejs.

I'm posting this so that anyone trying to work on DSX excha

[2018-08-28 11:26] ongkhua commented on #1732
anyone working on this ?

[2018-08-28 11:28] ongkhua commented on #2842
@kroitor I'm willing to contribute, but I'm more of a PHP guy than JS.  I understand that your code has to be written in JS then transpiled toPHP and Python, is that right ?

[2018-08-28 15:09] Crimees opened #3753 "Asyncio not asynchronous ?"
- OS: Mac
- Programming Language version: Python 3.6
- CCXT version: latest
- Exchange: Binance & Bittrex
- Method: create_limit_order

The program I'm building requires 2 orders being sent in succession. (i.e 2 REST API calls being sent one after the other, and results following thereafter)

Using the asyncio library, the calls block the main thread whilte waiting for the response. This defeats t

[2018-08-28 15:30] Labradors commented on #3750
thank

[2018-08-28 15:42] Crimees commented on #3753
I have changed my code to

[code]

and it seems to work ! This can be closed

[2018-08-28 15:42] #3753 closed

[2018-08-28 17:41] devcon14 commented on #3719
Thanks again for the quick response.
Constantly amazed at your work rate on this project!

[2018-08-28 18:55] cristianm opened #3755 "HitBTC fetchMyTrades returns negative value for cost"
- OS: Windows / Linux
- Programming Language version: Node 10.8.0
- CCXT version: 1.16.21
- Exchange: hitbtc2
- Method: fetchMyTrades

HitBTC returns negative value for cost {"cost":-0.0020361,"currency":"USDT"}

[2018-08-29 04:56] jbb100 opened #3758 "Bitmex create_order works on testnet but mainnet"
Hi,
I tested my code using "create_order" function on Bitmex testnet,
but it's now worked on mainnet.

I called "create_order" like below.

**order = exchange.create_order('BTC/USD', 'market', 'sell', amount, None, {})**

And I got an error code like below.

**Traceback (most recent call last):
  File ".../site-packages/ccxt/base/exchange.py", line 391, in fetch
    response.raise_for_status()
  F

[2018-08-29 05:03] kroitor commented on #3758
@jbb100 does any private api call work for you with that key? Also, can you please post your instantiation code and verbose output (without your keys), as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-08-29 05:14] jbb100 commented on #3758
Yes, It's well working for fetch_balance.

[code]

[code]

[2018-08-29 05:17] kroitor commented on #3758
@jbb100 which permission is set on the key (see checkboxes in bitmex apikey settings):
-`create order`
- or `cancel order`?

[2018-08-29 05:29] phamhere commented on #3520
OS: macOS HIgh Sierra 10.13.16
Programming Language version: js, node v8.11.3, npm v6.4.0

[code]

There is something odd with my configuration I guess and I'm not sure how to fix it. I'll keep looking around but if there are any solutions for mac instead of linux, please feel free to help me out.

[2018-08-29 05:32] kroitor commented on #3520
@phamhere https://stackoverflow.com/a/10358412/5055465

[2018-08-29 06:33] philipperemy opened #3759 "Exmo partial fill is considered as full fill."
When calling fetch order on Exmo on a partially filled order, CCXT seems to be tricked. It thinks the order is fully filled.

Order was a limit on 0.5 BTC.

[code]

Response for fetch order on exmo seems to be a long list rather than a single order. So it might actually explain why.

- OS: Linux
- CCXT version: 1.17.174 (very recent one given the fact that no code was updated for the past 2 months

[2018-08-29 08:31] npomfret opened #3760 "suspect ticker volume for ZB exchange is not in base currency"
I noticed that the volumes presented in the ticker results for zb exchange are extremely high.   The example below for _QTUM/BTC_ shows a volume of 6854783.  I was under the impression that ticker volumes were all _supposed_ to be in the unit of the base currency, and if so then this exchange is trading like 41 billion dollars with of QTUM per day.  Which doesn't sound right.  Maybe we need to mul

[2018-08-29 09:28] npomfret commented on #3624
@kroitor did you get round to fixing the mapping of BTC/XBT in the coinfloor implementation?

[2018-08-29 10:23] hems opened #3761 "Implement Ethfinex dEx API"
Hello Guys,
I noticed EthFinex is listed among the supported exchanges but unfortunately CCXT isn't 100% compatible with the current implementation.

Some of the functionalities such as fetching OHLCV indeed should come from Bitfinex, but some of the functionality / concepts are new and must still be implemented on CCXT, I would like to provide some information and help implementing such functiona

[2018-08-29 10:35] kroitor commented on #3761
Hi! And welcome )

You're absolutely correct, it requires a rewrite.

Thx for explaining the differences. We're aware of them, because the reservation sequence you described is common to most DEXes.

See, for example, the implementation of The Ocean, we do the signing with privateKey for it:

- https://github.com/ccxt/ccxt/blob/master/js/theocean.js
- https://github.com/ccxt/ccxt/blob/master/pytho

[2018-08-29 10:41] kroitor commented on #3759
@philipperemy it looks like an order with one filling trade to me:

[code]

How do you tell it's open?

[2018-08-29 11:00] philipperemy commented on #3759
@kroitor Hum, ok then it's my mistake. Thanks :)

[2018-08-29 11:00] #3759 closed

[2018-08-29 11:02] hems commented on #3761
@kroitor thanks for such fast reply.

I'm having a look at the "createOrder' function which receives `walletAddress` and `privateKey`, I think some users would be okay with providing their private key but other users would likely prefer to simply sign the payloads themselves ( for instance provided pre-signed payloads or a custom sign function), is that something you guys considered?

Regarding th

[2018-08-29 12:53] scottie commented on #1772
bitshares/cryptobridge api is horrid, adding bitshares/cryptobridge is no trivial task.
Good luck with your attempt.

[2018-08-29 18:03] munrocket opened #3764 "Move from node-gyp to cmake.js"
Node-gyp is not support python 3 at least 10 years. And why we use it in 2018?
Maybe [cmake-js](https://github.com/cmake-js/cmake-js) is better?
All packages that depend on ccxt have problems with installation now under windows.

[2018-08-29 18:40] munrocket commented on #3764
Ok it seems that node-gyp uses by web3. I created same issue [there](https://github.com/ccxt/ccxt/issues/3764), you can comment it or push like button.

[2018-08-29 18:40] #3764 closed

[2018-08-30 00:30] kroitor commented on #3761
Yes, we have considered this. However, we haven't unified it yet, because most often the library will be used within an algotrading environment, where you would still keep the keys on the trading system. Of course, you may want to do deferred or delegated signing, if you don't possess the private key – in that case a remote side would sign the request for you and you'd then send it towards the DEX

[2018-08-30 00:42] kroitor commented on #3760
In the code section you have QTUM/BTC, then you say:

Which is a bit confusing. We should first decide which one it is, QTUM or DASH )

Yep, the `baseVolume` shows the volume in base currency, `quoteVolume` shows the volume in quote currency.

But anyways, if we look at the output for QTUM above, it shows a base volume of 6854783.43 QTUM:

https://github.com/ccxt/ccxt/wiki/Manual#consistency-of-ba

[2018-08-30 00:42] #3760 closed

[2018-08-30 01:03] #3755 closed

[2018-08-30 01:29] kroitor commented on #3761
Great! )

Yep, see here:

- https://github.com/ccxt/ccxt/blob/master/js/bitmex.js#L36
- https://github.com/ccxt/ccxt/blob/master/js/gdax.js#L39
- https://github.com/ccxt/ccxt/blob/master/js/test/test.js#L213

Basically, we can define as many base URLs as we want and we can combine them how we want, so I don't expect any problems wrapping Ethfinex as well )

[2018-08-30 01:44] hems commented on #3761
how does it knows if it should use a "test net" url or a "production" url? is there some sort of "NODE_ENV" variable that is "standard" on ccxt or shall we just pass an "network-id" as parameter on the constructor ?

I have copy and pasted and modified a bit a very very dirty "createOrder" and "submitOrder" method on my fork: https://github.com/hems/ccxt/commit/de8a99bbe375f371df86356cd92cbb34a56b

[2018-08-30 01:50] hems commented on #3761
@kroitor i can see on test/test.js that if "urls['test']" is defined it replaces the 'api' value, but how do we defined if we will be running CCXT in 'test' mode? Is there a flag/option somewhere?

I'm guessing we would have urls specified in this way....?

[code]
?

[2018-08-30 02:03] kroitor commented on #3761
There's two possible scenarios:
- The user wants to switch to the testnet url – that is done via constructor params or afterwards with exchange properties, documented in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#exchange-properties. In this case the user sets the properties when and how he wants, in runtime, in userland logic.
- The exchange implementation has to decide which URL to sen

[2018-08-30 02:08] kroitor commented on #3761
We always have URLs specified as documented in the Manual, namely, the `exchange.urls['api']` property will be in one of the following formats:

- Easy: `urls: { api: "http://foo.bar" }`

- Complex:

[code]

[2018-08-30 02:08] hems commented on #3761
@kroitor so the strategy would be to "copy" part of the source of the 0x.js library and if needed port that part of the code to Python and PHP ?

Can an exchange implementation make to ccxt's master in case there is only one implementation working, for instance the node.js one?

[2018-08-30 02:17] kroitor commented on #3761
Well, yes, however, "copying" just "a part of" 0x.js sounds easier said than done ;) As for porting – that may be even harder that stripping some code from js only. Also, most likely, we will have to get an `async sign()` declaration in ccxt base code as well. But we will do that sooner or later anyways (hopefully. sooner).

In most cases we prefer to have portability throughout the lib, but in ra

[2018-08-30 02:48] hems commented on #3761
@kroitor thanks for the info.

i'll start a PR soon and we can take it from there. Regarding importing 0x.js i believe the trade-off might be worthy as probably more and more exchanges will rely on 0x in the future.

In case you guys decide against adding 0x.js to package.json ( seems like the ideal situation from ccxt point of view ) we would need to port a few things which doesn't seem to be so

[2018-08-30 04:16] phamhere commented on #3520
@kroitor Thank you for the link! I checked it out and installed Xcode and made sure the command line tools were there just like in the stackoverflow link. I changed the following:
[code]
Still I keep having that error. I think I might have messed up things more with that command but I don't know. I'll keep looking around for more solutions. If this helps I'll post the full error:
[code]

[2018-08-30 04:39] kroitor commented on #3520
@phamhere

↑ This is strange. Looks as if Anaconda Python overrides the built-in system python... You should check the env PATH to see if the path to the anaconda python comes before the built-in. Also, you can try installing `sudo npm install scrypt` first (can make a difference sometimes depending on the env setup).

[2018-08-30 04:50] phamhere commented on #3520
Thank you for the fast response again @kroitor. I tried the `sudo npm install scrypt` which gave the same error unfortunately. I'll try to look into the Anaconda Python pathing but I really don't know what I'm doing when it comes to env PATH.

[2018-08-30 05:26] kroitor commented on #3761
Not ported yet, but should be pretty easy to port.

Ported already, in CCXT codebase.

Also ported already, in CCXT codebase.

We have a sync version of it that uses privateKey, but will add the async version as well, so, yes, almost ported already, as well.

;)

[2018-08-30 12:19] xeno14 commented on #3582
I can take this issue.

BTCBOX now serves ticker for a currency and all tickers is no longer available. In this case, should we remove fetchTickers method? Or could we call fetchTicker for each currency (I don't see such implementation though).

[2018-08-30 12:41] Esc4pism opened #3766 "1broker commonCurrency DOW (crypto, forex, index & stock markets)"
https://1broker.com/?c=de/content/api-documentation

"DOW": "Dow Jones" (or "Dow Jones 30 Industrial"?) should be added to commonCurrencies for 1broker. Could be mistaken with the DowCoin (DOW) https://coinmarketcap.com/de/currencies/dowcoin/.

https://1broker.com/?c=de/content/markets
They list crypto, forex, stock and index prices, in the current implementation there is no distinction between th

[2018-08-30 14:04] alexsharabayko opened #3767 "Library doesn't work at js webworker context"
When you try to require ccxt at the webworker context, there is an error "window is not defined"

[2018-08-30 16:01] kroitor commented on #3582
Yep, unfortunately.

No, we stick to one http request per unified method call at most, so, in this case it is much better to set `fetchTickers` to false explicitly, and let the user call `fetchTicker` as many times as he wants for as many pairs as needed, in userland.

[2018-08-30 16:03] kroitor commented on #3767
@alexsharabayko can you plz make a snippet that I could use to reproduce the bug or a demo-repo with a showcase of the issue? That would be very helpful, we could then resolve it sooner.

[2018-08-30 17:35] macd2 commented on #7
Hey there,
how can one fetch two correctly with asyncio
i need orderbook and ticker.

I used the boilerplate fro python and asyncio from the examples but it wont work. Is there an example how to do this?

thanks

[2018-08-30 20:02] milind321 opened #3768 "WRONG FUTURE DATA"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2018-08-30 20:34] milind321 commented on #3768
Spot data is showing instead of future data........

![2018-08-31 4](https://user-images.githubusercontent.com/32493476/44877556-f4c4bd80-acc1-11e8-9045-09fdfa47b9e4.png)
![2018-08-31 3](https://user-images.githubusercontent.com/32493476/44877619-23429880-acc2-11e8-89c8-0e668a900d70.png)

[2018-08-30 20:36] milind321 commented on #3768
I have tally it from the exchange website

[2018-08-30 22:08] dmittal3 opened #3769 "Ability to fetch transaction history php page (similar to 'binance-fetch-balance.php')"
Hi @kroitor ,
I see that under the hood 'fetchTransactions' functions are being built.
Is the work on fetching entire transaction history completed now for all the exchanges?

How can I fetch transaction history from any exchange via php page?
Reason is, I will be loading this from unix command prompt using:
'php -f /home/var/www/html/websiteaddress/**binance-fetch-transactions.php**'

I want to u

[2018-08-30 23:53] hems commented on #3761
@kroitor that's amazing to hear! you guys are really ahead on this game!

Will prepare a PR without 0x.js as dependency and we can start using those

[2018-08-31 00:34] fsarihan opened #3770 "Can we change ip address for request"
in the request library on npm we can change ip address with localAddress parameter you known, can we change in here?
- OS: Centos7
- Programming Language version: Node.JS latest
- CCXT version: latest
- Exchange: Bitfinex
- Method: All

[2018-08-31 03:49] #3768 closed

[2018-08-31 04:28] kroitor commented on #3770
Yes, you can overide everything, as described here: https://github.com/ccxt/ccxt/issues/2480#issuecomment-379309437

[code]

Let us know if that does not answer your question.

[2018-08-31 04:28] #3770 closed

[2018-08-31 09:02] alexsharabayko commented on #3767
@kroitor when i include ccxt in webworker bundle:
`import {binance, bitfinex, bitmex, bittrex, cex, coinbase, cryptopia, Exchange, hitbtc, huobipro, kraken, okex, poloniex} from "ccxt";`
There are a lot of places with 'window' word like these:
`if(typeof window === "object")
		g = window;`
or
`module.exports = window.crypto`
or
`if(typeof window.Promise === 'undefined'){`
and code like this throw

[2018-08-31 09:04] alexsharabayko commented on #3767
Now exception throws in place
`module.exports = __webpack_require__(271)(window, loadImplementation)`

[2018-08-31 10:38] alexsharabayko commented on #3767
I also noticed, that `window` comes from third party libraries. For example **web3** use window keyword and it uses **any-promise** library that use window too.

[2018-08-31 13:57] angyvolin opened #3773 "Fix fetchMarkets() response for kuna exchange REM/ETH pair"
- OS: OS X
- Programming Language version: PHP
- CCXT version: 1.17.212
- Exchange: kuna
- Method: fetchMarkets

[code]

One can see quote, base, symbol etc are broken.
Closed by #3772

[2018-08-31 13:58] #3773 closed

[2018-09-01 02:54] kroitor commented on #3582
Fixed in #3771, thx to @xeno14 !

[2018-09-01 02:54] #3582 closed

[2018-09-01 07:32] ramoslin02 opened #3775 "how can I change the huobi pro's url to hbg.com"
the huobipro's url is block in China, how can I change the url to it's new url, so that I change visit in China ?Thanks

[2018-09-01 07:53] #3775 closed

[2018-09-01 10:41] adi90x commented on #3755
Hello ,
I am not sure it is an error, on Hitbtc maker fees are negative : You earn money instead of paying a cost !

[2018-09-01 10:47] kroitor commented on #3755
Indeed, @adi90x is right:

<img width="1067" alt="screen shot 2018-09-01 at 13 45 15" src="https://user-images.githubusercontent.com/1294454/44945243-8d0b9100-aded-11e8-8bbb-b43691bde9bc.png">

[2018-09-01 12:13] xCuri0 opened #3776 "Poloniex edit order crashes"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu 16.04
- Programming Language version: Python 3.5.2
- CCXT version: master
- Exchange: Poloniex
- Method: editOrder

Using editorder on Poloniex causes ```ccxt.base.errors.OrderNotFound: poloniex {"error":"Invalid order number, or you are not the pers

[2018-09-01 12:30] xCuri0 commented on #3776
@kroitor
[code]

[2018-09-01 12:34] kroitor commented on #3776
@xCuri0 it says, the order is canceled ?

[2018-09-01 12:37] xCuri0 commented on #3776
@kroitor but really it isn't when I check the web interface or fetchOpenOrders()

[2018-09-01 12:39] kroitor commented on #3776
@xCuri0 but Polo says it is: `{"error":"Invalid order number, or you are not the person who placed the order.","success":0}`... Can you show `fetchOpenOrders` output as well (not `fetchOrder`) ?

[2018-09-01 12:41] xCuri0 commented on #3776
@kroitor
[code]

[2018-09-01 12:42] kroitor commented on #3776
@xCuri0 yeah, it still shows it as open, will need some time to look deeper into it.

[2018-09-01 12:49] kroitor commented on #3776
@xCuri0 can you plz show the state of your `.orders` cache as well?

[code]

For some reason there's a misinterpretation of the `status` there...

[2018-09-01 12:50] kroitor commented on #3776
@xCuri0 can you cancel that order from web interface, btw?

[2018-09-01 13:17] xCuri0 commented on #3776
@kroitor I can from the web interface and CCXT and I have trading permission enabled (I can create orders also)

[code]

I never canceled an order though and the real one is 15406794

[2018-09-01 13:33] kroitor commented on #3776
Yes, but for some reason, Poloniex does not report that order 15406794 in the fetchOpenOrders – so, it's not in the open orders anymore. Is it the order you're trying to edit? It can be filled already.Have you read about the inner workings of the `.orders` cache? The `status` of that order may be `canceled` indeed, if the order was not filled and is not in the open orders anymore.

- https://githu

[2018-09-01 13:42] sajipitz opened #3777 "Bibox fetch ticker function returns percentage in string format whereas other exchanges return it in float format."
Bibox fetch ticker function returns percentage in string format whereas other exchanges return it in float format.

Line 203:   method: parse_ticker()

'percentage': self.safe_string(ticker, 'percent')

- OS:  Linux
- Programming Language version: Python 3.6+
- CCXT version: Latest
- Exchange: Bibox
- Method:  parse_ticker

[2018-09-01 13:45] #3777 closed

[2018-09-01 13:56] sajipitz commented on #3777
I think Bibox exchange provides percentage value with '%' & '+/-' notations. So direct float conversion will work only if you strip those characters and cast to float.

Bibox >> UPPBIX >> -7.20%
Bibox >> BTMBIX >> +5.41%

[2018-09-01 14:46] xCuri0 commented on #3776
@kroitor It seems like I have to set order to the return value of editOrder. After doing that it doesn't crash anymore. Poloniex seems to give a new ID when you edit the order unlike other exchanges

[2018-09-01 14:46] #3776 closed

[2018-09-01 15:42] icehacker33 opened #3780 "Deribit - Stop-Limit Orders"
- OS: Linux
- Programming Language version: JavaScript
- CCXT version: 1.17.221
- Exchange: Deribit
- Method: createOrder

Is it possible to create "stop_limit" orders in Deribit? I tried using type = "stop_limit" without success.

I tried to use something alon the lines of the code below and did not work.

[code]

Thanks

[2018-09-01 22:59] thezoug opened #3781 "fetchOHLCV for different date ranges?"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: Python 3
- CCXT version: 3.5.2
- Exchange: bitmex
- Method: fetchOHLCV

Goal: populate a database with historical granular OHLCV data - I would prefer to have data by the hour going back as long as I can, really.

[2018-09-02 07:27] icehacker33 opened #3782 "Deribit - fetchOrder does not work properly"
the fetchOrder method does not work properly in Deribit.

I have tried calling the function with and without the market parameter

**Example 1**
`deribit.fetchOrder("7135970079")`

**Example 2**
`deribit.fetchOrder("7135970079","BTC-PERPETUAL")`

**Error:**
[code]

OS: Linux
Programming Language version: JavaScript
CCXT version: 1.17.221
Exchange: Deribit
Method: createOrder

[2018-09-02 07:33] kroitor commented on #3781
Hi!

The above aspect is documented here:

- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params
- https://github.com/ccxt/ccxt/wiki/Manual#pagination

Basically, you will have to either use datetime-based pagination or use other types of pagination + params overrides to traverse the available history of OHLCVs.

Let us know if that along with other mentions of OHLCV in the Manu

[2018-09-02 07:33] #3781 closed

[2018-09-02 07:59] oppure opened #3783 "Why not make parse_order_book return also the number of orders when available?"
Hi
coinbasepro api call [GET /products/\<product-id\>/book](https://docs.pro.coinbase.com/#get-product-order-book) returns also the number of orders for each bid/ask price, this information can be useful, wouldn't it be worth considering to modify the parse_order_book and fetch_order_book functions to return also the number of orders when it's available?

[2018-09-02 08:37] icehacker33 commented on #3782
@kroitor I get the following verbose error.

I can see the order in my dashboard and also using Deribit´s API web client, but not with CCXT as I´m getting this error.

[code]

[2018-09-02 08:40] kroitor commented on #3782
@icehacker33 ok, will look into it further and will get back to you on this asap.

[2018-09-02 08:41] icehacker33 commented on #3782
@kroitor many thanks, much appreciated.

[2018-09-02 09:02] alexsharabayko commented on #3767
Hi, i decided this problem by replacing at the final bundle all 'window' to 'self'. It can be done by webpack plugin or something similar.

[2018-09-02 09:02] #3767 closed

[2018-09-02 09:04] kroitor commented on #3767
@alexsharabayko thx for reporting back!

[2018-09-03 00:44] alexeymarunin opened #3784 "Binance, error -1104"
- OS: MacOS
- Programming Language version: JavaScript
- CCXT version: 1.17.222
- Exchange: Binance
- Method: createOrder

[code]

Just for remember, it is quite specific error

[2018-09-03 00:59] alexeymarunin commented on #3784
It happens when uses unknown fields in `params` parameter in `createOrder`
Allowed fields - https://github.com/binance-exchange/binance-official-api-docs/blob/master/rest-api.md#new-order--trade

[2018-09-03 01:43] #3784 closed

[2018-09-03 02:18] DisasterFaster opened #3785 "Update exchanges for PWR Coin"
After contacting support I received an email asking me to submit the following issue here:

Can you please add the markets for PWR Coin here https://coincheckup.com/coins/powercoin/markets

Market 1 – Crex24 – https://crex24.com/exchange/PWR-BTC
Market 2 – CryptoHub – https://cryptohub.online/market/PWR/

Thank you!

[2018-09-03 02:26] #3785 closed, assigned to kroitor

[2018-09-03 02:34] kroitor commented on #3783
Hi!

Please, read this: https://github.com/ccxt/ccxt/issues/36

Other exchanges may return a timestamp as the third argument. Some others also return an order id instead of count, depending on the aggregation level. The order count, for example, is only relevant to aggregated orderbooks. Thus, having an order count as third argument (blindly) would yield a conflict with different exchanges, if not

[2018-09-03 02:34] #3783 closed

[2018-09-03 04:54] xCuri0 opened #3786 "Poloniex editOrder crashes if remaining is less than minimum trade amount"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu 16.04
- Programming Language version: Python 3.5.2
- CCXT version: master
- Exchange: Poloniex
- Method: editOrder

Error is ```ccxt.base.errors.InvalidOrder: poloniex {"success":0,"error":"Total must be at least 1."}```

[2018-09-03 05:35] ongkhua commented on #2842
@kroitor I have implemented a bunch of basic functions for DSX v2, I have run lint and npm build, and tested js, and the generated php and python using your run-tests.js script, all testing show OK.

Here comes the noob question, sorry I haven't used Github before.
How do I create a branch?  I should have a branch then create a pull request, right ?

[2018-09-03 05:45] kroitor commented on #2842
@ongkhua

- https://github.com/ccxt/ccxt/issues/824#issuecomment-350720844
- https://github.com/ccxt/ccxt/issues/2300#issuecomment-374008877

The workflow is:

1. You fork this repository on GitHub
2. Clone your fork from your GitHub to your working directory
3. Add your edits there
4. Push your edits to your GitHub fork
5. You will see a "Create a pull request" button in your forked repo on GitHu

[2018-09-03 05:50] kroitor commented on #3786
This is the issue with Polo limits, as described here:

- https://github.com/ccxt/ccxt/issues/2706#issuecomment-390529874

Duplicate:

- https://github.com/ccxt/ccxt/issues/3706

I suggest to move this discussion to #3706, if you don't mind.

[2018-09-03 05:50] #3786 closed

[2018-09-03 05:53] kroitor commented on #3706
Hi!

This is the issue with Polo limits, as described here:

- https://github.com/ccxt/ccxt/issues/2706#issuecomment-390529874

Duplicate:

This is the issue with Polo limits, as described here:

- https://github.com/ccxt/ccxt/issues/2706#issuecomment-390529874

Duplicates:

- https://github.com/ccxt/ccxt/issues/3786
- https://github.com/ccxt/ccxt/issues/3688
- https://github.com/ccxt/ccxt/pull/30

[2018-09-03 09:11] maverickPIG opened #3787 "bitz 502 not accessible"
**bitz has change api url, all method return 502 not accessible ...**

ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: centos 7.4
- Programming Language version: php
- CCXT version: 1.17.214
- Exchange: bitz
- Method: all method

[2018-09-03 09:12] kroitor commented on #3787
Duplicate: https://github.com/ccxt/ccxt/issues/3650

[2018-09-03 09:12] #3787 closed

[2018-09-03 09:26] xCuri0 commented on #3786
@kroitor I set amount to None though and looking at the ccxt source it doesn't send amount if its None so I think its an issue on Poloniex's end

[2018-09-03 11:39] ElanJM commented on #3721
Hello sir, i was putting that code to my Trading bot, but then what i noticed is that it doesn't picked up my last buy order price, it picked up like third from last buy order price, and that buy order was executed at 9:30AM while my last buy order is executed at 12:15PM... now this is a big problem for my bot since it will not calculate the right trigger. how can i fix this?

[2018-09-03 11:45] kroitor commented on #3721
@ElanJM hi, please read here:

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/wiki/FAQ#im-trying-to-run-the-code-but-its-not-working-how-do-i-fix-it
- https://github.com/ccxt/ccxt/wiki/FAQ#i-am-calling-a-method-and-i-get-an-error-what-am-i-doing-wrong
- https://github.com/ccxt/ccxt/wiki/FAQ#i-got-an-incorrect-result-from-a-method-call-can-you-help

[2018-09-03 12:09] ElanJM commented on #3721
alright, sorry for my 'non professional report', this is what i'm doing, and what i get:

[code]

[2018-09-03 12:12] kroitor commented on #3721
@ElanJM can you add the instantiation code as well (without the keys) and verbose output?

[2018-09-03 13:06] ElanJM commented on #3721
what is instantiation code? well let me just put this:

[code]

this is the output with the verbose also:

[code]

no i haven't do basic debugging

[2018-09-03 13:19] yarKH opened #3788 "i"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2018-09-03 13:31] #3788 closed

[2018-09-03 13:42] kroitor commented on #3721
@ElanJM here's the full list of your recent DASH/BTC trades as you can see yourself from your verbose output:

[code]

Filtering out just the buys:

[code]

@ElanJM ↑↑↑ and it is reported properly: 0.02865. Now, the question to you: are you sure that you're not confusing trades with orders? Have you read the Manual? Because, it's documented there: https://github.com/ccxt/ccxt/wiki/Manual#how-order

[2018-09-03 13:51] kroitor commented on #3721
@ElanJM alternatively, you can do this:

1. Update your version of CCXT
2. Change your code to work with orders instead of trades:

[code]

[2018-09-03 17:14] thornycrackers commented on #3189
I also had this exact same issue with running in multiple processes. I just switched away from running multiple processes and the problem went away so thanks @kroitor for your insight :+1:

[2018-09-03 17:43] #3650 closed

[2018-09-03 17:45] kroitor commented on #3443
Hi! Sorry for a long wait... this is because your actual personal fees may differ from the common fees, depending on your trading volume and other factors. CCXT will load those fees where possible, however, this is not completely unified yet. Hope this answers your question. Let us know if not.

[2018-09-03 17:45] #3443 closed

[2018-09-03 18:31] toooni commented on #3650
@kroitor trades do not seem to work yet. I tried with just changing to `tradePostAddEntrustSheet` on https://github.com/ccxt/ccxt/blob/master/js/bitz.js#L770 but it seems like there's an other issue as well. I do get error code `-105` (`Invalid api signature`).

[2018-09-03 18:43] kroitor commented on #3650
@toooni yep, that's a minor leftover, will add one more fix right away.

[2018-09-03 18:57] kroitor commented on #3650
@toooni ok, should work normally from 1.17.225. Thx!

[2018-09-03 19:01] xogoc opened #3789 "Bit-Z .createLimitBuyOrder() error: this.privatePostTradeAdd is not a function"
- OS: Ubuntu 16.04.5
- Programming Language version: Node.js v8.11.3
- CCXT version: 1.17.224
- Exchange: Bit-Z
- Method: createLimitBuyOrder

My code:
[code]
Output:
[code]

[2018-09-03 19:10] kroitor commented on #3789
@xogoc fixed in 1.17.225, duplicate: https://github.com/ccxt/ccxt/issues/3650#issuecomment-418177548

[2018-09-03 19:10] #3789 closed

[2018-09-03 19:36] mobibeat commented on #1392
@gyjoo Hello I am trying to make a simple script for upbit but it is impossible to create an api key :(
I know nobody in south Korea
I would really appreciate it if you can share a key with me.
Thank you

[2018-09-03 19:40] kroitor commented on #1392
@gyjoo sorry for a long wait and thx for your responsiveness. I've already got the key from another user, but I will let you know if anything. Unfortunately, I've been quite occupied recently, so didn't have the time to upload it yet, but hope to do this in the coming days.

[2018-09-03 19:47] joncinque commented on #3540
Hey everyone, I'd like provide my 2 cents on this one.  Having worked in the commodities sector for some time, where we had to deal with these sorts of contracts all the time (along with their derivatives), I don't think it's up to ccxt to unify the contracts.  If someone is buying ADAU18, it's very different from buying ADA with BTC, so they should be maintained as different entities, and I would

[2018-09-03 19:48] mobibeat commented on #1392
@kroitor any chance you could share the keys so I can make few tests as well ?

[2018-09-03 19:54] kroitor commented on #1392
@mobibeat sorry, but I promised to not disclose them (not my own keys). Wouldn't be a problem if those were mine. Hope for your understanding.

[2018-09-03 20:56] #3707 closed

[2018-09-03 22:05] DmitryVil opened #3790 "OkCoin - error in fetching transaction information - fetchOrder()"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: windows 10
- Programming Language version: python 3.7
- CCXT version: 1.17.225
- Exchange: okcoinusd
- Method: fetchOrder()

Good night,

I can't fetch information about successful transactions I did.
I suppose this problem exists only for a few days.

I ma

[2018-09-03 22:11] kroitor commented on #3790
You don't want to supply the params overrides to `fetchOrder`, it does not require `type`...

Have you tried this:

[code]

?

[2018-09-03 22:14] kroitor commented on #3790
Also, in your instantiation code:

[code]

You're not using the built-in rate-limiting, are you sure that you don't hit the rate limit as described in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#rate-limit ?

[2018-09-04 01:57] dbzalpha commented on #601
Kroitor & al, it seems that in CCXT 1.17.223,
for margin balance on Bitfinex, via Python3, the correct params is: {'type': 'trading'}

[2018-09-04 01:57] ElanJM commented on #3721
Oh god... your right, i was confused with Trades and Orders, Im so sorry... So this morning i have tried to change it to fetch_orders, but when i run it, if it was MARKET type of orders, it will not show the price. My CCXT is already the latest one
here is the code and also the verbose like usual:

[code]

and this is the Verbose:

[code]

whenever the order type is MARKET, it doesn't show the pri

[2018-09-04 04:30] kroitor commented on #3721
Do this:

[code]

What does it say?

[2018-09-04 04:38] kroitor commented on #601
@dbzalpha

That's right:

- https://github.com/ccxt/ccxt/issues/1207#issuecomment-357154252
- https://github.com/ccxt/ccxt/issues/879#issuecomment-352297127
- ...

[2018-09-04 04:43] kroitor commented on #3540
@joncinque thx! I agree, we better not try unifying perpetual contract names.

However, I'm not sure if I got that last issue description properly, can you elaborate a bit more plz? I do understand that those prices are indexed from other exchanges, yet still, don't really see what we can do in the lib about it.

[2018-09-04 04:45] kroitor commented on #3540
@orikalinski , @joncinque btw, just got this email:

<img width="598" alt="screen shot 2018-09-04 at 07 40 22" src="https://user-images.githubusercontent.com/1294454/45010470-667c6e80-b016-11e8-9d1d-7abdb2af2685.png">

;)

[2018-09-04 04:54] solocm commented on #2649
when I run your code on testnet, got an "access denied." error response. @kroitor

[2018-09-04 04:57] ElanJM commented on #3721
here's the results:

this is the code:
[code]
and this is the output with the Verbose as well:

[code]

[2018-09-04 04:57] kroitor commented on #2649
@solocm BitMEX testnet keys are not interchangeable with main keys, have you tried creating a new testnet key first?

[2018-09-04 05:09] solocm commented on #2649
I creat a new testnet key.  It works! so BitMEX main net key are not interchangeable with testnet, that's the reason. Thx, kroitor!

[2018-09-04 05:18] kroitor commented on #3721
@ElanJM That's very strange, because I've uploaded a fix for the zero-price with market orders a few days ago, and with the most recent version your market orders should not have zero prices anymore.

Here's the list of your orders, as you can see from **YOUR OWN** output. Have you looked into it carefully? Because it doesn't show zero prices for market orders with version 1.17.226:

[code]

To me

[2018-09-04 09:16] Stock84-dev opened #3791 "Unhandled exception in fetchOrderBook"
- OS: Windows 7
- Programming Language version: Python 3.7
- CCXT version: 1.17.227
- Exchange: ice3x, rightbtc
- Method: fetchOrderBook

Throws: TypeError("'int' object is not iterable")

[code]

[2018-09-04 09:40] ChacoLv commented on #255
@kroitor how can I get my bitfinex margin position information?
I try to do it by exch.fetch_my_trades(symbol=symbol,params=params)
params = {'type': 'trading'}
but it result is all my history order information ,is not my real margin position information.

[2018-09-04 09:41] Stock84-dev opened #3792 "Unhandled exception in fetchTrades"
- OS: Windows 7
- Programming Language version: Python 3.7
- CCXT version: 1.17.227
- Exchange: kuna
- Method: fetchTrades

Throws: KeyError(None)
[code]

[2018-09-04 09:45] #3791 closed

[2018-09-04 09:46] ChacoLv commented on #318
@kroitor how can I get my bitfinex margin position information?
I try to do it by exch.fetch_my_trades(symbol=symbol,params=params)
params = {'type': 'trading'}
but it result is all my history order information ,is not my real margin position information.

[2018-09-04 09:47] kroitor commented on #255
@ChacoLv https://github.com/ccxt/ccxt/search?q=bitfinex+position&type=Issues

[2018-09-04 09:48] kroitor commented on #318
@ChacoLv answered here: https://github.com/ccxt/ccxt/issues/255#issuecomment-418307476

[2018-09-04 09:50] ChacoLv commented on #255
@kroitor OK,Get it ,Thank you

[2018-09-04 09:53] #3792 closed

[2018-09-04 11:55] joncinque commented on #3540
I was proposing another way forward with unifying, where the conventional ticker maps to its BitMEX index.  For example, mapping `ADA/BTC` to `.ADAXBT Index`.  My issue with doing that is that it's impossible to trade on the index price, so if someone calls `create_order` on `ADA/BTC` thinking that they're buying ADA with BTC, it would fail.  On the flip side, it does give BitMEX's view on the pri

[2018-09-04 11:57] joncinque commented on #3540
And seeing how they change the definition of the index, it would definitely be useful to be able to fetch it :smile:

[2018-09-04 18:41] eatbas opened #3794 "kucoin fetch_markets() is_active parameter is missing"
- OS: Windows 10
- Programming Language version: Pyhton 3.6.5
- CCXT version: 1.17.212
- Exchange: gateio
- Method: fetch_markets()

As far as I understand from gateio api there is no inactive coin markets if there is the are delisting in the api as well therefore in ccxt library is_active parameter is missing in json. Coud you please add is_active=true on ccxt library?

[2018-09-04 18:44] hems commented on #3761
We are deploying `/r/get/conf` pretty soon, here is the current output, it will be slightly adjusted but should give a good idea of what's going to happen:

[code]

[2018-09-04 18:44] kroitor commented on #3794
Sorry, but it's there already, called `active` (not `is_active`, read the Manual carefully:

- https://github.com/ccxt/ccxt/wiki/Manual#market-structure
- https://github.com/ccxt/ccxt/blob/master/js/kucoin.js#L415
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/kucoin.py#L421
- https://github.com/ccxt/ccxt/blob/master/php/kucoin.php#L415

We'd love to add it the second time, but, not sure i

[2018-09-04 18:44] #3794 closed

[2018-09-04 18:45] eatbas commented on #3794
Sorry for the edit it should be gate.io and active

output is below:

{
  "id": "mdt_eth",
   "symbol":  "MDT/ETH",
   "base":  "MDT",
   "quote":  "ETH",
   "info":  {
    "mdt_eth":  {
      "decimal_places":  8,
       "min_amount":  0.0001,
       "fee":  0.2
    }
  },
   "maker":  0.002,
   "taker":  0.002,
   "precision":  {
    "amount":  8,
     "price":  8
  },
   "limits":  {
    "amoun

[2018-09-04 18:48] eatbas commented on #3794
https://github.com/ccxt/ccxt/blob/master/python/ccxt/gateio.py
There is no active in fetch_markets() at gateio

[2018-09-04 19:12] DmitryVil commented on #3790
Igor, good evening,
I did nothing, but this problem disappeared.
I think it was a bug of the OkCoin exchange.
I will watch the problem.
I think you can close the issue for now.
Sorry for disturb
Dmitry

[2018-09-04 19:13] #3790 closed

[2018-09-04 19:36] lvthillo commented on #2050
@kroitor I was facing the same issue. Followed your solution but now I have:
[code]

[2018-09-04 20:33] MaxCCC opened #3795 "Issue understanding limit (example)"
I've issues to understand the `limit` option of ccxt. I've read the docs but it's still not very clear for me. I try to understand it using the example below.

I don't really understand this line:
`since = bitmex.milliseconds() - limit * 60 * 1000`
Based on what is the since calculation?

and this line:
`time.sleep(bitmex.rateLimit * 5)`
Why sleeping and how can I interpret these values?

[code]

[2018-09-04 21:39] standup75 opened #3797 "Kraken issue with fetchMinOrderSizes"
there is an issue with setting a variable like this and restoring it after the call in an async environment

            this.parseJsonResponse = false;
            html = await this.zendeskGet205893708WhatIsTheMinimumOrderSize ();
            this.parseJsonResponse = oldParseJsonResponse;

While I am waiting for the response to this call, I might very well make another request that does require J

[2018-09-04 21:49] standup75 commented on #3797
I don't even think we should make that http call all together. Just hard code those information directly, that would speed things up. This is not a reliable way to get the min order size anyway, but it's better than nothing

[2018-09-05 04:34] kroitor commented on #3795
[code]

That sleeping is called "throttling" and it is required to avoid sending too many requests to the exchange in short time – the exchange won't like it if you're requesting too often and can ban you if you don't respect their rate limit, as documented in the Manual: https://github.com/kroitor/ccxt/wiki/Manual#rate-limit

Hope this answers your questions, let us know if not.

[2018-09-05 04:34] #3795 closed

[2018-09-05 05:45] MaxCCC commented on #3795
@kroitor  Thanks, great answer.
I do understand the first part, and the second I would expect: time.sleep (exchange.rateLimit / 1000) (or is this just a random customized value now because of the * 5 (and without /1000)?)

[2018-09-05 05:52] kroitor commented on #3795
The sleeping time for `exchange.sleep` is in milliseconds as well, thus no need to divide it by a thousand. However, for certain methods some exchanges may have very specific rate-limits that may differ from their other methods, thus we just multiply the default rate limit by 5 to make it a distinct delay and to avoid too much load on the exchange. The multiplication by 5 here is indeed optional a

[2018-09-05 09:30] ongkhua commented on #2842
@kroitor I managed to fork, commit and made a pull request, but I just realized the API key for dsx in your keys.json is not working, I was using my own key for development.  It is also marked "skip" in keys.json.  How should I go about this?

[2018-09-05 10:08] kroitor commented on #2842
You just commit a dsx.js, and no worries about the keys – we will use our own keys for testing upon merging. Thx so much!

[2018-09-05 10:21] imhazige opened #3798 "socket not open error when invoke websocketSubscribe"
@lfern

at branch https://github.com/lfern/ccxt/tree/feature/websockets-multiple

this is like to happen in a slow network when connect to okex.

it is strange, that the socket is still not open when invoke websocketSubscribe.

Error Stack:

`
Error: not opened
I20180905-18:02:28.011(8)?     at WebSocket.send (node_modules/ws/lib/WebSocket.js:360:18)
I20180905-18:02:28.011(8)?     at WebsocketConn

[2018-09-05 11:11] maverickPIG opened #3799 "order amount precision error, scale: `4`"
ATTENTION!!!

logs:

#0 /home/www/hw_exchange_api/public/vendor/ccxt/ccxt/php/Exchange.php(1103): ccxt\huobipro->handle_errors(200, '', 'https://api.huo...', 'POST', Array, '{"status":"erro...')
#1 /home/www/hw_exchange_api/public/vendor/ccxt/ccxt/php/Exchange.php(947): ccxt\Exchange->fetch('https://api.huo...', 'POST', Array, '{"account-id":3...')
#2 /home/www/hw_exchange_api/public/vendor/ccxt/c

[2018-09-05 11:27] kroitor commented on #3798
@imhazige sorry, but I think you should rather reopen this issue here in the relevant branch here: https://github.com/lfern/ccxt or repost it in the relevant existing issue here: #56

[2018-09-05 11:27] #3798 closed

[2018-09-05 12:20] beniloew opened #3800 "decimal_to_precision critical error"
- OS: ubuntu
- Programming Language version:
- CCXT version: latest
- Exchange:
- Method: decimal_to_precision

issue:
decimal_to_precision(0.0000001, TRUNCATE, 8, DECIMAL_PLACES) will give 9.999999
So, if you place a buy order at kucoin for example, and you want a price of 0.0000001, the price that will be sent is actually 9.99999, which is a serious bug IMO.
This happens since the decimal.Decima

[2018-09-05 12:44] kroitor commented on #3797
Yeah, I don't think so either, but they don't serve it from their API... And that's the only "official" source apart from their API. We're still in search for better solutions.

Unfortunately, we had it hardcoded earlier, but it changes too often and it gets outdated quickly, so it's very hard to maintain it and keep hardcoded data up-to-date, and ultimately, you only want to trust Kraken, you don

[2018-09-05 12:47] beniloew commented on #3800
could be solved dirty like this:
[code]

[2018-09-05 12:55] beniloew commented on #3800
Hmmm.
Not completely solving, will return 0.00000009

[2018-09-05 13:10] beniloew commented on #3800
Another better solution, but need to make sure it works...
Set the prec of the decimal context to our precision
`
decimal.getcontext().prec = precision #(8 in our case)
a = decimal.Decimal(0.000001).normalize().__str__() == '0.000001'
`

With smaller numbers it still works without loosing precision, however, it'll use scientific notation

[2018-09-05 13:13] beniloew commented on #3800
In order to get rid of the scientific notation, we can just use the first bit of code

[2018-09-05 13:16] kroitor commented on #3800
@beniloew

Thx for a comprehensive report! Will do out best to fix it asap.

See these related issues and files:

- https://github.com/ccxt/ccxt/blob/master/js/test/base/functions/test.number.js
- https://github.com/ccxt/ccxt/blob/master/python/test/test_decimal_to_precision.py (the test is ranspiled from js)
- https://github.com/ccxt/ccxt/blob/master/php/test/decimal_to_precision.php (the test is

[2018-09-05 13:48] beniloew commented on #3800
Will try to push a fix shortly

[2018-09-05 14:04] beniloew commented on #3800
https://github.com/ccxt/ccxt/pull/3801

[2018-09-05 18:38] kroitor commented on #3795
@lvthillo actually, you're absolutely right, there's a mistake in the example. I've added a fix for it, but then I saw that you added it as well, no worries will merge them both )) Thx for your attention! Indeed, the standard `time()` method takes it in seconds (can accept fractional seconds).

[2018-09-05 21:13] standup75 commented on #3797
kk
I didn't know that page got updated. Weird for a dated article...

[2018-09-05 21:39] imhazige commented on #56
@lfern

at branch https://github.com/lfern/ccxt/tree/feature/websockets-multiple

this is like to happen in a slow network when connect to okex.

it is strange, that the socket is still not open when invoke websocketSubscribe.

Error Stack:

Error: not opened I20180905-18:02:28.011(8)? at WebSocket.send (node_modules/ws/lib/WebSocket.js:360:18) I20180905-18:02:28.011(8)? at WebsocketConnection.sen

[2018-09-05 22:53] #3797 closed

[2018-09-05 22:54] frosty00 commented on #3800
Wow I was not expecting that error...

Great find, I'll push out a fix later today (im on american time now)

[2018-09-05 22:55] kroitor commented on #3800
@frosty00 no worries, @beniloew has already submitted it, so i'm going to merge it together with your branch (and with tests for those cases as well). But thanks anyways, as always )

[2018-09-05 22:58] kroitor commented on #3800
@frosty00 but still, if you have a better/shorter solution or a proposal, we'd be interested in everything ;)

[2018-09-05 22:59] frosty00 commented on #3800
Ok, could you hold off on merging the fix because I think I can do it cleaner, just for future maintenance of this library.

Basically I had assumed that str(Decimal) did not return any E-7 notation which was wrong.

Will post in a bit (;

[2018-09-06 00:35] frosty00 commented on #3800
Well here was the bug:

https://stackoverflow.com/a/27053722/4802441

Thank you to @beniloew for finding this (:
@beniloew

[2018-09-06 00:59] Elmit2015 opened #3804 "Invalid quantity"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu 18.04
- Programming Language version: php7.2
- CCXT version:
- Exchange: binance
- Method: buy/sell

with
`$exchange->verbose = true; `
I get

From my ticker (BNB/BTC) I learned:
precision_base3: 8
precision_quote3: 8
precision_amount3: 2
precision_p

[2018-09-06 02:05] kroitor commented on #3804
Can you show your verbose request/response (without your keys, but with the body)?

[code]

Then copypaste the request and response as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue. If the body of your request has proper values (it should), then we would forward this to Binance tech support, I think.

[2018-09-06 02:06] Elmit2015 commented on #3804
Sorry, I found the error! I accidentally used a wrong variable name for that trade. Now it works.

[2018-09-06 02:08] #3804 closed

[2018-09-06 09:16] gisforgirard commented on #3293
You know, if you forked the code, ported it yourself, and published it, you'd learn some JS and everyone would benefit, win/win...

[2018-09-06 10:50] is0initial commented on #2968
I really need support Crex24 in CCXT.

[2018-09-06 10:56] is0initial commented on #2968
+0.24 ltc  * 2   - it's me.
Thanks for the awesome work. [2]

[2018-09-06 12:52] firepol commented on #1896
@kroitor question for those exchanges that don't have different methods to fetch withdrawls and fetch deposits, such as:
- bitstamp (can get all history, including trades)
- bitfinex (deposits + withdrawals)
- ...

Is it `fetchTransactions` to be set like this?

- 'fetchTransactions': true,
- 'fetchWithdrawals': false,
- 'fetchDeposits': false,

I see that `fetchTransactions` is implemented for th

[2018-09-06 13:19] kroitor commented on #1896
Yep )

I don't really think that we should do that. I'd suggest that we better keep filtering outside of the library (in userland). To explain it, think this way: if native `fetchDeposits` and `fetchWithdrawals` are absent, and only `fetchTransactions` is available, it means that the exchange in question will output all of them mixed, without the filter. So, CCXT will first download the entire res

[2018-09-06 14:53] thezoug opened #3805 "Clunky Pagination Function"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: latest
- Exchange: bitmex
- Method: fetchOHLCV

My goal is to pull data using pagination and populate this data into database. I have done my best  to adapt the manual code, but am stuck

[2018-09-06 16:37] standup75 commented on #3797
Thanks for the update! Looking at the code, it seems that exmo.js line 117 and coinigi.js line 96 (coinigy?) could potentially run into the same issue. I can clean it up and make a PR if you want

[2018-09-06 16:49] firepol commented on #1896
Thanks @kroitor for your nice answer and references to the manual, wow this library is really complex, well documented and there is always something new to learn.

It makes totally sense your explanation about not filtering stuff and let that be in userland.

The **bitstamp** case is a bit tricky then. Because in #3749 the user didn't expect deposits and withdrawals to appear in `fetchMyTrades` an

[2018-09-06 17:12] turnyay opened #3806 "Support ETP to ETH conversion"

[2018-09-06 17:13] #3806 closed

[2018-09-06 18:17] kroitor commented on #1896
I'd suggest a compromise – we could go for solution1, keeping both fetchMyTrades and fetchTransactions (both mapped to the same common method, basically), and we'd return `type: undefined/None/null`, `type:'limit'`, `type: 'market'`, `type:'withdrawal'`, `type:' 'deposit'` from both fetchMyTrades and fetchTransactions, where/if possible. And I would add an exception-warning that would make this co

[2018-09-06 18:57] firepol commented on #1896
I like the exception, it's quite smart way to make a user aware of the unusual situation without  forcing him to check the official exchange docu, and provide an option to get rid of the warning.

So this one would be the exceptional exchange, the one that will filter/group the transactions based on the type?  Or what do you mean in:

[code]
? You mean to call parseTrades and then also call parseT

[2018-09-06 19:18] Stock84-dev opened #3807 "Wrong type of exception"
- OS: Windows 7
- Programming Language version: Python 3.7
- CCXT version: 1.17.236
- Exchange: binance, hitbtc/hitbtc2
- Method: fetch_withdrawals, fetch_deposits

I know that ccxt.binance doesn't have API for those methods, but then it should thorw NotSupported exception, instead it throws AttributeError. Exception might happen on other exchanges, haven't tested.

If someone is willing to implem

[2018-09-06 19:20] kroitor commented on #3807
The fix is already on the way: https://github.com/ccxt/ccxt/pull/2526

[2018-09-06 19:20] #3807 closed

[2018-09-06 19:31] digither opened #3808 "Calls from many users and different APIs from node server"
Hi friends . First of all, thanks for the wonderful project.
I'm looking at the possibilities of the ccxt library. I started with a project in node and angular 6 to read the balance and make some graphs. I wanted to upload it to a server in Digital Ocean for everyone.

Before starting the production, I wanted to ask them. If a server calls binance to read the balance of many users from the same ip

[2018-09-06 19:46] procloud opened #3809 "Qryptos is now Liquid.com"
please update url to

api.liquid.com

https://developers.quoine.com/v2

[2018-09-06 20:43] arielorvits commented on #3809
liquid - quoinex+qryptos,
so should remove quoinex,
and change qryptos to liquid.

[2018-09-06 21:57] #3463 closed

[2018-09-06 21:58] htadashi commented on #1605
New link for the websocket API: https://broker.bitcointoyou.com/trade-api-doc

[2018-09-07 06:28] firepol commented on #1896
I did an initial draft of the bitstamp refactoring.

I didn't understand exactly your intention with `type` but I used it in this way:

type: transactions or trades.

When I call the common method from:

`fetchMyTrades` I set `type = 'myTrades'`
`fetchTransactions ` I set `type = 'transactions'`

then:

[code]

Used like this we could have used also a bool, e.g. fetchTransactions true|false.

Like

[2018-09-07 06:34] y-clps commented on #3809
Liquid adds new currency pairs (XRP/JPY, XRP/BTC, etc).
So please add these pairs to ccxt.

[2018-09-07 10:06] Esc4pism commented on #3766
possibly important update on their BTC/USD market:
https://1broker.com/api/v2/market/details.php?token=YOUR_API_KEY&pretty=true&symbol=BTCUSD

"*** NOTE: This market was moved to 1fox.com and is in watch-only mode on 1Broker. ***"

Seems like 1broker doesnt have any crypto-markets at all now, as for myself ill just disable them in my application for now, I leave the rest up to you on what to do wi

[2018-09-07 10:10] thezoug commented on #3578
Thank you for all your hardwork @kroitor

I was able to get it fixed on my windows 10 machine, but how would I go about addressing the failure to build wheel for lru-dict in a linux environment. Specifically I have a AWS Ec2 that I would like to install ccxt on but I am not sure how to install the MSVC build tools in a linux environment (or if I can at all).

Any guidance on that would be very muc

[2018-09-07 10:17] kroitor commented on #3578
@thezoug a basic `pip install ccxt` should do the job on Linux. However, if you run that command and get an error – then we need to see your output log, starting from your command up to the point of failure. Can you post it all here, plz?

[2018-09-07 10:53] thezoug commented on #3578
Here you go! As you can see, the it is failing at the lru-dict wheel stage.

`$ pip install ccxt
`
Out:
[code]

[2018-09-07 10:55] kroitor commented on #3578
Do you have gcc installed?

[2018-09-07 13:51] anik-jagtap opened #3811 "Unable to call privatePostHistory()"
- OS: Windows 7
- Programming Language version: Javascript
- CCXT version: 1.17.240
- Exchange: Bitfinex
- Method: privatePostHistory()

Hi,
I am working on some project for which i am calling privatePostHistory() using CCXT. I am able to call privatePostMytrades() which is used in fetchMyTrades() method. Similar way i want to call privatePostHistory(). Can you please help me in this?

[2018-09-07 13:57] kroitor commented on #3811
Can you show a snippet of your code that isn't working, or what is the problem with it?

[2018-09-07 15:10] kroitor commented on #1896
Ok, my intent was probably not clear, let's clarify this a bit more ) According to their docs, the `user_transactions` endpoint returns all ledger rows, that includes trades, funding transactions (deposits and withdrawals) and internal transfers.

![bitstamp-transactions](https://user-images.githubusercontent.com/1294454/45226311-314a7780-b2c7-11e8-8ad5-f40d72a74eb5.jpg)

Back to our unified API,

[2018-09-07 20:49] kroitor commented on #1896
[code]

To recap, we can't really use `.filter ()` *inside the lib*, because the transpiler is still quite dumb and  doesn't know how to do code introspection that it has to do to recognize closures and mappings and convert them to proper python list comprehensions (this involves complex expressions with variables from the *outside* of the expression scope, which makes it hard to transpile). There

[2018-09-07 21:19] firepol commented on #1896
I find lots of examples of filterBy, but not examples to filter by more than one value. n our case filterBy 2 ok, to get myTrades.

But to get deposits (0) AND withdrawals (1) I need to filter by 0 and 1. Do we have a method like that? If not, maybe can you create one? Else I can try to make one myself, should be a simple loop.

[2018-09-07 21:33] kroitor commented on #1896
@firepol sorry, I forgot that I made the `.filterByArray` method earlier, so yes, you can do that in just one line )

<img width="743" alt="screen shot 2018-09-08 at 00 33 34" src="https://user-images.githubusercontent.com/1294454/45244059-cd43a580-b2fe-11e8-80e4-6aa0c9b73826.png">

[2018-09-07 21:53] kroitor commented on #1896
Err... actually, the example above is a bad example of how not to use filterByArray, as it does multipass traversion of the array, whereas in that particular case with bibox shown on the screenshot in my previous message, all that can be done in just one pass:

[code]

↓

[code]

But anyways, you have a complete set of tools and you can combine them how you like.

[2018-09-07 22:34] firepol commented on #1896
[RANT] Did I tell you that I kinda hate the bitstamp API? So far it's the worst ons I've seen and used after lykke and cex, nr 3 in the top 3 ugliest crypto APIs seen so far... [/RANT]

I'm giving up for tonight, I pushed my WIP implementation here:

https://github.com/firepol/ccxt/tree/bitstamp-fetch-transactions

I will file a bug related to the sucky bitstamp in a second.

[2018-09-07 23:10] kroitor commented on #1896
@firepol we usually use some flavor of the following:

[code]

This helps in situations where you need to convert a currency code to a market symbol and back.

[2018-09-08 09:49] firepol commented on #1896
I have a little problem, the error happens in the exchange.fetch_transactions method. If I copy paste it in bitstamp.js to override it, I get another syntax error because the transpiler doesn't transpile correctly the first line:

[code]

Sorry to bother you with so many questions, but bitstamp is really a pain, and the transpiler also is quite harsh... Can you help?

[2018-09-08 09:59] kroitor commented on #1896
@firepol sure! The issue is that we can't break the following rules: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#derived-exchange-classes, this one in particular:

As I said before, we can't transpile syntax that involves closures – that is all syntax with js `.filter` and js `.map`, therefore we substitute all `.filter/.map/.forEach` with either a call to a base method or a basic for

[2018-09-08 14:05] digither commented on #3808
Thanks for the reply. It gives me many possibilities. I usually mix async / await and promise.all. something like that:
`let sleep = (ms) => new Promise (resolve => setTimeout (resolve, ms))
const favoritas = {
    'bittrex': ['BTC/USD', 'SHIFT/BTC', 'LSK/BTC'],
    'binance': ['BTC/USDT', 'LSK/BTC','CLOAK/BTC', 'ETC/BTC']
}
const exchangesId = Object.keys(favoritas)
let getTicker = async (exchang

[2018-09-08 16:29] #3800 closed

[2018-09-08 19:14] firepol commented on #1896
Voila, done. I may add an interesting discovery I just made: refer to the api docs: https://www.bitstamp.net/api/

USER TRANSACTIONS endpoint: https://www.bitstamp.net/api/v2/user_transactions/{currency_pair}/

You may think that you can get just the deposits (type 0) or withdrawals (type 1) but you can't. In order to get them you have to fetch everything. I mean the history of all trades for all

[2018-09-08 19:47] kroitor commented on #3624
@npomfret sorry for a long wait, I've uploaded a fix for it, the currency id should now be ok as of 1.17.249. Thx again for your help!

[2018-09-08 23:49] #3706 closed

[2018-09-08 23:55] radarxc commented on #1011
@kroitor, thank you for replying.

Yeah, cost mostly works for me. But I notice cost always equals to
 order limit price multiple volume on binance, so I am looking for the actual average price and find this post.

In your comment 8 months ago, you mentioned binance replied they will return actual total quote in the future, so I was trying to follow up if binance implement this improvement.

[2018-09-08 23:57] kroitor commented on #2859
@Showgofar can you make a short snippet to reproduce the issue?

[code]

[2018-09-09 00:04] kroitor commented on #1011
We've made some progress since then and now the cost returned from the exchange has the precedence. You might also want to check this:

- https://github.com/ccxt/ccxt/blob/master/js/binance.js#L273
- https://github.com/ccxt/ccxt/blob/master/js/binance.js#L623
- https://github.com/ccxt/ccxt/blob/master/js/binance.js#L717

;)

[2018-09-09 00:13] radarxc commented on #1011
Thank you so much😁

I will check those.

[2018-09-09 21:19] giv13 opened #3816 "HitBTC: Negative precision is not yet supported"
- OS: Windows 8
- Programming Language version: php 7.1
- CCXT version: 1.17.252
- Exchange: HitBTC
- Methods: create_order and edit_order

This error began to appear when I trying to create an order. I think this is due to the `amount_to_precision` function, and also to the fact that HitBTC returns a negative value for `$market['any']['precision']['amount']`.

In general, several exchanges (HitBT

[2018-09-09 21:27] kroitor commented on #3816
In short, yes, most likely... The lack of support for negative precision is a known issue. See this PR for more info on the subject: https://github.com/ccxt/ccxt/pull/3741. Basically, we need to port #3741 to JS and PHP. Your help with adding the missing part in PHP is very much appreciated. The original PHP-implementation was authored by @kornrunner in PHP in https://github.com/ccxt/ccxt/pull/217

[2018-09-09 21:29] kroitor commented on #3816
I suggest to move this discussion to #3741 if you don't mind. Let me know there if you have more questions on this issue. We hope to add a workaround for it asap.

[2018-09-09 21:29] #3816 closed

[2018-09-09 23:39] #3749 closed

[2018-09-10 00:02] kroitor commented on #1896
@firepol after thinking a bit more on it, i decided to revert to your initial proposal, and I've uploaded a merged version of it, should be ok as of 1.17.253, and removed some parts to make it a bit cleaner implementation. Let me know if you think we should add or edit something beyond that. Thx again for your help, your involvement is very much appreciated!

[2018-09-10 08:12] firepol opened #3819 "Migrate gdax URLs to *.pro.coinbase.com"
See deprecation notice: https://docs.gdax.com/#deprecation-notice

See FAQ: https://support.pro.coinbase.com/customer/en/portal/articles/2944081-coinbase-pro-faq?b_id=17474

We still have time until December 31, 2018 but I think it would be better to migrate as soon as possible.

[2018-09-10 08:17] bradosaurus commented on #1764
I'm having this same error message, but the above troubleshooting hasn't seemed to help.

- OS: Windows 7
- Programming Language version: Python 3.6.5 x64
- CCXT version: 1.17.249
- Editor: VS Code 1.27.1

I can't seem to import ccxt. Looking through the ccxt github and my local ccxt-master directory, there is a ccxt.d.ts, ccxt.js, and ccxt.php, but no ccxt.py. Am I misunderstanding this?

I have

[2018-09-10 10:54] shaohaojiecoder opened #3820 "zb fetch_order average error"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:window
- Programming Language version:python3.6
- CCXT version:1.17.150
- Exchange:zb
- Method:GET

[2018-09-10 10:55] shaohaojiecoder commented on #3820
{'info': {'total_amount': 0.01,
  'id': '20180910244276459',
  'price': 180.0,
  'trade_date': 1536576744960,
  'status': 2,
  'trade_money': '1.96742',
  'trade_amount': 0.01,
  'type': 0,
  'currency': 'eth_usdt'},
 'id': '20180910244276459',
 'timestamp': 1536576744960,
 'datetime': '2018-09-10T10:52:24.960Z',
 'lastTradeTimestamp': None,
 'symbol': 'ETH/USDT',
 'type': 'limit',
 'side': 'sell'

[2018-09-10 13:05] is0initial commented on #2968
+0.24 ltc - it's me.
Thanks for the awesome work. [3]

[2018-09-10 14:26] Jay54520 commented on #692
Return 61.173 with `bitfinex.amount_to_precision('IOST/USDT', 61.174)`.

[2018-09-10 15:31] kroitor commented on #692
@Jay54520 what's your version of ccxt?

[2018-09-10 15:44] kroitor commented on #3819
@firepol we already have `coinbasepro` and `coinbaseprime` in the lib, so I guess, to migrate one just has to switch to another exchange class, `gdax` → `coinbasepro` ;)

[2018-09-10 15:55] kroitor commented on #1764
Yes, because there's also a ccxt module in python, it's in the `python` folder. You don't really link directly against ccxt repository, unless you're trying to develop a new exchange class for it. Most often you don't need the repository at all. All you need is a properly installed version of Python3, then you just run `pip install ccxt` and that's it.

↑ As for this line, have you tried googling

[2018-09-10 19:34] #3820 closed

[2018-09-10 20:41] bradosaurus commented on #1764
Thank you for taking the time and [leading me in the correct direction](http://lmgtfy.com/?q=You%27re+awesome!), @kroitor. Installing the Windows SDK and compiler on Visual Studio 2015 following [this simple instruction](https://stackoverflow.com/a/51662134) seems to have resolved the `pip install ccxt` issue and now `import ccxt` isn't showing an error.

[2018-09-10 20:42] kroitor commented on #1764
@bradosaurus thx for reporting, appreciate the feedback!

[2018-09-10 22:48] Jay54520 commented on #692
`ccxt==1.17.222`. I installed it at 2018/9/2.

[2018-09-10 22:53] kroitor commented on #692
@Jay54520 you should update to most recent version as we've targeted that specific bug and fixed it a couple of days ago. Let us know if it persists with the most recent version 1.17.260

- https://github.com/ccxt/ccxt/pull/3663
- https://github.com/ccxt/ccxt/pull/3803

[2018-09-10 22:54] Jay54520 commented on #692
No problem with `1.17.260`.

[2018-09-10 23:00] Jay54520 commented on #692
The logic of decimal precision in https://github.com/ccxt/ccxt/pull/3803/files is sophisticated for me, can you recommend some relevant references?

And in `ccxt==1.17.222`, it is ok if the `amount` param of `amount_to_precision` is `str`. Why didn't you just convert the `amount` to `str` in the implementation
?

[2018-09-10 23:03] kroitor commented on #692
The `decimal_to_precision` method will convert it, be it a string or number. You just continue using `amount_to_precision` as you did earlier, but the bug should be gone. In other words, you don't have to switch to different methods or change your code – but with the new version the bug should be resolved now. Let us know if it's not.

[2018-09-10 23:29] Lorias opened #3823 "FetchTrades at HitBTC with node.js (CCXT version Version 1.10.1 2017-11-06) -- A beginners question"
A question about how to use ccxt with node.js and the HitBTC exchange.

In short:
I just want to use the fetchTrades()-Method in node.js for the HitBTC-exchange.
As in the CCXT-Documentation (Release 1.17.226) explained the Method should
return the trades starting from a specific date and fetching a previously set amount of data.

But somehow, I'm experiencing difficulties with the timestamp!
When

[2018-09-11 00:09] #3823 closed

[2018-09-11 00:13] kroitor commented on #3823
First of, you will have to update your CCXT version, as yours is almost a year-old, it gets outdated quickly, and a lot has changed with HitBTC since then. For example, they no have moved to version 2 (hitbtc2). So, if you update to most recent version 1.17.261, then it should work fine from there.

[code]
[code]

[2018-09-11 00:15] kroitor commented on #3823
Let me know if that does not help, feel free to reopen this issue if needed or just ask further questions, if any.

[2018-09-11 03:33] ChacoLv commented on #1207
Hi, @kroitor , can I cancel a margin active position by a cancel function. for example: If have a margin buy order, and want to cancel, I should order a same position amount sell order. I want to know that whether have a function to cancel the active position. no matter what it is buy or sell

[2018-09-11 03:40] kroitor commented on #1207
@ChacoLv hi! Yes, you can:

- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods
- https://docs.bitfinex.com/v1/reference#close-position

[code]

[2018-09-11 06:13] Jay54520 opened #3824 "Lack margin_infos api of bitfinex"
- OS: All
- Programming Language version: Python
- CCXT version: 1.17.260
- Exchange: Bitfinex
- Method: [margin_infos](https://docs.bitfinex.com/v1/reference#rest-auth-margin-information)

Lack [margin_infos](https://docs.bitfinex.com/v1/reference#rest-auth-margin-information) api of bitfinex.

We can get `margin_balance`(The USD value of all your trading assets (based on last prices)) from this

[2018-09-11 06:19] kroitor commented on #3824
@Jay54520 please, read this:

- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods
- https://github.com/ccxt/ccxt/blob/master/js/bitfinex.js#L97
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/bitfinex.py#L110
- https://github.com/ccxt/ccxt/blob/master/php/bitfinex.php#L97

[code]

Let us know if that does not answer your question.

[2018-09-11 06:19] #3824 closed

[2018-09-11 06:28] Jay54520 commented on #3824
It solved my problem.

But `private_post_margin_infos` only exist in bitfinex v1 but not bitfinex v2: `{AttributeError}'bitfinex2' object has no attribute 'private_post_margin_infos'`. It confuse me because bitfinex2 inherit bitfinex: `class bitfinex2 (bitfinex):`.

[2018-09-11 07:21] sgtStrom opened #3825 "Get response status_code in exception"
Hi there! I have a question about Python library.
When I get an exception, how can I get HTTP status code from underlying requests library? I need to filter out only 4xx or 5xx codes. Or only a particular code sometimes. Is there a way to do it without inheriting ccxt.base.Exchange or its subclasses methods?

[2018-09-11 08:00] is0initial commented on #1283
I really need support Mercatox in CCXT.

[2018-09-11 08:00] is0initial commented on #1283
+0.1 ltc  - it's me.

[2018-09-11 08:13] kroitor commented on #1283
@is0initial we'll do our best to prioritize it, thx so much for your contribution!

[2018-09-11 08:34] anik-jagtap commented on #3811
Hi, Sorry for the late response.
And thank you for your help; got success in calling method. But now i am facing another issue.
I am trying to make this request,
`await this.privatePostHistoryMovements(this.extend ({
            'currency': 'litecoin',
            'since': 0,
            'until': this.seconds ()
        }, params));`
I am having withdraw and deposit history in Bitfinex, but in tur

[2018-09-11 08:54] kroitor commented on #3811
@anik-jagtap if you update your ccxt to most recent version, then you can use this unified API to fetch your funding history with Bitfinex:

- https://github.com/ccxt/ccxt/wiki/Manual#transactions
- https://github.com/ccxt/ccxt/wiki/Manual#all-transactions

[code]

Then read this: https://github.com/ccxt/ccxt/wiki/Manual#pagination and add proper pagination params if necessary. Let us know if it d

[2018-09-11 08:54] #3811 closed

[2018-09-11 10:29] mariodantas opened #3826 "Kraken error message"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu 18
- Programming Language version: PHPv7
- CCXT version: last
- Exchange: Kraken
- Method: fetchBalance

Hello fellows, receiving malformed response from Kraken since a few days

Notice: Undefined variable: body in /home/vhosts/trader/vendor/ccxt/ccx

[2018-09-11 10:33] #3826 closed

[2018-09-11 10:34] kroitor commented on #3826
@mariodantas hi! Thx so much for your attention and for reporting this, I've uploaded a fix for it, it should arrive in version 1.17.270 in 5-10 minutes. Let me know if you still have difficulties with it after upgrading to 1.17.270.

[2018-09-11 10:52] mariodantas commented on #3826
array(3) { ["EUR"]=> float(0.4923) ["BTC"]=> float(3.72E-6) ["BCH"]=> float(0) }

PERFECT Fellow, many thanks

[2018-09-11 15:48] npomfret opened #3827 "How do the values in the `has` meta property get set?"
Does the `has` array for the supported features of the unified API get filled in _magically_ in some way?  Or is it just typed in?  I ask because I noticed in `bitbay.js` there is almost nothing there:

            'has': {
                'CORS': true,
                'withdraw': true,
            }
... but reading down the code a little I can see `async fetchTicker`, `async fetchOrderBook` etc,

[2018-09-11 16:34] firepol commented on #3827
No it's not filled magically. I think you just found a bug. I guess if you have time you could submit a PR for this. You just have to copy/paste the snipped you used above, from bitfinex, and set to true/false each feature. Easy one.

[2018-09-12 01:29] kroitor commented on #3827
@npomfret the `has` property is *deep-extended* by the default `has` values from the base class:

- https://github.com/ccxt/ccxt/blob/master/js/base/Exchange.js#L84
- https://github.com/ccxt/ccxt/blob/master/php/Exchange.php#L794
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/base/exchange.py#L160

So: `{ 'a': true, 'b': false }` + `{ 'b': true, 'c': false }` = `{ 'a': true, 'b': true, 'c'

[2018-09-12 02:12] #3827 closed

[2018-09-12 09:30] alex-karo opened #3832 "CoinEgg: fetchTickers throws error"
Some responses from https://www.coinegg.com/coin/btc/allcoin respond 500 error
[code]

- OS: Debian 9
- Programming Language version: node v10.8.0
- CCXT version: 1.17.230
- Exchange: CoinEgg
- Method: fetchTickers

[2018-09-12 09:35] kroitor commented on #3832
@alex-karo do you have the rate-limiter enabled?

[2018-09-12 12:05] caojq9902 opened #3833 "New Exchange: https://www.excraft.com"
Exchange: ExCraft
URL: https://www.excraft.com

it's the only local crypto exchange currently operating in the HongKong. including it in your great api would help a lot of developers in the country.

much appreciated.

[2018-09-12 12:27] anik-jagtap commented on #3811
Hi @kroitor ,
Sorry to bother again.
I am working on some exchanges and i would like to contribute some code. Please let me know if i can and how.

[2018-09-12 12:31] kroitor commented on #3811
Sure, you can! The only thing you have to do is to read the CONTRIBUTING doc carefully:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#what-you-need-to-know
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support
- https:

[2018-09-12 14:03] kroitor commented on #1896
JFYI we think adding the `tag` associated with the `address` for certain currencies and transactions – is a reasonable thing to do, to align it with the `createDepositAddress/fetchDepositAddress` return, therefore we have started adding it to `parseTransaction`, where missing and we've updated the description of a transaction structure in the Manual as well.

[2018-09-12 16:16] bitibu opened #3834 "New Exchange: Bitibu"
Hello,

**Bitibu Exchange** establish on january 2018 in **Cyprus**. Currently, Bitibu supports 18 currencies with BTC, ETH and USD pairs. We will really appreciate if you add Bitibu Exchange on CCXT library.

- Homepage: https://bitibu.com
- API Document: https://bitibu.com/documents/api_v2

We send some BTB coin to your ETH address.

Thanks for your greate work and ccxt library.

![bitibuexchang

[2018-09-12 16:20] kroitor commented on #3252
Replaced with: #3834

[2018-09-12 16:20] #3252 closed

[2018-09-12 16:26] greo2017 commented on #3834
Bitibu uses same API with ACX and Tidebit.

[2018-09-12 17:10] alex-karo commented on #3832
Yes. I tried to send this request manually and one of several gets data without errors.

[2018-09-12 17:14] muradoviz commented on #3834
Hello @kroitor,

We will use ccxt library for bot. If you accept, we can add Bitibu on ccxt?

[2018-09-12 17:26] emersonboyd opened #3835 "Tag not Updated for Certain Cobinhood Deposit Addresses"
EOS was recently introduced to Cobnhood, and the Cobinhood API returns an address as well as a memo (tag) upon fetching the deposit address. However, CCXT only provides the deposit address, and not the memo (tag) from the response when applicable. We can manually get the memo as follows, but it would be nice to have it implemented into CCXT.

Code:
[code]

Output:
[code]

- OS: macOS High Sierra
-

[2018-09-12 17:28] kroitor commented on #3834
@muradoviz sorry, I probably didn't get your initial intent correctly, to clarify: if you're willing to submit the code – we'd be happy to accept it if it does conform to our docs, and if you're asking for us to implement and add Bitibu, then we'll prioritize it and will add it if nobody else does that before we do.

[2018-09-12 17:31] kroitor commented on #3835
@emersonboyd can you please post `verbose` response for the `fetch_deposit_address` call? Don't really need your actual addresses and values, just need to see the format and types, so, if you can, that would help a lot. I'll add the missing tag right away.

[code]

[2018-09-12 17:42] emersonboyd commented on #3835
Sure, my bad for forgetting to set verbose output. Here's my updated output:

[code]

[2018-09-12 18:03] #3835 closed

[2018-09-12 18:06] kroitor commented on #3834
@greo2017

I'll see if I can add it shortly.

[2018-09-12 18:16] #3834 closed

[2018-09-12 18:29] kroitor commented on #3834
We have added it in 1.17.280, let us know if you have difficulties with it. Thx!

[2018-09-12 18:31] muradoviz commented on #3834
Thank you! @kroitor

[2018-09-12 18:38] kroitor commented on #3834
@muradoviz thx for using this library!
@bitibu we'll be happy for all contributions, your donations are welcome: https://github.com/ccxt/ccxt#support-developer-team

[2018-09-13 07:28] muradoviz commented on #3834
@kroitor payment for what? And how much you want?

[2018-09-13 09:45] radeone opened #3839 "1broker api instantiation errors."
- OS: Windows
- Programming Language version: 3.7 Python
- CCXT version: latest
- Exchange: 1broker
- Method: fetch_balances() but most likely instantiation

i have no problem calling fetch_balances() when i do ccxt._1broker({'apiKey':'xyz'})
but when i put the json in a variable in my config.py (for apikeys) which looks like broker = {'apiKey':'xyz'}
i have 2 other exchanges that work fine but 1b

[2018-09-13 09:48] #3839 closed

[2018-09-13 10:34] phuaky commented on #1916
Im facing some issues here:

ERROR in ./~/ccxt/js/theocean.js
Module parse failed: .../node_modules/ccxt/js/theocean.js Unexpected token (110:10)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected token (110:10)

webpack: Failed to compile.

[2018-09-13 10:38] kroitor commented on #1916
@phuaky what's your node version? `node --version` ?

[2018-09-13 10:40] phuaky commented on #1916
hi @kroitor, v10.6.0

[2018-09-13 10:45] phuaky commented on #1916
im thinking perhaps its being excluded in the webpack.config?
`  module: {
    loaders: [
      {
        exclude: /node_modules/,
        loader: 'babel',
        query: {
          presets: ['react', 'es2015', 'stage-1']
        }
      }
    ]
  },`
If this is the cause of the error, how do i include them?

[2018-09-13 10:48] kroitor commented on #1916
@phuaky this is an issue with your babel/webpack setup, as you can see from here, this is not an issue with the CCXT library itself. Check you transpilation configs and make sure you're transpiling it properly. Issues of this kind are usually solved with a plugin for your transpiler (webpack/babel plugin).

- https://github.com/SimulatedGREG/electron-vue/issues/175
- https://stackoverflow.com/ques

[2018-09-13 10:49] kroitor commented on #1916
@phuaky https://github.com/ccxt/ccxt/issues/225#issuecomment-331905178

[2018-09-13 11:50] phuaky commented on #1916
Im still not able to transpile properly even after going through the suggestions and trying out a few ways.
is there another way to just exclude all node_modules except ccxt?
my current code
<img width="496" alt="screen shot 2018-09-13 at 7 49 24 pm" src="https://user-images.githubusercontent.com/21034468/45486576-2fccf380-b78e-11e8-83df-72d264286173.png">

[2018-09-13 12:03] npomfret opened #3840 "deployment error in a google / firebase cloud function"
I'm unable to use ccxt in a cloud function.  When I start locally the deployment dies if I add the line `const cctx = require('cctx');`.  The same does not happen for other dependencies such as `const uuid = require('uuid');`

I've added (both) packages to my _package.json_ file, run `npm install` and I can see them both in my _node_modules_ directory.  I've tried cleaning the cache.

[code]

Here

[2018-09-13 12:07] kroitor commented on #3840
[code]

[2018-09-13 12:10] npomfret commented on #3840
haha - I'm an idiot.  Been looking at this for an hour.

[2018-09-13 12:10] #3840 closed

[2018-09-13 12:13] npomfret commented on #3840
... as s side question, i get another error from firebase which looks like a javascript versioning issue.  Is the following syntax for a very modern version of javascript:

[code]

[2018-09-13 12:16] kroitor commented on #3840
@npomfret the async syntax won't work with Node version < 7, unfortunately. Version 6 is too old. I suggest updating it, if possible.

[2018-09-13 12:17] npomfret commented on #3840
Thanks!

[2018-09-13 12:27] adrianchifor opened #3841 "Binance: fetch_deposits and fetch_withdrawals returned currency is None"
I ran `fetch_deposits()` and `fetch_withdrawals()` (no arguments) on my Binance account and the returned currency is None, response is something like:
[code]

Shouldn't `[].currency` be equal to `[].info.asset` ?

This works fine if I run `fetch_deposits('BTC')` and `fetch_withdrawals('BTC')`

- OS: Linux
- Programming Language version: Python 3.7
- CCXT version: 1.17.283
- Exchange: Binance
- Met

[2018-09-13 12:38] kroitor commented on #3834
@muradoviz we don't really want anything, will add it soon after we test it, free, in the meantime you can use the versions published above.

[2018-09-13 12:40] #3841 closed

[2018-09-13 15:01] phillipescofield commented on #3534
I'm using ccxt to recover foxbit BTC / BRL prices, but the prices I got from ccxt are not the same as they appear on the Foxbit platform. Is there still a problem with Foxbit in the ccxt library?

[2018-09-13 16:06] lvthillo opened #3842 "Showing symbols of Bitmex shows strange result"
Info:

- OS: MacOs
- Programming Language version: Python3
- CCXT version: 1.17.231
- Exchange: Bitmex
- Method: instantiate

This is the issue:

[code]

And I use it to call the function to get the symbols:
[code]

and suddenly the output is:
`['.ADAXBT', '.ADAXBT30M', '.BCHXBT', '.BCHXBT30M', '.BETH', '.BETH30M', '.BVOL', '.BVOL24H', '.BVOL7D', `

What is wrong here or am I missing something?
I

[2018-09-13 16:10] lvthillo commented on #3842
I see:
`Market ids are used during the REST request-response process to reference trading pairs within exchanges. The set of market ids is unique per exchange and cannot be used across exchanges. For example, the BTC/USD pair/market may have different ids on various popular exchanges, like btcusd, BTCUSD, XBTUSD, btc/usd, 42 (numeric id), BTC/USD, Btc/Usd, tBTCUSD, XXBTZUSD. You don't need to reme

[2018-09-13 16:10] #3842 closed

[2018-09-13 16:11] kroitor commented on #3842
- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids
- https://github.com/ccxt/ccxt/issues/3540

<img width="869" alt="screen shot 2018-09-13 at 19 10 53" src="https://user-images.githubusercontent.com/1294454/45501033-cdbdbf80-b788-11e8-868d-26fef9c4645d.png">

Basically, BitMEX markets are mostly futures contracts as explained in #3540. Let us know if the above does not answer the q

[2018-09-13 16:12] kroitor commented on #3842
@lvthillo the symbols starting with the dot symbol `.` are actually the names of BitMEX indices.

[2018-09-13 16:16] siberianguy opened #3843 "Usd vs. Usdt on Bitfinex"
I just realised ccxt maps Usd to Usdt on Bitfinex: https://github.com/ccxt/ccxt/blob/master/js/bitfinex.js#L277 Does it mean, all the usd currency pairs on Bitfinex are really Usdt ones?

What makes me really confused, is how we could work with usd/usdt currency pair on Bitfinex with the mapping above

[2018-09-13 18:13] MaxCCC commented on #2552
@kroitor

I just tried (latest version of ccxt)
[code]

And I got:
[code]

[2018-09-13 18:39] muradoviz commented on #3834
@kroitor You already added it. It is not hard for you. I will be happy if you add. But we will never ask you to add it again. Thanks for your time.

[2018-09-13 18:43] MaxCCC commented on #2552
@kroitor thanks

I tried:

[code]
which seems to fit in the limits?
`ccxt.base.errors.InvalidOrder: binance {"code":-1013,"msg":"Filter failure: MIN_NOTIONAL"}`

[2018-09-13 18:49] kroitor commented on #2552
Yes, but it's a different error now, so you're making progress ;)

It means that you're not respecting minimal cost:

[code]

[2018-09-13 19:45] kroitor commented on #3823
@Lorias if you're willing to support what we do and want to help us continue this and develop it further, we'll be happy for all contributions, your donation is welcome:

XRP Deposit address: rLHzPsX6oXkzU2qL12kHCH8G8cnZv1rBJh
XRP Destination tag: 1062046264

Thank you!

[2018-09-13 20:30] kroitor commented on #3823
Yes it did, thx so much! Appreciate your contribution! Let us know if you have more questions on the lib ;)

[2018-09-13 20:38] Lorias commented on #3823
Thx for your response.
Very good to know, that the XRP did arrive safely!
Yes, I'll ask for your support again I think.
Currently I'm running into other issues witch selling in hitbtc.
But first I'll try to fix these issues myself. When I should get stuck again,
I'll most likely have no chance as asking for your service again.
Thx and read about you soon!

[2018-09-13 20:40] kroitor commented on #3823
@Lorias I'd really recommend to read the entire Manual once again from the beginning to the very end, though this may seem like a very long read, it will definitely save a ton of debugging time, trust me. Moreover it explains some of the concepts that you definitely want to get comfortable with for your algorithmic trading in future. Hope it helps, let me know if not. ;)

[2018-09-13 22:40] hanelore commented on #3534
@phillipescofield are you using the new API?

[2018-09-13 23:14] phillipescofield commented on #3534
I'm using the last version of ccxt.

[2018-09-14 06:18] ngugc opened #3845 "'import ccxt' takes over 2 seconds with python 3.6"
- OS: Ubuntu 16.04.4
- Programming Language version: Python 3.6
- CCXT version: 1.17.283
- Exchange:
- Method:

time python3.6 -c 'import ccxt'

real	0m2.716s
user	0m1.340s
sys	0m0.076s

time python2.7 -c 'import ccxt'

real	0m0.243s
user	0m0.112s
sys	0m0.020s

[2018-09-14 08:52] Showgofar opened #3846 "Php Errors"
- OS: Centos
- Programming Language version: php
- CCXT version:  1.17.142
- Exchange: All
- Method: Fetch order book and all others

Hi
On php version 5.5

Here are some warnings
[code]

[2018-09-14 09:59] is0initial commented on #2968
+0.24 ltc - it's me.

[2018-09-14 11:04] adi90x opened #3847 "HitBTC v2 support for negative precision and lot sizes > 1"
Hello,

I cannot find when, but between ccxt 1.17.206 and now, there were a change to create order and edit order, it remove the lot units check ( and the appropriate error that was throw), plus the use of amountToPrecision create an error as soon as lot size is > 1, is it possible to correct it ?
Or implement decimalToPrecision with negative value + reimplement the lotsize error ?

Regards

[2018-09-14 14:30] terol1982 commented on #147
seems like bitmex need 16-bit nonce and ccxt generates 13-bit nonce.
so in bitmex.js I did next changes:
nonce () {
        return this.milliseconds ().toString ()+'000';  //old version vas: return this.milliseconds ()
    }

sign (path, api = 'public', method = 'GET', params = {}, headers = undefined, body = undefined) {
...
let nonce = this.milliseconds ().toString ()+'000';
...
}

[2018-09-14 17:06] kroitor commented on #3846
@Showgofar do you have the same issue with the most recent version of CCXT?

[2018-09-14 17:10] kroitor commented on #3846
- http://php.net/manual/en/array.constants.php

Looks like ARRAY_FILTER_USE_KEY requires PHP 5.6+, I'd recommend to upgrade PHP, that should solve the issue. I'm going to add a workaround for earlier versions soon.

Hope this answers your question, let us know if not.

[2018-09-14 17:10] #3846 closed

[2018-09-14 20:16] kroitor commented on #3845
The version for Python3 has to import web3 imports and eth*.py imports in order to provide 0x functionality, whereas in Python2 that functionality is not available. Therefore the number of deps it has to load for py3 is far greater than that of v2. We will soon drop the support for python2, as shown here:

- https://pythonclock.org
- http://python3statement.org

Hope this answers your post. Let us

[2018-09-14 20:16] #3845 closed

[2018-09-14 20:32] kroitor commented on #3846
I'll add a workaround for it to make it backward compatible with 5.5

[2018-09-14 20:39] mw130 opened #3848 "Nonce error on CEX"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: macOS High Sierra
- Programming Language version: Python 3
- CCXT version: 1.17.291
- Exchange: CEX
- Method: fetch_closed_orders()
Code:
[code]

Traceback:
`Traceback (most recent call last):
  File "/Users/mwaldman/PycharmProjects/Algorithms/Lambda/test.p

[2018-09-14 20:41] kroitor commented on #3848
@mw130 does it work without the nonce override?

[2018-09-14 20:43] mw130 commented on #3848
Hey Igor, it does not. It still complains it must be incremented even without override.

[2018-09-14 20:46] kroitor commented on #3848
@mw130 does fetchBalance work with the following snippet:

[code]
?

If the above snippet does not work, then let us know if it's a new key or not.

[2018-09-14 20:50] mw130 commented on #3848
I ran the exact code you just gave, and it complained of the same error. it is not a new key. Unfortunately, I cannot generate a new key at the moment.

[2018-09-14 20:54] kroitor commented on #3848
Then you should ask the person who owns the key, for their algorithm of nonce generation, because, obviously, that key has already been used with a nonce greater than you're sending. Most likely, it has been used with a microseconds-value, which is 1000 times greater than ms, though, I'm not sure. Your snippet works for me with a new key, both with and without the override (the override actually d

[2018-09-14 20:56] mw130 commented on #3848
Ah. I see. It is my key, but I cannot access the account currently because my 2fa device got lost. I will wait for a reset and generate a new key. Thanks for looking into it.

[2018-09-14 20:58] kroitor commented on #3848
@mw130 if that key is yours, you can try to multiply the value by a thousand, like so:

[code]

And see if it works...

[2018-09-14 21:02] kroitor commented on #3848
I'd close this for now if you don't mind, feel free to reopen it if needed, or just ask more questions, if any...

[2018-09-14 21:02] #3848 closed

[2018-09-14 21:03] mw130 commented on #3848
Thanks

[2018-09-14 21:10] mw130 commented on #3848
@kroitor I do have another question, is asking through here the best way? I don't want to open another issue. The question/issue is, in working with coinbase pro, I made a call `client.fetch_closed_orders(market, since=time.time() - 600)` which according to the docs should return orders that were closed in the last ten minutes. However, that does not work and it returns orders closed as far as 201

[2018-09-14 21:17] kroitor commented on #3848
`since=time.time() - 600` ← this is a value in seconds. While all CCXT unified methods accept milliseconds for time-values. This is documented in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#pagination, let me know if that does not answer your question

[2018-09-14 21:26] kroitor commented on #3846
@Showgofar this should work in PHP 5.5 as of version 1.17.292

[2018-09-14 21:31] mw130 commented on #3848
@kroitor amazing! Thank you so much.

[2018-09-15 02:35] ngugc commented on #3845
@kroitor , is there any way to improve the import time? 2.7 secs are toooo long.

[2018-09-15 10:44] Showgofar commented on #3846
also there is no compatibility with php 5.4 because of curl_reset() function
so you should update manual))

[2018-09-15 10:54] alex-karo commented on #3832
Now method works fine

[2018-09-15 11:19] neatek opened #3850 "How to close position on bitmex?"
- OS: Windows 10 Pro
- Programming Language version: Python 3.6.3 (v3.6.3:2c5fed8)
- CCXT version: 1.17.295
- Exchange: bitmex
- Method: ?

Hello, everyone, i have simple question about `**positions**`, how to `**close position**` on bitmex via ccxt?

[2018-09-15 13:27] kroitor commented on #3850
https://github.com/ccxt/ccxt/issues/2096#issuecomment-377768695

[2018-09-15 13:27] #3850 closed

[2018-09-15 18:46] dbzalpha commented on #818
Thanks for the correction!
Though we have a little typo at line 249 for async_support/mercado.py
`timestamp = self.safeIneteger(order, 'created_timestamp') #typo
timestamp = self.safe_integer(order, 'created_timestamp') #correct with safe_integer`

[2018-09-15 19:49] snake575 opened #3851 "Status for a partially-filled canceled order"
Hi, a simple question... Which status should have an order that has been partially-filled and then canceled?

[2018-09-15 19:53] kroitor commented on #3851
Hi!

The status in that case should be `canceled`, with `amount > 0`, `filled > 0`, `remaining > 0`, `filled < amount`. Let us know if that does not answer the question.

[2018-09-15 19:53] #3851 closed

[2018-09-15 21:22] marcpeterson opened #3852 "Binace fetchDeposits exposes infinite recusive bug"
- OS: Windows
- Programming Language version: PHP 7.2.4
- CCXT version: 1.17.296
- Exchange: Binance
- Method: fetchDeposits()

Excited to try out the new unified Binance deposits/withdraws.  But there's a minor bug in PHP.  The method Exchange->filter_by_currency_since_limit() recursively calls itself.

    public function filter_by_currency_since_limit ($array, $code = null, $since = null, $limi

[2018-09-16 03:54] #3852 closed

[2018-09-16 04:04] kroitor commented on #3845
@ngugc you can try a custom build: https://github.com/ccxt/ccxt/blob/master/exchanges.cfg

[2018-09-16 04:14] yaotian opened #3854 "aiohttp proxy setting from HTTP_PROXY or HTTPS_PROXY environment variables"
want to setup the proxy from environment like "http_proxy" and "https_proxy".
But it does NOT work.
The test code is below.
[code]

Best guess is "python/ccxt/async_support/base/exchange.py". Missed "trust_env=True"?

[2018-09-16 05:04] yaotian commented on #3854
why close this issue?

[2018-09-16 05:05] kroitor commented on #3854
@yaotian I've uploaded a fix 30 mins ago: https://github.com/ccxt/ccxt/commit/8156f2297bc56aac9f6673097a8938a2632d8664
The env vars should now work with `ccxt.async_support` as of CCXT 1.17.298. Let us know if you still have difficulties with it.

[2018-09-16 05:09] yaotian commented on #3854
cool

[2018-09-16 13:28] ngugc commented on #1952
@kroitor , @rkjdid , Thanks for your great work! Looking forward to golang support.

[2018-09-16 18:05] elcryptoninja opened #3857 "Binance precision in PHP: Illegal characters found in parameter 'price'"
- OS:
- Programming Language version: PHP
- CCXT version: 1.17.301
- Exchange: Binance
- Method: create_limit_sell_order

When I call create_limit_sell_order with a long decimal price, I get Binance error
"Illegal characters found in parameter 'price'; legal range is '^([0-9]{1,20})(\\.[0-9]{1,20})?$'.""

Example :
create_limit_sell_order('XLM/BTC', 40, 0.00003186)

I think the library sends "3.18

[2018-09-16 20:40] mealesbia opened #3858 "How to test ccxt package?"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: macOS High Sierra
- Programming Language version: Python3
- CCXT version: latest
- Exchange: All
- Method:

I'm searching for a way to test the ccxt package. First I read about the "test" parameter with which I was able to test buys (I used binance as excha

[2018-09-17 03:02] #3825 closed

[2018-09-17 03:05] kroitor commented on #3825
Hi!

I've added the following overrideable `httpExceptions` property with a mapping of http status codes to exception classes, this should resolve your issue:

- https://github.com/ccxt/ccxt/blob/master/js/base/Exchange.js#L159
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/base/exchange.py#L141
- https://github.com/ccxt/ccxt/blob/master/php/Exchange.php#L761

Let us know if that does not

[2018-09-17 03:34] sgtStrom commented on #3825
Great work, comrade!
I will test this tomorrow and write back to you.

[2018-09-17 03:39] ngugc opened #3859 "Why trades/orders are sorted by timestamp ascending?"
- OS:
- Programming Language version: js
- CCXT version:
- Exchange:
- Method:

![image](https://user-images.githubusercontent.com/2368031/45605189-90e61700-ba6d-11e8-9f80-04e24cc407e9.png)

From my experience, most of the exchanges return trades/orders sorted by timestamp descending.  It's convenient for the apps to traverse the data from latest to older.
Why does ccxt sort trades/orders by times

[2018-09-17 03:49] kroitor commented on #3859
In fact, there's no dominating majority in this, even topmost exchanges differ in the ordering, and this is covered in the Manual.

- https://github.com/ccxt/ccxt/wiki/Manual#pagination

You can always redefine `parseTrades` and sort them how you want, thus it isn't really an issue at all for most users.

In short, the ascending sorting is aligned with the date-based pagination and `since`+`limit`

[2018-09-17 03:49] #3859 closed

[2018-09-17 03:59] ngugc commented on #3859
OK, thanks! Then I am worrying about, are there any exchanges which return pages ascending? I mean, page2 is newer than page 1.

[2018-09-17 05:30] Iliker opened #3860 "return error when decimal_to_precision args n is float"
[code]

error is call create_order in python/ccxt/binfinex.py

[2018-09-17 05:34] kroitor commented on #3860
@Iliker what's your version of CCXT ?

[2018-09-17 05:37] Iliker commented on #3860
1.16.89 @kroitor

[2018-09-17 05:41] kroitor commented on #3860
@Iliker you should update to at least 1.17.239 (better to most recent version of it), as this issue has already been reported by @beniloew here: https://github.com/ccxt/ccxt/issues/3800 and fixed by @frosty00 here: https://github.com/ccxt/ccxt/pull/3663. Let us know if that does not answer your question.

[2018-09-17 05:41] #3860 closed

[2018-09-17 07:29] ngugc opened #3861 "coinex res/market api restriction"
- OS: all
- Programming Language version: all
- CCXT version: 1.17.302
- Exchange: CoinEx
- Method:

CCXT uses https://www.coinex.com/res/market to retrieve market info, but it has two problems:
* Not officially public, may be changed in the future.
* It's restricted very frequently, Per my experience, the maximum access frequency is about 1 time every 3 seconds.

As the data is not changed freque

[2018-09-17 07:33] kroitor commented on #3861
Yes, but, we believe, this type of caching should be done in userland, outside of the library. You can save and restore the `.markets` property how you like, setting that property will effectively turn off loading markets from the exchange. Just google for *"serialize / deserialize json file"* and you'll get a ton of results for your language on stackoverflow, reddit or elsewhere. Hope this answer

[2018-09-17 07:33] #3861 closed

[2018-09-17 14:36] Umbralith opened #3862 "Kucoin price precision issue in PHP"
When placing an order to Kucoin, if I sell 0.001 BTC @ 10001 USDT, it sends the request just fine. But if I set the price to 10000, it strips the trailing 0's and sends the request as 0.001 BTC @ 1 USDT, resulting in a failed request because the price is too low.

[2018-09-17 14:42] Umbralith commented on #3862
This seems critical as it ruins placing orders for kucoin. It might have something to do with the decimal_to_precision funciton. I saw there was a fix to that function 12 days ago and I pulled the most recent version of ccxt, but it still happens, so I guess this issue is unrelated to the previous issue

[2018-09-17 14:56] kroitor commented on #3862
Related: #3857

[2018-09-17 15:06] Umbralith commented on #3862
So I found the error, IT seems to be a php error. The rtrim method in decimal_to_precision doens't work as expected.

[2018-09-17 15:07] Umbralith commented on #3862
rtrim("100.000", "0.") should trim anything, because "0." isn't at the end of that string, but it trims everything until the 1.  If I do rtrim ("100.000", "."), it return "100.000" as expected.

As another example, I did
[code]
and it returns an empty string

[2018-09-17 15:10] Umbralith commented on #3862
https://stackoverflow.com/questions/52370727/why-does-rtrim-remove-things-that-arent-on-the-right

[2018-09-17 15:10] ngugc opened #3863 "symbol/market and precision checks"
- OS:
- Programming Language version: all
- CCXT version:
- Exchange:
- Method:

I notice that most of the exchange functions check if 'symbol' is in the market list, and when placing orders, the amount/price precision is checked.

In some cases, I would like to handle the above checks in user land or just skip the checks.
I wonder if there is solution for this requirement, or is it possible to ad

[2018-09-17 15:15] Umbralith commented on #3862
Solution I think would be to run rtrim twice like this
[code]
I can't get to it right this second, but if this is still open later tonight I can put in a PR

[2018-09-17 15:33] kroitor commented on #3862
@Umbralith can you please show your verbose request/response?

[code]

Also, what's your version of PHP?

[2018-09-17 16:07] kroitor commented on #3862
[code]

[2018-09-17 16:43] #3857 closed

[2018-09-17 16:43] #3862 closed

[2018-09-17 17:56] xmatthias opened #3864 "Depreciation warning from aiohttp method"
- OS: linux
- Programming Language version: python
- CCXT version: ccxt-1.17.306
ccxt (or rather aiohttp) thows the following Warning when imported from pytest (or with warnings turned on)

[code]

### minimalistic recreation script
[code]

[2018-09-17 20:52] Labradors opened #3865 "coin base info"
Whether api contains basic currency information, such as release time, total amount of distribution, introduction, etc.

[2018-09-17 23:30] hanelore commented on #3534
@phillipescofield Foxbit changed the API. Now they use Websocket:

 wss://apifoxbitprodlb.alphapoint.com/WSGateway

Documentation: https://docs.foxbit.com.br/EN/index.html

[2018-09-18 02:58] kroitor commented on #3865
Sorry? Didn't quite get it, what's your question or issue? Can you, please, clarify/elaborate ?

[2018-09-18 03:02] #3864 closed

[2018-09-18 04:09] zjingpopo opened #3866 "bithumb fetch_ticker ZeroDivisionError: float division by zero"
Python 3.6.5 (default, Apr  1 2018, 05:46:30)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.6/dist-packages/ccxt/bithumb.py", line 211, in fetch_ticker
    return self.parse_ticker(response['data'], market)
  File "/usr/local/lib/python3.6/dist-pack

[2018-09-18 04:30] #3866 closed

[2018-09-18 04:35] kroitor commented on #3858
Which particular aspect of it do you want to test? In other words, what's your goal that are you trying to achieve by testing?

[2018-09-18 05:07] kroitor commented on #3863
Exchanges have very strict rules on the values of `amount` and `price`, as explained here:

- https://github.com/ccxt/ccxt/wiki/Manual#market-structure
- https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

Because `precision` and `limits` are both properties of a market, a symbol is required to identify the market and retrieve the info on market precision and limits from markets that ar

[2018-09-18 05:07] #3863 closed

[2018-09-18 06:07] dongx3 commented on #1392
@kroiter
Hi, is there any progress on this issue?

[2018-09-18 06:08] dongx3 commented on #1392
@kroitor
Hi, is there any progress on this issue?

[2018-09-18 07:03] DmitryVil opened #3867 "warning: 'couldn't find .netrc file'"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows 10
- Programming Language version:  python 3.7
- CCXT version: 1.17.309
- Exchange: all exchanges
- Method: fetch2OrderBook(), fetchBalance()

Igor, Good morning,

I am using asynchronous ccxt access to exchanges. From yesterday ( I suppose after cc

[2018-09-18 07:09] #3867 closed

[2018-09-18 07:13] kroitor commented on #3867
This is related to the following issue: https://github.com/ccxt/ccxt/issues/3854

The fix for it was to add `trust_env=True` flag to `aiohttp.ClientSession`. That option enables env variables for proxy support as described here: https://docs.aiohttp.org/en/stable/client_advanced.html?highlight=trust_env#proxy-support. It will then load proxy settings from env variables or from a `.netrc` file, if

[2018-09-18 07:13] kroitor commented on #3854
@yaotian plz also read this: https://github.com/ccxt/ccxt/issues/3867#issuecomment-422281165

[2018-09-18 11:34] shaohaojiecoder opened #3868 "please add 'average' for binance and coinex fetch_order interface"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:win10
- Programming Language version:python3.6
- CCXT version:1.17.303
- Exchange:binance,coinex
- Method:GET

[2018-09-18 11:34] shaohaojiecoder commented on #3868
ba.fetch_order('1788259447',symbol='ETH/USDT')

Request: GET https://api.coinex.com/v1/order?access_id=345C1E10F03A41E6992730D6E410E241&id=1788259447&market=ETHUSDT&tonce=1537270177660 {'User-Agent': 'python-requests/2.18.4', 'Authorization': '3055CD19C6834EAD3AEBE5754773AAE9', 'Accept-Encoding': 'gzip, deflate', 'Content-Type': 'application/json'} None

Response: GET https://api.coinex.com/v1/ord

[2018-09-18 11:34] shaohaojiecoder commented on #3868
{'amount': 0.1,
 'cost': 19.685,
 'datetime': '2018-09-18T11:28:55.000Z',
 'fee': {'cost': 0.0, 'currency': 'USDT'},
 'filled': 0.1,
 'id': '1788259447',
 'info': {'amount': '0.1',
  'asset_fee': '0.22736197736197736197',
  'avg_price': '196.85000000000000000000',
  'create_time': 1537270135,
  'deal_amount': '0.1',
  'deal_fee': '0',
  'deal_money': '19.685',
  'fee_asset': 'CET',
  'fee_discount

[2018-09-18 11:35] shaohaojiecoder commented on #3868
please add 'average'  for fetch_order interface

[2018-09-18 11:51] Labradors commented on #3865
how to get the coin information? such as release time, total amount of distribution, introduction, etc.

[2018-09-18 11:55] ngugc commented on #3863
@kroitor , as the market list cannot be updated in real time, a running app won't be able to handle the symbols that are newly listed in the exchanges.

[2018-09-18 11:55] kroitor commented on #3865
Exchanges won't provide that info in full sense. They will provide some partial description and a name, and, basically, that's it. You can grab some of that info from CoinMarketCap using implicit methods (https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods) or using other explorer-sites. Let us know if that does not answer the question. Feel free to ask, if you have more.

[2018-09-18 11:55] #3865 closed

[2018-09-18 11:58] kroitor commented on #3863
Why? As described here: https://github.com/ccxt/ccxt/wiki/Manual#market-cache-force-reload you can load the list of markets and update it in real time in your running app whenever you want/need, as many times as you want throughout the lifetime of your app.

[2018-09-18 12:26] cfytrok opened #3869 "Async edit_order emulation"
- OS: Windows 10
- Programming Language version: Python
- CCXT version: 1.17.269
- Exchange: Okex
- Method: edit_order, cancel_order, create_order

Default implementation of edit_order waits cacel_order return.
[code]
Is there a good way to do simultaneous cancel and create requests?

I tried to call cancel_order and create_order in different threads. Create_order sometimes returns id of order, th

[2018-09-18 12:30] ngugc commented on #3863
@kroitor , the reason is that usually we don't know the exact time the symbols will be listed. We may only know “xxx symbol will be listed in yyy days” from the exchange announcements. We have to poll the market list.

[2018-09-18 12:32] kroitor commented on #3869
Have you looked into the async version of the library? https://github.com/ccxt/ccxt/blob/master/python/ccxt/async_support/base/exchange.py#L243

You can redefine this method to `asyncio.gather` the end-result of those two calls almost simultaneously, however, because those are two private requests, you will have to manage the rate limits and nonce, as documented in the Manual:

- https://github.co

[2018-09-18 12:32] #3869 closed

[2018-09-18 12:33] kroitor commented on #3863
Right, there's no shortcuts, you have to poll it if you want the an up-to-date view of their markets.

[2018-09-18 13:02] ngugc commented on #3863
@kroitor, that's why I ask for an option to fire bare requests without the whitelist check.

[2018-09-18 13:07] kroitor commented on #3863
@ngugc you can do that with implicit methods, as documented here: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[2018-09-18 13:54] ndubel commented on #3809
any updates?

[2018-09-18 15:27] kroitor commented on #3869
@cfytrok I've fixed it a couple of days ago: https://github.com/ccxt/ccxt/blob/master/python/ccxt/async_support/base/exchange.py#L116

[2018-09-18 20:02] cartercarlson commented on #878
@kroitor  would you be opposed if I work with one of the exchanges to pull total market cap?  It would probably be similar to using [exchange].fetch_ohlcv

[2018-09-18 20:28] kroitor commented on #878
@cartercarlson I'm not sure if it's possible to pull total market cap from any single exchange in a single request (except CMC which is integrated in CCXT). I think you will have to *cycle over a period* to aggregate the data for MC or you will have to build upon higher ohlcv timeframes (1d, 1w, 1M...). The thing is that CCXT is trying to be as close to the *low-level* as it can, that is, doing on

[2018-09-19 08:31] #3868 closed

[2018-09-19 10:11] npomfret opened #3870 "coinex exception while reading trades from exchange"
exchangeId: 'coinex',
marketSymbol: 'EOS/BCH'
method: `fetchTrades`

[code]

[2018-09-19 10:13] cfytrok opened #3871 "Split limit and market order cost limits"
- Programming Language version: Pyhton
- CCXT version: 1.17.313
- Exchange: binance
- Method: Exchange.markets

Cost limits are different for limit and market orders on Binance. Or rather, there is no cost limit for market orders. Please split limits for market and limit orders.

[2018-09-19 10:29] #3870 closed

[2018-09-19 12:33] elcryptoninja opened #3872 "RightBTC PHP create_order fail: undefined index created_at"
- OS:
- Programming Language version: PHP
- CCXT version: 1.17.306
- Exchange: rightbtc
- Method: create_order

When I call create_order I get the error "undefined index created_at"
I think rightbtc order API doesn't return datetime or timestamp

[2018-09-19 12:36] #3872 closed

[2018-09-19 12:58] rduque1 opened #3873 "fetchBalance for js RightBTC parses wrongly the resutls of the exchange"
- OS: all
- Programming Language version: JavaScript
- CCXT version: latest
- Exchange: RightBTC
- Method: fetchBalance

The fetchBalance method for RightBTC does not parse correctly the response.
RightBTC returns
[code]

https://github.com/ccxt/ccxt/blob/master/js/rightbtc.js#L400 uses the `balance` property of the response as the `total` to return. But `balance` property is actual the available

[2018-09-19 13:03] #3873 closed

[2018-09-19 14:44] anikgoel opened #3874 "fetchOrder giving Limit price instead of execution price."
- OS: Ubuntu 16.04
- Programming Language version: php 7.1
- CCXT version: 1.17.311
- Exchange: Kraken
- Method: fetchOrder

While getting order info from Kraken, the price data which is given by ccxt generalize output is what was the limit price, not the actual execution price. Kraken returns 2 prices inside their data, 1 is inside "descr" which is limit price and another one is the "price" at th

[2018-09-19 15:09] #3832 closed

[2018-09-19 16:55] karlandoh commented on #3458
Hello,

Also confirming that this issue is still existent.

Thanks.

[2018-09-19 16:57] kroitor commented on #3458
@karlandoh can you post a short but complete snippet of code to reproduce it here?

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
- https://github.com/ccxt/ccxt/wiki/FAQ#im-trying-to-run-the-code-but-its-not-working-how-do-i-fix-it

[2018-09-19 17:02] karlandoh commented on #3458
bigone.fetchBalance()

[code]

Language: Python
Version: 1.17.320

[2018-09-19 17:32] #3458 closed

[2018-09-19 18:10] mgarsteck opened #3875 "Bitmex loadMarkets() 403 error"
- OS: OSX 10.12.6
- Programming Language version: JS
- CCXT version: 1.17.232
- Exchange: Bitmex
- Method: loadMarkets*

I am getting a 403 error on Bitmex when I try to call loadMarkets() or fetchOHLCV.  In fact I am only able to call the the methods like privateGetUserWallet.  Im able to retrieve my account data and history from that, but why am I not able to use the other methods like OHLCV?  I

[2018-09-19 20:05] mealesbia commented on #3858
@kroitor Well, I'm already grateful binance has the params value (in which I can set test = True) to test a buy or a sell command. But in my situation I need to go further. Now I'm I'm testing by creating buy orders with the minimum price of a coin to get some more useful return values (ID, ..) than '`None`'.

I'm afraid this has nothing to do with this package (which is great) so you can close th

[2018-09-19 20:48] vigrobizz commented on #1786
I just ran into this issue on Binance, it's something on their side...
Ran this like 5 times after placing a stop-limit order: exchange.fetch_order(9954671, "ICX/USDT")
Every time it gave me {"code":-2013,"msg":"Order does not exist."} error.
Checked my order history on Binance website and it wouldn't show my last couple of trades even after several refreshes.  Probably 1-2 mins later it started s

[2018-09-19 21:27] lvthillo commented on #3875
@mgarsteck
For me it seems to work. Can you share your code?

const ccxt = require ('ccxt')
[code]

Part of output:
[code]

[2018-09-19 22:07] mgarsteck commented on #3875
`async componentDidMount() {
    let nonce = 1;
    // let ids = await ccxt.exchanges.filter (id => id in this.state.exchanges);
    let bitmex = new ccxt.bitmex({
      'apiKey': "**************",
      'secret': "hZrEcCaN9Td2fbRSNR5IraK5UYkK_VfoQcLQzHs7xf0zo60C",
      'enableRateLimit': true,
      'proxy': 'https://cors-anywhere.herokuapp.com/',
      'nonce': Date.now,
    });

    console.lo

[2018-09-19 22:17] JacobM903 commented on #3858
I'd imagine not, the values inside info come directly from the exchanges endpoint. So when CCXT calls binance it recieves json that looks like what ends up in info and parses the data and builds the rest of the dictionary. the format of each exchanges 'info' will be different but the rest of the dictionary is universal

[2018-09-20 01:17] kroitor commented on #3875
@mgarsteck remove the proxy and the nonce override from your instantiation code:

[code]

Let us know if that does not help.

https://github.com/ccxt/ccxt/wiki

[2018-09-20 01:17] #3875 closed

[2018-09-20 01:30] mgarsteck commented on #3875
@kroitor I removed the two lines, one at a time and got this CORS error.

<img width="381" alt="screen shot 2018-09-19 at 6 29 25 pm" src="https://user-images.githubusercontent.com/8356522/45790494-fa1a8580-bc39-11e8-8741-bcc7a6358f4e.png">

[2018-09-20 01:36] kroitor commented on #3875
@mgarsteck oh, I see, you're running it from a browser... when using a CORS proxy, you should also define the origin header:

[code]

Let us know whether it solves the issue for you or not.

[2018-09-20 01:45] mgarsteck commented on #3875
@kroitor I changed the code and I still get the same 403 error as before.

[2018-09-20 01:58] kroitor commented on #1786
@vigrobizz thx for reporting! Indeed, we've seen the quality of service degrade during peak loads, therefore the website and/or the exchange API are subject to a "lag" that manifests itself with a delayed update of the status of your order. Unfortunately, this isn't something we can workaround on our side, as you understand. Thx again for your participiation!

[2018-09-20 02:11] kroitor commented on #3875
@mgarsteck sure! Actually, you'd better install it with Node and try outside of a browser, because browsers have their own limitations (like the need for CORS, proxies, etc...). In a Node environment (be it on your local machine or a remote server) you won't have to deal with the above issues and BitMEX will work normally... Unfortunately, it doesn't want to work from a browser, I'm going to inves

[2018-09-20 02:39] mgarsteck commented on #3875
@kroitor Thanks for clearing things up.  Will give it a shot and let you know what I find.

[2018-09-20 06:11] #3809 closed

[2018-09-20 06:15] kroitor commented on #3152
This is now fixed in the most recent version after we implemented decimalToPrecision everywhere. Let us know if you still have difficulties with it with version 1.17.320+. Thx!

[2018-09-20 06:31] #3284 closed

[2018-09-20 07:11] sgtStrom commented on #3825
Yes, `httpExceptions` property fully suits me. Thanks again!

[2018-09-20 09:15] jacob327 opened #3878 "Lbank signing method may use RSA public key authentication"
Hi, I'm new to OSS so I don't know how to contribute.

- OS: Ubuntu18.04
- Programming Language version: NodeJs v10.10.0
- CCXT version: 1.17.314
- Exchange: Lbank
- Method: sign

Lbank's aign method may changed according to:
https://github.com/LBank-exchange/lbank-official-api-docs/commit/fbfd4e2fe443bc9521ebf00fadf990aa5e6b7d25

This code does not work for me.
[code]

This code works.
[code]

[2018-09-20 09:35] kroitor commented on #3878
Indeed, your solution does work, however, unfortunately, it is JS-specific, whereas the code that lives inside this lib is mostly language-agnostic, more about it here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support

We already have RSA base methods implemented for Huobi from here: https://github.com/ccxt/ccxt/issues/3345, but had to delete that implementation after

[2018-09-20 09:53] #3709 closed

[2018-09-20 11:30] Geo-Joy commented on #2684
@MaticConradi
I tried the following
[code]
 **but getting an error as follows.**

[code]
any ideas...

[2018-09-20 11:34] kroitor commented on #2684
@Geo-Joy

[code]

↓

[code]

[2018-09-20 11:45] Geo-Joy commented on #2684
@kroitor thanks for the quick response but  beautifying code dint resolve.

[code]

[2018-09-20 11:46] MaticConradi commented on #2684
Try getattr(ccxt, “bitmex”)()

[2018-09-20 11:47] kroitor commented on #2684
@Geo-Joy something wrong with your ccxt import, inspect the instance that was created:

[code]

[2018-09-20 11:50] Geo-Joy commented on #2684
above does not have **private_post_position_leverage**

`["__class__", "__del__", "__delattr__", "__dict__", "__dir__", "__doc__", "__eq__", "__format__", "__ge__", "__getattribute__", "__gt__", "__hash__", "__init__", "__init_subclass__", "__le__", "__lt__", "__module__", "__ne__", "__new__", "__reduce__", "__reduce_ex__", "__repr__", "__setattr__", "__sizeof__", "__str__", "__subclasshook__", "_

[2018-09-20 11:53] Geo-Joy commented on #2684
above has
'private_get_user_margin',
 'private_get_user_minwithdrawalfee',
 'private_get_user_wallet',
 'private_get_user_wallethistory',
 'private_get_user_walletsummary',
 'private_post_apikey',
 'private_post_apikey_disable',
 'private_post_apikey_enable',
 'private_post_chat',
 'private_post_order',
 'private_post_order_bulk',
 'private_post_order_cancelallafter',
 'private_post_order_closepos

[2018-09-20 11:56] Geo-Joy commented on #2684
@MaticConradi and @kroitor
It worked  - I was on testnet had to switch api URL to testnet.
any how the error thrown was confusing

**working code**
[code]

Thanks for the support!!!

[2018-09-20 12:33] adi90x commented on #3847
Hello,
Isn't it possible to just multiply by 10e numPrecisionDigits ? In cas numPrecision < 0 ?

[2018-09-20 12:37] kroitor commented on #3847
Hi!

https://github.com/ccxt/ccxt/pull/3741

[2018-09-20 14:46] kroitor commented on #3847
@ndubel

Nope, it doesn't... It actually puts zeroes there... So it looks as if it was working, but it breaks in certain edge-cases.

As a temporary workaround you can set the amount precision to zero on the market of interest to revert it to the old behavior:

[code]

The above is explained in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

[2018-09-21 01:45] zjingpopo opened #3879 "bibox fetch_order_book() requires apiKey while the api doc says it does not"
https://github.com/Biboxcom/API_Docs_en/wiki/REST_Request_Response
according to the api doc example, "cmd": "api/depth", and "cmd": "api/ticker",  does not need an apiKey.
I can get the result through a http request without any apikey and secret.
ubuntu:~$ curl 'https://api.bibox.com/v1/mdata?cmd=depth&pair=BTC_USDT&size=20'
{"result":{"pair":"BTC_USDT","update_time":1537493887054,"bids":[{"volume

[2018-09-21 08:07] anik-jagtap opened #3880 "poloniex withdraw id"
- OS: Windows 7
- Programming Language version: JavaScript
- CCXT version: 1.17.240
- Exchange: Poloniex
- Method: withdraw()

Hi,
I am working with Poloniex withdraw method. Since withdraw method of other exchanges such as Bitfinex, Binance, etc provides us the response with the withdraw id or id; but poloniex just returns this,
`{
  "response": "Withdrew 2398 NXT."
}`
It does not include withdra

[2018-09-21 08:17] kroitor commented on #3880
You can't, it's a limitation of the exchange. They won't return the id in response to your withdraw request.

We'd love to, but this isn't something that we can workaround on our side, the issue is with the Poloniex API itself. Therefore you can't really get that id in one call. However, you can fetch the history of your deposits and withdrawals, and find the id of your withdrawal from there (matc

[2018-09-21 08:17] #3880 closed

[2018-09-21 11:24] tangopium opened #3881 "Ambiguous coins, BOX: ContextBox vs BOX Token"
The issue is more or less generic and already somehow addressed in ccxt. The problem is that there are a lot of ambiguous currencies. I just lost 50€ because I transfered ContentBox (BOX) tokens to BOX Token (BOX). And there are apparently more BOX currencies. Is there any list/maxtrix you maintain to kind of unify the currency names? If not, I would propose to build one.

[2018-09-21 11:28] tangopium commented on #3881
Would you mind linking the issue to which this one is a duplicate? I searched for it but didn't find it

[2018-09-21 11:30] kroitor commented on #3881
This is documented here:

- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids
- https://github.com/ccxt/ccxt/wiki/Manual#naming-consistency
- https://github.com/ccxt/ccxt/wiki/Manual#notes-on-naming-consistency
- https://github.com/ccxt/ccxt/issues/3077 ←---- duplicate
- https://github.com/ccxt/ccxt/issues?page=1&q=author%3Aarielorvits+is%3Aclosed ←----- tons of duplicates
- use sear

[2018-09-21 11:35] kroitor commented on #3881
[code]

We will fix the conflict with BOX asap.

[2018-09-21 11:38] kroitor commented on #3881
@tangopium can you tell which of the exchanges are in conflict?

[2018-09-21 11:44] #3881 closed

[2018-09-21 12:06] tangopium commented on #3881
The following exchanges are trading BOX Token (https://etherscan.io/token/0xe1A178B681BD05964d3e3Ed33AE731577d9d96dD):

- Bit-Z

The following ContentBox (https://etherscan.io/token/0x63f584fa56e60e4d0fe8802b27c7e6e3b33e007f):

- huobipro
- coinmarketcap
- ethfinex
- bitfinex
- uex

And I cannot find BOX on the following platforms listed by you(r script):

- fcoin

**BOXX** is another currency and

[2018-09-21 13:30] #3677 closed

[2018-09-21 13:30] #3751 closed

[2018-09-21 13:30] #1732 closed

[2018-09-21 13:30] #2842 closed

[2018-09-21 14:15] kroitor commented on #3881
@tangopium

Thx for reporting it! I've uploaded a fix for Bit-Z. It is now recoded to its name (`BOX Token`) according to the Manual as of CCXT 1.17.329.

Sorry for the inconvenience with conflicting symbols and for your loss of money. We're a library under development, as we tried to explain in the doc. I'd recommend to read it from top to bottom first to understand the inner workings of it as we

[2018-09-21 22:16] mw130 opened #3882 "Scripts can't run on multiple exchanges because data returned isn't standardized"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: OS X
- Programming Language version: Python 3
- CCXT version: 1.
- Exchange: Binance
- Method: cancel_order

I'm trying to run an algorithm that involves placing buys and cancelling those buys, repeatedly. I wrote it based on coinbasepro, where I ran
`for o

[2018-09-21 22:20] kroitor commented on #3882
Don't use the `info` field, it contains the raw response from the exchange as is, in exchange-specific format (differs from exchange to exchange). Please read the Manual from top to bottom to understand how the Unified API works.

- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/wiki/Manual#unified-api
- https://github.com/ccxt/ccxt/wiki/Manual#order-structure

Let us know

[2018-09-21 22:20] #3882 closed

[2018-09-22 02:49] timolson opened #3883 "Kucoin Trades Missing Trade ID"
Simple PR to follow

[2018-09-22 08:11] #3883 closed

[2018-09-22 13:40] abhishekgahlot opened #3887 "Get orderbook url for a symbol"
Hi,

I want to get orderbook url for a symbol. I understand you change it internally to match with other symbols. So what I am looking for is for eg symbol BTC/ETH where does ccxt send the request to, of course I can log them and I tried logging to in `fetch` function.

For eg lets say: BTC/ETH url looks like:
[code]

But for few exchange like kraken and bittrex the symbol reverses:
[code]

Though

[2018-09-22 17:53] angyvolin opened #3889 "Update Kucoin description (fees and some limits)"
This PR #3888 updates Kucoin withdrawal fees and some minAmount limits.

OS: OS X
Programming Language version: NodeJs
CCXT version: 1.17.338
Exchange: Kucoin
Method: describe()

[2018-09-22 18:05] #3889 closed

[2018-09-22 21:01] AdvaithD opened #3890 "fetchTicker returning undefined values"
I have a simple function that fetches tickers of certain exchanges, and logs them

`async function ccxtPrices() {
  let prices = { btc: 0.0, usd: 0.0, eur: 0.0, gbp: 0.0, cny: 0.0 }
  let usd = coinbase.fetchTicker("BCH/USD")
  let eur = coinbase.fetchTicker("BCH/EUR")
  let gbp = coinbase.fetchTicker("BCH/GBP")
  let cny = okex.fetchTicker("BCH/CNY")

  Promise.all([usd, eur, gbp, cny]).then(func

[2018-09-22 21:04] kroitor commented on #3890
Hi! This is the expected behaviour as not all exchanges will return all fields, most of them will only return just a subset of them. CCXT unifies them to common names and types, but it cannot create a value out of thin air. We only have what we have from the exchange in question. Let us know if that does now answer your question.

[2018-09-22 21:04] #3890 closed

[2018-09-22 21:05] AdvaithD commented on #3890
@kroitor thanks for clearing things out!

[2018-09-22 21:10] procloud opened #3891 "btc-alpha fetchMyTrades returning wrong side"
ccxt needs to use "my_side" instead of "type"

this order was in fact a sell...

verbose below...

 [{"id":16176908,"timestamp":1537647065.8741350174,"pair":"XXX_XXX","price":"X.XXXXXXXX","amount":"X.XXXXXXXX","type":"buy","my_side":"sell"}]

fetch_Open_Orders is OK

[2018-09-22 21:33] mariodantas opened #3892 "Kraken MARKET order returns error"
- OS: Ubuntu 18.04
- Programming Language version: PHP 7.0
- CCXT version: Last
- Exchange: Kraken
- Method: create_market_sell_rder

Kraken returns this:

kraken {"error":["EGeneral:Invalid arguments:volume"]}

When I use this:
$oOrder = $oExchanger->create_market_sell_order($cPair, $nOrder_amount);

$cPair is I.E. "BTC-EUR" (string)
$nOrder_amount is I.E. 5627 (float)

[2018-09-22 21:40] kroitor commented on #3892
We don't have symbols with a dash. Most of our symbols have a slash instead, as described in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

You don't really want to buy 5627 Bitcoin. Throughout this entire lib, amount is **always** in base currency, price is in quote currency.

- https://github.com/ccxt/ccxt/wiki/Manual#placing-orders
- https://github.com/ccxt/ccxt/wi

[2018-09-22 21:40] #3892 closed

[2018-09-22 21:42] mariodantas commented on #3892
Sorry fellow, I did a mistake, of course $cPair is "BTC/EUR" (slash and not dash)

And

$nOrder_amount is 0.034245000 (float)

[2018-09-22 21:49] kroitor commented on #3892
@mariodantas can you show your verbose output?

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
- https://github.com/ccxt/ccxt/wiki/FAQ#im-trying-to-run-the-code-but-its-not-working-how-do-i-fix-it

[code]

↑ Post your CCXT version and your verbose request/response, plz.

[2018-09-23 01:29] MigzuASD opened #3893 "Kucoin fetch_open_orders loses returned values"
I'm using CCXT 1.17.221 on Ubuntu 16.04 and Python 3.5.1-3. And I seem to have problems with fetch_open_orders.

I've tested this by opening a buy order on LTC/BTC-pair (trough the site). The exchange returns this order trough the api call to CCXT, but CCXT seems to lose it along the way and return me an empty array (no orders). I'm calling the method with symbol = "LTC/BTC" and rest of the parame

[2018-09-23 01:50] #3893 closed

[2018-09-23 01:51] MigzuASD commented on #3893
My bad. I had two installations of ccxt. Ancient one for user, the current one for root. Deleting the ancient one fixed my problem. My apologizations.

[2018-09-23 05:01] xCuri0 opened #3894 "Cobinhood create order not working"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu 16.04
- Programming Language version: Python 3.5.2
- CCXT version: master
- Exchange: cobinhood
- Method: create_limit_order

Error
[code]

Code
[code]

[2018-09-23 09:34] kroitor commented on #3894
@xCuri0 can you show your verbose request/response?

[2018-09-23 09:37] kroitor commented on #3893
@MigzuASD thx for reporting back!

[2018-09-23 09:47] #3891 closed

[2018-09-23 15:44] WoK-E opened #3895 "is_json_encoded_object ($input) in Exchange.php processes wrong argument"
Should check $input instead of $body

    public static function is_json_encoded_object ($input) {
        return (gettype ($body) === 'string') &&
                (strlen ($body) >= 2) &&
                (($body[0] === '{') || ($body[0] === '['));
    }

[2018-09-23 15:48] #3895 closed

[2018-09-23 16:16] jpfleury commented on #2723
This issue should be closed. This exchange no longer exists.

[2018-09-23 16:17] jpfleury commented on #1281
Indeed. This exchange no longer exists, so this issue should be closed.

[2018-09-23 16:59] #1281 closed

[2018-09-23 17:07] #2723 closed

[2018-09-23 18:38] thomas-leeee opened #3896 "Bittrex fetch_ohlcv not working"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: MacOS
- Programming Language version: python3.6
- CCXT version:  1.7.212
- Exchange: bittrex
- Method: fetch_ohlcv

Tried with or without limit=3, both return empty dict.

[code]

[2018-09-23 19:53] kroitor commented on #3896
[code]

[code]

Let us know if the above does not answer your question.

[2018-09-23 19:53] #3896 closed

[2018-09-24 02:39] thomas-leeee commented on #3896
Thanks @kroitor , I was not aware that the bittrex api is this *much* laggy. Do you have any suggestion for faster workaround using ccxt available functions for bittrex?

[2018-09-24 11:20] kroitor commented on #3896
Yes: because OHLCV candles are built from trades in general, you can fetch most recent public trades and build OHLCV candles from there with `build_ohlcv` method:

- https://github.com/ccxt/ccxt/blob/master/python/ccxt/base/exchange.py#L1332

    \+

- https://github.com/ccxt/ccxt/blob/master/python/ccxt/base/exchange.py#L1291

That's expected – it means that within the missing periods there were

[2018-09-24 11:32] kroitor commented on #3896
It isn't actually laggy, if you take an actively traded pair like 'ETH/BTC' and look at previous answer carefully, then you'll see that current time is 19:50:23, and bittrex has the last candle from 49:00 - 50:00. It doesn't have a candle from 50:00 - 51:00 yet. Because the fifty first minute is not over yet. You will have the 50-51 candle as soon as time passed beyond 51:00. This should make it c

[2018-09-24 15:28] kroitor commented on #3882
Approx 50% of exchanges will require a symbol for canceling the order by a known id even despite that id is already known. So, in general, you want to always supply a symbol to cancelOrder.

[2018-09-24 16:36] thomas-leeee commented on #3896
That clarifies a lot actually. If possible you can update the manual with these information @kroitor . Specifically the code snippet we exchanged, as these are good template for new users. By digging this forum I know how to use .milliseconds() and .iso8601() which is quite useful.

[2018-09-24 18:30] kroitor commented on #3879
Yes, but it has to loading markets and currencies before accessing other data, in order to parse further info properly. Unfortunately the 'transfer/coinList' endpoint for currencies is private with Bibox. We will try to workaround that limitation.

[2018-09-24 21:02] mealesbia opened #3897 "Binance errors"
I'm facing errors like these:

[code]
[code]

Are this errors because I'm doing to many calls or just glitches from binance?  I have set `'enableRateLimit': True`, for binance.

[2018-09-24 23:17] AadaEa opened #3898 "Error in generated Binance php class"
Hi,
In ccxt/php/binance.php
Line 577
```$request['endTime'] = $since . 3600000;```

Concatenates 3600000 ms to the timestamp resulting in an error when trying to fetch the last trades from Binance. I think it should be +.

I don't know why though, sorry, just pointing it out.

Thank you for CCXT, this project is remarkable.

[2018-09-24 23:19] #3898 closed

[2018-09-24 23:56] zjingpopo commented on #3879
I do have bibox apiKey by the way, the real problem is if I use apiKey I'll get error code 2091 (yes I know I exceed the rateLImit but for market api this should be fine). So my workaround is:
bibox = ccxt.bibox()
bibox.has[''fetchCurrencies] = False # so the load_market doesn't call the fetch_currencies method which we don't need.
I just hope ccxt has an option to not use apiKey for those request

[2018-09-24 23:57] kroitor commented on #3897
This could be for two possible reasons:

1. You're have either sent too many requests already – in that case Binance may ban you for periods from 10 minutes to an hour on average, but may be up to a day if you were too aggressive
2. Or you have a networking issue reaching Binance from your location, you can check if that is the case that by using a public proxy, or a vpn or trying from another com

[2018-09-24 23:57] #3897 closed

[2018-09-25 02:34] wahid commented on #3167
It seems they have added documentation in chinese. https://www.btctrade.im/help.api.html

[2018-09-25 03:27] viktorius007 opened #3899 "CoinMarketCap API V1 deprecated December 2018"
This December, the current free CoinMarketCap API supported by ccxt will be deprecated.

A new, professional API supporting new endpoints, larger API call credits, historical data, OHLC data is currently live.

This feature matrix has more comparative information:  [https://pro.coinmarketcap.com/faq](url)

The API documentation is located here:   [https://pro.coinmarketcap.com/api/v1](url)

There

[2018-09-25 13:11] bitnom opened #3900 "Proxy & Proxy Auth For PHP"
Latest/any version. Absent a pull request, suggesting this code for https://github.com/ccxt/ccxt/blob/master/php/Exchange.php

Would be a simple mod to add this. Python & JS has it but no PHP.

[code]

[2018-09-25 13:11] gokuflashdev opened #3901 "New version ccxt install with errors (Windows 7 SP1)"
- OS: windows 7 sp1
node v8.11.4
npm v5.6.0
python 2.7.15 and 3.7.0
- CCXT version: 1.17.350

I try to update old ccxt library. I had a problem with node-gyp so i do Option 1 from site

`npm install --global --production windows-build-tools`
and install node-gyp

After that I try to install ccxt and i get the error:

npm WARN deprecated fs-promise@2.0.3: Use mz or fs-extra^3.0 with Promise Suppor

[2018-09-25 13:21] MarcelBeining opened #3902 "ccxt install fail due to lru-dict library"
- OS: Windows 10 64bit
- Programming Language version: Python 3.6.4
- CCXT version: 1.17.350
- Exchange: -
- Method: -

Hi,
when trying to install the new ccxt version on Windows, I ran into huge problems (previous version had worked), because the new library lru-dict is built during install, which failed because the compiler cl.exe was missing. This made it necessary to install Microsoft's 5 GB l

[2018-09-25 13:37] MarcelBeining commented on #1407
Hello?

[2018-09-25 14:47] p0nt opened #3903 "Bitfinex BTCUSD KeyError"
I seem to be getting a KeyError on the python side of ccxt every time I try to create a BTCUSD trade ...

I have tried the following strings as symbol:

- BTCUSD
- BTC/USD
- tBTCUSD
- tbtcusd
- btcusd

None of the above work...

tried the following:

create_market_buy_order('BTCUSD', 0.1, {'type': 'market'})

Can anybody tell me the proper command to buy on the BTCUSD symbol on margin?

[2018-09-25 15:52] kroitor commented on #3903
@p0nt

Please, read the following carefully:

- https://github.com/ccxt/ccxt/issues/2851
- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[code]

Let us know if that does not answer your question.

[2018-09-25 15:52] #3903 closed

[2018-09-25 15:56] kroitor commented on #3902
It is required by the web3 imports, so we can't cut it out easily, therefore it is required. But anyways, we'll consider adding a workaround soon. Hope this answers your question, let us know if not.

[2018-09-25 15:56] #3902 closed

[2018-09-25 17:12] kroitor commented on #1407
@MarcelBeining really sorry for the delay, didn't have a chance to get to it yet.

[2018-09-25 17:28] p0nt commented on #3903
Thank you very much!

[2018-09-25 18:05] kroitor commented on #3901
This is the requirement of web3, we can't avoid it, unfortunately...
What's the "old" version number? Also, have you tried the second option with installing MSVC Build Tools 17 manually? Also, you said you have Visual studio Build Tools 2017 installed, that should come with a bat file for windows, and you should launch that bat file that would set up necessary environment variables for you – can y

[2018-09-25 18:55] MarcelBeining commented on #1407
@kroitor If I can be of any help, tell me. Hope you get to it before the end of the year (when I would need it). ;-)

[2018-09-25 19:06] munrocket commented on #3332
@kroitor since we have CCXT Certified can we distribute it with minimalistic file and put it in ./build/ with each travis compilation? I also suggest to get rid of web3 dependency for example. It can shrink ccxt better.

![ccxt-black-hole](https://i.redd.it/tfugj4n3l6ez.png)

[2018-09-26 08:56] thomas-leeee opened #3904 "Request timeout after one day of running"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: MacOS
- Programming Language version: python
- CCXT version: 1.17.212
- Exchange: bittrex (also binance)
- Method: not sure

I am trying the following code
[code]
and it runs fine after one day, but then break with error
[code]

Note that my code never set

[2018-09-26 09:44] is0initial commented on #2968
+0.24 ltc - it's me.

[2018-09-26 11:05] gokuflashdev commented on #3901
hmm directly in path ..\Microsoft Visual Studio\2017\BuildTools are not any bat files. But if i try to find *.bat i get 22 bat files like:
cmake,
dotnet,
launchDevCmd,
msbuild,
netfxsdk,
parse_cmd,
roslyn,
Squish4RunTestCase,
SquishRunTestCase,
testwindow,
vcvars,
vcvars32,
vcvars64,
vcvars140,
vcvarsall,
vcvarsamd64_x86,
vsdevcmd,
vsdevcmd_end,
vsdevcmd_start,
VsMSBuildCmd,
winsdk

U think about

[2018-09-26 11:38] blutooth commented on #3904
Hi Thomas, sorry I can't answer your question, but doing a survey on exchange tech. What are your biggest problems with trading multiple exchanges? Have you found it difficult operating on multiple exchanges? Is shorting ever an issue? Thanks :)

[2018-09-26 12:21] gokuflashdev commented on #3901
Ok i used option two its mean:
in visual studio installer i pick install  for Visual Studio 2017 Community in this community i pick (I have other language in vs installer so i try to translate) "programming classic applications in C++ language"

there is components like:
Debugger just in time,
VC++ 2017 v4.15
profiling tools for C++,
Windows 10 SDK
Visual C++ Tools for CMake
ATL libbrary for Visua

[2018-09-26 12:32] itsmemittal opened #3906 "Create Order - price exceeds allowed price precision or invalid - Binance"
OS: Windows
Programming Language version: Js
Exchange: binance

Hi,
I am trying to create a Limit buy order on binance for
symbol : HOT/ETH
price: 0.00054

When placing this order on Binance giving me the following response.

Binance order price exceeds allowed price precision or invalid, use this.priceToPrecision (symbol, amount) {\"code\":-1013,\"msg\":\"Filter failure: PRICE_FILTER\"} { exchang

[2018-09-26 14:54] alexsharabayko commented on #3002
Hi! Could you please add ability to fetch balance from wallet on Okex? As i see, it's similar situation to hitbtc with several accounts (https://github.com/ccxt/ccxt/issues/455), and it would be nice, if i had ability to fetch wallet balance by parameter or something like this.
Thank you!

[2018-09-26 15:16] kroitor commented on #3906
Hi! What’s your version of CCXT? Have you tried with the most recent version? Also, can you post your code to reproduce it? Need your *code* and *verbose request/response*.

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-09-26 18:37] bluppfisk commented on #52
I wonder if you've ever found a workaround that does use crypto-js instead of crypto? I need to implement he same but without access to crypto. :(

Below works, as in the signature gets accepted, but I get "Invalid Key". Wonder if it's the stringification?

[code]

[2018-09-26 21:53] pjboro commented on #3639
Well, it's been a long time.
I tried to do it in several ways, also using other hitbtc modules available on github and pure exchange market API itself, all that to no avail. It is the problem with hitbtc.com API, not with CCXT library. It's great news for CCXT users and not so well for hitbtc users in general ;)
https://github.com/hitbtc-com/hitbtc-api/issues/210

[2018-09-27 04:01] bluebelttech opened #3908 "New Exchange - bluebelt.asia"
Please support to add Bluebelt - an interconnected exchange with operations in Estonia, Australia, Cambodia, Indonesia, Malaysia, Myanmar. The exchange is going to open soon in Korea, Japan, Philippines and India.

Website: https://www.bluebelt.asia/
API Doc: https://www.bluebelt.asia/public-api/

Thanks for this amazing library!

[2018-09-27 06:40] WoK-E opened #3909 "crypton fetch_ticker results are not parsed correctly"
**https://api.cryptonbtc.com/markets** returns markets inside a 'result' element, like below:
{
  "result": {
    "BCH-BTC": {
      "base": "BCH",
      "enabled": true,
      "hidden": false,
      "id": "BCH-BTC",
      "minSize": 0.001,
      "name": "BCH-BTC",
      "priceStep": 0.000001,
      "quote": "BTC"
    },
    "BCH-PAI": {
      "base": "BCH",
      "enabled": true,
...
...

functio

[2018-09-27 06:44] WoK-E commented on #3909
Messed up the function, sorry

The changes are:
Line #3 $keys = is_array ($tickers) ? array_keys ($tickers['result']) : array ();
Line #7: $ticker = $tickers['result'][$id];

[2018-09-27 07:14] WoK-E opened #3910 "indodax fetch_ticker() - quoteVolume is not always returned from exchange"
vol_idr is not always returned, and produces an error.

Should check if the array index is set, and assign a zero, if not.

[2018-09-27 09:53] thomas-leeee commented on #3904
@blutooth , for your questions:

What are your biggest problems with trading multiple exchanges? Have you found it difficult operating on multiple exchanges?
---> non-unified responses (e.g. json)
Is shorting ever an issue?
---> yes, you cant short altcoins in most normal exchanges

[2018-09-27 11:24] DTM777 opened #3912 "Poloniex switched to new API on September 25th"
ATTENTION!!!
     Poloniex switched their API to API V.2 on the 25th.

New api url follows:

       wss://api2.poloniex.com

Thank you

[2018-09-27 16:47] #3910 closed

[2018-09-27 16:49] kroitor commented on #3912
I suggest to move this discussion to #56 as it is related to WS implementation.

[2018-09-27 16:49] #3912 closed

[2018-09-27 17:29] kroitor commented on #3906
https://github.com/ccxt/ccxt/wiki/Manual#market-structure
https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

![screen-shot-2018-09-27-at-20 24 25](https://user-images.githubusercontent.com/1294454/46163362-ad672800-c293-11e8-8378-61197d8b5ffa.jpg)

For `HOT/ETH` min price is 0.00000046, max price is 0.0000458. Your value of 0.00054 is way beyond max price for that symbol.

[2018-09-27 17:29] #3906 closed

[2018-09-27 17:33] #3909 closed

[2018-09-27 19:39] kroitor commented on #3904
You don't want to really set it to 100 until you understand completely what it does. The `rateLimit` is the delay in milliseconds between your consequent requests, so if you set it to 100 and try polling with 100ms delay, you will get banned by binance (and bittrex most likely). It is set to a safe default, which is beyond one second. Tweaking it to a very low value may be a reason for getting ban

[2018-09-27 21:16] pepsouille commented on #936
Hello,

I am experiencing the same error. Can  anyone please explain me how  to synchronize my machine with the  server ?
Thanks

[2018-09-27 21:30] kroitor commented on #936
@pepsouille the `nptd` daemon is often included in a Linux distribution, Ubuntu should have it installed by default, you just want to configure and enable it:

https://help.ubuntu.com/lts/serverguide/NTP.html.en

[2018-09-28 01:30] karlandoh commented on #3002
@alexsharabayko You would use:
``` ccxt.okex().privatePostWalletInfo()```

@kroitor Would you mind giving use some insight on how to properly use ```private_post_funds_transfer```? Having some trouble passing the arguments. For example how would we send 1 ETH from our wallet to our spot account?

[2018-09-28 01:53] kroitor commented on #3002
@karlandoh https://github.com/okcoin-okex/API-docs-OKEx.com/blob/master/API-For-Spot-CN/%E5%B8%81%E5%B8%81%E4%BA%A4%E6%98%93REST%20API.md

[code]

[2018-09-28 02:01] karlandoh commented on #3002
Thank you!

[2018-09-28 07:38] alexsharabayko commented on #3002
@karlandoh Thank you

[2018-09-28 08:44] DTM777 commented on #3912
First off,,  sorry for just shoutting help! :-0  :-(

Secondly: I really need to thank you and the hard working volunters that dedicate time and effort to this project.  I have learned much the 1st  version i did was in PHP, then tried to do one in JS and lastly python. mostly useing it to populate a MySql DB and inserting into professional stock charting software. I was able to get some cool char

[2018-09-28 09:51] itsmemittal commented on #3906
Thank you it helps me.
Would you please answer me on the following query?

I am trying to place the withdraw order for ETH of amount 0.2686212057254691277485705514
and getting following error.
"Place withdraw from Gdax to any other exchange with the amount as more than 8 digits after the decimal."

I found withdraw code implementation and there we using parseFloat for the amount. Hence whatever am

[2018-09-28 11:11] xCuri0 commented on #3894
@kroitor
[code]

[2018-09-28 11:18] xCuri0 commented on #3894
it seems to be working now

[2018-09-28 11:18] #3894 closed

[2018-09-28 11:22] xCuri0 opened #3913 "AttributeError: 'cobinhood' object has no attribute 'amountToString'"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Ubuntu 16.04
- Programming Language version: Python 3.5.2
- CCXT version: master
- Exchange: cobinhood
- Method: edit_order

Getting error ```AttributeError: 'cobinhood' object has no attribute 'amountToString'``` when editing an order

[2018-09-28 16:54] #3913 closed

[2018-09-28 20:53] cartercarlson commented on #3080
Hey AoDev,

I had a similar question not too long ago.  Hope this helps.

https://github.com/ccxt/ccxt/issues/3492

-Carter

[2018-09-28 22:27] terrorizers opened #3914 "bitmex No market symbol XBTUSD"
- OS: ubuntu
- Programming Language version: python3
- CCXT version: 1.17.356
- Exchange: bitmex
- Method: create order

https://github.com/ccxt/ccxt/blob/master/examples/py/bitmex-create-order.py I'm just trying to using that one, I dont get how to set if testnet api or not, (so first question is how to do so?), but the problem I get is:

[code]
why is this? (I use 'XBTUSD' as symbol with testnet