[2017-11-06 09:25] nmiculinic commented on #470
Could you please organize Changelog into more detail/structure. For example, I love
https://github.com/tensorflow/tensorflow/blob/master/RELEASE.md changelog & releases since I can easily see what are bugfixes, Breaking changes (really important), known issues, major improvements etc.

Also, I'd love to see per exchange which features are implemented in which versions (similar to the README.md sho

[2017-11-06 09:29] kroitor commented on #470
@nmiculinic sure, we will try to organize it and structure it even better, we are steadily making progress. Thx for your suggestion!

[2017-11-06 09:49] jrix opened #471 "https://unpkg.com: Cannot find module "build/ccxt.browser.js" in package ccxt"
when I try to include <script> from https://unpkg.com/ccxt - error: Cannot find module "build/ccxt.browser.js" in package ccxt - is it unpgg error or something in the ccxt code?

[2017-11-06 09:58] kroitor commented on #471
Thx for reporting this, @jrix ! We will take a look and will fix this asap.

[2017-11-06 10:11] kroitor commented on #471
@jrix can you please retry it now? I checked it with my browser by following that link and it reported 1.10.3 to me. Let us know if this issue is now solved as seen from your side. Thx!

[2017-11-06 10:15] md0101 opened #472 "Bitmex : order"
Hi, I am seeing an error whilst placing an order to Bitmex.
eg.
`order = bitmex.create_limit_sell_order('XBTZ17', 10, 6800)`

throws this error
[code]

I  suspect, but not certain, it is to do with assigning `order['rate'] = price` in the ccxt/exchanges.py  since I can successfully enter an order using this line and assigning a 'price' to the order
[code]

[2017-11-06 10:18] jrix commented on #471
Thank you! I can confirm, it is It is working now. This problem  was for at least several days.  I hope you have indeed found a permanent fix.

[2017-11-06 10:19] kroitor commented on #471
@jrix yep, thx a lot for reporting back!

[2017-11-06 10:19] #471 closed

[2017-11-06 10:20] kroitor commented on #472
@md0101 hi! Good to hear again from you! Thank you for reporting this, will look into it and fix right away! Hold on, plz!

[2017-11-06 10:20] md0101 commented on #472
Sure, thanks for your quick attention!

[2017-11-06 12:59] kroitor commented on #472
@md0101 sorry, but... what's your version of ccxt? We don't have exchanges.py anymore, and in current version, the field is called `price`, not `rate`:

https://github.com/ccxt/ccxt/blob/master/python/ccxt/bitmex.py#L296

[2017-11-06 13:06] kroitor commented on #470
@nmiculinic this table may be of some help, while we are doing a comprehensive reference...

<img width="1554" alt="screen shot 2017-11-06 at 16 04 23" src="https://user-images.githubusercontent.com/1294454/32442381-4a63e734-c30c-11e7-9cd5-559fd623672b.png">

[2017-11-06 16:12] md0101 commented on #472
@kroitor appologies it was an older version - have updated and works

[2017-11-06 16:12] #472 closed

[2017-11-06 16:13] md0101 commented on #334
superb thanks for this

[2017-11-06 16:31] kroitor commented on #472
@md0101 ok, good to know it works for you! Thx for reporting back! Let us know if you have any other difficulties with it. Cheers!

[2017-11-06 16:44] nmiculinic opened #475 "Bittrex --> 0.0 amount for BCH (Bitcoin cash); cannot fetch amounts"
I cannot fetch BCH data for bittrex:

[code]

I normally get BTC>0, and other currencies, yet BCH remains zero despite having funds on the bittrex.

Version: 1.10.2

[2017-11-06 16:45] nmiculinic commented on #475
I've checked all >0 tokens, nothing resembles BCH with positive amount.

[2017-11-06 16:45] kroitor commented on #475
@nmiculinic thx for reporting this, I'll check it and will fix it very soon.

[2017-11-06 16:49] kroitor commented on #475
@nmiculinic can you post verbose output (set `.verbose = True` on the exchange instance before calling the fetch_total_balance()) ?

[2017-11-06 16:50] kroitor commented on #475
@nmiculinic never, mind, I figured it out, will fit it right away.

[2017-11-06 16:54] #475 closed

[2017-11-06 17:20] nmiculinic opened #476 "Poloniex fetch all open orders"
[code]

I'd like for poloniex to  return all open orders when I pass None as symbol. Roughly this:
```await self.exchange.private_post_returnopenorders({"currencyPair":"all"})```, just unified.

[2017-11-06 17:21] kroitor commented on #475
@nmiculinic this issue was fixed in 1.10.4. Thx!

[2017-11-06 17:22] kroitor commented on #476
@nmiculinic, we will add support for `"all"` shortly! Thx a lot!

[2017-11-06 17:32] #476 closed

[2017-11-06 17:37] kroitor commented on #476
This issue is now resolved in 1.10.5. Let us knot if you have any difficulties with it. Thx!

[2017-11-06 22:59] saianwork commented on #470
Hi can you help me with the fetch_ticker for cryptopia.
i do this
for market in btccoins:
    ticker = topia.fetch_ticker(market)
    print(ticker)
can I introduce the timeframe I need somewhere here topia.fetch_ticker(market, here? and how?)

[2017-11-06 23:27] kroitor commented on #470
@saianwork

[code]

[2017-11-07 01:45] marcobazzani opened #477 "XRP/EUR on the rock trading is listed as EUR/XRP"
see https://therocktrading.com/en/offers/EURXRP
it's inverted and this cause a no match for pairs on different markets

[2017-11-07 02:10] 86chenjie opened #478 "okex fetchOpenOrders fail"
[code]

[code]

[2017-11-07 02:17] 86chenjie opened #479 "Binance YOYO fetchOpenOrders fail"
[code]

[code]

[2017-11-07 02:33] tandazhi opened #480 "Poloniex fetch_order_book return no order volume"
import ccxt

exchange=ccxt.poloniex()

orders = exchange.fetch_order_book('BTC/USDT', {'depth':10})
print(orders)

return order book like below:
{'bids': [[7026.56804336, 7026.56804336], [7026.56804333, 7026.56804333], [7026.56804332, 7026.56804332], [7026.56804331, 7026.56804331], [7026.56804328, 7026.56804328], [7014.86513493, 7014.86513493], [7014.75000001, 7014.75000001], [7010.10581672, 7010.

[2017-11-07 03:15] tandazhi commented on #480
upgraded to version 1.10.7, the issue is resolved.

[2017-11-07 03:15] #480 closed

[2017-11-07 07:56] #478 closed

[2017-11-07 08:18] 86chenjie commented on #478
👍

[2017-11-07 08:19] kroitor commented on #478
Thanks for reporting!

[2017-11-07 08:32] kroitor commented on #477
@marcobazzani if you take a closer look at their price, you will notice that it is actually **NOT** inverted.

[code]

That is ~6 XPR per 1 EUR.
If you take a look at EUR/XRP prices with other exchanges, you'll see it's 0.18-0.2 EUR per XRP.

So, I guess, their pair is not inverted/reversed, it's a true ordering. They do trade EUR/XRP instead of XRP/EUR.

[2017-11-07 08:32] #477 closed

[2017-11-07 08:45] marcobazzani commented on #477
[code]
output
[code]

[2017-11-07 08:51] kroitor commented on #477
@marcobazzani don't you see, that those are two different pairs and that `EUR/XRP != XRP/EUR` ?

[code]

The price 0.2 on Kraken vs 5.87 on TheRock. The pairs are all correct if you **LOOK CAREFULLY** at the price.

[2017-11-07 09:01] kroitor commented on #477
@marcobazzani if you want to check for that and make sure yourself, open the XRP/EUR on Kraken websote and EUR/XRP on TheRock website and compare their prices. You'll see that their pricing is true, and TheRock indeed trades EUR for XRP, whereas Kraken trades XRP for EUR.

[2017-11-07 09:06] marcobazzani commented on #477
you are right, sorry

[2017-11-07 09:07] kroitor commented on #477
@marcobazzani no problem... that can be confusing sometimes, but we just need to compare their websites and everything becomes clear. Let us know if you have any other difficulties or questions with it. Cheers!

[2017-11-07 09:35] kroitor commented on #479
We will have to add the fetchMarkets () from Binance web API, otherwise it will be increasingly difficult to maintain their market list (if we keep it hardcoded). I'll fix this very soon and will let you know.

[2017-11-07 10:14] saianwork commented on #470
Hi, it actually works like this

hours = 8  # ← your timeframe
topia.load_markets()
for symbol in btccoins:
    market = topia.market(symbol)
    response = topia.publicGetMarketIdHours(topia.extend({
        'id': market['id'],
        'hours': hours,
    }, params)) #**← without params otherwise it pops an error "undefined" maybe I don't understand what it means? but if i delete params your code

[2017-11-07 10:16] kroitor commented on #470
@saianwork yeah, that `params` should not be there, sorry, my bad, and thx for reporting back!

[2017-11-07 10:23] saianwork commented on #470
OK look I actually wana do this

for symbol in btccoins:
        # suffix '.d' means 'darkpool' on some exchanges
                time.sleep(delay)
                symb = symbol
                ticker = topia.fetch_ticker(symbol, **TIMEFRAME I MISS**)
                datetime = ticker['datetime']
                open = ticker['open']
                close = ticker['close']
etc...  so then I can us

[2017-11-07 10:39] kroitor commented on #470
@saianwork :

1. Look at the code snippet above, the answer is there...

    `topia.parse_ticker(response['Data'], market)` returns a ticker:

[code]

2. Please read carefully and don't hijack the announcement. The subject of this issue is not related to tickers. This issue is a different story, you should have opened a new issue in the first place (but please don't do it now, that is not necessar

[2017-11-07 11:32] davidpodrebarac commented on #476
I tested this and it is not yet resolved. If you call poloniex's fetch open orders with no arguments, i.e. ```poloniex.fetch_open_orders()``` you would get nothing. The problem lies here(line 429 below):
[code]

Here, symbol could be None and it would never match order's symbol: order['symbol']. I am using ccxt==1.10.9.

[2017-11-07 11:36] kroitor commented on #476
@davidpodrebarac just a sec, will fix right away, thx!

[2017-11-07 11:50] davidpodrebarac commented on #476
It works. Thanks! :)

[2017-11-07 11:51] mkutny opened #485 "okex, okcoincny symbols are out of sync"
Looks like they have changed their quote currency from 'USD' to 'USDT'.

[code]

[code]

[code]

I'm quite afraid or touching it by myself as I'm not familiar with this constellation of OK* exchanges.

[2017-11-07 12:35] saianwork opened #486 "Binance: publicGetMarketIdHours"
[code]
that's the result: -> timestamp is not 8h ago so how can I know it actually represents the 8h past hours timeframe?

1.814e-05 2017-11-07T12:32:59.000Z 1510057979383
1.209e-05 2017-11-07T12:33:01.000Z 1510057981017
4.15e-05 2017-11-07T12:33:02.000Z 1510057982474
1.07e-06 2017-11-07T12:33:04.000Z 1510057983791
0.00105061 2017-11-07T12:33:05.000Z 1510057985092

I'm sorry if I did something wr

[2017-11-07 12:45] aiueogawa opened #487 "Origin is not allowed by Access-Control-Allow-Origin."
Hi, I'm using public API method in JavaScript on my local PC.
But request failed because of Single-Origin-Policy.

The code is something like this.

[code]

I received following error.

[code]

How can I fix this?

[2017-11-07 12:59] aiueogawa commented on #487
I read Cross-Origin-Resources-Sharing section on Wiki.

I'm developing time-critical investment application, so I don't want to use proxy.

Are there alternatives for avoiding this problem?

[2017-11-07 13:00] kroitor commented on #486
If you look at the timestamps you are getting, you will immediately see that those represent currenct datetime in UTC. When the ticker is returned, the timestamp shows the time when it was generated, not the start of your timeframe. So it will always show approximately current time. Your ticker was generated now, and its values show last 8 hours of history. The beginning of your timeframe isn't in

[2017-11-07 13:01] kroitor commented on #487
@aiueogawa use proxy on your localhost?

[2017-11-07 13:06] vonpupp opened #488 "Question: Stop loss"
Hi Kroitor,

Is there any way to set stop-loss? If not, any suggestion?

I imagine this is not a standard thing, I have seen it on Bittrex only so far.

Thank you very much.

[2017-11-07 13:10] kroitor commented on #488
Hi, @vonpupp !

We currently don't unify the margin/leveraged/position trading, but there are still few ways possible:
1. By passing the extra params to your order call, see here: https://github.com/ccxt/ccxt/wiki/Manual#custom-order-params
2. By using the non-unified API of that particular exchange, which is also available from ccxt: https://github.com/ccxt/ccxt/wiki/Manual#api-methods--endpoints

[2017-11-07 13:29] aiueogawa commented on #487
@kroitor, thank you for your response

1. Not use CORS-proxy, so tried it by cors.py but received following error

[code]

2. I'll try to contact support

[2017-11-07 13:32] vonpupp commented on #488
Awesome, thank you very much @kroitor!

I believe it is what I am looking for, in the meantime I will close this issue. If some other questions will pop up when I give this a try, I will tag you on this same thread.

Thanks again man!

[2017-11-07 13:36] kroitor commented on #487
@aiueogawa if you have node, you can use [cors-anywhere](https://github.com/Rob--W/cors-anywhere) with this simple js script:

[code]

[2017-11-07 13:40] aiueogawa commented on #487
@kroitor
I also tried program above and access directly to `https://localhost:8000/https://api.bitflyer.jp/v1/getmarkets` in Safari, but it displays `cannot open page`...

[2017-11-07 13:41] kroitor commented on #487
@aiueogawa, It's 80**80**

[2017-11-07 13:45] aiueogawa commented on #487
@kroitor,
I misstyped here in comment. I actually accessed to `https://localhost:8080/https://api.bitflyer.jp/v1/getmarkets`
but cannot access.

[2017-11-07 13:50] kroitor commented on #487
Unfortunately, their DDoS Protection by Incapsula will probably not allow your request to go through. We have to ask bitflyer to enable CORS... Looks like there's no other way to solve it for now. Sorry for that. Let me know if you have any other questions, or if I can close this until they add support for CORS...

[2017-11-07 14:00] aiueogawa commented on #487
@kroitor
I have no more questions. Thank you for all!

[2017-11-07 14:03] saianwork commented on #486
Thank you! yes it does answer my question. many thanks for your time. and thanks for the great work.

cheers

[2017-11-07 14:03] #486 closed

[2017-11-07 14:14] kroitor commented on #487
@aiueogawa I can also suggest trying a public proxy:

[code]

If it works for you with any of these two proxies, then you still can set up a proper local proxy, just need to read more about their setup (depending on which one you choose).

[2017-11-07 18:10] #479 closed

[2017-11-07 22:03] alexmipego commented on #56
+1
Any word on the version 2.0 release?

[2017-11-07 23:45] orrelln opened #490 "Bitfinex tickers"
Currently, there isn't a way to fetch all bitfinex tickers while there is an API call that allows this: https://api.bitfinex.com/v1/tickers

[2017-11-07 23:48] orrelln opened #491 "Hitbtc2 BCH/BTC"
BCH/BTC ticker is overwritten to BCC/BTC ticker due to the common_currency_codes python function for hitbtc2

[2017-11-08 00:01] #491 closed

[2017-11-08 02:29] 86chenjie commented on #479
@kroitor  i still got error
[code]

[2017-11-08 02:36] 86chenjie commented on #478
@kroitor  i still got errors
[code]

[2017-11-08 04:26] rokanost opened #492 "Coinspot js - empty order book"
Hey,
Function fetchOrderBook returns empty bids/ask arrays.

[2017-11-08 04:31] kroitor commented on #492
Hi, @rokanost! Can you show your code? Empty bidasks are ok, if the exchange returns empty arrays, unless there's a bug somewhere, it means "no bids" or "no asks" on the orderbook stack.

[2017-11-08 04:38] rokanost commented on #492
[code]

[2017-11-08 04:48] kroitor commented on #492
@rokanost please, add `verbose = true` and post the output here:

[code]
Thx!

[2017-11-08 04:54] rokanost commented on #492
`{"status":"invalid"}`

[2017-11-08 04:56] kroitor commented on #492
@rokanost can you post the entire output? (remove your keys if necessary)... We need to see the full request-response.

[2017-11-08 05:00] rokanost commented on #492
I20171108-15:51:30.674(11)? coinspot POST https://www.coinspot.com.au/api/orders
I20171108-15:51:30.751(11)? Request:
I20171108-15:51:30.752(11)?  { 'Content-Type': 'application/json',
I20171108-15:51:30.752(11)?   key: 'XXX',
I20171108-15:51:30.753(11)?   sign: 'XXXX' } {"nonce":1510116690,"cointype":"BTC"}
I20171108-15:51:31.061(11)? coinspot POST https://www.coinspot.com.au/api/orders
I20171108

[2017-11-08 05:02] kroitor commented on #492
@rokanost, ok... did you use these API keys with any other software before?

[2017-11-08 05:08] rokanost commented on #492
Yeah, i've used https://github.com/rtw/npm-coinspot-api to test, works fine.

[2017-11-08 05:08] kroitor commented on #478
@86chenjie looks like a minor leftover again. Sorry for the inconvenience. I have uploaded the fix and tested it on my side, should work as of version 1.10.16 in approx 5 minutes.

[2017-11-08 05:09] kroitor commented on #492
@rokanost can you recreate the keys and try again?

[2017-11-08 05:23] kroitor commented on #492
@rokanost it should work if you recreate the keypair. If you cannot recreate it for some reason, there's an alternative way to redefine the nonce to milliseconds, to match the nonce generated by `npm-coinspot-api` previously:

[code]

[2017-11-08 05:24] kroitor commented on #490
Thanks, @orrelln ! We will add support for all tickers to Bitfinex asap!

[2017-11-08 05:33] kroitor commented on #56
@alexmipego we are currently working on it intensively to deliver the first version of it asap, hopefully, this month.

[2017-11-08 05:36] rokanost commented on #492
I've just tried that.
`this.nonce is not a function`

[2017-11-08 05:37] kroitor commented on #492
@rokanost can you show the edited code?

[2017-11-08 05:41] rokanost commented on #492
I've just tried with newly generated keys and it worked, however, your previous example does not work.

[2017-11-08 05:42] kroitor commented on #492
@rokanost the previous example should also work as well, if you copied it without adding the brackets after `Date.getTime`. So, I guess, this issue is solved now?

[2017-11-08 05:43] rokanost commented on #492
I've copied without brackets, but still no go. I've also tried new Date().getTime, but still no dice.

[2017-11-08 05:45] kroitor commented on #492
@rokanost ok, and this?

[code]

This should definitely work... does it?

[2017-11-08 05:47] rokanost commented on #492
`new ccxt.coinspot({apiKey: coinspot_key, secret: coinspot_secret, verbose: true, nonce: () => new Date().getTime()});`

Did the trick. Thanks mate!
Happy coding hehe

[2017-11-08 05:48] kroitor commented on #492
@rokanost ok, cool. I'm closing this if you don't mind. Feel free to ask if you have any other questions or difficulties with it. Cheers!

[2017-11-08 05:48] #492 closed

[2017-11-08 06:25] 86chenjie commented on #478
works. 👍

[2017-11-08 07:53] kroitor commented on #485
The OKCoin/OKEX family is:
- [OKCoin CNY]() (operated from China, shut down due to all-famous PBoC regulations https://www.okcoin.cn/t-2511348.html, still allows withdrawals and now works as a wallet service, the TLD is .cn zone)
- [OKCoin USD](https://www.okcoin.com/) (their offshore operation for international traders, still operating, website is in the .com TLD)
- [OKEX](https://www.okex.com) (

[2017-11-08 07:53] #485 closed

[2017-11-08 07:59] kroitor commented on #479
@86chenjie looking into it to see the cause...

[2017-11-08 08:23] kroitor commented on #479
@86chenjie ok, found the problem, forgot to preload markets automatically, as now they are not hardcoded, so, this is fixed as of version 1.10.19, thx for your involvement!

[2017-11-08 08:25] mkutny commented on #485
@kroitor , thanks for this elaborative answer!

At the same time, the snippet below appears quite confusing to me. What's the difference between them?

[code]

[2017-11-08 08:26] kroitor commented on #485
Oops...

[2017-11-08 08:30] kroitor commented on #485
Sorry, I was not paying enough attention... Need to add that to tests to check for duplicates inside markets... That was a copy-paste residue. The actual corrected list of markets for OKEX is:

[code]

And this is coming up in version 1.10.20 in 5 minutes. Thx for your accurate note!

[2017-11-08 08:30] kroitor commented on #485
Nah... there's more... f*ck..

[2017-11-08 08:32] mkutny commented on #485
That's why I was afraid to touch it myself! )

[2017-11-08 08:38] kroitor commented on #485
Ok... Waiting for 1.10.21, this should be an adequate list, checked it multiple times:

[code]

Why on earth don't they have an endpoint for markets?! %)

[2017-11-08 08:42] kroitor commented on #485
Lol... found this: https://www.okex.com/v2/markets/products

Looks like they have a v2 and we don't? Interesting )))

[2017-11-08 08:44] mkutny commented on #485
Cool!!!!!

[2017-11-08 08:51] kroitor commented on #485
Ok, here it is: https://www.okcoin.cn/html/okcoin_cn_etc_api.html...
Will integrate it soon )

[2017-11-08 08:56] mkutny commented on #485
Now, looking at these tables I'm starting to see a logic behind them.

Since all OKCoinUSD markets are now covered with OKEX, and OKCoinUSD does not support USD deposits/withdrawals I bet that they will eventually shut it down.

[2017-11-08 09:28] 86chenjie commented on #479
works. 👍

[2017-11-08 09:28] kroitor commented on #479
@86chenjie thanks for your feedback!

[2017-11-08 09:28] kroitor commented on #479
@86chenjie you might also want to look at this: https://github.com/ccxt/ccxt/issues/485

[2017-11-08 09:54] 86chenjie commented on #479
@kroitor  just curious, what's the status of the websocket support?  Websocket is much better to get market data and order status notification.

[2017-11-08 09:57] 86chenjie commented on #485
from what i understand, ccxt should just focus on okex.

[2017-11-08 09:58] kroitor commented on #479
@86chenjie we have WS for ok*, bitfinex, bittrex, poloniex, gdax and several other exchanges implemented, and we are working on it intensively now, hope to deliver the first version of ccxt supporting WS this month...

Ref: https://github.com/ccxt/ccxt/issues/56#issuecomment-342715498

[2017-11-08 09:59] 86chenjie commented on #479
@kroitor  good to hear that! 👍

[2017-11-08 10:38] mkutny opened #493 "loadMarkets vs fetchMarkets"
When starting a new code I always try to remember whether I should call fetch or load and revert to Manual.

My understanding is that fetchMarkets() always goes to an exchange while loadMarkets() may return the cached copy (still with the option to go to an exchange).

But do we really need the two? Having both is a bit confusing.

[2017-11-08 10:54] mkutny commented on #493
This also a source if this kind of weird effects (I guess that Jubi has been shut down but it still gets markets from btcbox):

[code]

[2017-11-08 10:59] nmiculinic opened #494 "BCC/BTC in Bitfinex"
Bitfinex ticker:
[code]
[code]

In Bitfinex it's something called CST Core (I guess, I see it in their wallets), but I cannot find this pair in Bitfinex trades. Also BCC/BTC is usually Bitconnect/Bitcoin and it's confusing what's happening with this pair.

[2017-11-08 11:04] kroitor commented on #494
Bitfinex has both BCH and BCC.
BCH = Bitcoin Cash
BCC = Bitconnect
The above corresponds to coinmarketcap, and should be true throughout the ccxt library.

This table might shed some light:

[code]

This link is also worth it: https://www.bitfinex.com/posts/213/review

So, answering your question, I don't see any problem with BCC on Bitfinex inside ccxt, do you?

[2017-11-08 11:08] nmiculinic commented on #494
Yes, I do.

As per coinmarketcap, the price of BCC is around 0.032 BTC. Not ~1BTC as returned from the API. Thus there has been some mixup between pairs.

[2017-11-08 11:09] hunsnowboarder opened #495 "binance load_markets() and fetch_markets() error"
When I call binance.load_markets() or binance.fetch_markets() I get Exchange not available error.
Error details:
ExchangeNotAvailable: binance GET https://www.binance.com/exchange/public/product <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:661)>

c:\python27\lib\site-packages\ccxt\base\exchange.pyc in raise_error(self, exception_type, url, method, error, detail

[2017-11-08 11:15] kroitor commented on #493
You are not required to preload them manually anymore. This should be handled by ccxt. Let me know if you find a case where it's not.

The original idea was to have load* family (a caching layer) for external API, and fetch* family for inter-library things. So, basically, we have been missing the whole set of loadTickers(), loadOrderBook(), loadOHLCV, loadOrders, etc... You're right, there's no po

[2017-11-08 11:17] kroitor commented on #495
@hunsnowboarder can you open that link from your browser tab?

See here:

https://github.com/ccxt/ccxt/issues/452
https://github.com/ccxt/ccxt/issues/227

[2017-11-08 11:19] kroitor commented on #494
@nmiculinic got it, I am looking at why this might be happening.

[2017-11-08 11:25] kroitor commented on #494
Hm...
https://www.bitfinex.com/legal/cst
https://www.bitfinex.com/legal/cst/bitcoin_unlimited

That's a little confusing indeed. Any ideas on what we should do about it?

[2017-11-08 11:34] kroitor commented on #452
https://github.com/ccxt/ccxt/issues/227

[2017-11-08 11:35] mkutny commented on #493
Clear now.

I just looped over all exchanges and all tickers and have got a bunch of exceptions (as you might have guessed having my stream of PRs and issues).

And once I've got an exception I do a manual introspection, something like:
[code]

This is not a big problem, though.

[2017-11-08 11:35] #493 closed

[2017-11-08 11:52] nmiculinic commented on #494
That's added complexity I'd rather avoid if not necessary. Let's say the de facto standard is coinmarketcap --> BCC is Bitconnect.

For this specific Bitfinex stuff...let's call them CST_BCC for example?

How does that sound to you?

[2017-11-08 11:57] kroitor commented on #494
@nmiculinic sounds good, I'll do that right away, hold on plz! )

[2017-11-08 12:16] #494 closed

[2017-11-08 12:32] kroitor commented on #495
I'm closing this as a duplicate, if you don't mind. Feel free to ask questions if you still have any. Thx!

[2017-11-08 12:32] #495 closed

[2017-11-08 12:33] kroitor commented on #494
This was fixed in 1.10.23. Thanks for reporting!

[2017-11-08 15:04] giladbi opened #496 "module 'ccxt' has no attribute 'exchanges'"
hi
i am trying to install the package and than run `print(ccxt.exchanges)`
using python 3.5 and version installed is 1.10.24
i assume i am doing something wrong
thanks

[2017-11-08 15:12] kroitor commented on #496
@giladbi, hi! How do you install it?

[2017-11-08 17:34] aking7 opened #497 "Cryptocurrency Market Index"
This isn't exactly related to the ccxt code (have you thought about starting a Slack team?) but I thought you guys may be able to help. I'm looking for an API with access to some sort of cryptocurrency market index, similar to the S&P 500 for the stock market. Does anyone know of something like this?

I recently came across https://www.mvis-indices.com/indices/digital-assets, which is creating a v

[2017-11-08 17:44] kroitor commented on #497
Welcome to our gitter chatroom:

[![Gitter](https://badges.gitter.im/ccxt-dev/ccxt.svg)](https://gitter.im/ccxt-dev/ccxt?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

You may want to look at aggregators and those types of services:

- https://www.coinigy.com
- https://coinmarketcap.com
- https://www.cryptocompare.com

Practically every cryptotrading site has its own index, as well as m

[2017-11-08 17:48] aking7 commented on #497
Ok thanks :)

[2017-11-08 17:48] #497 closed

[2017-11-08 18:11] giladbi commented on #496
d.l. the whl file and run the install from the command prompt
and than:
`import ccxt
print(ccxt.exchanges) # print a list of all available exchange classes`

[2017-11-08 18:13] kroitor commented on #496
@giladbi why don't you use pip install for that?

[2017-11-08 18:15] giladbi commented on #496
i am new to programming and to python and pip didn't work for me so i used the cmd

[2017-11-08 18:59] kroitor commented on #496
@giladbi if you want to actually start programming, you will have to give exact answers. It's very hard to help, if you don't answer precisely.

So, for example, if you say *"pip didn't work for me"* – you should instead copy the command that you tried that didn't work, and the output that was printed... Otherwise we will inevitably ask for that and it will take much longer to resolve the issue if

[2017-11-09 07:44] #496 closed

[2017-11-09 07:44] #470 closed

[2017-11-09 14:01] stonemonk opened #522 "Support fixed-point math"
You want the most precision possible when dealing with a users money.  In particular, methods for placing orders and doing deposits/withdrawals should accept decimal.Decimal for the relavant arguments, return values and should be used internally for any calculations they perform.

[2017-11-09 14:06] stonemonk opened #523 "KeyError: 'T' in ccxt.bittrex in parse_ohlcv"
Calling `bittrex_service.fetch_ohlcv("CANN/BTC", "1m")` raised KeyError on line:

``` timestamp = self.parse8601(ohlcv['T'])```

where:

[code]

Note that MarketName is not the same as what was requested.  The `market` dictionary OTOH, does reflect the correct market.

[2017-11-09 14:10] kroitor commented on #522
Thanks, for your suggestion! We agree completely! As you may know, this library is under active development. Switching to fixed point math is in our roadmap. Related issue: https://github.com/ccxt/ccxt/issues/393.

By the way, your PRs and contributions are welcome! We will be happy if you could help us with that, but please note that apart from Python we support a few other languages as well, so

[2017-11-09 14:18] kroitor commented on #523
Thanks for reporting this, will take a look into it and get back to you.

[2017-11-09 14:21] kroitor commented on #523
That's very strange... can't reproduce it on my side...

[code]

Can you show your full code and full output in [verbose mode](https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting) (set `.verbose=True` on the exchange instance or add `{'verbose':True}` to constructor)?

[2017-11-09 14:29] stonemonk commented on #523
I only saw it once and also haven't been able to reproduce again. I was basically calling that periodically in a loop for data collection, and it just popped up randomly.  I'll run in verbose and in a debugger and see if I can catch it again (and debug)..

[2017-11-09 14:32] kroitor commented on #523
@stonemonk you might be hitting their [rate limit](https://github.com/ccxt/ccxt/wiki/Manual#rate-limit) if you do it more frequently than once per second, so, you might want to add set `.enableRateLimit = True` or add `{'enableRateLimit': True, 'verbose': True}` to the constructor.

[2017-11-09 15:02] kroitor commented on #523
I would close this for now, if you don't mind, until we have further development on this issue. Feel free to reopen it or just continue posting if you experience problems with after setting a delay on bittrex. Thx!

[2017-11-09 15:02] #523 closed

[2017-11-09 18:05] phil-steve opened #524 "ccex does not have market symbol BTC/USD"
According to https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids the market symbols are standardized to e.g. BTC/USD across exchanges.

Yet for ccex this does not seem to work despite them supporting this pair. I currently receive: „ccex does not have market symbol BTC/USD“ when doing exchange.fetchTicker(currencyPair). All other exchanges work fine.

ccex USD depositing: https://c-cex

[2017-11-09 18:09] rubobaquero opened #525 "Error creating order in Bitso"
I receive an error when i try to create an order with Bitso:

Example code:

[code]
Error:
[code]

And this is the request that is making the code when activating verbose (I have modified the Authorization header to avoid security problems):
[code]

[2017-11-09 18:14] kroitor commented on #524
Hi, @phil-steve !

If you take a careful look at their price here: https://c-cex.com/t/usd-btc.json, you will immediately notice, that it is a USD/BTC price, not BTC/USD.

[code]

Their pairing is reversed, as is the price.

[code]

We don't change their markets, what we get from their endpoint here: https://c-cex.com/t/api_pub.html?a=getmarkets, you'll see that that particular pair has USD as bas

[2017-11-09 18:14] #524 closed

[2017-11-09 18:16] chiajoe opened #526 "withdraw tokens that need memo/memo id"
Some of the coins need extra information beside the wallet address like memo id as withdraw parameter, how to withdraw/deposit that type of coins ?

[2017-11-09 18:18] kroitor commented on #526
@chiajoe all methods support the extra `params` argument (https://github.com/ccxt/ccxt/wiki). You can pass your additional values in it. Does this answer your question?

[2017-11-09 18:19] kroitor commented on #525
Hi, @rubobaquero ! Thanks for reporting this, I will take a look into it and will get back to with a fix for this.

[2017-11-09 18:59] Felipe-Mangueira opened #527 "Exchanges not returning response dictionary of requests"
Hi,

I trade with some exchanges and regularly, for some buy, sell ou tranfers requests, my order is placed but no response dictionary is returned, so I do not know if the order was really placed. Is there anything I can do about it, or it's a problem with the exchange's server that happens sometimes?

Thanks fou your support.

[2017-11-09 19:01] kroitor commented on #527
@Felipe-Mangueira hi! Do you mean that you place those orders with ccxt? Or in general?

[2017-11-09 19:21] phil-steve commented on #524
What an amazing answer! Thanks so much for taking the time to reply & building such an incredible tool! Saves me literally weeks of coding&headache! Cheers!

[2017-11-09 19:33] chiajoe commented on #526
Hi,

Thx for the fast response. I already tried that way. Can’t find any information about withdrawal through api to a address that need that additional memo parameter on the exchanges website it self.

Thought maybe you guys know a way to do that.

[2017-11-09 19:54] Felipe-Mangueira commented on #527
Yes @kroitor, I place all those orders with ccxt.

[2017-11-09 19:56] Felipe-Mangueira commented on #527
This happens recurrently with Kraken and sometimes with Mercado Bitcoin. With Bitfinex and others I have tested, it happened just a few times, but it happened anyway.

[2017-11-09 20:18] kroitor commented on #526
@chiajoe it's hard to help without even knowing which exchange it is, and what you are trying to achieve... Can you show some code or describe it in more detail?

[2017-11-09 20:20] kroitor commented on #527
@Felipe-Mangueira with Kraken it's a usual thing, it has been under huge load for past few months... They barely can handle it. In general, a request to create an order can fail, and in that case you should recover and check the open / closed orders and trades to find out whether it was accepted or not and whether it managed to close or not, while you were recovering. There's no other way to worka

[2017-11-09 20:36] Felipe-Mangueira commented on #527
Yes @kroitor, it does. I think I am taking the necessary actions to avoid this problem, unfortunately.
Thanks for your time again, and keep with your great work.

[2017-11-09 20:40] kroitor commented on #527
@Felipe-Mangueira ok... you can also try increasing timeout for Kraken if you can tolerate that in your logic. We had to raise it up to 20 seconds, because Kraken takes 15 seconds just to open an order sometimes... Let us know if you have any other questions. Thx!

[2017-11-09 20:40] #527 closed

[2017-11-09 20:51] Felipe-Mangueira commented on #527
I have already changed the timeout for Kraken, @kroitor , but not always the exchange returns a timeout error, and when it returns, it doesn't mean the order was not placed, and I have to check it out anyway.

Ok, no problem. I appreciate your tips, anyway.

[2017-11-09 22:06] chiajoe commented on #526
first of all thank you for this super library.

I want just withdraw a pair, but some of the coins like XRP or SBD have extra fields like ‘memo’  or ’tag’  additional to there deposit addresses.
I can withdraw through ccxd lib all coins that has just a normal wallet deposit address.

The code works and there are no problems , just wan’t to know how to add the extra 'memo’ parameter.

The exchanges

[2017-11-09 22:22] kroitor commented on #526
@chiajoe your code looks absolutely fine, but you cannot withdraw XRP/BTC. You can only withdraw either XRP or BTC. You basically withdraw one currency, not a pair of currencies. Also, in your code I see a backtick (&#96;) symbol instead of quotes (\') in several places. Apart from that your code should work fine.

Try this (assuming your `exchange` instance has properly set up keys):

[code]

The

[2017-11-09 22:29] chiajoe commented on #526
This answered my question. Thank you very much.

[2017-11-09 22:32] #526 closed

[2017-11-09 22:44] kroitor commented on #525
@rubobaquero ok, I see several issues here:

A. In your code I see that you are not respecting the rate limit of bitso... So, if you remove the fetch_balance call, your code should work right away.

B. You should not do more than one request per .rateLimit by default. Or your should set `.enableRateLimit = true` on the exchange instance or in the constructor if you want it to sleep for that delay

[2017-11-10 01:11] oswaldonfire opened #528 "Binance price_to_precision() Invalid format specifier"
Hi,
with this code:

`exch = ccxt.binance({
                      'apiKey' : 'xxx',
                      'secret' : 'xxx',
                      })
buyOrder = exch.create_limit_buy_order('ETH/BTC', 0.027, 0.042, {})`

I am seeing this ValueError:

`Traceback (most recent call last):
  File "C:\dev\crypto-accumulator\ccxtTest.py", line 72, in <module>
    main()
  File "C:\dev\crypto-accumulator\c

[2017-11-10 02:58] rubobaquero commented on #525
Hi kroitor,
I tried with your suggestion of removing fetch_balance and received the same error:

Example
[code]

Error
[code]

Request:
[code]
If I try the same with Bittrex or Poloniex for example it works. My Version is 1.10.49.

[2017-11-10 03:02] rubobaquero commented on #525
Same problem overriding the default nonce:
[code]

[2017-11-10 03:11] rubobaquero commented on #525
And same problem enabling rate limit:

[code]

Just for curiosity, i have dumped the response from bitso obtained in $exchange->fetch() method when trying to create the order:

`Disallowed Key Characters`

Probably the problem is the scientific notation?  What should i put instead? number_format($price,8) ?

[2017-11-10 06:34] kroitor commented on #525
@rubobaquero ok, thank you for a comprehensive report! I also think this is a "D" problem now, I'll look into it and will get back to you with a fix for it asap. Thx again!

[2017-11-10 06:34] kroitor commented on #528
@oswaldonfire thank you for reporting this! Will look into it and will fix it for Python asap!

[2017-11-10 07:14] #528 closed

[2017-11-10 07:20] tandazhi opened #531 "Poloniex getBalance() takes a long time"
Hi,

There are two many assets in Poloniex, so the getBalance() take a long time (about 3 seconds for me) to return. Is there any way to request just several assets (for example, just requesting BTC and BCH) balance?

Thanks a lot!

[2017-11-10 07:29] tandazhi opened #532 "OKEX getBalance() add support for future accounts"
Seems that the method getBalance() of calss OKcoinUSD can get the balance of spot account correctly, but
can't get that of future account. Is there any special method for okex future account?

Thanks a lot!

[2017-11-10 07:36] kroitor commented on #531
@tandazhi, hi!

Unfortunately, we don't control that. It's just how Poloniex works – it returns full balance info, and it does not allow to specify the currencies you're interested in. Actually, the problem is not the size of the response (even if you fetch all balances it is not big enough to add delays). It just takes that long from Poloniex for your request to be processed and we can't workarou

[2017-11-10 07:38] kroitor commented on #528
This issue was fixed in version 1.10.51. Thx again for reporting this, appreciate your feedback!

[2017-11-10 07:38] #490 closed

[2017-11-10 07:46] tandazhi commented on #531
Hi Kroitor,

Thanks for your quick answer.  I pinged the poloniex and the lag time is only about 200ms, I am wondering if to relocate the application in US, the lag time of fetchBalance() can be controlled within 1 second? Thanks for your suggestion.

Best Regards,

[2017-11-10 07:54] kroitor commented on #531
@tandazhi the ping show you the round-trip latency... So, if you are talking to Poloniex ICMP with the ping tool, a ping-packet does not enable the whole Poloniex engine for balances, orders, or other private info of that sort. When you ping, you don't go through their authentication layer, you request does not go through their databases, etc... So with ping you're just scratching the surface. The

[2017-11-10 08:00] kroitor commented on #490
This feature was added as of version 1.10.52. Thx!

[2017-11-10 08:02] kroitor commented on #531
In other words, `ping` may show 200ms, but the actual balance endpoint can still take 2-3 seconds to reply at the same time.

Let me know if I answered your question or not. Thx!

[2017-11-10 08:03] tandazhi commented on #531
Hi Kroitor,

Thanks a lot for your suggestion. I will test it to see what is the difference.

[2017-11-10 08:03] #531 closed

[2017-11-10 10:21] wernight opened #533 "AttributeError: 'NoneType' object has no attribute 'find'"
In some cases when trying to cancel an order from Kraken, there is this exception:

[code]

Looks like `message` might be None in `kraken.py` around line 480.

[2017-11-10 10:25] kroitor commented on #533
@wernight thx for reporting this! Can you please paste verbose output of it (set `.verbose = True` on kraken instance) ?

[2017-11-10 10:26] kroitor commented on #532
@tandazhi I'll take a look into it and will probably add support for futures-accounts very soon!

[2017-11-10 12:33] stonemonk opened #534 "poloniex fetch_trades default behavior"
fetch_trades on poloniex has special code to have it return 50,000 trades by default which makes it imposible to access poloniex's default behavior of returning only the last 200 trades.

Perhaps if limit is defined and less than 200, you can exclude the "end" param as to get the default behavior.

[2017-11-10 12:44] kroitor commented on #534
Thx for posting this issue! Will fix for that shortly!

[2017-11-10 14:04] #525 closed

[2017-11-10 14:04] #534 closed

[2017-11-10 14:54] kroitor commented on #525
@rubobaquero this issue was fixed in 1.10.54. Let us know if you have any remaining difficulties with it. Thx!

[2017-11-10 14:54] kroitor commented on #534
This is fixed now, please don't forget to update to most recent version of ccxt. Thx!

[2017-11-10 16:05] kroitor commented on #532
@tandazhi after taking a deeper look into it, I see that they return position trading balances for the futures account, and unifying the positional, margin or leveraged trading is currently beyond our scope. But you can fetch the futures balances with ccxt already, anyway, like so:

[code]

Does this answer your question?

[2017-11-10 16:12] stonemonk opened #535 "Loss of precision with bittrex timestamps"
bittrex timestamps are being parsed with `parse8601()` which calls `dt.utctimetuple()` which throws away the ms precision, effectively flooring it to seconds.

While this is okay for most purposes, some data such as tickers have sub-second precision and since there can be more than one ticker update per second, its sometimes very useful to be able to distinguish between them by their timestamp.

N

[2017-11-10 16:16] kroitor commented on #535
@stonemonk

it should not behave that way, i'll take a look into it and will fix it...

Actually, I don't think so, because our timestamps are documented milliseconds ints. If you see them  rounded to seconds (thousands), it's probably due to a bug in the parsing code, but the integer type for the timestamp should be ok.

[2017-11-10 16:24] stonemonk commented on #535
Ahh right, you are returning as millisecond ints, thats good.

I have no idea why the built in dt.utctimetuple() throws away ms, but it does and easy to see that in datetime source code.  :(

[2017-11-10 16:42] #535 closed

[2017-11-10 18:21] kroitor commented on #535
This is fixed in 1.10.55. Thx once again for reporting!

[2017-11-10 22:02] #533 closed

[2017-11-10 22:05] kroitor commented on #532
I hope I did answer your question, and I would close this issue for now, if you don't mind. Feel free to reopen it or ask questions if you still have difficulties with it. Thx!

[2017-11-10 22:05] #532 closed

[2017-11-10 22:47] kroitor commented on #533
This issue is fixed as of 1.10.56+. Thx again for reporting!

[2017-11-11 06:33] tandazhi commented on #532
Thanks Kroitor, to use private_post_future_userinfo() to access the balance is ok for me.

[2017-11-11 06:35] stonemonk opened #536 "Occasional crash in bittrex parse_trades()"
bittrex `fetch_trades()` sometimes triggers a crash from `parse_trades()` because `trades` is None and it raises a TypeError because NoneType is not iterable.  In other words the `response['result']` is sometimes None in the following line and should be checked:

`return self.parse_trades(response['result'], market)`

To be exact, bittrex returned this:

`response == {
'message': '',
'result': Non

[2017-11-11 06:38] kroitor commented on #536
Thank your feedback, @stonemonk ! I'll put that check for bittrex as well, will upload soon.

[2017-11-11 07:06] stonemonk commented on #522
So I was proposing that CCXT switches from python float (which being backed by C double type, is 64bit on nearly every platform) to decimal.Decimal which is 128bit and would be suffient precision for working with currencies and is a more natural way of working with inherently floating point amounts (compared to trying to convert to fixed point).

I take it that you have a preference for using fixe

[2017-11-11 07:39] kroitor commented on #522
We avoid rate conversions inside the library, therefore we don't really care about the base unit. I think we should approach it mathematically, not financially. Therefore a fixed-point solution seems to fit our needs better than big integers. Whatever way we resolve this, we still believe that the fix should be independent of any particular currency.

Not really, because there's a lot of exchanges

[2017-11-11 07:50] #536 closed

[2017-11-11 08:25] stonemonk commented on #522
I don't understand this, "fixed-point" and "big integer" are the same to me.  Fixed-point normally refers to use of integer math by working with numbers at a certain scale. e.g. multipling all prices and quantities by 10 million, so you can represent it as a big integer and thus avoid using floating points and thereby avoiding float precision issues.  I was suggesting that this would be difficult

[2017-11-11 08:38] kroitor commented on #522
I may be using the wrong term here, but what I mean under "fixed-point" is being able to do the following string-wise operation:
[code]

So we don't have to choose the base unit or to convert to integers or whatever. The only thing we need is an arbitrary-precision arithmetics util. We don't really care whether it stores those values as integers inside the util or not, the only thing we care about

[2017-11-11 14:14] stonemonk commented on #536
Ahh I just got this again but this time on fetch_ohlcv() / parse_ohlcv() for symbol 'BTCD/BTC' and interval '1m'.

Maybe all bittrex calls should check that `response['result'] is not None` if you plan to dereference it to get data out of it.

[2017-11-11 14:41] stonemonk commented on #522
Ahh I see, I hadn't even considered that option.  Well that would certainly work if you can find a suitable library.  But using 128bit decimals would also be sufficient and is a built in native for python so it seems like a more natural choice.  I guess JS and PHP do not have 128bit float support built in though.

Maybe this is a suitable JS lib which could be transpiled?:  https://github.com/Mike

[2017-11-11 18:57] kroitor commented on #536
@stonemonk I'll do the same for all methods of bittrex then... Will be fixed soon.

[2017-11-11 21:22] orrelln commented on #490
I appreciate the fast addition, thank you!

[2017-11-12 09:23] matthijsb opened #540 "Python bitstamp create_order"
When i try to create an order on bitstamp using the python client, it raises an error:
{"error": "Missing key, signature and nonce parameters"}
(while keys are provided, other calls like fetch_balance work fine)

It seems to be something similar to the this:
https://github.com/maxme/bitcoin-arbitrage/issues/22

[2017-11-12 09:48] kroitor commented on #540
@matthijsb hi! Thanks for your report! Will take a look and add a fix to it, hopefully, soon.

[2017-11-12 12:50] MaximKorobov opened #541 "Exchanges' required credentials and metainfo"
I should ask user for exchanges requisites by UI.
How to get what requisites are required to exact exchange? For example, that Exmo and LiveCoin need apiKey + secret, bitlish needs only apiKey?

[2017-11-12 12:57] kroitor commented on #541
Hi, @MaximKorobov !

Thanks a lot for opening this issue! Currently, there is no way to tell that programmatically from the library, apart from hardcoding those cases in the userland. As you may know, this library is under active development, so not all wanted features are implemented yet, however, this particular feature is on our roadmap. And we hope to deliver it asap as this functionality is n

[2017-11-12 13:08] MaximKorobov commented on #541
As far authentication parameters are almost already in library code (most in `sign` method of Exchanges) please consider to declare such meta explicitly.

[2017-11-12 13:09] kroitor commented on #541
@MaximKorobov sure, will add those properties to the exchange asap.

[2017-11-12 14:07] takutaku947 opened #542 "ccxt should be put on Packagist (PHP)"
Hi,
I think this project should be register to Packagist, because many developers who are using PHP is using Composer to maintain libraries.

If your project is register to Packagist, I think it's more easier to use this.

(Currently I don't have enough time to register to Packagist due to examination, so I'm just registering this issue. If I get more time, I'll try to do that.)

[2017-11-12 14:44] kroitor commented on #542
https://packagist.org/packages/ccxt/ccxt

[2017-11-12 15:03] takutaku947 commented on #542
Nice, thank you for your fastest work.

[2017-11-12 15:03] #542 closed

[2017-11-12 15:35] kroitor commented on #540
@matthijsb can you please post the full verbose output of it?

[2017-11-12 15:50] rahulkumarbudhwani1 opened #544 "Binance New coins fetch ticker not working"

[2017-11-12 16:08] kroitor commented on #544
Sorry, can you elaborate please?

[2017-11-12 16:09] kroitor commented on #544
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2017-11-12 16:14] rubobaquero opened #545 "Error creating order to exmo - Price rounded up to 1"
I am trying to create an order on exmo:

[code]

The problem is that the price is being rounded up to 1 as the request shows:

[code]

I am running version 1.18.68 (latest downloaded by composer, didn't know why it isn't available 1.18.71. I have tried with "ccxt/ccxt": "dev-master" and "ccxt/ccxt": "*" and it didn't find anything new)

[2017-11-12 16:35] kroitor commented on #545
This was fixed in 1.10.72+. Thx for reporting!

[2017-11-12 16:35] #545 closed

[2017-11-12 16:40] rubobaquero opened #546 "Composer isn't obtaining the latest version of CCXT"
I have something like this in my `composer.json`:

[code]

If i try to update CCXT to the last version running `composer update` I always get 1.10.68 version, while current is 1.10.72 version.

I have tried too to replace `"ccxt/ccxt": "dev-master"` by `"ccxt/ccxt": "*"` wihout any changes.

Am I doing something wrong?

[2017-11-12 16:42] kroitor commented on #546
@rubobaquero i've just set up proper GitHub hooks, so now it should show current up to date version 1.10.72+.

[2017-11-12 16:45] #546 closed

[2017-11-12 16:51] kroitor commented on #546
Strange things going on with it tho...

<img width="1127" alt="screen shot 2017-11-12 at 19 50 48" src="https://user-images.githubusercontent.com/1294454/32701233-dd473c1a-c7e2-11e7-9cf2-e9f4754c42a1.png">

[2017-11-12 16:59] rubobaquero commented on #546
Latest version available now is 1.10.72 :-) I suppose that it can take a few minutes after version 1.10.73 is "distributed" to Packagist.

[2017-11-12 17:02] rubobaquero commented on #545
kroitor, still having the same issue with version 1.10.73.

As you can see, price in POST var is 1 and i set it to 0.00003200:

[code]

`[3] => nonce=1510502461&pair=XRP_BTC&quantity=20&**price=1**&type=buy`

[2017-11-12 17:17] kroitor commented on #545
@rubobaquero sorry, let me double-check that...

[2017-11-12 17:39] kroitor commented on #546
Looks like packagist is updating the version, but does not update the package itself... This is the cause of the exmo fix not getting through. I'll update it manually.

[2017-11-12 17:43] kroitor commented on #545
@rubobaquero can you please verify that your installed version actually has the same code in exmo.php ?

https://github.com/ccxt/ccxt/blob/1.10.73/php/exmo.php

<img width="863" alt="screen shot 2017-11-12 at 20 40 49" src="https://user-images.githubusercontent.com/1294454/32701608-e6224012-c7e9-11e7-8ed4-cdd2aada5b6b.png">

https://github.com/ccxt/ccxt/issues/546#issuecomment-343753664

[2017-11-12 18:29] petercollingridge opened #547 "Authorization fails for LakeBTC when calling private API"
When trying to call `fetch_balance()` for with lakeBTC I get the following error:
[code]

https://github.com/ccxt/ccxt/blob/4535a1d7fbae1a55c036bacba799cdcdc4deb51f/python/ccxt/lakebtc.py#L193

I think this is because both `self.apiKey` and `signature` are bytes and you are trying to concatenate them into a string. I think they need to be converted into strings. I think also, you need to create th

[2017-11-12 18:43] kroitor commented on #547
@petercollingridge thx for reporting this, will fix right away!

[2017-11-12 18:53] kroitor commented on #547
@petercollingridge this is fixed in 1.10.74+. Thx again!

[2017-11-12 19:18] #547 closed

[2017-11-12 20:10] matthijsb commented on #540
Here you go:

('https://www.bitstamp.net/api/buy', 'POST', 'https://www.bitstamp.net/api/buy', '\nRequest:', {'Content-Type': 'application/x-www-form-urlencoded', 'Accept-Encoding': 'gzip, deflate', 'User-Agent': 'ccxt/1.10.63 (+https://github.com/ccxt-dev/ccxt) Python/2.7.13'}, 'nonce=XXX&amount=0.01&key=XXX&signature=XXX&price=5500&id=btcusd')
('POST', 'https://www.bitstamp.net/api/buy', '\nResp

[2017-11-12 20:16] kroitor commented on #540
@matthijsb does fetch_balance work for you?

[2017-11-12 21:00] #540 closed

[2017-11-12 21:05] kroitor commented on #547
Ok, this is now fixed completely, let us know if you have any difficulties with it. Thx again!

[2017-11-12 21:07] kroitor commented on #540
This issue should be fixed as of 1.10.77. Let us know if you still have difficulties with it. Thx for reporting!

[2017-11-12 21:12] kroitor commented on #544
Without a proper indication of that exactly isn't working, we can't help resolve this issue, sorry, but I'm closing this down, if you don't mind. Feel free to reopen it if you can provide more info on the problem. It's really hard to guess it from you vague description.

[2017-11-12 21:12] #544 closed

[2017-11-12 21:56] matthijsb commented on #540
Igor Kroitor schreef op 2017-11-12 21:17:

Hi Igor, i tried the new version, but unfortunatly it still doesnt work
for me (it throws the same error).
fetch_balance (and other functions) work fine!

Links:
------
[1] https://github.com/matthijsb
[2] https://github.com/ccxt/ccxt/issues/540#issuecomment-343764122
[3]
https://github.com/notifications/unsubscribe-auth/AFCr9QqHK8J0kY1MKpUooZwbyfliB2hjks

[2017-11-12 21:58] kroitor commented on #540
@matthijsb hi, can you please repost the verbose output with the new version? I'll be able to debug it then, thx! My bitstamp account is still under verification, unfortunately.

[2017-11-12 22:10] kroitor commented on #540
@matthijsb also, can you please try the same code with bitstamp v2?

[code]

Does it also fail to open the order for you with v2?

[2017-11-13 07:35] matthijsb commented on #540
Igor Kroitor schreef op 2017-11-12 23:10:

Good catch! I left v1 there to test (nobody wants to use that one i
guess ;-), with v2 it works as expected!

Links:
------
[1] https://github.com/matthijsb
[2] https://github.com/ccxt/ccxt/issues/540#issuecomment-343772240
[3]
https://github.com/notifications/unsubscribe-auth/AFCr9bAiT1BKqkQ2xx3T408lytAUVQqzks5s12y_gaJpZM4Qa0Ie

[2017-11-13 12:40] rubobaquero opened #548 "Exmo: feth_order not implemented. Possible solution"
When i try to fetch an order of Exmo, it says that it isn't implemented:

`PHP Fatal error:  Uncaught ccxt\NotSupported: exmo fetch_order() not implemented yet`

Is it possible to implement it using the function `order_trades ` from their Authenticated API?

Thanks in advance!

[2017-11-13 12:51] kroitor commented on #548
@rubobaquero they have methods for fetching open orders, which is enough to emulate all other fetch\*order\* methods, so, the answer to your question is: yes, it is possible. We already did the same for Liqui, Poloniex and a few other exchanges by keeping the order cache in memory.
The fetchOrder for EXMO will be implemented, hopefully soon, your contributions and PRs are welcome, we will be happy

[2017-11-13 12:51] #548 closed

[2017-11-13 12:55] kroitor commented on #548
Poloniex only has fetchOpenOrders, and other order API methods like fetchOrder, fetchOrders, fetchClosedOrders are emulated:

[code]

[2017-11-13 13:25] rubobaquero commented on #548
Hi kroitor. After reading the CONTRIBUTING doc, i am not sure how i should proceed to contribute if i am a PHP developer, as the main language is Javascript. I understand that Javascript is the master language and it is transpilated to Python/PHP. How is it done in the slave -> master way? What syntax rules should i follow in PHP? Should I submit a PHP version and you translate it to Javascript or

[2017-11-13 13:36] kroitor commented on #548
@rubobaquero hi! Yep, the CONTRIBUTING doc is a little outdated, we will update it asap.
My advice is to open poloniex.js and compare it to poloniex.php. You will immediately notice that there's very little difference in their code. They are mirroring each other line-to-line. So, answering your question, it would be easier to merge for me, if you did it in JS from the start, but if you have any di

[2017-11-13 16:31] Mitrovic opened #549 "Get a full name of coin"
Hi,
Can we get a full name for the coin ?
For example  coin with base XMR on exchange server have name Monero, but I can't get that name.

[2017-11-13 16:54] kroitor commented on #549
Hi, @Mitrovic !

Currently we don't unify coin names (it's on our roadmap, however).
But you should still be able to obtain the coin name where available, from the `info` field of the market in question.

[code]

That is, until we unify their names in the library (it is under active development, as you may know).
Does this answer your question?

[2017-11-13 17:03] davidpodrebarac opened #550 "GDAX ExchangeError instead of ExchangeNotAvailable?"
Hi again,
when executing given code below:
[code]
I get:
`ExchangeNotAvailable: gdax POST https://api.gdax.com/orders 400 {"message":"price too small (0.00000000000010101020212101202)"}`

Following ccxt's wiki page on error hangling, shouldn't this be treated as ExchangeError instead of ExchangeNotAvailable?

[2017-11-13 17:04] kroitor commented on #550
Hi! Thanks for your feedback, it should be ExchangeError, of course, will fix for that very soon!

[2017-11-13 17:12] davidpodrebarac commented on #550
While you are at it, could you also change this from bitfinex?
`ExchangeNotAvailable: bitfinex POST https://api.bitfinex.com/v1/order/new 400 {"message":"Invalid order: minimum size for LTC/BTC is 0.2"}`

[2017-11-13 19:07] kroitor commented on #550
Sure, will upload the fixes shortly!

[2017-11-13 20:07] kroitor commented on #550
This is fixed in 1.10.81+. We will be happy if you report back whether it works as expected for you or not. Thx again!

[2017-11-13 20:07] #550 closed

[2017-11-13 20:52] crypt2 opened #552 "bithumb.fetch_balance() returns 400 Bad Request / 5100 Error Code"
[code]

Returns error :
cxt.base.errors.ExchangeNotAvailable: bithumb POST https://api.bithumb.com/info/balance 400 Bad Request  {"status":"5100","message":"Bad Request.(Request Time:reqTimexxxxxx....)

[2017-11-13 20:57] kroitor commented on #552
Hi, @crypt2 !

Can you post full verbose output, plz? (without the keys)

[2017-11-13 21:16] crypt2 commented on #552
<class 'ccxt.base.errors.NetworkError'>
https://api.bithumb.com/info/balance POST https://api.bithumb.com/info/balance
Request: {'Api-Key': 'xxx', 'Api-Sign': b'xxx=', 'Api-Nonce': 'zzz', 'User-Agent': 'ccxt/1.10.79 (+https://github.com/ccxt-dev/ccxt) Python/3.6.0', 'Accept-Encoding': 'gzip, deflate'} endpoint=%2Finfo%2Fbalance&currency=ALL
Traceback (most recent call last):
  File "/xxx/ccxt/ccxt

[2017-11-13 21:20] kvz commented on #52
Hi, thanks for this awesome project! Question, I'm seeing `kraken {"error":["EAPI:Invalid nonce"]}` when running `fetchBalance` even though I'm on the latest 1.10.82. Any clue?

[2017-11-13 21:21] kroitor commented on #552
You shouldn't have removed the nonce %))) Anyway, I think I can see the reason now, will upload the fix shortly, thx!

[2017-11-13 21:22] kroitor commented on #52
@kvz, hi!

Did you use the keys with any other software previously or is it a fresh new keypair?

[2017-11-13 21:24] kroitor commented on #52
@kvz try a new keypair and if it works, it means that the old keys have been used with a software that computes the nonce value differently. If the new keypair works, but you still want to use that old keypair, you will need to override the nonce for it. More about it here: https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting.

[2017-11-13 21:34] kroitor commented on #552
@crypt2 can you please update to version 1.10.84+ and retry the same code again, but this time, if it does not work, please paste full verbose output with nonce (it isn't a big secret, most people use seconds or milliseconds). Thx!

[2017-11-13 22:48] mkutny opened #554 "examples/js/cli - can't understand behavior"
I'm a bit lost.

I read the source code a dozen of times but still can't find what I'm missing.

This snippet works as I expect:

[code]

But the `cli` can't find 'BTC/USD':
[code]

Why it can't?

[2017-11-13 22:49] kroitor commented on #554
Try it without grep ;)

[2017-11-13 22:55] kroitor commented on #554
I don't really understand why grep does not catch the BTC/USD, but it's definitely there...

<img width="283" alt="screen shot 2017-11-14 at 01 54 46" src="https://user-images.githubusercontent.com/1294454/32753671-d297e8b2-c8de-11e7-98a8-f1ea0934ecbf.png">

[2017-11-13 23:00] kroitor commented on #554
This one works, however:

[code]

[2017-11-13 23:02] mkutny commented on #554
Thanks for the prompt reply!

First, I ran it without `grep`, of course...
Then I grepped the result just for brevity.

Still, don't have 'BTC/USD' reported it in my setup... But since you have it I'm sure it should be something trivial.

[2017-11-13 23:02] kroitor commented on #554
[code]

This also works, but does not match the `symbol: 'BTC/USD'` line for some reason...

[2017-11-13 23:02] mkutny commented on #554
The latter one (`examples/js/symbols`) works for me too.

[2017-11-13 23:08] #554 closed

[2017-11-13 23:09] kroitor commented on #554
Found it... That process.exit () was interrupting the previous console.log (which is async in node).

<img width="251" alt="screen shot 2017-11-14 at 02 06 50" src="https://user-images.githubusercontent.com/1294454/32754161-b43eb83a-c8e0-11e7-9e2e-411c9a0691ca.png">

Fixed it now, thank a lot!

[2017-11-13 23:22] mkutny commented on #554
How did you discovered that???? I was staring at the code for few hours before I decided to open the issue :)

Was sure won't fall asleep due to this.

Thanks!!!

[2017-11-13 23:27] kroitor commented on #554
@mkutny I had some issues with lagging console.log previously... but in this case initially I thought node is misunderstanding the arguments in the command line, but then it came to me out of memory, that when your main function is async, node usually hangs for a sec or two in order to flush the output buffers before exiting the process, so I thought, if the output does not make it to grep, someth

[2017-11-13 23:32] kroitor commented on #554
Oh, and btw, if you are wondering why I put the process.exit there in the first place – I just didn't want to wait 1-2 seconds before it exits )))

[2017-11-13 23:41] mkutny commented on #554
I also always wondered why it's handing for few secs even after all promises had been resolved.

That's a good catch, I would never figure it out myself.

[2017-11-13 23:52] crypt2 commented on #552
I get the same error with  'Api-Nonce': '1510616584'

[2017-11-13 23:52] kroitor commented on #552
@crypt2 can you post full verbose output of it?

[2017-11-13 23:56] crypt2 commented on #552
https://api.bithumb.com/info/balance POST https://api.bithumb.com/info/balance
Request: {'Api-Key': 'XXX', 'Api-Sign': 'XXX', 'Api-Nonce': '1510616584', 'User-Agent': 'ccxt/1.10.87 (+https://github.com/ccxt-dev/ccxt) Python/3.6.0', 'Accept-Encoding': 'gzip, deflate'} endpoint=%2Finfo%2Fbalance&currency=ALL
Traceback (most recent call last):
  File "/Users/xxx/Desktop/Crypto/scripts/trading/ccxt2/c

[2017-11-14 00:01] kroitor commented on #552
@crypt2 Is your system time synchronized? Looks like a discrepancy of 40 seconds.

[2017-11-14 01:34] #552 closed

[2017-11-14 08:22] janeCMD opened #564 "CEX - Market orders seem to mix amount with price"
When i do CEX market order by ccxt, lets say 15 ETH for market price, it will buy ETH for total price of 15 USD.

[2017-11-14 08:23] kroitor commented on #564
@janeCMD thx for reporting this, we will take a look into it and will fix this asap!

[2017-11-14 09:12] kroitor commented on #564
@janeCMD can you please post your code with verbose output of it?

[2017-11-14 09:34] gavin369 opened #566 "About cancellation of orders"
How to find the hang order? How else to cancel the order?

[2017-11-14 09:35] gavin369 commented on #566
How to write code?

[2017-11-14 09:36] kvz commented on #52
Hi @kroitor, thanks for the assistance 👍

I gerenated a new API key with the following settings:

![screen shot 2017-11-14 at 10 22 26](https://user-images.githubusercontent.com/26752/32772321-c568c656-c925-11e7-8ec5-89de30cb38a8.png)

and the issue seems resolved, thanks! 💯  🥇

[2017-11-14 09:37] gavin369 commented on #566
await huobipro.******？  Can you give me an example? Thanks！

[2017-11-14 09:38] kvz opened #567 "ccxt hangs when liqui times out"
Hi, I've seen the following behavior in Node.js:

- Normal execution when exchanges are swift
- Failure to execute callbacks when exchanges time out. Example:

[code]

[2017-11-14 09:41] kroitor commented on #567
@kvz seems that you're not catching / not handling the exceptions (UnhandledPromiseRejectionWarning), therefore your code hangs. Can you post a shortened snippet of how you issue your calls ?

[2017-11-14 09:42] kvz commented on #567
This is the full methods that handles it:

[code]

async await is a bit new to me, and i'm plugging it into a 'legacy' app that still uses callbacks. but i thought this should cover everything?

[2017-11-14 09:48] Mitrovic commented on #549
Hi,
I checked, but only bittrex has a name.
Is there a way to get other names?
Maybe a list of all the coins  where I can take the names according to the symbol.

Thank's

[2017-11-14 09:55] kroitor commented on #567
@kvz it depends on how you call the above method, can you show the code that wraps the call to your fetchBalance (cb) ?

[2017-11-14 09:58] kroitor commented on #549
@Mitrovic , hi!

The CoinMarketCap may be of some help for more or less unified crypto names:

[code]

But you will still have to code for a few fiats:

[code]

We are going to unify human-readable coin names inside ccxt as well (it's on our roadmap).

[2017-11-14 09:59] kvz commented on #567
That looks like so:

[code]

Although I was under the impression that the `try/catch` should have caught any error and now I'm free to bubble it up using callbacks? In this case, I only care about the first error, save that in `mainError`, and bubble that up.

[2017-11-14 09:59] kroitor commented on #549
@Mitrovic for fiat currencies, see ISO4217 standard 3-letter codes: http://www.xe.com/iso4217.php

[2017-11-14 10:28] kroitor commented on #567
@kvz

You're not awaiting your async fetchBalance call here:

[code]

I believe this should be:

[code]

Does it still fail with those two lines edited that way?

[2017-11-14 10:35] kvz commented on #567
Then the program stops very quickly. I think it's because no promise is returned by `fetchBalance` so it can't be awaited. But i'd think that since i 'terminate' via try & await inside `fetchBalance`, and then use old fashioned callbacks upwards, i should not need any awaits higher up. The transaction is done still inside fetchBalance. Is it possible an error isn't caught upon timeout deeper down

[2017-11-14 10:39] kroitor commented on #566
@gavin369 can you put your question in a few more words, please? Which langua

If your order request failed with unknown order status, you can check your open / closed orders (where implemented) like so:

[code]

But for now, the above method is not implemented for HuobiPro (it will be soon, see more about it here: #71). In the meantime you can use their custom API for fetching orders:

[code]

[c

[2017-11-14 10:41] gavin369 commented on #566
Okay，i know

[2017-11-14 10:53] kroitor commented on #567
@kvz the error is actually caught and reported from your callback, as it should, it is present in your output:

[code]

↑ that line is output by your callback ↓
[code]

So, from the above answer, you can see that the exception is actually tried and thrown properly from ccxt, catched and then passed into your callback, and then it is output from there. But for some reason your fetchBalance wrapper

[2017-11-14 10:55] kroitor commented on #566
Okay ) I would close this for now if you don't mind.

[2017-11-14 10:55] #566 closed

[2017-11-14 11:02] kvz commented on #567
Okay I'll do more digging. Thanks for the thoroughness!

[2017-11-14 11:02] #567 closed

[2017-11-14 11:11] kroitor commented on #567
@kvz try this:

[code]

[2017-11-14 12:46] davidpodrebarac commented on #550
None of these work. Could you try it yourself if you have an account on Bitfinex/GDAX?

[2017-11-14 13:34] stonemonk opened #569 "Poloniex order fees"
fetch_order() on the poloniex service returns `'fee': None` and doesn't otherwise account for the fees.

Thus doing a buy/then sell gives an insufficient funds error from the exchange. Basically what I am doing is something like this:

[code]

When I sell, I get an insufficient funds error because I don't have that much because Polo deducts the fees in BCH after buying it.

I would need to sell `a

[2017-11-14 13:39] kroitor commented on #569
@stonemonk it is included, you can calculate the fee before issuing the order:

[code]

Does this help?

[2017-11-14 13:40] kvz commented on #567
Hey I didn't know about push supporting callbacks too, thanks a lot! 💯

[2017-11-14 13:43] stonemonk commented on #569
That doesn't really help because you don't know in advance if you are a maker or taker, things can change by the time your order reaches the exchange. It would also be pretty cumbersome to try to guess it in advance like that.

I really just want to know the fee I paid after the fact.  The manual says it returns a fee structure (https://github.com/ccxt/ccxt/wiki/Manual#order-structure), but it ret

[2017-11-14 13:49] kroitor commented on #569
@stonemonk in other words, after you place the order, ccxt doesn't know if it's a maker or a taker, when it is closed. So you will HAVE TO manage maker-taker in userland.

[2017-11-14 13:52] stonemonk commented on #569
returnOrderTrades tells you the fees per trade yes, but so you can figure out the full Order Structure from that aggregate information.

Its pretty ugly if my userland code has to have special casing and logic for working with ccxt only when the service is polo.

[2017-11-14 13:57] kroitor commented on #569
No I can't, really, because I can't decide for the user when to send those requests. And the user doesn't want me to send multiple long-lasting request sequences blocking for more than one request per library call.

Maybe, this will help: https://github.com/ccxt/ccxt/pull/102

[2017-11-14 14:08] janeCMD commented on #564
Not sure what you mean by verbose output, but this is what i do:

`if($my_order["co_type"]=="buy"){
				$res=$exchange->createMarketBuyOrder ($my_order["co_pair"], $my_order["co_amount"]);
			}else if($my_order["co_type"]=="sell"){
				$res=$exchange->createMarketSellOrder ($my_order["co_pair"], $my_order["co_amount"]);
			}`

[2017-11-14 14:10] kroitor commented on #564
@janeCMD before doing that add:

[code]

And copy-paste the output here, plz. Thx!

[2017-11-14 14:17] stonemonk commented on #569
I don't understand this at all.  The user is calling ccxt's fetch_order(order_id) method, that should translate to poloniex's returnOrderTrades, not returnOpenOrders.  The user is asking for all info on a specific order, not about more vague info about all open orders.  You replace a single polo API call for another one.  Thats not any more long lasting nor blocking than returnOpenOrders is.

[2017-11-14 14:22] kroitor commented on #569
not really, that should translate to the closest method of the order API

But, If we do that, we won't be able to return the total order volume of an open or partially filled order...

[2017-11-14 14:27] janeCMD commented on #564
Will do this later today or tomorow. I have another issue with CEX, should i post separate issue (fetch_ohlcv gives error: unjson not found) ?

[2017-11-14 14:27] kroitor commented on #569
@stonemonk what you say actually does make sense. I'm just having hard time figuring out a way of implementing it with a single REST call. Unless we rework the order cache for Poloniex into something different.

[2017-11-14 14:27] stonemonk commented on #569
You could just cache it from when the order was placed.

[2017-11-14 14:32] kroitor commented on #569
@stonemonk in fact, we are caching the orders already. But the cache invalidation is currently based on fetchOpenOrders, as you noted previously. We can try implementing it the other way around, based on fetchOrderTrades... By the way, your help would also be really appreciated, we welcome your PRs and contributions if you feel like you want to give it a try.

[2017-11-14 14:34] kroitor commented on #564
@janeCMD

Nope, thx, I already see the reason there, will fix that as well!

[2017-11-14 14:36] kroitor commented on #550
@davidpodrebarac ok, now this should be fixed completely. Tested it on our side as well, both of them should work. Thx again!

[2017-11-14 14:56] kroitor commented on #564
@janeCMD the fetchOHLCV for CEX is fixed in 1.10.102. Would be thankful if you report whether it works for you or not (it should, we have tried it locally).

[2017-11-14 15:28] udvarid commented on #255
Hello.
How should I redefint the type for market in order to use the margin trade at bitfinex via API?

[2017-11-14 15:34] kroitor commented on #255
Hi, @udvarid !

1. To create a market order of default type (which is `exchange market`):

A. `exch.create_market_buy_order(symbol, trade_amount)` ←↓ this is an exchange order
B. `exch.create_market_buy_order(symbol, trade_amount, {'type': 'exchange market'})`

Options A and B are equivalent for exchange orders.

2. To create a market margin order of type `market`:

    `exch.create_market_buy_ord

[2017-11-14 16:53] davidpodrebarac commented on #550
These are fixed and work great!
Sorry If I am bothering you with this, but I have a few more that are not parsed correctly. I will just put them here:
* hitbtc2 -> Insufficient funds
[code]
* poloniex -> min size error as InvalidOrder
[code]
I know these are very "boring" bugs, but they should be fixed eventually. Maybe we can put ExchangeError as default instead of ExchangeNotAvailable?

[2017-11-14 18:26] kroitor commented on #549
@Mitrovic I am closing this for now until we implement currency names in ccxt (hopefully, soon). Feel free to ask questions if you have them. Thx!

[2017-11-14 18:26] #549 closed

[2017-11-14 19:01] janeCMD commented on #564
@kroitor Tryed version 1.10.110, now it doesnt show error, but OHLC array returned is empty (works with others i use). PHP code used:

[code]

[2017-11-14 19:03] kroitor commented on #564
@janeCMD can you please post verbose output of it?

[2017-11-14 19:04] kroitor commented on #564
[code]

[2017-11-14 19:08] kroitor commented on #564
I just did this script and it worked for me:

[code]

Does it work for you as well? If so, you should show your verbose output or tell what's inside your $_GET['pair']...

[code]

You should pass the symbol to fetchOHLCV...

[2017-11-14 20:08] flesler opened #580 "New HitBTC v2 API"
Here are the docs: https://api.hitbtc.com/#candles

[2017-11-14 20:12] kroitor commented on #580
Hi, @flesler !

Thanks, we know, of course, of their new API, we are updating the sources to match it now. Thx again!

[2017-11-14 20:17] flesler commented on #580
Than you for the hard work

[2017-11-14 20:17] #580 closed

[2017-11-14 20:53] janeCMD commented on #564
Thank you for help Igor, 1m is working, now i found out. I was testing with almost all other just not 1m, pair was ETH/USD... not too great of an OHLC api, but i will have to live with it...

[2017-11-14 20:57] kroitor commented on #564
@janeCMD you can build (calculate/integrate) higher timeframes from 1m timeframe, btw. But this is beyond ccxt (for now), you will have to aggregate them in userland code, until we have these methods inside the library. Alternatively, you can use a statistical library to do it for you, there's plenty of them on GitHub. Let us know whether you succeeded to make an order and if it doesn't work for y

[2017-11-14 21:23] udvarid commented on #255
Thank you!
And any idea how to get my open margin positions with here? The fetch_balance() is only give my balances (exchange and margin) but it would be nice if I could see the open margin positions as well.

Thank you in advance!

[2017-11-14 21:27] kroitor commented on #255
@udvarid sure, see here: https://github.com/ccxt/ccxt/issues/318. Hope it helps (it should).

[2017-11-14 21:45] udvarid commented on #255
thank you very much!
On 2017. Nov 14., at 22:27, Igor Kroitor <notifications@github.com<mailto:notifications@github.com>> wrote:

@udvarid<https://github.com/udvarid> sure, see here: #318<https://github.com/ccxt/ccxt/issues/318>. Hope it helps (it should).

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ccxt/ccxt/issues/255#i

[2017-11-14 22:49] marcobazzani opened #593 "bittrex fetch_l2_order_book on BTS/ETH returns {TypeError}'NoneType' object is not iterable"
Testing this market I got the following error:
[code]

is this due to no orders on the market ?

[2017-11-14 22:56] #593 closed

[2017-11-14 23:00] marcobazzani commented on #593
do you even sleep ?
Great work man

[2017-11-14 23:00] kroitor commented on #593
@marcobazzani it might be. I uploaded a fix for it, should arrive in 3-5 minutes. Can you please update to version 1.10.125 and report if the same code now works for you as expected or not? If it doesn't, we will need your verbose output. Thx, waiting for further notice from you.

[2017-11-14 23:09] marcobazzani commented on #593
FYI the fix worked

[2017-11-14 23:10] kroitor commented on #593
[code]

[2017-11-14 23:15] marcobazzani commented on #593
mmm probably you should remove the symbol from load_markets

[2017-11-14 23:16] kroitor commented on #593
@marcobazzani I also added the `active` field to bittrex markets so that you can detect if it's active or not and decide if you are going to fetch the ticker or an orderbook (you don't want to do that for inactive markets). Can't remove it completely, because other users still have order history, trades, that stuff, so we need it for backward compatibility, at least for some time.

[2017-11-15 01:02] marcobazzani commented on #593
is this active flag available in the unified api ?

[2017-11-15 01:03] kroitor commented on #593
@marcobazzani yes, we are going to add it everywhere eventually, however, it may be missing for this or that exchange, but it is present for bittrex markets.

[2017-11-15 08:19] RenKelvin opened #597 "Feature request: create market order with fund"
I'd like to have a method like this: `createMarketBuyOrder(fund: 100.00)`, where `fund` means the total money you're going to spend.
It's equal to an order with `price = market_price`, `amount = fund / market_price`.

[2017-11-15 10:02] stonemonk commented on #569
I will be offline for next 2 weeks and then very busy the following 2 weeks, but if you haven't make progress on this issue by then,  maybe I can help.  I was just a bit hesitant because I haven't worked with JS in about 10 years so I am very rusty with it.

I just pulled up my old Polo code I wrote prior to using CCXT.  Indeed I was caching the total quantity from the original buy/sell request by

[2017-11-15 10:06] stonemonk commented on #522
Just want to say that I was incorrect when I said that Python's built in decimal.Decimal type was 128bit (I was thinking about the mongo Decimal type).

decimal.Decimal is in fact arbitrary precision, and would thus be a more reasonable choice for Python version of CCXT than using a third party library.

[2017-11-15 12:42] werewere opened #600 "Bitfinex2 fetching old OHLCV 1m-history"
Bitfinex2 is returning a wrong Timestamp, always in the recent time, not the one specified. For instance, if we ask for 100 candles from "2016-08-17 00:00:00" using this call:

`    data = bitfinex2.fetch_ohlcv("ETH/USD", "1m", 1471392000000, 50)`

It returns:

[code]

Also the prices are wrong, they should be around 11$, and it is returning the current prices. It seems that always returns recent

[2017-11-15 13:16] kroitor commented on #569
Hello, @stonemonk ! Thx for the code snippet and for the hints on precision as well! We had the same difficulties with aligning precision for Kraken. We hope to rework this part of functionality for Poloniex asap.

[2017-11-15 13:21] kroitor commented on #597
Hello, @RenKelvin ! Thx for feedback! Unfortunately, the majority of exchanges do not support that, so, you will have to precalculate the price and amount in userland for now (multiply by hand before submitting the order). We will think on adding a specific method for that. In the meantime, I would close this issue if you don't mind. Feel free to reopen it or ask your questions, if you have any. W

[2017-11-15 13:21] #597 closed

[2017-11-15 13:24] kroitor commented on #600
Hello, @werewere !

Did you try this:

https://github.com/ccxt/ccxt/blob/master/examples/py/fetch-bitfinex-ohlcv-history.py

?

[2017-11-15 13:27] stonemonk commented on #569
Just to mention, on buy/sell, I was also rounding down the requested quantity to 8 decimals since this is what Polo does.  By doing so on my side, I can ensure that my `total_quantity` is the same that Poloniex's returnOpenOrder returns and also ensures that a successfully completed order's `filled_quantity == total_quantity` and that `remaining_quantity == 0`.

[2017-11-15 14:12] werewere commented on #600
Something seems wrong with Bitfinex. I just copied+pasted the code here https://github.com/ccxt/ccxt/blob/master/examples/py/fetch-bitfinex-ohlcv-history.py
and it is using a wrong timestamp. Look at the result, the string is correct, but the unix time that the script is taking as "from" is today.

[code]

Also, I think it is not because of my installation, because all the other exchanges that I'v

[2017-11-15 14:33] kroitor commented on #600
@werewere can you post your current code and verbose output of it?

[2017-11-15 14:46] kroitor commented on #600
Nothing wrong with Bitfinex, actually... Did you read this: https://github.com/ccxt/ccxt/pull/218#issuecomment-332542559 ?

[code]
(1510756881523, 'Fetched', 120, 'candles')
('First candle epoch', 1510756800000, '2017-11-15T14:40:00.000Z')
('Last candle epoch', 1510721100000, '2017-11-15T04:45:00.000Z')
[code]
mbp:ccxt igorkroitor$ python examples/py/fetch-bitfinex-ohlcv-history.py
(1510756942018,

[2017-11-15 14:50] kroitor commented on #600
To clarify: whatever `from` you choose, they will limit it to a range within last 120 periods.

[2017-11-15 14:56] kroitor commented on #569
We expose the order cache in `.orders` property of the exchange, so the user could save and reload the cache, if necessary.

Thx for the feedback, we hope to update this functionality asap.

[2017-11-15 16:42] werewere commented on #600
I see :( OK, understood. Thanks for your help as always, you can close the ticket :)

[2017-11-15 16:45] kroitor commented on #600
@werewere I guess, 120 is their max limit. Sorry, but we can't really workaround it, unless you collect their 1m timeframe continuously (poll and save to db in regular fashion).

[2017-11-15 16:45] #600 closed

[2017-11-15 16:55] kroitor commented on #522
@stonemonk , we have a concern on decimal.Decimal, because from Py2 docs it looks like it uses a global context in a dirty manner, if there's no other way to specify rounding/truncation rules, that global context might be a showstopper:

<img width="892" alt="screen shot 2017-11-15 at 19 50 37" src="https://user-images.githubusercontent.com/1294454/32848803-7309b360-ca3e-11e7-8d24-511f6047af56.png

[2017-11-15 17:30] stonemonk commented on #522
I am not working in Py2, but I don't think it's a problem. Any body else's code using decimal should be setting precision already prior to use. But if you are concerned about this you can always save the original precision first then restore it afterwards.

If the quantitize() method works in Py2, you might be better off using the default context precision of 28 decimals and only quantitizing down

[2017-11-15 17:54] kroitor commented on #522
@stonemonk looks like we can use decimal.Decimal in both Pythons with default precision, it should cover all values, hopefully. Thx!

[2017-11-15 20:15] PolybitSol opened #601 "Unified Margin Balances"
Hey,

Glad to see this project is still going on strong, I just had some queries about the unified balances. Exchanges such as Bitfinex and Poloniex both divide their users' balances into seperate accounts - for example trading, lending & margin on Poloniex. Funds are required in specific accounts depending on the type of trade being made.

Is it planned to incorporate this in to the unified balan

[2017-11-15 20:23] kroitor commented on #601
Hi, @PolybitSol

See the answers here:

- [How i can fetch Poloniex margin balance and made margin order?](https://github.com/ccxt/ccxt/issues/318) #318
- [is it possible to create "margin sell" order with bitfinex?](https://github.com/ccxt/ccxt/issues/157) #157

[2017-11-15 20:25] kroitor commented on #601
In short, we don't have margin trading on our immediate plans, but we may unify it in future as well. For now you will have to use custom methods (available from ccxt) for margin trading like it is shown in the above examples. Let me know if does answer your question. Thx!

[2017-11-15 20:32] PolybitSol commented on #601
Hey,

Thanks for the quick reply. I am aware the POLO & BFX endpoints have been implemented, I was just inquiring into the output of the unified balance, not so much margin trading. For example, the current output looks something like this:

`BCH: { free: null, used: 0, total: 0.00432805 },`
`BTC: { free: null, used: 0, total: 0.54191671 },`
`BTG: { free: null, used: 0, total: 0.00001671 },`
`DASH

[2017-11-15 20:35] kroitor commented on #601
@PolybitSol oh, I see, we will add support for margin accounts to fetchBalance soon.

[2017-11-15 20:39] PolybitSol commented on #601
That's good to hear @kroitor, thanks again for the quick response, and keep up the great work!

[2017-11-15 21:18] kroitor commented on #564
@janeCMD do you have any follow-up on CEX orders? If it works for you, I'd close this issue. Let us know if you still have difficulties with it. Thx!

[2017-11-15 22:13] arenstar opened #602 "Kuсoin Support - https://www.kucoin.com"
Would like support added for KuCOIN

https://kucoinapidocs.docs.apiary.io

[2017-11-16 07:10] janeCMD commented on #564
Didnt get to it yesterday, just testing now. Issue appears to be still present, behaves same as before. Verbose output is giving me this (Version i double checked, but new version i downloaded still list old version).

Request: Array ( [0] => GET [1] => https://cex.io/api/currency_limits/ [2] => Array ( [User-Agent] => ccxt/1.9.282 (+https://github.com/ccxt-dev/ccxt) PHP/5.5.38-1~dotdeb+7.1 ) [3]

[2017-11-16 07:17] janeCMD commented on #564
Additionally, as you can see from verbose debug info, there is additional call to currency_limits (load_markets). This behavior has been causing me lot of problems and i am still not clear how to resolve. load_markets is called internally almost all the times and is causing me to get DDOs protection errors. I have cache for these kind of calls, but these are internal calls by ccxt. Would it be pos

[2017-11-16 07:23] kroitor commented on #564
@janeCMD

The loadMarkets call is done only once per exchange, if this is not the case, there must be a bug with it somewhere, but the markets are cached by ccxt internally upon your first call to any unified method, like `create_order`. The load_markets will not be called on subsequent calls to `create_order`, only the first one. That info is needed in order to do the conversions. Alternatively,

[2017-11-16 07:29] janeCMD commented on #564
You're right, 'set_markets' is exactly what i was looking for. Thank you for great support

[2017-11-16 07:35] janeCMD commented on #564
Still one note regarding marketOrders. Some exchanges do not support it, but i need to make market orders anyway. Made the function for it, would it make sense to add this kind of logic into ccxt itself ?

[code]

[2017-11-16 07:41] kroitor commented on #564
@janeCMD not really, because it's very usage-specific, for example the estimate * 1.5, and it does not take fees into consideration, it should be much more complicated than that, and it actually depends on many factors not accounted for in the above code, so, I'd say, we would keep that in userland for now, because various users need it working in different ways.

[2017-11-16 08:29] jla415 opened #606 "Transpiling with Webpack/Babel under Node v6"
Hello

I am transpiling ccxt with webpack/babel to run on amazon lambda (node v6.10) and having problems with this code in fetch.js:

// using module.require to prevent Webpack / React Native from trying to include it
const nodeFetch = isNode && module.require ('node-fetch')

which results in the following error when executed:

TypeError: module.require is not a function

I am currently working ar

[2017-11-16 09:13] xpl commented on #606
I think it can be done, if upgrading to Node to 8.9.1 LTS (which is the <a href="https://nodejs.org/en/">current officially recommended Node version</a>) is somehow undesirable for you...

Also, I don't sure if I understand the purpose of Webpack in your setup (seems that you're running it in Node, and not in a browser, right?)... Have you tried [`babel-register`](https://babeljs.io/docs/usage/bab

[2017-11-16 09:47] jla415 commented on #606
Hello,

Unfortunately the latest version of node provided by amazon web services lambda is node v6.10.3 or I would gladly run this project under v8.x

http://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html

In my setup webpack is used to load the typescript loader, the babel loader to transpile any newer language feature packages in node_modules such as ccxt and also keep the

[2017-11-16 09:51] xpl commented on #606
Can you please upload somewhere a minimal project demonstrating the error you experience (with instructions on how to reproduce it)? A GitHub repo would be fine.

[2017-11-16 10:06] jla415 commented on #606
[test.zip](https://github.com/ccxt/ccxt/files/1478120/test.zip)

nvm use v6
npm install
npm run test

[2017-11-16 10:20] jla415 commented on #606
https://github.com/ccxt/ccxt/commit/f3c145b570a12db8e848f79b6e0beaaff24578cf

This change fixes it in my case.  Unsure about your other use cases...

[2017-11-16 11:09] xpl commented on #606
We'll see what can be done, thanks!

Basically, that workaround with `module.require` was needed to prevent Webpack from inlining that module in browsers / React Native builds — without the need to explicitly adding that file to the ignore list in a webpack config, because there are frameworks that don't even allow user to change that config...

[2017-11-16 12:31] nmiculinic opened #608 "Poloniex -- trade history issues"
For startes, when manually using:

[code]

and parsing the results;

[code]

your function parse_order in poloniex fails miserably. I'm not sure is it the same with open orders. Using the ```fetch_closed_orders``` isn't working on Poloniex at all (at least for me with default settings). Can you please provide some example usecase, and setup if market=None to fetch all currencyPairs.

Furthermore:

[2017-11-16 12:38] nmiculinic opened #609 "HitBTC v2 -- ccxt.base.errors.ExchangeError: hitbtc2 does not have market symbol None"
Can you make HitBTC2 on market symbol None to fetch all symbol pairs?

Concrete function is ```fetch_closed_orders```

This is kinda the API request:
[code]

[2017-11-16 12:45] nmiculinic commented on #608
If I'm using default fetch_close_orders it cannot find any order

[2017-11-16 12:46] nmiculinic commented on #608
I see why:
[code]
is lying...It's only fetching OpenOrders

[2017-11-16 12:54] nmiculinic commented on #608
I've looked over unified API
[code]

I propose changing it to:

[code]

(I'm using python3 type hinting, which I cannot recommend more.)

Fetch Order should only accept id. FetchOrders in previous API is unclear what exactly is doing? Replace it with fetchAllOrders to be explicit in fetching both open and closed orders.

Also internally I'm passing order output through https://pypi.python.org/pypi

[2017-11-16 17:33] kroitor commented on #609
@nmiculinic sure! Will look into it and resolve this asap.

[2017-11-16 18:08] kroitor commented on #608
Hi!

The parse_order function should not be used for parsing trades. A trade is not the same as the order. So, to parse trades, you need to call parse_trade.

1. Poloniex does not offer a method for fetching ( closed orders / all orders ) at all. It inly has "open orders" API endpoint.
2. Our users asked us to emulate fetch_closed_orders by using an order_cache, that is invalidated via fetch_open_

[2017-11-16 18:08] #608 closed

[2017-11-16 18:29] jla415 commented on #606
Hello

Just fyi - your browserified output is actually larger with module.require():
-rw-r--r--  1 xd  staff  2951599 Nov 16 10:23 build/ccxt.browser.js

with plain require():
-rw-r--r--  1 xd  staff  2952075 Nov 16 10:23 build/ccxt.browser.js

If saving space was the goal the workaround is a failure...

[2017-11-16 18:31] bendelo opened #611 "Spams the BitMEX API until its IP address gets blocked"
Please add error handling and do not retry bad requests repeatedly until your IP address gets blocked. For reference 1483234740000 is in 8 July 2207 which not a valid startTime:
[code]

[2017-11-16 18:34] jla415 commented on #606
Hello

The size difference is less than 500 bytes.  You could configure browserify to ignore this module I'm sure but is it worth the time and effort for 500 bytes in a 300k file?

with module.require():
-rw-r--r--  1 xd  staff  2951599 Nov 16 10:28 build/ccxt.browser.js

with plain require():
-rw-r--r--  1 xd  staff  2952075 Nov 16 10:31 build/ccxt.browser.js

[2017-11-16 18:38] kroitor commented on #611
@bendelo , sorry?

The error handling should be added by the user. We will add additional handling to those errors.

We don't do those requests repeatedly anywhere. Your code does repeat them without stopping on first error.

I'll take a look into it. Thx for reporting.

[2017-11-16 18:44] kroitor commented on #611
@bendelo can you please paste your code and verbose output according to this: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue
?

[2017-11-16 18:50] jla415 commented on #606
I don't have a react native project to test with but if the problem was related to checking for node-fetch before window.fetch you could simply check for window.fetch first?

https://github.com/ccxt/ccxt/compare/master...jla415:master#diff-5d1c0fcd9de6ef79c4b7cf83f6213ee1

[2017-11-16 18:54] #611 closed

[2017-11-16 19:30] kroitor commented on #611
This issue was fixed in ccxt version 1.10.144. Thank you for reporting and don't forget to update! Cheers!

[2017-11-16 20:18] bendelo commented on #611
Thank you for fixing. I provided the server logs from bitmex.com, I am not the user.

[2017-11-16 20:20] kroitor commented on #611
@bendelo oh, I see. Thx for reporting back on this anyway!

[2017-11-16 21:23] xpl commented on #606
@jla415 nope, the order of checking does not matter in this expression `nodeFetch || windowFetch || xhrFetch`, because the `nodeFetch` variable is `false` in non-Node environments. The problem was caused by the React Native toolchain being unable to compile the project if we `require`d a non-Node module. This was a some time ago, and I do not have a React native setup now, so it will take some tim

[2017-11-17 00:24] kroitor commented on #609
This is fixed in 1.10.148. Also, a few other improvements to HitBTC v2 were added to match their new API. Thx for reporting!

References: #580

[2017-11-17 00:24] #609 closed

[2017-11-17 01:13] #606 closed

[2017-11-17 01:15] kroitor commented on #606
@jla415 thx so much for assistance! Really appreciate it!

[2017-11-17 01:53] kroitor commented on #580
FetchOHLCV has been added to HitBTC v2 in 1.10.150. Thx for the feedback!

[2017-11-17 02:07] kroitor commented on #608
[code]

[2017-11-17 04:26] mkutny opened #614 "allcoin: fee schedule"
This is one of few remained exchanges that still don't have a fee schedule attached to its markets and I have a hard time figuring out what should it be.

What I read on their website is:

Is it really buy/sell instead of maker/taker? Or it's a bad translation?

Did you place orders on it? I remember that you've done a thorough exploration of how different exchanges calculate their fees - was this

[2017-11-17 10:38] kroitor commented on #614
Hi!

We're not trading with allcoin ourselves, it was added due to this request: https://github.com/ccxt/ccxt/issues/317

We did very basic tests of it, but not the fill test. I can't really answer the question. But they also say they're a *"free trading platform"*, whatever it means, so this may actually be the case. I suggest, let's investigate )

[2017-11-17 10:42] MrDiscret opened #615 "GDAX cancel_order exception in PHP"
First of all, thank you for the work you've been putting into this project!

I'm looking/testing the GDAX php functionality and found out that the cancel_order method doesn't seem to be working, or... I'm doing something wrong. Using the GDAX sandbox.

All other methods I tested so far (everything that's above the cancel_order in the gdax.php file) seem to be working fine.

After I successfully cr

[2017-11-17 10:44] mkutny commented on #317
@mazertwo , do you have an experience with allcoin?

If you do, could you tell their fee schedule? I would integrate it into `ccxt`.

From their website I read:

All other exchanges stick to maker/taker model, I've never seen buy/sell approach before and it seems quite strange. Do you know if it's true or it's a translation issue?

Thanks!

[2017-11-17 10:46] mkutny commented on #614
Ok, thanks, just asked in that thread.

[2017-11-17 10:46] #614 closed

[2017-11-17 10:57] kroitor commented on #615
@MrDiscret hi! Thanks for reporting this issue! We will will take a look into it and will get back to you with a fix asap!

[2017-11-17 11:23] nmiculinic opened #616 "Liqui parse trade -- market isn't needed"
Instead of:
[code]

Have:
[code]

[2017-11-17 11:28] kroitor commented on #616
Hi! Thanks for your proposal! We will think on making it shorter. However, we will still need the market info (market instance variable) to parse for trade fees, because with Liqui the fee currency depends on the side of the trade (sell or buy). Therefore the market variable is reserved. Let me know if this explains the need for it.

[2017-11-17 11:32] nmiculinic commented on #616
[code]

it's all in trade variable, I've tested your code and it works with my changes

[2017-11-17 11:32] nmiculinic commented on #616
I mean I tested my modification

[2017-11-17 11:36] kroitor commented on #616
@nmiculinic sure, we will take the symbol from the trade itself then! Will add this edit into one of nearest commits. Thx again for the feedback!

[2017-11-17 12:34] kroitor commented on #467
I would close this for now, until we have further developments on this. Will keep you updated here.

[2017-11-17 12:34] #467 closed

[2017-11-17 15:47] nmiculinic commented on #616
Can you put ```market=None``` in function signature, since it's not needed anymore?

[2017-11-17 15:47] kroitor commented on #616
Sure!

[2017-11-17 15:51] nmiculinic opened #617 "Bitstamp: TypeError: object dict can't be used in 'await' expression"
[code]

It's simple fix; have async fetch_markets() function which is going to return hardcoded dictionary

[2017-11-17 15:56] kvz commented on #567
Was able to fix all the issues here thanks to your help. cctx was not to blame! 🥇

[2017-11-17 15:57] kvz commented on #52
I still get an occasional nonce error. I increased the Nonce window a bit and that helped somewhat (i think) I fully blame Kraken for the flakyness tho.

[2017-11-17 15:59] kvz opened #618 "Bitfinex oddities"
Hi,

When running fetchTickers (no arguments or anything special) I get:

[code]

It also appears that for the ticks I do receive, quoteVolume is missing.

Any ideas?

[2017-11-17 16:03] kroitor commented on #52
@kvz

Lags are well-known, those are on Kraken side. Most users report the same (not only ccxt users, but most of Kraken users).

https://status.kraken.com/

<img width="887" alt="screen shot 2017-11-17 at 19 02 21" src="https://user-images.githubusercontent.com/1294454/32956448-df89009a-cbc9-11e7-86ec-5e64ac8dcc29.png">

[2017-11-17 16:04] kroitor commented on #617
Thanks for reporting this, will fix right away!

[2017-11-17 16:07] kroitor commented on #618
Hi, @kvz !

Thx, will fix it in 5 minutes, hold on!

[2017-11-17 16:08] #618 closed

[2017-11-17 16:09] kvz commented on #618
Thanks @kroitor!

Will this also fix

?

[2017-11-17 16:15] kroitor commented on #618
@kvz

Use `baseVolume` instead of `quoteVolume`,  for tickers, Bitfinex v1 and v2 only report 24h traded volumes in base currency. They return no values for quote currencies and volumes. So you should do rate conversions on your own. We can't workaround it for now, unfortunately, due to the limitations of their API.

[2017-11-17 16:28] nmiculinic opened #619 "Bitfinex: parse_trade bug"
This is example bitfinex trade:
[code]

This issue in parse_trade function as assuming some things are floats, and not strings:

Instead of:
[code]

have:
[code]

Because you get ugly bug:
[code]

[2017-11-17 16:30] nmiculinic commented on #619
Also this change should handle None type, which is missing for no good reason

[2017-11-17 16:36] nmiculinic commented on #619
Also side should be lowercase as per unified documentation

[2017-11-17 16:47] #619 closed

[2017-11-17 16:49] nmiculinic commented on #619
Don't have parseInt, since it's a float with .0 at the end.

[2017-11-17 16:52] #617 closed

[2017-11-17 16:53] kroitor commented on #619
@nmiculinic it converts to int in JS, same as int(...) in Python.

[2017-11-17 17:05] nmiculinic commented on #619
ValueError: invalid literal for int() with base 10: '1222.1'

I know....but the timestamps is float as a string, that's why it's going to fail

[2017-11-17 17:08] kroitor commented on #619
Ah... forgot about Python. Somehow, I thought it does work, sorry.

[2017-11-17 17:10] nmiculinic commented on #619
Everything works in JS. https://www.youtube.com/watch?v=et8xNAc2ic8  have fun :)

[2017-11-17 17:27] janeCMD commented on #564
Just want to get back to OHLC. The problem is, this call in ccxt returns OHLC data from day before. Best alternative to current OHLC on CEX is this api: https://cex.io/api/price_stats/BTC/USD. This call allows to get start/close, maybe also approximate high/low closely to real values if enough precision is used. So... you should probably set CEX to not offer OHLC, or get OHLC method i described, o

[2017-11-17 17:28] kroitor commented on #619
@nmiculinic

Btw, https://github.com/brianleroux doesn't expose any significant code (as far as I see)... He has a lot of dummy projects, one-liner utils and very basic examples. That corresponds exactly to what he is talking about, and I guess, because of that, he is very good in writing small snippets or editing other small snippets. It may be easy to find ugliness in other peoples' code. He may

[2017-11-17 17:32] kroitor commented on #564
@janeCMD I will look into it, a simple time conversion may be missing somewhere. Will let you know about my findings.

[2017-11-17 17:35] MrDiscret commented on #615
I have selected all permissions (view, trade, manage, transfer, bypass-2fa) when generating the API key.
Also tried a new API key but that didn't solve the problem.

Just thought it was worth mentioning...

[2017-11-17 17:36] kroitor commented on #615
@MrDiscret thank you for the feedback, it can really make a difference sometimes, indeed. I'm fixing this, will be there soon and will let you know, of course.

[2017-11-17 17:49] MrDiscret commented on #615
@kroitor I hope my comments will not be confused with trying to be pushy :)
Just providing some information that may rule out some possibilities...

So I just tried the same time using the live (real) GDAX API but the result was the same.

[2017-11-17 17:52] kroitor commented on #615
@MrDiscret I totally understand, the more comments – the better, feel free to add whatever you think is important or worth noting. I really appreciate your help and your detailed reporting, it does make the job a little easier for me. This is a generic error with GDAX cancel_order in PHP and it will behave the same within their sandbox and live. I'll fix this, hold on, please )

[2017-11-17 18:11] nmiculinic commented on #619
Interesting, I never thought of that. Since I'm mostly removed from front-end/JS ecosystem I'm not familiar with who's who.

True, writing big stable code base is hard, many things can go wrong when you're reaching enough complexity scale --> programming language design included. Lately, I've been adding type hinting in all my code and making classes (fancy C plain-old-data structs) instead of dic

[2017-11-17 20:43] christiandbf opened #620 "Filter methods on tickers objects"
This is a proposal to add this method to the object received using:

[code]

So by that way you can make things like this:

[code]

It could be a custom method, similar to the Array.filter method on JavaScript.

[2017-11-17 20:49] kroitor commented on #620
Hi!

Sorry, but we don't think this should be in the library. Note the library is in three languages, not just JS, so we can't add methods anywhere as we want, each change is syntactically critical for 3 languages, whereas your proposal only accounts for one single language of JavaScript. The other concern on this is that we mostly want to return flat JSON types. Yet still you can always do that i

[2017-11-17 20:49] #620 closed

[2017-11-17 21:39] hunsnowboarder opened #621 "Cant find ZB exchange, however it is in the manual"
I cant seem to find ZB exchange.

`print ccxt.exchanges`

Result:
['_1broker', '_1btcxe', 'acx', 'allcoin', 'anxpro', 'binance', 'bit2c', 'bitbay', 'bitcoincoid', 'bitfinex', 'bitfinex2', 'bitflyer', 'bithumb', 'bitlish', 'bitmarket', 'bitmex', 'bitso', 'bitstamp', 'bitstamp1', 'bittrex', 'bl3p', 'bleutrade', 'btcbox', 'btcchina', 'btcexchange', 'btcmarkets', 'btctradeua', 'btcturk', 'btcx', 'bter

[2017-11-17 21:41] kroitor commented on #621
@hunsnowboarder which version of ccxt?

[2017-11-17 21:55] #621 closed

[2017-11-17 22:00] hunsnowboarder commented on #621
You were right! :) Thank you very much!

[2017-11-17 22:57] hunsnowboarder opened #622 "ZB exchange fee error"
First of all, of course, as always thanks so much for putting a lot of effort into this exceptional, tremendously helping tool! Thank you so much!

Issue:
When I try to call the calculatefee in case of ZB I get a keyerror: 'taker'

Code:
[code]

Error:
--> 857             'quote': self.markets[symbol][fee],
KeyError: 'taker'

Also when I call zb.fees I get empty dictinaries.
Thank you!

[2017-11-17 23:54] Fcl69 opened #623 "fetchMyTrades() alternative"
It looks like fetchMyTrades() is not a universal tool since quite a few of mine exchanges returns "fetch_my_trades() not implemented yet". I got it working for poloniex only.  Is there an alternative way to get my most recent trades and/or open&closed orders?

Sub-question:

What does "limit" mean here? Seems like it has no effect at all for me.

[2017-11-18 06:09] mkutny opened #625 "'master' has been diverged"
Hi, git noticed that we diverged after 1.10.148 and I'm unable to merge.

30+ commits are missing from upstream.

Is it known and I should just reset or it's something unexpected?

[2017-11-18 08:20] xgdgsc opened #626 "bitmex fetch_ticker 'last' returns None"
Now `exchange.fetch_ticker('XBTZ17')` would return:
[code]

last field is None, is there a way to make it show last trade price?

[2017-11-18 10:34] xpl commented on #623
CCXT is still under active development and some methods for some exchanges may not have been implemented yet on our side... Regarding the `limit`, it limits the output to last N trades. Unfortunately, not all exchanges implement it.

[2017-11-18 10:43] xpl commented on #625
We had to revert some commits yesterday, while trying to figure out a mysterious issue with GitHub showing a wrong username under commits made by our Travis CI deploy script.

It turned out it was not related to our recent changes at all, and was a GitHub issue actually (someone managed to link travis@travis-ci.org email with their GitHub account...). Since then, it has been resolved successfully.

[2017-11-18 11:28] mkutny commented on #625
I noticed that too. Actually, I thought that you've got a new team member )

Ok, clear now, will reset.

[2017-11-18 11:28] #625 closed

[2017-11-18 13:46] aking7 opened #628 "fetchMyTrades not working in Kraken"
This was working fine before but has stopped after pulling some new commits.
[code]

[2017-11-18 13:55] aking7 commented on #628
v1.10.157 seems to be the broken release

[2017-11-18 15:45] kroitor commented on #626
Hi! You can see BitMEX's own response, this section in your copied output:
[code]

That is a reply from BitMEX as is, non-edited. So, from it, you can see, that they only return lastSize, and do not return the lastPrice. Therefore I don't see a way to get the last traded price into a BitMEX ticker, unless you fetchTrades yourself and take the last price from there. Does this answer your question?

[2017-11-18 15:51] kroitor commented on #623
@Fcl69 as you may know, the private order API is not completely unified yet, therefore we don't have all fetchMyTrades implemented yet, that is currently available with several exchanges that expose `.hasFetchMyTrades = true`.

Until then you will need to use their custom methods for fetching the trade history, most of exchanges have that in their API, so you can call those methods just like you d

[2017-11-18 15:51] #623 closed

[2017-11-18 16:17] #628 closed

[2017-11-18 16:30] kroitor commented on #622
The calculate_fee is currently in experimental state, therefore we didn't document it just yet. The ZB exchange was added a few days ago, some things may still be missing here and there, but we will implement those as well. Please, standby for more updates on this. Thx for reporting!

[2017-11-18 18:25] #622 closed

[2017-11-18 18:26] kroitor commented on #628
This is now fixed in current version, don't forget to update and thanks for reporting!

[2017-11-18 18:27] kroitor commented on #626
If `close` == `last` for BitMEX we can set last = close. Would it solve the issue, what do you think?

[2017-11-18 20:12] #615 closed

[2017-11-18 20:13] kroitor commented on #622
This issue is fixed in current up to date version of ccxt. Cheers!

[2017-11-18 20:45] kroitor commented on #615
This issue was fixed in version 1.10.170 of ccxt. Don't forget to update. We will be happy, if you report whether it works for you or not, tested it locally on our side and it worked. Thx for the feedback! Cheers!

[2017-11-19 06:08] xgdgsc commented on #626
Maybe keep the current behavior to let users know the issue would be better.

[2017-11-19 06:11] kroitor commented on #626
Ok, thx anyway for the feedback!

[2017-11-19 06:11] #626 closed

[2017-11-19 06:36] xgdgsc commented on #379
Has the since API changed? `bar_list=bitmex.fetch_ohlcv('XBTZ17', '1m', since='2017-11-08 00:01:44')` works in version `'1.9.39'` but not in version `'1.10.171'`

[2017-11-19 06:43] kroitor commented on #379
@xgdgsc it accepts an integer number of milliseconds for consistency across the majority of exchanges, so you can call it like so:

[code]

[2017-11-19 07:05] xgdgsc commented on #379
OK.

[2017-11-19 09:27] jdimstrnate opened #629 "JSON format"
Any query I make to any exchange does not return in JSON., return is wrapped around screen instead.
The manual describes JSON being returned untouched.  Shouldnt the information be presented in a cleaner way as it is shown in the manual?

Returned JSON Objects
All public and private API methods return raw decoded JSON objects in response from the exchanges, as is, **untouched**. The unified API re

[2017-11-19 09:37] hunsnowboarder opened #630 "Bittrex authentication: invalid signature"
As always, thank you so much for this incredible tool and all your efforts put into this!

I am having problems authenticating.

I try:

[code]
But I get an "INVALID_SIGNATURE" error.

When I try using another tool:

[code]
This works without any problems, returning my balances.

Thank you again for your help and support!

[2017-11-19 10:18] sunnybear opened #631 "ccxt/hitbtc2.php - no semicolon on line 493"
Добавь точку с запятой на строке 493 в файле ccxt/hitbtc2.php

[2017-11-19 13:48] kvz commented on #618
:+1:

[2017-11-19 17:25] #631 closed

[2017-11-19 17:46] kroitor commented on #629
That's how Python prints JSON in the terminal.

Exactly, public and private APIs return JSON untouched (the `info` substructure), whereas unified APIs also parse it and add additional fields. CCXT does not do any screen "wrapping" your terminal and Python does. The examples in the manual are preformatted by hand for readability, whereas in code those structures are returned as is.

CCXT does not p

[2017-11-19 17:46] #629 closed

[2017-11-19 17:52] kroitor commented on #630
Hi! Can you please post verbose output?

https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2017-11-19 17:59] kroitor commented on #630
1. Can you try a new keypair? If it works, if means that the "other" software has screwed nonce numbers. Nonce numbers are in seconds by default. You can either use the new keypair, or override the nonce to use milliseconds, if you use the keys with the "other" software that computes nonce values differently.

2. With the same old keypair try:

[code]

Does this help?

[2017-11-19 18:05] kroitor commented on #631
It was a typo that was fixed right away before this issue was opened.

[2017-11-19 18:08] kroitor commented on #630
My advice: **NEVER** use the same keypair with different software.

[2017-11-19 18:16] kroitor commented on #630
Let us know if the above answer doesn't solve the issue for you. Thx!

[2017-11-19 18:16] #630 closed

[2017-11-19 20:12] kroitor commented on #601
We added support for margin accounts to Bitfinex and Poloniex:

[code]

The extra param names are not unified yet, we are still working on a proper naming schema for them, but you can fetch margin, lending and exchange balances for Bitfinex and Poloniex like shown above as of version 1.10.174. Let us know here if you find other exchanges supporting the same functionality. I'm closing this in the m

[2017-11-19 20:12] #601 closed

[2017-11-19 21:35] kroitor commented on #541
Ok, now every exchange has the following property:

[code]

It will throw an AuthenticationError if you try to access their authenticated API while missing any of `true` values on the exchange instance. Some other keys may be added in future as well. The above functionality is available in ccxt as of version 1.10.175. Let us know if you have any difficulties with it.

Thanks again for the feedback

[2017-11-19 21:35] #541 closed

[2017-11-20 04:57] kiwina opened #633 "Convert PHP to PSR-4 (autoload in Composer)"
Hi it be nice to have something more usable on the php side to use with common package managers.
Been fiddling around and its actually easy just wander if you generate the Exchange file as well or is it static?
Else i have the transpiler edited for psr-4, i guess all the docs would have to be updated

[2017-11-20 05:06] kroitor commented on #633
For PHP we have a Packagist integration: https://packagist.org/packages/ccxt/ccxt

The `static $exchanges` member (a list of exchanges' ids) is generated, everything else is static.

Would be awesome if you could propose a PR or a way for ccxt to transition to psr-4 seamlessly. We  just have to be careful not to break anything, our current build process is very fine-tuned. More about it here: http

[2017-11-20 05:55] kiwina commented on #633
Well to make it auto-load in composer and obey to standards a few things have to change.
with the start that it should all files should be with the first letter uppercased.
Not sure you want to venture there?

[2017-11-20 06:04] kroitor commented on #633
I think, yes, we do want to be autoloadable in Composer, so we are going to do that anyway. The only obstacle is that we are under very active development, as you may know, and we currently have a lack of time... We mostly focus on support and bugfixes, while also implementing the remaining (missing) functionality. Our topmost priorities are unit-test coverage and switching to arbitrary precision

[2017-11-20 06:09] kiwina commented on #633
not really its pretty straight forward i think
so far what i do
`
   function ucFirst(str) {
		return str.charAt(0).toUpperCase() + str.slice(1)
	}
    function createPHPClass (className, baseClass, body, methods) {

        const baseFolder = 'use Ccxt\\'
        const baseFile =  baseFolder + baseClass
		className = ucFirst(className)
        const header = [
            "<?php\n",
            "

[2017-11-20 06:19] kroitor commented on #633
Everything is clear except this last one is, which calls do you mean and how should we change them?

[2017-11-20 06:35] kiwina commented on #633
Everything like this
`
 $exception = '\\Ccxt\\' . $exception_type;
`

[2017-11-20 06:37] kiwina commented on #633
Actually few more things can be improved on the Exchange file.
Let me work on it today as i use it and i'm dooing it anyways test it and i'll upload it.

[2017-11-20 06:39] kroitor commented on #633
BTW, are you sure we really need to capitalize classnames? We would rather keep the ids and classnames consistent (lowercase) in all languages, unless we have absolutely no other way of solving it...

<img width="826" alt="screen shot 2017-11-20 at 09 38 00" src="https://user-images.githubusercontent.com/1294454/33005372-92b55426-cdd6-11e7-9733-509592793717.png">

https://stackoverflow.com/a/20276

[2017-11-20 06:50] kiwina commented on #633
well we don't have to but it is pretty much the standard

[2017-11-20 06:54] kroitor commented on #633
@kiwina ok, and which changes do you think we should introduce to become autoloadable yet still retain lowercase ids+classnames?

[2017-11-20 07:11] kiwina commented on #633
is it ok to reorganize a little bit the errors?

[2017-11-20 07:16] kroitor commented on #633
@kiwina I guess so, depends on what you mean under "a little bit" ) I'd suggest, go for it, and we will carry on from there. Our goal is to remain consistent in naming and overall structure of the library across all languages. If you don't really expect impossible difficulties, why not.

[2017-11-20 15:45] keepthefaya opened #635 "Kraken nodeJs API Call"
I got this : (node:23962) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: kraken does not have market symbol XBTEUR

Market Symbol is valide, any idea?

[2017-11-20 15:46] kroitor commented on #635
https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[2017-11-20 15:46] #635 closed

[2017-11-20 15:47] kroitor commented on #635
[code]

[2017-11-20 15:56] kroitor commented on #635
You used a market id instead of symbol. Moreover, you also used a wrong market id... The proper id you **should not be using** for that market is `XXBTZEUR` (for Kraken). You should not use ids, because those are exchange-specific. The symbol you **should use** is `BTC/EUR`. You should use symbols, because those are compatible across exchanges. All of that is described in the [Manual](https://gith

[2017-11-20 20:36] leogariba opened #636 "Incorrect "Side" parameter in Foxbit (Blinktrade)"
The API is setting this order parameter Side = "Buy"

The correct value for a buy order is Side = "1"
The correct value for a sell order is Side = "2"

Nice work btw!

[2017-11-20 21:32] flesler opened #637 "Emulate OHLCV with transactions"
In some exchanges, at least Bitstamp, you could request the last day of transactions and generate the OHLCV from it, it's not ideal but could allow many exchanges to have support for fetchOHLCV when they don't.

[2017-11-20 21:47] kroitor commented on #637
Hi! Thanks for the hint and or the feedback! We will add fetchOHLCV for Bitstamp. BTW, we will be happy if you submit a PR on this, your contributions are welcome!

[2017-11-20 21:53] flesler commented on #637
When you say you will add it, you mean if I provide a PR or in some other way?

I could make a PR, thing is I can do it easily with Node.js, but your source for all is Python or PHP no?

[2017-11-20 21:54] kroitor commented on #636
Hi! Can you please post your code and verbose output? You didn't even say which endpoint you're using. If you mean the output of fetchTrades – for the `side` received from the Unified API the correct values are "buy" or "sell".

https://github.com/ccxt/ccxt/wiki/Manual#returned-json-objects
https://github.com/ccxt/ccxt/wiki/Manual#trades-orders-executions-transactions
https://github.com/ccxt/ccxt/

[2017-11-20 21:54] #636 closed

[2017-11-20 21:59] kroitor commented on #637
@flesler

I mean, we will add it anyway. We will implement it ourselves hopefully soon if you don't submit a PR before that. Yet we will be happy if you do submit a contribution. If we knew that you are working on implementing the fetchOHLCV for Bitstamp, we would then focus our attention on other aspects of the library to distribute the workload, of course.

The master language is JS, we convert

[2017-11-20 22:58] leogariba opened #638 "Foxbit - CreateLimitBuyOrder - Incorrect Side tag"
Hi, Kroitor, sorry for my previous (and incomplete) post.

In this moment I'm trying to use the foxbit instance. When I try to create a **limit buy order** I get an Status Error 500 as described below:

Code snippet:
 console.log (foxbit.id, await foxbit.createLimitBuyOrder ('BTC/BRL', 100000000, 1000000000000));

Error:
"(node:11672) UnhandledPromiseRejectionWarning: Unhandled promise rejection (

[2017-11-20 23:04] kroitor commented on #638
Hi! Thanks for the description, we will fix it shortly. Please don't duplicate issues, only open one issue per problem. You can open a previously closed issue if you think it wasn't resolved. But for now, let's continue here. I'll update you as soon as this is fixed. Thx!

[2017-11-21 01:35] #638 closed

[2017-11-21 01:51] kroitor commented on #638
This is fixed in ccxt 1.10.179+. Don't forget to update to most current version, because we are constantly uploading multiple fixes and improvements. We will be happy if you report back if it now works normally for you or not. Let us know if you have any difficulties or questions. Thx!

P.S. Aside of the issue, a short hint for the future: when you paste code or console output, make it readable. D

[2017-11-21 02:11] leogariba commented on #638
Thank you Kroitor! Sorry for the duplicate issue and unformatted code. Still learning the "github way". Just forked the repo to evaluate if I am capable to help you. I am from Brazil and there are others exchanges to work on.
And hell yeah! That's much better and easier to read! ;)

[2017-11-21 09:08] tandazhi opened #639 "fetchOrders error for okex"
`import ccxt
p=ccxt.okex()
p.apiKey='api_key'
p.secret='sec_token'
p.fetchOrders('LTC/BTC',{'status':'open'})
`
fetchOrders raised below errors, did I call the fetchOrders function not correctly?

[2017-11-21 09:40] kroitor commented on #639
Not really... The correct signature is:

[code]

So, you should call it like this:

[code]

Let us know if doesn't work for you, plz.

[2017-11-21 10:16] tandazhi commented on #639
yeah, it works now. Thanks very much, Kroitor.

[2017-11-21 10:16] #639 closed

[2017-11-21 10:18] kroitor commented on #639
@tandazhi I forgot to mention, it was changed here: https://github.com/ccxt/ccxt/issues/470

[2017-11-21 10:57] Tunafleur opened #640 "Get Min and Max Order size for each Symbol Pair on each exchange"
Is there a unified method for example getting the minimum order size for a pair like ETH/BTC on each exchange?
I have seen on some exchanges there is information stated when calling fetch_markets() but would be nice to have this unified since some exchanges have this information in it and some not, but the names also vary a lot.

Thanks guys!

[2017-11-21 11:49] kroitor commented on #640
There is no method such method because order size limits and precision are saved in the market structure, like so (just an example demonstrating how we are going to unify that metainfo):

[code]

Many of those fields are not documented yet, because this is a work in progress. Some of them may be missing here and there. Let us know if you find those. We are adding improvements regularly.

Apart fro

[2017-11-21 12:26] kroitor commented on #640
https://github.com/ccxt/ccxt/wiki/Manual#markets

[2017-11-21 12:31] nmiculinic opened #641 "Since argument should accept datetime in python"
Many python functions have since argument. They should accept datetime object. If you want to support both, I recommend using the arrow library.

For example:
[code]
will get you UNIX timestamp in seconds, whether   since is arrow.Arrow, datetime or int timestamp
or
[code]
will get you properly formatted string.

Right now, I think you're using milliseconds UNIX timestamp? Not sure, I see a lot of

[2017-11-21 12:37] Mitrovic commented on #361
Hi,
I was updated to the latest version 1.10.181 and have same error.

[2017-11-21 12:47] kroitor commented on #641
Thanks for the proposal! We will consider this, this will require wrapping all time-related procedures with something portable, but it doesn't look very hard, apart from the editing routine.

For method arguments we use milliseconds, that's right.

[2017-11-21 12:55] nmiculinic commented on #641
Decorator perhaps?

[2017-11-21 13:09] Mitrovic commented on #361
In the version 1.10.182 is same error:
 "message": "Declaration of ccxt\\kuna::fetch_my_trades($symbol) should be compatible with ccxt\\Exchange::fetch_my_trades($symbol = NULL, $since = NULL, $limit = NULL, $params = Array)",

[2017-11-21 14:11] Mitrovic commented on #361
still the same
"exception": "ErrorException: Declaration of ccxt\\kuna::fetch_my_trades($symbol, $since = NULL, $limit = NULL, $params = Array) should be compatible with ccxt\\Exchange::fetch_my_trades($symbol = NULL, $since = NULL, $limit = NULL, $params = Array) in ccxt/php/kuna.php:0\nStack trace:\n#0 /ccxt/ccxt.php(100):

[2017-11-21 14:26] kroitor commented on #361
@Mitrovic sorry, for the inconvenience, I should've checked it myself, this new one coming up should clear it.

[2017-11-21 14:28] kroitor commented on #641
@nmiculinic, yep, most likely.

[2017-11-21 14:52] kornrunner commented on #361
PHP version as well needs default `= NULL` for `$symbol` param

[2017-11-21 15:15] Mitrovic commented on #361
Thank's @kornrunner

[2017-11-21 15:16] MeetM opened #642 "Allow custom timeframe/granularity values"
Some exchanges, like GDAX, do support custom duration based granularity, like 7 seconds or 3 minutes for OHLC. I can send a PR to enable that

[2017-11-21 15:28] kroitor commented on #642
Thanks, @MeetM ! If you want to give it a try, go for it, just make sure to read this first: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md. We welcome all contributions.

[2017-11-21 15:30] kroitor commented on #641
@frosty00, personally, I would agree, timestamps most often are enough, yet, the border between userland code and library code is always somewhat blurred. Some users might want that just for convenience (shorthand syntax).

[2017-11-21 15:46] kroitor commented on #361
@kornrunner that change gets propagated by the transpiler from JS to PHP, that method signature is now correct, at last. Thx!

[2017-11-21 16:31] nmiculinic commented on #641
Yes, it's trivial. It's also undocumented what does the function accept (at least I couldn't find documentation easily...I figured looking the code is good enough).

From a type perspective is explicit --> Datetime is surely a datetime object, not an int posing as unix timestamp in milliseconds (which isn't standard timestamp in python, it's float in seconds). So now the user has to remember exact

[2017-11-21 16:35] kroitor commented on #641
https://stackoverflow.com/questions/11875770/how-to-overcome-datetime-datetime-not-json-serializable

[2017-11-22 00:00] PolybitSol opened #643 "fetchTickers() Percent Change"
Hey,

~~I just noticed some irregularities with the unified fetchTickers() method for Poloniex and Bitfiniex, and the percent change field. It is labeled as `change` for Poloniex and `percentage` for Bitfinex.~~

Edit: Made a mistake here, `change` is in both; though it is labelled in the wiki as percent change, however under Bitfinex `percent` is valid, but different to `change` - any clarificati

[2017-11-22 01:45] kroitor commented on #643
Hi, @PolybitSol !

Those two fields are not completely unified yet, but, in general, the `change` should reflect the  delta, and the percentage is there for convenience to show ratio as well. We will fix these fields for Bitfinex and Poloniex. Let us know if you find any other inconsistencies, please. In the meantime, I would close this issue if you don't mind, will update you on progress. Thx for

[2017-11-22 01:45] #643 closed

[2017-11-22 05:59] anandanand84 opened #644 "GDAX cancel orders broken (Invalid Signature)"
Not sure starting which version it is broken, Cancel order with 1.10.186 return error "Invalid signature" while it works fine in 1.10.15

[2017-11-22 06:05] kroitor commented on #644
A few changes to it were recently added here: https://github.com/ccxt/ccxt/issues/615. This is most likely related... Can you confirm that it's a keypair you're not using with any other software?

[2017-11-22 12:04] nmiculinic opened #645 "Poloniex fee calculation issue"
Per manual:
[code]

while poloniex returns "cost" as multiplicative, not as absolute, for example:
[code]

Could you please fix this discrepancy? I see all costs are too exact --> 0.0015/0.0025

[2017-11-22 12:12] anandanand84 commented on #644
@kroitor  yes I am using javascript and the issue is not with key pairs.

[2017-11-22 13:01] janeCMD opened #646 "Bittrex - BCH not included in balances"
BCH shows always zeros on Bittrex, its likely because Bittrex uses 'BCC' code for BCH. Creating orders works with BCH symbol, but fetching balance doesn't.

[2017-11-22 13:55] MrDiscret commented on #615
I've been off for the last few days thus my late reply.

The cancel_order function **now works** with the live GDAX API.

I first tried to use the gdax sandbox several times and it did not work (Fatal error:  Uncaught exception 'ccxt\RequestTimeout' with message 'gdax DELETE https://api-public.sandbox.gdax.com/orders/97326cf6-f3a4-4f00-b16d-a18ca124d45a 28 Operation timed out after 10000 milliseco

[2017-11-22 17:24] jgordor opened #647 "Question: Deduct exchange currency id from symbol"
Hi,

I need from a normalized currency (from symbol), get the exchange currency Id (to be able to understand some exchanges responses, example (bitstamp):

Market-sell fetchOrder response (ETH/BTC symbol):

[code]

ccxt provided info (mapped pairs/symbols):
[code]

From the symbol base/quote I can't deduct the real base/quote name used on the exchange side (some does not have "/" separator, someti

[2017-11-22 17:37] andersea opened #648 "Python: BitMEX url encoding produces json objects with single quoted strings, which is not valid JSON"
The BitMEX api expects the [filter parameter](https://www.bitmex.com/app/restAPI#Filtering) to a json object, however in the python implementation, if you supply a dict or and object to the filter parameter, like this:

[code]

Then the sign method of the BitMEX class will use urllib.parse.urlencode to convert the dict to url, where all strings are single quoted.

[code]

This is not valid JSON, s

[2017-11-22 17:51] #644 closed

[2017-11-22 17:58] andersea commented on #648
It is possible to work around the issue by using `json.dumps()` like this:
[code]

[2017-11-22 18:10] kroitor commented on #645
Can you please elaborate on this, namely, which pair it is, which values you expect to see and what you get instead, also, order sizes and prices?

[2017-11-22 18:47] kroitor commented on #647
@jgordor do you need currency id or market id?

[2017-11-22 18:56] kroitor commented on #648
@andersea thx for the info, but... do you have a problem with a specific unified API method?

[2017-11-22 18:58] #648 closed

[2017-11-22 19:03] kroitor commented on #646
@janeCMD how do you access the BCH amount in the returned balance structure?

[2017-11-22 19:14] andersea commented on #648
It just caught me off guard probably. I guess this api works ok, as long as you know what you are doing.

[2017-11-22 19:19] kroitor commented on #648
@andersea ok, feel free to ask if you have any other difficulties or questions. Thx!

[2017-11-22 19:23] jgordor commented on #647
@kroitor the currency id

[2017-11-22 19:25] kroitor commented on #647
@jgordor currently, you will have to hardcode those, because separate currencies are not completely unified yet. We're working on this, see here:
- https://github.com/ccxt/ccxt/pull/553
- https://github.com/ccxt/ccxt/pull/473

We will update you on the progress, in the meantime, I'd close this issue if you don't mind. Feel free to reopen it if necessary or ask questions, if you have any. We hope t

[2017-11-22 19:25] #647 closed

[2017-11-22 19:26] dexter369 opened #649 "Livecoin fetch_balance() bug"
https://github.com/ccxt/ccxt/blob/master/php/livecoin.php

Line 96 :
for ($b = 0; $b < count ($this->currencies); $b++) {

Should be :
for ($b = 0; $b < count ($balances); $b++) {

Otherwise it misses balances of some currencies.

[2017-11-22 19:27] #649 closed

[2017-11-22 19:31] jgordor commented on #647
Thanks!!

[2017-11-22 19:35] janeCMD commented on #646
I checked the api response, bch shows 0 in all arrays - total, available,pending and [bch]. Only [info] contains information about bch balance under key [BCC]

[2017-11-22 19:43] kroitor commented on #646
@janeCMD got it, thx, will fix it shortly.

[2017-11-22 20:08] kroitor commented on #646
Does this work for you?

[code]

[2017-11-22 20:11] kroitor commented on #649
This is fixed in 1.10.192. Thx for reporting!

[2017-11-22 20:11] kroitor commented on #644
This should be fixed as of 1.10.192. Let us know if you still have difficulties with it.

[2017-11-22 22:00] kroitor commented on #633
@kiwina, so, what shall we do about it? We'd prefer to keep lowercase names if possible, as long as it doesn't go against the standard. Let us know if you are going to contribute to this or we should fix it on our own in order to make it autoloadable. Thx!

[2017-11-23 05:03] kroitor commented on #646
Let us know if it works for you or not, please. I'm closing this for now, feel free to reopen it if necessary or ask questions. Thanks!

[2017-11-23 05:03] #646 closed

[2017-11-23 07:41] xgdgsc opened #650 "query position question"
Is there a unified API for querying position by symbol? Or do I have to use `private_get_position`?

[2017-11-23 07:47] kroitor commented on #650
Hi! Currently, margin / leveraged / position trading is not unified, but the work on this has been started, more on that here: https://github.com/ccxt/ccxt/search?q=position+margin+trading. Does this answer your question?

[2017-11-23 07:49] kroitor commented on #640
I would close this for now, we are in the process of unifying currencies as well as markets and symbols, feel free to continue here if you still have any questions on this. Thx!

[2017-11-23 07:49] #640 closed

[2017-11-23 08:01] xgdgsc commented on #650
OK. Thanks.

[2017-11-23 08:01] #650 closed

[2017-11-23 12:31] nmiculinic opened #655 "GDAX fee data is missing in trades"
[code]

GDAX has this data available in the reply, but fee field is None. Could you please use it in returning fees info?

[2017-11-23 12:32] kroitor commented on #655
@nmiculinic sure! It would be awesome if you could submit a PR as well, we will be happy for all contributions! Thx!

[2017-11-23 12:33] nmiculinic commented on #645
Here is the data (after minor processing):
[code]

[2017-11-23 12:33] nmiculinic commented on #645
It affects all symbols that I'm aware off

[2017-11-23 12:41] nmiculinic commented on #655
I guess this entails changing js files?

Is there a guide how to build (transpile) your lib and everything that's needed for that?

[2017-11-23 12:49] #645 closed

[2017-11-23 12:55] kroitor commented on #655
If you compare the JS code to the Python code (where fee aspects are implemented), you will immediately notice, that it is a line-to-line mapping, so it's very straightforward, just copy the code  from some other place where the same functionality is already present and it will most likely run and transpile to other languages smoothly.

More on how to submit contributions: https://github.com/ccxt/

[2017-11-23 12:56] irazasyed commented on #633
Good discussion!

Can you also maybe consider splitting the repo into multiple repos for each language or at least PHP? I just tried to install using composer and the installation was very slow and I noticed it's because of too many files. It has become quite heavy and probably loading all files that are not needed.

I think a few changes to the build process will help fix this issue by automatica

[2017-11-23 13:00] kroitor commented on #633
Thanks for the suggestion, @irazasyed! We will consider it carefully, currently it's more convenient to have everything in one place, we will optimize and speed up the installation procedure, will skip unnecessary files all that, if that does not help we may split it as well.

[2017-11-23 13:01] kroitor commented on #645
This is now fixed in version 1.10.196, thank you for reporting!

[2017-11-23 13:09] kroitor commented on #633
@irazasyed, more on your post: here's a [PHP7-only-clone of CCXT on Packagist](https://packagist.org/packages/kornrunner/ccxt), everything else except PHP7-version was stripped out by @kornrunner. We're not affiliated, however, so, we are not responsible for updating that branch. Check it out and see if installation time meets your expectations ;)

[2017-11-23 16:00] PolybitSol opened #659 "Bitfinex2 Missing Position Method"
Hey,

Bitfinex2 is missing the API method to retrieve active positions. Ref doc can be [found here](https://docs.bitfinex.com/v2/reference#rest-auth-positions). Method name would be of the format `privatePostAuthRPositions`.

[2017-11-23 16:45] Yoyae opened #660 "Cryptopia createOrder "bad OrderId" error"
When creating an order that is immediatly filled, cryptopia API doesn't return the OrderId field which raise the following error :
Error: cryptopia createOrder returned bad OrderId: {"Success":true,"Error":null,"Data":{"OrderId":null,"FilledOrders":[xxxxxx]}.

Note that xxxxx is the order that have been filled.

[2017-11-23 18:04] irazasyed commented on #633
@kroitor Sounds good. I'll check the other project and also keep an eye on this if it gets updated, thanks 👍

[2017-11-23 18:12] irazasyed commented on #633
@kroitor FYI, I just tested @kornrunner's repo and it installed quickly + works without errors that I had come across before (noticed his last commit fixes the issue, so that's good). I'm on 7.1-7.2rc. So it's good. Thanks!

[2017-11-23 21:39] andersea opened #661 "BitMEX private_get_position incorrect signature in Python/asyncio"
Hi. I am seeing something a bit odd. The async version of the exchange specific api call `private_get_position` fails with this error:
[code]
The sync version works.

Here is some test code:

[code]
This code expects a config.py with bitmex testnet api keys:
[code]
Also there should probably be an open BTXUSD position on the account to fetch.

Environment:

* Python 3.6.3 (default, Oct  3 2017, 21

[2017-11-23 23:43] kroitor commented on #660
Thx for reporting! Will fix this soon.

[2017-11-23 23:58] #659 closed

[2017-11-24 00:19] #655 closed

[2017-11-24 00:20] kroitor commented on #633
@irazasyed thanks for reporting! Cheers!

[2017-11-24 00:26] kroitor commented on #661
@andersea thanks for this comprehensive report! I will look into it and will fix it asap.

[2017-11-24 00:29] kroitor commented on #661
@andersea

Does this work

[code]

?

If it does work without the sync call, then it indicates that you are running into a nonce conflict, when you try to fetch a private call with a sync API, then with async API immediately after that.

More on this: https://github.com/ccxt/ccxt/issues/147

[2017-11-24 02:16] Avalonalan opened #662 "How to use ccxt with composer's autoload.php ??"
Hi, I am trying to use ccxt with my php work. After using composer to require ccxt, I have tried several times to use ccxt with autoload.php but I still cannot figure out how to import new object without including ccxt.php. Some codes like below ( p.s. my php version is 5.6.31  ) :

[code]

The result is always "the class cannot be found". Could you help me how to let this work??
Thanks for your a

[2017-11-24 02:20] kroitor commented on #662
Hi, @Avalonalan!

PHP's autoload functionality is not unified yet, but the work on it has been started, and is in progress: https://github.com/ccxt/ccxt/issues/633

You may want to try what this comment suggests: https://github.com/ccxt/ccxt/issues/633#issuecomment-346614117

We will be happy if you report back whether it answers your question and solves your problem or not.

[2017-11-24 02:21] tandazhi commented on #71
Hello Kroitor,

is there any plan to add fetchOrders() and fetchOpenOrders methods for huobipro?

Best Regards

[2017-11-24 02:44] kroitor commented on #71
Hello, @tandazhi! We are going to add them all eventually, but if you can go ahead and submit a PR on that, it would be awesome! We appreciate all help! Thx )

[2017-11-24 03:04] Avalonalan commented on #662
Hi, @kroitor !

Thanks for your kind help.

I have read the comments you told me. I have tested it with php >7.1 and it really works.
However, kornrunner/ccxt repo needs php version > 7.1 but my work is only with 5.6.31 since I use another repos for working with my current php ver.
 **Do you know whether it can work properly with php 5.631 or not??? **

Well, I just took a look at files under the

[2017-11-24 03:08] kroitor commented on #662
@Avalonalan we hope to add autoloading to current ccxt with PHP 5.3+ soon. In the meantime, I suggest, let's continue in that post, I would close this issue for now, if you don't mind, because these posts are mostly duplicate. Will notify you there on the progress of it.

[2017-11-24 03:08] #662 closed

[2017-11-24 03:12] Avalonalan commented on #662
Hi, @kroitor
It's fine. Thank you.
I really appreciate and look forward to your great work.

[2017-11-24 04:29] kroitor commented on #660
@Yoyae are you sure that xxxxxx is the order that was filled, not the list of filling trades' ids ? I'm asking this, because if I submit a single order, why would that be a list of ids? The only reasonable explanation is that those are trade ids, not order ids. This is not documented on their site or anywhere else, so if you can check your trades' ids against xxxxxx and report on that, it would be

[2017-11-24 05:05] davzucky opened #663 "Binance open order return 400 Bad Request {"code":-1013,"msg":"Filter failure: LOT_SIZE"}"
Trying to open the following order Buy 99.80 unit of EOS/BTC at 0.000236019 on binance return the following error 400 Bad Request  {"code":-1013,"msg":"Filter failure: LOT_SIZE"}.
Doing some manual test with the ccxt API I found that buying 99 unit is working.
This bring me to check the code and where the precession come from. Looking at the result of [https://www.binance.com/exchange/public/produ

[2017-11-24 06:03] #663 closed

[2017-11-24 06:08] kroitor commented on #663
Hi, @davzucky !

First of, thanks for this very comprehensive report and for opening this issue as well! Really appreciate your effort!

We really welcome all contributions, so, whenever you feel like you want to try solving a particular problem or add a missing implementation, go for it, we will assist where possible. We just don't want to merge this particular change right away, and this is expl

[2017-11-24 06:20] kroitor commented on #659
@PolybitSol thx for your feedback, as always! We added that endpoint, it is available in current version of ccxt. Cheers!

[2017-11-24 06:23] kroitor commented on #660
I guess,  xxxx means "opposite" filled orders. But I don't see any use of them. Should we just return an undefined order id in that particular case? How do you know if it made it or not then? The actual fill price/cost? Their API is very non-intuitive.

[2017-11-24 06:33] #660 closed

[2017-11-24 09:05] kvz opened #665 "After recent upgrade, cryptopia gives `Cannot read property 'symbol' of undefined`"
[code]

[2017-11-24 09:06] kroitor commented on #665
Hi! Which pair is it?

[2017-11-24 09:09] kvz commented on #665
I’m fetching all ticks for all pairs here

Sent from mobile, pardon the brevity.

[2017-11-24 09:10] kroitor commented on #665
@kvz, oh, yes, sorry, my bad. I'll take a look into it.

[2017-11-24 09:12] kroitor commented on #665
@kvz are you sure that this issue is repeatable? I just tried fetching all tickers and it worked with current JS version.

[2017-11-24 09:16] #665 closed

[2017-11-24 09:22] kroitor commented on #665
I added an assertion for that error, please update to version 1.10.202. We will keep a close eye on it to see if and why it reappears. Thx!

[2017-11-24 09:35] Yoyae commented on #660
You're right, I didn't double check. There is a different between order id and trade id, and xxxx is trade ( = filled order) id. Undefined order without throwing an error sound the right behaviour. You know it made it cause API doesn't return an error. Afterward you can't know which trade its related to.

Anyway, thanks for fixing it.

[2017-11-24 09:40] shaund opened #666 "`since` not used with bittrex"
`since` is never used. It looks like the bittrex api doesn't have a `since` field for this call, but this function should still parse it, since that's what the user would expect when passing a `since` timestamp. It looks the same for `limit`, but I haven't tested that one.

[code]
[code]
[code]

[2017-11-24 09:43] kroitor commented on #666
Yep, they don't offer any filtering

Which function should parse what? )

[2017-11-24 10:08] shaund commented on #666
It currently returns all the candles available. It should filter the returned data to that starting at `since`. Otherwise, why have `since` if the returned data isn't going to be as expected?

[2017-11-24 13:35] nmiculinic opened #667 "HitBTC clientOrderID"
I've seen in the code clientOrderID is in milliseconds. Per documentation, it's a string. Could you change it to UUID?

Python code:

[code]

[2017-11-24 13:46] nmiculinic opened #668 "HitBTCv2 fetch_order fails"
You should use https://api.hitbtc.com/?shell#trades-by-order for fetching HitBTC orders, and using parse_trades on them.

Current code fails since https://api.hitbtc.com/?shell#orders-history doesn't return price for single order for some reason.

This is API response for single order:
[code]

[2017-11-24 13:50] nmiculinic opened #669 "Poloniex fetch_order isn't working properly"
Poloniex has returnOrderTrades API endpoint which should be used in fetch_order library call. As of now, fetch_orders is used and the cache is checked; which isn't ideal.

[2017-11-24 13:50] kroitor commented on #668
@nmiculinic ,

What do you mean "fails" ? Also, there's a difference between a trade (and parse_trades) and a closed order (and the corresponding parse_order). Do not confuse the two, a closed order can be filled with multiple filling trades.

[2017-11-24 13:52] kroitor commented on #667
@nmiculinic it's currently a milliseconds string, does switching it to UUID make any difference?

[2017-11-24 13:53] kroitor commented on #669
This issue a duplicate of this: https://github.com/ccxt/ccxt/issues/569. Let's go on there.

[2017-11-24 13:53] #669 closed

[2017-11-24 13:58] nmiculinic commented on #569
I agree with @stonemonk; use two API calls if needed, but first, try to hit a cache via other calls (for open orders/trade history/etc.)

[2017-11-24 14:01] nmiculinic commented on #667
Yes; since UUID is by definition universally unique identifier. When cross matching orders, I'd rather prefer UUIDs, then having to check for rare condition where two order from different exchanges is executed into the same millisecond. (or some other objects; uuid's are cool).

[2017-11-24 14:01] kroitor commented on #569
@nmiculinic we are going to rework the cache to include trades as well, hopefully, very soon.

[2017-11-24 14:23] nmiculinic commented on #668
By fail I mean when falling fetch_order it doesn't work; it throws exception:
[code]

[2017-11-24 14:28] #667 closed

[2017-11-24 14:28] #668 closed

[2017-11-24 14:29] kroitor commented on #668
I've added a temporary workaround for that particular issue, should be available in the upcoming version 1.10.204. Thx!

[2017-11-24 14:45] kroitor commented on #667
Switched to UUIDs in 1.10.205. Thx!

[2017-11-24 15:20] gemini100 opened #671 "no problem, thank you Igor Kroitor"
I would thank's Igor Kroitor
so professionnal quality, docs in pdf with linked summary, no errors on calls of function
i see that there no way yet to open a wallet adress,
and for over 90 exchange platform

WWWWHHHAAAT WORK, genial, simply true

[2017-11-24 15:22] gemini100 commented on #671
i would contribute, but your dimension, igor, scarry me,i m afrraid by the dimension you give to the project,
i think what it rest to do isn't like what passed and what is ready right now
i m constructing a trading tiny bot,
if it work i ll  send you a fee, my man

[2017-11-24 15:28] kroitor commented on #671
Thanks a lot for all your kind words! Let us know if you have any difficulty with the library. By the way, this isn't entirely a work of mine, it would be much more difficult without the joint effort of our small team and, of course, without the help of our community, we are very thankful to all contributors and users who test it, submit code and send feedback. Thank you all very much! )

[2017-11-24 15:28] #671 closed

[2017-11-24 16:00] kroitor commented on #663
We had to restore the precision for amounts back to tickSize for now, because for ETH precision is 6 digits, so from this perspective `lot size != precision`. Pay attention to that and use `amountToLots()`.

[2017-11-24 16:40] kvz commented on #665
That fixed it, thanks!

--
Kevin van Zonneveld (kvz.io)
Co-founder at Transloadit (transloadit.com)
Core-author of tus (tus.io)

On 24 November 2017 at 10:23:02, Igor Kroitor (notifications@github.com) wrote:

[2017-11-24 17:21] gemini100 commented on #671
i know coding basics under python 3.5, i forget fortran 77, c++, c
i have'nt your level IGOR, you must be at a level greater than an ingeneer,
what quality, i'm impressed,
i can give feedback, and if i see any trajectory to add a serious block to
the wall, it will be done.
i haven't get any problem, i try on poloniex, on bittrex,
may be i can help for creating an adress wallet for deposit section.

[2017-11-25 01:53] kroitor commented on #633
Ok, PHP autoload was added here: #673 by @silberbaum! Let us know if you have any difficulties with it! Cheers!

[2017-11-25 07:03] mkutny opened #674 "kuna: aggregated orderbook & design issue"
While testing ccxt on kuna I noticed that kuna returns orderbook on a per-order basis while other exchanges that I know aggregate orderbooks by price-level.

I implemented an aggregator to bring kuna's orderbook in sync with others but while submitting a PR noticed that you also have `fetchL2OrderBook` method which is nowhere used.

With this method in mind, I'm a bit uncertain about unification.

[2017-11-25 07:31] kroitor commented on #674
First of, thanks for opening this! And for the very detailed feedback!

Yep, this is covered briefly here: https://github.com/ccxt/ccxt/wiki/Manual#order-book--market-depth (in the end of the paragraph).

Who said that ? ;) You mean, anywhere inside the library )

I know some of them do return detailed orderbooks (non-aggregated) per user request, but at the same time I know all of them encourage

[2017-11-25 08:07] kroitor commented on #661
This is related to filter encoding, because if we comment those params, it works in both cases, while having them uncommented, both sync and async fail on our side. We are investigating into it and will fix it soon, hopefully.

[2017-11-25 09:39] nmiculinic commented on #569
As for multiple API  call, you may add option (in unified API for example), full/short which would tell you should you only make the most basic API call, or multiple API calls as needed.

[2017-11-25 11:10] andersea commented on #661
Thanks! I appreciate the update! That is really odd though. On my side the sync side works fine: Here is the output (I disabled verbose).

[code]

[2017-11-25 11:11] andersea commented on #661
Woops reopen

[2017-11-25 14:32] mkutny commented on #674
@kroitor, thanks for this elaborative (as usual) answer!

I swear I read the Manual not a single time but apparently missed the L1/L2/L3 explanation.

Now I've got the big picture and almost ready to move ahead.

I will do a `fetchL3` for kuna but still not sure what LoD should its `fetchOrderBook` return.

As I've got from your explanation 10%-15% of exchanges *can* return L3 per user request but

[2017-11-25 16:34] kroitor commented on #674
I think, it should return the default for Kuna, so, that is L3. So, yes, please go ahead and implement this whatever way you need it for Kuna, because, guess what, you are the user ) So, it's up to you to decide ) If I were to solve this question, I'd ask yourself ) I have less experience with that particular exchange than you do, obviously.

Practically, it's always the same endpoint, so, yes, I

[2017-11-26 06:04] kroitor commented on #674
Reference: https://github.com/ccxt/ccxt/pull/676

[2017-11-26 06:04] #674 closed

[2017-11-26 06:17] mkutny commented on #674
I'm still a bit uncomfortable with the base class' `fetchL2OrderBook` working on a child's `fetchOrderBook` unconditionally (because the former one never knows what LoD the latter one returns)... But that's ok for now.

[2017-11-26 06:17] mkutny commented on #674
Thanks!

[2017-11-26 06:22] kroitor commented on #674
Yeah, but, at the same time, we can override fetchL2OrderBook per-exchange, right? Having that option should do the job for now and if we encounter a specific case, we can rework it further... Or do you suggest to change the base fetchL2OrderBook somehow? If you do mean that we need to edit it, then, why not, let's do it.

[2017-11-26 07:42] mkutny commented on #674
I just feel that the current implementation does not follow the new design and at the same time I can't come up with any meaningful proposal of how to address this.

But, as you mentioned it does its job for now so I guess I'll leave it as is.

[2017-11-26 07:48] kroitor commented on #674
Mm... why not? It does re-aggregate and re-sort them, so, I believe it returns L2 whatever the input, doesn't it? I may be missing something, can you please elaborate on this a little more?

[2017-11-26 10:37] mkutny commented on #674
Yeah, it does work, that's why I think we can leave it as is.

I'll elaborate on it as you asked but mind that what will follow is just my subjective opinion (or rather a preference) on how it might have been done differently. And when I say differently it neither means that it's "the right way" to do nor that the current way is a "wrong way" to do.

The implementation we basically ended up with c

[2017-11-26 11:23] kroitor commented on #674
@mkutny that penalty could be addressed if fetchL2OrderBook did not re-aggregate the orderbook, when a special flag is set in method arguments or even exchange-wide. We can add a flag to exchange base class, something like `skipL2AggregationWarningDangerAllOfThat = false` (by default). You would set it to true in your case for a slight performance gain if you are sure your exchanges behave well or

[2017-11-26 13:20] jordansteeves opened #677 "CoinFalcon Exchange"
Hi! Please add our exchange API from here https://docs.coinfalcon.com/

[2017-11-27 12:49] Veniamin opened #687 "Bug in bitfinex v1: field in the payload that matches the URL path at https://api.bitfinex.com/v1/history"
In commit
https://github.com/ccxt/ccxt/commit/25f41122bc197703dab3da70cbcfb196e90ef62f#diff-a3a69516c164ff60bece197030b75589
was changed (path == 'orders/hist')) to  (path.indexOf ('hist') >= 0)  but https://api.bitfinex.com/v1/history muches "hist" too. Now when I try to get balance history I get 'field in the payload that matches the URL path'.

[2017-11-27 12:50] kroitor commented on #687
Thx for reporting this, will fix right away!

[2017-11-27 12:53] #687 closed

[2017-11-27 13:10] kroitor commented on #687
Fixed in 1.10.230. Thx again!

[2017-11-27 14:30] alexmipego opened #690 "Bitstamp missing limit/precision data"
Bitstamp seems to lack limit/precision data unlike other exchanges. It appears the "trading-pairs-info" API should provide this data.

Is it possible to bring this into the unified API?

[2017-11-27 15:18] robkaandorp opened #692 "Bitfinex order price gets rounded"
When I create a sell order on Bitfinex for XRP with a price of 0.00002566, the price appears on the exchange as 0.00003000.

I noticed that the precision for `price` is 5 on bitfinex (`this.markets['XRP/BTC'].precision.price`). I think that ccxt gets the precision wrong, because 0.00002566 with a precision 5 is actually 0.000025660 and not 0.00003.

[2017-11-27 15:23] kroitor commented on #692
Sorry? Precision 5 means 5 decimal digits *"after the dot"*. So, 0.000025660 boils down to:
- 0.00003 ← 5 digits (correct)
- 0.000025660 ← 9 digits (?) Biftinex will not like it. (wrong)

Does this make sense?

[2017-11-27 15:24] #690 closed

[2017-11-27 15:29] robkaandorp commented on #692
Sorry, got price and amount a bit mixed up. Fixed the text of the issue.

Are you saying that I should not be able to put in a sell price on Bitfinex that is an actual price in the orderbook? Because that would be rather weird.

Have a look at [.toPrecision(p)](https://www.w3schools.com/jsref/jsref_toprecision.asp), maybe that will make it clear.

[2017-11-27 15:31] kroitor commented on #692
https://bitfinex.readme.io/v1/docs/readme#section-price-precision

[2017-11-27 15:34] kroitor commented on #692
The same is true for v2 as well:

<img width="1081" alt="screen shot 2017-11-27 at 18 34 26" src="https://user-images.githubusercontent.com/1294454/33274635-a5f05bbe-d3a1-11e7-8235-7dc59e7f8cb5.png">

[2017-11-27 15:35] kroitor commented on #692
Does the above answer your question?

[2017-11-27 15:36] robkaandorp commented on #692
Yes, that is exactly my point: `For all pairs on Bitfinex we use 5 significant digits. Examples of five significant digits would be 12.123, 1.1234, 123.43, and 1234.5.`

To take this further: 0.12345, 0.012345 and 0.0012345 also have 5 significant digits.

Precision is not taking into account the leading 0's, while ccxt is truncating it to digits after the dot, which is clearly wrong! Please use .

[2017-11-27 15:46] kroitor commented on #692
[code]

Does that number also have precision of 5 according to your logic?

[2017-11-27 15:51] robkaandorp commented on #692
Yes, it has.

[2017-11-27 15:53] robkaandorp commented on #692
Let me ask you; How am I supposed to sell 1 XRP for a price of 2566 satoshis on Bitfinex with ccxt? I sure can do that on the site and I think I also can do that if I go directly through their API.

[2017-11-27 15:55] kroitor commented on #692
We will remove the precision truncation from there, can't use toPrecision right away, it's JS-only.

[2017-11-27 15:56] robkaandorp commented on #692
Thank you, that will be helpful!
Regards, Rob

[2017-11-27 16:03] #692 closed

[2017-11-27 16:17] kroitor commented on #692
Ok, the rounding is switched off temporarily until we come up with a portable solution to it. Bitfinex seems to be the only exchange that does treat precision that way.

[2017-11-27 16:24] alexmipego commented on #690
I should buy you a beer ;)

[2017-11-27 18:02] andersea opened #693 "Plans for typescript definition files?"
Hi. There seems to be the beginnings of a typescript definition file for ccxt. As far as I can see it is rather rudimentary at the moment. For instance it looks like it is missing a constructor for the Exchange class.

I have published a definition for another js library to DefinitelyTyped. I may be able to provide assistance in this area. Where would be a good place to start?

[2017-11-27 18:21] kroitor commented on #693
Hi!

Yep, it was added for integration with the GDAX Trading Toolkit. It is currently in its most basic form and does not cover the whole entirety of our unified API.

That would be awesome! Thanks for the offer!

Currently, we have the two main sources of info:
- The User Manual: https://github.com/ccxt/ccxt/wiki
- Contributing Guidelines: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

[2017-11-27 18:25] Veniamin commented on #687
No problem, thanks for fast fix!

[2017-11-27 22:50] orkenstein opened #694 "For-loops are translated incorrectly for Python"
When I run `npm run build`, the piece of JS, like:
[code]
translated into Python code:
[code]
which is wrong and annoying 👎

[2017-11-28 05:08] davzucky commented on #663
@kroitor , Thank you for all this useful input and information. I can confirm that using the function amount_to_lots provide me the answer that I need.
Please let me know if you need any help for any API or future development. I'm looking forward to see the WebSocket implementation coming :-)

[2017-11-28 05:46] kroitor commented on #694
So, your code does not get transpiled, because you violated the rules from here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#derived-exchange-classes

You have to look, how other for-loops are formatted and copy that, if you want to make them transpileable.

[2017-11-28 05:46] #694 closed

[2017-11-28 08:00] jgordor commented on #564
@kroitor I have the same problem with market buy orders on CEX, see this example:

[code]

I understand, like the other exchanges, that I want to buy 0.011111 ETH with a market order, right, but this is what I get:

[code]

I bought ETH for a BTC value of 0.011111....

Checking the code seems that is a problem with cex mixing the size and the amount, because sell market orders works as expected (r

[2017-11-28 08:06] kroitor commented on #564
Thanks for the detailed feedback @jgordor ! I'm working on this, will upload the fix, hopefully, very soon. Will update you here when this is resolved, of course.

[2017-11-28 08:57] #564 closed

[2017-11-28 09:08] kroitor commented on #564
Ok, this issue is now fixed.

Unfortunately, CEX.io requires the amount of quote currency to spend for market buy orders. That is true for market buy only, for market sell the amount designates how much crypto to sell.

So, to place a market-buy order @ CEX.io you will have to call the `createOrder (symbol, 'market', 'buy', amount, price)` with both amount and price submitted, for ccxt to be able

[2017-11-28 09:11] jgordor commented on #564
Thanks @kroitor I will test and report to you if I have any problems

[2017-11-28 10:40] orkenstein commented on #694
@kroitor thanks for quick reply.
Don't quite understand, what's wrong?
My for-loop looks the same to the example you shared. Please, clarify.

[2017-11-28 11:02] kroitor commented on #694
Yep it does look the same, but there are still a few differences, in your example the padding is 2 spaces, whereas we use 4, you also used the `var` keyword instead of `let` and the context of that forloop can also make a difference.

I added an example to clarify on this, in a separate branch:

https://github.com/ccxt/ccxt/blob/c6e6139918cfe73d337fc0ffbef2bf7348beef82/js/kraken.js#L502

That meth

[2017-11-28 11:35] orkenstein commented on #694
@kroitor yep, thanks, found and issue right before you posted a comment. Cheers.
P.S: working on some Livecoin updates.

[2017-11-28 11:36] kroitor commented on #694
@orkenstein we welcome all PRs and contributions! Feel free to ask questions, if you have more. Thx!

[2017-11-28 12:34] Deathamns opened #698 "Binance → v3"
At [Binance](https://www.binance.com/restapipub.html) some API endpoints are in version `v1` and some are in `v3`, however in ccxt the version is always set to `v1`. Creating a new `binance3.js` wouldn't make sense, because as I said some basic features are available only via `v1`.
How should I approach this (to stay compatible with the current architecture) if I want to add other features that ar

[2017-11-28 13:01] #666 closed

[2017-11-28 13:07] kroitor commented on #698
Here's an answer of the lead dev from Binance: https://github.com/ccxt/ccxt/issues/320#issuecomment-341877217

I think we should switch current implementation to v3 seamlessly. No need to keep them both. I've already added the v3 signing method, so this should be straightforward (mostly). Didn't have time to finish the migration yet.

<img width="638" alt="screen shot 2017-11-28 at 16 05 50" src="

[2017-11-28 13:31] kroitor commented on #666
This is fixed in 1.10.244. `since` and `limit` are now handled correctly. Thx!

[2017-11-28 13:31] Deathamns commented on #698
Yeah, but there's no orderbook endpoint for [`v3`](https://api.binance.com/api/v3/depth?symbol=BCCBTC&limit=100), only for [`v1`](https://api.binance.com/api/v1/depth?symbol=BCCBTC&limit=100), so we still have to use both versions in the URLs. And this was my problem.
I could simply remove the `version` property and change the API urls to the followings, but is that okey with you?

[code]
Because

[2017-11-28 13:38] kroitor commented on #698
Absolutely. It will do exactly what we want, the version of Binance in our docs will be `*` (this will indeed reflect the truth) and those API base URLs will work as well. But note that you will have to edit the `sign()` method (delete a few lines from it). In its current code it appends the `this.version` to the compiled URL.

[2017-11-28 13:47] tandazhi commented on #71
That is great!

[2017-11-28 13:48] kroitor commented on #71
@tandazhi your PR isn't merged yet, but will be soon! Thx!

[2017-11-28 14:13] donaldinho commented on #693
Likewise happy to help with this. The lack of a constructor definition on the exchange class is causing my typescript to not compile.
Would it be possible to get a line added quickly to the ccxt.d.ts file that would fix this.
Something like
```constructor(options?: {});```

I can do a PR if required

[2017-11-28 14:14] kroitor commented on #693
That would be awesome! Go ahead, please, we welcome all PRs and contributions!

[2017-11-28 14:47] donaldinho commented on #693
@kroitor made a small pr to add that line in but forgot to add you as a reviewer and I can't see a way to edit the PR to correct that.

@andersea I'm sure there's more to be done with the typescript definitions and I'm happy for you to take the lead on that. I just needed this one line added at the moment so my code will compile

[2017-11-28 14:57] kroitor commented on #693
@donaldinho no worries, I'll review and merge it anyway, thanks a lot!

[2017-11-28 15:05] kroitor commented on #693
In fact, I've merged it already.

@donaldinho , @andersea , if you don't mind I will close this issue for now, feel free to submit PRs and contributions, we will be very happy for any help! Let us know if you need any assistance. Thx!

[2017-11-28 15:05] #693 closed

[2017-11-28 15:23] donaldinho commented on #693
cool. nice one.

@andersea any help I can provide on further typescript improvements just let me know

[2017-11-28 15:29] orkenstein commented on #694
@kroitor short question:
What is the best portable approach for `string.icludes(substring)`?

[2017-11-28 15:34] kroitor commented on #694
@orkenstein currenty, it's the long version of it:

[code]

I know it can be frustrating sometimes, but until we have a full-featured AST any ←→ any converter, we have to be syntactically precise. Feel free to ask if you have any difficulty with it. Thx!

[2017-11-28 15:41] kroitor commented on #637
The work on this has been started by @mkutny [here](https://github.com/ccxt/ccxt/pull/695). We will merge it soon.

[2017-11-28 15:51] orkenstein commented on #694
@kroitor
How to deal with timeout exceptions?
[code]

[2017-11-28 15:53] kroitor commented on #694
@orkenstein well, in general, catch & retry is the only way we can handle those... A [proxy](https://github.com/ccxt/ccxt/wiki/Install#proxy) might also help determine if it's a local issue or a global one.

[2017-11-28 15:56] kroitor commented on #694
... but we should not do any handling of those inside the library, of course, we just throw them out and let the user decide if he wants to retry or not.

[2017-11-28 15:58] orkenstein commented on #694
@kroitor that's because the request time might be quite long for account with long history. The ruby version of the same request works fine. What about changing time-out delay?

[2017-11-28 15:59] kroitor commented on #694
@orkenstein oh, then you can raise the timeout (defaults to 10000 ms), just do `exchange.timeout = 20000` or pass `'timeout': 20000` along with other constructor params upon instantiation.

[2017-11-28 16:00] Fcl69 commented on #406
Hello,

It seems like this has stopped working.
Code:
`exch = ccxt.hitbtc({
        'apiKey': 'key',
        'secret': 'sec',
        'enableRateLimit': True,
        'verbose': True,
        })
    return exch
    order = exch.payment_post_transfer_to_trading ({'amount': 0.02, 'currency_code': 'ETH',})`

Output:

.0-h1.1-b0.3-
Request: {'X-Signature': 'sig', 'Content-Type': 'application/x-www-for

[2017-11-28 16:01] kroitor commented on #406
@Fcl69 thanks for reporting this. Looks like they are switching v1 → v2, I'll fix for this asap.

[2017-11-28 16:04] Fcl69 commented on #406
Thank you, and let me know if I should use v1 or v2 in this case, and if methods remain their naming.

[2017-11-28 16:07] andersea commented on #693
@donaldinho Great! I am by no means an expert on typescript, but the first thing I am wondering is if the overall structure of the definition file is correct.

We are exporting a global, it looks like, with `module.export = Object.assign(...)`.

So shouldn't we be following this template -

https://www.typescriptlang.org/docs/handbook/declaration-files/templates/module-d-ts.html

And use `export a

[2017-11-28 16:23] #698 closed

[2017-11-28 16:37] kroitor commented on #406
@Fcl69 ok, from now on you should use v2 in the following way:

[code]

The above is already available in current version of ccxt (you most likely don't need to update if you have a fresh install of it). We will be thankful if you report back whether it does the job for you and if you have any difficulties with it. Thx!

[2017-11-28 16:42] #406 closed

[2017-11-28 19:36] oburkoray opened #704 "Unclosed client session and ddos Error for bitfinex"
Hi,

First, thanks for this amazing work you have done. Second my problem is about below code. I constantly get "Unclosed client session client_session: <aiohttp.client.ClientSession object at 0x00000274BF7DAB38>" and Ddos error. I also tried to pu time.sleep(8) o get rid of it but didnt work. Is there any way to make it work efficiently? appreciate your help on this.

[code]

[2017-11-28 19:50] kroitor commented on #704
You don't need to do `ccxt.bitfinex()` in every line. I suggest you learn more basic Python. Focus on working with classes and objects instances.

This code should work:

[code]

More:
- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/tree/master/examples/py

[2017-11-28 19:50] #704 closed

[2017-11-28 19:59] oburkoray commented on #704
Thanks a lot! now it is working i will look at basic Python courses as well (y)

[2017-11-28 20:12] kroitor commented on #704
However, this one is much better:

[code]

I'd recommend to fetch all tickers in one go like shown above if you need more than one of them.

[2017-11-28 20:15] Fcl69 commented on #406
This one in particular seems to be resolved, but it looks like withdraw stopped working. Trying to find out the cause:

  File "/home/fcl/.local/lib/python3.5/site-packages/ccxt/base/exchange.py", line 310, in fetch
    response = opener.open(request, timeout=int(self.timeout / 1000))
  File "/usr/lib/python3.5/urllib/request.py", line 472, in open
    response = meth(req, response)
  File "/usr/l

[2017-11-28 20:18] kroitor commented on #406
@Fcl69 can you enable verbose output?

[2017-11-28 23:55] Fcl69 commented on #406
sure...

code:
`    exch = ccxt.hitbtc2({
        'apiKey': 'key',
        'secret': 'sec',
        'password': 'passphrase',
        'enableRateLimit': True,
        'verbose': True,
        })
        order1 = exch.private_post_account_transfer({'currency': 'ETH', 'amount': 7.98, 'type': 'exchangeToBank'})
       time.sleep(1.5)
       order = exch.withdraw('ETH', 7.98, 'wallet')
`

output:

Req

[2017-11-28 23:59] kroitor commented on #406
@Fcl69 is that all the output that is printed with verbose: True? There should be a response for the withdraw call somewhere nearby...

[2017-11-29 00:09] Fcl69 commented on #406
`'verbose': True,`

and it's all i got:

Request: {'Authorization': 'Basic ooooooo=', 'User-Agent': 'ccxt/1.10.247 (+https://github.com/ccxt/ccxt) Python/3.5.2', 'Content-Type': 'application/json', 'Accept-Encoding': 'gzip, deflate'} {"amount":"7.98","address":"wallet","currency":"ETH"}
hitbtc2 Insufficient funds

[2017-11-29 00:10] kroitor commented on #406
@Fcl69 ok, thanks for the feedback, i'll debug it and will get back to you with a fix, hopefully, very soon.

[2017-11-29 05:26] nkeilar commented on #569
+1 this is an issue for me.

[2017-11-29 07:19] ntapp opened #707 "on Poloniex, fetchBalance return price of GAS not USDT."
this return is GAS balance.

[code]

[2017-11-29 09:45] itsmemittal opened #708 "Unhandled promise rejection (rejection id: 2): ReferenceError: params is not defined"
I am trying to execute the ticker example and I executed the following command and but it gives me the error mentioned in issue title.

node examples\js\tickers.js bittrex 'BTST/USD'

[2017-11-29 10:16] kroitor commented on #708
There's no BTST/USD symbol at Bittrex.

Try this:

[code]

If it does work, see this table of symbols available for Bittrex:

[code]

[code]

↑ No BTST/USD here.

[2017-11-29 10:57] itsmemittal commented on #708
node examples/js/symbols bittrex

I have run the above error is same.

:\learn\ccxt>node examples/js/symbols.js  bittrex
Instantiating bittrex exchange (pipez.js:23)
(node:6676) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 4): ReferenceError: params is not defined
(node:6676) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, p

[2017-11-29 10:58] itsmemittal commented on #708
On following line in Exchange.js

let partial = t => this[methodName] (url, type, uppercaseMethod, params)

[2017-11-29 10:59] orkenstein commented on #694
@kroitor how Date and Time should be handled?

[2017-11-29 11:02] itsmemittal commented on #708
![image](https://user-images.githubusercontent.com/3033471/33372139-ee13f388-d522-11e7-8890-b4f2f699c4fe.png)

[2017-11-29 11:29] nmiculinic opened #709 "HitBTCv2 ETC/BTC pair discrepancy"
https://i.imgur.com/5kx53JM.png  <-- current status. (price around ~0.0027)
From ccxt:
[code]

Something is fetching wrong with this thing.

[2017-11-29 11:53] kroitor commented on #709
Well, their reply is there, as is, unparsed (`info` field), ETCBTC is there, and the values are incorrect. Looks like they report it that way... I fetched it now and it says
[code]

Is it repeatable on your side?

[2017-11-29 11:54] kroitor commented on #708
What's your node version?

[2017-11-29 12:00] itsmemittal commented on #708
9.2.0

[2017-11-29 12:21] kroitor commented on #708
That's a very strange problem, I can't reproduce it on my side whatever I try... In fact, I have one guess, this may be a difference in the terminals... Also, on your screenshot I see an excessive space before `bittrex`, but that should not be a problem either...

Can you try running the same command in a Windows `cmd` shell, not inside the VS Code built-in terminal? Also, are you really sure that

[2017-11-29 12:26] kroitor commented on #694
@orkenstein those should be handled like milliseconds timestamps in UTC. There's a set of functions:

[code]

[2017-11-29 12:41] kroitor commented on #707
@ntapp thanks for reporting this! Will take a look into it asap!

[2017-11-29 12:43] itsmemittal commented on #708
1. I have cloned the latest cctx git repository on my system
2. run npm install command
3. i am executing the command node examples/js/symbols bittrex

I am using CCTX 1.10.242

[2017-11-29 12:44] itsmemittal commented on #708
![image](https://user-images.githubusercontent.com/3033471/33375787-1319e18e-d531-11e7-8928-1673e3caea3d.png)

[2017-11-29 12:51] kroitor commented on #707
@ntapp are you sure about this? Can you post verbose output of it?

The reply from poloniex, unparsed:

[code]

Parsed info from ccxt:

[code]

<img width="1228" alt="screen shot 2017-11-29 at 15 50 33" src="https://user-images.githubusercontent.com/1294454/33376007-15d944be-d51d-11e7-8b18-5a763c0e13f7.png">

Seems correct to me.

[2017-11-29 12:54] kroitor commented on #708
@itsmemittal do you plan to develop ccxt or do you want to use it in your own project?

Because you only need to clone the repo if you want to develop it, and for that you will need to `npm run build` after `npm install`, like here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#what-you-need-to-have.

If you are not going to develop the library, but you still want to use it, you can ins

[2017-11-29 13:04] kroitor commented on #708
Let me add an edit to that line, we'll see if it fixes the issue.

[2017-11-29 13:13] kroitor commented on #708
Can you clone 1.10.253 (the most recent one, the current state of the repo) or git pull to bring your working copy up to date and retry the same example script once more?

[2017-11-29 13:21] itsmemittal commented on #708
It is working now, the problem is with latest node version. Its working fine with node 8

[2017-11-29 13:21] kroitor commented on #708
@itsmemittal sorry, can you clarify, it does work now with 9.2 on your side, is that correct?

[2017-11-29 13:32] orkenstein commented on #694
@kroitor what's the crossplatform type conversion method. Say `float -> int`.
Sorry, for asking too much. Why don't add this stuff to contribution guide?

[2017-11-29 13:37] kroitor commented on #694
@orkenstein

[code]

No worries at all, feel free to ask questions, even if you think they might not be worth it...

Would love to, but didn't have enough time for it just yet, that is why it's a little outdated... I guess an answer to that sort of questions would always be "we never said we don't want to do that, we just didn't have time for that yet". Your help on this would be appreciated a lot

[2017-11-29 13:42] kroitor commented on #694
@orkenstein parseInt and parseFloat are built-in in JS and they get transpiled to int(a) and float(b) in Python.

[2017-11-29 13:46] itsmemittal commented on #708
I have uninstalled node 9.2 and installed 8.9 and its working fine. so it might be an issue with Node 9.2 version.

[2017-11-29 13:47] itsmemittal commented on #708
Can we use this library in our angular application?

[2017-11-29 13:49] kroitor commented on #708
@itsmemittal yes, should work normally. Let us know if you have any difficulties with it. I'd close this for now, if you don't mind. Feel free to reopen it if needed or just ask questions, we will be happy to help. Thx!

[2017-11-29 13:49] #708 closed

[2017-11-29 13:59] orkenstein commented on #470
I think `fetchOrders` lacks support of multi-page responses:
[code]
Say, we have **Livecoin** api, which returns 10000 orders max per request, and want to fetch all orders for a long period. We won't be able to iterate through pages.

[2017-11-29 14:02] kroitor commented on #470
@orkenstein what would you suggest? We have two options:
- redesign it (how?)
- wrap it into a method like fetchPagedOrders () and use extra `params` for control?

[2017-11-29 15:16] orkenstein commented on #470
@kroitor I think page handling must be controlled on higher level. `ccxt`should just provide an access to such functionality:
[code]
Also, `since` should be extended to `issuedFrom` and `issuedTo` or something like this.

[2017-11-29 15:16] nmiculinic commented on #709
Yes, it's repeatable on my side.

[2017-11-29 15:17] kroitor commented on #709
@nmiculinic can you post a minimal code to reproduce it?

[2017-11-29 15:20] nmiculinic commented on #709
hmm, now numbers look alright...will keep an eye on this one and check again tomorrow.

[2017-11-29 15:24] kroitor commented on #470
@orkenstein , unfortunately, most exchanges don't allow any pagination whatsoever. This is why we lifted only the most common subset of arguments to that method. And some exchanges don't accept a timestamp in `since`, they accept an order id or a trade id (to start from). I guess we should add another method or, maybe, even a set of methods, for paginated access...

[2017-11-29 15:28] kroitor commented on #709
@nmiculinic from your output it looks like they indeed replied with some weird prices, but that is not something we change inside ccxt, I mean the `info` field there is copied entirely as is, and it cannot get mixed with another ticker (no room for that anywhere inside the library), as you see, the symbol of ETCBTC is also there, indicating an erroneous return from HitBTC.

[2017-11-29 15:41] mkutny commented on #692
@kroitor , how do you feel about adding smth like `precisionMode` to bfx `market`s?
If we set it to something like 'sd' (for significant digits) then its presence would notify clients that they need to address this market with different rounding logic.

Right now I hardcoded bitfinex `id` in the client but having some flag in the `market` would be a more elegant solution.

[2017-11-29 15:46] orkenstein commented on #470
@kroitor, yep, understand. For example, on **Livecoin** there's a limit of 10k records per orders request. That's where the pagination starts to work. How does it work on other exchanges?

[2017-11-29 15:49] kroitor commented on #692
@mkutny the solution you propose might indeed do the trick for us, but let's not call it `sd` )) We would prefer a more explicit name, something like `significantDigitsPrecision = true`... Also, do you think this should be a property of a market of an exchange-wide property?

[2017-11-29 15:57] kroitor commented on #470
@orkenstein in general, an exchange might or might not have the following arguments to any of `fetch*Orders/fetch*Trades` endpoints:

- `start` the timestamp to start from (some return exclusive sets, others return inclusive sets)
- `end` the timestamp to end with (same story with exclusive/inclusive)
- an order id / trade id to start from
- an order id / trade id to end with
- a limit of entries

[2017-11-29 16:13] mkutny commented on #692
`significantDigitsPrecision = true` is fine but if you foresee that in the future we might discover some more approaches to rounding then we'll end up with something like:

[code]
`precisionMode = [one|two|three]` would handle that in a more natural way.

I just don't know if some more modes are approaching us so rely totally on your intuition )

I'd say that having it at a market level (somewhere

[2017-11-29 16:20] izjenie opened #711 "On bitcoincoid.py - 'XLM/IDR' is missing from the table."
You can open python/ccxt/bitcoincoid.py and added this after line #48:

Line #49:                 'XLM/IDR': {'id': 'str_idr', 'symbol': 'XLM/IDR', 'base': 'XLM', 'quote': 'IDR', 'baseId': 'str', 'quoteId': 'idr'},

Thanks.
-izak

[2017-11-29 16:21] kroitor commented on #470
@orkenstein also, note that you can still pass exchange-specific pagination params to all exchanges, where supported, via the extra `params` argument that goes last into any unified/non-unified API call. So you can still use their pagination, but currently you will have to account for exchange-specifics in userland, because this aspect is not completely unified yet.

As for the Livecoin, you shoul

[2017-11-29 16:23] #711 closed

[2017-11-29 16:53] kroitor commented on #711
Thank you, this is available in 1.10.256. Cheers!

[2017-11-29 16:53] jelling opened #712 "Account Opening API"
The readme mentions that some exchanges offer an API for opening accounts. Do you know which ones?

[2017-11-29 16:58] kroitor commented on #712
For example, Gatecoin, CoinSecure... But that's pretty much all of them for now.

[2017-11-29 17:14] jelling commented on #712
Thank you!

[2017-11-29 17:14] #712 closed

[2017-11-29 17:25] orkenstein commented on #470
@kroitor, yes, you're right. Better live it at exchange-specific parameters.

[2017-11-29 17:28] orkenstein commented on #467
I contact 'em often and always get a response. Already helped to solve several API-related issues.
Contact me next time, I will force 'em to answer :D

[2017-11-29 17:30] kroitor commented on #467
@orkenstein great! thx! ) Will ping you here upon noticing this )

[2017-11-29 18:33] gemini100 opened #713 "code for calculating EMA Exponential Moving Average on any Poloniex market"
hi Igor and community,
it's not an issue, but i publish here because not under oop coding
here is my little contribution on ccxt
for poloniex a python 3.5  function that compute the last value of ema for any pair

you need to call: `calculema(300,14,'BTC','AMP')`
for a periodic of 300 seconds and on 14 hours historical data of AMP/BTC market

[code]

[2017-11-29 18:42] kroitor commented on #713
Thank you!

I'm sure Python coders will find this contribution useful for learning and for practical purposes as well!

I can't really integrate this code into ccxt, because statistical calculations are beyond the scope of the library for now, that is why we have `numpy` (used in the above example) and other cool standalone libs for that which can be combined with ccxt to cover most of the needs.

[2017-11-29 19:57] Fcl69 commented on #406
Btw, hitbtc api v1 also doesn't work with the same - 503 Service Unavailable - error.
So, I'd appreciate some prompt feedback. Thank you!

[2017-11-29 20:03] gemini100 commented on #713
yes i know that, Igor, it was just to give you insurance that's if i can
give a hand it would be with an infinite pleasure
that was for EMA indicator, most traders use it

for now, i'm studying a lilltle bit OOP aproach to increase my level
good bye

On Wed, Nov 29, 2017 at 7:43 PM, Igor Kroitor <notifications@github.com>
wrote:

[2017-11-29 20:03] kroitor commented on #406
@Fcl69 hold on, please, working on it! Will let you know, thx!

[2017-11-29 20:05] kroitor commented on #406
@Fcl69 Are you sure you're not exceeding your withdrawal limits with HitBTC, btw?

[2017-11-29 20:10] Fcl69 commented on #406
No, since I can withdraw manually.

[2017-11-29 20:22] kroitor commented on #406
Can you try HitBTC v2 withdraw (in the same way you did before) with ccxt version 1.10.257 (most recent one)?

[2017-11-29 22:26] orkenstein commented on #694
@kroitor, I see 'maker' and 'taker' fields here and there. Any special place for fees info? Like in 'market' structure?

[2017-11-29 22:29] kroitor commented on #694
@orkenstein those fields end up being on the market structure, exactly.

[2017-11-29 22:31] orkenstein commented on #694
@kroitor, what am I missing? https://github.com/ccxt/ccxt/wiki/Manual#market-structure

[2017-11-29 23:00] orkenstein commented on #694
@kroitor, aha, the `info` field. It's bit confusing here:
[code]
and:
[code]
I think it's better to keep 'info` the same original JSON for all the entities, and add special `fee` fields to market structure.

[2017-11-29 23:12] kroitor commented on #694
@orkenstein `info` indeed contains the unparsed untouched fields "as is", including the fees and other data that comes for each particular market directly from the exchange. We don't touch it there.

That the parsed `taker` and `maker` fields were added a few days ago and have not been documented yet. But they are there on each market. Don't confuse the market structure itself with the `info` insi

[2017-11-30 00:15] Fcl69 commented on #406
I will sir. In few hours. In an airplane now :)

[2017-11-30 01:37] Fcl69 commented on #406
tested. It's all the same :(

https://api.hitbtc.com/api/2/account/crypto/withdraw POST https://api.hitbtc.com/api/2/account/crypto/withdraw
Request: {'Accept-Encoding': 'gzip, deflate', 'User-Agent': 'ccxt/1.10.257 (+https://github.com/ccxt/ccxt) Python/3.5.2', 'Authorization': 'Basic=', 'Content-Type': 'application/json'} {"currency":"ETH","amount":9.9,"address":"wallet"}
hitbtc2 Insufficient fu

[2017-11-30 01:38] kroitor commented on #406
@Fcl69 sorry for asking this, but... do you have "withdraw" enabled for that API key?

[2017-11-30 01:47] Fcl69 commented on #406
Don't be sorry. It'd be a bummer to find out that I screwed up, so I'm willing to test whatever. Yes, it's on: https://cl.ly/3b1p470X1616

PS Dude, do you ever sleep? ;)

[2017-11-30 02:00] kroitor commented on #406
Just as I thought... That was mostly a wrong random guess. Ok, it seems, that we need some heavy artillery here, so I'll do the testing and hope to finally resolve this in the coming hours. Will notify you of course.

Oh, shoot, I forgot about that, will fix for that as well %))

[2017-11-30 02:03] fredfortier opened #715 "New Exchange: EtherDelta"
Hi! I noticed that EtherDelta is not in the list. Its API looks fairly standard so it seems like it should be eligible: https://github.com/etherdelta/etherdelta.github.io/blob/master/docs/API.md.

Do you have any objection to including it? If not, I'll create a pull request and add it.

[2017-11-30 02:15] kroitor commented on #715
@fredfortier absolutely no objections )) In fact, we had multiple requests for EtherDelta, so, I guess, the time has come ;)

That would be amazing! Let me know if you have any questions... We appreciate all help and we welcome all contributions and PRs! Feel free to submit it, I'll stand by to assist if needed. Also, this might be a good place to start with: https://github.com/ccxt/ccxt/blob/mast

[2017-11-30 02:38] kroitor commented on #715
Reference: #404

[2017-11-30 03:37] fredfortier commented on #715
This library helped me save time so it is my pleasure to contribute. I'm only interested by the Python implementation, but I can try doing it in JavaScript and transpile it if that's the preferred workflow.

I should should have a PR by the end of the week.

[2017-11-30 10:02] orkenstein commented on #694
@kroitor, so `maker` is a fee to sell, and `taker` to buy? Both are percents, e.g. 0.18% == 0.0018?

[2017-11-30 10:20] kroitor commented on #694
@orkenstein

Oh, no. The maker-taker is a different logic, does not relate to *buy* or *sell*. The `maker` fee is payed when your order adds liquidity to the market. So if you place an order and it does not match another existing order in the orderbook, your order will be placed there and will contribute with its volume "adding/making to overall market liquidity". When someone else places an order

[2017-11-30 10:30] orkenstein commented on #694
@kroitor, wow, never seen it before :)
What exchange work like this? On *Livecoin* it's dead simple: you just pay percent for every order.

[2017-11-30 10:41] kroitor commented on #694
@orkenstein , well, most of them... Kraken, GDAX, HitBTC, Binance, Liqui... I'd say 80% of exchanges implement `maker/taker` logic, and it's a very common thing. Half of the actually trading bots are `maker bots` (due to fees). So, in fact, this is a very important concept that can make a difference between a win or lose.

[2017-11-30 10:45] kroitor commented on #694
@orkenstein https://www.investopedia.com/articles/active-trading/042414/what-makertaker-fees-mean-you.asp

[2017-11-30 10:48] itsmemittal commented on #708
Hello would you help me to run balances.js

node --inspect-brk examples\js\balances
I am trying to run above command and giving [Exchange Error] bittrex {"success":false,"message":"INVALID_SIGNATURE","result":null}

I have created an instance of bittrex and passed my API key and secret.

[2017-11-30 10:52] kroitor commented on #708
@itsmemittal hi!

Is it a new key or you did use it with other software previously?

This should help: https://github.com/ccxt/ccxt/issues/630#issuecomment-345536353

Let me know, if it doesn't.

[2017-11-30 11:00] kroitor commented on #694
<img width="754" alt="screen shot 2017-11-30 at 13 49 53" src="https://user-images.githubusercontent.com/1294454/33427566-c1e046f4-d5d6-11e7-9954-6e2cbca6c0dc.png">

[2017-11-30 11:01] kroitor commented on #708
@itsmemittal sorry, "no" what?

[2017-11-30 11:02] itsmemittal commented on #708
I have not used this apiKey and secret anywhere else.

[2017-11-30 11:05] kroitor commented on #708
@itsmemittal this works for me, does it work for you?

[code]

[2017-11-30 11:06] itsmemittal commented on #708
Let me check.

[2017-11-30 11:07] kroitor commented on #708
@itsmemittal i've cleaned it up a little.

[2017-11-30 11:08] itsmemittal commented on #708
Yes working the problem was with secret key my secret key length was 8 character generate new API key and secret on bittrex and now working fine.

Thanks for your live supports on issues. :)

[2017-11-30 11:18] kroitor commented on #694
Here's an example of a negative maker fee (a rebate/reward) from HitBTC:

<img width="697" alt="screen shot 2017-11-30 at 14 17 51" src="https://user-images.githubusercontent.com/1294454/33428288-478baea4-d5d9-11e7-9434-d2baa73dcd59.png">

[2017-11-30 11:32] kroitor commented on #694
Also, explained in somewhat more detail here: https://github.com/ccxt/ccxt/issues/336#issuecomment-338380765

[2017-11-30 11:41] beevabeeva commented on #694
Also here:
https://www.youtube.com/watch?v=u9RIA1uUbAs&index=2&list=PLj-hivYUpPZsHeLWy7EK7hOHtLQBKE05F
and here:
https://www.youtube.com/watch?v=7kkohJKFSLk&index=1&list=PLj-hivYUpPZsHeLWy7EK7hOHtLQBKE05F

On Thu, Nov 30, 2017 at 1:32 PM, Igor Kroitor <notifications@github.com>
wrote:

[2017-11-30 12:02] itsmemittal commented on #708
do we have WebSocket implementation in the library?

[2017-11-30 12:03] kroitor commented on #708
@itsmemittal coming soon, this year, hopefully.

[2017-11-30 12:03] itsmemittal commented on #708
ok

[2017-11-30 12:29] orkenstein commented on #694
@kroitor, soooo, there's even a reward for making the market? Wow...
Thanks for the clarification @kroitor, @beevabeeva.

[2017-11-30 12:33] kroitor commented on #694
@orkenstein a difference of maker and taker can really make up to 50% of your profit in a serious trading operation. Say, if your trading profit is $10k and the fee difference adds up to $5k, I guess, you will be interested in learning everything about it.

[2017-11-30 12:38] orkenstein commented on #694
@kroitor, fees are in range of 0.01% -0.1% usually, not sure about such a dramatic difference...  🤔

[2017-11-30 12:40] kroitor commented on #694
@orkenstein if your profit is 0.5% and the fee is 0.1%, that is 20% of you profit, don't know if it doesn't make a difference to you, but it usually does for most of the traders.

[2017-11-30 12:42] orkenstein commented on #694
@kroitor don't trade that much yet :)

[2017-11-30 12:42] kroitor commented on #694
@orkenstein the point is: you will never trade that much if you don't account for the above. So, if you wish to trade that much some day, you have to consider this very carefully.

[2017-11-30 16:54] kroitor commented on #406
Tried this JavaScript code and it worked. So this is most likely a Python dict-ordering problem. Almost done fixing it.

[code]

[2017-11-30 17:22] kroitor commented on #406
Also, tried this Python example... and... it worked for me.

[code]

<img width="369" alt="screen shot 2017-11-30 at 20 19 29" src="https://user-images.githubusercontent.com/1294454/33444613-d1bc97be-d60b-11e7-96b0-f40dd0f41762.png">

Are you sure, your keys are ok?