[2020-07-20 18:04] kroitor commented on #7316
@scoriiu what's your **runtime version** of CCXT?

[code]

?

It has been addressed here: https://github.com/ccxt/ccxt/issues/7285

[2020-07-20 18:06] scoriiu commented on #7316
1.31.61

[2020-07-20 18:06] kroitor commented on #7316
@scoriiu must be a bug, hold on, the fix is coming.

[2020-07-20 18:08] #7316 closed

[2020-07-20 18:08] scoriiu commented on #7316
Cool. The fix would be to cast `qty` to `int` and `price` to `float`

[2020-07-20 18:12] scoriiu commented on #7316
@kroitor Your fix above doesn't suffice. `price` needs to be casted as well.

[2020-07-20 18:14] kroitor commented on #7316
@scoriiu yep, i know, it's just a bit more involved with linear vs inverse bybit futures. I've uploaded the second commit, should be ok as of version 1.31.62+, let me know if you still have difficulties with it after upgrading. Thx for reporting it!

[2020-07-20 18:15] kroitor commented on #7316
@scoriiu P.S. the new build will arrive in ~15 minutes.

[2020-07-20 18:17] scoriiu commented on #7316
@kroitor Thanks a lot, that was quick. Great work!

[2020-07-20 21:16] cadmufasa commented on #7315
Thanks for the response.

There are a number of errors like:
**ccxt.base.errors.ExchangeError: binance {"code":-3005,"msg":"Transferring out not allowed. Transfer out amount exceeds max amount."}**

above (they fall under **ccxt.ExchangeError**). I was using the **ccxt.ExchangeError** as a type of catch all for errors that one could not recover from.

I was hoping that there was a way to handle er

[2020-07-21 05:31] xmatthias opened #7317 "bittrex v3 fetch_ohlcv broken when supplying "since" for longer timeframes"
- OS: linux
- Programming Language version: python
- CCXT version: 1.31.62

When fetching candles from bittrex, requests fail with
`ExchangeNotAvailable: GET https://api.bittrex.com/v3/markets/ETH-USDT/candles/DAY_1/historical/2020/7/19 400 Bad Request {"code":"INVALID_DATE"}`.

[code]

Now the problem seems to be "described" in the [changelog](https://bittrex.github.io/api/v3):

The description o

[2020-07-21 10:07] npomfret commented on #7310
Ah, sorry - I should have explained.  I use both v1 and v2 in my app, and I call `amountToPrecision` before sending any values to ccxt (so that ccxt doesn't change anything that I pass in).

In this case, the exchange is changing the amount on their side.  And the reason that's happening is because ccxt's `amountToPrecision` function isn't formatting the amount to the precision that the exchange r

[2020-07-21 10:11] kroitor commented on #7310
@npomfret yep, I understood, and I will try to add a workaround asap. The problem is that Bitfinex did not define the amount precision in their API docs: https://docs.bitfinex.com/docs#price-precision – only price formatting is mentioned there, assuming that the amount is not altered. I am investigating and will fix it soon, hopefully.

[2020-07-21 10:15] npomfret commented on #7310
Ah I see, so the bitfinex2 value for amount precision is just wrong, it should be undefined?

[2020-07-21 10:17] kroitor commented on #7310
@npomfret nope, if they cut it down to 8 decimals, it probably has to be defined as `8`. We might have to either hardcode it or fetch it from somewhere. I am looking into it and will get back to you as soon as I can. Thx!

[2020-07-21 10:59] npomfret commented on #7310
Why is the value of `5` being ignored in bitfinex2?  Is that just a bug?

[2020-07-21 11:02] kroitor commented on #7310
@npomfret nope, it's not a bug, it's just because they apply the SIGNIFICANT_DIGITS rounding mode to prices, and not to amounts. This is why we had to add an override for `amountToPrecision` in bitfinex.js (inherited from there in bitfinex2.js):

- https://github.com/ccxt/ccxt/blob/master/js/bitfinex.js#L537

[2020-07-21 12:56] gavin369 opened #7319 "okex SWAP fetchOpenOrders and cancelOrder issue"
Use version1.31.61

[code]

Spot is OK, not SWAP，Returns the following error。

`TypeError: this[method] is not a function
    at okex.cancelOrder (index.js:85943)
    at async main (eval at _callee3$ (selector.js?type=script&index=0!./src/components/component/localbot.vue:NaN), <anonymous>:487:5)`

[2020-07-21 13:00] kroitor commented on #7319
@gavin369 I'll look into it and will fix shortly. Thx for reporting!

[2020-07-21 13:33] #7312 closed

[2020-07-21 13:34] kroitor commented on #7312
@ggecy please, see this example:

- https://github.com/ccxt/ccxt/blob/master/examples/js/shared-load-markets.js

[code]

Let us know if that does not answer your question.

[2020-07-21 13:38] kroitor commented on #7319
@gavin369 a quick question, how do you initialize the exchange?

[2020-07-21 13:45] ggecy commented on #7312
Thanks, I will try it and let you know.

[2020-07-21 13:54] #7319 closed

[2020-07-21 13:55] kroitor commented on #7319
This should work fine in CCXT as of version 1.31.64+, the new build will arrive in 15 minutes. Let us know if you have further difficulties with it after upgrading to the most recent version. Thx for the feedback!

[2020-07-21 14:43] JanssensKobe opened #7320 "Is it possible to see the release of a specific market? (question)"
Is it possible to see the release of a specific market?

Example:
[code]
Expected response:
[code]

[2020-07-21 14:45] kroitor commented on #7320
If the exchange provides it, you can get that from the `info`:

- https://github.com/ccxt/ccxt/wiki/Manual#market-structure

However, this is not unified yet.
Let us know if that does not answer your question.

[2020-07-21 14:45] #7320 closed

[2020-07-21 14:47] JanssensKobe commented on #7320
@kroitor Does binance provides it?

[2020-07-21 14:50] kroitor commented on #7320
@JanssensKobe you can look into the market structure to find that out, afaik, Binance does not provide it.

[code]

[2020-07-21 14:57] An-Net commented on #2392
The exchange does not work anymore.

[2020-07-21 14:59] #2392 closed

[2020-07-21 15:09] An-Net commented on #2393
Shutdown since 23 November 2020

- https://medium.com/ercdex/halting-utility-token-trading-and-preparing-for-the-next-chapter-3ee954734716

![Снимок экрана 2020-07-21 в 18 06 14](https://user-images.githubusercontent.com/51840849/88071910-157bb200-cb7d-11ea-9cb8-c6f78fb5c46c.png)

[2020-07-21 15:11] #2393 closed

[2020-07-21 18:44] ggecy commented on #7312
It's working fine, thanks.

[2020-07-21 19:08] kroitor commented on #7312
@ggecy thx for the feedback!

[2020-07-21 21:13] frosty00 commented on #7315
Yeah we would need to add the proper error handling for those errors

[2020-07-21 22:48] kroitor commented on #7315
@cadmufasa can you please always follow the guidelines precisely, namely, paste your verbose request/response as described here:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[code]

↑ This snippet with the `exchange.verbose` flag will output two pieces at the very least:
- the verbose request
- the verbose response

Regardless of the issue you might have we always need bo

[2020-07-21 23:21] #7315 closed

[2020-07-22 01:51] kroitor commented on #7310
@npomfret i've opened a ticket with Bitfinex API support in order to confirm the undocumented rounding of amounts to 8 decimals. Will report back to you as soon as they reply. If our assumptions are correct, we will either obtain this setting from the API somehow, or will hardcode 8 decimals and will reimplement the `amountToPrecision` for it.

[2020-07-22 09:25] takei0723 opened #7329 "binance futures v2 support"
I hope ccxt will support binance futures v2 methods.

"GET /fapi/v2/positionRisk"
"GET /fapi/v2/account"
"GET /fapi/v2/balance"

Thank you.

[2020-07-22 10:14] kroitor commented on #7310
[code]

@npomfret going to hardcode that shortly.

[2020-07-22 11:35] An-Net commented on #3682
Shutdown

- http://thecoin.pw/

![Снимок экрана 2020-07-22 в 14 34 17](https://user-images.githubusercontent.com/51840849/88171696-77452600-cc28-11ea-83e9-1414acf0f96a.png)

[2020-07-22 11:57] An-Net commented on #3724
The exchange website is not available anymore.

- https://www.cryptowisser.com/exchange/ooobtc/?lang=ru

[2020-07-22 12:00] #3724 closed

[2020-07-22 13:17] An-Net commented on #3926
It's dead:

- https://news.bitcoin.com/thai-cryptocurrency-exchange-sec-orders-shutdown/

- https://twitter.com/CoinAssetX/status/1085557824246042624

![Снимок экрана 2020-07-22 в 16 14 06](https://user-images.githubusercontent.com/51840849/88180705-72876e80-cc36-11ea-8ea3-4d60254f796c.png)

[2020-07-22 13:26] #3926 closed

[2020-07-22 13:28] #3682 closed

[2020-07-22 13:48] An-Net commented on #3833
The exchange has been inactive since 2019.

[2020-07-22 13:50] #3833 closed

[2020-07-22 14:25] YuriyTigiev opened #7330 "Incorrect precious - Binance (ETH/BTC)"
Hello,

The function await exchange.fetchTrades(symbol = 'ETH/BTC', params={'fromId': '160063816'}, limit = 1) returns incorrect precision (9 digits instead of 8) for the field cost for the pair ['ETH/BTC']

CCXT 1.31.49
OS Windows 10
Visual Studio 2019 + Python 3.8

![image](https://user-images.githubusercontent.com/22752322/88187539-b33bb380-cc47-11ea-822b-589f6d2fc396.png)

[2020-07-22 14:34] kroitor commented on #7330
What does the Binance website say about the cost of that trade?

I mean, 0.024 = 0.024939 = 0.000598536 ← mathematically it's correct.

[2020-07-22 14:35] kroitor commented on #7330
(Also, please always post test as text, don't post screenshots of text, always follow the guidelines from the FAQ as closely as you possibly can: https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help)

[2020-07-22 14:39] kroitor commented on #7330
The `cost` of a trade is just a product of the `price` and `amount`. It is calculated on the client side, unless the exchange specified it for the trade (and they rarely specify it for public trades). There's no indication on the precision of the cost in Binance API docs, so that value looks arithmetically correct.

Let me know if that does not answer your question.

[2020-07-22 14:39] #7330 closed

[2020-07-22 17:22] YuriyTigiev commented on #7330
You are not rounding the cost. Right?

[code]

[code]

[2020-07-22 20:42] cadmufasa commented on #7315
OK, will follow guidelines

[2020-07-23 05:28] kroitor commented on #7330
That's right:

- https://github.com/ccxt/ccxt/blob/master/python/ccxt/async_support/binance.py#L961

[2020-07-23 10:08] An-Net commented on #4412
The exchange went into hibernation. They're focused on the FX branch of their operations.

- https://medium.com/@trade.io/dear-tionauts-2bb57d535747

[2020-07-23 10:09] #4412 closed

[2020-07-23 10:51] theantiqa opened #7337 "Bitmex Invalid orderQty issue."
Account Balance : {'info': [{'account': 1561781, 'currency': 'XBt', 'riskLimit': 1000000000000, 'prevState': '', 'state': '', 'action': '', 'amount': 110000, 'pendingCredit': 0, 'pendingDebit': 0, 'confirmedDebit': 0, 'prevRealisedPnl': 0, 'prevUnrealisedPnl': 0, 'grossComm': 0, 'grossOpenCost': 0, 'grossOpenPremium': 0, 'grossExecCost': 0, 'grossMarkValue': 0, 'riskValue': 0, 'taxableMargin': 0,

[2020-07-23 10:53] kroitor commented on #7337
Please, follow the guidelines precisely:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

We need your verbose request/response for `createOrder` as explained above. Also, always use [GitHub markdown](https://guides.github.com/features/mastering-markdown/) for readability and padding, surround your code and/or output with triple backticks (&#096;&#096;&#096;), like shown belo

[2020-07-23 11:03] theantiqa commented on #7337
i have btc balance 0.0011

code for place order for 0.0002 amount.
''' market_order = exchange.create_order("XBTU20", "market","sell", 0.0002) '''

Output :
''' bitmex {"error":{"message":"Invalid orderQty","name":"ValidationError"}} '''

[2020-07-23 11:31] kroitor commented on #7337
@theantiqa oh man... when we say _"follow precisely"_, we really mean it. That means you should read very carefully what is written by that link I've posted above, if you want to get the help quickly. Have you read it? Because if you did, and you want this issue to be resolved quickly, you want to follow it pedantically, literally to a word. That link says that you should always paste your version

[2020-07-23 11:31] #7337 closed

[2020-07-23 11:38] kroitor commented on #7337
P.S. I highly recommend to read the entire Manual from top to bottom very carefully – it will save you a lot of time, many of the questions are already answered there:

- https://github.com/ccxt/ccxt/wiki/Manual

[2020-07-23 11:48] theantiqa commented on #7337
''' {'percentage': True, 'precision': {'amount': 1.0, 'price': 0.5}, 'limits': {'amount': {'min': None, 'max': None}, 'price': {'min': 0.5, 'max': 1000000.0}, 'cost': {'min': 1.0, 'max': 10000000.0}}, 'id': 'XBTU20', 'symbol': 'XBTU20', 'base': 'BTC', 'quote': 'USD', 'baseId': 'XBT', 'quoteId': 'USD', 'active': True, 'taker': 0.00075, 'maker': -0.00025, 'type': 'future', 'spot': False, 'swap': Fal

[2020-07-23 11:49] kroitor commented on #7337
Read the Manual, and don't confuse `limits` with `precision`:

- https://github.com/ccxt/ccxt/wiki/Manual#market-structure
- https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

[2020-07-23 11:51] kroitor commented on #7337
@theantiqa also, once again, don't confuse triple backticks (&#096;&#096;&#096;) with the quotes (`'''`) – those are different characters.

[2020-07-23 11:55] An-Net commented on #5510
The exchange is already added available in CCXT.

![Снимок экрана 2020-07-23 в 14 54 30](https://user-images.githubusercontent.com/51840849/88283626-737ed580-ccf4-11ea-8826-4eb1af066875.png)

[2020-07-23 11:57] #5510 closed

[2020-07-23 12:59] An-Net commented on #6298
Shutdown since 31 July 2020

![Снимок экрана 2020-07-23 в 15 56 56](https://user-images.githubusercontent.com/51840849/88289017-44b92d00-ccfd-11ea-8071-2ed20adba0db.png)

[2020-07-23 12:59] theantiqa commented on #7337
output of  market definition :
```precision': {'amount': 1.0, 'price': 0.5}, 'limits': {'amount': {'min': None, 'max': None}```

as you can see in above result there you can see limits None. so how can i place minimum limit order?

[2020-07-23 13:08] An-Net commented on #6408
The exchange is already added available in CCXT.

[2020-07-23 13:23] moodmosaic commented on #6543
How's the CCXT Pro license works? Say I buy the beginner license, for one month. What happens after one month? I guess I can no longer pull the latest updates from the repo?

[2020-07-23 13:58] npomfret opened #7338 "[kraken] unmapped error"
When cancelling an order that's already been cancelled:

`ExchangeError: kraken {\"error\":[\"EOrder:Unknown order\"]}\n at kraken.handleErrors`

[2020-07-23 14:07] kroitor commented on #6543
@moodmosaic that's right, your software will keep working with the most recent version you have by the time your license expires, however, you won't be able to get newer updates and the following versions.

[2020-07-23 14:11] #6408 closed

[2020-07-23 14:11] #6298 closed

[2020-07-23 14:18] kroitor commented on #7337
When min limit is not defined by the exchange, you can place any amount that satisfies the precision, as documented in the CCXT Manual or precision and limits. Thus, the smallest order in this case is defined by the precision step for amounts (1 contract).

You can see that from the `info` as described in the CCXT Manual on market structures.

See the example here:

- https://github.com/ccxt/ccxt/

[2020-07-23 14:30] moodmosaic commented on #6543
@kroitor, sounds great, thank you.

[2020-07-23 14:52] An-Net commented on #1579
This exchange does not work anymore.

[2020-07-23 14:53] #1579 closed

[2020-07-23 15:04] An-Net commented on #6757
Duplicate #1613

[2020-07-23 15:06] #6757 closed

[2020-07-23 15:49] An-Net commented on #1618
The website doesn't work anymore.

[2020-07-23 15:51] #1618 closed

[2020-07-23 16:05] An-Net commented on #1578
The website doesn't work anymore.

[2020-07-23 16:10] #1578 closed

[2020-07-23 17:14] #7338 closed

[2020-07-23 17:30] kroitor commented on #6468
Currency.com has been merged in CCXT.

[2020-07-23 17:30] #6468 closed

[2020-07-23 18:43] kroitor commented on #7296
@npomfret this table still shows the old fees however: https://www.liquid.com/fees/
Can you share the link to the source of the info?

[2020-07-23 21:36] Colman opened #7342 "Use a listener for watch methods instead of promises"
- OS: Windows 7
- Programming Language version: node 12.14.1
- CCXT version: 0.2.99

Hi I'm trying to create a subscribe/unsubscribe service for the watch methods and I'm running into trouble. The behavior I'm looking for is the following:

[code]

This works fine for the most part except when you unsubscribe and then subscribe right after. The problem is that watchTicker only sends the initial sn

[2020-07-23 21:48] kroitor commented on #7342
Hi! The unsubscribe functionality is in the works and it will arrive asap.

However, in your case, you can solve it by using the _"throttling"_ mode with the _"real-time"_ mode. Both of them are described in the Manual:

- https://github.com/ccxt/ccxt/wiki/ccxt.pro.manual#real-time-vs-throttling

If the "throttling" mode of operation you would execute `await exchange.watchTicker` once and then use

[2020-07-23 21:48] #7342 closed

[2020-07-23 23:19] Colman commented on #7342
Yeah that sort of solves it but the problem with that solution is that the higher the sleep time, the longer it takes to get the initial snapshot. And for my implementation it needs to be sent asap. And if the sleep time is lowered then you'll eventually be getting twice as many updates as you need which is also a problem. I know timelines for features is super hard to predict but do you have any

[2020-07-23 23:21] kroitor commented on #7342
@Colman we hope to get it done within weeks. We are aware that it's a wanted feature.

[2020-07-24 04:41] TusharDcs commented on #7337
Market data for symbol XBTU20.

Output :

``{'percentage': True, 'precision': {'amount': 1.0, 'price': 0.5}, 'limits': {'amount': {'min': None, 'max': None}, 'price': {'min': 0.5, 'max': 1000000.0}, 'cost': {'min': 1.0, 'max': 10000000.0}}, 'id': 'XBTU20', 'symbol': 'XBTU20', 'base': 'BTC', 'quote': 'USD', 'baseId': 'XBT', 'quoteId': 'USD', 'active': True, 'taker': 0.00075, 'maker': -0.00025, 'typ

[2020-07-24 09:34] kroitor commented on #7337
@TusharDcs i've asked BitMEX about it and here's the answer from their tech support:

----------------------------------

As you can see from the above answer, that value is rounded according to user settings, those settings are user-specific and the rounding decimals are hardcoded in the BitMEX UI. The units are described here: https://en.bitcoin.it/wiki/Units

Thus, if you want to calculate 0.00

[2020-07-24 10:18] npomfret commented on #7296
They sent me an email

[2020-07-24 10:19] npomfret commented on #7296
Their website looks a bit strange, why are maker fees lowest (05) for users with no trading volume?

[2020-07-24 10:20] kroitor commented on #7296
@npomfret can you ask them about it?

Because it contradicts to their own webpage on fees...

Yes, I also found that very weird...

[2020-07-24 10:32] npomfret commented on #7296
will do

[2020-07-24 10:47] kroitor commented on #7337
@TusharDcs alternatively:

- https://github.com/ccxt/ccxt/blob/master/examples/py/bitmex-order-value.py

-----------------------

[code]

[2020-07-24 17:03] codemonkeyno1 opened #7347 "Kraken post only orders"
- OS: Linux
- Programming Language version: Python 3
- CCXT version: 1.31.92

I am trying to send post-only limit orders using ccxt, but getting errors.  According to the Kraken API docs in https://www.kraken.com/features/api#add-standard-order , the correct use is to use 'post' as an 'oflags' parameter.

I am trying this in ccxt:
kraken.create_order(symbol='XRP/USD',type='limit',side='buy',amount

[2020-07-24 17:07] #7347 closed

[2020-07-24 17:08] codemonkeyno1 commented on #7347
Sorry, I misread.  The second method worked properly.

[2020-07-25 06:22] yuyasugano opened #7352 "fetch_ohlcv does not return sufficient number of limit for liquid exchange."
- OS: Ubuntu 16.04
- Programming Language version: Python3.7.3
- CCXT version: 1.31.75

[code]

This symptom has been seen for liquid exchange but not for others such as bitmex. When I called fetch_ohlcv function, it did not return the sufficient candles. The function returns a few items in the list sometime randomly. The number of items do not match the limit and mostly 1 or 2 items are returned.

[2020-07-25 10:18] ndubel opened #7353 "Eterbase createOrder problem with precision"
- Programming Language version: JS
- CCXT version: 1.31.95
- Method: createOrder()

I want to create limit order on Eterbase, for example, ALEPH/BTC (happens on other pairs also), amount100, price 0.00003399. Exchange has price precision 8 for this pair (https://eterbase.exchange/markets/ALEPHBTC). So:

`await exchange.createOrder (pair, 'limit', 'buy', 100, 0.00003399)`

[code]

So the order come

[2020-07-25 10:22] #7353 closed

[2020-07-25 10:23] kroitor commented on #7353
@ndubel thx for reporting! I've switched the precisionMode for it to SIGNIFICANT_DIGITS, the new build will arrive in 15 minutes, let me know if you still have issues with it after upgrading CCXT to version 1.31.96.

[2020-07-25 22:50] MiningAmazing opened #7358 "AttributeError: module 'ccxt' has no attribute 'allcoin' error message"
Hi, let me know if I I'm reporting the issue in a wrong way, I've read it, I think this is the way, but I'm a newbie.

When checking the version I have, I see that it's not the latest, I Have 1.32.2, but I can't download version 1.32.3, and following the instructions to install it, it's not downloading the last. However, I don't know if that's the reason of the problem.

- OS: Windows 10 Pro V 200

[2020-07-25 22:53] kroitor commented on #7358
Duplicate:

- https://github.com/ccxt/ccxt/issues/6249

Let us know if the above does not answer the question.

[2020-07-25 22:53] #7358 closed

[2020-07-25 23:14] MiningAmazing commented on #7358
FYI, in the end worked with this list:

`exchanges = ["Binance", "Bitfinex", "Bittrex", "Cex","Exmo", "Hitbtc","Huobipro", "Kraken", "Kucoin", "Livecoin", "Okex", "Poloniex","Southxchange", "Yobit"]`

I know there are more, but I need to find a way to add all of them without defining them before, maybe there's no need to do it? Anyway, there's no reason to answer yet, I didn't search for an answer

[2020-07-25 23:31] kroitor commented on #7358
[code]

[2020-07-26 02:22] yazhoushi commented on #6697
每天都来看一下！ccxt合约什么时候可以上线啊？

[2020-07-26 02:34] kroitor commented on #6697
@yazhoushi we hope to get it unified soon, a lot has been done in that direction already, however, I can't tell the ETA yet.

[2020-07-26 08:27] npomfret opened #7362 "[kraken] unmapped error EOrder:Order minimum not met"
`ExchangeError: kraken {\"error\":[\"EOrder:Order minimum not met\"]}`

[2020-07-26 13:27] #7362 closed

[2020-07-26 17:11] Rishirandhawa opened #7365 "Issue with exchange.fetch_balance() on Binance Futures"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/FAQ
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: macO

[2020-07-26 17:15] kroitor commented on #7365
@Rishirandhawa

Do not overwrite all the options, instead insert into that dict:

[code]

Let us know if that does not answer your question.

[2020-07-26 17:15] #7365 closed

[2020-07-26 17:37] Rishirandhawa commented on #7365
Perfect! Thanks a lot for a quick response

[2020-07-26 19:19] mapapuche opened #7366 "Kucoin fetch order book"
Hello,

i am looking to migrate my code to this new plugin who look like amazing.

But i have some trouble, maybe i use it badly ?

I init kucoin class like this:
`exchange_class = getattr(ccxt, 'kucoin')`

I want to do : `kucoin_order_book = kucoin.fetch_order_book('PIVX')`

But i go this error : `ccxt.base.errors.BadSymbol: kucoin does not have market symbol PIVX`

Kucoin has PIVX on his platefo

[2020-07-26 19:25] kroitor commented on #7366
Hi! To use CCXT efficiently, I'd highly recommend to read the entire Manual from top to bottom, because your question is answered there, so it will save your time, really:

- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids

[code]

[2020-07-26 19:25] frosty00 commented on #7366
`PIVX` is not a symbol, it is a currency code. To fetch the orderbook of `PIVX/BTC` you would have to do

[code]

or

[code]

[2020-07-26 19:25] #7366 closed

[2020-07-26 19:27] mapapuche commented on #7366
Thank you. Indeed i'll take some time to read it first

[2020-07-26 23:44] noahfigueras commented on #7151
Hi there,

Is this issue already solved ? I keep getting the same INVALID_DATE error.

Thanks!

[2020-07-26 23:46] kroitor commented on #7151
@noahfigueras hi! If you mean fetchOHLCV – that's a different issue: https://github.com/ccxt/ccxt/issues/7317
We will fix it within a day or two.

[2020-07-27 07:18] TusharDcs opened #7367 "bitmex leverage order."
Hi,

how can i place bitmex leverage order. can you write code for it?
Example : want to place leverage order for 10x of quantity 10 USD.  that means it will use only 1$ margin of my balance.  if you don't understand what i said then look into video(https://www.youtube.com/watch?v=hNu6usVzkvY). and start from 8:23 min.

**please write code for leverage order with market, limit ,stop limit, take pr

[2020-07-27 08:56] npomfret opened #7368 "[btcmarkets] cannot format a price for 'XRP/BTC' market"
const exchangeId = 'btcmarkets';
        const exchange = new ccxt[exchangeId]();
        await exchange.loadMarkets();

        console.log(exchange.priceToPrecision('XRP/BTC', 0.000002));

Produces: 0

            "XRP/BTC": {
                "limits": {
                    "amount": {
                        "min": 0.001
                    },
                    "price": {},

[2020-07-27 09:05] npomfret commented on #7368
Price and amount metadata is available here: https://api.btcmarkets.net/v3/markets

[2020-07-27 09:29] ChenLi0830 commented on #5646
Hey @kroitor - any updates on this?

[2020-07-27 09:47] npomfret commented on #7368
https://github.com/ccxt/ccxt/pull/7369

[2020-07-27 10:59] kroitor commented on #7314
Hi!

Please, read this issue and let us know if it does not answer your questions:

- https://github.com/ccxt/ccxt/issues/7000
- https://github.com/ccxt/ccxt/issues/7000#issuecomment-646566288

Feel free to reopen it or just ask further questions if any.

[2020-07-27 10:59] #7314 closed

[2020-07-27 11:37] kroitor commented on #7367
Hi!

This question has been answered already, let us know if the following does not answer your question:

- https://github.com/ccxt/ccxt/blob/master/examples/py/bitmex-create-order.py
- https://github.com/ccxt/ccxt/issues/2499#issuecomment-514820304
- https://github.com/ccxt/ccxt/issues/6399#issuecomment-577304202
- https://github.com/ccxt/ccxt/issues/4900#issuecomment-478237122
- https://github.

[2020-07-27 11:37] #7367 closed

[2020-07-27 13:07] npomfret commented on #7296
From liquid:

Don't have an answer on the fees changing.

[2020-07-27 13:12] TusharDcs commented on #7367
![image](https://user-images.githubusercontent.com/68111937/88545598-d21bba80-d038-11ea-9920-dcf743e1985d.png)
can we have Reduce Only option in create Limit order in bitmex.

Thanks

[2020-07-27 13:36] kroitor commented on #7367
Yes, it is documented in the CCXT Manual and in BitMEX API docs:

- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params
- https://www.bitmex.com/api/explorer/#!/Order/Order_new

For example:
[code]

[2020-07-27 17:27] #7368 closed

[2020-07-28 03:35] TusharDcs commented on #7367
Thanks

[2020-07-28 05:10] TusharDcs commented on #7367
Hi,

can we have socket api for bitmex so that can i get continuous update of order status which i have placed.
like, if any action on order occur i will get event from socket so i can get next action on that event.

Thanks

[2020-07-28 07:19] imdgr886 opened #7374 "Why must exactly 2 trades? A order has more than one trades!"
https://github.com/ccxt/ccxt/blob/a249d59f9d4fc89338fef32f5322ba8f71387223/js/okex.js#L2717

[2020-07-28 13:26] kroitor commented on #7374
@imdgr886 that code is not for parsing orders. It is used for parsing the ledger entries. Each trade in the ledger is represented by 2 sides, the buyer and the seller side. Hope that answers your question.

[2020-07-28 13:26] #7374 closed

[2020-07-28 13:48] kroitor commented on #7367
@TusharDcs the WS APIs are added in CCXT Pro, however, the private APIs there are still a work in progress.

- https://ccxt.pro/
- https://github.com/ccxt/ccxt/issues/6543

[2020-07-28 13:51] SqueezedLight commented on #7298
Any update on this one? Can i help somehow?

[2020-07-28 13:57] kroitor commented on #7298
@SqueezedLight can you plz paste your pagination code? In CCXT orders and trades are sorted in chronological order by creation timestamp, therefore this `newTrades = newTrades.sort((a, b) => a.timestamp - b.timestamp);` won't help.

[2020-07-28 14:05] SqueezedLight opened #7375 "Coinbase Symbol"
- OS: Ubuntu
- Programming Language version: JavaScript
- CCXT version: 1.31.46

Hi guys,
for coinbase ccxt returns symbols like `USD/ETH` for both, buys & sells. But the correct one would be `ETH/USD`, or am i missing something? See line `475` and before... https://github.com/ccxt/ccxt/blob/master/js/coinbase.js#L475

Thanks for your support!

[2020-07-28 14:09] kroitor commented on #7375
Hi! Coinbase isn't an exchange in itself, it's more like a wallet service that has been added on request by the users. Coinbase allows you to buy and sell in a simplified mode, however, the support for it is not complete. Therefore it differs from Coinbase Pro and other true exchanges supported in CCXT.

We usually don't switch sides on a symbol. Instead, we should switch the `cost`, the `price` a

[2020-07-28 14:11] kroitor commented on #7375
P.S. we always ask for the verbose output as explained here:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2020-07-28 14:44] Princeton007 opened #7376 "exchange.fetch_ohlcv seem to return values of another pair instead of BTC/USD"
- OS: Windows 10
- Programming Language version: Python 3.7.7
- CCXT version: 1.32.12

[code]
Output:
[code]
So far it seems to work but:
The BTC/USD price is around 10k more or less, but the returned OHLCV seem to belong to another pair.
Am I doing somethign wrong?

Doing the same with Kraken returns
[code]

[2020-07-28 14:50] kroitor commented on #7376
Yes, you're using old data. You may want to use BTC/USDT instead.

[code]

In verbose mode you can verify that CCXT does not change those values, what you see is what you get from the exchange directly. Always use the verbose mode as documented in the troubleshooting section in Manual.

Check the timestamp of each candle.

And apply the pagination as documented in the Manual if you want a specific

[2020-07-28 14:51] #7376 closed

[2020-07-28 14:57] Princeton007 commented on #7376
@kroitor thanks for the super-fast answer again. Obviously Limit=2 returns the first 2 bars, not the last two as I thought it would. I just figured it out, the BTC price was so low at that time.

[code]

Do you have a good suggestion how to catch only the last bar's close in an easy way, or do I have to use the "since" parameter?

[2020-07-28 15:15] SqueezedLight commented on #7375
Hi @kroitor here the request/response objects. Let me know if anything is missing.

[code]

[2020-07-28 15:16] kroitor commented on #7376
Yes, that is documented in the Manual, if you want a specific range, you should apply pagination with the `since` argument.

[2020-07-28 15:19] kroitor commented on #7375
@SqueezedLight can you plz also post the code you use and the unified output you get from CCXT?

[2020-07-28 15:21] Princeton007 commented on #7376
OK thanks, maybe soleone else needs it so I post what I've done.
This is maybe not the smartest way yet but it works:

[code]

[2020-07-28 15:35] fonzmeister opened #7377 "Bybit exchange error conditional orders"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/FAQ
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: ubun

[2020-07-28 15:38] SqueezedLight commented on #7375
Sure.
[code]

Leads to the unified ccxt output:
[code]

[code]

[2020-07-28 15:52] SqueezedLight commented on #7375
@kroitor ok, i updated both the request/response pairs and the unified ccxt output.

[2020-07-28 16:10] kroitor commented on #7375
@SqueezedLight thx, i'll check that and will get back to you asap, those symbols may be reversed in this case. Which is why I'd recommend to use Coinbase Pro instead of Coinbase. But, anyways, we will fix Coinbase as well.

[2020-07-28 16:57] npomfret opened #7378 "[yobit] missing error mapping"
`"ExchangeError: yobit {\"success\":0,\"error\":\"Rate Limited (bad bot detected)\"}`

naughty me

[2020-07-28 16:59] npomfret opened #7379 "[dsx] missing error mapping"
`"ExchangeError: dsx {\n \"success\" : 0,\n \"error\" : \"Order was rejected. Incorrect volume.\"\n}`

[2020-07-28 17:02] #7378 closed

[2020-07-28 17:04] kroitor commented on #7377
@fonzmeister two questions:

1. Does fetchBalance work for you?
2. Does a non-conditional `createOrder` work on your side?

[2020-07-28 17:16] #7379 closed

[2020-07-28 17:33] fonzmeister commented on #7377
1. FetchBalance works
[code]

2. bybit.createOrder('BTC/USD', 'market', 'buy', 1, None) works as well

[code]

[2020-07-28 19:34] #7317 closed

[2020-07-28 19:50] #7270 closed

[2020-07-28 20:00] SqueezedLight commented on #7298
@kroitor you are right. But sorting by timestamp doesn't return the same order of objects in my case (which should indeed be the case?!). I have to debug a little more and come back to you asap with some examples.

[2020-07-28 20:06] kroitor commented on #7298
@SqueezedLight

We have to be precise with terms, because in this case more than one type of timestamp is involved. When you say _"timestamp"_, please always specify which timestamp you mean.

CCXT will sort by `timestamp`, which is equal to the order placement timestamp.
So, you should sort the results from CCXT by `['info']['closedAt']` if you want to paginate by `closedAt`.

[2020-07-28 20:32] SqueezedLight commented on #7298
In this case i'm talking about the `timestamp` of the unified ccxt object. This should correspondent to the `createdAt` field of the response from the exchange if i'm not mistaken. So i think we are talking about the same timestamp. What i tried to say before is, that it's kind of odd, that sorting the unified ccxt object by the field timestamp (aka 'createdAt') leads to a different order than wha

[2020-07-28 20:41] kroitor commented on #7298
@SqueezedLight

Are you sure about that?

[code]

[2020-07-28 20:53] SqueezedLight commented on #7298
Ok, thanks for the code. Yes, it looks like there is something odd going on.
This is the Bittrex raw response:
[code]

This is the unified ccxt object:
[code]

And if i take this object (which is not properly sorted by the `timestamp` field of the unified object) and sort it by `timestamp` i get:
[code]

[2020-07-28 20:57] kroitor commented on #7298
@SqueezedLight that isn't odd assuming that bittrex returns orders sorted by `closedAt`, whereas CCXT sorts them by `createdAt`. CCXT does that for two reasons:

- `fetchMyTrades` is emulated from fetchClosedOrders, because Bittrex does not have a true fetchMyTrades endpoint yet. This is documented in the Manual here: https://github.com/ccxt/ccxt/wiki/Manual#exchange-metadata
- CCXT returns orders

[2020-07-28 21:31] SqueezedLight commented on #7298
Yes, I see all your valid points.

But beside that - don't you find it odd that in this case my workaround:
[code]
fixes it - **although we both agreed before that this should not change anything (because ccxt returns a unified object that is ALWAYS sorted by timestamp aka createdAt)**. This was the whole point of your code example. And as we can see above it is not sorted that way...

[2020-07-28 21:34] kroitor commented on #7298
@SqueezedLight what does [that example](https://github.com/ccxt/ccxt/issues/7298#issuecomment-665277195) output on your side?

[2020-07-28 21:42] kroitor commented on #7298
@SqueezedLight exactly, that's my point: `a.timestamp - b.timestamp` isn't a correct way of sorting. If you debug your code in step-by-step mode and compare to the following snippet:

[code]

`a.timestamp - b.timestamp` should be replaced with `b.timestamp - a.timestamp` if you want ascending order.

Does that answer your question?

[2020-07-28 22:02] kroitor commented on #7298
@SqueezedLight actually, i've looked into bittrex.js and it returns those results sorted by the `lastTradeTimestamp` that is equal to `closedAt` here:
- https://github.com/ccxt/ccxt/blob/master/js/bittrex.js#L1303
I'll add a fix for that shortly. Thx!

[2020-07-28 22:02] SqueezedLight commented on #7298
I'm not really sure what i can say anymore :D :D
The example from above -> this time just the timestamps of the unified ccxt object (datetime because it is easier to see the order):
[code]

In your opinion it is correct that it starts with `2017-08-29` goes on to `2017-08-20`(earlier date) and than the last one `2017-10-20` (with is after both other dates)?
Someone of us is missing something - and

[2020-07-28 22:03] SqueezedLight commented on #7298
@kroitor perfect! Thanks! I see it too now.

[2020-07-28 22:06] SqueezedLight commented on #7298
But the sorting isn't right anyway - is it??

[2020-07-28 22:07] #7298 closed

[2020-07-28 22:08] kroitor commented on #7298
@SqueezedLight plz upgrade to version 1.32.18+ (the new build will arrive in 15 minutes) and let me know if you still have issues with it.

[2020-07-29 02:30] #7243 closed

[2020-07-29 08:52] SqueezedLight commented on #7298
@kroitor thanks! That fixed the order of the objects.

[2020-07-29 11:13] lampardlb opened #7384 "binance isolated margin end points enabled"
please see: https://binance-docs.github.io/apidocs/spot/en/#change-log

2020-07-28

ISOLATED MARGIN

New parameters "isIsolated" and "symbol" added for isolated margin in the following endpoints:

POST /sapi/v1/margin/loan
POST /sapi/v1/margin/repay
New parameter "isIsolated" and new response field "isIsolated" added for isolated margin in the following endpoints:

POST /sapi/v1/margin/order
DELET

[2020-07-29 18:33] baeriswyld opened #7385 "Binance get margin open orders: ccxt.base.errors.RequestTimeout"
- OS: Ubuntu
- Programming Language version: python
- CCXT version: 1.20.48

Probably a simple bug!
Every now and then when checking open orders for the margin account on binance with:
ccxt.**sapiGetMarginOpenOrders()**

I get request timeout:
- ccxt.base.errors.RequestTimeout
- and from Binance side: {"code":-2014,"msg":"API-key format invalid."}

Any idea why sometimes my API-key format is inval

[2020-07-30 01:12] kroitor commented on #7385
@baeriswyld how do you initialize the exchange instance?

We need the code to reproduce it and your verbose request/response output, as documented in the docs:

Please, follow these guides precisely:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2020-07-30 01:15] Corfucinas commented on #7002
I kinda figured this one out a while ago, using Retry and just catch the status code on the CCXT base

[2020-07-30 01:16] #7002 closed

[2020-07-30 01:17] kroitor commented on #7002
@Corfucinas thx for reporting back!

[2020-07-30 03:06] Corfucinas commented on #7002
This is useful when you want to try once again with some sort of modification to the request (ie. wait a certain amount of time before an API call or modify an order amount etc).

https://pypi.org/project/retry/

[2020-07-30 03:07] Corfucinas commented on #7002
Sidenote @kroitor

I made a pypi package for downloading candlestick data and saving it into .csv and .sqlite for analysis

https://github.com/Corfucinas/crypto-candlesticks

[2020-07-30 08:18] lampardlb commented on #7384
Thanks for your assignment @kroitor . Can I clarify: the endpoints added near the bottom of the list will need new codes to work, right?

[2020-07-30 08:20] kroitor commented on #7384
@lampardlb yes, we will add them asap.

[2020-07-30 08:22] lampardlb commented on #7384
Thanks @kroitor , no worries - sorry I did not mean to push you!

[2020-07-30 08:51] #7384 closed

[2020-07-30 08:53] #7296 closed

[2020-07-30 10:03] baeriswyld commented on #7385
@kroitor, hi

the error arrives from time to time when doing this.

[code]

[2020-07-30 10:15] kroitor commented on #7385
@baeriswyld you're missing the rate-limiter. You should always enable it, or add a custom one, as explained in the Manual here:

- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit

Also, if you delete this exchange instance and restart the script too frequently, you will break the rate limits as well. So , the proper way of doing it is to share the exchange instance among the iterations of the

[2020-07-30 10:15] #7385 closed

[2020-07-30 10:27] alexandrebouttier opened #7388 "fetchDeposits find all the deposits of the past without limit"
Hello, does someone have a solution to be able to recover all binance deposits because they are limited to 90 days, I would like to go further in the past, I am working in javascript, thank you

[2020-07-30 11:17] alexandrebouttier opened #7389 "fetchOrders with all symbols ?"
Hello, I would like to know if anyone has a solution to get all the orders of all the symbols of the exchange, because with fetchOrders only one 1 is limited, which is not practical, I would like to get everything back, if anyone has a solution in javacript, thanks.

[2020-07-30 11:21] kroitor commented on #7389
@alexandrebouttier Binance API requires a symbol, i don't think you can workaround that.

- https://binance-docs.github.io/apidocs/spot/en/#query-order-user_data
- https://binance-docs.github.io/apidocs/futures/en/#query-order-user_data
- ...

In general, you can't get everything in one query. Some exchanges would allow you to omit the symbol, but most of them wll require a symbol. So, you will ne

[2020-07-30 11:21] #7389 closed

[2020-07-30 12:15] #7388 closed

[2020-07-30 12:15] alexandrebouttier commented on #7389
thank you for your answer, so you don't have to choose to map on all the symbols, and to do the fetchOrders, heavy but if there are no other solutions

[2020-07-30 12:17] kroitor commented on #7388
Hi!

Do the pagination as described in the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#pagination
- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params

I'd highly recommend to read the Manual from top to bottom, most of these questions are already answered there.

See this example:

- https://github.com/ccxt/ccxt/blob/master/examples/js/binance-fetch-all-deposits.js

[c

[2020-07-30 12:30] StasToken opened #7391 "Where is the code that is responsible for filters on binance? (PHP)"
Actually, this is just a question, for the sake of academic interest I wanted to see how you have implemented checking [these filters](https://binance-docs.github.io/apidocs/spot/en/#filters) But how can I not find the implementation in the code, can you tell me where to look?

[2020-07-30 12:43] baeriswyld commented on #7385
Hi thanks for this!

very helpful.

I share the exchange instance across the whole code. So it cannot be this.

I get the error even when I enable the rate limits.

Binance has a special ratelimit for OpenOrders:

2020-07-17
There is now a request limit specifically for the sapi/v1/margin/allOrders endpoint at 60 raw requests per minute for a single IP address.
https://binance-docs.github.io/apido

[2020-07-30 12:45] SqueezedLight commented on #7375
@kroitor so your proposed fix is to switch `base` and `quote` here: https://github.com/ccxt/ccxt/blob/0b4aeceff0669247dac10bd6ce0a8174b9d59028/js/coinbase.js#L475

Or is there more to change?

[2020-07-30 13:02] kroitor commented on #7385
@baeriswyld the default rateLimit for Binance is set to 500ms, that is 120 requests per minute. You can tweak it as described in the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#exchange-properties

[code]

You problem is actually caused by this limitation of the Binance API, as documented in their API docs:

![Screen-Shot-2020-07-30-at-15 47 17](https://user-images.githubusercontent.com/12

[2020-07-30 13:04] kroitor commented on #7375
@SqueezedLight not really, we can't just switch places, instead we should properly determine the base asset and the quote asset, because Coinbase API response can switch places there, depending on the side of the trade. I will have to investigate further. If you could provide more samples of the output with different trade sides and different symbols – that could help speed up the process.

[2020-07-30 13:14] kroitor commented on #7391
The filters are available in each market['info'].

The implementation is here:

- https://github.com/ccxt/ccxt/blob/master/js/binance.js#L557
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/binance.py#L570
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/async_support/binance.py#L570
- https://github.com/ccxt/ccxt/blob/master/php/binance.php#L564

Those values are unified as market pr

[2020-07-30 13:14] #7391 closed

[2020-07-30 13:16] StasToken commented on #7391
@kroitor Many thanks!

[2020-07-30 13:36] SqueezedLight commented on #7375
@kroitor ok, if i understand you correctly you would suggest a fix where in the end we still have the symbol `USD/ETH` but the appropriate `price`, `cost` and `amount` fields, right?

That leads me to the question why
https://github.com/ccxt/ccxt/blob/3a8a0ad45f097ec941c79709f36693eadf8b07ad/js/coinbase.js#L470-L471

sets the base to the `totalObject` and the quote to the `amountObject`.

The coin

[2020-07-30 13:40] kroitor commented on #7375
In the end the symbol must become ETH/USD (because we're selling and buying ETH for USD), and the amount should be the amount in ETH, while the price and cost should be the in USD.

Yep, preferably, other symbols and trade sides. That would really help a lot! Thx!

[2020-07-30 15:35] #7377 closed

[2020-07-30 15:57] kroitor commented on #7244
@viresinsat unfortunately, FTX does not have a true endpoint for `fetchTime()` so there's no clock that we could adjust to in the FTX API yet. We will add the option to adjustForTimeDifference as soon as they implement that endpoint.

[2020-07-30 15:57] #7244 closed

[2020-07-30 16:01] kostanjsek opened #7393 "import ccxt with python 2.7.17 throws error"
- OS: Ubuntu 18.04.3 LTS
- Programming Language version: Python 2.7.17
- CCXT version: ccxt==1.32.34

[code]

[code]

[2020-07-30 16:05] w0dm4n opened #7394 "Binance future MARKET order creation"
- OS: Windows 10
- Programming Language version: JS `node v12.16.3`
- CCXT version: 1.32.23

Hello, there is an issue on /fapi/v1/order (Binance future order creation),
when using defaultType 'future' `this.exchange.options.defaultType = 'future'` on the exchange class and sending a 'createOrder' request with a LIMIT type
` const order = await this.exchange.createOrder('${coin}/${market}', 'LIMIT'

[2020-07-30 16:15] kroitor commented on #7393
Python 2.7 is deprecated and is not supported since Jan 1, 2020:

- https://python3statement.org/

CCXT requires Python 3+. Let us know if that does not answer your question.

[2020-07-30 16:15] #7393 closed

[2020-07-30 16:18] kroitor commented on #7394
@w0dm4n how do you create the market order? If you specify the price there and it is not `undefined`, it will multiply amount * price. Just omit the price for a market order. Let us know if that does not help, or just post the code you use for creating market orders.

[2020-07-30 16:18] #7394 closed

[2020-07-30 16:19] kroitor commented on #7394
Duplicate:

- https://github.com/ccxt/ccxt/issues/6396
- https://github.com/ccxt/ccxt/issues/6391

[2020-07-30 16:28] w0dm4n commented on #7394
Removed the price for an undefined value according to the update and it's now working! thanks for the quick answer 👍

[2020-07-30 16:46] #7163 closed

[2020-07-30 17:22] alexandrebouttier commented on #7389
@kroitor
Good with a map on all the symbols it works, but unfortunately my ip is quickly banned.
My question is it possible to launch the request with the IP of the user and not the IP of my server, to work around this problem, because I am developing an application with MeteorJS / React to allow users to track their portfolios crypto with all exchanges, so if the request is always from the web se

[2020-07-30 17:25] kroitor commented on #7389
@alexandrebouttier how do you initialize the exchange?

[2020-07-30 17:43] alexandrebouttier commented on #7389
I get the keys back to use it then

[code]

[2020-07-30 17:46] kroitor commented on #7389
@alexandrebouttier you're having one exchange class instance per each exchange, right? Do you have more than one instance of the same exchange working in parallel?

[2020-07-30 17:50] alexandrebouttier commented on #7389
I call my getOrders method on the client side when the user and on the orders page

``import { check } from 'meteor/check';
import { Meteor } from 'meteor/meteor';
import { Orders } from './orders';
import { Apikeys } from '../apikeys/apikeys';
import { Platforms } from '../platforms/platforms';

const ccxt = require('ccxt');

Meteor.methods({
  getOrders() {
    console.log('getOrders');
    cons

[2020-07-30 18:01] kroitor commented on #7389
@alexandrebouttier ok, and which specific error do you get?  Also, do you understand how the rate-limiting works?

[2020-07-30 18:07] kroitor commented on #7389
@alexandrebouttier the rate-limiter belong to an exchange instance, so if you call your implementation of `getOrders`, it will create an exchange instance, will do a short operation (a call to fetchOrder), and then will destroy the exchange instance, effectively destroying the rate-limiter as well. If, you call `getOrders` frequently, or do something like that in parallel (create-call-destroy), th

[2020-07-30 18:18] kroitor commented on #7352
@yuyasugano this is answered and explained in the Manual and in the issues on OHLCV emulation:

- https://github.com/ccxt/ccxt/wiki/Manual#exchange-metadata
- https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-emulation

- https://github.com/ccxt/ccxt/issues/3178#issuecomment-410340912

You can see which endpoint it is calling and which data it is getting, if you go through the troubleshooting sequenc

[2020-07-30 18:18] #7352 closed

[2020-07-30 18:35] #7056 closed

[2020-07-30 18:48] kroitor commented on #7101
@eugjr let us know if you still have this issue, feel free to reopen it or just ask further questions if any.

[2020-07-30 18:48] #7101 closed

[2020-07-30 18:56] alexandrebouttier commented on #7389
Yes, that's what I'm trying to do to be able to launch all ccxt requests by the user's ip client, not fully understood to resolve this with MeteorJS knowing that the user has the possibility of having several exchanges " api keys store in db so I already know what platforms it uses

[2020-07-30 19:00] kroitor commented on #7389
@alexandrebouttier on the user side a meteor app is nothing more than just a browser app, and you can't fully communicate with all exchanges directly from the users' browsers due to CORS limitations. Only a few exchanges support CORS, while most of the exchanges don't.

- https://github.com/ccxt/ccxt/wiki/Install#cors-access-control-allow-origin
- https://en.wikipedia.org/wiki/Cross-origin_resourc

[2020-07-30 19:16] alexandrebouttier commented on #7389
Thank you to you for your help and for your commitment, I will look on my own, if I do not unfortunately find my project will serve me for personal use, really a pity that the platforms limited by ip, and not by API key, CCXT was a good solution, too bad the platforms are not open enough, I wonder which api it uses Cointracking  https://www.cointracking.info/

[2020-07-30 19:58] #7329 closed

[2020-07-31 02:06] kroitor commented on #7123
@SENSEmudley FTX has `fetchOrders` (not `fetchClosedOrders`) because the exchange API does not have an endpoint for closed orders, it returns all orders instead.

- https://github.com/ccxt/ccxt/wiki/Manual#querying-orders

Let us know if that does not answer your question. Feel free to reopen it or just ask further questions if any.

[2020-07-31 02:06] #7123 closed

[2020-07-31 02:30] #6907 closed

[2020-07-31 02:32] kroitor commented on #6524
@npomfret do you still have this issue?

[2020-07-31 10:04] baeriswyld commented on #7385
thank you @kroitor .

I did the call with the symbol added,
however, after the 4th call (symbol="BTCUSDT") i get the RequestTimeout error...

Not sure if call per symbol is really counted with cost 1.
Could this be an error on Binance side?

[code]

Output, error after the 9th call:

[code]

thank you so much for your help !!!

[2020-07-31 21:41] dhruvv90 commented on #5035
@kroitor : PR raised for this :  #7397

[2020-08-01 07:50] elisy opened #7399 "PNT symbol"
Hi guys,
while viewing code I have highlited that PNT Binance symbol does not correspond to Huobi PNT symbol
According to Conimarketcap
Binance PNT is pNetwork: https://coinmarketcap.com/currencies/pnetwork/markets
and Huobi PNT is PNT (Penta): https://coinmarketcap.com/currencies/penta/markets
In the same time Bitfinex EDO is pNetwork too.
I think  commonCurrencies should be changed in Binance an

[2020-08-01 08:01] #7399 closed

[2020-08-01 09:27] SqueezedLight commented on #7375
@kroitor i checked all available trades (fetched from the `/buys` and `sells` endpoints) and they don't provide any additional informations compared to the two trades (buy&sell) above. They all look absolutely the same. Again i'm just talking about the `/buys` and `sells` endpoints where this problem is present.

[2020-08-01 15:17] codemonkeyno1 commented on #6762
This seems to be happening in the Kraken watch orderbook stream too (bid>=ask).  For example, on ticker "BTC/USDT", it sometimes happens within 10 minutes or so.

[2020-08-01 15:21] kroitor commented on #6762
@codemonkeyno1 can you post the code you use to reproduce it?

[2020-08-01 15:34] codemonkeyno1 commented on #6762
kraken = ccxtpro.kraken({'apiKey':apikey,'secret':apisecret,'enableRateLimit':True})
await kraken.load_markets()

symbols = ['BTC/USD','BTC/USDT','ETH/USD','ETH/USDT','XRP/USD','XRP/USDT']
for symbol in symbols:
    await kraken.watch_order_book(symbol,10)
	await asyncio.sleep(0.2)

while True:
	await asyncio.sleep(1)
	for symbol in symbols:
		ob = kraken.orderbooks[symbol].limit(10)
		bid = ob['b

[2020-08-01 15:54] kroitor commented on #6762
@codemonkeyno1 thx! I'll debug it on my side and will get back to you asap.

[2020-08-01 22:12] mschultheiss83 opened #7401 "phemex: transferOut and transferIn [question]"
Hello @kroitor,
hello others,

thanks for the good [work](https://github.com/ccxt/ccxt/pull/6389).

i got question about
[transferOut](https://github.com/phemex/phemex-api-docs/blob/master/Public-Contract-API-en.md#mainparent-client-transfer-self-wallet-balance-to-sub-client-wallet-or-subclient-transfer-self-wallet-balance-to-mainparent-client-wallet-) and [transferIn](https://github.com/phemex/ph

[2020-08-02 00:52] kroitor commented on #7401
Hi!

I'd recommend to use the implicit methods instead of `request()`.

- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

I think `clientCnt` is not the userId, it's an integer index in the array of clients as returned from the Phemex API.

Try this and let us know if it does not work on your side:

[code]

[2020-08-02 00:52] #7401 closed

[2020-08-02 07:24] brennanfife opened #7403 "Setting aggregation points on orderbook"
Must start off by saying today was the first time I came across this library and am already really liking it. I've been able to pull in orders from Coinbase Pro into some JS with the correct limits and now wish to set some aggregation points. On this exchange, it lets users aggregate (or round) the orders from between 0.01, 0.5, 0.10, 0.50, 1.00, 2.50, 5.00, and 10.0 intervals. Currently, I have a

[2020-08-02 13:21] mschultheiss83 commented on #7401
@kroitor thanks a lot.  yepp that it is. need to remember this. thanks again

[2020-08-02 16:36] ndubel commented on #6907
After this update I get an error: `BadRequest bigone {"code":10007,"message":"Price's scale must greater than AssetPair's quote scale"}`

[2020-08-02 17:07] kroitor commented on #6907
@ndubel can you paste the code to reproduce it?

[2020-08-02 20:49] fogkaspoker opened #7404 "[KRAKEN] Fetch my trades is date limited"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/FAQ
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Prox

[2020-08-02 21:11] kroitor commented on #7404
It's hard to help without seeing the actual verbose output, can you share it?
Do you see those earlier trades on the website?
Are you sure that those trades belong to that exact keypair?

[2020-08-02 22:36] fogkaspoker commented on #7404
HI,

Thanks for the answer:

- It's hard to help without seeing the actual verbose output, can you share it?

I'm not sure how to get a verbose output from Jupyter. is there any quick way to do this? --> I'll be checking.

- Do you see those earlier trades on the website?

Yes. I can see all the trades directly in the exchange, and I can even download them in CSV. but I'm trying to read them direc

[2020-08-02 23:12] #7404 closed

[2020-08-02 23:13] kroitor commented on #7404
@fogkaspoker let us know if this example does not answer your question:

- https://github.com/ccxt/ccxt/tree/master/examples/py/kraken-fetch-my-trades-pagination.py

[code]

[2020-08-03 01:08] fogkaspoker commented on #7404
Hello,

Thanks for this, It is working like a charm now. With this code I can get all the trades since the beginning.

Thanks!!

[2020-08-03 07:55] brennanfife commented on #7403
Would this be a call I would need to manually filter for after getting back my orders or could I find this under Coinbase's API doc's somewhere? Was reading over the manual tonight, thinking I needed to pass in the 3rd argument parameters for exchange.fetchOrderBook(symbol); but still couldn't get to a potential solution answer.

[2020-08-03 09:38] #7403 closed

[2020-08-03 09:39] kroitor commented on #7403
Hi!

After `fetchOrderBook`, you can apply some not very hard logic to aggregate bids and asks how you like. In other words, this is not really a question about CCXT, but more a question about how to use JavaScript/TypeScript for grouping amounts by prices rounded to a certain step size.

See the following example, let us know if that does not answer your question:

- https://github.com/ccxt/ccxt/

[2020-08-03 11:08] hivemall commented on #7175
@codemonkeyno1 you have four ways to get balances: @kroitor there is isolated account balance:
[code]

[2020-08-03 12:12] ndubel commented on #6907
sorry for late reply, it's all ok now after your fix

[2020-08-03 12:13] gokerg commented on #7117
Hi @kroitor,

Is there any expected delivery date for this?

Thanks

[2020-08-03 15:43] frosty00 commented on #7117
@gokerg

We will get to it as soon as possible. We cannot guarantee any dates. See here for more details -
https://github.com/ccxt/ccxt/wiki/FAQ#can-you-implement-feature-foo-in-exchange-bar

[2020-08-04 10:21] 1amth30n3 opened #7406 "Question: probit $accessToken expired, (HOW TO) call signIn()"
- OS: Ubuntu 20.04.1 LTS
- Programming Language version: PHP 7.4.3
- CCXT version: 1.32.47

[code]

[code]
Hi,
Need help. I am getting this error. What I understand is that I need to obtain mentioned Token at first iteration and then every x minutes after it expires. The problem is I dont know how. I am I not bright in programming. I wasnt able to find similar post. Please accept my apology if que

[2020-08-04 10:35] kroitor commented on #7406
Hi!

[code]

Hope the above answers your question.

I highly recommend to read the entire Manual from top to bottom, it will save your time:

- https://github.com/ccxt/ccxt/wiki/Manual

[2020-08-04 10:35] #7406 closed

[2020-08-04 12:17] heckad opened #7407 "Bug in limits for polonix exchange"
Ссxt return string in `currencies['1SR']['limits']['withdraw']['min']` for polonix exchange.

The reason in
[code]

[2020-08-04 12:20] #7407 closed

[2020-08-04 12:55] #7375 closed

[2020-08-04 13:07] SqueezedLight commented on #7375
Just perfect, thank you!

[2020-08-05 08:26] dmitriano opened #7411 "What happens if exchange.createLimitSellOrder call fails due to broken network connection?"
OS: Windows 10
Programming Language version: JavaScript v8.12.0
CCXT version: 1.25.75
Exchange: binance
Method: exchange.createLimitSellOrder/exchange.createBuySellOrder

Consider the following scenario:

I am trying to create a sell order, for example:

[code]
in your code inside `createLimitSellOrder` function implementation you send HTTP request, Binance receives it and creates the order, but w

[2020-08-05 10:09] kroitor commented on #7411
The general approach is to use all possible means to restore the order and to make sure that your logic works how you want it. Also, pay attention to error handling (try/catch and retries) while you are handling the errors with async methods.

You should use `fetchOrders` or `fetchOpenOrders` + `fetchClosedOrders` (whatever is available).

You should use the `clientOrderId` param where applicable.

[2020-08-05 10:09] #7411 closed

[2020-08-05 15:49] pastelo opened #7412 "how to cancel Bybit conditional order"
I want to cancel a conditional order on the Bybit exchange.
Can you please help and explain how to POST on **/stop-order/cancel** for Bybit exchange.
`cancel_order` is posting on **/order/cancel** and returns
[code]
I see private method `privatePostOrderCancelAll()` which is posting on **/order/cancelAll**  but that does not do the trick. I still see on the exchange that the stop order is in place

[2020-08-05 16:03] npomfret opened #7413 "[btcmarkets] deposit amount incorrect"
XRP deposit of 500XRp is showing as  0.000005XRP:

[code]

[2020-08-05 16:29] kroitor commented on #7412
Just add the `stop_order_id` param to your call to `cancelOrder`:

[code]

Related:

- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params

I highly recommend to read the entire Manual from top to bottom – it will save your time:

- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/wiki/Manual

Let us know if t

[2020-08-05 16:29] #7412 closed

[2020-08-05 16:36] kroitor commented on #7413
@npomfret the problem is that for some currencies like ETH or BTC, the amount has to be scaled:

[code]

... while for other currencies like XRP, it is returned as is.

The exchange API docs don't specify which currencies should be scaled by which factor.

How would you suggest to address this? By adding a special case for the XRP?

[2020-08-06 01:07] #7413 closed

[2020-08-06 01:08] #6862 closed

[2020-08-06 03:36] yazhoushi opened #7414 "gateio交易所的fetch_markets函数的数量精度有问题，固定精度8"
这个以前是8：
    precision = {
                'amount': 8,
                'price': self.safe_integer(details, 'decimal_places'),
            }

更改后：
            precision = {
                'amount': self.safe_integer(details, 'amount_decimal_places'),
                'price': self.safe_integer(details, 'decimal_places'),
            }
请在正式的ccxt中的gateio模块的fetch_markets()函数更改一下！

[2020-08-06 10:33] npomfret commented on #7413
Sorry, missed your message.  I guess we will need to add in some static data for scaling, yes.

[2020-08-06 10:39] kroitor commented on #7413
@npomfret thanks! Please, let me know if you still have the same issue with the most recent version 1.32.55+.

[2020-08-06 10:41] npomfret commented on #7413
Will test now.  Any chance you could merge my changes to the underlying api?

[2020-08-06 10:50] kroitor commented on #7413
@npomfret yep, will get to it shortly! Thx again!

[2020-08-06 12:09] Kinzowa opened #7415 "decimal.InvalidOperation with okex.create_order()"
- OS: Linux
- Programming Language version: Python 3.6
- CCXT version:ccxt==1.27.54

Hello, I'm facing an error with OKEx when trying to create a new order. Here is my code and the error message, I'm very curious to know what could be the reason since I did many tries and I can't find a solution.

Thank you,

[code]

[code]

[2020-08-06 12:12] kroitor commented on #7415
Do you have the same issue with the most recent version of CCXT 1.32.55+ ?
Your version 1.27.54 is too old.

[2020-08-06 12:17] Kinzowa commented on #7415
Hi Igor, yes same issue with the latest release.

[code]
I also tried with `create_market_buy_order` but it's still the same.
[code]

[2020-08-06 12:21] #7415 closed

[2020-08-06 12:24] kroitor commented on #7415
@Kinzowa ok, please, update to 1.32.56 (it will arrive in 15 minutes), and let me know if this does not work:

[code]

[2020-08-06 12:48] Kinzowa commented on #7415
Thanks it works like a charm now :)

[2020-08-06 13:01] Kinzowa commented on #7415
Oh Igor there is one thing I thought was caused by my code but now I have doubt. It throws an error `InvalidOrder: okex {"error_message":"Invalid order type","result":"true","error_code":"35040","order_id":"-1"}`.

[code]

[2020-08-06 13:07] kroitor commented on #7415
@Kinzowa please, paste your verbose output:

[code]

[2020-08-06 13:18] Kinzowa commented on #7415
This code sample you just provided still generates a ConversionSyntax and no verbose output is displayed. Please find bellow the code sample that generates `Invalid order type` error.

[code]

This is how I generate the `Invalid order type` error :

[code]

[2020-08-06 13:21] kroitor commented on #7415
@Kinzowa

This should work:

[code]

Let me know if you still have difficulties with it.

[2020-08-06 13:32] Kinzowa commented on #7415
Yes it's works thanks! `type = '1'` is specific to OKEx and it's `limit` or `market` for other platforms am'I right?

[2020-08-06 13:32] kroitor commented on #7415
@Kinzowa yes, this aspect is still subject to change, we're working on a unification schema for it.

[2020-08-06 16:38] amalcaraz commented on #7151
It seams that bittrex is going to stop supporting the v1.1 API in September. Are you going to migrate the current implementation to fully support v3?

[2020-08-06 17:28] kroitor commented on #7151
@amalcaraz yes

[2020-08-06 18:26] robzer commented on #5142
hi kroitor - I dont seem to be able to paginate over ledger_id for the method swap_get_accounts_instrument_id_ledger on okex

the below doesnt work

[code]
the below works
[code]

do you have a quick snippet you can share?

[2020-08-06 18:33] kroitor commented on #5142
@robzer

I think you've answered your own question )
In short, all implicit API methods accept a single argument (a dictionary of params to send to the endpoint):

- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods
- https://github.com/ccxt/ccxt/wiki/Manual#passing-parameters-to-api-methods

Also, you can do that with the unified API and `fetchLedger` (involving more than one argument

[2020-08-06 18:53] robzer commented on #5142
ccxt version ccxt-1.32.57

I was definitely going to the unified api (fetch_ledger) as a first choice but

[code]

[2020-08-06 18:57] robzer commented on #5142
@kroitor and to your point about answering my own question you are right I am being a noob. It would still be nice to use fetch_ledger for swap though, I currently use it to paginate for spot it works well.

many thanks for your work

[2020-08-06 18:58] kroitor commented on #5142
@robzer see the code here:

- https://github.com/ccxt/ccxt/blob/master/python/ccxt/okex.py#L2751

This should work:

[code]

[2020-08-06 19:04] robzer commented on #5142
very weird it seems to work as I see results in verbose but returns an empty list.

[code]

I get the full list [] when using the

[code]

[2020-08-06 19:09] kroitor commented on #5142
@robzer

I will look into it, thx.

[2020-08-06 19:09] robzer commented on #5142
thank you @kroitor

[2020-08-07 07:11] #7414 closed

[2020-08-07 15:27] npomfret commented on #7413
https://mail.google.com/mail/u/0/?zx=jwxuqpoc690k#inbox/FMfcgxwJXLfpvDKBFkZVfHNXqMQWgmQd

[2020-08-07 15:29] kroitor commented on #7413
@npomfret thx for the update, we will need to fix this in the PR

[2020-08-07 15:54] melnikovsa opened #7423 "error to get GetWebSocketsToken on Kraken"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/FAQ
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Pr

[2020-08-07 16:10] kroitor commented on #7423
[code]

------------

[code]

I'd recommend to read the entire Manual from top to bottom, it will save your time:

- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods
- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- ...

Let us know if the above does not answer your question.

[2020-08-07 16:10] #7423 closed

[2020-08-07 18:36] npomfret commented on #7413
done

[2020-08-07 18:45] scottwedge opened #7425 "Typo "occured""
Occurred is spelled "occured" several times in the code.

[2020-08-07 18:48] kroitor commented on #7425
@scottwedge if you mean this:

<img width="433" alt="Screen Shot 2020-08-07 at 21 46 36" src="https://user-images.githubusercontent.com/1294454/89678236-864df880-d8f7-11ea-95f8-93f9f5b3cc7a.png">

That's the phrasing from the exchange APIs "as is". We don't add corrections to those, they should match the response most of the time.

Let me know if you find more.

[2020-08-07 18:48] #7425 closed

[2020-08-07 21:13] kinebudking opened #7427 "New exchange (Graviex)"
https://graviex.net/desktop Smaller exchange i been using for quite some time. Looking to see if y'all can get is added.

[2020-08-08 04:07] kroitor commented on #7427
Duplicate:

- https://github.com/ccxt/ccxt/issues/2538
- https://github.com/ccxt/ccxt/pull/4548

[2020-08-08 04:07] #7427 closed

[2020-08-08 09:12] mdmvgithub opened #7429 "function base32_decode in Exchange.php"
Using oath() , something like:

$bitmex->withdraw('BTC',"100000",'2MsR......XYXU1C',null,["otpToken" => $bitmex->oath()]);

the base32_decode is defined.

If the method $bitmex->oath() is called another time, it produces a fatal error: base32_decode is already defined.

[2020-08-08 09:20] #7429 closed

[2020-08-08 18:13] Rishirandhawa opened #7430 "Issue with Binance leveragebracket call"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/FAQ
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Mac

[2020-08-08 18:22] Kinzowa opened #7431 "New Exchange: MCDEX"
MCDEX is a dex with decent trading volume (order book, AMM) and derivative contracts ETH-Perp and soon LINK-Perp and BTC-Perp contracts.

https://mcdex.io/
https://mcdex.io/doc/api/#introduction
https://t.me/Mcdex/15701
https://t.me/Mcdex/12789

[2020-08-08 18:24] #7430 closed

[2020-08-08 18:26] kroitor commented on #7430
@Rishirandhawa thx for reporting! Please, update to CCXT version 1.32.78 (it will arrive in 15 minutes), change `fapiPublic_get_leveragebracket` → `fapiPrivate_get_leveragebracket` and let us know if that does not help.

[code]

[2020-08-08 19:06] Rishirandhawa commented on #7430
Perfect! Thank you Igor. Appreciate quick fix.

[2020-08-08 21:49] npomfret opened #7432 "[liquid] price precision"
I'm seeing liquid exchange do some unwanted price rounding on limit orders.  For example, when calling `createOrder` with a price (string) of `"0.00488178"` on LTC/BTC, the order that is returned when querying open orders is `0.004881`.

I can see in the market info there is a field called `tick_size`, which could possibly be used to infer a precision - but I don't know how.

[code]

[2020-08-09 09:38] #7432 closed

[2020-08-09 15:14] #3666 closed

[2020-08-09 15:14] kroitor commented on #3666
Replaced with v3: https://github.com/ccxt/ccxt/pull/7372

[2020-08-09 17:21] Stevenje opened #7435 "BitMax Auth Error"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/FAQ
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Pr

[2020-08-09 17:31] kroitor commented on #7435
Your apiKey should have a length of 32 symbols, and the secret should have a length of 64 symbols.

[code]

↑ If it doesn't work, paste your verbose request/response and version numbers:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2020-08-09 18:37] Stevenje commented on #7435
Thanks for the quick help! Yes Api and secret do match required lengths. I've also tried regenerating them and still no luck

**CCXT Version: 1.32.87**

`fetch:
 bitmax GET https://bitmax.io/api/pro/v1/futures/contracts
Request:
 {}
 undefined

handleRestResponse:
 bitmax GET https://bitmax.io/api/pro/v1/futures/contracts 200 OK
Response:
 {
  Date: 'Sun, 09 Aug 2020 18:36:55 GMT',
  'Content-Type

[2020-08-09 18:52] Stevenje commented on #7435
PS. I have successfully authenticated to several other exchanges and the issue is only with BitMax

[2020-08-09 19:13] kroitor commented on #7435
@Stevenje somehow, my older keypair works, while a new keypair does not work... Which makes me think it could be an issue on BitMax, because the signing algorithm is identical in both cases. I will investigate further and will get back to you as soon as possible.

[2020-08-09 19:39] Stevenje commented on #7435
@kroitor Thank you!

[2020-08-09 21:52] kroitor commented on #7435
@Stevenje a couple of quick questions, just to clarify:

- is this the first key on the list of your keys, when you open the "API setting" section on BitMax's website?
- is this the only existing key on that same list?

[2020-08-10 00:56] Stevenje commented on #7435
@kroitor It's a brand new account and on the API settings page I have 2 api keys set up. The first one initially didn't work with ccxt so I created a second to test if I had missed something.

They're both in Account 1 and in the top right when I hover over the question mark it says - "You will need to include account group in the URL for all your private RESTful and WebSocket requests."

Are we c

[2020-08-10 06:54] kroitor commented on #7435
@Stevenje

Yes, but in your case it breaks even before that – upon fetching your accountGroup from the `https://bitmax.io/api/pro/v1/info` endpoint. I've raised this to BitMax's support, will report back here.

[2020-08-10 15:59] aero-108 opened #7437 "ccxtpro binance handle_order clientOrderId is missing"
- OS:
- Programming Language version: any
- CCXT version: ccxt.pro 0.3.10

please add:
[code]

[2020-08-10 16:02] #7437 closed

[2020-08-10 16:18] kroitor commented on #7437
@aero-108 thx for reporting, fixed in CCXT Pro 0.3.40+

[2020-08-10 19:26] optima66 opened #7439 "Python binance fetchMyTrades gives only 3 month of trades, so how do one iterates through results?"
Hello, I am trying to get my trades earlier than 3 months
I do it like this:
result = ccxt_binance.fetchMyTrades('BTC/USDT', since = 1588669559517)
But still get the same result
https://prnt.sc/txcb8w

Am i missing something?

[2020-08-10 19:52] #7439 closed

[2020-08-10 19:54] kroitor commented on #7439
Hi!

See this example (I get trades older than 3 months with it):

- https://github.com/ccxt/ccxt/blob/master/examples/py/binance-fetch-all-my-trades.py

[code]

[2020-08-10 19:59] kroitor commented on #7439
@optima66 P.S. that script should give you an idea of how to override the params:

- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params

However, if you have more than a few hundreds of trades per day, i'd recommend to paginate by `fromId` as described in the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#pagination
- https://github.com/ccxt/ccxt/wiki/Manual#id-based-pagin

[2020-08-10 20:29] kroitor commented on #7439
- https://github.com/ccxt/ccxt/blob/master/examples/py/binance-fetch-all-my-trades-paginate-by-id.py

[code]

[2020-08-10 20:31] fqlx opened #7440 "HitBTC2 intermittently "order not found"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/FAQ
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Linu

[2020-08-10 20:33] fqlx opened #7441 "HitBTC2 intermittently "order not found" when fetching order by id"
- OS: Linux
- Programming Language version: Python
- CCXT version: 1.32.36

It seems Hitbtc is intermittently failing to fetch the order id.  I believe this is a HitBtc issue where the API is randomly failing?
Does anyone have a work around?

For example loop the following code:
```print(hitbtc.fetch_order('XXXXX'))```

"Order not found" will appear 30% of the time.

May be related to issue #2301

[2020-08-10 20:37] kroitor commented on #7440
@fqlx It depends on the actual call sequence. HitBTC differentiates the orders by "active" or "historical" regardless of the orders' statuses, this is why it is one of those rare exchanges that has two versions of `fetchOrder`:

1. `fetchOrder` for "historical" orders
2. `fetchOpenorder` for "active" orders

[code]

All orders with HitBTC are "active" for a while, then become "historical".

If the

[2020-08-10 20:37] #7440 closed

[2020-08-10 20:40] kroitor commented on #7441
Answered in this duplicate issue:

- https://github.com/ccxt/ccxt/issues/7440#issuecomment-671577487

[2020-08-10 20:40] #7441 closed

[2020-08-10 20:58] fqlx commented on #7440
I am seeing the fetch_order for "historical" orders work, then sequentially fail, and work again. This doesn't seem related to active orders as I'm not using that API.

Code:
[code]

Output:
[code]

Here it was not found, successful, and not found again. This intermittently working is why I think it's a HitBtc issue not pulling the historical orders. Thoughts?

[2020-08-10 21:00] kroitor commented on #7440
I would agree to that. If you can raise to HitBTC's tech support and report back here – we will be very thankful.

[2020-08-10 22:35] kroitor opened #7443 "BitMart 0.06% trading fee for CCXT users!"
### Exclusive Deal for CCXT Developers/Users:

Register & sign up to enjoy 0.06% trading fee!

- https://www.bitmart.com/register/en?r=rQCFLh

[![Register & sign up to enjoy 0.06% trading fee!](https://user-images.githubusercontent.com/1294454/89838001-c66cdf80-db72-11ea-8f23-da9c544828d5.png)](https://www.bitmart.com/register/en?r=rQCFLh)

[2020-08-10 23:46] benwaldner commented on #6445
How would a margin order look like for Bitfinex?

return bitfinex.create_order("TESTBTCF0/TESTUSDTF0", "margin market", "buy", 100) ?
And params I didnt understood that part. Could I just leave it empty.
Or what should I fill into params to successfully place a margin trade on Bitfinex using CCXT?

[2020-08-10 23:50] kroitor commented on #6445
It has been answered in this issue a few comments above:

[code]

[2020-08-10 23:51] kroitor commented on #6445
@CooleRnax i would highly recommend to read the entire Manual from top to bottom, it will save your time:

- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/wiki/Manual

[2020-08-11 07:54] optima66 commented on #7439
Hi thanks for quick reply!
Last script above gives me never ending cycle:
https://prnt.sc/txlm5j

[code]
and so on...

Any ideas wahat to do with this?

[2020-08-11 08:13] tjappo commented on #7233
@kroitor Did you already have an extensive look at it?

[2020-08-11 10:42] kroitor commented on #7439
@optima66 It is relatively easy to remember the previous `fromId`:

- https://github.com/ccxt/ccxt/blob/master/examples/py/binance-fetch-all-my-trades-paginate-by-id.py

[code]

[2020-08-11 10:45] kroitor commented on #7233
@tjappo we are working on a better version of the python client now, do you still have the same issue with BNB/USDT ?

[2020-08-11 10:51] optima66 opened #7445 "Ho to handle BadSymbol error?"
I am trying to learn how to handle errors, in particular case BadSymbol error.
I have this code:
What do I do wrong?

[code]

[2020-08-11 11:00] kroitor commented on #7445
@optima66 try this:

[code]

Hope that answers your question.

For the future, when asking a question, please, always follow the guidelines precisely:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

In general, to be able to help, we need:

- your version numbers
- your code to reproduce the issue
- the output that you get on your screen (error trace, etc)
- verbose request+

[2020-08-11 11:00] #7445 closed

[2020-08-11 11:17] optima66 commented on #7445
`AttributeError: module 'ccxt' has no attribute 'BadSymbol'
`

[2020-08-11 11:20] kroitor commented on #7445
@optima66 how do you import ccxt?

Try this:

[code]

[2020-08-11 11:24] optima66 commented on #7445
[code]

[2020-08-11 11:26] kroitor commented on #7445
That version is too old. Please update to the most recent version 1.32.94+.
In general, checking your version number is step 1 in any troubleshooting sequence:

- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2020-08-11 11:29] optima66 commented on #7445
thanks!

[2020-08-11 17:50] AlgoQ opened #7451 "Is it possible to see the 'has' dictionary of ccxt pro without a subscription?"
I want to know if bitmex has the function 'watchOhlcv' before I buy the ccxt pro subscription, is this possible?
Wouldn't it be great to also include the ccxt pro functions to the ccxt has dictionary of every ccxt pro verified exchange?

[2020-08-11 18:14] kroitor commented on #7451
<img width="729" alt="Screen Shot 2020-08-11 at 21 12 55" src="https://user-images.githubusercontent.com/1294454/89933266-7bf16e80-dc17-11ea-8fa9-c75ac8c07b22.png">

We will add these tables to the corresponding Manuals so that they are rebuilt automatically upon every build.

[2020-08-11 18:19] kroitor commented on #7435
@Stevenje let us know if you still have issues with it after upgrading to CCXT 1.33.2+. Thx!

[2020-08-11 18:19] #7435 closed

[2020-08-11 20:32] nikky78 opened #7452 "[FTX] fetch_deposits bug"
I am getting the very same error as this issue https://github.com/ccxt/ccxt/issues/6732 but on the FTX exchange.

[code]

I am getting the error:

[code]

ccxt version: 1.28.13

[2020-08-11 20:44] kroitor commented on #7452
@nikky78 what's your version of CCXT?

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2020-08-11 20:46] nikky78 commented on #7452
my bad, I have updated the thread with this info

[2020-08-11 20:48] #7452 closed

[2020-08-11 20:49] kroitor commented on #7452
@nikky78 let us know if you still have the same issue with CCXT version 1.33.4+, the new build will arrive in 15 minutes. Thx for reporting!

[2020-08-11 20:50] nikky78 commented on #7452
Great ! Thanks for your quick reply!

[2020-08-11 21:37] nikky78 commented on #7452
Actually, right now I get AttributeError: 'ftx' object has no attribute 'fetchDeposits'

[2020-08-11 21:41] kroitor commented on #7452
Please, paste your output:
[code]

↑ Paste your entire output here.

[2020-08-11 21:44] nikky78 commented on #7452
Okay, it was a bug on my side this time I guess, it works like a charm now! Thank you Kroitor!

[2020-08-12 09:05] Stevenje commented on #7435
@kroitor working great, thanks a lot! Great work.

By the way, any chance of supporting https://bilaxy.com/ in the future?

[2020-08-12 11:18] JanssensKobe opened #7453 "No live watch_ohlcv data for bitmex (ccxt pro)"
Hello, I've just bought the ccxt pro subscription to get access to the up to date ohlcv (BTC/USD) from the bitmex. But now I see the endpoint is 1 minute based and not live data (like binance). Is it possible to gather live ohlcv data from bitmex another way (I wanted to calculated the MACD live and because the rate limit of bitmex is only 60/min, I really want to use websockets)?

Code:
[code]

[2020-08-12 12:00] devcon14 opened #7454 "bybit testnet: signing error on create order"
- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: 1.33.4

[code]

[code]

[2020-08-12 13:32] yen-a opened #7455 "bitmart signIn() method"
- OS: macOS 10.15.6
- Programming Language version: php 7.3.11
- CCXT version: 1.33.4

[code]

[code]

I have a question: what should I do so that I can request a balance? How and where should I call the signIn () method? Can I have a sample code?

[2020-08-12 16:55] CryptoBeliever1 opened #7456 "Lykke new API support request"
Lykke team has released a completely new API version with different endpoints, new response structure, etc.
Since the old Lykke API v1 is old and buggy, version 2 REST API support would be useful.

New API description:
https://lykkecity.github.io/Trading-API/

Manual API requests tool:
https://hft-apiv2.lykke.com/swagger/ui/index.html

[2020-08-12 23:27] fqlx commented on #7244
I am having this issue on linux for ftx.us.  Would `adjustForTimeDifference` be the same issue?

[2020-08-13 02:49] kroitor commented on #7455
[code]

Let us know if the above does not answer your question.

[2020-08-13 02:49] #7455 closed

[2020-08-13 02:59] viniciussvl opened #7457 "How do you get the latest orders from Binance?"
Hi, I'm trying to get the latest orders from Binance, this was my attempt using milliseconds but to no avail, it returns orders from me a few hours ago and not minutes ago.

- OS: Windows 10
- Programming Language version: JavaScript
- CCXT version: 1.28

[code]

[2020-08-13 04:09] tansawit opened #7458 "itBit: PAXG/USD price missing"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/FAQ
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: macO

[2020-08-13 06:08] jiazechen opened #7459 "bitmart orders endpoint requires an accessToken option or a prior call to signIn() method"
my codes:

php

$bitmart = new \ccxt\bitmart ([
          'apiKey' => 'xxx',
          'secret' => 'xxx',
          'uid' => 'xxx',
          'timeout' => 30000]);

$bitmart->create_order('ETH/USDT', 'limit', 'sell', 10, 200);

throw error:

ccxt\AuthenticationError: bitmart orders endpoint requires an accessToken option or a prior call to signIn() method in xxx

[2020-08-13 11:53] yen-a commented on #7455
whatever key I make, I get an error. UID I am using memo.

[code]

[2020-08-13 12:23] kroitor commented on #7455
@yen-a please, paste your verbose output:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[code]

[2020-08-13 12:29] yen-a commented on #7455
output:
[code]

[2020-08-13 12:33] kroitor commented on #7455
@yen-a your client_id looks wrong, are you sure that your credentials for BitMart are 100% correct?

Your client_id (apiKey) is too long:

[code]

Make sure your credentials are correct and not confused with another exchange. Let me know if that does not help.

[2020-08-13 12:55] yen-a commented on #7455
This is an access key from Bitmart 100%. Perhaps you have an old key and this length? All new keys generated on Bitmart are of this length.

[2020-08-13 13:03] kroitor commented on #7455
@yen-a looks BitMart has updated the API docs, we will modify the authentication algorithm for it and will get back to you shortly.

[2020-08-13 14:01] bitokenja3 opened #7460 "New- gmright2 extension in market"
https://www.google.com/url?sa=t&source=web&rct=j&url=https://woocommerce.com/vendor/gmright2/&ved=2ahUKEwjbw533qpjrAhVMGs0KHaPBDHEQFjAAegQIARAB&usg=AOvVaw2lCSSR2C3h_yadIqVodM2P

[2020-08-13 14:06] bitokenja3 commented on #7460
I think this would be the best things for user who don't know about to start using it

[2020-08-13 14:11] kroitor commented on #7460
I don't think it's a place for promoting it here. Closing it for now.

[2020-08-13 14:11] #7460 closed

[2020-08-13 14:27] kroitor commented on #7453
Yes. However, you should understand the types of data and how they relate to each other.

On an exchange market trades happen over time, all the time. The history of trades is the primary source of public data. Apart from that, the orders are placed, matched and canceled all the time, so, the orderbook is also your primary data.

All other public data types like tickers, OHLCV candles – are second

[2020-08-13 14:27] #7453 closed

[2020-08-13 14:37] #7458 closed

[2020-08-13 14:39] kroitor commented on #7458
Hi!

The problem is that itBit API does not have an endpoint for obtaining all market pairs programmatically. Therefore we have to either update that list manually or scrape it somehow, as explained here: https://github.com/ccxt/ccxt/issues/4970#issuecomment-481966564

I've added those missing pairs to it and you should be able to use PAXG/USD in CCXT version 1.33.5+, the new build will arrive in

[2020-08-13 15:03] fqlx opened #7461 "FTX.us fails to auth"
- OS: Linux
- Programming Language version: Python3
- CCXT version: 1.32.39

[code]

Returns error:
[code]

I've also modified the hostname in `python3.7/site-packages/ccxt/ftx.py` to ftx.us.

[code]

I've also verified the date/time is accurate and the API keys are from ftx.us.

I think the hmac signing is broken in ccxt?  Can you verify?

[2020-08-13 15:09] kroitor commented on #7461
@fqlx hi!

No need for that, do this instead:

[code]

Can you elaborate on what you've tried exactly to make sure that the timestamp is in sync?

[2020-08-13 16:37] dbaynard commented on #7117
Hello

I'm seeking to add this functionality in the coming days, unless somebody else is already working on it.

(Also since this issue was opened they've changed the name of their apis… they're still at `fapi` and `dapi` but now they're USDT-margined and coin-margined…)

[2020-08-13 17:24] fqlx commented on #7461
Still seeing unauthorized with the above code. Can you verify on ftx.us site by generating api keys?

To verify the date - I check my local system date and it's accurate.
[code]

[code]

[2020-08-13 18:19] fqlx commented on #7461
@kroitor

Proposed fix:
https://github.com/ccxt/ccxt/pull/7462

[2020-08-13 18:39] kroitor commented on #7461
@fqlx i'll port it shortly: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support

[2020-08-13 19:00] #7461 closed

[2020-08-13 19:16] kroitor commented on #7459
@jiazechen BitMart has changed the auth scheme slightly, we will adjust the code in CCXT shortly.

[2020-08-13 21:02] azharuniverse commented on #3297
I am receiving signature error in coinex at ccxt@^1.30.24

[2020-08-13 21:03] kroitor commented on #3297
@azharuniverse do you have the same issue with the most recent version of ccxt? which troubleshooting steps you have tried?

- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2020-08-14 00:03] kroitor commented on #7457
If you want the most recent orders, just omit the `since` and `limit` or use `undefined` for those two arguments.

[code]

Let us know if that does not answer your question.

[2020-08-14 00:03] #7457 closed

[2020-08-14 08:39] maartendamen commented on #6645
Any news on this, is there already plans for a CEIL mode?

[2020-08-14 12:18] scoriiu opened #7464 "PHEMEX: "cancel_all_orders" not implemented although supported by the exchange"
PHEMEX: "cancel_all_orders" not implemented although supported by the exchange
https://github.com/phemex/phemex-api-docs/blob/master/Public-Contract-API-en.md#cancelall

- OS:
- Programming Language version: Python
- CCXT version: 1.33.4

[2020-08-14 15:33] yen-a opened #7465 "digifinex. Invalid trade type"
- OS: macOs 10.15.6
- Programming Language version: php 7.3.11
- CCXT version: 1.33.7

[code]

[code]
I can't buy anything, I don't understand what's the matter

[2020-08-14 17:32] vvvladimir758 commented on #936
working decision  is to add parameter
recvWindow=60000 to the http request

https://api.binance.com/api/v3/account?recvWindow=60000&timestamp=1513948454747&signature=xxxxxxxxxxxx

[2020-08-14 21:12] sdroy101 opened #7466 "Pulling trade data for 20coins from Poloniex simultaneously"
Is it possible to fetch trades for next Xmins for 20coins simultaneously without any lag?

[2020-08-14 21:32] kroitor commented on #7466
That requirement is a little vague )
Some lag is always there, since the communication is not instantaneous.
CCXT is a RESTful library, so it is using the HTTPS REST APIs, that involves a request and a response, meaning at least some roundtrip time to fetch the data. And you have to obey the exchange rules and stay within request rate limits, otherwise they will ban you.

- https://github.com/ccxt

[2020-08-14 21:32] #7466 closed

[2020-08-15 00:30] kroitor commented on #7465
Digifinex does not allow market orders with LINK/USDT, that specific pair allows limit orders only. You may want to forward your question to Digifinex tech support.

[code]

Compare that to the ETH/BTC pair:

[code]

All of the above is documented in the CCXT Manual. Let us know if that does not answer your question.

[2020-08-15 00:30] #7465 closed

[2020-08-15 06:14] #7464 closed

[2020-08-15 07:12] scoriiu commented on #7464
Excellent work as usual. Thanks!

[2020-08-15 09:55] fonzmeister commented on #7412
This gives me an exchange order though with ccxt version 1.33.14

[code]
Request: GET https://api.bybit.com/v2/private/stop-order?api_key=&recv_window=5000&stop_order_id=db7ab783&symbol=BTCUSD&timestamp=1597485205140&sign={'Accept-Encoding': 'gzip, deflate'} None

Response: GET https://api.bybit.com/v2/private/stop-order?api_key=&recv_window=5000&stop_order_id=db7ab783&symbol=BTCUSD&timestamp=1597

[2020-08-15 09:56] kroitor commented on #7412
@fonzmeister i'll check once again and will get back to you asap.

[2020-08-15 10:00] kroitor commented on #7412
@fonzmeister your verbose output corresponds to Bybit's API docs: https://bybit-exchange.github.io/docs/inverse/#t-querycond. Are you sure you're using a correct stop_order_id of an existing conditional order?

[2020-08-15 10:06] fonzmeister commented on #7412
yeah, I opened a conditional order to check if it works

![image](https://user-images.githubusercontent.com/4063391/90310198-b8f78280-deef-11ea-8851-cab4cd6f3753.png)

[2020-08-15 10:11] kroitor commented on #7412
The ID you see on the website is incomplete. That id is shown there on Bybit's website for "display purposes" only. It contains just a part of a complete stop_order_id.

The actual id usually looks like this:

[code]

Do you have the proper id of the order you want to cancel (containing `db7ab783`)?

[2020-08-15 10:14] fonzmeister commented on #7412
ah, sorry was not aware pf that. Created an order via de webui. Will test it with the API

[2020-08-15 11:03] nikky78 opened #7467 "Binance ccxt : Not all sent parameters were read"
OS: windows 10
Programming Language version: python 3.7
CCXT version: 1.33.4

sending limit margin order like this

[code]

throws the error:

`BadRequest: binance {"code":-1104,"msg":"Not all sent parameters were read; read '10' parameter(s) but was sent '11'."}`

and if I change for :

[code]
I get

`AuthenticationError: binance {"code":-1022,"msg":"Signature for this request is not valid."}`

A

[2020-08-15 11:11] kroitor commented on #7467
1. Remove the `timestamp` from your params.
2. Add `type':'margin' to your params.
2. Enable verbose mode:

[code]

[code]

Let us know if that does not help. Feel free to reopen this issue or just ask further questions if any.

[2020-08-15 11:11] #7467 closed

[2020-08-15 11:13] scoriiu commented on #7464
@kroitor There is a bug in the implementation that causes a crash here -> https://github.com/ccxt/ccxt/blob/cbd40376bdb7584a227017ea7c9cc29ea4caf598/python/ccxt/phemex.py#L1832
`market['swap']` is used prior to be initialised

Exception `'NoneType' object is not subscriptable'`

[2020-08-15 11:17] kroitor commented on #7464
@scoriiu pardon, my bad, i've uploaded a fix to it, and it will arrive in 15 minutes in CCXT 1.33.15+. Thx for pointing it out!

[2020-08-15 11:19] nikky78 commented on #7467
Indeed it works! Thank you!

[2020-08-15 11:26] scoriiu commented on #7464
Cool, thanks!

[2020-08-15 11:38] fonzmeister commented on #7412
Sorry, yeah it works as intended

[2020-08-15 12:21] nikky78 opened #7468 "Kucoin ccxt : BadRequest for limit order"
OS: windows 10
Programming Language version: python 3.7
CCXT version: 1.33.4

sending limit margin order like this

[code]

and get the very uncanny error:
`BadRequest: 交易类型不合法`

[2020-08-15 12:28] kroitor commented on #7468
According to the KuCoin docs the `tradeType` param should be `MARGIN_TRADE`, not `MARGIN_BUY`:

- https://docs.kucoin.com/#place-a-new-order

[2020-08-15 12:28] #7468 closed

[2020-08-15 12:31] nikky78 commented on #7468
My bad, I copied past mixed code. My issue was with MARGIN_TRADE. I have updated the ticket

[2020-08-15 12:32] nikky78 commented on #7468
Solved. Thanks

[2020-08-15 18:21] jaseisen105 opened #7469 "phemex decimal issue watch_order_book"
- OS: macOS 10.13.6
- Programming Language version: 3.6.0
- CCXT version: ccxt 1.33.15 | ccxtpro 0.3.43

[code]

[code]

[2020-08-15 20:47] nikky78 opened #7470 "kucoin privateGetOrdersOrderId does not return filled price"
ccxt version: 1.33.4
programming language: python 3.7

I am trying to get the price at which an order has been filled doing

exchange.privateGetOrdersOrderId({'orderId': order.get('id')})

but the price returned in is 0, while it has been filled at 0.138951 USDT.

Is there perhaps another way to get the price ? even for a direct market order, the price retireved in the order is None

[2020-08-15 22:07] kroitor commented on #7469
@jaseisen105 does this work on your side?

[code]

[2020-08-16 02:54] kroitor commented on #7470
When you call `privateGetOrdersOrderId` is direct call to an [implicit API endpoint](https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods) – what you see, is what you get from the exchange API itself.

You may want to check your actuals fills (executed trades, `fetchMyTrades` / `fetch_my_trades`) with the [unified CCXT API](https://github.com/ccxt/ccxt/wiki/Manual#unified-api) and then su

[2020-08-16 02:54] #7470 closed

[2020-08-16 16:21] jaseisen105 commented on #7469
@kroitor - unfortunately no, getting the same error

[2020-08-17 01:47] kroitor commented on #7469
I don't have this issue in Python 3.6.9 and Python 3.7.2.

[code]

I think it may be related to your Python version (3.6.0).
Do you have the same issue if you upgrade to a newer Python version? Let us know if you can upgrade it to rule out version conflicts. In the meantime I will try to reproduce it on my side with 3.6.0.

[2020-08-17 02:35] haferman opened #7472 "New exchange: Coinlist"
Please add exchange coinlist.
API info at https://trade-docs.coinlist.co/#introduction

[2020-08-17 13:13] nikky78 opened #7475 "ccxt Binance sapiGetMarginOrder: "A mandatory parameter was not sent, was empty/null, or malformed.""
ccxt version : 1.33.4
programming language: python 3.7

I try to retrieve isolated margin orders in Binance with the

`exchange.sapiGetMarginOrder({'symbol': 'BNBBTC', 'timestamp': exchange.milliseconds()})`

According to https://github.com/binance-exchange/binance-official-api-docs/blob/master/margin-api.md#margin-account-new-order-trade, only symbol and timestamp are requiered.

However, I get t

[2020-08-18 02:38] yazhoushi commented on #6697
When will it go online？ETA?

[2020-08-18 02:42] kroitor commented on #6697
@yazhoushi we are working on it very actively, a lot has been done already. We still don't have a fixed ETA, but we're pushing to get it unified as soon as possible.

[2020-08-18 03:09] kroitor commented on #7475
@nikky78 the link from your message is pointing to the POST endpoint https://github.com/binance-exchange/binance-official-api-docs/blob/master/margin-api.md#margin-account-new-order-trade

And the `sapiGetMarginOrder` corresponds to a different GET endpoint: https://binance-docs.github.io/apidocs/spot/en/#query-margin-account-39-s-order-user_data

I think you confused the GET endpoint with the POS

[2020-08-18 03:09] #7475 closed

[2020-08-18 17:41] npomfret opened #7477 "[gateio] suggest improvement"
gateio v2 api for fetchMyTrades has two options: one with a `tid` param, and one without: https://api.gateio.io/api2#trade

The current ccxt implementation requires an option to be set:

`'fetchTradesMethod': 'public_get_tradehistory_id', // 'public_get_tradehistory_id_tid'
`

It might be simpler if we could just detect in the `fetchMyTrades` method if (or not) the user has passed the optional a `

[2020-08-19 00:56] lfzCarlosC opened #7478 "Error: a lot of coin pairs does not exist for okex exchange"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/FAQ
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Pr

[2020-08-19 00:59] lfzCarlosC commented on #7478
Also tried with `ccxt.okcoin().fetchOHLCV('XTZ/USDT', timeframe='1d')`, the same issue.

[2020-08-19 01:20] lfzCarlosC commented on #7478
https://github.com/ccxt/ccxt/commit/b3846652939e550ac93a6e2c10aa0cbb8ec1120a
I don't understand why this PR add `history` as the endpont in the doc https://www.okex.com/docs/en/#spot-line always have no `history`

[2020-08-19 01:44] lfzCarlosC commented on #7478
I could fix that if you agree.

[2020-08-19 01:51] kroitor commented on #7478
@lfzCarlosC no worries, i'm uploading a fix, thx for reporting!

[2020-08-19 01:52] #7478 closed

[2020-08-19 10:41] sdroy101 commented on #7466
Actually, if multiprocessing is used, one can fetch 20 coins simultaneously but that would be too much load on the system. However, without multiprocessing, how can someone fetch data even for 6 coins simultaneously?

[2020-08-19 10:54] Stevenje opened #7480 "[IMPROVEMENT] Deno support"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

https://github.com/ccxt/ccxt/blob/master/FAQ
https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS:
- Pr

[2020-08-19 15:03] entanglelove opened #7482 "New exchange: crypto.com"
Is it possible to add crytpo.com into the list?
The website is as follows.
https://crypto.com/exchange
API: https://exchange-docs.crypto.com/#introduction

[2020-08-19 16:26] qgpmarkets commented on #6760
@kroitor
Was a fix found for `watch_orders()` with Binance?  I'm experiencing a similar issue.

[2020-08-19 16:37] qgpmarkets commented on #7050
@kroitor
Is `watchOrders` supposed to be working with Binance futures?  I'm experiencing a similar issue with the latest ccxt.pro.

[2020-08-19 16:44] kroitor commented on #7050
@qgpmarkets it supports just the spot orders for now, but we are going to add the support for swaps and futures in a few days, the work on it is going on here as well: https://github.com/kroitor/ccxt.pro/pull/58

[2020-08-19 17:50] mrschneebly opened #7483 "Solved: Bibox issue fetching balance"
- OS: Windows Server 2016
- Programming Language version: Python 3.8
- CCXT version: 1.33.23

If you cannot fetch balance of bibox exchange you can do the following changes:

_Line 424_   for i in range(0, len(currencies)): --> for i in range(0, len(currencies**[0]["result"]**)):
_Line 425_   currency = currencies[i] --> currency = currencies**[0]["result"][i]**
_Line 479_   indexed = balances -->

[2020-08-19 17:54] kroitor commented on #7482
Duplicate:

- https://github.com/ccxt/ccxt/issues/6817
- https://github.com/ccxt/ccxt/issues/7254

[2020-08-19 17:54] #7482 closed

[2020-08-19 21:49] aero-108 opened #7484 "doesn't throw exception on binance API limit exceed"
- Programming Language version: Python
- CCXT version: 0.3.47

On await exchange.load_markets()
if ```ccxt.base.errors.DDoSProtection: binance 429 Too Many Requests``` been fired, loop just stuck.
No throwing any exception.

In order to simulate the issue, attached code creating many processes for watchOHLCV.
In log by PID number its clear, loop just stuck.

Example
[code]

Question is not about r

[2020-08-20 07:24] kggcel commented on #6337
Maybe this one here helps a bit?

https://medium.com/melonprotocol/building-a-melonbot-1cdea583fb88

[2020-08-20 12:15] frosty00 commented on #7484
It's probably because you are using multiprocessing (and running ccxt in a seperate process) which is not triggering an error in the parent process. https://docs.python.org/3/library/multiprocessing.html#sharing-state-between-processes

[2020-08-20 12:36] aero-108 commented on #7484
Disagree, I don’t expect exception in parent process. Exception should be thrown inside child process, multiprocessing doesn’t make any difference, it’s just an example how to reach Binance API limit.

[2020-08-20 13:49] StasToken opened #7486 "Question PHP huobiapi: get margin/loan-info"
- OS: Ubuntu
- Programming Language version: php 7.3
- CCXT version: 1.33

Hello! - looking at my [past experience](https://github.com/ccxt/ccxt/issues/6330#issuecomment-569936748), I'm trying to get information [from here](https://huobiapi.github.io/docs/spot/v1/en/#get-loan-interest-rate-and-quota)
I tried to use different variations:
`$huobipro->sapiGetMarginLoanInfo()`
but nothing led to succe

[2020-08-20 23:24] lukapopijac opened #7487 "Currency code inconsistency: IOTA vs MIOTA"
- CCXT version: 1.33.23

Most exchanges for `currencies` return `IOTA` for the code, but there are some that return `MIOTA`.
So far I found these for `MIOTA`: bitpanda, bitvavo, liquid, livecoin

[2020-08-21 00:42] kroitor commented on #6645
@maartendamen so far we've been able to get away without it in CCXT's basecode. This is not the highest priority, since you can still pre-format your values and do the "ceiling" on the user side. Your contributions are welcome: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

[2020-08-21 03:14] c0dehunter commented on #7295
Answered here:

https://github.com/ccxt/ccxt/issues/7406#issuecomment-668519691

[2020-08-21 05:08] kroitor commented on #7484
@aero-108 Hi!

First of all, mixing the multiprocessing with asyncio async/await concurrency is a bad idea.

You will get all sorts of issues upon trying to run that code on the same machine with the same exchange.

First, you should really respect the rate limits. You're creating an exchange instance in your parent process and load the markets there.
Then for each symbol you create a new exchange

[2020-08-21 05:08] #7484 closed

[2020-08-21 06:11] jaseisen105 commented on #7469
@kroitor that worked, thanks!

[2020-08-21 06:11] #7469 closed

[2020-08-21 06:28] jaseisen105 opened #7488 "watch_order_book fails to subscribe to book"
- OS: ubuntu 16.04
- Programming Language version: python 3.6
- CCXT version: ccxt (1.26.54) ccxtpro (0.1.72)

Sometimes when subscribing to many pairs (~ 50), most order book subscriptions will work but there will be a few that will always hang/timeout.  Even upon many retries it never succeeds.  Is this due to rate limiting possibly or is there a limit on the number of subscriptions?

I've notic

[2020-08-21 12:00] Sascha321 opened #7491 "Installation"
Hello, is there an installation guide for beginners? What does ccxt mean in NPM? how do you install that?

$ sudo ccxt in NPM
sudo: ccxt: Befehl nicht gefunden
locadm@ubuntu-01:~$ sudo apt install ccxt in NPM
Paketlisten werden gelesen... Fertig
Abhängigkeitsbaum wird aufgebaut.
Statusinformationen werden eingelesen.... Fertig
E: Paket ccxt kann nicht gefunden werden.
E: Paket in kann nicht gefund

[2020-08-21 21:43] davidonlaptop opened #7494 "Has private API naming convention changed for HitBTC ?"
I am intending to call
[code]
I am assuming this would translate into `privateGetAccountBalance`, but ccxt tells me the method does not exist. The documentation says "These groups of API methods are usually prefixed with a word 'public' or 'private'.", but it doesn't say when the method names deviates from this convention.

So calling:
[code]

Results in:
[code]

[2020-08-21 21:45] #7491 closed, assigned to kroitor

[2020-08-21 21:50] #7494 closed, assigned to kroitor

[2020-08-22 02:40] lukapopijac opened #7496 "Currency code inconsistency: LEO vs UNUS"
- CCXT version: 1.33.30

All exchanges for `currencies` return `LEO` for the currency code. Only `livecoin` returns `UNUS`.

[2020-08-22 02:42] davidonlaptop opened #7497 "Ordering full quote amount on HitBTC returns Insufficient Funds"
I've verified the balance amount at the exchange, and tried both market and limit order, with same results.

This code sample below fetch the top of book, and attempts to order at the best ask price, and then calculates the baseAmount for that price given the original quote amount that is held in balance.

I'm consistently getting insufficient Funds error. I am confused, should the fees amount be

[2020-08-22 02:53] #7496 closed, assigned to kroitor

[2020-08-22 02:57] sdroy101 opened #7498 "Error with continuous ohlcv fetching poloniex"
-

- OS: macOS 10.13.6
- Programming Language version: 3.7.6
- CCXT version: 1.30.52
I was trying to pull ohlcv data for 5m candles from poloniex. In my code, I'm firstly put my system on wait till nearest 5min and then putting another stopper till 5mins more so that a coin entering XX:45:00 completes its 5min trade cycle by XX:50:00 and I also put a 10 seconds buffer in case if poloniex gets dela

[2020-08-22 04:43] #7497 closed, assigned to kroitor

[2020-08-22 16:48] keyvin-wei opened #7500 "python No module named 'ccxt'，what should I do?"
what should I do?
Im win10 python 3.7.3,allredy install cctx1.0.0,but still No module named 'ccxt',help me!!

- OS:win10
- Programming Language version:python
- CCXT version:1.0.0

No module named 'ccxt'

[2020-08-22 17:26] #7500 closed, assigned to kroitor

[2020-08-23 06:42] gloomydumber opened #7501 "[Upbit] Is there any method like wapiGetAssetDetail() on binance"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2020-08-23 06:59] #7501 closed, assigned to kroitor

[2020-08-23 16:50] macordalfy opened #7502 "hitbtc fetch_ohlcv returns invalid data"
- OS: windows
- Programming Language version: python
- CCXT version: 1.33.47

[code]

[code]
converting the timestamp gives 2013

[2020-08-23 17:15] macordalfy commented on #7502
Actually, looking into their docs and playing with verbose turned on, I saw that it needed the sort set to DESC, so passed that as parameter
current_candlestick = exchange.fetch_ohlcv('BTC/USDT','3m', None,200,{'sort':'DESC'})
sorry about that ...

[2020-08-23 17:15] #7502 closed

[2020-08-23 18:11] StasToken commented on #7486
@kroitor - thank!
I still have a related question here, so I see that for [this](https://huobiapi.github.io/docs/spot/v1/en/#get-loan-interest-rate-and-quota-2) api there is like a method [here](https://github.com/ccxt/ccxt/blob/master/php/huobipro.php#L124)
but when I try to call it I also get an error that there is no such function
`$huobipro->privateGetMarginCrossLoanInfo()`

`privateGetMarginC

[2020-08-23 20:14] mrschneebly commented on #7483
Works like a charm. Thx.

[2020-08-23 21:43] asafravid opened #7503 "Please provide valid nonce in Request Nonce (x) is not bigger than last nonce (x)"
OS: Windows
Programming Language: Python
- CCXT version - I don't know

What I do is call the following function over and over. I don't know what is the nonce that I should increase

This is the error returned by fetch_balance()
[connect_to_bit2c] Balances: {'data': {'info': {'error': 'Please provide valid nonce in Request Nonce (1598218490) is not bigger than last nonce (1598218490).'}, 'BCH': {'

[2020-08-23 21:59] asafravid commented on #7503
Additional Information:
When the interval between calls to `exchange.fetch_balance()` is ~1 minute - I see that the nonce issue doesn't appear
So a follow-up question is - what is the minimal interval "allowed"?

[2020-08-23 23:06] dhensen opened #7504 "Signature difference between base exchanges for fetch_deposit_address vs concrete exchange implementations"
- OS: arch linux, but who cares
- Programming Language version: 3.8.5
- CCXT version: 1.33.27

I've noted a difference in signature between base exchanges and concrete implementations.

The base exchanges use the word `symbol` where the concrete implementations use the word `code`, which I believe is the correct word to use. (symbol=ETH/BTC versus code=ETH or code=BTC)

The problem is when extendi

[2020-08-23 23:11] #7504 closed

[2020-08-24 01:08] kroitor commented on #7503
There is a problem in your function. It does not respect the rate limits, as explained in the Manual: https://github.com/ccxt/ccxt/wiki/Manual#rate-limit. Instead of reusing the same exchange instance, you are dropping the old instance and creating a new instance upon every call. Since the rate limiter is a property of the exchange instance, re-creating the instance effectively creates another rat

[2020-08-24 01:08] #7503 closed

[2020-08-24 01:14] kroitor commented on #7486
@StasToken

The error message says: _"You have not opened cross margin account"_. Have you opened it with the Huobi website?

[2020-08-24 05:10] c0dehunter opened #7505 "Gemini exchange not working"
- OS: Linux
- Programming Language version: PHP 7.3
- CCXT version: 1.33.50

[code]

[code]

This happens the first time already, so probably not a rate-limiting issue.

[2020-08-24 05:44] #7505 closed

[2020-08-24 07:36] AbdulHadiSaeed opened #7506 "Does CCXT support Paper trading or dummy wallets having Test coins ?"
I have created dummy wallet and add test/dummy coins (1Btc) on Bitmex, Bittrex  exchange, Now I am trying to do trading through ccxt for testing purpose but Invalid API and zero balance is showing while fetching the balance. So Does ccxt support dummy coins/ Paper trading or not?

Thank You in Advance.

[2020-08-24 07:40] kroitor commented on #7506
CCXT supports whatever test currencies are available from the exchange itself, as well as sandboxes/testnets.

In order to be able to help you we need you to follow these guidelines precisely:

- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help ← we need all of this information from you

Please, paste your code to reprodu

[2020-08-24 07:52] AbdulHadiSaeed commented on #7506
Thanks for your response.

Can we do fake trading, For example: buy btc using dummy coin and then sell that coin to another exchange or within exchange?

Can we do Transaction using test currencies?

[2020-08-24 08:07] Usmankhokhar123 commented on #7506
Can we do transactions by using python, like buy and sell using test coins provided by demo accounts

[2020-08-24 08:11] AsadullahSoomro commented on #7506
Does CCXT library support paper trading?

[2020-08-24 08:52] kroitor commented on #7506
I would highly suggest to read the CCXT Manual from top to bottom – it will really save your time, most of these questions are answered by the structure of this lib:

- https://github.com/ccxt/ccxt/wiki/Manual

@Usmankhokhar123 you can do everything that is supported by the API of this or that exchange. Very few exchanges have it, afaik.

With some exchanges you may be able to do that, again, depe

[2020-08-24 08:52] #7506 closed

[2020-08-24 10:27] binares opened #7507 "Do the recent metainfo update PRs suggest incoming deprecation?"
I noticed that @An-Net has updated many `has` dicts of different exchanges, sometimes e.g. adding `'fetchTicker': true` despite it already being defaulted in the Exchange base class. Does this mean there is a plan to default all to `False`? (I'm asking because in that case I'll have to make some changes in my own repos).

[2020-08-24 11:00] frosty00 commented on #7507
Not necessarily, I would just say it is more complete to have all the `has` properties in the derived (subclass) exchange files.

[2020-08-24 11:14] binares commented on #7507
Ah, that explains it, thanks.

[2020-08-24 11:14] #7507 closed

[2020-08-24 13:55] sdroy101 commented on #7498
![Screen Shot 2020-08-24 at 7 22 50 PM](https://user-images.githubusercontent.com/32267008/91052703-747e8c00-e63f-11ea-9c60-c60201f4596d.png)
![Screen Shot 2020-08-24 at 7 22 21 PM](https://user-images.githubusercontent.com/32267008/91052722-79dbd680-e63f-11ea-854c-e478c3a74837.png)

This is the entire error I got from running it in spyder console

[2020-08-24 15:27] cryptoAcc0unt commented on #7443
Bitmart has recently started freezing a bunch of users, I'm worried they are the latest exit scam. CCXT might want to consider delisting them

[2020-08-24 19:33] silert commented on #7443
@cryptoAcc0unt Recently they have published new trading rules: https://bitmart.zendesk.com/hc/en-us/articles/360052757433

For example "High-frequency trading, illegal quantitative trading, or arbitrage trading" are prohibited.

[2020-08-24 19:43] cryptoAcc0unt commented on #7443
@silert yeah its the same approach all these shady exchanges use to justify freezing accounts en masse. I wasn't doing anything to violate the new rules

[2020-08-24 19:43] kroitor commented on #7443
@silert

Can you please provide definitions for those terms?

Namely, what is considered _High-frequency trading_, what is considered _illegal quantitative trading_.

On the arbitrage trading – it's uncommon to prohibit this activity, since market-making and arbitrage are closely tied together.

Just asking these questions, as we had a similar investigation here: https://github.com/ccxt/ccxt/issue

[2020-08-24 21:21] silert commented on #7443
@kroitor I'm not represent the Bitmart exchange, I just found the link with new rules and I also had difficulties with withdrawals on Bitmart in the past.

[2020-08-24 21:29] kroitor commented on #7443
@silert

Yeah, pardon, i've misread it at first, didn't mean that. Thanks for sharing! We will send these questions to BitMart.

[2020-08-25 00:00] sdroy101 commented on #7498
@kroitor Please look into it!

[2020-08-25 12:26] ankitakurdukar opened #7509 "Bitstamp fetchDepositAddress for bitcoin : fails with invalid nonce"
I am facing issues trying to create a bitcoin address in bitstamp using `fetchDepositAddress("BTC")` .
I have a feeling that bitcoin uses v1, which uses nonce in seconds and **bitstamp**(v2) has nonce in milliseconds. Hence the request fails with nonce invalid.

Has anyone faced this issue before or is there something I am missing here?

- OS: Ubuntu 18.04.4
- Programming Language version: Node.js

[2020-08-25 12:28] kroitor commented on #7509
@ankitakurdukar thx for reporting! We will check it and will get back to you.

[2020-08-25 13:43] dmnode opened #7510 "kraken.purgeCachedOrders throwing"
Hi, after updating to most recent version of ccxt today, purgeCachedOrders throws an exception for kraken exchange

- OS: Ubuntu
- Programming Language version: Node v12.18.3
- CCXT version: 1.33.52

[code]

[code]

[2020-08-25 14:02] kroitor commented on #7510
Hi! Thx for reporting, will fix shortly. A quick question: why would you want to call purgeCachedOrders on kraken? (It does not use the `.orders` cache)

[2020-08-25 14:07] dmnode commented on #7510
Thanks for the comment! Actually, I do not need orders cache at all, for any exchange. Just, from the manual, https://github.com/ccxt/ccxt/wiki/Manual#orders-cache, I somehow understood it is always on by default and there is no way to deactivate it, so I need to run purge. Is there a general way to deactivate orders cache, so I need to not set it specifically to each exchange?

[2020-08-25 14:21] kroitor commented on #7510
Yes, at this time you can't deactivate it, so you need to call it from time to time, depending on the purpose of the app, I was just asking.

That call should not fail, after the fix. Let us know if you still have issues with it after upgrading to version 1.33.53, it will arrive in 15 minutes.

[2020-08-25 14:21] #7510 closed

[2020-08-25 15:03] CHEYULIU opened #7511 "The capacity of C: disk gets to decrease rapidly as I execute "watch_ticker" method"
- OS: windows 10
- Programming Language version: python 3.7
- CCXTPRO version: I have no idea where to see the version of my installed ccxtpro

The problem is as I mentioned in the title, after I ran the following codes, the capacity of C: disk rapidly increased. However, the size of the csv file, which saves the retrieved data, did not contain the corresponding amount of occupied capacity in my C

[2020-08-25 15:49] dmnode commented on #7510
Great, thanks, works fine now. An option to check whether the exchange actually uses orders cache, so one could run purge only where needed, would be quite useful. regards

[2020-08-25 16:50] npomfret opened #7512 "[bitfinex] price formatting"
const exchangeId = 'bitfinex2';
        const exchange = new ccxt[exchangeId]();
        await exchange.loadMarkets();

        console.log(exchange.priceToPrecision('TRX/ETH', 0.000061255));

When I place a limit order at this price (in `TRX/ETH`), the order that gets created on the exchange looks like:

            {
                "id": "49701388294",
                "timestamp": 1598324705144

[2020-08-25 16:54] mrschneebly opened #7513 "Bibox withdrawal error 5001 invalid address"
- OS: Windows Server 2016
- Programming Language version: Python 3.8
- CCXT version: 1.33.53

[code]

[code]
The msg means invalid address. But the address to deposit to is correct. I tried different addresses. Same issue.

[2020-08-25 17:15] #7513 closed

[2020-08-25 17:15] mrschneebly commented on #7513
Addresses have to be whitelisted. facepalm. :D

[2020-08-25 18:45] npomfret opened #7514 "[coinmate] open order amount wrong"
https://coinmate.docs.apiary.io/#reference/order/get-open-orders

It looks like the rest api for open orders returns the amount remaining, not the original amount.  I got this response for an order that was placed with an amount of `1.43408088` (after it pas partially filled with a trade of size `0.00100148`):

1.43408088 - 0.00100148 = 1.4330794

         {
            "id": "891692920",

[2020-08-25 20:17] ZB83486 opened #7515 "Bybit order error"
Hi, I am getting this error below when I try to create an order on Bybit. I am sure the parameters should be correct. Also, I have some other private calls before that in my code which work and fetch data just fine.

- OS: Kubuntu 20.10 (beta)
- Programming language version: Python 3.7.5
- CCXT version: 1.33.53

[code]

[code]

[2020-08-25 20:35] kroitor commented on #7510
@dmnode we think of removing the .orders cache and the emulation from CCXT entirely, and probably make a separate addon package with the emulation functionality, thanks for your involvement, we appreciate your feedback!

[2020-08-25 21:01] kroitor commented on #7512
@npomfret as you can see from the `info` – it's the price returned from Bitfinex itself. Looks like the exchange will truncate certain values to 5 significant digits + 8 decimal digits max: https://docs.bitfinex.com/docs/introduction#:~:text=The%20precision%20level%20of%20all,be%20cut%20by%20the%20API.
Will fix the `priceToPrecision` for Bitfinex shortly.

[2020-08-25 21:08] #7512 closed

[2020-08-25 21:10] fonzmeister opened #7516 "Bybit fetch conditional order does not contain price"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: windows

[2020-08-25 21:18] kroitor commented on #7516
@fonzmeister in CCXT most of the unified structures contain the `info` field, which holds the response from the exchange _"as is"_. As you can see from the `info` above – ByBit API returned that zero value to you:

[code]

In case of an untriggered conditional market order, you can't expect the actual market price, since the order is not placed and not executed yet. The price of a conditional mark

[2020-08-25 21:18] #7516 closed

[2020-08-25 21:29] fonzmeister commented on #7516
Hmm maybe I misunderstood. I thought price meant the triggerprice in case for stoporders.

If i fetch a stopOrder from FTX at least this is the case, so that is were my confusion comes from.

I get your point though. Maybe it is better to add a 'triggerprice' to the output which is none by default except for triggerorders

[code]

[2020-08-25 21:42] kroitor commented on #7516
Yep, we are in the process of unifying the conditional orders and we will add the `triggerPrice` soon. Thx!

[2020-08-25 23:14] Rekamserg commented on #7443
Good day.
I am one of those whose withdrawals from the exchange are blocked after the introduction of their new rules. From the whole list of rules, I did not break anything. I created a ticket, but I received no comment from the exchange side.

Not so long ago, I received a reply from administrators in telegrams that these locks are risk control and soon all functions of the account will resume.

[2020-08-26 06:06] sdroy101 commented on #7498
Hey @kroitor ! any update on this?

[2020-08-26 07:20] npomfret commented on #7512
@kroitor thank you

[2020-08-26 07:55] Usmankhokhar123 commented on #7506
@kroitor issue is that, exchanges like bitmex and bybit supports demo accounts and these exchanges also provide us test coins, but when we run the script in python like function of fetch balance, it shows us zero balance while in actual demo account it shows around 1 BTC, and also sometimes it gives exception of invalid API, kindly suggest me some solution for this.

[2020-08-26 10:12] nudabagana opened #7518 "Coinfalcon: fetchOpenOrders "since" param breaks call (typo in source)"
- OS: linux (manjaro)
- Programming Language version: js(ts)
- CCXT version: latest (1.33.55)

Description
When trying to fetch openOrders from Coinfalcon and using "since" param, it always returns 0 results. That is because there is a typo in ccxt lib:
[code]
It uses current ms instead of "since" param, and always returns 0 results.

Repro (have to have open orders):
[code]

[2020-08-26 14:55] AsadullahSoomro commented on #7506
Can someone tell us regarding following problems:
Currently we're facing issue related to exchanges like bitmex and bybit supports demo accounts and these exchanges also provide us test coins, but when we run the script in python like function of fetch balance, it shows us zero balance while in actual demo account it shows around 1 BTC, and also sometimes it gives exception of invalid API, kindly

[2020-08-26 15:21] AsadullahSoomro opened #7520 "Does CCXT support Paper trading or dummy wallets having Test coins?"
Can anyOne tell us regarding the following problems:
Currently, we're facing issue related to exchanges like BitMEX and bybit supports demo accounts and these exchanges also provide us test coins, but when we run the script in python like function of fetch balance, it shows us zero balance while in actual demo account it shows around 1 BTC, and also sometimes it gives exception of invalid API, kin

[2020-08-26 16:57] kroitor commented on #7520
Hi! Plz do not duplicate the issues, we will provide the answers in your initial issue here: https://github.com/ccxt/ccxt/issues/7506#issuecomment-680932129

[2020-08-26 16:57] #7520 closed

[2020-08-26 16:57] kroitor commented on #7506
@AsadullahSoomro can you please paste your code to reproduce it and your verbose request+response precisely as described here: https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2020-08-26 17:38] #7518 closed

[2020-08-26 17:45] kroitor commented on #7498
@sdroy101 on your screenshots it says about the RequestTimeout. You are running only one instance of the above script, right? Or do you run multiple instances of the same exchange instance in parallel?

[2020-08-26 17:52] sdroy101 commented on #7498
Only just one coin for only one exchange in this case, though I'm actually planning to implement on 20 coins parallelly in future.

[2020-08-26 18:01] kroitor commented on #7509
@ankitakurdukar actually, i've tried to reproduce it on my side, but it works (for me). A quick question: does `fetchBalance` work for you with the same keypair? Since if this API key is reused after another app, that could be the cause of the invalid nonce error.

[2020-08-26 18:20] kroitor commented on #7498
@sdroy101 alright, let's start with this simple script for debugging purposes to test your connectivity and rule out the RequestTimeout:

[code]

↑ Does this script work on your side? Please, paste all of your output here.

Please, do not paste text as screenshots! (read this carefully: https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help). Instead copy and paste text, output and cod

[2020-08-26 18:22] kroitor commented on #7514
@npomfret do you suggest to set the `amount` and `filled` to `undefined` in this case?

[2020-08-26 18:26] kroitor commented on #7511
@CHEYULIU

This line does not look right to me:

[code]

↑ Are you sure that you want to open `C:/'` and write to it?

[2020-08-26 18:28] npomfret commented on #7514
Exactly, yes.

[2020-08-26 18:33] #7514 closed

[2020-08-26 19:53] CryptoGnome commented on #7515
getting a similar error in previously working code, did they change somthing?

[2020-08-26 19:55] ZB83486 commented on #7515
Just tested non-async version and seems to be working.

[2020-08-26 19:55] kroitor commented on #7515
@CryptoGnome in short, yes: https://github.com/ccxt/ccxt/issues/7454

[2020-08-26 19:56] CryptoGnome commented on #7515
This is the clip I was using FYI - Thanks for the amazing support @kroitor
exchange.create_limit_sell_order(self.pair, abs(self.size), int(self.takeprofit), {'reduce_only': True})

[2020-08-26 20:00] ZB83486 commented on #7515
Well, just tried the code transformed from async and it still keeps throwing the same so I don't know.

[2020-08-26 20:10] ZB83486 commented on #7515
Totally weird, int(...code to get the price from a list...) works. I guess the problem could be it doesn't accept like 11550.0, only 11550?

[2020-08-26 20:13] npomfret commented on #7514
I just updated but the fix doesn't seem to have worked as expected:

        const exchangeId = 'coinmate';
        const exchange = new ccxt[exchangeId]();
        await exchange.loadMarkets();

        const order = await exchange.parseOrder({
            "id": 891692920,
            "type": "SELL",
            "price": 0.02418,
            "amount": 1.4330794,
            "hidden": false,

[2020-08-26 20:14] kroitor commented on #7515
@ZB83486 is your version of CCXT up to date?

[code]

[2020-08-26 20:15] ZB83486 commented on #7515
pip3 show ccxt
Name: ccxt
Version: 1.33.53

[2020-08-26 20:16] kroitor commented on #7514
@npomfret pardon, my bad, a small typo, fixed it, should be ok in the next build.

[2020-08-26 20:16] ZB83486 commented on #7515
int(price) seems to be working though I am not sure why that is or how that can be, I guess it's not even really a problem of CCXT in this case.

[2020-08-26 20:17] kroitor commented on #7515
@ZB83486 nope, i mean the actual runtime version (not a pip3 output), please run python3 and type:

[code]

Just asking, since this version has been addressed before and we have to isolate it if it's still there.

[2020-08-26 20:17] ZB83486 commented on #7515
import ccxt

1.33.53

[2020-08-26 20:18] CryptoGnome commented on #7515
I am on
[code]

[2020-08-26 20:20] ZB83486 commented on #7515
Anyway, basically, I am fine with that for now because I can work with only integer number variables, and I guess it could work with half decimals too having done some tweaking (probably won't be accepting the full numbers with decimals .0 so needs rounding).

[2020-08-26 20:21] kroitor commented on #7515
@ZB83486 with the implicit `privatePostOrderCreate` you have to format the values according to the ByBit API docs. As you can see from here: https://bybit-exchange.github.io/docs/inverse/#t-placeactive Bybit requires the amount for Inverse swaps to be an integer.  If you use the CCXT's unified `createOrder` method instead of `privatePostOrderCreate` CCXT will resolve this for you. If you're using

[2020-08-26 20:23] CryptoGnome commented on #7515
@kroitor  Yes same issue after update

[2020-08-26 20:23] kroitor commented on #7515
@CryptoGnome https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2020-08-26 20:25] ZB83486 commented on #7515
Yeah, I haven't checked that, sorry, though it still seems a bit odd to me that this matters at all in the present day and logs itself as an auth problem(?). Never mind, thanks a lot for your time, I appreciate it knowing you must have a lot of work to do on the project. Take care.

[2020-08-26 20:26] CryptoGnome commented on #7515
[code]

[2020-08-26 20:27] kroitor commented on #7515
@ZB83486

Yeah, not all exchanges are super-consistent with their error reporting. Anyways, glad you've figured it out.

@CryptoGnome can you post a snippet of code to reproduce it, including the exchange instantiation, but without your keys?

[2020-08-26 20:29] CryptoGnome commented on #7515
PYTHON:

self.pair = 'BTCUSD'
self.size = -2
self.takeprofit = 11500.50

[code]

[2020-08-26 20:36] kroitor commented on #7515
@CryptoGnome i'll check that and will get back to you asap.

[2020-08-26 22:02] sdroy101 commented on #7498
[code]

This is the entire output I got after running the code you mentioned  @kroitor

[2020-08-27 05:14] ankitakurdukar commented on #7509
@kroitor thanks for your reply.
I am able to do other calls using the same key like : `fetchBalance()` and `fetchTransactions()`. Also `fetchDepositAddress()` works for other assets like ETH, XRP, BCH, etc. I am only getting invalid nonce when it comes to BTC.

[2020-08-27 07:05] yyq321 opened #7521 "Cannot Get the Real-time OHLCV on Okex Futures"
- OS: Windows 10
- Programming Language version: Python 3.7
- CCXT version: 1.33.57

[code]
I can only get the OHLCV information of the last K-line

[2020-08-27 07:52] CHEYULIU commented on #7511
I abbreviated the name of the path. In fact, I open a file on desktop and write to it.
By the way, I have used another third party software to scan all of files on the C disk and deleted all of large files, but the problem still exist. Plus, I also stopped executing the script for several days. Have you ever met with the similar problem before? Any tips will help. Thanks!

[2020-08-27 08:33] kroitor commented on #7509
@ankitakurdukar yes, I understand, however, the question is whether this API keypair has been used previously with some other software. Can you try with a new keypair and let me know if you have the same issue with a new keypair?

[2020-08-27 08:54] npomfret commented on #7514
thanks, looks good

[2020-08-27 09:57] ndubel opened #7522 "ProBit needs TICK_SIZE precisions"
There are some pair on ProBit where `DECIMAL_DIGITS` not enough. For example, ATOM/KRW pair has 5 `price_increment`.
https://www.probit.kr/app/exchange/ATOM-KRW

[code]

[2020-08-27 11:00] gerardo15 opened #7523 "Did poloniex disable access to api keys from US?"
- OS: Ubuntu
- Programming Language version: NodeJs
- CCXT version: 1.33.57

Did poloniex disable access to api keys from US? if i use a VPN and test api connection to any other country fetchbalance would work!

If Ip is from the US i get the following error:

{ ExchangeError: poloniex {"error":"Our systems have detected that you may reside in a location we cannot provide service to. Please log in

[2020-08-27 11:03] c0dehunter opened #7524 "[HOW-TO] Get all trades from exchange if you only know base currencies"
- OS: Linux
- Programming Language version: PHP 7.3
- CCXT version: 1.33.50

[code]

How can you fetch all trades the user has made for the coins he currently holds? I know which coins the user presently has (`fetchBalance()`), but I don't know the trade pairs. I tried with e.g. "BTC/*", but this doesn't work.

[2020-08-28 06:16] kroitor commented on #7521
@yyq321

[code]

Let us know if that does not answer your question.

[2020-08-28 06:16] #7521 closed

[2020-08-28 06:28] icytrader opened #7526 "cannot add seats for CCXT pro subscription"
Hi,

There seems no place to actually add a seat. https://ccxt.pro/seats#

I tried to Search GitHub by username, but there is no result or any response from the web.

Can you advise please?

[2020-08-28 06:46] kroitor commented on #7526
@icytrader can you plz retry the search now (https://ccxt.pro/seats) and let me know if that works for you or not?

[2020-08-28 06:52] icytrader commented on #7526
It doess not work. I put in the username and press Enter but no reponse.

[2020-08-28 06:57] icytrader commented on #7526
![image](https://user-images.githubusercontent.com/56503955/91531019-ae50da80-e93e-11ea-9ad7-6f767da6beff.png)
I also tried clicking this icon but no response.

[2020-08-28 07:11] kroitor commented on #7526
Can you please show your web inspector (js error output from the browser)? Need to check if there's any errors there.

The search should work as follows: you type a username (no need to hit Enter) and below the search bar there should appear the search results (clickable usernames). Also, can you plz refresh the browser cache? I'll try to reproduce it on my side in the meantime.

[2020-08-28 08:33] kroitor commented on #7526
@icytrader as far as I see you don't have an active subscription right now, your previous professional order has expired on 14 of Aug. You need an active subscription in order to manage the seats. We will make that more intuitive in the seats interface. Let us know if that does not answer your question.

[2020-08-28 08:33] #7526 closed

[2020-08-28 09:42] #7524 closed

[2020-08-28 11:23] kroitor commented on #7524
Let us know if this example does not answer your question: https://github.com/ccxt/ccxt/blob/master/examples/php/binance-fetch-all-trades-for-all-traded-symbols.php

[code]

[2020-08-28 11:25] kroitor commented on #7498
@sdroy101 yep, that looks correct, i'll post another example here that does what you described in your initial post. Will get back to you shortly.

[2020-08-28 12:21] mapapuche opened #7527 "ccxt.base.errors.InvalidOrder: liquid {"errors":{"price":["must_be_positive"]}}"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: Windows

[2020-08-28 12:58] kroitor commented on #7527
Can you please paste your full verbose request+response?

Like so:

[code]

↑ Paste all the output here, please.

[2020-08-28 13:21] kroitor commented on #7523
https://www.google.com/search?q=poloniex+service+us+customers&oq=poloniex+service+us+customers

<img width="867" alt="Screen Shot 2020-08-28 at 16 20 25" src="https://user-images.githubusercontent.com/1294454/91565137-6932a580-e94a-11ea-8162-44d7ad35f95b.png">

Let us know if the above does not answer your question.

[2020-08-28 13:21] #7523 closed

[2020-08-28 13:26] Djusk8 opened #7528 "fetch_balance() rounds big floats - parse_json() method problem"
- OS: OS Independent
- Programming Language version: Python 3.7
- CCXT version: 1.33.61

I got this problem with YoBit exchange, but I think this affects all exchanges because it's incorrect operation of `parse_json()` method of base `Exchange` class.

So, I have an YoBit account with relatively big amount of LIZA coin, in my case - 3526246938.98713**386** LIZA
I called the `fetch_balance()` metho

[2020-08-28 13:37] kroitor commented on #7528
@Djusk8 it's an issue of the built-in json-parser + python fp precision:

[code]

In other words, the precision of python floats is usually enough for most purposes. String-based fp support is discussed here: https://github.com/ccxt/ccxt/issues/522

If you really want string-based access to those millionths digits `...386` – you can access the last response as text and parse it how you want:

[cod

[2020-08-28 13:37] #7528 closed

[2020-08-28 14:19] Djusk8 commented on #7528
Thanks for datailed explanation!

[2020-08-28 14:29] kroitor commented on #7526
@icytrader plz feel free to reopen this issue if you still have difficulties with it after clearing the cache and force-reloading the page with cmd+r or ctrl+f5. If you can, post your web inspector output, that will help narrow it down. Thx!

[2020-08-28 14:38] mapapuche commented on #7527
Verbose output :
`Request: POST https://api.liquid.com/orders {'X-Quoine-API-Version': '2', 'Content-Type': 'application/json', 'X-Quoine-Auth': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkXVCJ9.eyJwYXRoIjoiL29yZGycyIsInRva2VuX2lkIjoiMTU0OD0MyIsImlhdCI6MTU5ODYyNTMyMCwibm9uY2UiOjE1OTg2MjUzMjA0Th9.QfdFoi4SmOkyuynGTL3FuoOM_zCF6vxC1Yc8BOv6os', 'User-Agent': 'python-requests/2.24.0', 'Accept-Encoding': 'gzip, defla

[2020-08-28 14:40] mapapuche commented on #7527
[](url)

[2020-08-28 15:49] kroitor commented on #7527
This is weird, I get an adequate request with proper size and price on my side with your values:

[code]

In my case i get `not_enough_free_balance`, but the requested values of size and price are ok as you can see from the above output...

What's your actual runtime version of ccxt?

Please, run this in your environment to see the actual version number (not pip3 list)

[code]

[2020-08-28 15:59] #7522 closed

[2020-08-28 16:23] mapapuche commented on #7527
Version with your print is : CCXT Version: 1.33.61

here how i init liquid:
[code]

Do you think problem can be link to my liquid account ? Or maybe problem is linked to the paid i'm trading ? I trade on EWT/BTC and i know liquid removed EUR/EWT pair so maybe somthing wrong from that

[2020-08-28 16:25] mapapuche commented on #7527
here the print you ask me : CCXT Version: 1.33.61

The code where i initiate :
[code]

Do you think that can come from the pair i trade ? I'm trading on EWT/BTC.

[2020-08-28 16:39] kroitor commented on #7527
I don't think so, because in my output those values look correct.

Also, you can test your values as follows:

[code]

↑ What do you see?

[2020-08-28 16:41] mapapuche commented on #7527
[code]

[2020-08-28 16:42] kroitor commented on #7527
@mapapuche did you load the markets?

[2020-08-28 16:43] mapapuche commented on #7527
Amount: 7.1
Price: 0.00113212

[2020-08-28 16:45] kroitor commented on #7527
@mapapuche ok, now, change this snippet for your keys, and try this:

[code]

↑ This should work.

Yep, that's what i'm trying to say, your values get zeroed outside of CCXT most likely. You can test that with the snippet from this comment.

[2020-08-28 16:47] mapapuche commented on #7527
Yes sorry for waste of time. thank for the support

[2020-08-28 16:47] #7527 closed

[2020-08-28 18:33] Matoran commented on #7511
You can use Process Explorer https://docs.microsoft.com/fr-fr/sysinternals/downloads/process-explorer
Download it, launch procexp64.exe right click in columns => select columns... => Process I/O => check Write Bytes

You then will see which process is writing to your HDD.

If anyone would have the same problem on linux just install iotop and use `iotop -a` to discover which process is guilty.

[2020-08-28 19:40] optima66 opened #7529 "How to group trades by order_id"
**Python**
I am using `fetch_my_trades`  method to get orders from binance:
[code]
Sometimes from one order I can get several trades that has common order_id
**For example one of my orders resulted in four trades:**
[code]
Is there a built in possibility or may be api endpoint to group these trades by order and instead four trades show just one with average fill price?

[2020-08-28 19:58] kroitor commented on #7529
The `fetch_my_trades` method is for fetching trades, don't confuse trades with orders. Orders are usually fetched with `fetch_open_orders`, `fetch_closed_orders`, `fetch_orders`, `fetch_order`, etc.

This is explained in the Manual here: https://github.com/ccxt/ccxt/wiki/Manual#how-orders-are-related-to-trades

I highly recommend to read the entire Manual from top to bottom – it will save your tim

[2020-08-28 19:58] #7529 closed

[2020-08-28 20:01] ChenLi0830 opened #7530 "Binance future symbol `SXP` is not supported"
Binance future new symbol `SXP` is not supported in the current version.

- OS: Centos
- Programming Language version: Node 12
- CCXT version: latest ccxt.pro - #e624d6e35f121e6bf94fa9fe864f46de5829a416

Same code works for other symbols in future such as BTC, ETH, etc. However, when trying to trade SXP, it stopped working..

[code]

[2020-08-28 20:06] kroitor commented on #7530
@ChenLi0830 Binance does not have SXP/USD, it has SXP/USDT instead: https://fapi.binance.com/fapi/v1/exchangeInfo what you see is what you get from the exchange API itself directly, CCXT does not decide which symbols are available.

[code]

Hope that answers your question.

[2020-08-28 20:06] #7530 closed

[2020-08-28 20:09] ChenLi0830 commented on #7530
Hey @kroitor Thank you for the quickly reply! It was a typo on my side. Best

[2020-08-28 22:21] sdroy101 commented on #7498
Okay @kroitor !

[2020-08-28 23:07] Rekamserg commented on #7443
Good day. An hour ago I tried to withdraw coins. Everything went well and I received my funds.
One note: the exchange team needs to comment on the situation. So that users do not worry about their funds.

[2020-08-29 05:26] CHEYULIU commented on #7511
Thanks! I will try it. 👍

[2020-08-29 12:36] mooneral opened #7533 "[Binance]amount to precision function error - InvalidOperation"
Hi, I'm trying to create an order to sell altcoin on the market price but keep getting this error I have tried changing the type to `decimal.Decimal` or `str` but the error is the same. it is fine when I market buy altcoin using `params['quoteOrderQty']`! but when using `params["quantity"]` this error appears.

- OS: macOS Catalina
- Programming Language version: python 3.8
- CCXT version:1.33.64

[2020-08-29 12:44] kroitor commented on #7533
Hi! The `amount` argument is mandatory as documented in the Manual, cannot be `None`:

- https://github.com/ccxt/ccxt/wiki/Manual#placing-orders
- https://github.com/ccxt/ccxt/wiki/Manual#market-orders
- https://github.com/ccxt/ccxt/wiki/Manual#limit-orders

Instead of setting `params['quantity'] = 133.0` just set `amount = 133.0`.

[code]

Let us know if the above does not answer your question.

[2020-08-29 12:44] #7533 closed

[2020-08-29 13:10] mooneral commented on #7533
Thanks, @kroitor using the amount solved the issue.

[2020-08-29 14:52] gotjoshua commented on #6817
crypto.com is up and coming exchange that is offering huge promotions right now! It would be amazing if it could be included soon...
@kroitor is there any progress on this? Is it something an average js/node/react developer like me could contribute to?

[2020-08-29 15:45] cadmufasa opened #7534 "Creating FUTURES Order on Binance results in an error: -4061 - "Order\'s position side does not match user\'s setting."
OS: Linux PYTHONWORK 5.3.0-18-generic #19-Ubuntu SMP Tue Oct 8 20:14:06 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Programming Language version: Python 2.7.17
CCXT version: latest
Exchange: binance
Method: fapiPrivatePostMarginType, createOrder

Hi,

For the FUTURE market, I am trying to set the 'positionSide' value of an Order to LONG or SHORT. Right now, I am getting the value of BOTH.

=> this is

[2020-08-29 16:10] kroitor commented on #7509
@ankitakurdukar let me know if you still have difficulties with a new keypair. Please, feel free to reopen this issue or just ask further questions if any.

[2020-08-29 16:10] #7509 closed

[2020-08-29 18:22] AsadullahSoomro commented on #7506
import ccxt

x = ccxt.bybit({
'apiKey': '',
'secret': '',
'enableRateLimit': True,
})

account_balance = x.fetch_balance()
print(account_balance)
print("\n")

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
Sender
notified by
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality5&>
08/29

[2020-08-29 18:23] AsadullahSoomro commented on #7506
import ccxt

x = ccxt.bybit({
'apiKey': '',
'secret': '',
'enableRateLimit': True,
})

account_balance = x.fetch_balance()
print(account_balance)
print("\n")

[2020-08-29 20:58] kroitor commented on #7534
@cadmufasa hi!

Please, read these comments, I think your question is answered here:

- https://github.com/ccxt/ccxt/issues/7215#issuecomment-653721600
- https://github.com/ccxt/ccxt/issues/7215#issuecomment-653729460
- https://dev.binance.vision/t/enable-hedge-mode-on-futures-api/59

Basically, by default, with Binance your positions are called _"One-way"_ positions (that means, there's just one

[2020-08-29 20:58] #7534 closed

[2020-08-29 22:54] sdroy101 commented on #7498
@kroitor  is it something wrong with the approach or with the exchange medium?

[2020-08-29 23:02] #7498 closed

[2020-08-29 23:02] kroitor commented on #7498
@sdroy101 please, check this example script:

- https://github.com/ccxt/ccxt/tree/master/examples/py/poloniex-fetch-ohlcv-continuously.py

[code]

My output:

[code]

Let us know if that does not help. Feel free to reopen this issue or just ask further questions if any.

[2020-08-29 23:41] sdroy101 commented on #7498
[code]

@kroitor  I just got this runtime error when I tried running it on spyder

[2020-08-29 23:44] sdroy101 commented on #7498
It's sorted now! Thanks as usual! @kroitor

[2020-08-30 01:37] cadmufasa commented on #7534
Hi kroitor,

Thanks for the information. I will try it out and post the results.

Regards.

[2020-08-30 02:03] cadmufasa commented on #7534
Hi again,

Forgot to ask simple question:  where do I set hedgeMode properly (I amusing Python)?

Regards.

[2020-08-30 02:15] kroitor commented on #7534
@cadmufasa try changing your part 2 like so:

[code]

There's no such option for Binance: https://github.com/ccxt/ccxt/blob/master/python/ccxt/binance.py#L363, you don't have to do that, try the above modified snippet part 2 instead.

[2020-08-30 06:57] ralcr commented on #6286
Do you know how is done in the hedge mode? Seems to me the combination of options don't allow me to close a position. For example the reduceOnly is not available in hedge mode but from their website when i create a close position order that parameter is set to true. If i just do an opposite order it will be added to the existing order.

[2020-08-30 10:49] kroitor commented on #6286
@ralcr let us know if this does not help: https://github.com/ccxt/ccxt/issues/7534

[2020-08-30 13:28] kroitor commented on #7511
@CHEYULIU we will post an example of how to store ticker values to csv with respect to rate-limits.

[2020-08-30 13:42] CHEYULIU commented on #7511
That would be great! Thanks!

By the way, can you tell me what is the problem with my code? How to improve it? Since my strategy involves trading several cryptos at the same time, the way I came up with is using the Websocket method to get data asynchronously from binance exchange and read the data from local file synchronously. Do you think this logic making sense? I am also curious how would you

[2020-08-30 14:08] kroitor commented on #7511
@CHEYULIU

At this time it violates the rate limiting rules apart from a few other issues:

- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/wiki/Manual#notes-on-rate-limiter

We will post a proper example script asap.

[2020-08-30 14:30] kroitor commented on #7506
@AsadullahSoomro you have to switch to the sandbox/testnet and use the testnet credentials:

[code]

↑ Let us know if that does not help.

[2020-08-30 14:55] ralcr commented on #6286
It was related to positionSide indeed but not to the problem in the issue.
So what i deed was to create a close order and read from api to see how it looks:

`{\"orderId\":2539404857,\"symbol\":\"BTCUSDT\",\"status\":\"NEW\",\"clientOrderId\":\"web_XQLE2OmdPepdoJbWAmpk\",\"price\":\"11800\",\"avgPrice\":\"0.00000\",\"origQty\":\"0.100\",\"executedQty\":\"0\",\"cumQuote\":\"0\",\"timeInForce\":\"GT

[2020-08-30 14:57] kroitor commented on #6286
@ralcr thx your helpful feedback, appreciate it!

[2020-08-30 15:21] JosephWN commented on #7527
I have same issue as yours, in recent CCXT versions (may be 1.33.XX?).
Create_limit_order of liquid always raised exceptions like "quantity":["less_than_order_size"], but other exchanges works well.

I did not change my code, so I guess something went wrong in CCXT updates. Now I am working on finding the reason.

PS: Liquid works well on CCXT ver1.32.1 in my code.

[2020-08-30 15:27] kroitor commented on #7527
@JosephWN

Enable the verbose mode and check your values against order limits and precision:

- https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[code]

[2020-08-30 15:41] CHEYULIU commented on #7511
Got it! I originally thought there would be no rate limiting issues as I used ccxtpro method to retrieve data, and my codes worked well for me actually. The only problem is that I mentioned on my post. Anyway, I will be patient waiting for example script. Thanks!

Oh by the way, in the first place I used ccxt method to try to get several tickers values and indeed met with the rate limiting issues

[2020-08-30 16:04] icytrader commented on #7526
Thanks. I realized that my subscription has expired. However when I tried to renew it, I see the Buy More button is grayed out and the page does not respond if I clicked Buy More, Upgrade or Downgrade. Can you check please?

------------------ Original ------------------
From:                                                                                                                        "cc

[2020-08-30 16:06] kroitor commented on #7526
@icytrader have you tried clearing the cache? Please, paste a screenshot of what you see, your browser version and your web inspector output, we will look into it.

[2020-08-30 17:16] Matoran commented on #7511
No, when you open the process explorer you should have this, except the two last columns
![image](https://user-images.githubusercontent.com/4539516/91665283-7fd12c00-eb05-11ea-9161-d190c881cf07.png)
right click in any column name (for example Company Name) => select columns... => Process I/O => check Write Bytes

![image](https://user-images.githubusercontent.com/4539516/91665332-d76f9780-eb05-11e

[2020-08-31 01:07] JosephWN commented on #7527
Thx, my trading pair is 'BTC/JPY', I found the amount precision maybe the problem.
When I use CCXT 1.32.1, calling 'pp(liquid_markets['BTC/JPY'])', I got 'precision': {'amount': 8, 'price': 5}.
When I use CCXT 1.33.68, calling 'pp(liquid_markets['BTC/JPY'])', I got 'precision': {'amount': 1e-8, 'price': 5}.

The precision amount should be 8, not 1e-8.

[2020-08-31 01:50] c0dehunter commented on #7524
While this technically does answer the question, it's hard to use it in a real use case scenario due to the number of API calls required.

I am writing a portfolio-like program, which provides a snapshot of the user's account balance and last trades (e.g. last 20 trades). This will be used by hundreds of users, so it should be quick to refresh (e.g. 1 API call for balances, which is already true,

[2020-08-31 03:24] CHEYULIU commented on #7511
Got it! May I ask what is the definition of the column "I/O Write Bytes" ? Take your example, what does 583.9 MB mean? Does that mean chrome is writing this amount of data into disk per hour? And how to set it as admin?

[2020-08-31 09:35] Matoran commented on #7511
My bad you should use the column from "Process Disk" => Writes Bytes, the value represent the total amount written to disk since process explorer is launched. Like any other program on Windows you can left click on it and run as admin. I/O Write Bytes is network usage (and some other I/O ops but not disk)

[2020-08-31 10:56] Stevenje opened #7539 "Pro Intellisense missing Order TS type"
![image](https://user-images.githubusercontent.com/4363358/91713044-98196900-eb4e-11ea-962a-a02504b92388.png)

[2020-08-31 11:01] kroitor commented on #7539
The trades should be of type ccxt.Trade[], orders should be of type ccxt.Order[], this is explained here:

- https://github.com/ccxt/ccxt/wiki/Manual#how-orders-are-related-to-trades

Let us know if that does not answer your question.

[2020-08-31 11:01] #7539 closed

[2020-08-31 11:15] kroitor commented on #7524
This was your initial request, **all trades**, specifically:

So, if you want to fetch all historical trades for a user – there's no other way to do that via Binance's REST API except with multiple calls per user. It's not a limitation of CCXT, it is a limitation of the exchanges' APIs, as explained here: https://github.com/ccxt/ccxt/wiki/Manual#pagination

If you only need the most recent trades,

[2020-08-31 12:54] nowackipawel opened #7540 "Bitpanda - division by 0 in bitpanda.php:530"
- OS: ubuntu 20.04
- Programming Language version: php7.3.2x
- CCXT version:   "ccxt/ccxt": "1.33.72"

[code]

[code]

[code]

[2020-08-31 12:58] nowackipawel commented on #7540
@kroitor  it is because $baseVolume is float and this condition gives true for floats: $baseVolume !== 0

[2020-08-31 13:04] #7540 closed

[2020-08-31 14:23] kroitor commented on #7527
@JosephWN with TICK_SIZE precisionMode the precision values are floats as opposed to the DECIMAL_DIGITS precisionMode, this is documented here:

- https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

Here's what I see on my side for Liquid with CCXT 1.33.72:

[code]

↑ Do you see the same results on your side?

[2020-08-31 14:32] CryptoGnome commented on #7515
Hey @kroitor, I know you are busy,  wanted to check if had a chance to look at his or if there is currently a workaround, kind of surprised no one else is reporting this...

[2020-08-31 14:37] kroitor commented on #7515
@CryptoGnome pardon for the delay, i'll debug this on my side and will let you know shortly

[2020-08-31 14:51] cadmufasa commented on #7534
Hi kroitor,

the suggestion you made:
`                exchange.fapiPrivatePostPositionSideDual ({'dualSidePosition':'true'})`
worked.

I got past that point.

Regards.

[2020-08-31 15:12] viniciussvl opened #7541 "fetchTicker method returning bid/ask price null (Kucoin)"
Hello,
Today something very strange happened, the fetchTicker method is returning a null price for some currencies, it happened with ETC/BTC, when calling kucoin's getTicker endpoint directly in the browser, the price is returned normally, what could be causing this?

- OS: W10
- Programming Language version: JS
- CCXT version: 1.28.95

[code]

[2020-08-31 15:18] kroitor commented on #7541
@viniciussvl it works on my side right now with the most recent version of CCXT:

- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[code]

[2020-08-31 15:19] kroitor commented on #7541
@viniciussvl do you have the same issue with the most recent version of CCXT? Can you paste your full verbose request+response?

[2020-08-31 15:26] cadmufasa opened #7542 "Getting {"code":-2019,"msg":"Margin is insufficient." errors for funded accounts"
OS: Linux PYTHONWORK 5.3.0-18-generic #19-Ubuntu SMP Tue Oct 8 20:14:06 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
Programming Language version: Python 2.7.17
CCXT version: latest
Exchange: binance
Method: fapiPrivatePostMarginType, createOrder

Hi,

This is in reference to an earlier message: https://github.com/ccxt/ccxt/issues/7534

I am not understanding why this Order will not go through. I keep

[2020-08-31 15:28] viniciussvl commented on #7541
Do you think there may be a problem with my server? Anyway, I will update CCXT to the latest version

[2020-08-31 15:59] kroitor commented on #7542
{"code":-2019,"msg":"Margin is insufficient."}

First of all, you have to understand Binance accounts, there's a bunch of them:

- spot account
- margin account (trade spot markets with leverage)
- swap futures account (has its own margin, don't confuse it with the margin account)
- delivery futures account (has its own margin, do not confuse it...)

So, the system is saying that you need margin o

[2020-08-31 16:01] kroitor commented on #7541
@viniciussvl

It's hard to tell the cause, since your version is too old, it uses the old KuCoin's API v1. The most recent version of CCXT uses KuCoin's API v2.

Let me know if you have difficulties after that. Feel free to reopen this issue or just ask further questions, if any.

[2020-08-31 16:01] #7541 closed

[2020-08-31 16:22] mapapuche commented on #7527
@JosephWN
My problem was because i copy the data from exchange to new variable called "exchange_to_buy" then when i do exchange_to_buy.buy_order() i got error. I think (i don't know why) we can't copy the variable received from exchange = ccxt.liquid() to another variable.

Also, to be sure if the problem come from code or from you (as i did haha ) you should run the snippe code t kroitor gived fr

[2020-08-31 17:27] oren0e opened #7543 "Getting binance historical data of all coins"
Hi,
I apologize if the answer is written in the docs somewhere, I couldn't find it.
Basically what I want is to get historical data like price, market cap, volume and other available variables (like age of the coin) for all the coins in binance without needing to specify the names in a list. I also want to be able to specify the currency in which these prices are listed (same for all the coins is

[2020-08-31 18:22] #7515 closed

[2020-08-31 18:27] kroitor commented on #7515
@CryptoGnome let me know if you have the same issue with version 1.33.76+, it will arrive in 15 minutes. If you still have errors, please follow the guidelines precisely and paste your entire verbose output here:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[code]

[2020-08-31 18:48] CryptoGnome commented on #7515
Fixed!
You sir a legend, thank you for resolving this!

[2020-08-31 19:06] kroitor commented on #7480
@Stevenje can you please elaborate a bit?

[2020-08-31 20:14] Stevenje commented on #7480
Hey @kroitor sure! I don't know if Deno is on your radar, but it's a new JS runtime from the creator of Node. https://deno.land/

Gaining some good traction and I don't think it's loads of work to support it as your codebase uses a lot of the new JS features.

[2020-08-31 20:19] Stevenje commented on #7539
Hey @kroitor my issue was that the order type is missing from ccxtpro, nothing to do with trades vs orders.

[2020-08-31 20:24] kroitor commented on #7539
@Stevenje i mean it's inherited in CCXT Pro from CCXT, so you can import it from CCXT (there's no need to duplicate the export in Pro in this case).

[2020-08-31 20:34] cadmufasa commented on #7542
Hi kroitor and thanks for the response.

A -> spot account
B -> margin account (trade spot markets with leverage)
C -> swap futures account (has its own margin, don't confuse it with the margin account)
D -> delivery futures account (has its own margin, do not confuse it...)

For now, I just want to work with A, B, and C but ...

Question though : On the Binance UI, which item represents D ( "deli

[2020-08-31 20:53] fievelk commented on #2552
@kroitor I can't seem to find any reference to `set_sandbox_mode` on the wiki. Is it documented somewhere else?

[2020-08-31 21:05] kroitor commented on #2552
@fievelk it's not documented yet (the Manual is also a work in progress, just like the rest of this lib), we will add it asap.

[2020-08-31 21:33] ZB83486 commented on #7515
Seems to have been fixed for me as well, thanks.

[2020-08-31 21:34] kroitor commented on #7515
@CryptoGnome @ZB83486 thanks for your feedback!

[2020-08-31 21:42] kroitor commented on #7454
@devcon14 @zmrenwu let us know if you have this issue with the most recent version 1.33.77+. Feel free to reopen it or just ask further questions if any.

[2020-08-31 21:42] #7454 closed

[2020-08-31 22:34] ZB83486 commented on #7515
Sure thing, just a little update. It seems that openapiPostOrderReplace endpoint keeps throwing that error (only async tested). Could you check that?

[2020-08-31 22:37] kroitor commented on #7515
@ZB83486 plz run and post the output of this snippet here: https://github.com/ccxt/ccxt/issues/7515#issuecomment-683950512

[2020-09-01 00:15] srdante opened #7544 "Crex24 Withdraw Issue"
I always used CCXT to make automated withdrawals normally at Crex24, but due to some update on their API, the feeCurrency parameter is now mandatory, which is not included in the code.

However, it can be solved by inserting the following code on line 1262, on PHP version:

[code]

- OS:Ubuntu 18.04
- Programming Language version:PHP
- CCXT version:1.33.79

[code]

[code]

[2020-09-01 00:23] #7544 closed

[2020-09-01 00:25] kroitor commented on #7544
@srdante you can specify the feeCurrency via `params`, just like with any other unified method:

- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params

[code]

If you update to CCXT 1.33.80 (the new build will arrive in 15 minutes), the `feeCurrency` will be filled in for you (will be the same as the withdrawal currency by default).

Thx for reporting it!

If you have further is

[2020-09-01 01:51] qyvlik opened #7545 "huobipro `dw/withdraw-virtual/addresses` seem deprecated, err-code: `login-required`"
MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure your local version of CCXT is up to date. Check by comparing the output of `ccxt.version` to https://github.com/ccxt/ccxt/blob/master/package.json#L3

- OS: macOS 1

[2020-09-01 08:21] monk-after-90s opened #7546 "Gateio version"
In [https://github.com/ccxt/ccxt#supported-cryptocurrency-exchange-markets](url), the version of gateio is 2. However, in practice, it seems not:
[code]

[2020-09-01 08:21] #7546 closed

[2020-09-01 08:27] monk-after-90s opened #7547 "Gateio version"
In [https://github.com/ccxt/ccxt#supported-cryptocurrency-exchange-markets](url)  the version of gateio is 2. However, in practice, it seems not:
[code]
In gateio api document, v2 api url is  https://data.gateio.la/api2.

[2020-09-01 09:10] binares opened #7548 "Warning you about: Coinsbit exchange"
It has been a custom here to point out fraudulent exchanges, to protect the users of this library. I believe most traders here are market makers, arbitragers or to lesser extent, hedgers (as these three are the most likely to make use of multiple exchanges). And indeed, we should warn each other about the exchanges that turn out to be problematic. This issue is about Coinsbit exchange, which (than

[2020-09-01 09:40] ZB83486 commented on #7515
I'll try to reproduce it again manually when I have time and let you know, thanks. Think it was the price adjustment (not qty) to be precise but let's see.

[2020-09-01 12:24] kroitor commented on #7548
Hi @binares ! Thx for your report! Have you tried contacting Coinsbit tech support via the live chat on their website?

[2020-09-01 12:47] binares commented on #7548
@kroitor Well I just did that "It will be solved soon", same as in the email. I'll have to wait and see, I guess. Thanks for suggestion.

[2020-09-01 13:32] kroitor commented on #7542
@cadmufasa

Historically, Binance had a spot account and a futures account (for perpetual contracts or swaps).
There's a bit of a naming confusion here, because perpetual futures contracts are called swaps in CCXT, as opposed to classic futures with a delivery date.
Binance has recently introduced the classic futures, and they did some renaming on their API docs, so previously they had:

- spot+ma

[2020-09-01 13:40] kroitor commented on #7547
It is using v2. The symbol `2` is appended to the base URLs and gateio has changed the base URLs a few times:

- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[code]

Let us know if that does not answer your question.

[2020-09-01 13:40] #7547 closed

[2020-09-01 14:13] cadmufasa commented on #7542
Hi kroitor,

Thanks for getting back to me so quickly. It is appreciated!

Above, I had mentioned receiving the following:

**{"code":-2019,"msg":"Margin is insufficient."}**

when trying to create an Order using a FUTURES account. I was transferring funds to the MARGIN account - but - the MARGIN account only works with the SPOT and not the FUTURES. The information you provided above should allow

[2020-09-01 15:31] etiennez0r opened #7550 "Binance futures fetch balance failing for undefined offset: 0"
https://github.com/ccxt/ccxt/blob/302c93d6f4f3bfd299e1a55451ba1bf93d6a5b1c/php/binance.php#L817

Hello Guys!

on this line in think it should be

if (gettype($response) === 'array' && count(array_filter(array_keys($response), 'is_string')) != 0)

instead of (!gettype($response) === 'array' && count(array_filter(array_keys($response), 'is_string')) == 0)

Its not entering in the IF statement with w

[2020-09-01 16:03] entanglelove commented on #6817
When I compile this commit https://github.com/ccxt/ccxt/pull/6960/files
and test using node run-tests --js
I got the following error message. I think this is because fetchTicker not support cro?
Anyone can help?

FAILED cryptocom (JavaScript): (explain @ run-tests.js:188)

        TESTING { exchange: "cryptocom", symbol: "all" }  (<anonymous> @ test.js:30)

        69 symbols BTC/USDT, ETH/BTC, LT

[2020-09-01 16:47] kroitor commented on #7550
Please, update to the most recent version, this bug has been addressed already. Checking your version number if the first step in the troubleshooting sequence:

- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

Let us know if you still have the same issue with the most recent version of CCXT. Thx!

[2020-09-01 16:47] #7550 closed

[2020-09-01 16:48] kroitor commented on #7550
P.S. https://github.com/ccxt/ccxt/blob/master/php/binance.php#L817

[2020-09-01 19:06] viniciussvl commented on #7457
Sorry to be reopening, is that this method is not working for me, it returns orders from 5 days ago and ordered by increasing date and not decreasing.

[2020-09-01 19:08] kroitor commented on #7457
Please, use the pagination as documented in the Manual and shown in the examples:

- https://github.com/ccxt/ccxt/wiki/Manual#pagination
- https://github.com/ccxt/ccxt/tree/master/examples

You can sort it on the client side how you like, CCXT always returns entries sorted by timestamp in ascending order.

[2020-09-01 19:09] cadmufasa commented on #7542
@kroitor, Hi

I have been able to transfer funds to the FUTURES account using this command.

        output = exchange.sapi_post_futures_transfer({
                'asset': in_symbol, # like 'USDT' !!! NOT !!! BTC/USDT
                'amount': str( float( in_amount)), # like '10' (it must be in a string format)
                'type': 1,
                })

It does show up in the Binance User Int

[2020-09-01 19:19] kroitor commented on #7542
First of all, when you mention any error, please, always paste the full code to reproduce it, including the instantiation code, since we can't guess what exactly you're executing on your side without seeing the code itself. Apart from that it is mentioned everywhere, in the Manual and in the FAQ, that we always ask for your verbose request + response in case of any error:

- https://github.com/ccx

[2020-09-01 19:21] cadmufasa commented on #7542
Thanks again for the quick response. Will apply what you have written.

[2020-09-01 19:22] kroitor commented on #7542
Basically, placing the futures order depends on whether your futures margin mode is ISOLATED or CROSS and depending on that you must either have enough margin on your entire futures-margin account, or enough margin on the futures-margin account for a specific isolated symbol/position.

[2020-09-01 19:48] kroitor commented on #7542
@cadmufasa

Forget about `sapi` – you don't need it if you want to trade futures.
Futures accounts have their own margin.
This message says that you don't have enough margin on your futures margin account related to your position, it has nothing to do with the spot margin:

[code]

That message will pop up depending on how exactly you want to trade futures, considering the above variety of trading

[2020-09-01 19:55] cadmufasa commented on #7542
A Futures Margin Order

Yes. My understanding is that there are 2 separate areas of code for funding for each funding combination. For the combination of (futures + margin):

**PART A:** The code below would fund the **FUTURES portion** of the ( futures + margin) account **(called FUTURES)**:

        output = exchange.sapi_post_futures_transfer({
                'asset': in_symbol, # like 'USDT'

[2020-09-01 19:56] cadmufasa commented on #7542
Hi again, I just saw your last post. Will go through it.

[2020-09-01 20:03] cadmufasa commented on #7542
Hi kroitor,

Thanks so incredibly much for that explanation! I think I am seeing where I goofed (using **sapi** instead of **fapi**). I would like to correct this. I will update the post with my results.

Regards.

[2020-09-01 21:02] #7542 closed

[2020-09-01 21:15] kroitor commented on #7542
@cadmufasa let us know if this example does not answer your question:

- https://github.com/ccxt/ccxt/blob/master/examples/py/binance-futures-margin.py

[code]

[2020-09-02 04:03] monk-after-90s commented on #7547
@kroitor Well, it seems really version 2.
My problem came from this scene:
[code]
And gateio don't have 'fetchClosedOrders' method.
So how to get gateio order history?

[2020-09-02 05:00] kroitor commented on #7547
@monk-after-90s

The exchanges usually have:
- either fetchOpenOrders (fetch_open_orders) + fetchClosedOrders (fetch_closed_orders)
- or fetchOrders

You can use the above to get your history of orders.

[2020-09-02 05:12] #7511 closed

[2020-09-02 05:14] kroitor commented on #7511
@CHEYULIU let us know if this example does not resolve your problem:

- https://github.com/ccxt/ccxt/blob/master/examples/ccxt.pro/py/watch-ticker-to-csv.py

[code]

[2020-09-02 05:34] monk-after-90s commented on #7547
As show above, gateio fetch_orders method don't behave well.

[2020-09-02 05:40] diwenshi61 opened #7551 "CCXT Pro Demo data is wrong"
(Closed and reopened because I accidentally pressed enter before typing out the issue)
I was looking at your CCXT Pro product, and it appears that the Demo you show has incorrect data on the Poloniex exchange due to the price increment being wrong.
![image](https://user-images.githubusercontent.com/51501270/91936084-af875c00-ecde-11ea-85ff-5d6d8c17f73f.png)

[2020-09-02 06:04] kroitor commented on #7551
@diwenshi61 hi! Thx for reporting! The data itself is ok, however, the values were truncated upon rendering, fixed that.

[2020-09-02 06:04] #7551 closed

[2020-09-02 06:06] kroitor commented on #7547
@monk-after-90s

What do you mean?

[2020-09-02 06:13] monk-after-90s commented on #7547
The code shows that gateio fetch_orders doesn't work. And gateio has no fetch_closed_orders.
So there is no way to get order history.
Gateio fetch_open_orders works well.
I want order history.

[2020-09-02 06:18] yen-a commented on #7459
Still unresolved?

[2020-09-02 06:28] kroitor commented on #7547
@monk-after-90s it does work, but it does not return canceled orders. You can also use `fetchOrder` to check the status of the order returned from `createOrder` by `id`. That is not a limitation of CCXT, though, it is more like a limitation of the Gate.io API itself. In other words, some exchanges require you to store your history for yourself. You can deduce some of it from the history of your pe

[2020-09-02 06:28] kroitor commented on #7459
@yen-a the fix is in the works right now, will upload it soon, hopefully.

[2020-09-02 15:45] molarro opened #7552 "Memory leak detected for bybit.js"
On every request (e.g. createOrder or fetchTickers) doing via bybit.js new "system / JSArrayBufferData" object is added to memory and don't released.
This behavior is detected with the help of memory snapshot in Chrome DevTools running Nodejs in inspect mode.  Please look at the screenshot:
![bybit-memory-leak](https://user-images.githubusercontent.com/17534971/92002626-b6e34f80-ed48-11ea-986f-f4a

[2020-09-02 16:50] kroitor commented on #7552
@molarro just to clarify, you're getting the above behavior with the most recent version 1.33.86+, right?

[2020-09-02 17:21] molarro commented on #7552
Yes, at first we used 1.27, then upgrade to 1.33.86 - same issue.

[2020-09-02 17:31] kroitor commented on #7552
@molarro we have addresses this issue previously, can you plz verify that your runtime version is up to date?

I mean, running something like this in your Chrome console to make sure that the actually used version is the most recent version:

[code]

[2020-09-02 22:59] kroitor commented on #7552
@molarro also, if you can, please, paste the code you use to reproduce it:

- https://github.com/ccxt/ccxt/wiki/FAQ#what-is-required-to-get-help

[2020-09-03 00:00] unheaven opened #7554 "Can't login ccxt.base.errors.ExchangeError: ftx {"error":"Not logged in","success":false}"
I think I put API key and secret it right.
Can't login ccxt.base.errors.ExchangeError: ftx {"error":"Not logged in","success":false}
- FTX
- OS: windows 10
- Programming Language version: Python version: 3.7
- CCXT version:1.33.90

[code]
import ccxt
print(ccxt.exchanges)

ftx = ccxt.ftx({
    'apiKey': "key",
    'secret': "secret",
    'enableRateLimit': True,
})
print(ftx.fetch_balance())
[code

[2020-09-03 00:13] kroitor commented on #7554
TL;DR: make sure you use the proper keys and your system clock is in synch with the exchange.

Duplicate:

- https://github.com/ccxt/ccxt/issues/6985
- https://github.com/ccxt/ccxt/issues/7244
- https://github.com/ccxt/ccxt/issues/7461
- https://github.com/ccxt/ccxt/search?q=ftx+not+logged+in&type=Issues
- https://blog.ftx.com/blog/api-authentication/#not-logged-in-error

For the future:

- https:

[2020-09-03 00:13] #7554 closed

[2020-09-03 08:35] molarro commented on #7552
@kroitor Yes, we exactly use 1.33.93 and I have updated my post with a sample code to reproduce.

[2020-09-03 10:06] frosty00 commented on #7552
looks like it is working good for me in node with no memory leak. sometimes it can take the garbage collector a few seconds to clean up

[2020-09-03 12:39] molarro commented on #7552
Oddly, in our Nodejs, every hour amount of JSArrayBufferData objects increase until out of memory.

[2020-09-03 18:41] abhishekr-bh opened #7556 "ques: cost in trade structure is inclusive of fee ?"
Hi
I had a small doubt, is the 'cost' field. calculated as price * amount inclusive of fee or not ?
If the price * amount is `x` and the fee is `y`, then cost is `x + y` or just `x`

[2020-09-03 18:46] abhishekr-bh commented on #7556
It is including fees, written in the comments

`// total cost (including fees), price * amount`

[2020-09-03 18:46] #7556 closed

[2020-09-04 00:42] serteikas opened #7557 "Kraken "settle-position" order type in CCXT"
How to replicate Kraken "settle-position" order type in CCXT?

[code]

I've tried using additional parameters (ex: "type': 'settle-position') but it did not work. Is this order type supported if so what would be the correct syntax for it?

Thanks.

[2020-09-04 08:23] mickeyahs commented on #6805
Hi,

I have the same error when trying to post 5 orders using fapiPrivatePostBatchOrders:
`
exchange = open_exchange_connection(my_api, my_secret)
side = 'BUY'

orders = [
        {'symbol': 'BTCUSDT', 'type': 'LIMIT', 'price': 7000, 'timeInForce': 'GTC', 'side': side, 'reduceOnly': False, 'quantity': 0.001},
        {'symbol': 'BTCUSDT', 'type': 'LIMIT', 'price': 6000, 'timeInForce': 'GTC', 'side

[2020-09-04 09:09] kroitor commented on #6805
@mickeyahs hi! how do you initialize the exchange? what's your version of CCXT ?

[2020-09-04 09:27] mickeyahs commented on #6805
hi @kroitor,

[code]

import ccxt
ccxt.__version__
'1.27.1'

[2020-09-04 09:31] kroitor commented on #6805
@mickeyahs do you have the same issue with the most recent version 1.33.97?

[2020-09-04 09:34] mickeyahs commented on #6805
@kroitor
Yes, just updated to 1.33.97,
same issue

[2020-09-04 09:38] kroitor commented on #7557
You can do that with CCXT using `params` overrides as described in the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#overriding-unified-api-params

[code]

In general, I'd highly recommend reading the entire Manual from top to bottom, that will save your time:

- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/wiki/Manual

Let us know if the above does not answer your questi

[2020-09-04 09:38] #7557 closed

[2020-09-04 09:42] kroitor commented on #6805
Let's try one order first:

[code]

↑ Edit this snippet for your values and run it, then copypaste the verbose request+response output here.

[2020-09-04 09:48] mickeyahs commented on #6805
the code above works for me:

[code]

[2020-09-04 12:20] molarro commented on #7552
Does  growth of JSArrayBufferData objects depends on request method (e.g. http, sockets) used in particular exchange library? Also, can request execution speed and amount impact on amount of  JSArrayBufferData objects?

Using Binance and Kucoin there are no additional JSArrayBufferData objects with content like 'api.bybit.com:443:::::::::::' - only using Bybit, Deribit and ftx.

[2020-09-04 13:10] mickeyahs commented on #6805
@kroitor do you experience the same issue?

[2020-09-04 14:16] BHruska opened #7559 "marketOrder on BINANCE - InsufficientFunds"
Trying to close a position on BINANCE with a Market Order, and I get a message indicating InsufficientFunds.
The size is exactly my balance of that coin.  Not sure what I could be doing wrong.  Suggestions would be appreciated.

Thanks,
Brian

MUST READ THIS BEFORE SUBMITTING ISSUES (read the links, then delete this message before submitting):

- https://github.com/ccxt/ccxt/wiki/FAQ
- https://git

[2020-09-04 17:20] Kinzowa opened #7560 "New exchange: Serum Dex"
Hi, please add Serum Dex that run on Solana and backed by Alameda Research & FTX

https://dex.projectserum.com/#/
https://projectserum.com/developer-resources

[2020-09-04 23:10] kroitor commented on #7559
1. First update to the most recent version of CCXT 1.33.97+
2. Then try this snippet:

[code]

Let us know if the above does not answer your question. If you still have issues with it, please, paste your entire verbose request+response output from the above snippet. Feel free to reopen this issue or just ask further questions, if any.

[2020-09-04 23:10] #7559 closed

[2020-09-05 03:08] kroitor commented on #6805
@mickeyahs i'll debug it and will get back to you asap.

[2020-09-05 05:16] mickeyahs commented on #6805
@kroitor thanks a lot

[2020-09-05 11:12] AsadullahSoomro opened #7561 "How to do Transactions like buy and sell between two exchanges with the help of test coins in python using ccxt Library ?"
How to do Transactions like buy and sell between two exchanges with the help of test coins in python
using CCXT Library?

[2020-09-05 11:15] AsadullahSoomro commented on #7561
Can anyOne tell me that how to do a transaction between two exchange  using dummy test coins in python
using CCXT Library?

[2020-09-05 15:53] Princeton007 commented on #7506
Not sure if this is related to this topic or if it's an exchange issue (I opened a ticket with Bitfinex already):
When trying to place a margin market order at the papertrading account, I receive the following exception:

ccxt.base.errors.ExchangeError: bitfinex {"message":"Paper Trading is only allowed across Paper Trading users."}

Trying to place the same order in Bitfinex GUI returns in anothe

[2020-09-05 16:56] shoichi-dev opened #7562 "How to get all trade's history"
Hi,
How to get all trade's history?

broker : FTX
python: 3.7

[code]

Output:
[code]

First trade : 24/08/2020 23:40

Best Regards
Nattapon

[2020-09-06 01:34] kroitor commented on #7543
Hi!

First and foremost we recommend to read the CCXT Manual:

- https://github.com/ccxt/ccxt/wiki/Manual

You want to make sure that you understand various types of data and their relations.
Basically, CCXT implements the exchanges that have the endpoints for:

- getting a list of currencies
- getting a list of all currency pairs
- getting the public trade history for a currency pair
- getting th

[2020-09-06 01:34] #7543 closed

[2020-09-06 13:11] npomfret opened #7563 "question about currency formatting"
const currency = 'XRP';
        const rawAmount = 9164.154999999999;
        const exchangeId = 'hitbtc';

        const exchange = new ccxt[exchangeId]();
        await exchange.loadMarkets();

        const precision = exchange.currencies[currency]['precision']
        console.log({precision});

        const formatted = exchange.currencyToPrecision(currency, rawAmount);
        console.log({for

[2020-09-06 20:06] dafritzson opened #7565 "Async orderbook examples broken for some exchanges"
- OS: Windows 10
- Programming Language version: Python 3.8.3
- CCXT version: 1.34.3

[code]
Results in this error for at least bittrex, kucoin and huobi. Binance, poloniex and bitfinex seem to work. The error message says to include 'exchange.close()' at the end of the coroutine, which is already included in the example.

[code]

[2020-09-06 22:42] kroitor commented on #7565
@dafritzson i'm trying to reproduce it on my side, but the above examples work for me with bittrex, kucoin and huobipro.
Do you see the error immediately after the launch? Can you please paste your entire verbose output?

[code]

[2020-09-06 23:46] #7563 closed

[2020-09-06 23:49] kroitor commented on #7563
@npomfret it was a bug, a conflict of TICK_SIZE in the markets vs DECIMAL_PLACES in the currencies. I've uploaded a fix for it, now it's TICK_SIZE everywhere in HitBTC, let me know if you have further issues with it after upgrading to 1.34.4. The new build will arrive in 15 minutes. Thx again for your involvement!

[2020-09-06 23:51] dafritzson commented on #7565
So in the async-orderbooks.py example I realized I actually removed the "while True" statement so it only ran once. That caused the bittrex message I copied to post a few seconds after posting the poloniex and bitfinex responses. However, here is the verbose output from the exact code of async-fetch-order-book-from-many-exchanges.py when I run it. (Output attached as txt file because it's too many

[2020-09-07 02:09] #7565 closed

[2020-09-07 02:09] kroitor commented on #7565
@dafritzson you may want to add some error handling, the examples don't always include the error handling and sometimes the error handling is omitted in the examples in order to show some specific aspect of the lib in cleaner way.
I've added some basic error handling to that example (note, that the `exchange.verbose = True` is set after `.load_markets()` to avoid too much output):

- https://githu

[2020-09-07 09:15] npomfret commented on #7563
Perfect, thank you

[2020-09-07 09:33] npomfret opened #7569 "[ftx] transaction address is "[object Object]""
[code]

[2020-09-07 09:39] tjappo commented on #7233
@kroitor We have the problem with every coin. When do you expect to have the new python version ready?

[2020-09-07 10:16] kroitor commented on #7233
@tjappo the new python client will arrive soon: https://github.com/kroitor/ccxt.pro/pull/50
In the meantime a few questions to you:
- Do you have the `try/except` clause around your watch-loop?
- Can you post the entire code you use to reproduce it?
- Do you share the exchange instance among the watch-calls, or do you re-create it prior to every call to the watch-method?
- How many times and how o

[2020-09-07 10:44] mickeyahs commented on #6805
@kroitor hi,
any news about this issue?

[2020-09-07 10:45] kroitor commented on #6805
@mickeyahs i'll do my best to get it resolved as soon as I can, within a few hours, hopefully. Thx for your patience!

[2020-09-07 13:00] #7569 closed

[2020-09-07 14:31] nkasimova opened #7571 "How to place margin leverage order on bitfinex?"
- OS: Ubuntu 18
- Programming Language version: python 3.7.7
- CCXT version: 1.28.49

Hi,

I would like to set up leverage 4 (1:4 or 25%) on bitfinex 'BTC/USDT'

First of all, I tried:
bitfinex.create_market_sell_order(symbol, btc_volume * 4, {'type': 'market', 'lev': '4'})
but, when I handly calculated leverage value like this: btc_volume * 4 * price_sell / used_USDT, where used_USDT is bitfinex.

[2020-09-07 17:14] 646b commented on #7451
Where can I find updated table?

[2020-09-07 18:26] riko105 commented on #7451
Hello!

@kroitor It Will be good to have a place with up-to-date features available for each exchange in pro-subscription.

Best Regards.

[2020-09-07 22:49] frosty00 commented on #7451
@riko105 @646b we will add this to the ccxtpro website. we are currently extremely busy so please bear with us

[2020-09-08 05:39] AsadullahSoomro opened #7572 "what is the issue , kindly help me"
I am using bybit testnet account for trading when I do some trading problematically,  It is showing this transaction via a notification on the portal but it is not showing our orders in the position bar or active order bar. what is the issue,
kindly help me.

Thanks in advance!

[2020-09-08 05:42] kroitor commented on #7572
I'd suggest to forward this question to Bybit's tech support, since we don't maintain or control the Bybit's testnet website. You can create and fetch your Bybit testnet orders with CCXT using the unified API as documented in the CCXT Manual, but we're not responsible for the working of the Bybit's website.

[2020-09-08 05:42] #7572 closed

[2020-09-08 06:42] dducted opened #7573 "ByBit auth error handling"
Hi,

I am using python. Trying to except an Authentication Error with `except ccxt.AuthenticationError as e:`. It works all fine with Bitmex, Deribit, Binance however ByBit is throwing me the following:

`ccxt.base.errors.ExchangeError: bybit {"ret_code":10003,"ret_msg":"invalid api_key","ext_code":"","ext_info":"","result":null,"time_now":"1599547085.415797"}`

Not sure why `invalid api_key` retu

[2020-09-08 07:41] jsappme commented on #1505
Any reason why the 1h candle data is not available?

[2020-09-08 11:44] Usmankhokhar123 opened #7574 "Transaction between multiple exchanges?"
how can I do some Transaction like buy and sell between two exchanges using CCXT?
Is there any function for that? or any way so I could do that

[2020-09-08 20:22] Yassineelma opened #7576 "Adjust leverage Using php - Found only solution using python"
Hello im trying to create a small program to create future orders i found this script to create future order
https://github.com/ccxt/ccxt/issues/6315
I will use this code
`
Date_default_timezone_set('UTC');
include 'ccxt.php';
$exchange_id = 'binance';
$exchange_class = "\\ccxt\\$exchange_id";
$binance = new $exchange_class(array(
    'apiKey' => "apiKey",
    'secret' => "secret",
    'timeout' =

[2020-09-09 01:58] #7573 closed

[2020-09-09 02:00] kroitor commented on #7573
Nope, it's not. The problem is that the exchange does not document all possible error codes in this case. So, we have to add those error mappings upon encountering them. I've uploaded a fix for it, let us know if you have issues with it after upgrading CCXT to version 1.34.9+. Thx for reporting it!

[2020-09-09 02:03] kroitor commented on #7574
Yes, this is done with the `withdraw` unified method: https://github.com/ccxt/ccxt/wiki/Manual#withdraw
You pick the source exchange you want to send the money from and call a withdraw method with it specifying the destination exchange – this way you transfer funds between two exchanges.

I would highly recommend reading the entire Manual from top to bottom – it will really save your time:

- http

[2020-09-09 02:03] #7574 closed

[2020-09-09 04:40] #7576 closed

[2020-09-09 04:42] kroitor commented on #7576
Let us know if the following example does not answer your question:

- https://github.com/ccxt/ccxt/tree/master/examples/php/binance-set-futures-leverage.php

[code]

Yes, it is the same function, you can call any endpoint using the implicit API methods as explained in the Manual here:

- https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

I highly recommend to read the entire Manual fr

[2020-09-09 04:58] kroitor commented on #7571
Hi @nkasimova !

What's your `btc_value`? Can you please paste your verbose output?

[code]

[2020-09-09 22:03] 4nzor opened #7577 "Authorization error at async_support"
- OS: Ubuntu 18.4
- Programming Language version: Python 3.6
- CCXT version: 1.34.11

I get an authorization error using async_support, while the same key with synchronous requests works as expected.

`Error text: AuthenticationError binance {"code":-2014,"msg":"API-key format invalid."}`

[code]

[2020-09-10 03:27] shoichi-dev commented on #7562
change :
[code]

to :
[code]

[2020-09-10 03:27] #7562 closed

[2020-09-10 03:49] kroitor commented on #7577
You're violating this design rule: https://github.com/ccxt/ccxt/wiki/Manual#notes-on-rate-limiter – do not create a new exchange instance for each unified call. Reuse the same exchange instance for all unified calls.

[code]

Let us know if the above does not help. Feel free to reopen this issue or just ask further questions if any.

[2020-09-10 03:49] #7577 closed

[2020-09-10 03:49] kroitor commented on #7562
@shoichi-dev thx for reporting back!

[2020-09-10 06:43] AsadullahSoomro opened #7579 "Transaction between two exchanges."
@kroitor
How can I do a transaction like buy and sell from one exchange to another using CCXT, For that, I am using the bybit testnet account and BitMEX testnet account, Kindly help me
Thank You!

[2020-09-10 06:51] AsadullahSoomro commented on #7579
How to do Transactions like buying and selling between two exchanges with the help of test coins in python using ccxt Library?

[2020-09-10 09:51] hrokling commented on #6884
This is solved with Issue #7433 , which is currently a waiting Pull request.

[2020-09-10 10:02] 4nzor commented on #7577
unfortunately the same exception is returned

[code]

[2020-09-10 11:45] kroitor commented on #7577
@4nzor make sure your keys are ok, using the .verbose mode:

[code]

↑ Add the .verbose line above after .load_markets and make sure that your `apiKey` from your verbose output corresponds to a correct key literally to a symbol.

[2020-09-10 14:45] kroitor commented on #7579
@AsadullahSoomro please, don't duplicate the issues, we will respond in your original issue: https://github.com/ccxt/ccxt/issues/7561

[2020-09-10 14:45] #7579 closed

[2020-09-10 14:48] kroitor commented on #7561
@AsadullahSoomro the exchanges have a unified method called `withdraw` – it is documented in the CCXT Manual.
I would highly recommend you to read the entire Manual from top to bottom, most of the questions are already answered there. Check out the examples as well.

- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/wiki/Manual
- https://github.com/ccxt/ccxt/tree/master/examples

[2020-09-10 14:48] #7561 closed

[2020-09-10 14:50] dducted opened #7580 "Bitmex watch orders prob using websockets"
Hi,

I was wondering if there is a way to watch orders, esp. Take Profits and Stop Losses on BItmex. I have seen this [issue](https://github.com/ccxt/ccxt/issues/6995) which comes probably close to what I am looking for however its not clear for me how to implement it.

Any help is appreciated. Thank you!

[2020-09-10 14:55] kroitor commented on #7580
Hi! The unified private WS API is still a work in progress, we are adding those methods right now.

Here's a full list for the moment:

<img width="729" alt="Screen Shot 2020-09-10 at 17 53 56" src="https://user-images.githubusercontent.com/1294454/92749372-b8d39100-f38e-11ea-8c1a-7460f83f0fa6.png">

↑ We have already implemented private `watchMyTrades` for BitMEX, `watchOrders` is coming within a

[2020-09-10 14:55] #7580 closed

[2020-09-10 14:59] dducted commented on #7580
Thanks for your prompt response, kroitor. `watchMyTrades` is what I am looking for. Do you have by any chance an example? I do know its work in progress as you mentioned but maybe you have an example? Would be interested in python.

Thank you!

[2020-09-10 15:15] kroitor commented on #7580
@dducted

[code]

Let me know if that does not help.

[2020-09-10 18:09] 4nzor opened #7581 "Binance requests limit"
Hi! I need to get the entire history for all tickers, but the limitation makes this process very long (about 8 minutes) for the user, are there any ways to solve this problem without using a proxy?

[code]
[code]
[code]