[2018-06-22 10:34] lfern commented on #56
htto-proxy-agents seems to work fine with node websocket.

example.js
[code]
But Autobanh/asyncio(python) is not working when try to use proxy:
[code]

[2018-06-22 16:12] benediamond opened #3221 "minimum amount limits are too low as listed"
hi @kroitor, on bibox and huobipro, the listed limits are often too small. For example,
[code]
and yet,
[code]
I'm not sure if there is a good fix other than hardcoding. This limit appears to exist for various currencies though, and something similar happens on Bibox. Perhaps we can use this place to collect examples, before changing the code?

[2018-06-22 17:25] ldc2726 opened #3222 "JavaScript compile python"
I recently encapsulated a new exchange, but I'm writing javascript, and I want to know how to actually compile it into python code

[2018-06-22 22:00] procloud opened #3223 "Cryptopia not returning any open orders"
- OS:
ubuntu 18.04
- Programming Language version:
php
- CCXT version:
1.14.254
- Exchange:
cryptopia
- Method:
->fetchOpenOrders() or ->fetchOpenOrders($pair)

when i turn verbose on, i can see the json data, but a blank array is returned from the call

[2018-06-22 23:21] TotallyKyle opened #3224 "Gemini new transfers endpoint"
There is an endpoint offered by Gemini that isn't in the definition:

https://docs.gemini.com/rest-api/#transfers
POST https://api.gemini.com/v1/transfers

This returns a history of all of your deposits and withdraws.

To add this to the implicit api methods, do we just have to change here?:

'private': {
                    'post': [
                        'order/new',
                        'o

[2018-06-23 04:34] kroitor commented on #3222
@ldc2726 read this doc, plz, answered here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

Let us know if it does not answer your question.

[2018-06-23 04:34] #3222 closed

[2018-06-23 04:37] kroitor commented on #3224
Yep.

Already added it. Thx for pointing that out.

[2018-06-23 04:37] #3224 closed

[2018-06-23 04:38] kroitor commented on #3223
@procloud please read the manual very carefully, as it is all documented there:

- https://github.com/ccxt/ccxt/wiki/Manual#querying-orders
- https://github.com/ccxt/ccxt/wiki/Manual#orders-cache
- https://github.com/ccxt/ccxt/wiki/Manual

[2018-06-23 04:38] #3223 closed

[2018-06-23 05:05] kroitor commented on #3223
P.S. If the above info does not solve your question and you still think it's a problem in the lib, then, plz, **post your code to reproduce the issue and your verbose request / response**, precisely as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-06-23 07:13] presence35 opened #3226 "PHP Memory overflow"
Hi. I'm sure I'm doing something wrong but I'm unable to figure out why I keep getting memory errors. The query returns about 200 rows and fails after a few dozen, sometimes in exchange.php and sometimes in an actual exchange (bittrex.php, binance.php, etc), and always at a different line. I put verbose mode on and saw that it seems to be querying the exchange every single time.

Is there a cleane

[2018-06-23 07:29] kroitor commented on #3226
There's no wonder why you're getting memory errors. You're instantiating one exchange instance per loop iteration. This is not how you should do things. Instead of selecting all coins and then creating an exchange for each coin (you're basically duplicating tons of exchanges for coins from same exchange ids), you should:

1. select all exchange ids
2. pre-create exchange instances by instantiating

[2018-06-23 07:29] #3226 closed

[2018-06-23 07:31] presence35 commented on #3226
Thank you. I'll look into that material.

[2018-06-23 07:36] kroitor commented on #3226
@presence35 yep, it's in your best interest. On the other hand, if you don't care about proper design principles, then this may work for you (not tested):

[code]

[2018-06-23 11:24] pebble8888 opened #3227 "TypeError: unsupported operand type(s) for - : 'NonType' and 'float'"
"ccxt/bitmex.py" line 281, in fetch_orders
return self.parse_orders(response, market, since, limit)
"ccxt/base/exchange.py", line 1197, in parse_orders
array = [self.parse_order(order, market) for order in array]
"ccxt/baseexchange.py", line 1197, in <listcomp>
array - [eslf.parse_order(order, market) for order in array]
"ccxt/bitmex.py", line 438, in parse_order
remaining = max(amount - fille, 0.

[2018-06-23 11:28] #3227 closed

[2018-06-23 11:57] pebble8888 commented on #3227
@kroitor

Your fix seems like javascript.
How about python3 ?

[2018-06-23 12:07] kroitor commented on #3227
@pebble8888 it is generated automatically, thus fixed in python as well, more about it here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#multilanguage-support

So, the most recent version of it from PIP has a fix in it already and I don't need to fix all languages one by one.

[2018-06-23 12:27] pebble8888 commented on #3227
@kroitor
I got it. Thank you.

[2018-06-23 12:36] srkgpy opened #3228 "Error when try to get balance: "invailed sign""
It works when I do this:
`import ccxt`
`hitbtc = ccxt.hitbtc({
    'apiKey': '18339694544745d9357f9e7c0f7c41bb',
    'secret': '8340a60fb4e9fc73a169c26c7a7926f5',
})`
`print(hitbtc.fetch_balance())`

But its now working when I do this (I have a lot of balances that I nee to read their api from csv):

[code]

[2018-06-23 12:47] kroitor commented on #3228
If it works like shown in your first snippet and doesn't work with the second snippet, then you should check your values...

[code]

Nobody here is going to teach you how to debug your own basic python code, sorry. This is for issues with the library, not with any code that does not work. Also, you're not helping to help you, because "it's not working" isn't a proper description of what is happeni

[2018-06-23 12:49] kroitor commented on #3228
I'd close this for now, feel free to ask further questions, if any.

[2018-06-23 12:49] #3228 closed

[2018-06-23 14:29] presence35 commented on #3226
That didn't work.

Anyway, I rewrote it to load the exchanges only once and it's fine now.  Thanks for your help.

One other non-related question. I can't seem to load the BAY/BTC price for Bittrex. I tried using BitBay/BTC and that doesn't work either. The symbol value when I dump fetch_markets is BAY, so I'm confused why it's not working.

[2018-06-24 05:46] interenet opened #3229 "Bit-Z Api Upgrade"
https://support.bit-z.pro/hc/en-us/articles/360006117934-Bit-Z-Api-Upgrade

[2018-06-24 07:59] arielorvits opened #3230 "dup: ORS is "ORS Group" in bitfinex, but "Origin Sport" in okex (none in cmc)"

[2018-06-24 08:11] arielorvits opened #3231 "dup: WIN is WCOIN in qryptos, but WinToken (not exists in cmc) in okex"

[2018-06-24 14:29] #3229 closed

[2018-06-24 15:52] #3231 closed

[2018-06-24 17:07] Mantas779 opened #3232 "hitbtc.fetchMyTrades NotSupported fetch_my_trades() is not implemented yet'"
- OS: Win 10
- Programming Language version: Python 3.4
- CCXT version: 1.14.257
- Exchange: HitBTC
- Method: fetchMyTrades

AltCoinTrades = hitbtc.fetchMyTrades(AltCoin)
 self.raise_error(NotSupported, details='fetch_my_trades() is not implemented yet')

openorder = hitbtc.fetchOpenOrders('ARDR/BTC')
print(openorder)        works fine

btc = hitbtc.fetchBalance()['BTC']['free']
print('Free BTC To

[2018-06-24 17:10] kroitor commented on #3232
@Mantas779 their v1 API is outdated, just use `hitbtc2` instead of `hitbtc` and you should be ok ) Let us know if it does not answer your question. Thx!

[2018-06-24 17:10] #3232 closed

[2018-06-24 18:39] kroitor commented on #677
Merged in #1127. Thx for your patience.

[2018-06-24 18:39] #677 closed

[2018-06-24 19:30] miracle2k commented on #850
Just to clarify for any reader of this, the original change from Dec 2017, which changed the behaviour of binance to not use the nonce, but to always use the milliseconds, was effectively reverted in `https://github.com/ccxt/ccxt/commit/36105a438375d599d52f2e057d0484b1ff223a4f` - so setting `{nonce: somethingCustom}` on a binance instance will cause this error.

[2018-06-25 00:16] deangelo200 commented on #850
im getting {'msg': '{"code":-1021,"msg":"Timestamp for this request was 1000ms ahead of the server\'s time."}', 'success': False}
how can i fix it im using python-binance #noobprogramer

[2018-06-25 00:21] kroitor commented on #850
@deangelo200 with `ccxt` this can be easily done as described above + in the linked issues, as for `python-binance`, I guess, you should ask here https://github.com/sammchardy/python-binance/issues instead.

[2018-06-25 01:55] imhazige commented on #56
@lfern

I tested the examples with agent option
[code]

get a error
[code]
is the proxy server http://185.93.3.123:8080 running? what's kind of proxy server it is?

[2018-06-25 02:40] binares commented on #3205
Hi, could you please elaborate what's the exact procedure for ticker name changes?

Is your policy to only hardcode in case of name conflicts (**BITS:SWIFT** in bittrex.py) and popular/large cap coins (**NANO:XRB** in binance.py), while leaving out small cap non-conflicting new names (~~**MORE:LGD**~~ in bittrex.py)?

[2018-06-25 03:10] binares commented on #2859
This seems to be a general problem, I tested the .fetchTrades method on different exchanges, the unix ['timestamp'] is off up to 1000ms from the ['datetime']. Probably a rounding problem.

[code]
binance 1529891397931 1529891398931 1000
bitbank 1529887535002 1529887535200 198
bitfinex2 1529859239032 1529859239320 288
bitflyer 1529888059044 1529888059440 396
bittrex 1529789548997 1529789549997 1000

[2018-06-25 06:02] kroitor commented on #3205
@binares hey ) Well, you've answered the question yourself ) More about it here:
- https://github.com/ccxt/ccxt/wiki/Manual#naming-consistency
- https://github.com/ccxt/ccxt/wiki/Manual#notes-on-naming-consistency

Let us know if it does not answer your question.

[2018-06-25 06:10] kroitor commented on #2859
@page1

You're looking into `info` instead of the `timestamp` and `datetime`. Moreover, the values in the `timestamp` and `datetime` are both correct and don't lose precision with decimals, those are just a milliseconds-timestamp and UTC ISO8601 datetime string. Precision is not lost there.

<img width="691" alt="screen shot 2018-06-25 at 09 05 47" src="https://user-images.githubusercontent.com/12

[2018-06-25 06:20] kroitor commented on #2859
@binares i think you got an error in your conversion code:

[code]

[2018-06-25 09:13] binares commented on #2859
[code]

They are equal, man: 1529917800369 1529917800369 2018-06-25T09:10:00.369Z 2018-06-25T09:10:00.369Z
binance 1529917802578 1529917803578 1000
binance 1529917804673 1529917805673 1000
binance 1529917807751 1529917808751 1000
binance 1529917809879 1529917810879 1000
binance 1529917811924 1529917812924 1000
binance 1529917814625 1529917815625 1000
binance 1529917817569 1529917818569 1000
binanc

[2018-06-25 09:15] lfern commented on #56
Sorry, I don't have a proxy server in my network, and I didn't want to waste time installing it for testing, so I try a free proxy  from free-proxy-list.net . I think these proxies aren't always available.

[2018-06-25 11:06] HornKild opened #3239 "Problem with fetch_tickers() with Lbank"
Hello,

Everything works fine with others exchange that allow to fetch all tickers at once with a single call but for some reason it returns an error with Lbank :
[code]
The same function with Kucoin, Bitz, etc. returns the tickers:
`ccxt.kucoin().fetch_tickers()`

VERSION 1.14.267

What could be the reason ?

[2018-06-25 11:19] morzyns opened #3240 "Bittrex: Not Available"
For few days i get this error while trying to get balance.
My Location: London/UK

- OS: Mac
- Programming Language version: JS
- CCXT version: 1.14.205
- Exchange: Bittrex
- Method: GetBalance

[2018-06-25 11:19] raman424 opened #3241 "Binance v3 => GET /api/v3/allOrders returns no price value for the order with type MARKET"
Hi,

I am trying to get the list of all orders using api GET /api/v3/allOrders. I usually get the list of orders from Binance exchange. It gives me the correct information for order type limit but for order type MARKET, I am getting one of the following objects which returns no price and no final amount (which can be used for reverse calculate the price).

{"symbol":"ETHUSDT","orderId":orderId,"cl

[2018-06-25 12:28] kroitor commented on #3241
Duplicate:

- https://github.com/ccxt/ccxt/issues/2019
- https://github.com/ccxt/ccxt/issues/2714
- https://github.com/ccxt/ccxt/issues/1011

[2018-06-25 12:28] #3241 closed

[2018-06-25 12:30] kroitor commented on #3239
Duplicate: #3179

[2018-06-25 12:30] #3239 closed

[2018-06-25 12:31] kroitor commented on #3239
@HornKild you can send them a line as well, like other users did, to push on them a little. They might fix it quicker then.

[2018-06-25 12:33] kroitor commented on #3240
@morzyns need **your code to reproduce the issue** and **your verbose request and response**: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ...

[2018-06-25 12:53] kroitor commented on #2859
@binares

[code]

[2018-06-25 12:54] kroitor commented on #2859
@binares ok, now I think I found the reason... It is Python3-specific, but I've managed to reproduce the issue. Will debug further and will get back to you on this. Thx again for your help!

[2018-06-25 13:16] binares commented on #2859
@kroitor With a closer look, all timestamps with the 3rd last digit >=5 are off with a positive addition of +1000, whereas 1<=x<5 are correct, and x=0 are off in range of range of +1 to +1000. Your last test only has one identical input timestamp, hence the seeming correctness.

[2018-06-25 13:16] dmig commented on #3077
One more collision for PLC symbol: Cryptopia has Polcoin, not PlusCoin as many others

[2018-06-25 13:26] xiangzz159 opened #3242 "New Exchange: CoinBig"
web: https://www.coinbig.com/index.html

doc: https://github.com/489405826/coinbigapi/wiki/API%E8%AF%B4%E6%98%8E%E6%96%87%E6%A1%A3

https://github.com/xiangzz159/ccxt/blob/master/python/ccxt/coinbig.py

[2018-06-25 13:28] frosty00 commented on #2859
https://github.com/ccxt/ccxt/blob/master/js/test/base/functions/test.datetime.js

^ These tests are transpilled into python and php

On my computer all python tests are passing - /Users/carlorevelli/Documents/important/code/arbitrage/ccxt/tests/test_exchange_datetime_functions.py

[2018-06-25 13:33] kroitor commented on #2859
@frosty00

[code]

[2018-06-25 13:35] kroitor commented on #2859
@frosty00 this is due to `yyyy`, `mm`, `dd`, `hh`, `mm`, `ss`, `msec` parsing in the parse8601, I suppose. Those milliseconds rounding in particular.

[2018-06-25 13:37] futurehome opened #3243 "Failed when install using 'pip install git+https://....'"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Win7
- Programming Language version: Python 3
- CCXT version: Latest
- Exchange:
- Method:

When I try to install CCXT using the following command, it always failed with error code 128,  can you please help to figure it out? Thanks.

pip install --upgrade g

[2018-06-25 13:37] kroitor commented on #2859
@frosty00 also, this problem is present in Python3 only, Python2 is ok:

[code]

[2018-06-25 13:40] kroitor commented on #3243
@futurehome why not just `pip install ccxt` and `pip install --upgrade ccxt` ?

[2018-06-25 13:51] Stas-Buzunko commented on #3217
@kroitor
I've got a few questions, actually, it would be easier to ask on telegram or something like this.

1) I don't see ANY way to get a historical price from coinbase, I see it's possible on gdax (https://docs.gdax.com/#get-historic-rates), but don't see any info about coinbase, do you have any info whether it's possible?

2) speaking of fetchMyTrades, I see that they have 2 methods instead of

[2018-06-25 13:51] futurehome commented on #3243
I found sometimes the version in Pypi is older than in github, so I want to use this way to get the latest version quickly.

[2018-06-25 13:54] kroitor commented on #3243
@futurehome max difference between github and pypi is about 10 minutes. That is the amount of time needed for the new version to propagate everywhere. So, if you don't see it in PyPI yet, you can just retry once again and it should appear there in very short time. Basically, this is all synchronized automatically, so, you don't have to worry about it, just use the pip version and you'll be ok. Doe

[2018-06-25 13:56] futurehome commented on #3243
It's good to hear that, it really helps. Thanks for the responsive feedback.

[2018-06-25 13:56] #3243 closed

[2018-06-25 13:58] futurehome commented on #3243
One other question is what's the reason for not supporting this method? I just want to understand why some repo can install in this way.

[2018-06-25 14:02] kroitor commented on #3217
I'm afraid, they don't have it. The only practical way to store historical data from Coinbase is to just poll continuously and aggregate into your local db for later processing (this is beyond the scope of this library).

Well, it isn't necessarily useless. However, I'd make this optional anyways.

If `this.options['fetchMyTrades']['buy'] == true`, fetch the buys, if `this.options['fetchMyTrades['

[2018-06-25 14:08] kroitor commented on #3243
@futurehome i'll check for that, however, I guess, this is related to your local configuration. Will test anyways, thx for pointing that out.

[2018-06-25 14:22] futurehome commented on #3243
But I can install other repo using this way on my computer.

[2018-06-25 14:30] kroitor commented on #3243
Does updating the pip itself resolve the issue?

[code]

After that, it should work fine. Let us know if it does not help.

https://www.google.ru/search?q=pip+install+git+clone+failed+with+error+code+128+in+None

[2018-06-25 14:48] araa47 opened #3244 "TypeError: object of type 'NoneType' has no len()TypeErr"
In trying to load markets in python3.6.3, once in a while, my program detects an error in the following function. I have only gotten this issue once every 5 days.

market = await exchange.load_markets(reload=True)

My program currently loads the markets under all exchanges in ccxt to keep track of all the coins.

I think it should be handled as ccxt.ExchangeError

![typeerror](https://user-images.

[2018-06-25 14:53] araa47 opened #3245 "JSONDecodeError: Unterminated string starting at: line 1 column 1436 (char 1435)"
In trying to load markets in python3.6.3, my program detects an error in the following function. I have only managed to capture this issue once.

market = await exchange.load_markets(reload=True)

My program currently loads the markets under all exchanges in ccxt to keep track of all the coins.

I think it should be handled as ccxt.ExchangeError

![jsondecodeerror](https://user-images.githubuserco

[2018-06-25 14:56] araa47 commented on #3245
Found another similar issue I have managed to capture 9 times.

![screen shot 2018-06-25 at 10 55 48 pm](https://user-images.githubusercontent.com/22760261/41857842-fa2e2318-78ca-11e8-8604-a624df371862.png)

[2018-06-25 15:00] kroitor commented on #3245
@araa47 unfortunately, those images don't help to help you. Can you please paste your **code to reproduce the issue** + your **verbose request and response** (in text), precisely as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[2018-06-25 15:43] Lynch4u commented on #2920
Thanks, I had the same promble, but  i sloved it just now after i met this issue!

[2018-06-25 16:17] araa47 commented on #3245
@kroitor , yep I'm trying to capture the verbose issues but haven't managed to stumble upon it yet. Will upload the code and verbose output as soon as I can recreate it again.

[2018-06-25 16:24] Stas-Buzunko commented on #3217
@kroitor could you please show me how I can extend coinbase class locally to have my custom fetchOHLCV method to fetch from another service?

I'd like to keep the syntax look the same.

[2018-06-25 16:46] kroitor commented on #3217
There's more than 3 ways to do this in JS:

1.

[code]

2.

[code]

3.

[code]

4. ...

[2018-06-25 16:53] Larz321 opened #3246 "Binance Error 1022"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: windows 8
- Programming Language version: node.js
- CCXT version: 1.14.267
- Exchange: Binance
- Method: FetchBalance

Code:``` let binance = new ccxt.binance({
      'apiKey': RegularKey,
      'secret': SecretKey,
       'verbose': true ,
       'adjustFo

[2018-06-25 16:59] kroitor commented on #3246
@Larz321 let's start with something basic:

[code]

↑ Does this work?

[2018-06-25 17:05] Stas-Buzunko commented on #3217
@kroitor thanks! :)

[2018-06-25 17:12] claufox commented on #3173
I think exchange changed the url api

[2018-06-25 17:31] Larz321 commented on #3246
Thank you for the quick response. Same error, I already deleted and renewed my keys multiple times.

Here is the error:
[code]

[2018-06-25 17:37] kroitor commented on #3246
@Larz321 then we will need to make sure that your system clock is in synch with the rest of the world. Unfortunately, this cannot be done just by enabling the internet time synch checkbox in system clock windows settings... Most often you have to reboot after that, and it also has to be supplemented with a tweak to the registry: https://www.thewindowsclub.com/change-internet-time-update-interval-w

[2018-06-25 17:42] Larz321 commented on #3246
would it work then if i did it on a server like heroku?

[2018-06-25 17:47] kroitor commented on #3246
Nope. I think, for some reason your clock is 1 hour behind the UTC time and minutes are out of sync... I guess, a time sync for your system is what you need. Another common pitfall is misplacing apiKey with secret and vice versa.

Related:

- https://github.com/ccxt/ccxt/issues/850
- https://github.com/ccxt/ccxt/issues/936

Is your system clock synced at all?

[2018-06-25 17:50] kroitor commented on #3246
@Larz321

Window=10000000&signature=95eb0b059fae755d21263286146689e4e9cb1fbcbe74ea8a96628b
de402141d5 400 Bad Request

Looks like you're still overriding the `recvWindow` somewhere and the output you posted is not from the snippet that I've replied with, above. Namely, the `recvWindow` should be 5000 by default, whereas in your output it is 10000000. See the `fetchBalance()` call in my example, I'

[2018-06-25 17:53] DaveMG3 commented on #3142
New infos :
 You cannot trade in USD on OkEx, only in CNY so might be than OKEX trying to provide equivalent in USD did an error on CNY but the weirdest is the value received from API hourly since this WE:

36 millions volume on pair EOS/USD hourly which cumulated on 24h gives around 800 millions!!
![image](https://user-images.githubusercontent.com/32598581/41865373-1ce16a96-78ad-11e8-9fd1-cf12aa4

[2018-06-25 17:56] frosty00 commented on #2859
#3247

[2018-06-25 18:18] kroitor commented on #2859
@binares the problem with timestamp != datetime should go away if you update to most recent version 1.14.268. Thx to @frosty00 for finding time to fix it!

[2018-06-25 18:34] interenet opened #3248 "Bit-Z DDoSProtection: Request too often"
I get error "ccxt.base.errors.DDoSProtection: Request too often" with " 'enableRateLimit': True" after Bit-Z API upgrade. Please correct. Thanks.

[2018-06-25 18:38] kroitor commented on #3248
@interenet have you tried setting a lower rateLimit?

[2018-06-25 18:38] crackfoo commented on #763
@kroitor sorry to keep bugg'n ya, been able to get some progress on this?

[2018-06-25 18:44] araa47 commented on #3011
@frosty00 , I currently use sys.exit() to close all my exchange coroutines. I tried using your function but get the following error:
[code]
So I tried installing the network module and now I get this error:
[code]

[2018-06-25 18:47] interenet commented on #3248
No, I dont set on milluseconds
Only default paremetres

[2018-06-25 19:06] kroitor commented on #3248
@interenet can you show the shortest possible but a complete snippet (10-20) of code to reproduce it? What's your programming language?

[2018-06-25 19:07] kroitor commented on #3248
@interenet it would really help if you could read this carefully: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue and follow the steps from there precisely.

[2018-06-25 19:13] Larz321 commented on #3246
I set up the timesync and restarted it is working now. I will keep track if that changes. Thank you for your VERY quick support.

[2018-06-25 19:14] #3246 closed

[2018-06-25 19:14] kroitor commented on #3246
@Larz321 thx for the feedback! Feel free to reopen this if needed or just ask questions if you have any.

[2018-06-25 19:17] kroitor commented on #763
@crackfoo )) https://github.com/ccxt/ccxt/wiki/FAQ#whats-your-progress-on-adding-the-feature-foo-that-was-requested-earlier-how-do-you-do-implementing-exchange-bar
Will do it asap, after merging #2296.

[2018-06-25 19:20] frosty00 commented on #3011
Yeah sorry network is just a file I have in my project.

EVENT_LOOP is the same as `asyncio.get_event_loop()` or `asyncio.new_event_loop()`

[2018-06-25 19:30] interenet commented on #3248
Python3

`
# coding=utf-8

import ccxt
exchange = ccxt.bitz({
    'apiKey': 'XXXXXXXXXXXXX',
    'secret': 'YYYYYYYYYYYYY',
    'enableRateLimit': True,
    'password': 'ZZZZZZZZZZZZ'
})
moneta = 'ETH'
exchangeMarkets = exchange.loadMarkets()
myorders = exchange.fetch_open_orders(moneta+'/BTC')
print(myorders)
for item in myorders:
    try:
        print(item['id'])
 #       exchange.cancel_order(

[2018-06-25 19:45] #3248 closed

[2018-06-25 19:49] kroitor commented on #3248
You can resolve it in two ways:

[code]

... or wait 5-10 minutes until the new version build 1.14.269 arrives and just update ccxt without changing your code. If it does not help, try setting a higher rateLimit value (3000, 4000 and so on) and  let us know if the problem persists. Thx!

[2018-06-25 21:01] interenet commented on #3248
Updated

build 1.14.269

Working. Thank you

[2018-06-25 21:04] arielorvits opened #3249 "DUP: EDR is "E-Dinar" in livecoin (but "Endor Protocol" in kucoin)"

[2018-06-25 21:18] #3249 closed

[2018-06-26 00:28] peterwar1 opened #3252 "New Exchange: Bitibu"
Doc: https://bitibu.com/documents/api_v2

[2018-06-26 00:29] peterwar1 commented on #3252
add exchange name

[2018-06-26 01:33] futurehome commented on #3243
I'm using pip 10.0.1, the error output shows below:

_

_

I found one thread for same issue in the link below, hope it may help.
https://github.com/pypa/pip/issues/5358

[2018-06-26 01:37] kroitor commented on #3243
@futurehome the thing is, Anaconda python uses its own pip... This might help resolving the issue as well: https://github.com/ccxt/ccxt/issues/2824#issuecomment-388647914

[2018-06-26 02:40] donglesquare commented on #1392
https://docs.upbit.com/v1.0/reference

Upbit API for trading is opened several days ago. Not sure about existence of English reference page.

[2018-06-26 04:37] jayarjo commented on #1392
However, still no WebSocket API :/

[2018-06-26 04:41] joshhopkins opened #3253 "Swift language support"
Be great to have Swift support. This would ideally cover iOS/WatchOS, MacOS, Linux and well as compile for Android.

[2018-06-26 04:48] Lachlan00 opened #3254 "Inconsistent candle intervals returned when using `fetch_ohlcv()` at 1 minute granuality."
**OS:** macOS High Sierra 10.13.4
**Programming Language version:** Python 3.6.2 :: Anaconda custom (64-bit)
**CCXT version:** 1.14.272
**Exchange:** Bitfinex
**Method:** `fetch_ohlcv()`

Having an issue fetching historical candle data using `fetch_ohlcv()` at 1 minute intervals. The following is a simplified version of my code that was adapted from the [fetch-bitfinex-ohlcv-history.py](https://gi

[2018-06-26 07:20] futurehome commented on #3243
Anyway, I'll use 'pip install ccxt' directly. Thanks.

[2018-06-26 09:01] dmig commented on #3077
One more not included:
[code]

[2018-06-26 09:06] dmig commented on #3077
One more, is in list, discovered new exchange info -- EDR is for 'Endor Protocol' on Kucoin

[2018-06-26 09:26] presence35 opened #3255 "Is there a fetch_ticker cache?"
I'm trying to update about 100 coin prices across a dozen exchanges. Going one-by-one is obviously inefficient if the exchange API doesn't support individual coin calls.

I was thinking I could either cache the results (I'm fine with 3 minutes) or I'll have to rewrite my script to call the all-at-once exchanges only once, update all the prices, and then call the one-at-a-time exchanges.

I can't f

[2018-06-26 09:50] firepol opened #3256 "Bitstamp fetchDepositAddress for BTC: invalid or has less than 1 characters"
- OS: Mac OS 10.13.5
- Programming Language version: Node JS 8.11.3
- CCXT version: 1.14.272
- Exchange: bitstamp
- Method: fetchDepositAddress

To reproduce:

[code]

I get:

[code]

I tried with another cryptocurrency, e.g. `XRP` it works.

Only for bitcoin it doesn't work. My bitcoin address begins with `3BQ` (created in Sep 2017) can this be the issue? Segwit address not supported by ccxt?

[2018-06-26 09:51] cartographer opened #3257 "Missing parameter in fetch_order_book() function of coinex.php"
- OS: MacOS High Sierra
- Programming Language version: PHP v7.1
- CCXT version: 1.14.272
- Exchange: coinex
- Method: public function fetch_order_book ($symbol, $params = array ())

The following method within _coinex.php_ is inconsistent with the parent _Exchange.php_ function's method signature.

`public function fetch_order_book ($symbol, $params = array ())`

It is _missing_ the **$limit** pa

[2018-06-26 11:59] araa47 opened #3259 "Tidebit fetch_balance() issues"
- OS: macOS Sierra
- Programming Language version: Python 3.6.5
- CCXT version: 1.14.272
- Exchange: Tidebit
- Method: fetch_balance()

I am running into errors trying to get balance from tidebit. My code is attached below and the access_key and signature have been changed to ** in the error message.

[code]

[code]

After looking through the API documentation for Tidebit https://www.tidebit.com/s

[2018-06-26 12:02] #3257 closed

[2018-06-26 12:09] kroitor commented on #3255
Nope, we don't cache them in the library, because caching them in userland is trivial.

Very simple, if you know your programming language well. If you're doing this in PHP, that would just require creating a shared assoc array of tickers by symbol, protecting it with mutexes and writing from your threads to that assoc array directly.

One thing to note here: caching real-time data is ok for analy

[2018-06-26 12:09] #3255 closed

[2018-06-26 12:13] kroitor commented on #3256
Can you please post your **verbose request and response** (without your keys), as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ? We will be able to fix it quickly, then.

[code]

Nope. The reason is with a broken parser (fixable).

All of them should be supported.

[2018-06-26 12:57] frosty00 commented on #3077
@kroitor I would keep this open as it has some useful python scripts to check for `commonCurrencies`

[2018-06-26 13:00] kroitor commented on #3254
I don't see an inconsistency in the above output. All data corresponds to particular timestamps. Some of candles are missing there because this is a sparse array of OHLCV, answered here: https://github.com/ccxt/ccxt/issues/2589. Let us know if it does not answer your question. Thx!

[2018-06-26 13:00] #3254 closed

[2018-06-26 13:00] presence35 opened #3260 "Instantiating an exchange in PHP by exchange name variable"
In PHP how come this isn't working as expected?

[code]

[2018-06-26 13:01] #2589 closed

[2018-06-26 13:06] presence35 commented on #3260
Nope.  And I tried variations with the \\

PHP Parse error:  syntax error, unexpected ''\\ccxt\\binance'' (T_CONSTANT_ENCAPSED_STRING)

[2018-06-26 13:10] kroitor commented on #3260
@presence35 can you show your code with double slashes again?

Here's my output from an interactive PHP session:

[code]

[2018-06-26 13:11] kroitor commented on #3260
Does any of these examples work for you: https://github.com/ccxt/ccxt/tree/master/examples/php ?
For example, have you tried launching the `symbols.php` example with an exchange argument? Because it has code to instantiate the exchange from a variable name in it.

[2018-06-26 13:12] presence35 commented on #3260
Nevermind, I got it working as above. Stupidness on my part.

Thank you :)

[2018-06-26 13:13] kroitor commented on #3260
@presence35 thx for reporting back! Cheers!

[2018-06-26 13:13] #3260 closed

[2018-06-26 13:21] Lachlan00 commented on #3254
Thanks @kroitor. I wasn't aware of the sparse array format, that's useful to know. What about the candles that are returned that before the last returned candle? For instance in the above example the difference between candle at index 3100 and 3099 is -30000? That doesn't seem to be explained by the sparse array explanation unless I'm misunderstanding it?

[2018-06-26 13:29] kroitor commented on #3254
You're mixing the candles in your data, so that one of subsequent requests will fetch that candle and will put it after the results that were fetched on previous call to fetchOHLCV.

[code]

↑ See the comments above, let us know if it does not answer your question.

[2018-06-26 13:36] kroitor commented on #3254
Alternatively, call your `pd.DataFrame` method for each portion of candles that you receive to see how the mixing is happening exactly:

[code]

[2018-06-26 13:40] dmig commented on #3077
I'll make another check with latest library version. Also'll try to get coin names for more exchanges.

[2018-06-26 14:42] MarcelBeining opened #3261 "calculate_fee for kucoin not working yet"
- OS: Windows 10
- Programming Language version: Python 3.6
- CCXT version: ccxt-1.14.230
- Exchange: kucoin
- Method: calculate_fee

Great you implemented calculate_fee, however for kucoin so far it is returning wrong results (guess it is the base exchange method still for kucoin). Example:

[code]

returns as currency of the fee 'BTC', however kucoin always subtracts the fee from the currency yo

[2018-06-26 15:03] firepol commented on #3256
[code]

Now it's clear why I got that: ` {"error": "No permission found"} `

In fact I checked and my api key hasn't permission for that. I guess the fix should make the error appear...

[2018-06-26 15:12] #3256 closed

[2018-06-26 15:12] kroitor commented on #3244
I'd move this discussion to #3245 if you don't mind, as these might be related.

[2018-06-26 15:12] #3244 closed

[2018-06-26 15:18] araa47 commented on #3259
@kroitor , how do I install the latest version with this change in effect? Will a pip uninstall and install reflect these changes on python version of ccxt?

[2018-06-26 15:20] kroitor commented on #3259
@araa47

https://packaging.python.org/tutorials/installing-packages/#upgrading-packages

Yep )

[2018-06-26 15:48] araa47 commented on #3259
@kroitor thanks for the quick response. Just upgraded and re-tried. Still running into issues. I had tons of issues initially with using Tidebit related to the signature even with my own code.

[code]

I double checked the URL with my code that successfully sends authenticated requests to tidebit, the problem might be in how the signature is obtained.
I have attached a snippet of my python code th

[2018-06-26 16:04] kroitor commented on #3259
@araa47 thx! I've uploaded another fix for it, please, update to 1.14.277 and let me know if it solves the issue for you. If not, we will be happy if you help us debugging it and finding the difference between your code, their github code and this implementation: https://github.com/ccxt/ccxt/blob/master/python/ccxt/tidebit.py#L357

Unfortunately, can't test it on my side right now as they won't al

[2018-06-26 16:18] dyphen12 opened #3262 "How to handle exceptions in Python?"
Hello! I have this code to load a OHLCV dataset from exchanges

def get_params(token, ex, timestep):
    while True:
        try:
            exc = ccxt.exchanges
            exchange = getattr(ccxt, ex)()
            exchange.load_markets()
            sym = exchange.markets.keys()
            if exchange.has['fetchOHLCV']:
                ohlcv = exchange.fetch_ohlcv(token, timestep)

[2018-06-26 16:29] lfern commented on #56
In a development environment I clone from lfern/ccxt in a local folder
(./ccxt) and create a new project (./test). Then exec 'npm init', 'npm
install ccxt -save' and 'npm link ../ccxt'. Or if you prefer, you can
import directly.

El 26 jun. 2018 8:24 a. m., "imhazige" <notifications@github.com> escribió:

so how can I use this feature via npm? or I have to import the compiled
code directly?

—
You

[2018-06-26 16:34] araa47 commented on #3259
@kroitor just tried out the latest release. Still having the same issue. Currently trying to work out the exact difference, will get back to you once I figure it out.

[2018-06-26 16:48] DaveMG3 opened #3263 "Setting API and Secret Key in PHP version havig no effect"
Hi,
After creating account and keys for 1Broker, bitbox , coinspot and cointiger exchanges,  I followed the manual for setting these Api key and secret  but still receive the error message from API asking for API key.
For quick testing I set it like below...Is there a known issue on Php or i am missing something?

       $string_exchange = '\\ccxt\\' . $id;
        $ccxt_exchange = new $string_exc

[2018-06-26 16:49] kroitor commented on #3262
You're ignoring the exception:

Sorry, but you really have to understand the very basic of python loops, error handling (google for tutorials on how to handle exceptions in Python, there's a ton of videos on youtube for that). It is all too generic and isn't related to the library itself, more related to the learning curve of learning the basics of Python programming. It isn't even possible to exp

[2018-06-26 16:49] #3262 closed

[2018-06-26 17:03] kroitor commented on #3263
[code]

↑ If this does work and your code does not, then the reason is in your code, not in the library...

[2018-06-26 17:06] kroitor commented on #3259
@araa47 thank you! Will look forward to getting a followup from you!

[2018-06-26 17:17] araa47 commented on #3259
@kroitor  The only difference I'm able to identify till now is the .encode in line 373 where the secret is being encoded. This seems to be the only difference between my code and the library.

In order to test this so I don't waste your time, in my understanding I would first clone the repository, then modify the tidebit.py file. What I am not sure is how I would go about installing this modified

[2018-06-26 17:21] kroitor commented on #3259
@araa47 you would:

1. `cd ccxt_cloned_repo_directory/python`
2. `pip uninstall ccxt`
3. `pip install -e .` in that same python folder to install it from that folder (don't forget to uninstall the local copy later after fixing it and switching back to the master pypi-version)

https://stackoverflow.com/questions/15031694/installing-python-packages-from-local-file-system-folder-to-virtualenv-with-p

[2018-06-26 18:00] araa47 commented on #3259
Hey found the fix, basically tidebit required '/api/' as part of the payload that was being used to create the signature and ccxt was missing this. Line 372 tidebit.py and line 372 on async/tidebit.py

Before :
[code]
Fix:
[code]

I have made the changes but not sure on how to commit these changes. I have created a new branch but I can't seem to push the branch.

[2018-06-26 18:10] kroitor commented on #3259
https://help.github.com/articles/pushing-to-a-remote/

[code]

[2018-06-26 18:18] araa47 commented on #3259
This is the issue I was referring to while trying to push a commit.

[code]

[2018-06-26 18:24] kroitor commented on #3259
@araa47 No worries, I've already added the proper fix. We should only push source version files as described in the CONTRIBUTING doc linked above. The fixed version 1.14.278 should arrive in 5-10 minutes.

For the future, the usual procedure for making changes to any github project is to fork it under your github account – this will create a copy of it in your dashboard, then clone your forked rep

[2018-06-26 18:38] araa47 commented on #3259
@kroitor Thanks for the help. Will note this down for future updates and contributions to this repo. I have tested 1.14.278, fetch_balance() works perfectly now :)

[2018-06-26 18:56] #334 closed

[2018-06-26 20:22] michaldev opened #3264 "bittrex order cost should be over 50k satoshi"
I try to do this:
`bittrex.create_limit_buy_order("DASH/BTC", 0.01243634, 0.0375)`

0.0375 - price.
0.01243634 - my btc.

but I get this error:
`ccxt.base.errors.InvalidOrder: bittrex order cost should be over 50k satoshi {"message":"DUST_TRADE_DISALLOWED_MIN_VALUE_50K_SAT","result":null,"success":false}`

Why? 0.01243634 it's more than 50k satoshi

[2018-06-26 20:26] #3264 closed, assigned to kroitor

[2018-06-26 20:27] graeme-hattan opened #3265 "Python code uses {} or [] as default parameters in most functions"
This is a fairly standard python gotcha. Basically the default value persists between calls, so if it is modified during the call, the modifications will persist. See https://stackoverflow.com/questions/26320899/why-is-the-empty-dictionary-a-dangerous-default-value-in-python

I did some searching through the code, in the vast majority of cases it is the `params` argument which defaults to an empty

[2018-06-26 20:30] kroitor commented on #3265
`self.omit()` and `self.extend()` do the deep copying, so these lines are not bugs:

[code]

These may be bugs:

[code]

Will look into that and will add fixes where appropriate.

[2018-06-26 20:36] kroitor commented on #3265
`itbit.py:163` is not a but either, if you look closer at it: https://github.com/ccxt/ccxt/blob/master/python/ccxt/itbit.py#L163

[2018-06-26 20:40] graeme-hattan commented on #3265
Yes, right enough. I think the bitflyer ones are though.

Given the number of people contributing to this, is it better to put something in the transpiler to avoid this? It is an easy mistake to make, especially if you are not necessary thinking of the python code as you add to it.

[2018-06-26 20:42] #3265 closed

[2018-06-26 20:43] kroitor commented on #3265
FIxed them, the fixed build should be there in 5-10 minutes.

You're absolutely right, totally agree on this, will consider adding some guards to the transpiler.

[2018-06-26 20:53] graeme-hattan commented on #3265
Wow that was quick!

Don't know if you checked the list ones already, but livecoin and poloniex are bugs. Kraken would be if part of the code wasn't commented out.

[2018-06-26 21:01] kroitor commented on #3265
Fixed them as well, the updated version coming shortly.

[2018-06-26 21:43] kroitor commented on #3263
@DaveMG3 i'd close this for now, feel free to reopen this if needed, or just questions if any, or if you have further difficulties with it.

[2018-06-26 21:43] #3263 closed

[2018-06-26 21:44] kroitor commented on #3218
I'm closing this if you don't mind until we have a follow up on the issue with a verbose report. Feel free to reopen it if needed. Thx!!

[2018-06-26 21:44] #3218 closed

[2018-06-26 21:46] Cleric334 opened #3266 "Coinex requires a small fix"
Hello.

From yesterday, Coinex started to give "Invalid argument" error when fetching order book.
Looks like they have made some minor changes to their API, and it was enough to break the ccxt file.

https://github.com/coinexcom/coinex_exchange_api/wiki/022depth/_compare/3666b73f511ea66de08008c0f4d430ee6fd013cb...8d77ad792c4cfadcc4070869e9fcfcfa82ad3830

We have made a quick fix in the ccxt file a

[2018-06-26 21:49] kroitor commented on #3173
Not just the API URL, but their entire API specification is now completely different: https://www.flowbtc.com.br/api.html. Consider FlowBTW support in CCXT broken until we reimplement it.

[2018-06-26 21:53] #3266 closed

[2018-06-26 22:14] kroitor commented on #2758
They will require a `since` argument for fetchMyTrades, as described here: https://github.com/ccxt/ccxt/wiki/Manual#recent-trades. Let us know if it does not help.

[2018-06-26 22:14] #2758 closed

[2018-06-26 22:15] kroitor commented on #3011
Closing this for now, feel free to reopen it if needed, or just questions if you have more. Thx to @frosty00 for the support!

[2018-06-26 22:15] #3011 closed

[2018-06-26 23:05] Lachlan00 commented on #3254
Thanks a million @kroitor. This is very clear. Really appreciate you taking the time to help me and the time you put into the CCXT library. Very much appreciated.

[2018-06-26 23:49] ChenLi0830 opened #3268 "Can't figure out how to `createOrder` in okex"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: MacOS 10.13.4
- Programming Language version: Node v8.4.0
- CCXT version: 1.14.286
- Exchange: okex
- Method: createOrder

I've been using ccxt for multiple exchanges and it has been working as a charm. However, I can't seem to figure out how to use `create

[2018-06-27 00:21] imhazige commented on #56
@lfern

good to know, thank you.

[2018-06-27 00:31] ChenLi0830 commented on #3268
Never mind, got it working now
[code]

[2018-06-27 00:31] #3268 closed

[2018-06-27 00:55] kroitor commented on #3268
@ChenLi0830 thx for reporting back!

[2018-06-27 01:06] ChenLi0830 commented on #3268
Thank **you** for the awesome work!

[2018-06-27 01:20] dqian opened #3269 "Bitfinex STORJ currency name incorrectly referenced"
- OS: ~
- Programming Language version: Python ~
- CCXT version: 1.14.242
- Exchange: Bitfinex
- Method: `get_currency_name`

The mapping of STORJ currency name does not follow the canonical (intended) mapping, but rather references via the Bitfinex symbol (STJ) instead of the canonical symbol (STORJ). Other currencies such as YOYOW are not mapped using the Bitfinex symbol (YYW), but rather the ca

[2018-06-27 01:31] #3269 closed

[2018-06-27 01:38] DaveMG3 commented on #3263
Indeed i setup a test case, it works so the blame should be in my code.
Issue is not coming from ccxt

[2018-06-27 07:17] Cleric334 commented on #2162
Hello.

I was just wondering if this exchange is still in the plans to be implemented in ccxt?

Would really love to test it out.

[2018-06-27 09:11] sathwik77 commented on #3215
Only work around is to use a VPN of Thailand/Singapore or buy a VPS in region Thailand/Singapore.

[2018-06-27 09:14] imhazige commented on #56
@lfern

I want to add the okex websocket feature, is there any develop guide for the implementation?

[2018-06-27 09:34] kroitor commented on #2162
Yep. Will add it asap.

[2018-06-27 12:56] Stas-Buzunko opened #3270 "bittrex returns balance in exponential format?"
Is it a duty of this lib to parse it or users?

[2018-06-27 13:09] DaveMG3 opened #3271 "BitZ : OHLCV candles dont have volume for selected timeframe but 24h volume"
Hi @kroitor ,
Noticed that for exchange BitZ, the volume fetched with OHLCV 1h is a 24h volume as per screenshot :
Call with Ccxt :
![image](https://user-images.githubusercontent.com/32598581/41975698-b6dda2ee-7a1b-11e8-86f7-8019a3be391c.png)
Bitz browser api call :
![image](https://user-images.githubusercontent.com/32598581/41975715-c4a1dca6-7a1b-11e8-9969-bdc7c3455239.png)
Bitz api description:

[2018-06-27 16:35] lfern commented on #56
@imhazige Sorry, there aren't any doc ready yet. I have added some tips in
https://github.com/lfern/ccxt/blob/feature/websockets-multiple/WEBSOCKETS.md
but you can look at cex.js, because I think orderbook subscription is similar to okex. Anyway, send me
any question about it and I would help you to enable it.

[2018-06-27 16:42] lfern commented on #56
@imhazige maybe you can use this skeleton as starting point:
[code]

[2018-06-27 17:50] kitt-th opened #3273 "Bitmex fetchTicker gives a 403 rejection error. (but fetchTickers working fine)"
- OS: MACOS 10.10.5 (14F2511)
- Programming Language version: Javascript
- CCXT version: current
- Exchange: Bitmex
- Method: exchange.fetchTicker

Hello, something that's puzzling me when trying to fetch the ticker for BTC/USD on bitmex. It gets rejected with "403 forbidden" but a call to fetchTickers for all ticker data works fine and I receive all the traded tickers' data. I'm guessing it's som

[2018-06-27 20:23] sergejmueller opened #3275 "Bitmex current candle data"
Hello.

Is it possible to get data of the _current_ timeframe candle (low, hight, close)? 1H for example.

`fetchOHLCV()` returns last/closed candles, but not the current one.
`market()` returns values for the current _day_.

Any idea? Thx!

[2018-06-27 23:36] imhazige commented on #56
Thank you so much, I will have a look today.

On 2018/6/28 00:43, lfern wrote:

[2018-06-27 23:59] arielorvits opened #3277 "btcchina and btcexchange not exists, so u can remove them, at least from the list in the manual"
10x

[2018-06-28 07:01] kroitor commented on #3275
Hi! Let us know if this does not help: https://github.com/ccxt/ccxt/issues/2254

[2018-06-28 07:01] #3275 closed, assigned to kroitor

[2018-06-28 07:39] imhazige commented on #56
@lfern
For this method `asyncSubscribe (event, symbol) `, could we add a third parameter params, so we can add customer params like depth

[2018-06-28 07:51] lfern commented on #56
@imhazige Of course! I think it is better to get full orderbook to manage a local order book correctly, but this depth parameter could be usefull to notify a fixed length orderbook. Do any change you need, because the current code is only a proposal and a few websocket exchanges has been tested.

[2018-06-28 08:07] tunguyenbhtech opened #3278 "Binance [Error: binance: unknown error code: {"code":-1101,"msg":"Too many parameters; expected '3' and received '4'."} -1101]"
- OS: macOS High Sierra
- Programming Language version: [Javascript](https://trac.webkit.org/wiki/JavaScriptCore)
- CCXT version: 1.14.289
- Exchange: binance
- Method: fetchBalance

I am running into errors trying to get balance from binance. My code is attached below and the access_key and signature have been changed to ** in the error message.

[code]

[code]

Binance seems to work without issu

[2018-06-28 08:13] araa47 commented on #3278
I see a similar issue with JS when trying to get balances from Binance, however, the issue doesn't seem to occur in the python implementation of ccxt. This issue seems to be introduced in one of the newer versions of ccxt since this problem did not exist in older versions of ccxt.

[2018-06-28 08:13] GoChartingAdmin commented on #56
Do we have a list of all exchanges that offer a websocket (of any sort) connection.  I have collected a total of ~25-30 such exchanges and could add to the list that you may be maintaining at your end

[2018-06-28 08:19] zn8ae commented on #860
Hi, I've tried to use bit-z's api to make orders but it triggers error as such:

The required parameter cannot be empty.

I think their updates might require some new parameters. Please kindly check. Thanks!

[2018-06-28 08:33] araa47 commented on #3278
@tunguyenbhtech after looking into this, even more, seems like you have to only set the enableRateLimit param when u initialize the exchange and not when calling fetchBalance(). This should hopefully solve the issue for you.

[2018-06-28 08:49] tunguyenbhtech commented on #3278
@araa47 you are right, thanks.

[2018-06-28 08:49] #3278 closed

[2018-06-28 15:12] joncinque commented on #3273
Hi there, I just ran into this issue myself, and found this response on the bitmex api repo: https://github.com/BitMEX/api-connectors/issues/141 -- looks like we'll have to wait until they re-enable it!

[2018-06-28 15:58] wardbradt opened #3282 "SyntaxError on importing async in Python 3.7"
- OS: macOS High Sierra 10.13.5
- Programming Language version: Python 3.7.0
- CCXT version: 1.14.289
- Exchange: N/A
- Method: N/A

Previously, when using Python 3.6.3, the following code worked perfectly to import `async`:
[code]
However, it does not work in Python 3.7 because `async` is now a reserved keyword. See [here](https://docs.python.org/3.7/whatsnew/3.7.html). (Do CTRL + F "async", it i

[2018-06-28 16:11] kitt-th commented on #3273
thanks john.
seems weird as fetching all tickers puts a greater load (well, more data) than fetching an individual ticker. Ah well!

[2018-06-28 16:23] lfern commented on #56
@kroitor what do you think about adding these columns to the ccxt exchange list (ws ver, wsDoc)?
https://github.com/lfern/ccxt/tree/feature/websockets-multiple

[2018-06-28 16:35] HornKild opened #3283 "Unable to fetch_ohlcv() on okex : ExchangeNotAvailable"
Hello,

For some reason the fetch_ohlcv() method doesn't work on okex, `has:fetchOHLCV` is set to `True` so what could be the reason for this ?

Here is the error :

[code]

As you can see the same command is perfectly fine on another exchange :
[code]

[2018-06-28 16:48] kroitor commented on #3283
Looks like a problem on the OKEX side, can you access their token trading section on their website at the moment?

[2018-06-28 16:50] miracle2k opened #3284 "kucoin order data has inline trade list, and those have the wrong fee"
A order data response from kucoin:

[code]

Note the inline comments. The reason this happens is as follows:

1. kucoin does not tell the fee currency, ccxt has to "guess" what it is based on the side (buy or sell). For the order itself, it does so here as part of `parseOrder`: https://github.com/ccxt/ccxt/blob/master/js/kucoin.js#L611

2. For the trade, it want to use the same logic, in `parseTra

[2018-06-28 16:56] kroitor commented on #860
@zn8ae can you please post your **verbose request/response** here ? https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-06-28 17:21] zn8ae commented on #860
Sure thing!

In fact, I believe all the fetch_balance(), fetch_orders(), create_order() don't work now for bit-z because the required parameter missing issue.

This is the request and response with fetch_balance (I changed the api_key and sign for safety):

Request: POST https://www.bit-z.com/api_v1/balances {'Content-type': 'application/x-www-form-urlencoded', 'User-Agent': 'Mozilla/5.0 (Windows

[2018-06-28 17:50] #3273 closed

[2018-06-28 18:03] kroitor commented on #3277
As for the BTCChina – we will add this asap: https://www.btcc.com
As for btcexchange – will remove it shortly.
Thx.

[2018-06-28 18:03] #3277 closed

[2018-06-28 18:14] #3271 closed

[2018-06-28 18:14] kroitor commented on #3282
Fixed in #3281

[2018-06-28 18:33] kroitor commented on #56
@lfern sure, I'll do that shortly. However, if you don't mind, I'd put that column into the wiki under the **Streaming** section (does not exist there yet). I would not put that on the main list in the README.md just yet, because if I do, noob people won't read anything and will think that those columns indicate websocket support in CCXT and will just flood us with questions on ws and all that, wh

[2018-06-28 20:23] kroitor commented on #860
@zn8ae what's your version of CCXT ?

[2018-06-28 21:19] kroitor commented on #3284
Hey! Thx for a comprehensive report!

First of, the comments are true – it is indeed improper to call a method that is fetching closed orders – fetchMyTrades. Kucoin does not have an endpoint for fetchMyTrades at all. So it just has to be renamed to fetchClosedOrders. Secondly, there is a fetchClosedOrders method for Kucoin already, so these two have to be joined together. The difference between t

[2018-06-28 21:19] HornKild commented on #3283
Correct it was problem from OKEx.

[2018-06-28 21:19] #3283 closed

[2018-06-28 22:41] benediamond commented on #1175
@kroitor, do you know if there has been any movement from binance on this? it would be nice to pressure them a bit more.

[2018-06-28 22:43] cartercarlson opened #3285 "Binance - issue pulling from API using Python"
I've been running this same code, and the past few days I've been getting an error when it runs:

[code]

HTTPError: 400 Client Error: Bad Request for url
InvalidNonce                              Traceback (most recent call last)
InvalidNonce: binance {"code":-1021,"msg":"Timestamp for this request was 1000ms ahead of the server's time."}

Any ideas why this error is coming up?

Thanks,
Carter

[2018-06-28 22:45] kroitor commented on #3285
https://github.com/ccxt/ccxt/search?q=1000ms+ahead&type=Issues

[2018-06-28 22:45] #3285 closed

[2018-06-28 22:45] kroitor commented on #3285
Answered and solved here: https://github.com/ccxt/ccxt/issues/850

[2018-06-28 22:48] Jmalinza opened #3286 "(Python) GateIO unified fetchDepositAddress() - XRP"
When trying to fetch my deposit address/generate new address for XRP, an index error is raised. Issue is exclusively for XRP.

My code:
[code]
the output:
[code]

Easy fix (ccxt/python/ccxt/gateio.py, line 463)
old code:
[code]
fixed:
[code]
- OS: High Sierra 10.13.5 (17F77)
- Programming Language version: Python 3.6.2
- CCXT version: 1.14.277
- Exchange: gateio
- Method: fetchDepositAddress()

[2018-06-28 22:48] Jmalinza commented on #3286
would make the pull request myself, but honestly I have no clue how and dont have enough time to learn now

[2018-06-28 22:57] #3286 closed

[2018-06-28 22:58] kroitor commented on #1175
@benediamond you can obtain that info with `this.options['newOrderRespType']`. `'ACK'` for order id, `'RESULT'` for full order or `'FULL'` for order with fills. `'RESULT'` is their default.

[2018-06-28 23:08] benediamond commented on #1175
@kroitor I don't see anything about this in the docs. could you briefly explain how this works?

[2018-06-28 23:14] kroitor commented on #1175
@bendemott we're talking of a market order, so you can use an exchange-specific option of Binance:

[code]

or like so:

[code]

The above is also overrideable with createOrder, like so:

[code]

So, having the full response and the fills info in it, from there you can get the actual average filling price of the order. If you could tweak parseOrder to detect for order response type and calculate f

[2018-06-28 23:17] benediamond commented on #1175
@kroitor ok, I'll get started. two questions:
1. is the presence of the `fills` key in the response the (only) cue that the order was created with type `'FULL'`?
2. even if `'FULL'` is used, `executedQty` is still calculated in the same (naive) way. correct?

[2018-06-28 23:24] kroitor commented on #1175
Well, you don't actualy need to "detect it", sorry for confusing you, I mostly mean just doing a basic thing like:

[code]

[2018-06-28 23:29] benediamond commented on #1175
i am not familiar with `parseTrades`, so I will need to look around a bit before doing this.

sorry, I edited my above question to fix a mistake.

[2018-06-28 23:37] kroitor commented on #1175
Yep. Thus we can "override" it after calculating the true filling price inside that if-block...

[2018-06-28 23:41] arielorvits opened #3287 "dup: CTX in bitfinex is Cortex (CTXC in CMC) not CarTaxi Token"

[2018-06-29 00:58] #3287 closed

[2018-06-29 02:59] zn8ae commented on #860
1.14.169. Is it the older version?

[2018-06-29 03:00] zn8ae commented on #860
Oops I'm afraid it is. I shall upgrade my ccxt then... Thanks so much!

[2018-06-29 08:09] miracle2k opened #3290 "Crazy gate.io fees (80%) [not a ccxt issue]"
This is not an issue in ccxt (I am pretty sure), but soley with gate.io, I am just wondering if any person here has some experience. I also contacted gate.io support, but did not hear back from them yet.

Here are two responses from the gate.io API (from `https://api.gate.io/api2/1/private/getOrder`):

[code]

Notice the fee given here (0.79 EOS) is more than 2% of the amount.

Or this one:

[code

[2018-06-29 08:57] DanielCambray opened #3291 "acx.php"
Hi,

there's an issue in the sign function in the php file. I don't know how to correct it because it says we should not edit the php file.

It should be ` $suffix = $query . '&signature=' . $signature;` and not `$suffix = $query . '&$signature=' . $signature;`

The $ in front of the "&$signature" is an error.

[2018-06-29 11:07] retroporno commented on #2968
You could use their new API 2.0.
Works fine: https://docs.crex24.com/trade-api/v2/

[2018-06-29 11:13] alex-karo opened #3292 "BtcTrade.im: Failed fetchTickers"
- OS: Antergos Linux
- Programming Language version: node 10.4.0
- CCXT version: 1.14.295
- Exchange: btctradeim
- Method: fetchTickers

Verbose output:
[code]

Btctrade.im doesn't have USDT in quote currencies, but gets this options from coinegg

[2018-06-29 12:40] Showgofar opened #3293 "Add exchange capabilities example in PHP"
Hello
Could you please make the same script
ccxt/examples/js/exchange-capabilities.js
at PHP

Thank you in advance

[2018-06-29 13:39] kroitor commented on #3290
1.

[code]

So, in the first example I would expect the fee to be either of
- 0,062163774 EOS or
- 0,715505038737949 USDT ←----- gateio shows approximately this value, but the difference is more than 10% of the value, and the currency is different

-----------------

2.

[code]

In the second example I would expect the fee to be either of
- 0,000108091404 ETH
- 0,050962935073053 USDT ←----- gateio

[2018-06-29 13:50] #3291 closed

[2018-06-29 14:32] miracle2k commented on #3290
Good catch. I did the math for the first case and when neither the amount nor the currency matched I concluded that the fee must be totally wrong.

But the second example tells us that the fee currency is wrong.

I hope the fee that they take from their user's balances is the right one! Difficult to trust them.

[2018-06-29 16:09] HornKild opened #3294 "Illegal parameter when fetching OHLC at LBank"
Hello,

I would like to report this error I have with LBank when fetching OHLC data :

[code]
Same error occurs without the `limit` parameter.
Is it something from my side a an error with LBank ?

Looks like the LBank API has a lot of problem.

Thanks

[2018-06-29 16:45] kroitor commented on #3294
Hi! Can you show your **verbose request/response** plz?

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Related: https://github.com/ccxt/ccxt/search?q=lbank+ohlcv&type=Issues

[2018-06-29 17:11] #3292 closed

[2018-06-29 17:23] HornKild commented on #3294
Sure, here it is :

[code]

[2018-06-29 17:35] kroitor commented on #3294
First of, you should update your version of CCXT.
Secondly, they will require a `since` argument, does the following work for you?

[code]

?

[2018-06-29 17:58] HornKild commented on #3294
I updated to the lateste version and it looks like now it download the data but for some reason `lb` remains empty.

[code]

[2018-06-29 18:02] HornKild commented on #3294
When there is only `since` I have the same result (`lb` remains empty) and when only `limit` is provided it throws `ExchangeError: Illegal parameters`.

But aren't `limit` and `since` two exclusive options ?

[2018-06-29 18:03] kroitor commented on #3294
@HornKild looks like you did not update your ccxt, because anaconda has its own version of pip.

[code]

What's your current version number?

[2018-06-29 18:07] kroitor commented on #3294
Anaconda is known for this odd behaviour...

- https://github.com/ccxt/ccxt/issues/2824
- https://github.com/ccxt/ccxt/issues/2747 (your own post)
- https://github.com/ccxt/ccxt/issues/2459

[code]

[2018-06-29 18:13] kroitor commented on #3294
@HornKild does the snippet from my previous post above help?

[2018-06-29 18:15] HornKild commented on #3294
You were right and my package wasn't updated.

[code]
So I used :

`$ sudo pip install ccxt --upgrade`

But it don't updage my package.

[2018-06-29 18:22] HornKild commented on #3294
Last time I updated `ccxt` without problem but today I'm facing an issue. If I try to install `ccxt` with `conda` it can't find the package from the current channels :

[code]

[2018-06-29 18:29] HornKild commented on #3294
@kroitor my current version is 1.14.88 but I'm unable to update with anaconda package manager.

[2018-06-29 18:32] kroitor commented on #3294
@HornKild does this help?

- https://stackoverflow.com/questions/48493505/packagesnotfounderror-the-following-packages-are-not-available-from-current-cha
- https://www.google.ru/search?q=conda+The+following+packages+are+not+available+from+current+channels

[2018-06-29 18:37] kroitor commented on #3294
@HornKild basically, from the above it follows that this isn't an issue with ccxt, but more like an issue with your local conda configuration. Moreover, google and stackoverflow both give quite a lot of search results, this indicates that the problem you're having is common to a lot of other users of conda, and you will most likely find your answer there. This is often resolved by reinstalling / r

[2018-06-29 18:40] HornKild commented on #3294
@kroitor thanks, my mistake was to use `sudo` to run `pip install ccxt --upgrade` because it updated the `ccxt` package for Python 2.7 and my anaconda point to Python 3.6. So with `$ pip install ccxt --upgrade` it works just fine :-)

[2018-06-29 18:41] #3294 closed

[2018-06-29 22:57] springjben opened #3295 "Getting deposit address for HitBTC and Poloniex?"
How do I get my deposit address from a site? If its not created, I need it created. I see there is an unfinished method called: fetchDepositAddress, however it doesn't work with HitBTC or Poloniex.

You have any ideas on how to pull my deposit address?

I am using Python

[2018-06-30 13:58] benediamond commented on #3221
here's another instance.
[code]
not sure what's going on here. perhaps this is a failure upstream, of bittrex's reporting? maybe there's nothing we can do?

[2018-06-30 14:30] mrasband commented on #1896
I know I am a bit late to this party, but I would propose using `fetchTransfers` instead of "transactions" for the unified private API, as _transactions_ communicates any movement (trade, deposit, withdrawal, etc). Of course breaking out the deposits and withdrawals and having transfers possibly compose those works, though many exchanges I have worked with keep them combined into a single endpoint

[2018-06-30 15:11] amaltea8000 commented on #2136
Can I take all tickers list via api for Coinegg exchange?

[2018-07-01 00:32] imcoddy opened #3297 "Cannot make orders on CoinEx"
Cannot make orders on CoinEx after July 1st.

- OS: Mac
- Programming Language version: JS
- CCXT version: 1.14.301
- Exchange: CoinEx
- Method: createLimitSellOrder

[2018-07-01 07:16] Bradbev opened #3298 "Wrong typescript typing for createOrder(... params:? string)"
- OS: OSX
- Programming Language version: Typescript ~2.9
- CCXT version: 1.14.62
- Exchange: all
- Method: createOrder(...)

the ccxt.d.ts file has a method signature of
     createOrder (symbol: string, type: string, side: string, amount: string, price?: string, params?: string): Promise<any>;

From what I've read in the manual, the final parameter should be "params?: {}"

[2018-07-01 10:47] scredii opened #3299 "Gdax deposit / withdraw history"
Hi !

How i can get deposit and withdrawal history with gdax api please ?

I didn't see endpoint for that and i don't get deposit/withdraw history with fetchMyTrades() or fetchClosedOrder() endpoint;

Thanks !

[2018-07-01 10:56] springjben commented on #3295
There is nothing about it in the documentation, apart from createMarketOrder. But these 2 exchanges don't support that.

[2018-07-01 10:56] miracle2k commented on #3290
This is what they say:

[2018-07-01 12:10] mkutny commented on #3290
How long did it take them to answer? Surprised that they answered at all, I was pretty sure that this is a dead exchange.

[2018-07-01 12:43] miracle2k commented on #3261
Ran into this as well.

I notice that all the implementations of `calculate_fee` are essentially copies, duplicating the same logic. Either they have a fixed currency to deduct the fee from (say always the quote currency), or they decide the currency based on whether it is a sell or a buy. The rest seems to be the same. Some of them call ``self.fee_to_precision``, while others do not (an oversight

[2018-07-01 13:19] vesslanjin opened #3300 "when the websocket api will be supported ?"
very interested in the websocket, when will it be supported ?

[2018-07-01 15:08] kroitor commented on #3295
@springjben let us know if this does not help: https://github.com/ccxt/ccxt/wiki/Manual#funding-your-account

[2018-07-01 15:08] #3295 closed

[2018-07-01 15:09] kroitor commented on #3300
@vesslanjin see the answer here: #56

[2018-07-01 15:09] #3300 closed

[2018-07-01 15:16] #3298 closed

[2018-07-01 15:54] kroitor commented on #3290
@mkutny

Looks like a day or two.

@miracle2k thx for reporting! At this point, the issue is clear, I believe. Do you mind if I close this or do you want me to keep this open for a while?

[2018-07-01 16:07] kroitor commented on #3297
@imcoddy does fetchBalance work for you?

[2018-07-01 16:51] springjben commented on #3295
^ yeah I am using fetchDepositAddress... However HitBTC and Poloniex do not support them.

hitbtcAPI.fetchMarkets()
print(hitbtcAPI.fetchDepositAddress('DGB'))

Gives this error
![capture](https://user-images.githubusercontent.com/32540273/42136649-6943e96e-7d57-11e8-83b0-0ac378be3966.PNG)

[2018-07-01 16:55] kroitor commented on #3295
- HitBTC v2 does support it, use hitbtc2 instead of hitbtc (v1 is deprecated):

https://github.com/ccxt/ccxt/blob/master/js/poloniex.js#L788

- Poloniex does support it:

https://github.com/ccxt/ccxt/blob/master/js/hitbtc2.js#L1061

Make sure your version of the library is up to date:

[code]

[2018-07-01 16:56] springjben commented on #3295
I am on CCXT version 1.14.50. Also your links above are the wrong way around :)

[2018-07-01 16:59] springjben commented on #3295
I get an error install CCXT now:

![image](https://user-images.githubusercontent.com/32540273/42136695-702b4550-7d58-11e8-857a-a2524ad8a9b3.png)

[2018-07-01 17:01] kroitor commented on #3295
[code]

[2018-07-01 17:05] springjben commented on #3295
Just updated my ccxt.

The HitBTC deposit addressnow works. But Poloniex does not.

Code:

poloniexAPI = ccxt.poloniex ({
'apiKey': '...',
'secret': '...',
})

print(poloniexAPI.fetchDepositAddress('DGB'))

Response:
![image](https://user-images.githubusercontent.com/32540273/42136756-4c499a78-7d59-11e8-9748-1d1264deaeff.png)

Do I need to load the currencies for this? I tried. but the same error

[2018-07-01 17:08] springjben commented on #3295
With Poloniex I have to do:
[code]

To get it to work. But I do NOT have to do this with the others.

[2018-07-01 17:42] kroitor commented on #3295
@springjben i've added the fix for the `loadMarkets()`, so if you update ccxt once again (to version 1.14.305) you won't have to call it manually for Poloniex.

[2018-07-01 17:57] springjben commented on #3295
Can confirm that its fixed.

Thanks for the quick reply.

[2018-07-01 18:12] claudiocabral opened #3301 "Include XRB/BTC as a trading symbol in Coinex"
Coinex recently added the trading pair XRB/BTC, but that's not yet accessible in ccxt.

- OS: Arch Linux
- Programming Language version: nodejs v10.0.4
- CCXT version: 1.14.305
- Exchange: Coinex
- Method: fetchOpenOrders, fetchBalance

[2018-07-01 18:55] kroitor commented on #3301
We don't hardcode their markets, instead we use their web endpoint to fetch market info from their website on demand, because they don't have other means for that in their API.

As you can see from here: https://www.coinex.com/res/market they don't serve any market info on XRB. So, i guess, you should contact Coinex with a question on this issue. Hope this answers your question. Let us know if it

[2018-07-01 18:55] #3301 closed

[2018-07-01 18:57] kroitor commented on #3299
See this:

- https://github.com/ccxt/ccxt/issues/1896
- https://github.com/ccxt/ccxt/pull/2610

Will merge the above soon. In the meantime, you can clone the above branch and use it on your side for testing (google for it, if needed). Let us know if this does not answer your question.

[2018-07-01 18:57] #3299 closed

[2018-07-01 19:59] kroitor opened #3302 "CCXT 1.15 XRB → NANO"
Hi!

Due to a confusion on the proper code for the RaiBlocks token, we have switched from using the old `XRB` symbol to using the newer `NANO` symbol across the entire library. This was `XRB` in CCXT 1.14, now it's `NANO` in CCXT 1.15+.

Please, note that starting from CCXT 1.15 all pairs are switched to the new unified code `NANO`:

- `XRB/BTC` is now `NANO/BTC`
- `XRB/ETH` is now `NANO/ETH`
- an

[2018-07-01 20:38] imcoddy commented on #3297
Yes, fetchBalance is working properly.
Looks like it requires a sourceid when making new order and I think maybe
that's problem

https://github.com/coinexcom/coinex_exchange_api/wiki/031limit_order
On Mon, Jul 2, 2018 at 1:07 Igor Kroitor <notifications@github.com> wrote:

[2018-07-01 20:40] kroitor commented on #3297
@imcoddy then post your verbose request/response without your keys as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue, that info should make it clear.

[2018-07-01 22:02] kroitor commented on #1896
@mrasband thx, will consider that as well.

[2018-07-02 05:21] imcoddy commented on #3297
@kroitor Oh thank you for minding me this

The error code is as below

[code]

[2018-07-02 06:20] imhazige commented on #56
I just found that the websocket proxy will not work in the browser for okex, it need allow cross origin header too.

[2018-07-02 06:33] imcoddy commented on #3297
Sorry I should have provided the source code.

Nope I don't think it was rate-limiting issue. I was able to do it few days ago, I guess CoinEx has updated something new due to their new Trading-driven model.

Here is the code that I used.
[code]

[2018-07-02 07:10] JSRossiter opened #3304 "HitBTC fetch_order implementation"
- Exchange: hitbtc
- Method: fetch_order

When calling fetch_order for a market order on hitbtc cost appears to be calculated by multiplying the price and cumQuantity amounts together. The problem with this is that price is just a number they use to lock funds before execution and is ~10% higher than the executed price. Since this number is so inaccurate I find it worse than useless and would pref

[2018-07-02 07:11] kroitor commented on #3297
Yeah, but... you didn't answer the question. Do you have it enabled or not? Because from your output it looks you don't. And it's mandatory, you are required to either use the built-in rate-limiter or implementing your own. Does the issue reappear with rate limiting enabled?

[2018-07-02 07:13] kroitor commented on #3304
Hi! Does this answer your issue? https://github.com/ccxt/ccxt/issues/798

[2018-07-02 07:21] JSRossiter commented on #3304
That seems to say the opposite? The order isn't cached, I ran this query in the console using an ID from my database. Did you make a change in response to that issue?

Regardless, this isn't a big deal, thanks for your work.

[2018-07-02 08:10] mortezae commented on #3246
Hi, I have the same problem...
Also I synced my time but no difference.
Code:
[code]
Output:
[code]

[2018-07-02 08:12] kroitor commented on #3246
@mortezae you need to update ccxt and make sure that you have rate limiting enabled and your time is in sync with the rest of the world (in UTC). Read the posts linked above, all answered there.

[2018-07-02 08:16] mortezae commented on #3246
@kroitor Sorry I deleted my comment as it was occured by some other problem. My fault! Thank you man.

[2018-07-02 08:36] imcoddy commented on #3297
@kornrunner Oh sorry I misunderstood at first.

I didn't enable that but I just did as you said and it still reappears. Or is there anything I am missing?

Here is the full log

[code]

[2018-07-02 08:48] #3297 closed

[2018-07-02 09:12] aav80 commented on #2049
You have to specify `since` argument for fetchOHLCV

[2018-07-02 09:49] MarkPatzelt opened #3305 "Cancle Order on OKEX"
This is my first post, so I might be asking the wrong question at the wrong place, but maybe somebody can help me:

- OS: Windows 10
- Programming Language version: Python 3.6.4
- CCXT version: 1.14.288
- Exchange: OKEX
- Method: cancle_order

Trying to cancle limit sell orders but cannot find the right method to do so. There is a method called cancle_order which seems to relate to OKCOINUSD inste

[2018-07-02 09:51] kroitor commented on #3297
@imcoddy this is now fixed in CCXT 1.15.4, let us know if you still have difficulties with it after updating.

[2018-07-02 09:54] kroitor commented on #3305
Hi!

1. Read the Manual: https://github.com/ccxt/ccxt/wiki/Manual
2. How to cancel orders: https://github.com/ccxt/ccxt/wiki/Manual#canceling-orders
3. OKEX is a class derived from OKCoinUSD: https://github.com/ccxt/ccxt/tree/master/python

Hope this answers your question.

[2018-07-02 09:54] #3305 closed

[2018-07-02 09:58] MarkPatzelt commented on #3305
Thanx, it required the orderID AND the symbol, in this sequence...

[2018-07-02 11:06] miracle2k commented on #3290
Sure, we can close it. I asked them to fix it. If anything else happens here I will comment.

[2018-07-02 11:06] #3290 closed

[2018-07-02 13:45] rstrapasson opened #3306 "Can I buy and sell altcoins?"
Hi. Is it possible to buy and sell altcoins using this script?

ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2018-07-02 13:50] Showgofar commented on #3016
But its good idea to add it here
https://github.com/ccxt/ccxt#ccxt--cryptocurrency-exchange-trading-library
I registered several accounts from that page

[2018-07-02 14:14] Pmant opened #3307 "Bittrex USD Markets"
Error message on _createLimitSellOrder_ and _createLimitSellOrder_:
`{"success":false,"message":"RATE_PRECISION_NOT_ALLOWED","result":null}`
Cause:
Price precision for **USD** markets on Bittrex should be 3, not 8. Amount precision remains 8.
[code]

[2018-07-02 15:58] fonzmeister opened #3308 "okex fetchbalance"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: ubuntu
- Programming Language version: python 3.5
- CCXT version: 1.15.4
- Exchange: okex
- Method: fetchbalance

The fetchbalance methods only shows the balance from your spot wallet.
Okex has releases a central wallet and from there you can transfer funds

[2018-07-02 16:11] kroitor commented on #3306
Hi!

Yes! https://github.com/ccxt/ccxt/wiki/Manual#placing-orders

[2018-07-02 16:11] #3306 closed

[2018-07-02 16:12] kroitor commented on #3016
We are already adding the URLs there ) Thx! )

[2018-07-02 17:18] JSRossiter opened #3309 "Endpoint request: QuadrigaCX fetchOrder"
- CCXT version: latest
- Exchange: QuadrigaCX
- Method: fetchOrder

Not sure when they implemented this but I notice in their API docs (https://www.quadrigacx.com/api_info) it's labelled new still.

Quadriga isn't my highest priority right now but I might take a look at adding this if someone else doesn't soon

Thanks.

[2018-07-02 17:24] kroitor commented on #3309
That would be awesome! Just make sure to read this: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code

[2018-07-02 18:04] viniciussvl opened #3310 "Cryptopia candles"
Where do you look for the cryptopia candles? In their API they have no endpoint that returns the data of the candles.

[2018-07-02 18:19] kroitor commented on #3310
It's in the source code of our implementation for Cryptopia:

- https://github.com/ccxt/ccxt/blob/master/js/cryptopia.js#L191
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/cryptopia.py#L203
- https://github.com/ccxt/ccxt/blob/master/python/ccxt/async/cryptopia.py#L203
- https://github.com/ccxt/ccxt/blob/master/php/cryptopia.php#L192

[2018-07-02 18:19] #3310 closed

[2018-07-02 19:14] viniciussvl opened #3311 "What is the order of the clues in the return of the OHLCV candles?"
Hello, sorry to bother again is that I found nothing in the documentation that could answer my question. I need to know what indices are being returned, it returns an array of 0 to 5, but what is the open price? price close? high, volume? just looking like that I could not identify.

[code]

[2018-07-02 19:15] kroitor commented on #3311
the order is the OHLCV abbreviation itself...
https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-structure

[2018-07-02 19:15] #3311 closed

[2018-07-02 19:28] kroitor commented on #3311
https://github.com/ccxt/ccxt/wiki

[2018-07-02 22:37] lyang36 opened #3312 "CoinEx problem. Order status is incorrect."
- OS: Linux
- Programming Language version: python
- CCXT version: 1.15.5
- Exchange: CoinEx
- Method: fetch_order

the order fetched has a different "status" in the "info".
for instance:
[code]

The problem is in coinex.py:
[code]
cancel has not been considered.

[2018-07-03 02:42] JoshVarty opened #3313 "New Exchange: BitForex"
Similar to #1392

I'm not sure if this is a new exchange but I noticed it today in CoinMarketcap's [top ten exchanges by volume](https://coinmarketcap.com/exchanges/volume/24-hour/).

Website: https://bitforex.com

It doesn't appear to have a public API yet, but I figured I would create an issue as I couldn't find any other issues or code that mentioned this exchange.

[2018-07-03 04:35] imcoddy commented on #3297
Confirmed that the signature error is now fixed. Thanks for the fast fix :)

[2018-07-03 04:47] #3312 closed

[2018-07-03 05:59] insoochoo commented on #1392
Any updates?

[2018-07-03 07:19] chxxpeng opened #3314 "Cointiger sign method problem python"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: windows 10
- Programming Language version: python 3.6.4
- CCXT version: 1.14.274
- Exchange: cointiger
- Method: sign
______________________________________
when to create an order, it raises the following errors
File "C:\ProgramData\Anaconda3\lib\site-pack

[2018-07-03 07:28] anymos commented on #56
Hi  @danieldourado

Was trying to use the binance ws.

It sounds like the function _asyncHandleObRestSnapshot that manage the binance logic about the lastUpdateId u and U, is only called one time duringthe snapshot retrieval.

For each other stream received the logic seems to be not applied, unless I am wrong.

I am working on it to fix it, but I would appreciate I you could confirm my thoughts

[2018-07-03 07:30] #3314 closed

[2018-07-03 07:41] araa47 commented on #3245
@kroitor , is the above information enough to re-open the issue?

[2018-07-03 07:44] kroitor commented on #3245
@araa47 it's up to you whether you want to reopen it or not, I'm working on the fix anyway, will upload asap.

[2018-07-03 07:46] hems opened #3315 "async nonce function"
- Programming Language version: node.js
- CCXT version: latest
- Method: Overriding nonce

Is it possible to use an async nonce() function?

This way the nonce could be persisted in a database and shared among multiple instances in different machines.

[2018-07-03 07:46] araa47 commented on #3245
@kroitor , will just keep it closed then, just wanted to make sure you had enough information

[2018-07-03 07:47] kroitor commented on #3245
@araa47 what's your version of ccxt btw?

[2018-07-03 07:48] araa47 commented on #3245
ccxt = "==1.14.52"

[2018-07-03 07:51] kroitor commented on #3245
@araa47 can you verify it with the following script:

[code]

sorry for asking this, just need to make sure. Just to let you know, throwing an ExchangeError on JsonDecodeError exception should've worked, because we have code to intercept it... If it does not throw an ExchangeError, this might indicate an outdated package version.

[2018-07-03 08:06] araa47 commented on #3245
[code]

[2018-07-03 08:11] andrei15 commented on #3282
When it gets into the release?  In 1.15.7 its not renamed.

[2018-07-03 08:12] kroitor commented on #3282
@andrei15 hope to have time to merge it today or tomorrow.

[2018-07-03 08:35] juragandotid commented on #2504
why cannot get respon from this
`
$symbol = 'BTC/IDR'; // bitcoin contract according to bitmex futures coding
$type = 'limit';
$side = 'buy'; // or 'buy'
$amount = 0.00022;
$simpan = 94000000;
$buyOrder = $this->inboxno->create_order($symbol, $type, $side, $amount, $simpan);
					print_r($buyOrder);`

[2018-07-03 08:37] kroitor commented on #2504
@juragandotid https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting

[2018-07-03 10:15] fonzmeister opened #3316 "create order in okex: cost is deprecated?"
- OS:
- Programming Language version:
- CCXT version: 1.15.4
- Exchange: okex
- Method: createorder

as shown in this issue https://github.com/ccxt/ccxt/issues/3060 it is needed to give an extra parameter to the create order function. I believe this is deprecated, allthough I might misunderstand things.

Reffering to the api guide of okex (https://github.com/okcoin-okex/API-docs-OKEx.com/blob/mast

[2018-07-03 10:37] Showgofar commented on #2859
The problem on poloniex is still exist
1)  fetch my trades - > take timestamp from latest trade ($timestamp_poloniex)
2)  fetch my trades (since = $timestamp_poloniex) -> will return zero result
3)  fetch my trades (since = ($timestamp_poloniex - time zone correction)) -> will return latest trade
time zone correction in my case is 4 hours
 so it will be
4*60*60 * 1000

[2018-07-03 10:55] lfern commented on #56
I am working on refactoring functions in base classes (removing 'async' prefix in methods), and adding some class methods to access context data. Hope to be ready this week.

[2018-07-03 17:40] kroitor commented on #3016
@Showgofar @frosty00 if you know of exchanges that have referral programs, let us know, will be happy if you just list them here ) thx a lot )

[2018-07-03 21:30] geraldvandergrijn opened #3317 "import problem"
ATTENTION!!!

- OS: macOS High Sierra 10.13.5
- Programming Language version: Python 3.6.6 :: Anaconda, Inc.
- CCXT version: ccxt 1.15.7
- Exchange: Not relevant
- Method: not relevant

When trying to import ccxt I get:
[code]

As far as I can see ccxt was correctly installed. Trying to reinstall  with pip gives
[code]

[2018-07-03 21:40] kroitor commented on #3317
- https://github.com/ccxt/ccxt/issues/1764 answered here
- https://github.com/ccxt/ccxt/issues/2914
- https://github.com/ccxt/ccxt/issues/3243

[2018-07-03 21:40] #3317 closed

[2018-07-03 21:48] geraldvandergrijn commented on #3317
Well, I already followed #1764 and that certainly did not work for me :(

[2018-07-03 21:56] kroitor commented on #3317
@geraldvandergrijn anaconda has its own version of pip...

[2018-07-03 22:05] geraldvandergrijn commented on #3317
@kroitor Yes I know. And I should use that version, shouldn't I. Also installing ccxt using conda version of pip results in import problems. I really don't understand what I am doing wrong here.

Thanks for your prompt replies btw. Much appreciated!

[2018-07-03 22:18] kroitor commented on #3317
@geraldvandergrijn let us know if neither of these help:
- https://github.com/ccxt/ccxt/issues/2824#issuecomment-388647914
- https://github.com/ccxt/ccxt/issues/1764#issuecomment-385256860

[2018-07-04 01:06] kroitor commented on #3107
Added in 1.15.8. Thx for your patience!

[2018-07-04 01:06] #3107 closed

[2018-07-04 08:19] EmbarAlmog opened #3318 "OHLCV volume in exchanges"
- OS: Mac
- Programming Language version: Python
- CCXT version: latest
- Exchange: Poloniex
- Method: parse_ohlcv

Hi,
which volume should be returned when fetching the ohlcv data from the exchanges? base volume or quote volume?
I have noticed that in `parse_ohlcv` in Poloniex, the return volume is the `quoteVolume` instead the `baseVolume` (reversed in 1.10 version) and also in Bittrex, the retu

[2018-07-04 08:38] includeleec opened #3319 "New Exchange:bigone"
website: https://big.one/
api doc:https://open.big.one/

[2018-07-04 08:39] includeleec opened #3320 "New Exchange: coinpark"
website:https://www.coinpark.cc/
api doc:https://github.com/coinparkcc/API_Docs

[2018-07-04 11:17] miracle2k commented on #3261
I'd be interested in working on this, because I need it myself.

In addition to not duplicating code, storing a `feeSystem` option in the exchange data has another advantage: It allows people to do fee calculations not covered by `calculate_fee`.

For example, if I want to buy to sell 7000 EUR on bitstamp:BTC/EUR at a rate of 7000 EUR, I cannot just submit an order for 1 BTC - I need to submit 700

[2018-07-04 16:15] kroitor commented on #3319
Duplicate: #1159

[2018-07-04 16:15] #3319 closed

[2018-07-04 16:20] benediamond opened #3322 "binance 'param error' when fetching deposit address"
- OS: Mac OS
- Programming Language version: Python 3.6.3
- CCXT version: '1.14.261'
- Exchange: binance
- Method: fetch_deposit_address

There is an _intermittent_ error on binance:
[code]
I noticed that in the [api docs](https://github.com/binance-exchange/binance-official-api-docs/blob/master/wapi-api.md), there is a mandatory timestamp parameter. and yet we also have:
[code]
This might be hard

[2018-07-04 17:24] kroitor commented on #3318
Hi!

Base volume, according to the Manual: https://github.com/ccxt/ccxt/wiki/Manual#ohlcv-structure

Let's first make sure that you're not confused by words "base" and "quote". The Manual has a separate section on this: https://github.com/ccxt/ccxt/wiki/Manual#consistency-of-base-and-quote-currencies

In CCXT we call the `base` the currency before the slash, the `quote` is the currency after the s

[2018-07-04 17:24] #3318 closed

[2018-07-04 17:29] kroitor commented on #3317
@geraldvandergrijn we would be happy if you report back whether you managed to solve this by reinstalling conda/python/pip or not. Thx!

[2018-07-04 19:05] miracle2k commented on #3290
[code]

It seems fixed in my experiments.

[2018-07-04 20:01] JoshVarty opened #3323 "fetch_trades() on ZB results in Exception: 'bool' object is not subscriptable"
- OS: Windows/Ubuntu
- Programming Language version: `3.6.3`
- CCXT version: `1.15.7`
- Exchange: ZB
- Method: `fetch_trades()`

Certain pairs seem to trigger this. `load_markets()` suggests that the pairs exist on the exchange, but the exchange returns some kind of error message which seems to cause CCXT to throw an error.

[code]

Output
[code]

[2018-07-04 20:03] JoshVarty commented on #3323
Google translate says that the message `服务端忙碌` translates to `Busy Server`. However, only certain pairs seem to trigger this message.

Either way, perhaps there is a better way to fail or throw a clearer exception?

[2018-07-04 22:09] JSRossiter commented on #3322
I've also been having this issue since the downtime yesterday, I haven't had a chance to look into it further yet.

[2018-07-04 22:11] geraldvandergrijn commented on #3317
@kroitor I did solve it after uninstalling the Anaconda pip from my environment and reinstalling the ccxt package using the default python pip version. Thanks for your help.

1. conda uninstall pip
2. conda uninstall ccxt
3. pip install ccxt

[2018-07-04 22:14] alexgpark opened #3324 "binance order price exceeds allowed price precision or invalid, use this.priceToPrecision"
- OS: macOS High Sierra
- Programming Language version: NodeJS v8.9.1
- CCXT version: ccxt@1.14.172
- Exchange: Binance
- Method: createOrder

I get the following error...

when attempting to create Stop Loss with the following code:

[code]
Initially I had
`
const stopPrice = buyLimitPrice * 0.9;
const limitPrice = buyLimitPrice * 0.89;
`

and got that same error above.

I interpreted the error t

[2018-07-04 22:34] kroitor commented on #3317
@geraldvandergrijn thx for letting us know!

[2018-07-04 22:45] kroitor commented on #3290
@miracle2k great news, thx so much for the info!

[2018-07-04 22:47] kroitor commented on #3324
@alexgpark

1. Please, read this:

- https://github.com/ccxt/ccxt/wiki/Manual#market-structure
- https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

2. > But now even with the rounding function, I still get the same error and struggling to identify what the root issue is.

[code]

Let us know if it still does not work like this, and if it does not, please make sure to read this: https:/

[2018-07-04 22:47] kroitor commented on #3324
Feel free to reopen it if needed or just ask further questions if any, i'd close it for now, if you don't mind. Thx!

[2018-07-04 22:47] #3324 closed

[2018-07-04 23:11] #3261 closed

[2018-07-04 23:19] kroitor commented on #3261
Hi! Sorry for a long wait.

@MarcelBeining

Added that duplicated override temporarily until we have a better solution. Thx for reporting!

@miracle2k

100% true!

In some cases this may be an oversight, however, in some other cases, like that of Kraken, you have to add more stages of rounding, otherwise your trade won't balance. This is related to how the exchange engine computes the fee values i

[2018-07-04 23:48] kroitor commented on #3323
Fixed in 1.15.10. Thx!

[2018-07-04 23:48] #3323 closed

[2018-07-05 00:01] kroitor commented on #3261
@miracle2k also, forgot to mention, you might also want to read #1835 and posts linked from there to get a wider overview of the overall picture with fees.

[2018-07-05 02:31] chxxpeng opened #3325 "Cointiger fetch_order implementation"
Working with cointiger python api, found that fetch_order is not implemented. The cointiger docs shows that there is a v2 version of api, may do the fetch_order job by sending an order_id.
Tried to implement myself, but failed.

docs: https://github.com/cointiger/api-docs/wiki

[2018-07-05 06:56] EmbarAlmog commented on #3318
Thanks for the detailed answer!
What is the reason for the change in Poloniex? does Poloniex call them the opposite also?

[2018-07-05 07:00] kroitor commented on #3318
Yep! Here it is, an ETH candle for Poloniex:

[code]

So:

[code]

Obviously, with ETH/BTC, their quoteVolume (ETH) is our base volume in CCXT. So, Poloniex is the same as Bittrex.

[2018-07-05 07:05] EmbarAlmog commented on #3318
Thanks a lot!

[2018-07-05 07:48] juragandotid commented on #2504
how to add Exception in php, because i wanna check whats misstack in response

[2018-07-05 08:05] juragandotid commented on #2504
I think this trobel on indodax source, please check again any mistack or typo or api change.Because i have try no response and no error show.

Thank your.

[2018-07-05 08:30] juragandotid commented on #2504
And now indodax private api has change to  https://indodax.com/trade_api.

Please check again any api change or partmeter change.

Thank You.

[2018-07-05 08:36] juragandotid commented on #2504
![apiprtmeter](https://user-images.githubusercontent.com/35671934/42311950-a849c2d2-8004-11e8-877b-3a56bc600c1d.png)

[2018-07-05 08:37] juragandotid commented on #2504
![api](https://user-images.githubusercontent.com/35671934/42311967-b2b49012-8004-11e8-978b-563a2391e67b.png)

[2018-07-05 08:52] juragandotid commented on #2504
And once again , i think indodax now has change method authentication api.

Public api = https://indodax.com/api
Private api = https://indodax.com/trade_api

and authenticate api using hmac, and post on https://indodax.com/trade_api.

![auth](https://user-images.githubusercontent.com/35671934/42312750-bc3d8a88-8006-11e8-8d5d-0c8bc6339d17.png)

[2018-07-05 08:57] kroitor commented on #2504
@juragandotid you'd better start reading around if you want to save your:

- https://github.com/ccxt/ccxt/tree/master/examples
- https://github.com/ccxt/ccxt/tree/master/examples/php
- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

Make sure that you have the most recent

[2018-07-05 08:59] juragandotid commented on #2504
Mybe the indodax doc typo send request to https://indodax.com/tapi because in doc private api has change to https://indodax.com/trade_api. or there has use https://indodax.com/tapi to authenticate whit api key and sign in with hmac. and https://indodax.com/trade_api for private api supported list partmeter in doc update 2018 and http://indodax.com/api for public api supported list partmeter in doc

[2018-07-05 09:02] kroitor commented on #2504
This: https://indodax.com/trade_api is their website page for creating API keys, it requires a user to sign in.

This: https://indodax.com/tapi is their API base URL for integrating with other code, and this is what we are using, as documented in their Manual. If you  change it to https://indodax.com/trade_api it just stops working, obviously, as expected.

Yep.

[2018-07-05 12:06] lfern commented on #56
@anymos I have just added a test for updateBidAsk and now I think it is working fine.

[2018-07-05 14:42] arielorvits opened #3327 "dup: On okex, CAN refers to Content and AD Network"
should add

[code]
like in exx

[2018-07-05 14:44] MarcelBeining opened #3328 "key error NANO with fetchTickers on kucoin"
- OS: Windows
- Programming Language version: Python 3.6
- CCXT version: 1.15.13
- Exchange: kucoin and maybe others
- Method: fetchTicker / fetchTickers

[code]
gives an key error, but
[code]

works!
I saw that you changed something concerning Nano/Xrb, however it should not be possible to get the pair 'NANO/BTC' from `kucoin.fetchBalance()` but then this pair does not show up in fetchTickers!

M

[2018-07-05 20:56] #3327 closed

[2018-07-05 22:01] #3328 closed

[2018-07-05 22:01] #3302 closed

[2018-07-05 22:07] imhazige commented on #56
@lfern

Great!

[2018-07-05 22:20] kroitor commented on #3316
That's right.

It is not deprecated.

That's correct, OKEX does not require it. However, for market buys OKEX **requires the cost of the order to be passed in the price parameter**, which is even more confusing than just having a separate cost parameter, because their users will now have to add all sorts of special cases to their code.

First of, let's clarify: *"the amount you would like to spend

[2018-07-05 22:20] #3316 closed

[2018-07-05 22:49] #3307 closed

[2018-07-05 22:51] kroitor commented on #3240
Closing this for now, if you don't mind, until we have a follow up on this. Feel free to reopen it or just ask further questions, if any. Thx!

[2018-07-05 22:51] #3240 closed

[2018-07-06 00:19] valvesss opened #3329 "Fetch Ticker (Bittrex) - Error: bad operand type for unary -: 'dict'"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Fedora 27
- Programming Language version: Python 3.X
- CCXT version: 1.15.18
- Exchange: Bittrex
- Method: Fetch Ticker

CODE:

#!/usr/bin/python3
import ccxt

bittrex = ccxt.bittrex()

print(bittrex.fetch_ticker('BTC/USD'))

RESPONSE:

Error: bad operand t

[2018-07-06 00:21] #3329 closed

[2018-07-06 00:22] kroitor commented on #3329
Sorry, this was my bad, a leftover bug. I've uploaded a fix and you should be fine if you update to new version 1.15.19 (will be available for downloading in 5-10 minutes).

[2018-07-06 00:23] valvesss commented on #3329
Thanks!

[2018-07-06 00:34] samjeckert commented on #1283
any update on this?

[2018-07-06 06:26] XliveStudios opened #3330 "Kucoin AuthenticationError"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: Windows
- Programming Language version: Python3x
- CCXT versions: '1.13.142' , '1.15.19'
- Exchange: Kucoin
- Methods: fetch_balance(), create_order()

Getting this error when try to exchange.fetch_balance()["BTC"]['free']
Also on create_order()

[code]

[2018-07-06 06:36] kroitor commented on #3330
Have you checked that your keys actually have the permissions and there's no IP binding that might filter out your access?

[2018-07-06 06:38] XliveStudios commented on #3330
i used this key about 2 months with no problem im trying to update the keys

[2018-07-06 07:07] kroitor commented on #3330
@XliveStudios let us know if recreating the keys does not solve the issue for you.

[2018-07-06 07:07] #3330 closed

[2018-07-06 07:08] XliveStudios commented on #3330
i think problem caused by kucoin itself they removed the trade and even read permissions from keys i reactivated but know i see they also update the response for exchange.fetch_balance() function. Here is the json response for exchange.fetch_balance()

{'info': [{'coinType': 'KCS', 'balanceStr': '9.99037611', 'freezeBalance': 0.0, 'balance': 9.99037611, 'freezeBalanceStr': '0.0'}, {'coinType': 'GA

[2018-07-06 07:13] kroitor commented on #3330
@XliveStudios from your output it looks like fetch_balance works like it should. See fetch_free_balance as well.

[2018-07-06 07:15] XliveStudios commented on #3330
I used to exchange.fetch_balance()[coin.upper()]['free'] and works well until today i will try fetch_free_balance.

[2018-07-06 07:23] XliveStudios commented on #3330
It works now sorry for headache the problem caused by kucoin deleted api permissions, thanks..

[2018-07-06 09:18] shaohaojiecoder opened #3331 "some error on fcoin"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: windows
- Programming Language version:python
- CCXT version:1.15.19
- Exchange:fcoin
- Method:fetch_order

when you fetch an order  , it returns
############################################
 Traceback (most recent call last):
  File "C:\Users\shaoh\AppData

[2018-07-06 09:19] kroitor commented on #3331
@shaohaojiecoder need your verbose request and response, as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-07-06 09:20] shaohaojiecoder commented on #3331
the order id is ''5e2Wvd_maPFeupeNzGjha2YNfDZETidiTU3Ah2dvJeM=''

[2018-07-06 09:31] kroitor commented on #3331
@shaohaojiecoder you're doing everything exactly the opposite.

1. I told you to go read that link and to post your verbose request and response. You didn't.
2. I told you to not post your apiKey and secret – you posted them.
3. I told you that we need your verbose request and response, instead you posted just the code snippet (thx, but it's not enough).

You need to pay attention, otherwise it wi

[2018-07-06 09:35] shaohaojiecoder commented on #3331
so sorry, i have pasted the verbose requstes and response.
I post an order to the interface fetch_order
but it returns  an error

[2018-07-06 09:39] shaohaojiecoder commented on #3331
Am I clear?@kroitor

[2018-07-06 09:43] kroitor commented on #3331
No, you haven't.

[code]

Can you copy the entire output (it contains the verbose request and response) here?

[2018-07-06 09:55] shaohaojiecoder commented on #3331
Request: GET https://api.fcoin.com/v2/public/symbols {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.71 Safari/537.36', 'Accept-Encoding': 'gzip, deflate'} None

Response: GET https://api.fcoin.com/v2/public/symbols 200 {'Date': 'Fri, 06 Jul 2018 09:55:25 GMT', 'Content-Type': 'application/json;charset=UTF-8', 'Transfer-Encoding': 'chunke

[2018-07-06 10:02] #3331 closed

[2018-07-06 10:12] kroitor commented on #3331
@shaohaojiecoder ok, much better now, thx! This was a bug, I've added a fix for it, and it is available in the new version 1.15.21. So if you just run `pip install ccxt --upgrade`, your code snippet should work fine from there.

[code]

Also, I'd recommend to read the entire Manual from the beginning to the end – you'll find a lot of useful info and it will save lots of debugging time for you as w

[2018-07-06 10:22] shaohaojiecoder commented on #3331
thanks @kroitor  /smail

[2018-07-06 13:35] munrocket opened #3332 "Minimalistic version of library"
Thank you for supporting great library, I am really appreciate for your work. But what if somebody don't want to use all of this new exchanges and want keep clean your code? Everybody know that we have only several trustworthy centralized cryptocurrency exchanges and DEX. All other centalized exchanges just additional vunorability for our investment and bot performance.

Also ccxt become incompreh

[2018-07-06 21:04] HornKild commented on #3239
Hello,

This is a new error I have with LBank when fetching tickers or markets :

[code]

[2018-07-06 21:16] kroitor commented on #3239
vet_erc20_usdt...

[2018-07-06 21:17] kroitor commented on #3239
- https://www.reddit.com/r/Vechain/comments/7m76yb/is_ven_an_erc20_token/
- https://medium.com/@vechainofficial/vechain-apotheosis-the-beginning-d9f0fdbdc910

`VEN` is being rebranded to `VET`.

[2018-07-06 21:47] #3179 closed

[2018-07-06 23:03] HornKild commented on #3239
Hi Kroitor, is it something that can be fixed ?

[2018-07-06 23:04] kroitor commented on #3239
@HornKild hi, yes, it is fixed in 1.15.24.

[2018-07-07 10:58] insoochoo opened #3336 "New Exchange: UPBIT"
UPBIT API: https://docs.upbit.com/v1.0/reference

They recently released their API to public. They are #1 in Korea.

[2018-07-07 10:59] kroitor commented on #3336
Thx for the notice! I'd suggest to move this discussion here: #1392

[2018-07-07 10:59] #3336 closed

[2018-07-07 12:18] salihkilic opened #3337 "Bitmex returning None on bid and ask prices with fetch_ticker(BTC/USD)"
- OS: Windows 10
- Programming Language version: Python
- CCXT version: 1.15.25
- Exchange: Bitmex

Hey there, I'm building a small script to retrieve BTC to USD/USDT prices from several exchanges. Bitmex seems to be only returning tickers with None bid and ask values. Here is an example:

[code]

[2018-07-07 12:33] kroitor commented on #3337
@salihkilic the problem with Bittrex is that they will return just the OHLCV or just the bid and the ask, but not both (in a single call)... We're looking for better workarounds. In the meantime, I guess, you should fetchOrderBook or fetchMarkets if you want their current bidask. Let us know if it does not answer your question. Your suggestions are also welcome. Thx!

[2018-07-07 12:33] #3337 closed

[2018-07-07 13:41] salihkilic commented on #3337
Hey Kroitor, I was talking about Bitmex (not Bittrex like you mentioned) and they do provide both ask and bid in one call with load_markets()but not in fet_ticker().

[2018-07-07 13:42] kroitor commented on #3337
@salihkilic yeah, sorry, it was a typo in my answer, Bitmex, of course.

[2018-07-08 04:36] cloudseasail opened #3338 "Python aiohttp raises an RuntimeError with Jupyter"
The following code in Jupyter will raise RuntimeError:

[code]

I think it is same issue with tornado one below,  anyone knows how to workaround this?
[https://github.com/aio-libs/aiohttp/issues/877](https://github.com/aio-libs/aiohttp/issues/877)

[2018-07-08 15:46] arielorvits opened #3340 "dup coin: SMT in cobinhood is "SocialMedia.Market""

[2018-07-08 19:42] mortezae commented on #3097
@kroitor
I'm see this error with your code:
[code]
and even after adding this parameter with GTC value, It also asks price in parameters, despite we used it in fifth parameter of called function.
[code]

[2018-07-08 19:59] DanMan259 opened #3341 "CCXT structure for meteor applications"
- OS: Ubuntu 16.04
- Programming Language version: Meteor.js 1.7.03
- CCXT version: Latest 1.15 or whatever
- Exchange: Most of them
- Method: Pulling Transaction Data, and most public pricing endpoints

It's not exactly an issue and you recommend to read the manual for these things, but I could find any help for this.

I wanted to know how would you structure this library in a meteor application.

[2018-07-09 01:15] kroitor commented on #3097
@mortezae can you please post here your verbose request and response precisely as documented: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue ?

[2018-07-09 03:14] #3340 closed

[2018-07-09 12:26] jackyxie opened #3343 "btctradeim load_markets error"
- OS:Linux
- Programming Language version: PHP
- CCXT version:1.15.28
- Exchange:btctrade.im
- Method:load_markets
btctradeim fetchMarkets() for "usdt" returned => "null" (ignoring)

[2018-07-09 12:39] creativegeniusod opened #3344 "KRAKEN: Private Deposit Method & Deposit Address endpoints not working."
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version:
- Exchange:
- Method:

[2018-07-09 12:41] kroitor commented on #3344
Have you read this? ↓

[2018-07-09 12:41] kroitor commented on #3344
https://github.com/ccxt/ccxt/wiki/FAQ#im-trying-to-run-the-code-but-its-not-working-how-do-i-fix-it

[2018-07-09 12:41] #3344 closed

[2018-07-09 13:02] jackyxie commented on #3343
It is ok to use https://api.btctrade.im  instead of  https://www.btctrade.im with some of the api.

[2018-07-09 13:03] kroitor commented on #3343
@jackyxie didn't quite understand your comment, can you clarify, please?

[2018-07-09 13:05] jackyxie commented on #3343
www.btctrade.im is protecting by cf, and api.btctrade.im is ok to get data normally.

[2018-07-09 13:06] vmish opened #3345 "New signature calculation at Huobi"
- OS: all
- Programming Language version: all
- CCXT version: all
- Exchange: huobipro
- Method: sign

New **PrivateSignature** is on today at [Huobi](https://github.com/huobiapi/API_Docs_en/wiki/Signing_API_Requests).

Parallel Run Period: July 9th, 2018, 14:00:00 - July 23rd, 2018 23:59:59 (GMT+8 Beijing）

[2018-07-09 13:07] kroitor commented on #3343
Which endpoint from api.btctrade.im would you suggest for a list of their markets? The problem is that they don't have a documented endpoint for this. So, this is the only thing that we're using www.btctrade.im for. Most other endpoints are fetched from api.btctrade.im.

[2018-07-09 13:09] jackyxie commented on #3343
As btctradeim do not has usdt trading pairs. Error show up as below when fetchMarkets.

[2018-07-09 13:11] kroitor commented on #3345
@vmish thx for the notice!

[2018-07-09 13:12] kroitor commented on #3343
Exactly, this is why `usdt` was deleted from btctradeim here: https://github.com/ccxt/ccxt/issues/3292

Are you sure that your version of CCXT is up to date?

[2018-07-09 13:16] jackyxie commented on #3343
Yeah, I update ccxt first and then run my program. version num in Exchange.php is
`php
$version = '1.15.28';
`

[2018-07-09 13:19] jackyxie commented on #3343
@kroitor  btctrade.im implement from coinegg. And coinegg quoteIds has usdt.

[2018-07-09 13:43] markhorner123 opened #3346 "Coinfalcon fetchFreeBalance()"
Hey

Firstly to say thanks for your hard work - this is an awesome project you have. I've started looking at using CoinFalcon and come across an issue when trying to call the fetchFreeBalance method within Python;
- OS: W10
- Programming Language version: Python 3.6
- CCXT version: ccxt==1.15.2
- Exchange: Coin Falcon
- Method: fetchFreeBalance()

Other methods such as fetch trades etc don't seem

[2018-07-09 13:53] fonzmeister opened #3347 "binance wallet status"
The fetchCurrencies method of binance does not report a wallet status, if you're enable to withdraw or deposit. This is probably because it is hard to implement.

The data that has the wallet status can be found here: https://www.binance.com/assetWithdraw/getAllAsset.html

for example NANO is disabled and has the output

[code]

the enableCharge & enableWithdraw is the status of the wallet (deposi

[2018-07-09 15:12] #3347 closed

[2018-07-09 15:18] kroitor commented on #3347
I've added the endpoint in question, you should be able to call it with exchange.wapiGetAllAsset or exchange.wapi_get_all_asset with CCXT version 1.15.31.

Yep, we will consider adding that info where appropriate. Thx for the suggestion!

[2018-07-09 17:20] wardbradt commented on #56
Is https://github.com/lfern/ccxt/tree/feature/websockets-multiple the official branch for WebSocket development? I am interested in contributing.

[2018-07-09 18:16] arielorvits opened #3350 "dup coin: OC is "occnetwork" in coinexchange"

[2018-07-09 19:01] fonzmeister commented on #3347
Thanks for your quick response and help. There seems to be something wrong though. I am getting the error below when I call exchange.wapiGetAllAsset()

PS: There are some small bugs in the code. I am seeing also wapiGetAllassets (nog camelcase) and it does nothing. Same for binance.wapiGetSystemstatus and binance.wapiGetSystemStatus.
There might be more, if you need me to create a list let me know

[2018-07-09 20:32] havocesp opened #3351 "Python base cryptopia class do not fill datetime and timestamp correctly at parse_order method"
- OS: Linux Mint 19
- Programming Language version: python
- CCXT version: 1.15.27
- Exchange: cryptopia
- Method: parse_order

I think that there is mistake at cryptopia class, as we can see in the following output do not fill **timestamp** and **datetime** fields properly:

---

[code]
---

I have fixed it by replacing the following code block ...

[code]
---

by this one:

---
[code]
---

after

[2018-07-09 20:43] markhorner123 commented on #3346
Update - the same issue gets raised when trying to place orders with CCXT too!

[2018-07-09 21:10] pursehouse commented on #56
@wardbradt it's a significant branch for it yes. Nothing is really "official" yet I think. But help is greatly appreciated, this is highly likely to be the merged fork I think

[2018-07-10 03:00] viktorius007 opened #3352 "Delete NEO/USD, NEO/CNY, QTUM/USD, QTUM/CNY, XUC/USD, XUC/CNY from OKEX"
- OS:  Debian Stretch
- Programming Language version: PHP 7.1
- CCXT version: 1.15.31
- Exchange: OKEX
- Method: fetchTicker

The following code will eventually throw an error because the exchange lists NEO/USD and QTUM/USD as available, when they are not.

`
<?php
$root = dirname (dirname (dirname (__FILE__)));
include $root . '/ccxt.php';

$exchange = '\\ccxt\\okex';
$exchange = new $exchange ()

[2018-07-10 04:07] #3351 closed

[2018-07-10 04:16] #3346 closed

[2018-07-10 05:32] kroitor commented on #3350
Hi! Sorry, can you please specify the source of the info?

[2018-07-10 08:01] #3343 closed

[2018-07-10 08:06] kroitor commented on #3322
@benediamond could this be a nonce conflict? I mean, which particular timestamp is being sent in the request before the error compared to the request that triggers the error? Your verbose output would be helpful.

[2018-07-10 08:12] munrocket commented on #445
Maybe this will help someone. If you have this error under windows OS.
[code]
Just set powershell as a default console in Node
`npm config set script-shell "powershell"`

[2018-07-10 08:36] markhorner123 opened #3353 "CoinFalcon - signature incorrect, fetch_free_balance keys"
Hey again - thanks for fixing the issue that was being thrown up on the payload creation. I am now running into another issue for CoinFalcon.

- OS: W10
- Programming Language version: Python 3.6
- CCXT version: ccxt==1.15.33
- Exchange: CoinFalcon
- Method: fetch_balance

When I take a copy of the CF api docs (https://docs.coinfalcon.com/) I am able to call signed endpoints so this appears to be

[2018-07-10 09:49] Macingo commented on #2975
Thanks for info!

[2018-07-10 12:09] #3353 closed

[2018-07-10 12:19] simplyhugo opened #3354 "fetch_open_orders() (Bitstamp) reuses nonce after fetch_balance()"
- OS: MacOS 10.13.3
- Programming Language version: Python 3.6.3
- CCXT version: 1.15.31
- Exchange: Bitstamp
- Method: fetch_open_orders()

If bitstamp.fetch_open_orders() is called after fetch_balance() it will frequently (although not always) reuse its nonce, which will result in the following error:
```ccxt.base.errors.ExchangeError: bitstamp {"status": "error", "reason": "Invalid nonce", "cod

[2018-07-10 12:19] fonzmeister commented on #3347
@kroitor sorry to tag you, but maybe you've unfollowed this thread

[2018-07-10 12:19] simplyhugo commented on #3354
[code]

[2018-07-10 12:27] Esc4pism opened #3355 "exx volumes"
All marketpairs on exx with CNYT (CNY Tether) seem to have inversed base/quote volumes.

I checked https://api.exx.com/data/v1/tickers and it seems the volume they send is usually the base-volume, but for all their CNYT-pairs its the quote-volume (otherwise those volumes would be in the Trillions of $)

[2018-07-10 12:43] frosty00 commented on #3338
Latest version works normaly on python3.6:

[code]

Are you sure that you did:

[code]

or

[code]

"async" is now a reserved keyward so `ccxt.async.exchange` doesn't work

[2018-07-10 12:53] kroitor commented on #3354
@simplyhugo are you using any rate-limiting? Asking this because you're required to enable either the built-in rate limiter or to implement your own to avoid nonce conflicts.

Documented in the Manual:
- https://github.com/ccxt/ccxt/wiki/Manual#rate-limit
- https://github.com/ccxt/ccxt/wiki/Manual#authentication

Let us know if adding `ccxt.bitstamp ({'enableRateLimit': True}) does not solve your

[2018-07-10 12:53] #3354 closed

[2018-07-10 12:55] kroitor commented on #3347
@fonzmeister nope, will add a fix for it soon, nothing is forgotten.

[2018-07-10 12:59] simplyhugo commented on #3354
That did solve my issue, thank you!

[2018-07-10 13:05] kroitor commented on #3347
@fonzmeister

With CCXT 1.15.37 (will be available in 5-10 minutes):

[code]

It will return the JSON you want. Hope this helps.

[2018-07-10 13:47] kroitor commented on #3355
[code]

The problem is actually a bit different... The values are in their proper places, however, they report scientific notation in uppercase (`vol: "3.7222581473E7"`) which is not parsed correctly.

[2018-07-10 13:57] kroitor commented on #3355
I'm a bit confused...

Not sure how these 24 volume-values can differ by several orders of magnitude for BTC / ETH in such a particular way:

<img width="1239" alt="screen shot 2018-07-10 at 16 56 06" src="https://user-images.githubusercontent.com/1294454/42514469-2cd6dc18-8462-11e8-97ad-4729223bd3f3.png">

<img width="1335" alt="screen shot 2018-07-10 at 16 55 42" src="https://user-images.githubu

[2018-07-10 14:18] Esc4pism commented on #3355
I didnt quite get it either... from what ive seen, coinlib.io calculates the volume as "quote"-volume for the CNYT pairs (but not for all of those pairs...). And Coinmarketcap doesnt list any of the CNYT pairs at all.

I think they are just inconsistent and should clarify it in their docs, or update their api.

[2018-07-10 14:57] valentinbora commented on #3313
I had a chat with them, they said a Public API is not available at the moment but that some of their 'customers' do have access to it. To be continued 😄

[2018-07-10 16:52] kroitor commented on #1454
https://blog.npmjs.org/post/175511531085/the-node-security-platform-service-is-shutting

[2018-07-10 17:08] fonzmeister commented on #3347
like a charm, thnx!

[2018-07-10 19:21] arielorvits opened #3357 "dup coin: BTCH is "Bitcoin Hush" in coinexchange, and "Bithash" in livecoin"

[2018-07-10 20:35] geraldvandergrijn opened #3358 "Fetching candles from Bitfinex"
OS: macOS High Sierra 10.13.5
Programming Language version: Python 3.6.6 :: Anaconda, Inc.
CCXT version: ccxt 1.15.7
Exchange: Bitfinex
Method: fetch_ohlcv

It seems that Bitfinex does not store candle data from before 19 May 2017.

This is what I do:
from_datetime = '2017-01-01 00:00:00'
from_timestamp = exchange.parse8601(from_datetime)
ohlcvs = exchange.fetch_ohlcv(symbol='BTC/EUR', timeframe='

[2018-07-11 07:38] kroitor commented on #3357
@arielorvits hey! ) Thx for your help! Can I ask you to post the source of the info? Also your comment on the previous post would be really appreciated! https://github.com/ccxt/ccxt/issues/3350
Thx again for your involvement!

[2018-07-11 07:45] kroitor commented on #3358
Their BTC/EUR trading was announced in Nov 2017...

https://twitter.com/bitfinex/status/933134086289453056

<img width="552" alt="screen shot 2018-07-11 at 10 41 46" src="https://user-images.githubusercontent.com/1294454/42557441-3cc9a9bc-84f7-11e8-8cc0-3df21ffaec26.png">

You can't really fetch OHLCV for non-existing history, sorry ) Let us know if this does not answer your question.

[2018-07-11 07:45] #3358 closed

[2018-07-11 07:56] Esc4pism commented on #3355
![image](https://user-images.githubusercontent.com/30901436/42558045-5ff1c700-84f0-11e8-8073-81fab49931f7.png)

Seems they fixed something on their side, those numbers today check out more believably, although there are still a few pairs which could still be inverted, but those arent major coins or amounts that would totally skew averages.

[2018-07-11 08:49] Showgofar opened #3359 "Bittrex Api v2.0 TradeBuy and TradeSell"
Hi
I see that you had added some request to bittrex api v2.
Could you please add  also support bittrex v2 api for order creation (its more flexible )
https://bittrex.com/api/v2.0/auth/market/TradeBuy
https://bittrex.com/api/v2.0/auth/market/TradeSell

here are some references about it
https://github.com/thebotguys/golang-bittrex-api/wiki/Bittrex-API-Reference-(Unofficial)

[2018-07-11 09:58] fonzmeister opened #3360 "Cobinhood createDepositAddress not working"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:
- CCXT version: 1.15.38
- Exchange: Cobinhood
- Method: createDepositAddress

createDepositAddres gives the following output:

[code]

other private api endpoints are working, so it is not my API if I am correct

[2018-07-11 10:50] ccasselman opened #3361 "Request: Programmatically Display CCXT Version"
Due to recent deployment issues - I'd like a way to programmatically display the installed/local version of CCXT in PHP.

It is set on line 33 but gets overwritten in the constructor.

Thanks!

[2018-07-11 11:20] #3361 closed

[2018-07-11 11:24] mkryshchuk opened #3362 "zaif fetchOHLCV TypeError"
- Ubuntu 18 LTS:
- node.js 10.5.0:
- CCXT version - 1.15.39:
- Exchange - zaif:
- Method - fetchOHLCV:

TypeError: Cannot read property 'toString' of undefined

example
const ccxt = require("ccxt")
const util = require('util')

const exchange = new ccxt.zaif();

async function main() {
    await exchange.loadMarkets();
    const d = await exchange.fetchOHLCV("CSCMSETH/ERC20.CMS", "1d", 11990592000

[2018-07-11 11:28] arielorvits commented on #3350
Hi,
https://www.coinexchange.io/market/OC/BTC

at the bottom of this page, "OC (OC) Information & Links" you can see the name "occnetwork"
(but the full name in coinexchange is just OC)

thank you for the great library!

[2018-07-11 11:36] #3350 closed

[2018-07-11 11:36] #3357 closed

[2018-07-11 11:43] #3362 closed

[2018-07-11 11:47] kroitor commented on #3361
[code]

[2018-07-11 11:51] fonzmeister commented on #3360
sorry:

[code]

[2018-07-11 11:51] ccasselman commented on #3361
Thank you!

[2018-07-11 11:52] fonzmeister commented on #3360
Sorry

[code]

[2018-07-11 12:48] mkryshchuk opened #3363 "Sometimes zb and bitkk fetchOHLCV raise an TypeError"
Ubuntu 18 LTS:
node.js 10.5.0:
CCXT version - 1.15.39:
Exchange - zaif:
Method - fetchOHLCV:

TypeError: Cannot convert undefined or null to object

example

const ccxt = require("ccxt");
const util = require("util");

const exchange = new ccxt.zb({"enableRateLimit": true});

async function start() {
    await exchange.loadMarkets();
    const d = await exchange.fetchOHLCV("CDC/QC", "1d", 15310944

[2018-07-11 13:44] arielorvits opened #3364 "dup coin: FAIR in coinexchange is FairCoin"
in okex and hadax FAIR is FairGame

(CMC)

[2018-07-11 14:03] arielorvits commented on #2873
GET in qryptos is "GET Protocol" (CMC)
in hadax is "Themis" (https://www.hadax.com/assetintro/#get)

[2018-07-11 14:05] arielorvits opened #3365 "dup coin: GET in hadax is "Themis""
(https://www.hadax.com/assetintro/#get)

GET in qryptos is "GET Protocol" (CMC)

#2873

[2018-07-11 14:06] geraldvandergrijn commented on #3358
It sure does 👍

[2018-07-11 14:19] asociadoC opened #3366 "withdraw for hitbtc2 not working"
Hi there, I am having huge difficulties to get withdraws from hitbtc to run.

First I found that I tried to withdraw inactive currencies, but I know that -- for example -- STQ is active on hitbtc, I checked with the .currencies method, too. But when I am trying to withdraw something, I only see

[Exchange Error] hitbtc2 does not have currency code STQ

I just found, that it seems that the amount -

[2018-07-11 16:24] JoshVarty commented on #1577
I would like to try my hand at adding this exchange if no one else has started already. This would be my first code contribution.

Would this PR be a good place for me to start? https://github.com/ccxt/ccxt/pull/3321/

[2018-07-11 18:17] #3366 closed

[2018-07-11 18:28] kroitor commented on #3366
Looks like you forgot to load markets....

https://github.com/ccxt/ccxt/wiki/Manual#loading-markets

For some reason autoloading for hitbtc2 withdraw was missing, but anyways, if you update to most recent version of ccxt 1.15.43, the issue should be resolved. Let us know if not. Thx!

[2018-07-11 18:30] kroitor commented on #1577
@JoshVarty thx! #3090 is ok, #3321 will need a bit more cleanup before merging... basically, you can look into any of existing exchanges and copy from there. Will be happy to help along the way. The most important info is here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md

[2018-07-11 20:40] benjover opened #3374 "Getting rid of /public/ inside an API endpoint."
- OS: Windows 10
- Lang: JavaScript (Node.js)
- CCXT 1.15.45

I'm finishing the .JS files for 2 brazilian exchanges and I found some problems when implementing the the `api` propriety of an `Exchange` instance.

My Node.js exchange file is:
[code]
The exchange URL for the API that I am trying to implement is the following:`https://profitfy.trade/api/v1/orderbook/{coinfrom}/{cointo}`. When I try ru

[2018-07-11 20:50] skeller88 commented on #56
What help is needed on that branch? Is there a doc somewhere with remaining steps and who's working on what? I'd like to make time to help if I can.

[2018-07-11 21:19] asociadoC commented on #3366
Hi there,

thanks for your quick reply !

I just updated ccxt again to now
+ ccxt@1.15.45
and will try immediately. But do I really have to loadMarkets before a withdraw !? If so, this would be new to me, maybe I did by mistake somewhere before, but I never loaded markets before  a withdraw by intention ..

Will try anyways and report back !

[2018-07-12 02:44] kroitor commented on #3374
Can you post your implementation of the `sign()` method?

[2018-07-12 05:19] #3364 closed

[2018-07-12 05:19] #3365 closed

[2018-07-12 05:53] kroitor opened #3376 "CCXT 1.16 Python 3.7 support"
Hi, everyone!

Python 3.7 introduces a backward-incompatible change: `async` is now a reserved keyword.

- https://docs.python.org/3/whatsnew/3.7.html
- https://github.com/ccxt/ccxt/issues/3282 (thx to @wardbradt for reporting)
- https://github.com/ccxt/ccxt/pull/3281 (thx to @jzajpt for the pull-request)

We're announcing Python 3.7 support as of CCXT v1.16. Starting from CCXT 1.16 the asynchrono

[2018-07-12 05:53] #3282 closed

[2018-07-12 05:59] #3374 closed

[2018-07-12 08:04] insoochoo opened #3377 "bithumb fetchOrder api missing"
- Programming Language version: js
- CCXT version: newest
- Exchange: BITHUMB
- Method: fetchOrder

[2018-07-12 08:36] kroitor commented on #3377
@insoochoo your contributions are welcome:

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code
- https://github.com/ccxt/ccxt/issues/71

[2018-07-12 08:36] #3377 closed

[2018-07-12 08:37] kroitor commented on #3377
<img width="1505" alt="screen shot 2018-07-12 at 11 37 13" src="https://user-images.githubusercontent.com/1294454/42622012-f24c3540-85c7-11e8-94d3-114b72f43207.png">

[2018-07-12 08:42] #3230 closed

[2018-07-12 08:42] kroitor commented on #3230
Both are now in CMC:

- https://coinmarketcap.com/currencies/origin-sport/
- https://coinmarketcap.com/currencies/ors-group/

Origin Sport wins.

[2018-07-12 08:48] srfaytkn opened #3378 "wrong percentage"
- CCXT version:1.15.39
- Exchange: bitfinex, kucoin
- Method: percentage (fetchBalance)

balance change percentage is incorrect. for example bitfinex balance change percentage real value 1.2 but the ccxt value is 0.012.

[2018-07-12 08:57] kroitor commented on #3378
Sorry, which particular balance change do you mean? We don't return anything like balance change from fetchBalance call.

https://github.com/ccxt/ccxt/wiki/Manual#querying-account-balance

I order to be able to help you, we need your code to reproduce the issue and your verbose request and response (everything usually becomes clear from there):

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTIN

[2018-07-12 08:57] #3378 closed

[2018-07-12 09:16] srfaytkn commented on #3378
sorry I have written wrong, ticker change percentage is incorrect. for example bitfinex ticker change percentage real value 1.2 but the ccxt value is 0.012.

[2018-07-12 09:17] srfaytkn opened #3379 "Bitfinex, Kucoin fetchTickers incorrect percentage"
CCXT version:1.15.39
Exchange: bitfinex, kucoin
Method: percentage (fetchTickers)
ticker change percentage is incorrect. for example bitfinex ticker change percentage real value 1.2 but the ccxt value is 0.012.

[2018-07-12 09:20] kroitor commented on #3379
@srfaytkn yet still, we need your code and your verbose output, as was described here: https://github.com/ccxt/ccxt/issues/3378#issuecomment-404441444
If you just go do that, you will probably see everything yourself. Otherwise, just post your code and your verbose output that you suspect as incorrect, here.

[2018-07-12 09:22] lfern commented on #56
I think it would be nice if you could try to add websocket support for any exchange and write here some feeadback about problems you find or if this aproach is not really a good way to add websockets in ccxt. With this feedback, owners of ccxt project accept/reject to merge this branch.

There is an initial document with some tips about how you can add websocket support:
https://github.com/lfern/c

[2018-07-12 09:47] #1285 closed

[2018-07-12 10:10] srfaytkn commented on #3379
ccxt:
Bitfinex:
{"symbol":"ETH/USDT","timestamp":1531389546000,"datetime":"2018-07-12T09:59:06.000Z","high":445.590744,"low":429.5,"bid":433.15,"ask":434.073639,"open":443.21133399999997,"close":433.15,"last":433.15,"change":-10.061334,"percentage":-0.0227,"baseVolume":2842.4737387,"quoteVolume":1241553.6294766,"info":{"coinType":"ETH","trading":true,"symbol":"ETH-USDT","lastDealPrice":433.15,"buy

[2018-07-12 10:19] tbbw opened #3380 "Bean Cash / Bitbean naming issue."
- OS: All
- Programming Language version: All
- CCXT version: 1.15.45
- Exchange: Bleutrade, Bittrex, Cryptopia, Coinmarketcap, Upbit, Yobit, CoinExchange
- Description:
Bitbeans got renamed to "Bean Cash" instead of "Bitbeans" Source: http://www.bitbean.org/
This has caused some confusion with some exchanges.

Examples:
Bleutrade uses the symbol "BITB" and calls them "Bitbean". https://bleutrade.

[2018-07-12 10:29] kroitor commented on #3379
This is not how bitfinex output should look like, are you sure that your instances are not screwed up?

[code]

↑ This output is not from bitfinex. You're not showing your verbose output. Bitfinex (v1) does not return change at all.

Here's how the correct bitfinex ticker should look like:

[code]

Code:

[code]

So it looks like in your code you have something deeply messed up with instantiation

[2018-07-12 10:29] #3379 closed

[2018-07-12 10:31] kroitor commented on #3379
↑ That actually looks like Kucoin output, not Bitfinex.

[2018-07-12 11:10] srfaytkn commented on #3379
please check bitfinex v2

[2018-07-12 11:18] kroitor commented on #3379
<img width="811" alt="screen shot 2018-07-12 at 14 17 17" src="https://user-images.githubusercontent.com/1294454/42630112-552faa1e-85de-11e8-92f6-132647f713c1.png">

↑ This screenshot shows correct values, check your code.

[2018-07-12 11:20] kroitor commented on #3379
Here's another one, with a better synched timing (shows exactly the same values):

<img width="811" alt="screen shot 2018-07-12 at 14 20 21" src="https://user-images.githubusercontent.com/1294454/42630253-c78ba2ca-85de-11e8-9bfa-96f31cdae1d3.png">

[2018-07-12 11:29] kroitor commented on #3379
@srfaytkn ok, now I think I got what you're talking about, to clarify: you mean that the orders of those percentage values are different, right? Like 3.49 = 100 x 0.0349. Indeed, it looks like an inconsistency in the library, will do something about it shortly.

[2018-07-12 11:33] srfaytkn commented on #3379
thank you :)

[2018-07-12 11:58] kroitor commented on #3380
Because we're using CMC as the oracle for symbols, and because CMC still lists it as BITB, we're going to stick to BITB until they change it as well.

[2018-07-12 12:01] #3380 closed

[2018-07-12 12:07] #3304 closed

[2018-07-12 13:34] pursehouse commented on #56
Hey, I don't have time at the moment to integrate, but I have this example for a base class and extended class for converting a specific exchange kline packet payload into a generic cross-exchange format to use by the system. For PHP it's a great benefit to have a structured class to hold these things rather than a method converting. I assume node code is the same, I just don't deal with that as m

[2018-07-12 13:54] lfern commented on #56
I would also prefer to use classes to store the data, but when doing transpilation of .js code I get error accesing attributes of any class
[code]
I get this transpiled code in PHP
[code]
Sure it could be done modifying the transpile script, but it isn't easy for me.

Maybe we could define some wrapper utils out of transpilable .js code so you can access any returned dictionary from ccxt functions

[2018-07-12 14:03] tbbw commented on #3380
Call it what ever as long as there is consistency i'm happy :)

[2018-07-12 14:04] pursehouse commented on #56
oh that's weird... yeah I dunno how the transpiler works.. maybe @kroitor ?

[2018-07-12 14:13] kroitor commented on #56
@lfern the problem with generic transpiling interpreted classes is that it's very hard to guess which variable is which type without a full-scale AST traverse in run-time and without introspection/without *going into the v8/python/php "bytecode"* so to speak... I'll figure something as a quick solution to this.

Actually, this particular problem is PHP-specific and it should be easily solvable, le

[2018-07-12 14:45] bonzzy opened #3381 "Hitbtc exchange doesn't use limit param when creating url"
When using `fetchTrades` method with `limit` param, class `hitbtc2` creates empty url api requests`https://api.hitbtc.com/api/2/public/trades/{symbol}`.

If `limit`param is passed to `fetchTrades`method, url should look like `https://api.hitbtc.com/api/2/public/trades/ADABTC?limit={limit}`.

- OS: Linux
- Programming Language version: Javascript
- CCXT version: 1.13.78
- Exchange: hitbtc2
- Method

[2018-07-12 14:46] lfern commented on #56
Thanks @kroitor, I see that you don't create classes into .js transpilable code of exchanges, so I supposed that it could be hard to implement. I have tried to avoid it in this branch. Anyway, I think it is more important now that other contributors try to implement other websocket orderbook exchange and get feedback from them. If they like the way we are implementing websockets, then we could add

[2018-07-12 14:49] #3381 closed

[2018-07-12 15:03] kroitor commented on #56
Yep, you're absolutely right, I thought the same initially... I've just reviewed it and tried to add a quickfix, but... it didn't work well ) I'm now looking for a way to properly transpile the dot without escaping it or tweaking the code somehow, purely by means of the transpiler... I think i'm going to need a bit more time, but I'll figure it out and will let you know asap.

[2018-07-12 15:08] markhorner123 opened #3382 "CoinFalcon fetch Order"
Hey

On Coinfalcon there's no fetch order implemented, but it appears in the last 24h or so CoinFalcon have updated their API docs to include the ability to retrieve a specific order by ID. Would it be possible to have this implemented?

https://docs.coinfalcon.com/#get-order

[2018-07-12 15:11] kroitor commented on #3382
Hi!

Yes )

Your contributions are welcome ;)

- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-contribute-code
- https://github.com/ccxt/ccxt/issues/71
- https://github.com/ccxt/ccxt/wiki/FAQ#can-you-implement-feature-foo-in-exchange-bar
- https://github.com/ccxt/ccxt/issues/3377

<img width="1505" alt="screen shot 2018-07-12 at 11 37 13" src="https://user-images.githubuserconten

[2018-07-12 15:11] #3382 closed

[2018-07-12 15:12] arielorvits opened #3383 "dup coin: ATM is Atonomi on bitfinex"
source: https://www.bitfinex.com/deposits/new/atm

[2018-07-12 15:16] #3383 closed

[2018-07-12 16:00] lfern commented on #56
Add websocket api doc link in table list for some exchanges:
https://github.com/lfern/ccxt/blob/feature/websockets-multiple/README.md

[2018-07-12 16:21] skeller88 commented on #56
Lfern are you on telegram or discord? I have some questions.
On Thu, Jul 12, 2018 at 9:01 AM lfern <notifications@github.com> wrote:

[2018-07-12 17:03] kroitor commented on #3382
In the meantime, you might want to also take a look here: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[2018-07-12 17:03] kroitor commented on #3377
In the meantime, you might want to also take a look here: https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[2018-07-12 18:22] arielorvits commented on #3364
@kroitor,
I think you meant to change in coinexchange,
but u changed in hadax

[2018-07-12 18:29] arielorvits commented on #3364
@kroitor
so, u should do 'FAIR': 'FairGame' in hadax

what u actually did is 'FAIR': 'FairCoin' in hadax

[2018-07-12 18:39] kroitor commented on #3364
@arielorvits right, thx for pointing that out for me, the fix is on the way!

[2018-07-13 06:52] Iliker commented on #3345
When to support?

[2018-07-13 07:17] JimAmuro commented on #3271
I didn't understand 'fetchOHLCVWarning' because there was no problem with response of kline api, hence I found this post. The last picture of OP is actually api for tickers instead of klines. So there is no problem...

[2018-07-13 07:20] kroitor commented on #3271
@JimAmuro will look into it once again.

[2018-07-13 07:29] JimAmuro commented on #3271
omg, you are so fast...
BTW, the real problem might be the 'limit' parameter, since it get the first <limit> klines, not the latest <limit> klines. Will work on my version and try to contribute.

[2018-07-13 14:49] lfern commented on #56
sorry @skeller88 . I don't have telegram/discord account for now. If you don't mind, write them here and I try to answer quickly.

[2018-07-13 14:58] #1274 closed

[2018-07-13 16:08] lfern commented on #56
@GoChartingAdmin, would you mind to post your websocket exchange list to add to this list?

[2018-07-13 16:24] rmis7170 opened #3385 "FCOIN get Coin balance Response is huge"
fetch_balance() API returns balance of all coins. We require it to support symbol based fetch too. Thank you team.

[2018-07-13 17:04] #3325 closed

[2018-07-13 17:15] kroitor commented on #3345
@Iliker we already do support it, no changes in the code are needed, just recreate the keys and that's it.

[2018-07-13 17:15] #3345 closed

[2018-07-13 18:00] obsidianart commented on #3345
@kroitor How is the ssh public key called? Huobi now expects 3 parameters if I understand the update correctly.

[2018-07-13 18:20] azharuniverse opened #3386 "Hitbtc error not handled properly"
- OS: Windows/Linux
- Programming Language version: Node v8.9.4
- CCXT version: 1.15.44
- Exchange: HITBTC
- Method: marketBuy/ marketSell

When I place an invalid order and my order gets rejected by hitbtc then response comes under success callback instead of error callback

Sample response from exchage
[code]

[2018-07-13 18:57] kroitor commented on #3345
@obsidianart

1. create private and public key (follow the link in the original post and links from there)
2. upload your public key to huobi to get apiKey + secret
3. put your new apiKey + secret into your exchange config, nothing else is needed.

[2018-07-13 19:28] skeller88 commented on #56
@lfern I'll try and add Binance support on binance-websocket-support, a
branch that I forked off lfern/feature/websockets-multiple
<https://github.com/skeller88/ccxt/tree/feature/binance-websocket-support>.
Then I'll submit a PR against websockets-multiple. Does that work?

I'm trying to run examples/py/websocket-orderbook.py using "binance" and
seeing the below error. The self.wsconf Dict is empt

[2018-07-13 19:32] Cleric334 opened #3387 "A question about new exchanges"
Hello.

Sorry if I ask in the wrong place, but is it possible to speed up the addition of certain exchanges for some crypto donation? If yes, how much could it be?

I really enjoy ccxt, but it's lacking some exchanges i would love to test now, so please take my question as a sincere one.

Thanks in advance.

[2018-07-13 20:11] frosty00 commented on #3387
Difficulty here is trust, most people work on ccxt for free or for their own projects, how can they be sure that you will pay them if they write this exchange class.

Perhaps something like https://gitcoin.co/ could help to solve this problem.

[2018-07-13 20:42] Cleric334 commented on #3387
Well, it's no problem. I have a list of exchanges I am interested in, I post the list, ccxt contributers take a look and tell for how much they are going to implement each of those, they name the price, i consider it, and if it's ok with me, i pay them and wait for task completion.

ccxt is truly an awesome library and I have trust in people contributing to it, so payment in advance is not a probl

[2018-07-13 21:21] rmis7170 commented on #3385
Thanks kroitor.

[2018-07-13 21:23] lfern commented on #56
Sorry @skeller88 . I am not commiting changes of .py and .php transpiled files. Maybe I would have to commit these files too. You have to do `npm install` and then `npm run-script transpile` to get transpiled binance.py file. Then websocket-orderbook.py  would work

[2018-07-13 21:37] valentinbora commented on #1159
Seems developer.big.one does not work, but I found docs at https://open.big.one/docs/api.html

[2018-07-13 21:38] kroitor commented on #1159
@valentinbora yep, thx, working on it: https://github.com/ccxt/ccxt/pull/1411

[2018-07-13 21:47] kroitor commented on #3387
@frosty00

![e482148e6d82af3c2282437b43fdbe79650b9a7a_128](https://user-images.githubusercontent.com/1294454/42715178-748ecebe-86fe-11e8-975a-a0111ecf400e.jpg)

))

@Cleric334

I'd suggest to start by posting the list here, and we could use this issue to synchronize and distribute the workload among developers. Many of them, including myself, are currently working to integrate this or that exchang

[2018-07-13 22:07] #2740 closed

[2018-07-13 22:10] kroitor commented on #2740
A generic method to get the opening date for a particular symbol would be to pick the highest timeframe and fetch from 2010 or from some date before bitcoin. That should yield a list of trades starting from the first available date. Hope this helps.

[2018-07-13 22:50] skeller88 commented on #56
After running transpile, websocket-orderbook.py works. I see binance
already has websocket order book support, so I'll try and add websocket
orderbook support for bittrex. Their websocket is in beta so if I can't get
that working, I'll add it for gdax. Sound good?

Have any tests been written? I'm not finding any yet.

Are you waiting to add the python and php code until lfern/ccxt is approved
for

[2018-07-13 23:14] lfern commented on #56
I think Gdax websocket doc is better than bittrex, but we are still testing, so any exchange could be interesting te check if its easy to implement. The only restriction it not to implement exchanges that uses pusher protocol (like bitstamp), or pubnut.com, Only "raw" websocket connections is supported in this branch.

Sorry, I think it is not easy to write tests that simluates a websocket connect

[2018-07-13 23:19] valentinbora opened #3388 "New Exchange: Neraex"
API Docs: https://neraex.pro/docs/api

Tickers: https://neraex.pro/api/v2/tickers

[2018-07-14 03:08] pursehouse commented on #56
yeah so there should be a generic concept for building the opening url, which needs ability to accept objects to build the url. as well as needs the socket calls for adding subscriptions as a generic concept that accepts objects.
then separately those all those object types need their own central structure that each exchange can extend to format to and from the `ccxt` format

[2018-07-14 08:37] lfern commented on #56
Yes, you are right @skeller88 . Variable interpolation is not really usefull for now, because current websocket implemented exchanges except binance have only one websocket for all events. I think we need something that Exchange.js can use to know what to do when it receices a subscription/unsubscription command on event/symbol. Exchange.js manages websocket connections, so we need something in ea

[2018-07-14 09:52] jonchurch commented on #41
@payala Cryptocompare historic prices (OHLCV) maxes out at 7 days worth of data for resolutions below 60 minutes

[2018-07-14 10:52] yamontv opened #3389 "Cryptopia fetchOrder cancelOrder parse8601()"
- OS: Ubuntu 16.04
- Programming Language version: python
- CCXT version:1.16.15
- Exchange: Cryptopia
- Method: fetchOrder, cancelOrder

Hello.
Methods through exception " parse8601() takes from 0 to 1 positional arguments but 2 were given"
I think problem is here:
https://github.com/ccxt/ccxt/blob/bb735c98e990b0d0fbe9b424d3315264f6ba5b6a/python/ccxt/cryptopia.py#L544

[2018-07-14 11:02] #3389 closed

[2018-07-14 11:51] #2713 closed

[2018-07-14 14:02] #3386 closed

[2018-07-14 14:03] cristianm opened #3393 "Bitfinex FetchOHLCV since error when use BTC symbol"
- OS: Windows/Linux
- Programming Language version: v10.6.0
- CCXT version: 1.16.18
- Exchange: bitfinex
- Method: FetchOHLCV

I try to get candles. All work fine with anothers exchanges and FIAT symbols, but when try to get for example candles for BTC/CBT, last 100 candles based on perior, or last 5 doesn´t work, get empty result.

example for period 15m:

var momentSince = moment().utc();
moment

[2018-07-14 14:23] kroitor commented on #3393
Check this out:

- https://api.bitfinex.com/v2/candles/trade:15m:tCBTBTC/hist?sort=1&limit=100&start=1531487715948 (returns an empty response `[]`)
- https://api.bitfinex.com/v2/candles/trade:15m:tCBTBTC/hist?sort=1&limit=100&start=1530403200000 (returns a non-empty response)
- https://api.bitfinex.com/v2/candles/trade:15m:tCBTBTC/hist?sort=1&limit=100&start=1530404100000 (returns a non-empty resp

[2018-07-14 14:28] kroitor commented on #3393
Hm... this is evenly divisible by 15 minutes, but does not work, however: https://api.bitfinex.com/v2/candles/trade:15m:tCBTBTC/hist?sort=1&limit=100&start=1531487700000

Something is wrong here...

[2018-07-14 14:37] kroitor commented on #3393
@cristianm is it displayed correctly on their website for you? It is all empty on my side:

<img width="1000" alt="screen shot 2018-07-14 at 17 36 28" src="https://user-images.githubusercontent.com/1294454/42725468-7d37d9be-878c-11e8-9802-79952889df1a.png">

Other timeframes look weird as well...

[2018-07-14 14:43] springjben opened #3394 "Deposit with TAG or MEMO?"
Is there a way to inform my if a TAG or MEMO is needed in order to send a coin?

For example, binance with XRP requires a TAG. If its not sent with a TAG, my despot will be lost.
With STEEM is NEEDS to be sent with a MEMO.

Is there a way to check that is NEEDS to be send with a TAG/MEMO?

[2018-07-14 14:44] kroitor commented on #3393
Ok, they don't really seem to have any trading history for the past week for that symbol.

[2018-07-14 14:45] springjben commented on #3394
https://github.com/ccxt/ccxt/wiki/Manual#withdraw

There is a TAG parameter I get that, so that contains the correct characters to be sent?

[2018-07-14 14:46] #3393 closed

[2018-07-14 14:48] kroitor commented on #3394
Currently, nope, but we will add that flag to the `.currencies` property, hopefully soon.

Yep, however, you should first check that in verbose mode, as not all exchanges have it unified completely yet. Hope you understand that this library is a work in progress.

Let us know if it does not answer your question.

[2018-07-14 14:48] #3394 closed

[2018-07-14 14:52] kroitor commented on #3038
This is a known bug with bitlish:

- https://github.com/ccxt/ccxt/issues/1948
- https://github.com/ccxt/ccxt/issues/2937

Hope to fix it soon.

[2018-07-14 14:52] #3038 closed

[2018-07-14 14:57] Patafix commented on #2851
Do you have a way to not have this feature ? (usd is not usdt...)

[2018-07-14 15:10] kroitor commented on #2851
@Patafix sure, add the following to the exchange in question:

[code]

[2018-07-14 15:34] #3355 closed

[2018-07-14 15:37] kroitor commented on #3178
@DaveMG3 this will depend on your time formatting. Are yous sure that your "log in command line" output actually shows true UTC datetimes to you?

[2018-07-14 15:41] Patafix commented on #2851
Oh great thx ! Continue the greatwork

[2018-07-14 15:42] #3000 closed

[2018-07-14 15:43] kroitor commented on #2851
@Patafix

On Bitfinex, it is...

[2018-07-14 15:44] Patafix commented on #2851
USDT is not exactly one dollar

[2018-07-14 15:45] kroitor commented on #2851
Right, but Bitfinex does not tell you that they actually mean USDT under their USD symbol. So, even though it is not exactly one dollar, you're actually trading a USDT price, not a USD price there.

[2018-07-14 15:47] Patafix commented on #2851
Anyway i dont like the change but you're conception is so great that we can be both happy. So thank you

[2018-07-14 15:47] kroitor commented on #2851
That's just because they decided to use 3-symbol codes, their own fault... Most modern tokens won't fit in 3 symbols... So they have to abbreviate to their own nonstandard uncommon 3-letter codes. Why? Go figure.

[2018-07-14 17:08] springjben commented on #3394
Thank you for replying.

When I withdraw, sending the tag (whatever it is) isn't a bad thing surely?

Also, how do I check in verbose mode when fetching the deposit? The last thing I want is to send my funds to a blackhole because it needed a tag but didn't have one.

Thanks again!

[2018-07-14 17:11] springjben commented on #3394
Do I need to check manually whether certain coins need to be sent with a tag or not, incase their API doesn't allow it?

The only exchanges I am using so far are:

Bittrex, Binance, Poloniex, HitBTC and Cryptopia.

[2018-07-14 17:32] springjben commented on #3394
Wait, is it or isn't it a bad idea to send it the tag??

[2018-07-14 17:33] kroitor commented on #3394
It is a good idea to send the tag.

[2018-07-14 17:48] pursehouse commented on #56
@lfern that's why I would suggest focusing on the individual features needed for processing data that is sent or received with the socket; rather than solving how to use sockets in general.
That way the requirements can be split into phases, and potentially releasing the core functionality features with examples on how to use them, can be followed with a future ( and much more complicated problem

[2018-07-14 17:50] kroitor commented on #56
@pursehouse to me the above just boils down to a proper and flexible method decomposition. However, I'd agree that doing async things with PHP can be tricky, might even require a threading solution... But anyways, doing it in a language-specific or exchange-specific way would be even harder to maintain or transpile.

[2018-07-14 17:59] springjben commented on #3394
Poloniex doesn't have a TAG on certain coins that need it. For example, XRP:

poloniexAPI = ccxt.poloniex ({
    'apiKey': '...',
    'secret': '...',
})

apiCall = api.fetchDepositAddress('XRP')

{'currency': 'XRP', 'address': '...', 'tag': None, 'info': {'BTC': '1AhznvNGqhaFqc8.....

The Binance exchange requests it needs a TAG otherwise deposits will be lost.

[2018-07-14 18:01] pursehouse commented on #56
@kroitor right so don't try to solve the socket abilities at all right now, just focus on building blocks:
- url generation
- packet creation
- packet processing

cuz right now it seems a lot of time is going into how to do sockets in general, which isn't going to solve across all languages. And seems to be the most difficult aspect as far as making it a generic solution, and even if the generic s

[2018-07-14 18:01] kroitor commented on #3394
@springjben

They just don't return it from their API. But it would be helpful, if you could post your verbose output according to these rules: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue, without your keys of course... If you can, do that, please.

The `withdraw` method still does support the tag anyway.

Right. But if you submit it, you should not lose it.

[2018-07-14 18:03] GoChartingAdmin commented on #56
@lfern Will do by tomorrow EOD

[2018-07-14 18:05] #3376 closed

[2018-07-14 20:02] bradbesserman commented on #549
Any progress on this feature?

[2018-07-14 20:04] kroitor commented on #549
@bradbesserman yeah, we now have `.currencies` indexed by code having the following structure:

<img width="1352" alt="screen shot 2018-07-14 at 23 04 15" src="https://user-images.githubusercontent.com/1294454/42728050-4442a674-87ba-11e8-8db2-e5e5824160cf.png">

[code]

[2018-07-14 20:51] munrocket commented on #1916
Check this [article](https://hackernoon.com/7-different-ways-to-use-es-modules-today-fc552254ebf4), it anser at your question. Rollup is pretty cool, it concat all dependency in one js file, exactly what you need. Also you can check usage example at my [project](https://github.com/munrocket/ta-math) I will add es5 babel bundle generation soon.

[2018-07-14 21:20] bradbesserman commented on #549
thanks!

[2018-07-14 22:44] munrocket commented on #3332
#3397

[2018-07-14 23:31] catalsdevelop commented on #1392
@jayarjo ws api listed on its docs now.

[2018-07-15 00:44] #3332 closed

[2018-07-15 01:06] dang1412 commented on #693
I am developing this for realtime api and typescript. It is still in very early stage now and just a few exchanges supported. Let me know what would fit your need and i will improve, love to see your feedback
https://github.com/dang1412/ccex-api

[2018-07-16 01:54] kroitor commented on #1564
@catalsdevelop hi!

As soon as someone submits a pull request with it. Or we will do it sooner than that.
Basically, your question is answered here: https://github.com/ccxt/ccxt/wiki/FAQ#when-will-you-add-feature-foo-for-exchange-bar--whats-the-estimated-time-when-should-we-expect-this

Hope to do it sooner.

BTW, your contributions are welcome ;)

https://github.com/ccxt/ccxt/blob/master/CONTRIBU

[2018-07-16 03:46] Iliker commented on #3345
@kroitor

huobipro api docs
https://github.com/huobiapi/API_Docs/wiki/REST_authentication

no need PrivateSignature?

[2018-07-16 06:11] yamontv commented on #3389
This issue is not solved.
CancelOrder response has no attribute 'TimeStamp' and through exception

[2018-07-16 09:42] yamontv opened #3403 "Cryptopia cancelOrder()"
- OS: Ubuntu 16.04
- Programming Language version: Python
- CCXT version: 1.16.36
- Exchange: Cryptopia
- Method: cancelOrder

Hello. This issue is not fully solved:
https://github.com/ccxt/ccxt/issues/3389

CancelTrade response has no attribute 'TimeStamp' and through exception

[2018-07-16 10:59] valentinbora opened #3406 "New Exchange: IDAX"
Official website: https://www.idax.mn/
CMC: https://coinmarketcap.com/exchanges/idax/

I couldn't really find an API reference page, but here are some preliminary findings for fetching tickers:

`curl -s -X POST --data '' https://www.idax.mn/api/Signalr/GetAllOpenMarkets`

[2018-07-16 11:21] valentinbora commented on #715
@kroitor shall we rename this issue to ForkDelta?

Also, would a very basic fetchTickers implementation help?

I'm looking at combining https://api.forkdelta.com/returnTicker with https://forkdelta.github.io/config/main.json to get some basic data.

[2018-07-16 12:52] kroitor commented on #3345
@Iliker oh, right, I'll add the PrivateSignature there shortly, missed it somehow.

[2018-07-16 13:16] #3403 closed

[2018-07-16 13:17] kroitor commented on #715
Nope ) Because ED != FD )

[2018-07-16 13:29] valentinbora commented on #715
OK I guess I was partially misled by CMC. In that case we need a new issue.

[2018-07-16 13:30] valentinbora opened #3409 "New Exchange: ForkDelta"
API Reference: https://github.com/forkdelta/backend-replacement/tree/master/docs/api

Live exchange: https://forkdelta.github.io/

I'm looking at combining https://api.forkdelta.com/returnTicker with https://forkdelta.github.io/config/main.json to get some basic ticker data.

[2018-07-16 13:37] valentinbora commented on #3387
@kroitor would you be okay as a general approach to implement fetchTicker(s)/loadMarkets methods for new exchanges first, and then improve their capabilities afterwards?

Self-serving disclaimer: I personally need as many exchanges integrated as possible, with just the basics, and am willing to submit pull requests for them.

[2018-07-16 13:42] kroitor commented on #3387
@valentinbora we usually implement the following methods as the base set:
- fetchMarkets
- fetchTicker(s)
- fetchOrderBook(s)
- fetchOHLCV
- fetchTrades
- createOrder
- cancelOrder
- fetchOrder(s)
- sign ()

We also often add these to the base set:

- fetchOpenOrders
- fetchClosedOrders
- fetchOrderTrades
- fetchMyTrades
- fetchDepositAddress
- withdraw

Basically, it's very easy to implement fetc

[2018-07-16 13:46] valentinbora commented on #3387
@kroitor thanks! As far as I am concerned, any progress is good progress.

[2018-07-16 20:03] mkutny commented on #3315
Hey,

I understand what you want to achieve but I'm not sure it's a feasible/realiable way to accomplish it.

I don't know what are your constraints but if they are not strict then for low frequency (e.g. few per second) requests timestamp will do just fine. Using DB for holding a (similar to timestamp) counter will surely be an overkill. Moreover, some exchanges (like binance) just force you to u

[2018-07-16 21:34] Sarumyan opened #3411 "fetch_my_trades with since parameter filters out the trades for the last second"
- OS: Ubuntu 16.04
- Programming Language version: Python 3.5.2
- CCXT version: 1.16.40
- Exchange: Poloniex
- Method: fetch_my_trades

If you set 'since' parameter, the method calls the exchange API with both 'start' and 'end' parameters:

[code]

The 'end' parameter is rounded to the nearest second **down**, so this request doesn't return any trades created during the last second.

[2018-07-16 21:46] #3116 closed

[2018-07-16 21:46] #3411 closed

[2018-07-16 22:20] kroitor commented on #2677
@kz0 the above symptoms can happen if you don't use proper rate limiting, this issue with last_json_response has been addressed already and should be resolved by updating to version 1.16.41. Let us know if updating + adding `{'enableRateLimit': True}` to constructor params does not help.

[2018-07-16 22:20] #2677 closed

[2018-07-16 22:22] #1776 closed

[2018-07-16 22:39] #2679 closed

[2018-07-16 23:02] kroitor commented on #3360
@fonzmeister they don't have it anymore in their API ( Sorry for that, you should probably address this question to their support service.

In CCXT this has been updated in the metainfo for cobinhood in v1.16.42+.

[2018-07-16 23:02] #3360 closed

[2018-07-16 23:53] kroitor commented on #3014
Hi!

Actually, standard built-in python logging already has that feature in it. Let us know if this does not help: https://stackoverflow.com/questions/16799075/in-a-python-logging-is-there-a-formatter-to-truncate-the-string

[2018-07-16 23:53] #3014 closed

[2018-07-17 02:44] zsyh commented on #3345
@kroitor  huobipro canceled the signature update just now, there document also rolled back

[2018-07-17 02:45] kroitor commented on #3345
Yeah, they deleted their example code 11 hours ago because it didn't really work.

[2018-07-17 03:32] Rkubinski opened #3412 "Raspberry PI having trouble with ccxt"
- OS: Raspberry Debian for Raspberry Pi
- Programming Language version: Python3
- CCXT version: Newest

Did pip3 install ccxt, then when trying to run my script, one of my first lines is:

`import ccxt.async as ccxt`

The error I get when running the code:

[2018-07-17 03:34] kroitor commented on #3412
It was renamed to `async_support` recently, due to Python 3.7 update. Let us know if this does not help: https://github.com/ccxt/ccxt/issues/3376

[2018-07-17 03:34] #3412 closed

[2018-07-17 03:42] Rkubinski commented on #2572
@kroitor I tried this and still having trouble, any help?

[2018-07-17 03:46] Rkubinski commented on #3412
@kroitor yes it worked thank you very much

[2018-07-17 04:33] kroitor commented on #2615
@RunningToTheEdgeOfTheWorld :

https://github.com/ccxt/ccxt/wiki/Manual#implicit-api-methods

[code]

[2018-07-17 06:54] #2567 closed

[2018-07-17 07:21] RunningToTheEdgeOfTheWorld commented on #2615
soga, thank you.  I know you reflect string to the method before haha

[2018-07-17 09:37] miracle2k opened #3414 "How to best implement Kraken fetchOrderTrades?"
Kraken has an API called QueryTrades: https://www.kraken.com/help/api#query-trades-info

By my experiments, `txid` must be a trade id, and the `trades` parameter seems to have no effect at all. In other words, this API does not allow us to query the trades for a given order id.

However, the "fetch order" api knows the trade ids (but only the ids). So to implement `fetchOrderTrades` we'd have to d

[2018-07-17 09:59] kroitor commented on #3414
The general approach is:

- If the exchange in question outputs trades within an order – use them to fill the `trades` property of the order, derive fees, etc...
- If it does not support that in the order API, but offers a standalone fetchOrderTrades endpoint that will output an array of trades by an order id (and a symbol, if required by the exchange).

However, with Kraken QueryTrades, the inten

[2018-07-17 10:33] miracle2k opened #3416 "tests - Add parsing tests"
After working on https://github.com/ccxt/ccxt/pull/3415 and others, I feel that the functions such as `parseTrade` or `parseOrder` have a lot of complexity in them. They have to deal with data formats that from different API calls that sometimes differ in their structure, and have to deal with various ifs and thens. Sometimes when making a change you have to worry that a certain special case is no

[2018-07-17 11:09] #1159 closed

[2018-07-17 11:55] Cryptonex opened #3417 "New Exchange: Cryptonex"
Official website: https://cryptonex.org/
CMC: https://coinmarketcap.com/exchanges/cryptonex/
Explorer: https://explorer.cryptonex.org/
API: https://cryptonex.org/api
Rate list: https://stats.cryptonex.org/get_rate_list

[2018-07-17 12:37] kroitor commented on #3414
@miracle2k ok, i'd close this for now, if you don't mind, feel free to reopen it if needed or just ask further questions, will answer asap. Thx!

[2018-07-17 12:37] #3414 closed

[2018-07-17 19:36] ildarmgt opened #3421 "Cryptopia changed TradePairId's causing cctx to trade wrong pairs"
- OS: ubuntu 18.04
- Programming Language version: Node
- CCXT version: 1.14.165
- Exchange: cryptopia
- Method: * / api

The api calls suddenly started trading wrong pairs with very detrimental results on account.

My Node code: I made the calls directly via pair names as strings that in no way included the new coins or pairs that started trading. There have been many months without issues. I do

[2018-07-17 19:50] kroitor commented on #3421
That's right, you should have been using CCXT unified symbols, as [described in the Manual](https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids). So if you stick to unified symbols everywhere, there won't be a problem, even if they switch their market ids, because those are loaded and reload in `loadMarkets()` by the user upon starting the app and when needed (also described in the Man

[2018-07-17 20:03] ildarmgt commented on #3421
Standard symbols were used.

codebase: https://github.com/ildarmgt/arbot

Specifically, for buy orders, from https://github.com/ildarmgt/arbot/blob/master/bot/runBuyOrder.mjs

[code]

where `pair` was always a string that could only be equal (in my case) to 'XMR/BTC', 'ETH/BTC', or 'LTC/BTC' while active trades observed on exchange were 'XZC/LTC', 'ETH/LTC', 'XMR/LTC', 'LTC/BTC', 'ETH/BTC' from wh

[2018-07-17 20:04] kroitor commented on #3421
Ok, so they reused the ids for different pairs? It kinda explains the issue then. Will add a workaround for this, so that createOrder would always use their symbolic pair names, instead of their TradePairIds.

[2018-07-17 20:34] #3421 closed

[2018-07-17 20:57] valentinbora commented on #884
API Docs now at http://help.stocks.exchange/api-integration

[2018-07-17 20:57] ugozanchi commented on #71
Could you update with a new picture?

[2018-07-17 21:00] kroitor commented on #71
Sure, here you go:

<img width="1508" alt="screen shot 2018-07-17 at 23 59 40" src="https://user-images.githubusercontent.com/1294454/42845068-8398507a-8a1d-11e8-9745-ac2facfd19ff.png">

You can generate it yourself as well with this example: https://github.com/ccxt/ccxt/tree/master/examples/js/exchange-capabilities.js

[2018-07-17 21:24] kroitor commented on #3416
In short, I'm all for it. Also this particular issue may be related: https://github.com/ccxt/ccxt/issues/2739. We will have to start mocking them up with request+response pairs.

[2018-07-18 05:18] lamsters opened #3424 "Issue when parsing bitfinex2 - publicGetStats1KeySymbolLongHist"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS: linux
- Programming Language version: python
- CCXT version: 1;16.57
- Exchange: Bitfinex V2
- Method: Derived exchange class to get Stats

Hi there!

Was trying to get Stats on BTC on bitfinex v2 using the Custom Exchange API using this method.

def getSta

[2018-07-18 05:33] karlandoh commented on #3002
Hey! Just wondering if this has been implemented? Not sure if I am using the wrong function (currently trying "funds_transfer").

Thanks.

[2018-07-18 07:45] mortezae commented on #3097
Sorry for delay @kroitor
This is my code:
[code]
output:
[code]

[2018-07-18 07:51] mortezae commented on #3097
Hello, Sorry for delay @kroitor
This is my code:
[code]
output:
[code]

[2018-07-18 09:26] vnikolaich opened #3425 "cancelOrder does not work on hitbtc2, binance"
- OS: windows
- Programming Language version: typescript 2.9.1
- CCXT version: 1.16.36
- Exchange: hitbtc2, binance
- Method: cancelOrder

Hi! There seems to be a bug in cancelOrder by id on hitbtc2.
In responce we receive order with status "open". And order is still active after this.
The same problem is on binance.

verbose info:
fetch:
 hitbtc2 DELETE https://api.hitbtc.com/api/2/order/36488c94

[2018-07-18 11:34] mkutny commented on #3425
It looks more like hitbtc temporary issue, not ccxt bug. I see that the request is valid but for some reason, hitbtc didn't execute it.

Is the order still open? Can you try one more time? And can you try to cancel it through GUI?

What you say re binance is quite weird too, verbose output is needed.

[2018-07-18 11:41] viogull opened #3426 "Is there a possibility to fetch OHLCV for all symbols at exchange at once?"
It is mean that if exchange has 300 markets and 1s ratelimit, i must spend as minimum 300 seconds to load OHLCV for all market?

[2018-07-18 13:18] mkutny commented on #3341
Actually, you don't structure this library, you structure your app.

And this leads to the question... do you have meteor issue or ccxt issue? I mean, do you have experience of writing Meteor apps? Because, if you don't then you'll probably need to seek an advice elsewhere.

As for ccxt there are plenty of examples in `/examples/js/` folder. They are neat and it's wise to take a look at them.

I b

[2018-07-18 13:19] Cleric334 opened #3427 "Fcoin market buy order"
Hello. As many other exchanges, Fcoin wants trade volume to be sent in USDT, when trading USDT pairs like BTC/USDT with Market buy orders.

The problem is that when I try to send a 0.001 BTC buy order, I convert it in USDT with trade_volume*ask, which work fine for all the other exchanges, but Fcoin, for some reason sends an 3024 error "4 is greater than maximum order size of 2.0"

There is no way

[2018-07-18 13:33] kroitor commented on #3425
Indeed, we take the status as is from HitBTC itself, so if it responds with an `"open"` status to a `cancelOrder` call, it means the order is being canceled, but not yet canceled (still open). You have to prepared for this and you have to check the status of the order, and, maybe even issue another fetchOrder call later to actually check if it is closed already or not.

As for Binance, it's hard t

[2018-07-18 13:33] #3425 closed

[2018-07-18 13:37] kroitor commented on #3426
Not really, very few exchanges will allow that.

Yes. But you can parallelise that, have 30 computers each issuing a call at 1s ratelimit, thus it will take 10 seconds... 300 computers = 1 second... and so on...

[2018-07-18 13:37] #3426 closed

[2018-07-18 13:38] MarcelBeining opened #3428 "Bittrex methods XToPrecision return float instead of string"
- Programming Language version: Python
- CCXT version: ccxt-1.16.57
- Exchange: bittrex, bitfinex
- Method: XToPrecision

Hi,
I just found that, while all other exchanges I used so far return a string on the method XToPrecision (fee,cost,amount etc), the **bittrex** exchange returns a float!

[code]
--> float
[code]
--> string (also for other exchanges such as kraken, kucoin and bitfined

Also it

[2018-07-18 13:44] kroitor commented on #3428
That's right, but you should not rely on the type of the output of that method, really, because it will generate an exchange-specific return-type anyway. Some exchanges will require floats, others will require strings.

You should loadMarkets for it first.

Let us know if this does not answer your question.

[2018-07-18 13:44] #3428 closed

[2018-07-18 13:47] MarcelBeining commented on #3428
Hi, ok thanks.
However concerning bitfinex, I actually **did** load the market:
[code]
--> error

[2018-07-18 13:57] #3424 closed

[2018-07-18 14:01] kroitor commented on #3428
↑ That's an error, bitfinex uses currency precision for fees instead of pair-precision...

`ct.feeToPrecision('ETH',0.00100000)` or `ct.feeToPrecision('BTC',0.00100000)` will work.

In other words, I'm telling you: you should not rely on any non-documented methods, as most of them are there for internal exchange-specific needs, instead of using `feeToPrecision`, you should rather calculate the fee

[2018-07-18 14:03] kroitor commented on #3097
@mortezae thx for the feedback!

[2018-07-18 14:05] kroitor commented on #3002
@karlandoh yes, the above has been implemented. Use `private_post_funds_transfer`.
Or just read the Manual: https://github.com/kroitor/ccxt/wiki/Manual

[code]

[2018-07-18 17:05] kroitor commented on #3428
We are thinking of redesigning this a bit, namely, remove amountToPrecision and priceToPrecision and use a generic toPrecision method, that would accept a currency code and a value and would work in a unified way for amounts, prices, costs and fees. We would document the new set and you could build upon it then. Hope to do it soon. And will let you know, of course.

[2018-07-18 17:48] Umbralith opened #3429 "HUOBIPRO update fetch_oders_by_states"
Currently, the fetch_orders_by_states requires a symbol. Huobipro API does not require the symbol. If no symbol is passed to their API, it will return all orders no matter the market. This would help a lot with performance so each order does not have to be fetched individually.

[2018-07-18 17:56] #3429 closed

[2018-07-18 20:41] Showgofar opened #3430 "Fcoin filled ammount"
Hi
Could you please recalculate price from "executed_value"/ "filled_amount"
and  take cost from "executed_value" or recalculate it

[code]
Thank you

[2018-07-18 20:46] #3430 closed

[2018-07-18 20:51] Showgofar commented on #3430
incredibly fast !)

[2018-07-18 21:04] Cleric334 commented on #3427
createMarketBuyOrder(ticket_1.ticket, TRADE_VOLUME*ticket_1.ask*1.001);

TRADE_VOLUME is my volume in BTC and I multiply it with ask price of the orderbook, and then I factor in the commission.
This works on other exchanges just fine, but Fcoin thinks I'm sending some rediculous amounts like 4 BTC.

Limit orders work fine, since they don't require sending in the volume in USDT

[2018-07-18 22:07] mkutny commented on #3427
Ok, I've got an account there and am able to reproduce.

Actually, I see several issues here.

#### 1) Error messages are misleading (this is exchange issue, not ccxt issue).

Here I assume here that the result of `TRADE_VOLUME*ticket_1.ask*1.001` is somewhat around 7.

[code]

[code]

[code]

[code]

[code]

I guess they mean that the precision of amount should be 2.

#### 2) This error is mislea

[2018-07-18 22:12] kroitor commented on #3427
Yeah, it looks like so...

I guess, they mean min order cost of 5 USDT here.

+1 for this question, not obvious at all.

[2018-07-19 02:09] hems commented on #3315
If you want to scale a service you will need sooner or later to split the work among different machines running taking jobs from a job queue.

As you can imagine things can get funny once you have different machines generating nonces and processings loads of jobs at the same time, race conditions can happen and then storing nonces on a database might be the ideal solution.

Of course there are oth

[2018-07-19 02:16] kroitor commented on #3315
@hems we will add an option for it, but we can't promise when.

[2018-07-19 02:19] pakaplace commented on #1577
Are you still doing this @JoshVarty , if not I'm happy to do it

[2018-07-19 03:11] Elmit2015 opened #3433 "create order: price exceeds allowed price precision or invalid"
I use indodax-fetch-balance-create-order-cancel-order.php as a start.

- OS: Ubuntu 18.04
- Programming Language version: php 7.2
- Exchange: binance

[code]
Output:
amount: 1199 price: 0.00167
$buy_order1 = $exchange->create_limit_buy_order (RLC/BNB, 1199, 0.00167, Array)

error log gives me a hint:
PHP message: PHP Fatal error:  Uncaught ccxt\InvalidOrder: binance order price exceeds allowed pri

[2018-07-19 03:31] JoshVarty commented on #1577
One question I have: How do you guys typically implement order methods? BCEX doesn't have a "Test Endpoints" that I can use.

I'm thinking about just sending over some ETH and making orders that won't be filled. I'm open to any better suggestions, though.

[2018-07-19 03:34] kroitor commented on #1577
Yep, we usually do it in the same manner )

[2018-07-19 03:39] kroitor commented on #3433
@Elmit2015 can you please provide verbose output as described here: https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue?

[code]

[2018-07-19 04:57] Elmit2015 commented on #3433
Thanks, that helped a lot. Even the output was a book. I could realize that I used the wrong coin, ....

With which command can I get the Filter information for only one coin? fetchMarkets would be a candidate. However, that fetches all, but I am only interested in 2 coins. Is there a better one?

[2018-07-19 06:11] ghost opened #3434 "Lbank Exchange Withdraw Feature"
- Programming Language version: Python
- CCXT version: Latest
- Exchange: Lbank
- Method: Withdraw

https://github.com/LBank-exchange/lbank-official-api-docs/blob/master/API-For-Spot-CN/币币交易REST%20API(交易).md
Lbank lately implemented withdraw feature(the link above). There are two new methods
`GET http://api.lbank.info/v1/withdrawConfigs.do` and
`POST http://api.lbank.info/v1/withdraw.do`. Could yo

[2018-07-19 06:34] mkutny commented on #3427
You know, you're right. I just didn't play enough with various combinations.

So your guess completes the puzzle: for a market order, they indeed treat `amount` param as `cost`. The `price` param is ignored:

[code]

[code]

Now I wonder if this is indeed a widespread approach to market orders? Because it's quite orthogonal to the the way market orders are implemented in unified API.

[2018-07-19 11:02] kasus opened #3436 "php okex error on fetch_tickers"
- OS: mac os x 10.13.5
- Programming Language version: php
- CCXT version: 1.16.67
- Exchange: okex
- Method: fetch_tickers

There is an error because options array has only method described in camelCase, but method in underscore notation only exists.

[code]

[2018-07-19 11:06] hems commented on #3315
thanks

[2018-07-19 14:34] kroitor commented on #3433
@Elmit2015

[code]

Hope this helps.

[2018-07-19 14:34] #3433 closed

[2018-07-19 14:45] kroitor commented on #3427
Not really a widespread approach. But yeah, we have a few exchanges that behave that way (they are the minority though). I'd say, it's common to asian exchanges, though I don't think this is a good approach.

Namely, these exchanges:
- indodax
- fcoin
- cointiger
- huobipro (has practically the same API as huobipro, except different method names)
- cex
- btcturk
- okcoinusd, okex

Also, like the a

[2018-07-19 14:56] atisharma commented on #2851
I don't agree that bitfinex USD should be USDT. You can actually withdraw / deposit USD with bitfinex.
There may be a market for USD/USDT (e.g. on Kraken). While you can convert freely to USDT, you are trading USD liabilities.

[2018-07-19 15:05] kroitor commented on #2851
@atisharma

We never said that.

Yep, but you can only trade USDT there.

Kraken has both USDT and USD and those are not equal. You can trade USDT/USD pair there.

Bitfinex uses USDT only for trading and can withdraw USD or USDT. Equalling USD to USDT is there not because we want it so, but for two reasons:
- bitfinex cannot have 4-letter symbols in their engine, thus they have to show USD for USD

[2018-07-19 15:16] kroitor commented on #3436
Fixed in 1.16.69. Thx for reporting!

[2018-07-19 15:16] #3436 closed

[2018-07-19 15:35] mkutny commented on #3427
Ah, yeah, this does make sense, indeed. With this approach, you're concerned with the quantity to spend disregarding of the trade direction. So you're spending quote to buy, base to sell. Just didn't think about the sell side at all.

I didn't mean to overload the `price`, I meant to overload the `amount`. Nevertheless, requiring the `price` is much more unified than the proposed flag. Obviously.

[2018-07-19 15:54] Cleric334 commented on #3427
I can confirm that the sell side works fine everywhere.

So, anyone have any idea how could I actually use fcoin's market buy? Should I try to send the amount in USDT, but round it down to the whole number?

[2018-07-19 16:07] kroitor commented on #3427
Nope. Instead you should round it to two decimals and make sure it's greater than 5, explained here:
- https://github.com/ccxt/ccxt/wiki/Manual#precision-and-limits

Their USDT currency has precision of 2 and a limit of 5.00.

[code]

We will add a workaround for fcoin market buys shortly.

[2018-07-19 17:55] Showgofar commented on #3430
it doesn't work like it should be
[code]

[2018-07-19 18:12] elcryptoninja opened #3437 "Transpile issue for coinfalcon"
Hello,

I think there's an issue in transpile.js from JS to PHP, it affects coinfalcon API with PHP.

coinfalcon.php line 330:
`$requestPath = mb_substr ($requestPath, 3);`
It should be array_slice as $request_path is an array not a string

In transpile.js, it should probably be:
`    [ /([^\s\(]+).slice \(([^\)\:]+)\)/g, 'array_slice ($1, $2)' ],`
instead of
`    [ /([^\s\(]+).slice \(([^\)\:]+)\

[2018-07-19 18:12] kroitor commented on #3430
@Showgofar that's now a different issue on the parse side, will add a workaround for it as well.

[2018-07-19 18:25] #3437 closed

[2018-07-19 18:35] kroitor commented on #3430
@Showgofar are you sure that your version is up to date?

I just tried it with node and it responded with a proper cost:

[code]

[2018-07-19 22:18] nathankjer opened #3440 "FCoin daily timestamps have inconsistent time scales"
- OS: Mac OS X
- Programming Language version: Python 3.6.5
- CCXT version: 1.16.71
- Exchange: fcoin
- Method: fcoin.fetch_ohlcv("BTC/USDT",timeframe=1d)

FCoin's timestamps are as high as 14545707100000 and as low as 4198217200000. Not sure what's going on here.

[2018-07-19 22:24] nathankjer opened #3441 "CoinEx returns OHLCV in seconds, not milliseconds"
- OS: Mac OS X
- Programming Language version: Python 3.6.5
- CCXT version: 1.16.71
- Exchange: coinex
- Method: coinex.fetch_ohlcv("BCH/USDT",timeframe=1d)

[2018-07-19 23:42] #3441 closed

[2018-07-20 07:44] Showgofar commented on #3430
Now i see that version that i had downloaded at 20:52 (GMT time) right after commit  doesn't have this fix.

[2018-07-20 07:50] kroitor commented on #3430
@Showgofar sorry, if you could mention the version numbers as well, your message would be much clearer ;)

[2018-07-20 08:45] toorq opened #3442 "New Exchange: bitasiaex.com"
website: https://www.bitasiaex.com/
api doc: https://www.bitasiaex.com/about/about.html?id=115

[2018-07-20 08:46] fonzmeister opened #3443 "Why loadFees return differs with and without API keys?"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version: python
- CCXT version: 1.16.57
- Exchange: Binance
- Method: loadFees()

I run into this on Binance, might be the same for other exchanges though. But the output of the loadfees method on binance is different if you supply an

[2018-07-20 08:49] Showgofar commented on #3430
archive which was downloaded 18.07 at 20:52 has version $version = '1.16.62';
archive which was downloaded today has version $version = '1.16.73';

[2018-07-20 08:51] Showgofar opened #3444 "bittrex cancel order response"
Hi could you please correct response for cancel order at bittrex
[code]
if         "success": true,   then   "status":  should be "cancelled",
Thank you

[2018-07-20 09:08] kroitor commented on #3440
Well-well... Maybe, they just had a long working day? ) Or... maybe... just maybe... they're located somewhere beyond the arctic circle, where days can last for 6 months, you know... Actually, it was the `seq` number, not the timestamp, looks like the timestamp in seconds is the `id` field in their candle structure. Added a fix for it, will be available for downloading in 5-10 minutes.

[2018-07-20 09:08] #3440 closed

[2018-07-20 09:14] kroitor commented on #3430
@Showgofar so, do you have a consistent result with parsing that order now? Namely, cost = executed_value, right ?

[2018-07-20 09:15] #3444 closed

[2018-07-20 09:39] procloud opened #3445 "New exchange: HBUS"
website: hbus.com
api docs: https://hbus.readme.io/

[2018-07-20 09:41] kroitor commented on #3445
JFYI, it's basically a Huobi/CoinTiger clone.

[2018-07-20 13:12] obsidianart commented on #3345
They changed their mind and decided not to update their API, we can close this

[2018-07-20 14:21] markhorner123 opened #3446 "CoinFalcon improvements (fetch order, signing for GET/DELETE requests)"
Hey again

Some misc improvements for CoinFalcon that I've made in Python (there may be more elegant ways to do such things);

When making a GET or DELETE request, we're going to be needing to add the ID of the item we are get/delete to the end of our payload. Currently CCXT implements adding a structure of ?id=xxx where as CoinFalcon's API requires the URL and sign to be in the format of
```/api/

[2018-07-20 16:49] Zyn0423 opened #3447 "如何创建实例调用实例没有思路 求解答"
import ccxt

bitfinex = ccxt.bitz ({
    'apiKey': '4FlEDtxDl35gdEiobnfZ72vJeZteE4Bb7JdvqzjIjHq',
    'secret': 'D4DXM8DZdHuAq9YptUsb42aWT1XBnGlIJgLi8a7tzFH',
})

print(bitfinex.fetch_balance())

[2018-07-20 17:37] kroitor commented on #3447
`bitfinex = ccxt.bitz ({` ?

Let us know if this does not help:
- https://github.com/ccxt/ccxt/wiki
- https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

[2018-07-20 17:37] #3447 closed

[2018-07-20 17:41] kroitor commented on #3447
Just create a new keypair, your old keys are screwed by some other software:
- https://github.com/ccxt/ccxt/wiki/Manual#troubleshooting
- https://github.com/ccxt/ccxt/wiki/Manual#invalidnonce

[code]

You should create a new keypair and try with it and make sure you don't confuse `bitz` with `bitfinex`.

[2018-07-21 02:25] arden opened #3448 "for nodejs, ccxt can export all class of base, make it easy for developers to extend."
for nodejs, ccxt can export all class of base, make it easy for developers to extend.

[2018-07-21 02:32] kroitor commented on #3448
@arden sorry? Have you read this: https://github.com/ccxt/ccxt/wiki/Manual? I didn't really get your question / proposal, to be honest... All classes are exported from the ccxt lib namespace, including the exchanges and the base Exchange class. See how this is linked against in the source of any of the exchange files. Hope this answers your question.

[2018-07-21 02:32] #3448 closed

[2018-07-21 05:00] santos-sabanari opened #3450 "Javascript, Failed to execute 'fetch' on 'Window': Illegal invocation"
- OS: Windows 10
- Programming Language version: Javascript
- CCXT version:  1.16.78
- Exchange: Indodax
- Method: fetchticker

Screenshot
http://prntscr.com/k9503i

Error while using fetchticker

Thank You

[2018-07-21 05:09] #3450 closed

[2018-07-21 05:10] kroitor commented on #3450
@santos-sabanari this has been broken a bit here: https://github.com/ccxt/ccxt/issues/3439, i've uploaded a fix for it, will be available in 5-10 minutes, just refresh your browser window. Thx for reporting!

[2018-07-21 08:55] Elmit2015 opened #3451 "load_markets: limits['cost']['max'] shows empty"
- OS: Ubuntu 18.04
- Programming Language version: php 7.2
- Exchange: binance
- $markets = $exchange->load_markets ();

`foreach ($markets as $key=>$value) {
	foreach ($value as $key => $value) {
		if ($key == "precision") {
			$precision = $value;
			echo "precision:";
			print_r($precision) . $line_break;
		}`

brings me:
`limits:Array
(
    [amount] => Array
        (
            [min] => 0.00

[2018-07-21 11:42] azharuniverse opened #3452 "Incorrect precision data in markets object. amountToPrecision(), amountToLots() not working correctly."
`this.markets[formatPair(order.coin)].lot` returns incorrect lot size.
(Eg. For DBC/BTC precision is 4 it returns 8)
`this.currencies[getCoinFromPair(order.coin)].precision` returns correct precision. (Eg:DBC/BTC - 4)

Suggested line of code to debug the issue /ccxt/js/kucoin.js -

[code]

- OS: ALL
- Programming Language version: NODE v8.9.4
- CCXT version: 1.16.36
- Exchange: KUCOIN
- Method: am

[2018-07-21 16:24] merklegroot opened #3453 "binance.fetchDepositAddres() throws an exception for "BCC" but works with "BCH""
- OS: Windows 10
- Programming Language version: Node.JS 10.6.0
- CCXT version: 1.16.80
- Exchange: Binance
- Method: fetchDepositAddress('BCC')

Summary: binance.fetchDepositAddres() throws an exception for "BCC" but works with "BCH"

Description:
  When I attempt to get the deposit address for Bitcoin Cash using code "BCC", it throws an exception (see bottom).
If I use "BCH", it works.
On Binanc

[2018-07-21 16:36] kroitor commented on #3452
`market.lot` and amountToLots are deprecated. We are using the `precision` and we are moving to decimalToPrecision instead. Hope this answers your question.

[2018-07-21 16:36] #3452 closed

[2018-07-21 16:42] kroitor commented on #3453
In ccxt Bitcoin Cash has code BCH everywhere, as described in the Manual:

- https://github.com/ccxt/ccxt/wiki/Manual#symbols-and-market-ids
- https://github.com/ccxt/ccxt/wiki/Manual#naming-consistency

This isn't an issue, you should just stick to `BCH`:

- https://github.com/ccxt/ccxt/issues/83
- https://github.com/ccxt/ccxt/issues/129

[2018-07-21 16:42] #3453 closed

[2018-07-21 18:19] lxj034000 opened #3454 "NANO in Binance"
When I called binance.fetch_order_book('NANO/BTC'), I got the error message:
ccxt.base.errors.ExchangeError: binance No market symbol NANO/BTC

But it worked in other exchanges (Kucoin, HitBTC, and Gateio) .  Can you make Binance consistent to others? Thanks!

[2018-07-21 20:06] skeebuzz opened #3455 "Bittrex / python fetch_orders() method gone ..?"
Language: Python 3.6
CCXT version: 1.12+ (including newest version 1.16.80)
Exchange: Bittrex

The fetch_orders method for Bittrex seems to have disappeared at some point after v1.11.180 (I tried to upgrade). Seems like a pretty important method for a fairly well-used exchange...

[2018-07-21 20:11] kroitor commented on #3455
@skeebuzz they didn't have it from the very beginning, the old `fetchOrders` was only returning closed orders, so it was removed in favor of `fetchClosedOrders`. Bittrex has fetchOpenOrders and fetchClosedOrders, and the `has` property, according to the Manual. Hope this answers your question.

[2018-07-21 20:11] #3455 closed

[2018-07-21 20:39] skeebuzz commented on #3455
Damn that was fast, and it's Saturday... Thanks very much. You've just earned this project an ETH tip.

Cheers

[2018-07-21 22:41] kroitor commented on #2679
@firepol yep, you're absolutely right, restored them as they were mistakenly removed.

[2018-07-22 01:53] AlessandroSpallina opened #3456 "Bittrex api endpoint question"
Hello,
Ccxt uses v1.1 api version, other libraries uses instead v2.0

Are there some kind of differences about speed or what?

[2018-07-22 01:59] kroitor commented on #3456
Hi!

That's not true! )

CCXT uses both 1.1 and 2.0:
- https://github.com/ccxt/ccxt/blob/master/js/bittrex.js#L45
- https://github.com/ccxt/ccxt/blob/master/js/bittrex.js#L58

We just don't use v2 for private APIs in CCXT (yet?).

The v2.0 API isn't actually an API. It is a reverse-engineered list of their website endpoints. I guess, at this point many coders have reverse-engineered it already. Th

[2018-07-22 01:59] #3456 closed

[2018-07-22 07:37] zn8ae opened #3457 "Huobi Pro BAT invalid amount"
- OS: Mac OSX
- Programming Language version: Python 3
- CCXT version: 1.16.85
- Exchange: Huobi Pro
- Method: createMarketOrder

Hi, I was trying to use Huobi Pro to make a market order for symbol 'BAT/BTC'. I turned off the 'createMarketBuyOrderRequiresPrice' option and tried to buy 10 BAT using BTC. However, the function gives an error saying my amount is invalid.

I then checked the market inf

[2018-07-22 07:48] kroitor commented on #3457
@zn8ae use `.fetchTradingLimits ()` and `.loadTradingLimits ()` before accessing the limit values and before placing the orders:

[code]

[code]

Let us know if the above does not help or does not answer your question.

[2018-07-22 07:48] #3457 closed

[2018-07-22 07:51] Cleric334 opened #3458 "Bigone invalid nonce"
Hi all.

I am getting the following error from Bigone when I try to create an order :

{""errors"":[{""message"":""invalid nonce, nonce should be a 19bits number"",""code"":10030}],

I was unable to find this error in their API docs or the ccxt file.

And here is another one without a code

{""errors"":[{""message"":""Argument \""input\"" has invalid value {marketUuid: $market_id, price: $price, a

[2018-07-22 07:57] kroitor commented on #3458
@Cleric334 can you show the smallest possible, but a complete working snippet of code to reproduce the issue with the first error? I mean, make it a short but runnable program, so that we could debug it, starting from the library import, including the instantiation, and order creation code, without your keys...

Basically for whatever issue you have you should post this: https://github.com/ccxt/cc

[2018-07-22 08:46] Cleric334 commented on #3458
Thanks for your reply.
The thing is, I am not a programmer, and I use the code written by somebody else. Most of that code works just fine with most of ccxt's exchanges, but sometimes, especially for new exchanges, I would get different errors.

So, it's nearly impossible for me to provide anything more than error responses I get in my log.  I do what I can, and if I could do I more I would. Feel

[2018-07-22 08:53] kroitor commented on #3458
@Cleric334 ok, no worries, I'll look into it and will get back to you on this issue. Will need some time to test for it extensively.

[2018-07-22 11:26] Hanggi opened #3459 "Coinex get balance got 502 bad gate way"
seems that coinex changed api of balance: which from /v1/balance... to /v1/balance/info

https://github.com/coinexcom/coinex_exchange_api/wiki/060balance

[2018-07-22 11:32] #3459 closed

[2018-07-22 11:55] azharuniverse opened #3460 "Option to set .options['createMarketBuyOrderRequiresPrice'] = false"
Just like huobipro & coinex having same requirement in Market Buy order.

`For market buy orders cex requires the amount of quote currency to spend, to calculate proper costs call createOrder (symbol, 'market', 'buy', amount, price)`

we should be able to disable it and pass amount = amount * price manually using
`.options['createMarketBuyOrderRequiresPrice'] = false`

- OS: ALL
- Programming Lang

[2018-07-22 15:25] ouyangtianzuo opened #3461 "'timestamp' in parse_orders should be descending"
in exchange.py

    def parse_orders(self, orders, market=None, since=None, limit=None):
        array = self.to_array(orders)
        array = [self.parse_order(order, market) for order in array]
        **array = self.sort_by(array, 'timestamp')**
        symbol = market['symbol'] if market else None
        return self.filter_by_symbol_since_limit(array, symbol, since, limit)

the array is bette

[2018-07-22 19:41] kroitor commented on #3461
Sorry, but we don't agree. The logic behind it is to fetch `limit` rows starting from `since` timestamp into the future (not backwards). We've switched from what you proposed to ascending sorting order in all methods returning trades, orders, candles and other arrays. Hope this answers your question. Let us know if not.

[2018-07-22 19:41] #3461 closed

[2018-07-22 20:38] phantomaslord opened #3463 "Livecoin currency code vs symbol inconsistency"
Hi there, I found some pair and currency names incosistency during working with Livecoin exchange.

- OS: Windows 7
- Programming Language version: python 3.5.3
- CCXT version: 1.16.86
- Exchange: Livecoin, CoinMarketCap

I do following:

[code]

And then perform checking:

[code]
So list of damaged pairs is

['VEN/BTC', 'ORE/BTC', 'BTCH/BTC', 'SCT/BTC', 'EDR/BTC', 'FirstBlood/BTC', 'CPC/BTC', 'eE

[2018-07-22 20:47] kroitor commented on #3463
First of all, let's clarify the initial section of the code:

[code]

So, I don't really get the logic behind this check, can you clarify, why do you suppose that those pairs are "damaged" ? Asking this, because neither of the above conditions indicate a "damage"... or, I don't get the meaning behind that collection name within the above two lines. Need more comments from you.

You verbose output

[2018-07-23 02:35] brucewong0516 opened #3464 "OpenSSL.SSL.WantReadError"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:windows
- Programming Language version:python 3.6
- CCXT version: '1.15.12'
- Exchange:okex

when i run my code,this problem will happend,
and then another problem will happend:
                                                             socket.timeout: sel

[2018-07-23 02:38] kroitor commented on #3464
This is caused by your Proxy settings, as described in the error callstack. Sorry, but it is not related to ccxt, make sure you're using the proxies properly.

https://github.com/ccxt/ccxt/wiki/Install#proxy

[2018-07-23 02:38] #3464 closed

[2018-07-23 02:49] brucewong0516 commented on #3464
thx dude,i will try this later.

[2018-07-23 06:55] brucewong0516 commented on #3464
@kroitor
i'd tryed to do like this:
import ccxt
exchange = ccxt.poloniex()
exchange.proxies = {
  'http': 'http://10.10.1.10:3128',
  'https': 'http://10.10.1.10:1080',
}
it will not done:
RequestTimeout: okex GET https://www.okex.com/v2/spot/markets/products HTTPSConnectionPool(host='www.okex.com', port=443): Max retries exceeded with url: /v2/spot/markets/products (Caused by ConnectTimeoutError(

[2018-07-23 07:03] kroitor commented on #3464
[code]

[2018-07-23 07:50] codiblog opened #3465 "How to show specific market bid price by php"
I used php version to my site, How can i display only specific market bid price only in php.

Example: I want to display BTC/USDT bid price 6563 etc in my specific market by php version.

[2018-07-23 08:14] kroitor commented on #3465
Use fetchTicker:

- https://github.com/ccxt/ccxt/wiki/Manual#price-tickers
- https://github.com/ccxt/ccxt/wiki/Manual#individually-by-symbol

Also see examples here:
- https://github.com/ccxt/ccxt/tree/master/examples/php

Hope this answers your question.

[2018-07-23 08:14] #3465 closed

[2018-07-23 08:30] kroitor commented on #3465
[code]

http://www.learn-php.org/

[2018-07-23 09:18] Showgofar commented on #3456
create order api v2 contains TimeInEffect parameter
that why i had asked about implementation of TradeBuy and TradeSell
=)

[2018-07-23 11:01] Showgofar opened #3466 "fcoin cancel order response"
Hi could you please correct response for cancel order at fcoin
[code]
change it to
[code]
Thank you
the same issue like #3444

[2018-07-23 16:23] phantomaslord commented on #3463
Ok, may be my explonation isn't clear or may be I miss something, but let's see it on example. After executing my code I have variables 'markets', 'balances', 'tickers' and 'currencies'. Let's take the 'CRC/BTC' pair. It's represented in 'markets' like this:

{'baseId': 'CRC', 'limits': {'amount': {'min': 4.0354, 'max': 100000000.0}, 'price': {'min': 1e-08, 'max': 100000000.0}}, 'quote': 'BTC', 'i

[2018-07-23 17:04] eranartzi commented on #564
Hey, just saw this thread and encountered the same problem. If CEX.IO requires me to specify the price, how is that a market order then?

[2018-07-23 20:41] kroitor commented on #3463
Yep, that's definitely an inconsistency in the library, thanks for your clarifications! Will fix the ones you pointed out as soon as possible. Thx again!

[2018-07-23 20:54] kroitor commented on #564
By pure logic. That price is not sent towards the exchange and it is used to calculate the order cost (amount * price), that is the amount you want to spend with a market order. So, you can pick any price you like to match the total cost with your desired amount. Think of order cost (amount to spend) as something fixed, and think of amount and price as non-fixed values that you can adjust.

Exampl

[2018-07-23 22:15] nathankjer opened #3469 "BTCTurk's BTC/USD values are inflated"
- OS: Mac OS X
- Programming Language version: Python
- CCXT version: 1.16.89
- Exchange: BTCTurk
- Method: ccxt.btcturk().fetch_ohlcv('BTC/USD')

Values are inflated by a consistent ~4x while such inflation is not present on coinmarketcap which leads me to believe it's not just server side

[2018-07-23 22:57] arielorvits opened #3470 "dup coin: HOT is Holo in liqui and binance"
https://twitter.com/Liqui_Exchange/status/1021401132579672067

[2018-07-24 08:54] phantomaslord commented on #3463
Good news) thank you!

May I expect that there will be consistency with the CoinMarketCap too?

[2018-07-24 09:48] fonzmeister opened #3472 "Binance loadFees issue (with VEN)"
ATTENTION!!!

MUST READ THIS BEFORE SUBMITTING ISSUES:

https://github.com/ccxt/ccxt/blob/master/CONTRIBUTING.md#how-to-submit-an-issue

- OS:
- Programming Language version:puthon
- CCXT version:1.16.86
- Exchange:binance
- Method:loadFees

I get the following error using binance.loadFees()
[code]

Verbose output:
[code]

Probably has something to do with the tokenswap.